[2021-06-17 09:19] Yullin opened #4441 "request help: stream route's "remote_addr" parameter support multiple ip addresses or match rules like "192.168.0.0/16""
### Issue description: Apisix stream_routes's parameter "remote_addr" only support single ip, needs to support multiple ip or match rules like "192.168.0.0/16", just like http routes parameter "remote_addr"

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6
* OS (cmd: `uname -a`): CentOS7
* OpenResty / Nginx vers

[2021-06-17 09:34] azura27 commented on #4414
OK, take your time, we have make it have high availability with VIP

[2021-06-17 09:39] #4440 closed

[2021-06-17 10:40] #4207 closed

[2021-06-17 11:11] spacewander commented on #4441
https://github.com/apache/apisix/blob/8578fe032e871fbcd151fa78653040c6bf2e885d/apisix/stream/router/ip_port.lua#L36

PR is welcome!

[2021-06-17 13:26] zuiyangqingzhou opened #4442 "Does apisix support etcd service discovery"
I see in the readme file that it supports etcd as a service discovery, but I didn’t see the relevant documentation, and I didn’t find an example of how to use it.

[2021-06-17 19:03] tzssangglass commented on #4442
APISIX uses etcd as a CP implementation and is not the same concept as a microservice registry discovery center like Nacos or Eureka.

[2021-06-18 00:35] #4425 closed

[2021-06-18 00:36] #4410 closed

[2021-06-18 00:36] #4403 closed

[2021-06-18 00:36] #4411 closed

[2021-06-18 02:25] zuiyangqingzhou commented on #4442
But I saw the following paragraph in the readme file, which clearly stated that in addition to the built-in etcd, it also supports Nacos, etc.

![image](https://user-images.githubusercontent.com/17425270/122496585-99a11880-d01e-11eb-88df-c5dcf882c4d2.png)

If you don’t support it, does this sentence cause misunderstanding?

[2021-06-18 03:00] spacewander commented on #4240
Fixed by https://github.com/etcd-io/etcd/pull/13077 which is included in the https://github.com/etcd-io/etcd/releases/tag/v3.5.0

[2021-06-18 03:00] #4240 closed

[2021-06-18 03:01] spacewander commented on #3073
Fixed by https://github.com/etcd-io/etcd/pull/13077 which is included in the https://github.com/etcd-io/etcd/releases/tag/v3.5.0

[2021-06-18 03:01] #3073 closed

[2021-06-18 03:14] Marco-Zheng commented on #4439
@tzssangglass I upgrade the apisix to version 2.6, the problem has been solved, thanks a lot!

[2021-06-18 03:48] tzssangglass commented on #4442
yes, I think there is a slight misunderstanding here. PR is welcome!

[2021-06-18 04:00] freeoa opened #4444 "bug: docker cannot load normally after restarting automatically"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`):Linux 4.15.0-144-generic #148-Ubuntu SMP Sat May 8 02:33:43 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx/1.18.0

### What's the actual result? (including a

[2021-06-18 04:28] spacewander commented on #4442
APISIX indeed supports using etcd for service discovery.

There is no official service discovery API in etcd.
So the only one to use etcd is writing your own discovery framework.
It is also the way we do in APISIX.

When we put this configuration into etcd via Admin API or via something else:
[code]

We are already doing service discovery.

[2021-06-18 06:51] tokers commented on #4444
Please give a minimal case to reproduce it.

[2021-06-18 06:54] #3616 closed

[2021-06-18 06:54] #3631 closed

[2021-06-18 08:55] 929404097 opened #4446 "request help: 如何用http_logger插件？"
### Issue description
我使用了http_logger插件发送日志，日志是收到了，但没有携带任何信息，且error.log有报错

2021/06/18 16:45:30 [error] 1358#1358: *271527 [lua] batch-processor.lua:63: Batch Processor[http logger] failed to process entries: error while sending data to [192.168.3.45] port[7010] timeout, context: ngx.timer, client: 192.168.3.45, server: 0.0.0.0:9080
2021/06/18 16:45:30 [error] 1358#1358: *271527 [lua] batch-proces

[2021-06-18 09:08] tzssangglass commented on #4446
according to the `error.log`, it was sent to the log collection service that timed out. please check the network and the timeout settings on the log collection service first.

[2021-06-18 09:13] 929404097 commented on #4446
我日志收集服务器是可以收到请求的，只不过没有任何其他参数带过来，只是一个空请求

[2021-06-18 09:16] #4439 closed

[2021-06-18 09:27] 929404097 opened #4447 "request help: http_logger"
### Issue description
http_logger插件
http_logger插件，服务端要用什么参数名接收传过来的信息？请求是收到了，但是没看到request里携带有任何的信息

![插件](https://user-images.githubusercontent.com/32952450/122539557-4ea4f680-d05a-11eb-9af3-2414b6db163e.jpg)
![服务端](https://user-images.githubusercontent.com/32952450/122539590-56649b00-d05a-11eb-9e2d-9996530a0338.jpg)

### Environment

Request help without environment information will be ignored or

[2021-06-18 09:30] #4446 closed

[2021-06-18 09:39] coolincy opened #4448 "Consul integration: why not use service but use kv?"
为什么不使用 v1/agent/service/ 而用 v1/kv/

[2021-06-18 09:47] coolincy commented on #4323
kv can not check upstream's health, service can check , so why user kv?  If kv, I think redis is better.

[2021-06-18 09:48] coolincy commented on #4448
consul 的 kv 不能自动探活 upstream, 那实际上还不如用 redis

[2021-06-18 10:00] spacewander commented on #4448
Duplicate of #4323.

[2021-06-18 10:00] #4448 closed

[2021-06-18 10:11] #4442 closed

[2021-06-18 10:12] #4370 closed

[2021-06-18 10:15] spacewander commented on #4448
Because the consul implementation is a gift to us. 😃

[2021-06-19 02:03] tokers commented on #4447
All log messages are encoded into the request body.

[2021-06-20 01:47] Yiyiyimu opened #4449 "bug(tinyyaml): etcd host not work when quotes removed"
### Issue description

https://github.com/apache/apisix/blob/8282046bd894ec185e2b92d94126c9c3235c5d2a/conf/config-default.yaml#L205-L207

Currently we need to add quotes around etcd host. But if we generate yaml with say [go-yaml](https://github.com/go-yaml/yaml) the quotes would be removed and apisix could not start as expected with error:
[code]

Since etcd host without quotes is also acceptable

[2021-06-20 07:36] lizitao-sys commented on #2366
Hello, have you solved this problem? How did it work?

[2021-06-21 04:02] gy09535 opened #4452 "request help: how apisix remove route prefix?"
### Issue description
for example :
[code]
![image](https://user-images.githubusercontent.com/15153469/122705456-5a760000-d288-11eb-89b8-23d77ee4677c.png)

how can I use it?

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):  2.5
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):

[2021-06-21 08:21] freeocs commented on #4444
[code]
1.正常使用命令行或者使用portainer的模板部署
2.使用portainer中的Duplicate/Edit这个按钮重新部署,就会出现这样的错误

[2021-06-21 08:28] Qizhd opened #4454 "request help: make run occur error: init_worker_by_lua error: /root/c4_working/onest-balancer/apisix/init.lua:89: module 'resty.worker.events' not found:"
### Issue description
[code]

### Environment

`centos 7.6`

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
 apisix 2.1

* OS (cmd: `uname -a`):
Linux qizhendong-dev1 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
[root@qizhe

[2021-06-21 08:40] tokers commented on #4444
@freeocs Please paste the config.yaml that you use.

[2021-06-21 08:41] tokers commented on #4452
@gy09535 Please see http://apisix.apache.org/docs/apisix/plugins/proxy-rewrite/ for details.

[2021-06-21 09:16] spacewander commented on #4454
Duplicate of #3207

[2021-06-21 09:16] #4454 closed

[2021-06-21 09:17] freeocs commented on #4444
config.yaml
[code]

[2021-06-21 12:45] zuiyangqingzhou opened #4457 "request help: How to use advanced debugging mode"
https://github.com/apache/apisix/blob/master/docs/en/latest/architecture-design/debug-mode.md

I saw this document introduced that you can turn on the advanced debugging mode, So my debug.yaml file is like this：
[code]
Then I called some interfaces, including authentication plug-ins. I saw no changes in the logs, just like the advanced debugging mode was not turned on, only the warn log

Can you t

[2021-06-21 14:01] tokers commented on #4457
@zuiyangqingzhou Make sure your logging level setting (`error_log_level`) is lower than the `log_level` setting in `debug.yaml`.

[2021-06-21 14:07] tokers commented on #4444
@freeocs It seems that the OpenResty version is wrong:

[code]

Did you use the wrong binary to show the version?

[2021-06-21 14:08] tokers commented on #4444
Also, I tried the config.yaml that you provided but I cannot reproduce it (latest master branch).

[2021-06-21 17:06] tzssangglass commented on #4452
or you can try this https://github.com/apache/apisix/issues/4140#issuecomment-827507578

[2021-06-21 18:16] Yiyiyimu commented on #4452
Since at least three users asked about this afaik, do we need to add "prefix-removing" as one of the route's arguments?
[Kong supported this](https://docs.konghq.com/gateway-oss/2.4.x/admin-api/#request-body-3) which named `strip_path`

[2021-06-22 00:53] spacewander commented on #4452
Put "prefix-removing" in the route is confusing:
1. our route matching is quite complex, path match is only part of it
2. there will be too many places which can change the path of a route

[2021-06-22 01:45] zuiyangqingzhou commented on #4457
Thank you, but I think it should be explained in the document, although it is only a small point

[2021-06-22 02:09] tokers commented on #4457
PR's welcome.

[2021-06-22 02:17] Yiyiyimu commented on #4452
Got it. Thanks for the explanation! I didn't consider those aspects.
I'll add it to FAQ

[2021-06-22 02:38] zuiyangqingzhou opened #4460 "bug: The request-id plugin may have a bug"
### Issue description
When I enable the global request-id plugin and the request-id plugin on the route at the same time, there will be a BUG

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):  2.6
* OS (cmd: `uname -a`):  Darwin Kernel Version 20.5.0
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):  nginx version: open

[2021-06-22 03:30] kuberxy commented on #4403
@tokers  Thanks

[2021-06-22 06:22] kuberxy opened #4461 "request help: How much lua_max_pending_timers should be set to"
### Issue description
My current settings are:
[code]
But I encountered the following error.
[code]
our traffic is not large, and there are only about 50 users online at the same time.
What I want to know is: Is my setting too small? Or did you not release the timer resources you created in time?
If my setting is too small, how should I calculate a reasonable value?

### Environment
* apisix versi

[2021-06-22 09:06] spacewander commented on #4461
Maybe you can inject counting to see which part creates the most timers, by applying the patch below.

[code]

[2021-06-22 09:23] yoyofx opened #4463 "request help: upstream host added domain name will be converted to IPv4"
### Issue description
upstream host 添加域名，会被转换成IP，是否能直接按域名解析

### Environment

Request help without environment information will be ignored or closed.

* apisix 2.6
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard 2.7
* luaro

[2021-06-22 09:25] tokers commented on #4463
@yoyofx Please paste some details and a minimal reproducible case.

[2021-06-22 09:36] yoyofx commented on #4463
比如说，添加一个上游的host  是 域名 + 端口号， host1.gg.com , 80
设置路由 /hostgg/*  后， 访问 xx.xx.xx.xx:9080/hostgg  后 host1.gg.com 域名会被dns解析成IP( 10.0.2.11:80 )
但是我这边想要的结果是直接转发到这个域名，而不是dns解析成IP后再访问 。

[2021-06-22 09:50] Qizhd opened #4464 "request help: config_etcd.lua:262: sync_data(): failed to check item data of [/apisix/routes] err:additional properties forbidden, found status"
### Issue description
[code]
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
v.2.1
* OS (cmd: `uname -a`):
centos 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
[code]
* etcd version, if have (cmd: run `curl h

[2021-06-22 09:53] Qizhd commented on #4464
All apisix requests return Server internal error 500

[2021-06-22 09:54] Qizhd commented on #4464
[code]

[2021-06-22 10:03] 1026197530 opened #4465 "request help:"
After the update to the new version, the configured global route /* cannot be forwarded to the node in the configured upsteam group. 404 is reported via the Apisix access interface

### Environment   APISIX-2.2
                               etcd Version: 3.4.11
                               openresty version: openresty/1.15.8.3
                              apisix-dashboard    2.3

[2021-06-22 10:08] spacewander commented on #4464
The status field is added in v2.2. BTW, I see you are using OpenResty 1.19, note that only APISIX >= 2.2 supports OpenResty 1.19.

[2021-06-22 10:21] Qizhd commented on #4464
So, in v2.1 which openresty version eas suggested

[2021-06-22 11:26] tokers commented on #4463
I'm afraid I didn't understand what you mean, how did a service can be accessed if its domain cannot be resolved to IP addresses?

[2021-06-22 12:50] spacewander commented on #4464
My suggestion is to upgrade APISIX version to 2.2 at least.

[2021-06-22 13:22] tzssangglass commented on #4463
or you could just say what you want? maybe you need the request to be forwarded upstream with some `host` parameters?

[2021-06-22 19:53] Yiyiyimu commented on #4465
Hi @1026197530 do you migrate from 1.x to 2.2?

[2021-06-23 01:06] tokers commented on #4460
@zuiyangqingzhou What is the exact logic of your upstream? Just reflecting the request headers?

The request-id plugin just adds the id header on your demands. It won't change other things. Make sure your upstream doesn't contain its own `X-My-Request-Id`, as request-id only adds the id header to response if the header doesn't exist.

[2021-06-23 01:15] #4464 closed

[2021-06-23 01:17] #4176 closed

[2021-06-23 01:25] spacewander commented on #4135
Closed as lack of response.

[2021-06-23 01:25] #4135 closed

[2021-06-23 01:25] #3998 closed

[2021-06-23 01:26] #3390 closed

[2021-06-23 01:28] spacewander commented on #3058
Closed as lack of response.

[2021-06-23 01:28] #3058 closed

[2021-06-23 01:30] spacewander commented on #4312
Closed as lack of response.

[2021-06-23 01:30] #4312 closed

[2021-06-23 01:37] zuiyangqingzhou commented on #4460
This is the upstream logic, it just gets the header passed from apisix
[code]
You may not understand what I mean. What I mean is that the request-id passed by apisix to upstream is different from the request-id it returns to curl. Shouldn't this be a bug? I have a picture above you can look at it

[2021-06-23 01:41] zhixiongdu027 opened #4469 "Add discovery.init_worker() call in init.lua.stream_init_worker()"
In the current code, we can't user discovery in the stream subsystem

[2021-06-23 03:49] Marco-Zheng opened #4470 "bug: Can't get real Ip in service"
### Issue description
I have configured "X-Forwarded-For" in proxy-rewrite: "$proxy_add_x_forwarded_for"
In order to get the Real IP, per we used K8S, so the IP would be transferred to the clusterIP of K8S, but we could not get this value, and X-real-IP was always obtained from the clusterIP of K8S.
### Environment

* apisix version (cmd: `apisix version`): 2.6

### Minimal test code / Steps to re

[2021-06-23 04:00] Marco-Zheng commented on #4470
I also try configure like this
![image](https://user-images.githubusercontent.com/52538259/123033445-5a0d6e80-d41a-11eb-9571-45ed2a1e19d9.png)
but X-Forwarded-For always null, no rewrite logic code in my business server..
![image](https://user-images.githubusercontent.com/52538259/123033526-78736a00-d41a-11eb-96cb-9f0bb372c238.png)

[2021-06-23 04:41] spacewander commented on #4470
If I understand it correctly,

`220.249..` is the client IP. `172.19...` is the APISIX(proxy) IP. So you want to put client IP in the X-Forwarded-For header.

But from your description, I think the client doesn't send its IP in the X-Forwarded-For (as X-Forwarded-For is null). So is there a way to get its IP?

[2021-06-23 04:57] freeocs commented on #4444
我直接使用的docker安装方式,所以的镜像都是官方，只有config.yaml是自己配置的。

[2021-06-23 05:12] spacewander commented on #4469
PR is welcome!

[2021-06-23 06:39] Marco-Zheng commented on #4470
@spacewander 220.249.. is the real IP which the client requested,
172.19... is not APISIX(proxy) IP, it's the k8s node ip(we have 9 k8s node, and my service `common-rest` in one of node, you can consider it as transfer agent ip), we need the ip from real client

but as you can see, i configure X-Forwarded-For, X-Real-IP in order to get result `220.249.., 172.19...`
but actually i get the result is

[2021-06-23 06:56] #4457 closed

[2021-06-23 09:52] spacewander commented on #4470
There is some logic to generate "X-Forwarded-For": https://github.com/apache/apisix/blob/2707fda3eb7b23d995ac23ecf4a17000dd765855/apisix/cli/ngx_tpl.lua#L545-L546

So the change in proxy-rewrite doesn't take effect.

However, if the client sent its IP via "X-Forwarded-For", it should provide the expected result "220.249.., 172.19...".

[2021-06-23 10:00] Marco-Zheng commented on #4470
@spacewander thanks for your kindly reply, but i just review the code, if x_forward_for is null, the value of x_forward_for must be $remote_addr, why get the null value.
![image](https://user-images.githubusercontent.com/52538259/123077596-c43f0700-d44c-11eb-9f0b-0afc93501799.png)

[2021-06-23 17:13] tzssangglass commented on #4460
@zuiyangqingzhou @tokers hi, I repeated your steps

step 1: set `request-id` on route

[code]

step 2: set `request-id` on global_rule

[code]

step 3: send request

[code]

I get the same error.

by adding the log I found that the `ctx.x_request_id` https://github.com/apache/apisix/blob/2707fda3eb7b23d995ac23ecf4a17000dd765855/apisix/plugins/request-id.lua#L63-L64 is store the value generated by

[2021-06-24 01:00] kuberxy commented on #4461
My version is 2.2, it seems that there is no patch.lua file

[2021-06-24 01:23] spacewander commented on #4461
You can port the patch mechanism to 2.2, for example, put it at the top of apisix/init.lua.

[2021-06-24 01:28] kuberxy commented on #4461
Thanks. I try it

[2021-06-24 01:45] #4158 closed

[2021-06-24 01:59] spacewander commented on #4470
Interesting. I try it locally but can't reproduce it. Here is my route:
[code]

Here is how I try
[code]

The `x-forwarded-for` is never null.

Can you provide a packet capture file to see if x-forwarded-for is missing?

[2021-06-24 02:35] #4452 closed

[2021-06-24 02:44] tokers commented on #4460
@zuiyangqingzhou Oh, gotcha, configuring `request-id` plugin twice will cause APISIX generating two UUID values.

I'd like to know your scenario that need two request-id.

@tzssangglass Though it seems that configuring two request-id plugins don't make sense, but I think the request-id header in response should be consistent with the one in request headers to upstream.

[2021-06-24 02:50] zuiyangqingzhou commented on #4460
Yes, it is very correct. This is what I want to express. Although the two request-ids are meaningless, it should be ensured that the request-id in the response is the same as the one passed to upstream.

[2021-06-24 02:52] tokers commented on #4460
@zuiyangqingzhou Would you like to submit a PR to fix this? Thanks!

[2021-06-24 02:55] zuiyangqingzhou commented on #4460
I haven't mentioned a PR to apisix yet, I am a little nervous, but I can give it a try

[2021-06-24 07:48] xuchmao opened #4475 "request help: use environment properties to overwrite properties in configuration file"
### Issue description
Need to support use environment properties to overwrite properties in configuration file, just like what it is Spring Framework.

For example, set ectd.prefix="/foo" as  environment arg,  ectd.prefix in config.yaml is "apisix", finally value of property  ectd.prefix is "foo" when apisix run.

By the way, priority of config-${APISIX_PROFILE}.yaml > config.yaml will be much bet

[2021-06-24 09:28] 1026197530 commented on #4465
yeap! It appears that GRPC routing is not supported in Apisix 2.2

[2021-06-24 09:40] 1026197530 opened #4478 "request help: I have a question about how to edit the key of cookies in Dashborad 2.2. The old version can edit it directly"
### Issue description
I have a question about how to edit the key of cookie in Dashborad 2.2. The old version can edit it directly，
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.2
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.15.8.3
![2EE3AE741DD0DA407FA99F64EF67DC05

[2021-06-24 10:42] Marco-Zheng commented on #4470
@spacewander yes, no x-forwarded-for was found per request from Web, if rewrite plugin doesn't work, i'll try to defined another param then overwrite it by proxy rewrite plugin, it can work, thanks for your kindly help

[2021-06-24 13:19] tzssangglass commented on #4475
reading environment variables in the configuration file is now supported, see https://github.com/apache/apisix/blob/75376e3162efa3d38ee113a8ee5e6d7435e7c392/conf/config.yaml#L24-L28.

and environment properties is now supported, see  https://github.com/apache/apisix/blob/master/docs/en/latest/profile.md

[2021-06-24 14:12] xuchmao commented on #4475
Thanks, I will try it.

[2021-06-24 14:12] #4475 closed

[2021-06-24 15:43] Yiyiyimu commented on #4465
It seems we [do support](https://github.com/apache/apisix/blob/v2.2/doc/admin-api.md#route) grpc in 2.2. Or have you tried newer version of apisix

[2021-06-25 01:53] tokers commented on #4465
@1026197530 What is your problem? Please give more and more details. Also, don't describe different problems in the same track, it confuses others.

[2021-06-25 06:41] sandy420 opened #4482 "ip直连,请求ssl证书失败,希APISIX支持"
使用httpdns后,将域名转成了IP,使用IP直接连服务
这样请求服务的时候没办法拿到SSL证书,
比如,  test.abc.com  的dns解析是1.1.1.1 ,然后通过httpdns拿到域名的解析然后将转化成 https://1.1.1.1/test  (在请求头的header中传入"host":"test.abc.com")这样的能获取到ssl证书

![image](https://user-images.githubusercontent.com/10955441/123378284-1f910680-d5bf-11eb-8807-10cc86f1a7a2.png)

[2021-06-25 07:50] spacewander commented on #4482
You should pass the real host as SNI. Like this one:
`curl -k --resolve 'test.cn:9443:127.0.0.1' https://test.cn:9443/hello  -v`

[2021-06-25 07:50] #4482 closed

[2021-06-25 11:04] Marco-Zheng opened #4485 "bug: ip-restriction whitelist doesn't work"
### Issue description

I used IP -restriction whitelist but it did not work. Later I read the log and found that, because our apisix in k8s environment, the IP of the external network will be converted to the IP of K8S container after getting it

The extranet address of our company that I configured at present does not work. Is there any solution?

### Environment

* apisix version (cmd: `apisix v

[2021-06-26 04:52] tokers commented on #4485
This cannot be solved on apisix side, by the way, which CNI plugin is in use? solutions like Calico +ebpf might help you to get the real ip address to prevent the kubernetes ip masquerade.

Or, of the remote address can be set to x-forwarded-for.

[2021-06-26 06:24] tzssangglass commented on #4485
I was thinking that maybe `ip-restriction` could support an extension - to get the real ip from a user-defined location

[2021-06-26 08:29] xxm404 opened #4487 "request help: There is no need to upgrade the core code at the same time when upgrading the plugin"
### Issue description
When I want to update some plugins, I found I must be updated the APISIX core code at the same time, Maybe the update of the plugin should be independent of the core code.

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): ubuntu 18.04.1
* OpenResty / Nginx version (c

[2021-06-26 11:19] w7team opened #4489 "bug: 路径/*不包括/"
说明里是：/* 代表所有路径
但实际设置的时候/*不包括/，还要设置/*和/两个值才行，这个属于bug不？
![image](https://user-images.githubusercontent.com/74588507/123511374-6e1fcd00-d6b3-11eb-95be-b81f22980a34.png)

[2021-06-26 18:42] tzssangglass opened #4491 "docs: misspellings in /zh/latest/admin-api.md#upstream"
# Improve Docs

## Describe the solution you'd like

here https://github.com/apache/apisix/blob/master/docs/zh/latest/admin-api.md#body-%E8%AF%B7%E6%B1%82%E5%8F%82%E6%95%B0-3
 `基本的复杂均衡算法` should be `基本的负载均衡算法`

[2021-06-27 04:27] spacewander commented on #4487
Upgrade plugin and core at the same time will make life easy, you can ensure they have the same version.

[2021-06-27 07:12] #4491 closed

[2021-06-27 07:19] tokers commented on #4485
@tzssangglass We alreay have some items to setting this in config-default.yaml.

[2021-06-27 13:14] spacewander commented on #4489
I try:
[code]

And I find it can match `/`.

Can you confirm the problem can be reproduced with the Admin API? What's your APISIX version?

[2021-06-28 03:46] Marco-Zheng commented on #4485
@tokers thx, i'll try to reset remote address as x-forwarded-for, and update the result later

[2021-06-28 06:33] Marco-Zheng commented on #4485
@tokers it's seems that proxy-rewrite plugin can not rewrite remote_addr to $proxy_add_x_forwarded_for
the log show remote_addr still k8s node ip

[2021-06-28 06:35] lilien1010 commented on #3891
Hi  @SomalianIvan  I think this cloud be your first feature to implement, while you own so much context on opentelemerey.

you can follow  https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/skywalking.md & https://github.com/apache/skywalking-nginx-lua

[2021-06-28 06:36] lilien1010 commented on #3891
I  can also help you walk through this.

[2021-06-28 07:52] w7team commented on #4489
我是2.6下测试的，确定会有这个问题

[2021-06-28 08:09] 1026197530 opened #4494 "request help: The older Apisix Dashboard had the ability to customize cookies, but the 2.2 Dashboard did not have the ability to customize cookies."
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.2
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.15.8.3
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
![5668F386C5F8B7C21436DD7E

[2021-06-28 08:11] 1026197530 commented on #4494
![5668F386C5F8B7C21436DD7E28608E00](https://user-images.githubusercontent.com/28381375/123602414-494e6580-d82b-11eb-8520-6361537d996e.jpg)

这是老版本的dashboard可以自定义cookie值

[2021-06-28 08:12] 1026197530 commented on #4494
![5668F386C5F8B7C21436DD7E28608E00](https://user-images.githubusercontent.com/28381375/123602715-9fbba400-d82b-11eb-823b-818752c0cd32.jpg)
这是老版本的dashboard 可以直接自定义cook值

[2021-06-28 08:56] starsz opened #4495 "Improve Docs: add "/apisix/admin/plugins/reload" into admin-api.md"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hello, I found that apisix support using "/apisix/admin/plugins/reload" API to reload plugins.
But we don't add description into admin-api.md

Referer: https://github.com/apache/apisix/blob/07bfe5b9c03ad361cb71541eb02fd661f1323213/apisix/admin/init.lua#L28

## Describe the solution you'd like

Add "/apisix/admi

[2021-06-28 09:15] azura27 opened #4496 "bug: cors cannot set config with credential true, allow_headers *"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.0
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.17.8.2
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.13
* apisix-dashboard vers

[2021-06-28 09:21] spacewander commented on #4489
Can't be reproduced with 2.6:

[code]

[2021-06-28 10:31] Molio-tan opened #4497 "Failed to start apisix on Kylin V10, ARM Architecture"
### Issue description
When I installed the Apisix, `make deps` seemed like no problem, but I execute the comman for start: `./bin/apisix start`, there is error:
![image](https://user-images.githubusercontent.com/31587573/123609530-4f941000-d832-11eb-902d-cadd789a5780.png)
Anyway, `./bin/apisix version` was executed with the same error.

### Environment

Request help without environment information

[2021-06-28 11:15] tokers commented on #4497
It seems that the `zlib` installation is broken. Could you paste the `ldd` output of the openresty command?

[2021-06-28 11:16] tokers commented on #4489
@w7team How did you create this route? Through dashboard or Admin API? you may try to paste the route here.

[2021-06-28 11:20] tokers commented on #4496
@azura27 This is by design, see https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials for detais.

[2021-06-28 11:22] tokers commented on #4485
It depends on whether your client carries the X-Forwarded-For header.

[2021-06-28 12:56] azura27 commented on #4496
This DOC only says "Access-Control-Allow-Origin" should not be “*”, not all other headers should not be "*". Am I got the right link:  "Reason: Credential is not supported if the CORS header ‘Access-Control-Allow-Origin’ is ‘*’"

[2021-06-28 16:15] dickens7 commented on #4209
@spacewander
To achieve custom configuration, please merge PR and publish to luarocks.

[2021-06-28 16:30] Patil2099 commented on #4495
I would love to pick this up.

[2021-06-28 20:39] SomalianIvan commented on #3891
Hey folks I'll pick it up this Thursday

[2021-06-28 23:42] Yiyiyimu opened #4499 "[test unstable] t/control/healthcheck.t"
### Issue description

[code]

### Environment

* CI: `build (ubuntu-18.04, linux_openresty)`

[2021-06-29 01:05] starsz commented on #4495
Pretty good. Assign it to you.

[2021-06-29 02:03] tokers commented on #4496
Not sure about other headers. @ShiningRush What are the original design considerations about this?

[2021-06-29 02:03] tokers commented on #4496
Not sure about other headers. @ShiningRush What are the original design considerations about this?

[2021-06-29 02:06] tokers commented on #3891
👍, Assigned to you.

[2021-06-29 02:08] ShiningRush commented on #4496
You can learn more detail about `Access-Control-Allow-Origin` in [Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin#directives) and [CORSNotSupportingCredentials](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials)

[2021-06-29 02:19] azura27 commented on #4496
NOT find the evidence either. In our product environment, this is not suitable, and in similar gateway server KONG, the headers config onliy limit origin. We've remove other headers' limitation in our own ENV.  If this is the design, then take this issue as an suggestion

[2021-06-29 02:34] ShiningRush commented on #4496
I believe the information I posted has been described clearly enough, please read it carefully.

[2021-06-29 02:42] azura27 commented on #4496
OK, got it. my focus is origin (the value tells browsers to allow requesting code from any **origin** to access the resource), and yours is this sentence "for requests without credentials, the literal value "*" can be specified, as a wildcard" .

[2021-06-29 02:46] ShiningRush commented on #4496
BTW: I compared the Chinese and English versions of  [Access-Control-Allow-Origin](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin#directives), and found that the Chinese version did not mention wildcard related matters. Maybe you are viewing its Chinese version page?

[2021-06-29 05:51] Molio-tan commented on #4497
I don't figure out the `ldd` output of the openresty command.Could you show me what command to be executed?thx

[2021-06-29 06:47] #4499 closed

[2021-06-29 08:04] azura27 commented on #4496
OK, thanks a lot

[2021-06-29 08:04] #4496 closed

[2021-06-29 08:42] Marco-Zheng commented on #4485
thx for your kindly help, i 'll try to use another method to resolve this problem

[2021-06-29 09:29] tokers commented on #4497
Just run "ldd \`which openresty\`". If your OpenResty binary is inside the PATH environment.

[2021-06-29 10:22] Molio-tan commented on #4497
![image](https://user-images.githubusercontent.com/31587573/123781489-e6320100-d906-11eb-854e-34a265a01793.png)

[2021-06-29 13:48] Tinywan opened #4502 "bug: No file openssl/ssl.h in /usr/local/openresty/openssl/include"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`): 4.15.0-137-generic #141-Ubuntu SMP Fri Feb 19 13:46:27 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http

[2021-06-29 14:39] spacewander commented on #4502
Where did you see this message? How to reproduce?

[2021-06-30 01:41] Tinywan commented on #4502
make deps
[code]

[2021-06-30 01:59] tokers commented on #4497
It seems that the OpenResty you used referring to the system zlib package, and it might missing the symbol `zErrror`. How did you install the OpenResty?

[2021-06-30 02:15] spacewander commented on #4502
See https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#why-does-the-make-deps-command-fail-in-source-installation

[2021-06-30 02:33] #4460 closed

[2021-06-30 02:47] Molio-tan commented on #4497
At the first you can see my process of [installing the OpenResty](https://github.com/apache/apisix/issues/4497#issue-931421993). I installed it with source code.By the way,  I can test OpenResty successfully with `openresty -p . -c nginx.conf`.
The `nginx.conf`:
[code]

[2021-06-30 02:56] Tinywan commented on #4502
![Uploading image.png…]()

[2021-06-30 02:59] Tinywan commented on #4502
[code]

[2021-06-30 03:12] #4437 closed

[2021-06-30 08:10] zuiyangqingzhou opened #4711 "There is a problem with the apisix documentation"
## Issue description
https://apisix.apache.org/docs/apisix/plugins/request-id/

This document is about the description of the request-id plug-in, one of the parameters is include_in_response, its default value is false, but I see that its default value is true in the source code of apisix, as shown below

## Expected behavior

## How to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down t

[2021-06-30 13:16] #3673 closed

[2021-06-30 13:16] #3937 closed

[2021-06-30 21:47] param-thakker commented on #4495
Hi @starsz , is this still open?

[2021-06-30 21:48] Yiyiyimu commented on #4414
Close with #4191

[2021-06-30 21:48] #4414 closed

[2021-06-30 22:06] Yiyiyimu commented on #4495
Hi @param-thakker you could try to pick up some [other issues](https://github.com/apache/apisix/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) which have no assignees

[2021-07-01 01:03] #1857 closed

[2021-07-01 01:04] spacewander commented on #1841
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-07-01 01:06] spacewander commented on #1902
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-07-01 01:07] spacewander commented on #1911
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-07-01 01:07] spacewander commented on #1889
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-07-01 01:11] spacewander commented on #3490
Closed as lack of response.

[2021-07-01 01:11] #3490 closed

[2021-07-01 01:17] yoyofx commented on #4463
确实这时候应该用host解决，感谢

[2021-07-01 01:17] #4463 closed

[2021-07-01 02:03] spacewander opened #4509 "fuzzing test is broken since today"
Caused by boofuzz 0.4.0: https://pypi.org/project/boofuzz/

[2021-07-01 04:28] #4509 closed

[2021-07-01 09:40] anjia0532 opened #4513 "bug: nacos discovery not support base auth include `%` chars."
### Issue description
e.g. discovery.nacos.host will be `"http://${username}:${password}@${host1}:${port1}"` ,if username or passowrd has `@` should be replace `%40` (ref https://stackoverflow.com/a/6718568)

but apsix 2.7 regular expression is `[a-zA-Z0-9-_.:\@]`
https://github.com/apache/apisix/blob/174044e60cfbad6f8aa023200f3be145f5249ed1/apisix/discovery/nacos.lua#L45

will throw exception
[co

[2021-07-01 10:30] anjia0532 opened #4514 "bug: nacos fetch instance list got error"
### Issue description

`2021/07/01 10:28:30 [error] 44#44: *32565 [lua] nacos.lua:303: get_url:ns/instance/list?healthyOnly=true&serviceName= err:20: unable to get local issuer certificate, context: ngx.timer`

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): apisix:2.7-alpine
* OS (cmd: `uname -a`): ubuntu 16.04LTS
*

[2021-07-01 10:37] anjia0532 commented on #4514
`curl https://nacos.xxxx/nacos/v1/ns/instance/list?healthyOnly=true&serviceName=xxxx&namespaceId=xxx` is ok

[2021-07-01 11:10] tokers commented on #4514
How did you configure the `lua_ssl_trusted_certificates` item in `config.yaml`?

[2021-07-01 11:12] spacewander commented on #4513
Thanks for your report.
PR is welcome!

[2021-07-01 11:13] spacewander commented on #4513
We can fix the regex.

[2021-07-01 11:47] slene opened #4516 "bug: Generates lot of useless logs when cookie not found"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.6
* OS (cmd: `uname -a`): centos 7.8

### Minimal test code / Steps to reproduce the issue

[code]

When cookie cookie_upstream not found.

[code]

When cookie header not exists.

[code]

It generates a lot of useless logs. If this is unexpected, I can submit a pr.

[code]

[2021-07-01 12:30] CraxGrix opened #4517 "request help: skywalking无法修改endpoint_addr"
### Issue description

请问能否提供修改示例，每当我修改的时候都会提示Invalid plugin data。

<img width="1278" alt="WeChat750a91d6fc7fc9d8ca7cf410944673ca" src="https://user-images.githubusercontent.com/16173957/124124026-87a58800-daaa-11eb-9f3b-3a3ba75f1007.png">

### Environment

Request help without environment information will be ignored or closed.

* apisix version:2.7
* OS (cmd: `uname -a`):
* Linux aliyun-linux-4c-

[2021-07-01 12:33] CraxGrix commented on #4517
这是config.yaml
<img width="852" alt="WeChat4b64428f70d4969af39d398bbb824eeb" src="https://user-images.githubusercontent.com/16173957/124124937-9e001380-daab-11eb-9e02-aca443261b57.png">

[2021-07-01 13:14] spacewander commented on #4517
endpoint_addr can only be set via static configuration file config.yaml.

[2021-07-01 13:25] spacewander commented on #4516
We can do the check inside https://github.com/apache/apisix/blob/d902cb197bea3a951d151d92ef53b38d81939324/apisix/core/ctx.lua#L114

[2021-07-01 14:06] slene commented on #4516
@spacewander  How about this ?

[code]

[2021-07-02 00:54] spacewander commented on #4516
Look like we don't need to change this part: "if not val then"?

[2021-07-02 00:56] #4428 closed

[2021-07-02 01:34] anjia0532 commented on #4513
@spacewander  thanks

[2021-07-02 01:37] anjia0532 commented on #4514
@tokers No,use website doc to config it, I don't know about this config properties more info.

![image](https://user-images.githubusercontent.com/15098916/124207690-a17db400-db18-11eb-9b38-6bf5ea131830.png)

OK,find it from openresty https://github.com/openresty/lua-nginx-module#lua_ssl_trusted_certificate and I'll try it.

[2021-07-02 01:52] anjia0532 commented on #4514
Not work.

1. Use apache:apisix:2.7-alpine and use `find / -name *.pem` to got root PEM.
[code]
same error info again
`2021/07/02 01:51:23 [error] 44#44: *25319 [lua] nacos.lua:303: get_url:ns/instance/list?healthyOnly=true&serviceName= err:20: unable to get local issuer certificate, context: ngx.timer`

[2021-07-02 02:09] spacewander commented on #4514
What's your OpenSSL built with Nginx?
OpenSSL 1.0.x doesn't work with Let's Encrypt: https://community.letsencrypt.org/t/openssl-client-compatibility-changes-for-let-s-encrypt-certificates/143816

[2021-07-02 02:12] anjia0532 commented on #4514
@spacewander [apache/apisix:2.7-alpine](https://hub.docker.com/layers/apache/apisix/2.7-alpine/images/sha256-b9bea90dac390021db097cf8fb1256aba59c4a0943a44fa0d891f317b2081567?context=explore)

[2021-07-02 02:37] slene commented on #4516
@spacewander

I think that value does not exist is not an error. The log should be recorded when err exists.

[code]

[code]

[2021-07-02 02:51] tokers commented on #4514
@anjia0532 Please output the result of `openresty -V`.

[2021-07-02 03:01] anjia0532 commented on #4514
用的就是官方的docker镜像 [apache/apisix:2.7-alpine](https://hub.docker.com/layers/apache/apisix/2.7-alpine/images/sha256-b9bea90dac390021db097cf8fb1256aba59c4a0943a44fa0d891f317b2081567?context=explore)
[code]

[2021-07-02 03:10] tokers commented on #4514
Does the `/etc/ssl/certs/ca-cert-GlobalSign_Root_CA.pem` sign the Nacos server certificate directly? If not, does this file contain the intermediate CA certificate (as I saw the `Root` keyword in this cert file).

[2021-07-02 03:43] spacewander commented on #4516
Yes, you are right.

[2021-07-02 05:46] anjia0532 commented on #4514
@tokers Nacos server certificate is generate by [https://letsencrypt.org/](https://letsencrypt.org/) .It's not a two-way certificate.
run with curl ( `curl https://nacos.xxxx/nacos/v1/ns/instance/list?healthyOnly=true&serviceName=xxxx&namespaceId=xxx`) is ok .

[2021-07-02 06:07] tokers commented on #4514
I mean, what is the relationship between the Nacos server certificate and the `/etc/ssl/certs/ca-cert-GlobalSign_Root_CA.pem`?

[2021-07-02 06:37] nanamikon opened #4519 "request help: How to deal with arg with dash in the plugin's setting"
### Issue description
Some plugins support vars matching, such as traffic-split.
[code]

If I want to check an arg with dash (ex:  test-name),  I have to  get this arg using regex from nginx.var.args refer to https://marc.info/?l=nginx&m=141589036701879&w=2.

So how to match this type of args in the plugin setting ?  I can't get any tips from  https://github.com/api7/lua-resty-expr#operator-list

[2021-07-02 06:45] anjia0532 commented on #4514
我对这块不是很熟悉，上文中有解释，/etc/ssl/certs/ca-cert-GlobalSign_Root_CA.pem 是我随便选了一个根证书(find / -name *.pem)，发现不行后，又根据https://letsencrypt.org/certificates/  找了一个ISRG_Root的试了一下也不行，我不太清除为啥一个公共签署的还不被信任，（letsencrypt应该是一个很常见的方案，理论上不应该也不需要再单独配置一个信任证书）

您的意思是，需要我针对这个证书，单独用Openssl签一个信任证书给apisix? 感觉有点怪怪的，有参数可以忽略信任校验么(或许这个问题我应该去openresty社区提问？但是我不太确认是apisix的问题，还是apisix+alpine的问题，还是openresty的问题)？

[2021-07-02 06:49] tokers commented on #4514
@anjia0532 The `lua_ssl_trusted_certificate` should be configured to the CA cert which signing the Nacos server cert.

[2021-07-02 06:58] anjia0532 commented on #4514
OK ,Fine. I surrender. nacos change to http protocol . works good. thanks .I'll close this.

[2021-07-02 07:13] anjia0532 commented on #4514
Use `curl -v https://nacos.xxx.xxx` to get Key Point info `successfully set certificate verify locations: CAfile: /etc/ssl/certs/ca-certificates.crt`

Config lua_ssl_trusted_certificate  to /etc/ssl/certs/ca-certificates.crt and restart apisix
![image](https://user-images.githubusercontent.com/15098916/124235397-c1789c00-db47-11eb-9756-84144528d982.png)

same error again.
![image](https://user-ima

[2021-07-02 07:21] pioneer-hash commented on #487
Organization: VIVO
Location: Shenzhen, China
Contact: qi.du@vivo.com
Scenario: Gateway

组织：建信金科
地址：太原，中国
联系方式：yespapa@163.com
使用场景：处理系统的南北项流量，实现灰度发布的场景

[2021-07-02 07:35] spacewander commented on #4514
@anjia0532
Do you try curl inside the docker image?
Maybe we can do some packet capture and find the difference between the curl and the openresty?

[2021-07-02 07:48] anjia0532 commented on #4514
@spacewander Yes. Run the curl command inside website docker image `apache/apisix:2.7-alpine`.

[code]

configure the conf/config.yaml

[code]
and restart apisix container

error again

`2021/07/02 01:51:23 [error] 44#44: *25319 [lua] nacos.lua:303: get_url:ns/instance/list?healthyOnly=true&serviceName= err:20: unable to get local issuer certificate, context: ngx.timer`

[2021-07-02 13:03] spacewander commented on #1876
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-07-02 15:04] cendawei commented on #487
Organization: wps
Location: Zhuhai, China
Contact: 280842458@qq.com
Scenario: Api Gateway

[2021-07-02 15:16] cendawei opened #4522 "Cors plug-in configuration allow_credential is true, need to pay attention to other configuration items cannot exist"
# Improve Docs

## cors配置文档

当allow_credential为true时

## 除allow_credential的其他配置项

注意不能为*，因为各配置项有默认值，字段值可显式设为空

[2021-07-02 18:16] Applenice commented on #3917
I was trying to solve this issue and when testing I found the problem:
https://github.com/apache/apisix/blob/e35ef6d54469a312b209bf60b194eca50938ebbe/apisix/cli/ngx_tpl.lua#L144
https://github.com/apache/apisix/blob/e35ef6d54469a312b209bf60b194eca50938ebbe/apisix/cli/ngx_tpl.lua#L145

It can be modified like this:
[code]
But it seems to be because this format of `plugin-limit-req` does not conform

[2021-07-02 20:17] Yiyiyimu commented on #3917
Hi @Applenice I think it would import no breaking changes so it's good to go~

[2021-07-02 20:17] Yiyiyimu commented on #4522
Hi @cendawei PR Welcome!

[2021-07-02 23:47] Applenice commented on #3917
Okay, I'll fix it.😃

[2021-07-03 12:18] duandao1950 opened #4525 "error for system, if import grafana http"
error for system, if import grafana http, please help me!

![image](https://user-images.githubusercontent.com/1274453/124353846-90799380-dc3b-11eb-86d1-b78c4898faed.png)

[2021-07-03 13:43] #4525 closed

[2021-07-03 18:51] KishaniKandasamy opened #4526 "[DISCUSS] Make parts of API URL much simpler"
# Improve Docs
Hi everyone,
I'm currently working on [this project](https://summer.iscas.ac.cn/#/org/orgdetail/apacheapisix/proid210050255?lang=en) under the mentorship of @juzhiyuan .
Before making any changes, It would be great with your opinions.

## Please describe which part of docs should be improved or typo fixed
we could make the parts of API URL (in https://apisix.apache.org/docs/apisix/g

[2021-07-04 03:06] zuiyangqingzhou opened #4527 "request help: about configuring grayscale release"
### Issue description
As we all know, apisix currently supports cluster deployment.

Suppose we currently have 5 apisix instances. After updating a certain configuration, we only want to publish to a certain instance for verification, and then publish to the remaining 4 instances after the verification is passed.

Is this feature apisix considered to support it?

[2021-07-04 05:22] zuiyangqingzhou opened #4528 "request help: There are ambiguities in the understanding of several parameters of the health check"
### Issue description

first：

second:

third:

Is my understanding of the three code snippets correct? What is the difference between the timeout parameter in the first and third paragraphs?

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `op

[2021-07-04 12:35] ctgpf opened #4529 "request help: curl hangs indefinitely when accessing REST Admin API from Serverless plugin"
### Issue description
Hello all,

I'm trying to use this simple lua function in serverless plugin:
[code]
But when testing, the curl command hangs indefinitely and never ends...

Here are some debug information:

So the curl is waiting for the fd 4 to become ready, but timeout.

So the socket is opened and the tcpdump shows that the GET method is indeed sent. But no response from the REST Admin AP

[2021-07-04 15:33] liwenzheng opened #4530 "bug: In the docker startup environment, promethues is configured, and there is a problem with the ip detection logic. If the ip is not in the container, an error will be reported."
### Issue description
[code]
### conf/config.yalm
[code]
### docker-compose.yml
[code]
### error
[code]

[2021-07-04 16:18] sagivoulu opened #4531 "request help: Configure APISIX in a declarative way"
### Issue description
Is there a way to configure apisix in a declarative way? in a yaml file / terraform script / ansible playbook?

I am building an system that runs on kubernetes, & everting in the system must be configured in a declarative way (i.e. not via api calls to create routes / manually configuring routes in the admin portal).

I am not able to install the apisix ingress controller bec

[2021-07-04 16:18] sagivoulu opened #4532 "request help: Configure APISIX in a declarative way"
### Issue description
Is there a way to configure apisix in a declarative way? in a yaml file / terraform script / ansible playbook?

I am building an system that runs on kubernetes, & everting in the system must be configured in a declarative way (i.e. not via api calls to create routes / manually configuring routes in the admin portal).

I am not able to install the apisix ingress controller bec

[2021-07-05 00:57] spacewander commented on #4527
So you want to manage two different versions of APISIX with the same version of CP?

[2021-07-05 00:57] tokers commented on #4531
@sagivoulu

1. It's feasible to configure Apache APISIX from yaml files, see http://apisix.apache.org/docs/apisix/stand-alone/;
2. Apache APISIX has its own Ingress Controller implementation, so you can use it in Kubernetes natively, see https://github.com/apache/apisix-ingress-controller for details;

[2021-07-05 00:59] tokers commented on #4530
@liwenzheng That's expected, you cannot configure an IP address that is not attached to the NIC.

[2021-07-05 01:01] spacewander commented on #4529
What about using lua-resty-http? It uses cosocket so it won't block the Nginx.

[2021-07-05 01:06] #4517 closed

[2021-07-05 01:09] tokers commented on #4528
The `timeouts` under `unhealthy` is used to configure how many timeout events should occur so an endpoint can be set to unhealthy, not to configure the connection timeout.

[2021-07-05 01:10] spacewander commented on #4514
Would you send us certificates (the nacos's and the trusted one) to reproduce this issue?

[2021-07-05 01:15] tokers commented on #3917
@Applenice Have you tried this:

[code]

[2021-07-05 01:19] tokers commented on #4522
@cendawei
 https://github.com/apache/apisix/blob/master/apisix/plugins/cors.lua#L134-L139

[2021-07-05 01:21] spacewander commented on #4519
We can do the same trick like https://github.com/apache/apisix/blob/38785557bee818c3d8a3ca1d46f788fc65ab38ab/apisix/core/ctx.lua#L151

PR is welcome!

[2021-07-05 01:23] spacewander commented on #4516
@slene
PR is welcome!

[2021-07-05 01:35] anjia0532 commented on #4514
@spacewander send it to your email( spacewanderlzx@gmail.com )

[2021-07-05 02:22] zuiyangqingzhou commented on #4527
Yes, it can be understood that, I want to have multiple versions of the configuration effective on different apisix instances in a certain period of time.

Because when we create a new configuration or modify a configuration, we always want to verify it with a small amount of traffic, instead of directly pushing it to the global traffic.

[2021-07-05 03:22] zuiyangqingzhou commented on #4528
https://github.com/apache/apisix/blob/cb8e41d5f4037c332978dc21eff7a63e0ab48322/apisix/schema_def.lua#L184-L195

Okay, if timeouts represents the number of timeouts, how do you understand the number of failures of http_failures and tcp_failtures? I understand that if it times out, it shouldn’t be a failure?

[2021-07-05 03:48] Applenice commented on #3917
I just tested this way of writing and it does work. I learned.

So do I need to change the PR content? Would it be better to keep one style?😃 Personally, I think it's a bit strange to have two ways of handling the same feature because of different naming formats. Of course my idea may not be the best.

[2021-07-05 05:43] sandy420 commented on #487
Organization: YMM
Location: China
Contact: 442405@qq.com
Scenario: 处理系统的南北流量

[2021-07-05 06:11] ctgpf commented on #4529
Thank you for your answer!

I tried using lua-resty-http and I got an explicit error:  API disabled in the context of body_filter_by_lua*.
Actually, cosocket is disabled in this context, which probably explains why it was blocking.

In fact, my idea was to use the REST Admin API to dynamically create routes if I got an HTTP/200 response from an auth API upstream and I thought body_filter was the r

[2021-07-05 06:11] #4529 closed

[2021-07-05 06:37] GrantZheng opened #4534 "apisix plugin write test cases"
你好，请问apisix plugin 如何编写测试用例，有没有好的最佳实践？

[2021-07-05 07:19] tokers commented on #4527
@zuiyangqingzhou There is a useful trick that can used to implement the configuration grayscale, Apache APISIX supports configuring a Route object with route match expressions (the `vars` field in Route), you may add an expression to specify the set of APISIX instances that will use the route.

[code]

[2021-07-05 07:23] tokers commented on #4528
timeouts, http_failures and tcp_faileres are three kinds of exceptions, all the settings here is used to indicate the number.

[2021-07-05 08:27] zuiyangqingzhou commented on #4528
I try to understand what you mean. Do you see right?

That is to say, timeout and failure are in two dimensions. Whether it is a health check interface call timeout or a failed status code, we all think that this node is unhealthy

Is my understanding correct？

[2021-07-05 10:07] StretchV opened #4536 "request help: apisix似乎没有类似kong中strip_path这样的方法或插件"
### Issue description
我想在apisix中将请求的path中前一部分截取掉然后传入到上游,但是apisix中似乎只有proxy_rewrite这个插件,但是路径中往往会有'%2F'这样的转义符号,例如:http://XXX.myscrm.cn/服务名/api/projects/qweqwe%2Fqweqwe/master/files/proto%2Fsource
这样的请求,url中的"qweqwe%2Fqweqwe"这对于服务来讲其实是一种参数,而这种请求在被proxy_rewrite重写后,"%2F"就会被转义成"/",这样请求到服务后就会出问题,所以我希望能在apisix中找到类似kong中strip_path这类的方法,就是单纯的将path一部分截取掉然后传入上游,请问有这样的插件吗

### Environment

Request help without

[2021-07-05 12:13] tokers commented on #4528
I think so.

[2021-07-05 12:54] spacewander commented on #3917
What about configuring with the original dash style?

[2021-07-05 13:51] Applenice commented on #3917
Agree, so that it can be consistent with the naming of the plugin.😊

[2021-07-05 18:27] Yiyiyimu commented on #4536
Hi @StretchV actually we are using `proxy_rewrite` to implement this for now. Maybe you could refer to this:
https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-strip-route-prefix-for-path-matching

[2021-07-05 18:31] Yiyiyimu commented on #4534
Hi @GrantZheng you could refer to test cases of other plugins for now, since we haven't got best practise currently 🤣 But welcome contributing yours when you finish your tests.

[2021-07-06 01:49] #3236 closed

[2021-07-06 01:50] #3688 closed

[2021-07-06 02:02] nanamikon commented on #4519
get it,  I will submit a pr

[2021-07-06 02:05] StretchV commented on #4536
@Yiyiyimu   你好,用regex_uri这个属性是不可以的,因为我不止是希望去掉前缀,而且我还希望path不被转义,因为我的业务中有类似http://www.XXXX.com/foo/qqqq%2Fqqqq/www,这样的请求,这种请求一被regex_uri之后,%2F就会被转义成"/",后端接受到的路径就是http://www.XXXX.com/qqqq/qqqq/www了,所以这种正则的重写方式是不可以的,所以我想问下有没有那种直接截断式的,但是我并没有在apisix中找到类似的方法

[2021-07-06 03:17] mutianqi opened #4542 "apisix-2.7/apisix/init.lua:338: attempt to index upvalue 'local_conf' (a nil value)"
I changed the listening port to 443.

ERROR:

[code]

[2021-07-06 04:04] sagivoulu opened #4543 "request help: Is Plugin shared memory shared across cluster"
### Issue description
In many plugins I see the use of ```ngx.shared[]``` to store information (i.e. Circuit breaker counter, request limit counter etc...). Where does this information get stored? In the local memory of the api gateway? In the control plane etcd?

I am asking because some plugin use cases (request limiting, circuit breaker, authentication session and more) require this data to be

[2021-07-06 04:15] spacewander commented on #4542
Please provide detailed reproduce steps and your configuration.

[2021-07-06 04:18] spacewander commented on #4543
In the local memory of the api gateway.
See https://github.com/openresty/lua-nginx-module#ngxshareddict

[2021-07-06 04:38] sagivoulu commented on #4543
Thanks, that answers my question.

[2021-07-06 04:38] #4543 closed

[2021-07-06 04:43] tzssangglass commented on #4536
`%2F` has a special meaning in URL encoding, after decoding it is `/`.
I think you should change this uri to not contain `%2F`.

[2021-07-06 04:50] StretchV commented on #4536
好的谢谢

[2021-07-06 04:50] #4536 closed

[2021-07-06 05:09] mutianqi commented on #4542
These are the only two things I changed

![image](https://user-images.githubusercontent.com/38172771/124545273-54bd1480-de5b-11eb-862a-e4e04dc0e915.png)
![image](https://user-images.githubusercontent.com/38172771/124545310-6a323e80-de5b-11eb-8fa5-8273d587f7fc.png)

[2021-07-06 08:26] CGerAJ opened #4544 "request help: How to configure a single-page application(SPA) in APISIX?"
### Issue description
I want to deploy a reactjs single page application, How to configure a single-page application in APISIX?
some docs
[code]

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`):  Linux i-12on6zcy 4.18.0-240.el8.x86_64 #1 SMP Fri Sep 25 19:48:47 UTC 2020 x86_64 x86_64 x86_

[2021-07-06 08:27] Huweicai opened #4545 "request help: what's the most recommended way to share variables between plugins in a single request"
I have several plugins being miggrated from **Kong** to **APISIX**.
In Kong, plugins share variables use [kong.ctx.shared](https://docs.konghq.com/gateway-oss/2.4.x/pdk/kong.ctx/#kongctxshared) to work together.
I wonder what's the most recommended way to do it in APISIX?
Can I just attach these variables to ctx ? Like this:
[code]

[2021-07-06 08:33] spacewander commented on #4545
Yes. If you worry about name conflict, you can add your plugin name as the prefix.

[2021-07-06 08:45] Huweicai commented on #4545
Thanks.

[2021-07-06 08:45] #4545 closed

[2021-07-06 14:51] gxthrj opened #4547 "bug: 404 route not found if URI contains %0A"
### Issue description
If URI contains %0A, will cause route match failed.

### Environment

* apisix version (cmd: `apisix version`): 2.6

### Minimal test code / Steps to reproduce the issue

Bug report without steps to reproduce will be ignored or closed.

1. create a route
[code]
2. have a try with normal request
[code]
It will be success.

[code]
3. If URI contains %0A
[code]
will get 404
[cod

[2021-07-06 17:45] Yiyiyimu commented on #4544
I guess using url of that application of APISIX upstream is enough

[2021-07-07 01:29] CGerAJ commented on #4544
I’m trying  customize-nginx-configuration

Can you help provide some documentation?

[2021-07-07 02:05] tokers commented on #4547
What is the exact behavior if you access the upstream directly with this URL?

[2021-07-07 02:10] gxthrj commented on #4547
It has been writen here.

![image](https://user-images.githubusercontent.com/4413028/124689692-8ab9d180-df0b-11eb-9908-866c99c5995f.png)

[2021-07-07 02:19] tokers commented on #4547
I mean, don't use APISIX as the proxy.

[2021-07-07 02:40] spacewander commented on #4547
Look like it is a bug in the route match library.

[2021-07-07 02:49] gxthrj commented on #4547
Using Nginx, it will return from upstream. Because the location is '*'.

[2021-07-07 02:50] gxthrj commented on #4547
Yep

[2021-07-07 05:50] CGerAJ commented on #487
Organization: 好医生集团
Location: Beijing, China
Contact: 244879962@qq.com
Scenario: Api Gateway

[2021-07-07 06:14] CGerAJ commented on #4544
#  SPA application nginx config

[code]
When you visit a SPA single page, you are actually accessing a single page route, such as/goods/list, which corresponds to the routing component configured in a single page route. But for Nginx servers, it is thought that they will look for the list folder under the goods folder in the root directory, **A single page actually has only one page, index. HTML,

[2021-07-07 07:08] tianqiuming opened #4550 "bug: When Kafka-logger is enabled, the log format for batch reporting to the backend is JSONArray instead of JSONObject format, which is different from the batch reporting implementation of the JAVA client."
### Issue description
添加Kafka-logger后，批量上报日志到kafka后，变成JSONArray格式
### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.7
* OS (cmd: `uname -a`):centos7.2
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info f

[2021-07-07 07:33] spacewander commented on #4514
I reproduce the issue and solve it via configuration:
[code]

[2021-07-07 07:44] spacewander commented on #4542
Can't reproduce at my side.

[2021-07-07 07:49] spacewander commented on #4542
Maybe you can add more logs to see why router is nil.

[2021-07-07 07:49] anjia0532 commented on #4514
@spacewander 谢谢，我看到config_default.yaml中有配置这个参数

https://github.com/apache/apisix/blob/d4c7fbbe831bc12c50ba63f00757f0eee14eae15/conf/config-default.yaml#L117

1. 有点疑惑，以为是openresty的配置，所以之前测试都放到了 `nginx_config` 下，是不是可以理解为，`nginx_config`都是nginx的配置项，openresty和apisix的都在`apisix`下？
2. 什么场景下需要设置 `ssl_trusted_certificate` ，反向代理https? https 双向认证？`serverless-*-function` 相关函数调用https服务时？

[2021-07-07 07:52] #4542 closed

[2021-07-07 07:55] spacewander commented on #4514
1. this directive is between Nginx configuration and SSL relative stuff.
2. when you try to connect TLS services with cosocket

[2021-07-07 07:56] philzhangrui opened #4551 "request help:"
### etcd 数据缺失

### 2.6版本

在测试环境搭建的单机， etcd 直接使用kill 命令删除之后， etcd里的数据就没有了，
但是导入进去的数据查询还在，删除的时候，删除不了。

![image](https://user-images.githubusercontent.com/7685507/124721702-eb610280-df3b-11eb-9f77-9c926082ac5a.png)

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or

[2021-07-07 07:59] anjia0532 commented on #4514
@spacewander OK ,thanks. I'll close this issues and supplemental documentation to explain this problem (`unable to get local issuer certificate`)

[2021-07-07 08:02] #4514 closed

[2021-07-07 08:10] billnote opened #4552 "bug: request prometheus metrics. throw etcd key not found: [/routes] warning"
### Issue description
request prometheus metrics api.  throw etcd key not found: [/routes] warning

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5 (i think all the version has this bug)
* OS (cmd: `uname -a`): Linux  3.10.0-1160.el7.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):  nginx v

[2021-07-07 08:16] billnote commented on #4552
This line of code causes the bug.
[https://github.com/apache/apisix/blob/3602646ff7a46b10db58741763f413b40f8d9547/apisix/plugins/prometheus/exporter.lua#L311](url)

Because etcd key has the prefix in default config. Use below code to solve this bug:
[code]

[2021-07-07 08:16] billnote commented on #4552
This line of code causes the bug.
[https://github.com/apache/apisix/blob/3602646ff7a46b10db58741763f413b40f8d9547/apisix/plugins/prometheus/exporter.lua#L311](url)

Because etcd key has the prefix in default config. Use below code to solve this bug:
[code]

[2021-07-07 08:17] billnote commented on #4552
This line of code causes the bug.
[https://github.com/apache/apisix/blob/3602646ff7a46b10db58741763f413b40f8d9547/apisix/plugins/prometheus/exporter.lua#L311](url)

Because etcd key has the prefix in default config. Use below code to solve this bug:
[code]

[2021-07-07 08:17] #4552 closed

[2021-07-07 08:36] yzeng25 opened #4554 "docs: in-page jumping failed on CN and EN getting-started page"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

in-page jumping failed on CN getting-started page
<img width="1436" alt="截屏2021-07-07 16 34 15" src="https://user-images.githubusercontent.com/36651058/124727499-5bbe5280-df41-11eb-9307-c32cc7ede67a.png">

## Describe the solution you'd like

fix the link so that it will jump to 'step 2'

[2021-07-07 08:55] CGerAJ commented on #4544
Thanks for the answer @membphis @Yiyiyimu

Train of thought

[code]

this is my config

step1: You should modify config.yaml
[code]

step2: config you apisix route, Here’s a reference configuration.

[code]

Points to note:
-  YAML file format
    YAML file format can not be wrong, you can test your configuration through apisix reload
-  Permission denied
   I am not particularly familiar with thi

[2021-07-07 09:00] #4544 closed

[2021-07-07 09:20] JanLi-air commented on #4547
Is there an easy fix for this? When can we expect a fix?

[2021-07-07 09:34] LLLLimbo opened #4555 "Unable to access Prometheus mertics endpoint"
My ```Docker-Compose``` file:

```apisix-dashboard```
[code]
```Apisix` Configuration file``
[code]

```Apisix Dashboard Configuration file```
[code]

Run command
[code]

And then enable prometheus plugin in dashboard.

[code]

[2021-07-07 09:49] zuiyangqingzhou opened #4556 "bug: the limit-conn plugin has a bug"
### Issue description
When the global limit-conn plug-in is enabled, and the limit-conn plug-in is also enabled on a specific route, the limit of the number of concurrent connections will be incorrect.

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6
* OS (cmd: `uname -a`): Darwin bogon 20.5.0 Darwin Kernel Versi

[2021-07-07 09:56] membphis commented on #4547
fixed: https://github.com/api7/lua-resty-radixtree/pull/99

[2021-07-07 10:26] gxthrj commented on #4547
Great~

[2021-07-07 12:00] tokers commented on #4556
That's a known issue, we should avoid running same plugins both in global rules and routes (especially with same configurations).

[2021-07-07 12:02] tokers commented on #4555
@LLLLimbo Can you access it from the inside of the APISIX container?

[2021-07-07 12:10] tokers commented on #4550
By saying `JSONArray`, you mean the format like:

[code]

Or just like the following:

[code]

[2021-07-07 12:58] zuiyangqingzhou commented on #4556
Are there any plans to fix this problem? Because some scenarios require global rules to cooperate with routes

[2021-07-07 16:13] Yiyiyimu commented on #4547
need to use new version before closing this issue. my bad

[2021-07-07 16:20] Yiyiyimu commented on #4552
@billnote do you mind propose a PR to fix it~

[2021-07-07 16:34] KishaniKandasamy commented on #4526
Hi everyone What about this?
![requesturl](https://user-images.githubusercontent.com/53715187/124796106-6c38f200-df6e-11eb-9338-1707559c0eb0.jpg)

[2021-07-07 17:27] Yiyiyimu commented on #4526
Hi @KishaniKandasamy sorry I failed to get which place should we change

[2021-07-07 18:53] tzssangglass commented on #4526
I think he meant to turn the text description of the url, such as protocl, host, etc., into the form of an image, more intuitive.

[2021-07-07 18:54] tzssangglass commented on #4526
the port part is missing from the image

[2021-07-08 01:04] LLLLimbo commented on #4555
Yes, no problem to access from inside

[2021-07-08 01:37] anjia0532 commented on #2140
Try a EmmyLua plugin with IDEA? Segmentfault's blog [使用idea调试lua代码-Openresty](https://segmentfault.com/a/1190000018430640)

[2021-07-08 01:39] LLLLimbo commented on #4555
I just learned about the changes to the Prometheus plugin since 2.6 in the official site's documentation, and I have now resolved the issue. But I think the documentation may have some flaws, such as no additional instructions for docker deployments, and the outdated Prometheus example image (the image still shows the monitoring port as 9080)

[2021-07-08 01:45] tokers commented on #4555
PR's welcome!

[2021-07-08 02:51] KishaniKandasamy commented on #4526
Hi  @tzssangglass , Thanks for the feedback but I thought we could omit port number in URLs, As if it is not given  then the  User may know that By default, HTTP uses port 80🤔.What do you think?

[2021-07-08 03:11] billnote commented on #4552
ok, i will open a PR later

[2021-07-08 03:52] tzssangglass commented on #4534
hope it helps you: https://github.com/iresty/programming-openresty-zh/tree/master/testing

[2021-07-08 03:53] kuberxy commented on #4461
I get this infomations in error log after I use patch mechanism.
[code]

[2021-07-08 04:11] tzssangglass commented on #4526
I am afraid of ambiguity. I think adding the default port 80 to the image will remove the ambiguity.

[2021-07-08 06:22] KishaniKandasamy commented on #4526
Yesss then It would be better doing  so:)

[2021-07-08 06:54] spacewander commented on #4461
Can you analyze the stack trace and find out each type of timer caller and their numbers?
BTW, your stack trace doesn't match the `balancer.lua` from the v2.2 version. It seems you have modified some part of the code? Can this problem be reproduced in v2.7?

[2021-07-08 09:04] tzssangglass commented on #4556
we can consider optimizing the limit key of the limit-req plugin so that the key can be distinguished.

[2021-07-08 09:12] kuberxy commented on #4461
I only caught the exception refer this #3169. Because without it, my user will get a 500 error when the timer is insufficient.

I not use v2.7. I reproduced this problem in v2.3. In addition,  I found that the code of balancer.lua has been rewritten in v2.3. In the error log, I only saw one line of error message:
[code]

The way I reproduce the problem:
1. Reduce the number of timers. like this
[c

[2021-07-08 10:31] zuiyangqingzhou commented on #4556
I'm not sure if we are discussing the same issue, because I am emphasizing the limit-conn plugin, or is this the same type of issue?

What is the root cause of this problem? Because I see the source code has a conf_type field to distinguish the global plugin and the plugin on the router.

[2021-07-08 10:41] tzssangglass commented on #4556
My mistake, I meant to say that the three similar plugins of limit-*

[2021-07-08 11:12] tokers commented on #4461
Seems that `15` is too small for APISIX as the max pending number of timers.

[2021-07-08 13:12] HamsterBoi opened #4565 "edit body request"
hey, is there an option to edit the body request before moving it forward to the target host?

[2021-07-08 16:44] Yiyiyimu commented on #4565
Hi @HamsterBoi as far as I found in [proxy-rewrite](http://apisix.apache.org/docs/apisix/plugins/proxy-rewrite/), it seems we haven't support rewriting body yet.

PR's welcome!

[2021-07-09 01:05] xuyancheng24 opened #4568 "request help: The upstream service configures the service name, but the service name corresponds to multiple nodes. Does the health check have any effect?"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.7
* OS (cmd: `uname -a`):Linux 192.168.126.128 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):openresty/1.19.3.1
* etcd version, if have (c

[2021-07-09 01:09] xuyancheng24 opened #4569 "bug: At present, the integration of NACOS is realized through YAML configuration. Can it be dynamically configured on the page later?"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.7
* OS (cmd: `uname -a`):Linux 192.168.126.128 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):1.19.3.1
* etcd version, if have (cmd: run `c

[2021-07-09 01:57] tokers commented on #4569
@xuyancheng24 Do you have some elaborate proposals about this? We can host a discussion in the mail list.

[2021-07-09 01:59] #4547 closed

[2021-07-09 02:44] spacewander commented on #4461
The problem is whether APISIX creates too many timers.
I remember that old APISIX has a bug that stale health checkers are not removed in time. It may cause extra timers.

We can run APISIX 2.7 & APISIX 2.2 under a similar environment and compare the timer they create.

[2021-07-09 03:16] xuyancheng24 commented on #4569
create a new NACOS configuration page and store the configuration information in the ETCD

[2021-07-09 03:38] gxthrj opened #4571 "bug: `Skywalking` plugin can not be enabled both in Global and Route rules."
### Issue description
When`Skywalking` plugin is enabled both in Global and Route rules.
The route will be failed.
[code]
### Environment

* apisix version (cmd: `apisix version`): 2.6
* OS (cmd: `uname -a`): centos 7 and docker

### Minimal test code / Steps to reproduce the issue

Bug report without steps to reproduce will be ignored or closed.

1. Binding `skywalking` plugin in route
[code]
2.

[2021-07-09 06:44] spacewander commented on #4568
This is a test for it: https://github.com/apache/apisix/blob/master/t/node/healthcheck-discovery.t

Please don't submit such a "bug report".

[2021-07-09 06:44] #4568 closed

[2021-07-09 06:45] #1841 closed

[2021-07-09 06:45] #1902 closed

[2021-07-09 06:45] #1911 closed

[2021-07-09 06:45] #1889 closed

[2021-07-09 06:45] #1876 closed

[2021-07-09 06:47] #4532 closed

[2021-07-09 07:09] spacewander commented on #4420
Closed as lack of response.

[2021-07-09 07:09] #4420 closed

[2021-07-09 07:44] #4516 closed

[2021-07-09 12:32] philzhangrui opened #4579 "request help: traffic-split The plug-in does not support graying of parameters in the body at present. I hope it can support it"
#**## **traffic-split**
The plug-in does not support graying of parameters in the body at present. I hope it can support it

[2021-07-10 04:17] tokers commented on #4579
@philzhangrui Support for body parsing is somewhat tricky, as we also need to consider the size of body, the format of body.

Do you have some good suggestions about this?

[2021-07-10 04:19] spacewander commented on #4579
What about writing a plugin run before the traffic-split, and parse the body, convert to the header which can be handled by traffic-split?

[2021-07-10 04:19] tokers commented on #4461
By the way, the consul-kv module creates a timer without delay, especially when APISIX cannot connect to the consul servers, the timer creation speed will be high (also the deletion is quick).

[2021-07-10 04:27] tokers commented on #4569
I think not only for nacos, but configurations for all discovery modules can also be supported to be dynamic, as long as the setting changes during runtime are feasible.

[2021-07-10 05:04] philzhangrui commented on #4579
this is good idea

[2021-07-10 11:24] imlewc commented on #487
Organization: 新片场
Location: Beijing, China
Contact: cc@xinpianchang.com
Scenario: Api Gateway

[2021-07-11 03:41] membphis commented on #4556
@zuiyangqingzhou you can make a try with this patch.

[code]

[2021-07-11 06:04] zuiyangqingzhou opened #4583 "request help: suggestions on improving the default_conn_delay of the limit-conn plugin"
### Issue description
The default_conn_delay of the limit-conn plug-in is used to control the delay of forwarding to upstreams when the connection exceeds a certain threshold, but after actual testing, it is found that this delay time is not strictly in accordance with the configured delay time.

https://github.com/openresty/lua-resty-limit-traffic/blob/master/lib/resty/limit/conn.lua#L98-L101

It

[2021-07-11 14:15] zuiyangqingzhou commented on #4556
great, verified to solve the current problem.

[2021-07-11 16:22] liwenzheng commented on #4530
这是处于保护吗？可是很多时候prometheus在隔壁的host上。

[2021-07-12 00:58] spacewander commented on #4579
https://github.com/apache/apisix/blob/32f9d699a986864612963868d7d23408e3860550/apisix/core/ctx.lua#L54

[2021-07-12 01:47] spacewander commented on #4583
PR is welcome!

[2021-07-12 02:48] tokers commented on #4530
What is the meaning of `隔壁的host`?

[2021-07-12 07:19] leshalv commented on #4397
服务现在还是没有信息，现在用的是2.7.0版本

[2021-07-12 08:38] shoulda opened #4588 "request help: how use lua_shared_dict in t file"
### Issue description
In unit test,i don't know how to use lua_shared_dict,and set value in it. Can you help me?

### Environment
OS:macOS
apisix:2.5

[2021-07-12 09:04] spacewander commented on #4588
Declare it in APISIX.pm and use it normally in the Lua code.

[2021-07-12 09:30] shoulda commented on #4588
ok ,thanks

[2021-07-12 09:31] luciowu-airwallex commented on #4555
@LLLLimbo , Hello,  could you let me know how did you resolve the issue? I also met the same problem. Thanks!

[2021-07-12 09:35] LLLLimbo commented on #4555
Just simply add the following configuration to expose the metrics data to port 9080 . But this behavior has certain risks, please consider carefully。

[code]

[2021-07-12 09:41] #4588 closed

[2021-07-12 11:16] tokers commented on #4397
@leshalv You don't read what I said.

[2021-07-12 12:58] luciowu-airwallex commented on #4555
Thank you very much!!

[2021-07-13 01:24] zhixiang0608 opened #4590 "bug: Grafana中没有数据"
你好，我在Grafana中只有nginx和etcd的数据，没有bandwidth,http
我发现grafana里的`sum(rate(apisix_http_status{service=~"$service",route=~"$route",instance=~"$instance"}[1m])) by (service)`
在源数据中查询并没有返回
![image](https://user-images.githubusercontent.com/46064678/125375713-2049db00-e3bc-11eb-81ef-d9975d7b3a04.png)

[2021-07-13 01:25] zhixiang0608 commented on #4590
version：2.7

[2021-07-13 01:31] spacewander commented on #4590
@Yiyiyimu
Could you have a look when you have free time?

@zhixiang0608
What's the output when you query the prometheus uri in APISIX directly? Does it have any data?

[2021-07-13 01:38] zhixiang0608 commented on #4590
![image](https://user-images.githubusercontent.com/46064678/125376463-a0247500-e3bd-11eb-861f-769167a85cd3.png)
我的源数据中service="",consumer=""都是为空字符串

[2021-07-13 02:02] #3917 closed

[2021-07-13 02:03] zhixiang0608 commented on #4590
我发现这个sql在grafana中是有数据的
histogram_quantile(0.95, sum(rate(apisix_http_latency_bucket{type=~"apisix",service=~"$service",consumer=~"$consumer",node=~"$node"}[5m])) by (le))
我修改了rate里的间隔时间

[2021-07-13 02:03] tokers commented on #4590
@zhixiang0608 Have you ever enabled the Prometheus plugin?

[2021-07-13 02:05] flightefore opened #4592 "bug: Can't submit openid-connect plagin"
### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version, if the

[2021-07-13 02:06] zhixiang0608 commented on #4590
我启用了

[2021-07-13 02:11] tokers commented on #4592
@flightefore What's the content?

[2021-07-13 02:13] starsz commented on #4590
@zhixiang0608 Have you enabled the plugin in route or service or global_rule?

[2021-07-13 02:24] zhixiang0608 commented on #4590
是的，我已经启用了
我把所有时间间隔都设置为2m后，都有数据返回了，谢谢各位~

[2021-07-13 02:25] #4590 closed

[2021-07-13 06:49] #4449 closed

[2021-07-13 07:27] philzhangrui commented on #487
Organization: 微吼
Location: Beijing, China
Contact: 287228249@qq.com
Scenario: Api Gateway

目前在测试阶段

[2021-07-13 07:57] yuhaizr opened #4594 "request help: make init failed"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.7
* OS (cmd: `uname -a`): 2.6.32-754.24.3.el6.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-

[2021-07-13 08:12] tokers commented on #4594
It seems that `lua_callk` is an ABI introduced in Lua/5.3, how did you install the luasocket?

[2021-07-13 08:56] yuhaizr commented on #4594
luasocket 我这边没有去安装，我之前用的 make deps？然后我需要单独安装luasocket ？
还有就是一开始我用的lua是5.3 ，发现不行，我改成了5.1 也是不行

[2021-07-13 12:23] tokers commented on #4594
What about using the luajit carried by openresty?

[2021-07-13 13:10] yuhaizr commented on #4594
我现在用的就是 openresty 自带的 luajit

[2021-07-13 14:45] tzssangglass commented on #4594
I think you need to clean up your environment and re-run `make deps`.

Maybe you ran `make deps` with Lua 5.3 and compiled `socket.so`, even if you switch to Lua 5.1, it will not recompile to generate `socket.so`.

[2021-07-13 14:50] tzssangglass commented on #4397
@leshalv use `curl http://127.0.0.1:9090/v1/discovery/eureka/dump | jq` to dump the eureka. Is this solved now?

[2021-07-13 15:04] tzssangglass commented on #4530
I would also like to know, in this case, is the `INTRANET_IP` set to the ip on the container network where apisix is located? This way, I can access prometheus export from the host using the ip of `INTRANET_IP`?

[2021-07-13 16:20] shuaijinchao commented on #4594
You can try the following steps:
1. rm -rf /apisix-path/deps
2. Recompile and install luarocks and specify the `luajit` header file directory, for example: `./configure --with-lua-include=/openresty-path/luajit/include/luajit-2.1`
3. Enter the apisix directory and re-execute `make deps` to install dependencies

[2021-07-14 02:56] #4571 closed

[2021-07-14 07:34] Qizhd opened #4600 "request help: When does apisix support python to write plugins ？"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
*

[2021-07-14 08:47] hcolde opened #4601 "request help:"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.6
* OS (cmd: `uname -a`):Darwin coldes-MacBook-Air.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):openresty:1.1

[2021-07-14 09:03] zuiyangqingzhou commented on #4583
ok, i will make a try

[2021-07-14 09:35] shoulda opened #4603 "request help: I want to pick_server by decode uri, is there has corresponding plugin?"
### Issue description
I want to pick_server by decode uri, is there has corresponding plugin?
### Environment
OS ：mac os
version: 2.5

[2021-07-14 10:22] qianjunakasumi commented on #4255
追加：
得益于 apisix 的 nginx 配置注入，我们可以通过下列方法实现**不**记录**未成功**的请求

https://stackoverflow.com/questions/19011719/how-to-write-only-logs-with-200-status

[2021-07-14 10:26] shuaijinchao commented on #4601
@hcolde hello, `openid-connect` plugin currently does not support adding multiple user information to a plugin policy. Welcome to submit a PR for improvement.

[2021-07-14 11:27] favorinfo commented on #3268
when using the current version (v2.7), you can just set the dns client opt in apisix/discovery/dns.lua (line 81),
change the origin order {"last", "A", "AAAA", "SRV", "CNAME"} to {"last", "SRV", "A", "AAAA", "CNAME"}
then the port will change to the random port.

[2021-07-14 11:47] tokers commented on #3268
@favorinfo Let's record this problem into another issue? It looks like this is another problem.

[2021-07-14 11:54] tokers commented on #4603
@shoulda No such one, but you can implement a balancer by your own.

[2021-07-14 12:19] yuhaizr commented on #4594
我安装你的方法做了之后，上面的问题解决了，然后又出现了新的问题：

./bin/apisix init
/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init
/usr/local/openresty/luajit/bin/luajit: error loading module 'ssl.core' from file '/usr/local/apisix-2.7/deps/lib/lua/5.1/ssl.so':
        /usr/local/apisix-2.7/deps/lib/lua/5.1/ssl.so: undefined symbol: SSL_CTX_set1_curves_list
stack traceback:
        [C]: at 0x00452d70

[2021-07-15 00:55] tokers commented on #4594
What about removing the ./deps` directory and re-execute `make deps`?

[2021-07-15 01:32] yuhaizr commented on #4594
我就算在删除  deps 目录，之后安装出现这个问题

[2021-07-15 07:28] #4526 closed

[2021-07-15 07:40] yzeng25 commented on #4554
Fixed in PRs linked above, the in-page jumping feature is back to normal in the `next` version.
Ref: http://apisix.apache.org/zh/docs/apisix/next/getting-started#%E7%AC%AC%E4%BA%8C%E6%AD%A5%EF%BC%9A%E5%88%9B%E5%BB%BA%E8%B7%AF%E7%94%B1 and  http://apisix.apache.org/docs/apisix/next/getting-started#step-2-create-a-route

[2021-07-15 07:40] #4554 closed

[2021-07-15 08:27] kongjun01 opened #4609 "request help: Problem forwarding"
### Issue description

I have a domain name: aaa.com wants to proxy directly to bbb.com, by developing the plugin but aaa.com doesn t need to configure information about upstream。

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`)

[2021-07-15 08:52] spacewander commented on #4609
You can configure an upstream with "bbb.com".
[code]

It's impossible to do that without upstream.

[2021-07-15 09:23] #2853 closed

[2021-07-15 09:27] lookbrook commented on #4388
The k8s endpoints discovery is very useful，I think it should be merge into apisix

[2021-07-15 10:04] 850125665 commented on #487
Organization: 数字海南
Location: Haikou, China
Contact: huilin.zeng@digitalhainan.com.cn
Scenario: 开放平台

[2021-07-15 11:41] philzhangrui opened #4611 "bug: response header has duplicate"
### Issue description The header returned by response has duplicate

![微信图片_20210715194502](https://user-images.githubusercontent.com/7685507/125782813-9061b3bc-b465-4e85-b08f-e2a098add6e0.png)

[2021-07-15 13:15] tzssangglass commented on #4611
please give a minimum reproduction use case

[2021-07-16 01:08] spacewander commented on #4611
It is expected. We haven't deduplicated the Apisix-Plugins header yet. See https://github.com/apache/apisix/blob/6af1b69607bfb26bb6b61ec3b8307e2425e1f1c3/t/debug/debug-mode.t#L239

[2021-07-16 01:08] #4611 closed

[2021-07-16 01:10] spacewander commented on #4611
We will refactor the debug feature in the upcoming versions. Things may change at that time.

[2021-07-16 02:53] kongjun01 commented on #4609
thanks, It is resolved. This is my code for the plugin.

[code]

[2021-07-16 02:53] #4609 closed

[2021-07-16 03:48] #4556 closed

[2021-07-16 07:57] philzhangrui opened #4612 "bug: Cannot get $scheme"
### Issue description

"proxy-rewrite": {
      "headers": {
        "X-Forwarded-For": "$proxy_add_x_forwarded_for",
        "X-Real-IP": "$remote_addr",
        "X-Real-SCHEME": "$scheme"
      }
    }

Cannot get  $scheme

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.6
* OS (cmd: `uname -a`):
* OpenResty / N

[2021-07-16 08:13] #4612 closed

[2021-07-16 10:17] jamesislebron opened #4614 "Is there any plan to support routing by judging whether the header exists?"
### Issue description
比如有同样两个host+path+method都一致的路由，想要通过header是否存在，来决定具体走到哪个路由上面，请问目前是否有相关方案支持？

[2021-07-16 15:38] tzssangglass commented on #4614
hi @jamesislebron , take a look at https://github.com/apache/apisix/blob/master/docs/en/latest/router-radixtree.md#how-to-filter-route-by-nginx-builtin-variable.

here is an simple example:
[code]

This route will require the request header `version` equal `1.0.0`.

[2021-07-16 18:10] cgodefroy92 opened #4616 "Keycloak integration"
### Issue description

I am trying to use Keycloak behind an API gateway (Apache APISIX).

I use minikube to run Keycloak and my API gateway.

The gateway is working right and Keycloak too :

With Keycloak, I can use the different end-point (use the discovery end-point (http://127.0.0.1:7070/auth/realms/myrealm/.well-known/uma2-configuration), ask an access token and verify it).

With APISIX, and

[2021-07-17 00:05] yudar1024 opened #4617 "please consider provide binary distrobution on linux and win platform"
like nginx or openresty , can you provide linux and win binary?

[2021-07-17 01:22] yuhaizr opened #4618 "request help:"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.7
* OS (cmd: `uname -a`):2.6.32-754.24.3.el6.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-in

[2021-07-17 04:20] jamesislebron commented on #4614
@tzssangglass 首先感谢你这么快速的解答，但是我的问题和你给出的范例可能略有不同，让我完整的描述一下吧：
1、你提到的这个用法我是了解的，但我的需求不是通过header的value判断是否路由，而是想通过某个header是否存在来判断
2、翻看了一下文档和源码，目前似乎是没有["http_version", "exist"]这种写法的
3、然后看到这里通过nginx builtin var判断支持正则，尝试通过增加规则["http_version", "～=", "[z-aA-Z0-9]{1,}"]来曲线救国，理论上应该是没问题的，但是发现出现bug，当不传header version的时候，http_version的值是nil，理论上正则是过不了的，但是这里还是返回了1，这里应该是个bug：
![image](https://user-images.githubusercon

[2021-07-17 06:54] tzssangglass commented on #4614
I think what you mean is `has` operator, you can also take a look at : https://github.com/api7/lua-resty-expr#operator-list

simple example:

[code]

this request will be caught by the route

[code]

this request will not be caught by the route

[code]

[2021-07-17 09:17] jamesislebron commented on #4614
并不是哈，我希望的效果是：
this request will be caught by the route
`curl -H 'version: 1.0.0' 127.0.0.1:9080/hello`
while this request will not be caught by the route
`curl  127.0.0.1:9080/hello`

[2021-07-17 10:21] jamesislebron commented on #4614
这里的第三点，我给出的信息有误，添加的规则应该是：

`["http_version", "~~", "[z-aA-Z0-9]{1,}"]`

[2021-07-17 10:29] spacewander commented on #4618
Duplicate of #4594

[2021-07-17 10:29] #4618 closed

[2021-07-17 10:30] spacewander commented on #4617
We have rpm for it: https://github.com/apache/apisix/releases/tag/2.7

[2021-07-17 10:59] jamesislebron opened #4619 "bug: regex rules return true when value is `nil` and pattern is `[z-aA-Z0-9]{1,}`"
### Issue description

regex rules return true when value is `nil` and pattern is `[z-aA-Z0-9]{1,}`

### Environment

* apisix version (cmd: `apisix version`): 2.1
* OS (cmd: `uname -a`): centos 7
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):  openresty/1.17.8.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
*

[2021-07-17 11:10] spacewander commented on #4594
What's the output of `nginx -V` and `ldd /usr/local/apisix-2.7/deps/lib/lua/5.1/ssl.so`?

[2021-07-17 12:57] tzssangglass commented on #4619
Please update apisix version to 2.7
The code you pointed out has been fixed in the latest version
Please refer to
https://github.com/api7/lua-resty-expr/blob/48925f4b9afa261d48317dc00834be1709d5dd83/lib/resty/expr/v1.lua#L115-L125

[2021-07-17 14:34] jamesislebron commented on #4619
@tzssangglass
 wow，已经看到，非常感谢🙏

[2021-07-17 14:34] #4619 closed

[2021-07-18 02:19] yudar1024 commented on #4617
still not convenient, eg ubuntu and opensuse :), if it can distrobute like etcd, just a binary and pre-build, it is perfect. and i didn't find the dev guide. can you doc the dev env setup guide? i think that's very helpful.

[2021-07-18 02:43] StretchV opened #4620 "request help: 请问当创建了一个grpc的路由，auth-key这种插件还可以用吗，apisix支持http2的头的读写吗"

[2021-07-18 12:13] tokers commented on #4614
@jamesislebron Try JSON `null`.
[code]

[2021-07-18 12:14] tokers commented on #4620
@StretchV Sure, HTTP/2 was supported by APISIX.

[2021-07-18 12:18] tokers commented on #4616
@cgodefroy92 Could you show the related Route, Upstream configurations of your APISIX?

[2021-07-18 19:12] cgodefroy92 commented on #4616
Hello and thanks for your response.
Here is the curl command I have used to create the route :

The url of the backend in the Kubernetes Cluster is : http://10.110.21.213:8181/greeting (GET method)
The url of the discovery end-point in KeyCloak in the Kubernetes Cluster is : http://10.103.25.28:7070/auth/realms/myrealm/.well-known/uma2-configuration

Regards
CG

[code]

[2021-07-19 01:10] spacewander commented on #4617
The package code is open source: https://github.com/api7/apisix-build-tools#example
We use fpm to build the package, so it is easy to create a deb one.
PR is welcome!

Better to open a new issue for another question.

Do you mean building from source? You can refer to these docs:
https://github.com/apache/apisix/blob/master/docs/en/latest/install-dependencies.md
https://github.com/apache/apisix/bl

[2021-07-19 02:19] tzssangglass commented on #4616
How you pass the token？

[2021-07-19 02:37] ly123-liu opened #4622 "apisixroute 不支持多ns隔离"
版本情况：
* apisix version：2.6
* etcd version: 3.5
* apisix-dashboard version: 2.7

背景：我们在一个k8s集群内部存在多个ns，我们希望每个ns调用各自ns里的服务（ns隔离流量），在测试apisixroute 发现，通过apisixroute增加的配置，默认会加在所有ns下的apisix中

如下图，在prod-test ns下增加apisixroute：  prod-test-ingress-clearonline-apisix-route ， 在tp-perf ns 增加apisixroute： tp-perf-ingress-trade-apisix-route
![image](https://user-images.githubusercontent.com/57338370/126094583-5f1

[2021-07-19 02:51] StretchV commented on #4620
@tokers proxy-mirror这个插件我加到代理grpc的路由上,但是我没有在收集端获取到镜像流量,但是普通的路由是可以收集到的,请问proxy-mirror这个插件不支持grpc路由的镜像拷贝吗

[2021-07-19 02:51] StretchV commented on #4620
@tokers proxy-mirror这个插件我加到代理grpc的路由上,但是我没有在收集端获取到镜像流量,但是普通的路由是可以收集到的,请问proxy-mirror这个插件不支持grpc路由的镜像拷贝吗

[2021-07-19 02:53] StretchV commented on #4620
如果在grpc路由开启auth-key插件,客户端发送的时候是往metadata中加信息就可以了吗

[2021-07-19 03:03] htwdjqr opened #4623 "bug: traffic-split plugin"
### Issue description
启用 traffic-split 做蓝绿发布时，无法正确的转发至规则匹配节点

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.6
* OS (cmd: `uname -a`):Linux apisix 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx vers

[2021-07-19 04:04] gxthrj commented on #4622
If you need to isolate and independently manage APISIX clusters according to the namespace, you can deploy multiple ingress controllers to modify the `kubernetes.app_namespaces` configuration so that each controller only cares about the specified namespace.
ref： https://github.com/apache/apisix-ingress-controller/blob/master/conf/config-default.yaml#L41

About `ingressClass`, we are preparing to s

[2021-07-19 04:11] #4603 closed

[2021-07-19 04:25] spacewander commented on #4623
Can't be reproduced on my side.

The route:
[code]

The wrk script:
[code]

Set up Nginx to listen 1980 but not 1979.

Run curl & wrk:
[code]

[2021-07-19 04:27] spacewander commented on #4565
Can be implemented in a custom plugin.

[2021-07-19 04:27] #4565 closed

[2021-07-19 04:46] yudar1024 opened #4625 "please doc dev env setup guide"
# Improve Docs

Hi apisix team, I try to dev some function for test extend apisix, but I didn't find any dev env setup guide , this is not mean build with source . it means how to setup dev environment, like run lua test and debug the lua in realtime. can you consider to doc this content?

[2021-07-19 06:29] yuhaizr commented on #4594
我重新安装了 openrestry   使用  --with-openssl=/usr/local/openssl1.1.1k  之后可以了。
但是start 的时候遇到新的问题

./bin/apisix start
/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua start
nginx: [error] init_by_lua error: /usr/local/apisix-2.7/apisix/init.lua:65: pcre jit stack allocation failed
stack traceback:
        [C]: in function 'error'
        /usr/local/openresty/lualib/ngx/re.lua:311: in functio

[2021-07-19 06:41] cgodefroy92 commented on #4616
Hello,
The token is generated with this curl. command (where http://127.0.0.1:7070 is url of Keycloak):
[code]

And then I use the token with this curl command (where http://127.0.0.1 is the url of the gateway):

[code]

Thanks for your help.
Regards
CG

[2021-07-19 06:44] spacewander commented on #4625
There are some online resources about OpenResty:
Testing:
https://github.com/openresty/programming-openresty/blob/master/testing/introduction.adoc (English)
https://github.com/iresty/programming-openresty-zh (The Chinese translation)

Misc:
https://github.com/moonbingbing/openresty-best-practices (Chinese)

[2021-07-19 08:29] htwdjqr commented on #4623
现在测试更离谱，所有命中规则的请求都直接转发到路由配置的上游节点了，而不是规则命中的节点。

我的配置如下：

[code]

请求：curl http://127.0.0.1:9080/uc/demo -H "release: new_release"

这个问题有啥排查思路呢？

[2021-07-19 09:15] htwdjqr commented on #4623
找到traffic-split失效的原因了，是因为之前按照https://apisix.apache.org/docs/apisix/plugins/skywalking文档，在config.yaml文件中配置skywalking插件：
[code]
我现在在config.yaml的plugins下面加上traffic-split，插件就生效了。

这个是因为我在config.yaml中配置了plugins，从而导致config-default.yaml中的所有plugins都被覆盖了吗？麻烦解答下疑惑吧

[2021-07-19 10:41] zhongchongan opened #4628 "request help:"
### Issue description
使用脚本为 APISIX 构建 OpenResty，报错：
![image](https://user-images.githubusercontent.com/87646634/126147985-739fbb62-6d6b-4367-9600-acb7a96050a8.png)
这个要怎么解决？
### Environment
centos 7.7
Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V

[2021-07-19 11:35] tokers commented on #4623
Yep, the same configuration item in `config.yaml` will override the same one in `config-default.yaml`.

[2021-07-19 11:40] tokers commented on #4594
Did you use the build script https://raw.githubusercontent.com/api7/apisix-build-tools/master/build-apisix-openresty.sh ?

[2021-07-19 11:46] tokers commented on #4620
Sorry for my carelessness, proxy-mirror currently cannot be used in route which upstream scheme is grpc.

[2021-07-19 11:47] tokers commented on #4620
Not sure which gRPC SDK you use, for grpc-go, you can use [SetHeader](https://pkg.go.dev/google.golang.org/grpc#SetHeader).

[2021-07-19 14:54] StretchV commented on #4620
@tokers 请问，这个函数貌似只能服务端调用吧，客户端调用的话会报 failed to fetch the stream from the context context.Background

[2021-07-19 14:56] StretchV commented on #4620
另外请问grpc的流量镜像目前apisix有实现的方法插件吗，如果没有的话之后是否会考虑制作呢

[2021-07-19 17:06] tzssangglass commented on #4616
@cgodefroy92 can you adjust the log level to debug and look at the log output here https://github.com/apache/apisix/blob/8693756470dca8228aa1a5b83ee3acc3603ed5f5/apisix/plugins/authz-keycloak.lua#L656-L669

[2021-07-19 17:41] cgodefroy92 commented on #4616
Hello,
Unfortunately, as you can see in the joined screen-shot, I don't find the logs you mentioned in your last post...
But I have joined a screen shot of the apy-gateway pod logs, and maybe you will understand what is happened.

Regards
![Capture d’écran 2021-07-19 à 19 39 34](https://user-images.githubusercontent.com/28594536/126203207-2d3e4a81-db0a-451a-8bc1-0c7c6d04ced0.png)
![Capture d’éc

[2021-07-19 19:25] #3879 closed

[2021-07-19 19:26] #4513 closed

[2021-07-20 00:49] tokers commented on #4620
There are some other similar methods, you may try to check out the corresponding documents.

[2021-07-20 00:50] tokers commented on #4620
@StretchV By the way, please use English in public channels.

[2021-07-20 01:37] TravelEngineers opened #4630 "优化Apisix源码编译方式安装脚本"
目前国内一般服务器都有较多网络限制，在未使用k8s或者docker的开发团队，Apisix的源码编译方式需要用脚本去不停的下载外部依赖。这样对于纯内网环境，Apisix在选型调研阶段就会被排除。
类似Nginx或者Openrestry，使用源码编译方式安装时，可以无需依赖外部网络。对于需要不停下载外部依赖的，基本上都直接考虑docker了，很少有人在能使用外部网络的情况下，再去用yum进行安装。

[2021-07-20 02:08] #4623 closed

[2021-07-20 03:14] spacewander commented on #4628
Duplicate of https://github.com/api7/apisix-nginx-module/issues/17

[2021-07-20 03:14] #4628 closed

[2021-07-20 03:44] StretchV commented on #4620
Excuse me,is there a plug-in for apisix to implement the traffic image of grpc? If not, will it be considered later?

[2021-07-20 03:47] spacewander commented on #4630
We have provided rpm and docker installation: https://apisix.apache.org/zh/docs/apisix/how-to-build/#2-%E5%AE%89%E8%A3%85-apache-apisix.

Build from source is mostly only for the development.

[2021-07-20 06:15] tzssangglass commented on #4616
I saw the message: failed to fetch JWT token: authorization header not available. This means that the request headers do not include the `Authorization`.

[2021-07-20 06:20] ArmitageW opened #4631 "request help:"
### Issue description
Can consumers be bound to a specified route? I created two JWT consumers, but I hope that the router can only use one of them, not both.
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if h

[2021-07-20 06:26] cgodefroy92 commented on #4616
I thing that log is just a bad try I have made.
However when I send the Authorization header correctly, I get the "Invalid Bearer token" as you can see in the last two lines of the logs (see the joined screen shot).
The log is :
`plugin.lua:646: run_plugin(): authz-keycloak exits with http status code 401, client: 10.124.1.1, server: _, request: "GET /greeting HTTP/1.1", host: "34.140.23.241:80"`

[2021-07-20 07:26] forcemain opened #4632 "bug: When the service kv does not exist, the fetch timer of consul_kv will fetch service data frantically, resulting in 100% CPU"
当服务kv不存在时consul_kv的fetch timer会疯狂获取服务数据导致CPU 100%

2021/07/20 07:11:55 [error] 42#42: *193170 [lua] consul_kv.lua:329: connect consul: http://10.242.154.205:8500/v1/kv/ by key: /kv/apisix-service-upstreams, got result: null, with error: timeout, context: ngx.timer

目测是因为_M.connect异常后直接再次跳转到:: ERR ::再次尝试_M.connect~ 死循环了

[2021-07-20 07:34] tzssangglass commented on #4616
Sorry, then this should be two questions.

step 1: adjust the log level to debug of apisix: https://github.com/apache/apisix/blob/0a583e8549a3df61ed3927207f9f7e189afea87a/docs/en/latest/FAQ.md#how-to-change-the-log-level

step 2: capture the log here: https://github.com/apache/apisix/blob/8693756470dca8228aa1a5b83ee3acc3603ed5f5/apisix/plugins/authz-keycloak.lua#L656-L669

I think the problem is t

[2021-07-20 07:59] spacewander commented on #4632
What about using exponential backoff with retry instead of retrying immediately?
We can try after 1,4,16,64,256,256,... seconds.

[2021-07-20 08:00] yongboy commented on #4632
This is a bug now :))
I would submit a PR  later to fix it.

And, if you want to avoid the bug at the moment, you should insert some test data into `/apisix-service-upstreams` key space.

[2021-07-20 08:02] forcemain commented on #4632
@yongboy yeah, i see

[2021-07-20 08:04] forcemain commented on #4632
@sbritocorral yeah,  periodic increase  maybe better

[2021-07-20 08:18] nic-chen commented on #4631
@ArmitageW  maybe you could use plugin `consumer-restriction`: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/consumer-restriction.md

[2021-07-20 08:25] ArmitageW commented on #4631
ths

[2021-07-20 08:25] #4631 closed

[2021-07-20 09:07] edisonwd opened #4634 "request help:上游服务中的目标节点设置为 k8s 的 servicename 时指定的负载均衡算法会失效吗？"
### Issue description
![image](https://user-images.githubusercontent.com/25941671/126293333-1376b96b-24b4-4c02-855c-2d2b10789f30.png)

默认情况下 k8s 通过 servicename 找到后端对应的podip ,再轮询选择一个podip，这样的话在 apisix 中指定的负载均衡算法还会生效吗？
### Environment

* apisix version (cmd: `apisix version`): 2.6
* apisix-dashboard version, if have: 2.6

[2021-07-20 09:38] cgodefroy92 commented on #4616
We have activated the keycloak logs and we have the following message. (The IP have change because I am using GKE instead of minikube but I have still the same problem)

Failed to verify identity token: Invalid token issuer. Expected 'http://10.0.11.181:8080/auth/realms/myrealm', but was 'http://34.79.32.119:8080/auth/realms/myrealm'

10.0.11.181 is the internal IP of keycloak in the kubernetes Cl

[2021-07-20 09:45] tzssangglass commented on #4620
please submit another issue, example of title: feature: support for grpc traffic mirroring

[2021-07-20 09:54] StretchV commented on #4620
ok

[2021-07-20 10:03] StretchV commented on #4620
I try to use the 'metadata.AppendToOutgoingContext' method on the client side,eg: "metadata.AppendToOutgoingContext(ctx,"apikey","auth-one")" and I can get the value in metadata through the metadata.FromIncomingContext method on the server side. However, after the "auth-key" plug-in is opened on this grpc route, I will still report a 401 error.I want to know how to do authentication through gatewa

[2021-07-20 10:05] StretchV commented on #4620
I have never figured out how to use this method on the client side

[2021-07-20 10:09] StretchV opened #4635 "request help: How to achieve traffic image in grpc routing"

[2021-07-20 11:04] StretchV commented on #4620
哦,问题解决了,是因为我的消费者是在apisix-dashboad中创建的,但是不知道为什么看着是有数据的但是没有生效,我通过adminapi重新生成了一个消费者后来重试就可以了,

[2021-07-20 11:04] #4620 closed

[2021-07-20 11:30] tokers commented on #4635
@StretchV Could you explain the `traffic image` more elaborate?

[2021-07-20 11:33] tokers commented on #4634
@edisonwd As you just configure the FQDN or Service ClusterIP, there is only one node in the APISIX Upstream, so any load balancing algorithms are meaningless here.

[2021-07-20 11:34] tokers commented on #4632
Agree, currently, the next timer will be created at once.

[2021-07-20 11:40] edisonwd commented on #4634
如果要使用这里的负载均衡算法，目标节点写 podip 吗？有很多 pod ，重新调度后 podip 会发生变化，这里应该怎么指定目标节点？

[2021-07-20 11:41] edisonwd commented on #4634
如果要使用这里的负载均衡算法，目标节点写 podip 吗？有很多 pod ，重新调度后 podip 会发生变化，这里应该怎么指定目标节点？

[2021-07-20 11:48] tokers commented on #4634
Welcome to use Apache APISIX Ingress Controller https://github.com/apache/apisix-ingress-controller. It's not easy to adjust the Kubernetes Service Discovery just by APISIX.

[2021-07-20 12:02] edisonwd commented on #4634
如果配置ingress 的域名，它使用是 ingress 的负载均衡算法，这里的负载均衡依然不会生效吧。这里只有在配置多个目标节点的情况下才会使用这里的负载均衡算法对吧？

[2021-07-20 12:09] BlackGhostKing opened #4636 "bug: install apisix from source code"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):  2.7
* OS (cmd: `uname -a`): ubuntu16.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-i

[2021-07-20 14:34] tzssangglass commented on #4616
I think modifying apisix is useless because apisix is not responsible for generating or verifying tokens.

[code]

is a jwt, the decoded payload is

[code]

obviously, `34.79.32.119` was constructed when the jwt was generated, so `34.79.32.119` should also be used as the ip when verifying. or is there any way to use `10.0.11.181` when generating jwt.

[2021-07-20 15:17] cgodefroy92 commented on #4616
Thanks for your help. I understand that the IPs should be the same in order to make the Keycloak authentication with the jwt token works.
However I don't understand how to to do that. The only way I have found for the moment is by configuring the public IP of the Keycloak service in the APISIX route for the discovery end-point of the authz-keycloak plugin. I think it is not a good practice. I woul

[2021-07-20 16:22] tzssangglass commented on #4616
I don't have any ideas either. What I can think of is to control the keyclock so that it doesn't check the ip.

[2021-07-20 16:25] tzssangglass commented on #4634
yes.

[2021-07-20 16:29] cgodefroy92 commented on #4616
I have found how to force the value of the iss field in the jwt token. It is a configuration on the keycloak side  :  on the realm it is possible to set a "front-end" url which will be use to calculate the iss value field.

By this way, all works fine!

![Capture d’écran 2021-07-20 à 18 10 24](https://user-images.githubusercontent.com/28594536/126361073-c55d5e76-f1a6-4b3b-9d1d-37759b172124.png)

[2021-07-20 16:29] #4616 closed

[2021-07-21 00:59] tokers commented on #4636
@BlackGhostKing Try to use [this script](https://github.com/apache/apisix/blob/master/utils/linux-install-luarocks.sh) to re-install your luarocks command line tool.

[2021-07-21 01:36] #4634 closed

[2021-07-21 01:48] izayoi-akira opened #4638 "bug: proxy-rewrite concurrent request agent error"
### Issue description
There are a number of routes configured  with  proxy-rewrite URI Override Static New Path:
proxy url  　－　original url
apisix.demo.com/oauth.verify/1.0.0 　－　serverA/api/oauth/verify
apisix.demo.com/serv.XxxCCMXProd/1.0 　－　serverB/api/common/cust/XxxCCMX

Other serverB routes are similar to above:
apisix.demo.com/serv.Foo/1.0 　－　serverB/api/common/cust/Foo

route json(created b

[2021-07-21 02:35] mytsing520 opened #4639 "wrong description in certificate.md"
File:
apisix/docs/zh/latest/certificate.md

Wrong Description:
一个 SSL 证书的域名也可能包含泛域名，如*.test.com，它代表所有以test.com结尾的域名都可以使用该证书。 比如*.test.com，可以匹配 www.test.com、mail.test.com甚至a.b.test.com。

Modification Suggestion:
remove "甚至a.b.test.com".

[2021-07-21 02:36] spacewander commented on #4639
PR is welcome!

[2021-07-21 06:18] StretchV commented on #4635
proxy-mirror this plugin

[2021-07-21 06:46] RhnSharma commented on #4639
I would like to take this one. Is it up for grabs?

[2021-07-21 07:14] philzhangrui opened #4642 "request help: lua redis problem"
### Issue description

I wrote a plug-in to imitate limit Conn, mainly to replace the shared memory with redis. I encountered some problems. 1. The connection problem of redis 2. Living without con, redis without link,
@membphis

code
[file.zip](https://github.com/apache/apisix/files/6853488/file.zip)

Please give me some guidance

### Environment

Request help without environment information will

[2021-07-21 10:25] tzssangglass commented on #4635
You mean proxy-mirror supports the grpc protocol, right?

[2021-07-21 11:04] tokers commented on #4642
@philzhangrui Please just paste the code instead of uploading a file, it's not friendly for mobile users.

[2021-07-21 11:14] tokers commented on #4638
@izayoi-akira Could you paste all the routes? I didn't find the route definition for `/serv.XxxCCMXProd/1.0`.

[2021-07-21 12:51] zuiyangqingzhou opened #4643 "request help: can apisix be prioritized to upstream in the same area?"
### Issue description
We currently have three AZ, the three nodes of the Apisix cluster are deployed in these three AZ, and our upstream services are also deployed in these three AZ, and how can Apisix prioritize to the same AZ's upstream service?

[2021-07-21 13:09] spacewander commented on #4643
You can write your own balancer with AZ in the metadata: https://github.com/apache/apisix/pull/4605

[2021-07-21 13:16] #4324 closed

[2021-07-21 13:16] spacewander commented on #4318
Closed as lack of response.

[2021-07-21 13:16] #4318 closed

[2021-07-21 13:18] spacewander commented on #4177
The answer is yes.

[2021-07-21 13:18] #4177 closed

[2021-07-21 13:20] spacewander commented on #4489
Closed as lack of response.

[2021-07-21 13:20] #4489 closed

[2021-07-21 13:34] StretchV commented on #4635
yes,how to  do that?

[2021-07-21 13:44] StretchV opened #4644 "request help: Excuse me, can we track the grpc traffic in Intranet by using apisix?"

[2021-07-21 13:57] tzssangglass commented on #4644
what `in Intranet` mean, please describe the problem in detail, this question is too vague.

[2021-07-21 14:01] tzssangglass commented on #4642
you should describe these two issues in detail.
for example, what is the problem performance and what do you expect.

[2021-07-21 14:10] StretchV commented on #4644
就是追踪流量，因为内网都是通过grpc请求的，我不确定用apisix代理了所有内网的grpc服务端，有没有方法可以像sidecar那样做到流量打点然后追踪甚至拓扑出完整的流量图

[2021-07-21 14:10] StretchV commented on #4644
就是追踪流量，因为内网都是通过grpc请求的，我不确定用apisix代理了所有内网的grpc服务端，有没有方法可以像sidecar那样做到流量打点然后追踪甚至拓扑出完整的流量图

[2021-07-21 15:17] philzhangrui commented on #4642
Well, to imitate limit Conn, you need to execute the redis command twice. I want to know if you have similar examples. I can imitate them

[2021-07-21 16:21] cgodefroy92 commented on #4616
In fact the issue was not solved because forcing the Frontend URL in Keycloak to the kubernetes internal URL is a problem when we try to code a front-end. (The front-end url of the keycloak login page became http://10.0.0.11.181:8080 which is not a public url reachable from outside the kubernetes cluster)

The only solution is to use the public IP of keycloak in the iss field of the token and find

[2021-07-21 18:14] cgodefroy92 opened #4645 "Keycloak integration"
Hello,
I re-open the case since it was closed because I believed I have found the solution.

The previous case is this one : https://github.com/apache/apisix/issues/4616

As a reminder, I would like to achieve the following architecture with APISIX and keycloak :
![Capture d’écran 2021-07-20 à 17 17 30](https://user-images.githubusercontent.com/28594536/126538913-90725d5f-cd4f-4db4-bd6f-360eb1b9

[2021-07-22 00:54] spacewander commented on #4645
Look like it's a bug report of APISIX?

[2021-07-22 01:51] monyuan opened #4647 "request help: 如何给网关绑定一个域名"
如何给网关绑定一个域名，未看到相关的文档。
用nginx反代到127.0.0.1:9080是否可行

[2021-07-22 01:53] tokers commented on #4647
It depends on your DNS management system to add some records for the APISIX cluster.

[2021-07-22 01:55] tokers commented on #4644
See the tracing-related plugins of APISIX, like SkyWalking and Zipkin.

[2021-07-22 01:59] monyuan commented on #4647
@tokers 现在我已经将 a.com 域名解析到了安装apisix的服务器，apisix监听的是0.0.0.0:9080，我应该通过什么方法将其关联，谢谢！

[2021-07-22 02:01] tokers commented on #4647
@monyuan You don't give the context about your scenario, I don't know what is the meaning of "关联", I don't know which component will work together with APISIX. Please give elaborate information about your problem, thanks!

[2021-07-22 02:07] monyuan commented on #4647
@tokers 现在我已经安装了apisix，网关的地址为 ： 120.55.32.655:9080。  但是我不想使用IP访问这个网关，需要使用域名代替。

我已经将 a.com 解析到了此台服务器，如何 将 a.com 映射到  120.55.32.655:9080。

谢谢

[2021-07-22 02:24] itw-hewb opened #4648 "配置nacos 时提示 {"error_msg":"invalid configuration: property \"upstream\" validation failed: additional properties forbidden, found service_name"}"
使用的apisix 是 2.6的版本  碰到以下问题 如图
![image](https://user-images.githubusercontent.com/22789061/126582273-5f17b5de-586c-477b-8393-7882fa8e813d.png)

[2021-07-22 02:24] kuberxy opened #4649 "request help: Why is the request forwarded to an unhealthy node"
### Issue description
What is the difference between an active health check and a passive health check that you implement? Is there a detailed documentation?

The following is my uptream configuration:
[code]
With this configuration, requests are forwarded to unhealthy nodes when the backend node network does not work.
Do both active and passive checks have to exist?

### Environment
* apisix vers

[2021-07-22 02:29] spacewander commented on #4648
The `Server` doesn't indicate it is APISIX 2.6.
Can you provide a plain text error report?

[2021-07-22 02:30] #4630 closed

[2021-07-22 02:30] #4625 closed

[2021-07-22 02:30] #4617 closed

[2021-07-22 02:31] spacewander commented on #3268
Close to avoid being hijacked.

[2021-07-22 02:31] #3268 closed

[2021-07-22 02:53] itw-hewb commented on #4648
这是我的版本apisix version
/usr/local/openresty/luajit/bin/luajit /usr/local/apisix/apisix/cli/apisix.lua version
2.6
这是错误信息

curl http://127.0.0.1:9080/apisix/admin/routes -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X POST -i -d '
 {
     "uri": "/testNacos/*",
     "name": "testNacos",
     "upstream": {
         "service_name": "APISIX-NACOS",
         "type": "roundrobin",
         "discovery_

[2021-07-22 03:03] #4647 closed

[2021-07-22 03:05] spacewander commented on #4649
I try to reproduce with:
[code]

Only the first few requests hit port 8080. After `8080` is marked as unhealthy, like:

[code]

every request hit port 1980 only.

Here is my result:
[code]

You can check the error log and decrease the log level or add more logs to see what happened indeed.

[2021-07-22 03:15] spacewander commented on #4648
Please ensure you are using APISIX 2.6.
Here is my result:
[code]

The response header is quite different.

[2021-07-22 03:19] itw-hewb commented on #4648
因此我也很疑惑 是否与我最开始从2.5版本直接升级到2.6版本有关系?

[2021-07-22 07:47] jamesislebron commented on #4614
@tokers It seems that apisix can not support `null` param, while the `"!", "equal"` oprator may should be `~=` ?

[2021-07-22 09:48] zuiyangqingzhou commented on #4643
Does the load balancing algorithm EWMA can achieve the same effect?

[2021-07-22 09:58] itw-hewb opened #4653 "正确的路由一段时间后{"error_msg":"failed to match any routes"}"
apisix version：2.6
route配置:{
  "uri": "/nacos/*",
  "name": "tnacos",
  "plugins": {
    "proxy-rewrite": {
      "headers": {
        "Referer": "http://test.oan.zhiyinlou.com/"
      },
      "regex_uri": [
        "^/nacos/(.*)",
        "/$1"
      ]
    },
    "skywalking": {
      "sample_ratio": 1
    }
  },
  "upstream": {
    "type": "roundrobin",
    "hash_on": "vars",
    "scheme": "htt

[2021-07-22 09:59] #4648 closed

[2021-07-22 10:59] tokers commented on #4653
@itw-hewb Any abnormal logs in the error log file of APISIX?

[2021-07-22 11:00] tokers commented on #4614
Try look this one for details https://github.com/api7/lua-resty-expr.

[2021-07-22 11:03] itw-hewb commented on #4653
![image](https://user-images.githubusercontent.com/22789061/126629439-d660acc2-1d95-463b-b953-17b91ad903f8.png)
这是日志

[2021-07-22 11:13] cgodefroy92 commented on #4645
I am not sure, that's why i aks the question. Maybe the problem is well-known and we can configure something in APISIX to forward to keycloak the X-forwarded header...

[2021-07-22 15:03] tzssangglass commented on #4614
@jamesislebron Please update apisix to the latest version, `make deps` to introduce the latest dependencies, and test

[code]

[2021-07-22 15:04] tzssangglass commented on #4643
no.

[2021-07-22 15:17] tzssangglass commented on #4649
here: https://github.com/apache/apisix/blob/master/docs/en/latest/health-check.md

no need, but your configuration will turn on the default passive health check.

you can set `log_level` to `debug` to get more logs about the health changes of the nodes.

[2021-07-22 15:27] tzssangglass commented on #4653
I'm surprised because the 404 exception message was already changed in this PR:https://github.com/apache/apisix/pull/2304, form `"failed to match any routes"` to `"404 Route Not Found"`, please check the version of apisix or if the request was sent to a lower version of apisix.

[2021-07-22 16:28] jamesislebron commented on #4614
I Have already test ok by this way.
But I it may be awesome to add a op like `exits` in https://github.com/api7/lua-resty-expr .
Thanks a lot for your reply .

[2021-07-22 16:28] #4614 closed

[2021-07-22 20:10] #4639 closed

[2021-07-23 01:03] spacewander commented on #4645
Do you mean adding these two headers to:
https://github.com/apache/apisix/blob/aa7ecfafd7fc036b555014418dedb7fd4be1815e/apisix/plugins/authz-keycloak.lua#L165

before sending requests to keycloak?

[2021-07-23 01:44] izayoi-akira commented on #4638
The problem has already been settled with update apisix2.6
serverB route definitions  all similar to above:
[code]
/api/common/cust/xxxxx  => /serv.xxxxx/1.0

[2021-07-23 01:44] #4638 closed

[2021-07-23 01:54] spacewander commented on #2720
Solved by https://github.com/apache/apisix/pull/4640

[2021-07-23 01:54] #2720 closed

[2021-07-23 02:02] #3082 closed

[2021-07-23 02:02] #2711 closed

[2021-07-23 02:03] spacewander commented on #2748
Already done.

[2021-07-23 02:03] #2748 closed

[2021-07-23 02:06] spacewander commented on #3161
Already done.

[2021-07-23 02:06] #3161 closed

[2021-07-23 02:06] #3062 closed

[2021-07-23 02:21] itw-hewb commented on #4653
这是我的apisix 版本
![image](https://user-images.githubusercontent.com/22789061/126730589-da8029c4-8d13-4684-8db8-656959e02f41.png)

[2021-07-23 02:36] kuberxy commented on #4649
@spacewander  @tzssangglass  thanks.
in my environment, after one node goes down, other nodes have a certain load, which affects the health check (thinking that all nodes are unavailable), causing requests to be forwarded to the down node.
my error log like this:
[code]

[2021-07-23 02:37] xujiesh0510 opened #4656 "request help: 关于上游异常的处理"
### Issue description

### Environment
* apisix version  apisix:2.4  docker 镜像

上游如果报403 http 状态码，网关先会返回302，然后接着 返回 500 错误

![image](https://user-images.githubusercontent.com/10271679/126731549-5060d34f-b0e3-430a-af52-154146189bf3.png)

下图是 302 响应
![image](https://user-images.githubusercontent.com/10271679/126732080-50b46ed9-3dfe-4f2b-bd1c-731958ab74c1.png)

这个是apisix 的行为么？如果是，能更改么？

我想改成透明的，直接返回4

[2021-07-23 03:08] tzssangglass commented on #4653
you can set `log_level` to `debug` to get `"failed to match any routes"` in error.log of APISIX 2.6.
I wanted to see if it would be in the log.

[2021-07-23 03:12] tzssangglass commented on #4649
You can see this log. When all nodes are unhealthy, APISIX reverts back to the default load balance mode, does not care about the node health status. Because there are no healthy nodes available anymore.

[2021-07-23 03:21] itw-hewb commented on #4653
这是我的配置
![image](https://user-images.githubusercontent.com/22789061/126733434-857b3fa3-bd61-4c24-9847-fafc0bc0e099.png)
debug 模式已经启动
这是日志情况 这是正确的情况
![image](https://user-images.githubusercontent.com/22789061/126733937-6d3ff6d5-eff4-4156-8784-0d08918917a6.png)
令人惊讶的是 这种情况不是立马出现 是要等待一个不确定的 时间后出现的 我现在就在等这个问题的出现 稍等 附上日志

[2021-07-23 03:25] itw-hewb commented on #4653
这是是异常后的日志
![image](https://user-images.githubusercontent.com/22789061/126734207-5793776f-7f01-4b73-a935-7d3675c537c3.png)

[2021-07-23 03:28] #4656 closed

[2021-07-23 03:41] tzssangglass commented on #4653
can you find `"failed to match any routes"` in error.log?

[2021-07-23 04:16] kuberxy commented on #4649
What is the scope of the default load balancing mode, is it a single request, or a period of time?

[2021-07-23 04:50] tzssangglass commented on #4653
I checked the logs and didn't find anything wrong. Make sure you are using the routing [ttl](https://github.com/apache/apisix/blob/master/docs/zh/latest/admin-api.md#url-%E8%AF%B7%E6%B1%82%E5%8F%82%E6%95%B0).

And I still wonder, `"failed to match any routes"` should not appear in APISIX 2.6.

[2021-07-23 05:19] spacewander commented on #4649
There is no so-called "default load balancing mode". We just ignore the health info.

Here is the doc:

https://apisix.apache.org/docs/apisix/health-check

Here is the code:
https://github.com/apache/apisix/blob/aa7ecfafd7fc036b555014418dedb7fd4be1815e/apisix/balancer.lua#L84-L94

[2021-07-23 07:04] kuberxy commented on #4649
Is apisix sensitive to disk IO? If a certain CPU wait (not very high) occurs, the request is forwarded to unhealthy nodes.

[2021-07-23 07:24] zuiyangqingzhou commented on #4643
Can you explain why?

My needs is that the APISIX is prioritized to reach the low latency upstream,  apisix and upstream in the same AZ will have a lower delay than if they are not in the same AZ.

 The EWMA algorithm preferentially forwards the packets to the nodes with lower latency

Is there something wrong with my understanding？ @tzssangglass  @spacewander

[2021-07-23 07:50] spacewander commented on #4643
EWMA prefers but does not guarantee to choose the node with the lowest latency. There is some random stuff inside of it.

[2021-07-23 08:43] tokers commented on #4653
I found a log entry "failed to fetch data from etcd: failed to read etcd dir", it should be unexpected and might affect the routes.

[2021-07-23 08:56] tokers commented on #4649
Only write the error log messages to file will be related to the disk IO, but it by no means of affecting the decision of load balancer.

[2021-07-23 09:33] itw-hewb commented on #4653
有可能，为什么会有这个？我检查了我的etcd   都是正常的

[2021-07-23 10:53] kuberxy commented on #4649
I know why my request is forwarded to unhealthy nodes.

My nginx and tomcat are running in Pod and use hostPort to expose ports.

My Pod network is in Flannel VXLAN mode.

When the node is down and restarted, the policy of the FORWARD chain in ipables becomes DROP.

In this case, the request sent to the down node is hung and no connection refused is returned. like this:
[code]
At this time, there

[2021-07-24 00:48] zuiyangqingzhou commented on #4643
I see. Thanks for your patience  @spacewander

[2021-07-24 02:18] #4643 closed

[2021-07-24 10:47] tokers commented on #4653
Hard to answer it, could you capture some network packets between APISIX and ETCD?

[2021-07-25 17:15] pawarjayesh1985 opened #4667 "bug: Getting 502 Bad Gateway issue"
### Issue description
I have created simple route and upstream configuration. as follows:

Created route:

{
  "uri": "/order",
  "name": "",
  "host": "localhost",
  "upstream_id": "1",
  "status": 1
}

Created Upstream:
{
  "nodes": [
    {
      "host": "localhost",
      "port": 9181,
      "weight": 1
    }
  ],
  "timeout": {
    "connect": 6,
    "read": 6,
    "send": 6
  },
  "type": "rou

[2021-07-26 00:52] tokers commented on #4667
What's the result if you send requests to the upstream directly?

[2021-07-26 00:55] #4649 closed

[2021-07-26 06:16] tzssangglass opened #4672 "question: Proxy static files with APISIX, how to configure routes"
Proxy static files with Nginx, for example:

[code]

In `nginx.conf`, this means matching requests with js, css, etc. as a suffix. This configuration can be converted into a route with regular matching for APISIX, for example:

[code]

[2021-07-26 09:40] philzhangrui commented on #4642
In the log phase, sockets are not allowed

[2021-07-26 11:10] tokers commented on #4642
Spawn a timer to do that in the log phase.

[2021-07-26 11:36] rushitote opened #4674 "Proposal: Addition of an authorization plugin"
## Background

Hi, we have been developing `casbin-authz` plugin for APISIX based on [Lua Casbin](https://github.com/casbin/lua-casbin/) which is the Lua implementation of the [Casbin](https://casbin.org/) library. Casbin is an authorization library which supports access control models like ACL, RBAC and ABAC. `casbin-authz` is a plugin for APISIX that enables authorization based on Casbin. The in

[2021-07-26 11:39] philzhangrui opened #4675 "request help: Write your own plug-ins to improve performance"
### Issue description

Request the current route. If the quantity is not reached, directly return a value. If it is reached, put it into the redis queue and return a value. If the redis queue reaches a certain quantity, return a value. This value is directly returned in the body

[code]

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd

[2021-07-26 12:58] pawarjayesh1985 commented on #4667
@tokers  :  below are the details.

$ curl -i -X GET "http://localhost:9181/order"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    16  100    16    0     0     16      0  0:00:01 --:--:--  0:00:01   516HTTP/1.1 200
Content-Type: text/plain;charset=UTF-8
Content-Length: 16
Date: Mon,

[2021-07-27 01:10] spacewander commented on #4674
LGTM. There are three minor issues:
1. `local plugin_name = "apisix-authz"` should be `local plugin_name = "casbin-authz"`
2. we don't need ` type = 'auth'` as it doesn't interact with consumers
3. Use underline style name instead of camel case, like `get_policy` but not `getPolicy`

[2021-07-27 01:12] spacewander commented on #4674
We already have `authz-keycloak`, what about using name `authz-casbin`?

[2021-07-27 01:17] hsluoyz commented on #4674
@spacewander thanks! `authz-casbin` would be good.

[2021-07-27 01:32] tokers commented on #4674
Just one question, So if people want to use this plugin when they deploy their Apache APISIX cluster on Kuberentes, we may have to prepare an image which contains the policy file and the mode configuration. Or, we should support to mount such files when they run the container, say, we can expose such configurations items in the [helm chart](https://github.com/apache/apisix-helm-chart).

In additio

[2021-07-27 01:38] tokers commented on #4667
Are there any error logs in the error.log file of Apache APISIX?

[2021-07-27 04:03] guoqqqi opened #4679 "bug: Refreshing the page after closing the 200 contributor guide causes flickering"
### Issue description
The pop-up window at the bottom right corner of the current home page of the official website will flash when the page is refreshed after being closed manually.

### Environment

Bug report without environment information will be ignored or closed.

* M1

### Minimal test code / Steps to reproduce the issue

Bug report without steps to reproduce will be ignored or closed.

1.

[2021-07-27 04:44] #4679 closed

[2021-07-27 05:54] tao12345666333 commented on #4388
I agree. @adugeek would you like to add a `kubernetes` discovery plugin for Apache APISIX?

[2021-07-27 06:03] pawarjayesh1985 commented on #4667
2021/07/26 13:04:13 [warn] 47#47: *8 [lua] plugin.lua:173: load(): new plugins: {"ext-plugin-pre-req":true,"batch-requests":true,"proxy-cache":true,"fault-injection":true,"request-validation":true,"api-breaker":true,"limit-count":true,"ip-restriction":true,"udp-logger":true,"consumer-restriction":true,"limit-req":true,"serverless-pre-function":true,"uri-blocker":true,"authz-keycloak":true,"grpc-tr

[2021-07-27 06:17] liuxiran opened #4680 "bug: It should return 400 when update consumer with mismatched username in path and body"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.7
* OS (cmd: `uname -a`): Darwin Kernel Version 20.3.0
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-

[2021-07-27 06:35] spacewander commented on #4680
Yes. We can add similar check like
https://github.com/apache/apisix/blob/20df78432dc9447c7a1c2f63c1cd53a1a641a3fa/apisix/admin/routes.lua#L46

PR is welcome!

[2021-07-27 06:45] liuxiran commented on #4680
Thanks a lot~

[2021-07-27 06:59] rushitote commented on #4674
1. Yes, I will change that to `authz-casbin`.
2. Right, I will remove it then and change the running phase to access.
3. Yes, I will fix this and make style more consistent.

Thanks!

[2021-07-27 07:06] rushitote commented on #4674
@tokers

I had the same thought when developing this, so in its current stage they would have to have their model/policy files across all nodes. But, I am not very sure which option could be better.

We can add support to write literal policies/models directly into config but I am not sure if this will be convenient if the policy file is large (say 1000 policies or so), still this would be a good

[2021-07-27 08:29] spacewander commented on #4674
@rushitote
What about using plugin-metadata to set up the policy: https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#plugin-metadata? The plugin metadata is stored in etcd

[2021-07-27 08:50] tzssangglass commented on #4667
This log is clear, no connection can be established with upstream, you should troubleshoot network connectivity issues within your environment.

[2021-07-27 10:09] tokers commented on #4674
+1, that'd would be better.

[2021-07-27 10:12] rushitote commented on #4674
@spacewander

That is a great option, we could use that!

[2021-07-27 10:35] xtechcloud-admin opened #4682 "bug: [405 Not Allowed] in grpc-transcode"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): apache/apisix:2.7-alpine (docker image)
* OS (cmd: `uname -a`): Ubuntu 20.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server

[2021-07-27 11:36] nanamikon opened #4683 "request help: How to filter node according to the metadata in the balance phase"
### Issue description
Sometimes,  we should shield traffic immediately ，  for example， a dedicated network  occurs an exception。
We can shield nodes in the specific idc  marked by the metadata to recovery at once。

So I think global plugin is a good choice to do this， but I have  to modify the balance.lua,  such as passing plugin conf to *create_server_picker* and so on.

Now I find that new balan

[2021-07-27 12:29] ryan4yin opened #4684 "request help: traffic-split 插件切量的比例什么情况下会不准确？波动有多大？"
### Issue description

traffic-split 插件中的这句话是什么意思？
[code]

是说 traffic-split 流量切分可能会波动？哪些情况会重置 wrr 状态？对切量有什么影响？

[2021-07-27 13:01] tzssangglass commented on #4683
I think it's better.

[2021-07-27 13:34] ryan4yin opened #4685 "bug: apisix retries the requests when set upstream's `retries=0`"
### Issue description

when I set the upstreams's `retries=0` to disable the retry mechanism, the access_log shows that apisix retries many times.

access_log by example:

[code]

### Environment

use official docker image: `apache/apisix:2.5-alpine`

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): `Linux apisix-6f65f5bc9-km66f 4.14.209-160.335.amzn2.x86_64 #1 SMP Wed Dec 2 2

[2021-07-28 01:07] spacewander commented on #4683
+1
The node metadata is designed to work with user-defined balancer.

[2021-07-28 01:08] tokers commented on #4684
The WRR state will be reset if the configuration of traffic split was changed.

[2021-07-28 01:21] tzssangglass commented on #4685
`access.log` is the log of client requests. For the retry, you should show the `error.log`.

[2021-07-28 01:36] tokers commented on #4685
Is `172.11.160.26` the host address in production? It's not matched with the one in access.log.

[2021-07-28 02:19] ryan4yin commented on #4685
sorry I confirm the address, it's matched `10.100.156.166` in access.log.

[2021-07-28 02:21] ryan4yin commented on #4685
@tzssangglass will retry print log in error.log? any example logs?

[2021-07-28 02:33] billdegithub opened #4688 "request help: apisix-dashboard Request Error Code: 2000001 The manager-api and apache apisix are mismatched."
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): apisix-2.7-0.x86_64.rpm
* OS (cmd: `uname -a`): centos 3.10.0-1160.11.1.el7.x86_64 #1 SMP Fri Dec 18 16:34:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.

[2021-07-28 02:42] nanamikon commented on #4683
Thanks for suggestion,  if I perfer to  create a new balance type ,  the following issues have to be solved
1. I have to modify the new function of balance type implements,  because I have to pass plugin conf for determining which node to be shielded
And then I have to modify balance.lua to pass plugin conf too.
2.  Idc Traffic shield is a global feature，  and I think it is not related with specia

[2021-07-28 02:45] tzssangglass commented on #4685
take a look at this two test cases:https://github.com/apache/apisix/blob/1ab12ac2b0173f511e2427e3896df0154fdd34fd/t/node/upstream-retries.t#L170-L211

[2021-07-28 03:34] lihuawei321 opened #4689 "apisix use skywalking plugin no return"
When I open the skywalking plugin,return: " curl: (52) Empty reply from server".

[2021-07-28 03:48] spacewander commented on #4689
Bug report without environment information will be ignored or closed. Please open a new one with enough information. Thank you for your cooperation.

[2021-07-28 03:48] #4689 closed

[2021-07-28 08:32] spacewander commented on #4683
The balancer belongs to Upstream, while plugin config belongs to Route. If multiple routes have the same upstream, filter the nodes with plugin config when creating balancer is not correct. We need to filter it in the balancer's `get(ctx)` method, which already can access plugin config via ctx.

[2021-07-28 09:32] #4684 closed

[2021-07-28 09:37] ryan4yin commented on #4685
we have repruduce this using nginx 1.19.3, it's the behavior of nginx upstream,
the 502 indicates nginx failed to read data from upstream, we found the corresponding log in `error.log`(I mocked some infos):

[code]

[2021-07-28 09:38] #4685 closed

[2021-07-28 10:16] iSuperCoder opened #4691 "bug: INTERNAL: gRPC frame header malformed: reserved bits not zero,with grpc-transcode"
### Issue description

I'm researching apisix.

Apisix-docker example in Mac Docker.

The grpc-transcode plugin  looks leaky.

### Environment

* apisix version (cmd: `apisix version`):2.6
* OS (cmd: `uname -a`):linux/amd64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info

[2021-07-28 10:53] tokers commented on #4691
@iSuperCoder Could you adjust the error log level and paste more related error.log about the loading of proto?

[2021-07-29 00:48] membphis opened #4693 "docs: change the key used in the example to avoid ambiguity."
file path: docs/en/latest/getting-started.md

![image](https://user-images.githubusercontent.com/6814606/127414300-5e48a70a-db9b-40d8-b278-f7169f5511fb.png)

[2021-07-29 02:07] nanamikon commented on #4328
Do you need this feature?
https://github.com/apache/apisix/blob/master/docs/zh/latest/admin-api.md#route
![image](https://user-images.githubusercontent.com/2010632/127419802-638b7026-9ab1-402a-8c33-f2b8480d35cc.png)

You can define a vars matching for your header,   so that you request can be forward to the route。

if you want to separate api group,   may be adding a prefix to the route key work w

[2021-07-29 02:57] StretchV opened #4695 "request help: How to do that make apisix not strictly abide by the SNI protocol"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.5

When the HTTPS passes Alibaba cloud's WAF, the SNI protocol is lost and apisix directly reports an error of sni

[2021-07-29 03:00] StretchV commented on #4644
thankyou

[2021-07-29 03:00] #4644 closed

[2021-07-29 03:09] #4693 closed

[2021-07-29 03:12] spacewander commented on #4695
This is a known bug of aliyun's WAF. It doesn't proxy the SNI even in 2021.

[2021-07-29 03:15] StretchV commented on #4695
Can apisix add a switch to control whether apixis is strictly SNI

[2021-07-29 03:16] spacewander commented on #4695
My suggestion is to use another cloud vendor which WAF works in a modern way. It's **technically impossible** to load certificates dynamically without knowing the SNI, unless you can deploy your own TLS handshake protocol.

[2021-07-29 03:19] StretchV commented on #4695
There are many historical reasons why the exchange WAF cost is too high,What I mean is to return a default without getting SNI instead of directly returning it, like ingress

[2021-07-29 03:42] spacewander commented on #4695
Duplicate of https://github.com/apache/apisix/issues/3147
See my suggestion in https://github.com/apache/apisix/issues/3147#issuecomment-752039772. The thing may change since it is written a half year ago.
If you submit a PR we can accept it.

[2021-07-29 03:42] #4695 closed

[2021-07-29 03:44] eddycjy commented on #4695
AliCloud is the largest cloud vendor in China, and changing the WAF is no longer just a software issue, but an enterprise capital issue.

Are there other better ways, such as allowing users to configure their own default certificates, rather than just rejecting them and thus making them unavailable?

[2021-07-29 03:53] spacewander commented on #4695
I already provide a suggestion about how to do that.

[2021-07-29 04:09] spacewander commented on #4695
Also, it is a piece of good news for Tencent cloud and Huawei cloud, and other cloud vendors.
If Aliyun WAF doesn't even support proxying SNI in 2021, why not take a look at other cloud vendors which probably do better?

[2021-07-29 05:54] lihuawei321 opened #4698 "After using the skywalking plug-in, upstream services cannot be accessed"
curl上游服务之后返回curl: (52) Empty reply from server。
查看日志![46C965BDF9621054323F74BC53CCD04A](https://user-images.githubusercontent.com/31987918/127438962-3b56c66f-eaf1-4631-bb53-e3cf09bdb653.jpg)
请问是什么问题啊

[2021-07-29 06:06] Areturn opened #4699 "It is recommended that the log-rotate plugin add a log compression function"
![image](https://user-images.githubusercontent.com/25275823/127439932-4034034e-a402-486f-893d-67f748b3ace9.png)
访问大的话日志不压缩，会特别占用磁盘

![image](https://user-images.githubusercontent.com/25275823/127440065-d8856122-d0a0-4947-87ce-ed4f92fea88e.png)
未压缩日志是压缩后日志的10+倍大小，压缩还是很有必要的

[2021-07-29 07:17] tzssangglass commented on #4698
similar as #4571

[2021-07-29 08:05] yaobo-lab opened #4700 "[warn] 53#53: *8 [lua] plugin.lua:150: load(): new plugins"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version :2.7:
* OS (cmd: `Linux   3.10.0-1160.6.1.el7.x86_64 #1 SMP Tue Nov 17 13:59:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`):
* etcd version:3.4:

 My  config.yaml body:

apisix:
  admin_key:
    -
      name: admin
      key: edd1c9dxe2s5f136f87ad84dxxxxx
      role: admin

[2021-07-29 08:28] nanamikon commented on #4683
Thanks,  I get it

[2021-07-29 08:37] riskgod opened #4701 "request help: [lua] init.lua:125: handler(): failed to check token: wrong apikey,"
### Issue description
hey after, updated the default admin_key, the apisix return `[lua] init.lua:125: handler(): failed to check token: wrong apikey`, Any idea of this ?

[2021-07-29 10:04] imjoey opened #4703 "request help: failed to install luarocks on CentOS 7 due to permission problems"
### Issue description

I was going to install APISIX on CentOS 7 and followed the installation guide at https://github.com/apache/apisix/blob/master/docs/en/latest/install-dependencies.md#centos-7. While I got an error as running the script `curl https://raw.githubusercontent.com/apache/apisix/master/utils/linux-install-luarocks.sh -sL | bash -`:

[code]

Although the error message is very clear,

[2021-07-29 10:08] #4683 closed

[2021-07-29 10:12] #4675 closed

[2021-07-29 10:15] spacewander commented on #4700
The warn message is fine enough. We choice this log level so that the log message can be seen by default. It doesn't mean any harm, unlike the `error` one.

[2021-07-29 10:16] #4700 closed

[2021-07-29 10:17] spacewander commented on #4703
The `sudo` will pollute the binary even we don't need it.

[2021-07-29 10:52] sofire opened #4704 "上游、创建页面的 目标节点 样式问题"
上游、创建页面
![image](https://user-images.githubusercontent.com/1177330/127479383-fd734b4d-2211-4e5e-8713-2251b6b304c7.png)

左侧菜单搜索后正常
![image](https://user-images.githubusercontent.com/1177330/127479426-8f3ec0ce-a9f6-49f6-9e76-43dedafa5134.png)

浏览器是：chrome 91
电脑：macbook 14寸

[2021-07-29 11:03] tokers commented on #4701
@riskgod Please give the reproduce steps.

[2021-07-29 11:09] Rdebu opened #4705 "request help: 配置了上游和限流路由，但是最后没有限流"
### Issue description
    我用apisix-dashboad[help.docx](https://github.com/apache/apisix/files/6900039/help.docx)
### Environment
    Centos7 + apisix-dashboad2.7 +apisix2.6

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6

* OS (cmd: `uname -a`):  Linux localhost.localdomain 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC

[2021-07-29 11:10] #4705 closed

[2021-07-29 11:16] Rdebu opened #4707 "request help: 配置了上游和限流路由，但是最后没有限流"
### Issue description
    配置了上游和限流路由，但是最后没有限流
### Environment
    Centos7 + apisix2.6 + aipsix-dashboad2.7
Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6

* OS (cmd: `uname -a`): Linux localhost.localdomain 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

* OpenResty / Nginx version (c

[2021-07-29 11:23] imjoey commented on #4703
@spacewander thanks for the reply. Sorry that I still got confused. IMHO, the parameters for `./configure` luarocks defined in script `linux-install-luarocks.sh` would always install luarocks at `/usr/local`, which is also always requiring the `sudo` privileges. So may I ask when we exactly don't need it? Much appreciated. 😄

[2021-07-29 11:30] imjoey commented on #4703
@spacewander BTW, I'm afraid that this issue is obviously a **bug**, instead of a **request help**. It would be great if we would better improve either the script or the docs, to lead users to install APISIX smoothly without any interruption. Of course, I can handle this. Looking forward to your suggestions. 😄 Thanks.

[2021-07-29 11:39] tzssangglass commented on #4699
hi @Areturn, Would you be interested in submitting a PR to resolve?

[2021-07-29 11:46] tzssangglass commented on #4698
hi @lihuawei321, did you fix this?

[2021-07-29 11:52] dmsolr commented on #4698
It looks like #4571 said. Did you set a global rule for skywalking and bind skywalking plugin to the route/service at the same time? If so, it has been resolved by #4571.

[2021-07-29 12:05] spacewander commented on #4703
I can't agree with this part. The behavior must be intended as there was a PR to change this behavior. However, I can't recall the context of why the PR was submitted.

[2021-07-29 12:06] spacewander commented on #4703
Anyway, we can submit a PR to change it back with `sudo make install` and see what will happen.

[2021-07-29 12:30] imjoey commented on #4703
@spacewander

Thanks for your suggestions. In my environment `sudo make install` will install `luarocks` as intended.

Thanks for your opinion. To be more clear, I would say there is a bug in the overall installation solution provided by the docs and scripts, not only considering the **no sudo** is a bug. 😄

Let us see what will happen. 😄

[2021-07-29 13:16] tzssangglass commented on #4707
@Rdebu Please give the reproduce steps.

And don't use attachments to describe the problem, which are not very friendly to mobile viewers and have hidden security issues.

[2021-07-29 18:13] rushitote commented on #4674
Created a PR at #4710.

[2021-07-30 00:33] #4711 closed

[2021-07-30 01:25] Rdebu commented on #4707
用apisix dashboad创建了一个上游和路由，分别是
{
  "nodes": [
    {
      "host": "127.0.0.1",
      "port": 8001,
      "weight": 1
    }
  ],
  "timeout": {
    "connect": 6,
    "read": 6,
    "send": 6
  },
  "type": "roundrobin",
  "scheme": "http",
  "pass_host": "pass",
  "name": "user_admin",
  "desc": "user_admin"
}

{
  "uris": [
    "/*"
  ],
  "name": "limit_test",
  "desc": "限流测试",
  "methods": [
   

[2021-07-30 01:30] tzssangglass opened #4712 "question: How to get the real Client IP in APISIX"
This feature relies on the [Real IP](http://nginx.org/en/docs/http/ngx_http_realip_module.html) module of Nginx, which is covered in the [APISIX-OpenResty](https://raw.githubusercontent.com/api7/apisix-build-tools/master/build-apisix-openresty.sh) script.

There are 3 directives in the Real IP module

- set_real_ip_from
- real_ip_header
- real_ip_recursive

The following describes how to use these

[2021-07-30 01:35] tzssangglass opened #4713 "question: Does APISIX support the use of etcd as a service registration and discovery center"
APISIX supports service discovery using etcd. There is no service discovery API in the official implementation of etcd, so the only way to let APISIX to discover services is to implement your own framework for service registration. This is also the way used by APISIX.

In the custom service registration framework, simply convert the information of the backend service into APISIX `upstream` format

[2021-07-30 01:45] tzssangglass commented on #3431
You can refer to the code of the [grpc-transcode](https://github.com/apache/apisix/blob/master/apisix/plugins/grpc-transcode/response.lua) plugin for more information on how to get the full content of the response body.

[2021-07-30 01:48] tzssangglass opened #4714 "question: How to get full content of the response body"
You can refer to the code of the [grpc-transcode](https://github.com/apache/apisix/blob/master/apisix/plugins/grpc-transcode/response.lua) plugin for more information on how to get the full content of the response body.

[2021-07-30 01:50] tzssangglass opened #4715 "question: How to fix the log with HTTP status code 499 was found in `error.log`"
Nginx defines 499 HTTP status codes that means client closes the connection without waiting for a response, controlled by the [`proxy_ignore_client_abort`](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_ignore_client_abort) command.

In APISIX, you can turn on `proxy_ignore_client_abort` via [customize Nginx configuration](./customize-nginx-configuration.md), which means that APISI

[2021-07-30 01:51] tzssangglass opened #4716 "question: How to use the environment variable `INTRANET_IP` configured by the prometheus plugin"
`INTRANET_IP` Usage Scenario Example: If APISIX is deployed on a server within the intranet, there are several NICs on this server, each with an IP. `INTRANET_IP` is used to select one of the IPs to be exposed. This way, only other services in the same network segment within the intranet can access it, and no services not in the same intranet segment can access it.

[2021-07-30 02:00] tokers commented on #4707
Please paste some request examples here. We don't know the specific request you sent to APISIX.

[2021-07-30 02:09] imjoey commented on #4703
PR #4708 has been merged and everything seems fine until now. So I would prefer to close this issue. Please feel free to reopen this if there's anything unexpected. @spacewander thanks for your help.

[2021-07-30 02:09] #4703 closed

[2021-07-30 02:34] Rdebu commented on #4707
我是用dashboard配置的

配置完后查看上游是
![image](https://user-images.githubusercontent.com/58921097/127591071-0593026e-de16-474a-b2ec-ab376fb0b193.png)

查看路由是
![image](https://user-images.githubusercontent.com/58921097/127591142-a1d0f52e-2f94-4a57-851e-17935bb62cbf.png)

正常来说 这个路由绑定了这个上游之后 我访问127.0.0.1:8080下的所有路径都会有限流吧 ， 但是配置完却没有

[2021-07-30 03:08] tzssangglass commented on #4707
`8001` is your upstream port? Have you tested it with the apisix proxy port (default `9080`)?

[2021-07-30 03:17] azura27 opened #4717 "bug:"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.0
* OS (cmd: `uname -a`): centos 7.4
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.17.8.2
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.5
* apisix-dashbo

[2021-07-30 03:37] Rdebu commented on #4707
我发现了一个我自己理解的错误，这个localhost应该是对apisix而言的，因此我修改了上游：
![image](https://user-images.githubusercontent.com/58921097/127596194-824ef001-8436-441c-9276-1592a4c5fe8c.png)
路由不变：
![image](https://user-images.githubusercontent.com/58921097/127596280-3fc477fe-dab5-4303-af47-4d46789e0a7c.png)

但是访问172.20.23.125:8001依然没有限流
![image](https://user-images.githubusercontent.com/58921097/127596422-dbdcc6d8-f07d-49c2-a

[2021-07-30 03:38] spacewander commented on #4717
What's your configuration for this route?

[2021-07-30 03:43] azura27 commented on #4717
"cors":{"allow_origins":"*","expose_headers":"*","allow_credential":false,"max_age":5,"allow_headers":"*","allow_methods":"GET,HEAD,PUT,PATCH,POST,OPTIONS"}

[2021-07-30 05:08] tzssangglass commented on #4707
I think you should access apisix to verify that `limit-req` is working.

`172.20.23.125:8001` is the upstream address, not the apisix address.

[2021-07-30 05:13] Rdebu commented on #4707
我那个限流插件不是通过路由绑定到了上游了吗   大佬觉得我要访问哪个地址来看限流是否启动呢

[2021-07-30 05:18] Rdebu commented on #4707
就比如我访问curl http://127.0.0.1:9080/apisix/admin/test -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X GET

也没有转发到上游啊  小白有点不懂

[2021-07-30 05:24] tzssangglass commented on #4707
`/apisix/admin/*` is the `admin-api`, used to control the behavior of APISIX.

take a look at: https://apisix.apache.org/docs/apisix/getting-started#step-2-create-a-route

[2021-07-30 05:34] Rdebu commented on #4707
感谢大佬  我解决了！！！  大佬  咱这有QQ交流群  那有微信交流群吗

[2021-07-30 05:51] tzssangglass commented on #4707
WeChat group has a limitation of the number of invitations, and I didn't find the QR code.

[2021-07-30 05:55] Rdebu commented on #4707
大佬我还有个问题   就是我按照官网写了个Java插件测试

文件名是TestFilter.java，也根据步骤放到了 package-info.java 同级文件夹下
![image](https://user-images.githubusercontent.com/58921097/127607307-755deae2-a325-4000-9cfd-13de20a84362.png)

内容是：
/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding c

[2021-07-30 06:13] forgaoqiang commented on #4421
thanks for the feature

[2021-07-30 06:13] #4421 closed

[2021-07-30 06:37] #4534 closed

[2021-07-30 06:48] yaobo-lab opened #4720 "plugin.lua:92: load_plugin(): failed to load plugin [limit-conn] err: module 'apisix.stream.plugins.limit-conn' not found:"
Environment
Bug report without environment information will be ignored or closed.

apisix version :2.7:
OS (cmd: Linux 3.10.0-1160.6.1.el7.x86_64 #1 SMP Tue Nov 17 13:59:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux):
etcd version:3.4:

My config.yaml body:
 `apisix:
  admin_key:
    -
      name: admin
      key: edd1c9dxe2s5f136f87ad84dd25s8f1
      role: admin

etcd:
  host:
    - "http://10.0.1.6

[2021-07-30 07:05] yaobo-lab opened #4721 "apisix 启动日志是什么意思？"
Environment
Bug report without environment information will be ignored or closed.

apisix version :2.7:
OS (cmd: Linux 3.10.0-1160.6.1.el7.x86_64 #1 SMP Tue Nov 17 13:59:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux):
etcd version:3.4:

部署apisix 到k8s上，查看日志，这两行是什么意思？到底 是启动成功呢？还是失败？ 还有怎样查apisix 运行状态？

![QQ截图20210730150330](https://user-images.githubusercontent.com/21329253/127614260-c64d9128-cd61-426a-

[2021-07-30 07:08] tzssangglass commented on #4707
pls create a new issue in `apisix-java-plugin-runner` to describe this new issue.

[2021-07-30 07:16] Rdebu commented on #4707
好的，感谢大佬

[2021-07-30 07:49] #4707 closed

[2021-07-30 09:21] chzhuo opened #4724 "request help: can using apisix-openresty in production ?"
### Issue description
I using mtls to connect etcd, so i mush using `apisix-openresty`. Is apisix-openresty be fully testing, can i using apisix-openresty in production?

[2021-07-31 04:11] spacewander commented on #4724
Yes. See https://github.com/apache/apisix/blob/b967b8accabc06d3ffbda61630bce3faddb0cb10/ci/linux_openresty_runner.sh#L20
https://github.com/apache/apisix/blob/b967b8accabc06d3ffbda61630bce3faddb0cb10/utils/linux-install-openresty.sh#L27-L35

[2021-07-31 04:11] #4724 closed

[2021-07-31 10:10] oldthreefeng opened #4726 "request help: how to disable response of server info like: `server: APISIX/2.8`"
### Issue description

### Environment
apisix 2.8

[code]

for nginx.  `server_tokens off; ` will disable the version of ngx.  any conf of apisix to disable ??
Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `c

[2021-07-31 10:23] oldthreefeng commented on #4726
fixed by `apisix.enable_server_tokens: false`
[code]

[2021-07-31 10:23] #4726 closed

[2021-07-31 20:27] #4682 closed

[2021-08-01 07:11] tzssangglass commented on #4717
I think it's expected behavior, and take a look at this: https://github.com/apache/apisix/issues/1100

source code for `cors` plugin handling OPTIONS method: https://github.com/apache/apisix/blob/9db2dd2399c3970df1e1b7fa0f8b7dcd92d26b1c/apisix/plugins/cors.lua#L227-L231

The OPTIONS method is a preflight request to check if CORS is supported, so the OPTIONS response header should not require the `

[2021-08-01 07:15] tzssangglass commented on #4721
`init` means initialize the runtime environment, `init_etcd` means initialize the etcd connection and get configuration information.

If there are only these two log lines, then APISIX may fail to start.

You can access the APISIX proxy port to check if it works.

[2021-08-01 07:21] tzssangglass commented on #4720
The `limit-conn` plugin in stream mode is only available in APISIX version 2.8, you should upgrade your APISIX version to 2.8.

[2021-08-01 09:00] dufeixiang opened #4729 "bug: apisix does not take effect on VirtualService policy in istio environment"
### environment：
- apisix: 2.5
- istio: 1.8.6
### isito config：
[code]

#### In istio environment, apisix does not take effect after apisix proxy backend svc and VirtualService specify the policy. When accessing the corresponding service through apisix external network address, the default polling policy is still implemented, and v1 and v2 will be accessed, but in apisix pod VirtualService can tak

[2021-08-01 09:58] tzssangglass opened #4730 "question: How to open an mTLS connection on a route"
This question can be extended to how to configure mTLS connections between Client and APISIX, between Control Plane and APISIX, between APISIX and Upstream, and between APISIX and etcd。

The mTLS connection on the route is the mTLS connection between the Client and APISIX.

The pre-requisites for enabling the mTLS protocol are: CA certificate, client certificate, client key, server certificate, an

[2021-08-01 10:19] moonming commented on #4729
@dufeixiang
Please use English in the public channel, thx

[2021-08-01 10:20] moonming commented on #4721
@yaobo-lab @tzssangglass
Please use English in the public channel, thx

[2021-08-01 10:20] #4721 closed

[2021-08-01 10:21] moonming commented on #4699
@Areturn
Please use English in the public channel, thx

[2021-08-01 10:21] moonming commented on #4698
@lihuawei321
Please use English in the public channel, thx

[2021-08-01 10:23] #4713 closed

[2021-08-01 10:24] moonming commented on #4712
why we create issues like this?

[2021-08-01 10:24] #4712 closed

[2021-08-01 10:24] #4730 closed

[2021-08-01 10:24] #4716 closed

[2021-08-01 10:24] #4715 closed

[2021-08-01 10:24] #4714 closed

[2021-08-01 10:24] #4672 closed

[2021-08-01 11:13] tokers commented on #4729
@dufeixiang What's your topology, APISIX itself is not compatible with Istio CRDs.

However, you can refer to https://github.com/api7/apisix-mesh-agent for learning how to combine APISIX and Istio.

[2021-08-01 11:59] #4720 closed

[2021-08-02 01:33] yaobo-lab opened #4732 "47#47: *152 [lua] config_etcd.lua:336: sync_data(): waitdir [/apisix/upstreams] err: compacted, will read the configuration again via readdir, context: ngx.timer"
apisix version :2.8:
OS (cmd: Linux 3.10.0-1160.6.1.el7.x86_64 #1 SMP Tue Nov 17 13:59:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux):
etcd version:3.4:

 My config.yaml body:

`apisix:
  enable_admin: true
  port_admin: 9180
  allow_admin:
    - 0.0.0.0/0
  https_admin: false
  admin_key:
    - name: "admin"
      key: edd1c9dxe2s5f136f87ad84dd25s8f1
      role: admin

  allow_admin:
   https_admin:

[2021-08-02 02:09] spacewander commented on #4717
@azura27

`""` is not a valid configuration, which will remove the allow-control-allow-origin header.

[2021-08-02 02:28] tzssangglass commented on #4732
see: https://github.com/apache/apisix/issues/3438

[2021-08-02 07:10] Al0sc opened #4738 "request help: disable the PUT method"
Hi, we want to disable the PUT method, what to do?

[2021-08-02 07:42] zhangbing17 opened #4739 "dashboard network error"
### Issue description
在dashboard中启动插件后页面包network error

![image](https://user-images.githubusercontent.com/23377580/127822808-c9396d04-2276-4826-a26c-2a87fcfb2053.png)

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.8
* OS (cmd: `uname -a`):Linux slave1 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x

[2021-08-02 07:50] RalapZ opened #4740 "bug: apisix 2.5 配置多个vars，跟匹配规则转发不一致"
### Issue description

### Environment
centos7
apisix 三节点集群
Bug report without environment information will be ignored or closed.
1.
* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): Linux apisix-preprd-10-49-0-248.qcd.ak.lan 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty

[2021-08-02 08:03] #4738 closed

[2021-08-02 08:04] Al0sc commented on #4738
i understand it , Thanks

[2021-08-02 10:41] kuberxy opened #4741 "request help: How to configure HTTP status codes in local YAML file"
### Issue description
I get this error:
[code]
This is my configuration:
[code]

### Environment
* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): 4.15.0-111-generic Ubuntu 18.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.15.8.3
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):

[2021-08-02 11:22] tokers commented on #4740
@RalapZ Please re-format the configuration.

[2021-08-02 11:23] tokers commented on #4740
Also, the `502` is abnormal, are you sure the backend services are available and the networking between APISIX and them are healthy?

[2021-08-02 11:26] tokers commented on #4741
It seems that the `passive.unhealthy.http_statuses` elements were parsed as string. But the configuration looks normal, not sure whether it's caused by some invisible characters.

[2021-08-02 11:31] dufeixiang commented on #4729
ok，This is an online problem, can you help us deal with it? Many thanks

[2021-08-02 11:32] #4729 closed

[2021-08-02 11:55] dufeixiang commented on #4729
We use Aliyun's ASM product, so the default envoy cannot be replaced

[2021-08-02 12:01] RalapZ commented on #4740
{
    "uris": [
        "/apis/*"
    ],
    "name": "xxx",
    "methods": [
        "GET",
        "POST",
        "PUT",
        "DELETE",
        "PATCH",
        "HEAD",
        "OPTIONS",
        "CONNECT",
        "TRACE"
    ],
    "hosts": [
        "xxxx"
    ],
    "plugins": {
        "traffic-split": {
            "disable": false,
            "rules": [
                {

[2021-08-02 13:05] zuiyangqingzhou opened #4742 "request help: Does Apisix support multiple prefix route matching"
### Issue description
I have an upstream service and I want routes starting with /API and /public to match correctly and to be routed to the same upstream service. I want this to be implemented in a routing rule. So how do I configure it?

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* Op

[2021-08-02 13:43] spacewander commented on #4742
Match with regex? https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-use-route-uri-for-regular-matching

[2021-08-02 13:51] spacewander commented on #4740
Fixed by https://github.com/apache/apisix/pull/4092?

[2021-08-03 01:16] kuberxy commented on #4741
After I changed the configuration file to this, it was normal
[code]

[2021-08-03 02:02] zuiyangqingzhou commented on #4742
got it , thank you

[2021-08-03 02:03] #4742 closed

[2021-08-03 03:17] wjmmjr opened #4744 "k8s 环境apisix集成prometheus，apisix和prometheus的配置如何设置？request help:"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
*

[2021-08-03 04:39] tao12345666333 commented on #4744
You need to modify the configmap resource of Apache APISIX

[code]

and create a service to expose this port.

xref: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/prometheus.md

[2021-08-03 04:41] tao12345666333 commented on #4744
We can also add this function to Helm chart

https://github.com/apache/apisix-helm-chart

[2021-08-03 04:51] tzssangglass opened #4746 "discuss: Improve bug report template"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Improve [bug report template](https://github.com/apache/apisix/blob/master/.github/ISSUE_TEMPLATE/bug.md)

The current bug report template is adequate, but it is in markdown format, and we still see issues that do not follow the formatting of the issue, making it look tired.

## Describe the solution you'd like

[2021-08-03 05:06] RalapZ commented on #4740
well  done ，solve my problem

[2021-08-03 06:49] #4740 closed

[2021-08-03 06:54] airstring opened #4747 "bug: Additional property discovery_args is not allowed."
### Issue description

### Environment
* docker iamge:  apache/apisix:2.8-alpine
* etcd image: bitnami/etcd:3.4.15
* apisix-dashboard image: apache/apisix-dashboard:latest

### Minimal test code / Steps to reproduce the issue

1. When I insert the following code through apisix-dashboard：
{
  "uri": "/api-admin/*",
  "name": "api-admin",
  "plugins": {
    "proxy-rewrite": {
      "regex_uri": [

[2021-08-03 07:03] spacewander commented on #4747
apisix-dashboard which supports 2.8 is not been released yet.

[2021-08-03 08:11] jamesislebron commented on #4550
I have the same problem, `JSONArray` means format like
[code]
What I want is just json log one by one:
[code]

[2021-08-03 08:53] wjmmjr commented on #4744
已经解决了，我的处理方式：
1. prometheus-server的configmap增加job_name
`scrape_configs:
    - job_name: apisix-prom
      metrics_path: '/apisix/prometheus/metrics' #这是固定的路径，不能更改
      static_configs:
      - targets:
        - apisix-admin.apisix:9091`
  2. apisix-admin的svc增加port
  ` - name: apisix-prom
      port: 9091
    `
3. apisix的configmap增加插件的配置
  `plugin_attr:
      prometheus:
        export_addr:

[2021-08-03 10:16] #4744 closed

[2021-08-03 10:52] tokers commented on #4550
Maybe the format can be a configurable item?

[2021-08-03 13:03] tzssangglass commented on #4550
The problem is that when there is only one log in a batch, the data format is JsonObject, when there are multiple logs, the data format is JsonArray, and  I prefer to use JsonArray consistently.

[2021-08-03 14:33] tao12345666333 commented on #4744
@tzssangglass @yzeng25 should we add this to the FAQ?

[2021-08-03 15:11] tzssangglass commented on #4744
Is this a native deployment of APISIX in k8s? not APISIX Ingress Controller or APISIX Helm Charts

[2021-08-03 15:15] tao12345666333 commented on #4744
yep. And APISIX helm chart doesn't support this configuration now.

[2021-08-03 15:21] dmsolr commented on #4550
I think @tianqiuming is asking why it is JsonObject format when the batch size was 1 and it is JsonArrary when there are multi messages in the batch. That is confusing for you, right?
In personal, I prefer to use JsonArrary in any case.

[2021-08-04 01:33] yzeng25 commented on #4744
Only if it is frequently asked.

[2021-08-04 02:43] clojure8 opened #4751 "bug: apisix customized plugin doesn't effect"
### Issue description
Here comes a problem, i add a customized plugin(openid-connect-extra) under folder `./apisix/plugins`, it's docker images,
then i check the plugin actually in this folder as below image shown
![wecom-temp-c03669fb2fa90c3d2f74a3a3a0a7d74e](https://user-images.githubusercontent.com/44196210/128113362-bb80c7bd-b90b-4e57-bf2a-b92b016ff997.png)

but when i running apisix, the erro

[2021-08-04 04:48] tokers commented on #4751
It's weird as the backtrace showing there is no such a file:
![image](https://user-images.githubusercontent.com/10428333/128123701-fdc03133-8989-4034-9572-f485a49571db.png)

[2021-08-04 04:48] tokers commented on #4751
Is it normal on the VM environment.

[2021-08-04 05:50] tylitianrui commented on #4751
is it  relative path ?

[2021-08-04 06:21] luoyin63 opened #4753 "request help: 提示 Request Error Code: 2000001 The manager-api and apache apisix are mismatched."
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.7
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

[2021-08-04 06:22] luoyin63 opened #4754 "request help: got `{"error_msg":"failed to match any routes"}` after setting a route"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.7
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

[2021-08-04 06:31] riskgod commented on #4712
I met this problem too.

[2021-08-04 06:40] riskgod commented on #4712
Please reopen this, because, in my case, We need to use ip-restriction, but the client IP is nginx IP but the real client IP.

[2021-08-04 06:42] Baoyuantop commented on #4753
This might help you https://github.com/apache/apisix-dashboard/issues/1944#issuecomment-885051655

[2021-08-04 10:00] kuberxy commented on #4649
@spacewander  I have a question: In my scenario, one node is out of network (Connection timed out), and the other two nodes are normal. Why did Apisix not forward the request to the normal node, but still forward it to the abnormal node.
When I force a refresh, the page has been loading.
In the same scenario, I directly use Nginx as a proxy, and the page is loaded quickly. my nginx config like thi

[2021-08-04 10:13] kuberxy commented on #4649
In my abnormal scenario, using apisix as a proxy, it took more than 3 minutes to load the homepage, while using nginx as the homepage, it only took 500 milliseconds to load the homepage.

[2021-08-04 10:59] tokers commented on #4754
@luoyin63 Please paste much information here.

1. The route you created
2. How did you send requests to APISIX (and show us the response).

[2021-08-04 12:54] dmsolr commented on #4550
I see what you mean. every piece message is a separate Kafka message, right? and then send them through Kafka's batch feature. If so, the PR is welcome.
----------------
我知道你的意思了。每条消息都是一条独立的 Kafka 消息对吧，然后通过 Kafka 的 Batch 特征。如果是的话，欢迎提交 PR。

[2021-08-04 13:25] jamesislebron commented on #4550
是的

[2021-08-04 14:28] jagerzhang opened #4755 "request help: Can the type parameter of the consumer-restriction plug-in support route_ id"
### Issue description
在Consumer中添加 consumer-restriction 插件，里面的 type 能否支持下route_id，这样我们就能基于 consumer 的纬度来限制能访问到的 route，现在的版本我看了下只支持 consumer_name 和 service_id，即只能在 route 纬度来限制 consumer 或者 只能在 consumer 纬度来限制能访问的 service。

需求场景：同一组service下可以有多个route，但是可能有部分route是不用鉴权的或者需要额外申请才给开通，如果能在consumer纬度支持一下 route_id，那样就能更精细化的赋权，且不用每个用户来申请权限都需要对route接口发起一个PATCH请求。

插件文档：https://apisix.apache.org/docs/apisix/pl

[2021-08-05 00:49] tianqiuming commented on #4550
是的，Kafka有批量上报的特性，但是我们没有用这个特性，而是变相的通过jsonArray数组通过单条上报来实际批量上报的功能。这会导致接入方需要判断每条数据是jsonObject还是jsonArray数据，非常不方便。
Yes, Kafka has a batch report feature, but we don't use this feature. Instead, we use the jsonArray array to actually report in batches. This will cause the access party to determine whether each piece of data is jsonObject or jsonArray data, which is very inconvenient.

[2021-08-05 01:06] okaybase commented on #4680
[https://github.com/apache/apisix/pull/4756](url) @spacewander @liuxiran

[2021-08-05 01:46] spacewander commented on #4755
PR is welcome!

[2021-08-05 02:09] #4751 closed

[2021-08-05 02:30] spacewander commented on #1672
Closed as lack of response.

[2021-08-05 02:30] #1672 closed

[2021-08-05 02:30] spacewander commented on #1644
Closed as lack of response.

[2021-08-05 02:30] #1644 closed

[2021-08-05 02:33] spacewander commented on #2133
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-08-05 03:04] #4732 closed

[2021-08-05 06:03] luoyin63 commented on #4754
I  send requests to APISIX APISIX Dashboard

[2021-08-05 06:24] jagerzhang commented on #4755
Aready Commit, Plz review.

[2021-08-05 08:15] jagerzhang opened #4760 "request help: limit-count could set different limit count/time_window for the different client"
Issue description
希望`limit-count`可以支持对不同的`route_id`或`service_id`设置不同的限速阈值。比如，对比现有版本功能的改变：

当前版本功能：只能针对某个固定`key`来限速
[code]

如下所示，希望可以在指定`apisix`对象限速的基础上，支持更精细化的限速设置，即可以针对不同的`apisix`对象来设置不同的`count`和`time_window`：
[code]

插件文档：https://apisix.apache.org/docs/apisix/plugins/limit-count/

Environment
基于官方最新docker镜像部署。

apisix version (cmd: apisix version): 2.8
OS (cmd: uname -a): centos7
OpenResty / Ngi

[2021-08-05 10:30] spacewander commented on #4760
Why not configure `limit-count` in route level?

[2021-08-05 10:32] aaron-codes opened #4761 "request help: Support Backend for Frontend"
### Issue description
能否支持下图中的 API 编排能力
![image](https://user-images.githubusercontent.com/3776267/128335580-8fb3b2db-6dbf-4a88-93ae-8331db0c79a3.png)

[2021-08-05 10:52] zhangbing17 opened #4762 "request help: 关于细粒度"
### Issue description
现在有个场景需要做到：不同接口对应不同的权限，那现在只能有多少个api就需要建很多个路由吗？

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.8
* OS (cmd: `uname -a`):Linux slave1 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx

[2021-08-05 11:09] tokers commented on #4761
It's not a good way to support it in Apache APISIX but you can implement it in a custom plugin.

[2021-08-05 11:26] #4680 closed

[2021-08-05 11:28] tokers commented on #4754
Could you paste the elaborate route configuration and the request/response?

[2021-08-05 11:41] Qizhd opened #4763 "bug: using HTTP PATCH method to modify plugin pemeters return 405"
### Issue description
on apisx 2.1, it supports using Http PATCH to modify plugin pemeters，for example
[code]
error.log
[code]

**Now, I use 2.1 which can work, but on 2.7 I got this error. We have many deploy scripts to manage our cluter and use a lot of http PATCH method**

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix vers

[2021-08-05 12:08] tzssangglass commented on #4712
I have tried several of these scenarios and they all work fine. If they are not correct, feel free to open a new issue with reproducible use cases.

[2021-08-05 12:14] #4753 closed

[2021-08-05 12:57] tzssangglass commented on #4763
I can't find any examples in the 2.1 docs where this can be used, can you find them?

[2021-08-05 15:21] ggxx opened #4764 "request help: 是否考虑给upstream的node增加ttl属性"
目前在admin API中看到route支持ttl，是否考虑在upstream的node中增加ttl属性？
这样通过upstream的node维护service provider地址，provider正常运行中可以定期更新自身node的ttl，当provider不可用时，该node的ttl到期后自动删除

[2021-08-06 01:10] spacewander commented on #4764
We can only set ttl to a key, but not a field inside the key.

[2021-08-06 01:13] Qizhd commented on #4763
It seems removed 2.1 doc from office website, here is 2.7 doc

https://apisix.apache.org/docs/apisix/2.7/admin-api#global-rule

![image](https://user-images.githubusercontent.com/18099484/128440762-30b005a6-cb19-4adf-9d00-baca2f3285e1.png)

[2021-08-06 01:25] tzssangglass commented on #4763
@Qizhd hi, I've verified that it's a bug, are you interested in fixing it?

[2021-08-06 01:28] jagerzhang commented on #4760
因为我们想从消费者这边给不同的路由设置不同的限速。
Because we want to set different speed limit values from the consumer side according to different road origins.
比如，A消费者去申请不同的API的时候，需要遵循API发布方的能力限制，会要求给予不同的速率限制。
For example, when a consumer applies for different APIs, it needs to comply with the capability limits of the API publisher and will require different rate limits.

[2021-08-06 01:28] spacewander commented on #4763
@tzssangglass
Better not ask the user to fix the bug.

[2021-08-06 01:29] tzssangglass commented on #4763
got

[2021-08-06 01:32] Qizhd commented on #4763
... , I can try, it is urgent for us to upgrade from 2.1 to 2.7, but I don't have confidence.
we use Http patch not only in plugin and also in routes, upstreams, healthcheck. It needs more validation.

[2021-08-06 01:37] Qizhd commented on #4763
more admin APIs need validation
for example: routes， upstream. All of them can work on 2.1. I don't confirm them can work on 2.7.
![image](https://user-images.githubusercontent.com/18099484/128442557-06c19918-8de9-4f35-ad0d-e8f7ff5f2c5c.png)

[2021-08-06 01:47] crazylle commented on #4555
坐等官方解释或修复

[2021-08-06 01:54] spacewander commented on #4762
Yes

[2021-08-06 01:54] tokers commented on #4760
It works well if configuring the `limit-count` in the routes, as long as the limit threshold for consumers are same.

[2021-08-06 01:56] zhangbing17 commented on #4762
那意思是关于细粒度这块还没做到是吧

[2021-08-06 03:35] #4674 closed

[2021-08-06 04:09] juzhiyuan commented on #4761
see https://apisix.apache.org/docs/apisix/plugins/batch-requests/

Now we support setting the same `Query` for different requests, does it make sense to you?

[2021-08-06 04:42] jagerzhang commented on #4760
I known...
but current can not set diffent limit count for diffent consumer. however, it is important...

[2021-08-06 04:55] tzssangglass commented on #4762
We have just merged the [authz-casbin](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/authz-casbin.md) plugin, you can use casbin to check the permissions of different paths on the same route.

casbin link: https://github.com/casbin/casbin

[2021-08-06 05:05] tzssangglass commented on #4760
The limit key can be customized by the user, so can use `key = consumer_name + route_id` to solve your problem?

[2021-08-06 05:14] jagerzhang commented on #4760
I can't find a way to customize the key from this document: https://apisix.apache.org/docs/apisix/plugins/limit-count

Can you provide relevant guidance documents, tks.

[2021-08-06 05:30] tzssangglass commented on #4760
You can modify the source code directly.

[2021-08-06 05:59] tzssangglass commented on #4760
route id -> `ctx.route_id`
consumer_name -> `ctx.consumer_name`

[2021-08-06 06:01] jagerzhang commented on #4760
got it
It must be possible to change it src code by ourself, but it's best way to support it with the official....

[2021-08-06 06:04] wjmmjr opened #4767 "ip-restriction无法在 APISIX 中获取真实的客户端 IP"
环境：k8s helm安装的apisix
问题：使用ip-restriction插件，客户端访问路由发现apisix服务获取的是集群节点的ip,而不是客户端的ip。
曾在configmap中添加如下配置并重启了服务，仍不起作用，获取的还是集群节点的ip
[code]
怎么解决？

[2021-08-06 06:44] #4497 closed

[2021-08-06 06:47] zhangbing17 commented on #4762
你说的这个我看咱们apisix现在是不支持的吧？

[2021-08-06 06:47] Molio-tan commented on #4497
Without any solutions,after many times of reinstall,it does work.

[2021-08-06 06:53] wjmmjr commented on #4767
![image](https://user-images.githubusercontent.com/18857921/128468918-221e984a-25ed-4658-8834-e091c15e582a.png)

[2021-08-06 06:53] #4767 closed

[2021-08-06 07:19] spacewander commented on #4760
What about relaxing the check and allowing vars combinations? @membphis

[2021-08-06 08:18] jagerzhang commented on #4760
we solved this case by modify the source code like:
[code]

[2021-08-06 09:06] zhangbing17 opened #4768 "request help: java如何集成apisix"
### Issue description
有个不明白。springboot项目怎么集成apisix呢，有没有demo？
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.8
* OS (cmd: `uname -a`):Linux slave1 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx version:

[2021-08-06 09:18] tokers commented on #4768
Try to learn https://github.com/apache/apisix-java-plugin-runner.

[2021-08-06 09:30] zhangbing17 commented on #4768
你的这是自定义插件吧，比如鉴权抽成一个服务

[2021-08-06 09:30] #4768 closed

[2021-08-06 09:43] zhangbing17 opened #4769 "bug: unable to authenticate using the wolf-rbac plugin"
### Issue description

### Environment
![image](https://user-images.githubusercontent.com/23377580/128491122-ab4d5a9b-82e9-4ed8-a806-901b33d6a0c7.png)

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.8
* OS (cmd: `uname -a`):Linux slave1 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

* Open

[2021-08-06 10:05] #4717 closed

[2021-08-06 10:24] shoulda opened #4770 "request help: when i run ip-restriction single test,always appears below errors"
### Issue description
when i run ip-restriction single test,always appears below errors。
[error] 14511#329621: *2310 [lua] config_etcd.lua:600: failed to fetch data from etcd: closed,  etcd key: /apisix/upstreams, context: ngx.timer"
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `2.8`):
* OS (cmd: `MAC-OS`):

[2021-08-06 13:47] #4763 closed

[2021-08-06 13:52] tzssangglass commented on #4760
Sounds good, but I'm worried that incorrect use will lead to accidents. I think we have to figure out the range of variables that can be combined first.

[2021-08-06 14:16] tzssangglass commented on #4769
This exception message is for the `consumer-restriction` plugin, see: https://github.com/apache/apisix/blob/baf843403461883c1334e63d15a6bb3622c31940/apisix/plugins/consumer-restriction.lua#L125

This error is not due to the wolf-rbac plugin.

[2021-08-06 16:18] tzssangglass opened #4772 "request help: failed to install dependencies by make deps"
### Issue description
failed to install dependencies by make deps
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): master
* OS (cmd: `uname -a`): 5.12.8-200.fc33.aarch64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
[code]

* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_in

[2021-08-06 16:32] spacewander commented on #4772
See the latest change of https://github.com/apache/apisix/blob/master/docs/en/latest/install-dependencies.md

[2021-08-06 17:39] tzssangglass commented on #4772
add pcre-devel dependency ->  `yum -y pcre-devel`

[2021-08-06 17:39] #4772 closed

[2021-08-07 06:05] tzssangglass opened #4773 "request help: etcd mtls handshake failed in ngx.timer"
### Issue description

I used the below test case and wanted to test the

- mtls connection between apisix and etcd
- apisix watch etcd in ngx.timer

[code]

bug I get error as

[code]

Then I added

[code]

to `APISIX.pm` under the `http` block, than it works well.

I think `APISIX.pm` is missing the `lua_ssl_trusted_certificate` and `lua_ssl_verify_depth` settings.

### Environment

Request help

[2021-08-07 23:45] Yiyiyimu commented on #4770
Hi @shoulda could you show your etcd's status. As the error suggests, etcd seems unhealthy

[2021-08-08 11:22] tokers commented on #4760
Since the configurations are unique for consumers, why not just configuring them on consumers? IMHO, the `map` on the plugin configuration snippet is not so smooth for me.

[2021-08-08 11:24] tokers commented on #4770
It's my understanding that this is a generic error and is not caused by this plugin, so we may focus on why this error occurres.

[2021-08-08 11:45] tzssangglass commented on #4773
We can use shell script to test

[2021-08-08 11:45] #4773 closed

[2021-08-08 13:35] zhangdadan opened #4776 "bug: plugins:proxy_cache, GET ,apisix-cache-status return,but POST not."
apisix:v2.8
plugins:proxy_cache
my conf:
`
"plugins": {
    "proxy-cache": {
      "cache_method": [
        "POST",
        "GET"
      ],
      "disable": false,
      "hide_cache_headers": true
    }
  },
`
I print ngx.var find that GET `upstream_cache_status` has value,but POST not at file `/usr/local/apisix/apisix/plugins/proxy-cache.lua`

What's wrong?

[2021-08-08 13:45] spacewander commented on #4760
We can fall back to default if the variable eval to "". It is the solution used in upstream's chash.

[2021-08-08 13:50] #4764 closed

[2021-08-08 14:30] zuodengchao opened #4777 "When deserializing cjson, Int64 may have a precision problem. How to deal with it"
local core=require("apisix.core")
local nosign="{\"msg\":\"参数不正确\",\"code\":1234567890123456789,\"errmsg\":\"SIGN_INVALID\"}";
 local obj=core.json.decode(nosign)
 core.log.warn("core conf:",core.json.encode(obj))

输出：

2021/08/08 14:26:38 [warn] 43#43: *2876 [lua] zdc.lua:20: phase_func(): core conf:{"errmsg":"SIGN_INVALID","code":1.2345678901235e+18,"msg":"参数不正确"}, client: 127.0.0.1, server: _,

[2021-08-08 20:26] membphis commented on #4760
LGTM

[2021-08-08 20:27] membphis commented on #4760
@jagerzhang please change the issue title to English

[2021-08-08 20:29] membphis commented on #4777
please change the title to English

[2021-08-08 20:29] membphis commented on #4762
please change the title to English @zhangbing17

[2021-08-08 20:30] membphis commented on #4761
please change the title to English @aaron-codes

[2021-08-08 20:30] membphis commented on #4755
@jagerzhang please change the title to English

[2021-08-08 20:31] membphis commented on #4754
please change the title to English @luoyin63

[2021-08-09 00:47] spacewander commented on #4777
cjson treats number in JSON as number in Lua, which is a double value. The only way to work around it is to use string for the big number.

[2021-08-09 00:48] #4777 closed

[2021-08-09 01:02] tokers commented on #4776
@zhangdadan Thank for your report, it seems there is a bug in the `proxy-cache` plugin, the `cache_method` setting doesn't affect the underlying `proxy_cache_methods` directive.

[2021-08-09 01:12] zhangbing17 commented on #4769
So what was the mistake that caused this? I think I configured everything right，
![image](https://user-images.githubusercontent.com/23377580/128651752-98db42fb-07ce-4ec3-9602-3ea215a10cbb.png)

[2021-08-09 01:20] zhangdadan commented on #4776
![image](https://user-images.githubusercontent.com/18242914/128651927-799eb107-b183-4214-a1eb-62992071bd8d.png)

I find `proxy_cache_methods`  is not dynamic at `/usr/local/apisix/conf/nginx.conf`,can it be configured?

[2021-08-09 01:46] tzssangglass commented on #4769
`consumer-restriction` is incorrectly configured, see :https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/consumer-restriction.md

[2021-08-09 02:12] jagerzhang commented on #4760
it can not set `different count for different route/service` when the limit plugin configuring on consumer.

[2021-08-09 02:24] zhangbing17 commented on #4769
Hey, big man, what is this question
![image](https://user-images.githubusercontent.com/23377580/128654433-38b279b6-a2d5-4f8a-83e9-9673e2008fef.png)

Here is my Wolf configuration，
![image](https://user-images.githubusercontent.com/23377580/128654490-09739e5a-dc70-45d9-974a-ed71b2a1d764.png)
![image](https://user-images.githubusercontent.com/23377580/128654502-c250c1cb-0c45-459a-ab47-de23ad37f43a.p

[2021-08-09 03:38] shoulda commented on #4770
I use the config-defaul.yaml file, dont hava special config

[2021-08-09 03:41] shoulda commented on #4770
It's OK when i run the ip-restriction single test in apisix2.5

[2021-08-09 04:07] spacewander commented on #4760
What about splitting them into multiple consumers?
Allow route level configuration in a consumer makes thing very complex...

I prefer the idea of consumer group: https://github.com/apache/apisix/issues/1548.

Anyway, it requires some top-level design and careful discussion.
Would you start the discussion in the mail list?

[2021-08-09 05:32] #4209 closed

[2021-08-09 10:06] zhangbing17 commented on #4769
![image](https://user-images.githubusercontent.com/23377580/128690490-912a89c1-395f-4d39-ba39-fc2538d08e2a.png)
Is this route correct?Why does certification still not work

[2021-08-09 10:13] liuxiran opened #4781 "Improve Docs: redis_password and redis_timeout can be configured both in redis policy and redis-cluster policy"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

According to https://github.com/apache/apisix/blob/master/apisix/plugins/limit-count.lua#L89~#L111

it would be better to update docs: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/limit-count.md

## Describe the solution you'd like

A clear and concise description of what you want to happ

[2021-08-09 10:52] tokers commented on #4776
Currently it's not dynamic, and cannot be extended by the plugin configuration.

[2021-08-09 11:01] tokers commented on #4769
Your request was passed to the backend service and you may try to check out its configuration.

[2021-08-09 11:24] starsz commented on #4754
It seems that the resources' key (366625380058008792) can't be found in etcd ?

[2021-08-09 11:28] starsz commented on #4762
Maybe you can try to write some logic in the server-less plugin?
http://apisix.apache.org/docs/apisix/plugins/serverless

[2021-08-09 12:21] zhangdadan commented on #4776
But，I has configured by myself and add `POST` value on `proxy_cache_methods ` at  the `/usr/local/apisix/conf/nginx.conf`,then run `apisix restart`, but it's not useful.

[2021-08-09 15:33] tzssangglass commented on #4776
You can try the configuration here：https://github.com/apache/apisix/blob/6655a358890925ee82a23a74b4edecca4130bba0/apisix/cli/ngx_tpl.lua#L599

[2021-08-09 15:36] tzssangglass commented on #4762
It's not a question of support or not, there are many ways to achieve. Creating a lot of routes is one way to implement this, as is using casbin, and you can choose the implementation to suit your situation.

[2021-08-09 15:52] tzssangglass commented on #4770
what it is?

[2021-08-09 15:59] tzssangglass commented on #4769
the error of `resource '\/' not exist`，I think this was returned by wolf. The request path you are using is `/`, check if this request path exists in wolf.

[2021-08-09 16:55] #4781 closed

[2021-08-09 23:50] zhangdadan commented on #4776
Thanks,it' useful

[2021-08-09 23:50] #4776 closed

[2021-08-10 01:10] zhangbing17 commented on #4769
It's changed to this, but
![image](https://user-images.githubusercontent.com/23377580/128793255-3ee72206-5581-4c01-9aaa-e79f480ddd3f.png)

![image](https://user-images.githubusercontent.com/23377580/128793211-913c394f-5b87-4aa8-8323-0d3895ca7a0b.png)
![image](https://user-images.githubusercontent.com/23377580/128793277-375102d0-8360-4f23-80ef-4ce5bab5939b.png)

[2021-08-10 01:30] shoulda commented on #4770
就是跑ip-restriction插件的单测😄

[2021-08-10 01:35] Xunzhuo commented on #157
@membphis If we want to achieve this in 'APISIX' ,there are couple of things to do:

[2021-08-10 02:06] #4762 closed

[2021-08-10 02:16] #4746 closed

[2021-08-10 02:25] tzssangglass commented on #4770
On the master branch, I execute `make deps` nstall the latest dependencies.

Turn on etcd, and  use `prove -Itest-nginx/lib -r t/plugin/ip-restriction.t` to run test, it works well.

[2021-08-10 02:48] tzssangglass commented on #4769
I think you have the wrong `consumer-restriction` configuration, see: https://github.com/apache/apisix/blob/master/docs/zh/latest/plugins/consumer-restriction.md#%E7%A4%BA%E4%BE%8B

And I suggest you consider the `consumer-restriction` and `wolf-rbac` plugins separately. We are now communicating in a confusing situation.

[2021-08-10 07:18] shoulda commented on #4770
I was run apisix2.8, does you run the test on the apisix 2.8 works well?

[2021-08-10 07:27] zuodengchao opened #4790 "The rewrite-proxy plug-in will invalidate the methods（ngx.req.set_uri_args or ngx.req.set_body_data） in the custom plug-in"
我自定义了一个插件xxx 执行阶段是access ，中间处理的逻辑是在body或者是在query 中添加了一个参数userId,	ngx.req.set_uri_args(data)和ngx.req.set_body_data(data)，
当没有启动rewrite-proxy插件的时候，我自定的插件是可以的，启用之后发现set_uri_args和set_body_data 将会失效

[2021-08-10 07:54] aiyiyi121 opened #4791 "request help: How can I set the upstream by using the address from request param"
### For example：
[code]

Do I need to develop plugins

[2021-08-10 08:28] aichibazhang opened #4792 "response-write support mutiply error code"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6
* OS (cmd: `uname -a`): ubuntu

[2021-08-10 10:08] spacewander commented on #4791
Similar to https://github.com/apache/apisix/issues/4603

[2021-08-10 10:08] #4791 closed

[2021-08-10 10:27] zuiyangqingzhou commented on #4712
After I do the following configuration
[code]
Nginx variable $http_x_forwarded_for: `84.1.189.203, 23.44.5.76`, $remote_addr: `23.44.5.76`，However, `23.44.5.76` is the IP of Akamai manufacturer.

How can I get this IP `84.1.189.203`?  It is impossible for me to add all the Akamai manufacturer' IP addresses to the real_ip_from module

@tzssangglass  @spacewander

[2021-08-10 10:30] tokers commented on #4792
@aichibazhang Could you describe your demands in more elaborately?

[2021-08-10 10:33] aichibazhang commented on #4792
我的意思是,response-write 是否可以支持多个错误码的改写,array类型,比如这样的json
[code]

[2021-08-10 10:35] tokers commented on #4790
Do you mean `proxy-rewrite` plugin?

Which plugin runs first? The `proxy-rewrite` or your own? Actually the args sent to upstream was stored in the Nginx variable `$upstream_uri`, and it will be changed by `proxy-rewrite` (but appending the original args), so if the `proxy-rewrite` runs first, your changes are not ineffective.

[2021-08-10 10:35] tokers commented on #4792
Interesting, I think it's useful.

[2021-08-10 10:36] tokers commented on #4792
@aichibazhang Would you like to write a discussion mail to dev@apisix.apache.org? Let's discuss about the proposal.

[2021-08-10 10:53] tzssangglass commented on #4712
1. Cover all Akamai manufacturer' IPs in `real_ip_from` by using CIDR, see http://nginx.org/en/docs/http/ngx_http_realip_module.html

2. See if the Akamai manufacturer supports providing the original visitor IP in a special header, Just like CloudFlare provides `CF-Connecting-IP` header, see https://support.cloudflare.com/hc/en-us/articles/200170986

[2021-08-10 10:54] zuodengchao commented on #4790
proxy-rewrite runs in the rewrite phase, and my customized plugin runs in the access phase, so proxy rewrite must run first.That's strange

[2021-08-10 11:55] zhendongcmss opened #4794 "bug: APISIX v2.7 doesn't support S3(Object Storage API) signature_v4"
### Issue description

[code]

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.7
* OS (cmd: `uname -a`): centos 7.3
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):1.19.3.2
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.4.0
* ap

[2021-08-10 14:43] okaybase commented on #4699
PR: https://github.com/apache/apisix/pull/4795

[2021-08-11 00:04] #4741 closed

[2021-08-11 00:22] membphis commented on #157
@spacewander what do you think about the message of @Xunzhuo?

@Xunzhuo if you would like to join this job, please let me know. my email: membphis@apache.org

[2021-08-11 00:55] spacewander commented on #157
Totally agree.
1. Personally I prefer to wasmtime. It has an active development and is backed by big company.
2. Yes, our proxy-wasm-host would be an Nginx module called wasm-nginx-module.

[2021-08-11 01:09] kuberxy opened #4796 "request help: Whether the active health check is not perfect？"
## Issue description
When the upstream network is unavailable or the upstream is unhealthy, apisix will still forward the request to the problem node
I did a test in two scenarios, as follows

### scene 1: upstream network is unavailable
#### nginx1(One of the upstream)
[code]

#### nginx2 and nginx3 (Other upstream)
[code]

#### use apisix as proxy
config.yaml:
[code]

apisix.yaml:
[code]
The req

[2021-08-11 03:13] #4755 closed

[2021-08-11 03:31] luoyin63 opened #4798 "request help: Requires: openresty >= 1.17.8.2"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.8
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

[2021-08-11 04:10] spacewander commented on #4796
I tried to reproduce it but failed.

Here is my upstream:
[code]

My conf:
[code]

[code]

I start to try it once I see this log:
[code]

And the result...
[code]

[2021-08-11 05:01] tokers commented on #4794
Where are the APISIX related configurations? Please also show them.

[2021-08-11 05:03] spacewander commented on #4798
You need to install OpenResty with yum if you need to install APISIX with yum.

[2021-08-11 05:04] tokers commented on #4796
@kuberxy Have you ever seen some related logs in APISIX error.log?

[2021-08-11 05:04] spacewander commented on #4698
Closed as lack of response.

[2021-08-11 05:04] #4698 closed

[2021-08-11 05:43] sunhao-java opened #4800 "Admin API中关于创建Route入参(vars)的描述有错误"
# 改进文档

url: https://apisix.apache.org/zh/docs/apisix/admin-api#route

![image](https://user-images.githubusercontent.com/2178487/128975486-d88ae095-8e6d-4f3f-8c75-725374849927.png)
在json中，方括号表示数组，而花括号表示对象。这里明显是想表述是数组嵌套数组的方式，但是用两个花括号在json里面是错误的书写方式。所以这里应该是方括号。

## 描述你想要的解决方案

这里的示例应该修改成如下：
[code]

[2021-08-11 06:37] zhendongcmss commented on #4794
APISIX all configs are
[code]

[2021-08-11 07:04] xiaojifan opened #4801 "request help: 这跟nginx有啥区别嘛？？没太看懂，生产中能直接替换nginx嘛"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
*

[2021-08-11 07:15] zhangbing17 opened #4802 "bug: Error: read ECONNRESET"
### Issue description
Curl is available on the server and other server requests, but the local postman request keeps getting Error: read
![image](https://user-images.githubusercontent.com/23377580/128985770-ed68cca4-a815-4531-9233-041b3393265f.png)
![image](https://user-images.githubusercontent.com/23377580/128985800-fd6abf0e-3f90-459a-aa4c-949a2342c08d.png)

ECONNRESET### Environment

Bug report