[2020-07-17 02:25] adugeek opened #1856 "request help: What to do when the downstream protocol is http and the upstream service is tcp"
### Issue description

Hello:
    Our existing services are exposed externally using tcp.

     Now, we plan to migrate the system to k8s deployment,

     Considering that the tcp service is not convenient to expose outside the k8s cluster,

     So we need an http gateway to perform protocol conversion operations, and connected to the back-end tcp service

     We have made a demo based on openr

[2020-07-17 02:30] membphis commented on #1837
failed again:

![image](https://user-images.githubusercontent.com/6814606/87742051-88e99080-c818-11ea-8a96-5e7823cbd008.png)

[2020-07-17 03:02] freesky100 opened #1857 "request help: [improve] how to update apisix in product"
### Issue description
my enviroment current use 1.0 version ,and  i want to upgrade to 1.4.1version ,how i upgrade without affecting current runtime
system.
hope have a shell or managerment endpoint , implments one key to upgrade.
also want the installation to provide the same script
### Environment

* apisix version (cmd: `apisix version`):1.0.0
* OS: centos7

[2020-07-17 04:41] membphis opened #1858 "feature: support rate limit in handshake phase"
Limit the frequency of SSL handshake to prevent excessive CPU resources from being used for SSL handshake.

add new logic at this phase:

https://github.com/apache/incubator-apisix/blob/master/apisix/init.lua#L146

we can add a global option.
eg: `apisix.ssl.limit_req`, https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L89

[2020-07-17 04:46] membphis opened #1859 "feature: support SSL ticket"
useful example: https://github.com/openresty/lua-ssl-nginx-module

[2020-07-17 04:47] membphis commented on #1804
1. Add speed limit method in the handshake phase, related issue: https://github.com/apache/incubator-apisix/issues/1858
2. The client support reuse session or ticket. the APISIX has supported to store/fetch the old session now. but for `ticket` session, APISIX does not support now, related issue: https://github.com/apache/incubator-apisix/issues/1859

welcome PR

[2020-07-17 05:01] membphis commented on #1857
1. you need to read the changelog of the new version, eg: 1.1, 1.2, 1.3, 1.4
2. You need to determine which changes that are not downward compatible are of your own concern.
3. for centos7, we advise you to install with RPM package way, you can install the new version, then the APISIX has upgraded to the new version.

[2020-07-17 05:03] membphis commented on #1850
please take a look at this document: https://github.com/apache/incubator-apisix/blob/master/FAQ.md#how-to-support-gray-release-via-apisix

if it is not powerful enough for you, please send us the way you want.

[2020-07-17 05:18] membphis commented on #1851
Is it an inevitable bug, or does it happen occasionally?

Have you reproduced this bug stably?

[2020-07-17 06:14] membphis commented on #1855
my vote +1

[2020-07-17 06:17] membphis commented on #1841
I prefer this way.

[2020-07-17 06:22] membphis commented on #1856
this way is good. if you need a better performance, we need to hack openresty, we can implement a new `cosocket_ffi` method.

Of course, for the TCP protocol, multiplexing technology is usually used, which makes the implementation difficult.

[2020-07-17 06:26] sshniro opened #1861 "Make admin APISIX response return JSON instead of HTML content"
While making Admin API calls the rejected response provides HTML content. Is this the preferred way? Or can this behavior modified to return proper JSON response?

<img width="491" alt="Screenshot 2020-07-17 at 08 16 46" src="https://user-images.githubusercontent.com/13045528/87755205-e2e15a80-c806-11ea-9494-364fe84de074.png">

[2020-07-17 06:33] membphis commented on #1861
Normal response (200), APISIX returns the response body in JSON format.

Abnormal response (not 200), I think it is more appropriate to use the HTTP default response body.

[2020-07-17 06:40] Beckjiang commented on #1850
looks good!

but in our system, there are no obvious parameters to distinguish requests. Is it possible to just configure the ratio to divide the requests to the new configuration?

[2020-07-17 06:49] sshniro commented on #1855
Agreed, but for our scenario, both are deployed in the same domain (Keycloak and APISIX). Therefore, the extra verification felt like an additional step to our setup.

[2020-07-17 07:16] Joe123-ai opened #1862 "bug: redirect question"
apisix version:1.3

Send request address  is  'http://127.0.0.1:9080/test',
![图片](https://user-images.githubusercontent.com/63997680/87759011-2ad0a380-c840-11ea-91ca-8e5a5069b401.png)

The address changes after redirection :http://127.0.0.1/test1.

question:after redirect,the port disappear

[2020-07-17 07:31] membphis commented on #1862
please provide more information, eg:

your apisix version
your route informatin

[2020-07-17 07:39] membphis commented on #1850
you can take a look at this example, https://github.com/api7/lua-resty-radixtree#synopsis

I think it can help you.

[2020-07-17 08:06] Beckjiang commented on #1850
perfect. thx :)

[2020-07-17 08:06] #1850 closed

[2020-07-17 08:41] membphis commented on #1837
fixed https://github.com/apache/incubator-apisix/pull/1860

[2020-07-17 08:41] #1837 closed

[2020-07-17 08:50] membphis commented on #1784
I will fix this bug

[2020-07-17 10:16] UnderTreeTech opened #1865 "request help: How to separate apisix and user customize code?"
How to deploy apisix and user customize code separately in prod env? If we can deploy them in different ways, then apisix is transparent to user's logic code, we can upgrade apisix or logic code at any time.

[2020-07-17 11:17] membphis commented on #1865
We always advise users that only the plug-in code is customized.

When you do upgrade, you can always use the latest APISIX core.

[2020-07-17 13:51] #1834 closed

[2020-07-18 15:03] Yiyiyimu opened #1866 "request help: all $ENV{TEST_NGINX_USE_HUP} hang up in test file"
### Issue description
When running `make test`, each test file with head of
[code]
would hang up and show
[code]

It shows there is something wrong when nginx server reloading its configurations without a full restart, but how could I know which place could cause this issue?

Also, I wondered for what kind of test files do we need to test if it could work fine without full restart? I failed to fin

[2020-07-19 01:14] membphis commented on #1866
It's fine, you can just ignore the warning message "waiting 1 sec for nginx to reload the configuration" .

[2020-07-19 02:05] Yiyiyimu commented on #1866
Thank you @membphis for your reply!

But the thing is the whole test process would hang up there, keep printing "waiting 1 sec" and refuse to continue. Is there any method to prevent it printing this kind of warning, besides removing the TEST_NGINX_USE_HUP part?

[2020-07-19 09:32] UnderTreeTech opened #1868 "request help: do you have any plan to add waf feature?"
### Issue description
Do you have any plan to add waf to defend attacks like XSS, SQL Injection, WebShell?

[2020-07-19 12:26] shuaijinchao commented on #1868
Hello, APISIX already supports the IP black and white list function, please see [IP Restriction Plugin](https://github.com/apache/incubator-apisix/blob/master/doc/plugins/ip-restriction.md)

[2020-07-19 13:17] membphis commented on #1866
Which specific use case do you have a problem with?

The current test cases are all passed, and there is a problem with your environment.

[2020-07-19 14:24] UnderTreeTech commented on #1868
I mean support anti xss, sql  injection, webshell upload and etc but not only IP Restriction. @shuaijinchao WAF is more complicated than IP Restriction.

[2020-07-19 14:34] membphis commented on #1868
@UnderTreeTech welcome PR for them

we can support IP Restriction and URI blocker now.

[2020-07-19 16:24] shuaijinchao opened #1869 "bug: failed to get `host` in health check configuration."
## code location
https://github.com/apache/incubator-apisix/blob/master/apisix/balancer.lua#L64
https://github.com/apache/incubator-apisix/blob/master/apisix/balancer.lua#L95
https://github.com/apache/incubator-apisix/blob/master/apisix/balancer.lua#L198
https://github.com/apache/incubator-apisix/blob/master/apisix/balancer.lua#L201
https://github.com/apache/incubator-apisix/blob/master/apisix/bal

[2020-07-19 16:26] shuaijinchao commented on #1811
I will deal with this problem.

[2020-07-20 01:32] moonming commented on #1853
@Miss-you agreed , welcome PR

[2020-07-20 01:40] membphis commented on #1869
you are right, welcome PR to fix it

[2020-07-20 02:44] shuaijinchao commented on #1869
OK

[2020-07-20 02:57] Yiyiyimu commented on #1866
Thank you I'll raise the issue under test-nginx repo.

[2020-07-20 02:57] #1866 closed

[2020-07-20 03:52] membphis opened #1870 "config.yaml: update the wrong comments"
it should be: `30 seconds`

https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L124

[2020-07-20 05:28] moonming commented on #1856
@membphis I think you misunderstood the question. @adugeek want to know how to do this job with Apache APISIX, and he want to make it easier.

[2020-07-20 05:32] moonming commented on #1856
@adugeek you can refer to the tcp-logger plugin: https://github.com/apache/incubator-apisix/blob/master/apisix/plugins/tcp-logger.lua, which is also downstream http and upstream tcp.

[2020-07-20 05:40] adugeek commented on #1856
Yes ,I just want to knwon this ! TKS , ^_^.

[2020-07-20 07:17] EdisonLiang opened #1873 "doc: The `doc/admin-api.md#consumer` & `doc/zh-cn/admin-api.md#consumer` doc, the consumer 'id' meaning confused."
### Issue description
The `doc/admin-api.md#consumer` & `doc/zh-cn/admin-api.md#consumer` doc, the consumer `id` meaning confused.

`id` miss leading `name` to `index` number while fetching one consumer details. eg:
based on docs:
`curl http://127.0.0.1:9080/apisix/admin/consumers/{id}  -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' `

but should be fix it for:
`curl http://127.0.0.1:9080/apisix

[2020-07-20 10:40] membphis commented on #1873
welcome PR

[2020-07-20 14:16] FourierX9 commented on #1791
Hello, I am Weiqing and I want to work on this issue as my first issue. I am trying to understand the inside logic and I will work out a  development plan in a few days.

[2020-07-21 01:43] mtx2d opened #1876 "request help: How to perform Authentication Code Grant Flow with OIDC using APISIX?"
### Issue description
I want to use APISIX as the main API gateway to perform the OIDC flow for my mobile app.
Do we have document showing such an similar to the follow?

In the meantime, at step `I`, I would like to talk to a Redis instance for user Sessions, is this possible?
![image](https://user-images.githubusercontent.com/64316805/88002969-c298f080-cad1-11ea-8aaf-47028808475c.png)

### Envir

[2020-07-21 02:01] #1865 closed

[2020-07-21 02:03] moonming commented on #1868
@UnderTreeTech yes, Apache APISIX need WAF features. Maybe we can add module like modsecurity?

[2020-07-21 02:16] wrl96 commented on #1836
I think we should remove apisix.admin.plugins.check_schema, just check schema in sync_data

[2020-07-21 02:23] moonming opened #1877 "request help: add version in http response `server` header"
Apache APISIX only return `server: APISIX`, we need to add version like `server: APISIX/1.4`

[2020-07-21 02:37] moonming commented on #1877
we can remove https://github.com/apache/incubator-apisix/blob/master/bin/apisix#L241, and use lua code to add http header

[2020-07-21 02:57] 0102redirects opened #1878 "`gcr.azk8s.cn/etcd-development/etcd:v3.3.12` in docker-compose.yaml can not access"
如题

[2020-07-21 03:36] Joe123-ai opened #1879 "request help:"
### Issue description
以下是routes配置：
curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "uri": "/nacos-provider/provider/*",
    "upstream": {
         "nodes": {
            "127.0.0.1:8099": 1
			},
        "type": "roundrobin"

    }
}'

我用java写了一个重定向的后台，代码如下：
 //test
    @RequestMapping("/test")
    public ModelAndView paramRedirec

[2020-07-21 05:39] Joe123-ai opened #1880 "request help: The port disappears after redirection"
### Issue description
以下是routes配置：
curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "uri": "/nacos-provider/provider/*",
    "upstream": {
         "nodes": {
            "127.0.0.1:8099": 1
			},
        "type": "roundrobin"

    }
}'

我用java写了一个重定向的后台，代码如下：
 //test
    @RequestMapping("/test")
    public ModelAndView paramRedirec

[2020-07-21 05:39] #1879 closed

[2020-07-21 06:27] moonming commented on #1880
@Joe123-ai what's the response header of the upstream java service? Apache APISIX will not change the upstream response.

[2020-07-21 06:37] Joe123-ai commented on #1880
这是返回的header:
Content-Type →application/json;charset=UTF-8
Transfer-Encoding →chunked
Date →Tue, 21 Jul 2020 06:35:28 GMT

[2020-07-21 06:41] Joe123-ai commented on #1880
需要我做什么处理吗

[2020-07-21 06:44] moonming commented on #1880
is there has `Location:` response header?

Thanks,
Ming Wen
Twitter: _WenMing

Joe123-ai <notifications@github.com> 于2020年7月21日周二 下午2:41写道：

[2020-07-21 06:48] Joe123-ai commented on #1880
我不太明白您的意思，您能说下需要我这边怎么测试下吗

[2020-07-21 11:28] gxthrj commented on #1878
ok，I will change it to bitnami/etcd:3.4.9

[2020-07-21 13:36] membphis opened #1881 "request-validation: check whether the input configuration is a valid JSON Schema."
https://github.com/apache/incubator-apisix/pull/1709#discussion_r440599144

[2020-07-21 13:38] #1643 closed

[2020-07-21 13:42] membphis opened #1882 "doc: Chinese doc for plugin request-validator"
here is the English doc: https://github.com/apache/incubator-apisix/commit/a6179996d4ddd8f99dfc44398666c282e6fd78ba#diff-14449a90466a7b8b69021054e24a789b

[2020-07-22 05:23] nic-chen opened #1885 "request help: need more prometheus metrics"
### Issue description

We need more prometheus metrics for better understanding the situation of APISIX nodes.
For example, etcd keys's modify index, could help us to know about the status of etcd data synchronization.

### Environment

* apisix version (cmd: `apisix version`): 1.4.1
* OS: linux

[2020-07-22 06:27] hzqij opened #1886 "Does the stream proxy support authentication plugins?"
curl http://127.0.0.1:9080/apisix/admin/stream_routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "remote_addr": "127.0.0.1",
    "upstream": {
        "nodes": {
            "127.0.0.1:1995": 1
        },
        "type": "roundrobin"
    }
}'

curl http://127.0.0.1:9080/apisix/admin/stream_routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "remote

[2020-07-22 07:38] moonming commented on #1886
No, all the auth plugins are wroking in L7, and stream proxy working in L4.
By the way, how to do auth for tcp or udp request? TCP-AO？

[2020-07-22 08:52] #1846 closed

[2020-07-22 14:30] odidev opened #1887 "Linux jobs in Travis-CI"
Hi Team,

I am interested in adding arm64 jobs to Travis-CI.
I found that the linux jobs have been removed from .travis.yml recently. May I please know why the change has been done? I am interested in this activity because aarch64 support is fabulously increasing in the projects, and Travis-CI would be a good platform to display aarch64 support.

### Environment Details ###
OS : Linux
Arch : arm64

[2020-07-22 15:06] XW512 commented on #1802
If many microservices need to be registered to the gateway, it will be very troublesome to add them manually. Is it possible to register the services to zookeeper or other registration centers, and then the gateway will read the registered services. Now we want to register nearly hundreds of interfaces to the gateway

[2020-07-23 02:16] tiger333777 opened #1889 "bug: some site pages will be garbled"
### Issue description
Use APISIX master branch to do reverse generation, some site pages will be garbled

### Environment

* apisix version (cmd: `apisix version`): master branch 1.4.1
* OS: centos7

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

[2020-07-23 06:38] tiger333777 commented on #1889
chareset utf-8

[2020-07-23 09:30] poidl opened #1893 "Documentation on listening to port 80?"
Version 1.4
I'm a beginner and tried using
[code]

in `  conf/config.yaml`. The objective is simply to use APISIX for a publicly available home page.
[code]
errors with
[code]
I read this issue
#https://github.com/apache/incubator-apisix/issues/1693
where it says that nginx shouldn't be run as root.
I read some forum posts, e.g.
https://superuser.com/questions/710253/allow-non-root-process-to-bind

[2020-07-24 01:14] moonming commented on #1887
@odidev CI is migrating from travis to github actions, and only macos is still using travis CI.
I'm not sure if arm64 is supported in github actions, but if not, we can add a test for arm64 to travis CI.
Welcome PR

[2020-07-24 01:19] moonming commented on #1802
agreed, Apache APISIX can works with external service discovery：In addition to the built-in etcd, it also supports Consul and Nacos DNS discovery mode, and Eureka

[2020-07-24 01:24] moonming commented on #1893
How did you install Apache APISIX? Seems like Apache APISIX can't find the dependency: resty.worker.events

[2020-07-24 03:52] lingsamuel commented on #1691
@shenal
Repo apache/incubator-apisix-helm-chart disabled issue so I post here.

In `NOTES.txt`, it tells user to access service `{{ include "apisix.fullname" . }}`:
[code]
But the service name is `{{ include "apisix.fullname" . }}-gateway` in `service-gateway.yaml`:
[code]

Is this a mistake?

[2020-07-24 06:27] afghanistanyn opened #1895 "bug: ` make install ` did not install lua deps to apisix install dir"
### Issue description
# apisix
lua: /usr/bin/apisix:83: module 'tinyyaml' not found:
	no field package.preload['tinyyaml']
	no file '/usr/local/apisix/deps/share/lua/5.1/tinyyaml.lua'
	no file './tinyyaml.lua'
	no file '/usr/share/lua/5.1/tinyyaml.lua'
	no file '/usr/share/lua/5.1/tinyyaml/init.lua'
	no file '/usr/lib64/lua/5.1/tinyyaml.lua'
	no file '/usr/lib64/lua/5.1/tinyyaml/init.lua'
	no file

[2020-07-24 07:23] moonming commented on #1895
`make install` is a deprecated cmd.

[2020-07-24 07:30] sshniro opened #1897 "Allow or Reject API calls based on arbitrary code execution"
Hello, I need to allow or reject API calls via performing a regex check on the request body. Is there a mechanism available in APISIX to do this? or should this be a custom plugin?

POST Data
[code]

APISIX Code
[code]

[2020-07-24 07:40] poidl commented on #1893
Thanks for your help! To make it more reproducible I re-installed and attached an install script below. This installs to an unpriviliged user's home directory (note the `configure --prefix` for `openresty` and `luarocks` in the install script).

This works without error:
[code]

But
[code]
results in (`cat logs/error.log`)
[code]
In the github issue referenced above, a user said that nginx is `nob

[2020-07-24 08:41] moonming commented on #1897
it looks like a feature of WAF.
You can create a new plugin to parse post body, there's no mechanism in place to do this yet.

[2020-07-24 09:03] Yangzcy423911 opened #1898 "bug:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS: 1.4

### Minimal test code / Steps to reproduce the issue
When creating a route, the route is created successfully. If the route is modified through the web page, an error is reported

### What's the actual result? (including assertion message & call stack if applicable)

![image](https://user-images.githubuser

[2020-07-24 09:31] sshniro commented on #1897
Thanks, I was also going through the serverless plugin, is there a way this plugin can be modified to read the body and reject the calls @moonming ?

[2020-07-24 09:57] moonming commented on #1897
sure, it's a good way.

Thanks,
Ming Wen
Twitter: _WenMing

Nirojan Selvanathan <notifications@github.com> 于2020年7月24日周五 下午5:31写道：

[2020-07-24 10:35] UnderTreeTech opened #1899 "request help: what's the difference between conf and lru cache"
In most plugins, apisix use lru cache to store hot data. At the same time, in every plugin user can get config data through parameter conf. That make me confused, if conf can provide plugin global data, why apisix still choose lru to store global data? @membphis @moonming

[2020-07-24 15:34] UnderTreeTech opened #1900 "request help: signature plugin"
Hope apisix will add signature verify plugin

[2020-07-25 05:26] UnderTreeTech opened #1901 "bug: 500 error when bench limit-count plugin"
limit count conf:
policy: redis
count: 100
time_window: 60
key: remote_addr
os: CentOS 7.6
benchmark tool: apache benchmark

I got runtime error which result in 500 response when i bench 1million request, 1k concurrency by ab.It seems `red:ttl(key)` return nil in limit-count-redis.lua. The follow snippet is runtime error detail:
[code]

Is it a bug? @membphis @moonming

[2020-07-25 07:31] shoogoome opened #1902 "feature : Different upstreams use different discovery and customize the discovery schema"
The current service discovery function can only use one service at the same time, and can only use service_ name field.

I have modified it so that different upstreams can specify different discovery and adapt to each discovery schema

[2020-07-25 13:53] moonming commented on #1900
@UnderTreeTech can you show me a example? I am not sure what signature plugin?

[2020-07-25 13:54] moonming commented on #1898
@gxthrj please take a look

[2020-07-25 15:04] UnderTreeTech commented on #1900
signature = md5(query_param+body+secret+timestamp+nonce)
In p2p, 2c scenario, we should verify peer request is valid or malicious. Signature is a common way to guarantee request trustable. @moonming

[2020-07-26 00:16] membphis commented on #1899
The `conf` is the user's original configuration in etcd. We need to avoid modifying it.
Keep to use it in a "read-only" way is safer.

[2020-07-26 00:18] membphis commented on #1901
yes, that is a bug. we need to check the return value first.
welcome PR ^_^

[2020-07-26 02:29] UnderTreeTech commented on #1899
If my customize plugin only read the conf, can I use the conf directly? I think is more convenient.@membphis

[2020-07-26 02:35] UnderTreeTech commented on #1901
Another issue: in my bench scenario, the redis connections is much more than pool size, there are many timewait , close wait connections, Is pool connection is not reusable long connection? BTW, my pool size is 100 and keepalive timeout is 10 minutes.

[2020-07-26 13:04] membphis commented on #1899
of course, you can do in this way.

and we can close this issue.

[2020-07-26 13:04] #1899 closed

[2020-07-26 13:05] membphis commented on #1901
one issue focus on one thing. if you have another question, please create a new issue.

[2020-07-26 14:21] membphis commented on #1836
@wrl96 Your way is dangerous, we don't allow dirty data to be stored in etcd.

[2020-07-26 14:22] membphis commented on #1836
I will fix this bug

[2020-07-27 01:24] UnderTreeTech opened #1911 "request help: too many redis connections while using limit-count plugin"
I benched limit-count plugin by 100K request, 1K concurrency and found that the redis connections is much more than pool size, there are many timewait , close wait connections, Is pool connection not reusable long connection? BTW, my pool size is 100 and keepalive timeout is 10 minutes. @membphis

[2020-07-27 02:49] membphis commented on #1911
please take a look at  the option `backlog` of `tcpsock:connect`: https://github.com/openresty/lua-nginx-module#tcpsockconnect

it maybe useful for you.

[2020-07-27 03:11] UnderTreeTech commented on #1911
Gotcha, I'll reply after test it.

[2020-07-27 05:28] gxthrj commented on #1898
ok, get it

[2020-07-27 05:47] #1869 closed

[2020-07-27 06:24] membphis commented on #1889
welcome PR,  I think this is a common feature.

[2020-07-27 06:27] membphis commented on #1876
@moonming do you know this? I am not familiar for this issue.

[2020-07-27 06:43] #1836 closed

[2020-07-27 08:20] moonming commented on #1900
@UnderTreeTech Is it same as https://github.com/apache/incubator-apisix/issues/1653?

[2020-07-27 08:25] UnderTreeTech commented on #1900
Yep, but less complicated, maybe just md5 or sha1.

[2020-07-27 08:41] moonming commented on #1900
got it. @UnderTreeTech Do you have time to contribute to this plugin?

[2020-07-27 09:11] gxthrj commented on #1878
fix by pr https://github.com/apache/incubator-apisix-docker/pull/65

[2020-07-27 09:11] #1878 closed

[2020-07-27 10:24] UnderTreeTech commented on #1900
OK，I'll try. @moonming

[2020-07-27 10:54] membphis commented on #1893
you need to install APISIX to `/usr/local/apisix`, and set right access permissions. then you can start the APISIX with `sudo`.

the user is `nobody` by default if you start APISIX with `sudo`, from the error log, it is caused by not having permission to read the file.

[2020-07-27 10:54] #1893 closed

[2020-07-27 16:30] shuaijinchao commented on #1901
I will deal with this problem.

[2020-07-27 17:41] shuaijinchao commented on #1881
I will deal with this problem.

[2020-07-28 03:33] membphis commented on #1881
many thx @shuaijinchao

[2020-07-28 03:44] JanLi-air opened #1915 "bug: cors should be at header_filter phase"
### Issue description
the cors headers can be overridden by upstreams if it's put at rewrite phase.

### Environment

* apisix version (cmd: `apisix version`): 1.4
* OS: Linux

### Minimal test code / Steps to reproduce the issue
1. Create a backend which override the cors headers, such as Access-Control-Allow-Origin
2. Configure cors plugin to proxy to the upstream setup in step 1
3. Request the

[2020-07-28 04:13] membphis commented on #1915
@ShiningRush do you have to look at this issue?

[2020-07-28 04:13] membphis commented on #1915
@JanLi-air many thx for your report this bug

[2020-07-28 04:30] ShiningRush commented on #1915
It related with #1704, I will fix it in this week.
I think user should not concern at which phase cors plugin work, they just care whether the cors plugin overwrite upstream's header.
BTW: make sure cors plugin work fine with auth plugins is a better way, because the Browser just report the cors error  when authenticated failed.
It is unfriendly to front-end engineer

[2020-07-28 05:38] JanLi-air commented on #1915
if cors plugin needs to work with auth plugins, i think we can set header both at header_filter phase and after auth failure.
But since auth plugin will return before cors plugin, and we need to keep plugins independent with each other, we'd better write cors headers at both rewrite phase and header_filter phase.

[2020-07-28 06:36] ShiningRush commented on #1915
Yes, you are right : )
The cors plugin will write header in rewrite phase or both rewrite and header_filter phase, it depend on `is_overwrite_upstream`.
But now here is a strange problem that it seems if we write header in rewrite phase and upstream also write header , client will get a duplicate headers, it confuse me.

[2020-07-28 06:48] JanLi-air commented on #1915
it depends on how we write the header. because in http you can have multiple headers with identical name, so if you want to override you need to first delete the existing one.

[2020-07-28 14:48] Hmemories commented on #1838
Is this problem solved now？

[2020-07-28 14:49] membphis commented on #1688
it has been fixed https://github.com/apache/incubator-apisix/blob/master/apisix/init.lua#L374-L378

then we can close this PR.

[2020-07-28 14:49] #1688 closed

[2020-07-28 15:51] #1811 closed

[2020-07-28 16:52] shuaijinchao commented on #1853
the problem has been fixed, I will close this issue.

[2020-07-28 16:52] #1853 closed

[2020-07-28 17:09] shuaijinchao commented on #1882
I will deal with this problem.

[2020-07-29 02:28] #1881 closed

[2020-07-29 04:18] moorefu opened #1922 "feature : support defined environment variable in config.yaml"
i think we can support defined environment variable in config.yaml like this
[code]

and render the template to genarate nginx.conf like this
[code]
it will be a useful feature.

[2020-07-29 05:20] moonming commented on #1922
sounds good to me, welcome PR

[2020-07-29 05:32] gxthrj opened #1923 "feature: Divide config.yaml into two files config-custom.yaml & config-default.yaml"
### Issue description
1. When I deploy APISIX, only a small amount of configuration needs to be modified in conf.yaml.
2. When the APISIX version is upgraded, some configuration items may be added, and these configuration items may be ignored by the user and cause errors.

proposal
1.Divide config.yaml into two files config-custom.yaml & config-default.yaml.
2.`config-default.yaml` is the most com

[2020-07-29 05:46] gxthrj commented on #1898
@juzhiyuan please have a look, when `redirect` key should not be exist when disable redirection

[2020-07-29 06:10] juzhiyuan commented on #1898
1. Please make sure you are using the latest codes from master branch by `git pull`
2. It seems you are under development mode from your snapshot, if you are using the latest codes, then IT would be a bug on FE, we may need to check the transformer logic when update.

[2020-07-29 07:03] Yangzcy423911 commented on #1898
Thank you for your answer
 At present, the latest master branch has been used. This problem has been solved, and a stable version of the front end is expected

[2020-07-29 08:16] sshniro commented on #1897
Thanks.

[2020-07-29 08:16] #1897 closed

[2020-07-29 10:11] juzhiyuan commented on #1898
OK, it looks like the problem has been resolved, feel free to reopen it if you find the related issue.

[2020-07-29 10:11] #1898 closed

[2020-07-29 11:23] #1895 closed

[2020-07-29 11:24] #1784 closed

[2020-07-29 11:25] #1765 closed

[2020-07-29 12:54] #1522 closed

[2020-07-29 12:54] #1521 closed

[2020-07-29 15:09] #1870 closed

[2020-07-30 01:40] membphis opened #1933 "doc: need to update Chinese doc"
https://github.com/apache/incubator-apisix/pull/1926

[2020-07-30 01:46] membphis commented on #1923
1. Rename the current file conf/config.yaml to conf/config-default.yaml.
2. The content of the file conf/config.yaml is empty by default, and only contains comments to tell users how to use it.

[2020-07-30 01:51] ACanOfGas opened #1934 "bug: redirect plugin redirects all the time when https"
### Issue description
redirect plugin redirects all the time when https
### Environment

* apisix version (cmd: `apisix version`): 1.4
* OS:centos8

### Minimal test code / Steps to reproduce the issue
1.api config redirects plugins
2.Triggers an http access and redirect to https
3.Subsequent https accesses are still being redirected

### What's the actual result? (including assertion message & ca

[2020-07-30 01:58] ACanOfGas opened #1935 "bug: syslog plugin log "invalid api_ctx cannot proceed with sys logger plugin""
### Issue description
syslog plugin log "invalid api_ctx cannot proceed with sys logger plugin"

### Environment

* apisix version (cmd: `apisix version`):1.4
* OS:8.2

### Minimal test code / Steps to reproduce the issue
1.api config syslog plugin
2.error log: "invalid api_ctx cannot proceed with sys logger plugin"

### What's the actual result? (including assertion message & call stack if applic

[2020-07-30 05:16] #1933 closed

[2020-07-30 05:26] #1901 closed

[2020-07-30 08:04] spjiang opened #1939 "request help: failed to access Admin API, return 403 always"
### Issue description
curl http://127.0.0.1:9080/apisix/admin/routes/10 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -i -d '
{
    "uri": "/index.html",
    "hosts": ["127.0.0.1"],
    "remote_addrs": ["127.0.0.0/8"],
    "methods": ["PUT", "GET"],
    "upstream": {
        "type": "roundrobin",
        "nodes": {
            "127.0.0.1:80": 1
        }
    }
}'

![image](https://user-i

[2020-07-30 08:07] spjiang opened #1940 "分享本地docker开发环境Dockerfile"
FROM openresty/openresty:alpine-fat AS production-stage

ADD ./rockspec/apisix-master-0.rockspec /rockspec/apisix-master-0.rockspec
ADD ./apisix.zip /opt/api-gateway-core.zip
RUN set -x \
	&& /bin/sed -i 's,http://dl-cdn.alpinelinux.org,https://mirrors.aliyun.com,g' /etc/apk/repositories \
	&& apk add --no-cache --virtual .builddeps \
	automake \
	autoconf \
	libtool \
	pkgconfig \
	cmake \
	git \

[2020-07-30 09:05] moonming opened #1942 "request help: benchmark with Envoy and other gateways"
### Issue description
Many users want to know the performance comparison between Apache APISIX and envoy, but a correct performance test is very difficult.
Maybe we need to maintain a benchmark with Envoy and other gateways? Of course, all of this is open source.

[2020-07-30 09:46] #1882 closed

[2020-07-30 09:56] spjiang commented on #1939
![image](https://user-images.githubusercontent.com/8924638/88909550-da206800-d28d-11ea-994a-426f1b9b2f6b.png)
报403错误
解决方式：
![image](https://user-images.githubusercontent.com/8924638/88909588-e5739380-d28d-11ea-9dd4-3091e3322ca2.png)

[2020-07-30 12:16] ChelinTsien commented on #1653
assign to me

[2020-07-30 13:30] swayamraina opened #1944 "doc: grpc-transcode link broken in readme"
link to gRPC transcode plugin under Multi protocols is broken

[2020-07-30 14:16] moonming commented on #1653
nice

[2020-07-30 14:20] membphis commented on #1944
need to update the Chinese version too

[code]

[2020-07-30 14:21] membphis commented on #1944
@swayamraina would you like to handle this?

[2020-07-30 14:22] swayamraina commented on #1944
sure @membphis, will update the link for chinese as well

[2020-07-30 14:28] membphis commented on #1940
many thx for sharing your Dockerfile.

and we'd better use English in a public channel ^_^

[2020-07-30 14:28] membphis commented on #1940
if you have no issue, then we can close this issue first.

[2020-07-30 14:42] membphis commented on #1934
please show us the how did you set the `redirect` plugin, we need to confirm.

[2020-07-30 14:43] membphis commented on #1935
please show us what is the conf of plugin `sys logger`

[2020-07-30 16:44] shuaijinchao opened #1949 "doc: uri-blocker plugin has wrong path in README."
### Issue description
https://github.com/apache/incubator-apisix/blob/master/README.md#L93
https://github.com/apache/incubator-apisix/blob/master/README_CN.md#L92

### Environment

* apisix version 1.4.1

[2020-07-30 17:52] swayamraina commented on #1877
@moonming I have made the required changes however I am unable to run test-cases (new to writing tests inn perl/lua).
Can you please help to understand how to setup/run TCs

thanks

[2020-07-31 01:14] #1949 closed

[2020-07-31 01:20] membphis commented on #1208
do you still need any help?  @wanzhenhan

if yes, please tell us which version you are using.

[2020-07-31 01:21] #1823 closed

[2020-07-31 02:37] #1944 closed

[2020-07-31 02:38] membphis commented on #1944
@swayamraina many thx for your nice job

[2020-07-31 03:00] to2false opened #1952 "request help: build-in etcd service discovery example"
### Issue description

Is there an example of using build-in etcd service discovery?
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-07-31 03:12] ACanOfGas commented on #1934
{
    "redirect":{
        "http_to_https":true,
        "ret_code" : 302
    }
}

[2020-07-31 03:12] ACanOfGas commented on #1934
{
    "redirect":{
        "http_to_https":true,
        "ret_code" : 302
    }
}

[2020-07-31 03:14] ACanOfGas commented on #1935
"syslog":{
                                "host":"192.168.100.153",
                                "max_retry_times":3,
                                "tls":false,
                                "retry_interval":100,
                                "timeout":3,
                                "buffer_duration":60,
                                "port":514,
                                "bat

[2020-07-31 03:16] membphis commented on #1934
What is the way to enable this feature?

![image](https://user-images.githubusercontent.com/6814606/88996212-44351d80-d31f-11ea-8f23-6c710d22c9b1.png)

[2020-07-31 03:54] membphis commented on #1934
this should be a bug, will fix it as soon as possible.

[2020-07-31 04:10] moonming commented on #1923
Is this an incompatible feature?

[2020-07-31 04:12] moonming commented on #1940
Apache APISIX has docker repo:https://github.com/apache/incubator-apisix-docker, welcome to contribute.

[2020-07-31 04:12] #1940 closed

[2020-07-31 06:31] jackwoods opened #1954 "bug: service id does not support string"
### Issue description
service id does not support string

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
Client error: `PUT http://10.60.53.79:9080/apisix/admin/services/service-xxx-xxx` resulted in a `400 Bad Request` response:
{"error_msg":"wrong type of service id"}

### Source code
services.lua
[code]

[2020-07-31 06:35] jackwoods opened #1955 "feature: accept ":" in id?"
### Issue description
Is it possible that we can accept **":"** in id?
Then we can use it for namespace delimiter.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Source code
[code]

[2020-07-31 06:43] membphis commented on #1942
## system info:

[code]

## 1 worker + 1 route, with no plugin

### envoy

[code]

[code]

### APISIX

[code]

[2020-07-31 06:46] moonming commented on #1955
LGTM
welcome PR to add this feature

[2020-07-31 06:47] moonming commented on #1954
welcome PR to fix it.

[2020-07-31 07:10] membphis commented on #1942
### fake-apisix

https://github.com/apache/incubator-apisix/tree/master/benchmark/fake-apisix

[code]

[2020-07-31 08:01] membphis opened #1956 "bug: should not modify the user `conf` in plugin"
- [x] openid-connect
- [x] zipkin
- [x] uri-blocker

for example: https://github.com/apache/incubator-apisix/blob/master/apisix/plugins/zipkin.lua#L87

we need another way.

[2020-07-31 08:03] membphis opened #1957 "bug: return fail if failed to load SSL certificate by SNI"
https://github.com/apache/incubator-apisix/blob/master/apisix/init.lua#L162

only `warn` message is not enough.

[2020-07-31 08:03] membphis commented on #1957
@nic-chen do you have time to handle this bug?

[2020-07-31 08:48] membphis commented on #1923
it is a compatible feature. The user can still use his old `conf/config.yaml` as the user's own configuration.

[2020-07-31 09:20] jackwoods commented on #1954
I saw @membphis has fixed it in branch v1.4.1

[2020-07-31 09:20] #1954 closed

[2020-07-31 09:22] jackwoods commented on #1955
https://github.com/apache/incubator-apisix/pull/1959

[2020-07-31 11:12] swayamraina commented on #1877
@membphis can you please help here?

[2020-07-31 11:24] membphis commented on #1877
you can submit your code first. then I will help you where is the problem. ^_^ @swayamraina

[2020-07-31 11:44] ChelinTsien commented on #1653
@membphis this is ak/sk auth ，implemented according to aws v4, just badly named.

[2020-07-31 12:16] membphis commented on #1952
Discovery service protocol: https://etcd.io/docs/v3.4.0/dev-internal/discovery_protocol/

[2020-07-31 12:19] #1956 closed

[2020-07-31 12:20] membphis commented on #1934
@ACanOfGas please make a try with the master branch, we have fixed this issue.

[2020-07-31 12:20] #1934 closed

[2020-07-31 12:21] membphis opened #1962 "need test case: redirect plugin"
https://github.com/apache/incubator-apisix/pull/1958/files#diff-cdaf7c2893523e3e57d9b439cb5d2b23R133

[2020-07-31 15:47] nic-chen commented on #1957
@membphis  Ok, let me deal with this issue.

[2020-07-31 15:54] #1885 closed

[2020-08-01 00:03] #1915 closed

[2020-08-01 14:10] hzqij opened #1966 "request help: When using the RS256 algorithm, how to set the PUBLIC KEY and RSA PRIVATE KEY of the jwt-auth plugin？"
### Issue description
When using the RS256 algorithm, how to set the PUBLIC KEY and RSA PRIVATE KEY of the jwt-auth plugin？
![image](https://user-images.githubusercontent.com/29828306/89103354-c28ae000-d443-11ea-9a88-4e173a41a2c1.png)

![image](https://user-images.githubusercontent.com/29828306/89103424-74c2a780-d444-11ea-8b7e-cbb5884fccaf.png)

### Environment

* apisix version (cmd: `apisix vers

[2020-08-02 01:39] membphis commented on #1966
please take a look at the Admin API doc. we focus on the new dashboard now.

https://github.com/apache/apisix/blob/master/doc/plugins/jwt-auth.md#attributes

[2020-08-02 14:27] DHB-liuhong opened #1970 "bug: apisix-1.4.1 With SSL configured, numerous tests will fail to match any routes"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 1.4.1
* OS: centos 7.6

### Minimal test code / Steps to reproduce the issue
1. set ssl configure by curl -i http://192.168.3.36:9080/apisix/admin/ssl -d 'xxxxxxx'
2. Send a large number of requests to Apisix

### What's the actual result? (including assertion message & call stack if applicable)
![image](https://user

[2020-08-03 01:01] membphis commented on #1970
do you enable the etcd cluster? and you can make a try with APISIX 1.5 .

[2020-08-03 03:42] membphis commented on #1715
@wwd5613 any news?

[2020-08-03 03:44] membphis commented on #1431
fixed with new version of `nginx-lua-prometheus`.

[2020-08-03 03:44] #1431 closed

[2020-08-03 03:46] membphis commented on #981
fixed https://github.com/apache/apisix/pull/1871

[2020-08-03 03:46] #981 closed

[2020-08-03 03:54] membphis commented on #1644
it works fine at my local machine.
please make a try with the last version 1.5 or master branch.

[2020-08-03 03:54] #1790 closed

[2020-08-03 03:56] membphis commented on #1480
@Joe123-ai old issue, if you still have a problem, please feel free to reopen this issue.

[2020-08-03 03:56] #1480 closed

[2020-08-03 05:25] DHB-liuhong commented on #1970
1,no etcd cluster, just etcd rpm install.

[2020-08-03 06:38] zhuchengxing opened #1972 "request help:"
### Issue description
When I log in Kafka, the following error occurs:
![1](https://user-images.githubusercontent.com/29362652/89152923-81571500-d596-11ea-930b-f68ee1e84c5b.png)
When Lua gets the KAFka IP, it does not resolve it through /etc/hosts. Why? Is there a solution?
### Environment

* apisix version (cmd: `apisix version`): 1.3
* OS:centos7

[2020-08-03 07:15] samunbest commented on #1773
apache/skywalking-oap-server:7.0.0-es7  register_service_instance(): skywalking service instance register failed, response code:500
apisix version latest

[2020-08-03 07:25] membphis commented on #1972
Nginx will never use /etc/hosts to resolve DNS.

Nginx parses the domain always by DNS server, please take a look at: http://nginx.org/en/docs/http/ngx_http_core_module.html#resolver.

[2020-08-03 07:25] #1972 closed

[2020-08-03 07:50] membphis commented on #1970
Can you provide a small case for this problem? I have no easy way to reproduce this problem.

[2020-08-03 07:56] qianglu1989 opened #1973 "request help: want use https and wss ,how should it be configured"
### Issue description
how should it be configured   https and wss

1、now,i create upstream

![image](https://user-images.githubusercontent.com/8486184/89159056-8d949f80-d5a1-11ea-8be3-3d32a3269c8f.png)

2、router
![image](https://user-images.githubusercontent.com/8486184/89159120-a69d5080-d5a1-11ea-8aa6-f3e29117d235.png)

3、  https is ok，but how can iconfig wss, example wss port is 10800 (wss://gw-

[2020-08-03 08:06] membphis commented on #1776
fixed

[2020-08-03 08:06] #1776 closed

[2020-08-03 08:15] membphis commented on #1791
@FourierX9 any news?

[2020-08-03 08:16] membphis commented on #1973
you need to set SSL certificate first. https://github.com/apache/apisix/blob/29b15892b7aebf98f5724336276686496a15bfe4/doc/zh-cn/admin-api.md#ssl

[2020-08-03 08:21] qianglu1989 commented on #1973
no,here i don't set it, because here is https -> nginx  ->  apisix. so how  configure it wss

[2020-08-03 08:26] membphis commented on #1973
I think you can use `wss` after you set the SSL certificate.

[2020-08-03 09:26] purelind commented on #1488
Hi, could you explain more detail on how to make this work with the help of upstream chains?

Thank you!

[2020-08-03 09:46] samunbest opened #1974 "apisix latest version with skywalking register failed"
apache/skywalking-oap-server:7.0.0-es7
apisix version latest deploy by DOCKER

[lua] client.lua:118: register_service_instance(): skywalking service instance register failed, response code:500, context: ngx.timer, client: 180.167.84.154, server: 0.0.0.0:9080

[2020-08-03 10:14] purelind opened #1975 "request help: How to redirect url to specific node ip base on url head value with upstream chash?"
### Issue description

How to use upstream chash implement looking a specific node ip based on url head value.
example
[code]

upstream chash doc describe some usage about type chash, it say that looking specify node ip base on key && hash_on parameters.

![Screenshot 2020-08-03 at 17 42 26](https://user-images.githubusercontent.com/16618216/89170582-6eead480-d5b2-11ea-91b6-a9a892dad643.png)

I ha

[2020-08-03 10:15] qianglu1989 commented on #1973
已经设置了，前面还有个nginx, 我换个域名访问wss 使用都没问题。现在我想直接使用apisix 的域名来进行转发，应该怎么配置

[2020-08-03 10:16] purelind commented on #1975
@membphis  Please take a look, thank you!

[2020-08-03 13:42] membphis commented on #1957
@nic-chen I will handle this bug

[2020-08-03 14:09] membphis commented on #1815
@yongboy any news?

[2020-08-03 14:15] membphis commented on #996
I think we can close this issue. the definition of `schema` is enough:  https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L436-L443

[2020-08-03 14:15] #996 closed

[2020-08-03 14:16] membphis commented on #1079
old issue. @valpa if you still have a problem, please let me know. we can reopen it.

[2020-08-03 14:16] #1079 closed

[2020-08-03 14:17] #1208 closed

[2020-08-03 14:18] membphis commented on #1233
old issue, closed

[2020-08-03 14:18] #1233 closed

[2020-08-03 14:38] FourierX9 commented on #1791
Sorry for replying late. It is my first time to work on an OpenSource project, and I made a few mistakes in the last couple of weeks, but I think I am on the right track now. I read some materials about Lua last week and I have set up a Linux environment last weekend. Currently, I am trying to figure out how to work on this problem. Besides my daily job takes up lots of time but I spent lots of ti

[2020-08-03 14:49] membphis commented on #1975
please take a look at this test case: https://github.com/apache/apisix/blob/master/t/admin/upstream.t#L1186

if you have any questions, please let us know.

[2020-08-03 14:54] membphis commented on #1791
If you are just starting to learn Lua and open source projects, then this issue is not for you because it is more difficult.

I suggest you start your first step with some simpler issues.

[2020-08-03 14:56] membphis commented on #1791
@FourierX9 if you still want to work on this issue, please let us know.

[2020-08-03 14:58] membphis commented on #1973
I do not know what do you need. Can you provide more detail?

[2020-08-04 01:09] samunbest commented on #1974
[lua] client.lua:118: register_service_instance(): skywalking service instance register failed, response code:500, context: ngx.timer, client: 127.0.0.1, server: 0.0.0.0:9900

[2020-08-04 01:14] DHB-liuhong commented on #1970
step1: don't set ssl configure, put many objects. one request uploads one object. it's good ,All requests are forwarded and processed normally.
step2: set one ssl configure,  put many objects. one request uploads one object. Most of the requests are not forwarded, return 404
step3. Testing v1.2, step1 and step2 are good.
thanks

[2020-08-04 01:21] OnlyPiglet opened #1983 "bug: cors when the request is a preflight request we shouldn't set the Access-Control-Allow-Headers *"
### Issue description
when the request is a preflight request we shouldn't set the Access-Control-Allow-Headers, if we set the Access-Control-Allow-Headers * we will get a error from google chrome.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack

[2020-08-04 01:22] FourierX9 commented on #1791
I think it is okay to change to some simpler issues. Is there anything recommended?

[2020-08-04 01:32] #1382 closed

[2020-08-04 01:33] membphis commented on #1791
@FourierX9 https://github.com/apache/apisix/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

you can choose issue from this list ^_^

[2020-08-04 02:08] backnero opened #1984 "request help: APISIX and ETCD(@DOCKER) connect success，but error.log always report some"
### Issue description

Apisix and ETCD are used in istio deployed on the basis of k8s, and they are located in the same namespace. In addition to finding errors in error.log, the gateway uses other functions normally.

### Environment

* apisix version (cmd: `apisix version`): 1.4.1
* OS:centos
**env: k8s+istio**

[code]

Apisix and ETCD are in the same namespace, and the etcd timeout set in confi

[2020-08-04 02:11] purelind commented on #1975
I have read this test case.

It means that apisix will chose upstream node ip base on the result of hash on custom_head value, but which node ip been selected is depend on hash_on algorithm. On the other way, it mean we are not able to select specific node ip in my way.

[code]

thank you for your response.

[2020-08-04 02:35] backnero commented on #1984
[code]

[2020-08-04 02:39] membphis commented on #1975
@purelind you can create two routes, different route use different upstream node

[2020-08-04 02:41] membphis commented on #1984
it seems to be a network problem. you need to resolve it by your self. please pay attention to the DNS resolver.

[2020-08-04 02:41] membphis commented on #1984
you can ignore this error message.

[2020-08-04 02:42] membphis commented on #1974
@moonming please take a look

[2020-08-04 02:44] membphis commented on #1983
@ShiningRush please confirm if it is a bug

[2020-08-04 02:47] ShiningRush commented on #1983
What version are you using?

[2020-08-04 03:02] ShiningRush commented on #1704
After I talk with @membphis , I remove the option of `is_overwrite_upstream`, because we want plugin as simple as possible.
Now the plugin will overwrite upstream header defaultly.

[2020-08-04 03:40] yongboy commented on #1815
Had fixed already :))

[2020-08-04 03:40] #1815 closed

[2020-08-04 04:54] purelind commented on #1975
Thanks a lot!  Two different routes with vars figureout my problem exactly.

[2020-08-04 04:57] purelind commented on #1975
[code]

[2020-08-04 04:57] #1975 closed

[2020-08-04 10:54] ACanOfGas opened #1986 "bug: plugins limit-conn repeatedly leaving key"
### Issue description

When configuring the limit-conn plugin for both global and route rules,  ctx.limit_conn,ctx.limit_conn_key, ctx.limit_conn_delay
will be override.  in log phase, Repeatedly releasing route key and global rule key not release

### Environment

* apisix version (cmd: `apisix version`):1.4
* OS:centos8.1

### Minimal test code / Steps to reproduce the issue

1. configure the li

[2020-08-04 11:04] shibingli commented on #1773
Is there any new progress on this issue？

[2020-08-04 11:16] membphis opened #1987 "change: reenable `proxy-cache`, `proxy-mirror` by default in APISIX"
Talked with @moonming right now, will enable proxy-cache, proxy-mirror by default in APISIX.
For most users, it is easier to use API​​SIX.

Add a new document named What are the best practices for benchmarking APISIX?, tell the user how do benchmark for APISIX.

related discuss: https://github.com/apache/apisix/pull/1968#issuecomment-668535203

[2020-08-04 11:20] membphis commented on #1987
[code]

[2020-08-04 11:50] dabue commented on #1987
I'll update it.

[2020-08-04 12:44] spjiang opened #1990 "bug: custom plugin does not work"
### Issue description
自定义插件

### Environment
version：1.4.1
* apisix version (cmd: `apisix version`):
* OS: macos 10.14.4

### Minimal test code / Steps to reproduce the issue
1.
![image](https://user-images.githubusercontent.com/8924638/89295063-ff004b00-d692-11ea-91f3-45f21dfcf879.png)

2.
![image](https://user-images.githubusercontent.com/8924638/89295157-26571800-d693-11ea-991a-9d210db705a4.png

[2020-08-04 13:00] zhoujun24 opened #1991 "request help: grpc-transcode plugin converts http/json parameters abnormally"
### Issue description
The grpc-transcode plugin, after the protocol conversion, the parameters obtained by the back-end service are inconsistent with the http request parameters

.proto：
syntax = "proto3";

package cmdb_api;

// The CmdbAPI service definition.
service CmdbAPI {
  rpc GetHostIPs (IPsRequest) returns (IPsReply) {}
}

message UsageTable {
  string usage = 1;
  repeated string secusag

[2020-08-04 13:16] to2false commented on #1952
I mean how to register service like [consul dns](https://gist.github.com/moonming/32aed4922ea428db1abfe2edfd730b3a) using with apisix.

I did not find an example in the doc.

[2020-08-04 14:59] membphis opened #1993 "doc: What are the best practices for benchmarking Apache APISIX"
Add a new document, tell the user how to do the benchmark for Apache APISIX.

for example:

1. disable `proxy-cache` and `proxy-mirror` plugin, the performance will increase by 12%.
2. use `wrk` with patch: https://github.com/api7/wrk , this version disabled the `stats_correct`.
3. client -> APISIX -> upstream, only APISIX is busy and the CPU should be 100%.

related issue: https://github.com/apac

[2020-08-04 15:20] #1957 closed

[2020-08-04 16:19] membphis commented on #1986
@ACanOfGas you can make a try with new PR: https://github.com/apache/apisix/pull/1994

I think it can work in normally now.

[2020-08-04 16:20] #1987 closed

[2020-08-04 16:23] membphis commented on #1991
@nic-chen please take a look at this issue

[2020-08-04 16:27] membphis commented on #1990
![image](https://user-images.githubusercontent.com/6814606/89319056-34686100-d6b2-11ea-92b9-535538f1441a.png)

this line is wrong. the return value means `code and body` for `access` phase.

`local code, body = phase_fun(plugins[i + 1], api_ctx)`: https://github.com/apache/apisix/blob/master/apisix/init.lua#L130

[2020-08-05 01:47] OnlyPiglet commented on #1983
@ShiningRush
the cors plugin has returned all needing CORS headers,but if the allow_headers is * ,the current cors will set
Access-Control-Request-Headers:* ，this will be failed when the request is a preflight request.

the currnet code of cors

[code]
we should set the  Access-Control-Allow-Credentials *,this will cause a cors error,I am sorry I didn't has a capture of this error.
we should set t

[2020-08-05 02:12] ShiningRush commented on #1983
Fine, I got it.
This not a bug, just a CORS specification, you can not set either `Access-Control-Allow-Origin`, `Access-Control-Allow-Methods`, `Access-Control-Allow-Headers`, `Access-Control-Expose-Headers` to `*` when `Access-Control-Allow-Credentials` be `true`.
the cors plugin can use `**` in this situation at parameter of `allow_origins` and `allow_methods`, this is because plugins convert `

[2020-08-05 02:14] ShiningRush commented on #1983
I will add some validations for plugin, and more some tips in doc.

[2020-08-05 02:18] OnlyPiglet commented on #1983
@ShiningRush
ok,sometimes it's usually be set * or **  ,so it's better to add convert logic as allow_origins and allow_methods of allow_headers, expose_headers

[2020-08-05 02:35] nic-chen commented on #1991
@zhoujun24  could you have a try that use format `form-data` to send request, please ?

[2020-08-05 02:44] ShiningRush commented on #1983
I am sorry to say it is hard to implement it for `allow_headers`, `expose_headers`, because the plugin does not know what header should be allowed.The request does not contain the info about both them.

[2020-08-05 03:20] membphis commented on #1952
https://github.com/apache/apisix/blob/29b15892b7aebf98f5724336276686496a15bfe4/doc/zh-cn/admin-api.md#route

you can take a look at this doc.

![image](https://user-images.githubusercontent.com/6814606/89368257-a752f580-d70d-11ea-9c01-90d88d708f09.png)

[2020-08-05 05:29] membphis opened #1995 "perf: avoid to load script for each request"
https://github.com/apache/apisix/pull/1982#discussion_r465478714

[2020-08-05 05:32] to2false commented on #1952
@membphis Thanks reply.

Implement like a discovery service through Admin APIs seems to need a store service-bound id, I will implement it in this way first.

Or is there an easier way to do?

[2020-08-05 05:40] membphis opened #1996 "feat: new load balancing algorithm `ewma` for upstream node"
use the Peak EWMA method for routing.

we can take a look at this source file: https://github.com/twitter/finagle/blob/34167989a6dc964e24e20212516fba89fa58bb23/finagle-core/src/main/scala/com/twitter/finagle/loadbalancer/PeakEwma.scala

[2020-08-05 05:59] membphis commented on #1952
if you using etcd as a discovery way, that is the right way.
it almost the same as https://etcd.io/docs/v3.4.0/dev-internal/discovery_protocol/ .

[2020-08-05 05:59] #1952 closed

[2020-08-05 06:23] zhoujun24 commented on #1991
@nic-chen
![image](https://user-images.githubusercontent.com/19777017/89378607-bf833e80-d726-11ea-9b8e-f83e3f94178a.png)
![image](https://user-images.githubusercontent.com/19777017/89378817-36203c00-d727-11ea-98fa-4df57ddabe3b.png)

The form-data format does not meet our application scenarios

[2020-08-05 10:33] membphis opened #1999 "remove all `incubator` in doc and source code"
need to remove `incubator`, mainly is about the doc.

* https://github.com/apache/incubator-apisix
* /API_ASPIX/incubator-apisix/
* git://github.com/apache/incubator-apisix

[2020-08-05 10:53] membphis commented on #1970
Please provide a mini test case that we can use to reproduce this error.
Or you can provide a full script with fake data.

I do not know what you mean `objects`. Is it mean `route` object?

I do not know what you mean.

I guess you got `404` response.

[2020-08-05 10:53] membphis commented on #1970
Please provide a mini test case that we can use to reproduce this error.
Or you can provide a full script with fake data.

I do not know what you mean `objects`. Is it mean `route` object?

I do not know what you mean.

I guess you got `404` response.

[2020-08-05 10:56] membphis commented on #1970
that is my step:

apisix version: `1.4.1`

1. I set an SSL object and the SNI is `test.com`.
2. add one route
[code]
3. use wrk to call a benchmark, it works fine with no error.
[code]

[2020-08-05 11:07] OnlyPiglet commented on #1983
@ShiningRush when it's a preflight request it will contains Access-Control-Request-Headers this should be the allow_headers ,this is what I have done

        if ctx.var.request_method == "OPTIONS" then
            set_allow_headers_options_method(conf,ctx)
            return 200
        end

[2020-08-05 11:07] jie123108 commented on #1999
I want to fix it.

[2020-08-05 11:14] ShiningRush commented on #1983
Yes, preflight request will contain `Access-Control-Request-Headers`, but normal request does not contain this header(
if i remember correctly  ), so we can not reply `ACAH` in normal request, it will cause browser check failed.
Are your code work fine in chrome?

[2020-08-05 11:25] OnlyPiglet commented on #1983
yes because I will check if this is a preflight request

[2020-08-05 12:11] dabue commented on #1791
I will update it ，if no one else applied it.

[2020-08-05 12:53] DHB-liuhong commented on #1970
1. route:
curl http://127.0.0.1:9080/apisix/admin/routes/1 -d '
{
    "uri": "/*",
    "methods": ["PUT", "GET", "POST", "DELETE", "PATCH", "HEAD", "OPTIONS", "CONNECT", "TRACE"],
    "plugins": {
        "prometheus":{}
    },
    "upstream": {
        "type": "roundrobin",
        "nodes": {
            "192.168.3.68:8080": 10,
             "192.168.3.68:8081": 10,
             "192.168.3.68:808

[2020-08-05 13:11] jie123108 commented on #1999
@membphis
In README.md and README_CN.md.
`wget http://www.apache.org/dist/incubator/apisix/1.4/apache-apisix-1.4-incubating-src.tar.gz`
I tested this link and found it to be a 404. Removing `incubator` is also a 404. How to solve this problem?
`wget http://www.apache.org/dist/apisix/1.4/apache-apisix-1.4-src.tar.gz`

[2020-08-05 13:18] membphis commented on #1999
you can find the file in here: https://downloads.apache.org/apisix/

[2020-08-05 13:58] jie123108 commented on #1999
Okay, thanks. I found it.

[2020-08-05 14:05] spacewander commented on #1983
According to the spec, it looks like that `Access-Control-Allow-Method` and `Access-Control-Allow-Headers` are only for preflight request.
https://fetch.spec.whatwg.org/#http-access-control-allow-methods
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers

So the only thing need to be restricted is `Access-Control-Expose-Headers`. For example, we can require `Acc

[2020-08-05 14:48] nic-chen commented on #1991
@zhoujun24

I know where the problem is now.
Currently only basic data types are supported, and support for complex types needs to be added:
https://github.com/apache/apisix/blob/master/apisix/plugins/grpc-transcode/util.lua#L63

If you are interested in fixing it, welcome to pr, or I will  deal with it on this weekend.

[2020-08-05 15:02] membphis commented on #1970
@DHB-liuhong I try to run your case, it works fine at my local machine.

here is the full log: https://gist.github.com/membphis/a0a0251dc87ee99eacac2cc736ee30fd

if you still have a problem, I think I need to check your local machine. if you need this help, please contact us.

[2020-08-05 15:36] membphis commented on #1935
sorry for my delayed reply, we need a full error log of this error.

[2020-08-05 16:11] membphis commented on #1935
@ACanOfGas you can make a try with this PR: https://github.com/apache/apisix/pull/2002

[2020-08-06 01:20] OnlyPiglet commented on #1983
@spacewander
Yes I agree with you totally,the Access-Control-Expose-Headers can't be * when Access-Control-Allow-Credentials: true is true.

[2020-08-06 01:46] ShiningRush commented on #1983
I have a try on chrom.It is seem like browser will just check `Access-Control-Allow-Origin` in normal request, so we could implement `**` for `allow_headers`, and add a validation that  forbidding use`*` in option  when `allow_credential`  is true.

[2020-08-06 02:20] #1935 closed

[2020-08-06 03:20] zhoujun24 commented on #1991
@nic-chen
Another question:
The response defined in .proto is a repeated string type. When the backend response data is empty, the http response data becomes {}, which should be []. You can see in the previous Issue description

I am a backend engineer. Although I am interested in APISIX, I have never used Lua. I usually develop projects in C/C++, Go and Python. If I want to fix the problem, I sho

[2020-08-06 06:47] backnero commented on #1984
thank you

[2020-08-06 06:47] #1984 closed

[2020-08-06 07:23] membphis opened #2005 "feat: allow the number of upstream node is 0."
discuss issue from ingress controller: https://github.com/api7/ingress-controller/issues/20

[2020-08-06 07:26] membphis opened #2006 "bug(cors): attempt to concatenate field 'conf_id' (a nil value)"
APISIX version: 1.5

[code]

[2020-08-06 07:28] membphis commented on #2006
the user enabled `cors` plugin in global rules. this maybe useful.

![image](https://user-images.githubusercontent.com/6814606/89503656-6cc68700-d7f9-11ea-870a-d9d6a1504d88.png)

[2020-08-06 07:28] membphis commented on #2006
@ShiningRush do you have time to handle this bug?

[2020-08-06 07:40] backnero commented on #2006
Thanks @membphis for your help and dedication!
I used apisix-docker's dockerfile (centos) as a blueprint to build a version 1.5 docker image.

I configured the following in the global routing rules:
PUT text.com/apisix/admin/global_rules/1
[code]
Access to all routes has the following error in error.log
[code]
After @membphis instructed, I closed the global cors configuration. The interface is cur

[2020-08-06 07:46] Gary-Airwallex opened #2008 "request help: Parameters in path don't work as expected"
### Issue description
Parameters in path as described here https://github.com/api7/lua-resty-radixtree/issues/37 don't seem to work as expected.
For example I would expect request "/foo/1/bar" to be accepted by route with "uri": "/foo/:id/bar", and request "/foo/bar" rejected. It turns out both requests are matched by the route, like if the colon is functioning as the "*"

### Environment

* apisi

[2020-08-06 07:48] ShiningRush commented on #2006
I found that it is because of global header_filter does not generate `conf_id`, in https://github.com/apache/apisix/blob/master/apisix/init.lua#L555
[code]

I will fix it tonight.

[2020-08-06 07:54] ShiningRush commented on #2006
As a workaround, you can using CORS plugin append to each route instead of global rules util the bug is resolved. @backnero

[2020-08-06 07:56] backnero commented on #2006
Yes, I try to configure the cors plug-in on Service and Route, not in the global, it can be used normally

[2020-08-06 08:05] nic-chen opened #2009 "feature: support custom access log format"
### Issue description
The access log format is currently  fixed, hope that the access log format can be specified through the configuration file `config.yaml`.

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: centos

[2020-08-06 08:13] #1983 closed

[2020-08-06 08:18] membphis commented on #2008
I will make a test in `resty-radixtree` for this case.

[2020-08-06 08:32] membphis commented on #2008
I added a test case in `resty-radixtree`, it works fine with the case you provided.

https://github.com/api7/lua-resty-radixtree/pull/49

We will make a try in APISIX later.

[2020-08-06 08:49] sshniro commented on #1652
@moonming  @membphis shall I attempt this task?

[2020-08-06 08:53] moonming commented on #1652
sure, absolutely.

Thanks,
Ming Wen
Twitter: _WenMing

Nirojan Selvanathan <notifications@github.com> 于2020年8月6日周四 下午4:49写道：

[2020-08-06 09:07] #1855 closed

[2020-08-06 09:08] membphis opened #2010 "doc: Chinese version"
https://github.com/apache/apisix/pull/1924/files#diff-142655bb13c688162035732e434efc7eR48

[2020-08-06 09:40] membphis commented on #1991
can you supply a screen capture? I can not sure which link is wrong.

[2020-08-06 10:54] membphis commented on #2008
we can update the `resty-radixtree` release new version

[2020-08-06 14:41] #2010 closed

[2020-08-06 14:43] membphis commented on #1990
@spjiang close this issue. if you still have a problem, please feel free to reopen this issue.

[2020-08-06 14:43] #1990 closed

[2020-08-06 14:50] membphis commented on #1851
@wanzhenhan please make a try with this PR: https://github.com/apache/apisix/pull/1971

I think this bug has been fixed.

[2020-08-06 14:51] membphis commented on #1862
@Joe123-ai if you still have a problem, please feel free to reopen this issue.

[2020-08-06 14:51] #1862 closed

[2020-08-06 15:42] Miss-you commented on #2009
/accept

[2020-08-06 23:57] #1999 closed

[2020-08-07 00:13] #2008 closed

[2020-08-07 00:15] #1986 closed

[2020-08-07 02:09] qianglu1989 opened #2016 "request help: How are worker_processes configured"
### Environment

* apisix version (cmd: `apisix version`): 1.4
* OS: linux

how can configured  `worker_processes`
my config.yml
![image](https://user-images.githubusercontent.com/8486184/89600951-e14f0380-d895-11ea-9c16-5bd9ba958c63.png)

but worker_processes  is not working , in nginx.conf `worker_processes`  always  auto

pelase help me  3q

[2020-08-07 02:32] spacewander commented on #2016
Look like we could not customize worker number yet.

[2020-08-07 04:11] ShiningRush commented on #2006
@backnero Hi, I have a try in my environment, but does not produce the problem, can you give more detail about the bug?

[2020-08-07 05:32] backnero commented on #2006
Okay, I added the SSL configuration (for example: xxx.com), and added the route of xxx.com/v1/xxx. When I set to enable cors globally, this error will appear. At this time, the root path and routing are not accessible. Turn off the global cors plugin and configure only the cors plugin of xxx.com/v1/xxx, the root path and routing can be accessed。

The same configuration is usually used in version 1

[2020-08-07 07:24] membphis commented on #1738
it has been fixed. @FunnySunshine520 if you still have a problem, pls update your APISIX to lastest version

[2020-08-07 07:24] #1738 closed

[2020-08-07 07:25] #1715 closed

[2020-08-07 07:25] membphis commented on #1715
@wwd5613 old issue, please reopen this issue if you still have this issue with latest APISIX version

[2020-08-07 07:26] membphis commented on #1704
ok, got it. we can close this issue now.

[2020-08-07 07:26] #1704 closed

[2020-08-07 07:28] membphis commented on #1673
@Miss-you do you still have this issue? if not, we can close this issue

[2020-08-07 07:28] membphis commented on #1671
fixed

[2020-08-07 07:28] #1671 closed

[2020-08-07 07:30] membphis commented on #1670
old issue. closed

@guoziqin if you still have issue, please feel free to reopen it.

[2020-08-07 07:30] #1670 closed

[2020-08-07 09:25] #2016 closed

[2020-08-07 09:35] sshniro commented on #927
Closing this issue, as the doc has been created by #987

[2020-08-07 09:35] #927 closed

[2020-08-07 10:11] JoeyLee0201 opened #2019 "bug: limit-conn cache never update"
### Issue description
Hello,

I have a consumer who use limit-conn plugin and set value of conn to 10,

But when I update the value of conn, like 20. It will still limit connection number to 10.

I find there is a cache mechanism in this plugin like:

![image](https://user-images.githubusercontent.com/12098805/89635146-22b4d280-d8d9-11ea-8e51-2414a50f655d.png)

How could I fix this problem?

Also,

[2020-08-07 10:14] JoeyLee0201 commented on #2019
In case code image doesn't, here is cache mechanism below:

local lim, err = core.lrucache.plugin_ctx(plugin_name, ctx,
                                              create_limit_obj, conf)

[2020-08-07 10:23] membphis opened #2020 "bug(prometheus): "No value passed for etcd_modify_indexes""
[lua] prometheus.lua:732: log_error(): No value passed for etcd_modify_indexes

[code]

[2020-08-07 10:46] sshniro opened #2022 "feature: Request ID plugin to uniquely identify requests in APISIX"
### Issue description
When a client requests an API error I want to find the relevant request in the access logs. Is there a way to provide unique id. for each request and append in the request header?

[2020-08-07 10:51] membphis commented on #2020
it works fine if we call `make init` first, we can close this issue.

[code]

[2020-08-07 10:51] #2020 closed

[2020-08-07 11:29] JoeyLee0201 commented on #2019
I have solve this problem.
just " lim:set_conn(conf.conn)" to make sure the value of conn is the newest.

see doc about "resty.limit.conn" for more information:
https://github.com/openresty/lua-resty-limit-traffic/blob/master/lib/resty/limit/conn.md#set_conn

[2020-08-07 13:58] membphis commented on #2019
Do we need to update the source code of the plugin `limit-conn` ?

[2020-08-07 14:05] membphis commented on #2022
we can implement a plugin for this feature.

1. check if the request contains `X-Request-Id`
2. if not we'll generate a UUID as `request_id`
3. set to proxy_header and response header
4. write `request_id` to access log

[2020-08-07 15:43] JoeyLee0201 commented on #2019
Yes,  it's a bug  which should be treat seriously. And I don't think my way is the best one.
The cache will be update in lrucache.lua，if apisix find conf.version is not the same with obj version.
But, the version seems not be updated when changing consumer's plugins.

So, I think a good way is to make sure conf.version will be update, thus when load cache, it will know context has been changed, th

[2020-08-07 16:47] jackwoods opened #2024 "feature: customize error code & message for some plugins"
### Issue description
Sometimes we might hope to customize error code & message for some plugins, e.g., the IP restriction plugin. Not sure if it's a good idea.

[2020-08-08 01:11] zhoujun24 commented on #1991
@membphis
It was fixed a few days ago, https://github.com/apache/apisix/pull/1946

[2020-08-08 02:04] membphis commented on #2024
We plan to implement such a feature via plug-in orchestration. Welcome to follow the mailing list.

[2020-08-08 02:11] membphis commented on #1991
ok, close this issue

[2020-08-08 02:51] DHB-liuhong commented on #1970
@membphis thank you very much,  I redeployed the environment, and I can't reproduce this problem.

[2020-08-08 02:52] #1970 closed

[2020-08-08 04:05] zhoujun24 commented on #1991
@membphis
https://github.com/apache/apisix/issues/1991, This bug is not fixed.

![image](https://user-images.githubusercontent.com/19777017/89702006-3ca0f480-d96f-11ea-8b95-aee0ca2a70d9.png)
![image](https://user-images.githubusercontent.com/19777017/89702022-56dad280-d96f-11ea-8378-20491da81a56.png)

[2020-08-08 05:20] nic-chen opened #2025 "bug: comparing etcd key's modifiedIndex as a number may cause an error when access to prometheus exporter api"
### Issue description

When any upstream node uses domain name as host, modifiedIndex of the etcd key for upstream is modifed to string in the domain name resolution caching logic:
https://github.com/apache/apisix/blob/master/apisix/init.lua#L251

At this time, comparing the etcd key's modifiedIndex as a number will cause an error:
https://github.com/apache/apisix/blob/master/apisix/plugins/promet

[2020-08-08 09:59] sshniro commented on #2022
Thank you, I'll create a request-id plugin for this use case and send a PR, and I assume this plugin should have the highest priority number?

[2020-08-08 10:22] membphis commented on #2022
yes, we need to implement it in this way.

[2020-08-08 10:24] #1718 closed

[2020-08-09 01:21] membphis opened #2027 "doc: Chinese version"
https://github.com/apache/apisix/pull/2026/files#diff-f25c1f9742ac630cf4f064993a6a3035R20

we can add the Chinese version after the PR https://github.com/apache/apisix/pull/2026 was merged.

[2020-08-09 01:23] membphis commented on #2025
@nic-chen do you have time to fix this bug?

[2020-08-09 01:48] #1483 closed

[2020-08-09 01:50] membphis commented on #1455
fixed already.

[2020-08-09 01:50] #1455 closed

[2020-08-09 01:51] #1549 closed

[2020-08-09 01:53] membphis commented on #1577
https://github.com/apache/apisix/blob/master/bin/apisix#L912

Compatible mode, can support lua and luajit at the same time.

[2020-08-09 01:53] #1577 closed

[2020-08-09 01:55] membphis commented on #1584
old issue. @andyindr if you still have this issue with the latest APISIX, feel free to reopen this issue

[2020-08-09 01:55] #1584 closed

[2020-08-09 01:57] membphis commented on #1603
old issue, @wwd5613 if you still have this issue with latest APISIX, feel free to reopen this issue

[2020-08-09 01:57] #1603 closed

[2020-08-09 05:02] membphis commented on #2019
@JoeyLee0201 https://github.com/apache/apisix/pull/2028

I submitted a PR to fix this issue. Welcome to make a try.

[2020-08-09 05:46] #1722 closed

[2020-08-09 05:50] #1663 closed

[2020-08-09 05:52] membphis commented on #1644
@panhow do you still have this issue? if not, we can close this issue

[2020-08-09 06:17] membphis commented on #1667
@nizq @griffenliu I submitted a PR to fix this issue, you can make a try with it

[2020-08-09 06:18] #1673 closed

[2020-08-09 06:20] membphis commented on #1842
old issue. @panhow if you still have this issue, feel free to reopen it

[2020-08-09 06:20] #1842 closed

[2020-08-09 15:46] shuaijinchao opened #2032 "doc: `uri-blocker` misspelled for README_CN."
### Issues
1/ update `uri-blocker` to `URI拦截器` for README_CN.md
2/ update `uri-blocker` to `URI Blocker` for README.md

[2020-08-09 15:50] shuaijinchao opened #2033 "doc: example json syntax error for request-validation plugin."
### Issues
https://github.com/apache/apisix/blob/master/doc/zh-cn/plugins/request-validation.md#%E7%A4%BA%E4%BE%8B
the Json structure in the example should use `:` instead of `=`.

[2020-08-10 01:11] #2032 closed

[2020-08-10 01:49] nic-chen commented on #2025
sure

[2020-08-10 01:59] #2033 closed

[2020-08-10 03:23] membphis opened #2034 "feature: allow user to specify the `conf/config.yaml` when starting the APISIX project."
Here is an example: `apisix start -c /opts/apisix/config.yaml` .

[2020-08-10 16:05] shuaijinchao opened #2037 "doc: health-check document path error for README_CN.md"
`health-check` path points to English documents in `README_CN.md`

[2020-08-10 16:18] shuaijinchao commented on #2034
I will improve this feature.

[2020-08-10 16:40] shuaijinchao opened #2039 "doc: unified plugins document link and path of Chinese and English."

[2020-08-10 20:33] lchoua opened #2041 "failed to fetch service configuration by id"
### Issue description
Hello everyone, I am using APISIX with it's docker version. I have already created an Upstream, a Service, a Route and a Consumer.
I have running etcd in another container.
When I make a request to the Route, that I created, sometimes I get a 200 status code but other times I get a 404 status code because of the APISIX.The error that I found in the error.log file is:
[code]
#

[2020-08-11 00:07] #2037 closed

[2020-08-11 00:14] membphis commented on #2041
please provide your conf, eg: the service with id `-----`

if possible, you can provide all of the your conf.

[2020-08-11 01:36] membphis commented on #2034
this issue depends on PR: https://github.com/apache/apisix/pull/2023

you can take a look at this PR first.

[2020-08-11 02:54] gxthrj opened #2042 "feat: We can add the hostname field to prometheus"
### Issue description
We can add the hostname field to prometheus

### Environment

* apisix version 1.5:
* OS:

By way of environment variables, We can get the host name through the environment variable `HOSTNAME` in k8s.

1. need to modify apisix script, add export `env HOSTNAME;` in https://github.com/apache/apisix/blob/master/bin/apisix;

2. get hostname from env in the plugin named prometheus

[2020-08-11 04:29] #2025 closed

[2020-08-11 04:31] membphis opened #2043 "test: add test case for plugin `prometheus`"
need a test case to confirm this changing:

https://github.com/apache/apisix/pull/2035/files#diff-dc8151ecf7fc460e27a70fb1e00e7f55R182

discuss: https://github.com/apache/apisix/pull/2035#issuecomment-671298418

[2020-08-11 07:51] sshniro opened #2044 "bug: Failed to query DNS server when proxying HTTPS upstream traffic"
### Issue description
When proxying traffic to https based upstream, we are getting the following error. We are using the proxy rewrite plugin to create an HTTPs based traffic. Can we know why APISIX is checking for UDP based DNS resolver here?

[code]

[2020-08-11 07:55] nic-chen opened #2045 "bug: config of plugin `key-auth` for consumer shouldn't be empty"
### Issue description
config item `key` of plugin `key-auth` shouldn't be empty

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: centos 7

### Minimal test code / Steps to reproduce the issue

1.

[code]

2.

[code]

3.

[code]

### What's the actual result? (including assertion message & call stack if applicable)

occur 500

error log:
`2020/08/11 07:29:13 [error] 24#24: *159

[2020-08-11 08:02] nic-chen commented on #2042
we could get host from `vars`. but prometheus can store only numbers as value.

[2020-08-11 09:24] phin1x commented on #158
Is there any progress on this issue? TLS communication and mTLS auth ist very important for etcd.
accessing the etcd via lan is no excuse. In enterprise environments or shared enviroments you have dozens of applications running in the same network. if one of those apps got hijacked, it can easy access your data.
for development purpose it is ok to run a insecure setup, in production end to end enc

[2020-08-11 12:32] lchoua commented on #2041
The service configuration is:
[code]
and the upstream configuration is:
[code]

[2020-08-12 01:11] #2019 closed

[2020-08-12 05:56] gxthrj commented on #2042
hi, @nic-chen
I don’t quite understand what you said `prometheus can store only numbers as value`
But we can add a label named host for each metric, such as this
[code]

[2020-08-12 06:18] qianglu1989 opened #2047 "request help: Dashboard can not change password"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: linux
step
1、 clone github
2、init code
3、yarn run serve
App running at:
[0]   - Local:   http://localhost:8080/
[0]   - Network: http://172.17.13.109:8080/

when i want change password, is not working

![image](https://user-images.githubusercontent.com/8486184/89981584-adfde180-dca6-11ea-974b-59b0e2c5c959.p

[2020-08-12 08:02] odidev commented on #1887
I have modified the Github actions to trigger jobs for arm64 but facing error "Unable to locate package openresty-debug". While looking into found that the OpenResty official APT repositories provide openresty-debug and OpenResty official pre-built binary is not supported for arm64.

Link- https://openresty.org/en/linux-packages.html

So I thought of building it from the source but it is taking ap

[2020-08-12 08:04] wjh549628 opened #2048 "request help: unsupported subsystem: stream"
### Issue description
1 conf/config.yaml   apisix.config_center use yaml
![image](https://user-images.githubusercontent.com/37922630/89990392-e73d4e00-dcb4-11ea-937c-b7dce7bf55e1.png)

2 conf/config.yaml   stream_proxy enable
![image](https://user-images.githubusercontent.com/37922630/89990604-32576100-dcb5-11ea-8459-ca6438d516db.png)

3 apisix.yaml
![image](https://user-images.githubusercontent.c

[2020-08-12 08:37] zhoujun24 opened #2049 "request help: How to set the timeout period for waiting for upstream response in apisix?"
### Issue description
After the client sends the request, the processing time of the back-end service exceeds 60s, causing Apisix to return 504

![image](https://user-images.githubusercontent.com/19777017/89993720-b9a6d380-dcb9-11ea-89d6-dea4494e0537.png)
![image](https://user-images.githubusercontent.com/19777017/89993956-08ed0400-dcba-11ea-862d-d22c27f0da8a.png)

### Environment

* apisix versio

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:29] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 09:30] yinyang323 commented on #1438
I have same questions.

[2020-08-12 10:59] juzhiyuan commented on #2047
There has NO username & password for both the old & newer dashboard, and this PR is working on this.

https://github.com/apache/apisix-dashboard/pull/330

[2020-08-12 10:59] #2047 closed

[2020-08-12 14:54] #2039 closed

[2020-08-12 15:09] #2022 closed

[2020-08-12 15:42] membphis commented on #158
the official `openresty` still not support the mTLS now. we have to wait

[2020-08-12 15:46] membphis commented on #2041
Can you provide a real example of which we can reuse it directly?

we can set the real route and service into etcd and try to confirm where is the bug.

waiting for your conf.

[2020-08-12 15:48] membphis commented on #1438
RPM for centos.
docker for others

[2020-08-12 16:12] membphis opened #2050 "test case[t/plugin/consumer-restriction.t] is not stable"
we got this error from Github Action:

[code]

[2020-08-12 16:28] membphis commented on #2049
https://github.com/apache/apisix/blob/master/doc/admin-api.md#upstream

you can set the `timeout` for `upstream` object

[2020-08-12 16:28] membphis commented on #2049
please upgrade your APISIX first.

[2020-08-12 16:32] membphis commented on #2048
welcome PR for supporting `stream` when enabled standalone model.

[2020-08-12 16:34] membphis commented on #2045
you should use `markdown` way. take a look at this issue: https://github.com/apache/apisix/issues/2050#issue-677813921

![image](https://user-images.githubusercontent.com/6814606/90041937-92252a80-dcfc-11ea-9540-ca8d69c39cf4.png)

[2020-08-12 16:37] membphis commented on #2044
in `balancer` phase, it only supports `IP` address, we have to parse the domain to IP in `access` or `rewrite` phase.

and we have to parse it on Lua land. the Nginx can not help us. here is the doc link: https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/balancer.md#set_current_peer

[2020-08-12 16:38] membphis commented on #2044
you need to set the right DNS resolver for APISIX [1]

[1] https://github.com/apache/apisix/blob/master/conf/config.yaml#L90

[2020-08-13 00:22] moonming commented on #158
OpenResty already support mTLS.

Thanks,
Ming Wen
Twitter: _WenMing

YuanSheng Wang <notifications@github.com> 于2020年8月12日周三 下午11:42写道：

[2020-08-13 02:34] nic-chen opened #2051 "request help: what is the recommended way to split access log in k8s pod? for example, split by day"
### Issue description
what is the recommended way to split access log in k8s pod? for example, split by day

### Environment

* apisix version (cmd: `apisix version`):  1.5
* OS: deploy in k8s

[2020-08-13 02:37] lijiapengsa opened #2052 "request help: 1.5 make deps error"
### Issue description
after make deps

![image](https://user-images.githubusercontent.com/7970836/90091592-66845d80-dd59-11ea-93ee-993e57557849.png)

then  make deps
[root@k8s-ops-apache-apisix-1.5]# make deps
luarocks install rockspec/apisix-master-0.rockspec --tree=deps --only-deps --local
Using rockspec/apisix-master-0.rockspec... switching to 'build' mode
Stopping after installing dependencies

[2020-08-13 03:08] zhoujun24 commented on #2049
@membphis
Thanks for your guidance, my problem is solved.

[2020-08-13 03:08] #2049 closed

[2020-08-13 04:00] nic-chen commented on #2042
good idea

[2020-08-13 06:20] yfgcq opened #2053 "request help: how to get post data of form-data、x-www-form-urlencoded、data-raw(json)"
### Issue description
 how to get post data of form-data、x-www-form-urlencoded、data-raw(json)？
怎么获取这几种form-data、x-www-form-urlencoded、data-raw(json) post请求的post data ？

ngx.req.get_post_args()可以获取 x-www-form-urlencoded请求的post data
ngx.req.get_body_data()可以获取data-raw(json) ,必须指定ContentType:application/json,
但是有时postman 或者curl 请求时 没指定ContentType
    curl xxx POST -i -d ' {"AppKey": "a1", "id": 22234

[2020-08-13 06:26] jiezaizone commented on #2053
发自我的华为手机-------- 原始邮件 --------发件人： yfgcq <notifications@github.com>日期： 2020年8月13日周四 下午2:21收件人： apache/apisix <apisix@noreply.github.com>抄送： Subscribed <subscribed@noreply.github.com>主    题： [apache/apisix] request help: how to get post data of form-data、x-www-form-urlencoded、data-raw(json) (#2053)

Issue description

how to get post data of form-data、x-www-form-urlencoded、data-raw(json)？

怎么获取这几种f

[2020-08-13 06:59] yfgcq commented on #2053
???

[2020-08-13 08:36] tiger333777 opened #2054 "request help: How to limit the exposure of Prometheus monitoring data to the public network."
### Issue description
怎么限制 prometheus 监控数据暴露到公网。url链接如下：
http://ip/apisix/prometheus/metrics

How to limit the exposure of Prometheus monitoring data to the public network. The URL link is as follows:
http://ip/apisix/prometheus/metrics

### Environment

* apisix version (cmd: `apisix version`): apisix 1.5
* OS:centos 7

[2020-08-13 09:17] TigerGxl opened #2055 "request help: how apisix proxy to static files"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 1.5 (by luarocks)
* OS:Ubuntu 16.04.6

apisix is great to loads api service, now i want to proxy to static file like html without nginx.

this is my conf in etcd
![image](https://user-images.githubusercontent.com/32395903/90116590-47e98b00-dd88-11ea-95a8-56b6a5bc8970.png)

What I want to do is when i request "http://

[2020-08-13 11:17] membphis commented on #2055
you can use another Nginx server to provide the static files.

client -> apisix -> nginx(static file)
client -> apisix -> upstream

create two routes for this case, then it will work fine.

[2020-08-13 11:17] #2055 closed

[2020-08-13 19:21] sshniro commented on #1652
It seems vault supports multiple authentication mechanisms (OIDC, Tokens, Username Password etc), is there a recommended approach for the default authentication mechanism?
https://www.vaultproject.io/docs/auth

[2020-08-13 19:22] sshniro commented on #2044
Thanks for the detailed explanation.

[2020-08-13 19:22] #2044 closed

[2020-08-13 19:23] sshniro commented on #333
I think we can close this issue as its already implemented?

[2020-08-13 19:35] sshniro commented on #1146
I did not have time to check on this feature, will try this after merging the docs with the website.

[2020-08-13 19:36] #1188 closed

[2020-08-14 01:22] yfgcq opened #2056 "request help: 怎么获取post 数据？"
### Issue description
怎么获取post 数据？

### Environment

* apisix version (cmd: `apisix version`):1.4.1
* OS:linux

[2020-08-14 01:56] #333 closed

[2020-08-14 03:17] tongorz opened #2057 "request help: rpm包方式安装apisix 1.5后，访问admin api 404."
### Issue description
rpm包方式安装apisix 1.5后，访问admin api 404.

[code]

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS: CentOS 7

[2020-08-14 06:49] Gary-Airwallex opened #2058 "request help: Parameters in path"
### Issue description
https://github.com/gin-gonic/gin#parameters-in-path described a ":" syntax and an "*" syntax for parameters in path, I believe radixtree (and therefore APISIX) intended to support both.

For the ":" syntax, currently APISIX seems to accept _ANY_ string. For example, request "/a/b/c/foo" seems to be accepted by "uri": "/:id/foo". I'm not sure if that's the expected behavior: m

[2020-08-14 08:08] membphis commented on #1652
I recommend starting with something simple, such as `Tokens`.

[2020-08-14 08:12] membphis commented on #158
https://github.com/openresty/lua-resty-core/pull/278

We still need to wait more time.

[2020-08-14 09:33] membphis commented on #2058
we may fix this bug in `resty-radixtree`

[2020-08-14 09:37] membphis commented on #2057
here is the quickstart: https://github.com/apache/apisix/blob/master/doc/getting-started.md

[2020-08-14 09:37] #2057 closed

[2020-08-14 09:39] membphis commented on #2056
Don't know what you need.

[2020-08-14 09:41] membphis commented on #2053
1. read the request header
2. check the `Content-Type`
3. different type, use different way.

https://moonbingbing.gitbooks.io/openresty-best-practices/content/

this book may help you.

[2020-08-14 09:41] #2053 closed

[2020-08-14 09:43] membphis commented on #2052
This means that you have successfully installed the dependencies of APISIX.

![image](https://user-images.githubusercontent.com/6814606/90236580-8600b080-de55-11ea-9191-c5f25e411fed.png)

[2020-08-14 09:43] #2052 closed

[2020-08-14 09:49] membphis commented on #2051
Here is an example for `access` log, is right?

[code]

[2020-08-14 09:55] membphis commented on #2054
You can update the plug-in `prometheus` to allow only some IPs, for example `127.0.0.1`.

[2020-08-14 09:55] #2054 closed

[2020-08-14 10:17] sebbASF opened #2059 "bug: Please delete old releases from mirroring system"
To reduce the load on the ASF mirrors, projects are required to delete old releases [1]
Please can you remove all non-current releases?
Thanks!

Remember to update any download pages to remove old releases (or point to the archive server) before removing the releases from https://dist.apache.org/repos/dist/release/apisix/...

Note: the download area seems to be a bit muddled.
There are two release

[2020-08-14 10:35] lhtlp1997 opened #2060 "bug: got 500 response when PUT new upstream"
### Issue description
Installed openResty，etcd and Compilation tool。Start apisix successfully。But I got a err when I did:
curl "http://127.0.0.1:9080/apisix/admin/upstreams/50" -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "type": "roundrobin",
    "nodes": {
        "httpbin.org:443": 1
    }
}'

<html>
<head><title>500 Internal Server Error</title></head>
<body>
<center><h1>

[2020-08-14 11:21] membphis commented on #2059
Thank you very much for your reminder, we will update it as soon as possible.

[2020-08-14 11:22] membphis commented on #2060
please check your error log, we need it to confirm this bug.

[2020-08-14 11:25] lhtlp1997 commented on #2060
2020/08/14 19:24:03 [error] 12547#12547: *36 lua entry thread aborted: runtime error: /root/apache-apisix-1.5/apisix/init.lua:697: attempt to index upvalue 'router' (a nil value)
stack traceback:
coroutine 0:
	/root/apache-apisix-1.5/apisix/init.lua: in function 'http_admin'
	content_by_lua(nginx.conf:145):2: in main chunk, client: 127.0.0.1, server: , request: "PUT /apisix/admin/routes/1 HTTP/1.1

[2020-08-14 11:25] membphis commented on #2060
BTW, please use English in the public channel ^_^

[2020-08-14 11:26] lhtlp1997 commented on #2060
2020/08/14 19:26:10 [error] 12552#12552: *39 lua entry thread aborted: runtime error: /root/apache-apisix-1.5/apisix/init.lua:697: attempt to index upvalue 'router' (a nil value)
stack traceback:
coroutine 0:
	/root/apache-apisix-1.5/apisix/init.lua: in function 'http_admin'
	content_by_lua(nginx.conf:145):2: in main chunk, client: 127.0.0.1, server: , request: "PUT /apisix/admin/upstreams/50 HTTP

[2020-08-14 11:32] membphis commented on #2060
Do not try to use apisix under the root user, it is not safe.
And some lua code may not be loaded normally due to missing permissions.

[2020-08-14 13:13] powermanlc opened #2062 "bug: not find any matched route 404"
### Issue description
I have releases the routes online，but sometimes appears 404 problem.
surprising, only one route in only machine，yesterday another  route and another machine.

help me, the apisix service has release online, affect users.
### Environment

* apisix version (cmd: `apisix version`): 1.3
* OS:linux online

### Minimal test code / Steps to reproduce the issue
1. online service, ran

[2020-08-14 13:15] powermanlc commented on #2062
2020/08/14 20:47:51 [error] 50794#0: *45592321 [lua] init.lua:306: http_access_phase(): spanId:0.3 logId:2871423813 failed to match any routes, api_ctx: {"var":{"host":"127.0.0.1","request_method":"POST","uri":"\/a\/b\/b","remote_addr":"127.0.0.1","_request":"cdata<void *>: 0x027e2970"}}, client: 127.0.0.1, server: , request: "POST /a/b/cHTTP/1.1", host: "127.0.0.1:9080"

this error log, no matche

[2020-08-14 13:46] membphis commented on #2062
please upgrade APISIX to latest version 1.5 first

[2020-08-14 13:47] membphis commented on #2062
and you need to provide your conf about `route`

curl "http://127.0.0.1:9080/apisix/admin/routes/" -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1'

[2020-08-14 14:00] powermanlc commented on #2062
this week we just release online, and in source code add more wn logic code, now can I have others way?

today this route  /billing/renew/gradesubjectofbuy had 404, in one mathine. other mathine no this case,
yesterday is /billing/trade/listpro had 404 in other mathine. other mathine no this case.
apisix open 32worker.

curl "http://127.0.0.1:9080/apisix/admin/routes/" -H 'X-API-KEY: edd1c9f034335

[2020-08-14 14:07] membphis commented on #2062
there is no any route with uri `/a/b/c`.

if you still have a problem, please provide a mini example.

[2020-08-14 14:08] powermanlc commented on #2062
2020/08/14 20:47:31 [error] 50794#0: *45572282 [lua] radixtree_uri.lua:112: match(): spanId:0.3 logId:2851590728 not find any matched route, api_ctx: {"var":{"host":"127.0.0.1","request_method":"POST","uri":"\/billing\/renew\/gradesubjectofbuy","remote_addr":"127.0.0.1","_request":"cdata<void *>: 0x027dc990"}}, client: 127.0.0.1, server: , request: "POST /billing/renew/gradesubjectofbuy HTTP/1.1",

[2020-08-14 23:25] #1877 closed

[2020-08-14 23:27] membphis opened #2064 "bug: remove `more_set_headers 'Server: APISIX web server';` in `bin/apisix`"
the APISIX has set the version: https://github.com/apache/apisix/pull/1961

so we need to remove this `conf` and add some test cases.

https://github.com/apache/apisix/blob/master/bin/apisix#L240-L241

[2020-08-14 23:27] membphis commented on #1877
@swayamraina https://github.com/apache/apisix/issues/2064

would you like to fix this issue?

[2020-08-15 08:46] swayamraina commented on #1877
Yes, will fix this

[2020-08-15 09:19] #2064 closed

[2020-08-15 14:05] juzhiyuan commented on #2059
- [ ] SVN
- [ ] Download Page

[2020-08-16 08:32] #2058 closed

[2020-08-16 21:04] 2465566 commented on #1773
apache/skywalking-oap-server:7.0.0-es7  & skywalking-nginx-lua-plugin = 1.0-0  still got 500 in my test result:
register_service_instance(): skywalking service instance register failed, response code:500, context: ngx.timer.

[2020-08-17 02:18] longshang opened #2066 "request help: 接口签名算法支持"
请问APISIX怎么支持接口签名算法，例如微信签名算法：https://pay.weixin.qq.com/wiki/doc/api/external/declarecustom.php?chapter=4_5

[2020-08-17 08:05] lijiapengsa opened #2067 "request help: 我在测试发现有偶尔的404出现"
### Issue description
我目前正在对apisix进行压测、发现有非200请求出现，在手动发送请求的时候也会发生有404的问题
压测使用的是wrk、发现非200 返回后、手动请求也有此现象

* 这是手动请求发现的404请求
![image](https://user-images.githubusercontent.com/7970836/90371854-21866100-e0a2-11ea-85a2-845b29596f05.png)
![image](https://user-images.githubusercontent.com/7970836/90372536-213a9580-e0a3-11ea-9cd3-b87cb43357d8.png)

* upstream conf
![image](https://user-images.githubuserco

[2020-08-17 08:20] lijiapengsa commented on #2062
我也遇到了同样类似的问题
#2067

[2020-08-17 08:54] ShynHan opened #2068 "request help: 获取 jwt-auth token 的接口如何保证安全性呢"
### Issue description
![image](https://user-images.githubusercontent.com/12025422/90376864-ae80e880-e0a9-11ea-82d4-f12d0872e438.png)

这个获取 jwt-auth token 的接口只需要一个 key 参数，这个 key 参数又可以在 jwt-auth token 解码出来，
那岂不是任何人都可以通过这个接口随意生成 jwt-auth token

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-08-17 10:00] Gary-Airwallex commented on #2058
@membphis Looks like the second issue (about the asterisk "\*" syntax, denoting an optional parameter I believe) is not addressed in radixtree 2.2; could you re-open the issue?

[2020-08-17 11:37] powermanlc commented on #487
Organization: 北京作业帮科技有限公司
Location: 北京, 北京, China
Contact: powermanlc@163.com
Scenario: 中台流量入口

[2020-08-17 15:21] membphis commented on #2067
it works fine for this case.

[code]

[2020-08-17 15:39] membphis commented on #2058
I created a new issue at `resty-radixtree`: https://github.com/api7/lua-resty-radixtree/issues/56
we can fix it later.

one issue for one bug, it is easier to fix.

[2020-08-17 16:55] longshang opened #2069 "bug: APISIX启动一直报错如下"
### Issue description
[emerg] 1#1: invalid number of arguments in "worker_shutdown_timeout" directive in /usr/local/apisix/conf/nginx.conf:21

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS: centos

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result

[2020-08-18 00:10] membphis commented on #2069
please update your `conf/config.yaml` to latest version.

[2020-08-18 00:10] #2069 closed

[2020-08-18 01:01] membphis commented on #2066
you can follow the step in your link, it should work fine.

and I think you can take a look at those projects: https://github.com/search?q=resty+wechat

[2020-08-18 01:01] #2066 closed

[2020-08-18 01:04] membphis commented on #2068
we should use HTTPS to protect this `key`.  it is a common way.

[2020-08-18 01:04] #2068 closed

[2020-08-18 01:46] lijiapengsa commented on #2067
I just reconfigured it according to the method you gave, and now apisix can work normally.
Surprisingly, the performance of apisix is much higher than that of envoy. Below is my stress test data.

[code]

On the same server, envoy can only reach up to 320,000

[2020-08-18 02:19] csh995426531 opened #2070 "request help: can not running pod in k8s，Readiness probe failed: dial tcp 10.244.0.54:9080: connect: connection refused"
### Issue description
![image](https://user-images.githubusercontent.com/23441583/90462244-06b3fb00-e13b-11ea-9e49-45e19223a1bd.png)

[code]

### Environment

* apisix version (cmd: `apisix version`): apache/apisix:latest
* OS: ubuntu18.04  Kubernetes v1.17.3

[2020-08-18 02:28] csh995426531 commented on #2070
尝试了好多次，刚刚才发现有一个节点上在重试后起来了，并且进入容器后可以正常请求9080，但是另外两个还不行。。。不知道哪里的原因
![image](https://user-images.githubusercontent.com/23441583/90463233-fe5cbf80-e13c-11ea-858e-d016b8a2d4a8.png)

[2020-08-18 02:42] zhoujun24 commented on #1991
@nic-chen Hello, When will this issue be fixed?
1. The grpc-transcode plugin, after the protocol conversion, the parameters obtained by the back-end service are inconsistent with the http request parameters
2.The response defined in .proto is a repeated string type. When the backend response data is empty, the http response data becomes {}, which should be []. You can see in the previous Issue des

[2020-08-18 03:33] #2067 closed

[2020-08-18 03:42] moonming commented on #2068
@ShynHan Please use English in the public channel, thx

[2020-08-18 03:44] moonming commented on #2070
@csh995426531 Please use English in the public channel, thx

[2020-08-18 03:47] moonming commented on #2056
@yfgcq
Please use English in the public channel, thx

[2020-08-18 03:47] #2056 closed

[2020-08-18 03:47] jie123108 commented on #2067
I had a similar problem with an earlier version of apisix. One time it worked, the next time it didn't. It turned out to be caused by multiple instances of apisix starting on the same port.
You can check if it is the same problem.

[2020-08-18 03:47] moonming commented on #2066
@longshang
Please use English in the public channel, thx

[2020-08-18 03:48] moonming commented on #2066
@longshang please take a look at this PR: https://github.com/apache/apisix/pull/1960

[2020-08-18 03:49] moonming commented on #2069
@longshang
Please use English in the public channel, thx

[2020-08-18 05:46] zhuchengxing opened #2071 "request help: What is hosts in route?"
### Issue description
excuse me，What is hosts in route?
![image](https://user-images.githubusercontent.com/29362652/90474831-c5324880-e158-11ea-89f9-c2681c6bb014.png)
In the new version of Dashboard, this is required, but I'm not sure what this is for. Although it's explained in the ADMIN Api, it still makes me confused, right? Can you explain that again? thank you

### Environment

* apisix versi

[2020-08-18 07:43] csh995426531 commented on #2070
apisix/logs/error.log content is
![image](https://user-images.githubusercontent.com/23441583/90484589-fadf2d80-e168-11ea-8207-bad2d623bf54.png)

[2020-08-18 07:45] moonming opened #2072 "upgrade skywalking plugin to support skywalking 8.0"

[2020-08-18 07:56] aifeiasdf commented on #953
It seem that this project can only do smX compute on L7 application, if I want to do smx handshake on L4 handshake, I have to implement extra C code on Nginx C module

[2020-08-18 09:11] membphis commented on #2071
1. please update your APISIX to latest version 1.5
2. the `域名` means the field which named `host`. it is the host of client request.

[code]

https://github.com/apache/apisix/blob/master/doc/admin-api.md#route

![image](https://user-images.githubusercontent.com/6814606/90494141-c2921c00-e175-11ea-9eb5-cc18b82809d8.png)

[2020-08-18 09:11] #2071 closed

[2020-08-18 09:31] membphis commented on #2070
it seems that you are using the latest `conf/config.yaml` file + old APISIX .
you can update the APISIX or remove the plugin `request-id` .

[2020-08-18 12:18] #1923 closed

[2020-08-18 12:20] #2060 closed

[2020-08-18 12:39] membphis commented on #2006
@backnero you need to provide the parameter of route and SSL object. then we can use it directly.

we need a way to reproduce this issue for fixing.

[2020-08-18 12:56] #1942 closed

[2020-08-18 12:56] membphis commented on #1942
https://gist.github.com/aifeiasdf/9fc4585f6404e3a0a70c568c2a14b9c9

https://segmentfault.com/a/1190000023671822

[2020-08-18 13:13] OnlyPiglet opened #2074 "prometheus no memory when high qps request help:"
### Issue description
when at a high qps scene, the promethues will report a error about the exporter
no memory allocted
table.contact(peometheus:merics_data())

### Environment

* apisix version (cmd: `apisix version`):
* OS: centos 7.7 64 位

it seem's the reason is the limit of luajit or lua itself,how can I solve this.thanks for helping

[2020-08-18 13:15] membphis commented on #2074
please provide a full error log.

[2020-08-18 13:18] OnlyPiglet commented on #2074
@membphis  I sorry I have destory the colud server, this is the only info about this error,the error link the file of promethues/exporter.lua  table.contact(peometheus:merics_data())
[code]

[2020-08-18 13:20] OnlyPiglet commented on #2074
we cloudn't add the limit of lua or luajit right?

[2020-08-18 13:28] OnlyPiglet commented on #1510
@membphis thanks a lot

[2020-08-18 13:28] #1510 closed

[2020-08-18 13:37] dualc commented on #2062
using 4.4 version,I have met the same problemn

[2020-08-18 13:40] OnlyPiglet commented on #2074
there is a fire flame
<img width="923" alt="Snipaste_2020-08-18_21-39-38" src="https://user-images.githubusercontent.com/46953658/90519987-562a1380-e19b-11ea-8061-3a0990f2473e.png">
I am not sure if this will be helpful

[2020-08-18 13:42] powermanlc commented on #2062
Thanks for your advice. I will compared 1.3 version and 1.4 version code difference. and as quickly as possible upgrade 1.4version.

[2020-08-18 13:51] dualc commented on #2062
sorry，words fail to me，I mean，I have met the same problem when used the 1.4 version，it occurrd random，3% chance to raise，maybe we should try to use 1.5 version

[2020-08-18 13:57] membphis commented on #2074
Do you enabled Lua GC 64 model?
And what is the size of your memory?

[2020-08-18 13:59] membphis commented on #2062
@dualc https://github.com/apache/apisix/issues/2067#issuecomment-675232331

you can take a look at this, it may help you.

[2020-08-18 14:11] longshang commented on #2066
OK，thx

[2020-08-18 16:00] houshunwei opened #2075 "request help: Is 'k8s_deployment_info' in upstream supported in latest few versions?"
### Issue description
#### 1. I add a route with upstream like this:

[code]
#### 2. Got `502 Bad Gateway` when request.
when i request `http://{docker-ip}:9080/test`, i got `502 Bad Gateway`.

detail logs in error.log:
[code]

#### 3. No source code for `k8s_deployment_info`
I have tried to find k8s_deployment_info related code. But k8s_deployment_info only exists in doc and schema_define.lua.

Q

[2020-08-19 01:06] OnlyPiglet commented on #2074
@membphis yes,that's what I am concerned the Lua GC 64 model .MyMemory is 16GB,The Cpu is 4 cores

[2020-08-19 01:10] #2062 closed

[2020-08-19 01:36] ShynHan commented on #2068
@moonming Sorry, witch channel can be use Chinese?

[2020-08-19 01:48] membphis commented on #2075
k8s_deployment_info + ingress controller ，should work together.
the `ingress controller` will translate it to real upstream nodes.

[2020-08-19 01:48] #2075 closed

[2020-08-19 02:29] gxthrj commented on #2070
It is very strange, apisix on `note2` started successfully, but apisix on the other two nodes failed to start, please check the local apisix image of the other two nodes to make sure it is the latest version.
also, please change `imagePullPolicy: IfNotPresent` to `imagePullPolicy:  Always`.

[2020-08-19 03:31] frank0417 opened #2076 "bug: service discovery duplicate request service information in Eureka"
### Issue description

Service discovery duplicate request service information in Eureka

### Environment

* apisix version (cmd: `apisix version`):
* OS:linux centos

### Minimal test code / Steps to reproduce the issue
1.set enable_dev_mode:false
2.service discovery center:eureka

### What's the actual result? (including assertion message & call stack if applicable)

multiple workers execute rep

[2020-08-19 03:32] frank0417 commented on #2076
add ngx.worker.id()==0

[2020-08-19 04:10] membphis opened #2078 "test: confirm APISIX works normally when the etcd is shutdown"
need to add a new test. for confirming APISIX works normally when the etcd is shutdown.

[2020-08-19 06:55] liubinqi2007 opened #2080 "request help:"
### Issue description
![image](https://user-images.githubusercontent.com/17898385/90602224-ffb8e580-e22b-11ea-90ca-b7b9957c1d94.png)
Request API to report 403.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-08-19 07:09] liubinqi2007 commented on #2080
![image](https://user-images.githubusercontent.com/17898385/90603478-f0d33280-e22d-11ea-8934-f4100dfd3b86.png)

[2020-08-19 09:54] gxthrj opened #2081 "[BUG] there are some impacts when we migrate the content in `config.yaml` to `config-default.yaml`"
### Issue description
In the projects named [apisix-dashboard](https://github.com/apache/apisix-dashboard) and [apisix-docker](https://github.com/apache/apisix-docker), we get the content of config.yaml for keeping config.yaml same with the latest version of apisix.
now, we migrate the content in `config.yaml` to `config-default.yaml`,so the script need to be modified too.

### Environment

* apis

[2020-08-19 10:03] gxthrj commented on #2081
like https://github.com/apache/apisix-dashboard/issues/381

[2020-08-19 10:10] gxthrj commented on #2081
and a PR for `apisix-dashboard`  in https://github.com/apache/apisix-dashboard/pull/383

[2020-08-19 10:17] gxthrj commented on #2081
a PR for `apisix-docker` in https://github.com/apache/apisix-docker/pull/72

[2020-08-19 11:41] juzhiyuan opened #2082 "request help: Update plugin's schema"
### Issue description

The Apache APISIX Dashboard is using a module named [react-jsonschema-form](https://rjsf-team.github.io/react-jsonschema-form/), which is used to build UI components according to JSONSchema, but due to some differences between Draft7 and other versions Apache APISIX is using, some components couldn't be rendered correctly, so in order to fix this issue, I propose to change s

[2020-08-19 11:47] juzhiyuan commented on #2082
I will create issues to describe the changes for each plugin.

[2020-08-19 11:58] juzhiyuan opened #2083 "request help: Update plugin's schema basic-auth"
refer to https://github.com/apache/apisix/issues/2082#issue-681772868

## Currently
[code]

## Expected
[code]

[2020-08-19 12:05] juzhiyuan opened #2084 "request help: Update plugin's schema prometheus & node-status"
refer to https://github.com/apache/apisix/issues/2082#issue-681772868

## Currently
[code]

## Expected
[Playground](https://rjsf-team.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJsaXN0T2ZTdHJpbmdzIjpbImZvbyIsImJhciJdLCJtdWx0aXBsZUNob2ljZXNMaXN0IjpbImZvbyIsImJhciJdLCJmaXhlZEl0ZW1zTGlzdCI6WyJTb21lIHRleHQiLHRydWUsMTIzXSwibWluSXRlbXNMaXN0IjpbeyJuYW1lIjoiRGVmYXVsdCBuYW1lIn0seyJuYW1lIjoiRGVmYXVs

[2020-08-19 12:07] ShiningRush commented on #2080
You need a token to access admin api, please have look at the section of "REST Admin API" in [homepage](https://github.com/apache/apisix),
Maybe we should append more detail about auth in the doc of admin api, such as how to send token in request, now here is nothing in [it](https://github.com/apache/apisix/blob/master/doc/admin-api.md). @moonming @membphis

[2020-08-19 12:07] membphis commented on #2080
please confirm if you set right value for `allow_admin `:

https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L58

[2020-08-19 12:07] #2080 closed

[2020-08-19 12:09] juzhiyuan opened #2085 "request help: Update plugin's schema ip-restriction"
refer to https://github.com/apache/apisix/issues/2082#issue-681772868

## Currently
[code]

## Expected

[code]

## Notes
1. The Dashboard needs to use textarea instead of text input.

[2020-08-19 12:09] membphis commented on #2080
welcome to create a new issue, we need some doc about this case. add a topic in FAQ is fine too.

[2020-08-19 12:12] juzhiyuan opened #2086 "request help: Update plugin's schema limit-count"
refer to https://github.com/apache/apisix/issues/2082#issue-681772868

## Currently
[code]

## Expected
No expected schema currently, please refer to `dependencies` in JSONSchema, this can help us to build dynamically schema, so `redis_xxx` fields will only be shown when the policy is `redis`. e.g https://react-jsonschema-form.readthedocs.io/en/latest/usage/dependencies/#unidirectional

[2020-08-19 12:17] juzhiyuan opened #2087 "request help: Update plugin's schema response-rewrite"
refer to https://github.com/apache/apisix/issues/2082#issue-681772868

## Currently
[code]

## Expected
[Playground](https://rjsf-team.github.io/react-jsonschema-form/#eyJmb3JtRGF0YSI6eyJib2R5X2Jhc2U2NCI6ZmFsc2UsInJlamVjdGVkX2NvZGUiOjUwMywiY3VycmVudENvbG9yIjoiIzAwZmYwMCIsImNvbG9yTWFzayI6WyIjMDAwMGZmIl0sImNvbG9yUGFsZXR0ZSI6WyIjZmYwMDAwIl0sImJsZW5kTW9kZSI6InNjcmVlbiJ9LCJzY2hlbWEiOnsibWluUHJvcGVydGll

[2020-08-19 12:17] membphis commented on #2086
many thx for reporting. I'll fix it soon.

[2020-08-19 12:19] juzhiyuan opened #2088 "request help: Update plugin's schema fault-injection"
refer to https://github.com/apache/apisix/issues/2082#issue-681772868

## Currently
[code]

## Expected
No expected schema currently,  but here are some issues we should handle:
- [ ] Use oneOf for abort and delay properties if needed;
- [ ] Update the Doc: https://github.com/apache/apisix/blob/master/doc/plugins/fault-injection.md#attributes

[2020-08-19 12:31] ShiningRush commented on #2070
Plugin load failed will not cause readiness probe failed. the key point is you config tcp probe at port "9080", but you run apisix at port "9082".

BTW: this a bad cloud-native application, for below reason:
- you should run gateway with deployment instead of daemonset
- ETCD should run as statefulset
- selector should be different, it will cause service and controller work unexpectedly, you can c

[2020-08-19 12:38] membphis commented on #2086
I just learned about JSON Schema, `dependencies` can't handle this situation. We need to find other way.

It seems that `if--else--then` is the one we need. but the [jsonschema](https://github.com/api7/jsonschema) does not support this feature.

https://stackoverflow.com/questions/51539586/how-do-i-use-the-if-then-else-condition-in-json-schema

[2020-08-20 00:40] frank0417 commented on #2076
Each worker will pull the service information. If a worker pulls the service information, it needs to be shared by all workers. Otherwise, some workers will not be able to obtain the service information. If it is changed, the global cache is required

[2020-08-20 06:06] 2465566 commented on #1974
any update?  this issue also occurred in Apisix 1.4 running in docker.

[2020-08-20 08:02] samunbest commented on #1974
while i also have some troubles with apisix deploy in docker, it goes well when i install by rmp

[2020-08-20 08:48] juzhiyuan commented on #2086
Here is a working well schema with `dependencies`.

[code]

[2020-08-20 09:51] juzhiyuan commented on #2086
[code]

[2020-08-20 10:31] membphis commented on #2086
many thx, that is a better way. I'll make a try with this way later

[2020-08-20 15:59] binbinjianjian opened #2093 "bug: kubenetes ingress install error"
### Issue description
kubenetes ingress  install  error

### Environment
centos7    kubenetes    v1.14.0 and  v1.18.2

### pod error log
[root@k8s-cdh-master kubernetes]# kubectl logs apisix-gw-deployment-6b95457c8f-g8sxp
/usr/local/openresty/luajit/bin/luajit: /usr/local/apisix/deps/share/lua/5.1/tinyyaml.lua:684: bad argument #1 to 'sfind' (string expected, got nil)
stack traceback:
	[C]: in fun

[2020-08-20 16:37] juzhiyuan commented on #2093
Please update your issue title, thanks!

[2020-08-21 08:22] moonming opened #2095 "update limit-* plugins doc: Apache APISIX already support all nginx variables as limit key"
@gy09535 Apache APISIX already support all nginx variables as limit key: http://nginx.org/en/docs/varindex.html, you just need to add it in the enum list of key: https://github.com/apache/apisix/blob/master/apisix/plugins/limit-req.lua#L29.

_Originally posted by @moonming in https://github.com/apache/apisix/pull/2094#issuecomment-678111148_

[2020-08-21 08:22] gy09535 opened #2096 "request help: I need to limit req according to the hot spot parameters."
### Issue description
When we use the  limit plug for limit req , currently only  based on key, which can only be selected: remote_addr, server_addr, X-Forwarded-For, X-Real-IP, but we need to limit the flow based on more flexible parameters such as client authentication key, or different request parameters.
Therefore, we put forward RR, users can use flexibly according to their own circumstances,

[2020-08-22 05:07] wbaweto opened #2098 "bug: route use limit-count plugin, update again plugin config info not effective"
### Issue description
route use limit-count plugin, update again plugin config info not effective

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS:  CentOS Linux release 7.6.1810 (Core)

### Minimal test code / Steps to reproduce the issue
1. route config type
route -> service -> upstream

[code]

2. update again plugin config info
modify imit-count.count from 10 to 20

[code]

[2020-08-23 13:57] Yiyiyimu opened #2106 "bug: some plugin doc use 4 spaces instead of `tab` key"
bad indentation, use 4 spaces instead of `tab` key

_Originally posted by @membphis in https://github.com/apache/apisix/pull/2103_

[2020-08-24 01:02] moonming commented on #2057
@tongorz
Please use English in the public channel, thx

[2020-08-24 01:04] #2024 closed

[2020-08-24 01:07] #1438 closed

[2020-08-24 01:08] moonming commented on #2041
@lchoua ping

[2020-08-24 01:17] #2086 closed

[2020-08-24 01:20] moonming opened #2110 "request help: move `conf/cert` to `t/cert`"
all of these files are ONLY for test cases.

[2020-08-24 01:27] #2085 closed

[2020-08-24 01:53] nic-chen opened #2111 "bug: plugins should not exit by itself"
### Issue description
plugins should not exit by itself in access and rewrite phase, it can't be reuse in `script`, and the plugin engine has already covered:

https://github.com/apache/apisix/blob/master/apisix/init.lua#L134

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including

[2020-08-24 02:51] Yiyiyimu commented on #2110
Do we also need to change the path in Makefile?
https://github.com/apache/apisix/blob/1aefe915f1a01ff7d068cfe7013676bfece2d43e/Makefile#L124

[2020-08-24 02:56] moonming commented on #2110
we shoule remove this line :)

[2020-08-24 05:16] Yiyiyimu commented on #2110
Sure thx

[2020-08-24 06:03] Yiyiyimu commented on #2110
https://github.com/apache/apisix/blob/1aefe915f1a01ff7d068cfe7013676bfece2d43e/bin/apisix#L301
https://github.com/apache/apisix/blob/1aefe915f1a01ff7d068cfe7013676bfece2d43e/bin/apisix#L366

It seems there is need to configure ssl_certificate when start apisix

[2020-08-24 07:41] xyz2b opened #2113 "request help: How to modify lua_package_path and lua_package_cpath in nginx.conf ?"
### Issue description

How to modify lua_package_path and lua_package_cpath in nginx.conf ? I have config lua_package_path and lua_package_cpath in config.yaml -> nginx_config -> http，but it is not work!

config.yaml
`
nginx_config:                     # config for render the template to genarate nginx.conf

http:

    lua_package_path: "$prefix/deps/share/lua/5.1/?.lua;$prefix/deps/share/lua/5.1/

[2020-08-24 07:43] #2113 closed

[2020-08-24 07:44] xyz2b opened #2114 "request help: How to modify lua_package_path and lua_package_cpath in nginx.conf ?"
### Issue description

How to modify lua_package_path and lua_package_cpath in nginx.conf ?
I have config lua_package_path and lua_package_cpath in config.yaml -> nginx_config -> http，but it is not work!

config.yaml
`
nginx_config:                     # config for render the template to genarate nginx.conf
http:
    lua_package_path: "$prefix/deps/share/lua/5.1/?.lua;$prefix/deps/share/lua/5.1/?/

[2020-08-24 09:17] Firstsawyou commented on #2114
You need to modify the "apisix" configuration file. The source code package is in the "apisix/bin/" directory, and the rpm installation method is in the "/usr/bin/" directory.
![image](https://user-images.githubusercontent.com/52862365/91026400-45f7b580-e62d-11ea-9c2f-bf80ac1d2639.png)

![image](https://user-images.githubusercontent.com/52862365/91026282-219bd900-e62d-11ea-8900-2fa363119acc.png)

[2020-08-24 09:43] moonming commented on #2110
the default of https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L64 is empty, so I think we can also remove https://github.com/apache/apisix/blob/1aefe915f1a01ff7d068cfe7013676bfece2d43e/bin/apisix#L366-L367.
@nic-chen  what do you think?

[2020-08-24 11:25] nic-chen commented on #2110
sure, i think it's better empty default.

[2020-08-24 12:09] xyz2b commented on #2114
awesome
thank you

[2020-08-24 12:09] #2114 closed

[2020-08-24 16:23] Yiyiyimu commented on #2110
When the the default is set empty, apisix would chose to use cert&key in conf/cert

https://github.com/apache/apisix/blob/1aefe915f1a01ff7d068cfe7013676bfece2d43e/bin/apisix#L289-L303

[2020-08-25 01:12] spacewander commented on #1159
Look like this can be closed now?

[2020-08-25 02:31] tokers commented on #1159
@spacewander Yeah, the corresponding PR was merged.

[2020-08-25 02:31] #1159 closed

[2020-08-25 07:35] liubinqi2007 opened #2118 "request help: openid-connect JSON decode failed"
### Issue description
Using licensed plug-ins
<img width="881" alt="image" src="https://user-images.githubusercontent.com/17898385/91145888-b7e10500-e6e8-11ea-93a7-7caff09168d8.png">
<img width="1413" alt="image" src="https://user-images.githubusercontent.com/17898385/91145902-bc0d2280-e6e8-11ea-8e4f-9a1219e31cb5.png">

我使用的openid-connect插件，现在报这种错
### Environment

* apisix version (cmd: `apisix ve

[2020-08-25 07:43] #2111 closed

[2020-08-25 07:48] moonming commented on #2118
Can you provide reproduction steps?

[2020-08-25 09:17] Gary-Airwallex opened #2119 "request help: Accessing matched_route.value.uri in prometheus when service_id is used"
### Issue description
We'd like to access ctx.matched_route.value.uri (or uris) in prometheus.exporter.log(). It worked fine with routes like
[code]
But after adding
[code]
I'm getting
[code]
as ctx.matched_route in `prometheus.exporter.log` for GET /hello1. Notice that uri is missing in value.

Any help is greatly appreciated.

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS:

[2020-08-25 09:54] Gary-Airwallex commented on #2119
Checked the source code, seems like merge_service_route is leaving the uri part out. Is it intended? Is there an recommended way of getting the uri/uris part from configuration in plugins?

[2020-08-25 11:37] ShiningRush commented on #1463
close issue with #1591

[2020-08-25 11:37] #1463 closed

[2020-08-25 13:55] gy09535 commented on #2098
I think there has two problems, the 'changed' variable is always nil, Because when the 'route_config' is changed ,  it become a new key ,so the  'changed' variable  is always nil. Another problem is the 'route.modifiedIndex' is 'service.modifiedIndex', But the service is not changed, According to the code: https://github.com/apache/apisix/blob/master/apisix/plugin.lua#L297 .

I changed the cache k

[2020-08-25 15:49] gxthrj commented on #2093
@binbinjianjian It looks more like there is a problem with your configuration file, please show us your `config.yaml`

[2020-08-26 01:37] #2106 closed

[2020-08-26 04:05] xyz2b opened #2123 "request help: Can use SSL certificate for ectd auth ?"
### Issue description
apisix's config.yml only have user/password for etcd auth
I not find SSL certificate configure for etcd auth

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:centos7.6

[2020-08-26 08:51] #2009 closed

[2020-08-26 09:20] gy09535 opened #2124 "request help: should apisix support dynamic configuration?"
### Issue description
Sometime we should get some configs such as authorization  service url, we can put this configs in apisix config or plugin config.
If we put this in  apisix config ,when we change config we should restart apisix, And if we put in plugin config, We should change all plugin configs.
Should we support a global  dynamic configuration which can be change on the admin api?

### Env

[2020-08-27 00:49] moonming opened #2125 "request help: move etcd cluster in docker for CI"
The Apache APISIX node and etcd are deployed on the same machine in CI.
But in actual user environment, these two are deployed separately. We need to deploy Apache APISIX nodes and etcd cluster separately in CI, so as to be closer to the real environment and to find more potential bugs

[2020-08-27 02:47] gxthrj opened #2126 "[DISCUSS]How do we control `host delivery`"
### Issue description

- Questions

We know that APISIX will pass the request host to upstream by default, and the host can be rewritten through the `proxy-rewrite` plugin, but in some scenarios, this makes it difficult for us to use.

- Suggestions

The processing of the host by the gateway is roughly divided into three situations:
1. Pass the host.
2. Do not pass host.
3. Rewrite host.

The firs

[2020-08-27 03:47] #2088 closed

[2020-08-27 08:38] xyz2b opened #2128 "request help: Can support multi-server config?"
### Issue description
I want to configure multi-server in nginx config, because I want to listen multi port. Can support it ?
Or I configure multi apisix instance?

Thanks!
### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:centos 7

[2020-08-27 09:37] jxhsjxhs commented on #487
组织：DaoCloud
位置：中国上海
联系方式：xiaohaosheng.jia@daocloud.io
场景：提供稳定的流量进入以及openapi核心组件

[2020-08-28 02:12] juzhiyuan commented on #2126
OK, please provide the API Design :D

[2020-08-28 03:24] lilien1010 opened #2129 "bug: set route fail when ETCD host is domain in K8S env"
### Issue description

recently I am try build a helm package for Kubesphere's built-in AppStore

but if I use internal dns for etcd, it will show an error like this
[code]

and here is the configuration of config.yaml
[code]

it works fine inside the docker cli
[code]

[code]

also the the resolver inside the `nginx.conf` is using local nameserver
cat conf/nginx.conf
[code]

### Environment

* ap

[2020-08-28 07:29] lilien1010 commented on #2129
that's wired
I found the nameserver is not ok,
when I try
`nslookup apisix-mhkykh-etcd-0.apisix-mhkykh-etcd`
it shows
[code]

[2020-08-28 07:46] lilien1010 commented on #2129
![image](https://user-images.githubusercontent.com/3814966/91535359-9b8dd400-e945-11ea-8442-f2c9b6ef346e.png)

[2020-08-29 15:14] #1996 closed

[2020-08-29 15:17] membphis opened #2131 "license issue about `ewma`"
comments: https://github.com/apache/apisix/pull/2001#issuecomment-681348703

[2020-08-30 02:36] membphis opened #2133 "feature: allow setting the number of retries for a specific response code."
here is an example:

https://github.com/openresty/lua-resty-core/blob/master/t/balancer.t#L58-L59

@nic-chen you can take a look if you have time

[2020-08-30 09:38] membphis commented on #2128
please provide an example of nginx.conf, I can not sure what is you need

[2020-08-30 09:47] membphis commented on #2123
that is a todo feature. it needs to support mTLS but openresty does not support this feature now

[2020-08-30 14:48] membphis opened #2134 "doc: set the request domain name for the upstream, needs to specify the default value"
comments: https://github.com/apache/apisix/pull/2132#discussion_r479778454

[2020-08-31 03:19] backnero opened #2135 "request help: recommend admin-api add paging function"
### Issue description
It is recommended to add a paging function to the admin-api interface. When the back-end services increase and the number of interfaces increases, the api interface that obtains the interface list has a high latency and a large amount of data performs badly.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-08-31 03:34] membphis commented on #2135
yes, we need to support this feature ^_^

[2020-08-31 10:02] liubinqi2007 opened #2137 "request help: how to set user-define URI in self-define plugin"
### Issue description
如果我想再插件里改这个地址或者自己的插件也实现一个这样的地址，我应该怎么配置，我现在如果自定义uri提示我没有匹配对应的规则
![888CD391B27FD429FFD45D5105EB5B6F](https://user-images.githubusercontent.com/17898385/91708606-23791580-ebb4-11ea-86c5-6684d509b930.jpg)
<img width="510" alt="image" src="https://user-images.githubusercontent.com/17898385/91708617-25db6f80-ebb4-11ea-8c07-ec04b425370b.png">
![image](https://user-images.githubuserc

[2020-08-31 12:54] #2131 closed

[2020-08-31 13:09] xyz2b commented on #2128
like...

http {
...
server {
    listen 80;
    server_name www.github.com;

    location / {
        ...
    }
}

server {
    listen 8080;
    server_name www.test.com;

     location / {
        ...
     }
}
}

two severs, but listen port is not same

[2020-08-31 13:13] xyz2b commented on #2123
Will apifix implement this function on its own?

[2020-08-31 13:13] xyz2b commented on #2123
Will apisix implement this function on its own?

[2020-08-31 16:12] membphis commented on #2137
you need to enable the new plugin first. and please use English on the public channel.

and if you still have a problem, you need to provide a mini case in which we can get the same error with them.

[2020-08-31 16:23] membphis opened #2138 "test case: log-rotate.t is unstable"
comments: https://github.com/apache/apisix/pull/2121#issuecomment-683882604

[code]

[2020-08-31 16:26] membphis commented on #2123
need to patch openresty by yourself, it is not easy for most users.

[2020-08-31 16:33] membphis commented on #2128
we can listen to multiple ports eg: 80 and 8000.

[code]

[2020-09-01 06:42] xyz2b commented on #2128
I use apisix admin api to configure, but apisix not listen in 8080 to receive requests, only have 9080 and 9443. Something wrong?
# curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -i -d '
{
    "uri": "/*",
    "hosts": ["www.foo.com"],
    "remote_addrs": ["10.107.97.24"],
    "methods": ["POST", "GET"],
    "vars": [
        ["server_port"

[2020-09-01 06:44] xyz2b commented on #2123
ok, thank you.

[2020-09-01 06:44] #2123 closed

[2020-09-01 07:27] zhuchengxing opened #2140 "request help: What IDE to use for development? How to debug?"
### Issue description

Hello, excuse me! What IDE to use for development? How to debug? What else do I need to do besides installing OpenResty locally? I am a Java development, just started this piece, I now clone the source code, using Vscode and Intellij idea to try to execute the code, but there are always various errors!
### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: wind

[2020-09-01 07:41] moonming commented on #2140
I use vacode as the IDE, and print logs to debug, and there is no modern method to debug OpenResty programs.
What error did you encounter specifically?

[2020-09-01 07:58] membphis commented on #2128
need to update `bin/apisix` first, welcome PR ^_^

[2020-09-01 08:00] membphis commented on #2140
we should use `ngx_lua`, it is different from standard Lua.

[code]

[2020-09-01 08:01] membphis commented on #2140
I think we can close this issue

[2020-09-01 08:27] liubinqi2007 opened #2141 "request help:Custom plug-in (URL)"
### Issue description
If I want to change this address in my plug-in or my own plug-in implements one, what should I configure? Now if the custom URI prompts me that I don't match the corresponding rule
![888CD391B27FD429FFD45D5105EB5B6F](https://user-images.githubusercontent.com/17898385/91826015-9a271900-ec6f-11ea-8029-60e3b2eee29f.jpg)
<img width="510" alt="image" src="https://user-images.githu

[2020-09-01 08:28] moonming opened #2142 "request help: update CI for centos 8 and ubuntu-latest"

[2020-09-01 08:45] #2142 closed

[2020-09-02 03:10] tokers opened #2144 "optimization: cache the parsed certs and pkeys into LRU queues to reduce the parsing overheads"
We can parse the result of `ssl. parse_pem_cert` and `ssl. parse_pem_priv_key` into LRU cache queues, this should help to reduce the CPU utilizations of `ssl_certificate_by_lua*` phase.

[2020-09-02 05:45] membphis commented on #2144
yes, this way is better. welcome PR

[2020-09-02 05:47] membphis commented on #2141
wrong name

![image](https://user-images.githubusercontent.com/6814606/91936626-d23b6400-ed22-11ea-8656-91bb5d2b73a4.png)

[2020-09-02 05:47] #2141 closed

[2020-09-02 05:48] membphis commented on #2141
https://github.com/apache/apisix/blob/master/apisix/plugins/prometheus.lua#L48

that is an example, please take a look at this plugin.

[2020-09-02 06:09] zhangpjbo opened #2146 "request help: I want to create a new Lua script and launch an error when importing an external script. The problem is as follows"
### Issue description
create a new Lua script and import the external script
![cccc](https://user-images.githubusercontent.com/43983137/91937971-abcaf800-ed25-11ea-8044-6a7022409ac8.png)
the following error occurred when starting APisiX
![aa](https://user-images.githubusercontent.com/43983137/91938111-f51b4780-ed25-11ea-9cd4-47a9aef13f08.png)

### Environment

* apisix version (cmd: `apisix versio

[2020-09-02 06:32] membphis commented on #2146
[code]

![image](https://user-images.githubusercontent.com/6814606/91939881-277a7400-ed29-11ea-93fd-d6cd6d40f0c6.png)

[2020-09-02 06:33] membphis commented on #2146
please provide a full mini example, we need it for confirming

[2020-09-02 06:40] tokers commented on #2144
Will implement this as soon as possible.

[2020-09-02 06:51] zhangpjbo commented on #2146
我初步的想法是tcp和udp的代理页面可配置动态化处理，需要把config.yaml文件中的tcp和udp配置动态初始化，由此而延伸出来的问题，在stream_routes.lua文件中添加 local template = require("resty.template")，在重新启动时会出现上述截图的问题。

[2020-09-02 06:54] zhangpjbo commented on #2146
This is a change made in the source file
![error](https://user-images.githubusercontent.com/43983137/91941555-fa7b9080-ed2b-11ea-83c2-e8d4fda6c48f.png)

This is an error message
![error2](https://user-images.githubusercontent.com/43983137/91941740-43334980-ed2c-11ea-8318-7d8d65442087.jpg)

[2020-09-02 06:55] zhangpjbo commented on #2146
This is a change made in the source file
![error](https://user-images.githubusercontent.com/43983137/91941777-55ad8300-ed2c-11ea-9c79-6c50979799ad.png)
This is an error message
![error2](https://user-images.githubusercontent.com/43983137/91941799-6100ae80-ed2c-11ea-934b-2476cc38f365.jpg)

[2020-09-02 09:28] membphis commented on #2146
I make a test right now, it works fine.

please make sure you are using the right version of APISIX and `conf/config.yaml`.

[code]

[2020-09-02 10:47] zhangpjbo commented on #2146
我使用的是1.5，局部config.yaml配置如下:
![aaaa](https://user-images.githubusercontent.com/43983137/91971768-50f8c700-ed4c-11ea-9e6d-df0a07d43a2c.png)

![bbbb](https://user-images.githubusercontent.com/43983137/91971896-830a2900-ed4c-11ea-8f4e-7daf31a7e19f.png)
这两段配置都在，启动会提示我上述异常，若把config.yaml文件的stream_proxy配置全部注释掉，则不会提示错误信息，可以正常启动。

[2020-09-02 16:06] gxthrj opened #2149 "feat: We need an implementation of `hmac` verification"
### Issue description
The `hmac` verification way is widely used, We need an implementation of `hmac` verification.

### Environment

* apisix version : 1.5
* OS:

[2020-09-02 16:20] gxthrj opened #2150 "feat: According to business parameters such as querystring and header, direct traffic to an upstream"
### Issue description
we need a plugin for according to business parameters such as `querystring` and `header`, direct traffic to an upstream

### Environment

* apisix version : 1.5
* OS:

[2020-09-03 01:04] membphis commented on #2146
I try to run with the patch https://github.com/apache/apisix/issues/2146#issuecomment-685491766 with version 1.5.

It works fine. There is no error log.

[2020-09-03 01:47] gy09535 opened #2151 "feature: Best practice for jaeger"
### Issue description
Apisix also has trace report for zipkin and skywalking, but can not has report for jaeger。I can use zipkin plugin  report span  for jaeger ,but it is not the best  practice. I think  we should report span to  jaeger agent ,which use thrift as protocol，acording to the architecture of jaeger https://www.jaegertracing.io/docs/1.19/architecture.
### Environment

* apisix version

[2020-09-03 02:33] moonming opened #2152 "request help: add Chaos Testing for Apache APISIX"
### Issue description
The current test does not cover various abnormal conditions such as network, disk, cpu, etc.

[2020-09-03 02:49] moonming commented on #1773
the resopnse body from skywalking server:
![图片](https://user-images.githubusercontent.com/26448043/92065855-0a9a7b00-edd3-11ea-9a6b-11e7b78ba266.png)

[2020-09-03 06:01] moonming opened #2154 "bug: failed test cases about parse yaml config"
https://github.com/apache/apisix/pull/2148/checks?check_run_id=1060755809#step:6:448
https://github.com/apache/apisix/pull/2148/checks?check_run_id=1060755809#step:6:465

[2020-09-03 06:17] gxthrj opened #2155 "request help: add field `desc` for consumer"
### Issue description

### Environment

* apisix version: 1.5
* OS:

[2020-09-03 06:55] DHB-liuhong opened #2156 "bug: can not run apisix on ARM"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 1.4
* OS: arm linux 7.6

### Minimal test code / Steps to reproduce the issue
1. apisix start

### What's the actual result? (including assertion message & call stack if applicable)
root@node0002 conf]# apisix start
nginx: [error] init_by_lua error: /usr/local/apisix//deps/share/lua/5.1/resty/radixtree.lua:76: /usr/l

[2020-09-03 08:06] wangyusheng1985 commented on #487
Organization: MiaobiAI .Inc
Location: Beijing, China
Contact: wangyusheng@aimiaobi.com
Scenario: to manage dynamic proxy and pass proxy api

组织：MiaobiAI
地址：中国 北京
联系方式：wangyusheng@aimiaobi.com
使用场景：管理采集动态代理及网关入口

[2020-09-03 09:10] y934317258 opened #2157 "request help: apisix 1.3 upgrade apisix 1.5,admin api occur 403"
### Issue description
apisix 1.3 upgrade apisix 1.5,admin api occur 403
![@5TLD~5W%Y485ICMTLF7XJM](https://user-images.githubusercontent.com/68832358/92095341-1bb1af00-ee08-11ea-8f3c-904b2fa9defa.png)

### Environment
docker
* apisix version (cmd: `apisix version`): apisix 1.5
* OS:centOs

[2020-09-03 10:05] y934317258 commented on #2157
![image](https://user-images.githubusercontent.com/68832358/92101575-e7da8780-ee0f-11ea-914e-12d1c246f488.png)
change api six version from 1.3 to 1.5 only

[2020-09-03 10:06] idbeta opened #2159 "bug:prometheus plugin crash in ARM64 environment"
### Issue description

[error] 11324#11324: *1 [lua] plugin.lua:66: load_plugin(): failed to load plugin [prometheus] err: bad light userdata pointer, context: init_worker_by_lua*

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: centos7.6

[2020-09-03 10:08] idbeta opened #2160 "bug: grpc-transcode plugin crash in ARM64 environment"
### Issue description

[error] 11324#11324: init_worker_by_lua error: ...isix/apache-apisix-1.5/apisix/plugins/grpc-transcode.lua:94: attempt to index upvalue 'proto' (a userdata value)
stack traceback:
        ...isix/apache-apisix-1.5/apisix/plugins/grpc-transcode.lua:94: in function 'init'
        /usr/apisix/apache-apisix-1.5/apisix/plugin.lua:85: in function 'load_plugin'
        /usr/apisix/

[2020-09-03 10:23] idbeta opened #2161 "bug: After the 1.5Rpm package was installed in centos7.6(ARM64), an error was occurred"
### Issue description
After the 1.5Rpm package was installed in centos7.6(ARM64), an error was occurred
[root@ecs-9148 ~]# apisix start
nginx: [error] init_by_lua error: error loading module 'lfs' from file '/usr/local/apisix//deps/lib/lua/5.1/lfs.so':
	/usr/local/apisix//deps/lib/lua/5.1/lfs.so: cannot open shared object file: No such file or directory
stack traceback:
	[C]: at 0xffffa561c9b8
	[C

[2020-09-03 10:30] idbeta opened #2162 "bug: after used luarocks to install APISIX in centos7.6(ARM64), an error was occurred"
### Issue description
It looks like APISIX was ​​not installed correctly.

[root@ecs-9148 /]# cat /usr/local/bin/apisix
#!/bin/sh

LUAROCKS_SYSCONFDIR='/usr/local/etc/luarocks' exec '/usr/local/bin/lua' -e 'package.path="/usr/local/share/lua/5.3/?.lua;/usr/local/share/lua/5.3/?/init.lua;"..package.path;package.cpath="/usr/local/lib/lua/5.3/?.so;"..package.cpath;local k,l,_=pcall(require,"luarocks.

[2020-09-03 10:31] y934317258 commented on #2157
After verification, 1.5 and above, when allow_admin is empty, all access is forbidden. Is this a bug？

[2020-09-04 02:09] cwtree commented on #487
组织：中国移动杭研
位置：中国 杭州
联系方式：chiwei@cmhi.chinamobile.com
场景：WAF业务，多网站路由分组

[2020-09-04 04:29] gy09535 commented on #2138
I think  if  the log dir  has files named "*_access.log" and  "*_error.log" ,the log rotate is success.

[2020-09-04 05:48] masahills opened #2165 "request help: multi-tenancy/multi-workspace feature"
### Issue description
Hi,
Do you have any plan to introduce multi-tenancy feature into APISIX?
The motivation for this feature is that we want to let multiple internal organizations/teams to manage only their own configurations without affecting others. A concept of this feature is called 'Workspace' in Kong Enterprise Edition.

[2020-09-04 06:58] gy09535 commented on #2138
If the file order is changed ,the regex is not matched. The file order is unstable. So I fix this bug by match file name in the serve.

[2020-09-04 07:12] membphis opened #2166 "bugfix: when reading data from etcd times out, there are two use cases."
To obtain data incrementally from etcd, if a timeout occurs, there are two scenarios:

1. there is no new data in etcd
2. bad network or nginx was blocked by IO

https://github.com/apache/apisix/blob/master/apisix/core/config_etcd.lua#L231

we only can update the `modifyIndex` for case 1.

[2020-09-04 08:10] nic-chen opened #2167 "feat: need a way to support install plugin from third party repo"
### Issue description
need a way to support install plugin from third party repo, it is convenient for user custom plugin management

[2020-09-04 10:24] gy09535 opened #2169 "feat: how use apisix send log to aliyun sls"
### Issue description
How apisix can send log to aliyun? I think ailiyun support syslog standard rfc5424( https://help.aliyun.com/document_detail/112903.html?spm=a2c4g.11186623.6.763.28801b47aqgVZq).

But the nginx support syslog standard rfc3164(http://nginx.org/en/docs/syslog.html).

And I can not find the log message format filed "STRUCTURED-DATA" in rfc3164(https://tools.ietf.org/html/rfc3164#

[2020-09-04 11:54] membphis commented on #2154
it is not a bug. the test case is testing the invalid `config.yaml`.

https://github.com/apache/apisix/blob/master/t/core/config-default.t#L51

Please pay attention to the `must_die` label

[2020-09-04 11:54] #2154 closed

[2020-09-04 13:55] membphis opened #2170 "feature(core): implement `core.sleep`"
Use a small time interval (such as 1s) to complete a relatively long sleep behavior, so that the worker process can be shut down gracefully.

Here is the fake code(we may):

[code]

[2020-09-04 14:07] membphis commented on #2138
@gy09535 agree with you

[2020-09-05 01:43] Yiyiyimu opened #2171 "bug: test case: route-domain-with-local-dns.t is unstable"
https://github.com/apache/apisix/pull/2036/checks?check_run_id=1072986718#step:6:475
[code]

[2020-09-05 04:02] Yiyiyimu commented on #2110
Hi @moonming @nic-chen any suggestions?

[2020-09-05 04:41] Yiyiyimu commented on #2152
I'd like to work on this after finish etcd v3 upgrade. [Chaos Mesh](https://github.com/chaos-mesh/chaos-mesh) seems to have quite an active community. I'd like to give it a try on it.

[2020-09-05 05:45] moonming commented on #2152
cool, look forward to it

Shuyang Wu <notifications@github.com> 于 2020年9月5日周六 下午12:41写道：

[2020-09-05 08:16] Yiyiyimu opened #2172 "bug: check-plugins-code not correctly configured"
### Issue description
Currently check-plugins-code.sh use `sh` rather than `bash` so it would output errors as following.

### What's the actual result?
[code]

### What's the expected result?
[code]

[2020-09-06 04:10] #2138 closed

[2020-09-06 07:09] DHB-liuhong commented on #2156
i have solved it

[2020-09-06 07:09] #2156 closed

[2020-09-06 13:52] #2098 closed

[2020-09-07 01:41] #2172 closed

[2020-09-07 02:34] membphis commented on #2155
we have support `desc` for consumer object.

![image](https://user-images.githubusercontent.com/6814606/92343207-b4407b80-f0f5-11ea-839c-dd5af5a82126.png)

[2020-09-07 02:34] #2155 closed

[2020-09-07 02:47] gxthrj commented on #2150
This requirement is business specific

[2020-09-07 02:47] #2150 closed

[2020-09-07 05:54] membphis commented on #2149
is it related to issue https://github.com/apache/apisix/issues/1653 ?

[2020-09-07 06:04] moonming commented on #2156
@DHB-liuhong how to fix this issue? that will be good if you can share some details.

[2020-09-07 06:06] moonming commented on #2171
@Yiyiyimu welcome PR to fix it:)

[2020-09-07 06:07] moonming commented on #2169
@membphis @gxthrj please take a look

[2020-09-07 06:14] xyz2b commented on #2128
OK, Thanks

[2020-09-07 06:14] #2128 closed

[2020-09-07 06:50] GBXing opened #2175 "bug: kafka-logger plugin comes with exception logs"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:Ubuntu
### Minimal test code / Steps to reproduce the issue
1. Add Kafka-logger to the route and access it

### What's the actual result? (including assertion message & call stack if applicable)
Normal functionality, but with exception logging
error.log:
 2020/09/07 14:39:03 [error] 502#502: *169385 [lua] bat

[2020-09-07 07:09] xyz2b opened #2176 "request help: How to configure timeout settings?"
### Issue description
How to configure timeout settings?
Such as: proxy_connect_timeout, proxy_send_timeout, proxy_read_timeout and so on.

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:centos 7.5

[2020-09-07 08:24] gy09535 commented on #2169
I have see the repository  of  https://github.com/cloudflare/lua-resty-logger-socket，It just implementation  socket log to send log to  syslog-ng(collector)  source.The syslog-ng has source and destination. I should publish "syslog-ng" for proxy for ali cloud  log service(sls). I think should I send log to sls without proxy.

[2020-09-07 08:51] yuansh opened #2178 "Windows Platform how to run APisix, how to debug"
### Issue description

Apisix project has been running in CENTOS7 environment, and now we need to develop custom plug-ins. We did not see the documents about the deployment and compilation of the project under Windows platform on the problems we encountered. Could you please provide the reference documents?I use the IDE (Visual Studio Code) and the platform (Windows) to run lua project operations

[2020-09-07 10:14] Yiyiyimu commented on #2171
It seems I could not reproduce this problem. Should I leave this issue here or close it?

[2020-09-08 01:20] moonming commented on #2178
Apache APISIX has not been tested on windows system, so there may be problems. Going back to your error, it seems that OpenResty is not installed correctly

[2020-09-08 01:32] moonming opened #2180 "request help: support geoip as judgment condition"
### Issue description
as discuss in https://lists.apache.org/thread.html/r947d414b42900ec8e73f0c7366513e80da74b33261effb664901da2d%40%3Cdev.apisix.apache.org%3E

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-09-08 01:38] yuansh commented on #2178
Thanks a lot. I'll try some other operating systems

[2020-09-08 01:45] moonming commented on #2178
you are welcome.

[2020-09-08 01:45] #2178 closed

[2020-09-08 02:58] #2146 closed

[2020-09-08 03:01] moonming commented on #2165
There is no plan yet. Do you have a general plan for this?
 I am concern that this will increase the cost of user learning and use, not every user needs multi-tenancy.

[2020-09-08 03:54] maxluo1992 opened #2182 "bug: error in the pod when deploying apisix-gw-config-cm.yaml in kubernetes"
### Issue description
根据本项目中kubernetes的部署步骤操作，在部署apisix-gw-config-cm.yaml发现pod内报错
/usr/local/openresty/luajit/bin/luajit: /usr/bin/apisix:701: failed to read `apisix` field from yaml file
stack traceback:
        [C]: in function 'error'
        /usr/bin/apisix:701: in function </usr/bin/apisix:668>
        /usr/bin/apisix:922: in main chunk
        [C]: at 0x00404c00

### Environment

* apisix ve

[2020-09-08 03:55] chenyicai opened #2183 "bug: Can't see the route created using api in dashboard"
### Issue description
使用curl api接口的方式创建了路由，然后在etcd中也能get到值，但是dashboard中却没有创建的路由

### Environment
centos 7

* apisix version (cmd: `apisix version`):
* OS: v1.5

### Minimal test code / Steps to reproduce the issue
1.  curl --location --request POST 'http://10.1.9.115:9080/apisix/admin/routes' \
--header 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' \
--header 'Content-Type: application/json' \
--d

[2020-09-08 04:03] moonming commented on #2183
@chenyicai Please use English in the public channel, thx
for this issue, yes, this is the bug of dashboard, and we will fix by https://github.com/apache/apisix-dashboard/issues/434, we plan to remove mysql and only read/write from etcd.

[2020-09-08 04:04] moonming commented on #2182
@maxluo1992 Please use English in the public channel, thx
@gxthrj please take a look, thx

[2020-09-08 04:40] maxluo1992 commented on #2182
OK

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Wen Ming"<notifications@github.com&gt;;
发送时间: 2020年9月8日(星期二) 中午12:04
收件人: "apache/apisix"<apisix@noreply.github.com&gt;;
抄送: "Max Luo"<963679535@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [apache/apisix] request help:  (#2182)

@ maxluo1992请在公共频道上使用英语，thx
 @gxthrj请看一下，thx

—
您收到此邮件是因为有人提到您。
直接回复此电子邮件，在GitHub上查看，或取消订阅

[2020-09-08 04:45] nic-chen commented on #2182
@maxluo1992  please take a look at your local `apisix-gw-config-cm.yaml`, what is the content in it ?

[2020-09-08 04:48] maxluo1992 commented on #2182
This is config.yaml file content.
apiVersion: v1
data:
  config.yaml: |
kind: ConfigMap
metadata:
  name: apisix-gw-config.yaml
  namespace: default
dns_resolver:
  - 10.244.3.14

[2020-09-08 04:49] maxluo1992 commented on #2182
This is config.yaml file content:
[code]

[2020-09-08 06:16] tokers commented on #2182
@maxluo1992
You should put the whole configuration file data into the `data` field of ConfigMap object, rather than add some fields like `dns_resolver` in ConfigMap own's spec.

[2020-09-08 06:17] chenyicai commented on #2183
ok,thank you very much, i will use English next time！

[2020-09-08 06:18] tokers commented on #2170
Maybe a readable name is also important to imply the difference, like `interrupted_sleep`

[2020-09-08 06:31] moonming commented on #2183
Thanks for your understanding

[2020-09-08 06:31] #2183 closed

[2020-09-08 07:22] maxluo1992 commented on #2182
Ok, I will have a try and give you the feedback if possible.

[2020-09-08 08:18] gxthrj commented on #2182
[code]
the `dns_resolver ` should be in `data` field

[2020-09-08 08:28] y934317258 opened #2184 "bug: limit-conn，After limiting concurrency for the first time, all subsequent requests are blocked"
### Issue description
limit-conn，After limiting concurrency for the first time, all subsequent requests are blocked
### Environment

* apisix version (cmd: `apisix version`):master
* OS:centOs

### Minimal test code / Steps to reproduce the issue
1.config
![image](https://user-images.githubusercontent.com/68832358/92451999-0e256c00-f1f0-11ea-80aa-30ba54f6af29.png)
2.first.it's true
![image](https:

[2020-09-08 08:47] gxthrj commented on #2182
need to update the doc for deploying APISIX in k8s

[2020-09-08 10:46] maxluo1992 commented on #2182
@gxthrj I found that APISIXl uses the http protocol to connect to etcd, but the etcd of the k8s cluster uses the mandatory https protocol, so it cannot connect.

[2020-09-08 12:07] haifeng9414 opened #2186 "bug: The log keeps printing "wait for more time, context: ngx.timer""
### Issue description
The http_init method starts a privileged process and the privileged process initializes the routing in the init_worker phase
[code]

When setting `config_center` to `yaml` in `config.yaml`, the created object will add a timer and continuously sync yaml data, but the init_worker method skips the privileged process
[code]
This will cause the sync to fail and keep printing error

[2020-09-08 13:34] moonming commented on #2151
I think you can add a plugin for jaeger, and welcome PR for this

[2020-09-08 16:12] zhouqiang-cl commented on #2152
@Yiyiyimu @moonming Thank you for your interest in Chaos Mesh.
 I am [Chaos Mesh](https://github.com/chaos-mesh/chaos-mesh) maintainer. If you have any questions, please feel free to ping us in #project-chaos-mesh channel in the [CNCF Slack](https://join.slack.com/t/cloud-native/shared_invite/zt-fyy3b8up-qHeDNVqbz1j8HDY6g1cY4w) workspace or directly create issues in [Chaos Mesh](https://github.com

[2020-09-08 18:08] Yiyiyimu commented on #2152
Hi @zhouqiang-cl thank you for your support!

[2020-09-09 00:54] juzhiyuan opened #2187 "request help: remove the dashboard submodule"
### Issue description
Please remove the dashboard submodule, because it's outdated with the Dashboard v1.5+

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-09-09 01:19] DHB-liuhong commented on #2156
@moonming .Apisix must be compiled on an ARM machine

[2020-09-09 01:22] moonming commented on #2156
@DHB-liuhong got it, thanks.

[2020-09-09 01:51] ShiningRush commented on #2176
There is currently no way to set these values. We can record this requirement and expose it in soon.
As a workaround, you can modify the configuration content in `bin/apisix` to set those values.

[2020-09-09 02:00] fankeke opened #2188 "request help: url_block.lua plugin: Is there any performance bottleneck if there are many block rules, say 1000000 url rules in production enviroment"
### Issue description
plugin： url_blocker.lua

[code]

Is there any performance bottleneck if there are many block rules, say 1000000 url rules  in production enviroment

Every request will be handled by block plugin.

[2020-09-09 02:00] fankeke commented on #2188
@membphis

[2020-09-09 02:01] fankeke commented on #2188
Every request will be handled by block plugin.

[2020-09-09 02:10] tengzhinei opened #2189 "bug:"
### Issue description

When creating a route, host should not be required. We are a sass project. Thousands of domain names point to the same system. Now, we are using Kong. Now we can route through path,

![image](https://user-images.githubusercontent.com/2428304/92546242-af5e0200-f284-11ea-8aca-823c44b5ad26.png)

[2020-09-09 02:41] y934317258 opened #2190 "request help: What is the current circuit breaker strategy and where is it introduced"
### Issue description
What is the current circuit breaker strategy and where is it introduced?
For example, if the threshold value is reached in the monitoring period, it will fuse. How long can it be recovered after fusing
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-09-09 03:17] membphis commented on #2189
you can copy this issue to apisix-dashboard ^_^

[2020-09-09 03:18] dickens7 opened #2191 "bug zipkin Arguments"
- parameters passed when using the function

https://github.com/apache/apisix/blob/3ece377d3ff920a3f46c0fa93312e5d7b276f63f/apisix/plugins/zipkin/codec.lua#L101-L103

- the actual parameters defined by the function

[code]

- error log

[code]

[2020-09-09 03:22] dickens7 commented on #2191
when `x-b3-sampled` is 1, the BUG is triggered

[2020-09-09 04:51] spacewander commented on #2191
Look like the sample argument is removed since https://github.com/iresty/opentracing-openresty/pull/2/files. But the code in apisix didn't update for it.
CC @moonming

[2020-09-09 05:53] griffenliu opened #2194 "bug: error when route not found"
### Issue description
when route not found and `return core.response.exit(404, {error_msg = "failed to match any routes"})`, the apisix occur error.

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: Ubuntu 18.04

### Minimal test code / Steps to reproduce the issue
1. add global plugin cors
[code]

2. Access a nonexistent Route, for example: http://172.0.0.1:9080/test

3. the a

[2020-09-09 06:19] moonming commented on #2191
yes, you are right.
@dickens7 welcome PR https://github.com/dickens7/apisix/commit/1b969cf3ad224dda6211219c686d01a59b3f7cca

[2020-09-09 06:26] membphis opened #2195 "doc(kafka-logger): option `include_req_body`"
The plugin "kafka-logger" already supports this feature, but we did not write this feature in the documentation.

https://github.com/apache/apisix/blob/master/apisix/plugins/kafka-logger.lua#L47

welcome PR ^_^

[2020-09-09 06:48] membphis opened #2196 "feature(kafka-logger): need to read the request body data if it was cached to local file"
https://github.com/apache/apisix/blob/master/apisix/utils/log-util.lua#L67

The file name is not enough.
we need to read the file content.

[2020-09-09 06:55] y934317258 opened #2197 "request help: How to ensure the security of token without password"
### Issue description

How to ensure the security of token without password
![image](https://user-images.githubusercontent.com/68832358/92564885-76d21e80-f2ac-11ea-8a73-3cd1e0add842.png)

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-09-09 07:01] liuximu opened #2198 "request help: How to deploy apisix"
### Issue description
求官方确认一下：
 apache/apisix 包括两个职责，有两种部署方式：
1 被放到线上部署成API-Gateway集群，关闭api相关的接口，作为数据面
2 被放到内网部署成管理平台，开源被 apisix-dashboard 调用完成配置的变更

是这样子吗？谢谢

[2020-09-09 07:03] y934317258 opened #2199 "request help: The parameter meaning of JWT auth plug-in. What are the functions of parameter configuration in consumer and routing"
### Issue description
The parameter meaning of JWT auth plug-in. What are the functions of parameter configuration in consumer and routing
![image](https://user-images.githubusercontent.com/68832358/92565615-80a85180-f2ad-11ea-9719-cd601b9b56a8.png)

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-09-09 07:33] y934317258 commented on #2197
I don't understand the meaning of this plug-in. In my opinion, it is extremely unsafe. Can you introduce its usage scenarios?

[2020-09-09 07:33] masahills commented on #2165
We have hundreds of internal API endpoints which go through a cluster of API gateway servers. It is a typical micro-service architecture and each API is developed and owned by different engineering teams within an organization.

Managing all of those API configurations by a single devops team is not a realistic approach so we want each engineering team to manage their own API configurations with a

[2020-09-09 07:39] y934317258 commented on #2197
@membphis

[2020-09-09 10:15] spacewander commented on #2194
Duplicate of #2006 ?

[2020-09-09 15:02] membphis commented on #2169
I think we can send the log to aliyun sls is an easy way, and that is a stable way.

use `lua-resty-logger-socket` is a better way.

[2020-09-09 15:05] membphis commented on #2169
another way, set `syslog` server in `conf/config.yaml` is another good method

[2020-09-09 18:41] swayamraina commented on #2196
Hi @membphis
I would like to pick this up. Can you describe what exactly is required here?

[2020-09-10 02:46] y934317258 opened #2201 "request help: use core.log Output log, output to which file"
### Issue description
use core.log Output log, output to which file

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-09-10 02:52] linsir commented on #2201
`logs/error.log`

[2020-09-10 03:09] membphis opened #2202 "feature: allow empty `service` object, it does not contain any `upstream` and `plugin`"
Sometimes users create an empty service (managed through API).

When needed later, add specific attributes, such as plug-ins, upstream, etc.

just remove this limitation and add test case to check it.

https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L476-L481

[2020-09-10 03:16] y934317258 commented on #2201
No matter what level of log, is it output to error.log ?

[2020-09-10 03:49] dickens7 opened #2203 "Is there a version release plan?"
Is there a detailed version plan and release plan?

[2020-09-10 03:52] idbeta opened #2204 "bug: “prevNode” should not return after setting a route"
### Issue description
set twice route in the same uri，the second response should not include “preNode”
curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
...
{"action":"set","node":{...},"**prevNode**":{...}}

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: centos7

[2020-09-10 05:22] Firstsawyou commented on #2202
Assigned to me.

[2020-09-10 07:00] membphis commented on #2188
Improving performance mainly depends on the quality of the rules.

For runtime selection, if better performance is required, streaming matching such as hyperscan is needed.

[2020-09-10 07:02] membphis commented on #2188
you can take a look at this benchmark result: https://rust-leipzig.github.io/regex/2017/03/28/comparison-of-regex-engines/

[2020-09-10 07:06] membphis commented on #2196
https://github.com/apache/apisix/blob/master/apisix/utils/log-util.lua#L67

[code]

for how to read file content by file name, you can take a look at this: https://stackoverflow.com/questions/11201262/how-to-read-data-from-a-file-in-lua

[2020-09-10 07:07] membphis commented on #2196
@swayamraina I have assigned this issue to you, many thx

[2020-09-10 07:12] gy09535 commented on #2169
Agree with you and I use cosocket implementation it, please review

[2020-09-10 07:16] membphis commented on #2169
welcome PR，then the community can share this feature. ^_^

[2020-09-10 07:30] linsir commented on #2201
no, should change the `error_log_level`.<https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L112> @y934317258

[2020-09-10 07:45] maxluo1992 opened #2206 "request help:"
### Issue description
I use the docker image to open apisix in the k8s environment, but an error 401 Authorization Required is reported when accessing the resources of the dashboard. But I did not report an error when deploying in a traditional environment.
### Environment
* APISIx Version (CMD: 'APISIx version'):1.2
* OS: centos7.8 for docker

[2020-09-10 07:45] MrJLuo opened #2207 "request help: websocket proxy"
### Issue description
1.Use APISIX to proxy the websocket protocol. If you need to use the http protocol to forward to the upstream, can you only rewrite the header through the proxy-rewrite plugin?
2.By default, apisix forwards the same protocol directly to the upstream?

### Environment

* apisix version (cmd: `apisix version`):v1.5
* OS:linux centos 7.2

[2020-09-10 07:50] membphis commented on #2207
By default, apisix transparently transmits user parameters.

If you need to rewrite a client request (such as a scheme), you need to rewrite it through the proxy-rewrite plug-in.

[2020-09-10 07:52] mlick opened #2208 "Is Apache APISIX support strip_path in Kong?"
### Issue description

![image](https://user-images.githubusercontent.com/8747500/92697047-5a51e700-f37d-11ea-9107-0b8687dd068e.png)
Similar to the configuration of nginx, if there is a root directory / behind, this /sugrec will not be appended to the address of baidu.com, if not, it will be appended automatically.
The default of kong is true, which means it will automatically strip the path on th

[2020-09-10 08:10] moonming commented on #2208
Is this configure? https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L83

[2020-09-10 08:10] moonming commented on #2208
Please use English in the public channel, thx

[2020-09-10 08:16] moonming commented on #2206
@juzhiyuan please take a look

[2020-09-10 08:17] moonming commented on #2204
yes, agreed, we can remove the `prevNode` section now.
Welcome PR

[2020-09-10 08:18] moonming commented on #2203
please take a look at https://github.com/apache/apisix/milestones

[2020-09-10 08:20] moonming commented on #2198
Please use English in the public channel, thx
Your understanding is right, DP and CP are communicate through etcd, here is the technical architecture of Apache APISIX: https://github.com/apache/apisix/blob/master/doc/images/apisix.png

[2020-09-10 08:21] moonming commented on #2199
@juzhiyuan please take a look. Is this a TODO?

[2020-09-10 08:50] spacewander commented on #2194
Please attach your report to #2006 instead.

[2020-09-10 08:50] #2194 closed

[2020-09-10 08:55] maxluo1992 commented on #2206
Check the nginx error.log, which reads:
[lua] init.lua:95: handler(): failed to check token: missing apikey, client: 10.244.3.1, server: , request: "GET /apisix/admin/upstreams HTTP/1.1", host: "192.168.63.184:31191", referrer: "http://192.168.63.184:31191/apisix/dashboard"

[2020-09-10 12:12] tokers commented on #2144
The related PR was merged, i'm closing this issue.

[2020-09-10 12:12] #2144 closed

[2020-09-10 12:57] EnableAsync commented on #2125
I tried to deploy etcd with docker and found that the latest version of etcd did not pass all the test cases.
https://github.com/EnableAsync/apisix/actions/runs/247908169

Then I changed the version of etcd to `3.2` and found that `openresty` passes all test cases, but `tengine` has one test case that does not pass.
https://github.com/EnableAsync/apisix/runs/1096251043#step:7:133

I'd like to get

[2020-09-10 14:38] juzhiyuan commented on #2206
May I know which version of the dashboard are you using? v1.0?

[2020-09-10 14:42] juzhiyuan commented on #2199
https://github.com/apache/apisix/issues/2082#issue-681772868

We have fixed a couple of plugins' schema, I will add this one to the TODO list.

[2020-09-10 16:26] membphis opened #2212 "chore: update the openresty to 1.17.8 for Tengine CI"
https://github.com/apache/apisix/blob/master/.travis/linux_tengine_runner.sh#L66

[2020-09-11 01:49] gy09535 commented on #2169
I use cosocket  and processor to  send logs to sls , you can define different routes or services plugins to send logs to different log store which in sls. you can use sls  do anythings such as data analysis  monitor  and alarm soon. For us I finish the doc, users can reference sls logger doc to use it.

[2020-09-11 02:01] moonming commented on #2125
@EnableAsync Apache APISIX only supports etcd v2 now, so the latest version of etcd not pass all test cases is expected.

@membphis please take a look at tengine failed test cases: https://github.com/EnableAsync/apisix/runs/1096251043#step:7:133

[2020-09-11 02:16] fankeke commented on #2188
Improving performance mainly depends on the quality of the rules.

=======
thanks for reply

In our system, there are already 1+ million block urls， if every request should be match with each url urls， I'm afraid it won't work. :(

[2020-09-11 02:19] mlick commented on #2208
@moonming got it thanks!

[2020-09-11 02:29] powermanlc opened #2213 "can router support uri+params style"
### Issue description
I have a question, normally router matched /a/b/c,
can support **/aa/bb/cc?d=1&e=2** this http get method, params connect the uri.

### Environment

* apisix version (cmd: `apisix version`): 1.3
* OS:

[2020-09-11 02:31] griffenliu commented on #2006
I have the same problem, see #2194.

[2020-09-11 02:55] tokers commented on #2188
Then a good data structure (something like Trie Tree, or AC Automata?) might be used to optimize the match process, :).

[2020-09-11 02:59] spacewander commented on #2188
There is also a library to match plain text in parallel: https://github.com/cloudflare/lua-aho-corasick.

@fankeke
Can we divide the 1+ million block urls into groups according to their hosts?

[2020-09-11 03:01] spacewander commented on #2213
You can route via Nginx builtin variable: https://github.com/apache/apisix/blob/master/doc/router-radixtree.md#how-to-filter-route-by-nginx-builtin-variable

[2020-09-11 03:01] spacewander commented on #2208
Consider solved.

[2020-09-11 03:01] #2208 closed

[2020-09-11 05:53] idbeta opened #2215 "Used TscanCode scan the lua code,it report two code defects"
### Issue description
.../t/lib/test_admin.lua: Code line 223,undeclared Variable [core] is used.
../apisix/http/router/radixtree_sni.lua: Code line 187,[radixtree_router] is used after check at line 172

[2020-09-11 07:10] spacewander opened #2217 "bug: kubernetes/config.sh is broken?"
### Issue description

It seems that `kubernetes/config.sh` doesn't work anymore as config.yaml is empty now.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

[2020-09-11 07:20] spacewander commented on #2186
@membphis

[2020-09-11 07:43] #997 closed

[2020-09-11 09:41] zwwhub opened #2220 "How to get the parameters of the post request in the log plugins"
It seems that the input parameters of the post request are not recorded in tcp-logger and http-logger

[2020-09-11 09:59] zwwhub commented on #2220
When I tried to modify the plugin source code to get the parameters through method ngx.req.get_post_args(), an error was reported: API disabled in the context of ngx.timer

[2020-09-11 19:18] swayamraina commented on #2196
@membphis  I got what exactly is required here and will raise a PR.
I had one question though, why would request body data get cached to a local file and be absent in the request body

[2020-09-12 05:19] gy09535 commented on #2220
The nginx timer is out of request life cycle , you can get it in the  log event  of plugin, and  other way  the log plugin is already support get request body, you can just send an parameter  named "include_req_body". Maybe we should add it in the [doc](https://github.com/apache/apisix/blob/master/doc/zh-cn/plugins/syslog.md).

[2020-09-14 01:57] zwwhub commented on #2220
i get it,thanks

[2020-09-14 01:57] #2220 closed

[2020-09-14 02:52] spacewander commented on #2217
Dup: #2182

[2020-09-14 02:52] #2217 closed

[2020-09-14 02:54] spacewander commented on #2215
Which version of apisix the TscanCode works on? The lines don't match the master branch of apisix.

[2020-09-14 06:40] membphis opened #2223 "chore: the title of the `basic-auth` JSONSchema is wrong."
That is the correct code:

[code]

Current code:

https://github.com/apache/apisix/blob/master/apisix/plugins/basic-auth.lua#L31

[2020-09-14 06:41] moonming commented on #2223
here is the link: https://github.com/apache/apisix/blob/master/apisix/plugins/basic-auth.lua#L31

[2020-09-14 06:43] #2213 closed

[2020-09-14 06:43] #2203 closed

[2020-09-14 06:44] powermanlc commented on #2213
thank you.

[2020-09-14 06:53] membphis commented on #2215
https://github.com/apache/apisix/blob/master/t/lib/test_admin.lua#L222-L225

it should be defects, we need to fix it.

[2020-09-14 07:25] moonming commented on #2125
I think you can ingore this error, which is not introduced by your modification.

[2020-09-14 07:55] moonming commented on #2190
@y934317258 sorry for the late reply.
This is configurable, please take a look at https://github.com/apache/apisix/blob/master/doc/health-check.md.

[2020-09-14 08:28] moonming commented on #2175
the default value of `max_retry_count` is 0, you can increase this value then try.
@sshniro Is it small to set `max_retry_count` default value to 0?

[2020-09-14 08:32] moonming commented on #2184
Can you provide reproduction steps using admin API? @y934317258  thx

[2020-09-14 09:31] #2186 closed

[2020-09-14 10:03] idbeta commented on #2215
@spacewander it's apisix 1.5 master branch
[.../apisix/http/router/radixtree_sni.lua:162]: (Critical) [radixtree_router] is used after check at line 147
[.../t/lib/test_admin.lua:223]: (Critical) Undeclared variable [core] is used.

[2020-09-14 10:06] Caelebs opened #2224 "request help: k8s部署日志提示failed to read `apisix` field from yaml file"
### Issue description
[code]

### Environment

* apisix version (cmd: `apisix version`):apache/apisix:latest
* OS:centos

[2020-09-14 14:43] membphis commented on #2197
the client needs to know the valid `user-key` first, then the client can request the source he needs with token.

for more information about JWT token, you can take a look at: https://jwt.io/introduction/

[2020-09-14 14:43] #2197 closed

[2020-09-15 01:47] membphis opened #2227 "CLI: Check the etcd version in CLI. The version must be 3.4 or greater."
comments:

https://github.com/apache/apisix/pull/2036#issuecomment-691957197

[2020-09-15 01:53] moonming opened #2228 "bug: remove `/tmp/apisix_cores/` in makefile and bin/apisix."
remove https://github.com/apache/apisix/blob/master/bin/apisix#L36 and
https://github.com/apache/apisix/blob/master/Makefile#L84, both of them are useless now.

[2020-09-15 01:57] gy09535 commented on #2151
got it

[2020-09-15 02:38] tokers commented on #2227
@membphis May i pick it up?

[2020-09-15 03:35] #2224 closed

[2020-09-15 04:12] Firstsawyou opened #2229 "request help: "consumer" provides access to a collection of "service"."
### Issue description
Configure multiple "service" objects. I want to restrict the "service" on the "consumer". What should I do?
For example: "service" has: serv1, serv2 and serv3. In "consumer", only ser1 and serv2 are allowed to access, but serv3 is not allowed.

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:

[2020-09-15 05:11] moonming commented on #2229
This is what identity authentication needs to do, such as ACL, right?

[2020-09-15 05:13] Firstsawyou commented on #2229
Yes.

[2020-09-15 05:15] moonming commented on #2229
the same as https://github.com/apache/apisix/issues/385

[2020-09-15 05:15] Firstsawyou commented on #2229
Assigned to me.

[2020-09-15 05:17] moonming commented on #2229
How do you plan to implement this feature?

[2020-09-15 05:24] Firstsawyou commented on #2229
It is planned to create a whitelisted plug-in through "service_id", which is bound to "consumer".

[2020-09-15 05:29] Firstsawyou commented on #2229
Ok，let me take a look.

[2020-09-15 05:39] moonming commented on #2229
please take a look at kong's ACL plugin too:
https://docs.konghq.com/hub/kong-inc/acl/

Thanks,
Ming Wen
Twitter: _WenMing

Firstsawyou <notifications@github.com> 于2020年9月15日周二 下午1:29写道：

[2020-09-15 07:01] moonming commented on #2227
sure, assigned to you @tokers

[2020-09-15 07:34] MrJLuo opened #2232 "request help: dashboard 404"
### Issue description
![image](https://user-images.githubusercontent.com/24730937/93179490-51d82280-f768-11ea-94b1-b7128fa5718d.png)
![image](https://user-images.githubusercontent.com/24730937/93179554-67e5e300-f768-11ea-89c8-d82474560d97.png)
![image](https://user-images.githubusercontent.com/24730937/93179750-b2675f80-f768-11ea-9e63-b55ec5df2bdf.png)

The nginx static resource file cannot be req

[2020-09-15 07:58] moonming commented on #2232
Only 127.0.0.1 can access the dashboard by default,  you can modify the ip limit yourself

[2020-09-15 08:27] Yiyiyimu commented on #2227
Sorry @tokers I just noticed you pick up this issue. I fixed it in the [new commit](https://github.com/apache/apisix/pull/2036/commits/58e8401a24ceed0313702903103ea4e608128021). But it would still be great if you could review it

[2020-09-15 10:21] xyz2b commented on #2176
ok, thanks

[2020-09-15 12:07] fankeke commented on #2188
Can we divide the 1+ million block urls into groups according to their hosts?

===========

@spacewander the whole 1+million urls only for one host(upstream)  :)

[2020-09-15 12:20] #2176 closed

[2020-09-15 12:23] moonming commented on #2188
uri match is none business with streaming match

[2020-09-15 12:25] moonming commented on #2188
Can you give some examples?
On the other hand, why are there a million regex rules under the same host?

[2020-09-16 02:59] tokers opened #2234 "bug: etcd_version in ./bin/apisix is not defined"
### Issue description

The variable `etcd_version` in ./bin/apisix is not defined, comment see [here](https://github.com/apache/apisix/pull/2036/files#diff-62edadffc237f13dc28a694080d293a8R918).

[2020-09-16 06:21] #1638 closed

[2020-09-16 06:33] moonming commented on #1653
fixed by https://github.com/apache/apisix/pull/2192

[2020-09-16 06:33] #1653 closed

[2020-09-16 06:33] moonming commented on #2149
fixed by https://github.com/apache/apisix/pull/2192

[2020-09-16 06:33] #2149 closed

[2020-09-16 06:48] moonming commented on #2234
good catch, welcome PR to fix

[2020-09-16 08:18] membphis opened #2235 "pluin(zipkin): add test case"
https://github.com/apache/apisix/pull/2193

comments: https://github.com/apache/apisix/pull/2193#issuecomment-690119857

[2020-09-16 08:18] membphis commented on #2235
@dickens7 welcome to fix this issue when you have time

[2020-09-16 08:20] #2191 closed

[2020-09-16 09:48] moonming commented on #2234
fixed by https://github.com/apache/apisix/pull/2233

[2020-09-16 09:48] #2234 closed

[2020-09-16 11:38] codjust commented on #2151
May be we can use  [nginx-opentracing](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/example/lua/jaeger/nginx.conf) ?   a nginx dynamic-module, What do you think?

[2020-09-16 11:44] membphis opened #2237 "test(hmac-auth): unstable test case"
[code]

[2020-09-16 11:53] GBXing commented on #2175
@moonming  Setting max_retry_count to 2 still generates an exception log, and the log is sent three times

[2020-09-16 14:16] membphis opened #2238 "chore: bump `lua-resty-etcd` to version 1.2"
https://luarocks.org/modules/membphis/lua-resty-etcd/1.2-0

[2020-09-16 14:20] membphis commented on #2238
@Yiyiyimu would you like to fix this issue?

[2020-09-16 14:51] membphis opened #2240 "bug(CLI): need to call `os.exit(false)`"
Calls the ISO C function exit to terminate the CLI program.

for example:

https://github.com/apache/apisix/blob/master/bin/apisix#L77
https://github.com/apache/apisix/blob/master/bin/apisix#L902
https://github.com/apache/apisix/blob/master/bin/apisix#L908

[2020-09-17 00:16] Yiyiyimu commented on #2238
Sure thx!

[2020-09-17 04:13] spacewander commented on #2215
Look like it is a false positive.

[2020-09-17 05:15] #2238 closed

[2020-09-17 06:17] membphis opened #2245 "test: add test case"
https://github.com/apache/apisix/pull/2179#issuecomment-693767787

[2020-09-17 06:17] membphis commented on #2245
@tokers would like to handle this issue?

[2020-09-17 06:50] GBXing commented on #2175
@moonming
Finding that the result is not returned in [(https://github.com/apache/apisix/blob/master/apisix/plugins/kafka-logger.lua#L91)] results in the failure of the BacthProcessor to obtain the result, thereby determining that the message delivery failed.

[2020-09-17 06:53] tokers commented on #2227
I think it can be closed now since it was fixed in https://github.com/apache/apisix/pull/2233.

[2020-09-17 06:53] tokers commented on #2227
:)

[2020-09-17 07:14] tokers commented on #2245
@membphis Sure.

[2020-09-17 07:38] membphis opened #2247 "feat: `apisix-schema` tool can return the `jsonschema` of route, service, upstream and plugins"
I write an example, @ShiningRush please take a look at this design.

[code]

[2020-09-17 07:45] ShiningRush commented on #2247
We maybe need a command to export all resources to a json file at once, such as
`./apisix-schem all`
It will automatically write the schema into the default directory for easy dashboard import

[2020-09-17 07:55] sshniro commented on #2175
@GBXing I assume the issue relies on the connectivity to the Kafka or a bug inside the logger. The batch processor is a standalone module that is used in other loggers and does not have an issue in batching and sending the requests.

@moonming yes for default we can set max_retry count to zero as well.

Please take a look at this PR as well: https://github.com/apache/apisix/pull/2222 , probably th

[2020-09-17 09:15] huzhewei opened #2248 "request help: apisix start error:init_by_lua error : no pcre jit support found"
### Issue description
apisix start出现no pcre jit support found，但我本地已经安装了pcre和pcre-devel了
nginx:[error] init_by_lua error: .../init.lua:57: no pcre jit support found

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:centos6.9

[2020-09-17 09:41] huzhewei commented on #2248
我加了--with-pcre=../pcre-8.4.2后修复了此问题，但是抛出了新问题
nginx[error]: init_by_lua error: ../lualib/ngx/re.lua:47 : missing declaration for symbol hnx_http_lua_ffi_exec_regex''

[2020-09-17 12:48] griffenliu commented on #2006
I want to use the prometheus plug-ins.
But when I access http://localhost:9080/apisix/prometheus/metrics by document https://github.com/apache/apisix/blob/master/doc/zh-cn/plugins/prometheus.md.

I got the following error to:
[code]

[2020-09-17 12:58] gy09535 opened #2249 "feat: build docker image with source code"
### Issue description
Sometime we should add  some special logical for ourself business, we should build docker image with source code. So maybe we should add dockerfile in source code.
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-09-17 14:31] #2084 closed

[2020-09-17 14:40] Yiyiyimu commented on #2248
Hi @huzhewei I think I met same problem before. I suggest to follow instructions in [doc/install-dependencies](https://github.com/apache/apisix/blob/master/doc/install-dependencies.md#centos-7) to install openresty, where you could avoid apisix dependencies missing.

[2020-09-18 01:52] huzhewei commented on #2248
There is no internet in my environment, so I installed openresty-1.15.8.2 through source code, and my pcre version is pcre-7.8-7.el6.x86_64 , pcre-devel version is  pcre-devel-7.8-7.el6.x86_64

[2020-09-18 03:21] membphis opened #2254 "[discuss] add a new field `name` to plugin schema"
this field is used for dashboard, it looks more user-friendly.

For example, the `name` field of `limit-req` is `Rate Limiting`.

[2020-09-18 03:24] Caelebs opened #2255 "request help: apisix upstream create failed: unsupported protocol scheme"
### Issue description
K8s deploy apisix create upstream returns error code 500
[code]

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:K8S

[2020-09-18 03:49] moonming commented on #2006
@membphis please take a look

[2020-09-18 03:49] moonming commented on #2249
is https://github.com/apache/apisix-docker good for you?

[2020-09-18 03:54] ShiningRush commented on #2006
I think this is the same problem, the key point is related with [this comment](https://github.com/apache/apisix/issues/2006#issuecomment-669769777)

[2020-09-18 05:47] moonming commented on #2254
I don't think so, which should be the job of dashboard, especially considering i18n

[2020-09-18 05:48] moonming commented on #2255
@nic-chen please take a look

[2020-09-18 06:40] moonming opened #2256 "request: add the dependency of lua-resty-hmac"
Now Apache APISIX does not declare the dependency on lua-resty-hmac, but implicitly installs it through [lua-resty-jwt](https://luarocks.org/modules/cdbattags/lua-resty-jwt). There are two problems with this approach:
1. Lua-resty-hmac cannot be updated in time
2. Implicit installation will cause confusion to users

Therefore, we should:
1. Update lua-resty-jwt to the latest version, and check whe

[2020-09-18 06:52] TigerGxl opened #2257 "bug: http_to_https ret_code 307 not working"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:ubuntu16.04

i use plugin http_to_https and set ret_code 307, like below.
[code]
when client sends **POST** reqeust with **http**.it's not working, apisix should  return 307 and client sends a new request with https again, in fact, apisix return 301 and client sends a new request with **https** and the method

[2020-09-18 06:52] gy09535 commented on #2249
I think it can not build code from local repos

I think it can not build images from  our private repository for secondary develop. If I change some code for our different logical, https://github.com/apache/apisix-docker can not work for me.

[2020-09-18 07:19] gy09535 commented on #2151
I think use opentracing   lua lib is better https://github.com/iresty/opentracing-openresty ?

[2020-09-18 07:49] #2201 closed

[2020-09-18 08:50] membphis commented on #2256
https://github.com/jkeys089/lua-resty-hmac/pull/24

create a new PR to release version 1.0 .

[2020-09-18 10:04] lifehacking opened #2258 "bug: failed to match any routes""
### Issue description

client curl  --->  route ---> upstream

client curl return: failed to match any routes

route config：

[code]

upstream config：

[code]

### Environment

* apisix version ：1.5
* OS: centos7.6

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

client returen:

curl http://www.

[2020-09-18 13:49] #2045 closed

[2020-09-18 13:55] Yiyiyimu commented on #2248
Maybe you could refer to https://github.com/openresty/lua-resty-core/issues/258.

There is some discussion about this problem.

[2020-09-18 13:56] Yiyiyimu commented on #2227
ping @membphis

[2020-09-19 02:15] codjust commented on #2151
yeah,  but you need to implement the Jaeger API start over, which is more complicated. see: [jaeger-client-cpp](https://github.com/jaegertracing/jaeger-client-cpp).
Have you started this work？ Maybe we can take a look together

[2020-09-19 02:53] huzhewei commented on #2248
thanks so much! i helped me a lot!
best wishes!

@Yiyiyimu

[2020-09-19 02:53] #2248 closed

[2020-09-19 11:07] #2215 closed

[2020-09-19 14:09] #1900 closed

[2020-09-19 14:09] #1820 closed

[2020-09-19 14:16] moonming commented on #1900
@UnderTreeTech why close this issue and pr?anything I can help?

[2020-09-20 08:29] codjust commented on #2151
Today I tried  nginx-opentracing  which build in openresy, really complicated.  Indeed, not suitable for integration into apisix.

**Depend lib:**
https://github.com/opentracing/opentracing-cpp
https://github.com/jaegertracing/jaeger-client-cpp
detail in: [CMakeLists.txt]( https://github.com/jaegertracing/jaeger-client-cpp/blob/master/CMakeLists.txt)

**build option:**
[code]

**Example:**
[code]

[2020-09-20 09:40] moonming commented on #2151
Thank you for your feedback, yes, it is really not suitable for apisix to
use the c module

Changwei Hu <notifications@github.com>于2020年9月20日 周日下午4:30写道：

Thanks,
Ming Wen
Twitter: _WenMing

[2020-09-20 15:54] Firstsawyou opened #2261 "doc(consumer-restriction): document changes"
### Issue description
The `consumer-restriction` plugin supports restricting access based on the id of `service`.

### Environment

* apisix version (cmd: `apisix version`):1,5
* OS:

[2020-09-20 15:55] Firstsawyou commented on #2261
Assigned to me.

[2020-09-20 16:14] Yiyiyimu opened #2262 "bug: problems in batch-requests doc"
### Issue description
1. Default timeout in [code](https://github.com/apache/apisix/blob/master/apisix/plugins/batch-requests.lua#L48) is set to 30000. but in [doc](https://github.com/apache/apisix/blob/master/apisix/plugins/batch-requests.lua#L48) it's 3000.
2. Currently user is told to disable batch-requests by removing `/conf/config.yaml`. Let's say we change it to `config-default.yaml`, but th

[2020-09-21 01:40] nic-chen opened #2263 "feature: support storing metadata"
### Issue description

Sometimes we need to dynamically store some metadata, and don't want to add
other dependencies such as database, but currently APISIX does not support.

A classic example:
`clusterid` and `communication revision` , used to distinguish different
APISIX clusters for supper system.

discuss in mail list:
https://lists.apache.org/thread.html/r9240829c3293d9cf859d451935e75afd837b

[2020-09-21 02:52] tokers commented on #2245
@membphis Added some test cases in https://github.com/apache/apisix/pull/2179.

[2020-09-21 03:05] tokers opened #2264 "refactor bin/apisix"
As a part of APISIX ecosystem, the `bin/apisix` is also important, while current implementation is somewhat chaotic, and there are some bad smell in the code base.

So what's the plan for the evolution of `bin/apisix`, maybe we can refactor it if possible, for the cleaner code base and better structure.

[2020-09-21 05:43] membphis opened #2266 "feat: support `json` encoding escape for access logs"
For some users, they need to output the access log as a JSON encoding format.

Here is a related article:
https://stackoverflow.com/questions/25049667/how-to-generate-a-json-log-from-nginx

[code]

[2020-09-21 06:43] Firstsawyou opened #2267 "feature: The "limit-req" plugin adds the "consumer_name" method to limit the request speed."
### Issue description
Add flow control based on "consumer" ID to "key" of "limit-req" plugin.

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS:

[2020-09-21 06:45] Firstsawyou commented on #2267
Assigned to me.

[2020-09-21 09:12] TigerGxl commented on #2257
启用http跳转https后,设置状态码为307不生效,etcd中存储的是301,但是实际跳转的时候是301,导致原本POST的method在301跳转后变为GET

[2020-09-21 09:35] Caelebs commented on #2258
{
"error_msg": "failed to match any routes"
}

[2020-09-21 22:42] MrLightSpeed0 opened #2272 "First time use: Nginx.conf, manager-api and dashboard"
### Issue description
I downloaded apisix yesterday and I have encountered a few issues during the build process. The version is apisix 1.5 (the latest one) for Ubuntu 18.04.
#1. at the last step when I run ./bin/apisix start, I got an error message saying the address is not support by protocol. I looked it up and knowing that was related the ipv6 is not supported on, so I went to conf/nginx.conf

[2020-09-22 01:32] Yiyiyimu commented on #2272
Hi @MrLightSpeed0 I'm only familiar with apisix itself, so I could only answer the first question.

Yes nginx.conf would be regenerated each time you start apisix, and if you notice, there is waring on the top of nginx.conf says do not edit this file. The recommended way is to comment out the code in bin/apisix
https://github.com/apache/apisix/blob/6e0da454d1b5291e6ee22b9b05b254de056b63c5/bin/apis

[2020-09-22 01:37] Yiyiyimu commented on #2272
For the 3rd problem, you could directly remove goproxy
https://github.com/apache/apisix-dashboard/blob/ba185b9e109c945235e61eff3c63a7cabd56d50f/api/Dockerfile#L23-L24
these two lines

[2020-09-22 03:00] spacewander commented on #2272
For the first problem, you can also disable `enable_ipv6` in the config.yaml.

[2020-09-22 03:03] spacewander commented on #2272
For the remain problems, I create an issue in dashboard: https://github.com/apache/apisix-dashboard/issues/500, and we can move the discussion there.

[2020-09-22 05:46] #2229 closed

[2020-09-22 07:08] Yiyiyimu commented on #2272
Thx I missed this option

[2020-09-22 07:08] gxthrj opened #2274 "request help: let id of route or any other object in APISIX allows dot characters"
### Issue description

let id of route or any other object in APISIX allows dot characters

now we only allow [[^[a-zA-Z0-9-_]+$]] or Integer

### Environment

* apisix version : v1.5
* OS:

[2020-09-22 07:12] membphis opened #2275 "feat: support to fetch `consumer_name`, `route_id` and `service_id` via `ctx.var`"
here is the fake code:

[code]

This makes it easier for the plugin code to get the values of these variables.

[2020-09-22 07:13] membphis commented on #2275
@Firstsawyou you can take a look at this issue.

https://github.com/apache/apisix/pull/2270/files#diff-dfbae0bb78c37ecbf8879c21157751ffR71, we can implement it in a simpler way.

[2020-09-22 07:16] Yiyiyimu opened #2276 "bug: http_logger missing parameter `keepalive`"
### Issue description

http_logger use `keepalive` but didn't set it in the schema

https://github.com/apache/apisix/blob/39ef6fb2eb944be5b4f6784573cd61a758ac3975/apisix/plugins/http-logger.lua#L27-L42

https://github.com/apache/apisix/blob/39ef6fb2eb944be5b4f6784573cd61a758ac3975/apisix/plugins/http-logger.lua#L114

[2020-09-22 07:29] membphis commented on #2262
if you wants to enalbe specified plugins,  you can set a new plugin list in file `conf/config.yaml`.

here is an example, it only enabled `limit-***` plugins.

[code]

[2020-09-22 09:24] idbeta commented on #2152
@Yiyiyimu ,i am also interested in Chaos Testing for Apache APISIX，hope to do this with you

[2020-09-22 09:26] moonming commented on #2152
@Yiyiyimu do you have time to do this feature? And where should we start?

[2020-09-22 11:37] Yiyiyimu opened #2277 "doc: plugin `attributes` format needs unification"
The attributes part in doc/plugin differs from each other.

Some use table, some use enumerated list. Most of them use name/requirement/description as headers, some add 'default', some add 'type'. And all of this could make people chaotic when they look through the list of plugins to see what APISIX could do.

Thus I recommend to unify the format of this part.

[2020-09-22 11:38] Yiyiyimu commented on #2277
A good reference could be Kafka:

cn doc: https://kafka.apachecn.org/documentation.html#brokerconfigs
en doc: https://kafka.apache.org/documentation/#brokerconfigs

[2020-09-22 12:57] Yiyiyimu commented on #2152
Hi @moonming I just have basic knowledge of Chaos Mesh. Will update my progress soon.

[2020-09-22 13:00] Yiyiyimu commented on #2152
@idbeta Glad to cooperate with you! We could share our progress here and decide how to split the workload.

[2020-09-23 00:11] #2195 closed

[2020-09-23 00:11] #2277 closed

[2020-09-23 00:41] MrLightSpeed0 commented on #2272
very nice. thank you so much. that worked well. I can now start apisix! I will follow up on the dashboard question in the other board. let me close this "issue" and I will open a new issue asking another question.

[2020-09-23 00:41] #2272 closed

[2020-09-23 01:12] MrLightSpeed0 opened #2280 "Route traffic through company proxy / firewall"
### Issue description
Hello,

I was able to start apisix and I am following this [page](https://github.com/apache/apisix/blob/master/doc/getting-started.md) to get started:
I was able to execute this and get answer:
`$ curl "http://127.0.0.1:9080/apisix/admin/services/" -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1'`
then I added the upstream and route as instructed to try to make a call to http

[2020-09-23 02:38] Yiyiyimu opened #2281 "bug: is plugin `log-rotate` enabled as default"
### Issue description

In [config-default.yaml](https://github.com/apache/apisix/blob/84ce7ba781affbf93c136ea5d3e2e12460ebe4ed/conf/config-default.yaml), log-rotate is not enabled as default, but attributes of it is set:
https://github.com/apache/apisix/blob/84ce7ba781affbf93c136ea5d3e2e12460ebe4ed/conf/config-default.yaml#L199-L202

[2020-09-23 03:17] Yiyiyimu commented on #2262
thx!

[2020-09-23 06:08] membphis commented on #2262
update `doc` is better.

[2020-09-23 06:29] liuxiran opened #2439 "plugin(basic-auth): update the schema"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

What is the purpose of SELECT item？
![image](https://user-images.githubusercontent.com/2561857/93974652-ba4a8380-fda8-11ea-927c-66918099437a.png)

__

[2020-09-23 07:02] Yiyiyimu commented on #2262
Ok sure thx!

[2020-09-23 09:18] moonming commented on #2281
This seems to be designed this way, @membphis can you confirm it?

[2020-09-23 09:22] liuxiran opened #2288 "enable a jwt-auth plugin without required field key"
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [x] Question or discussion
- [ ] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

___
### Question
- What do you want to know?

jwt-auth plugin can be configured successfully without any configuration，
but refer to the doc: https://github.com/apache/apisix/blob/master/doc/plug

[2020-09-23 09:24] moonming commented on #2258
@membphis @nic-chen please take a look

[2020-09-23 09:50] liuhengloveyou opened #2284 "request help:"
### Issue description
failed to match any routes 这个总让我怀疑自己的英文和中文能力[流泪]

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: osx

[2020-09-23 09:51] liuhengloveyou opened #2285 "request help: failed to match any routes"
### Issue description
failed to match any routes
这个提示总让我怀疑自己的英文和中文能力[流泪]

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: osx

[2020-09-23 09:58] #2284 closed

[2020-09-23 10:50] gxthrj opened #2287 "discuss: `hmac-auth` use Http Date to do time offset check"
### Issue description
The unit of key `X-HMAC-TIMESTAMP` in plugin `hmac-auth` is an optional signature string,
Time offset verification through http `Date` and `clock_skew`

http `Date` use GMT format, and to be a part of sign string.

ref:
https://www.alibabacloud.com/help/doc-detail/25492.htm
https://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html

### Environment

* apisix vers

[2020-09-23 13:02] #2263 closed

[2020-09-23 13:07] huzhewei opened #2289 "request help: stream proxy didn't work"
### Issue description
I want to register tcp protocol services and proxy the port.
So I realized my discovery registry, and wanted to register a route to proxy the tcp service.

discovery.nodes:
{
  "tcp-service":{
     "host":"10.0.15.249",
     "port":"8000",
     "weight":10
  }
}

Then I request stream_proxy api to register:
curl http://127.0.0.1:9080/apisix/admin/stream_routes/1 -H 'X-API-KEY

[2020-09-23 14:41] moonming commented on #2285
@liuhengloveyou Please use English in the public channel, thx
and what this issue mean?