[2021-11-26 02:26] tzssangglass commented on #5609
I can't reproduce it either

1. start zipkin

`docker run -d -p 9411:9411 openzipkin/zipkin`

2. route config

[code]

3. wrk2

`wrk2 -t4 -c10 -d30s -R1000 --latency http://127.0.0.1:9080/get`

no errors in logs/error.log

[2021-11-26 02:29] zqm233 commented on #5609
What version of the APISIX do you use? Maybe i should the latest version?

[2021-11-26 02:30] tzssangglass commented on #5609
I know,  you put the zipkin plugin on the global rule?

[2021-11-26 02:30] zqm233 commented on #5609
yes

[2021-11-26 02:32] shuaijinchao commented on #5609
The problem cannot be reproduced after several retries. Have you checked whether the zipkin service is normal when there is a problem?

[2021-11-26 02:35] zqm233 commented on #5609
![image](https://user-images.githubusercontent.com/15966865/143518132-170efcad-316a-4898-ae98-913551750a2f.png)

When the error shows, the Zipkin is ok.

[2021-11-26 02:47] tzssangglass commented on #5609
my APISIX version is 2.10.2, and we have some bugfix maybe releated to this: https://github.com/apache/apisix/pull/5256 https://github.com/apache/apisix/pull/5295

can you use the master branch or 2.10.2 to test?

[2021-11-26 02:48] zqm233 commented on #5609
Ok. I'll try it.

[2021-11-26 03:08] XW512 commented on #5612
Thank you for your reply.

[2021-11-26 03:09] #5610 closed

[2021-11-26 03:12] #5344 closed

[2021-11-26 03:43] zlhgo commented on #5596
@tzssangglass thanks, is there any plan to merge to apisix repo, i don't want to fork apisix.

[2021-11-26 03:57] zqm233 commented on #5609
The god damn error also shows in 2.10.2. The error didn't show until the 3rd time test.

![image](https://user-images.githubusercontent.com/15966865/143524228-ea40ad2f-11be-4fe8-b32a-ba3bf3178d58.png)

![image](https://user-images.githubusercontent.com/15966865/143524280-c16adcb3-1afe-4c4f-9a9e-4d12baa51c6d.png)

[2021-11-26 04:01] spacewander commented on #5617
PR is welcome!

[2021-11-26 05:10] soham4abc commented on #5617
Can I work on this issue?

[2021-11-26 05:22] spacewander commented on #2095
Already done.

[2021-11-26 05:22] #2095 closed

[2021-11-26 05:27] zqm233 commented on #5609
I change to Linux hardware to test it. It's ok. So I guess the error is related to some upstream timeout or something.

[2021-11-26 06:26] sandy420 commented on #5604
@jagerzhang @tzssangglass   me too,I mentioned issue before

[2021-11-26 06:32] tzssangglass commented on #5596
no, this function is not universal, you can implement similar functions through write custom plugins

[2021-11-26 06:36] tzssangglass commented on #5596
@spacewander maybe we can allow user to declare variables, then they can use custom variables in access_log_format or others.

[2021-11-26 06:44] xianshun163 commented on #5607
I have found the bug fix you tell me    at the  changelog, it is fix as 2.10.2 version.  Maybe  I only change the traffic-split.lua  use the  new one.

[2021-11-26 07:36] yangxikun opened #5622 "bug: APISIX occasional blocking"
### Issue description

APISIX Pod occasional failed on readiness probe(GET /healthz). I wrote a program to do http health check and log netstat output.

My program error log:

[code]

AND the netstat show APISIX is not read network packet(recv-q > 0):

![image](https://user-images.githubusercontent.com/3364160/143543610-86b7ca04-8b17-4507-9692-994001864dc6.png)

### Environment

- apisix version (

[2021-11-26 07:42] jagerzhang commented on #5604
Well, let's focus together

[2021-11-26 09:25] tokers commented on #5622
What's the expected behavior of the `/healthz` API?

[2021-11-26 09:33] yangxikun commented on #5622
@tokers 200 response

[2021-11-26 09:42] tokers commented on #5622
I'm not sure how did you implement the health check API, and which logics inside there, so I cannot determine the reason that why this API will time out. Please provide more details about the topology, the chain of the health check request.

[2021-11-26 10:05] cws1981 commented on #487
### Apisix 插件开发实现JWT用户身份认证

Apisix 是一个性能优秀的开源网关。

J**SON Web Token（缩写 JWT）**

jwt的详细介绍可以参考：[JSON Web Token 入门教程 - 阮一峰的网络日志 (ruanyifeng.com)](https://link.zhihu.com/?target=https%3A//www.ruanyifeng.com/blog/2018/07/json_web_token-tutorial.html)

##### jwt的认证交互流程比较清晰简单，如图：

![jwt验证流程](https://pic4.zhimg.com/80/v2-84c33d0c5bfec26678b0243604cc2617_1440w.jpg)

如图体现了jwt 的整个认证流程，这里对token的验证如果统一放到网关做，后端各个

[2021-11-26 10:06] #2872 closed

[2021-11-26 14:33] moonming commented on #487
this is nothing with this issue @cws1981 Is it a mistake?

[2021-11-26 16:18] yangxikun commented on #5622
Not just health check API, all other api request is block.

[2021-11-26 18:07] kevinw66 opened #5626 "bug: attempt to concatenate field 'shm_name' (a nil value)"
### Issue description

When I use master branch to exec
`make deps`
`make run`
An error occurred.
But when I checkout tag  2.10.2
the error not exists

Is this code forget to pass the right parameters?
![image](https://user-images.githubusercontent.com/31196226/143618191-a1285d30-f167-42d4-b59f-1bb404d46fec.png)
![image](https://user-images.githubusercontent.com/31196226/143618209-e118a081-2e83-4d

[2021-11-27 03:48] cws1981 commented on #487
只是分享使用过程😄，有一个关于java 插件的问题：https://github.com/apache/apisix-java-plugin-runner/issues/88

[2021-11-27 08:14] membphis commented on #2426
@lemonrains do we need to update the code or docs of APISIX?

[2021-11-28 05:02] spacewander commented on #5626
@shuaijinchao
Please take a look.

[2021-11-28 05:09] spacewander commented on #5596
@tzssangglass
Do you mean something like:
https://github.com/apache/apisix/blob/942650037d77007a292b4f80d98975fe9d6a5a37/conf/config-default.yaml#L173-L174

[2021-11-28 08:34] membphis opened #5630 "docs: add APISIX software architecture diagram"
### Improved or typo fixed.

add new diagram before https://github.com/apache/apisix/blob/master/docs/en/latest/architecture-design/apisix.md#plugin-loading-process

### Solution

<img width="575" alt="APISIX Software Architecture" src="https://user-images.githubusercontent.com/6814606/143735308-c95af8ea-6dae-4aa6-8c35-77d6c60404c0.png">

[2021-11-28 08:35] membphis commented on #5630
clearer version

<img width="1155" alt="WX20211128-163519@2x" src="https://user-images.githubusercontent.com/6814606/143735451-13d6fd62-6793-480c-bf53-fa832864e0d3.png">

[2021-11-28 10:18] tzssangglass commented on #5596
Yes, it looks like it's a good way to go.
Maybe we can add this to the pending discussion. If there are some similar proposals within the community, then we can consider supporting it. what's your option?

[2021-11-28 12:18] jianmaikj opened #5631 "How to use Grafana to monitor the number of requests in a time period?"
### Issue description

Need accurate count

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue is about a p

[2021-11-29 00:22] tokers commented on #5630
Terms like service is captial while client is all in uppercase, I think it's better to keep them consistent.

[2021-11-29 00:54] #5617 closed

[2021-11-29 01:06] spacewander commented on #5596
@zlhgo
Would you give it a try?

[2021-11-29 01:12] tokers commented on #5631
There is a metric `apisix_http_status`, you can get the accumulated value if you ignore the `code` label.

* http://apisix.apache.org/docs/apisix/plugins/prometheus/

[2021-11-29 01:13] spacewander commented on #5596
BTW, look like this part has to be maintained in the fork...
[code]

[2021-11-29 01:23] spacewander commented on #5037
Solved by https://github.com/apache/apisix/pull/5550

[2021-11-29 01:23] #5037 closed

[2021-11-29 01:45] tzssangglass commented on #5596
I think this part is more suitable for users to develop their own plugins to do so.

[2021-11-29 01:46] tzssangglass commented on #5609
considered resolved.

[2021-11-29 01:51] spacewander commented on #5596
Yes, @zlhgo  can write a plugin and do it in the `access` method.

[2021-11-29 02:10] tzssangglass commented on #5622
I see this error log: `cannot assign requested address`

Is this a problem with your environment?

[2021-11-29 03:30] GreenShadeZhang commented on #5425
I also have the same needs. My idea is to use the openid connect plugin to obtain the token for the front-end project, and then configure the jwks data as the api to verify the token. Do you think my requirement meets your habits?

[2021-11-29 04:35] tzssangglass commented on #5607
I cannot reproduce your error on the master branch, here are the steps I took to reproduce it

1. add upstream

[code]

2. add route

[code]

3. my backend 1980 is https://github.com/apache/apisix/blob/master/benchmark/server/conf/nginx.conf

4. test

[code]

5. no `attempt to index field 'upstream' (a string value) `in `logs/error.log`

[2021-11-29 04:37] tzssangglass commented on #5607
is your upstream `382981468860712334 ` or `382981255605519758 ` exist?

[2021-11-29 04:42] tzssangglass commented on #5607
the upstream is `382981255605519758` looks strange, what have you done anything with this upstream?

[2021-11-29 06:12] tzssangglass commented on #5425
It sounds different. This issue is about using  jwks with openid-connect to authenticate a JWT.

[2021-11-29 06:19] dongyudan opened #5633 "bug: enable skywalking plugin , the route rewrite is not affected"
### Issue description

**1、route instance properties**
{
  "uri": "/sk2/hello",
  "name": "test skywalking",
  "methods": [
    "GET",
    "POST",
    "PUT",
    "DELETE",
    "PATCH",
    "HEAD",
    "OPTIONS",
    "CONNECT",
    "TRACE"
  ],
  "host": "192.168.42.104",
  "plugins": {
    "proxy-rewrite": {
      "uri": "/hello"
    },
    "skywalking": {
      "disable": false,
      "sample_rat

[2021-11-29 06:25] starsz opened #5634 "request help: support get the key from function in limit-* plugins"
### Issue description

Hi,
Now, I see we had support `var`, `var_combination` in apisix limit-* plugins yet.
I think we can support a type like `function` so that we can write some logic as a function in the key.
Then we can get the key from the function.

### Environment

- apisix version (cmd: `apisix version`): 2.10.2
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `open

[2021-11-29 06:32] spacewander commented on #5634
What about allowing user to register their var in https://github.com/apache/apisix/blob/8f0b066c86257ad6af19f9b3b7e209ece95d17c9/apisix/core/ctx.lua#L147?

[2021-11-29 07:53] shuaijinchao opened #5636 "proposal: support splunk hec logging plugin"
### Issue description

Splunk is a machine data search engine. According to the latest database search engine ranking [1], Splunk has been ranked second, and Splunk can be used to collect, index and retrieve various application data. Splunk, like ElasticSearch, is quasi-real-time and can provide an uninterrupted data stream of search results. I think Apache APISIX can provide a plugin that support

[2021-11-29 08:01] zhikaichen123 opened #5637 "request help: the official cors plugin is not effective and universal, here is my improved code"
### Issue description

https://github.com/apache/apisix/blob/2a32f13824c0cc8e359feedd23e537422af3b28c/docs/zh/latest/plugins/cors.md
"plugins": {
        "cors": {}
}

按照官方说法这样配置就可以有跨域效果，实则不然，这样浏览器调用还会有问题的，还是会有跨域异常。然后我看了其它帖子还要设置 Origin 什么的，这个也太难使用了！

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
-

[2021-11-29 08:37] GreenShadeZhang commented on #5425
I checked the document today and found that envoy can realize the verification of jwt token by configuring the address of jwks_uri or the content of the configuration. This question is probably to be like this? Realization in this way should meet the demand.

[2021-11-29 08:46] shuaijinchao commented on #5633
Have you checked whether the skywalking service is normal? According to the error message you provided, this is more like an exception thrown by a spring framework?

[2021-11-29 10:15] tzssangglass commented on #5425
yes, this issue is talking about using jwks uri to verify JWT.

[2021-11-29 10:18] tzssangglass commented on #5633
the 404 code is returned by upstream, pls confirm that this address is available upstream.

[2021-11-29 10:19] tzssangglass commented on #5637
pls use English on open channel.

[2021-11-29 10:32] tzssangglass commented on #5637
first, it's great that you can adapt APISIX's plug-ins to meet your business needs yourself.

pls  describe the problem clearly

It's best to show your changes in PR or diff, otherwise it's hard for me to know what you've changed.

see

[2021-11-29 10:38] tzssangglass commented on #5637
first, it's great that you can adapt APISIX's plug-ins to meet your business needs yourself.

pls describe the problem clearly

It's best to show your changes in PR or diff, otherwise it's hard for me to know what you've changed.

yes, The OPTIONS method is a preflight request to check if CORS is supported, for more info about CORS, see: https://github.com/apache/apisix/issues/4095#issuecomment-82

[2021-11-29 10:43] shuaijinchao commented on #5626
@kevinw66 based on your description
1. switch to the master branch (commit ID: 8f0b066c)
2. make deps
3. make run

I cannot reproduce this problem, can you provide more detailed steps to reproduce it?

![image](https://user-images.githubusercontent.com/8529452/143853001-4f3effd9-e65a-4af0-90e8-64f57fccc15a.png)

[2021-11-29 12:53] MizuhaHimuraki commented on #5608
OK, this is a limitation of the etcd itself. I will add username and password fields in the config file to workaround.

I think this error message should be recognized during init_etcd. I spent a lot of time analyzing the failure, because the script did not report any errors.

[2021-11-30 01:29] starsz commented on #5634
I think support function would be more flexible.
We can write the function like this:
[code]

Then we can limit the specific request with a special header.

[2021-11-30 01:35] tokers commented on #5608
PR's welcome! We can enhance from two aspects.

1) Add some comments for the ETCD section configuration;
2) Optimize the output from ETCD.

[2021-11-30 02:23] xianshun163 commented on #5607
the upstreamid  are exist, they  are  create by the apisix  auto.

I can't reproduce the  issue now，

[2021-11-30 02:29] kevinw66 commented on #5626
Environment
apisix version:master branch
OS:Darwin wuzhiguodeMacBook-Pro.local 20.6.0 Darwin Kernel Version 20.6.0: Mon Aug 30 06:12:21 PDT 2021; root:xnu-7195.141.6~3/RELEASE_X86_64 x86_64
OpenResty / Nginx version:nginx version: openresty/1.19.9.1
etcd version:3.5.0
luarocks version, if the issue is about installation:3.8.0

[2021-11-30 02:30] kevinw66 commented on #5626
![image](https://user-images.githubusercontent.com/31196226/143975036-fbb6a5fe-23a5-4dee-80f0-208857ceeb0f.png)

[2021-11-30 02:31] zhangweidongyyl opened #5643 "request help: body_filter how to send request in apisix"
### Issue description

i want send request in body_filter,based on last request returned Status to send different req

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboa

[2021-11-30 02:37] kevinw66 commented on #5626
but this can work correctly on branch release/2.11, I'm confused

[2021-11-30 02:53] kevinw66 commented on #5626
After I re-run make deps, the lua-resty-etcd version is upgrade from 1.5.4 to 1.6.0 and this problem disappear.

[2021-11-30 02:53] #5626 closed

[2021-11-30 06:02] #5607 closed

[2021-11-30 06:19] #5277 closed

[2021-11-30 07:21] tzssangglass commented on #5643
we can use a 0 delay  `ngx.timer.at`, see: https://github.com/openresty/lua-nginx-module#ngxtimerat

[2021-11-30 07:33] bzp2010 opened #5647 "docs: remove the APISIX RPM package installation"
### Improved or typo fixed.

The current documentation provides a way to install APISIX directly using RPM on CentOS7, but the current APISIX has switched its dependency to apisix-base version without providing its RPM installation method, which will cause the installation to fail.

![}7Y8{KOAPW6S2QJL2GRL5X4](https://user-images.githubusercontent.com/8078418/144004655-0c4881ea-ccc8-4a76-a384-4ef51

[2021-11-30 07:44] dongyudan commented on #5633
spring boot service is normal，enable skywalking plugin,the proxy-rewrite plugin is not valid. disable skywalking plugin,the proxy-rewrite plugin work normally

[2021-11-30 07:58] jianmaikj opened #5648 "limit-count plugin does not work in redis mode?"
### Issue description

When the policy is redis, this error occurs: `limit-count.lua:187: phase_func(): failed to limit count: connection refused`,
Tested that redis is normally connectable

### Environment

- apisix version (cmd: `apisix version`):2.10
- OS (cmd: `uname -a`):Centos 7.6
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://

[2021-11-30 08:44] yangxikun commented on #5622
This maybe our host VM problem.

[2021-11-30 08:44] #5622 closed

[2021-11-30 09:07] spacewander commented on #5634
We can register the variable with a custom function, like:
[code]

[2021-11-30 09:10] spacewander commented on #5647
We should no longer require users to install rpm directly as we already have a yum repo. The yum repo will resolve all the dependencies.

Let's remove https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md#installation-via-rpm-packagecentos-7 instead.

[2021-11-30 09:11] bzp2010 commented on #5647
Yes, I agree with this too. But after that our yum repository will be placed in the CDN service provided by ASF?

[2021-11-30 09:23] tokers commented on #5648
Please provide more details about this, also, please provide the way you test the redis.

[2021-11-30 09:25] ybbtuubj commented on #5648
同样的问题,也是2.10版本,我的redis版本是6.2.6 用的127,0,0.1 6379 redis和apisix都在本地 用redis-cli本地测试redis没有问题

[2021-11-30 09:26] tokers commented on #5648
What's the route looks like?

[2021-11-30 09:31] ybbtuubj commented on #5648
我自己写的自定义插件，用的limit-count-redis.lua里面的代码，几乎一模一样复制过来的
![image](https://user-images.githubusercontent.com/20395808/144021211-223090a2-1287-47d3-a85e-c0606da89c36.png)
上图是代码，然后错误里面显示
![image](https://user-images.githubusercontent.com/20395808/144021520-d00eb1a1-60a4-4fdd-8eb5-8ecd90f03e21.png)

[2021-11-30 09:59] #5608 closed

[2021-11-30 10:01] spacewander commented on #5647
No. The CDN service provides the source, not the rpm package.

[2021-11-30 10:03] #5613 closed

[2021-11-30 10:04] spacewander commented on #5599
Consider solved. Feel free to reopen it if need.

[2021-11-30 10:04] #5599 closed

[2021-11-30 10:05] #5574 closed

[2021-11-30 10:10] spacewander opened #5649 "docs: the WASM way is experimental"
### Improved or typo fixed.

Currently, the README claims that the WASM extension is the modern way. However, it is an experimental feature.

### Solution

Need to fix it with:
[code]

[2021-11-30 10:28] jianmaikj commented on #5648
upstream:
![image](https://user-images.githubusercontent.com/75167751/144030118-531ea169-f89e-4cdb-83ce-d58970ca89d9.png)
route:
![image](https://user-images.githubusercontent.com/75167751/144030313-abadc590-f7e8-48de-83bb-4736297f59e5.png)

When the policy is local or limit-count is not enabled, everything is ok.

[2021-11-30 10:29] deepzz0 opened #5650 "request help: etcd tls connect handshake failed"
### Issue description

[code]

[code]

![image](https://user-images.githubusercontent.com/10971608/144029909-4b6de3cc-6a35-4ce0-8faf-5fdf5259a334.png)

Above is my configuration, I can confirm that the certificate is ok. I saw the previous issue said openResty does not support mTLS?

### Environment

- apisix version (cmd: `apisix version`): 2.10.0
- OS (cmd: `uname -a`):
- OpenResty / Nginx versi

[2021-11-30 11:19] deepzz0 commented on #5650
Upgrading to Apisix version 2.11.0 has been resolved, but but a new error appeared:
[code]

My config:
[code]

my etcd cert:
[code]

what's wrong?

[2021-11-30 11:20] shuaijinchao commented on #5650
Is the ca certificate configured? refer to: https://github.com/apache/apisix/blob/master/t/cli/test_etcd_mtls.sh

[2021-11-30 11:24] deepzz0 commented on #5650
The first problem is solved, but a new error appeared: certificate host mismatch.

[2021-11-30 12:06] shuaijinchao commented on #5650
refer to: https://github.com/apache/apisix/issues/5155

[2021-11-30 12:13] zhangweidongyyl commented on #5643
This doesn't seem to solve my problem
i use

 in header_filter.
i use

in body_filter
I don't know if it can solve this problem, but it can't bring headers 。

[2021-11-30 12:56] tzssangglass commented on #5648
from the error log, it is clear that this is a network connection problem.

How did you tested it was normal?

Can you capture network packets?

[2021-11-30 13:06] tzssangglass commented on #5643
I cannot got what you want to do.

BTW, ngx.redirect is unavailable in `body_filter_by_lua`, see: https://github.com/openresty/lua-nginx-module#ngxredirect

[2021-11-30 20:36] hozaifaaoud opened #5654 "bug: URI encoding issue"
### Issue description

I created a route
/api/v1/groups/*
and made a URI Override
Regexp: \/api(\/v1\/groups\/.*)
 now, I am trying this url
127.0.0.1:9080/api/v1/groups/<Number>
and facing this issue
HTTP Status 400 – Bad Request
submitted request
https://mydomain.com/api/v1/groups/%3CNumber%3E
forwarded request
127.0.0.1:9080/api/v1/groups/<Number>

### Environment

- apisix version (cmd: `apisi

[2021-12-01 01:27] starsz commented on #5634
Oh, that's good.

[2021-12-01 01:30] tokers commented on #5650
@deepzz0 Configure the SNI setting in etcd section.

[2021-12-01 01:55] ybbtuubj commented on #5648
嗯，我那个问题早上测了下是我自己的问题，我用容器创建的redis，是容器网络配置的问题。

[2021-12-01 02:23] tzssangglass commented on #5650
e.g.: https://github.com/apache/apisix/blob/b4921c3a1919a7722b54393ed7c7e81825ca9d2c/t/cli/test_etcd_mtls.sh#L164-L172

[2021-12-01 02:25] tzssangglass commented on #5654
pls show the config of route

[2021-12-01 02:40] zhangweidongyyl commented on #5643
ngx.req.set_uri  it seem can  solve my problem

[2021-12-01 03:28] lihuawei321 opened #5658 "request help: unable to collect logs when log-rotate plugin is enabled"
### Issue description

当我开启log-rotate插件后，发起请求后access.log没有日志，关掉log-rotate就有了。

### Environment

- apisix version (cmd: `apisix version`): 2.10.2
- OS (cmd: `uname -a`): centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.5
- apisix-dashboard version, if have:

[2021-12-01 06:55] biubiue commented on #5233
mark

[2021-12-01 07:38] leslie-tsang commented on #5647
I would like take it. @spacewander

[2021-12-01 08:51] qq54903099 opened #5661 "request help: 多个匹配条件，如何通过正则减掉前缀"
### Issue description

匹配uri ：
![image](https://user-images.githubusercontent.com/3895272/144202068-22ab83b5-bb63-4fb6-b323-3e98307b488e.png)

路径重写：
![image](https://user-images.githubusercontent.com/3895272/144202070-eef688d7-31f3-4150-b1d9-999e8d65cdaa.png)

如何将多种匹配条件的前缀去除。

比如访问：
/api/prod/IC33000020211101000001/post
以及访问
/uplevel0/api/prod/IC33000020211101000001/post
转发到后端都改成：
/post
### Enviro

[2021-12-01 09:06] qq54903099 commented on #5661
uplevel0/api/prod/IC33000020211101000001/post(.*)|api/prod/IC33000020211101000001/post(.*)

我试了这样一种方式，是可以匹配的。

[2021-12-01 09:06] #5661 closed

[2021-12-01 09:21] tzssangglass commented on #5643
As I've already said, if you want to send the request in the body_filter phase, you can use ngx.timer to do so,see: https://moonbingbing.gitbooks.io/openresty-best-practices/content/ngx_lua/timer.html

[2021-12-01 09:24] tzssangglass commented on #5643
you can last request returned Status get by `get_last_failure`, see:https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/balancer.md#get_last_failure

[2021-12-01 09:36] #5647 closed

[2021-12-01 09:44] GhangZh opened #5662 "request help: serverless plugin question"
### Issue description

I see the documentation inside the last can use serverless plugin to do external authentication, but this code how to configure into serverless plugin it can give an example?
![image](https://user-images.githubusercontent.com/92301646/144208600-b442fdcb-162b-472f-88ed-5402ae401192.png)
I escaped through json compression and put it in the functions field is not possible, it s

[2021-12-01 10:06] spacewander commented on #5662
The custom function should be wrapped with `return function(conf, ctx)  ... end` in the code block. See https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/serverless.md#how-to-enable

[code]

And remember to keep the whitespace, so it can be a valid Lua code.

I suggest using a script to generate the JSON instead of editing it manually.

[2021-12-01 10:14] spacewander commented on #5648
Consider solved?

[2021-12-01 10:18] spacewander commented on #5648
Sorry. The people who said the problem is solved isn't the author of this issue.

[2021-12-01 11:26] GhangZh commented on #5662
Yes, I see that the documentation says that you can only put functions, and I have tested this demo and it is fine. [how-to-use-apisix-auth](https://www.apiseven.com/zh/blog/how-to-use-apisix-auth) This article says it's possible so I'm asking how this is supported

[2021-12-01 13:34] saintak opened #5663 "bug: log-rotate.lua"
### Issue description

1.log-rotate 每次会操作之前一次的文件，下图为我设置为两分钟一切割，开启压缩的情况。
![微信图片_20211201213111](https://user-images.githubusercontent.com/9425842/144243179-2fcc751c-607a-40f8-9ae5-026e12c5c563.png)
析
2.用tar做压缩不合适，最好是改成"gzip filename",不仅不需要删除源文件，而且less filename.gz可以直接读取文件内容，方便大数据分
3.如 #5658 所述，开启log-rotate之后，没有log了

### Environment

- apisix version (cmd: `apisix version`):2.11.0
- OS (cmd: `uname -

[2021-12-01 13:39] saintak commented on #5658
同样也遇到类似的问题，而且切割日志处理也有问题。

[2021-12-01 14:28] hozaifaaoud commented on #5654
{
  "uris": [
    "/api/v1/groups/*"
  ],
  "name": "by_groupId",
  "desc": "by group by id",
  "methods": [
    "GET"
  ],
  "plugins": {
    "key-auth": {
      "disable": false
    },
    "proxy-rewrite": {
      "regex_uri": [
        "\\/api(\\/v1\\/groups\\/.*)",
        "$1"
      ]
    }
  },
  "service_id": "379565504387351559",
  "upstream_id": "379565438486447111",
  "labels": {
    "AP

[2021-12-01 15:23] starsz commented on #5662
Hello, @GhangZh

Sorry for the late reply. This article takes an example of how to use serverless plugins to do authentication.
As @spacewander suggested, you should put the logic in the function.

[2021-12-02 02:52] shuaijinchao commented on #5658
hi, @lihuawei321 @saintak , can you provide the steps to reproduce it? According to the document configuration, I did not reproduce the problem.

![image](https://user-images.githubusercontent.com/8529452/144348736-cc7d61a2-abec-4aa2-9212-0bab27551308.png)

![image](https://user-images.githubusercontent.com/8529452/144348960-7322bc37-5a6a-47f0-9889-fca6aa2cb522.png)

[2021-12-02 03:41] saintak commented on #5658
我是设置成120秒切割一次，很明显能看出来最后一次切割会影响本次和前一次的文件。参见我提的issue #5663

[2021-12-02 04:06] jiangkaiyuan98 commented on #5658
我是将enable_compression设置为true后，会出现access.log没有日志的现象
![image](https://user-images.githubusercontent.com/49426666/144355443-955ab22d-0d9a-4215-9dc8-e5a31837c7a3.png)
将enable_compression改为false后就正常了
![image](https://user-images.githubusercontent.com/49426666/144355687-959f239d-ccc9-4cd6-9948-beb823233545.png)

[2021-12-02 05:52] juzhiyuan opened #5668 "docs: ldap-auth plugin's doc is missing Consumer parameters"
### Improved or typo fixed.

According to `ldap-auth` plugin's implementation[1], our docs are missing parameters when configuring Consumer.

See https://apisix.apache.org/docs/apisix/plugins/ldap-auth/

### Solution

Add the description of Consumer parameters.

[1] https://github.com/apache/apisix/blob/master/apisix/plugins/ldap-auth.lua#L40-L47

[2021-12-02 06:42] juzhiyuan opened #5671 "docs: skywalking-logger plugin doc is using an incorrect configuration demo"
### Improved or typo fixed.

Please see https://apisix.apache.org/docs/apisix/plugins/skywalking-logger

![image](https://user-images.githubusercontent.com/2106987/144371319-6b66d78a-9900-4244-b1bd-f4837a4faf2c.png)

### Solution

🤔 There should be `skywalking-logger` with proper configurations, right?

https://github.com/apache/apisix/blob/master/apisix/plugins/skywalking-logger.lua

[2021-12-02 07:02] shuaijinchao commented on #5658
@saintak the https://github.com/apache/apisix/issues/5663 question, have you tried to check the file size several times without compression?

![image](https://user-images.githubusercontent.com/8529452/144373536-ec596820-7803-414d-bbc2-ca1321fadb92.png)

[2021-12-02 07:27] shuaijinchao commented on #5658
@lihuawei321  @saintak @jiangkaiyuan98  Thanks feedback. Reopen and compression will cause log record exceptions. We will fix this problem in the latest version.

[2021-12-02 07:33] saintak commented on #5658
没有尝试，我们需要启用压缩，所以没有测试不压缩的情况。

[2021-12-02 07:38] saintak commented on #5658
能否加个feature，把tar czvf 改成gzip，后者更方便后续分析。在只有一个文件需要处理的时候打成一个tar包问题多多：
less tar.gz 我们会看到如下内容：

-rw-r--r-- nobody/root     203 2021-12-02 15:35 2021-12-02_15-34-00__error.log
2021-12-02_15-34-00__error.log.tar.gz (END)
zcat tar.gz 是这样的：
zcat 2021-12-02_15-34-00__error.log.tar.gz
2021-12-02_15-34-00__error.log0000644000014300000000000000031314152073437014142 0ustar  nobodyroot2021/12/02 15:34:55 [warn]

[2021-12-02 07:46] tzssangglass commented on #5654
Based on this configuration, what do you want to achieve and what are the expected results？

there is some confusion here, I cannot got it.

[2021-12-02 07:55] shuaijinchao commented on #5658
Good idea, maybe can consider supporting two compression modes. But the essential reason for this problem is the execution sequence of "compression" and "reopening". Are you interested in fix this problem?

[2021-12-02 08:20] jinyuxiaoqiang commented on #3407
Have you solved this problem? I meet the same problem

[2021-12-02 08:48] saintak commented on #5658
先解决bug吧，

先解决bug吧，我不太懂lua，改不了。
使用gzip的logrotate等你们修复bug之后我可以在原来的基础上改写一个新的插件。

[2021-12-02 09:20] jianmaikj commented on #5648
Redis is installed on the host, and the host client can connect and use normally.
![image](https://user-images.githubusercontent.com/75167751/144393000-12c4506b-57f1-40db-a983-5d01e282dd2c.png)
In addition, redis is used in other containers in the host, which is normal.
I have tried ip as 127.0.0.1 and 172.18.0.1 but they all doesn’t work, I don’t understand why

[2021-12-02 09:29] jinyuxiaoqiang commented on #3407
I add log to the cors plugin, when the error occurred  _M.rewrite will run.  _M.header_filter and set headers not run @spacewander

[2021-12-02 09:44] tokers commented on #5648
Where did you deploy APISIX? Host or container?

[2021-12-02 10:09] #2883 closed

[2021-12-02 10:09] #2921 closed

[2021-12-02 10:28] chanjet1213 opened #5672 "bug: modify SSL Port not working in 2.10.1"
### Issue description

直接修改config.yaml文件或者修改config-default.yaml中9443端口为443后不生效，需要同时修改config.yaml和config-default.yaml中的9443端口。

### Environment

- apisix version (cmd: `apisix version`):2.10.1
- OS (cmd: `uname -a`):centos7.8

### Steps to reproduce

1.修改config.yaml中ssl 9443端口为443，重启apisix，运行端口仍为9443
2.修改config-default.yaml中ssl 9443端口为443.重启apisix，运行端口为443

### Actual result

无

### Error log

无

#

[2021-12-02 10:29] jianmaikj commented on #5648
Deploy with container，and after I changed to host mode, it works normally. Is there a way to bridge mode?

[2021-12-02 11:55] zhangweidongyyl commented on #5643
yes i slove this problem like this

           local function push_data(premature, uri, args, status)
               -- push the data uri, args, and status to the remote
               -- via ngx.socket.tcp or ngx.socket.udp
               -- (one may want to buffer the data in Lua a bit to
               -- save I/O operations)
           end
           local ok, err = ngx.timer.at(0, push_data,

[2021-12-02 11:57] zhangweidongyyl commented on #5643
yes it can slove my problem ,i write like this

`function _M.body_filter(conf, ctx)
          local function push_data(premature, uri, args, status)
             -- push the data uri, args, and status to the remote
             -- via ngx.socket.tcp or ngx.socket.udp
             -- (one may want to buffer the data in Lua a bit to
             -- save I/O operations)
         end
         local ok

[2021-12-02 12:22] membphis commented on #5630
![image](https://user-images.githubusercontent.com/6814606/144421101-b4851bba-310d-44fc-8b14-2489dce31c63.png)

[2021-12-02 12:27] membphis commented on #5417
I prefer this way. what is your opinion? @spacewander

[2021-12-02 12:48] zhangweidongyyl commented on #5643
i use tcp.socket.connect always return

use https://github.com/openresty/lua-nginx-module#tcpsockconnect example
failed to connect to google: www.google.com could not be resolved (10060: Operation timed out)

[2021-12-02 13:22] juzhiyuan opened #5673 "docs: refactor Installation Guide"
### Improved or typo fixed.

Hi, in our `How to build` docs[1], we may need to improve or refactor it due to the following issues:

1. Step 1 says we need to install dependencies first, when we open that document, it links to another page under the Other category. If this step is necessary, maybe we could combine them into one document.
2. When we run commands according to the Install Dependencies

[2021-12-02 17:48] hozaifaaoud commented on #5654
I am facing this error
HTTP Status 400 – Bad Request
while trying this
https://mydomain.com/api/v1/groups/%3CNumber%3E

[2021-12-02 23:42] yasser-mas2 commented on #5654
@tzssangglass  Simply we are trying to reroute an URL to another by replacing ( deleting ) URI prefix

E.g /api/groups/... -> my.internal.server/groups/....

so we have used `redirect` plugin by matching `regex_uri`  `/api(/v1/groups/.*) => replaced with $1 group1 ), but it seems that `redirect` plugin is decoding URL to match the regex but not encoding it again

I'm calling this endpoint `/api/gr

[2021-12-03 01:18] tzssangglass commented on #5648
So it seems that this is not a problem with the plugin, but with access to the host network within the container.

I'm not too familiar.

[2021-12-03 01:30] tokers commented on #5648
You can also run the redis in container with the same container network.

[2021-12-03 01:38] spacewander commented on #5671
Solved in the master branch.

[2021-12-03 01:38] #5671 closed

[2021-12-03 01:44] tokers commented on #5654
The regex pattern is `\/api(\/v1\/groups\/._`, is this correct?

[2021-12-03 01:44] tzssangglass commented on #5643
This is a matter of the request method or request parameters. It has to do with your own service.

This is where your local network environment is unable to resolve the domain name and you can use another domain name that can resolve.

[2021-12-03 01:45] tzssangglass commented on #5643
I will turn this issue into a discussion, which has nothing to do with the project.

[2021-12-03 01:45] #5643 closed

[2021-12-03 01:50] spacewander commented on #3407
@jinyuxiaoqiang
What's your APISIX version?
Is there a way to 100% reproduce it?

[2021-12-03 02:06] jinyuxiaoqiang commented on #3407
apisix version: 2.2
It reproduced rapidly yesterday,even I restart apisix service. At last I restart dashboard-2.3.0 and apisix service,it returns to normal. I will keep looking on it. Still there isn’t a way to 100% reproduce it.

[2021-12-03 03:53] kevinw66 opened #5679 "request help:"
### Issue description

make lint cannot use in macos.

I installed luarocks and lua via brew
but after I install luacheck and run `make lint`
an error occurred `ERROR: lj-releng ONLY supports LuaJIT 2.1!`

### Environment

macos

[2021-12-03 04:09] tzssangglass commented on #5654
Here are the steps I took to reproduce it on master branch

1. backend is an openresty server, nginx.conf is like

[code]

2. route config of APISIX

[code]

3. test

[code]

Is this what you want?

[2021-12-03 04:10] tzssangglass commented on #5654
you can refer to: https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-strip-route-prefix-for-path-matching to learn how to strip route prefix

[2021-12-03 04:15] tzssangglass commented on #5679
[code]

What is your output？

[2021-12-03 04:48] yasser-mas2 commented on #5654
No this is not, we already managed to strip the route prefix by using the regex.

The issue is the server decoding the route and not encoding it again, what I want is when submitting this request
$curl http://127.0.0.1:9080/api/groups/%3CNumber%3E

I need to get this

uri: /groups/%3CNumber%3E

NOT that:
uri: /groups/<Number>

[2021-12-03 05:01] yasser-mas2 commented on #5654
This is the regex  `/api(/v1/groups/.*)`, and it should be replaced by `$1` ( group 1 ).

Regex is matched and the url redirected to the proper server, but url is decoded!! Not encoded, and my application server is rejecting such characters `<>[]{}|\`

[2021-12-03 05:27] deepzz0 commented on #5650
@shuaijinchao @tokers @tzssangglass My certificate is in compliance, the X509 SAN has the relevant IP

[2021-12-03 06:09] kevinw66 commented on #5679
Thanks, I forgot to set env variable

[2021-12-03 06:09] #5679 closed

[2021-12-03 06:42] cws1981 opened #5680 "Can using APISIX as an Object Storage Gateway？"
### Issue description

As titled

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue is about a plugin runn

[2021-12-03 07:00] besich commented on #5663
you can try disable compression option,  i think it can solve the problem of lost logs.
I will verify whether it is caused by compression. If so, I want to try to repair it

[2021-12-03 07:08] GhangZh commented on #5049
I have the same problem

[2021-12-03 07:17] tzssangglass commented on #5650
so?

[2021-12-03 08:04] jinyuxiaoqiang commented on #3407
I have reproduced this problem.After create global_plugin through dashboard, I delete this global_plugin.It remains something in etcd,then the problem will sometime occurred.

/global_rules/1
{"id":"1","plugins":{}}

[2021-12-03 08:11] duzunwu512 opened #5683 "bug: The Function is contrary For ip-restriction plugin"
### Issue description

The Function for setting whitelist & blacklist is contrary with plugin ip-restriction .
When I added My IP to whitelist and hope to access my service with APISIX, but return following message "{"message":"Your IP address is not allowed"}"
And Then using word 'blacklist' replace 'whitelist'  hoped to stop access my service  and could get information which should be shown with

[2021-12-03 09:03] wtjperi2003 opened #5684 "request help: how can I wrap my response body"
### Issue description

for example: response from upstream service is:  `{"name":"abc","id":124}`,  then at the apisix. I want it to wrap it: `{"success":true,data:{"name":"abc","id":124}}`

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090

[2021-12-03 09:07] spacewander commented on #3407
@bzp2010
Has this issue been reported to dashboard before?
Maybe it is relative to https://github.com/apache/apisix/pull/4867

[2021-12-03 09:14] spacewander commented on #5680
Yes. See https://www.163.com/dy/article/GKVLC7RU0511D3QS.html

[2021-12-03 09:14] #5680 closed

[2021-12-03 09:16] spacewander commented on #5049
@GhangZh
Could you open a new issue? Thanks!

[2021-12-04 01:04] zhangweidongyyl opened #5688 "request help: can i use resty.http in body_filter send http 1.1 request and parse response body"
### Issue description

can i use resty.http in body_filter like this
local http = require "resty.http"                               -- 加载 lua-resty-http 库
httpc, err = http:new()                                         -- 创建 http 连接对象
httpc:set_timeout(time)                                         -- 注意名字里有一个下划线
httpc:set_timeout(connect_timeout,                              -- 同上
        send_ti

[2021-12-04 01:06] zhangweidongyyl opened #5689 "request help: how i use cosocket and parse http1.1 responsebody in body_filter"
### Issue description

local wholedata = "resp:"
while true do

    --local readline = sock:receiveuntil("\r\n")

    local readline = sock:receiveuntil("\r\n\r\n")

    --local readline = sock:receiveuntil("\r\n0\r\n\r\n")

    sock:settimeout(1000)  -- one second timeout
   local line, err, partial = readline()
    if not line then
        ngx.say("failed to read a line: ", err)
        break

[2021-12-04 02:49] qq54903099 opened #5690 "request help: apisix hmac url paramater encode result not equal java ecnode result"
### Issue description

![image](https://user-images.githubusercontent.com/3895272/144694115-075eedd6-56e8-4225-9066-13cc4e8f1eaa.png)
like this：apisix  `+` replace to '%20' ，but in java is "%2B"，use URLEncode.ecnode.
"2021-10 00:01"  apisix encode result is "2021-10%2000%3A01"，bust in java is "2021-10+00%3A01"

I want to know how to use java to generate

### Environment

- apisix version (cmd: `ap

[2021-12-04 07:48] zhangweidongyyl commented on #5689
i had solve my problem,replace cosocket with resty.http

[2021-12-04 08:24] zhangweidongyyl opened #5691 "request help: how ngx.timer.at get response set for ngx.arg[1] in body_filter?"
### Issue description

` local function push_data(premature, args)

        httpc, err = http:new()                                         -- 创建 http 连接对象
        httpc:set_timeout(time)                                         -- 注意名字里有一个下划线
        httpc:set_timeout(connect_timeout,                              -- 同上
                send_timeout, read_timeout)
        local res, err = httpc:requ

[2021-12-04 10:04] #2129 closed

[2021-12-04 10:04] #2951 closed

[2021-12-04 13:42] hepyu opened #5692 "request help: etcd high load, etcd high cpu usage, and "put /data_plane/server_info" have lots of "apply request took too long" error"
### Issue description

(1).question

1.question-1：

the etcd cluster have 3 nodes, 2 of them has high load and cpu usage,  but load and cpu usage of the third node is low, I am so confused：

node1 and node2：high load and high cpu usage
![image](https://user-images.githubusercontent.com/3917749/144711239-53a881cf-58c3-4b59-a28e-52430fffe7d7.png)

node3：load and cpu usage is low
![image](https://use

[2021-12-04 13:53] haozileung commented on #4942
I have encountered exactly the same problem here, using k8s + apisix ingress + jenkins.
Changing the port is not a good approach and modified the source code could work but annoying.

[2021-12-04 13:54] zhangweidongyyl opened #5693 "bug: response_rewrite plugin can not return result"
### Issue description

when i write plugin like response_rewrite ,curl can not return result, but the log is all right,this is why。response_rewrite plugin can right exec
`

do

function _M.body_filter(conf, ctx)

    local function push_data(premature, uri,args,result)
        if premature then
            return
        end
        local httpc, err = http:new()
        if err then
            res

[2021-12-04 14:17] zhangweidongyyl commented on #5693
plugin log is right ,but curl return

curl: (52) Empty reply from server

[2021-12-05 03:34] spacewander commented on #5683
Only APISIX 2.2+ can support OpenResty 1.19+

Could you upgrade the APISIX to see if the problem is solved?

[2021-12-05 03:49] spacewander commented on #4958
Consider solved. Feel free to reopen it if need.

[2021-12-05 03:49] #4958 closed

[2021-12-05 04:34] solo-xwz opened #5694 "How to pass custom context in different phases of plugin execution?"
### Issue description

Such as access and log phases

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue is

[2021-12-05 05:12] #5609 closed

[2021-12-05 05:13] spacewander commented on #5304
Solved by https://github.com/apache/apisix/pull/5666

[2021-12-05 05:13] #5304 closed

[2021-12-05 06:00] tokers commented on #5692
Do the 3 nodes have the same hardware configurations? Also, you may check out the file I/O utilizations.

What's the frequency settings for the `server-info` plugin, I remember the period is somewhat long (`60s`).

[2021-12-05 06:01] tokers commented on #5650
@deepzz0 Please read our replies carefully.

[2021-12-05 06:02] tokers commented on #5650
I forget the details about lua-resty-http, I'm not sure whether it will set the SNI if the node is pure IP.

[2021-12-05 06:03] tokers commented on #5650
@deepzz0 Could you try to preserve only one node in the etcd host and set the SNI to its IP address and check out the result?

[2021-12-05 06:31] tzssangglass commented on #5650
see: https://github.com/api7/lua-resty-etcd/pull/146#discussion_r724843510

[2021-12-05 08:10] soham4abc commented on #5630
I am willing to work on this issue. If possible pls assign!

[2021-12-05 12:02] spacewander commented on #3610
The batch processor depends on prometheus exporter, not the prometheus plugin.

[2021-12-05 13:27] tzssangglass commented on #5650
see more: https://github.com/apache/apisix/issues/5155#issuecomment-929948164

[2021-12-05 13:44] spacewander commented on #5694
You can use the ctx argument.
https://github.com/apache/apisix/blob/master/apisix/plugins/zipkin.lua is a good example.

[2021-12-05 14:02] tzssangglass commented on #5672
can you show the `conf/nginx.conf` after you only do the step 1.

[2021-12-05 14:04] tzssangglass commented on #5693
We do not check the code written by the user himself. If the issue is not relevant to the project, I will turn it into a discussion.

[2021-12-05 14:06] tzssangglass commented on #5689
the issue is not relevant to the project, I will turn it into a discussion.

[2021-12-05 14:06] tzssangglass commented on #5691
the issue is not relevant to the project, I will turn it into a discussion.

[2021-12-05 14:59] tzssangglass commented on #5690
In fact, APISIX uses `[ngx.escape_uri](https://github.com/openresty/lua-nginx-module#ngxescape_uri)` to escape uri, this way the `+` is translated into a space, I hope this is useful to you: https://www.cnblogs.com/zhengxl5566/p/10783422.html
refer to:
[1]: https://github.com/openresty/lua-nginx-module/issues/1124
[2]: https://juejin.cn/post/6844903512485134343#heading-6
[3]: https://www.cnblogs.c

[2021-12-05 15:09] alex8224 opened #5706 "request help: How to route according to the configuration of nacos metadata?"
### Issue description

I use nacos discovery, and for each microservice I register some additional metadata for finer-grained control

I know that the traffic-split plugin can match routes at a certain level of granularity
As far as I know, this plugin can't match upstreams based on metadata level

So, I would like to ask how to do this

Tks

### Environment

- apisix 2.10.2
- Centos7
- openresty/

[2021-12-05 15:28] tzssangglass commented on #5654
ok, I've had a look around and I don't think it's a bug.

Nginx will escape the `" ", "#", "%", "&", "+", "?"` and the `%00-%1F` and `%7F-%FF` to follow rfc3986#section-2.2.

so I recommend not using %3C in the uri.

refer to: https://juejin.cn/post/6844903512485134343#heading-5

cc @tokers

[2021-12-05 15:34] tzssangglass commented on #5692
refer to: https://etcd.io/docs/v3.1/faq/#what-does-the-etcd-warning-apply-entries-took-too-long-mean

I think it would be more appropriate to look at the etcd dimension for this issue.

[2021-12-05 16:58] tzssangglass commented on #5706
the ` traffic-split` plugin is not involved in route matching.

Are you trying to select upstream based on the additional information obtained in nacos?

[2021-12-06 00:49] tokers commented on #5706
@alex8224 You may implement your own balancer and use it in `Upstream` objects.

[2021-12-06 00:50] tokers commented on #5706
See https://apisix.apache.org/blog/2021/07/28/release-apache-apisix-2.8/#new-way-to-develop-support-for-custom-balancer .

[2021-12-06 00:52] tokers commented on #5650
If so, the TLS handshaking should succeed, @deepzz0 Could you try to capture some TLS handshaking packages?

[2021-12-06 01:34] qq54903099 commented on #5690
`+` apisix  is %20  but in java is %2B
`space` apisix is %20 but in java is +
`!` apisix is !  but in java is %21
`#` apisix is %24 but in java is %23
`%` apisix is % but in java is %25
`(` apisix is (  but in java  is %28
')' apisix is ) but in java is %29

I don't thin use replace is good idea

[2021-12-06 01:43] alex8224 commented on #5706
@tzssangglass yes, I want to select upstream based on metadata obtained in nacos.

[2021-12-06 02:16] jinyuxiaoqiang commented on #3407
I can’t figure out how it leads to the problem. Can you give me some instructions?

[2021-12-06 02:22] qq54903099 commented on #5690
may be like this
String value = URLEncoder.encode(Optional.ofNullable(param.getValue()).orElse(""), "utf-8")
                        .replaceAll("\\%2B","%20")
                        .replaceAll("\\+","%20")
                        .replaceAll("\\%21","!")
                        .replaceAll("\\%27","'")
                        .replaceAll("\\%28","(")
                        .replaceAll("\\%29",

[2021-12-06 02:28] deepzz0 commented on #5650
Now config:
![image](https://user-images.githubusercontent.com/10971608/144777336-f9228e9d-73f6-481e-89ee-ace6c2d59a7b.png)

Log:
[code]
OpenSSL Hanshak:
[code]

[2021-12-06 03:12] spacewander commented on #3407
Can this be reproduced with APISIX 2.9 or higher?

[2021-12-06 03:50] GhangZh opened #5708 "request help: go-plugin-runner error after starting in debug mode"
### Issue description

There has  an error after starting in debug mode。When I setting like this，it didn’t find  /tmp/runner.sock,And there is no content either.My custom plugin name is forward-auth
[code]
![image](https://user-images.githubusercontent.com/92301646/144560426-10b9998d-d8d8-424d-8177-4ba3e7815780.png)
![image](https://user-images.githubusercontent.com/92301646/144560520-4c54b2bd-b10

[2021-12-06 05:02] saintak commented on #5663
#5658 是相同的问题，等待修复中。

[2021-12-06 05:50] fish2018 opened #5709 "return 504"
### Issue description

域名app01.demo.com解析到apisix
apisix在slave01节点
现在从slave01上curl app01.demo.com会报504
腾讯云售后技术说可能是网络回环，谁遇到过这个问题吗？

![avatar](https://raw.githubusercontent.com/fish2018/files/master/imgs/apisix_issue01.png)

### Environment

腾讯云

[2021-12-06 06:02] liangliang4ward opened #5710 "request help: Can the jwt plugin support custom authentication parameter names?"
### Issue description

目前jwt plguin 参数名称是写死的，能不能跟hmac一样，通过配置修改参数名称。

$ curl http://127.0.0.1:9080/index.html?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJ1c2VyLWtleSIsImV4cCI6MTU2NDA1MDgxMX0.Us8zh_4VjJXF-TmR5f8cif8mBU7SuefPlpxhH0jbPVI -i
HTTP/1.1 200 OK
Content-Type: text/html
Content-Length: 13175

将jwt修改为其他参数。

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -

[2021-12-06 06:14] tzssangglass commented on #5690
It's barely okay. I think you could look for some generic class libraries, like guava.

[2021-12-06 06:14] tzssangglass commented on #5690
@qq54903099 can we close this issue now?

[2021-12-06 06:19] leslie-tsang commented on #5709
@juzhiyuan Plz assign it to me.

[2021-12-06 06:48] spacewander commented on #5710
PR is welcome!

[2021-12-06 07:00] spacewander commented on #5708
Is it relative to https://github.com/apache/apisix/discussions/5628#discussioncomment-1713241?

[2021-12-06 07:02] #3610 closed

[2021-12-06 07:03] spacewander commented on #5662
Consider solved. Feel free to reopen it if need.

[2021-12-06 07:03] #5662 closed

[2021-12-06 07:07] #5079 closed

[2021-12-06 07:13] membphis commented on #5630
we need to update the Chinese doc too: https://github.com/apache/apisix/blob/master/docs/zh/latest/architecture-design/apisix.md

the title should be `软件架构`.

[2021-12-06 07:13] membphis commented on #5630
ping @soham4abc would you like to try this? https://github.com/apache/apisix/issues/5630#issuecomment-986499739

[2021-12-06 07:14] soham4abc commented on #5630
This much I will be able to do so. Please do assign me!

[2021-12-06 07:22] youlianyiran commented on #3231
hope support zookeeper service discovery for dubbo

[2021-12-06 07:22] membphis commented on #3231
would like to contribute this feature? @youlianyiran

[2021-12-06 07:30] membphis commented on #5630
done, good luck

[2021-12-06 07:33] saintak opened #5711 "bug: apisix.service cannot be started automatically, and ulimit is not set"
### Issue description

apisix.service这个文件配置的不对，可以参照我的版本设置：
说明：conflict这个配置没啥用处，不必保留
没有[install]，服务就是static的，没法设置为开机启动
systemd启动的服务的ulimit不能继承系统的ulimit，所以需要单独设置
配置restart可以在服务挂断之后尝试拉起

[Unit]
Description=apisix
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
Restart=on-failure
WorkingDirectory=/usr/local/apisix
ExecStart=/usr/bin/apisix start
ExecStop=/usr/bin/apisix

[2021-12-06 07:34] jagerzhang commented on #5604
it's Solved when the prometheus plugin was disabled.

[2021-12-06 07:35] lihuawei321 commented on #5658
我现在也是这样，请问你解决了吗？

[2021-12-06 07:36] leslie-tsang commented on #5711
PR is welcome, would you take it a try ?

[2021-12-06 07:46] leslie-tsang commented on #5709
I afraid this can't be slove by Apache APISIX, Ref from the following information found

 1. https://github.com/kubernetes/kubernetes/issues/79783
 2. https://cloud.tencent.com/document/product/457/61737
 3. https://help.aliyun.com/document_detail/171437.html

[2021-12-06 07:50] soham4abc commented on #5630
I have issued the PR Please do have a look @membphis @leslie-tsang

[2021-12-06 07:52] saintak commented on #5711
翻看了半天没在代码库找到apisix.service的位置，所以我应该提到哪个位置呢？

[2021-12-06 07:56] leslie-tsang commented on #5711
Hello there, right [here](https://github.com/api7/apisix-build-tools/blob/master/usr/lib/systemd/system/apisix.service)

[2021-12-06 08:23] saintak commented on #5711
好的，已经提了pr

[2021-12-06 08:26] youlianyiran commented on #3231
I am a java programmer. I am not familiar with the apisix and nginx,  just a probably understanding of them,  need a lot of time to be proficient in item

[2021-12-06 08:27] youlianyiran commented on #3231
I am a java programmer. I am not familiar with the apisix and nginx, just a probably understanding of them, need a lot of time to be proficient in item

[2021-12-06 08:27] youlianyiran commented on #3231
I am a java programmer. I am not familiar with the apisix and nginx, just a probably understanding of them, need a lot of time to be proficient in item

[2021-12-06 08:54] bzp2010 opened #5714 "Proposal: support OpenPolicyAgent for access control"
## Background
OPA is an open source lightweight general-purpose policy engine, which is a full-featured policy engine that can replace the built-in policy module in your software and decouple the service from the policy engine.
It describes policies through a policy DSL language "Rego" and stores policy data through JSON, after which the user can send a query request and OPA will combine the polic

[2021-12-06 08:58] #5630 closed

[2021-12-06 09:28] GhangZh commented on #5708
Different, his sock is not found, my issue is not to find the sock, and my /tmp/runner.sock is automatically generated

[2021-12-06 09:30] tokers commented on #5650
Is this a self-signed certificate or signed by a private CA? Have you configured the `ssl_trusted_certificate` option?

[2021-12-06 09:46] tokers commented on #5714
SGTM!

[2021-12-06 11:47] deepzz0 commented on #5650
Yes, it's self-signed. You can see the configuration above, `ssl_trusted_certificate`  has been set.

If `verify` is set to true, an error "Certificate host Mismatch."，But I have no problem passing OpenSSL authentication

[2021-12-06 13:00] tzssangglass commented on #5650
you can specify the SNI for etcd, as mentioned above.
see more: https://github.com/apache/apisix/issues/5155#issuecomment-929948164

[2021-12-06 13:01] tzssangglass commented on #5714
sounds good

[2021-12-06 16:03] alex8224 commented on #5706
I can only find very little about how to implement a balancer from the url you gave, are there other more detailed guides on how to easily add a balancer type?
Similar to implementing a new discovery type.

[2021-12-07 01:00] #5690 closed

[2021-12-07 01:03] moonming commented on #5709
@fish2018
Please use English in the public channel, thx

[2021-12-07 01:04] moonming commented on #5711
@saintak
Please use English in the public channel, thx

[2021-12-07 01:05] tzssangglass commented on #5706
You can see how the service registration information for nacos is obtained and how it is stored in nacos.lua. e.g. https://github.com/apache/apisix/blob/master/apisix/discovery/nacos/init.lua#L216-L230

your_balancer is placed in the apisix/balancer folder

take a look at: https://github.com/apache/apisix/blob/master/apisix/balancer/roundrobin.lua

BTW, I think this is a bit difficult, if you have

[2021-12-07 01:29] #5694 closed

[2021-12-07 01:34] tokers commented on #5650
Your OpenSSL authentication also reports a bad certificate alert:

140718298392464:error:14094412:SSL routines:ssl3_read_bytes:sslv3 alert bad certificate:s3_pkt.c:1493:SSL alert number 42
140718298392464:error:140790E5:SSL routines:ssl23_write:ssl handshake failure:s23_lib.c:177:

[2021-12-07 01:40] spacewander commented on #5711
Solved by https://github.com/api7/apisix-build-tools/pull/143
Thanks for @saintak

[2021-12-07 01:40] #5711 closed

[2021-12-07 01:58] deepzz0 commented on #5650
@tokers It means I didn't provide the client certificate, when i use `-cert` and `-key` in openssl, it's ok.
`Certificate host Mismatch` is an error reported by the client when trying to verify the server certificate. I will do more verification in my spare time to confirm the problem.

[2021-12-07 03:22] juzhiyuan commented on #5714
SGTM!! I noticed Open Policy Agent supports Ecosystem 😄 see https://www.openpolicyagent.org/docs/latest/ecosystem/

![image](https://user-images.githubusercontent.com/2106987/144960266-a60099e4-23e1-40e0-8b23-b28152bb0d42.png)

cc @yzeng25 @bzp2010 @moonming

[2021-12-07 03:25] leslie-tsang commented on #5714
It's great to see the Apache APISIX ecosystem expanding.

[2021-12-07 03:29] juzhiyuan commented on #5714
Just added a Discussion here[1], looking forward to more reviews from community :)

[1] https://github.com/open-policy-agent/feedback/discussions/73

[2021-12-07 03:40] #5649 closed

[2021-12-07 06:39] zero-create opened #5723 "CPU usage gets higher when Apache APISIX is running a long time"
apisix版本 2.10.1，etcd 版本3.4.15，docker部署，长时间运行，etcd  CPU逐渐升高，最高时CPU到80%，关闭apisix，etcd CPU就下降，

etcd日志偶尔有以下打印：
2021-12-07 06:23:26.982193 W | etcdserver: request "header:<ID:14388294143980129386 > lease_grant:<ttl:3600-second id:47ad7d4a9fc4cc69>" with result "size:44" took too long (136.668999ms) to execute
2021-12-07 06:44:00.043365 W | etcdserver: request "header:<ID:14388294143980129756 > lease_r

[2021-12-07 06:41] lihuawei321 opened #5719 "bug: when I use the kafka-logger plugin, failed to fetch the time in kafka"
### Issue description

我写入kafka的日志格式是：
[{"client_ip":"192.168.35.122","host":"192.168.9.234","@timestamp":"2021-12-07T10:41:12+08:00","route_id":"363894265081758809"}]
但是kafka显示的没有时间戳
![image](https://user-images.githubusercontent.com/31987918/144979540-a72a98be-423a-4a70-a736-093f5c610647.png)

### Environment

- apisix version (cmd: `apisix version`): 2.10
- OS (cmd: `uname -a`): centos7
- OpenR

[2021-12-07 07:45] spacewander commented on #3231
Note that dubbo's zookeeper service discovery has some special dubbo relative logic.

[2021-12-07 09:15] spacewander commented on #5708
Can't reproduce on my side. My configuration is:
[code]

I got the expected error: "phase_func(): failed to connect to the unix socket unix:/tmp/runner.sock".

Maybe you can add more log to https://github.com/apache/apisix/blob/a4b6931390c302724675f9026078d479c6295119/apisix/plugins/ext-plugin/helper.lua#L32

[2021-12-07 09:22] #5417 closed

[2021-12-07 09:26] zuiyangqingzhou opened #5724 "bug: regular matches have bugs in specific scenarios"
### Issue description

The ngx.re.find method is used in the ua-restriction plugin, but there is no strict logical checking of the regex parameter, which in some cases can cause the program to crash.

### Environment

- apisix version (cmd: `apisix version`): 2.9.0
- OS (cmd: `uname -a`):  x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.1

[2021-12-07 09:53] GhangZh commented on #5708
Thanks for the help, it was a problem with the environment variables that didn't get this configuration

[2021-12-07 09:53] #5708 closed

[2021-12-07 10:04] #2923 closed

[2021-12-07 10:10] besich opened #5726 "docs:"
### Improved or typo fixed.

this document contains the relevant chapters “Step 4: Run Test Cases”
i suggest that this chapter be separated into a markdown file.
The reasons are as follows:
*  follow the installtion step. make test will not run successfully, because it lacks the dependency.
*  keep the purity of installtion document. running test cases belongs to development documents, and the dep

[2021-12-07 10:18] besich commented on #5726
problems encountered in executing make test to run unit tests.

execute
[code]
there are still environment dependency issues, mainly
*  about test-nginx.  suggest git submodule add https://github.com/iresty/test-nginx.git t/test-nginx
*  make test executes prove -I../test-nginx/lib -I./ -r -s t/. there are two main problems
    *  -I../test-nginx/lib: it’s not recommended to place dependencies out

[2021-12-07 10:19] tokers commented on #5723
It seems that the lease grant requests cost a lot of time.

[2021-12-07 10:19] tokers commented on #5723
@zero-create Would you try to disable the `server-info` plugin to see what happens.

[2021-12-07 10:38] zlhgo commented on #5596
i have written a plugin for this issue, but there is a problem that the `set $upstream_name  -;` directive must place in the location section, so maybe we are missing a http_server_location_configuration_snippet item.

1. nginx config
[code]
2.  code
[code]
3. access log
[code]

[2021-12-07 12:17] anderseknert commented on #5714
Thanks for raising this @bzp2010 👍 Let me know if there's any questions along the way with regards to OPA, and I'd be happy to answer them :)

As for the suggested input format - looks mostly good to me! I would suggest however to not use `http` as the "top level" attribute inside of the request, but rather put that detail inside of the request object. That way one can write and use the same polic

[2021-12-07 12:54] xuminwlt opened #5729 "request help: module 'toolkit.json' not found when use test-nginx for unit test"
### Issue description

![image](https://user-images.githubusercontent.com/5835937/145031554-91ed0c6e-f69d-4d9f-a290-5dcaeab8bee1.png)

test-nginx project is clone like this

root/ is project root
- root/test-nginx
- roor/apisix
 test-nginx test is fine.

but cd to apisix and run is fail
[code]

Then copy the https://github.com/api7/test-toolkit to root/apisix/t/toolkit
https://github.com/apache/ap

[2021-12-07 13:06] juzhiyuan commented on #5719
Hi, could you please provide more steps so I could reproduce it?

[2021-12-07 13:14] tzssangglass commented on #5706
Maybe we can enhance nacos discovery to make it work. Would anyone like to give a detailed example? For example, from which interface of nacos do we get information? What information is being fetched?

[2021-12-07 13:38] tzssangglass commented on #5723
related to: https://github.com/apache/apisix/issues/5692

can you provide packet capture data for the network between apisix and etcd?

[2021-12-07 13:52] tzssangglass commented on #5729
1.  it is not recommended that apisix be placed in the `root` directory;
2. basically my directory structure is similar to yours. Looking at the search path in the error output, it doesn't search for a path under `/root/apisix` at all.

[2021-12-07 13:53] tzssangglass commented on #5719
pls describe it more clearly. From the information you have provided, I do not know what is `failed to fetch the time in kafka`

[2021-12-07 15:19] alex8224 commented on #5706
@tzssangglass
**If so, that's pretty good**

Generally use the 127.0.0.1:8848/nacos/v1/ns/instance/list?serviceName=xxx&namespaceId=dev interface to get all service instances under a namespaceId, The output of the interface call is as follows

`{
    "allIPs": false,
    "cacheMillis": 10000,
    "checksum": "",
    "clusters": "",
    "groupName": "DEFAULT_GROUP",
    "hosts": [
        {

[2021-12-08 01:28] #5658 closed

[2021-12-08 01:28] #5663 closed

[2021-12-08 01:46] xuminwlt commented on #5729
root is my example path, the true path is my account path
~/github/apisix

The error message should be that I found the file under APIs / T / Toolkit, but the preload failed. I don't know why. Maybe I need to find the answer.
Maybe I can be a contribute for these question.

[2021-12-08 02:13] xuminwlt commented on #5729
Problem solved，clone to the t/  path is right，i have copied it to /t/lib, /t/lib  is wrong.

[2021-12-08 02:13] #5729 closed

[2021-12-08 02:16] zero-create commented on #5723
[etcd1.zip](https://github.com/apache/apisix/files/7672821/etcd1.zip)

[2021-12-08 02:17] zero-create commented on #5723
[etcd1.zip](https://github.com/apache/apisix/files/7672833/etcd1.zip)

[2021-12-08 02:52] zlhgo commented on #5596
[code]

So simple?

[2021-12-08 03:42] leslie-tsang commented on #5709
@juzhiyuan Consider solved. Feel free to reopen it if need.

[2021-12-08 03:43] sekfung opened #5733 "request help: sometimes connection refused while using service ip to connect the upstream"
### Issue description

**error log**
[code]

It can work sometimes, I try to increase times of retry for the route, but it can't solve this problem at all.

### Environment

- apisix version (cmd: `apisix version`): 2.10.1
- OS (cmd: `uname -a`): Linux apisix-6df8748bf6-v5hnb 4.14.105-19-0022
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
- etcd version, if hav

[2021-12-08 03:55] #5709 closed

[2021-12-08 05:40] juzhiyuan commented on #5733
Hi @leslie-tsang, could you give some ideas on how to debug this issue?

[2021-12-08 05:59] juzhiyuan commented on #5573
Hi @bzp2010, could you please take a look? 😄

[2021-12-08 06:00] zaunist commented on #5668
Hi, @juzhiyuan. I just open a pull request to add consumer parameter, https://github.com/apache/apisix/pull/5736. Please take a look..

[2021-12-08 06:01] Horus-K opened #5737 "docs: how to traffic service percentage"
### Improved or typo fixed.

How do I verify the correctness of the plugins

### Solution

I want to be able to use traffic-split similar plug-ins to control the percentage of service traffic

[2021-12-08 06:04] Horus-K commented on #5737
We have a very large user base，I need control plugings(response-rewrite.body) change

[2021-12-08 06:12] xianshun163 commented on #3801
when  use dns，  it is differ as the service discovery, the apisix  balancer.lua can  not get  the pod ip.

[2021-12-08 06:28] zaunist commented on #4895
Hi, community. I update the `global-rule` description, please take a look here https://github.com/apache/apisix/pull/5739

[2021-12-08 06:29] tzssangglass commented on #5596
Although this can be done. I'd like @spacewander 's way, do it with a special directive in `config-default.yaml`.

[2021-12-08 06:30] sekfung commented on #5733
BTW，it deploy on k8s cluster

[2021-12-08 06:45] spacewander commented on #4301
@dmsolr
Maybe we can create a new release of skywalking-nginx-lua now?

[2021-12-08 06:53] spacewander commented on #5596
Just do it.

[2021-12-08 06:54] wu-sheng commented on #4301
![image](https://user-images.githubusercontent.com/5441976/145162308-af4de142-2ccc-4581-b93d-1c6d15a01b3c.png)

2 fixes are code related. It is 7 months since last release, if you feel you should, please run for it. If you do that, skywalking-kong 0.1.2 should be released with dependency upgrade.

[2021-12-08 07:10] leslie-tsang commented on #5733
Yes for sure.

Could you exec `curl` with `-v` to verify the network between apisix and upstream is working as expected ?
e.g.
[code]

[2021-12-08 08:16] sekfung commented on #5733
@leslie-tsang

**Success**
[code]

**Failed**
[code]

[2021-12-08 09:16] hepyu commented on #5692
disk is ok, I used ssd(gp3) of aws.

I have solved this problem like this：
disable pulgin "server-info".

then, cpu usage and load of etcd became normal.

I think this is a bug of apisix, at least improper use of etcd.

[2021-12-08 09:19] #5692 closed

[2021-12-08 09:20] hepyu commented on #5692
Temporarily closed this issue.

[2021-12-08 09:56] tokers commented on #5723
Basically all the packets are the watch request, I didn't find some packets related to the lease grant.

[2021-12-08 11:14] #4895 closed

[2021-12-08 12:34] spacewander commented on #919
We can use `apisix start -c xxx.yaml` to do it.

[2021-12-08 13:13] tzssangglass commented on #5737
We have test cases to cover the functionality of the plugin.

But you still need to verify it in your environment. You can verify this against the plugin's functional documentation.

I don't know what you mean.

[2021-12-08 13:18] Horus-K commented on #5737
I need to be able to achieve service percentage, similar to upstream percentage

[2021-12-08 13:19] tzssangglass commented on #5692
does your configuration meet the requirements of etcd? server info is only a low frequency operation of etcd.

[2021-12-08 13:20] Horus-K commented on #5737
route binds multiple service

[2021-12-09 01:38] tzssangglass commented on #5737
show a detailed case to describe the scene.

we have already support this, pls read docs first.

[2021-12-09 01:40] #5668 closed

[2021-12-09 02:58] #5596 closed

[2021-12-09 03:28] Jon-Gaara opened #5749 "bug: apisix reload Cannot clear uninitialized plug-ins"
### Issue description

如果我自定义了一个lua脚本，但是脚本里没有定义schema，会导致插件load不成功，这时候，我给这个插件再重新加上schema，然后执行apisix reload，这个插件还是会加载不成功，并且报之前的错误，这是因为plugin.lua再unload_plugin的时候，只是unload已经加载成功的plugin，导致没有被加载成功的plugin，用require加载的时候，还是加载之前错误的那个脚本

### Environment

- apisix version (cmd: `apisix version`):
- 2.10.0
- OS (cmd: `uname -a`):
- Linux sz-jon-yu 5.10.16.3-microsoft-standard-WSL2 #1 SMP Fri Apr 2 22:23:49 U

[2021-12-09 03:40] Horus-K commented on #5737
![image](https://user-images.githubusercontent.com/48319268/145330261-be067eaf-87fa-4cdb-9dc4-ab52c548d1e2.png)
This route will return two results  XXX or GGG

[2021-12-09 03:43] Horus-K commented on #5737
I only see that route can be bound to one serviceid or pluginid

[2021-12-09 06:58] Fatpa opened #5751 "request help: unfriendly notice message return when forgetting enable Authentication plugin on route / service configuration"
### Issue description

After I created the consumer and enable it on the consumer-restriction of the route configuration, I try to visit it but got the misunderstanding return message, `{"message": "Missing authentication or identity verification."}`. It makes me confused that what happened? Invalid signature or others?

In my opinion, may the return message should be more clearly, like `"Missing

[2021-12-09 07:32] AlexAi27 opened #5754 "bug: apisix close the keep-alive tcp connection by sending Encrypted Alert TCP Packet to upstream"
### Issue description

I have apisix to proxy the requests to k8s apiserver. When I use k8s `exec` command to connect to container, the connection will close when the connection has been inactive for 60s.
Since I change the timeout in config of apisix to 3600s, such as `http.keepalive_timeout`, `http.upstream.keepalive_timeout`, apisix will also close the keep-alive tcp connection by sending Encry

[2021-12-09 07:35] tzssangglass opened #5755 "[DISCUSS]: Improving the performance of the prometheus plugin"
### Issue description

the community has recently received reports from users of APISIX generating long-tail requests. e.g.
https://github.com/apache/apisix/issues/5604
https://github.com/apache/apisix/issues/5500

Talking to them and testing on their environment, we found the problem that when starting the prometheus plugin on APISIX, the prometheus service when collecting data (accessing /apisix

[2021-12-09 07:43] tzssangglass commented on #5737
This is not supported. This would break some of the abstractions of APISIX.

I think you can get around this in other ways, such as setting up multiple routes. Or modify the response-rewrite plugin yourself.

[2021-12-09 08:23] lixuewang commented on #5471
i guess TTL can not resolve this problem. i find when os can resolve the right ip ,but apisix still use wrong ip.

[2021-12-09 08:45] shaobo322 commented on #5710
`jwt-plugin` can be configued to different levels, `consumer` and `router`, which level do you want to configure?

[2021-12-09 09:01] hepyu commented on #5692
Yes, my configuration meet the requirements of etcd. And the fact is that after I remove the server info plugin, the etcd load and CPU utilization returned to normal.
Of course I know "server info is only a low frequency operation of etcd". And I am confused this so much, couldn't understand, but the fact is the fact.
So my conclusion is that apisxi has a strange low-level bug here, at least a low

[2021-12-09 09:06] bzp2010 opened #5756 "request help: OpenWhisk plugin does not support modifying the response"
## Description
The current `openwhisk` plugin will take the response from Apache OpenWhisk and return it directly without parsing. This request may contain complex data that rewrites the status code, response headers, and response body. We need to parse it and change the APISIX response.

The complex data like this:
[code]
We need to determine if the OpenWhisk response contains them, and if they a

[2021-12-09 09:32] bardolphshampine commented on #5756
This is a great proposal, I wish to give it a try.

[2021-12-09 09:33] xetraforest-fenghan commented on #5756
This is a great proposal, I wish to give it a try

[2021-12-09 09:42] tokers commented on #5751
Basically, the message returned is for the caller side, and let the caller to check out the route/service configuration is not so proper IMHO.

But we still can enrich the message, at lease we can tell the caller that certain types of credentials should be taken when send a request.

[2021-12-09 09:47] tokers commented on #5754
I think you misunderstood the meaning of `keepalive_timeout`, this option is used to control how long should an **idle** connection be kept open, and in your case it's obvious connections are busy in use, you may try to tweak some options like `read_timeout` and `send_timeout`.

[2021-12-09 10:09] #2960 closed

[2021-12-09 10:09] #2994 closed

[2021-12-09 10:31] tzssangglass commented on #5692
I suspect the same direction as you, but I need to reproduce the problem.
Or would you be willing to provide a flame graph, with the server_info plugin loaded and CPU and load high, to grab the flame graph and let us see what is wrong.

you can make flame graph by OpenResty-Xray

[2021-12-09 10:34] tzssangglass commented on #5723
would you be willing to provide a flame graph, with the server_info plugin loaded and CPU and load high, to grab the flame graph and let us see what is wrong.

you can make flame graph by OpenResty-Xray

[2021-12-09 10:39] tzssangglass commented on #5749
plugin reload assumes the plugin is valid by default (at least it functions properly)

I'm not sure what good this change would do.

[2021-12-09 12:09] CppCXY opened #5760 "Bug: about code style"
### Issue description

I looked at the code style specification for the project, but I found that almost every file in the lua code in the project did not comply with the code style specification.

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0

[2021-12-09 13:30] tzssangglass commented on #5471
pls show the case

[2021-12-09 13:50] spacewander commented on #5760
Having a code style is good, but is not necessary. A strange style doesn't prevent LuaJIT to become a fantasy project. We don't want to waste time arguing the code style.

[2021-12-09 13:50] #5760 closed

[2021-12-09 13:57] juzhiyuan commented on #5760
https://github.com/apache/apisix/blob/master/CODE_STYLE.md We have a CODE_STYLE file here 😄

[2021-12-09 13:59] CppCXY commented on #5760
I know, but I'm sure you didn't follow your code style

[2021-12-09 14:13] CppCXY commented on #5760
https://github.com/apache/apisix/blob/5ae38f81f25fc58a040e30d12ba8fef33bb56f60/apisix/wasm.lua#L42 do not keep 2 line
https://github.com/apache/apisix/blob/c178435d7ada4eeb713d9a1688fb5f54f971abdf/apisix/debug.lua#L104 why do end block no indent
https://github.com/apache/apisix/blob/c178435d7ada4eeb713d9a1688fb5f54f971abdf/apisix/stream/plugins/limit-conn.lua#L26 not only one space after ','

http

[2021-12-09 14:17] lixuewang commented on #5471
my case:<br/>systemA-&gt;apisix-&gt;(domainname)systemB(has ip IPA and ipB)<br/><br/>1、systemA-&gt;apisix-&gt;IPA<br/>2、when domainname resolve ipB<br/><br/>apisix still has many long established link to ipA<br/><br/>but I wish apisix connect to IPB .because IPA is read only ,cannot write<br/><br/>how can I resolve this question？<br/><br/><html>
<head>
    <meta http-equiv="Content-Type" content="

[2021-12-09 14:26] tzssangglass commented on #5471
You may be using email to reply, do you have a way to reply on Github. The format of emails is confusing on Github.

[2021-12-09 21:43] hamlinzheng opened #5761 "request help: The effective time of the OpenID Connect Plugin in session mode"
### Issue description

Thank you very much for your wonderful work! I use OpenID Connect Plugin with OIDC Provider in my web project, I try to follow the [tutorial](https://apisix.apache.org/docs/apisix/plugins/openid-connect/), and it works fine, i can get OIDC auth with setting `bearer_only` to `false`.
However, I have observed that my visits are often redirected to OIDC Provider to re-authentic

[2021-12-10 00:01] #5588 closed

[2021-12-10 00:26] jinyuxiaoqiang opened #5762 "request help: Upgrading to the latest version,how to deal with metaData in etcd cluster."
### Issue description

I have used version2.2 for a long time,and I have created hundreds of routes. How can I upgrade from 2.2 to 2.11.0? Especially the etcd  compatibility.

### Environment

Old version env:
- apisix version (cmd: `apisix version`):2.2.0
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):1.19.3.1
- etcd version, if have (cmd: run `curl http:/

[2021-12-10 01:42] leslie-tsang commented on #5723
@juzhiyuan plz assign this to me.

[2021-12-10 01:48] lixuewang commented on #5471
my case:
systemA->apisix->(domainname)systemB(has ip IPA and ipB)

1、systemA->apisix->IPA
2、when domainname resolve ipB

apisix still has many long established link to ipA

but I wish apisix connect to IPB .because IPA is read only ,cannot write

how can I resolve this question？

[2021-12-10 02:58] Jon-Gaara commented on #5749
1.目前我们在开发测试的时候，由于我一个同事新开发一个插件，但是这个插件不需要参数，所以就没加schema，出现了以上的情况
2.还有一种情况，如果我之前的插件是正常运行的，但是由于我把插件的version删掉或者schema删掉，然后reload，这时候肯定是加载不成功的，然后我把version和schema再修改回来，然后reload，结果我一个正常运行的插件，就不能运行。
 3.当然这些情况一般只会发生在开发阶段的一些不规范的操作才能产生，但是我觉得因为在apisix的热加载文档有所体现，
因为根据apisix的文档，不管新增、修改、还是删除插件，都不需要重启服务，但是我发现在某些情况并不会热加载

[2021-12-10 04:24] xianshun163 opened #5766 "request help: when balancer retry occur ，let it to be a breaker"
### Issue description

Think  about this scene:
1、My app  have  3  pod
2、Then  pod  1  is  too busy  and  can not  make a response
3、apisix  call the  pod 1  and   will  have  a  time out fail   after  6s
4、apisix  will  retry  next pod  and  success
then， another request come ， and  the   apisix  do  again  as  above

I  think  when the pod 1 is time out  ,  it is  good to  have  a  breaker  ,  a

[2021-12-10 06:15] xianshun163 opened #5767 "bug: nacos.lua make some duplicate instance"
### Issue description

1、deploy a  service  to register to the nacos
2、config some rule  and service and upstreams  at the apisix
3、make a test
4、add some  log  at the balancer.lua, and  print the  upstream  nodes
5、 from the log  , that  is  3 instance  in the apisix,  but  that is  one  in the nacos.

I  read the  code  nacos.lua   ,and  find the reason:  it will get the same service  the  follo

[2021-12-10 06:31] Molio-tan commented on #5571
Hey guys, after many tries,I give up the GmSSL and choose the another TaSSL.Recently, they publish the newer package [tassl-1.1.1k](https://github.com/jntass/TASSL-1.1.1k) that based on openssl-1.1.1k.I made it success by this https://github.com/jntass/TASSL-1.1.1k/blob/master/%E8%BD%AF%E7%AE%97%E6%B3%95%E6%94%AF%E6%8C%81SSL%E5%8D%B8%E8%BD%BD%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97v1.03(%E6%A0%87%E5%8

[2021-12-10 06:31] #5571 closed

[2021-12-10 09:21] hepyu commented on #5692
I am sorry, its our product env. And business is busy, there is no time to reproduce it for me.

[2021-12-10 09:35] qq54903099 commented on #5710
just like hmac-plugin；global rules

[2021-12-10 12:36] moonming commented on #5755
Do we have other ways to switch out some CPU time? So many hard-coded `ngx_sleep(0)` do not look good enough.

[2021-12-10 12:44] kingmouse-yx commented on #5708
Bro, I also met the general problem, can you tell me how to solve it?

[2021-12-10 13:29] zsjinwei commented on #4942
I encount this issue too, could you show me how to rewrite using serverless-functions?

[2021-12-11 02:19] Fatpa commented on #5751
Can show the warning in the apisix error log?

[2021-12-11 08:09] tokers commented on #5751
These types of logs should print with the `info` or `notice` level.

[2021-12-11 09:33] #5751 closed

[2021-12-12 06:53] yunfhu opened #5775 "request help: stream-proxy as mysql proxy not work"
### Issue description

I checked the route config, found auto filled the schema with "http",is that lead to the proxy not work?

#### apisix config.yaml

####  stream_routes information

[2021-12-12 14:50] yunfhu commented on #5775
inside the apisix pod,I use the telnet command to check the stream proxy route, it shows ok

[code]
but when I use the nodeport to test proxy function, the connection was closed

[code]
and here is the service information:

[code]

[2021-12-12 15:41] tzssangglass commented on #5755
yes, it looks strange. But I only know that `ngx_sleep(0)` can do it.

[2021-12-12 15:44] tzssangglass commented on #5749
The prerequisite is that the plugin code works properly. I don't think there's much need to make compatibility for code that doesn't work properly, it's just useless.

[2021-12-12 15:47] tzssangglass commented on #5471
can you submit a new issue about this? and with more detailed description of the reproduction steps, configuration, etc. this looks like a bug.

[2021-12-13 01:07] zero-create commented on #5723
关闭server-info插件后，cpu运行正常了

禁用server-info插件后，cpu恢复正常，没有升高了

[2021-12-13 01:26] #5400 closed

[2021-12-13 01:33] juzhiyuan commented on #5723
Hi @tzssangglass @leslie-tsang, could you please have a check on why this happened?

[2021-12-13 01:34] juzhiyuan commented on #5723
Not sure if it's a bug, I will reopen this one.

[2021-12-13 01:41] tokers commented on #5723
@zero-create Could you give the plugin attribute setting for `server-info`?

[2021-12-13 01:43] zero-create commented on #5723
没有配置过，都是docker部署的，默认参数，已经反馈给QQ群的联系人了，在提供的环境中，复现了这个问题

[2021-12-13 01:46] tokers commented on #5755
I think we may only need to focus on some critical paths, not all of them need to be yielded. Could you generate a flamegraph?

[2021-12-13 01:54] spacewander commented on #5775
@bisakhmondal
Could you check if MySQL can be proxied via APISIX? Thanks!

[2021-12-13 02:08] juzhiyuan commented on #5714
Great!!

[2021-12-13 02:25] bzp2010 commented on #5714
## Update
The current OPA basic support plugin has been completed and will begin the phase 2 of feature development on the roadmap. So I reopened this issue to track the status of the next PR.

[2021-12-13 02:46] juzhiyuan commented on #5714
cc @yzeng25 to know this. 😄

[2021-12-13 02:48] yzeng25 commented on #5714
Cool! Got it!

[2021-12-13 02:50] yunfhu commented on #5775
pls read previous comments which described very clearly

[2021-12-13 03:04] bzp2010 commented on #5714
Hi, @anderseknert.

The development of `stage 1: basic support` in the current roadmap has been completed and the PR is here #5734.
I have some questions for you here. Does the OPA community have any use case or best practices for "response overwriting (e.g., status codes or headers) in case of authentication failure"?

Thanks.

[2021-12-13 03:21] bzp2010 commented on #5714
Hi, @spacewander.

I noticed in the OPA documentation the Envoy related use case, which contains the input content of the OPA filter to the OPA service in the following format. Is it necessary to adjust our current input to make it somewhat compatible with the OPA policy that was written for Envoy filter?
[code]

[2021-12-13 03:24] Jon-Gaara commented on #5749
ok,i know

[2021-12-13 03:33] wujie1993 commented on #5440
Any solutions? I have the same issue

[2021-12-13 04:41] spacewander commented on #4812
Already done.

[2021-12-13 04:41] #4812 closed

[2021-12-13 04:49] gxthrj opened #5780 "DISCUSS: Add a plugin that filters specific requests through regular matching"
### Issue description

Thinking of the recent [security vulnerabilities in Apache log4j2](http://cve.mitre.org/cgi-bin/cvename.cgi?name=2021-44228), We can provide such a universal plug-in for APISIX to filter out some illegal requests through some regularities, although this is not the ultimate solution to the vulnerability.

The fastest solution is to use the serverless plug-in to quickly define

[2021-12-13 05:22] #5749 closed

[2021-12-13 05:27] bisakhmondal commented on #5775
Hi @yunfhu, thanks for the detailed analysis

Yes, I also have tested locally, there is no issue from the APISIX side while proxying the request to the MySQL server with the correct route configuration.

Got your point.

"create_time": 1639291584,
"id": "1",
"server_addr": "10.1.2.177",
"server_port": 9100,
"update_time": 1639291584,
"upstream": {
"hash_on": "vars",
"nodes": {
"10.1.2.171:3306": 1

[2021-12-13 06:13] spacewander commented on #5755
I think this solution is similar to https://github.com/Kong/kong/commit/3fc396173856d6377d906543d6e538fccd3fea28?

Maybe we can also use counter for it: https://github.com/Kong/kong/blob/d65101fe80fd7ac9870a84d34d81bda8bcb461ac/kong/tools/utils.lua#L1438

[2021-12-13 06:58] qq54903099 opened #5784 "request help: hmac-auth how to resist replay attacks"
### Issue description

how to use hmac-auth plugin to resist replay attacks.

### Environment

- apisix version (cmd: `apisix version`): 2.10.2
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin

[2021-12-13 07:48] yunfhu commented on #5775
@bisakhmondal thanks for your advice, the access works now

[2021-12-13 07:48] #5775 closed

[2021-12-13 07:56] bisakhmondal commented on #5775
@yunfhu Glad, it worked. You can also take a look at the documentation added at #5783
Have a nice day!

[2021-12-13 08:08] leslie-tsang opened #5785 "request help: add offline installation for `how-to-build.md`"
### Issue description

Currently, the installation docs of Apache APISIX doesn't mention the offline installation scenarios, which is common in the enterprise.

## Solution
add a offline installation demo in [how-to-build.md](https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md)
[code]

[code]

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`)

[2021-12-13 08:26] moonming commented on #5780
so do you means Apache APISIX needs a WAF plugin?

[2021-12-13 08:27] moonming commented on #5780
I think it's a big thing, so please send this discussion to ML too, thanks.

[2021-12-13 09:05] 123liubao commented on #5785
I want to work on this, please assign it to me.

[2021-12-13 09:25] tokers commented on #5785
@123liubao Assigned.

[2021-12-13 09:33] tokers commented on #5784
@qq54903099 Could you give more details?

[2021-12-13 09:49] qq54903099 commented on #5784
https://www.jianshu.com/p/ee2b88364664

like parameter nonce

[2021-12-13 10:56] anderseknert commented on #5714
That's really exciting! Thanks for your work on this @bzp2010 , and everyone else who has been involved 👍

As for best practices, no not really. It's important to note that OPA doesn't do _enforcement_ by design, so IMHO the status code for the client to return upstream should be decided by the client/caller. For an HTTP Gateway this would likely be a 403, but if we leave that decision to the clie

[2021-12-13 11:01] bzp2010 commented on #5714
The first point is got, while I will try to do some work on the second point.

[2021-12-13 11:23] jinghuaz commented on #5708
[crit] 51#51: *132869 connect() to unix:/usr/local/apisix/conf/apisix-47.sock failed (13: Permission denied),
 [error] 51#51: *132869 [lua] init.lua:689: phase_func(): failed to connect to the unix socket unix:/usr/local/apisix/conf/apisix-47.sock: permission denied,
[warn] 51#51: *132869 [lua] plugin.lua:722: run_plugin(): ext-plugin-pre-req exits with http status code 503,

[2021-12-13 15:55] bzp2010 commented on #5714
## Update
Stage 2 PR #5779 and scheme here [https://github.com/apache/apisix/pull/5779#issuecomment-992616536](https://github.com/apache/apisix/pull/5779#issuecomment-992616536)

[2021-12-14 01:44] zjzwjcbj opened #5791 "request help: Custom plugin reload but unknown plugin"
### Issue description

I add a custom plugin and reload.But find unknown plugin.(Installed by Helm)
![image](https://user-images.githubusercontent.com/26433840/145916733-5a0725d9-2441-4c7f-af9a-bc72aea168c5.png)

![image](https://user-images.githubusercontent.com/26433840/145916806-87c50d3a-3d30-412a-8706-bd8efed4cc61.png)

![image](https://user-images.githubusercontent.com/26433840/145916857-a92c

[2021-12-14 02:19] guoweia opened #5792 "request help: Apisix proxy static resource ? (针对#4889 问题的讨论)"
### Issue description

之前有一个issue被关掉了（#4889 ），无法继续讨论。
有两种方式实现这个需求，但是都不完美：
1.在nginx中增加配置，就是上一个issue提到的https://apisix.apache.org/docs/apisix/customize-nginx-configuration，这样的缺点是放弃了apisix对静态资源的管控，比如灰度发布场景，就无法实现；
2.增加一个nginx承接静态资源情况，这种方式的缺点是需要增加部署，增加网络消耗和静态资源服务器；
如果技术上可行，希望apisix能够原生支持静态资源的处理，解决上面两个方案的不足。

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty /

[2021-12-14 02:43] tzssangglass commented on #5791
looks like it has something to do with your plugin code

[2021-12-14 02:46] zjzwjcbj commented on #5791
an example
![image](https://user-images.githubusercontent.com/26433840/145923767-a73d0f63-4bfb-4f38-9c29-e524a39c2e53.png)

[2021-12-14 02:55] zaunist opened #5795 "Feature request : install_dependencies support install etcd separately"
### Issue description

Sometimes, we just need install etcd, ref [here](https://github.com/apache/apisix/pull/5718#discussion_r768255311). But install_dependencies.sh not support this feature, it will install all dependencies of APISIX. Should we support install etcd separately in install_dependencies.sh ?

example:
[code]

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `una

[2021-12-14 02:58] juzhiyuan commented on #5792
Hi @guoweia,

This issue is closed by its author, maybe the author thought https://github.com/apache/apisix/issues/4889#issuecomment-905161689 has resolved the issue?

AFAIK, Apache APISIX is more focused on Microservices management, not sure if it's suitable to support more powerful Static Files 🤔

Let's seek help from @leslie-tsang @tzssangglass 😄

[2021-12-14 03:17] Baoyuantop commented on #5791
It looks like your plugin is not loaded correctly by APISIX, you can get some information in the `error.log` of APISIX.

[2021-12-14 03:25] zjzwjcbj commented on #5791
but no error log and I found cannot add 'server-info' plugin
![image](https://user-images.githubusercontent.com/26433840/145927611-bb8fd38a-042d-4315-94bb-6a3bd659a3f3.png)

[2021-12-14 03:33] guoweia commented on #5792
I discussed this scenario a long time ago. I found that it is mentioned every week in the QQ group. From the perspective of the market, it is recommended to consider it.

[2021-12-14 04:02] tzssangglass commented on #5791
`apisix/plugins` dir should has the plugin file, and plugin file name should same as `plugin_name`.

can you use PUT method to try?

[2021-12-14 04:03] tzssangglass commented on #5795
LGTM

[2021-12-14 05:18] juzhiyuan commented on #5792
Get it, will wait for more thoughts from community.

[2021-12-14 05:19] juzhiyuan commented on #5792
BTW, we will have an online meeting tomorrow, see https://github.com/apache/apisix/discussions/5786 for more information. Welcome to join in.

[2021-12-14 05:44] zjzwjcbj commented on #5791
same
![image](https://user-images.githubusercontent.com/26433840/145940062-33e605f7-6f05-4ad9-b512-552d3260b156.png)

[2021-12-14 05:52] zjzwjcbj commented on #5791
when I reload

![image](https://user-images.githubusercontent.com/26433840/145940607-dec3c571-7f05-4e0c-b5ff-7b6349e29338.png)

and in config-default.yaml
![image](https://user-images.githubusercontent.com/26433840/145940773-131fb04f-5e88-41d0-a265-6c6ed50ce026.png)

**when I reload, the log:**

2021/12/14 05:46:08 [warn] 163#163: *9181384 [lua] plugin.lua:151: load(): new plugins: {"ip-restrictio

[2021-12-14 06:13] #5673 closed

[2021-12-14 06:18] spacewander commented on #5784
@bisakhmondal
Yes, you are right. 👍

[2021-12-14 06:30] zhangyiyou5 opened #5796 "bug: The traffic split plug-in runs and reports an error according to the official configuration"
### Issue description

config:

[code]

### Environment

- apisix version (cmd: `apisix version`): 2.11
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):OpenResty
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue is

[2021-12-14 07:13] shoulda opened #5797 "request help: what is the meaning of allowlist in ua-restriction?"
### Issue description

request's user-agent  not in allowlist   also can suceess? is it right?

=== TEST 14: hit route and user-agent not in allowlist
--- request
GET /hello
--- more_headers
User-Agent:foo/bar
--- error_code: 200
--- response_body
hello world

[2021-12-14 07:51] leslie-tsang commented on #5797
I'm afraid the answer is yes, `ua-restriction` [test case 14](https://github.com/apache/apisix/blob/936d9ac72b722b308a0a0dce01e0784a135d0cef/t/plugin/ua-restriction.t#L300-L307) work as expected, Ref to [ua-restriction code block](https://github.com/apache/apisix/blob/936d9ac72b722b308a0a0dce01e0784a135d0cef/apisix/plugins/ua-restriction.lua#L94-L121)

[2021-12-14 08:00] zuiyangqingzhou opened #5798 "bug: the presence of plugin information is overwritten when generating the schema.json file"
### Issue description

When adding a custom plugin or modifying the schema of the plugin, the schema file is generated through the `127.0.0.1:9090/v1/schema` interface, but it is found that the http plugin and stream plugin information are overwritten by each other

### Environment

- apisix version (cmd: `apisix version`): 2.9
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` o

[2021-12-14 08:06] shoulda commented on #5797
OK，according to the ua-restriction match_user_agent code block,it is ok; i am confuse of the meaning of allowlist, the function of allowlist just filters denylist?

[2021-12-14 08:33] leslie-tsang commented on #5797
Admittedly, the way `ua-restriction' works a bit counter-intuitive to human intuition.

Image a scenario that you need to make sure only the target client can access the API in a LAN like `192.168.1.0/24`
Then you can add a CIDR to denylist, such as `192.168.1.0/24`, and `192.168.1.100` to the allow list.

[2021-12-14 09:08] shoulda commented on #5797
ok,thanks

[2021-12-14 09:15] leslie-tsang commented on #5797
@juzhiyuan @shoulda Consider solved. Feel free to reopen it if need.

[2021-12-14 09:22] laughingyear opened #5799 "request help: install issue"
### Issue description

![image](https://user-images.githubusercontent.com/86775317/145970037-1efe8ac0-9789-41e4-a837-27a87fea7b7d.png)
真的可以用吗

### Environment
apisix version
lua ./apisix/cli/apisix.lua version
lua: error loading module 'ssl.core' from file '/root/apisix-2.11.0/deps/lib/lua/5.1/ssl.so':
/root/apisix-2.11.0/deps/lib/lua/5.1/ssl.so: undefined symbol: SSL_CTX_set1_curves_list

uname -

[2021-12-14 09:26] tokers commented on #5799
@bournefeng You can paste your problems here so that we can know how to help you.

[2021-12-14 09:28] bournefeng commented on #5799
apisix version
lua ./apisix/cli/apisix.lua version
lua: error loading module 'ssl.core' from file '/root/apisix-2.11.0/deps/lib/lua/5.1/ssl.so':
        /root/apisix-2.11.0/deps/lib/lua/5.1/ssl.so: undefined symbol: SSL_CTX_set1_curves_list

uname -a
Linux VM-166-181-centos 3.10.107-1-tlinux2_kvm_guest-0049 #1 SMP Tue Jul 30 23:46:29 CST 2019 x86_64 x86_64 x86_64 GNU/Linux

openresty -V
nginx vers

[2021-12-14 09:29] leslie-tsang commented on #5799
Hello there, can you fill in the "Environment" section in the description ?

[2021-12-14 09:31] tokers commented on #5796
How did you load this plugin, the error log indicates the `scripts` in a route cannot be loaded since the Lua syntax error. It's not related to your traffic split plugin config.

[2021-12-14 09:58] #5797 closed

[2021-12-14 09:58] juzhiyuan commented on #5797
ok

[2021-12-14 10:09] zhangyiyou5 commented on #5796
我是按照官方示例配置来设置的。
而且这个配置，用在老版本apisiz ，是可以正常用的。

[2021-12-14 10:10] zhangyiyou5 commented on #5796
这个配置，放在旧版本中，是可以用的。
新版本就会提示这个语法错误

[2021-12-14 10:46] membphis opened #5800 "feat: support to use `plugin_config_id` for `consumer` object"
### Issue description

Now, the `router` object supports the `plugin_config_id`, here is the doc link: https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#route

And I think we need to support `plugin_config_id` for `consumer` object.

What do you think?

### Environment

- all version

[2021-12-14 10:56] bournefeng commented on #5799
curl https://raw.githubusercontent.com/apache/apisix/master/utils/install-dependencies.sh -sL | bash -
+ main
++ uname -s
++ tr '[:upper:]' '[:lower:]'
+ OS_NAME=linux
+ [[ linux == \l\i\n\u\x ]]
+ multi_distro_installation
+ grep -Eqi CentOS /etc/issue
+ grep -Eq CentOS /etc/centos-release /etc/os-release /etc/redhat-release /etc/system-release /etc/tlinux-release
+ install_dependencies_with_yum

[2021-12-14 11:36] abbluiz-userh commented on #487
Organization: UseRH
Location: Vitória, Brazil
Contact: desenvolvimento@userh.com.br
Purpose: API gateway/load balancer for micro services

[2021-12-14 12:03] laughingyear commented on #5799
openresty -v
nginx version: openresty/1.15.8.1

luarocks --version
/usr/bin/luarocks 3.5.0

now I run:
apisix init

[2021-12-14 12:30] jusm opened #5801 "request help: dashboard 不能访问 tcp6 0 0 :::9000 :::* LISTEN 32009/./manager-api"
### Issue description

tcp6       0      0 :::9000                 :::*                    LISTEN      32009/./manager-api

### Environment

- apisix version (cmd: `apisix version`): 2.10
- OS (cmd: `uname -a`):   linux centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-i

[2021-12-14 13:10] juzhiyuan commented on #5801
Hi @jusm, could you please provide more information about your questions?

[2021-12-14 13:13] juzhiyuan commented on #5796
Hi, please provide more information about your issue, then we could know what exactly you encounter.

Back to your question, please provide your reproduction steps in more detailed.

[2021-12-14 13:16] juzhiyuan commented on #5799
Please follow this doc https://apisix.apache.org/docs/apisix/how-to-build to install Apache APISIX, thanks.

[2021-12-14 14:05] tzssangglass commented on #5791
can you show the `third-party` plugin' code as text, let me check it.

[2021-12-14 14:09] tzssangglass commented on #5799
same as https://github.com/apache/apisix/issues/4594

try with https://github.com/apache/apisix/issues/4594#issuecomment-879225419

[2021-12-14 14:13] tzssangglass commented on #5796
can you show how to push this config?

[2021-12-14 16:09] danielkocot opened #5802 "bug: no connection to MQTT broker possible by using mqtt_proxy"
### Issue description

By using the mqtt_proxy plugin it isn't possible to make up a connection to the mqtt broker, in this case mosquitto. All done with docker compose.

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`): Darwin Kernel Version 20.6.0

### Steps to reproduce

1. create docker environment based on APISIX-docker with additional mosquitto service

[2021-12-15 01:09] spacewander commented on #5784
Consider solved. Feel free to reopen it if need.

[2021-12-15 01:09] #5784 closed

[2021-12-15 01:14] yzeng25 commented on #5714
Apache APISIX is added to OPA's ecosystem page :) Thanks @anderseknert for reviewing https://github.com/open-policy-agent/opa/pull/4137 and https://github.com/open-policy-agent/opa/pull/4138

![image](https://user-images.githubusercontent.com/36651058/146104481-661edea6-db35-4c4d-bfa2-ba59646f3286.png)

cc @juzhiyuan @bzp2010

[2021-12-15 01:18] juzhiyuan commented on #5714
👏

[2021-12-15 01:18] juzhiyuan commented on #5714
Its here: https://www.openpolicyagent.org/docs/latest/ecosystem/

[2021-12-15 01:19] spacewander commented on #5798
There are two limit-conn plugins:
https://github.com/apache/apisix/blob/master/apisix/plugins/limit-conn.lua
https://github.com/apache/apisix/blob/master/apisix/stream/plugins/limit-conn.lua

Which plugin do you add the field to?

[2021-12-15 01:22] tzssangglass commented on #5767
I don't really understand this. how did you determine that there were three instances? AFAIK, it is possible that the logs are output by different workers.

pls provide some more information.

[2021-12-15 01:23] zjzwjcbj commented on #5791
local core = require("apisix.core")
local plugin_name = "third-plugin"
local schema = {
    type = "object",
    properties = {
        content = {
            type = "string" }
    }
}

local _M = {
    version = 0.2,
    priority = 5000,
    name = plugin_name,
    schema = schema,
}

function _M.access(conf, ctx)
    core.log.warn("test--------")
    core.log.warn(conf.content)
end

return _M

[2021-12-15 01:26] zjzwjcbj commented on #5791
The code should be ok.I changed the 'key-auth.lua' plugin with this code and it worked.
![image](https://user-images.githubusercontent.com/26433840/146105733-e5656ea3-ba2b-4330-96ea-08f4ab81fbd2.png)

[2021-12-15 01:31] tzssangglass commented on #5791
I cannot reproduce it.

[code]

here is my log, you can see that plugin is in used.
[code]

[2021-12-15 01:33] tzssangglass commented on #5791
You can check if the plugin file exists in the `apisix/plugins/` directory and the permissions of the file.

[2021-12-15 01:35] zjzwjcbj commented on #5791
And  I change the

Seem no difference
![image](https://user-images.githubusercontent.com/26433840/146106683-a55c76fa-d00b-4dd2-9e74-b20a51b15c88.png)

[2021-12-15 01:37] zjzwjcbj commented on #5791
Can it be the version problem
![image](https://user-images.githubusercontent.com/26433840/146106823-797c209e-7413-4992-a726-aebbbf83b134.png)

[2021-12-15 01:45] zjzwjcbj commented on #5791
I  change the config-default.yaml  and the config.yaml is not changed.  Is it right?
![image](https://user-images.githubusercontent.com/26433840/146107651-0160b750-964b-49b7-a789-3a30d23361a5.png)

[2021-12-15 01:45] tzssangglass commented on #5791
my version is 2.10.2, I don't think it's a version problem.

[2021-12-15 01:46] tzssangglass commented on #5791
no, we should not change `config-default.yaml`.

[2021-12-15 01:51] zjzwjcbj commented on #5791
I use /apisix/admin/plugins/third-plugin   can find
![image](https://user-images.githubusercontent.com/26433840/146108252-03cf97df-2e78-468a-8721-6776a24b022a.png)

[2021-12-15 01:52] tzssangglass commented on #5755
counter is for call yield in a loop?

[2021-12-15 02:07] laughingyear commented on #5799
i try as follow:
"
You can try the following steps:

rm -rf /apisix-path/deps
Recompile and install luarocks and specify the luajit header file directory, for example: ./configure --with-lua-include=/openresty-path/luajit/include/luajit-2.1
Enter the apisix directory and re-execute make deps to install dependencies
"

when i rerun "make deps"
it shows:
Error: Failed installing dependency: https://

[2021-12-15 02:38] juzhiyuan commented on #5799
No idea what happened 🤣🤣 need @shuaijinchao's help.

[2021-12-15 02:52] ctdsyz opened #5812 "feat: support to use plugin_config_id for Service"
### Issue description

Now, only Route supports the plugin_config_id to reuse common plugin configurations.

It is useful to support plugin_config_id for Service too, since it already has a property named "plugins":
  https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#service

### Environment

- all version

[2021-12-15 02:52] sunyu-2020 opened #5813 "request help: Data import problem"
### Issue description

How to import apisix.yaml into etcd cluster

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, i

[2021-12-15 02:55] zuiyangqingzhou commented on #5798
this one: https://github.com/apache/apisix/blob/master/apisix/plugins/limit-conn.lua

export via `127.0.0.1:9090/v1/schema` will be overwritten by stream limit-conn

[2021-12-15 02:56] zaunist commented on #5799
Hi, @laughingyear . Did you compile the kernel yourself? The version `2.2` looks like a customised kernel. If you use customised kernel, this guide may not be for you.

[2021-12-15 02:59] leslie-tsang commented on #5813
You mean start APISIX via `standalone mode` and then migrate the configuration in `apisix.yaml` to etcd cluster ?

[2021-12-15 02:59] sunyu-2020 opened #5814 "bug: java plugin error permission denied"
### Issue description

Use java to develop extension plug-ins,se docker as a container,when the network is abnormal or the container restarts,the sock file in the container reports an error:permission denied

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl htt

[2021-12-15 03:11] sunyu-2020 commented on #5813
Yes, is there a solution that has been implemented

[2021-12-15 03:13] laughingyear commented on #5799
is there some way i can install？

[2021-12-15 03:19] zaunist commented on #5799
If you use customised kernel, you need install dependencies by your self. There is a shell script to install dependencies, you could refer [here](https://github.com/apache/apisix/blob/936d9ac72b722b308a0a0dce01e0784a135d0cef/utils/install-dependencies.sh#L46)

[2021-12-15 03:20] zaunist commented on #5799
If you use customised kernel, you need install dependencies by your self. There is a shell script to install dependencies, you could refer [here](https://github.com/apache/apisix/blob/936d9ac72b722b308a0a0dce01e0784a135d0cef/utils/install-dependencies.sh#L46)

[2021-12-15 03:21] dyrnq commented on #5814
open  user  configuration, such as `root` or other user with permission

[code]

[2021-12-15 03:22] shuaijinchao commented on #5813
Currently there is no support for importing standalone mode data into etcd.

[2021-12-15 03:28] vcqr opened #5815 "bug: using nacos for service discovery, no support for spring cloud programs?"
### Issue description

[error] 47#47: *117481 upstream prematurely closed connection while reading response header from upstream

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- api

[2021-12-15 03:29] zhangyiyou5 commented on #5796
The replication process has been updated

[2021-12-15 03:29] zhangyiyou5 commented on #5796
The replication process has been updated

[2021-12-15 03:41] juzhiyuan commented on #5796
Thanks!

May need @nic-chen's help to have a check 😄

[2021-12-15 04:01] laughingyear commented on #5799
I change the apache-apisix.repo

chage baseurl from
baseurl=https://repos.apiseven.com/packages/centos/$releasever/$basearch

to
baseurl=https://repos.apiseven.com/packages/centos/7/$basearch

then i reinstall apisix:
yum install apisix

it shows:

Error: Package: apisix-base-1.19.9.1.0-0.el7.x86_64 (release)
           Requires: openresty-openssl111 >= 1.1.1h-1
Error: Package: apisix-base-1.19.9.

[2021-12-15 05:47] zjzwjcbj opened #5817 "request help: mac m1 make install error cannot mkdir /usr/share/lua"
### Issue description

macos Big Sur. M1 .When make install ,shows cannot mkdir /usr/share/lua .  I have closed SIP .How can I do?

<img width="532" alt="截屏2021-12-15 上午9 55 51的副本" src="https://user-images.githubusercontent.com/26433840/146130503-52afa4e6-c005-4c24-9864-d84b33955929.png">

### Environment

- apisix version (cmd: `apisix version`):2.10.0
- OS (cmd: `uname -a`):
- OpenResty / Nginx

[2021-12-15 06:56] nic-chen commented on #5796
@zhangyiyou5  could you show the config of the route stored in ETCD?

[2021-12-15 07:04] laughingyear commented on #5799
i reinstall openresty

Installed:
  openresty.x86_64 0:1.19.9.1-1.el7

Dependency Installed:
  openresty-openssl111.x86_64 0:1.1.1l-1.el7                                    openresty-pcre.x86_64 0:8.44-1.el7                                    openresty-zlib.x86_64 0:1.2.11-3.el7.centos

then i reinstall apisix
it shows:

Error: apisix-base conflicts with openresty-1.19.9.1-1.el7.x86_64
 You could

[2021-12-15 07:19] spacewander commented on #5798
Fixed in https://github.com/apache/apisix/pull/4947

[2021-12-15 07:19] #5798 closed

[2021-12-15 07:45] tzssangglass commented on #5791
I'm not familiar with k8s deployments. @tokers do you have any idea?

[2021-12-15 08:44] zhangyiyou5 commented on #5796
[code]

[2021-12-15 10:28] moonming commented on #5802
@danielkocot please try https://github.com/apache/apisix/pull/5816; thanks for your report 👍

[2021-12-15 10:52] tokers commented on #5791
It's not related to the version, make sure whether the confit.yaml is mounted to the pod and contains such plugin.

[2021-12-15 11:03] zjzwjcbj commented on #5791
The config.yaml not contains this plugin and the config.yaml cannot change.
![image](https://user-images.githubusercontent.com/26433840/146175233-70596006-eb5e-49ea-b0c2-4541e3114b09.png)

[2021-12-15 11:43] tokers commented on #5817
Strange, it this directory mounted separately?

[2021-12-15 11:55] tokers commented on #5791
try to check out the apisix-helm-chart repo and mount this 3rd plugin, instead of changing it by yourself.

[2021-12-15 12:18] zjzwjcbj commented on #5817
This directory cannot mount.  Even if I edit /etc/synthetic.conf

[2021-12-15 12:21] danielkocot commented on #5802
Hi @moonming, for me that still isn't working. I don't see any traffic in the access.log.

[2021-12-15 12:22] zjzwjcbj commented on #5791
I can't understand. Can you elaborate more?

[2021-12-15 14:20] moonming commented on #5802
@spacewander please take a look, thanks

[2021-12-15 14:56] panhow commented on #3498
i got the same problem.
reproduce steps:
1. configure a upstream with healthcheck
2. use `wrk` on 3 nodes, 100 concurrency connections to reqeust the same route

guess this promblem occurs cuz active healthcheck will active after first request to upstream, before heallthcheck active, get the initialized healthy nodes list, checker return `nil`  to balancer_by_lua

[2021-12-16 01:28] tokers commented on #5791
See https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/README.md, and you check focus on the configurations about `apisix.customPlugins`.

[2021-12-16 02:12] bingoku opened #5826 "request help: How to get request header and response header?"
### Issue description

Get some specific headers, and then do some current limiting operations

### Environment

Such as title

[2021-12-16 02:58] xianshun163 commented on #5767
I write a log  at  the  upstream.lua  at  250  line:
    246         local new_nodes, err = dis.nodes(up_conf.service_name, up_conf.discovery_args)
    247         if not new_nodes then
    248             return HTTP_CODE_UPSTREAM_UNAVAILABLE, "no valid upstream node: " .. (err or "nil")
    249         end

    251         local same = upstream_util.compare_upstream_node(up_conf, new_nodes)

[2021-12-16 02:59] xianshun163 commented on #5767
It is like the message  above .

[2021-12-16 03:43] 532810439 opened #5827 "init_worker_by_lua error: ./apisix/plugins/prometheus/exporter.lua:17: module 'prometheus' not found:"
### Issue description

get  apisix-release-2.7.zip    from  https://github.com/apache/apisix/releases

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if h

[2021-12-16 04:49] spacewander commented on #5802
The access.log is only for HTTP requests. Can `mosquitto_sub -t test -v` subscribe the proxy publish info?

[2021-12-16 04:50] spacewander commented on #5827
The zip is not the official release. Please read https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md to know how to install.

[2021-12-16 04:50] #5827 closed

[2021-12-16 06:22] 532810439 commented on #5827
now，I don't want to use OpenSSL。

wget  https://downloads.apache.org/apisix/2.7/apache-apisix-2.7-src.tgz

Report the same error

[error] 120522#0: init_worker_by_lua error: ./apisix/plugins/prometheus/exporter.lua:17: module 'prometheus' not found:
no field package.preload['prometheus']
no file '/home/cicv/apisix-release-2.7//deps/share/lua/5.1/prometheus.lua'
no file '/home/cicv/apisix-release-2

[2021-12-16 06:29] membphis commented on #3498
@panhow this issue is old.

you can create a new issue with your reproduce steps(apisix version, os version, etc.)

https://github.com/apache/apisix/issues/new?assignees=&labels=&template=bug_report.yml&title=bug%3A+

[2021-12-16 07:34] danielkocot commented on #5802
I'm using the mqtt client but subscription doesn't work either.

[2021-12-16 07:48] juzhiyuan commented on #5802
May I know if there have more error information that could help to debug?

[2021-12-16 07:53] juzhiyuan commented on #5826
Hi @bingoku, please provide more details information about your needs/questions :)

[2021-12-16 08:13] juzhiyuan commented on #5708
Hi, please create a new issue and attach the detailed reproduction steps, so we could help you :)

[2021-12-16 09:11] spacewander commented on #5802
I tried `mosquitto_pub -t test -m "Hello" -h 127.0.0.1 -p 9100` & `mosquitto_sub -t test -v`, and it worked well with me.

Maybe you can provide the detailed commands & configuration so we can reproduce it?

[2021-12-16 09:21] xuminwlt commented on #5817
It is not the problem of M1, but also the permissions of MAC system to system path.see "macos sip".

[2021-12-16 10:10] zaunist commented on #5817
Hi, @zjzwjcbj . It's recommend to develop on Linux.

[2021-12-16 10:15] nic-chen commented on #5796
hi @tzssangglass

Do you have time to help take a look? thanks!
The script generated by the dashboard looks like this:

[code]

[2021-12-16 10:18] panhow commented on #3498
thx for replied, after i reproduce on latest apisix, i will create a new issue with reproduce steps.

i tried on ``2.10`` this morning, but it didn't reproduce again,  i dont known  it has been fixed or not enough pressure for the server.

[2021-12-16 15:23] lizhouyang opened #5834 "request help: how to set redirect_uri, when i use openid-connect"
### Issue description

hello , i use [spring-authorization-server](https://github.com/spring-projects/spring-authorization-server) as a OpenID authorization server. It requires a redirect_uri to limit the redirect .  In apisix settings how to set it?
here is my settings:
[code]
when use authorization_code , it can make the code，but apisix can't use it.
so ,what's the correct redirect_uri?
### Envi

[2021-12-16 15:30] tzssangglass commented on #5796
should be

[code]

putting this code in IDEA quickly reveals the error

![image](https://user-images.githubusercontent.com/30819887/146400297-4bccb2aa-9afa-426c-a311-786efcaa9e08.png)

[2021-12-16 15:41] tzssangglass commented on #5767
do the following request to your nacos and what do you get

[code]

[2021-12-16 22:32] danielkocot commented on #5802
I used the mqtt client from HiveMQ. Now I used mosquito_pub with `mosquitto_pub -t test -m "Hello" -h 127.0.0.1 -p 9100` and the result is `Error: The connection is lost`.

[2021-12-16 22:46] nic-chen commented on #5796
thanks!

[2021-12-17 01:18] tzssangglass commented on #5817
Recommended for development on x86 systems, dependency support on M1 is not complete.

[2021-12-17 01:19] tzssangglass commented on #5817
@zjzwjcbj  we can close this?

[2021-12-17 01:20] tzssangglass commented on #5826
`core.request.header()` or `core.request.headers()`, it is easy to search in the code.

[2021-12-17 01:32] tzssangglass commented on #5827
zip file is source code of APISIX, as @spacewander said, you need to build APISIX form source code.

[2021-12-17 01:32] spacewander commented on #5802
Interesting. Here is the result running on my machine:
[code]

My stream route conf is:
[code]

My config.yaml is:
[code]

[2021-12-17 01:34] tzssangglass commented on #5814
@sunyu-2020 If you verify this is complete, would you be willing to submit a PR to add documentation about this?

[2021-12-17 01:37] #5817 closed

[2021-12-17 01:37] zjzwjcbj commented on #5817
Ok,thanks.

[2021-12-17 02:12] wu-sheng commented on #4301
@dmsolr Any update about this?

[2021-12-17 02:16] chanjet1213 opened #5837 "request: Expect monitoring metrics to add monitoring of nginx shared memory usage"
### Issue description

期待监控指标添加对nginx共享内存使用情况的监控

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue is abo

[2021-12-17 02:32] shuaijinchao opened #5838 "improve: google-cloud-logging unable to set up SSL Verify"
### Issue description

`google-cloud-logging` SSL verification settings currently need to be configured in the auth_config structure or auth_file configuration file to take effect. Currently, when using the file key configuration configuration, the key file downloaded from Google Cloud is usually configured directly into APISIX. The default file does not contain SSL-related settings. At this time,

[2021-12-17 02:50] membphis commented on #3498
ok, got it.

[2021-12-17 02:50] #3498 closed

[2021-12-17 02:51] dmsolr commented on #4301
I am sorry for pending long time. I am going to release a version before next week.

[2021-12-17 02:52] dmsolr commented on #4301
I am sorry for pending long time. I am going to release a version before next week.

[2021-12-17 03:13] juzhiyuan commented on #5834
Hi @leslie-tsang, would you please take a look?

[2021-12-17 03:32] gxthrj commented on #5780
I think APISIX needs WAF plugin，but it is a universal plug-in with regular matching conditions, not enough to solve all WAF problems.

[2021-12-17 03:32] gxthrj commented on #5780
OK, will send to ML today.

[2021-12-17 03:42] juzhiyuan opened #5842 "docs: fold phrase in Chinese into one line"
### Improved or typo fixed.

Hi,

In our Chinese Documentations, we have `breaking lines` in original markdowns, e.g

[code]

And it's be rendered differently in different browsers, e.g

**Chrome**
![image](https://user-images.githubusercontent.com/2106987/146484860-9cd67745-f37c-4587-a204-2131a02cef49.png)

**Firfox**
![image](https://user-images.githubusercontent.com/2106987/146484869-e1405ef1-c

[2021-12-17 03:56] 532810439 opened #5844 "bug: When will GM SSL be supported"
### Issue description

GM/T 0024-2014 SSL VPN specification

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the i

[2021-12-17 03:59] tokers commented on #5844
I'm not so familiar with the GM SSL, could you give us the white paper, or the specification link, and some implementations?

[2021-12-17 04:08] #5785 closed

[2021-12-17 04:41] 532810439 commented on #5844
http://www.gb688.cn/bzgk/gb/newGbInfo?hcno=778097598DA2761E94A5FF3F77BD66DA

[2021-12-17 05:00] spacewander commented on #5844
Let's move to https://github.com/apache/apisix/issues/953

[2021-12-17 05:00] #5844 closed

[2021-12-17 05:09] spacewander commented on #953
For people who are interested in the GMSSL support feature:
This task is in the TODO list but doesn't have a plan.

It looks like the modification of GMSSL has been merged into OpenSSL. But we have not tested it yet.

If someone is willing to sponsor the development of GMSSL support, please contact us.

[2021-12-17 06:05] Horus-K opened #5847 "request help: proxy_pass cannot use https"
### Issue description

![image](https://user-images.githubusercontent.com/48319268/146496223-e54e935b-82c2-4a5d-afc7-fdebc6f472d2.png)
nginx returen 502
![image](https://user-images.githubusercontent.com/48319268/146496892-5aaac49a-9919-45df-a527-2e8906d8ab8a.png)
route use force https
![image](https://user-images.githubusercontent.com/48319268/146496958-f804133d-fae4-4ccd-a8d5-f35345cad8b9.png)

[2021-12-17 06:24] Horus-K commented on #5847
If proxy_pass uses http, then the route cannot be enabled to force https, otherwise there will be too many 301 redirects

[2021-12-17 06:39] GhangZh commented on #5708
Check that apisix config.yaml is correctly configured, the main reason for this error is that your configuration file does not read the configuration for listening here . You can look at this code apisix/apisix/plugins/ext-plugin/helper.lua

[2021-12-17 06:41] Horus-K commented on #5847
I used ingress-nginx to start force https, return code 308, proxy_pass can use https
On apisix, I used https forwarding and set ret_code 308. In the end, proxy_pass still redirected too many 301 and was not accessible

[2021-12-17 07:01] Horus-K commented on #5847
i see this https://github.com/apache/apisix/issues/2257 but ret_code still not work
![image](https://user-images.githubusercontent.com/48319268/146503014-7d7c15f9-b70b-4f81-9b89-bb419d6d6cca.png)
![image](https://user-images.githubusercontent.com/48319268/146503021-71ad7aa0-bd5d-4cd7-bafb-32dd5ca1ede3.png)

[2021-12-17 09:01] danielkocot commented on #5802
I use the stream route configuration from the documentation
`{
    "remote_addr": "127.0.0.1",
    "plugins": {
        "mqtt-proxy": {
            "protocol_name": "MQTT",
            "protocol_level": 5,
            "upstream": {
                "host": "127.0.0.1",
                "port": 1883
            }
        }
    }
}`
I will test it with your configuration :).

[2021-12-17 09:24] chanjet1213 opened #5849 "request help: dashboard认证登录"
### Issue description

dashboard何时支持认证登录？比如支持openLDAP。

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue

[2021-12-17 09:46] zjzwjcbj commented on #5791
Like this ?
helm install apisix apisix/apisix  --set gateway.type=NodePort --set admin.allow.ipList="{0.0.0.0/0}" --set apisix.customPlugins.enabled=true --set apisix.customPlugins.luaPath="/opt/apisix/custom_plugin/third-plugin.lua" --set apisix.customPlugins.plugins.name="third-plugin" -n apisix

[2021-12-17 09:48] 123libohan opened #5850 "request help:About use key-auth to control consumer access to different routes"
### Issue description

We want to use key-auth to control consumer access to different routes and prevent unauthorized consumers from accessing the route.
That's the way we do it right now:
1)POST:http://xxxx:9080/apisix/admin/consumers/
`{
    "username": "consumer_A",
    "plugins": {
        "key-auth": {
            "key": "consumer_A"
        }
    }
}`
2)POST:http://xxx:9080/apisix/admin/rou

[2021-12-17 09:57] tokers commented on #5850
@123libohan Is the number of consumers are huge in your case? And the consumer list in the Route is long?

[2021-12-17 10:04] #3037 closed

[2021-12-17 12:54] lizhouyang commented on #5834
我主要是不懂将redirect url 设置成什么，我已经获得了code

[2021-12-18 09:10] Carson-T opened #5851 "request help: how to install in ubuntu"
### Issue description

I can not find any course about how to install APISIX on ubuntu, please help me

### Environment

ubuntu20.04.3

[2021-12-18 14:17] yangxikun commented on #3891
I am writing an opentelemetry-lua sdk, and will integrate with APISIX.

[2021-12-19 03:06] juzhiyuan commented on #5802
Hi Daniel, if this is the root cause, kindly let us know 😄

[2021-12-19 04:14] zaunist commented on #5851
Hi, @Carson-T , we have a [repository](https://github.com/api7/apisix-build-tools) to packaging apisix for ubuntu, you can refer to package apisix on your machine.

[2021-12-19 04:43] bzp2010 commented on #5834
Enable this plugin on the route, when the user request arrives, APISIX will get the session in the request, if it cannot find it, it will jump to the OIDC authentication address (where the default value of redirect_uri is the path of the current request), when the authentication is completed, it will carry the code and state back to the original request address, then APISIX will send the code and

[2021-12-19 05:05] tokers commented on #5847
Please describe your architecture elaborately.

[2021-12-19 11:51] #5724 closed

[2021-12-19 13:13] dickens7 opened #5855 "bug: unambiguous fully-qualified domain name(FQDN), i.e. ended in a dot."
### Issue description

need to upgrade lua-resty-dns-client >=5.2.2

- https://github.com/Kong/lua-resty-dns-client#522-11-mar-2021

### Environment

- apisix version (cmd: `apisix version`): master

### Steps to reproduce

There is no

### Actual result

There is no

### Error log

There is no

### Expected result

_No response_

[2021-12-19 13:18] dickens7 commented on #5855
Domain names ended in a dot can solve this problem  #4874

[2021-12-19 15:22] Carson-T commented on #5851
thank you!!

[2021-12-19 15:22] Carson-T commented on #5851
thank you!!!

[2021-12-20 01:18] tzssangglass commented on #5851
consider as solved, feel free to reopen this if you need.

[2021-12-20 01:18] #5851 closed

[2021-12-20 01:28] spacewander commented on #5855
Thanks for the report. Could you submit a PR for this?

[2021-12-20 01:39] tzssangglass commented on #5837
It seems to be quite difficult, and if you use the ngx.shared.DICT API to monitor it, it will lose performance.

refer to: https://github.com/openresty/lua-nginx-module#ngxshareddictcapacity

[2021-12-20 02:18] Horus-K commented on #5847
We have 5 nginx online servers, we need to use proxy_pass to gray some traffic to apisix

[2021-12-20 02:21] Horus-K commented on #5847
And I need to know how to use proxy_pass https

[2021-12-20 02:25] zjzwjcbj commented on #5791
Can I use like this? Add parameters on helm install.
helm install apisix apisix/apisix   --set apisix.customPlugins.enabled=true --set apisix.customPlugins.luaPath="/opt/apisix/custom_plugin/?.lua"

[2021-12-20 02:58] tzssangglass commented on #5850
you can control the permissions on the service?

[2021-12-20 03:19] Zhang-Aoqi opened #5857 "request help: Prometheus Apisix"
### Issue description

I want to deploy Apisix and Prometheus on K8S through the Helm package, and monitor Apisix using Prometheus to count all requests that go through Apisix. Now how do I deploy integration monitors and how do I configure them?（我想在k8s上通过helm包部署Apisix和Prometheus，同时使用Prometheus监控Apisix，统计所有经过Apisix的请求数量。现在我该怎么部署集成监控他们呢，怎么去配置？）

### Environment

- apisix version (cmd: `apisix versi

[2021-12-20 03:43] gaobo0202 opened #5858 "bug: Using proxy-rewrite to overwrite the request header x-forwarded-proto failed"
### Issue description

Our upstream service relies on the parameter of x-forwarded-proto and uses the proxy rewrite plug-in to rewrite the parameter. The upstream service does not get the correct rewritten value
1. When APISIX configures the route, use proxy rewrite to rewrite the x-forwarded-proto parameter to http
2. After calling the domain name, it is found that the x-forwarded-proto obtained

[2021-12-20 05:25] lizhouyang commented on #5834
还是不行，贴一下我的思路，您帮我看下：

1. 建一个服务，提供OAuth的访问
[code]
2. 新建一个路由，将上面的服务关联到路由上。路由配置如下：
[code]
3. 浏览器访问`http://lizhouyang.cn:9080/web1/' 出现500错误。不跳转，如下图。域名已经映射到我个人MAC。
<img width="809" alt="企业微信截图_73fb9a73-b919-49a2-a924-ac2b569b530e" src="https://user-images.githubusercontent.com/6194509/146715410-c59b50c9-526e-40e7-a872-b784d8f2fa2f.png">

---------------------------
PS：补充一些材料
1. apisix采用docker部署，采用examp

[2021-12-20 06:09] Horus-K commented on #5847
location / {
        index index.html;
        proxy_pass https://xxxxxxx.com;

        proxy_set_header Host $proxy_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_ssl_session_reuse off;
        proxy_ssl_server_name on;
        proxy_ssl_name $proxy_host;
        proxy_ssl_protocols TLSv1.2;
    }  that's i

[2021-12-20 06:58] zjzwjcbj commented on #5791
I add the plugin in plugins in values.yaml  It worked.Thanks a lot

[2021-12-20 07:20] tisonkun opened #5860 "docs: team page broken"
### Improved or typo fixed.

![image](https://user-images.githubusercontent.com/18818196/146727616-698a9390-bd39-4d0c-b8dd-f58b5a7150ee.png)

https://apisix.apache.org/team/

### Solution

not yet

[2021-12-20 08:07] spacewander commented on #5860
We are handling it. CC @juzhiyuan

[2021-12-20 08:29] spacewander opened #5861 "request help: split the full CI into two parts (running t/plugin and the other)"
### Issue description

Sometimes the full CI "linux_openresty" https://github.com/apache/apisix/blob/4423509680a0c2103ce23b30a0da71735ef73e8f/.github/workflows/build.yml#L27
takes 50 minutes to complete.

Let's split it into multiple parts so the max single job time can be reduced.

We can pass an environment variable as the test file range in https://github.com/apache/apisix/blob/4423509680a0c210

[2021-12-20 08:33] lizhouyang commented on #5834
经过验证，如果用http://lizhouyang.cn:9080/web1/1   地址的话，就成功。如果用http://lizhouyang.cn:9080/web1/就出现上面的错误。  按照业务，我还是想能够在http://lizhouyang.cn:9080/web1/的路径上实现，请问我需要怎么调整呢？

[2021-12-20 08:43] lizhouyang commented on #5834
经试验，发现如果采用"http://lizhouyang.cn:9080/web1/"路径，就会出现上面的问题。如果采用”http://lizhouyang.cn:9080/web1/1“就正常。是不是路由配置的问题？

[2021-12-20 08:44] spacewander commented on #5857
Look like it is about the configuration of helm?
@tao12345666333
Could you offer help?

[2021-12-20 09:34] juzhiyuan commented on #5860
Hi, this issue is because jsDelivr's CDN Provider in China has something wrong 🤣 And they're trying to fix it, I will wait for some hours and will fix it by using original resources links. For more information, please see
 https://lists.apache.org/thread/br03lmd3n73lbc6n0lzcmqjbvy960wvf

[2021-12-20 09:35] juzhiyuan commented on #5860
Note: This issue only affects users in China. 🙃

[2021-12-20 09:37] juzhiyuan commented on #5834
Hi @leslie-tsang, do you have some hints on this?

[2021-12-20 09:51] #5636 closed

[2021-12-20 09:57] gerry-vip opened #5862 "request help: ETCD cluster failed to start via Helm"
### Issue description

# Apisix version
![image](https://user-images.githubusercontent.com/91073451/146747334-0853d54b-3fea-42f9-b8f4-4e3eab027165.png)

# Apisix pod status
![image](https://user-images.githubusercontent.com/91073451/146747522-dd954955-0ad4-4bdd-9abf-3900107eb93f.png)

# Etcd detail log
![image](https://user-images.githubusercontent.com/91073451/146748089-15335aae-0077-495a-bcfb-a0

[2021-12-20 10:03] tzssangglass commented on #5791
consideras solved, feel free to reope if you have problem about this.

[2021-12-20 10:04] #5791 closed

[2021-12-20 10:10] tzssangglass commented on #5834
It looks related to this plugin, can you remove this plugin and try again? From the problem you describe, it looks like this plugin is a distraction.

[2021-12-20 10:12] tzssangglass commented on #5858
see: https://github.com/apache/apisix/issues/5080#issuecomment-921499970

[2021-12-20 10:15] tzssangglass commented on #5858
it looks like there are three to four similar feedbacks now, maybe we should make proxy-rewrite support this.

[2021-12-20 10:18] tzssangglass commented on #5862
@tao12345666333 @tokers PLAT

[2021-12-20 10:21] tao12345666333 commented on #5862
please run `helm ls`

and can you provide your install commands?

[2021-12-20 10:28] gerry-vip commented on #5862
![image](https://user-images.githubusercontent.com/91073451/146752186-44c8b66a-4eaf-4f0f-8b14-76ea08f0fc46.png)

# install commands
`helm install apisix apisix/apisix --set gateway.type=NodePort --set ingress-controller.enabled=true --namespace apisix`
Before exec the command above, i have added "https://charts.apiseven.com" to the helm repo.
This issue delayed me for several days... ...

[2021-12-20 10:38] Horus-K commented on #5847
bushi

[2021-12-20 10:39] #5847 closed

[2021-12-20 10:59] juzhiyuan commented on #5860
Hi, according to https://status.jsdelivr.com/ all servers are available now, consider resolved.

[2021-12-20 10:59] #5860 closed

[2021-12-20 11:08] return200 commented on #4942
你字多，就回复你吧。你域名解析到哪里了，是 nginx 还是 slb？如果是 Nginx 加一个 proxy_set_header X-Forwarded-Port 443; slb 应该有单独的选项可以设置。

[2021-12-20 11:17] return200 commented on #4942
where does your domain a.com resolve to? Add `proxy_set_header X-Forwarded-Port $server_port; ` if nginx; if it's a slb/alb, there should have a configuration to add the header `X-Forwarded-Port`.

[2021-12-20 11:20] #5838 closed

[2021-12-21 01:07] gaobo0202 commented on #5858
OK, can I modify the code like this? We plan to use it in the production environment

[2021-12-21 01:09] tzssangglass commented on #5858
It is recommended to use the plugin rather than modifying the source code.

[2021-12-21 01:09] tzssangglass commented on #5858
cc @spacewander

[2021-12-21 01:46] jagerzhang opened #5868 "docs: Can the Docs show a complete example of log_format？"
### Improved or typo fixed.

APISIX有很多日志插件，且支持自定义日志格式，但是文档里面对于自定义日志格式的描述过于简单，加大了自定义日志格式的难度，在搜索引擎搜索相关文档也基本没有log_format的相关说明。

另外，文档里面我看到展示了APISIX可以支持的变量：
![image](https://user-images.githubusercontent.com/9711651/146856319-23bffaf5-9332-4372-a4ea-8c973613007e.png)
感觉应该不止这些，比如 upstream_latency 、apisix_latency 这些阶段耗时字段没找到，有没有地方可以看到所有APISIX支持的可以用于定义log_format的变量呢？

### Solution

总结一下：
1. 建议Docs里面可以展示下

[2021-12-21 02:00] gaobo0202 commented on #5858
What I modified is the plug-in code. Can I integrate it into the master？

[2021-12-21 02:22] guoqqqi opened #5870 "docs: add enable commands to the control API in the plugin development documentation"
### Improved or typo fixed.

Hi, community,
When I develop a plugin based on the [plugin development documentation](https://apisix.apache.org/docs/apisix/plugin-develop/#register-control-api), in the case of the control API, there is no relevant command in the documentation. I am still using port 9080 to test the control API, but I keep getting 404 errors.

Then I found out in the [control API doc

[2021-12-21 02:42] guoqqqi commented on #5870
I will complete it if needed 😄

[2021-12-21 03:46] tzssangglass commented on #5858
did you implement this in proxy-rewrite? If so, feel free to submit a PR.

[2021-12-21 06:26] spacewander commented on #5870
Yes, we can do it. Note that we need to explain the port of control-api is configurable.

[2021-12-21 06:51] xianshun163 commented on #5767
[root@k8s_test1 ~]# curl -X GET '127.0.0.1:8848/nacos/v1/ns/instance/list?healthyOnly=true&serviceName=demo1026'
{"name":"DEFAULT_GROUP@@demo1026","groupName":"DEFAULT_GROUP","clusters":"","cacheMillis":10000,"hosts":[{"instanceId":"172.16.11.13#8086#DEFAULT#DEFAULT_GROUP@@demo1026","ip":"172.16.11.13","port":8086,"weight":1.0,"healthy":true,"enabled":true,"ephemeral":true,"clusterName":"DEFAULT",

[2021-12-21 07:07] spacewander commented on #4412
Look like we already support it via regex match? For example:

[code]

If we need to mix the case-insensitive match and case-sensitive match, the regex match can solve the problem.

[2021-12-21 10:21] Aaron199 commented on #881
i realy need this feature,  that because i created a Prometheus Deployment that replicas is 2 , as you know  two prometheus has different DataSource，when you connect it through ‘service’，you will get different data

[2021-12-21 10:30] Ilqjx opened #5877 "request help: Plugin mount"
### Issue description

Why are there so many stages when mounting a custom plugin instead of a simple request/response?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashb

[2021-12-21 10:49] tokers commented on #5877
These custom plugins contain not only plugins written in other languages which reply on the plugin-runner, but also some plugins written in Lua, for the latter, simple request/response is not feasible.

[2021-12-22 01:00] tzssangglass commented on #881
pls submit a new issue. in fact, we can use traffic-split plugin to do this.

[2021-12-22 01:02] tzssangglass commented on #5767
ok, I will check soon.

[2021-12-22 02:30] gaobo0202 commented on #5858
ok

[2021-12-22 02:53] hushaojun-0801 opened #5878 "request help: how to add nodes in upstreams"
### Issue description

i use doc example but return 400

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue

[2021-12-22 02:53] hushaojun-0801 commented on #5878
curl http://127.0.0.1:80/apisix/admin/upstreams/100 -H'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PATCH -i -d '

HTTP/1.1 400 Bad Request
Date: Wed, 22 Dec 2021 02:10:01 GMT
Content-Type: text/plain
Transfer-Encoding: chunked
Connection: keep-alive
Access-Control-Allow-Origin: *
Access-Control-Allow-Credentials: true
Access-Control-Expose-Headers: *
Access-Control-Max-Age: 3600
Server: APISIX

[2021-12-22 02:57] hushaojun-0801 commented on #5878
reset all upstreams after add type ，i  just want add a node

[2021-12-22 03:04] aa57255621 opened #5879 "docs: Mention four features that can be added later"
### Improved or typo fixed.

Our company wants to use Apisix. Based on my recent use and the last Apisix weekly meeting, I'd like to address some needs to improve the Apisix experience,

1、hope the apisix-dashboard  supports configuration ofthe apisix custom plugin.
2、hope the apisix-dashboard supports configuration and modification of schema.json.
3、hope the Apisix-Dashboard Orchestration mode to

[2021-12-22 05:50] shuaijinchao commented on #5879
cc @juzhiyuan

[2021-12-22 06:03] shuaijinchao commented on #5878
I cannot reproduce the problem with the example in the documentation

---
![image](https://user-images.githubusercontent.com/8529452/147043520-eddc9a60-2d72-43bb-ae41-60c89c1927b5.png)

[2021-12-22 06:09] spacewander commented on #5858
These are different things. The `X-Forwarded-Proto` should already be supported since https://github.com/apache/apisix/pull/4260.

@gaobo0202
Could you provide detailed reproduce steps?

[2021-12-22 06:32] The-White-Lion opened #5882 "feat: support to use path parameter with plugin's control api"
### Issue description

Now,  when configure `radixtree_uri_with_parameter` in `config.yaml`, it only work on Route.
If you want use path parameter with control api, you must change source code.
Could you provide an optional way to configure it without change source code just like `radixtree_uri_with_parameter.lua`

### Environment

- all version

[2021-12-22 06:50] tzssangglass commented on #5767
As I had difficulty setting up a nacos environment to simulate this test (which took me a long time), I opted to hack my way through it.

here's how I hack

[code]

the error.log as

[code]

my test case is

[code]

[2021-12-22 06:51] Ilqjx commented on #5877
For simple request/response is not feasible, I don’t quite understand, can you give me an example, thank you.

[2021-12-22 06:54] tzssangglass commented on #5767
Is there any way you can provide a reproducible environment? About nacos.

[2021-12-22 06:59] spacewander commented on #5882
It's possible to switch the router used for control-api, just like
https://github.com/apache/apisix/blob/a1024075103ca4107b04db3f1258b860f9c823cd/apisix/http/route.lua#L96

PR is welcome!

[2021-12-22 06:59] tzssangglass commented on #5815
pls use English in public channel.

I think it's a problem with your upstream service

[2021-12-22 07:50] gaobo0202 commented on #5858
1、use proxy-rewrite to rewrite x_forwarded_proto to HTTP and enable HTTPS in router
2、access domain (add x_forwarded_proto request header HTTPS or not)
3、The upstream service gets x_forwarded_proto value
result
The value of x_forwarded_proto obtained by the upstream service is HTTPS

[2021-12-22 07:50] gaobo0202 commented on #5858
1、use proxy-rewrite to rewrite x_forwarded_proto to HTTP and enable HTTPS in router
2、access domain (add x_forwarded_proto request header HTTPS or not)
3、The upstream service gets x_forwarded_proto value
result
The value of x_forwarded_proto obtained by the upstream service is HTTPS

[2021-12-22 07:56] vcqr commented on #5815
There will be two ports in the spring cloud program registration nacos, one is the port of the http service, the other is the port of grpc, but the port of grpc is registered in the metadata, the problem is that Apisix is not compatible to read the port in the metadata

[2021-12-22 07:58] gaobo0202 commented on #5858
In addition, I found that this test case was not passed, please help to confirm
![image](https://user-images.githubusercontent.com/14210651/147056735-4046e8ab-fcc3-4b72-b7f2-416021960b13.png)

[2021-12-22 08:00] gaobo0202 commented on #5858
In addition, I found that this test case was not passed, please help to confirm （proxy-rewrite2.t）
![image](https://user-images.githubusercontent.com/14210651/147056908-ef301c29-fa2f-46a4-bc08-6c12268d619a.png)

[2021-12-22 08:15] spacewander commented on #5868
"upstream_latency 、apisix_latency" those fields are hand-writing. They are not set via variable.

In fact, `log_format` can only support a subset of the data. The default log data can't be represented via log_format.

[2021-12-22 08:41] juzhiyuan commented on #5879
Hi @aa57255621, glad to hear from you! I'm personally preparing the Dashboard V3 proposal, will post it to the community once I'm ready, but you could have a look and comment on it :) see https://docs.qq.com/doc/DTkdBcG5IT3V6VER3

Also, we have the Meeting today, welcome to join! see https://docs.qq.com/doc/DTkdBcG5IT3V6VER3

https://github.com/apache/apisix/discussions/5873

[2021-12-22 08:56] membphis commented on #5868
welcome PR, make the doc better

[2021-12-22 09:07] tokers commented on #5877
Please read the https://apisix.apache.org/docs/apisix/architecture-design/plugin to understand the plugin architecture.

[2021-12-22 09:09] tokers commented on #5878
@hushaojun-0801 The error log is self-documented, you should add the `type` field.

[2021-12-22 09:16] tzssangglass commented on #5815
can we specify that the registered http port in the metadata?

[2021-12-22 09:23] Ilqjx commented on #5877
Does that mean that most of the plugins use simple request/response to solve the problem, but for some plugins, such as permission control plugins, they need to be inserted at the specified stage.

[2021-12-22 09:24] hushaojun-0801 commented on #5878
srroy，i use  1.2 version  not 2.11，i will update now

[2021-12-22 09:27] vcqr commented on #5815
No， The default method is used when registering

[2021-12-22 09:36] #5878 closed

[2021-12-22 10:05] tzssangglass commented on #5815
you can go to the nacos community and ask if there is a configuration for this

[2021-12-22 10:23] vcqr commented on #5815
It is okay to call between spring cloud and use nacos to do service discovery, but apisix is not compatible

[2021-12-22 10:31] danielkocot commented on #5802
Hi, sorry for the delay. I removed "remote_addr" but it still does not work 😞.

[2021-12-22 10:33] w568590301 commented on #487
组织机构：明源云链
地点：中国深圳
联系人：liuw17@mingyuanyun.com
场景：saas环境统一流量入口

[2021-12-22 10:52] gerry-vip commented on #5862
@tao12345666333 Thank you for your reply. The issue above missed until I migrated my kubernetes cluster to Cloud ECS, so i doubt the issue occurred due to my local environment via VMware Fusion Software.

[2021-12-22 10:53] #5862 closed

[2021-12-22 11:04] danielkocot commented on #5802
Hi, sorry for the delay. It works now. But using docker on MacOS the upstream host needs the value `host.docker.internal`.

[2021-12-22 11:04] #5802 closed

[2021-12-22 12:07] tzssangglass commented on #5815
APISIX now supports Nacos 1.x and the CI is based on Nacos 1.4.1, are you using Nacos 2.x?

[2021-12-22 12:18] vcqr commented on #5815
2.x   yes

[2021-12-22 13:01] spacewander commented on #5858
The test can pass in CI & my machine.
I also set up an environment and test for it, the proxy-rewrite plugin can change X-Forwarded-Proto from HTTPS to HTTP.

[2021-12-22 14:02] juzhiyuan commented on #5802
Glad to know your issue is resolved, if docs need to be updated, kindly submit a PR 😄

[2021-12-23 01:32] tzssangglass commented on #5815
we need to support nacos 2.x, @vcqr would like to submit a PR to fix this?

[2021-12-23 01:47] lizhouyang commented on #5834
thanks，i think about it

[2021-12-23 01:47] #5834 closed

[2021-12-23 02:41] vcqr commented on #5815
@tzssangglass ok

[2021-12-23 03:36] xianshun163 commented on #5767
about deploy the nacos:
1、I get  tar package from :https://github.com/alibaba/nacos/releases/tag/2.0.1
2、untar the  package  and  goto the  bin dir， and  run ： sh startup.sh -m standalone
3、The url is  ： http://IP:8848/nacos

about a service the register to the nacos  as  a  provider, we can get a example from here:
https://github.com/nacos-group/nacos-examples/tree/master/nacos-spring-cloud-examp

[2021-12-23 06:12] zhouyu0914k opened #5893 "request help: How to forward the received tcp data to multiple tcp backends at the same time (similar to broadcasting, not load balancing)"
### Issue description

只需要转发，不需要处理后端响应。http可以通过 proxy-mirror 实现，tcp的动态代理可以用stream_routes实现，但是不知道如何实现将收到的数据同时转发给多个后端

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`): Linux dev81 5.14.14-1.el7.elrepo.x86_64 #1 SMP Tue Oct 19 07:39:36 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openre

[2021-12-23 06:26] spacewander commented on #5893
You can write a plugin for it. In this plugin, you can use `ngx.req.socket()` to read the data of client, and forward to multiple backend via `ngx.socket.tcp`. See https://github.com/openresty/stream-lua-nginx-module

[2021-12-23 06:36] zhouyu0914k commented on #5893
你好，我尝试过在openresty里使用lua脚本实现该功能，遇到了很多问题，我们apisix有交流群吗，我去群里问问

[2021-12-23 07:25] tzssangglass commented on #5767
can you try with nacos 1.4.x , recently we found that the nacos 2.x version is not supported enough.

releated to: https://github.com/apache/apisix/pull/5894

[2021-12-23 07:27] shuaijinchao opened #5898 "proposal: support grpc-web proxy"
### Issue description

`gRPC` was originally developed by Google and is a high-performance remote procedure call framework based on `HTTP/2` implementation. But because the browser does not directly expose `HTTP/2`, `Web` applications cannot directly use `gRPC`.
`gRPC-Web` is a standardized protocol that solves this problem. You can use `gRPC` in the browser and provide a `JavaScript` implementati

[2021-12-23 07:52] juzhiyuan commented on #5893
Hi @zhouyu0914k, we have an unofficial Apache APISIX WeChat group, add my WeChat **JuShaoyao** and I could invite you, but we still recommend using **GitHub issue and Mailing list** as DISCUSSION channel :)

[2021-12-23 08:01] Ilqjx commented on #5877
Why a simple request/response is not feasible for plugins written in Lua?

[2021-12-23 08:59] starsz commented on #4495
It's already supported yet.
Link:  https://apisix.apache.org/docs/apisix/plugins/#hot-reload

[2021-12-23 08:59] #4495 closed

[2021-12-23 09:13] starsz opened #5900 "request help: support hide the authentication header in basic-auth and key-auth plugins"
### Issue description

Hello,
When using base-auth plugins, I don't want to pass the `Authentication` header to upstream.
IMO, there is no need for upstream to perceive these authentication headers.

Now, I use `proxy-rewrite` plugin to rewrite the `Authentication` head like this:

[code]

I think we can add a config in the `basic-auth` plugin to hide the auth head.
That will be more convenient in

[2021-12-23 09:47] tokers commented on #5877
Sorry I'm confused by your descriptions of this issue, so you want to let APISIX communicate with an external plugin written in Lua through simple request/response?

That's a feasible idea but now we don't support such a "lua plugin runner".

[2021-12-23 09:49] tokers commented on #5900
Agress +1.

[2021-12-23 09:59] membphis commented on #5092
@suninuni the latest version of APISIX is 2.11 now, can you make a try with APISIX `2.11`? We can not sure if we have fixed this issue.

If you still have this problem, please let us know.

[2021-12-23 10:10] tzssangglass commented on #5900
useful, maybe *-auth plugins are all needed

[2021-12-23 10:13] Ilqjx commented on #5877
Ok thanks for your reply.

[2021-12-23 10:13] #5877 closed

[2021-12-23 11:38] zjzwjcbj opened #5901 "request help: How to add ext-plugin in config.yaml ,since apisix installed by helm"
### Issue description

I installed apisix by helm .How can I add ext-plugin  in config.yaml. like:
![image](https://user-images.githubusercontent.com/26433840/147234745-8934fc99-fec3-4ac5-b36c-22cfd23a5602.png)

### Environment

apisix version (cmd: apisix version):2.10.0
OS (cmd: uname -a):Linux apisix-7679f65569-j2gp9 3.10.0-693.el7.x86_64 change: added doc of how to load plugin. #1 SMP Tue Aug

[2021-12-23 15:48] tzssangglass opened #5902 "Proposal: include performance test and flamegraphs in CI"
### Background

We have published performance test data for APISIX in the early days, but with the rapid iteration of APISIX, it has been a long time since we have updated it.

Now we need a way to keep an eye on the current performance of APISIX more easily.

### Solution

Adding performance test and flamegraphs to the CI can help us keep track of APISIX performance in real time and identify pote

[2021-12-24 01:18] xianshun163 commented on #5767
can you tell me what is the problem with the nacos 2.x，except what I said above 。
May be  I  have to try to fix  it， because  I have use the nacos 2.x  in the product,    In other respects  nacos 1.X is not stable enough。

[2021-12-24 01:29] xianshun163 commented on #5815
I am trying to use nacos too, and I use spring cloud http way.
ApiSix  cat use the port of the http service,    have  you find some problem with the http service?

[2021-12-24 01:35] tzssangglass commented on #5767
You can see the problem by looking at the PR above.

[2021-12-24 01:35] xianshun163 commented on #5767
I have find   the relate nacos problem #5815 ,  and  it is using  spring cloud  grpc port .     I use the http port,

[2021-12-24 01:49] tokers commented on #5900
Exactly.

[2021-12-24 01:55] tokers commented on #5901
Hi!

See https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L321 for details.

I think it can be added to the FAQ, would you like to submit a PR to add it? Thanks!

[2021-12-24 01:56] tokers commented on #5902
That's good, do you mean sampling APISIX when the test cases run?

[2021-12-24 02:10] shoulda opened #5904 "request help: Request help about prometheus plugin"
### Issue description

Using the prometheus plugin collect logs, When the log volume is large, the size of lua_shared_dict prometheus-metrics  will become a bottleneck?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to g

[2021-12-24 02:14] zjzwjcbj commented on #5901
I mean I don't change the source code. Can I  change the configmap.yaml and values.yaml  which in chart to run the ext plugin

[2021-12-24 02:59] gxthrj opened #5908 "request help: Judge that a certain header does not exist, can not pass nil"
### Issue description

To determine that a header does not exist, you need to use `null`, it works like:
[code]

But using nil will not work, it will report an error:
[code]
errors：{"req_body":"\n{\n    \"uri\": \"\/ip\",\n    \"upstream\": {\n        \"type\": \"roundrobin\",\n        \"nodes\": {\n            \"httpbin.org\": 1\n        }\n    },\n    \"vars\": [[\"http_hello\", \"==\", nil]]\n}

[2021-12-24 03:02] gxthrj commented on #5908
Close this issue, json do not support`nil`.

[2021-12-24 03:02] #5908 closed

[2021-12-24 03:05] hwy1782 opened #5909 "request help: mqtt-proxy plugin cannot work"
### Issue description

my apixis verison is: 2.11.0
my os version is : CentOS Linux release 8.1.1911 (Core)

I have turned on the stream_proxy function，as follow:
[code]

mqtt-proxy plugin config as follow:
[code]

But we access the mqtt proxy service and report an error，our access [script](https://github.com/hivemq/mqtt-cli/) as follow:
[code]

but My direct visit without apisix can be successful

[2021-12-24 03:20] leslie-tsang commented on #5858
@juzhiyuan Plz, assign to me.

[2021-12-24 05:00] jagerzhang opened #5910 "request help: can the log-plugins supports to logging upstream_latency and apisix_latency?"
### Issue description

现在所有日志插件就只能上报 latency 字段，能否将后端耗时和APISIX本身的耗时也分开记录下，方便运营分析？

### Environment

APISIX version: 2.11.0

[2021-12-24 05:45] tzssangglass opened #5915 "request help: logger plugins supports limit size of request/response body"
### Discussed in https://github.com/apache/apisix/discussions/5892

<div type='discussions-op-text'>

<sup>Originally posted by **lrfdehao** December 23, 2021</sup>
Suppose I have two fields, `include_resp_body` as the switch, `resp_limit_size` as the limit size. After configuring these two parameters, if resp_body exceeds the size of resp_limit_size, resp_body will not be recorded in the log. The

[2021-12-24 05:46] tzssangglass commented on #5915
we can truncate oversized request and response bodies based on limit size

[2021-12-24 05:47] tzssangglass commented on #5902
I want to generate flamegraphs during performance testing.

[2021-12-24 05:48] tokers commented on #5902
As far I as know, APISIX will be started before a case and be shutdown after a case, so actually it's not running continuously.

[2021-12-24 05:53] tzssangglass commented on #5902
Yes, so the flamegraphs is not generated when the test case is run. We need to add a performance test step, and generate flamegraphs during performance testing.

[2021-12-24 05:53] tokers commented on #5902
Got it.

[2021-12-24 05:55] tokers commented on #5910
You can customize the `log_format`field in plugin metadata according to your needs.

[2021-12-24 06:09] shoulda commented on #5910
请教一个问题，我们这边准备用prometheus来上报日志的，但是如何数据类型是counter，是否会有溢出现象或者受限于lua_shared_dict prometheus-metrics  的大小，你们这边又遇到这个问题吗？

[2021-12-24 07:00] zjzwjcbj commented on #5901
How to install java plugin when apisix installed by helm. Seem the apisix pod has no java environment.

[2021-12-24 07:06] panhow commented on #3537
@spacewander hello , wonder why #3240 can fix this issue ?

[2021-12-24 07:26] tzssangglass commented on #5767
I followed your way and could not reproduce.

Here are the steps I took to reproduce it

#### step 1

start Nacos 2.0.1 as satndalone(get from https://github.com/alibaba/nacos/releases/tag/2.0.1)

#### step 2

start [service provider](https://github.com/nacos-group/nacos-examples/tree/master/nacos-spring-cloud-example/nacos-spring-cloud-discovery-example/nacos-spring-cloud-provider-example) and re

[2021-12-24 07:30] jagerzhang commented on #5915
LGTM

[2021-12-24 07:31] jagerzhang commented on #5910
用log_format好像要把所有的字段都填写上才行吧？ 并不是追加的逻辑。

[2021-12-24 07:48] jagerzhang commented on #5910
仔细看了下好像是要 PUT 到 plugin_metadata里面，那这里有个问题，我并不知道默认的log_format是怎么写的，如果我直接改成
[code]
那其他字段是不是都没了？只剩下这2个字段？希望可以提供一个默认的log_format，然后我们追加下这2个字段.....

[2021-12-24 07:50] #5342 closed

[2021-12-24 07:54] spacewander commented on #5900
I don't think blindly applying this to other *-auth plugins is a good idea. Take jwt-auth as an example, the JWT token serves both as a user id and storage containing user info. We should discuss it plugin by plugin.

[2021-12-24 07:58] xianshun163 commented on #5767
yes, you  only config a  route,   you can config a upstream  ,and a services,  use the discovery type of nacos.

[2021-12-24 07:59] jagerzhang commented on #5910
用log_format应该就没法记录request_body了吧？

[2021-12-24 08:02] #5858 closed

[2021-12-24 08:41] tao12345666333 opened #5917 "bug: APISIX did not check whether it was referenced when deleting PluginConfig"
### Issue description

When a `PluginConfig` is referenced by multiple `Routes`, it can still be deleted.

I expect APISIX can handle it the same as `Upstream`.
If an `Upstream` is referenced by multiple `Routes`, an error will be reported when deleting.

### Environment

- apisix version (cmd: `apisix version`): 2.10.2
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openr

[2021-12-24 08:47] xiaokunliu opened #5918 "request help: apisix how to use the service discovery with built-in etcd"
### Issue description

now i have one requirement is that i want to use etcd to dicovery my upstream service, how to enable it

### Environment

for help:
apisix how to use the service discovery with built-in etcd, now i have one requirement is that i want to use etcd to dicovery my upstream service, how to enable it

[2021-12-24 09:28] tokers commented on #5901
Oops. If I am correct, our helm chart doesn't expose the `ext-plugin` field, we may enhance the helm chart.

You can build a new container with Java environments based on Apache APISIX Images.

[2021-12-24 09:33] tokers commented on #5910
Actually, this [method](https://github.com/apache/apisix/blob/master/apisix/utils/log-util.lua#L76) will be run if the log_format is absent.

[2021-12-24 09:35] tokers commented on #5917
I don't know whether there are some other objects which also are not checked when the Admin API deletes them, if so, we can list them and decide whether to check the reference before deletion.

[2021-12-24 09:51] zjzwjcbj commented on #5901
Ok,thanks。

[2021-12-24 09:51] #5901 closed

[2021-12-24 10:17] ameryhan opened #5922 "request help: Infinitly "request": "HEAD / HTTP/1.0" Log"
### Issue description

![image](https://user-images.githubusercontent.com/2375525/147344138-d687d594-db95-4207-8779-db94121a316d.png)

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):

[2021-12-24 10:57] tzssangglass commented on #5767
show your configuration of route, service and upstream.

and I used the discovery type of nacos. see step 3.

[2021-12-24 11:22] tzssangglass commented on #5918
same as https://github.com/apache/apisix/issues/5573

I will close it as it is a repeat issue.

[2021-12-24 11:22] #5918 closed

[2021-12-24 11:23] tzssangglass commented on #5922
pls give the reproduction steps

[2021-12-24 23:59] membphis commented on #3537
the `healthcheck` will call `resty-lock`, and the `resty-lock` will call `ngx.sleep`, but `ngx.sleep` can not be called in `balancer` phase.

so we move it to access phase which allow to call `ngx.sleep`.

[2021-12-25 03:11] wangdasheng opened #5925 "When there is a recursive method loop call in the plug-in, it will lead to memory overflow of a single work process"
### Issue description

The code is as follows:

local function fetch_old_token(token_name, ctx)
    local token = core.request.get_uri_args(ctx)[token_name]
    if token then
        return token
    end
    token = core.request.header(ctx, token_name)
    if token then
        return token
    end
    local cookie, err = ck:new()
    if not cookie then
        return nil, err
    end
    local va

[2021-12-25 05:24] spacewander commented on #5925
Look like it is because the tail call optimization in LuaJIT.
If you change the
[code]
to
[code]
, there will be a stack overflow.

[2021-12-25 09:07] zhangxingdeppon opened #5930 "request help: How can I automatic extend token expiry with jwt auth on apisix ?"
### Issue description

Hi, team, I'm a little confused about jwt auth, how can I automatic extend token expiry with jwt auth on apisix?  I have seen the office documents, but not fund any relevant content, could you give me some ideas? it's very important for me, thank you very much.

### Environment

- apisix version (cmd: `apisix version`): 2.10
- OS (cmd: `uname -a`):
- OpenResty / Nginx versio

[2021-12-25 09:45] juzhiyuan opened #5931 "request help: gzip is not working on CentOS7"
The gzip plugin is opened in the plug-in. The default configuration has not taken effect.

If an error is found, the prompt needs core log. error("need to build APISIX-OpenResty to support setting gzip")

Then I found it https://github.com/api7/apisix-nginx-module/tree/main/lib/resty/ Put it in the directory

An error is reported after restart. Normal after disabling the plug-in.

https://apisix.a

[2021-12-25 09:46] juzhiyuan commented on #5931
cc @xlgo, just created an issue from your comment.

[2021-12-25 10:04] #3115 closed

[2021-12-25 11:51] xlgo commented on #5931
这是要干啥？

[2021-12-26 04:43] dmsolr commented on #4301
Hi @yxudong , skywalking-nginx-lua v0.6.0 released. And it is available on luarocks

[2021-12-26 05:12] #5925 closed

[2021-12-26 12:37] juzhiyuan commented on #5931
Just created an issue to track your issue https://github.com/apache/apisix/discussions/4919#discussioncomment-1868935

[2021-12-26 15:36] panhow opened #5935 "request help: why upstream.healthcheck_parent is route?"
### Issue description

why upstream.healthcheck_parent is route?

checker:run will run after the object changed, but when i update a upstream, checker:clear(),checker:stop() are on route, route did not change, then the checker still checks the old upstream nodes?

### Environment

- apisix version (cmd: `apisix version`): 2.10
- OS (cmd: `uname -a`): Ubuntu 20.04 LTS 5.4.10 kernal
- OpenResty / Ng

[2021-12-26 15:58] xlgo opened #5936 "request help: lose port if set Redirect is enable on https"
### Issue description

redirect.lua   line 156

没有端口，如果不是默认的443 端口，就会出现问题
 修改 为   uri = "https://$host:9443$request_uri"       可以正常使用

### Environment

应该是那个版本都这样的问题吧。

### Steps to reproduce

无

### Actual result

无

### Error log

无

### Expected result

_No response_

[2021-12-27 01:33] xianshun163 commented on #5767
the upstream config like this :
{
  "timeout": {
    "connect": 6,
    "send": 6,
    "read": 6
  },
  "type": "roundrobin",
  "scheme": "http",
  "discovery_type": "nacos",
  "pass_host": "pass",
  "name": "arch.test.nacos",
  "service_name": "demo1026",
  "keepalive_pool": {
    "idle_timeout": 60,
    "requests": 1000,
    "size": 320
  }
}

and the  service config like this:
{
  "name": "arch.

[2021-12-27 02:03] The-White-Lion commented on #5882
I submit a PR for this issue,  you can check this in #5934

[2021-12-27 02:34] zhouyu0914k commented on #5893
I tried to realize it using lua script, but got some trouble.

The nginx.conf is:
  stream {
    lua_code_cache off;
    server {
        listen 10075;
        content_by_lua_file /usr/local/openresty/test.lua;
    }
  }

The test.lua is:
  while (true)
  do
    ngx.say("Hellow lua!!!")
    os.execute("sleep " .. 5)
  end

I found the script is executed on only the first connection and not on subs

[2021-12-27 03:07] hushaojun-0801 opened #5937 "request help: I cant conversion nginxconf to apisix"
### Issue description

    map $host $province {
        ~^(anhuilogin)\.(baidu.com)$        "anhui";
		~^(beijinglogin)\.(baidu.com)$        "beijing";
    }
    location ~* ^/(?<website>(A|B)) {
    proxy_pass http://prod.$province.$website;
    }
upstream prod.anhui.A {
    server anhui-A;
}
upstream prod.anhui.B {
    server anhui-B;
}
upstream prod.beijing.A {
    server beijing-A;
}
upstream

[2021-12-27 03:10] alex8224 opened #5938 "docs: How to understand the internal working mechanism of apisix in depth"
### Improved or typo fixed.

In addition to looking at the source code directly, what other ways are there to detail the principles and workflow of apisix, including the parameters and callback functions that need to be used when writing the plug-in
The comments in the current code are still on the low side, and the development documentation is a bit lacking in depth, so there is still a high thre

[2021-12-27 03:35] juzhiyuan commented on #5893
Hi @leslie-tsang, @zhouyu0914k wants to know why this Lua Script is run only when the first connection is established, do you have some hints for him so he could learn why this happen? and how to run that Script when every connection is established?

[2021-12-27 04:15] shuaijinchao commented on #5938
Please refer to the documentation in the directory `https://github.com/apache/apisix/tree/master/docs/en/latest/architecture-design`.

[2021-12-27 04:22] shuaijinchao commented on #5937
You can match different conditions and distribute to different upstreams through the `vars` configuration in Route.

https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#route

[2021-12-27 05:40] leslie-tsang commented on #5893
Hello there, @zhouyu0914k Ref to [lua-resty-websocket](https://github.com/openresty/lua-resty-websocket) should help.

[2021-12-27 05:59] hushaojun-0801 commented on #5937
ok,I will try it

[2021-12-27 05:59] #5937 closed

[2021-12-27 06:01] leslie-tsang commented on #5936
Hello there, AFAIK, you can define port in `$host` like `example.com:9443`

[2021-12-27 06:01] alex8224 commented on #5938
@shuaijinchao Tks
This document has too little detail to be used as a development document

[2021-12-27 07:49] spacewander commented on #5935
Only when the upstream is a part of a route, the `upstream.healthcheck_parent` will be route.
In this case, changing the nodes is equal to changing the route.

If the upstream doesn't belong to a route, its parent will be itself. See https://github.com/apache/apisix/blob/db5813ff9ac2e77960af6c6ac3072eccee2057c7/apisix/upstream.lua#L501
https://github.com/apache/apisix/blob/db5813ff9ac2e77960af6c6a

[2021-12-27 08:15] spacewander commented on #5931
Answered in https://github.com/apache/apisix/discussions/4919#discussioncomment-1871921.

[2021-12-27 08:15] #5931 closed

[2021-12-27 08:21] #5909 closed

[2021-12-27 08:27] xuminwlt commented on #3891
focus the feature

[2021-12-27 08:50] panhow commented on #5935
thx, i thought this issue had already fixed,did not notice other changes
https://github.com/apache/apisix/pull/2747

[2021-12-27 08:50] #5935 closed

[2021-12-27 08:54] juzhiyuan commented on #5930
Hi @zhangxingdeppon, just to make sure, do you need the Token generated by Apache APISIX will automatically expand its Expiration time?

According to https://jwt.io/, JSON Web Token is stateless and needs to be generated once it's expired. AFAIK, you may need to implement your logic with `access_token` & `refresh_token` to issue a new Token, see https://stackoverflow.com/questions/53946250/how-to-

[2021-12-27 09:42] zhouyu0914k commented on #5893
@leslie-tsang I've seen [lua-resty-websocket](https://github.com/openresty/lua-resty-websocket), but I still don't know how to do. The biggest problem is that I don't know the execution mechanism of the script. Can you provide some relevant documents?

[2021-12-28 01:00] #5815 closed

[2021-12-28 03:16] xianshun163 opened #5942 "request help: How to build APISIX-OpenResty when I have deploy apisix by the source code way"
### Issue description

 I have deploy apisix  by the source code way?

and  then  I  use the plugin  gzip, and that is a error like this :

2021/12/28 10:09:42 [error] 16285#16285: *7356922 [lua] gzip.lua:105: phase_func(): need to build APISIX-OpenResty to support setting gzip while reading response header from upstream

who can tell me  how to build the  APISIX-OpenResty?
thanks!

### Environmen

[2021-12-28 03:28] leslie-tsang commented on #5942
Hello there, Answered in [#4919 (reply in thread)](https://github.com/apache/apisix/discussions/4919#discussioncomment-1871921).

[2021-12-28 06:07] #5870 closed

[2021-12-28 06:26] zhouyu0914k commented on #5893
I have implemented some functions through the following code：
[code]
But when I specify multiple TCP backend through upstream and get them by ngx.upstream the following error are encountered:
[code]
The same code can be executed normally in the `http - > server` block. How can I get the content of upstream in the `stream - > server` block. The code is:
[code]

[2021-12-28 09:38] tzssangglass commented on #5904
The prometheus plugin is not used to collect logs, it is used to collect metrics.

I think you're talking about a large number of total requests, in this case you need to increase the storage space for prometheus-metrics, otherwise you will encounter an error similar to the following: `prometheus.lua:732: log_error(): Unexpected error adding a key: no memory while logging request`, refer to: https

[2021-12-28 10:11] hesh222 opened #5946 "request help: deploy apisix failed on K8s"
### Issue description

/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init_etcd
2021/12/28 09:30:35 [emerg] 1#1: socket() [::]:9080 failed (97: Address family not supported by protocol)

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://12

[2021-12-28 10:30] tzssangglass commented on #5767
After  checked, I found that this is a bug.

As I mentioned above, add the service configuration as follows

[code]

add  the upstream configuration as follows

[code]

We should note that the service itself does not have a `service_name` attribute.

my error.log is

[code]

[2021-12-28 11:02] tzssangglass commented on #5767
hi @xianshun163 would you like to submit a PR to fix it?

[2021-12-28 12:36] tzssangglass commented on #5946
you can try: https://github.com/apache/apisix-helm-chart

and from the error.log, it seems that listen to ipv6 failed.

pls provide version, configuration, and reproduction steps.

[2021-12-28 12:56] tzssangglass commented on #5938
Yes, we have discussed the need for plugin development documentation, but no one has contributed yet, and I will do this if I have time.

refer to: https://github.com/apache/apisix/discussions/5421

[2021-12-28 13:27] alex8224 commented on #5938
@tzssangglass
Thank you for your work

[2021-12-28 14:15] xianshun163 commented on #5767
OK, I will  do  it. If you have any official guidelines, can you send them to me? I haven't submitted them in GitHub. Or I'll find it myself.

[2021-12-28 14:42] tzssangglass commented on #5767
here: https://apisix.apache.org/docs/general/contributor-guide/

If you have questions, you can call me in this issue.

[2021-12-28 15:09] leslie-tsang commented on #5942
@juzhiyuan Consider solved. Feel free to reopen it if need.

[2021-12-29 01:04] juzhiyuan commented on #5942
ok, I'm going to close.

[2021-12-29 01:04] #5942 closed

[2021-12-29 01:19] juzhiyuan commented on #5767
@xianshun163 kindly let us know if you encounter problems when submitting PRs.

[2021-12-29 01:21] juzhiyuan commented on #5938
Maybe we could keep this issue open to tracking this improvement? @alex8224

[2021-12-29 01:26] juzhiyuan commented on #3237
Hi @spacewander, do we need to support the ECR repo as Pahud suggests? 😄

[2021-12-29 02:12] juzhiyuan commented on #5901
Hi @tokers, do we need to set this as Good first issue?

[2021-12-29 02:15] #5882 closed

[2021-12-29 02:16] juzhiyuan commented on #5910
Hi @jagerzhang, AFAIK, you could follow this step to configure kafka-logger plugin:

1. (optional) `PUT /plugin_metedata` to use your custom `log_format` configuration for that plugin;
2. `PUT /routes` with `kafka-logger` configuration.

plugin_metedata is more like a General configuration, and it will work for all `kafka-logger` plugin.

[2021-12-29 02:20] jagerzhang commented on #5910
感谢回复，这个方法我知道了哈，但是有另外一个疑问，因为如果按照这个方法来定义log_format，那么日志格式就完全按照定义的log_format来生成了，这里是一个覆盖模式，希望支持下增量模式，即我定义的字段只是append到默认的日志里面而不是直接覆盖。

比如 log_format 我定义为 `{"upstream_latency": $upstream_latency}`，那么最终日志格式希望是在默认日志的基础上，**增加**这个字段。

不知道我这样描述清楚了么？

[2021-12-29 02:22] juzhiyuan commented on #5573
Just have a discussion with @bzp2010, we don't support ETCD as Service Discovery yet 🤔 @leslie-tsang could you please have a confirmation? 😄

[2021-12-29 02:28] juzhiyuan commented on #5910
Yes, it's clearly now :) (Just like PATCH and PUT methods 😄)

I found the default configuration here, see https://github.com/apache/apisix/blob/master/apisix/utils/log-util.lua#L35-L38

As for if we could support "PATCH" log_format, need @tzssangglass's confirmation.

[2021-12-29 02:33] jagerzhang commented on #5910
Fantastic, looking forward to support.

[2021-12-29 03:09] leslie-tsang commented on #5946
Hello there, change `enable_ipv6: true` to `enable_ipv6: false` may help.

[2021-12-29 03:37] leslie-tsang commented on #5573
AFAIK, APISIX don't support `etcd` as `Service Discovery` yet.  🤔

[2021-12-29 03:39] #5634 closed

[2021-12-29 03:59] tzssangglass commented on #5910
Not sure, haven't tried (I think in log_format as an attribute is the smallest unit of the PATCH operation. It should not be possible to continue the PATCH in the value of log_format.)

[2021-12-29 04:47] donge opened #5951 "issue: production docker image size doubled"
### Issue description

We use alpine image as default, in latest version 2.11. the size increased a lot.
I would like to debug it, but I found the Dockerfile is not in this repo.

[code]

If you guys can help to point out the packaging path. I can move further

### Environment

- apisix version (cmd: `apisix version`): 2.11
- OS (cmd: `uname -a`): any
- OpenResty / Nginx version (cmd: `nginx -V` o

[2021-12-29 06:27] gaobo0202 opened #5953 "bug: /v1/healthcheck Sometimes no data is returned"
### Issue description

we use the / V1 / healthcheck interface of apisix to monitor alarms online, and false alarms will occur. The reason is that the /v1/healthcheck interface sometimes returns no data.
![飞书20211229-142059](https://user-images.githubusercontent.com/14210651/147633092-38fdb637-9b8d-41c2-83a4-65420bef0537.png)

### Environment

- apisix version (cmd: `apisix version`):2.10.0
- OS (

[2021-12-29 06:37] spacewander commented on #3237
It seems this issue hasn't been updated for a long time...

[2021-12-29 06:37] #3237 closed

[2021-12-29 06:38] spacewander commented on #5573
We support etcd as the source of discovery in a different way.

[2021-12-29 06:38] #5573 closed

[2021-12-29 07:37] xianshun163 commented on #5767
ok,  I will try it soon. thanks

[2021-12-29 08:02] juzhiyuan commented on #5953
hi @leslie-tsang could you please have a look?

[2021-12-29 08:04] leslie-tsang commented on #5953
@juzhiyuan Plz assign it to me.

[2021-12-29 08:06] juzhiyuan commented on #5953
Thanks!

[2021-12-29 09:06] hesh222 commented on #5946
感谢，修改enable_ipv6  为false 解决了此类问题

[2021-12-29 09:07] #5946 closed

[2021-12-29 09:13] ameryhan opened #5955 "After apisix restarts, the previously saved data cannot be pulled out"
### Issue description

<img width="542" alt="22ede5fb4edee47859a6674820d2a26" src="https://user-images.githubusercontent.com/2375525/147645917-7ea3d9a5-ffd1-46d8-90a2-ed938c749cd7.png">

local saas_infos = core.config.fetch_created_obj(config_path)

core.log.error("get_saas_dict ------------------------", saas_infos)

apisix重启后，之前存进去的数据就拉不出来了？

### Environment

- apisix version (cmd: `apisix versi

[2021-12-29 09:25] ameryhan commented on #5955
apisix versioin 2.10.2
saas route 写入步骤
function _M.init()
    local local_conf = core.config.local_conf()
--     config_path = core.table.try_read_attr(local_conf, plugin_name,  "config_path")
    -- config_path = "/config_path"

    local attr = plugin.plugin_attr(plugin_name)
    config_path = attr and attr.config_path
    if not config_path then
        core.log.error("failed to get config_path

[2021-12-29 09:25] ameryhan commented on #5955
local ngx = ngx
local plugin = require("apisix.plugin")
local core = require("apisix.core")
local upstream = require("apisix.upstream")

local plugin_name = "saas-route"

local schema = {
    type = "object",
    properties = {
        deny_on_mismatch = {type = "boolean", default = false} ,
        header_name = {type = "string", default = "saas_code"} ,
    }
}

local _M = {
    version = 0.1,

[2021-12-29 10:07] leslie-tsang commented on #5936
@xlgo Hello there, any update for this issue ?

[2021-12-29 10:08] #3038 closed

[2021-12-29 10:08] #3091 closed

[2021-12-29 10:08] #3118 closed

[2021-12-29 12:15] tzssangglass commented on #5955
It looks like you wrote this code yourself, I will turn this issue into a discussion as it is not an APISIX issue.

[2021-12-29 14:28] TenYearsIn commented on #5233
i have resolved this issue related to eureka. how can i contributor?

[2021-12-30 01:02] anjia0532 opened #5957 "usercase: golang toolkit-sync eureka/nacos instance info to apisix"
### Improved or typo fixed.

my repo https://github.com/anjia0532/discovery-syncer

### Solution

my repo https://github.com/anjia0532/discovery-syncer

[2021-12-30 01:21] tzssangglass commented on #5233
Can you start with a brief chat about how it was solved?

[2021-12-30 01:24] anjia0532 commented on #5957
Different of [apisix discovery](https://apisix.apache.org/docs/apisix/discovery/nacos)/与官方[apisix discovery](https://apisix.apache.org/docs/apisix/discovery/nacos) 注册中心同步插件不同的几个点

1. support multiple nacos/eureka cluster/支持多个nacos/eureka集群
2. support [kong](https://konghq.com/install/#kong-community)/支持同步到[kong](https://konghq.com/install/#kong-community)
3. remove the instance from discovery(use

[2021-12-30 01:34] tzssangglass commented on #5957
This is a huge change, have you sent a proposal to the mailing list before?

[2021-12-30 01:35] anjia0532 commented on #5957
No,its not change,this is a toolkit.

[2021-12-30 01:40] TenYearsIn commented on #5233
I parse the file '/etc/hosts' with RegExp in the initial phase，So I can get  'hosts to ip'  mapping .  then I modify eureka code
 that  get ip (the code is line 132 in /apisix/discovery/eureka/init.lua ), use mapping relations to get ip in high priority , if not,  I use the eureka service ip oneself .

[2021-12-30 01:41] TenYearsIn commented on #5233
I parse the file '/etc/hosts' with RegExp in the initial phase，So I can get  'hosts to ip'  mapping .  then I modify eureka code
 that  get ip (the code is line 132 in /apisix/discovery/eureka/init.lua ), use mapping relations to get ip in high priority , if not,  I use the eureka service ip oneself .

[2021-12-30 02:41] suninuni commented on #5092
The same error log as before.

[code]

And now I try to set `lua_shared_dict.prometheus-metrics` as 100m, FYI.

[2021-12-30 04:22] tzssangglass commented on #5233
Did you write the host and ip mappings in `/etc/hosts` beforehand?

1. determine whether the host is a domain or an ip
2. if it's a domain, resolve the domain to an ip, overriding the host

ref: https://github.com/apache/apisix/blob/719c5388143d73cc1424d0a03ec51584a60e243e/apisix/init.lua#L166-L188

[2021-12-30 05:10] TenYearsIn commented on #5233
yeah,  i think this is General Situation

determine whether the host is a domain or an ip
1. determine whether the host is a domain or an ip
2. if it's a domain, resolve the domain to an ip, overriding the host

nice～  so. i modify the code resolver .parse_domain that can get ip from ' host to ip ' mapping  in high priority then use dns_parse ?

[2021-12-30 05:26] spacewander commented on #2291
Already done.

[2021-12-30 05:26] #2291 closed

[2021-12-30 06:14] suninuni commented on #5092
It seems that the memory does not increase after it has increased to a certain value, and I have not found `no memory while logging request` log any more.

![image](https://user-images.githubusercontent.com/7345529/147726207-35518df3-c680-4cfd-98f7-4645dea92e5f.png)

So it seems that this problem no longer exists with APISIX `2.11`, I will continue to observe. Thanks for your support!

[2021-12-30 06:48] yxudong commented on #4301
Got it, Ths.

[2021-12-30 06:52] wu-sheng commented on #4301
Should APISIX upgrade the dependency for the next release?

[2021-12-30 09:25] tokers commented on #5233
It seems that this is a more generic demands that we can use the `/etc/hosts` to change the DNS resolving.

[2021-12-30 09:29] xianshun163 opened #5966 "doc: benchmark results is not so good,what is the problem,help"
### Issue description

I have see  the  doc  about the benchmark，the result is good： https://apisix.apache.org/docs/apisix/benchmark/
I try it myself， but  it is not so  good，any one  who can tell me  how to  optimize it.
Here is my  env:
I  have three host, and  they are all  4c8g
host13: I deploy  apisix2.11.0  use the source code
host14: I use it  to run wrk, the  HTTP benchmarking tool
host15:

[2021-12-30 09:30] tokers commented on #5092
So the memory increasing is normal and the no memory issue is just because the pre-defined lua shared dict too small?

[2021-12-30 09:33] baoqian-zhang opened #5967 "request help: How to modify apisix response using custom plugins"
### Issue description

遇到的问题：我想要写一个go插件将apisix转发给业务服务后的响应改写（逻辑是：进行i18n国际化，还需要连接redis）； 但是apisix提供拓展的ext-plugin*插件是在access或者rewrite阶段执行的， 并没有在filter_body阶段执行， 这里我需要怎么做？

### Environment

- apisix version (cmd: `apisix version`): 2.9
- OS (cmd: `uname -a`): cent7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_i

[2021-12-30 09:35] zhangbaoqian commented on #5967
我修改了ext-plugin*插件的代码， 让他在filter_body阶段执行， 但是会报连接错误， 好像是openresty机制不让在filter_body建立连接

[2021-12-30 09:38] tokers commented on #5967
Yes, the `body_filter` phase is not yieldable.

[2021-12-30 10:04] #5842 closed

[2021-12-30 10:04] #3159 closed

[2021-12-30 10:23] zhangbaoqian commented on #5967
body_filter阶段应该是不能创建同步连接， 如果创建异步连接又不能满足我的需求

[2021-12-30 10:44] Gallardot opened #5968 "request help: does dashboard support plugin_metadata?"
### Issue description

Plugin interceptors provide excellent protection for plugin apis such as jwt-auth, node-status, and prometheus, but `plugin_metadata` is not supported on dashboards.

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/

[2021-12-30 10:55] leslie-tsang commented on #5936
@juzhiyuan Consider solved. Feel free to reopen it if need.

[2021-12-30 11:29] jagerzhang commented on #5953
Reasonable design
https://github.com/apache/apisix/issues/5082
https://github.com/apache/apisix/issues/5379
https://github.com/apache/apisix/issues/5154

[2021-12-30 12:58] sandy420 opened #5969 "Hope to add support for setting the custom host header to be used for upstream's artive checks!"
### Issue description

I used the domain name in the node of my upstreams.During the health check, apisix converted the domain to ip, and did not bring the host to the backend, which resulted in unrecognition, the health check failed, and the traffic failed to be distributed as expected.

![image](https://user-images.githubusercontent.com/10955441/147753829-6c838d5a-11aa-41be-ab39-b790d32d80fa.png

[2021-12-30 13:18] tzssangglass commented on #5233
Our dns resolution process also takes resolution information from /etc/hosts. So the key point of my suggestion is to use the existing dns resolution method, not just /etc/hosts, to resolve the domain name.

[2021-12-30 13:18] tzssangglass commented on #5233
just try

[2021-12-30 13:22] tzssangglass commented on #5967
AFAIK, it is not yet supported.

[2021-12-30 13:23] tzssangglass commented on #5968
refer: https://github.com/apache/apisix-dashboard/issues/2148

[2021-12-30 13:24] #5936 closed

[2021-12-30 13:27] tzssangglass commented on #5969
@sandy420  You can hint that the health check endpoint only accepts domain access, not ip access.

[2021-12-30 14:14] shoulda commented on #5904
ok , thanks

[2021-12-30 14:52] juzhiyuan commented on #4301
cc @shuaijinchao

[2021-12-31 01:02] membphis commented on #4301
@dmsolr I think you can submit the PR directly, it is very easy, here is an example: https://github.com/apache/apisix/pull/5971

[2021-12-31 01:58] XuZhaoPro opened #5973 "is Apache APISIX supports mTLS?"
### Issue description

有个场景，需要服务器对客户端也做认证，目前APISIX是否支持？

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue

[2021-12-31 02:22] leslie-tsang commented on #5855
Hello there, @dickens7 Would you submit a PR to fix it ?
Here is an [example](https://github.com/apache/apisix/pull/5971)

[2021-12-31 02:24] sandy420 commented on #5969
how do it ? @tzssangglass

[2021-12-31 03:06] leslie-tsang opened #5976 "request help: remove unused utils script"
### Issue description

Currently, some utility scripts no longer fit the master branch and we should remove them to make sure no one gets confused.

## Solution

* ~~[utils/check-version.sh](https://github.com/apache/apisix/blob/master/utils/check-version.sh) - no longer been used.~~ (used in[https://apisix.apache.org/docs/general/release-guide](https://apisix.apache.org/docs/general/release-guide

[2021-12-31 03:07] tzssangglass commented on #5969
What I mean is that you could have indicated in the issue that your upstream service only accepts domain name access, thus raising the issue.

[2021-12-31 03:08] tzssangglass commented on #5973
yes, and you need to use apisix-base.

[2021-12-31 03:10] spacewander commented on #5969
Fixed in https://github.com/apache/apisix/pull/5175?

[2021-12-31 03:12] spacewander commented on #5976
Good. Can we cc the authors of these scripts?

[2021-12-31 03:19] #4301 closed

[2021-12-31 03:22] spacewander commented on #5714
Already done.

[2021-12-31 03:22] #5714 closed

[2021-12-31 03:23] spacewander commented on #1652
Solved by https://github.com/apache/apisix/pull/5745

[2021-12-31 03:23] #1652 closed

[2021-12-31 03:52] leslie-tsang commented on #5814
@juzhiyuan Consider solved. Feel free to reopen it if need.

[2021-12-31 03:52] #5814 closed

[2021-12-31 05:00] leslie-tsang commented on #5976
cc @membphis @nic-chen

[2021-12-31 07:05] yourgracee opened #5981 "request help: routed again after cutting off the path"
### Issue description

我按照官网文档FAQ中的方法剪除路径：
![image](https://user-images.githubusercontent.com/18047268/147808855-b845ce25-0fb6-454b-8dbf-d4285fa573e6.png)
但是我还有一条路由规则是针对/bar的，因此再次被路由到不正确的服务，请问如何配置？

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.

[2021-12-31 07:24] shuaijinchao commented on #5981
please provide specific cases and steps to reproduce.

[2021-12-31 07:26] yourgracee commented on #5981
1.配置一条/foo/bar 改写为 /foo的路由正则改写，绑定后端A服务
2.配置一条为/foo的路径重定向到其他服务，绑定后端B服务
3.访问/foo/bar
4.本应该跳转到A服务，结果跳转到B服务

[2021-12-31 07:31] yourgracee commented on #5981
1.配置一条/foo/bar 改写为 /foo的路由正则改写，绑定后端A服务
2.配置一条为/foo的路径重定向到其他路径，绑定后端B服务
3.访问/foo/bar
4.本应该跳转到A服务，结果跳转到B服务

[2021-12-31 07:33] lihuawei321 opened #5982 "怎样在access.log里输出upstream的名称"
### Issue description

我用upstrem_name并没有获取到上游的名称。

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue is ab

[2021-12-31 07:38] tzssangglass commented on #5969
@sandy420 pls check this.

[2021-12-31 07:49] tiyorn opened #5983 "request help: Configure https upstream, keep reporting error 401"
### Issue description

上游配置为https，一直报401，怀疑跟ssl有关系。请问APISIX转发https请求至上游的时候，是否会受到SSL certificate verification的干扰，有没有开关可以关闭SSL certificates verify

### Environment

- apisix version (cmd: `apisix version`):2.9
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from serv

[2021-12-31 08:22] shuaijinchao commented on #5983
proxy https request need enable `ssl.ssl_trusted_certificate`, but the response 401 should not be the reason for https

[2021-12-31 08:25] shuaijinchao commented on #5982
try `$upstream_host`

[2021-12-31 08:44] shuaijinchao commented on #5981
according to your description, I cannot reproduce this problem.

---

![image](https://user-images.githubusercontent.com/8529452/147813018-119c2931-9a62-4521-ad8c-0537e9ce1d94.png)

[2021-12-31 08:51] yourgracee commented on #5981
第二步配置不是正则改写，而是重定向
{
  "uri": "/bar",
  "name": "api-redirector",
  "methods": [
    "GET",
    "POST"
  ],
  "plugins": {
    "redirect": {
      "ret_code": 301,
      "uri": "/bar/"
    }
  },
  "status": 1
}

[2021-12-31 08:52] lihuawei321 commented on #5982
不行啊，获取的是我apisix的ip不是upstream的name

[2021-12-31 09:50] tokers commented on #5983
You can use the same way to access your upstream directly, without the intervention of APISIX.

[2021-12-31 09:58] tiyorn commented on #5983
I have tried it and it is ok, but not after going through the apisix, only 401 is prompted in access.log.

[2021-12-31 10:36] #5973 closed

[2021-12-31 11:13] membphis commented on #5976
it is useful.

![image](https://user-images.githubusercontent.com/6814606/147820310-5334fb44-ab5b-4fa7-9cf9-6af9dd226983.png)

I do not know.

[2021-12-31 11:22] leslie-tsang commented on #5976
I see. Thanks @membphis

[2021-12-31 11:58] zaunist commented on #5983
Hi, @tiyorn. Have you set the upstream schema ? If you want to forward https request, you need set the upstream schema to `https`. Ref  https://apisix.apache.org/zh/docs/apisix/admin-api#body-%E8%AF%B7%E6%B1%82%E5%8F%82%E6%95%B0-3
![image](https://user-images.githubusercontent.com/38528079/147822156-42a125ce-f1ff-42c6-83d4-d6f341da5c3e.png)

[2021-12-31 12:04] zaunist commented on #5976
Hi, community. I'm glad to contribute this issue. I want to confirm that `utils/gen-install-folder.sh` and `utils/install_yaml_conf.sh` been removed exactly ?

[2021-12-31 12:53] membphis commented on #5976
I think the answer is YES. @zaunist welcome to make a try ^_^

[2022-01-01 01:23] juzhiyuan commented on #5973
Hi @XuZhaoPro, we have a documentation site here https://apisix.apache.org/docs/apisix/mtls/#mtls-between-apisix-and-upstream

[2022-01-02 02:25] #5976 closed

[2022-01-02 09:47] zhaobu opened #5987 "bug:"
### Issue description

使用官方的docker-compos文件,下面这一部分
[code]
此时对应的apisix镜像的配置文件etcd部分是这样的
[code]
这是官方的默认配置是没有问题的.

如果把其中的etcd的部分改成下面这样
[code]
此时对应的etcd配置应当修改为如下
[code]
此时就会启动报错
![image](https://user-images.githubusercontent.com/8935615/147871797-9a9363c3-1918-4b5c-aa1b-83879b3ffe5a.png)

### Environment

[code]

### Steps to reproduce

1. 修改etcd 的label为mf_etcd,container_name为mf_etcd
2. 修改apisix的有关etc

[2022-01-02 09:49] #5347 closed

[2022-01-02 09:54] #5795 closed

[2022-01-02 14:36] artemus717 opened #5990 "request help: Where Can I Find More APISIX Variables ?"
### Issue description

I want to define my own log format. But I can't find enough APISIX Variables. I only find this:https://apisix.apache.org/docs/apisix/plugins/kafka-logger

Where Can I Find More APISIX Variables ?

### Environment

- apisix version (cmd: `apisix version`): 2.11.0

Using Official Docker Image.

[2022-01-02 17:24] BoyK opened #5991 "request help: How to maintain TCP long links using APISIX"
### Issue description

Business links are as follows：

      Client <-----tcp long link----> APISIX <-------> Services

How can I achieve it ?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-in

[2022-01-02 17:27] zaunist commented on #5991
cc @tzssangglass

[2022-01-03 04:18] tokers commented on #5991
@BoyK Hi, maybe you can learn the stream proxy functionality, see https://apisix.apache.org/docs/apisix/stream-proxy/ for details.

[2022-01-03 04:20] tokers commented on #5990
There are a lot of variables from Nginx itself, I think the [Variable Index Doc](http://nginx.org/en/docs/varindex.html) is a good place.

[2022-01-03 04:37] tzssangglass commented on #5987
Duplicate of apache/apisix-docker#115?

[2022-01-03 05:51] zhaobu commented on #5987
我看了一下,好像你给的这个issues里面说的已经pr合并了,我遇到的应该是新的问题.我是昨天才开始用apisix的,也许是姿势不对? 不过貌似只有apisix才会遇到这个问题,

[2022-01-03 07:18] BoyK commented on #5991
tks

[2022-01-03 07:18] #5991 closed

[2022-01-03 08:27] tzssangglass commented on #5987
see this, It could be https://github.com/apache/apisix-docker/blob/5d3c4c63d21f0c40655d005fdb9cb3746f2e4af3/example/apisix_conf/config.yaml#L24 has not been changed

[2022-01-03 08:51] juzhiyuan commented on #5990
![image](https://user-images.githubusercontent.com/2106987/147912974-24724011-4f29-4f8a-9e24-8f56caf50a76.png)

Hi @artemus717, here has the hyperlink to Nginx vars, may I know if it's hidden too deep to notice this?

[2022-01-03 08:59] juzhiyuan commented on #5966
Hi @xianshun163, here has one benchmark case from @membphis https://gist.github.com/membphis/137db97a4bf64d3653aa42f3e016bd01

For your question, let's wait for more replies.

[2022-01-03 09:01] juzhiyuan commented on #5955
The discussion is created here https://github.com/apache/apisix/discussions/5959

[2022-01-03 11:54] leslie-tsang commented on #5930
IMO, we **shouldn't change** the expiration time without permission[1][2], it defeats the **purpose** of the Token and makes it less reliable. It is best to refresh the token before it has expired.

[1] https://jwt.io/introduction/
[2] https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.4

[2022-01-03 11:55] leslie-tsang commented on #5930
@juzhiyuan Consider solved. Feel free to reopen it if need.

[2022-01-03 13:17] spacewander commented on #5990
@artemus717
Listed in https://github.com/apache/apisix/pull/5997/files

[2022-01-03 15:11] #5930 closed

[2022-01-03 16:11] shuaijinchao commented on #5982
Sorry, I made a mistake. `upstream_name` is currently not set as a built-in variable of APISIX. It needs to be set before it can be obtained in the access_log. I think it is useful in certain situations. Are you interested in submitting a PR to enhance this feature?

[2022-01-03 23:17] suninuni commented on #5092
After a period of stability, memory increased until oom...

![image](https://user-images.githubusercontent.com/7345529/147990245-99e8bac9-5640-4451-aca7-ce5203f4f0f1.png)

[2022-01-04 01:21] #5955 closed

[2022-01-04 01:51] jagerzhang opened #5998 "request help: logger plugins supports report custom labels of route"
### Issue description
如图，为了方便管理，我们这边会给每个路由自定义系统和应用的标签。希望各日志插件能将这个标签也记录一下，方便在日志分析时和业务做快捷的对应。
![image](https://user-images.githubusercontent.com/9711651/147999207-8ac9cddc-d4e1-464a-aff9-1a563c47ec97.png)

目前在用 kafka-logger ，望优先支持~~感谢。

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`): docker-centos

[2022-01-04 02:17] XuZhaoPro commented on #5973
My problem is that apisix certify a client which send request ，it means only some special clients can visit apisix. Not apisix certify upstremas.

[2022-01-04 02:19] #5990 closed

[2022-01-04 02:45] tzssangglass commented on #5982
can be resolved by: https://github.com/apache/apisix/pull/5740/files

[2022-01-04 02:54] tzssangglass commented on #5966
ref: https://github.com/apache/apisix/discussions/5950

hi, @laughingyear It seems to be the same confusion and we can merge the discussions here.

[2022-01-04 03:29] tzssangglass commented on #5998
useful