[2021-05-02 08:57] tangtangsara commented on #4171
modify ngx_tpl.lua
![image](https://user-images.githubusercontent.com/11268163/116807760-7baf4f80-ab67-11eb-8508-cb9d96b0d12c.png)

[2021-05-02 09:29] tzssangglass commented on #4171
This modification is not recommended
Instead of modifying `ngx_tpl.lua`, what about just letting apisix do the proxy?

[2021-05-02 13:09] spacewander commented on #4171
@tangtangsara

It is a known issue of OpenResty: https://github.com/openresty/lua-nginx-module/issues/1453#issuecomment-452944624

[2021-05-03 07:52] juzhiyuan commented on #4161
fine, it seems that those 2 issues are resolved, feel free to reopen this one if needed.

[2021-05-03 07:52] #4161 closed

[2021-05-04 00:06] hozaifaaoud opened #4176 "request help:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): APISIX/2.3
* OS (cmd: `uname -a`): #60-Ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version, if the issue is about installatio

[2021-05-04 01:45] spacewander commented on #4176
You can use ip-restriction and consumer-restriction plugin.

[2021-05-04 04:27] iamayushdas commented on #4150
i guess the issue is resolved now, you can close the issue now

[2021-05-04 05:07] #3719 closed

[2021-05-04 06:35] zhangwenjian opened #4177 "request help: I need tcp upstream connection result as a response to tcp client"
### Issue description
I use apisix as my tcp protocol gateway, you can imagine that is a rdp gateway.
The tcp client will send final server ip address after connected with gateway, and the balancer_by_lua_block will call set_current_peer to set the assigned server ip address  as final backend. Then I need to response to the client that server is connected successfully or failed. But after set_curr

[2021-05-04 06:45] tokers commented on #4150
ping @imjoey

[2021-05-04 06:55] spacewander commented on #4177
This feature is not supported by Nginx's stream subsystem's proxy_pass.
But you can implement the proxy feature in Lua via `ngx.socket.tcp` and achieve it.

[2021-05-04 07:03] imjoey commented on #4150
@iamayushdas I'm afraid not yet. In ADMIN API, response-rewrite plug-in also checks if the input `body` is base64-decodable, while there is no such check in MANAGER API.

Current checks performed in MANAGER API is merely property validation, without any logical checks like ADMIN API. While, there is no such similar mechanism for additional plug-in checks in MANAGER API. Probably we would better to

[2021-05-04 07:44] hzbd commented on #4124
![image](https://user-images.githubusercontent.com/3000843/116973686-7715a300-acef-11eb-9436-617d1982fbcb.png)

part 1: common prefix
part 2: consumer username
part 3:  ？

Is this part(part 3) a version attribute? Can you help find out where the key generation rules are in the source code?

[2021-05-04 10:35] #4107 closed

[2021-05-04 11:41] zhangwenjian commented on #4177
to spacewander: The solution based on ngx.socket.tcp is to overide the default implemention of upstream connection in nginx? Is there any open source code for reference?

[2021-05-04 13:38] spacewander commented on #4177
I have been heard some people did it before. Unfortunately, there is no open source code AFAIK.

[2021-05-05 01:44] li1234yun opened #4182 "request help: apisix config backup"
### Issue description
When I use apisix in my dev environment, I want to import my dev environment config to production environment. Maybe you can think of the config backup and restore.

### Environment

* apisix version: 2.5
* OS (cmd: `uname -a`): Darwin
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info`

[2021-05-05 02:17] zhangwenjian commented on #4177
Someone suggests to write a nginx c module to realize a own tcp protocol gateway. Actually, the core logic of my gateway is very simple, do I need to write a new full nginx stream module?

[2021-05-05 03:39] Firstsawyou commented on #4182
Can you use etcd data backup and recovery?

[2021-05-05 07:34] li1234yun commented on #4182
Thank you for providing the backup way! Maybe you can think of offical solution for config backup and restore to improve user experience and avoid other extra burden.

[2021-05-05 07:45] spacewander commented on #4182
Using etcd's mechanism to backup the configuration is the official solution.

[2021-05-05 08:15] #4162 closed

[2021-05-05 08:47] li1234yun commented on #4182
OK, I see, Thank you! I will close the issus.

[2021-05-05 08:47] #4182 closed

[2021-05-06 01:16] tzssangglass commented on #1538
@sshniro , I am interested in this enhancement and need more discussion. Does your proposal mean that Open ID connect is linked to the JWT plugin?

[2021-05-06 01:22] tzssangglass commented on #4157
@Molio-tan, hi,  from the error logs, it seems that some dependent lua packages were missing during the installation of apisix. Have you solved this problem?

[2021-05-06 01:41] nanamikon commented on #3673
Any news?  We found the similar porblem,   some of nodes (not all) found this error message,  my etcd version is 3.4.13.
[code]

But admin api is ok provided by these nodes ,  and they can not recover forever

[2021-05-06 01:45] Yiyiyimu commented on #3673
@nanamikon will add PR to solve it this week

[2021-05-06 02:04] tokers commented on #4124
That's right, the third part is the version of plugin configuration. Also, it's feasible to customize your key.

Please see http://apisix.apache.org/docs/apisix/plugins/limit-count.

[2021-05-06 02:06] tokers commented on #4150
@imjoey The second way is a long-term job, what about just fixing these problems one-by-one now?

[2021-05-06 02:30] #4111 closed

[2021-05-06 02:36] Molio-tan commented on #4157
Yes, I do. I am sure it 's successful during the command execution of `make deps`, and I could find the file `events.lua` was in the path `/usr/local/share/lua/5.1/resty/worker/`.So I think the module 'resty.worker.events' was already installed.

[2021-05-06 02:44] tzssangglass commented on #4157
1. check that `events.lua` does not appear in the search path of the error log
2. check the `events.lua` file permissions

[2021-05-06 03:19] imjoey commented on #4150
@tokers OK, got this. I will close this issue for now and open other PRs if needed. Thanks for the guidance. 😄

[2021-05-06 03:19] #4150 closed

[2021-05-06 06:58] sandy420 commented on #4160
![image](https://user-images.githubusercontent.com/10955441/117252895-2a5dd380-ae79-11eb-8012-b4a49d979bae.png)
![image](https://user-images.githubusercontent.com/10955441/117252937-377ac280-ae79-11eb-9f39-a870e40e50b6.png)
![QQ图片20210506145421](https://user-images.githubusercontent.com/10955441/117254753-5ed28f00-ae7b-11eb-84fb-56c4f1d1da37.png)
This should be a bug, please fix it!!!

[2021-05-06 07:03] #3452 closed

[2021-05-06 08:32] tzssangglass commented on #4160
my reproduction process
1. start apisix 2.4
2. add route
[code]
3. `curl -i http://127.0.0.1:9080/apisix/prometheus/metrics`

`item.modifiedIndex` is a number type value.

what did you do to cause `item.modifiedIndex` to become a string type value?

[2021-05-06 08:47] sandy420 commented on #4160
This is one of my route configurations:

{
    "methods": [
        "HEAD",
        "POST",
        "GET",
        "PUT",
        "DELETE",
        "OPTIONS",
        "PATCH"
    ],
    "id": "00000000000000007643",
    "hosts": [
        "xxxx.xxxx.com"
    ],
    "status": 1,
    "desc": "",
    "update_time": 1619686104,
    "create_time": 1618974733,
    "enable_websocket": false,
    "plugin_

[2021-05-06 08:58] #3939 closed

[2021-05-06 11:22] Molio-tan commented on #4157
Thank you for your rely.
I check the file`events.lua`esixts in the path below as the red box:
![image](https://user-images.githubusercontent.com/31587573/117289678-76bc0a00-ae9f-11eb-9dc4-db4d6ec1d8ac.png)

And the file permissions as follows
![image](https://user-images.githubusercontent.com/31587573/117289610-60ae4980-ae9f-11eb-8d48-9ac68c00b857.png)
I installed the apisix with the `root` user a

[2021-05-06 11:33] tokers commented on #4157
@Molio-tan Which user are used for running APISIX?

[2021-05-06 12:03] tzssangglass commented on #4160
@sandy420 good catch! welcome PR!

I can reproduce it now

step 1：create a plugin config

[code]

step2: bind it to route
[code]

step3: trigger route
[code]

step4: request prometheus endpoint
[code]

if it does not appear, repeat step4.

the error.log is

[code]

this problem may be caused by https://github.com/apache/apisix/blob/b551f42d90d07598efd775fdeac392043534f8b4/apisix/plugin_config.lua#

[2021-05-07 00:39] hzbd commented on #4124
hi，@tokers

So can we remove the third part? Only keep the latest version (if possible, how to do it?). The version history of the data does not seem to be used in the future, unless it is used for fault tracking.

[2021-05-07 00:55] #3962 closed

[2021-05-07 01:33] #4127 closed

[2021-05-07 01:34] tokers commented on #4124
Just like what I said above, you can customize the key.

[2021-05-07 01:49] Molio-tan commented on #4157
@tokers I ran the APISIX with the root user.

[2021-05-07 01:58] spacewander commented on #4160
@tzssangglass
Thanks for your investigation!

[2021-05-07 02:07] #1573 closed

[2021-05-07 02:10] sniper-xx opened #4193 "request help: how to resovle cjson decode empty array and emtpy object separately?"
### Issue description

The json data from the backend server, both have empty array and empty object. when decode the json data, it's only to controll cjson decode either to array or to object. but that leads to troubles. Is there any resolution to resolve this proplem?

[2021-05-07 02:23] tokers commented on #4157
So as the worker processes?

[2021-05-07 02:48] spacewander commented on #4193
Could you provide an example?

`[]` will be decoded as an empty array, `{}` will be an empty object. It is not a problem.

[2021-05-07 02:48] #4124 closed

[2021-05-07 03:18] Molio-tan commented on #4157
@tokers Yes, during the installation and runing , I executed the command with root user.
Shall we use the efficient way to chat with each other, such as the Wechat? My wechat is Molio-tan, thanks.

[2021-05-07 04:00] spacewander commented on #4193
What about using `decode_array_with_array_mt`? https://github.com/openresty/lua-cjson#decode_array_with_array_mt
Can it solve your problem?

[2021-05-07 04:14] sniper-xx commented on #4193
[code]

[2021-05-07 04:18] sniper-xx commented on #4193
The apisix use as a gateway. I want to wrap the result of backend service.  but the empty array and empty object both exists in the backend data. the problem is both empty object and empty array is encoded to either object or array.

[2021-05-07 04:20] sniper-xx commented on #4193
Is there any resolution to resovle this proplem?  I expected the empty array is decoded a array. the empty object is decoded a object.

[2021-05-07 04:22] sniper-xx commented on #4193
I try to replace the content string,but i don't known whether it affects performance?

[2021-05-07 04:28] spacewander commented on #2078
Solved by Chaos test.

[2021-05-07 04:28] #2078 closed

[2021-05-07 04:31] spacewander commented on #2674
Solved. See https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#ssl
Can be controlled via `client.ca` & `client.depth`.

[2021-05-07 04:31] #2674 closed

[2021-05-07 06:50] spacewander commented on #4193
It may solve your problem

[2021-05-07 07:48] sniper-xx commented on #4193
It's solved using decode_array_with_array_mt. thanks!

[2021-05-07 09:18] houyinke opened #4196 "bug: apisix和consul无法整合成功"
### 环境：Centos7

### 以下是安装步骤和问题

adduser admin
yum install wget -y
yum install vim -y
yum install unzip -y

wget https://releases.hashicorp.com/consul/1.7.3/consul_1.7.3_linux_amd64.zip

sudo unzip consul_1.7.3_linux_amd64.zip -d /usr/bin

sudo vim /lib/systemd/system/consul.service

[Unit]
Description=consul
[Service]
ExecStart=/usr/bin/consul agent -config-dir /etc/consul
KillSignal=SIGINT

sudo

[2021-05-07 09:59] Gary-Airwallex opened #4197 "request help: set different Host header for different Nodes in a single Upstream?"
### Issue description
APISIX supports rewriting of Host header while talking to the upstream nodes, either with the proxy-rewrite plugin or with "pass_host" and "upstream_host" attributes in Upstream configuration. However, they both rewrite host for the Upstream, not nodes - so for example if I have an upstream with nodes:
[code]
I can't set Host to "host-1.com" when the first node is picked by t

[2021-05-07 10:01] Gary-Airwallex commented on #4197
Just saw this Issue https://github.com/apache/apisix/issues/2620. It seems like balancer.recreate_request() is what's needed to achieve this?

[2021-05-07 10:22] tokers commented on #4197
https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L392

try to set `pass_host` to node.

[2021-05-07 10:52] gxthrj commented on #2620
@spacewander @membphis Is there any progress on this?

[2021-05-07 10:59] dmsolr commented on #4157
@Molio-tan
I met something like this a few days ago. But I am working non-ARM environment. Maybe there is a helping for you.

1. remove "./deps" directory.
2. following [this doc](https://github.com/apache/apisix/blob/master/docs/en/latest/install-dependencies.md) and walking through again.
3. make deps

Free feel to ping me if it still cannot be resolved.

[2021-05-07 11:38] nanamikon opened #4198 "request help: How to implement nginx rewirte funtcion (Internal redirection)"
### Issue description
For example,  just as follow
nginx.conf
[code]

When we visit localtion /,   nginx will internal redirect to localtion /test。I have refered to redirect plugin and proxy-rewrite plugin， none of them can implement this function。  So should  I build a new plugin to implement it？

### Environment

* apisix version (2.5):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `

[2021-05-07 14:04] tzssangglass commented on #4198
may close by #4152

[2021-05-07 14:09] tzssangglass commented on #4196
please add the `error.log`

[2021-05-07 14:18] nanamikon commented on #4198
Redirect plugin will return 302， let client to do the redirection，  but what I need is do it Internally，  for example， after rewriting， route matching should be executed again with new uri， so does the following process

[2021-05-07 15:16] tzssangglass commented on #4198
`ngx.exec` can do internal redirection, but to get this request re-routed I don't know of any good way to achieve this.
I'm wondering if there is any indirect way to accomplish this? For example, set up two routes, and the proxy-rewrite plugin on route A does a path rewrite and the rewritten path can be macth with route B,  forwards request to route B?

[2021-05-07 18:42] hozaifaaoud opened #4199 "request help:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version, if the issue is about installation (cmd: `lua

[2021-05-07 19:55] #3722 closed

[2021-05-08 01:22] spacewander commented on #4199
the header argument is only supported in the master branch.

[2021-05-08 01:34] #4193 closed

[2021-05-08 03:32] yxm-hs opened #4200 "request help: APISIX网关可以定制一个后台来方便用户的配置嘛"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version, if the issue is about installation (cmd: `luarocks --ve

[2021-05-08 04:03] spacewander commented on #4200
Do you mean https://github.com/apache/apisix-dashboard?

[2021-05-08 04:57] yxm-hs commented on #4200
不是apisix-dashboard

[2021-05-08 05:06] yxm-hs commented on #4200
定制的这个后台能够简化授权流程，一些不是很懂计算机的用户可以通过简单的操作来授权或取消API的调用密钥

[2021-05-08 08:14] Molio-tan commented on #4157
@dmsolr Thank you for your solutions. I think there maybe some wrong during `make deps` too.So, I again to install APISIX by source code. Here are my steps:
1. get the source code by `git clone http://github.com/apache/apisix.git`;
2. execute `cd apisix; make deps`, since I have already install OpenResty and ETCD.

During the step 2, there is an error
![image](https://user-images.githubusercontent

[2021-05-08 11:12] spacewander commented on #4200
We don't have plan to do it in the open source version.

[2021-05-08 11:12] #4200 closed

[2021-05-09 02:31] #4160 closed

[2021-05-10 01:33] water1st opened #4206 "bug: consul example response 500"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.5
* OS (cmd: `uname -a`):Linux 7c30c8872c4e 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info

[2021-05-10 01:47] water1st opened #4207 "request help: implement consul support"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.5
* OS (cmd: `uname -a`):Linux 7c30c8872c4e 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.5.
* apisix-dashboard docker image version: apache/apisix

[2021-05-10 03:59] spacewander commented on #4207
What does this mean? Could you give an example?

[2021-05-10 06:02] water1st commented on #4207
consul has two functions, namely, service discovery and configuration(key value stroage). Service discovery is service instance to register the endpoint in consul,consul will check the health and kick out the abnormal endpoint offline. Another function is configuration(key value storage). At present, the consul support in apisix document is key value storage. If key value storage is used to realiz

[2021-05-10 06:04] water1st commented on #4206
yes , i did.

[2021-05-10 06:31] imjoey commented on #4157
@Molio-tan Have you tried the similar solution provided by https://blog.csdn.net/nange_nice/article/details/82182635? Probably this may give you a quick fix.

Currently, only OpenSSL is well tested with openresty. The introduction of [GmSSL repository](https://github.com/guanzhi/GmSSL#about-gmssl) tells `Existing projects such as Apache web server can be easily ported to GmSSL with minor modificat

[2021-05-10 08:06] spacewander commented on #4207
Maybe you can take a look at Consul's API: https://www.consul.io/api-docs/catalog#list-nodes-for-service

[2021-05-10 08:28] water1st commented on #4207
yes, i hope apisix consul support use this way, not just key value way, how can i implement that , maybe i need write some openrest script for implement,but i don't know how the openrest  work and i dont konw how the script work, can you offer some help?like offer some other discovery implement exmple.

[2021-05-10 10:57] Firstsawyou commented on #4206
Okay, I will confirm it later.

[2021-05-10 11:27] Molio-tan commented on #4157
I felt SO SORRY that we came back at first on this issue.  The module 'resty.worker.events' not found.
Here are my steps:
1. install openssl111
[code]
2. install openresty
[code]
3. set the path of 'OPENSSL_LIBDIR' and 'OPENSSL_INCDIR' by `luarocks`
[code]
4. start APISIX by `./bin/apisix start`

[2021-05-10 11:37] membphis commented on #2620
only support 1.19.3 is fine.

In the future, APISIX will mainly work with patched openresty to support mTLS and other new functions.

[2021-05-10 12:58] dickens7 opened #4209 "New feature suggestion: request-id plugin supports "snowflake" algorithm"
Add support for snowflake algorithm to Request-ID plugin, or provide a separate snowflake algorithm plugin.

[2021-05-10 16:13] hozaifaaoud commented on #4199
What do you mean by master branch and how can I access it ... could you please give me more details?

[2021-05-10 18:34] Yiyiyimu commented on #4199
you can try to get apisix with `git clone https://github.com/apache/apisix.git` or `docker pull apache/apisix:dev`

[2021-05-11 00:58] spacewander commented on #4207
You can talk a look at https://github.com/apache/apisix/blob/master/apisix/discovery/consul_kv.lua

[2021-05-11 01:43] tzssangglass commented on #4209
This is a feature to be implemented, and as far as I know there is no suitable implementation of the snowflake algorithm in the lua language, see also this comment:
https://github.com/apache/apisix/blob/ac21146c356cc9f9702b79b55dc42bbb3dec6877/apisix/core/etcd.lua#L296-L299

[2021-05-11 03:09] daputaowang opened #4210 "request help: Is there a more readable and detailed process for Tengine to replace OpenResty?"
### Issue description
In install-Dependents.md I only see ci/linux_tengine_runner.sh, but that's not enough to help me complete the tengine replacement of openresty.
Can you provide the detailed process of replacement and the verification method of successful replacement?
Thank you.

[2021-05-11 03:12] dickens7 commented on #4209
I have my own request-id plugin implements a snowflake algorithm using https://github.com/stuartcarnie/lua-snowflake

[2021-05-11 03:19] spacewander commented on #4209
@dickens7
We can add more options in the request-id to control the id generation way.
PR is welcome!

[2021-05-11 06:38] StretchV opened #4213 "request help: The response head was strangely modified after passing APISIX"
### Issue description
我通过修改本地的hosts对路由在postman上分别做了测试，一种是通过apisix，一种是直接访问后端的ip地址，结果是通过apisix后响应头被不知道什么原因的修改了，下面是不过apisix和过apisix的两种情况
![2222222](https://user-images.githubusercontent.com/31284380/117768892-9a979b00-b265-11eb-953d-8625759a664c.png)
![111111](https://user-images.githubusercontent.com/31284380/117768906-a08d7c00-b265-11eb-90bc-ee6dbcd3dd52.png)

这是后端往响应头上加头信息的代码：
![33333333333](https

[2021-05-11 06:50] tzssangglass commented on #4213
adding `Server` header to the response header is a default behavior, indicating that the request is handled by APISIX， but overriding `Access-Control-Allow-Headers` is a problem, what are your upstream services?

[2021-05-11 06:53] StretchV commented on #4213
upstream services is ingress-controller  ，I can get the head if I bypass APISIX and visit the upstream

[2021-05-11 06:59] tzssangglass commented on #4213
what is the value of `Access-Control-Allow-Headers` in the request header?

[2021-05-11 07:05] StretchV commented on #4213
这3个是用来cors跨越名访问用的， 还有我之前也有往头里加cache-control: no-cache（清除浏览器缓存）这个过完apisix后也不见了

[2021-05-11 07:13] Firstsawyou commented on #4213
This information seems to be carried with the `cors` plugin enabled. You check if the `cors` plugin is enabled.
<img width="900" alt="截屏2021-05-11 下午3 09 47" src="https://user-images.githubusercontent.com/52862365/117773844-645d1a00-b26b-11eb-820b-ba4315cc6f46.png">

[2021-05-11 07:22] gewei2000 opened #4215 "request help: how to get upstream_obj in a plugin by upstream_id"
### Issue description

how to get upstream_obj in a custom plugin by upstream_id

### Environment

* apisix version (cmd: `apisix version`):2.5
* OS (cmd: `uname -a`):centos7

[2021-05-11 07:30] spacewander commented on #4209
And there is a question, how can it handle more than 1024 workers?

[2021-05-11 07:33] spacewander commented on #4215
See https://github.com/apache/apisix/blob/504cd1b0966880101b3e2582cfb1cf65f23a7863/apisix/init.lua#L262-L264

[2021-05-11 07:40] dickens7 commented on #4209
no problem
But now there are two problems
1. Is the storage location of worker number reasonable?
[code]
2. What to do when workers is greater than 1024

[2021-05-11 08:09] StretchV commented on #4213
经过测试需要加上插件proxy-cache，并设置hide_cache_headers：false 才能返回给客户端，但是我不太明白为什么会这样呢，这个插件是必须要加的吗？

[2021-05-11 08:20] yxm-hs opened #4217 "request help:APISIX 中hmac-auth插件他的认证级别只能到接口嘛"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version, if the issue is about installation (cmd: `luarocks --ve

[2021-05-11 08:39] Firstsawyou commented on #4213
The proxy-cache plugin is not necessary, you can provide route related configuration data, I will check it.

[2021-05-11 08:56] yxm-hs commented on #4217
使用hmac-auth鉴权方式，只能一个接口对应一个密钥信息嘛

[2021-05-11 08:56] StretchV commented on #4213
{
  "create_time": 1620454728,
  "update_time": 1620454728,
  "uris": [
    "/bff-message-center",
    "/bff-message-center/*"
  ],
  "name": "gateway-test_XXXXXX___bff-message-XXXXXX",
  "methods": [
    "GET",
    "HEAD",
    "POST",
    "PUT",
    "DELETE",
    "OPTIONS",
    "PATCH"
  ],
  "hosts": [
    "gateway-test.XXXXXX"
  ],
  "service_id": "347097464416764780",
  "enable_websocket": tru

[2021-05-11 09:06] spacewander commented on #4213
@StretchV
the issue is fixed by https://github.com/apache/apisix/pull/3789 in v2.5?

[2021-05-11 09:27] StretchV commented on #4213
那我可以先用proxy-cache这个插件配置hide_cache_headers：false 这种方式解决吗,会有什么影响吗,我目前吧这个插件配成全局插件了,我的是2.3版本

[2021-05-11 09:48] Firstsawyou commented on #4217
No, after the hmac-auth plugin is enabled on a route, it will match the hmac-auth plugin information configured on the consumer, and you can configure multiple hmac-auth plugins on the consumer.

[2021-05-11 09:52] gewei2000 commented on #4215
@spacewander I try this method, but always get nil value

[2021-05-11 09:53] spacewander commented on #4213
This solution looks good to me. If possible, please upgrade to 2.5.

[2021-05-11 09:54] spacewander commented on #4213
Consider solved by #3789

[2021-05-11 09:54] #4213 closed, assigned to nobody

[2021-05-11 10:01] yxm-hs commented on #4217
在一个consumer上开启并配置hmac-auth插件，route上开启hmac-auth插件，使用该consumer的信息及接口的信息生成密钥，这个密钥只能访问服务下用于生成密钥信息的接口，如果要访问其他接口，是不是他们都得去生成密钥，再访问。可以一个生成的密钥用于多个接口的调用嘛

[2021-05-11 10:30] spacewander commented on #4215
@gewei2000

You should provide a runnable example.

[2021-05-12 00:50] Yiyiyimu commented on #4156
Hi @tao12345666333 do you got any progress these days

I tried to look into this problem and failed to find the optimal choice. Here's what I found:
1. First of all, Github Actions have not and seems not to support arm machine as of Service in near future. It seems qemu could be a feasible plan but I can't find people really using it in this kind of situation, and qemu would definitely introduce q

[2021-05-12 01:04] spacewander commented on #4209
What about forking that library and modify it?
Currently,

machine bits: 10
per ms bits: 12
timestamp bits: 42

We can change it to

machine bits: 16 (65535 workers)
per ms bits: 10 (512 per ms, which is 512000 per second and is enough as a per worker QPS)
timestamp bits: 38 (8 years, we can change the start point to 2021-01-01)

[2021-05-12 01:21] Yiyiyimu commented on #4209
Or we could implement it like [sonyflake](https://github.com/sony/sonyflake) to change the time interval from 1ms to 10ms, and then we would have ~80 years. But not sure if 512 per 10ms is enough for us

[2021-05-12 01:22] vincentwc opened #4221 "request help: 路由设置失败，希望通过访问apisix最终路由到10.101.42.163:8082/user/hello这个地址"
### 路由设置访问失败

###
10.101.42.163 服务器上面部署web应用 ，地址10.101.42.163:8082/user/hello
10.255.249.3上面部署的是apisix
创建Route如下：

[code]

配置UpStream如下:

[code]

路由上游绑定如下：

[code]

访问

10.255.249.3:9080/user/hello
无响应，没有正确的路由到 10.101.42.163:8082/user/hello这个地址上来，请帮忙指点一下

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): Linux csf-2 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_

[2021-05-12 01:42] Firstsawyou commented on #4221
You can directly create a route for proxy access like this:

[code]

[2021-05-12 02:03] Firstsawyou commented on #4206
@water1st
I followed the documentation steps and did not reproduce this problem. Can you provide me with steps to reproduce the problem?

[2021-05-12 02:12] riskgod opened #4222 "request help: redirect can't support POST"
hey, I set a new router use `redirect` plugin, but it shows `GET` after redirect the router
####  Setup upstearm
[code]

#### setup router
[code]
After call this router, it shows 404 router not found.
<img width="425" alt="Screen Shot 2021-05-12 at 10 11 28 AM" src="https://user-images.githubusercontent.com/3436287/117908055-6d50f880-b30a-11eb-8f5a-7eca3a29653f.png">
After debug, why `checkAddress

[2021-05-12 02:21] tao12345666333 commented on #4156
@Yiyiyimu hi, this issue is divided into two parts

* Build arm image  ref: https://github.com/apache/apisix-docker/pull/165 （I will fix it later）
* Allow CI to run in the arm environment.  I saw this before https://github.com/marketplace/actions/run-on-architecture#supported-platforms

But just like https://github.com/apache/apisix-docker/pull/165#issuecomment-828892611, we cannot use non-officia

[2021-05-12 02:23] juzhiyuan commented on #4156
cc @moonming

[2021-05-12 02:24] Marco-Zheng opened #4223 "request help: how to configure complex nginx route"
### Issue description
Our company has below complex nginx route, can we manual configure it in openresty nginx directly?
![image](https://user-images.githubusercontent.com/52538259/117908968-f583cd80-b30b-11eb-9e96-427230dcf773.png)

[2021-05-12 02:36] Yiyiyimu commented on #4156
Good to know that!

Actually we are allowed to do so with git submodule. And as you said, the larger problem might be the performance loss, so maybe we could wait for an arm64 instance first 😁

[2021-05-12 02:56] spacewander commented on #4222
It is your client to decide to use GET after redirect.

If your client supports 308, you can use 308 instead. See the difference between 301 and 308:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/308

[2021-05-12 02:59] spacewander commented on #4223
See https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-use-route-uri-for-regular-matching

[2021-05-12 03:02] moonming commented on #4156
I think you can do this in your fork repo instead of apache/apisix.
what do you think?

[2021-05-12 03:18] tokers commented on #4209
It' OK, as it's not possible that a single worker can handle about `51200` QPS.

[2021-05-12 03:35] #4222 closed

[2021-05-12 03:36] spacewander commented on #4209
@Yiyiyimu @tokers
Maybe my previous words misled you. The number of `per ms bits` is not equal to QPS. The number is not distributed uniformly. It should be much larger than the QPS. 512 per 10ms is safe enough to me.

[2021-05-12 03:46] Yiyiyimu commented on #4156
Hi @moonming Do you mean to test it in the forked repo before applying it to the main repo? If that's it, I could try to test it with my own AWS account at first.

[2021-05-12 03:50] moonming commented on #4156
yes

Thanks,
Ming Wen
Twitter: _WenMing

Shuyang Wu ***@***.***> 于2021年5月12日周三 上午11:46写道：

[2021-05-12 03:50] tao12345666333 commented on #4156
But if you do this, all the tests have to be synchronized in the forked repo and run?

[2021-05-12 04:08] spacewander commented on #4209
I just made a simple benchmark, and found the max value of count in a ms is 511, which is the default backlog of the TCP socket. Since the number can be increased, now I recommend to use

machine bits: 16
per ms bits: 12
timestamp bits: 36

The epoch need to be divided by 2 years so that we don't need to update it in 2023.

[2021-05-12 06:14] Firstsawyou commented on #4217
According to the formula of the signature string, different API interfaces need to use different parameters such as `URI`. Therefore, one key cannot be used to call multiple interfaces.
`signing_string = HTTP Method + \n + HTTP URI + \n + canonical_query_string + \n + access_key + \n + Date + \n + signed_headers_string`

[2021-05-12 06:51] #4221 closed

[2021-05-12 06:52] vincentwc commented on #4221
check and find my server firewall is on state,so can't redirect to myu local computer

[2021-05-12 06:53] vincentwc opened #4226 "request help: how to manager so many api by group in apisix?"
### Issue description  在apisix里面怎么分组管理大量的api呢？

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version, if the issue is about installa

[2021-05-12 07:35] yxm-hs commented on #4217
嗯呢，明白

[2021-05-12 07:35] #4217 closed

[2021-05-12 07:44] tokers commented on #4226
@vincentwc You can leverate the labels feature, see http://apisix.apache.org/docs/dashboard/api/api for details.

[2021-05-12 08:08] vincentwc commented on #4226
thinks for your reply, so there're any demo for labels use,  I send http request likew this,demo2 is my label-key
{{ip_addr}}:9080/apisix/admin/routes?label=demo,
 but the response is all routes which include no this lable's route  ,show as below:
`{
    "action": "get",
    "node": {
        "key": "/apisix/routes",
        "dir": true,
        "nodes": [
            {
                "modifiedIn

[2021-05-12 09:55] Firstsawyou commented on #4226
You can use the labels filter function of [APISIX Dashboard](https://github.com/apache/apisix-dashboard) to manipulate labels.
<img width="1173" alt="截屏2021-05-12 下午5 54 24" src="https://user-images.githubusercontent.com/52862365/117955958-29321800-b34b-11eb-8c38-15179cfb47a3.png">

[2021-05-12 10:15] vincentwc opened #4228 "request help: key-auth插件自定义header失败"
### Issue description key-auth插件自定义header失败
ip如下  82是我创建route的id  请求为patch
{{ip_addr}}:9080/apisix/admin/routes/82
首先，创建一个默认的key-auth，返回成功，
{
    "plugins": {
        "key-auth": {
        }
    }
}
并且header中添加apiKey=auth-one能够成功返回响应结果
再次：通过patch创建一个自定义header的插件，返回失败
{
    "plugins": {
        "key-auth": {
            "header": "Authorization"
        }
    }
}
错误信息如下
`{
    "error_msg": "failed

[2021-05-12 10:25] spacewander commented on #4228
Duplicate of #4199

[2021-05-12 10:25] #4228 closed

[2021-05-12 10:28] vincentwc commented on #4199
this means only can set one key-auth？

[2021-05-12 11:43] Gary-Airwallex opened #4229 "feat: append query string when using redirect with regex_uri"
### Proposed changes
https://github.com/apache/apisix/pull/4152 supports redirect with regex, but 1. it does not append the query string from original request to the Location header, and 2. it does not encode url. I suggest fxing these as in proxy-rewrite. If everyone agrees on this I'll create a PR for the change.

### Concerns
Proposed changes do change the behavior of current implementation, an

[2021-05-12 11:45] vincentwc opened #4230 "request help: 怎么给不同的路由设置同一种类型的auth，但是名称不同？"
### Issue description
now，we have two route :routeA  and  routeB
                         two key-auth: keyA  keyB
how to set routeA with keyA   and routeB with keyB?
有两个路由，两个key-auth吗，怎么让routeA与keyA绑定，routeB与keyB绑定

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `

[2021-05-12 12:20] vincentwc opened #4231 "request help: 怎么根据不同的用户创建不同权限"
### Issue description

### Environment、
对于授权管理这一块不是很了解，也看了官网的相关资料
https://apisix.apache.org/zh/docs/apisix/plugins/key-auth
但是好像没有关于不同用户的权限操作？
* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-

[2021-05-12 14:09] Firstsawyou commented on #4229
I think this is a very good feature. For concerns, we can use a switch to decide whether to enable this feature.
@spacewander  What do you think?

[2021-05-12 14:11] Firstsawyou commented on #4230
You can achieve this through the consumer-restriction plugin, please refer to the documentation here: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/consumer-restriction.md

[2021-05-12 14:17] Firstsawyou commented on #4231
You can configure different authentication plugins on `consumer`, and enable related authentication plugins in routing. If you want to implement different routes with different permissions, then you can refer to the use of the [consumer-restriction](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/consumer-restriction.md) plugin.

[2021-05-12 15:32] wu-sheng opened #4232 "Plugin interaction and SkyWalking native log format with trace context"
@dmsolr @moonming I want to discuss an enhancement feature for APISIX ecosystem about observability.

SkyWalking built its native tracer implementation for Nginx and APISIX, so we have this, http://apisix.apache.org/docs/apisix/plugins/skywalking/. Which supports tracing and backed by OAP's analysis capability, we have topology with metrics about traffic.

Now, with the latest [SkyWalking's log an

[2021-05-12 15:34] dickens7 commented on #4209
the first bit should stay at 0 and actually only use 63bit

Sonyflake definition
[code]

It may also have to come out of the two to do a callback, to deal with the time callback problem

[code]

[2021-05-12 15:34] wu-sheng commented on #4232
I know we talked about ALS, which could be another separate feature. As general logs are more flexible, ALS is focusing on topology and traffic metrics analysising.

[2021-05-12 15:51] dickens7 commented on #4209
ok.

[2021-05-12 19:08] Yiyiyimu commented on #4156
I guess Ming means we'll move ARM test from the forked repo to the main repo after it runs as expected.

[2021-05-13 01:20] spacewander commented on #4199
In the released version, yes.

[2021-05-13 01:23] vincentwc commented on #4199
got it ,thanks

[2021-05-13 01:23] vincentwc commented on #4199
got it ,tninks

[2021-05-13 01:27] vincentwc commented on #4231
got it ,thanks

[2021-05-13 01:27] #4231 closed

[2021-05-13 01:51] spacewander commented on #4229
Yes, we can add two options for them. We can create two PRs, each for a new feature.

[2021-05-13 02:19] #4196 closed

[2021-05-13 02:48] xujiesh0510 opened #4234 "websocket 多层代理"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):

apisix websocket 一层代理  可以正常工作。

当apisix 前面 放了nginx 时候，两层代理， 请求能够打到 应用，但是几秒内就报

[2021-05-13T02:42:10.903Z] Error: Connection disconnected with error 'Error: WebSocket closed with status code: 1006 ().'.

应用端报错：

2021-05-13 02:52:50.491 +00:00 [DBG] Socket opened using Sub-Protocol: 'null'.
2021-05-13 02:52:50.492 +00

[2021-05-13 02:54] vincentwc opened #4235 "request help: use response-rewrite plugin to rewrite response body failed"
### Issue description
 first, create route show as below:
`{
    "desc": "my-product-demo-85",
        "labels":{
        "demo_env" : "prod",
        "prod_env" : "prod"
    },
    "uri": "/product/hello",
    "upstream": {
        "type": "roundrobin",
        "nodes": {
            "ip:8085": 1
        }
    }
}`
second: pacth a response-rewrite plugin toi this route:
`{
    "plugins": {

[2021-05-13 03:09] dmsolr commented on #4232
1. `plugins interact` means passing trace context in the scope of a request. We can use `ngx.ctx` to propagate it.
2. I think it is good to adopt SkyWalking native log format when `skywalking tracer plugin` was enabled.

[2021-05-13 03:39] wu-sheng commented on #4232
Yes, it could be, but we should take care of the priority and execution sequence.

[2021-05-13 03:40] wu-sheng commented on #4232
I think we could include it in skywalking-nginx-lua repo if that makes senses to APISIX community.

[2021-05-13 03:41] spacewander commented on #4234
We don't solve the problem caused by Nginx.
And we can't help you if you don't even fill the Environment info.

[2021-05-13 03:41] #4234 closed

[2021-05-13 03:47] spacewander commented on #4235
We can't help you if you don't even fill in the Environment info.
And your example is in a very terrible format that I can't even understand your configuration.

I can't understand such a configuration. Please reformat and add enough info.
<img width="602" alt="微信截图_20210513114519" src="https://user-images.githubusercontent.com/4161644/118074561-c0957a80-b3e0-11eb-8f42-7e1ad2f15e78.png">

[2021-05-13 03:50] xujiesh0510 commented on #4234
ok， if you are sure it's not apisix 's  problem . i will close this issue

[2021-05-13 03:50] spacewander commented on #4235
Please open a new one with **good configuration format** and **enough information**. You should make a good issue so others are able to help you.

[2021-05-13 03:50] #4235 closed

[2021-05-13 06:21] lgw79674057 opened #4237 "bug:"
mac 环境下，按照安装文档手册进行了
# 安装 OpenResty, etcd 和 编译工具
brew install openresty/brew/openresty luarocks lua@5.1 etcd curl git

# 开启 etcd server
brew services start etcd

# 为 etcd 服务启用 TLS
etcd --cert-file=/path/to/cert --key-file=/path/to/pkey --advertise-client-urls https://127.0.0.1:2379
然后进行
$ mkdir apisix-2.5
$ wget https://downloads.apache.org/apisix/2.5/apache-apisix-2.5-src.tgz
$ tar zxvf apache-api

[2021-05-13 06:29] Firstsawyou commented on #4237
Have you modified the `config.yaml` configuration file?

[2021-05-13 06:39] Marco-Zheng opened #4238 "bug: self plugins doesn't effect under k8s env"
### Issue description
我在本地(非k8s环境)安装了自己写的插件 是可以生效的
但是在k8s环境 做了一个apisix的镜像，配置了
![image](https://user-images.githubusercontent.com/52538259/118087869-c7c88280-b3f8-11eb-8a0d-7b9a64909359.png)

plugins目录下也有了
![image](https://user-images.githubusercontent.com/52538259/118087922-dfa00680-b3f8-11eb-82d1-568179c80661.png)
但是不知为何没有生效
![image](https://user-images.githubusercontent.com/52538259/118087955-ee

[2021-05-13 07:07] Firstsawyou commented on #4238
Have you configured the plugin name in the plug-in list in the config.yaml file?

[2021-05-13 07:15] Marco-Zheng commented on #4238
no.. i just configured in config-default.yaml, per apisix doc, config.yaml will rewrite and cover the config in config-default.yaml, so i didn't configure it
when i run the apisix locally, i didn't configure it but it can worked well

[2021-05-13 07:15] Marco-Zheng commented on #4238
no.. i just configured in config-default.yaml, per apisix doc, config.yaml will rewrite and cover the config in config-default.yaml, so i didn't configure it
when i run the apisix locally, i didn't configure it but it can work well

[2021-05-13 07:30] Firstsawyou commented on #4238
It may be that there are other plugin lists in the config.yaml file, which overwrites the plug-in list in config-default.yaml.

[2021-05-13 07:35] lgw79674057 commented on #4237
yes,but i have restore the `config.yaml` and it also didn't work

[2021-05-13 07:36] lgw79674057 commented on #4237
---config.ymal----

apisix:
  admin_key:
    - name: "admin"
      # yamllint disable rule:comments-indentation
      key: edd1c9f034335f136f87ad84b625c8f1  # using fixed API token has security risk, please update it when you deploy to production environment
      # yamllint enable rule:comments-indentation
      role: admin

[2021-05-13 08:12] StretchV opened #4239 "request help: How to explain the key of ‘no_cache’ in 'proxy-cache' of plugin"
### Issue description
proxy-cache 插件中的no_cache项如何配置呢，这个值为什么是一个数组呢，数组中的值代表什么呢？数组中的值是被缓存的还是不被缓存的呢？说明文档如下：
![12312121212121](https://user-images.githubusercontent.com/31284380/118097858-cc476800-b405-11eb-89ae-e0e4068be310.png)

这句话的意思是只要数组是除了‘0’以外的值或空数组，这个插件就不启用缓存功能了是吗？
### Environment

* apisix version (cmd: `apisix version`):  2.3

[2021-05-13 08:14] StretchV commented on #4239
根据说明描述，我感觉这个‘no_cache’应该是bool值才对呀，为什么是个数组吗

[2021-05-13 08:25] spacewander commented on #4237
What is in your `/etc/resolv.conf`?

[2021-05-13 08:28] lgw79674057 commented on #4237
#
# macOS Notice
#
# This file is not consulted for DNS hostname resolution, address
# resolution, or the DNS query routing mechanism used by most
# processes on this system.
#
# To view the DNS configuration used by this system, use:
#   scutil --dns
#
# SEE ALSO
#   dns-sd(1), scutil(8)
#
# This file is automatically generated.
#
nameserver fe80::96e9:eeff:fe67:db2d
nameserver 192.168.8.1

[2021-05-13 08:30] StretchV commented on #4239
关于文档中的这个例子
![22222222222222](https://user-images.githubusercontent.com/31284380/118099583-04e84100-b408-11eb-96be-1f01b434b77c.jpg)
我想尝试理解一下，不知道是不是正确的
当请求  http：//XXXX/hello?test=XXXX 时，插件是不对这个请求做缓存的
当请求 http：//XXXX/hello时，由于参数test的值是‘’，所以对这个请求的值做缓存
这个理解正确吗

[2021-05-13 08:50] StretchV commented on #4239
如果我配置成
{
  "disable": false,
  "hide_cache_headers": false,
  "no_cache": [
    "XXXXX"
  ]
}
 是不是这个插件就永远不会起到缓存的目的呢

[2021-05-13 08:59] lgw79674057 commented on #4237
i have solve this issue, beacuse my mac has ipv6 at /etc/resolv.conf,so i had annotation it then it work

[2021-05-13 08:59] #4237 closed

[2021-05-13 09:02] Firstsawyou commented on #4238
Did you deploy APISIX through [apisix-helm-chart](https://github.com/apache/apisix-helm-chart) in ks8?

[2021-05-13 09:02] spacewander commented on #4237
Look like we don't support IPv6 nameserver yet.
You can work around it by configuring the `dns_resolver` field.

[2021-05-13 09:07] azura27 opened #4240 "request help: APIs too many cause 503 + proxy delay too much"
### Issue description

Our product environment has too many APIs, and the process of get info from etcd will be slow,
 I wanna know if the prefix get method could be improve.  OR is there similar issue I could refer

### Environment
CentOS7
Request help without environment information will be ignored or closed.
* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx v

[2021-05-13 09:08] StephenYjw opened #4241 "request help: when add jwt-auth plugin to a service/route，jwt token must contain "key" claim。"
### Issue description
添加 jwt 插件时，希望可以添加一个属性，指定 jwt payload 中的claim name，对应 consumer 中的 key。
比如 jwt payload 如下：
[code]
## 添加 jwt 插件 ：
![image](https://user-images.githubusercontent.com/20896662/118103914-09632880-b40d-11eb-9589-619a68b99fd2.png)

## consumer 配置：
![image](https://user-images.githubusercontent.com/20896662/118103781-dfaa0180-b40c-11eb-8906-88a0404bb745.png)

### Environment

Request

[2021-05-13 09:17] Marco-Zheng commented on #4238
Yeap, is there any problem with apisix-helm-chart ?

[2021-05-13 09:20] Firstsawyou commented on #4238
You can try adding your plug-in name in the plugin list here：https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml#L138-L177

[2021-05-13 09:26] spacewander commented on #4241
PR is welcome!

[2021-05-13 09:53] han6565 opened #4243 "request help: systemctl start apisix failed,how can start by systemctl"
### Issue description
I want create a systemd file , start failed .
The file like this :

[code]

then start  apisix(systemctl start apisix),start failed

error log like this:
[code]

the apisix in the path "/usr/local/apisix",and  I can start it in that path.but the systemctl cannot start

### Environment

Request help without environment information will be ignored or closed.

* apisix version (

[2021-05-13 10:12] tokers commented on #4238
@Marco-Zheng Currently we don't have an incremental way to configure custom plugins. You have to change the `value.yaml` in apisix charts.

[2021-05-13 10:18] tokers commented on #4239
@StretchV This list allows you to configure some conditions so that APISIX won't cache some requests if the evolution of the condition is true.

[2021-05-13 10:37] Marco-Zheng commented on #4238
Thanks a lot, i'll try it

[2021-05-13 10:39] Marco-Zheng commented on #4238
ok, thanks a lot~

[2021-05-13 10:52] azura27 commented on #4240
监控get /routes信息太多 好像和之前的类似

[2021-05-13 11:01] spacewander commented on #4240
How many routes do you have?
How many APISIX/etcd nodes do you have?
What about their sizes?

[2021-05-13 11:13] Marco-Zheng commented on #4238
@tokers @Firstsawyou The problem has bean solved, thanks for your kindly help!

[2021-05-13 11:13] #4238 closed

[2021-05-13 14:26] #2620 closed

[2021-05-13 14:26] #4197 closed

[2021-05-13 18:50] tzssangglass opened #4245 "discuss: ARM on macOS compatible"
### Issue description
When I installed the dependencies for APISIX, I executed the following command

[code]

then clone the apisix source code and run `make deps`, I get the following error
[code]

I think it has something to do with this PR: https://github.com/Homebrew/install/pull/373

on ARM machines, homebrew changes the default location of the installed programs from `/usr/local` to `/opt/ho

[2021-05-13 22:03] Yiyiyimu commented on #4243
Hi @han6565 Actually that's the error when you run apisix in non apisix dir. You could try if #4246 could fix the problem

[2021-05-14 01:02] spacewander commented on #4243
@han6565
I think you need to set `$PWD` to `/usr/local/apisix`

[2021-05-14 01:04] azura27 commented on #4240
using etcdctl tools I could pull all routes(size 7M) which means the etcd server allow to fetch such size message, but with APISIX cause error--get_format(): body contains : grpc received message larger than max (705561 vs. 4194304)

[2021-05-14 01:25] Yiyiyimu commented on #4243
Yes that would be better. Adding `WorkingDirectory=/usr/local/apisix` could make it work.

[2021-05-14 01:46] spacewander commented on #4140
Surpassed by #4229

[2021-05-14 01:46] #4140 closed

[2021-05-14 02:00] spacewander commented on #4209
10 bits for 10 msec is not enough as I proved. Maybe it is faster to change lua-snowflake to support this (only need to change some constants).

[2021-05-14 02:01] #4239 closed

[2021-05-14 02:11] tokers commented on #4245
@tzssangglass Well done, I think it's worth making APISIX compatible on macOS with ARM chip.

[2021-05-14 02:41] tzssangglass commented on #4245
assigned me

[2021-05-14 03:00] han6565 commented on #4243
[code]

It's worked,thank's your help

[2021-05-14 03:00] #4243 closed

[2021-05-14 03:17] snowood-orz opened #4248 "request help: support ip in sni？"
### Issue description
When apisix was deployed in an Intranet environment, I could not add domain name resolution to the DNS server, so users could only access apisix over IP, and the protocol has to be https.

Can I access it through apisix? Or only to add a nginx in front of apisix?

### Environment

Deployed through the apisix-docker project

* apisix version: apisix:2.4-alpine
* etcd version:

[2021-05-14 03:23] spacewander commented on #4248
The RFC requires the SNI should not be an IP.
You can assign private domains to intranet IP in your DNS, and act yourself as a CA.

[2021-05-14 03:23] #4248 closed

[2021-05-14 04:07] wwwworkhard opened #4249 "bug: nginx:/etcd/utils.lua:15: Bad http library. Should use api7-lua-resty-http instead"
### Issue description
运行   ./bin/apisix start

报错： ./bin/apisix start
/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua start
nginx: [error] init_by_lua error: ...ocal/apisix-2.5//deps/share/lua/5.1/resty/etcd/utils.lua:15: Bad http library. Should use api7-lua-resty-http instead
stack traceback:
	[C]: in function 'error'
	...ocal/apisix-2.5//deps/share/lua/5.1/resty/etcd/utils.lua:15

[2021-05-14 04:19] Firstsawyou commented on #4249
You should provide installation steps.
By the way, you need to give relevant environmental information.

[2021-05-14 04:20] Firstsawyou commented on #4249
This is a similar problem to yours, you can refer to it. https://github.com/apache/apisix/issues/4007

[2021-05-14 06:18] vincentwc opened #4250 "request help: there are any solution for install apisix cluster, it's better to supply detailed tutorial"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.4
* apisix-dashboard version, if h

[2021-05-14 06:54] spacewander commented on #4240
Maybe you can upgrade the hardware of etcd cluster, see https://etcd.io/docs/v3.4/op-guide/hardware/

As for the "received message larger than max ", there is an issue in etcd: https://github.com/etcd-io/etcd/issues/12576

[2021-05-14 07:17] Firstsawyou commented on #4250
The data plane of Apache APISIX is stateless and can be scaled arbitrarily and flexibly. Directly deploy multiple APISIX nodes and connect them to the same set of etcd. You can also refer to the introduction here:
https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-set-up-high-available-apache-apisix-clusters

[2021-05-14 07:22] vincentwc commented on #4250
Got it.thanks

[2021-05-14 07:23] azura27 commented on #4240
Thanks, we have a look.  Is there a schedule for optimization of apisix, pull less data or compress? Because the resource cost is limited in Company sometimes

[2021-05-14 07:42] jiayx opened #4252 "bug: The proxy-rewrite plugin can't rewrite "X-Forwarded-Proto" header"
### Issue description

The proxy-rewrite plugin can't rewrite "X-Forwarded-Proto" header

### Environment

* apisix version 2.5 with docker
* docker image apache/apisix:2.5-centos
* etcd version 3.4
* apisix-dashboard 2.6

### Minimal test code / Steps to reproduce the issue

Bug report without steps to reproduce will be ignored or closed.

1. Start a http server as upstream, http server print the

[2021-05-14 08:33] spacewander commented on #4240
We have plan to optimize the etcd operation, but currently we don't have enough people to work on it, so it can't be done in a few months.

[2021-05-14 09:00] Marco-Zheng commented on #4223
@spacewander Hi, i try this way to match the uri, but failed
![image](https://user-images.githubusercontent.com/52538259/118247502-d6d13280-b4d5-11eb-9c58-16cc2c9adbce.png)
then i try to

[2021-05-14 09:32] Marco-Zheng opened #4254 "request help: introspection address somehow changed.."
### Issue description

I configure the discovery as below
![image](https://user-images.githubusercontent.com/52538259/118250954-9673b380-b4d9-11eb-9513-b91320ac7b57.png)
the k8s analysis address is 172.20.253.6
![image](https://user-images.githubusercontent.com/52538259/118251192-d63a9b00-b4d9-11eb-9d96-dec514901bf7.png)
but when i sent a request to my server , somehow it show that introspection a

[2021-05-14 10:06] #3383 closed

[2021-05-14 10:07] spacewander commented on #3358
Closed as lack of response.

[2021-05-14 10:07] #3358 closed

[2021-05-14 10:11] spacewander commented on #3978
Closed as lack of response.

[2021-05-14 10:11] #3978 closed

[2021-05-14 10:12] #3904 closed

[2021-05-14 10:12] spacewander commented on #3890
Consider solved

[2021-05-14 10:12] #3890 closed

[2021-05-14 10:15] spacewander commented on #4223
The vars in route is different from the vars in traffic-split.

[2021-05-14 10:18] spacewander commented on #2790
Done.

[2021-05-14 10:18] #2790 closed

[2021-05-14 10:50] Jaycean commented on #4157
@Molio-tan
 I used kylin V10 arm64 and encountered the same problem.
[code]

Moreover, I tried to compile in the centos7 arm64 container, but when I created a route and tried to connect, the same error occurred. CentOS\ Alpine \kylin V10 could not, the same error

Is it possible that the path is wrong? I found that there are more "/" '/usr/local/apisix//'
[code]

[2021-05-14 11:05] tokers commented on #4252
This is a known issue as these headers are added in nginx.conf.

[2021-05-14 11:37] azura27 commented on #4240
Is there any direction for reference, first time in making research on etcd

[2021-05-14 22:10] Yiyiyimu commented on #3358
fixed by #3993
https://github.com/apache/apisix/blob/19dbe3456f29c7847b64da8e72136e548c131114/apisix/plugins/prometheus/exporter.lua#L146-L158

[2021-05-14 22:13] Yiyiyimu commented on #4250
Consider solved

[2021-05-14 22:13] #4250 closed

[2021-05-15 05:33] qianjunakasumi opened #4255 "request help: How to block non-domain name (ip) access"
### Issue description

#### English translation

Hello, I am using APISIX to monitor HTTPS port as the traffic entrance of my application

Most of the traffic has been cleaned by CDN,
But there is still a small amount of traffic directly requesting my original IP address

This may bring hidden dangers to application security

I want to protect my application by banning IP address access

Can you t

[2021-05-15 06:06] LiuYuHui commented on #4241
Hi @spacewander, I want to help solve this issue, but I am not familar with apisix, could you provide some points about where to start?

[2021-05-15 06:11] tokers commented on #4255
@qianjunakasumi Try [ip-restrction](http://apisix.apache.org/docs/apisix/plugins/ip-restriction).

[2021-05-15 09:53] qianjunakasumi commented on #4255
@tokers Thank you for your reply :), but it's not the expected...

When I request an undefined route, APISIX usually returns a 404 status code
BUT I want to directly **DENY**( 444 code ? ) rather than return status code when requesting IP
by this way could protects my application, which must be protected by CDN to reach the original server.

Thank you again for your reply.

---

@tokers 谢谢你的回复:)，但

[2021-05-15 09:55] qianjunakasumi commented on #4255
Usually, I want to NOT print the access log when denied, because everything is invalid
通常，我希望在阻断时不打印访问日志，因为一切都是无效的

[2021-05-15 10:15] qianjunakasumi commented on #4255
alright, I drew a picture to make it easy to understand.

![image](https://user-images.githubusercontent.com/53565118/118356696-17e64700-b5a9-11eb-9381-1aef162a88cb.png)

The timeout of expected may be to return 444 etc., instead of 404, and I don't want it to record the request in log files

[2021-05-15 11:30] tzssangglass commented on #4241
hi @LiuYuHui, you can start here https://apisix.apache.org/docs/general/contributor-guide/, have a good trip

[2021-05-15 11:44] tzssangglass commented on #4255
If you want the fastest implementation, my idea is to add an nginx in front of apisix and let nginx do the work.

[2021-05-15 11:53] qianjunakasumi commented on #4255
@tzssangglass Thank you for your advice, it is really the fastest way! but I prefer APISIX to act as a traffic portal...instead of nginx

[2021-05-15 12:20] tzssangglass commented on #4255
alternatively you can use `radixtree_host_uri` for route matching, but this will still log the request. see https://github.com/apache/apisix/blob/master/docs/zh/latest/architecture-design/router.md

[2021-05-15 12:55] qianjunakasumi commented on #4255
Finally my solution is as follows:
Add nginx configuration to `http_server_configuration_snippet`

It looks like this:
[code]

And my problem was solved.

The fly in the ointment is that it cannot turn off access log printing...

---

@tokers @tzssangglass Thanks again for your help!

[2021-05-15 12:55] #4255 closed

[2021-05-15 15:57] spacewander commented on #4241
@LiuYuHui
Read it: https://github.com/apache/apisix/blob/master/apisix/plugins/jwt-auth.lua

[2021-05-16 09:04] dickens7 commented on #4209
I will fork lua-snowflake and change it according to this algorithm definition

[code]

[2021-05-16 10:19] spacewander commented on #4209
Great! It would be better if you can make the bit numbers configurable.

The fork is done: https://github.com/api7/lua-snowflake
PR is welcome!

[2021-05-16 11:05] spacewander commented on #4209
We can do it in the future

[2021-05-16 11:20] xuchmao opened #4258 "discuss: Allow to set custom timeout for route when route belongs to service or upstream"
### Issue description
Need to config custom timeout for route when route belongs to service or upstream.
Sometimes we don't want to use timeout configured in service or upstream but use custom timeout instead.

### Environment
apisix version (cmd: apisix version): 2.3

[2021-05-16 12:51] spacewander commented on #4258
Wait for more votes to see if this FR is widely needed.

[2021-05-16 14:53] Firstsawyou commented on #4254
@gxthrj  Please take a look.

[2021-05-16 15:08] gxthrj commented on #4254
Actually, I don’t understand your question very well. There are three IPs（172.20.7.236，172.20.7.243， 172.20.253.6） in pics. Which ip do you think is wrong?

Anyway, Please show the clusterIP for service dev01 with the command like `kubectl get svc dev01 -n xxx`.

[2021-05-17 01:07] tokers commented on #4254
@Marco-Zheng By saying "I configure the discovery as below", what did you mean exactly?

[2021-05-17 01:10] tokers commented on #4258
@xuchmao Indeed the Envoy xDS protoocl does this. But we still need some real scenarios to understand the necessary for this feature.

[2021-05-17 01:10] tokers commented on #4258
Could you paste some case in real world?

[2021-05-17 02:41] Marco-Zheng commented on #4254
@tokers @gxthrj Sorry, let me update the discovery info, i configure the discovery like this
![image](https://user-images.githubusercontent.com/52538259/118425276-6efc3100-b6fb-11eb-9727-571b5363419b.png)
the  address is http://xxxxxxx.medcloud-dev1.svc.cluster.local:18080/oauth/discovery
then i check http://xxxxxxx.medcloud-dev1.svc.cluster.local's `cluster ip` in k8s is `172.20.253.6`

/oauth/di

[2021-05-17 02:42] Marco-Zheng commented on #4223
Ok. thanks, i find another way to replace it

[2021-05-17 03:10] jiayx commented on #4252
Thank you for your reply.
Is this a bug or a feature? Is there currently a way to customize the "X-Forwarded-Proto".

[2021-05-17 03:19] #4223 closed

[2021-05-17 04:27] tokers commented on #4254
@Marco-Zheng Have you ever checked the DNS resolvers used by APISIX container?

[2021-05-17 06:36] spacewander commented on #4252
The header is automatically set to the request's scheme.
In what situation we need to change it to a value different from the real one?

[2021-05-17 06:43] jiayx commented on #4252
The situation I encountered was this: there was a load balancer in front of apisix, and the load balancer was responsible for certificate offloading, but the load balancer did not pass the X-Forwarded-Proto header to apisix, and the services behind apisix relied on this header.

我遇到的情况是这样的：在 apisix 前面有一个负载均衡器，负载均衡器负责证书卸载，但是负载均衡器没有把 X-Forwarded-Proto 头传递给 apisix，apisix 后面的服务又依赖这个头。

[2021-05-17 06:47] lujiajing1126 commented on #4258
Obviously, uploading files should have longer timeout compared to a normal GET/POST

[2021-05-17 06:55] jiayx commented on #4252
还有就是 proxy-rewrite plugin 没有明确表示无法重写 X-Forwarded-* 系列的头，预期就是可以重写

[2021-05-17 07:10] Firstsawyou opened #4259 "docs: Improve the plugin name in the response-rewrite plugin docs"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

In the response-rewrite plugin documentation, there are many ways to write `response rewrite`, for example:

<img width="834" alt="截屏2021-05-17 下午3 07 34" src="https://user-images.githubusercontent.com/52862365/118446139-dc22bd00-b721-11eb-82cd-c29f5fffaa74.png">

But in fact it should be `response-rewrite`. Th

[2021-05-17 08:14] FightingLiming commented on #4258
When a service has multiple interfaces, the timeout period of each interface may be different.

[2021-05-17 08:46] Firstsawyou commented on #3760
Assigned to me.

[2021-05-17 10:03] spacewander commented on #4258
We can pass through the timeout via ctx:
https://github.com/apache/apisix/blob/0114c983eecee1a9a9a3f3c13c3b149f9fe7d89f/apisix/balancer.lua#L138-L140

PR is welcome!

[2021-05-17 10:08] gxthrj commented on #4254
I think the IP 172.20.7.243 is one of the IP of `dev01` pods.  Is it right?

[2021-05-17 11:05] Marco-Zheng commented on #4254
@gxthrj yes，`172.20.253.6` is cluster ip, `172.20.7.243` is node ip, but `172.20.7.236` is a strange ip address..

[2021-05-17 11:08] Marco-Zheng commented on #4254
Yeap, i didn't find any problem with DNS resolvers.

[2021-05-17 13:23] #4252 closed

[2021-05-17 15:34] yxudong commented on #4259
Hi , i would like to work on this issue. Please assign me this.

[2021-05-17 17:03] Firstsawyou commented on #4259
PR is welcome!

[2021-05-18 01:26] #4259 closed

[2021-05-18 01:34] tokers commented on #4254
Still, be confusing.

1. `172.20.7.243` is the node IP, did you mean k8s worker node or the APISIX upstream node?
2. You said "But when I sent a request to my server", what is "my server"? Is the auth server or your backend?

[2021-05-18 02:19] Marco-Zheng commented on #4254
@tokers
1、`172.20.7.243`is nodeIp for auth-server not APISIX upstream node
2、`my server` is  auth-server, I sent a request to my server because i'm no sure if the   introspection address which was exposed is correct address, the facts proved that the address was correct, but i don't know why apisix send introspection request to an unknown address `172.20.7.236`
![image](https://user-images.githubu

[2021-05-18 05:50] azura27 opened #4265 "bug: radixtree new takes too long, 8930 APIs takes 10s with lua-resty-radixtree v2.2, 200 ms with v2.8.0"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.0
* OS (cmd: `uname -a`): 3.10.0-693.21.1.el7.x86_64  GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.17.8.2
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-i

[2021-05-18 06:28] Firstsawyou commented on #4265
`lua-resty-radixtree` has many optimizations and fixes between v2.2 and v2.8.0, please refer to here:
https://github.com/api7/lua-resty-radixtree/commits/master?before=61b2fc75a6ec4816e54e29c38a7656f83460442a+35&branch=master

https://github.com/api7/lua-resty-radixtree/commit/6ec8e61668fb6800e0e80f607c2682b8295e084a

Therefore, you should use the latest version of `lua-resty-radixtree`.

[2021-05-18 06:28] #3760 closed

[2021-05-18 06:37] azura27 commented on #4265
The latest takes 200ms too, so when there is a schedule for optimization, please take this in too, Thanks

[2021-05-18 08:01] spacewander commented on #4265
KONG's router is good at matching exact path but not good at prefix path match, not even say it doesn't support complex vars rule.

[2021-05-18 08:15] spacewander commented on #4265
Can you give your test data and how you access the API so that we can analyze it?

[2021-05-18 08:43] vincentwc opened #4267 "request help: apisix reload fialed, please help"
### apisix reload fialed,show as below:
`
[root@csf-2 apisix-2.5]# make reload

/usr/bin/openresty -p $PWD/  -c $PWD/conf/nginx.conf -s reload
nginx: [warn] low address bits of 10.101.42.163/24 are meaningless in /usr/local/vincent/apisix-2.5/conf/nginx.conf:190
nginx: [alert] kill(7120, 1) failed (3: No such process)
make: *** [reload] Error 1
`

### Environment

Request help without environment

[2021-05-18 09:02] ShaoZeMing commented on #3865
Sorry, I'm here to bother you again. I did configure A and B according to the method in this document, but did not achieve the effect of B>A;

[2021-05-18 09:05] ShaoZeMing opened #4268 "bug: Routing priority matching bug ++"
@ShaoZeMing I listed an example to explain the reason.

Here are three routes(`A`, `B` and `C`), what is their priority?
I think you can talk to me `A` < `B`, and `A` < `C`, it seems fine.

Between `B` and `C`, who has the highest priority? I think it is not easy to reply to this question.
The machine cannot accurately determine who has the higher priority at this time.

[code]

In APISIX, when th

[2021-05-18 09:15] ShaoZeMing commented on #4268
B：

[code]

A:

[code]

[2021-05-18 09:15] #4268 closed

[2021-05-18 09:54] Firstsawyou commented on #4267
How did you install APISIX? Have any changes been made to the configuration file of `config.yaml`?

[2021-05-18 11:15] azura27 commented on #4265
link：https://pan.baidu.com/s/1WlI8Llrg9dpXbaJP2AbeAA
code：fbzh
etcdctl  get routes data file here, there are some new key parameter added in our routes definition,  mind your attention

[2021-05-18 19:21] hozaifaaoud opened #4269 "request help:"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): 144-Ubuntu SMP Fri Mar 19 14:12:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run `curl htt

[2021-05-19 01:08] spacewander commented on #4269
See https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-use-route-uri-for-regular-matching

[2021-05-19 01:15] spacewander commented on #4265
Thanks. I will take a close look later. Too busy recently.
And you can try to change the router to radixtree_host_uri to see if the performance is improved.
https://github.com/apache/apisix/blob/master/docs/en/latest/architecture-design/router.md

[2021-05-19 01:39] tokers commented on #4267
@vincentwc It looks like your APISIX master process was killed by accidentally, so when you tried to execute make reload, the Nginx signal process get a dead master process pid.

[2021-05-19 01:46] vincentwc commented on #4267
got it ,thanks

[2021-05-19 01:47] tokers commented on #4254
@Marco-Zheng From the naming convention of auth-server, I believe it runs inside Kubernetes cluster, so I don't know why you use term`node ip` to describe it. What is the ClusterIP for the auth-server service?

[2021-05-19 03:00] azura27 commented on #4265
OK thanks a lot

[2021-05-19 03:11] anjia0532 commented on #3841
https://github.com/auto-ssl/lua-resty-auto-ssl

[2021-05-19 03:11] anjia0532 commented on #1399
https://github.com/auto-ssl/lua-resty-auto-ssl

[2021-05-19 03:22] vincentwc opened #4270 "request help: There are two features i need,but not find in apisix,please help me?"
### There are two features i need
One: I need get route list filter by label, i know apisix-dashboard can do it,but how to implements it by apisix not dashboard?
Two: how to charge plugin_config? dashborad not supply plugin_config  manu bar

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`)

[2021-05-19 03:52] spacewander commented on #4270
We are planning to replace Admin API with Manager API: https://github.com/apache/apisix/milestone/11
So this new feature won't be implemented again in Admin API.

You can refer to Manager API's doc: http://apisix.apache.org/docs/dashboard/api/api#get-2 and deploy it separately: https://github.com/apache/apisix-dashboard/tree/master/api

This question needs to be answered by dashboard's developer:

[2021-05-19 04:31] Marco-Zheng commented on #4254
@tokers The cluster ip is 172.20.253.6, this problem seem to be resolved after restart the apisix, thanks for your kindly help

[2021-05-19 04:31] #4254 closed

[2021-05-19 04:41] silveric10 opened #4271 "request help: The request header added by A plugin can't be used for B plugin"
### Issue description
I have two plugins, A and B, plugin A's function is adding a request header, then plugin B can get this header to do other things. But I found that when my code is like this behind:
funciton _M.rewrite()
    ... ...
    ngx.req.set_header("header-added-by-plugin-A",  "test_content")
    ngx.log(ngx.DEBUG, core.request.header(ctx, "header-added-by-plugin-A"))
end

The header's

[2021-05-19 05:20] spacewander commented on #4271
Please fix the Environment section, otherwise we will close this.

[2021-05-19 06:00] silveric10 commented on #4271
Fixed

[2021-05-19 06:24] silveric10 commented on #4271
I know, seems that "core.request.header" will only be updated once when it first calling.

[2021-05-19 06:28] Firstsawyou commented on #4271
You need to make sure that the execution priority of plugin A that sets the request header is greater than plugin B. How to set the request header, you can parameter proxy-rewrite plugin: https://github.com/apache/apisix/blob/master/apisix/plugins/proxy-rewrite.lua#L197

[2021-05-19 06:39] vincentwc opened #4272 "request help: I need to batch create route,How to do it?"
### I need to batch create route
Apisix supplied plugins -- batch-requests to do batch request, but i don't know whether it works to batch create route?
and i send by postman failed,response show as  `500 Internal Server Error`

My request params show :
`
{
    "headers": {
        "Content-Type": "application/json",
        "admin-jwt": "xxxx"
    },
    "pipeline": [
        {
            "body"

[2021-05-19 06:41] tokers commented on #4272
@vincentwc Please add your environment information.

[2021-05-19 06:43] fukiki opened #4273 "discuss: enrich the Available metrics of plugin prometheus"
### Issue description

About the plugin prometheus, in the original metric data of APISIX, the number of the available metrics is limited.

In some practical application scenarios, request_method and remote_addr are very useful monitoring metrics.

Is there a plan to enrich the [Available metrics](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/prometheus.md#available-metrics)，

[2021-05-19 06:45] silveric10 commented on #4271
Thanks.
I'm sure that plugin A's priority is greater than plugin B's priority. I think the reason is I called core.request.header(ctx, ...) at the begining of plugin A, and set new header before plugin A return. The function core.request.header() only be update when it's first call, I think here is the code:
[code]

[2021-05-19 06:46] vincentwc commented on #4272
ok, i have add env info, hope your reply,thanks

[2021-05-19 06:54] silveric10 commented on #4271
Maybe you can add a flag that we can choose to force update the headers or just use the cached data

[2021-05-19 07:37] vincentwc opened #4274 "request help: it doesn't work when use consumer-restriction with jwt-auth"
### Issue description
![image](https://user-images.githubusercontent.com/31959888/118774212-2b9af180-b8b8-11eb-9361-dbf4aefe891e.png)

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* etcd

[2021-05-19 08:06] spacewander commented on #4271
The problem is already fixed in https://github.com/apache/apisix/pull/2917.
You may need to upgrade your APISIX.

[2021-05-19 08:12] #4271 closed

[2021-05-19 08:21] vincentwc commented on #4272
okay, thanks

[2021-05-19 09:28] Firstsawyou commented on #4274
Okay, I will reproduce it later.

[2021-05-19 09:29] vincentwc commented on #4274
thanks and hope you reply !

[2021-05-19 10:28] fukiki commented on #4273
If using the way to dynamically configure label with Nginx var:
1. This configure is only for Nginx default [variables](http://nginx.org/en/docs/varindex.htm).
The monitoring of some business response data requires further data processing, because it is not generic.
2. Configure the specific display item of Nginx var in Attributes of Plugin Prometheus.

[2021-05-19 10:34] spacewander commented on #4273
It is enough. Keep it simple stupid.

Should be here: https://github.com/apache/apisix/blob/83436ee125d18dff9ffa3f3daeba69548a5c3243/conf/config-default.yaml#L298 as labels are global.

[2021-05-19 14:51] gxthrj opened #4276 "discuss: Suggest to add a downgrade strategy to the chash load balancing strategy"
### Issue description

Now when upstream chooses chash load balancing, and specify the key, such as

[code]

If the request does not contain any cookies, all traffic will visit a single node and will not be sent to other nodes.

In such a scenario, downgrading the load balancing strategy to polling seems to be a more reasonable solution.

What do you think?

[2021-05-19 17:39] Yiyiyimu commented on #3841
Welcome PR!

[2021-05-20 01:18] anjia0532 commented on #3841
[acme.sh#Using pre hook post hook renew hook reloadcmd](https://github.com/acmesh-official/acme.sh/wiki/Using-pre-hook-post-hook-renew-hook-reloadcmd)+[apisix admin api#SSL](https://apisix.apache.org/zh/docs/apisix/admin-api#ssl) works.

[2021-05-20 01:32] tokers commented on #4276
I think fallback strategy is required, or malicious users can leverage this drawback and send deliberated requests, which makes one of the backend endpoint under high overhead.

[2021-05-20 01:35] tzssangglass commented on #4276
is a good way to go.
I think we can also specify a fallback key, which is defined as a key that must exist in the request, such as ip, etc.
When the `hashOn` key does not exist, the fallback key is used.

[2021-05-20 01:47] spacewander commented on #4276
Already have.

https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#upstream

[2021-05-20 01:47] #4276 closed

[2021-05-20 01:58] #4272 closed

[2021-05-20 02:12] Yiyiyimu commented on #3841
@anjia0532 Do you mind add it to the docs

[2021-05-20 02:20] #4267 closed

[2021-05-20 02:21] #4230 closed

[2021-05-20 02:51] vincentwc commented on #4226
thank you for your replay, but there are any plan to add the features at apisix not in dashboard since usually we can't use apisxi-dashborad in pro-env？ or，there are any suggestion about to implement theb route filter in apisix by ourselves

[2021-05-20 02:56] Yiyiyimu opened #4279 "bug: `debug.yaml` not contains in apisix container in kubernetes"
### Issue description

Somehow `debug.yaml` is not contained in apisix container in kubernetes, while the same docker container has that file. As a result, when changing log level to `info`, the error log would be flushed by `debug.lua:44: read_debug_yaml(): failed to fetch /usr/local/apisix/conf/debug.yaml attributes: cannot obtain information from file '/usr/local/apisix/conf/debug.yaml': No suc

[2021-05-20 03:39] fukiki commented on #4273
@spacewander Thanks for your advice. I will try it.

[2021-05-20 03:45] Ben0625 commented on #4090
I find a new bug here:
When I set 2 nodes in "upstream.nodes" attribute for 2 rules, something unexpected happens.

[code]

Reproduce steps:
1. Request with id=1 for several times
2. Request with id=2 for several times

Then you will see nodes of upstream_A be picked when requesting with id = 2 for some time. It looks messed up.

[2021-05-20 05:41] Firstsawyou commented on #4274
I have not reproduced your problem locally, you should provide your steps to reproduce it.

[2021-05-20 06:02] vincentwc commented on #4274
One, create consumer 1:
{
    "username": "jack_jwt",
    "desc" : "jack jwt hs256",
    "plugins": {
        "jwt-auth": {
            "key": "user-key-jack",
            "secret": "my-secret-key"
        }
    }
}
Two, create consumer 2:
{
    "username": "jwt_rs256",
    "desc" : "jack jwt rs256",
    "plugins": {
        "jwt-auth": {
            "key": "user-key-rs256",
            "public_ke

[2021-05-20 06:46] vincentwc opened #4281 "request help: How to implements different user|group could see different route|api info?"
### How to implements different user could see different route info?

such as : There are 400 Apis|Route and we have two group users,groupA and groupB

we need groupA can see and operate 100 Api|Route and  groupB could see and operate another 300 Api|Route，
GroupA and GroupB isolation ，There are any solution for it?

### Environment

Request help without environment information will be ignored or

[2021-05-20 06:46] Firstsawyou commented on #4274
Please see here:

1. Create consumer

[code]

2. Get token

[code]

[2021-05-20 06:55] vincentwc commented on #4274
Thanks,   it's usefull when i usew you supplied public_key and private_key

[2021-05-20 06:55] #4274 closed

[2021-05-20 06:57] spacewander commented on #4281
Only the Enterprise version provides this role-based management. How we archive it is a business secret.

[2021-05-20 06:57] #4281 closed

[2021-05-20 07:58] Firstsawyou commented on #4090
This scenario has been covered by test cases, please see here: https://github.com/apache/apisix/blob/master/t/plugin/traffic-split2.t#L513-L613
By the way, what is your APISIX version?

[2021-05-20 09:39] Firstsawyou commented on #4090
The number of upstream nodes is not affected. There are many bug fixes between APISIX 2.0 and APISIX 2.5. You should upgrade to version 2.5 and try again.

[2021-05-20 11:22] #4245 closed

[2021-05-20 20:04] Yiyiyimu commented on #4279
I still can't figure out why it happens. @gxthrj Could you have a look at it

[2021-05-21 01:37] #4249 closed

[2021-05-21 01:38] spacewander commented on #4198
Consider solved

[2021-05-21 01:38] #4198 closed

[2021-05-21 01:48] tokers commented on #4279
The error was returned by the underlying `stat` call. It' strange, I will try to reproduce on my side later.

[2021-05-21 02:44] gxthrj commented on #4279
I am not very clear about this point, I will try to use it in local.

[2021-05-21 02:50] vincentwc opened #4284 "request help: how to set priority with my 3rd-party plugins?"
### how to set priority with my 3rd-party plugins?

There are any suggestion about  3rd-party plugins' priority setting ?
第三方插件优先级设置有没有建议呢？apisix官方文档写的优先级越高，插件越先执行，不知道会不会存在第三方插件设置优先级范围不对导致官方提供的插件不能执行或者被拦截等其他情况出现，有没有一个推荐的第三方插件优先级范围？
i sent request and find some plugin's priority is negative?  it's means the plugin execute after get response?
优先级为负数是代表路由响应之后执行还是其他的场景？

### Environment

Request help

[2021-05-21 03:18] spacewander commented on #4284
You can use priority 1 ~ 100 for the plugin unless you want it to run before some builtin plugins.

The priority of all the plugins can be found here: https://github.com/apache/apisix/blob/916041d9ab21bbe47f7817869e9de77684a38fbd/t/debug/debug-mode.t#L47

The negative priority doesn't have a special meaning. It just represents that the priority is quite low.

[2021-05-21 06:13] vincentwc commented on #4284
Got it ,thanks

[2021-05-21 06:13] #4284 closed

[2021-05-21 08:07] anjia0532 commented on #3841
@Yiyiyimu Maybe next week

easy to do this.

1. gen ssl certificate by acme.sh
2. set renew hook script to update apisix ssl key and cert. `PUT /apisix/admin/ssl/{id}`

[2021-05-21 08:32] Hsuing opened #4287 "request help: 网关加入到app 时不时出现404"
环境：centos7,apisix2.5, dashboard2.6

实现要求：
       访问 http://localhost:9080/uu/admin
       实际访问: http://localhost:9898/admin

实现方式：
	用apisix_dash_board 界面上正则表达

app访问时apisix日志现象404：
223.223.1.21 - - [21/May/2021:06:55:07 +0000] sixgw.xxx.com "POST /uu/api/Symbol/GetPrice HTTP/1.1" 404 0 0.001 "-" "Mozilla/5.0 (iPhone; CPU iPhone OS 14_5_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobi

[2021-05-21 08:47] tokers commented on #4287
@Hsuing Could you reproduce this problem by tools like `curl`? We may need to capture the reason that causing this 404 and the source of 404 (apisix or backend).

[2021-05-21 09:43] #4090 closed

[2021-05-21 10:14] Firstsawyou commented on #4287
Hi, @Hsuing

You can refer to the use of the `regex_uri` field here (https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/proxy-rewrite.md#attributes).
According to the information you provide, you can try to configure it like this:
<img width="753" alt="截屏2021-05-21 下午6 09 01" src="https://user-images.githubusercontent.com/52862365/119121470-0c3ec880-ba60-11eb-98b9-e6cec2a8914e.png

[2021-05-21 10:14] vincentwc opened #4288 "request help: custome plugin failed"
###custome plugin failed
Step one: create plugin file show as below
apisix/custom_plugin/vincent-plugin.lua
I just cope exampla-plugin.lua to vincent-plugin.lua
Step two:
update makefile show as below
	$(INSTALL) -d $(INST_LUADIR)/apisix/custom_plugin
	$(INSTALL) apisix/custom_plugin/*.lua $(INST_LUADIR)/apisix/custom_plugin/
Step three:
update conf/config.yml
add   - vincent-plugin  config
Step f

[2021-05-21 11:16] xujiesh0510 opened #4289 "rewrite url、header before Authentications plugins execution"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix(docker)  version 2.4
* apisix-dashboard version 2.5

![image](https://user-images.githubusercontent.com/10271679/119128798-b1f63580-ba68-11eb-9bf9-c15ed6156558.png)

Proxy rewrite  plugin has lower priority than  Authentications plugins .
My question is how to  rewrite header a

[2021-05-21 13:11] coolbeevip opened #4290 "404 Route Not Found"
Hi, I am a newbie APISIX.

I just trying to create a route to an API the is up and running on my local machine.

### Issue description

This is my upstream

[code]

I added UPSTREAM ​on the APISIX dashboard

[code]

And, I added ROUTE on the APISIX dashboard

[code]

But, I got the **404 Route Not Found** when accessing my upstream service through APISIXI.

[code]

Is there something wrong with my

[2021-05-21 15:46] Firstsawyou commented on #4290
The uri here should be configured like this: `"uris": ["/nc-tools/actuator/health"]`
It should be consistent with the uri guarantee provided by your backend service.

[2021-05-21 16:57] spacewander commented on #4289
You need to write your own plugin.

[2021-05-21 16:57] #4289 closed

[2021-05-22 01:56] coolbeevip commented on #4290
Thank you for your feedback. It's worked after change route path  `"uris": ["/nc-tools/actuator/health"]` .

My original scenario is as follows:

I have two upstream API

* upstream-1 http://x.x.x.x:port/nc-tools/actuator/health
* upstream-2 http://x.x.x.x:port/nc-tools/actuator/health

I want to configure two routes with different paths to access them.

* route-1 path /center1/*
* route-2 path /c

[2021-05-22 02:11] juzhiyuan commented on #4290
I see these two URLs are similar except the `center-x` is different, I would use `traffic-split` plugin to resolve this issue.

Let's assume we have two URLs:

1. `http://apisix:9080/nc-tools/actuator/health?center=center1`
2. `http://apisix:9080/nc-tools/actuator/health?center=center2`

And use `vars` to lead traffic to different upstreams. See https://apisix.apache.org/docs/apisix/plugins/traffi

[2021-05-22 02:17] coolbeevip commented on #4290
route path `/center-x ` is customized URL by me, it is not part of the upstream service API

[2021-05-22 02:28] juzhiyuan commented on #4290
Yes, I mean if using `traffic-split` with `vars`, you could use `arg_xxx` to split traffic.

[2021-05-22 02:30] coolbeevip commented on #4290
Thank you, I'll take a look at `traffic-split`

[2021-05-22 02:37] juzhiyuan commented on #4290
see https://apisix.apache.org/docs/apisix/plugins/traffic-split/#blue-green-release

[2021-05-22 09:29] tokers commented on #4288
@vincentwc You just copied the example-plugin.lua to vicent-plugin.lua, but you don't change the plugin name, right?

[2021-05-22 10:02] coolbeevip commented on #4290
Thanks for your information and for being so helpful, It's worked. 🙏 I wrote a [blog](https://coolbeevip.github.io/posts/study-notes-for-apisix-2-plugins-traffic-split/) for this, hoping to help newbies like me

[2021-05-22 10:44] Firstsawyou commented on #4290
This is a good method.

[2021-05-22 12:03] coolbeevip commented on #4290
The traffic-split  `vars` supports passing through request header or URL parameters.

I noticed that **The var here is consistent with the naming of Nginx internal variables, so request_uri, host, etc.** in https://apisix.apache.org/docs/apisix/plugins/traffic-split/

I still don't get it.  Can I do the following configuration similar to Nginx in APISIX?

[code]

[2021-05-22 17:24] Firstsawyou commented on #4290
You can create two routes and use the proxy-rewrite plugin to implement them. Please refer here: https://apisix.apache.org/zh/docs/apisix/plugins/proxy-rewrite

Example:

[code]

[2021-05-23 03:57] coolbeevip commented on #4290
Thanks so much again

Thanks so much again

[2021-05-23 08:04] Hsuing commented on #4287
@Firstsawyou  两个都尝试了，还是这样

[2021-05-23 08:05] Hsuing commented on #4287
@tokers  通过curl 测试没有问题，到app 里面测试出现问题

[2021-05-24 01:48] Firstsawyou commented on #4287
The access request `uri` of this `app` does not seem to be rewritten as: `/api/Symbol/GetPrice`. You should provide the relevant configuration information in etcd to determine whether the configuration is correct.

[2021-05-24 01:52] vincentwc commented on #4288
no, i have changed pluign name and config it at conf/congfig.yml

[2021-05-24 01:57] coolbeevip commented on #4290
Hi, @Firstsawyou

I am here again. I have some queries for plugin proxy-rewrite.

* I can't find it in the plugin configuration of the route create in APISIX Dashboard,  is this a global plugin?

  As here says  https://github.com/apache/apisix-dashboard/issues/1719#issuecomment-816028775)

* I noticed than the configuration plugin API  URI  include ROUTD ID `routes/1` in https://apisix.apache.org

[2021-05-24 02:08] tokers commented on #4288
cc @Firstsawyou Please take a look.

[2021-05-24 02:11] vincentwc commented on #4288
sorry,i  Misoperation and closed it ,but please help me to resolve it ,thanks

[2021-05-24 02:15] Firstsawyou commented on #4288
Ok, I will reproduce it.

[2021-05-24 02:20] Hsuing commented on #4287
etcd_route信息：
{"id":"355755448990696943","create_time":1621576371,"update_time":1621588626,"uris":["/uu/*"],"name":"uu","methods":["GET","POST","PUT","DELETE","PATCH","HEAD","OPTIONS","CONNECT","TRACE"],"plugins":{"proxy-rewrite":{"regex_uri":["^/uu/(.*)","/$1"]}},"upstream":{"nodes":[{"host":"127.0.0.1","port":8081,"weight":1}],"timeout":{"connect":6,"read":6,"send":6},"type":"roundrobin","scheme

[2021-05-24 02:25] Hsuing commented on #4287
![image](https://user-images.githubusercontent.com/8718211/119288020-5c917280-bc7a-11eb-90d2-1f767e9f27bf.png)

[2021-05-24 03:05] Molio-tan commented on #4157
@Jaycean I'm sorry for replying for you on time.By the way, have you solved the problem?
@imjoey Is there any good news for the problem?

[2021-05-24 03:09] Firstsawyou commented on #4287
I did not reproduce the 404 problem locally. Do you have other similar route configurations?

[2021-05-24 03:18] vincentwc commented on #4288
thanks, it can be work when i set custom plugin in apisix/plugins file ,but it can't work when set it in my own file such as apisix/custom_plugin file and i have update makefile show this issue top,
then make deps, make run ,it can't work
当把插件放在plugins目录下时，可以生效，但是放到我自定义的目录下不能生效，已经在makefile里面添加了install项了，也在config.yml里面添加自定义插件了，make deps重新编译，然后make run 在cpntrol api里面还是查不到

[2021-05-24 03:29] Firstsawyou commented on #4290
The proxy-rewrite plugin can be found on the first page of creating a route on the Dashboard:
<img width="858" alt="截屏2021-05-24 上午11 19 05" src="https://user-images.githubusercontent.com/52862365/119292017-1d671f80-bc82-11eb-8a0d-20d188f20d75.png">

There are two ways to configure APISIX routing data:
1. Configure via Admin API, which is this way: https://apisix.apache.org/docs/apisix/plugins/pro

[2021-05-24 03:37] coolbeevip commented on #4290
Thank you, I will just try it later.

[2021-05-24 03:37] Firstsawyou commented on #4287
It is normal to request through the `curl` tool. Maybe you need to check whether there are any differences between the app and curl request methods?

[2021-05-24 04:01] Hsuing commented on #4287
没有区别

[2021-05-24 04:56] tzssangglass opened #4293 "discuss: add new plugin to support moesif"
### Issue description
I noticed that there is a user behavior API analytics and monitoring service platform called moesif, which is strongly related to APISIX in terms of functionality, and we can add a new plugin to APISIX to support the moesif platform so that users can use it in conjunction with APISIX and moesif.

### References
Mail list: https://lists.apache.org/list.html?dev@apisix.apache.o

[2021-05-24 05:14] tzssangglass commented on #4287
@Hsuing if the curl access is OK, we can assume the route is OK, so I think the problem is with the app.

is there a pattern to the app 404 exceptions? from the information listed above, no conclusions can be drawn.

[2021-05-24 05:22] tzssangglass commented on #4288
apisix will look for the code file of the plugin from the fixed directory, maybe you also need to modify the code.

take a look at
https://github.com/apache/apisix/blob/52cb59213de546052718f740eafddd47fa57e7f7/apisix/plugin.lua#L82-L84

[2021-05-24 05:29] Hsuing commented on #4287
在app 来回点击按钮，404 就会出现

[2021-05-24 05:45] Firstsawyou commented on #4287
You can capture the packet to check the difference between the normal and 404 requests when the app is accessed.

[2021-05-24 06:05] vincentwc commented on #4288
thanks for your reply. you mean that i need update resource code to implement custom plugin file? currently, i'm not not very familiar with lua , Maybe i should learn lua first, but i hope could more convenient to use it,thanks
@Firstsawyou   Is he talking about this problem?  i need update plugin.lua code when i set custom plugin in my own file?

[2021-05-24 06:19] tzssangglass commented on #4288
so you can put custom plugins in the plugins directory for quick use

[2021-05-24 06:20] Firstsawyou commented on #4288
Not required. Because APISIX already supports loading plug-ins in third-party catalogs. I will follow the steps you provided to reproduce your problem. If I succeed, I will reply to you in this issue.

[2021-05-24 06:57] vincentwc commented on #4288
I rechecked error.log and show as below:
failed to load plugin [vincent-plugin] err: module 'apisix.plugins.vincent-plugin' not found:
Looks like the custom directory is not loaded

[2021-05-24 07:05] a280238558 commented on #4287
![image](https://user-images.githubusercontent.com/19814473/119309639-26b3b480-bca1-11eb-9ccc-89f78044b5fd.png)
这是我配置的路由规则，偶尔出现路由匹配错误，我通过你proxy-rewrite插件日志输入如下
![image](https://user-images.githubusercontent.com/19814473/119309779-56fb5300-bca1-11eb-9012-a866e91b0d3e.png)
正常应该匹配成下面这个
![image](https://user-images.githubusercontent.com/19814473/119309812-67133280-bca1-11eb-9d85-f4d524674bca.png)

[2021-05-24 07:10] XuZhaoPro opened #4294 "request help: performance when apisix support many routes"
We want to use apisix for kubernetes http services. Now we has exposed the pod's ip and port into upstream. So the apisix can trasport flow to kubernetes pods.We have many services (serval thounsand), so the number of the route and upstream will be large. At this situation, the upstreams chanage frequently as the pods change frequently.
I want to know the performance (such as Latency, Qps and so o

[2021-05-24 07:26] a280238558 opened #4295 "路由匹配到错误的proxy-rewrite插件导致404"
https://github.com/apache/apisix/issues/4287#issuecomment-846814070

[2021-05-24 07:53] spacewander commented on #4229
@Gary-Airwallex
Will you submit a PR for the first part? Thanks!

[2021-05-24 08:23] Firstsawyou commented on #4287
Judging from the screenshot information of the first log, the request was matched to other routes (`^/market/(.*)` ).
Can you provide a detailed recurring use case? For example, the request is reproduced through the `curl` tool.

[2021-05-24 08:26] a280238558 commented on #4287
@Firstsawyou 不是100%出现，通过不断的执行，10次又一次会出现

[2021-05-24 08:44] hozaifaaoud opened #4296 "request help:"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): ~18.04.1-Ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): OpenSSL 1.1.1h
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* ap

[2021-05-24 09:01] anjia0532 commented on #3841
@Yiyiyimu https://github.com/apache/apisix/pull/4297

[2021-05-24 09:03] a280238558 commented on #4287
@Firstsawyou
![image](https://user-images.githubusercontent.com/19814473/119323851-b8c3b900-bcb1-11eb-8fd1-f20462bc89d8.png)
这是输入的日志截图，看执行顺序，前面都正常，请看最后一次顺序有变化radixtree.lua执行完直接执行了proxy-rewrite
而不是init.lua

[2021-05-24 09:10] Firstsawyou commented on #4288
Sorry, my mistake. Currently, third-party plug-in directories are not supported. You need to put custom plug-ins in the plugins directory to take effect.

https://github.com/apache/apisix/blob/master/Makefile#L156 Here is the directory file structure used to build the luarocks way to install APISIX, but it is not a custom plugin directory.

[2021-05-24 09:13] vincentwc commented on #4288
Got it ,thanks

[2021-05-24 09:17] vincentwc commented on #4288
You mean that it's just useful to luarocks but not uesd for custom plugin directory?

[2021-05-24 09:38] tokers commented on #4294
Does the change frequent in your case?

Don't worry about this, the time complexity is not related to the number routes.

[2021-05-24 10:20] Firstsawyou commented on #4296
Did you install the dependent environment according to this? https://apisix.apache.org/docs/apisix/install-dependencies#ubuntu-1604--1804

[2021-05-24 10:21] hozaifaaoud commented on #4296
Yes

[2021-05-24 10:31] Firstsawyou commented on #4287
You should provide etcd configuration information.

[2021-05-24 10:49] Firstsawyou commented on #4287
The order of the logs here does not explain the problem, because they are printed at the same time.

I did not reproduce this problem. This is my local test:

1. Create a route (The back-end service response data is: `proxy-rewrite plugin test`)

[code]

2.Test (Repeated execution many times, no 404 appeared):

[code]

Maybe you should provide all the `route` configuration data bound to the proxy-

[2021-05-24 10:54] Firstsawyou commented on #4296
`gcc` is not installed, you try to install it first.

[code]

[2021-05-24 11:21] Firstsawyou commented on #4288
Yes, the custom plugin code needs to be placed in the `/plugins` directory.

The directory structure of `$(INSTALL) -d $(INST_LUADIR)/apisix/custom_plugin` is used for luarocks to install APISIX, and the final plugin also needs to be placed in the `/plugins` directory.

[2021-05-24 11:24] vincentwc commented on #4288
got it ,thanks, maybe  i can make son directory in plugins directory as my custom directory, i'll test it

[2021-05-24 11:33] spacewander commented on #4037
Closed as lack of response.

[2021-05-24 11:33] #4037 closed

[2021-05-24 11:35] spacewander commented on #2319
Closed as lack of response.

[2021-05-24 11:35] #2319 closed

[2021-05-24 11:50] w7team opened #4299 "bug: k8s下lua里无法解析使用etcd名称的访问地址"
### Issue description
配置信息：
![image](https://user-images.githubusercontent.com/74588507/119343447-0dbef980-bcc9-11eb-86df-92a75e7b7f7e.png)

报错日志：
![image](https://user-images.githubusercontent.com/74588507/119343487-17486180-bcc9-11eb-9cbf-f3941bb5bec2.png)

服务器上ping的结果：
![image](https://user-images.githubusercontent.com/74588507/119343511-2202f680-bcc9-11eb-90b3-a382a82e7756.png)

### Environmen

[2021-05-24 11:53] hozaifaaoud opened #4300 "request help:"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`): 18.04.1-Ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-i

[2021-05-24 11:54] tokers commented on #4299
As per your error log, the DNS response code is "2: Server Failure", which means the DNS server cannot give us a response.

This is not related with APISIX itself, you should check whether your DNS service (kube-dns) works well.

[2021-05-24 11:58] tokers commented on #4300
@hozaifaaoud Try this https://github.com/apache/apisix/releases/tag/2.6, only latest version will be reserved in the link that you used.

[2021-05-24 13:53] tzssangglass commented on #4293
I initially designed the schema
[code]
about Identifying users and companies I haven't figured out if I should put in consumer_schema.

[2021-05-24 15:09] yxudong opened #4301 "bug: skywalking not work when upsteam timeout"
### Issue description

At present, sw_tracer:finish()  will be called in body_filter_by_lua phase.
But in some case, the http request will not execute body_filter_by_lua phase. so this function will not be called.

Detail: https://github.com/apache/skywalking/issues/7004

Is this function should be called in log_by_lua phase?

### What's the actual result? (including assertion message & call stack

[2021-05-24 15:13] wu-sheng commented on #4301
Hi @apache/apisix-committers  SkyWalking community needs verification of whether this is the right description, and a correct way to fix

[2021-05-24 16:20] yxudong commented on #4258
Hi, @spacewander I'd like work on this issue.
Please assign it to me.
But what extent should this feature be supported, like just precise match or should supprt regex match?

[2021-05-25 00:33] membphis commented on #4301
Please provide a minimal reproducible case, then we can check it

[2021-05-25 01:14] spacewander commented on #4258
I am confused. Doesn't we only need to add a timeout field as we have done with upstream?

[2021-05-25 01:18] tzssangglass commented on #4295
please describe what this issue is trying to say

[2021-05-25 01:43] tokers commented on #4301
We may add a flag to check whether the `sw_tracer:finish` was called in the `body_by_lua_filter*` phase, if not, just calling it in `log_by_lua*` phase.

[2021-05-25 01:46] tokers commented on #4258
It seems that what you talked about is another thing? If so, we may create another issue to track, and in this thread, let's talk about custom timeout settings.

[2021-05-25 01:48] wu-sheng commented on #4301
`log` method should not provide accurate endtime, as far as I know. If the timeout really could cause the issue, then I think we have to make a flag for the status.

[2021-05-25 02:12] yxudong commented on #4258
Sorry, I misunderstood.
I'll work on this issue about custom timeout settings.

[2021-05-25 02:17] #4229 closed

[2021-05-25 02:21] yxudong commented on #4301
The specific case is here.

The proxy_read_timeout config is 1s.
When http://test_upsteam reponse time more than that, nginx will has error log

In this case, the http request will not execute body_filter_by_lua phase, and `sw_tracer:finish` function is not be called also.

[2021-05-25 03:03] spacewander commented on #4301
Response without body also causes this problem, like HEAD request's response.

[2021-05-25 05:12] wu-sheng commented on #4301
Thanks for sharing more cases. What is the recommended fix? Do we have to move this into the `log_by` with a recheck? We have to face an inaccurate end time.

[2021-05-25 06:21] spacewander commented on #4301
My opinion:
1. normal response: keep the current behavior
2. without response (the timed out case pointed by @yxudong): add `finish` call if we haven't called it yet
3. header only response (`HEAD` request, 204 or 304 response): add `finish` call in the header filter phase.

[2021-05-25 06:23] wu-sheng commented on #4301
@yxudong Would you work on a patch to SkyWalking nginx agent to do that? We need some code changes rather than only doc change.

cc @dmsolr I think after this, we need to adjust Kong plugin. @spacewander we need to adopt this fix in APISIX too.

[2021-05-25 06:34] yxudong commented on #4301
Ok, I'll try to work on a patch with this according to @spacewander 's opinion.

[2021-05-25 07:34] #4295 closed

[2021-05-25 08:17] Yullin opened #4302 "request help: charset config in ngx_tpl.lua"
### Issue description
一些情况下，Client端对于Charset的支持不完善，希望charset作为可配置项出现在config.yaml中。
另外在实际生产中还有对于log_format多种格式的需求，以及access_log多项配置（日志以syslog server=xxx的形式输出多份）
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): 3.10.0-862.6.3.el7.x86_64 #1 SMP Tue Jun 26 16:32:21 UTC 2018 x86_64 x86_64 x86_6

[2021-05-25 08:17] Hsuing commented on #4287
已解决，全局插件为空导致时不时出现404

[2021-05-25 08:17] #4287 closed

[2021-05-25 08:37] Firstsawyou commented on #4302
The current `chartset` setting is fixed in the [ngx_tpl.lua](https://github.com/apache/apisix/blob/master/apisix/cli/ngx_tpl.lua#L220) file, I think it is necessary to put it in config.yaml as a configurable option.

[2021-05-25 11:16] tokers commented on #4258
Looking forward to your PR :)

[2021-05-25 12:35] wwwworkhard commented on #4249
I have the same problem as you. It's not solved yet ,  i  have to try  another  one computer  make the "defps"

[2021-05-25 12:40] wwwworkhard commented on #4249
@Firstsawyou  how to solve this  problem . i   looked at the source code ,  "  if not http.tls_handshake then
    error("Bad http library. Should use api7-lua-resty-http instead")
end "

![image](https://user-images.githubusercontent.com/12581016/119499585-71185c80-bd99-11eb-98cc-4c9c36c84814.png)

[2021-05-25 12:48] yxudong commented on #4301
Hi, everyone.

It's seems that there is an easy solution to this problem.
Just change `body_filter_by_lua` phase to `header_filter_by_lua` phase, because `body_filter_by_lua` may not be executed in some case, but `header_filter_by_lua` is always will be executed.
At least, It's work in all the scenarios I can think of after my experiment.

In addition, `sw_tracer:finish` should be called in header

[2021-05-25 12:51] wu-sheng commented on #4301
Does `header_filter_by_lua` work for timeout?

[2021-05-25 12:52] wu-sheng commented on #4301
You should know, in other SkyWalking agents, there is a config to control collecting HTTP request and response bodies when necessary. It is better to keep `body_filter_by_lua` works in normal cases.

[2021-05-25 12:54] yxudong commented on #4301
Yes, I've already experimented about timeout case.

[2021-05-25 13:03] wwwworkhard commented on #4249
my  server from aliyun  ,  Maybe i used safeSecurity enhancement mode .

[2021-05-25 13:41] yxudong commented on #4301
If change `body_filter_by_lua` phase to `header_filter_by_lua` phase is too risk, I submitted a PR about this issue.

https://github.com/apache/skywalking-nginx-lua/pull/85

Add a flag to makesure the `Tracer:finish()` was called.
Please check it.

If it's no problem, I'd like to submitted a PR about Kong plugin and APISIX.

[2021-05-25 14:08] Firstsawyou commented on #4249
You should refer to this issue: https://github.com/apache/apisix/issues/4007
It should solve your problem.

[2021-05-25 14:18] spacewander commented on #4301
Calling the `finish` in header_filter_by_lua in a non-head-only response will result in a too-short trace span. Consider the server is serving a 1 GB file, the time when the response finish generating header is quite earlier than generating all the body.

[2021-05-25 14:21] yxudong commented on #4301
Got it. Thank you for reply.

[2021-05-25 15:30] rogerwangzy opened #4304 "transparent"
apisix 基于nginx,是否支持 proxy_pass transparent ？

MQTT 协议的代理，由于并发连接数非常大，会出现  代理与 upstream 之间tcp连接数耗尽的问题（如果不支持透明代理的话）

[2021-05-25 18:02] hozaifaaoud commented on #4269
How can I do this through APISIX dashboard?

[2021-05-26 01:04] spacewander commented on #4304
You can use `stream_configuration_snippet` to inject a new server to do it:
https://github.com/apache/apisix/blob/master/docs/zh/latest/customize-nginx-configuration.md

[2021-05-26 01:06] spacewander commented on #4269
This question should be asked to apache/apisix-dashboard

[2021-05-26 01:06] #4269 closed

[2021-05-26 01:07] spacewander commented on #4299
Closed as lack of response.

[2021-05-26 01:07] #4299 closed

[2021-05-26 01:07] #4288 closed

[2021-05-26 01:17] #3309 closed

[2021-05-26 01:18] #2989 closed

[2021-05-26 01:20] spacewander commented on #1756
Can be solved by https://github.com/apache/apisix/blob/master/docs/en/latest/customize-nginx-configuration.md

[2021-05-26 01:20] #1756 closed

[2021-05-26 01:28] rogerwangzy commented on #4304
基于官方的nginx, tcp proxy_pass transparent  ，没有配置成功过。。。，haproxy也不行，想找一个能解决问题的代理，始终没找到。

[2021-05-26 01:51] #3841 closed

[2021-05-26 01:52] #4300 closed

[2021-05-26 03:01] anjia0532 opened #4306 "features: nacos discovery added namespaceId support"
nacos doc https://nacos.io/en-us/docs/open-api.html#2.4

Default namespaceId is `public`,It should be configurable

[2021-05-26 03:18] vincentwc opened #4307 "request help: 创建一个路由的时候，是怎么走到apisix/admin/routes.lua的_M.put方法的啊？"
### 创建一个路由的时候，是怎么走到apisix/admin/routes.lua的_M.put方法的啊？
看了一下源码，但是这个逻辑还是不太懂，一个创建route的http请求是怎么转到routes.lua的方法去的？在哪里配置的呢？希望可以帮忙解答一下，谢谢

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* etcd

[2021-05-26 03:37] Firstsawyou commented on #4306
PR is welcome.

[2021-05-26 03:50] Firstsawyou commented on #4307
The interface of `/apisix/admin/*` is initialized in the `apisix/admin/init.lua` file.  For details, please see: https://github.com/apache/apisix/blob/master/apisix/admin/init.lua

[2021-05-26 05:56] vincentwc commented on #4307
i looked nginx.conf in /apisix/conf/nginx.conf , i don.t know how to use some settings
such as
one :  env APISIX_PROFILE;  What is the function of this parameter
two:  show as my picture ,why the obj  apisix could call init.lua when function  _M.init_http is defined local _M ?
![image](https://user-images.githubusercontent.com/31959888/119609231-da47b080-be29-11eb-8a6b-a96cc58cda60.png)

[2021-05-26 07:15] oldthreefeng opened #4310 "apisix docs dont have an upgrade example from older version to latest."
# Improve Docs
just like jumpserver or others project. when the latest version is publish.

you guys should maintance an upgrade  example . Just like

- apisix 2.5 to apisix 2.6
- apisix 2.4 to apisix 2.6
- apisix 2.3 to apisix 2.6
- apisix 2.2 to apisix 2.6
- apisix 1.5 to apisix 2.6 (since etcd v2 change to v3 , this is not recomand to upgrade.)

and so on.
## Please describe which part of docs

[2021-05-26 07:16] Firstsawyou commented on #4307
Please see here: https://github.com/apache/apisix/blob/master/docs/en/latest/profile.md

Corresponding files will be loaded from the path defined by `lua_package_path` (for example: apisix/init.lua, apisix.lua), you can understand the use of lua_package_path, you will be clear.

https://github.com/apache/apisix/blob/f7c6f4fff765116898d48de0e07eb3728f36ee0d/apisix/cli/ngx_tpl.lua#L60-L61

[2021-05-26 07:21] vincentwc commented on #4307
thanks for your reply,  i had searched the file profile.md,but where i can set the APISIX_PROFILE value? or just used param in start apisix? hou to use ,please give me a demo,thanks

[2021-05-26 08:05] Jaycean commented on #4157
It hasn't been solved yet.

[2021-05-26 09:56] sandy420 opened #4312 "bug: After enabling proxy-mirror, normal requests report 404"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.5
* OS (cmd: `uname -a`):centos 7.3
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.4.14
* a

[2021-05-26 10:29] Firstsawyou commented on #4312
Okay, let me check.

[2021-05-26 12:21] tzssangglass commented on #4307
this is a linux environment variable, there are many ways to set it, for example,

[code]
and check it

[code]

[2021-05-26 12:23] tzssangglass commented on #4157
I installed apisix on macOS M1 (arm64) successfully, but I don't have a kylin V10 arm64 system to verify this.

[2021-05-26 14:16] starsz commented on #4312
Hi @sandy420 .What's the response body when enable the `proxy-mirror` plugin.

[2021-05-26 14:23] Firstsawyou opened #4314 "bug: plugin hot reloading does not take effect"
### Issue description

After modifying the code of the plugin, after performing the following operations according to the [plugins.md](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins.md#hot-reload) document, the hot loading of the apisix plugin did not take effect.

[code]

### Environment

Bug report without environment information will be ignored or closed.

* apisix version

[2021-05-26 16:02] Firstsawyou commented on #4314
@spacewander
I think the code here should be removed so that it can support hot loading after modifying the plugin code. right?
https://github.com/apache/apisix/blob/master/apisix/plugin.lua#L167-L171

[2021-05-26 17:07] Yiyiyimu commented on #4157
Successfully installed APISIX on AWS graviton2 (arm64) successfully but failed to find Kylin cloud server to test

[2021-05-27 00:08] Yiyiyimu opened #4316 "bug: etcd timeout in config is too large to be useful"
### Issue description

Just found adding 1s network delay between apisix and etcd could make all operation fails, although we set default etcd timeout to 30s. The reason is that there seems a default and non-configurable timeout context in the etcd, and it's around 5s. After that, it would just return the error `context deadline exceeded`.

So no matter how large we add network delay to etcd, the

[2021-05-27 00:53] spacewander commented on #4316
Agree

[2021-05-27 01:44] anjia0532 opened #4317 "bug: Official website Chinese doc showing English"
### Issue description

All of them, e.g.  https://apisix.apache.org/zh/docs/apisix/getting-started/

[2021-05-27 01:47] #4317 closed

[2021-05-27 01:47] vincentwc commented on #4307
it will check the param in linux env not in apisix config? got it .thak you for your reply

[2021-05-27 01:48] tzssangglass commented on #4316
agree

[2021-05-27 01:48] #4307 closed

[2021-05-27 02:04] Yiyiyimu commented on #4316
Got it would fix it later

[2021-05-27 02:23] Marco-Zheng opened #4318 "request help: Set request var in header, but i don't get param from ctx.var"
### Issue description
I see that in the traffic-split of the official case of Apisix, ctx.var is the value from the request header, but when I put the parameter in the header when I requested it, I didn't get the value ?
![image](https://user-images.githubusercontent.com/52538259/119756074-91e5cc80-bed5-11eb-9136-5a4cd41bf1cf.png)
![image](https://user-images.githubusercontent.com/52538259/1197560

[2021-05-27 02:26] tokers commented on #4316
Agree +1

[2021-05-27 02:27] tokers commented on #4318
@Firstsawyou Please take a look when you have time.

[2021-05-27 03:12] sandy420 commented on #4312
The response returned by the mirror request is ignored.so,I don’t know what it is.

[2021-05-27 04:24] Firstsawyou commented on #4318
The request header information will not be stored in ctx.var unless we store it in advance. The request header is obtained by using nginx's `$http_PARAMETER` method.

[2021-05-27 05:40] Firstsawyou commented on #4316
Agree +1

[2021-05-27 06:26] XuZhaoPro commented on #4294
@tokers , the route does not change frequently. But when it needs to change, the nginx worker will not work unitl the route cache has finished rebuilt. Maybe during the small duration, the APISIX node is having a bad time window that not performs as bofore. While I am sure it will recover soon, but it is a problem that asked to be resovled in my company.
And another one question, the k8s pods chan

[2021-05-27 07:02] tzssangglass commented on #4318
like @Firstsawyou said, with `ctx.var` you can't just rely on dynamic debug to see what values are in it, there is even a portion of c data in this.

[2021-05-27 09:04] Uangski opened #4322 "request help: etcd TLS"
你好，我有 etcd集群，设置了 tls 方式连接，有 ca-file、key-file 以及 cert-file 三个文件，如何配置 apisix .conf 呢？
模板里是这么配置的
etcd:
host:
  - "https://admin.apisix.dev:22379"
  prefix: "/apisix"
  tls:
    cert: t/certs/mtls_client.crt
    key: t/certs/mtls_client.key

模板里只有 cert和key 。没有ca选项，最终连接不了 etcd集群。请问下我这种情况，该如何配置呢？

### Issue description

### Environment

Request help without environment information will be ignored or clo

[2021-05-27 09:43] tokers commented on #4322
@Uangski You should set `ssl_trusted_certificates` item, see https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L116 for the details.

[2021-05-27 09:58] tokers commented on #4312
@sandy420 Is therey any error logs in your apisix when the 404 was triggered. Also, please pastes some contexts about the 404 requests.

[2021-05-27 10:05] tokers commented on #4294
Maybe we can optimize the route building process, let it be asynchronous, and replace the current radix tree object after the building is done, what's more, adding some points in the building process so that the building coroutine can be yielded and requests can still be handled (with the old radix tree object). Anyway, just my shallow thoughts.

Upstream Nodes changes won't be a problem as it's r

[2021-05-27 10:17] Uangski commented on #4322
设置相关参数，如下：
ssl_trusted_certificate: "/opt/etcd/ssl/ca.pem"
  tls:
    key: "/opt/etcd/ssl/client-key.pem"
    cert: "/opt/etcd/ssl/client.pem"
    verify: true
日志报错：
2021/05/27 10:09:13 [error] 44#44: *16 SSL_do_handshake() failed (SSL: error:14094412:SSL routines:ssl3_read_bytes:sslv3 alert bad certificate:SSL alert number 42), context: ngx.timer
2021/05/27 10:09:13 [error] 44#44: *24 SSL_do_hand

[2021-05-27 10:34] SkyChenSky opened #4323 "request help: About Consul integration design question"
I want to use consul to do discovery.
What makes me very curious is that use consul key/value without standard service discovery api and define a set of templates.
So I want to know the purpose of this design.

We look forward to your reply.
Thank you.

[2021-05-27 11:09] topzyh opened #4324 "Improve Docs: How APISIX uses non-Lua languages to write plug-ins"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

我看到 APISIX 2.6  支持使用其他语言编写自定义插件，能否补充一下相关文档、及文档发布时间？

## Describe the solution you'd like

我们准备使用 APISIX 接入公司用户认证和统一鉴权，但由于公司用户、系统众多，鉴权逻辑复杂，lua已经不能满足使用要求了，需要使用java开发；通过token和domain、uri 来鉴权

感谢 APISIX

[2021-05-27 11:12] tokers commented on #4322
@Uangski See https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L210, you should use the OpenResty for APISIX.

[2021-05-27 12:11] spacewander commented on #4324
Let's watch the development of https://github.com/apache/apisix-java-plugin-runner!

[2021-05-27 12:12] spacewander commented on #4323
The consul KV discovery is contributed by @yongboy
Maybe his company uses consul KV instead of the service discovery api.

[2021-05-27 16:22] Engine-AI commented on #4324
You can develop your own personalized authentication plug-in through lua, but it needs to be compatible with the dashboard

[2021-05-28 01:36] spacewander opened #4327 "Extend the admin mTLS doc to cover all the mTLS concepts"
Currently we don't have a united place to hold all the mTLS info.
Let's write one from the users' aspect.
CC @lingsamuel

[2021-05-28 01:45] topzyh commented on #4324
有没有相关的使用文档呢，我没有找到 😭 （什么时候能补充一下 ）感谢~

[2021-05-28 01:57] spacewander commented on #4324
This project is almost finished but is not released yet. We will add the documentation before release.

[2021-05-28 02:03] vincentwc opened #4328 "request help: How to implement custom routing?"
### 我现在想在创建路由的时候给路由的key添加一个字符串该怎么实现
看了一下etcd里面路由的存储，key都是  /apisix/routes/85这样的，现在想对这个做一些扩展，/apisix/routes/{String}/85
该怎么实现？
目前的思路是在请求头里面添加一个k/v，然后再apisix里面怎么解析出来并在routes.lua里面使用?
目前的想法是将k/v放到ngx.ctx里面，但是之前没做过，所以不知道该怎么实现，可以该我个实现说明吗

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenRest

[2021-05-28 02:05] lingsamuel commented on #4327
@spacewander can you assign me?

[2021-05-28 02:57] Firstsawyou commented on #4328
As far as I am concerned, it is not recommended to modify the structure of `key`. Because this may bring a series of problems. For example: it cannot be compatible with APISIX in the community, cannot be used with `APISIX Dashboard`, etc.

[2021-05-28 03:09] vincentwc commented on #4328
i know your concerned，but now i want to seperate by api group, so i need to add string at route's key. i think we can't reply it by dashboard?so how to implemets it by apisix not dashboard?

[2021-05-28 03:20] tokers commented on #4328
@vincentwc So you want to separate all routes into multiple groups and distinguish them by the ETCD key prefix?

I don't know your real scenario but it's not feasible in APISIX, you have to hack it. Also, if the group is used for management, try the labels feature, you can set labels by using apisix-dashboard.

[2021-05-28 03:25] tokers commented on #4327
@lingsamuel Assigned to you.

[2021-05-28 03:37] spacewander commented on #1592
APISIX now supports mTLS by itself.

[2021-05-28 03:37] #1592 closed

[2021-05-28 03:40] NMSAzulX commented on #4324
请问有C#版本的吗?

[2021-05-28 04:04] Firstsawyou commented on #4312
@sandy420
Local test did not show 404. You should check whether apisix has log information records, as @tokers  said, providing context information for 404 requests.

[2021-05-28 04:06] spacewander commented on #4324
Currently we don't have plan to add C# support.

[2021-05-28 04:06] NMSAzulX opened #4329 "请问如何编写插件? 文档没有看明白"
如题:

1. 我看到 https://github.com/apache/apisix/blob/master/apisix/plugins/openid-connect.lua 中有很多方法, 请问哪些是管道最开始执行的方法?

2. 如果插件方法需要终止管道并且返回401, 该使用什么方法终止管道继续运行?

3. 如何管理插件类及管道的生命周期?

4. 如何在已配置路由映射的情况下, 使用插件终止转发并返回插件中的结果?

5. 是否支持其他语言编写插件, 是否有传送门列表?

感谢 Apisix!

[2021-05-28 05:38] Firstsawyou commented on #4302
Assigned to me.

[2021-05-28 05:40] vincentwc commented on #4328
we should has seperate whit different group , i think we should change  apisix source code, maybe just change route key could implement it,so i init this issue,but know i don't know how to get param in   function _M.get() with routes.lua file. i think could use ngx.ctx to get http request header info and get it at  _M.get()  function, but now i hava no idea how to implement it

[2021-05-28 06:09] Firstsawyou commented on #4329
Execute `_M.check_schema` first, and then execute the `_M.rewrite` method.
For more information about plug-in development, you can refer to here: https://github.com/apache/apisix/blob/master/docs/en/latest/plugin-develop.md

Please see here: https://github.com/apache/apisix/blob/master/docs/en/latest/plugin-develop.md#choose-phase-to-run

https://github.com/apache/apisix/blob/master/docs/en/latest

[2021-05-28 06:34] NMSAzulX commented on #4329
十分感谢! ✨🎉♥

[2021-05-28 09:51] starsz commented on #4316
Agree +1

[2021-05-28 10:05] starsz commented on #4318
Not really true. Here we override the index function.
Hi @Marco-Zheng, you can refer to:

https://github.com/apache/apisix/blob/9a40fd7cb497974f9d7bd75f128eed5dd238cdc6/apisix/core/ctx.lua#L136-L162

[2021-05-28 10:07] #4302 closed

[2021-05-28 14:44] #3974 closed

[2021-05-28 14:46] #4329 closed

[2021-05-29 02:13] xyz2b opened #4333 "request help: apisix etcd do not support ca cert config"
### Issue description
apisix etcd do not support ca cert config, self-signed certificate verification failed.

lua-resty-etcd is not support ca cert config also.

[code]

[code]

### apisix config
[code]

### etcd config
[code]

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): `2.6`
* OS (cmd: `uname -a`): `Linux VM

[2021-05-29 04:00] xyz2b commented on #4333
I find lua_ssl_trusted_certificate configuration in lua nginx api, but this will effect all sslhandshake

[2021-05-29 05:24] moonming commented on #4329
apisix already support java plugin， why need wait？ @Firstsawyou

[2021-05-29 06:14] spacewander commented on #4333
It requires APISIX-Openresty
https://github.com/apache/apisix/blob/1266801154b9d0eeea02a9e2159c499787d0cd9d/conf/config-default.yaml#L211

[2021-05-29 09:31] xyz2b commented on #4333
I might say something wrong.
Since it is a self-signed certificate, the client does not trust the CA organization of the certificate.
Therefore, you need to configure the client to trust the certificate issued by the CA, that is, you need to configure the CA certificate.
Like curl, you need to add the --cacert parameter, otherwise an error will be reported. However, apisix does not configure the p

[2021-05-29 11:27] tokers commented on #4328
I'm afraid I didn't capture your meaning. Could you describe it more detailed?

[2021-05-29 11:39] Firstsawyou commented on #4329
Because there is no series of documents to introduce how to support java plugins, so need to wait for the release of relevant documents.

[2021-05-29 12:15] xyz2b commented on #4333
Solution maybe in this issue： https://github.com/apache/apisix/issues/4322.
I will try. Thank you.

[2021-05-30 02:57] membphis commented on #4157
@Molio-tan if you need more help, you can contact me by email: membphis@gmail.com

I think we need to log into your system environment and try to find out why.

[2021-05-30 03:03] xyz2b commented on #4333
The ssl_trusted_certificates config in config-default.yaml will be set nginx.conf  lua_ssl_trusted_certificate config.
This configuration of nginx will affect the global configuration.

[2021-05-30 03:44] spacewander commented on #4333
Please open another issue to discuss another thing. Thanks for your cooperation.

[2021-05-30 03:44] #4333 closed

[2021-05-30 03:46] spacewander commented on #4333
The per-location proxy_ssl_trusted_certificate is nothing relative to the etcd, as the etcd is global and should be configured at the global level.

[2021-05-30 03:47] xyz2b opened #4337 "request help: apisix can't get up"
### Issue description
apisix can't get up

apisix start log
[code]

apisix config
[code]

etcd config
[code]

nginx log
[code]
### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
[code]
* OS (cmd: `uname -a`):
[code]
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
[code]
* etcd version, if have (cmd: r

[2021-05-30 04:06] spacewander commented on #4337
Try disabling the daemon mode via:
[code]

And see what happened?

[2021-05-30 04:16] xyz2b commented on #4337
Same as before.
Look at the last line of the error log, it's more like a pcre JIT compiling problem

start apisix
[code]

nginx log
[code]

[2021-05-30 04:22] spacewander commented on #4337
Look like the customized yaml doesn't take effect if `mv` or `ln` failed.

@Yiyiyimu
Can you take a look when you have free time? Thanks!

[2021-05-30 04:42] xyz2b commented on #4337
I think it’s not for this reason. I see the configuration in the nginx.conf configuration file is effective.
It is normal for me to use the original version of openresty, but it is not normal to use apisix openresty.

nginx.conf
[code]

[2021-05-30 05:29] xyz2b commented on #4337
After adding log debugging, it is found that the code is executed to the return sock:tlshandshake(opts) of the resty.http.tls_handshake function, and there is no return.

The `sock:tlshandshake` is new feature of apisix openresty.

resty.http
[code]

[2021-05-30 07:04] tokers commented on #4337
What @spacewander said is against the problem thrown by shell (the failure of `mv` command).

[2021-05-30 08:24] xyz2b commented on #4337
I see. But the problem of nginx not starting is not caused by `mv` command error.

[2021-05-30 14:45] yxudong commented on #3953
Hi, I'd like work on this issue.
Please assign it to me.

[2021-05-30 21:19] Yiyiyimu opened #4341 "ci: update `cancel-workflow-actions` to concurrency in github actions"
### Issue description

As described in https://github.com/potiuk/cancel-workflow-runs#deprecation-notice, recently GitHub actions officially imported an argument `concurrency` to achieve workflow cancellation, and thus it could replace `cancel-workflow-actions` so it has gone deprecated.

A good reference could be the one used in airflow: https://github.com/apache/airflow/pull/15944

Thus we need

[2021-05-31 00:10] belongwqz commented on #4324
what about python?

[2021-05-31 00:51] spacewander commented on #4324
Currently we don't have plan to add Python support.

[2021-05-31 02:18] Yiyiyimu commented on #4337
[code]
Hi @xyz2b if you are using the default path of `config.yaml`, you could leave the argument `--config` away and directly run `./bin/apisix start`.

---

Hi @spacewander since @xyz2b actually uses the default path of `config.yaml`, the error indeed does not have effects on apisix (apisix still uses `config.yaml` to setup and run).

[2021-05-31 03:01] xyz2b commented on #4337
Hi @spacewander. The problem may be here?  I used `ngx.log` to print logs in `openresty/lualib/resty/core/socket/tcp.lua` of apisix openresty but it didn't work. I don't know why.

[2021-05-31 07:59] Marco-Zheng opened #4343 "bug: set https certificate but doesn't work"
### Issue description
I set https certificate but doesn't work
![image](https://user-images.githubusercontent.com/52538259/120160604-0055c200-c229-11eb-9f5d-629bc86ee59f.png)
http://test-hello.laoganma.fun/ is ok but https://test-hello.laoganma.fun/ exist with timeout
![image](https://user-images.githubusercontent.com/52538259/120160417-cf758d00-c228-11eb-8c98-b4af44dccb92.png)

### Environment

B

[2021-05-31 08:37] #4314 closed

[2021-05-31 08:38] spacewander commented on #4343
Need to provide detailed configuration (etcd data, etc.), and the steps to reproduce it.

[2021-05-31 08:40] #4322 closed

[2021-05-31 08:40] spacewander commented on #4322
Closed as lack of response.

[2021-05-31 09:01] Marco-Zheng commented on #4343
@spacewander Hi, my etcd version is etcd-5.2.1, apisix version (cmd: apisix version): 2.4, apisix-dashboard version: 2.5

[2021-05-31 09:59] spacewander commented on #4343
Don't send us the screenshot. We can't copy your configuration from it. And you doesn't show the most important part: the SSL configuration.

[2021-05-31 11:24] Marco-Zheng commented on #4343
@spacewander
Sorry, here is the route configuration
[code]
SNI is `*.laoganma.fun` `laoganma.fun` , the certificate is private so i can't paste it, is there any other  SSL configuration need to be added
![image](https://user-images.githubusercontent.com/52538259/120186231-cfd05100-c245-11eb-9303-314cecf9185b.png)

[2021-05-31 11:42] spacewander commented on #4343
Could you also provide the packet capture file?

[2021-05-31 14:27] Demogorgon314 opened #4346 "request help: optimize nacos service discovery"
### Issue description
Nacos service discovery can use a worker node to request API, and synchronize to other worker nodes through events.

[2021-05-31 16:01] starsz commented on #4343
Can you try to use `curl` with --resolve option?

[2021-06-01 01:52] tokers commented on #4343
@Marco-Zheng Could you tell us the particular error message?

You may also use `openssl s_client` to check the TLS handshaking details like:

[code]

[2021-06-01 02:26] NMSAzulX opened #4350 "request help: 如何使用 _M.check_schema 方法?"
### Issue description

请问这个方法有非常详细的解释文档吗?
对下面的代码有些疑问:
1. cached_validator 方法的逻辑在哪里?  具体是用来做什么的? 是为了缓存验证结果吗?
2. validator 方法的逻辑在哪里? 这个是为了校验传入来的 JSON 实体与格式是否匹配?

[code]
3. 这里我可以直接返回 ok 吗? 我们场景就是高度信任的, 不需要验证这些, 如果直接返回 ok 会影响其他插件吗?
[code]
4. 配置格式验证后期会设计成只验证一次吗?比如只在注册插件的时候验证一次?

[2021-06-01 02:29] Marco-Zheng commented on #4343
@spacewander @tokers @starsz Hi, i use command`openssl s_client -connect {APISIX HTTPS Host}:{APISIX HTTPS PORT} -servername test-hello.laoganma.fun
` locally, it show that `no peer certificate available`
![image](https://user-images.githubusercontent.com/52538259/120258007-e0bfa780-c2c3-11eb-937e-474a5e3d8a7d.png)

[2021-06-01 02:39] spacewander commented on #4350
Function cached_validator is `create_validator` with the lrucache wrapper.

validator is generated by jsonschema

Yes

No. Just affect the schema check of this plugin.

We need to check the schema again each time the plugin configuration is changed.

[2021-06-01 02:57] pioneer-hash opened #4351 "request help: Apisix generates extra core.* files when it starts"
### Issue description
Extra Core.* files are generated when Apisix-2.6 starts , but these core.* files were not generate  before 2.5 version
This is some of the information I generated using gdb debugging.
[code]
It looks like there is a problem with OpenSSL. How can I fix it
### Environment
version:2.6 release
Request help without environment information will be ignored or closed.

* apisix versi

[2021-06-01 03:07] NMSAzulX commented on #4350
好的,多谢!

[2021-06-01 03:07] #4350 closed

[2021-06-01 03:33] htwdjqr commented on #487
组织：中食安泓(广东)健康产业有限公司
地址：中国 广东
联系方式：2268549298@qq.com
使用场景：作为网关使用处理平台各种服务之间的流量

[2021-06-01 03:33] spacewander commented on #4351
Can you use `bt` in gdb to get the full backtrace?
We need a minimal case to reproduce it.
Any interesting thing in the error.log?

[2021-06-01 03:33] htwdjqr commented on #487
组织：中食安泓(广东)健康产业有限公司
地址：中国 广东
联系方式：2268549298@qq.com
使用场景：作为网关使用处理平台各种服务之间的流量

[2021-06-01 03:33] spacewander commented on #4351
And you must fill the `OpenResty / Nginx version` field.

[2021-06-01 03:35] htwdjqr commented on #487
组织：中食安泓(广东)健康产业有限公司
地址：中国 广东
联系方式：2268549298@qq.com
使用场景：作为网关使用处理平台各种服务之间的流量

[2021-06-01 03:37] Marco-Zheng commented on #487
Organization: ZeiYi Tech
Location: ShangHai, China
Contact: marco.zheng@medcloud.cn
Scenario: Use as a gateway to process traffic between various services on the platform

组织：上海泽怡信息科技
地址：中国 上海
联系方式：marco.zheng@medcloud.cn
使用场景：作为网关使用处理平台各种服务之间的流量

[2021-06-01 04:01] warrenincn commented on #487
Organization: AISPEECH (https://cloud.aispeech.com/)
Location: SuZhou, China
Contact: wang.wu@aispeech.com
Scenario: As a gateway to deal with north-south traffic, it is mainly used for routing management, authentication, usage control, concurrency control, grayscale publishing and so on.
组织：思必驰信息科技股份有限公司
地点：中国苏州
联系方式： wang.wu@aispeech.com
使用场景：作为网关来处理南北向的流量，主要用于路由管理，鉴权，用量管控，并发管控，灰度发布等

[2021-06-01 04:30] ysc972 commented on #4157
在国产环境下，启动apisix ，需要在nginx.conf文件中增加user root; 配置，才能正常启动。
In the domestic environment, to start apisix, you need to add user root in the nginx.conf file; apisix can be started normally.

[2021-06-01 05:10] imjoey commented on #4157
@Molio-tan Hi, I just tried the apisix v2.6 in your environment, the error is gone and everything is so smooth. FYI, I installed the apisix v2.6 under `/opt/ALB-V1.0/apisix`.

[2021-06-01 05:23] imjoey commented on #4157
@ysc972 Hi, thanks for the feedback. Could you please provide the exact versions APISIX and OS which your solution can works on? Much appreciated.

[2021-06-01 05:38] tokers commented on #4343
@Marco-Zheng It seems that APISIX doesn't return the correct cert for this connection, you may try to adjust the error_log level (for instance, `info` )and see some detailed error message.

[2021-06-01 05:55] imjoey commented on #4157
@ysc972  Thanks for your advice. It works with no error logs. @Molio-tan I just tried APISIX v2.6 and everything is smooth, please have a check in `/opt/ALB-V1.0/apisix`.

FYI, I made a change in `/usr/local/openresty/nginx/conf/nginx.conf` to use `user  root;` instead of `# user  nobody;`.

[2021-06-01 06:00] pioneer-hash commented on #4351
full backtrace:
[code]
Openresty  version : 1.19.3.1
error.log:
[code]

[2021-06-01 06:01] Marco-Zheng commented on #4343
@tokers Ok, i'll have a try, my apisix deploy on k8s, there has node port 30017 map to apisix port 80, but ssl port for apisix is 443, may be we need expose it?

[2021-06-01 06:21] ysc972 commented on #4157
os : kylin v10 arm . APISIX : master

[2021-06-01 06:32] Molio-tan commented on #4157
@imjoey @ysc972 Thank you all,I can use apisix correctly.

[2021-06-01 06:32] #4157 closed

[2021-06-01 06:48] spacewander commented on #4351
Please run `nginx -V` directly so that we can see your OpenSSL version. BTW, have you modified the OpenSSL?

I haven't seen this before.

[2021-06-01 06:52] pioneer-hash commented on #4351
This is run  `nginx -V` Info:
[code]
Im not  modified the OpenSSL

[2021-06-01 07:01] spacewander commented on #4351
Can it be reproduced with the official OpenResty? I see you have some 3 party modules (nginx-goodies-nginx-sticky-module, etc.) installed.

APISIX doesn't introduce any OpenSSL-related change, which will cause core dump after init_by_lua phase, in the APISIX 2.6 version.

[2021-06-01 07:13] moonming commented on #487
would you send a PR to add your company into the [powered-by page](https://github.com/apache/apisix/blob/master/powered-by.md)? thx

[2021-06-01 07:15] moonming commented on #487
@ Marco-Zheng would you send a PR to add your company into the [powered-by page](https://github.com/apache/apisix/blob/master/powered-by.md)? thx

[2021-06-01 07:16] moonming commented on #487
@winnetcn would you send a PR to add your company to the [powered-by page](https://github.com/apache/apisix/blob/master/powered-by.md)? thx

[2021-06-01 07:25] pioneer-hash commented on #4351
I installed OpenResty in the same way  but  core.* files will not appear on some machine.

[2021-06-01 07:33] diaosj opened #4353 "request help: Do I need to upgrade APISIX from 2.5 to 2.6, in order to fix Nginx CVE-2021-23017?"
### Issue description

Nginx announced a DNS resolver security issue (CVE-2021-23017). I'm currently using APISIX 2.5. Do I need to upgrade to APISIX 2.6?

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): Linux 3.10.0-1160.11.1.el7.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `o

[2021-06-01 07:56] spacewander commented on #4353
YEs, it would be better if you can upgrade it.

[2021-06-01 07:59] spacewander commented on #4351
Maybe machines which have core dump are different from those don't?
Cloud vendors may use different CPUs for the same size of VM. You can check it via `cat /proc/cpuinfo | grep flags`. Or there are some hardware issues.

[2021-06-01 08:28] diaosj commented on #4353
OK. I'll start upgrading it.

[2021-06-01 08:28] #4353 closed

[2021-06-01 08:56] NMSAzulX opened #4354 "request help: 如何将已写好的 xxx.lua 插件上传到正在运行的网关服务中去?"
### Issue description

刚刚写好 .lua 插件,  运维家里就出事了,  现在登录不上服务器,  如何将 .lua 文件上传到正在运行的网关中去, 并启用??

[2021-06-01 09:02] yxudong commented on #4258
The issue can be closed. @tokers

[2021-06-01 09:36] juzhiyuan commented on #4354
Hi, AFAIK, you have to put the Plugin file under the APISIX project. Wait for others' confirmation.

[2021-06-01 09:44] NMSAzulX commented on #4354
@juzhiyuan  多谢....

[2021-06-01 10:42] tokers commented on #4354
@NMSAzulX Hmmm, that's unfortunate, but you can use the serverless plugins to write dynamic Lua codes.

[2021-06-01 10:42] tokers commented on #4354
Hopefully it can help you.

[2021-06-01 10:44] tokers commented on #4258
Well done, thanks for your contribution!

[2021-06-01 10:44] #4258 closed

[2021-06-01 10:49] tokers commented on #4343
How did you deploy your APISIX?

[2021-06-01 11:07] Marco-Zheng commented on #4343
@tokers by using helm chart

[2021-06-01 11:55] tokers commented on #4343
PR's welcome to optimize it.

[2021-06-01 14:46] laurentperez opened #4355 "bug: unable to pass Getting started, curl connections refused"
### Issue description

following https://apisix.apache.org/docs/apisix/getting-started

it fails on first curl with connection refused

`curl "http://127.0.0.1:9080/apisix/admin/services/" -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1'`

curl: (7) Failed to connect to 127.0.0.1 port 9080: Connexion refusée

curl http://127.0.0.1:9090/v1/server_info fails too, connection refused

docker ps
[code]

[2021-06-01 17:03] liujin1993 opened #4356 "request help: route discovery"
### 描述
我们使用nginx做的网关，后端有很多微服务。目前维护了近百个配置文件，每天要花费很多时间在配置路由上。

之前迁移了一部分服务到apisix，apisix对接eureka后，实现了upstream的自动发现，但是还是要手动配置路由。

所以想请教下，apisix有没有**路由发现**的功能，即：服务将自己的ip和route注册到eureka，apisix对接eureka自动生成upstream和route

可以参考traefik，也有点像xDS协议中的rDS
![image](https://user-images.githubusercontent.com/31949674/120361050-0092b200-c33c-11eb-8389-6ef07e54e8f9.png)

### description
We use nginx as gateway, and m

[2021-06-01 17:36] tzssangglass commented on #4355
Similar to this https://github.com/apache/apisix-docker/issues/173, it is being resolved.

[2021-06-01 17:47] tzssangglass commented on #4356
Now it is not. I have a question, if apisix gets route from eureka, what route is configured on apisix?

[2021-06-01 18:27] Yiyiyimu commented on #4157
Hi @ysc972 do you mind add this configuration to apisix config so other users could easily run apisix on Chinese OS?

[2021-06-01 18:32] #4354 closed

[2021-06-01 19:39] #4355 closed

[2021-06-02 01:50] spacewander commented on #1733
Duplicate of #1546

[2021-06-02 01:50] #1733 closed

[2021-06-02 01:52] spacewander commented on #1736
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-06-02 01:53] spacewander commented on #1492
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-06-02 01:54] spacewander commented on #1703
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-06-02 01:57] spacewander commented on #1527
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-06-02 01:59] spacewander commented on #1762
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-06-02 02:41] spacewander commented on #1686
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-06-02 03:15] Yullin commented on #487
Organization: IntSig Information Co.,Ltd
Location: Shanghai, China
Contact: bin_deng@intsig.net
Scenario: Traffic Gateway

组织：上海合合信息科技股份有限公司
地址：中国 上海
联系方式：bin_deng@intsig.net
使用场景：流量网关

[2021-06-02 05:44] liyangbing commented on #487
Organization: meicai
Location: Beijing, China
Contact: lybing315@163.com
Scenario: Gateway

组织：美菜网
地址：中国 北京
联系方式：lybing315@163.com
使用场景：网关

[2021-06-02 05:57] shuoshadow opened #6954 "request help: why the location in response header that returned by APISIX has the 9443 port?"
### Issue description
apisix前使用slb 443端口转发到apisix的9443端口
apisix 代理https请求后 携带了9443端口导致无法重定向
![image](https://user-images.githubusercontent.com/10016360/120430719-01fac380-c3aa-11eb-98a6-66440e9f51b7.png)

是因为header的原因吗？我配置了apisixroute的proxy-rewrite插件也不行
[code]
### Environment

* your apisix-ingress-controller version (output of `apisix-ingress-controller version --long`);
* your Kubernetes cluster

[2021-06-02 07:28] xyz2b commented on #4337
I modified the code to directly call the `ngx.socket.tcp` function under `resty/core/socket/tcp.lua`, the error is `not request found`.
Cannot execute `ngx.socket.tcp` in the init phase. How does apisix realize that `ngx.socket.tcp` can be used in the init phase.

[2021-06-02 07:56] suifff opened #4358 "request help: apisix cannot use CORS plug-in after upgrading from 2.0 to 2.5"
### Issue description
I used docker deployment, and apisix-dashboard was upgraded from 2.1 to 2.6

### Environment

docker-compose.yml
[code]

Now CORS is no longer accessible
![image](https://user-images.githubusercontent.com/37427008/120444980-c1577600-c3ba-11eb-94ca-37de1c284b37.png)

This is the configuration of CORS
![image](https://user-images.githubusercontent.com/37427008/120445320-14312d8

[2021-06-02 08:17] spacewander commented on #4358
What is your configure data in the etcd?

[2021-06-02 08:52] suifff commented on #4358
@spacewander 通过etcdctl get --prefix /获取的值解析如下
[code]

[2021-06-02 08:56] suifff commented on #4358
![image](https://user-images.githubusercontent.com/37427008/120450876-7726c280-c3c3-11eb-90af-333494d4a80f.png)

[2021-06-02 09:23] Firstsawyou commented on #4358
Does apisix have any related error log prompts?

[2021-06-02 09:30] suifff commented on #4358
@Firstsawyou yes,I upgraded in the newly opened docker compose, and found that the routing difference is not big, but it cannot be accessed after upgrading. After upgrading, an interface is 404

![image](https://user-images.githubusercontent.com/37427008/120456107-e30b2a00-c3c7-11eb-8533-5bfee989c004.png)
![image](https://user-images.githubusercontent.com/37427008/120456300-0afa8d80-c3c8-11eb-8795

[2021-06-02 10:18] #4346 closed

[2021-06-02 11:15] spacewander commented on #4358
It is a known bug: https://github.com/apache/apisix/pull/4056

[2021-06-02 11:31] suifff commented on #4358
2.6 doesn't work

![image](https://user-images.githubusercontent.com/37427008/120472875-025e8300-c3d9-11eb-8176-b345989f8c7b.png)

[2021-06-02 11:33] xyz2b commented on #4337
I reinstalled openresty and apisix and the problem disappeared.

[2021-06-02 13:24] spacewander commented on #4358
Can you provide a pasteable configuration so we can try it?
Also, any interesting thing in the error.log?

[2021-06-02 13:27] wu-sheng commented on #4301
https://github.com/apache/skywalking-nginx-lua/pull/85 merged. We will need skywalking's next release for APISIX fix.

[2021-06-02 15:16] moonming commented on #4287
fixed by https://github.com/apache/apisix/pull/4087

[2021-06-02 15:54] ysc972 commented on #4157
Hi @Yiyiyimu i have created a PR,so you can start reviewing.Thanks

[2021-06-02 16:41] #1527 closed

[2021-06-02 19:52] hozaifaaoud opened #4363 "request help: create consumer"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): 60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http:

[2021-06-02 20:14] Yiyiyimu commented on #4363
Hi @hozaifaaoud Where are you deploying apisix, on both local and remote machines?

[2021-06-02 20:34] hozaifaaoud commented on #4363
it works now .... thanks for your quick support

[2021-06-02 20:46] #4363 closed

[2021-06-03 01:17] #4337 closed

[2021-06-03 03:22] Ben0625 opened #4365 "request help: Set parameters in nginx.conf"
We want to migrate the service from nginx to apisix, but some parameters need to be set. To be specific, in `nginx.conf` we have a fixed setting for `client_max_body_size 10m`, `client_body_buffer_size 10m`, `proxy_buffer_size 10m` and `proxy_buffers 8 10m`. For APISIX I only see `client_max_body_size` parameter in config-default.yaml, so I can change this parameter successfully. But when I try to

[2021-06-03 03:37] spacewander commented on #4365
You can do it with: https://github.com/apache/apisix/blob/master/docs/en/latest/customize-nginx-configuration.md

[2021-06-03 03:41] suifff commented on #4358
You may not be able to reproduce it. It's normal for me to create a new route. Is there a cache problem

[2021-06-03 03:58] spacewander commented on #4358
So it can't be reproduced now after restarting APISIX?

[2021-06-03 04:04] suifff commented on #4358
No

[2021-06-03 06:56] StretchV opened #4366 "request help: Why is it wrong when I modify the URI of the route"
### Issue description
<img width="1381" alt="QQ20210603-0" src="https://user-images.githubusercontent.com/31284380/120600774-bca6c680-c47b-11eb-8957-0325232eb6c3.png">

为什么我修改uris时apisix报错呢,修改其他的属性是没问题的

### Environment
2.3
Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.3
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd:

[2021-06-03 06:59] Ben0625 commented on #4365
My version is 2.0
Does it mean that I cannot customize Nginx configuration?...

[2021-06-03 07:01] StretchV commented on #4366
原来是这条路由原来存的是uri,...但是如果我想把这条路由的uri改成数组我该怎么请求修改操作呢

[2021-06-03 07:11] Firstsawyou commented on #4366
You can do this:
[code]

[2021-06-03 07:12] Firstsawyou commented on #4366
You can do this:
[code]

[2021-06-03 07:18] #4365 closed

[2021-06-03 08:55] Marco-Zheng opened #4369 "check duplicate service to avoid duplicate creation"
# Improve Docs
When i using below command to add upstream, apisix can create duplicate upstream
[code]
![image](https://user-images.githubusercontent.com/52538259/120616752-10211080-c48c-11eb-9729-9ca270a11bee.png)

## Please describe which part of docs should be improved or typo fixed
suggest that apisix can check duplicate service to avoid duplicate creation

## Describe the solution you'd like

[2021-06-03 09:12] spacewander commented on #4369
Use PUT method.

[code]

[2021-06-03 09:12] #4369 closed

[2021-06-03 09:53] xyz2b opened #4370 "request help: An error is reported when the configuration is updated from etcd regularly"
### Issue description
An error is reported when the configuration is updated from etcd regularly.
Apisix create ​​a timer in the init phase to update the configuration from etcd, but the `lua_ssl_trusted_certificate` configuration is configured in the server configuration block. The scope of `init_by_lua_block` is the http configuration block, So the `lua_ssl_trusted_certificate` configuration of

[2021-06-03 10:50] tokers commented on #4370
@xyz2b We need OpenResty for APISIX to enable  ETCD with mTLS .

[2021-06-03 14:44] gxthrj commented on #4358
I have tried use the cors with apisix admin-api, but got error:
[code]

Got error as below

[code]

It seems that when the cors plug-in is created through the dashboard, there is no shcema verification about this.

[2021-06-03 14:47] suifff commented on #4358
Thank you. I will modify this route through the apifix interface

[2021-06-03 14:52] suifff commented on #4358
There is no error log in the new request. When I restart, I found that there was an error log in apimix

![image](https://user-images.githubusercontent.com/37427008/120665381-4c6d6480-c4be-11eb-921c-fc0e39931d5e.png)

[2021-06-03 14:58] starsz commented on #4358
In fact, the dashboard had schema verification about this :
you can referer:

https://github.com/apache/apisix-dashboard/blob/9850df28b9539713566849069ba093b6be7c3be7/api/conf/schema.json#L2458

The error:
[code]
is validate by lua code.This can't be validated in apisix-dashboard.

you can referer to:
https://github.com/apache/apisix/blob/c61261af8d19557b77535c9c745f4f8182bb63b2/apisix/plugins/cor

[2021-06-03 15:33] nic-chen commented on #4358
```{"error_msg":"failed to check the configuration of plugin cors err: you can not set '*' for other option when 'allow_credential' is true"}```
is validate by lua code.This can't be validated in apisix-dashboard.

That's it.

[2021-06-03 17:16] hozaifaaoud opened #4372 "request help:"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

apisix version (cmd: apisix version): 2.5
OS (cmd: uname -a): 60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
OpenResty / Nginx version (cmd: nginx -V or openresty -V): nginx version: openresty/1.19.3.1
etcd version, if have (cmd: run curl http://127.0.0.1:9090/

[2021-06-03 19:33] Yiyiyimu commented on #4372
Hi @hozaifaaoud can you show some detail about what you did

[2021-06-03 19:40] hozaifaaoud commented on #4372
Here is the request
 curl -X GET "192.168.148.8:9080/v4/eth/transaction/0x5aaa6ac9e2cc4fd9b9d55184573d079e41bf92cff6891ecf6da1985786223852" -H "x-api-key: MedfQ7ZuPG5dvRNWetOES78HUj59xsG85FU16I4z"

Here is the response:
{"message":"Your IP address is not allowed"}

consumer details :
{
  "username": "1104",
  "plugins": {
    "ip-restriction": {
      "whitelist": [
        "0.0.0.0"
      ]
    }

[2021-06-03 20:16] Yiyiyimu commented on #4372
I don't think `0.0.0.0` in whitelist is the way to allow all traffic, since there's no need to do so. If it's related to #4363, you should do so in config

[2021-06-03 20:39] hozaifaaoud commented on #4372
Sorry, could you please explain what do you mean by " you should do so in config"???
So what is the way to allow all traffic and use the ip_restriction plugin at the same time?

[2021-06-03 22:34] Yiyiyimu commented on #4372
That's two different levels of "traffic control" and not related to each other.

For the problem in #4363, it is who can access apisix control plane and do the settings. For ip-restriction, it is who can access apisix to direct their traffic.

Since you could access apisix control plane (#4363), the first problem is solved. To get over `Your IP address is not allowed`, you could just use IP addres

[2021-06-04 00:23] Yiyiyimu commented on #4341
Fixed

[2021-06-04 00:23] #4341 closed

[2021-06-04 00:50] xyz2b commented on #4370
Yes. I used apisix openresty, please see openresty compilation parameters. At the same time I also turned on tls.

[2021-06-04 01:30] hozaifaaoud opened #4374 "request help: cloudflare forward request"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

apisix version (cmd: apisix version): 2.5
OS (cmd: uname -a): 60-Ubuntu SMP Tue Jul 2 18:22:20 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
OpenResty / Nginx version (cmd: nginx -V or openresty -V): nginx version: openresty/1.19.3.1
etcd version, if have (cmd: run curl http://127.0.0.1:9090/

[2021-06-04 01:48] spacewander commented on #4370
It is strange. The TLS handshake in the init phase doesn't use the `lua_ssl_trusted_certificate` directly.

It just uses the configured CA:
https://github.com/apache/apisix/blob/c61261af8d19557b77535c9c745f4f8182bb63b2/apisix/patch.lua#L207-L210

I try with self-signed certificate locally and can't reproduce it.

[2021-06-04 02:01] spacewander commented on #4374
See https://github.com/apache/apisix/blob/c61261af8d19557b77535c9c745f4f8182bb63b2/conf/config-default.yaml#L182

[2021-06-04 02:06] tokers commented on #4372
@hozaifaaoud Try `0.0.0.0/0`.

[2021-06-04 02:13] GoneGo1ng opened #4375 "request help: ‘v1/healthcheck’ returns an empty json"
### Issue description

The healthcheck is configured upstream and is already up and running, but calling the 'v1/healthcheck' interface does not return the expected result, instead returning an empty json.
One more question, I only created an upstream. Why does 'apisix/admin/upstreams' return a count of 2?

[code]

[code]

[code]

### Environment

Request help without environment information will

[2021-06-04 02:40] hozaifaaoud commented on #4374
I changed the "X-Real-IP" to "CF-Connecting-IP" and also tried "True-Client-IP" and both are not working ... could you please help?

[2021-06-04 02:50] spacewander commented on #4375
What is the output of `etcdctl get --prefix /apisix/upstreams`?

[2021-06-04 02:58] GoneGo1ng commented on #4375
[code]

[2021-06-04 04:38] xyz2b commented on #4370
Reinstalled apisix, openresty and apisix, the problem remains.

[2021-06-04 07:55] spacewander commented on #4374
What is your real_ip_xxx configuration? How can I help you even I don't know your configuration?

[2021-06-04 07:58] spacewander commented on #4374
Have you ever changed the https://github.com/apache/apisix/blob/c61261af8d19557b77535c9c745f4f8182bb63b2/conf/config-default.yaml#L184

[2021-06-04 08:03] spacewander commented on #3444
Consider solved

[2021-06-04 08:03] #3444 closed

[2021-06-04 08:35] ieayoio opened #4376 "request help: How to use proxy-rewrite add multiple regex_uri property"
怎么在插件proxy-rewrite配置多个regex_uri实现不同url转发到不同的路径下

例如：
url：http://host1:9080/samplePrefix/get/service1
转发到
	http://host2:8080/test

url：http://host1:9080/samplePrefix/get/service2
转发到
	http://host2:8080/service

是不是只能做两条路由实现

[2021-06-04 10:45] tokers commented on #4376
@ieayoio Currently, we have to use multiple routes to meet your demands. Also, PR's welcome to extend proxy-rewrite plugin.

[2021-06-04 11:03] tokers commented on #4370
@xyz2b You may also show us the APISIX config.yaml.

[2021-06-04 12:46] jxhecong commented on #2720
How to turn on gzip in apisix ?

[2021-06-04 12:59] jxhecong commented on #2720
I found that brotli is not work when i already compiled with google/ngx_brotli in openresty, and 'proxy_set_header Accept-Encoding ""' was setted by proxy-rewrite. The content was not encoded in gzip either.

[2021-06-04 13:09] spacewander commented on #4376
Is this general enough to put it into proxy-rewrite? If it is for a special purpose, we can do it via a custom plugin.

[2021-06-04 13:23] tzssangglass commented on #2720
supported, please try this compile script https://github.com/api7/apisix-build-tools/blob/792a61f3de2e23b124c92f34c975d1e6ce753498/build-apisix-openresty.sh#L80 to compile the `http_gzip_static_module` .

[2021-06-04 13:47] ak476565 commented on #2156
@moonming Can you share your ARM64 image of Apisix on DockerHub? I'm having problems compiling. thank you
<img width="903" alt="截屏2021-06-04 21 45 55" src="https://user-images.githubusercontent.com/3871722/120811186-4ccd3480-c57e-11eb-9b32-289c0c0a2777.png">

[2021-06-04 13:51] ieayoio commented on #4376
其实我提出这个问题起因并没有这么复杂，只是通过快速入门，想在我原服务的基础上加一个前缀

例如原服务(tomcat)：

[code]

加前缀用如下形式替代:

[code]

我进行了如下配置

[code]

当我访问http://host1:9080/prefix/service/，一切正常，我访问到了原服务http://host2:8080/service/的内容

问题出现在我访问http://host1:9080/prefix/service (没有了结尾的"/")

浏览器url却直接跳转到了http://host1:9080/service/，当然这个无法访问的

我分析原因，问题出现在原服务访问http://host2:8080/service会加/跳转到http://host2:8080/service/

因此，我任务最适合我的是配置两个regex_uri

分别为

[2021-06-04 16:01] hozaifaaoud commented on #4374
Here is the configuration:
![image](https://user-images.githubusercontent.com/79872781/120830513-dbca5480-c55e-11eb-869c-ebdaaea9d9a9.png)

[2021-06-04 23:47] ak476565 commented on #4157
Hi,Can you share your ARM64 image of Apisix on DockerHub? I'm having problems compiling. thanks bro.

[2021-06-05 02:25] spacewander commented on #4374
You should change `real_ip_from`. Read http://nginx.org/en/docs/http/ngx_http_realip_module.html#set_real_ip_from for what it is.

[2021-06-05 02:31] spacewander commented on #4376
Maybe `"regex_uri": ["^/prefix/service/?(.*)", "/service/$1"]` can work for you? Unless you want to match `/prefix/serviceA`.

[2021-06-05 06:51] hozaifaaoud commented on #4374
How can I add a list of IPs?

On Sat, Jun 5, 2021 at 4:25 AM 罗泽轩 ***@***.***> wrote:

--
Best regards,
Hozaifa Daoud,
Senior Software Developer,
Blockchain Intelligence group.

[2021-06-05 06:56] tokers commented on #4374
Do these IPs can be represented as the CIDR?

[2021-06-05 07:01] hozaifaaoud commented on #4374
These are the list of IPs
87.176.98.12/13
96.34.76.45/3
89.75.123.6/9

On Sat, Jun 5, 2021 at 8:56 AM Alex Zhang ***@***.***> wrote:

--
Best regards,
Hozaifa Daoud,
Senior Software Developer,
Blockchain Intelligence group.

[2021-06-05 07:04] tokers commented on #4374
Just write them as the value of `real_ip_from`.

[2021-06-05 07:18] hozaifaaoud commented on #4374
Comma separated or not?

On Sat, Jun 5, 2021 at 9:04 AM Alex Zhang ***@***.***> wrote:

--
Best regards,
Hozaifa Daoud,
Senior Software Developer,
Blockchain Intelligence group.

[2021-06-05 12:23] ieayoio commented on #4376
Thank you. You're right

[2021-06-05 21:08] Yiyiyimu commented on #2156
@ak476565 Have you retried installation, it seems the network problem. Or you could try https://luarocks.cn/ if keep failing

[2021-06-05 21:13] #4376 closed

[2021-06-06 09:30] tokers commented on #4374
Please see the link pasted by @spacewander . https://github.com/apache/apisix/blob/c61261af8d19557b77535c9c745f4f8182bb63b2/conf/config-default.yaml#L184

[2021-06-07 01:25] spacewander commented on #4375
I can't reproduce it. The only way to get an empty JSON at my side is when the upstream is not hit.

Maybe you can add more log to see what happened at https://github.com/apache/apisix/blob/405f69b3f9359b9200d595388d6dd6e3e6eb8248/apisix/control/v1.lua#L115

[2021-06-07 01:51] GoneGo1ng commented on #4375
@spacewander thx, i will try it.

[2021-06-07 02:45] jxhecong commented on #2720
I have already complied with --with-http_gzip_static_module, and '/usr/local/openresty/bin/openresty -V' can show it.

[2021-06-07 03:15] nanamikon opened #4382 "request help: Will limit-req support nodelay and rate in minute"
### Issue description
Will limit-req support nodelay and rate in minute?
If not, I find nodelay can be implemented by adding condition, but resty.limit.req only support rate in second,   how can I implemnt rate in minute?

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): ubuntu
* OpenRest

[2021-06-07 03:28] GoneGo1ng commented on #4375
After I redeployed it, it works now.

[2021-06-07 03:28] #4375 closed

[2021-06-07 03:53] spacewander commented on #4382
PR is welcome!

Divide the rate by 60 is already enough?

[2021-06-07 03:55] whioue opened #4383 "request help: build OpenResty for APISIX"
### Issue description
When I execute build-apimix-openresty.sh, an error is reported, as shown in the figure below
![image](https://user-images.githubusercontent.com/47098518/120956529-4dd0b280-c786-11eb-996d-df84392712fa.png)
I'm not sure if it's because of the low version of OpenSSL, I try to upgrade to OpenSSL 1.1.1k, or I will report the same error
### Environment
centos7
It's already installe

[2021-06-07 03:58] spacewander commented on #4383
You can use openresty-openssl111, see this PR: https://github.com/api7/apisix-build-tools/pull/40/files

[2021-06-07 05:50] whioue commented on #4383
When I finished the compilation by modifying build-apisix-openresty.sh, but when I started apisix, I reported an error. I don't know what caused it. The certificate I have configured and can get the result through the command line of etcdctl --endpoints="https://127.0.0.1:2379" --cacert="ca.pem" --key="client-key.pem" --cert="client.pem" get /apisix/plugins
![image](https://user-images.githubuserc

[2021-06-07 06:00] whioue commented on #4383
When I finished the compilation by modifying build-apisix-openresty.sh, but when I started apisix, I reported an error. I don't know what caused it. The certificate I have configured and can get the result through the command line of etcdctl --endpoints="https://127.0.0.1:2379" --cacert="ca.pem" --key="client-key.pem" --cert="client.pem" get /apisix/plugins
![image](https://user-images.githubuserc

[2021-06-07 06:17] tzssangglass commented on #2720
here I give a minimalist configuration for apisix to start gzip.

step 1: turn on gzip, add configuration in `config.yaml`

[code]

step 2: request with gzip header

[code]

step 3:

the response header is

[code]

[2021-06-07 06:23] nanamikon commented on #4382
In my company,  many users set 200 r/m on remote_address or even lower,    If i divided by 60,   1r/s or 2r/s will be reached easily, because modern browser support http2,  so  one user visit one nignx over 1r/s is very common.

Now,  we transfer this conf to apisix,  some of them reach limit and delay request online。

I think we use nodelay in nginx conf while apisix only support delay cause this

[2021-06-07 06:39] gzhsnail opened #4384 "bug: apisix conect etcd, and certificate authentication failure"
### Issue description
apisix 链接 etcd 提示证书认证失败
### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6.0
* OS (cmd: `uname -a`):centos 7
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info A

[2021-06-07 07:25] spacewander commented on #4382
It's how Nginx works too. Note that the r/m is the speed rate, it doesn't mean you can have 200 requests in a minute, it means you can't be faster than 200r/m. Drive a car in 36km/h is equal to 10m/s.

In this case we need a good burst and/or use delay.

`resty.limit.req` does the same thing, see https://github.com/openresty/lua-resty-limit-traffic/blob/56b9a35a69117ed0e8a2e3b9a0866c426403e1b9/lib

[2021-06-07 09:08] spacewander commented on #2289
Apisix doesn't support to proxy an unspecified number of TCP services without modifying config.yaml

[2021-06-07 09:11] jxhecong commented on #2720
Have you setted 'proxy_set_header Accept-Encoding ""' in apisix by proxy-rewrite plugin？To be sure content is not compressed in RS.

[2021-06-07 09:13] huzhewei commented on #2289
thanks ~
I have got it.

***@***.***

From: 罗泽轩
Date: 2021-06-07 17:09
To: apache/apisix
CC: huzhewei; Author
Subject: Re: [apache/apisix] request help: stream proxy didn't work (#2289)
Apisix doesn't support to proxy an unspecified number of TCP services without modifying config.yaml
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsu

[2021-06-07 09:16] nanamikon commented on #4382
Thanks for reply，   after adding nodelay，  we solve the online problem

So mayby rate should be float, but I think it is not the key point

I want to submit a pr to add nodelay function,   a new param as follow
| Name | Type | Requirement | Default|
|--------|---------|-------------|---------|
|nodelay|boolean|optional|false|

Is it ok?

[2021-06-07 09:49] #2289 closed

[2021-06-07 14:02] tzssangglass commented on #2720
no, isn't your problem to turn on gzip?

[2021-06-07 16:44] tzssangglass commented on #4384
hi, let's start with a question, do you want to use tls to connect to etcd? This means that this is a one-way authentication, etcd will verify that apisix is communicating with etcd using tls, but apisix will not verify the credentials of etcd.

n this case, the example configuration of etcd

[code]

the configuration of apisix

[code]

it's work well.

[2021-06-07 16:44] tzssangglass commented on #4384
I'll add an example of mTLS authentication with apisix and etcd later.

[2021-06-07 17:51] tzssangglass commented on #4370
ok, I have the same problem……

my apisix `config.yaml`
[code]

my etcd cluster is same as https://github.com/apache/apisix/blob/a2d80b73ed1d61a9f3e02bf2ddd5c4f2ffc4ddac/.github/workflows/build.yml#L140-L153

I executed
[code]
to set local domain

and then, I use curl to verify that it is a problem with etcd

[code]
tt doesn't look like.

here is my error.log

[code]

[2021-06-07 17:55] tzssangglass commented on #4370
here is debug at /usr/local/openresty/lualib/resty/core/socket/tcp.lua:212, hope to provide a little help
![image](https://user-images.githubusercontent.com/30819887/121066423-73989e80-c7fc-11eb-8ad0-972c3c082f76.png)

[2021-06-08 00:51] spacewander commented on #4382
LGTM

[2021-06-08 00:52] tokers commented on #4384
@gzhsnail From the environment information that you pasted, you don't use OpenResty for APISIX, so you cannot use mTLS.

[2021-06-08 00:53] spacewander commented on #4383
Have you trusted `ca.pem` in the https://github.com/apache/apisix/blob/27ee55199d62fe0771ae19c90da4fe58a860f2d7/conf/config-default.yaml#L116

[2021-06-08 00:58] tokers commented on #4370
@tzssangglass Is the etcd server cert self-signed? Or you may try to put the whole cert chain into `mtls_server.crt` and see what happens.

[2021-06-08 01:34] spacewander commented on #4370
@tzssangglass
Could you provide a minimal reproduce case for the error?

[2021-06-08 01:38] spacewander commented on #4370
@tzssangglass
Could you provide a minimal reproduce case for the error?

[2021-06-08 01:42] zhixiongdu027 opened #4388 "Another implementation of ingress controller"
Although there is an official implementation of Ingress Controller, it is not very practical in some scenarios.

1: Small-scale cluster. If your cluster only has 1~2 nodes, you cannot provide a stable Etcd deployment environment. Even if you deploy it in a certain way, it will consume additional resources.

2: The general private k8s cluster does not have a stable external storage service. Even if

[2021-06-08 01:52] #1856 closed

[2021-06-08 02:03] gzhsnail commented on #4384
@tzssangglass 不是使用单向认证，我需要认证证书，已保证数据传输安全。

[2021-06-08 02:06] gzhsnail commented on #4384
@tokers 我没明白您的意思，我的apisix 使用的 openresty 并且是根据 https://apisix.apache.org/zh/docs/apisix/how-to-build/ 重新编译过的。

[2021-06-08 02:11] whioue commented on #4383
I tried to add a CA certificate, but received this error message
![image](https://user-images.githubusercontent.com/47098518/121111572-b16be600-c841-11eb-88aa-d008a4ce94ac.png)
My configuration is like this：
![image](https://user-images.githubusercontent.com/47098518/121111621-cea0b480-c841-11eb-84be-6729920859b4.png)
![image](https://user-images.githubusercontent.com/47098518/121111631-d2ccd200-c

[2021-06-08 03:24] tzssangglass commented on #4384
I'm having some problems, I'll check this when I fix this.

[2021-06-08 03:44] spacewander commented on #4383
Can you send us the
* ca.pem
* server.pem
* server-key.pem
* client.pem
* client-key.pem

So we are able to reproduce it on our side?

[2021-06-08 03:45] spacewander commented on #4383
BTW, what's your etcd version?

[2021-06-08 04:02] whioue commented on #4383
ok, thanks. The etcd version: 3.4.13
ca.pem
-----BEGIN CERTIFICATE-----
MIIDfjCCAmagAwIBAgIUUfd6wRB6JfFctEuVeM1EPOuUoeswDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCQ04xEDAOBgNVBAgTB2JlaWppbmcxCzAJBgNVBAcTAkJK
MRcwFQYDVQQDEw5UT1BBR1cgRXRjZCBDQTAeFw0yMTA2MDExNTI5MDBaFw0yNjA1
MzExNTI5MDBaMEUxCzAJBgNVBAYTAkNOMRAwDgYDVQQIEwdiZWlqaW5nMQswCQYD
VQQHEwJCSjEXMBUGA1UEAxMOVE9QQUdXIEV0Y2QgQ0EwggEiMA0GCSqGSIb3DQEB
AQU

[2021-06-08 06:18] tzssangglass commented on #4370
@spacewander @tokers , I use the certs in https://github.com/apache/apisix/tree/master/t/certs, I get this error when I verify these certificates

[code]

I get the same error `unable to get local issuer certificate` as start apisix,  I think this problem is related to the certificate

[2021-06-08 06:23] tzssangglass commented on #4370
how to do it?

[2021-06-08 08:15] tzssangglass commented on #4370
[code]

it' is ok.

[2021-06-08 08:25] ycrxun opened #4392 "request help: Additional property discovery_args is not allowed"
### Issue description
Request Error Code: 10000
schema validate failed: (root): Must validate one and only one schema (oneOf) (root): type is required (root): Additional property discovery_args is not allowed

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
2.6
* OS (cmd: `uname -a`):
Linux 3.10.0-862.el7.x86_64 #1

[2021-06-08 08:27] shhnwangjian opened #4393 "版本2.6，通过admin api无法识别discovery_args"
版本2.6
场景：使用nacos discovery
通过admin api配置upstream无法识别discovery_args
upstream.lua 源码还没支持这块
返回信息如下：
{"error_msg":"invalid configuration: property \"upstream\" validation failed: additional properties forbidden, found discovery_args"}

[2021-06-08 08:52] spacewander commented on #4393
`discovery_args` is added after v2.6.

[2021-06-08 08:52] #4393 closed

[2021-06-08 08:53] #4392 closed

[2021-06-08 15:00] tylitianrui commented on #4356
@spacewander  why not establish a new standard  of it

[2021-06-08 17:18] oldthreefeng opened #4394 "request help :aliyun dcdn + apisix may cause http_ssl_phase() failed to fetch ssl config: failed to find SNI."
### Issue description
when use aliyun dcdn + apisix。 i found some error logs like .

[code]

at the same time. i have capture the packet on the ecs host. after do some reseacrh of it .but nothing can be found.  this really confused me.
[code]

![image](https://user-images.githubusercontent.com/38313565/121227865-a30fdf80-c8be-11eb-9f18-a4f19ec17665.png)

just like @spacewander says https://github.

[2021-06-08 21:00] hozaifaaoud commented on #4374
I revised the link and I have not found the answer to my question

[2021-06-09 01:00] spacewander commented on #4394
Maybe you can create a support case in aliyun dcdn.

[2021-06-09 01:09] tokers commented on #4384
OK, just ignore my message, I though you're using the official OR.

[2021-06-09 01:11] tokers commented on #4384
@gzhsnail So have you ever tried to access ETCD by `curl` with the same client cert and key?

[2021-06-09 01:21] tokers commented on #4388
@adugeek Actually we considered this plan but the biggest obstacle is we have to do many disk IO operations, especially for the Service endpoints change.

[2021-06-09 01:31] oldthreefeng commented on #4394
1. use dcdn -> apisix.  aliyun dcdn when sni set . apisix occasionally reports errors like http_ssl_phase (may some where requested APISIX-443 port  via IP directly, not sure ).
2. use dcdn -> apisix.  aliyun dcdn when sni not set. apisix 100% reports errors.
3. use dcdn -> waf -> apisix. aliyun dcdn when sni set or not . apisix 100% reports errors.  (casue waf did not support sni)

@spacewander

[2021-06-09 02:07] adugeek commented on #4388
"Endpoints Change" is not a big problem, just provide a k8s discovery.

[2021-06-09 02:40] spacewander commented on #4356
@wanyuetian @tylitianrui @liujin1993
We can extend https://github.com/api7/apisix-mesh-agentto support more discovery sources.
CC @tokers @lingsamuel

[2021-06-09 02:54] whioue commented on #4383
my etcd version is 3.4.13

[2021-06-09 03:15] spacewander commented on #4383
I found this in the etcd's error log:

WARNING: 2021/06/09 11:10:13 grpc: addrConn.createTransport failed to connect to {127.0.0.1:12379  <nil> 0 <nil>}. Err :connection error: desc = "transport: authentication handshake failed: remote error: tls: bad certificate". Reconnecting...

Maybe it relates to https://github.com/etcd-io/etcd/issues/9785 and https://github.com/etcd-io/etcd/issues/9398

[2021-06-09 03:21] whioue commented on #4383
May be related to my certificate error, can you provide a certificate that can be used normally

[2021-06-09 03:36] spacewander commented on #4383
https://github.com/apache/apisix/tree/master/t/certs

You can try the /t/certs/mtls_*

[2021-06-09 04:17] #1538 closed

[2021-06-09 04:18] #1736 closed

[2021-06-09 04:18] #1492 closed

[2021-06-09 04:19] #1703 closed

[2021-06-09 04:19] #1762 closed

[2021-06-09 04:19] #1686 closed

[2021-06-09 05:25] mayocream opened #4396 "request help: lua-resty-ngxvar Nginx module not installed by default."
### Issue description

I noticed lua-resty-ngxvar Nginx module not installed by default.

There seems no docs (in apisix repo or apisix-build-tools) for adding this module when building OpenResty.

### Environment

Install openresty by https://github.com/api7/apisix-build-tools

[code]

* OS (cmd: `uname -a`): Linux opf 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux
* OpenR

[2021-06-09 05:41] leshalv opened #4397 "request help: There is no error log for synchronizing eureka, and no routing or service information is found through the dashboard"

[2021-06-09 08:20] adugeek opened #4399 "stand-alone support read from apisix.json"
As Title:
Only very few yaml generation  lib,
On the contrary, many json generation lib

[2021-06-09 08:53] jxhecong commented on #2720
I have setted 'gzip on;' or 'brotli on;' in bin/apisix.  The problem is that when '{"plugins":{"proxy-rewrite":{"headers":{"Accept-Encoding":""}}}}' is configured, content will not be compressed by apisix.

[2021-06-09 10:56] ieayoio opened #4400 "request help: Can the port be set for http_to_https in the redirect plugin?"
### Issue description
Can the port be set for http_to_https in the redirect plugin?

The default https port of apisix is 9443, but after I set http_to_https to true,
visiting "http://test.com:9080/service/"
will redirect to "https://test.com/service/",
my expected to jump to "https://test.com:9443/service/"

### Environment

* apisix version (cmd: `apisix version`):2.6
* OS (cmd: `uname -a`):`Linu

[2021-06-09 11:04] tokers commented on #4400
@ieayoio Currently we can't, but PR's welcome to extend it.

[2021-06-09 11:06] tokers commented on #2720
It seems that this plugin also change the request headers, not only for upstream.

[2021-06-09 11:08] tokers commented on #4397
@leshalv Please paste some contexts about your problem, like the APISIX version and OpenResty version you're using. Also, Eureka is used to do the service discovery, not route discovery, it shouldn't influence the existing of routes.

[2021-06-09 11:20] tokers commented on #4356
Yep, actually @lingsamuel already works on this, see https://github.com/api7/apisix-mesh-agent/pull/64 for the details.

[2021-06-09 11:23] #3964 closed

[2021-06-09 11:24] tokers commented on #4388
I mean, too frequent endpoints change will make the disk io heavy.

[2021-06-09 12:29] adugeek commented on #4388
I understand your concerns.
But what I mean is that changes in enpoints will be sensed by k8s discvery and written to ngx.shared.DICT. but not to apisix.yaml.
And no disk io

Talk is cheap. Let's look at the code

[code]

[2021-06-09 17:15] #4327 closed

[2021-06-09 23:58] moonming commented on #4397
@leshalv
Please use English in the public channel, thx

[2021-06-10 00:51] tokers commented on #4388
All right, I thought you were going to write all configurations into apisix.yaml. It seems like you want to modify APISIX so that it can communicate with Kube API Server.

So how do we should handle other data? Like Routes and Consumers?

[2021-06-10 01:45] adugeek commented on #4388
For Routes and Services, Upstreams, ...

First: we can deploy CRD, just like any other xController

Then, we can develop a "controller.lua" as apisix plugins.
Its function is list-watch crds then write to apisix.yaml

If "Routes, Services, Upstreams" changes frequently, cause heavy disk io, we can develop a "apisix/core/config_memory.lua",
usually, this is not needed

[2021-06-10 02:37] kanghuli opened #4401 "request help:"
### Issue description
Can wechat communication group be provided？
Do study exchange and question answering。。。

[2021-06-10 02:57] wannianma opened #4402 "bug: ip-restriction blacklist is not work"
### Issue description

i want try use the blacklist to block ip 172.16.20.142, but it's not work.

my ip-restirction setting json below:

[code]

access.log
[code]

reposne body
[code]

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS:Linux T65 3.10.0-1062.el7.x86_64 #1 SMP Wed Aug 7 18:08:02 UTC 2019 x86_64 x86_

[2021-06-10 03:45] flying1pig commented on #487
Organization: VIVO
Location: Shenzhen, China
Contact: qi.du@vivo.com
Scenario: Gateway

组织：VIVO
地址：深圳，中国
联系方式：qi.du@vivo.com
使用场景：网关

[2021-06-10 04:21] kuberxy opened #4403 "request help: apisix是否有类似于nginx proxy_next_upstream的请求重试机制"
### Issue description
我们的系统出现了“消息发送多次”的问题。请问apisix是否会在一些情况下向后端节点发送多次请求？又或者我能否通过一些方法排除是apisix的问题

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
$ apisix version
2.2

* OS (cmd: `uname -a`):
$ uname -a
Linux hz-i-node2 4.15.0-135-generic #139-Ubuntu SMP Mon Jan 18 17:38:24 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

*

[2021-06-10 04:26] smiziara opened #4404 "request help: integration with Nats"
### Issue description

I want to develop a plugin for Apisix, so i can forward http requests to Nats, wait for the response and then write the body and headers to the http response.

The approach would be as following:
1) Apisix receives the http request, perform the authentication and validation (other plug-ins can be used)
2) Then a payload representing this request is sent to Nats messaging, an

[2021-06-10 06:40] #3953 closed

[2021-06-10 06:50] spacewander commented on #4401
WeChat group has a limitation of the number of invitations.

[2021-06-10 06:51] spacewander commented on #4404
Do you mean https://nats.io/?

If it provides HTTP API, we can integrate it via Lua. The keycloak plugin will be an example: https://github.com/apache/apisix/blob/master/apisix/plugins/authz-keycloak.lua

[2021-06-10 07:10] smiziara commented on #4404
Exactly. The ideia would be to use their socket communication, to achieve the best performance, avoiding bridges and any extra http calls.
So I would need to keep a conection alive just like the Kafka plugin, but wait for the Rpc to respond the request.
I dont wanna block anything on apisix pipeline.
What would be the best approach for me to follow?

Thanks!

[2021-06-10 07:40] kanghuli commented on #4401
You can open more wechat groups,
Similar to the development community of swoole，
Thanks~

[2021-06-10 07:55] smiziara commented on #4404
@spacewander actually Nats now supports websocket too, but i would need to perform a transcoding just like the gRpc, because the incoming would be a http request.
So its about the same, major difference is that i wouldn't need to import a nats client sdk.

[2021-06-10 09:14] spacewander commented on #4404
OpenResty's network operation is non-blocking. But there is no gRPC implementation in the Lua world.

[2021-06-10 09:44] tokers commented on #4403
@kuberxy You can try to disable the retry, see http://apisix.apache.org/docs/apisix/admin-api#upstream for details.

[2021-06-10 09:50] tokers commented on #4388
Well, this way might be clean and native if we implement the controller by Lua, but not a good idea from the ecosystem incorporation. We cannot enjoy the convenience of Kubernetes-related tools, packages, and even their community members.

cc @tao12345666333

[2021-06-10 09:54] tokers commented on #4402
@wannianma The access.log you pasted cannot prove where you sent this request, you may try to add $remote_addr to access.log and see the remote_addr value from APISIX's point of view.

[2021-06-10 09:56] zuiyangqingzhou opened #4408 "request help: Multi-version control of configuration"
### Issue description
Does apisix support multi-version control of configuration?
Assuming that we must have a problem with the configuration of a certain version, we want to quickly roll back to the configuration of a previous version instead of re-configuration

[2021-06-10 10:04] wannianma commented on #4402
I hava found the reason, i do not reset the plugins in the conf/config.ymal.

[2021-06-10 10:04] #4402 closed

[2021-06-10 11:36] gewei2000 opened #4410 "request help: how to config browser cache in apisix:2.6"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.6
* OS (cmd: `uname -a`):centos 7.5
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version

[2021-06-10 11:45] tokers commented on #4410
@gewei2000 You may try to add some headers like Cache-Control and Pragma.

[2021-06-10 12:54] spacewander commented on #4408
You can get a previous revision of etcd's data and write it back to the etcd.

[2021-06-10 13:06] #4382 closed

[2021-06-10 15:02] zuiyangqingzhou commented on #4408
I know what you mean.
I mean, does apisix have a higher level of abstraction based on etcd for version control? Or is there any plan for this in the future?
Because it is currently not very convenient to rely entirely on etcd for visual version management of configuration

[2021-06-10 15:49] tzssangglass commented on #4399
I think yaml is used more because it is positioned as a configuration file, especially in cloud-native scenarios.
by the way, is there a suitable lua-resty-* library for reading the json file?

[2021-06-11 00:44] spacewander commented on #4408
No yet.

[2021-06-11 00:47] tokers commented on #4408
@zuiyangqingzhou It can be a feature of apisix-dashboard. If you will, welcome to submit a proposal to the mailing list dev@apisix.apache.org, let's have a discussion there.

[2021-06-11 01:36] eavesmy opened #4411 "request help: upstream timed out (110: Connection timed out) while reading response header from upstream"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5

我们布置了两套服务，一套线上一套测试，都使用相同配置。
测试服务一直正常，线上服务却经常报错：
[code]
apisix 配置中 keepalive 时间为 60s。
请问应该怎么处理这个问题？

[2021-06-11 01:55] spacewander commented on #4411
The error message shows the upstream doesn't respond in time. Need to investigate the upstream of the online environment.

[2021-06-11 02:01] ChinaSilence commented on #4234
same issue

[2021-06-11 02:51] misterchen opened #4412 "request help: How to set route uri matching to be case-insensitive"
### Issue description

Is there a way to set route uri matching to be case-insensitive?

Example :
URI maching : /sampleweb/*

Expect :
/sampleweb/    ->   success
/SampleWeb/   ->   success
/Sampleweb/    ->   success

Test :
[code]

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.5
* OpenResty / Nginx version (

[2021-06-11 02:54] ChinaSilence commented on #4234
Please open this issue, because there is no problem in spring cloud gateway with same nginx config.

Maybe it's Apisix's bug .

[2021-06-11 03:50] spacewander commented on #4412
You can write your own router, convert input uris to lowercase, like this one: https://github.com/apache/apisix/blob/master/apisix/http/router/radixtree_uri_with_parameter.lua

PR is welcome!

[2021-06-11 03:53] leshalv commented on #4397
apache/apisix:2.5-alpine
apache/apisix-dashboard:2.6.1

[2021-06-11 05:41] azura27 opened #4413 "bug: etcd cluster setting,one node down,cannot connect to other healthy one"
### Issue description

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* lu

[2021-06-11 05:42] #4413 closed

[2021-06-11 05:49] azura27 opened #4414 "bug: etcd cluster setting,one node down,cannot connect to other healthy one"
### Issue description
config etcd with following setting:
etcd:
  host:
    - "http://10.10.10.1:2379"
    - "http://10.10.10.2:2379"
### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):2.0
* OS (cmd: `uname -a`): 3.10.0-693.21.1.el7.x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.17.8.

[2021-06-11 05:55] xujiesh0510 commented on #4234
我这没有权限重新打开 issue呢，@ChinaSilence 你重新建一个issue吧。 我目前是没采用 帖子里面的 两层代理

[2021-06-11 06:50] zuiyangqingzhou commented on #4408
@tokers  Okay, I believe it's not just me who has such a demand.
If this can become a new feature of dashboard, I believe that apisix will become more and more competitive in the market.
In addition, is there a template when submit a proposal?

[2021-06-11 07:09] misterchen commented on #4412
Thank you for your response
I have no development experience with Lua
Currently, I will try other methods to solve it

Looking forward to your feature updates 👍

[2021-06-11 08:19] tzssangglass commented on #4370
@xyz2b hi, you are right!  the `lua_ssl_trusted_certificate` should be in the http configuration block, feel free to submit a PR to fix this!

[2021-06-11 09:30] spacewander commented on #4414
@Yiyiyimu
Will https://github.com/apache/apisix/pull/4191 solve the problem?

[2021-06-11 09:36] Caelebs commented on #195
svg format logo get √

[2021-06-11 09:51] #4396 closed

[2021-06-11 10:06] xuchmao opened #4416 "request help: upload apisix latest version to luarocks"
### Issue description

The latest version of apisix in luarocks is [2.4](https://luarocks.org/modules/apisix/apisix) and it is behind the github. Need to upload the latest version 2.6 to luarocks.

### Environment

* luarocks 3.7.0

[2021-06-11 10:12] tokers commented on #4399
@adugeek Does lua-tinyyaml meet your demand?

[2021-06-11 10:14] tokers commented on #4408
We don't have a solid template for submitting a proposal, just describing the background, the design, and the benefits that we can get if we implement it.

[2021-06-11 10:35] adugeek commented on #4399
tinyyaml  can decode yaml string , but cant't encode yaml string .

[2021-06-11 10:43] xyz2b opened #4417 "request help: http-logger plugin log_format `$host` value is wrong"
### Issue description
request help: http-logger plugin log_format `$host` value is wrong.
The `$host` should be the host requested by the client, but the local address of apisix obtained in http-logger.

http-logger log_format config
[code]

elk log
[code]

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6
* OS (

[2021-06-11 14:59] Yiyiyimu commented on #4414
Yes. Would work on it today

[2021-06-11 15:14] Yiyiyimu commented on #4416
Hi @xuchmao as you could find in #4170, we don't recommend installing apisix from luarocks anymore.

[2021-06-11 15:14] #4416 closed

[2021-06-11 19:49] Yiyiyimu commented on #4417
Thanks for the report @xyz2b!

[2021-06-12 01:35] xyz2b commented on #4417
Hello, @Yiyiyimu. I saw that the pr you submitted is the host of the node that gets the upstream. But configure `$host` in the ngx log to get the host in the client request header field

[2021-06-12 01:53] Yiyiyimu commented on #4417
Ah I see, would fix it later. Thanks for remind @xyz2b

[2021-06-12 07:34] YangHuiFor opened #4420 "request help: failed to set upstream: discovery nacos is uninitialized"
### Issue description
本地使用的apisix 2.6版本， 项配置下使用nacos服务发现。 搜索了之前的Issue没发现有类似的问题

curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -i -d '
{
    "uri": "/v1/*",
    "upstream": {
        "service_name": "APISIX-NACOS",
        "type": "roundrobin",
        "discovery_type": "nacos"
    }
}'

请求无法通过，提示
2021/06/12 07:26:50 [error] 47#47: *213366

[2021-06-12 15:35] Yiyiyimu commented on #4420
Hi @YangHuiFor have you configured nacos in apisix config correctly? Could you show `config.yaml` and how you set up nacos

[2021-06-12 15:58] Yiyiyimu commented on #4417
If that's expected, then currently it will show the host specified in the header in my local test. If no host is specified, then it would be the local address of apisix

[2021-06-13 04:44] YangHuiFor commented on #4420
hi @Yiyiyimu

this my `config.yaml`
![image](https://user-images.githubusercontent.com/4995476/121795610-e8c50300-cc44-11eb-8d28-189ba40aa7c5.png)

this my nacos
![image](https://user-images.githubusercontent.com/4995476/121795627-04c8a480-cc45-11eb-955e-352261afc28d.png)

[2021-06-13 05:53] #4394 closed

[2021-06-13 05:54] #4323 closed

[2021-06-13 05:54] #4351 closed

[2021-06-13 05:54] spacewander commented on #4306
Done

[2021-06-13 05:54] #4306 closed

[2021-06-13 05:56] spacewander commented on #4366
Closed as lack of response.

[2021-06-13 05:56] #4366 closed

[2021-06-13 05:58] spacewander commented on #4128
Closed as lack of response.

[2021-06-13 05:58] #4128 closed

[2021-06-13 06:00] spacewander commented on #4022
Closed as lack of response.

[2021-06-13 06:00] #4022 closed

[2021-06-13 09:44] tokers commented on #4420
@YangHuiFor It looks like the nacos client in APISIX was not initialized correctly, you may need to look through the error.log and found some clues about this (check out the reload/start/restart timing).

[2021-06-13 09:47] tokers commented on #4399
@adugeek What is the scenario that you'll face? Why we need to encode the configuration?

[2021-06-13 11:30] adugeek commented on #4388
I had commit this implement.
link is [https://github.com/adugeek/ApisixController](url)
@tokers

[2021-06-13 20:17] forgaoqiang opened #4421 "request help: key auth plugin didn't support get key from querystring"
### Issue description
I think it's a basic demand that the apikey should be check from HTTP header or HTTP Querystring, could you guys add that feature, It's very convenient to support both HTTP header and query string

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx vers

[2021-06-14 02:53] YangHuiFor commented on #4420
@tokers
 error.log
2021/06/14 02:50:49 [error] 46#46: *2725467 [lua] init.lua:470: http_access_phase(): failed to set upstream: discovery nacos is uninitialized, client: 172.20.0.1, server: _, request: "GET /v1/t HTTP/1.1", host: "127.0.0.1:9080"

[2021-06-14 04:51] xyz2b commented on #4417
The ngx log should show the host field in the request header from the client of apisix.
In my environment, although there is a host field in the request header of the client, the host in the log pushed by http-logger is indeed the local address of apisix.

[2021-06-14 07:31] tokers commented on #4388
@adugeek Wow, what a good masterpiece! Are you using it in your production now?

[2021-06-14 07:35] tokers commented on #4417
@xyz2b
This is the description of `$host` (quoted from nginx document):

You should check whether there are some requests which use the full URI in the request line, or, the Host header itself is the IP address of APISIX instance.

[2021-06-14 07:37] tokers commented on #4420
Well, I mean are there any log messages that can tell us the reason what the discovery nacos can not be initialized?

[2021-06-14 07:38] tokers commented on #4421
@forgaoqiang PR's welcome to support it!

[2021-06-14 09:14] adugeek commented on #4388
Not yet, under testing now.

[2021-06-14 13:58] xyz2b commented on #4417
@tokers Hello.
If the Host header of the client request is the local address of APISIX, how can APISIX route to the correct upstream service? Isn't APISIX based on Host to determine which routing rule to follow?

[2021-06-14 14:05] tokers commented on #4417
I cannot answer this question, you even didn't paste the related route.

[2021-06-14 14:33] xyz2b commented on #4417
client request
![企业微信截图_16236806921969](https://user-images.githubusercontent.com/48942966/121909437-7a756300-cd60-11eb-9d24-6c024219b956.png)

apisix route config
[code]

apisix upstream config
[code]

apisix access log in local file
[code]

apisix access log in elastic
[code]

[2021-06-14 14:35] xyz2b commented on #4417
@tokers
The host of the log in the local log file is not the local address of apisix, is the domain name requested by the client.
But the host field reported by http-logger to elastic is indeed the local address of apisix.

[2021-06-14 15:24] xyz2b commented on #4417
I found the problem, it's a logstash problem, sorry, thank you all. @tokers @Yiyiyimu

[2021-06-14 16:06] #4417 closed

[2021-06-15 03:32] diaosj opened #4422 "request help: Does APISIX support Redis Sentinel?"
### Issue description

Does APISIX support Redis Sentinel? Do I need a special Lua package to use it?

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): 2.6
* OS (cmd: `uname -a`): Linux 3.10.0-1160.11.1.el7.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if

[2021-06-15 05:16] spacewander commented on #4422
The Redis client can talk with the sentinel. We can extend the current implementation to do it: https://redis.io/topics/sentinel#obtaining-the-address-of-the-current-master

[2021-06-15 06:46] riskgod opened #4425 "request help: router count"
hey, does APISIX support count how many times for router in each 5mins or 15mins ?

[2021-06-15 08:02] #4206 closed

[2021-06-15 08:30] spacewander commented on #4425
See https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/prometheus.md#available-metrics, the apisix_http_status counter.

[2021-06-15 08:33] spacewander commented on #3857
Consider solved

[2021-06-15 08:33] #3857 closed

[2021-06-15 08:35] spacewander commented on #3592
Now markdown-link-check is removed.

[2021-06-15 08:35] #3592 closed

[2021-06-16 01:58] tzssangglass commented on #4422
or you can use this library https://github.com/ledgetech/lua-resty-redis-connector

[2021-06-16 02:12] belongwqz opened #4428 "ip-restriction plugin support DIY message"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

ip-restriction plugin support DIY message

## Describe the solution you'd like

current message is a hard code: Your IP address is not allowed.
if we can DIY, it should be better.

[2021-06-16 02:15] tokers commented on #4428
@belongwqz PR's welcome. BTW, it's not a doc-related issue.

[2021-06-16 04:34] tzssangglass opened #4430 "broken link in external-plugin.md"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

the link of `external-plugin.png` in https://github.com/apache/apisix/blob/68711e443dbeae90a6171d000506f3ee2041b2b3/docs/en/latest/external-plugin.md#how-does-it-work is broken

looks like
![image](https://user-images.githubusercontent.com/30819887/122158359-1dcc9200-ce9f-11eb-840f-a29fb47073b2.png)

A clear an

[2021-06-16 11:46] azura27 commented on #4414
Thank you, we will test later

[2021-06-16 19:25] Yiyiyimu commented on #4414
Sorry @azura27 I haven't finished #4191, need several more days on it

[2021-06-17 02:02] Yiyiyimu opened #4437 "test not stable: t/chaos/kill-etcd"
### Issue description

https://github.com/apache/apisix/pull/4436/checks?check_run_id=2844856100
[code]

### Environment

Bug report without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`): master

[2021-06-17 06:33] yongboy commented on #4323
If you have more than 1000 services to manage, and if you want to organize them by some logic order, choosing Key/Value form of service discovery would be a good idea.

Sorry for replying later :))

[2021-06-17 07:08] Marco-Zheng opened #4439 "bug: confusing result for traffic split plugin 灰度插件的结果混乱"
### Issue description
我在traffic split中添加了如下代码，为了从header中获取版本参数_v
![image](https://user-images.githubusercontent.com/52538259/122347050-3494e680-cf7c-11eb-8c61-8bd0f286a7e3.png)
配置了两个上游
![image](https://user-images.githubusercontent.com/52538259/122347106-44acc600-cf7c-11eb-96e1-ef8812dcb42a.png)
服务的插件配置如下
[code]
然后访问服务header带上_v=2.0.0
Tips：这里说明下，我的upstream分别是两个版本2.0.0和3.0.0
2.0.0是老版本的代码，返回值的data为版

[2021-06-17 07:27] Marco-Zheng commented on #4439
按照我刚刚的想法，我在如下代码处添加了日志，打印ctx.matched_route.value.upstream_id
![image](https://user-images.githubusercontent.com/52538259/122350899-35c81280-cf80-11eb-8f52-bc7bc5a92cea.png)
可以发现结果如下，第一次的upstreamId=1144055930是对的，为版本2.0.0的upstreamId
第二次的upstreamId=1144979451也是对的，为版本3.0.0的upstreamId
但是第三次，我是用_v=2.0.0去访问的，upstreamId应该为1144055930而不应该为1144979451，因此怀疑该upstream_id被重写之后再也没有换回来，下次请求，还是用的旧的upstream_id，这样会导致一些

[2021-06-17 07:55] tzssangglass commented on #4439
maybe this PR #3842 can solve it, and you can upgrade the apisix version

[2021-06-17 08:59] Yullin commented on #3843
So why not support multiple ip addresses or like "192.168.0.0/16"?

[2021-06-17 09:15] Yullin opened #4440 "request help: stream route's "remote_addr" parameter support multiple ip addresses or like "192.168.0.0/16"
### Issue description

### Environment

Request help without environment information will be ignored or closed.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
*