[2022-05-08 13:30] spacewander commented on #7005
It is possible to use session ID with OpenResty, like the https://github.com/openresty/lua-nginx-module#ssl_session_fetch_by_lua_block. But as the session ticket is the modern way (TLS 1.3 only uses session tickets to resume a session), I don't want to add session ID reuse across instances feature in APISIX.

[2022-05-09 01:15] nic-chen commented on #6996
Thanks for the suggestion.

[2022-05-09 05:44] prajith-nair opened #7008 "request help: APISIX cannot resolve hostname as etcd endpoint in docker"
### Current Behavior

**apisix_conf/config.yaml**
[code]

**etcd.conf.yml** :

[code]

**docker-compose.yml**

[code]

I can ping etcd container from other containers in same docker network.

/usr/local/apisix-dashboard # ping labindia01_etcd
PING labindia01_etcd (10.0.32.21): 56 data bytes
64 bytes from 10.0.32.21: seq=0 ttl=64 time=0.106 ms
64 bytes from 10.0.32.21: seq=1 ttl=64 time=0.086 ms
64

[2022-05-09 06:25] #6990 closed

[2022-05-09 06:25] #6992 closed

[2022-05-09 07:00] fatihbm commented on #6676
I understand from all this that there is a better solution proposal, but its implementation needs a costly development.  So until this is done, what is your thinking about the current Redis solution? Doing this just for this plugin can be a quick win?

[2022-05-09 07:31] nfrankel commented on #6676
@fatihbm Yes, it can be a quick win. And the next time we are faced with the same problem, we can also have a quick win. And then every time, we can favor short-term gains over long-term ones. Then, it will make the move to the Storage abstraction even more expensive as we will have to migrate all existing plugins to the new architecture. Hence, we will never do it.

The sooner we introduce the St

[2022-05-09 09:21] tokers commented on #7008
Have you ever signed in to the APISIX container and cat the `/etc/hosts`? You can edit the ETCD address to the IP address in APISIX `config.yaml` so that this container can run normally.

[2022-05-09 09:56] dchasel opened #7010 "help request: can i use java-plugin-runner to implement proxy_rewrite function"
### Description

i found apisix is a very powerfull proxy and wan't to use it, but lua is tough to our developers, so i degisn to use java-plugin-runner to implement proxy logic, but i found there is no entry for us to modify `upstream_host` in HttpRequest.

is it possible to provide host rewrite in plugin-runner for developer to set dynamic upstrem_host ?

### Environment

- APISIX version (run `

[2022-05-09 09:58] prajith-nair commented on #7008
When we provide etcd container IP via config.yaml it does work as expected. However, we want it to be working with hostname supplied via config.yaml

Below logs are after we edited config.yaml and supplied etcd container IP

[code]
/usr/local/apisix-dashboard # ping labindia01_etcd
PING labindia01_etcd (10.0.32.212): 56 data bytes
64 bytes from 10.0.32.212: seq=0 ttl=64 time=0.223 ms
64 bytes from

[2022-05-09 09:59] crazyMonkey1995 opened #7011 "bug: redirect http to https but port not change"
### Current Behavior

Recently, I upgraded apisix with the latest code, and found that there was an error in converting http to https. When redirecting, I always bring a port 80. It should be caused by this change：https://github.com/apache/apisix/pull/6686/files#r867816800

Maybe `set $var_x_forwarded_port $server_port;` in ngx_tpl.lua conflicts with `local ret_port = tonumber(ctx.var["var_x_forwa

[2022-05-09 10:41] ty793941 commented on #4162
I have solved this problem。**Please look at here!**

### Error Info:
`2022/05/08 14:24:31 [error] 47#47: *6887749 upstream sent too big header while reading response header from upstream, client: xxx.xxx.xxx.xxx, server: _, request: "POST /signin-oidc HTTP/1.1", upstream: "http://xx.xx.xxx.xxxx:xxxx/signin-oidc", host: "xs.xxxxxxx.com:9080"`

 The problem I have is that the response size is 5kb,bi

[2022-05-09 12:31] kwanhur commented on #7011
Yep, it's a big problem :-(

[2022-05-09 13:49] tzssangglass commented on #7011
as: https://github.com/apache/apisix/pull/6686/files#r868034475

[2022-05-09 14:04] tzssangglass commented on #7008
hi @prajith-nair I think you can ref: https://github.com/qwxingzhe/apisix-docker-compose/pull/2 to solve your problem

[2022-05-09 14:05] kwanhur commented on #7005
Now APISIX support reuse SSL session cache locally by default.

https://github.com/apache/apisix/blob/1b5c1900da517bb7d34d4b221aace7242345e78a/apisix/cli/ngx_tpl.lua#L557-L561

[2022-05-09 14:08] tzssangglass commented on #7008
domain name resolution with ping is different from that with APISIX.

[2022-05-09 14:30] prajith-nair commented on #7008
@tzssangglass  - The changes suggested in https://github.com/qwxingzhe/apisix-docker-compose/pull/2/commits/355212182e0e334a8e51cd483819134e6a284c27 is already part of my configuration. Would you like to deploy using the docker-compose.yml file shared by me and give it a try.

Please be advised my setup uses overlay network as opposed to driver: bridge the one in https://github.com/qwxingzhe/apisi

[2022-05-10 01:05] kwanhur commented on #6962
if install apisix manually, you can find `lua-resty-openssl` indirectly pulling.
[code]

[code]

[2022-05-10 01:17] tokers commented on #7011
@tzssangglass What if the client doesn't carry `X-Forwarded-For` header and APISIX listening on non-443 ports for HTTPS (say `9443`)?

[2022-05-10 01:43] tokers opened #7012 "docs: add more comments about discovery in config-default.yaml"
### Current State

We only have the configuration snippet in the comments for `dns` and `erueka` discovery types. See https://github.com/apache/apisix/blob/master/conf/config-default.yaml for the details.

### Desired State

But indeed we support more. We need to show all the configuration snippets there. It's friendly for users who want to configure the corresponding service discovery type.

Miss

[2022-05-10 02:16] tzssangglass commented on #7011
In this case the user needs to make the request headers carry `X-Forwarded-Port`, which is also in line with the docs that describes:

When enabling `http_to_https`, the port in the redirect URL will be the value of header `X-Forwarded-Port` or the port of the server.

Just an idea.

[2022-05-10 02:19] tzssangglass commented on #7008
Unfortunately, I don't have enough machines to support building a docker overlay network.

@leslie-tsang Can you help with this?

[2022-05-10 02:57] Jon-Gaara commented on #6962
I installed apisix manually, apisix-master-0.rockspec not included lua-resty-openssl

[2022-05-10 03:09] kwanhur commented on #6962
You can find it in `LUA_PATH` of `luarocks path`.

[2022-05-10 03:58] spacewander commented on #7005
Yes. But investing more resources in an outdated solution is not acceptable.

[2022-05-10 04:04] spacewander commented on #7012
Duplicate of #6969

[2022-05-10 04:04] #7012 closed

[2022-05-10 05:42] #6923 closed

[2022-05-10 09:11] tokers commented on #7011
That's not so generic. APISIX should have a generic solution. Such as we can prepare the HTTPS port through the `config.yaml`.

[2022-05-10 09:38] tzssangglass commented on #7011
I agree with this way

[2022-05-10 10:01] cloorc commented on #5654
Then, why should APISIX decode the encoded-paramters instead of keeping it as origin?
APISIX can decode whatever it needed but please pass the original parameters to the backend finally. This is enough. APISIX can just put the original query parameters into somewhere else and get it back before passing them to the backend services.

[2022-05-10 10:03] cloorc commented on #5654
In my circumastance, I have to setup a `nginx-ingress` service to handle this kind of requests. This is embarrassed to APISIX.

[2022-05-10 10:51] kwanhur commented on #7011
It means place one initial variable in `config.yaml` and then fetch the custom value from XFF?

[2022-05-10 11:05] kwanhur commented on #7005
Noop, it's not an outdated solution, it's an effective solution for TLS1.2 and below.
Although TLS1.3 supports by [a big amount of browsers](https://caniuse.com/?search=TLS1.3), but TLS1.2 still will be present along with TLS1.3 for decades.

And now enable TLS1.2 by default, unless it has a plan to EOS(end of service) it recently.

https://github.com/apache/apisix/blob/ab7a7675d2a1abb1f0299a8fd44

[2022-05-10 11:17] Keyruu opened #7017 "help request: openid-connect plugin: get userinfo in frontend"
### Description

I already talked about the issue I am facing in Slack.
My use case is:
I have a website, a frontend. This website needs to have the redirect to the OIDC provider. I want to do this with APISIX.
The website has a session cookie with the session id of APISIX. This cookie doesn’t have any info on the user, as far as I know.
How would I get the user info, like the username in the webs

[2022-05-10 11:22] washCutBlow opened #7018 "help request: The gateway is forwarding websockets to upstream and I find this latency particularly high, does anyone know the configuration that should be optimized there?"
<img width="902" alt="image" src="https://user-images.githubusercontent.com/26592450/167617630-ec443d64-96e1-43bd-a51b-deb721d5e614.png">

[2022-05-10 12:03] GhangZh opened #7019 "help request: How to make it possible for some source ip to access only some open apis"
### Description

How to make it possible for some source ip to access only some open api's and disable access to the rest of the api's in the cluster via apisix.
![image](https://user-images.githubusercontent.com/92301646/167623932-9c02008c-40a9-4d03-9045-d7018277a219.png)

### Environment

- APISIX version (run `apisix version`):2.13
- Operating system (run `uname -a`): Linux
- OpenResty / Nginx

[2022-05-10 12:49] zuiyangqingzhou opened #7020 "help request: Does apisix support stream replay"
### Description

I want to do stream replay at apisix , can someone offer some ideas?

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard version, if relevant:
- Plugin runner version, for issue

[2022-05-10 13:26] Keyruu commented on #7017
Okay so the problem is: If I set "Set-Cookie" in response-rewrite, it removes the other Set-Cookie Headers that were already there. I would like to add another Set-Cookie Header in there tho. Is this possbile?

[2022-05-10 14:36] Keyruu commented on #7017
I got it working. I used a serverless function and added the userinfo in a cookie:
`"serverless-post-function": {
      "disable": false,
      "functions": [
        "return function(conf, ctx) local core = require(\"apisix.core\"); if core.request.header(ctx, \"X-Userinfo\") then\n core.response.add_header(\"Set-Cookie\", \"userinfo=\" .. core.request.header(ctx, \"X-Userinfo\") .. \";\")\n end;

[2022-05-10 14:36] #7017 closed

[2022-05-11 00:59] tokers commented on #7011
Yes. But we can have a custom logic that just get the HTTPS port from the `config.yaml`.

[code]

[2022-05-11 01:39] tzssangglass commented on #7020
I don't remember APISIX having the ability to replay? I see that there are tools specifically designed to do replay.

[2022-05-11 01:41] tzssangglass commented on #7018
It is difficult to see any problems from a picture, you need to give the full reproduction of the steps.

[2022-05-11 02:18] moonming commented on #7020
@zuiyangqingzhou can you give an example for stream replay?

[2022-05-11 03:27] GhangZh commented on #7019
I've seen this but to meet my needs I need to blacklist the banned api's, the cost is too high as whitelist ones are in the minority

[2022-05-11 03:56] spacewander commented on #7005
Why not invest in SSL session ticket directly which is both supported in TLS 1.3 and TLS 1.2?

It is very bad to invest in a outdated solution!!!

[2022-05-11 03:56] #7005 closed

[2022-05-11 03:57] spacewander commented on #7005
Considered unacceptable,

[2022-05-11 05:08] #6406 closed

[2022-05-11 05:21] spacewander commented on #5654
@cloorc
It is unfriendly and unwise to say these unpleasant things to the maintainers. This will make the maintainers determine to never support it.
You can add an option to https://github.com/apache/apisix/blob/bf3e23274b6f4a1d67d45da9901e928a0784e570/apisix/plugins/proxy-rewrite.lua#L182 and bypass the encoding. But make sure the rewrite will not introduce unsafe char.

[2022-05-11 05:34] kwanhur commented on #7011
If the https redirect port from config.yaml, seems update it has to restart apisix manually? like changing 443 to 8443.

Why not from plugin's attribute? It can be updated automatically.

[2022-05-11 05:36] zuiyangqingzhou commented on #7020
At present, we use apisix as the traffic entrance for the entire business, we want to be able to record all or specified requests in real time, and when the online business fails, we can play back the real requests based on these offline files.

We learned that something like tcpcopy and goreplay can do something similar, but we wondered how we could do it in apisix

[2022-05-11 05:36] zuiyangqingzhou commented on #7020
At present, we use apisix as the traffic entrance for the entire business, we want to be able to record all or specified requests in real time, and when the online business fails, we can play back the real requests based on these offline files.

We learned that something like tcpcopy and goreplay can do something similar, but we wondered how we could do it in apisix       @moonming

[2022-05-11 06:33] spacewander opened #7025 "bug: grpc-transcode's pb_option is set on the proto level"
### Current Behavior

The `pb.option` method in lua-protobuf is set on the pb_State object, which is mapped from the proto object in APISIX. Therefore, setting the option will affect other routes which share the same proto.

Setting the option globally won't affect grpc-transcode as each proto has its own pb_State.

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to

[2022-05-11 09:04] sweetpotatoman opened #7026 "help request: Set upstream discovery kubernetes type not work."
### Description

### Set upstream discovery kubernetes type not work
We installed apisix using the helm method.

- apisix - config.yaml
[code]

- upstream - config

[code]

- route - config
[code]

- kubernetes - endpoints
<img width="805" alt="2" src="https://user-images.githubusercontent.com/30063721/167811756-b1dc1723-248c-4513-b573-a28b3ab223ec.png">

- apisix - log
[code]

When the log return

[2022-05-11 10:22] #4210 closed

[2022-05-11 10:24] yunwei37 commented on #5966
Hi there! Can I take this issue to improve the Benchmark page?

[2022-05-11 10:39] laughingyear commented on #5966
Alright

发自我的iPhone

------------------ Original ------------------
From: 云微 ***@***.***&gt;
Date: Wed,May 11,2022 6:24 PM
To: apache/apisix ***@***.***&gt;
Cc: laughingyear ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/apisix] doc: benchmark results is not so good,what is the problem,help (Issue #5966)

Hi there! Can I take this issue to improve the Benchmark page?

—
Reply to thi

[2022-05-11 10:55] tzssangglass commented on #5966
Of course you can, but it's best to say what you intend to do first.

[2022-05-11 10:58] tzssangglass commented on #7018
upstream_latency: time consumed by upstream services to process requests

But I'm not sure if this metric is meaningful in the context of the websocket protocol.

[2022-05-11 13:32] Canonical10 commented on #5247
✅

[2022-05-11 13:47] Canonical10 commented on #5247
✅

[2022-05-11 13:50] Canonical10 commented on #6672
💯✅

[2022-05-11 13:52] yunwei37 commented on #5966
@tzssangglass Thank you! I'd like to do following things:

1. As described above: https://github.com/apache/apisix/issues/5966#issuecomment-1006105454,  I need to add @membphis's comment to the Benchmark page;
2. It seems currently we have both English version and Chinese version doc about benchmark:
    - https://github.com/apache/apisix/blob/master/docs/en/latest/benchmark.md
    - https://githu

[2022-05-12 01:11] tokers commented on #7018
+1. WebSocket connection is long-live, the latency doesn't represent anything at all.

[2022-05-12 01:21] tzssangglass commented on #5966
I don't think it's necessary, it's not about benchmark. If you wish, you can use a separate PR to interpret the flamegraph and analyse the benchmark results through the flamegraph.

[2022-05-12 02:02] juzhiyuan commented on #6912
I would prefer keeping this column because it's much more straightforward :)

[2022-05-12 02:05] tzssangglass commented on #7019
If you want to do that: allow only certain specifics IP's to access certain specific APIs, there is currently no plugin that fully satisfies this functionality.
In fact, I think this scenario is more like fine-grained access control.

[2022-05-12 02:17] tzssangglass commented on #7026
Are there any other error logs?
Or you can adjust the log level to debug to get more logs.

This is usually the case when APISIX is unable to query a valid message from k8s.

[2022-05-12 03:17] zhangyihong commented on #6419
I have the same problem. How to fix it?

apisix:  apache/apisix:2.13.1-alpine
etcd: bitnami/etcd:3.4.18-debian-10-r14

[2022-05-12 03:43] sweetpotatoman commented on #7026
the log level is `debug` in now.
[code]

log message
[code]

[2022-05-12 05:47] zhixiongdu027 commented on #7026
Log message shows that Kubernetes Discovery did not get "testnet/explorer-reader" endpoints value from k8s

Can you provide the ServiceAccount information used by the pod where apisix is located?
We need to make sure this ServiceAccount has the permission of ListWatch Endpoints

[2022-05-12 05:58] sweetpotatoman commented on #7026
yes, i know kubernetes discovery did not get "testnet/explorer-reader" endpoints value from k8s.

my understanding is that apisix is deployed in k8s.

configured:
[code]

I really didn't verity sa, i try it.

[2022-05-12 06:29] zzq926083010 opened #7034 "help request: failed to install CRD crds/customresourcedefinitions.yaml"
### Description

执行：helm install apisix-ingress-controller apisix/apisix-ingress-controller --namespace apisix  --set config.apisix.serviceName=apisix-dashboard --set ingress-controller.enabled=true --set config.apisix.serviceNamespace=apisix --set config.apisix.servicePort=9080 --set config.logLevel=warn --set config.apisix.adminKey=edd1c9f034335f136f87ad84b625c8f1

报错：Error: INSTALLATION FAILED:

[2022-05-12 06:29] zzq926083010 commented on #7034
我的k8s版本是1.14.10

[2022-05-12 06:34] sweetpotatoman commented on #7026
[code]

Not working.

[2022-05-12 06:55] zhixiongdu027 commented on #7026
Did you see any other logs printed by Kubernetes Discovery,
In the debug log mode, kubernetes discovery will print the endpoins information every time it listens

https://github.com/apache/apisix/blob/935e62f225c399d1ed9b819e19375c3eb5338461/apisix/discovery/kubernetes/init.lua#L59

https://github.com/apache/apisix/blob/935e62f225c399d1ed9b819e19375c3eb5338461/apisix/discovery/kubernetes/init.lua#

[2022-05-12 08:47] GhangZh commented on #7019
Yes, it is actually fine-grained access control. do you have any idea

[2022-05-12 09:43] tokers commented on #6419
I think it's better to ask for advice from the ETCD community.

[2022-05-12 09:45] tokers commented on #7019
So what's the relationship between your APIs and the APISIX Routes? 1:1 or N:1?

If it's 1:1, how about put the `ip-restriction` plugin on these specific Routes.

[2022-05-12 09:57] GhangZh commented on #7019
N:1

[2022-05-12 11:47] tzssangglass commented on #7019
The current plugins in APISIX do not yet express this relationship. I didn't think of any good way to do it. I guess you could try the suggestions above.

[2022-05-12 16:11] membphis opened #7037 "ci: unstable, random failures"
### Current Behavior

<img width="906" alt="image" src="https://user-images.githubusercontent.com/6814606/168120331-2115e536-1528-4f52-9d2a-4a879276232d.png">

https://github.com/apache/apisix/runs/6407618978?check_suite_focus=true

### Expected Behavior

find the reason, it maybe a bug of code or test case

### Error Logs

_No response_

### Steps to Reproduce

https://github.com/apache/apisix/ru

[2022-05-13 00:48] tokers commented on #7019
Then you have to do some development jobs to adjust your model.

[2022-05-13 02:29] sweetpotatoman commented on #7026
Debug mode is turn on, but two lines not show

[2022-05-13 03:44] tcwloy opened #7039 "help request: some error log when i use skywalking plugin"
### Description

<img width="1502" alt="image" src="https://user-images.githubusercontent.com/12730602/168206534-af16b34b-50a9-4e3d-b1f3-d10d903e7786.png">

After the skywalking plug-in is enabled, many errors appear in the log. The IP and port of the collector are open. I need help to analyze it

<img width="479" alt="image" src="https://user-images.githubusercontent.com/12730602/168207252-b32698

[2022-05-13 03:53] soulbird commented on #7039
From the log, it was skywalking collector that closed the connection. I think you should check if your skywalking collector is working and make sure you have configured the correct endpoint_addr.

[2022-05-13 04:50] tcwloy commented on #7039
i resolved this problem. Because it is carelessly set as grpc port, you should use HTTP port

[2022-05-13 04:50] #7039 closed

[2022-05-13 06:14] moonming commented on #7020
@zuiyangqingzhou thanks for your explanation :)
Apache APISIX itself does not provide such a feature. Apache APISIX has a mirror plug-in, but it does not do traffic replay.
I suggest you use external tool like tcpcopy

[2022-05-13 06:19] zhixiongdu027 commented on #7026
Kubernetes Discovery also prints log information at other execution points in addition to the places mentioned above:
for example:

https://github.com/apache/apisix/blob/4690feb421779f5b79e8dd990dc00f4d3f1052d0/apisix/discovery/kubernetes/init.lua#L106
https://github.com/apache/apisix/blob/4690feb421779f5b79e8dd990dc00f4d3f1052d0/apisix/discovery/kubernetes/informer_factory.lua#L218
https://github

[2022-05-13 06:30] redynasc opened #7042 "bug: Obvious memory leak when the weight sum of all nodes in the upstream of the chash type is large"
### Current Behavior

Obvious memory leak when the weight sum of all nodes in the upstream of the chash type is large

### Expected Behavior

smooth memory usage

### Error Logs

Memory information of the production environment, captured using the openresty xray tool
![job-4378273856](https://user-images.githubusercontent.com/5038324/168224447-c5404b16-38ed-490a-ab02-34449bcd0af7.svg)

### Steps t

[2022-05-13 06:31] redynasc commented on #7042
## my analysis
+ in apisix 2.13.1
  1. the weight sum of all nodes in the upstream is 10000
  2. rest.chash creates a chash table that contains 1600000(10000*CONSISTENT POINTS) point structures, each of which is 8 bytes in size. The total size of the chash table is at least 12.20MB
  3. the chash table is cached in the lrucache queue, the cache key is **the address **of the upstream object
  4. Wh

[2022-05-13 07:23] kwanhur commented on #7019
Dev it with [ext-plugin](https://apisix.apache.org/docs/apisix/external-plugin/) or [serverless](https://apisix.apache.org/docs/apisix/plugins/serverless).

[2022-05-13 10:03] Hxhong opened #7044 "bug: /usr/local/apisix/apisix/cli/apisix.lua:31: module 'apisix.cli.env' not found"
### Current Behavior

I run docker image with /bin/bash, but when apisix process is running and I restart the container, the second time i enter the container and start apisix, it failed...

### Expected Behavior

If I restart the container which is run with /bin/bash, the processes in container should be killed.

### Error Logs

The second time I enter the container, these are operations and erro

[2022-05-13 10:17] #4156 closed

[2022-05-13 11:16] #6602 closed

[2022-05-14 02:38] kwanhur commented on #7037
It's more dependency on GitHub Actions and the organization related resource limitation.

[2022-05-14 13:51] hanf2x opened #7051 "feat: As a user, I want to add support for Knative"
### Description

Knative is a very commonly used serveless framework.
![Competitors](https://cdn.thenewstack.io/media/2020/03/ba0c56f3-serverless2.png)

[2022-05-14 13:53] bzp2010 commented on #7051
Hi, @encanto-oss, if you are interested in this, welcome to PR.

[2022-05-15 04:15] spamokm opened #7052 "feat: As a User, I want to be able to use oAuth2 with PKCE"
### Description

As a User, I want to use oAuth2 with PKCE support, so that I can configure an oAuth2 connection without using client/secret.

I am using an IDP. which has implemented the [Authorization Code Flow](https://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth).

From the docs of the IdP:
The IdP implements the [Authorization Code Flow](https://openid.net/specs/openid-connect-c

[2022-05-15 06:49] tzssangglass commented on #4945
Please refer here: https://github.com/apache/apisix/issues/4945#issuecomment-909850338

[2022-05-15 07:55] Chever-John commented on #4945
@butterfly1924 Also you can refer to this [link](https://apisix.apache.org/docs/apisix/how-to-build/#:~:text=The%20following%20is%20the%20solution%20of%20macOS%2C%20which%20is%20similar%20to%20that%20of%20other%20operating%20systems%3A)

[2022-05-15 08:49] encanto-oss commented on #7051
Is there anybody else interested in this?

[2022-05-15 10:00] hahayyum opened #7053 "bug: Use upstream keepalive, resulting in long connection reuse problem"
### Current Behavior

example 1:
route:/aaa upstream: test.com, mtls: use client.key and client.cert
route:/bbb upstream; test.com does not use mtls
Result  1:
When accessing /bbb, sometimes the connection of /aaa is reused, causing the request to carry client.key and client.cert .
But sometimes client.key and client.cert are lost when accessing /aaa

or
example 2:
route: https://testA.com/aaa ups

[2022-05-15 12:36] spacewander commented on #7042
It is because we add upstream discovery so the same upstream id may have different upstream addresses.

Some solutions to this problem (sorted by my favorite):
1. dividing the weight by a GCD before using it. Hoping the weights are not prime.
2. use a different chash algorithm, like Nginx's / Maglev / AnchorHash
3. don't use LRU for the upstream objects. This requires refactor at high risk.

[2022-05-15 13:01] spacewander commented on #7053
Yes.

BTW, apisix 2.7 doesn't support upstream's keepalive. Although the latest version is still using host IP as keepalive connection key.

[2022-05-15 15:08] hahayyum commented on #7053
@spacewander
So, with the same host IP, when using upstream's keepalive, is there a problem with different requests using different client.cert access?
E.g:
Request A to use the testa client certificate
Request B to use the testb client certificate
When multiple requests are made, request A may use the connection with the testb certificate, and vice versa

[2022-05-15 19:13] mehmetcuneyit commented on #6792
@spacewander Temp solution would be like https://the-asf.slack.com/archives/CUC5MN17A/p1652640355608239?thread_ts=1652270452.089599&cid=CUC5MN17A

[2022-05-16 00:36] redynasc commented on #7042
In our production environment, the first solution was used temporarily
It seems that the second one is a better general solution

[2022-05-16 04:05] tzssangglass commented on #7044
We cannot stop the APISIX process manually from within docker. You should control the container in the same way as docker.
I won't track this down for now, because the premise is wrong.

[2022-05-16 04:53] spacewander commented on #7042
We can optimize lua-resty-balancer with two steps:
1. use GCD to reduce total weight
2. find a multiple which can make the min weight >= 1000, instead of a hard-code 1000 multiple

As for different chash algorithms, since different algorithms have Cons & Pros,  we will leave it to a separate topic but not as a bugfix.

[2022-05-16 06:41] fanchangjifen commented on #6409
Sm secret key is involved in our business, may I ask whether there is an access plan

[2022-05-16 06:53] spacewander commented on #6409
@fanchangjifen
Would you like to contribute?

[2022-05-16 07:10] Hxhong commented on #6409
SM algorithm has been widely used in China. The security of Sm3 algorithm is higher than MD5 algorithm and SHA-1 algorithm, and the security of SM4 algorithm is higher than 3DES algorithm. The demand for SM3 encryption will be increasing.

[2022-05-16 07:32] tao12345666333 commented on #7052
Thanks for your report.

I think there is value in implementing it,
Using this method improves security.

What do you think?
cc @spacewander @membphis @moonming

[2022-05-16 08:30] fanchangjifen commented on #6409
Our team is engaged in the development of digital government business, which may be different from Internet business scenarios. So we wanted to figure out how we could offer hMAC-SM3 or standalone plug-ins. Note that the SM3 plugin has a lot of dependencies and we need to provide simplified technical support

[2022-05-16 08:39] soulbird commented on #6409
You can refer to the [hmac-auth](https://github.com/apache/apisix/blob/master/apisix/plugins/hmac-auth.lua) plugin, and the sm3 algorithm may directly refer to https://github.com/toruneko/lua-resty-crypto/blob/master/lib/resty/digest/sm3.lua

[2022-05-16 08:39] soulbird commented on #6409
You can refer to the [hmac-auth](https://github.com/apache/apisix/blob/master/apisix/plugins/hmac-auth.lua) plugin, and the sm3 algorithm may directly refer to https://github.com/toruneko/lua-resty-crypto/blob/master/lib/resty/digest/sm3.lua

[2022-05-16 09:46] #7053 closed

[2022-05-16 10:09] moonming commented on #7052
great idea 👍
@spamokm Are you interested in adding this feature to Apache APISIX?

[2022-05-16 10:23] tao12345666333 commented on #7052
This is a relatively simple function, just need to upgrade the resty.openidc version that APISIX depends on, and add some adaptations.

[2022-05-16 10:23] tzssangglass commented on #7042
Not quite sure where this 1000 comes from, please help me to point it out.

[2022-05-17 01:06] spacewander commented on #7042
Sorry, it should be 160. Fixed in the original issue.

[2022-05-17 01:18] spacewander commented on #7042
After a second thought, I have changed my mind.
As the 160 is widely used in several implementations:
https://github.com/ultrabug/uhashring
https://www.nginx.com/resources/wiki/modules/consistent_hash/

I think we should just gcd the weights and spend the remind effort on another chash implementation like Maglev.

[2022-05-17 02:35] #5966 closed

[2022-05-17 02:56] mygrsun opened #7056 "help request: is there any way to get the upstream error in the plugin?"
### Description

i want to get the upstream timeout error  in the plugin.beacuse i want to sent a json resonse to caller when the upstream is timeout.for example :
{"Response":{"RequestId":"123","Error":{"Message":"upstream timeout"}}}

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- et

[2022-05-17 03:03] tzssangglass commented on #7042
My thoughts are similar. The current chash implementation doesn't seem to be able to avoid having too many `npoints` (e.g. two extreme primes).

[2022-05-17 03:31] soulbird commented on #7056
It looks like you can only get a 502 status code in Apache APISIX. Maybe you can use [get_logs](https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/errlog.md#get_logs) function to extract relevant information from the error log to determine `reset` or `timeout`, etc. I have not tested it, not sure if it is feasible.

[2022-05-17 03:50] tzssangglass commented on #7056
you can use this plugin: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/response-rewrite.md

the config maybe:

[code]

just an example, please read the plugin document.

[2022-05-17 05:43] artemus717 opened #7061 "Is there any plugin can support saml2 auth ?"
### Description

I want to use saml2 protocal as an auth method. Thanks!

[2022-05-17 07:50] mygrsun commented on #7056
thank you

[2022-05-17 09:10] tokers commented on #6743
What's your `extra_lua_path`?

[2022-05-17 09:34] rpei2022 commented on #6743
@tokers  extra_lua_path: "/opt/apisix/third/?.lua"

[2022-05-17 09:39] soulbird commented on #6743
It seems that `extra_lua_path ` does not take effect.  Could you show info about `config.yaml `?

[2022-05-17 09:42] rpei2022 commented on #6743
@soulbird
apisix:
  node_listen: 9080             # APISIX listening port
  enable_heartbeat: true
  enable_admin: true
  enable_admin_cors: true
  enable_debug: false

  enable_dev_mode: false                       # Sets nginx worker_processes to 1 if set to true
  enable_reuseport: true                       # Enable nginx SO_REUSEPORT switch if set to true.
  enable_ipv6: false 			       # Ena

[2022-05-17 10:11] starsz commented on #7061
I think we don't support it now.

[2022-05-17 12:44] washCutBlow opened #7066 "help request: grpc-transcode plugin can't proxy the grpc service"
### Description

报如下错误
^@^@2022/05/17 12:42:47 [error] 47#47: *1523366 [lua] util.lua:38: find_method(): compiled proto service not found, client: 172.22.0.1, server: _, request: "GET /grpcts HTTP/1.1", host: "meeting.cn"

我的配置
{
  "uri": "/grpcts",
  "name": "grpc-router-meeting",
  "methods": [
    "GET",
    "POST",
    "PUT",
    "DELETE",
    "PATCH",
    "HEAD",
    "OPTIONS",
    "CONNECT",

[2022-05-17 12:47] rpei2022 commented on #6743
@soulbird @tokers  It seems that there is a bug, the /usr/local/apisix/apisix/cli/ops.lua fails to write extra_lua_path into the nginx.conf

[2022-05-17 14:17] tzssangglass commented on #7066
Unable to reproduce, the test case I used

[code]

and using `t/grpc_server_example` under the APISIX repository as the grpc upstream, start the command as follows:

[code]

For example, I don't know what the `meeting` and `watch` folders are.

[2022-05-17 14:32] spamokm commented on #7052
As @tao12345666333 has a clear idea about the implementation and my luna skills are not available, it isn't a good idea :-)

Thank you Jintao for taking over.

[2022-05-18 02:16] washCutBlow commented on #7066
我使用的是一个go micro v2启动的一个服务，是跟micro v2不兼容吗？您可以试一下，任何一个go micro v2框架的grpc服务

我使用micro call 都可以本地访问，但是接入网关就会报错

[2022-05-18 02:27] washCutBlow commented on #7066
<img width="1071" alt="image" src="https://user-images.githubusercontent.com/26592450/168944460-2a4b1b4f-17db-42e2-b1f7-8a9d569c6101.png">
<img width="859" alt="image" src="https://user-images.githubusercontent.com/26592450/168944630-3880b116-afd4-42b9-855f-5172483244db.png">
我把服务名称改成了watch 忽略这个名字

[2022-05-18 02:33] tzssangglass commented on #7066
@bzp2010 @soulbird can you help this? I am not familiar with go.

[2022-05-18 02:37] soulbird commented on #7066
I will take a look

[2022-05-18 03:12] cloorc commented on #5654
Thanks! I agree it looks unfriendly but it is not my real purpose. If it makes some guys uncomfortable, I should appologize anyway.

Back to this issue, I have to post my real consideration, although it might be a little fierce.

BTW, no threats should to anyone, both maintainers and users and anyone cared about this project.

[2022-05-18 03:18] artemus717 commented on #7061
Is there some plan about this?

[2022-05-18 03:27] jwrookie commented on #7011
After discussion, we adopted the following solution

When enabling `http_to_https`, the ports in the redirect URL will pick a value in the following order (in descending order of priority)
  * Read `plugin_attr.redirect.https_port` from the configuration file (`conf/config.yaml`).
  * If `apisix.ssl` is enabled, read `apisix.ssl.listen_port` first, and if it does not exist, read `apisix.ssl.listen

[2022-05-18 03:29] rpei2022 commented on #6743
@tokers @tzssangglass

**The following is part of the content of docker-compose.yml, I put custom plugin files in ./plugins directory, and mount it to the directory /opt/third/apisix/plugins int the container.**
services:
  apisix:
    image: apache/apisix:2.13.1
    restart: always
    volumes:
      - ./apisix_log:/usr/local/apisix/logs
      **- ./plugins:/opt/third/apisix/plugins**
      - ./a

[2022-05-18 04:49] jthann opened #7071 "help request: Can apisix route uri path by some target http header value?"
### Description

We are using APISIX as gateway, in some scenarios，we need to route access uri or denied by client http request header value, for example：some access key value as http header，Currently in APISIX Route Object，there is filter_func mechanism to support extending filter logic， but the filter_func param is vars，we cannot get http header value from vars param.

### Environment

- APISIX

[2022-05-18 05:02] #7011 closed

[2022-05-18 06:02] tzssangglass commented on #7071
This is supported.

see: https://github.com/apache/apisix/discussions/6749#discussioncomment-2460105

[2022-05-18 06:44] endison1986 opened #7072 "help request: CORS plugin not working properly in `Consumer`"
### Description

When I try to use the CORS plugin in `Consumer`, I get an unexpected response header.
So I analyzed the source code and tried to call `core.request.header(ctx, "Origin")` in `_M.header_filter`, and finally CORS worked normally.
I speculated and confirmed that `_M.rewrite()` cannot be called in `Consumer`, but starting from 2.12.1, `APISIX` has modified its practice to get the ` in

[2022-05-18 06:59] endison1986 opened #7073 "help request: the `apisix-server` on K8S was entered by the mining program"
### Description

Several instances of `apisix-server` running in K8S are mixed into the mining program.
几个运行在K8S中的`apisix-server`实例都被混入了挖矿程序。

![9a70746c99e8595f72656342611d15f](https://user-images.githubusercontent.com/7878324/168977089-bf9ecef0-a481-4aed-b302-d4b0ca39894b.png)

### Environment

- APISIX version (run `apisix version`):2.12.1
- Operating system (run `uname -a`):Linux apisix-server

[2022-05-18 07:00] #7073 closed

[2022-05-18 07:05] tzssangglass commented on #7072
Should be solved by this PR: https://github.com/apache/apisix/pull/6502

Please verify with the latest version(v2.13.0 or the master branch).

[2022-05-18 09:16] tokers commented on #7066
I don't think it's related to the go framework as it's an internal error in APISIX. It doesn't find the method.

[2022-05-18 09:43] jackk01 opened #7075 "help request: apisix-ingress-controller logs too many error"
### Description

2022-05-18T17:41:55+08:00	error	apisix/route.go:119	failed to list routes: Get "http://apisix-admin.apisix-demo.svc.cluster.local:9180/apisix/admin/routes": context deadline exceeded (Client.Timeout exceeded while awaiting headers)
2022-05-18T17:41:55+08:00	error	apisix/cluster.go:210	failed to list routes in APISIX: Get "http://apisix-admin.apisix-demo.svc.cluster.local:9180/apis

[2022-05-18 21:25] gogogo1024 commented on #6068
may be possibly has the same problem
`
Lua 5.4.4
macOS 12.4
`
` brew install openldap`
 openldap version is 2.6.2, so lualdap version  is apisix's dependencies  lualdap version 1.2.6-1 needs to find header file for LDAP, but always No file ldap.h in /usr/local/Cellar/openldap/2.5.6/include , in  /usr/local/Cellar/openldap/2.6.2/include I find the ldap.h .

[2022-05-19 02:16] ochinchina opened #7077 "As a user, I want to support multiple NGINX servers with different listening IP and port number"
### Description

In the TELCOM area, The gateway host will join multiple LANs. Diffrent LAN will have different IP segment. So the Gateway host will have multiple IPs.

A NGINX Gateway needs to setup multiple http/tcp/udp servers. Each server will listen on its own IP and port number. Following is an example of a typical NGINX configuration in TELCOM area:

[code]

Is it possible for APISIX to exp

[2022-05-19 03:24] hansedong opened #7078 "bug: when apisix starts for a while, its communication with etcd starts to time out"
### Current Behavior

I have encountered a problem in apisix that cannot communicate properly with etcd through the admin api.

There are 3 etcd nodes in my environment. When I start apisix, everything is normal. Moreover, I can also operate resources such as Route and Upstreams through the apisix admin api.

**However, after a period of time (the specific time is uncertain, generally a few hours)

[2022-05-19 03:36] soulbird commented on #7077
You can add custom nginx configuration, refer here: https://github.com/apache/apisix/blob/master/docs/en/latest/customize-nginx-configuration.md

[2022-05-19 05:51] spacewander commented on #7077
APISIX already supports using different listening IP & port?
https://github.com/apache/apisix/blob/260529a981e61ffa5db7c0750cfeb5a9b453c839/conf/config-default.yaml#L28

Or do you mean using different routes according to the IP & port?

[2022-05-19 06:04] spacewander commented on #7077
Maybe we can introduce an entry_id in the route. We can assign a unique entry_id to each IP&port, and only routes with the same entry_id will be used to match the traffic from an IP&port if an entry_id is assigned to it.

[2022-05-19 06:21] ochinchina commented on #7077
I'd like the dynamic listening IP & port adding to the NGINX with APISIX API instead of pre-configure it in the config.yaml file. The route and services and upstream operations should be made under a specific NGINX server.

[2022-05-19 06:40] endison1986 opened #7082 "help request: CORS does not work on OPTIONS"
### Description

When I configured the advanced matching condition `env=dev` on Route and added the CORS plugin. Then I send a request through axios with the request header `env:dev`, then the browser initiates a preflight request `OPTIONS`, and I get a 404 return.

当我在Route上配置了高级匹配条件`env=dev`，并且添加了CORS插件后。然后我通过axios发送请求，并携带请求头`env:dev`，这时浏览器发起了一个预检请求`OPTIONS`，而我得到了一个404的返回。

![1652942235(1)](http

[2022-05-19 06:59] endison1986 commented on #7082
My understanding is that OPTIONS shouldn't apply advanced match conditions? But if the advanced matching conditions do not take effect, the same context cannot distinguish between routes.
我的理解是OPTIONS不应该应用高级匹配条件？但如果高级匹配条件不生效，相同的上下文就又无法区分路由了。

[2022-05-19 08:19] spacewander commented on #7082
Let's add OPTIONS to the route's methods when adding the CORS plugin.

We can't do it by default. Because if CORS plugin is not set,  there is no way to handle OPTIONS requests in APISIX. And it doesn't work well in the case that requests in different methods will be routed to different routes.

[2022-05-19 09:15] endison1986 commented on #7082
`OPTIONS` is already in Route, but OPTIONS request without env responds with 404 due to adding advanced match condition `env=dev`.
I use HTTP request headers to distinguish different environments in the same context, but if OPTIONS cannot carry custom request headers, then I have to be careful with advanced match conditions?
Because this will cause APISIX to not be able to correctly distinguish th

[2022-05-19 09:32] tokers commented on #7078
This error will be reported by ETCD when it cannot receive `Watch` requests from the client successfully (maybe the client was timed out and the connection was closed).

Do you have any monitoring data about the networking between APISIX and ETCD? Something like network saturation ratio, errors and bandwidth utilization are desired.

[2022-05-19 09:41] hansedong commented on #7078
I thought about this possibility, however, etcdctl can execute smoothly during the period of time when apisix cannot communicate with etcd. Also, when I restarted apisix, the problem disappeared immediately and reappeared after a while.

Good idea, I'll see if I can spot something through the monitoring system.

[2022-05-19 09:43] tokers commented on #7078
Note the use of ETCDCTL and APISIX is not same, ETCDCTL just uses the gRPC service while APISIX relies on the ETCD gRPC Gateway, it sends Rest requests, all Rest requests are converted to gRPC streams by gRPC Gateway (it's embedded in the ETCD server).

[2022-05-19 09:45] hansedong commented on #7078
Thanks for the reminder, I understand that. I just want to point out that maybe the root cause of this problem is not necessarily on etcd.

[2022-05-19 10:06] #4006 closed

[2022-05-19 10:06] #4265 closed

[2022-05-19 12:31] rpei2022 opened #7084 "help request: transfer plugins in other product to apisix"
### Description

I am trying to transfer plugins in other product(based on kong) to apisix, and I want to put all the plugins in a custom directory. Per the [plugin develop manual](https://apisix.apache.org/zh/docs/apisix/plugin-develop/), I put the whole code package into the /path/to/example/apisix/plugins/, my code package directoy is kong/plugins/[plugin_name]/*.lua, but all the plugins can no

[2022-05-19 12:58] starsz commented on #7061
As far as I know, there isn't.
If you are interested in, welcome to create PR on this excellent feature.

[2022-05-19 14:06] #7056 closed

[2022-05-19 14:10] #7071 closed

[2022-05-19 17:58] SmallWhitePG commented on #6293
@purekeeper how to resolve

[2022-05-20 01:44] 840963657 opened #7088 "bug: Least-connection result is incorrect"
### Current Behavior

When I test least-connection，I found the result has nothing to do with active connection；**client always visit the node with the largest weight**。
Then I read source code，found apisix use 1/weight to choose node，Not used active connection；
apisix-apisix-balancer-least_conn.lua:

[code]

### Expected Behavior

least-connection should picks the node with the lowest value of `(a

[2022-05-20 01:46] endison1986 commented on #7072
I have tested in 2.13.1, when the CORS plugin is configured in Consumer, `_M.rewrite()` is still not called, but I have not tested the master version
[code]

[2022-05-20 02:03] tokers commented on #7088
@tzssangglass @spacewander PTAL.

[2022-05-20 02:05] tokers commented on #7078
Hard to judge. If you have captured some network packets. Would you like to share them, this maybe helpful for the troubleshooting.

[2022-05-20 02:05] tzssangglass commented on #7072
2.13.1 should take this fix with it.

Please describe the reproduce the steps, I need to recover them.
You can find the image of the master branch on the docker hub and test it.

[2022-05-20 02:08] hansedong commented on #7078
@tokers It is very exaggerated that the connection of apisix to etcd in the ESTABLISHED state is very high and has been rising all the time.

[code]

[2022-05-20 02:16] tzssangglass commented on #7088
@840963657 I think you have a misconception about its implementation， see:https://github.com/apache/apisix/discussions/5548#discussioncomment-1667885

If you think it is a bug, please describe in detail the steps to reproduce it.

[2022-05-20 02:22] tokers commented on #7078
How many APISIX worker processed that you created?

[2022-05-20 02:25] hansedong commented on #7078
[code]

The CPU of my host is 8 cores, so the number of nginx workers is 8. My apisix configuration is as follows, and the number of workers is as expected:

[code]

[2022-05-20 04:00] spacewander commented on #7082
You can use `OR` syntax to include OPTIONS request without header: https://github.com/api7/lua-resty-expr#synopsis

It seems you can use the traffic-split plugin to select upstream dynamically instead of putting them to different routes.

[2022-05-20 04:50] tao12345666333 commented on #7052
I don't have enough time in the last few days to make it happen,
if no one takes it in two weeks, I will implement it.

[2022-05-20 05:43] 840963657 commented on #7088
This is test result,I think id is a bug....
![image](https://user-images.githubusercontent.com/25243232/169458658-bf88d5f8-c654-4bbb-9da3-5cb70ec6f830.png)

[2022-05-20 06:40] endison1986 commented on #7082
`OR` syntax may not meet my needs, because I have three environments, namely dev\test\prod, which are distinguished by the HTTP request header env

Thanks for your reply, I will try to implement dynamic selection of upstream using plugin `traffic-split`

[2022-05-20 07:10] endison1986 commented on #7072
I confirmed that the source code of `apisix-server` is indeed 2.13.1, but the version of `apisix-dashboard` I use is 2.10.1, is it related to his version?

In addition, I will test the CORS plugin again. If there are still problems, I will submit the detailed steps.

[2022-05-20 08:03] tzssangglass commented on #7072
no related to apisix-dashboard version, but I suggest you test it through the admin API.

[2022-05-20 08:06] tzssangglass commented on #7088
I need you to provide the steps to reproduce this result.

And did you test it on a single APISIX?

[2022-05-20 08:18] #6977 closed

[2022-05-20 10:04] #4226 closed

[2022-05-21 01:14] malinshadow opened #7095 "jwt auth plugin support customize err msg"
### Description

Right now, we can see if jwt auth failed we can get a error msg {"message":"Missing JWT token in request"}
This tells us we use jwt auth. might be hacker can use the information to do something.
if we can customize the msg will be better to auth security. like consumer restriction plugin, i can use rejected_msg option to change the default msg.

thanks

[2022-05-21 03:10] juzhiyuan commented on #7095
Context: https://the-asf.slack.com/archives/CUC5MN17A/p1652978932198749

[2022-05-21 04:26] galaxy-sea opened #7096 "bug: proxy-cache not support restful api"
### Current Behavior

[code]

Test Plugin:
[code]

[code]

### Expected Behavior

[code]

Test Plugin:
[code]

[code]

### Error Logs

_No response_

### Steps to Reproduce

11

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1

[2022-05-21 08:06] crystal-lee commented on #6916
This is the code。The request do not be forwarded to the upstream， but I must set a upstream?

[code]
[code]

[2022-05-21 10:04] #4279 closed

[2022-05-21 12:12] Chever-John opened #7098 "help request: please check the version of OpenResty and lua, OpenResty 1.19 + LuaJIT or OpenResty before 1.19 + Lua 5.1 is required for Apache APISIX"
### Description

When I install APISIX via Source Release package according to this [link](https://apisix.apache.org/docs/apisix/how-to-build/).

I occurred to this issues: `please check the version of OpenResty and lua, OpenResty 1.19 + LuaJIT or OpenResty before 1.19 + Lua 5.1 is required for Apache APISIX`

<img width="1353" alt="image" src="https://user-images.githubusercontent.com/43690894/16

[2022-05-21 12:14] Chever-John commented on #7098
This is solved by this PR: https://github.com/apache/apisix/pull/7067

we just changed APISIX's version to the latest.

[2022-05-22 09:33] zhendongcmss opened #7100 "bug: apisix doesn't support ipv6"
### Current Behavior

![image](https://user-images.githubusercontent.com/88528414/169688854-1bcea870-c39c-4c2f-95a1-7fa0f394c8df.png)

![image](https://user-images.githubusercontent.com/88528414/169688822-49e4b7cb-944c-4751-95a7-8f161e3e6a21.png)

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

1. config ipv6 address in config-default.yaml

### Environm

[2022-05-22 12:15] spacewander commented on #7098
Consider solved. Feel free to reopen it if needed.

[2022-05-22 12:15] #7098 closed

[2022-05-22 12:30] spacewander commented on #7095
[code]
We can inject a common _meta with rejected_msg to the plugin.

[2022-05-22 14:12] marziman commented on #6938
Hello team,

we also need SSE and the EventSource implementation. We dont want to move away from all our APISIX knowhow and solutions where we use it, just for lack of SSE (EventSource).
I am wondering: As PISIX is based on NGINX, is it possible to reuse/install a NGINX plugin like this: https://github.com/wandenberg/nginx-push-stream-module
or just adding some configuration to NGINX to support it

[2022-05-22 14:36] juzhiyuan commented on #6938
Hi @markt-asf, according to this comment[1], Apache APISIX doesn't support SSE so far.

For this one, let's wait for @spacewander's confirmation 🤗

We also have a Slack channel[2] under the Apache Software Foundation. There have 450+ members, and you are welcome to join in.

[1] https://github.com/apache/apisix/discussions/6930#discussioncomment-2642832
[2] https://apisix.apache.org/docs/general/j

[2022-05-22 15:18] tzssangglass commented on #7096
Hi @galaxy-sea I don't understand what you are trying to say.

1. From your description, I don't see anything related to restful api;
2. Can you describe the Expected Behavior in detail？

[2022-05-23 00:59] tokers commented on #7096
@galaxy-sea Do you mean that when you create a route with the `proxy-cache` plugin, the actual behaviors doesn't match the one specified in the plugin (the second POST request should not hit the cache) ?

[2022-05-23 01:04] galaxy-sea commented on #7096
yes , the second POST request should not hit the cache.
是的，POST 请求不应该命中缓存

[2022-05-23 01:08] zhendongcmss commented on #7100
The 2.10.1 has this bug too.

[2022-05-23 01:09] zhendongcmss commented on #7100
![image](https://user-images.githubusercontent.com/88528414/169725393-a4813c17-e22a-47bc-8d2c-46fb65b4aeda.png)

[2022-05-23 01:21] tokers commented on #7096
@galaxy-sea What's your APISIX version? Would you try to use the latest APISIX and set the `cache_strategy` to `memory` to see the result?

The default cache strategy is disk and I'm afraid there is bug there about the cache method handling.

[2022-05-23 01:24] tzssangglass commented on #7100
We don't indicate support for etcd ipv6 configuration in the documentation, so I don't think it's a bug. `lua-resty-etcd` probably needs some development if it's to be supported.

[2022-05-23 01:31] galaxy-sea commented on #7096
APISIX version is 2.10.1,

 Apache APISIX does not implement the standard HTTP cache😭😭😭.

[2022-05-23 01:33] tzssangglass commented on #7095
I'd like to know where this technique is demonstrated, I can't find the relevant code to handle it.

[2022-05-23 01:37] tzssangglass commented on #6916
upstream is required, as required by the APISIX implementation mechanism.

[2022-05-23 01:47] spacewander commented on #7095
Err. It is just a plan in my mind yet.

[2022-05-23 01:48] #7037 closed

[2022-05-23 02:02] tzssangglass commented on #7078
From experience, this is a problem with etcd and I suggest you go to the etcd repository for help.

[2022-05-23 02:06] hansedong commented on #7078
@tzssangglass @tokers

Thanks for the reply, I have located the cause of the problem is not on apisix.

When I use the curl command line to directly call the API of grpc-gateway, the request is also blocked, so the cause of the problem is indeed on etcd. I plan to close this issue later.

Thanks again everyone for the replies, apisix is a great product.

[2022-05-23 02:06] #7078 closed

[2022-05-23 02:24] zhendongcmss commented on #7100
Do you have plan to support it ? because it is urgent and important for us.

[2022-05-23 03:29] soulbird commented on #7096
The configuration of cache_method, under the disk policy, controls whether the response will be written to the cache. During the request process, if the cache_key matches, the data in the cache will be retrieved to respond to the client

[2022-05-23 03:54] crystal-lee commented on #6916
thanks ,i get it

[2022-05-23 03:54] #6916 closed

[2022-05-23 08:20] 840963657 commented on #7088
I test it on a single APISIX.
steps:
1.create an upstream service
2.add two nodes on the upstream service and select the least-connection algorithm（The response times of the two nodes are different）
3.create a route and binding the Route to the Upstream
4.The client initiates multiple connection requests

[2022-05-23 08:49] washCutBlow opened #7105 "help request: AWS ALB can't connect to apisix service node during traffic spikes"
### Description

我的apisix网关服务架构图如下：

AWS 全局加速器---->AWS ALB------>6台APISIX服务节点（部署在AWS的 4核8
G实例上）------>upstream节点。

但是每天在流量高峰时间点，会出现WS ALB无法连接到后端的apisix节点的目标连接数错误。请问应该如何调优呢？

<img width="818" alt="image" src="https://user-images.githubusercontent.com/26592450/169780950-38b3502d-3829-4229-a08f-b6e2ca5367f4.png">

我的AWS ALB的超时时间配置是100s。apisix的连接池超时时间是200s 连接池大小是1000. 并且nginx的连接数也配置的很大。

请问这是哪里的配置还需要优

[2022-05-23 10:06] jujiale opened #7108 "help request: reset prometheus metrics"
### Description

hello, I want to reset the prometheus metrics in some situations while I use prometheus plugin，what I want is when I reset the metrics，then I invoke http://127.0.0.1:9092/apisix/prometheus/metrics， the response is the same as when I restart apisix  and first invoke http://127.0.0.1:9092/apisix/prometheus/metrics.

I add a control api in prometheus.lua，the api finally invoke the me

[2022-05-23 12:01] tokers commented on #7108
@jujiale This way you reset the data is not safe, as the dict user (Prometheus lib) doesn't know the fact that all data was deleted, this might incur some unexpected internal error.

[2022-05-23 12:03] tokers commented on #7108
Also, for the sake of performance, there are some in-process cache (which will be synced to the shared memory periodically).

[2022-05-23 12:05] tokers commented on #7108
@jujiale Try to refer this method: https://github.com/api7/lua-resty-prometheus/blob/master/prometheus_resty_counter.lua#L94. Maybe it's useful.

[2022-05-23 12:08] tokers commented on #7100
Welcome to contribute this feature.

[2022-05-23 21:22] amrellafy opened #7110 "bug: openid-connect plugin access_token_in_authorization_header does not work when combined with token attributes"
### Current Behavior

Settings access_token_in_authorization_header will not work if other header token attributes is explicitly set to false.

[code]

The following yaml configuration will not add access token to the Authorization header as intended.

### Expected Behavior

access_token_in_authorization_header should append the authorization header even if other other set_* attributes is explicit

[2022-05-23 22:36] amrellafy commented on #6702
Loading the lua file is enough to register the custom variable or it must be a part of a custom plugin?

[2022-05-24 00:57] tokers commented on #6702
It doesn't have to be a plugin, you can even modify the core codebase of APISIX and register some custom variables. But please make sure that you know what you're doing, or something might be broken.

[2022-05-24 01:26] soulbird commented on #7110
I will take a look.

[2022-05-24 01:41] jujiale commented on #7108
Thanks for your reply，I finally find in [(https://github.com/apache/apisix/issues/7108#issuecomment-1134587340)](url),It has reset method, and apisix used it.  then I use it reset metrics. It seems working well.

[2022-05-24 02:00] tzssangglass commented on #7105
any error logs about this?

Although you described some of it, I still can't get the point. I can help you with a clear problem, but I can't solve things like optimization.

[2022-05-24 02:15] tzssangglass commented on #7108
Considered solved, feel free to reopen this if you need.

[2022-05-24 02:15] #7108 closed

[2022-05-24 03:05] LancCJ commented on #6225
it works,haha,tks

[2022-05-24 03:49] Chever-John commented on #6225
So happy it can help you:0

[2022-05-24 03:54] stubbornTanzhe opened #7112 "help request: apisix docker instance recommend resource value"
### Description

is there any recommend resource value for operator to implement apisix instance in k8s?
better resource value per release version

### Environment

- APISIX version (run `apisix version`): 2.13.1
- Operating system (run `uname -a`):3.10.0-1160.el7.x86_64
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):nginx version: openresty/1.19.9.1
- etcd version, if relevant (ru

[2022-05-24 04:10] tzssangglass commented on #7088
Here are my replicated test cases

case 1

[code]

case 2:

[code]

case 2 is the bug you mentioned, but this is not actually a bug, as you can see in case 1.

The difference between case 1 and case 2 is that case 1 sends the request serially and case 2 sends it concurrently.

When requests are sent serially, the active connection is actually released at the end of each request.

[2022-05-24 06:20] tzssangglass opened #7113 "feat: The DP side and the CP side no longer share the same port by default"
### Description

Mailing list discussions related to this: https://lists.apache.org/thread/vmg2g64swksnro3413dflw2psd7cvqps

As the first step of this feature, I will start by modifying the default APISIX admin API port in `config-default.yaml`, and modify both the documentation and the test cases.

List of tasks:

- [ ] Modify `config-default.yaml`, docs, tests cases

- [ ] Propose control API an

[2022-05-24 06:33] soulbird commented on #7110
Looks like only `set_access_token_header ` will affects `access_token_in_authorization_header `.
via: https://github.com/apache/apisix/blob/master/apisix/plugins/openid-connect.lua#L228-L233.
So, your config may be like this:
[code]

[2022-05-24 07:01] #7096 closed

[2022-05-24 07:09] amrellafy commented on #6702
@tokers so loading the lua file is enough?
Then It might be there is no need to modify the codebase?

[2022-05-24 08:01] UpwardGrowth opened #7114 "help request: Why is websocket not pushed in real time?"
### Description

Why is the websocket I configured not real-time, the one I configured with openresty is real-time, the websocket configured by apisix always pushes a batch of data after a period of time, note: the websocket I configured is to push data every second

My Apache APISIX is installed via Docker Compose

My format is like this:
{
  "uri": "/stream/*",
  "name": "stream_test",
  "priori

[2022-05-24 09:46] Chever-John commented on #6743
@LancCJ Hi, can you offer the `logs/error.logs`?

[2022-05-24 10:06] LancCJ commented on #6743
i see error.log,found path is not right.then i add 'apisix/plugins' now it works.https://files.slack.com/files-pri/T4S1WH2J3-F03GA115VST/image.png

[2022-05-24 10:59] Chever-John commented on #6743
@LancCJ Happy for you

however, I want to know what makes your first fail? a misleading article, or something else?

[2022-05-24 11:45] LancCJ commented on #6743
I didn't pay attention to the example.the custom plug-in path is ignored if the hint is not too obvious

<img width="858" alt="image" src="https://user-images.githubusercontent.com/2968042/170024221-e41b2fff-6814-492e-beea-1b4d24870141.png">

[2022-05-25 01:01] tokers commented on #6743
Right, I think the directory hierarchy is ignore-prone, we can add a Docusuarus admonition (e.g., a tip) to highlight it.

[2022-05-25 01:58] Chever-John commented on #6743
@LancCJ It seems to be the case, and this piece does seem a bit confusing. Would you be willing to improve this section please? Just need to have the ability to write markdown documents~

[2022-05-25 02:10] #7042 closed

[2022-05-25 03:06] zhoudingyu123 opened #7121 "help request: 499 error code!!!help!!!"
### Description

I need to request a time-consuming operation through apisix, which will take more than 60 seconds.Both postman and curl return errors, unless you don't use apisix. I tried almost all the settings about keepalive, but it didn't work. 400 error code returned when modifying 'proxy_ignore_client_abort on'.

### Environment

- APISIX version (run `apisix version`):
- Operating system (

[2022-05-25 03:55] moonming commented on #7121
Are there any steps to reproduce? With only these simple descriptions, no one can know what happened

[2022-05-25 04:00] jamesislebron opened #7123 "help request: stream_proxy seems not work"
### Description

 **apisix verison: 2.11
 config.yaml:**

<img width="953" alt="image" src="https://user-images.githubusercontent.com/20439714/170175612-b860a693-68ad-4e6e-8b64-956f5056b8f5.png">

**well,when I proxy 9100 to a http service like this:**

<img width="489" alt="image" src="https://user-images.githubusercontent.com/20439714/170175739-8afa6c73-5885-41c5-82d9-d5fc930e10ac.png">
<img wid

[2022-05-25 04:10] imiskolee opened #7124 "bug: nginx.stream.access_log_format can not work."
### Current Behavior

current config.yaml

[code]
but the access log on /dev/stdout still :

[code]

### Expected Behavior

i think the output format need to follow the config.yaml as a JSON

### Error Logs

_No response_

### Steps to Reproduce

see Current Behavior

### Environment

docker image: 2.13.1-alpine

[2022-05-25 04:45] #7025 closed

[2022-05-25 05:54] spacewander commented on #7124
[code]
The log you paste is from an HTTP request, not from a TCP one. But your configuration is for the TCP part.

[2022-05-25 06:08] zhoudingyu123 commented on #7121
For example:
Send a simple post request through curl,
The response of the server,
xxx
std::this_thread::sleep_for(std::chrono::seconds(100));
xxx

It happened!

[2022-05-25 06:09] zhoudingyu123 commented on #7121
For example:
Send a simple post request through curl,
The response of the server,
xxx
std::this_thread::sleep_for(std::chrono::seconds(100));
xxx

It happened!

[2022-05-25 06:11] tzssangglass commented on #7123
Can you use nginx or openresty to verify that the proxy telnet is available?

From the logs you gave, it looks like the connection was established, but was closed for other reasons.

[2022-05-25 06:12] tzssangglass commented on #7121
see: https://github.com/apache/apisix/issues/4715

[2022-05-25 06:18] zhoudingyu123 commented on #7121
I've tried. It doesn't work.

[2022-05-25 06:20] zhoudingyu123 commented on #7121
转为400错误

转为400错误

Go to 400 error！

[2022-05-25 06:21] zhoudingyu123 commented on #7121
Go to 400 error.

[2022-05-25 06:25] tzssangglass commented on #7121
In any case, the information you gave is not enough for me to reproduce the error you encountered.

I need

- APISIX configuration, including `config.yaml`, route, upstream configuration
- What is the upstream service and how should I simulate your upstream behavior?
- How to test？

For all of the above information, text is required rather than screenshots.

If you don't know how to prepare this i

[2022-05-25 06:27] heming79 opened #7125 "bug: apisix2.9 one upstream node fail all request return 502"
### Current Behavior

[root@yz-mbg-018203 ~]# curl -voax service-bmlt.wanzhuanmohe.cn -x 192.168.7.204:80
* About to connect() to proxy 192.168.7.204 port 80 (#0)
*   Trying 192.168.7.204...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--

[2022-05-25 06:37] jamesislebron opened #7126 "docs: stream_proxy docs test case is 404 (version: 2.11)"
### Current State

stream_proxy docs test case is 404 (version: 2.11)

URL: https://625a9090d04b9a6953165811--2-11-old-docs-apache-apisix.netlify.app/t/stream-node/sanity.t

![image](https://user-images.githubusercontent.com/20439714/170196264-2d03bb62-ec90-493d-b391-b4cecccab2f0.png)

![image](https://user-images.githubusercontent.com/20439714/170196298-77920be5-efaa-4dc2-b536-88bb6a3ed784.png)

[2022-05-25 06:50] membphis commented on #7125
can you provide the detail information about `2`, `3`, `5`? many thx

[2022-05-25 07:12] SkyeYoung commented on #7126
@juzhiyuan This file should not exist, it indexes the test files in this repository.

[2022-05-25 07:19] imiskolee commented on #7124
@spacewander I just follow that default conf file https://apache.googlesource.com/apisix/+/HEAD/conf/config-default.yaml, how to let http access log work ?

[2022-05-25 07:27] hewj901 commented on #7088
the case 2 ,  all the  request with different session（source port is different ）arrive at the 1971 node，that is not expect with least-conn. From the result,that is independent with session or active-connection.

[2022-05-25 07:42] jamesislebron commented on #7123
Em...

Well I try to change to another tcp upstream service without setting update and It works.

Maybe there is another error in my first failure example.

Thanks a lot !

[2022-05-25 07:42] #7123 closed

[2022-05-25 07:47] SkyeYoung commented on #7126
@jamesislebron Hi, if you want to check it, pls click https://github.com/apache/apisix/blob/release/2.11/t/stream-node/sanity.t

[2022-05-25 07:49] gxthrj commented on #7125
I tried with APISIX 2.9 and etcd 3.5 and found no such problem.
Use `httpbin.org` as upstream.

[code]

and then I add `127.0.0.1:80` which is not exist.

[code]

The result is OK.

[code]

[2022-05-25 07:50] gxthrj commented on #7125
I hope you can provide the error log, when APISIX returns 502.

[2022-05-25 07:58] hewj901 commented on #7088
from kong: least_conn算法很简单，首选遍历后端集群，比较每个后端的conns/weight，选取该值最小的后端。
如果有多个后端的conns/weight值同为最小的，那么对它们采用加权轮询算法。
from apisix doc: least_conn: 选择 (active_conn + 1) / weight 最小的节点。注意这里的 active connection 概念跟 Nginx 的相同：它是当前正在被请求使用的连接。
but from the test result, that is no relation with actice-conn.

[2022-05-25 08:01] tzssangglass commented on #7088
Hi @hewj901 , do you mean that case 2 is not the same thing as your test result (all requests visit the high weight node)?

case 2 result is because the request is executed serially, which means that every time APISIX selects a node using the `least_conn` algorithm, active_conn is actually 0, and nodes with high weights are always selected first.

[2022-05-25 08:32] tzssangglass commented on #7088
I updated case 1 (removed port sorting)

[code]

Correction, case 1 sends the request concurrently and case 2 sends it serially. To test least_conn, I need to base it on case 1.

Let's discuss case 1 based on the above update :
3 requests will be sent, the` least_conn` will also do 3 rounds of selection

round 1:

1970 score: 0(active connection) + 1 / 1 (weight) = 1
1971 score: 0(active connectio

[2022-05-25 08:40] Chever-John commented on #6743
@LancCJ Proud of you~
Looking forward to your PR!

[2022-05-25 09:38] heming79 commented on #7125
升级到 2.13.1之后 好很多了 。 偶尔还是会出现 502 不尝试next upstream的情况 。
![image](https://user-images.githubusercontent.com/14069019/170232142-5386b94e-f8c4-4397-89bd-efa8443a3fa1.png)

[2022-05-25 10:24] #4296 closed

[2022-05-25 11:13] jinghuaz opened #7129 "sls-logger plugin support custom log format like the other logger"
### Description

sls-logger plugins Can the request header field not be uploaded? for example:cookie，authorization...

[2022-05-25 11:14] jinghuaz commented on #7129
![image](https://user-images.githubusercontent.com/9525903/170249679-4823997e-314e-4524-926b-aa0a1f7f2e8b.png)

[2022-05-25 13:40] NMichas opened #7130 "docs: response-rewrite plugin support for regular expressions"
### Current State

`response-rewrite` plugin supports regular expressions, however the current doc page (https://apisix.apache.org/docs/apisix/plugins/response-rewrite) does not reflect that.

### Desired State

Provide additional documentation/examples, showing the use of regular expressions. It would be beneficial if examples also showcase how multiple replacements for the same request can be pe

[2022-05-25 15:44] HashidaTKS opened #7131 "feat: Add a hook or snippet for `exit_worker`"
### Description

Hope to add a hook or snippet for `exit_worker`.

Currently, the `exit_worker` hook is not executed even if writing such a function in plugins.

[code]

Also, `config.yaml` seems to have no snippet to change a content of the `exit_worker_by_lua*` directive created by `ngx_tpl.lua`.

https://github.com/apache/apisix/blob/master/apisix/cli/ngx_tpl.lua#L429

I think only a few users

[2022-05-25 23:46] washCutBlow opened #7132 "help request: too many etcd connection to the apisix, does this normal?"
### Description

<img width="963" alt="image" src="https://user-images.githubusercontent.com/26592450/170387087-d2675900-6c58-4f7e-bd9d-c18cd32a6a31.png">

in my system, there are six apisix node, and a etcd cluster which include 3 node.  i found that the connection count is too more does this normal?

i think this may be cause a question that ,when the traffic is large, may aws alb can't connect

[2022-05-26 00:59] tokers commented on #7132
How many worker processes in an APISIX node?

[2022-05-26 01:10] tzssangglass commented on #7131
see: https://github.com/apache/apisix/blob/6063f334098a93e10d603c156ea7d9a217e95f62/apisix/init.lua#L153-L155

Implemented, but not open to plugin development architecture.

I think it's OK. Let's hear what others think.

[2022-05-26 01:27] soulbird commented on #7125
I noticed that you actually have two problems here:
1. Unhealthy nodes are not removed
2. From the log, it seems that there is no retry after the upstream returns 502

Regarding the first question, because you have configured checks.active.port to 80, healthcheck will use this port first when performing health checks.
If your upstream does not have port 80, this will cause apisix to determine that

[2022-05-26 01:48] tzssangglass commented on #7132
etcd connections = apisix instances number * worker process number of each apisix instance * 13

[2022-05-26 01:53] moonming commented on #7125
In short, is this a bug in Apache APISIX?

[2022-05-26 01:57] soulbird commented on #7125
I thinke it's not. But if the dashboard forces  `port` to be configured, that's a problem, I'll reconfirm this.

[2022-05-26 02:00] spacewander commented on #7131
@HashidaTKS
Could you provide some use cases of using exit_worker in a plugin?

[2022-05-26 02:01] spacewander commented on #7124
It should be
https://github.com/apache/apisix/blob/6063f334098a93e10d603c156ea7d9a217e95f62/conf/config-default.yaml#L216-L219

[2022-05-26 02:03] apit commented on #3230
shouldn't `test` usage added to `apisix help`? as of 2.12.1 it's not there

[2022-05-26 02:06] #7124 closed

[2022-05-26 02:14] moonming commented on #7125
I am confused. In any case, one upstream failure cannot affect other upstreams.

[2022-05-26 02:17] heming79 commented on #7125
sometime still have 502 :
192.168.7.203 - - [26/May/2022:01:52:51 +0000] service-bmlt.wanzhuanmohe.cn "GET HTTP://service-bmlt.wanzhuanmohe.cn/ HTTP/1.1" 502 154 0.002 "-" "curl/7.29.0" 192.168.6.91:20730 :  502 :  0.001 :  "http://service-bmlt.wanzhuanmohe.cn"

[root@yz-mbg-018204 logs]# tail -n 200 2022-05-26_02-00-00__error.log |grep "pick server"
2022/05/26 01:52:48 [error] 63#63: *21976125 [l

[2022-05-26 02:41] #3565 closed

[2022-05-26 02:41] #7095 closed

[2022-05-26 03:30] bingoku opened #7136 "help request: upgrade to 2.14.0 after the route matching error, adjust the priority also did not solve, back to 2.13.1 on the normal"
### Description

 升级到 2.14.0 后路由匹配错乱，调整优先级也无解，回退到 2.13.1就正常了

不知道如何查询这个问题，求解。

### Environment

apisix version：apache/apisix:2.14.0-centos

[2022-05-26 03:51] kevinw66 opened #7137 "bug: real-ip plugin get wrong ip when using X-Forwarded-For"
### Current Behavior

According to the current logic in real-ip plugin.
When I set source to http_x_forwarded_for. It will get last ip on the `X-Forwarded-For` header list.
But after search for some document, the first ip in the list is client ip, others maybe the proxy ip.

When I enable both real_ip plugin and set route rule to chash(or others like limit-req), it will always hashed by proxy ip,

[2022-05-26 04:07] bukexiusi opened #7138 "help request: how to make the redirect plugin get the redirect address from the return value"
### Description

需要从返回值中获取重定向地址，如何做？

[2022-05-26 04:08] bubbyqi opened #7139 "help request: apisix get upstreams 404"
### Description

dear apisix specialist, i need support,  we config the apisix-ingress-controller to router the request to the backend svc in k8s ,but access ,404  error happen.  the backend svc with nginx-ingress-controller is ok.

ingress:
<img width="894" alt="image" src="https://user-images.githubusercontent.com/20379897/170413545-ff24dd04-e6a2-4103-bd3d-aca5b5ccc58b.png">

router:
<img width=

[2022-05-26 04:36] heming79 commented on #7125
可能还是因为老版本dashboard 导致后端检测用了默认port:80 ， 当时其他节点都不可用只有192.168.6.91:20730 主动检测可用 ，实际被动检测502 ，所以就没有尝试别的节点 （主动检测异常的节点此时是不允许尝试的 ，/v1/healthycheck 目前不稳定所以我看不到后端健康检测实际情况 无法做出明确判断）。 应该不是bug

[2022-05-26 04:57] spacewander commented on #7137
This behavior is the same as Nginx's default behavior.

Could you turn `recursive` to true?
See https://apisix.apache.org/docs/apisix/next/plugins/real-ip

[2022-05-26 04:59] kevinw66 commented on #7137
It's not problem of `trusted_addresses`.

[2022-05-26 05:03] jagerzhang opened #7140 "feat: can apisix support proxy and eliminate the authentication when backend using digest auth?"
### Description

我们正在在推动业务迁移到APISIX网关，且希望业务统一使用HMAC鉴权方式。目前遇到了一个困难，有部分业务的后端应用自带鉴权，且使用的是digest auth鉴权方式，因此我们无法通过APISIX的proxy-rewrite插件简单植入authentication头部来屏蔽后端鉴权。

这种情况下，业务就无法在不关闭后端鉴权的前提下平滑迁移到HMAC鉴权方式，只能维持原有的digest鉴权。

不知道APISIX能否支持下，出一个能屏蔽后端 digest 鉴权方式的插件，即：APISIX 往后端请求时，需要先digest鉴权。

可能这个需求比较小众，我先在这里提一下，看看有没有相同需求的朋友。

在github上也找了个类似的lua脚本：https://github.com/pacopink/resty-digest-auth/blob/master/

[2022-05-26 05:09] spacewander commented on #7137
It seems that you don't get my point.
You just need to configure `recursive` and `trusted_addresses`, which is equal to Nginx's `real_ip_recursive` and `set_real_ip_from`. Please refer to the relative documents.

[2022-05-26 05:10] spacewander commented on #7137
Note that the `recursive ` feature is in the master branch, so you need to backport it yourself or wait for the upcoming 2.14.1 release.

[2022-05-26 05:33] HashidaTKS commented on #7131
For example, starting a new daemon / background process to support the processing of a worker_process in the `init_worker` phase, and stopping it in the `exit_worker` phase.
Although, I feel like this is not a good usage...

[2022-05-26 05:33] spacewander commented on #7137
This behavior is equal to Nginx's default behavior.

See https://nginx.org/en/docs/http/ngx_http_realip_module.html：

[2022-05-26 05:33] #7137 closed

[2022-05-26 05:38] tzssangglass commented on #7131
This does not require the use of `exit_worker`, there is a `destroy` phase in the plugin development architecture for unloading plugins.

https://github.com/apache/apisix/blob/ef9ba91a601d400ef4d43e0dd3378f1d98c3b7d9/apisix/plugins/example-plugin.lua#L71-L73

In my experience, `exit_worker` is mainly used to clean up resources.

[2022-05-26 05:39] heming79 opened #7141 "bug: 2.13.1 /v1/healthycheck 获取不到upstream 健康状态"
### Current Behavior

curl 127.0.0.1:9090/v1/healthcheck
{}

### Expected Behavior

https://github.com/apache/apisix/blob/master/docs/en/latest/control-api.md#get-v1healthcheck
[
    {
        "healthy_nodes": [
            {
                "host": "127.0.0.1",
                "port": 1980,
                "priority": 0,
                "weight": 1
            }
        ],
        "name": "upstre

[2022-05-26 05:45] tzssangglass commented on #7138
Then I think this requirement does not involve to redirect plugin.

The redirect plugin works in the `rewrite` phase.

If you need to retrieve some data from the results returned by the upstream, then the plugin should work in the `body_filter` phase.

You can write your own plugins to implement it.

[2022-05-26 05:55] tzssangglass commented on #3230
`test` usage has been released as of 2.11.0. If this is not your verification result, you can submit a new issue.

[2022-05-26 05:55] HashidaTKS commented on #7131
I didn't know that, thanks!

Since the `destroy` phase exists, I feel like it's okay without the `exit_worker` phase in a plugin.

[2022-05-26 05:57] tzssangglass commented on #7131
considered as solved, feel free to reopen this if you need.

[2022-05-26 05:57] #7131 closed

[2022-05-26 06:03] tzssangglass commented on #7140
hmac-auth support check `digest `, see:

https://github.com/apache/apisix/blob/ef9ba91a601d400ef4d43e0dd3378f1d98c3b7d9/apisix/plugins/hmac-auth.lua#L356-L372

[2022-05-26 06:05] tzssangglass commented on #7141
Is this a steadily recurring problem, or an occasional one?

[2022-05-26 06:06] tzssangglass commented on #7136
Your description does not provide valid information and I need detailed reproduction steps to be able to reproduce this issue locally.

[2022-05-26 06:10] jagerzhang commented on #7140
好像说的不是一个场景~

[2022-05-26 06:17] 840963657 commented on #7088
In case1

[2022-05-26 06:19] #7138 closed

[2022-05-26 06:22] lunarwhite opened #7142 "docs: zh-hans doc under 'terminology' cannot displayed properly"
### Current State

This document:
- on website: https://apisix.apache.org/zh/docs/apisix/next/terminology/plugin/
- on Github repo: https://github.com/apache/apisix/blob/master/docs/zh/latest/terminology/plugin.md

It seems that the markdown content is incorrectly formatted.

Screenshot shows the detail:

![Screenshot_1](https://user-images.githubusercontent.com/57584831/170427725-47ed03e6-aaa6-4d

[2022-05-26 06:23] lunarwhite commented on #7142
And I'll try to fix it.

[2022-05-26 06:39] bingoku commented on #7136
<img width="702" alt="image" src="https://user-images.githubusercontent.com/4134788/170431990-f0c78e0d-e192-4ba4-ae76-73707363d45e.png">

其实我没做什么调整，这个图就是现在的路由规划。升级到2.14就乱了。回退到 2.13 是正常的，你说的复现步骤，恐怕不知道怎么给你们展示了。

[2022-05-26 06:41] #7142 closed

[2022-05-26 06:44] spacewander commented on #7141
Is it because there is no request sent to the upstream?

As https://github.com/apache/apisix/blob/master/docs/en/latest/health-check.md shows,

[2022-05-26 07:01] sasakiyori opened #7144 "help request: How to add filter conditions for plugins' usage"
### Description

Hello I am new user for apisix.
I want to use `jwt-auth` and `proxy-rewrite` plugins for my service.

Suppose it is an user service and it supports several apis like `/register`, `/login`, `/rename` and so on.
Routes like `/register` and `login` will not use `jwt-auth` plugin but others need. So I add a script like this:
[code]

The difference between `route1` and `route2` is only

[2022-05-26 07:31] heming79 commented on #7141
有时候能看到有值
[
    {
        "nodes":[
            {
                "priority":0,
                "weight":1,
                "host":"192.168.6.93",
                "port":20452
            },
            {
                "priority":0,
                "weight":1,
                "host":"192.168.6.91",
                "port":20450
            }
        ],
        "name":"upstream#\/apisix\/upstreams\

[2022-05-26 07:32] heming79 commented on #7141
另外 能不能集中显示一下 unhealthy_nodes ， 我更关注的时候 unhealthy_nodes 能及时报警出来 ，需要及时通知监控工程师去解决unhealthy_nodes 的问题 。 尽快把服务恢复起来 。

[2022-05-26 08:06] spacewander commented on #7140
A question: what's the user info used in digest auth?

[2022-05-26 08:31] heming79 commented on #7141
/usr/local/apisix/apisix/control/v1.lua   # line 110 add
core.log.error("upstream_nodes: ", core.json.delay_encode(upstreams.nodes))

![image](https://user-images.githubusercontent.com/14069019/170450261-97c79e33-9cff-46bf-a678-2fa27067c7de.png)
2022/05/26 08:29:42 [error] 630#630: *30924328 [lua] v1.lua:110: handler(): upstream_nodes: null, client: 127.0.0.1, server: , request: "GET /v1/healthche

[2022-05-26 08:54] heming79 commented on #7141
local upstream_mod = require("apisix.upstream")
local get_upstreams = upstream_mod.upstreams

这个routes 就没问题  稳定的  upstreams 经常就是空的 。
    local routes = get_routes()
    core.log.error("routes: ", core.json.delay_encode(routes))
   local upstreams = get_upstreams()
    core.log.error("upstreams: ", core.json.delay_encode(upstreams))
    core.log.error("upstream_nodes: ", core.json.delay_encode(upst

[2022-05-26 09:07] tokers commented on #7141
Only upstream with requests sent will show their status.

[2022-05-26 09:08] tokers commented on #7129
That' a good idea.

[2022-05-26 09:09] jagerzhang commented on #7140
可以看看这几篇文章：
https://en.wikipedia.org/wiki/Digest_access_authentication
https://www.cnblogs.com/xiaoxiaotank/p/11078571.html
https://www.cnblogs.com/xiaoxiaotank/p/11079024.html

digest auth 可以理解为 Basic Auth的一个升级版，主要是解决Basic Auth鉴权使用静态头部认证带来的安全问题。在Basic Auth方式下，APISIX只需要往后端注入一个Basic Base64静态头部就能完成认证：
比如：
![image](https://user-images.githubusercontent.com/9711651/170456795-020e982b-2e56-4337-9804-56c

[2022-05-26 09:22] apit commented on #3230
i mean, i didn't know it exists:
[code]

[2022-05-26 09:22] believe1499 opened #7145 "help request: how to add certificate for mqtt tls"
### Description

If we enable stream proxy tcp port and enable tls, how to config the certificate file for tls.

### Environment

- APISIX version (run `apisix version`):2.13.1
- Operating system (run `uname -a`):Linux gz-vm-30-73-203 3.10.0-327.el7.x86_64 #1 SMP Thu Nov 19 22:10:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):nginx version

[2022-05-26 09:37] heming79 commented on #7141
/usr/local/apisix # curl 127.0.0.1:9090/v1/upstreams
<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<title>**500 Internal Server Error**</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>An er

[2022-05-26 09:42] heming79 commented on #7141
另外一个集群：
/usr/local/apisix # curl 127.0.0.1:9090/v1/upstreams
[{"has_domain":false,"modifiedIndex":1655,"createdIndex":63,"clean_handlers":{},"key":"\/apisix\/upstreams\/409106632274886134","value":{"type":"roundrobin","create_time":1653376154,"retries":3,"retry_timeout":2,"id":"409106632274886134","update_time":1653468030,"name":"service-yyzyh","scheme":"http","keepalive_pool":{"size":320,"idle_ti

[2022-05-26 11:40] lotreal commented on #1689
helm upgrade --install apisix apisix/apisix --set "admin.allow.ipList[0]=all"

[2022-05-26 11:53] lotreal commented on #1689
helm upgrade --install apisix apisix/apisix --set "admin.allow.ipList[0]=all"

[2022-05-26 14:14] spacewander commented on #7130
PR is welcome!

[2022-05-26 14:23] lemonrains commented on #7136
I'm also get the similar error after upgrade to 2.14.0, and get normal if I downgrade the version to 2.13.1.

I got the error of the route which enabled  plugin openid-connect(base on keycloak) . And it  always redirect to uri  `/auth`.
Such as xxxx.xx.com/auth

[2022-05-26 14:54] tzssangglass commented on #3230
maybe we need to add `test` to `apisix help`? cc @spacewander @nic-chen

[2022-05-26 15:00] tzssangglass commented on #7088
Not familiar with your verification methods. I presume there is a difference between.
1. are the requests sent at the same time (it would be misleading to say concurrent here)?
2. does the upstream service have enough latency for APISIX to record active connections?

[2022-05-26 15:05] tzssangglass commented on #7136
Is this image your own dashborad? I'd like to know what you mean by chaos

[2022-05-26 15:12] tzssangglass commented on #7136
Your problem is not related to this issue, please submit a new issue and give the steps to reproduce it.

[2022-05-26 17:40] rjiang-ptm opened #7147 "help request: apisixConsumer wolf-rbac plugin config for multiple appIds"
### Description

In the apisixConsumer config for wolf-rbac, the appId field can only be specified for one appid, or a list of appid? The use case is: usually for a given consumer/user, there could be multiple apps (appIds) associated with that user.

Here is the typical consumer config for wolf-rbac:

{
  "username":"wolf_rbac",
  "plugins":{
    "wolf-rbac":{
      "server":"http://127.0.0.1:121

[2022-05-27 00:28] tokers commented on #7147
Currently, it's impossible to do this. Would you like to share some scenarios about it?

[2022-05-27 00:31] tokers commented on #7145
Just create an SSL object, see https://apisix.apache.org/docs/apisix/next/admin-api/ for the details.

[2022-05-27 00:34] tokers commented on #7136
Also, some descriptions about the disorder of route matching are desired, so that we can know a request that should hit route A hits route B.

[2022-05-27 00:36] tokers commented on #3230
It's usefult. Just like `nginx -t`.

[2022-05-27 00:49] nic-chen commented on #3230
+1
add `apisix test` to `apisix help`, people could know this command quickly.

@apit  welcome to submit a PR to make it done. : )

[2022-05-27 01:08] spacewander opened #7148 "feat: As a user, I want to add `apisix test` to `apisix help`, so that people could know this command quickly"
### Description

See the discussion in https://github.com/apache/apisix/issues/3230#issuecomment-1139180735

@apit
Pull request is welcome!

[2022-05-27 01:08] spacewander commented on #3230
Let's move the discussion to https://github.com/apache/apisix/issues/7148 as this validation is already done.

[2022-05-27 01:08] #3230 closed

[2022-05-27 01:17] lemonrains commented on #7136
Thank you for your reply. Finally I config response-rewrite plugin in order to redirect to `/`. Maybe it's my mistake, I'll check it later if it's relate to the new version.

[2022-05-27 02:17] bingoku commented on #7136
你看上图我的规划路由 A 本来应该访问到 B，但是会访问到了 C D E 感觉像是 host 没匹配到。
我尝试过 指定service 的 host、router 的host，以及他们的优先级都没有解决 2.14 中的错乱。

经过上述操作后，我回滚2.13.1后就恢复正常了。

[2022-05-27 02:53] kwanhur commented on #7148
[WeOpen Star]I would like to help.

Please assign it to me.

[2022-05-27 03:04] soulbird commented on #7141
In the case of multiple processes, if the process hit by the request and the process hit by the api are not the same, the health check information cannot be obtained

[2022-05-27 03:45] kwanhur opened #7149 "help request: can not load image of the plugin response-rewrite important tips for `ngx.exit`"
### Description

[response-rewrite](https://apisix.apache.org/docs/apisix/plugins/response-rewrite/) important tips image for `nginx.exit` load failed.

Note:
* My PC couldn't connect to [image server](https://cdn.jsdelivr.net/gh/Miss-you/img/picgo/20201113010623.png).
![sendpix0](https://user-images.githubusercontent.com/1792134/170624804-c8630266-e21c-4691-ab4e-3a9ae7bb6eeb.jpg)

https://github.

[2022-05-27 04:52] believe1499 commented on #7145
Can you provide a example how to support ssl for mqtt-proxy, include config.yaml and stream routes config.
host=test.apisix.com, the host of certificate file.

[2022-05-27 05:07] spacewander commented on #7148
I think about it again. Maybe @apit has the priority to get this work? As he/she pointed it out first.

[2022-05-27 06:10] spacewander commented on #7140
LGTM. Would you like to contribute to this plugin and write a detailed proposal?

[2022-05-27 06:21] spacewander commented on #7140
Two suggestions about this:
1. better to avoid `auth` in the name of this plugin so it won't be misunderstood as a client authentication plugin.
2. maybe we can reserve some places in this plugin to support more authentication methods in the future.

[2022-05-27 06:34] soulbird commented on #7144
As far as I know, there is currently no support for dynamically enabling plugins based on rules at runtime.

[2022-05-27 06:50] kwanhur commented on #7132
Take me the curious, where's the `13` from? Any document describes about it? @tzssangglass

[2022-05-27 07:43] jagerzhang commented on #7140
或许可以叫做  upstream-auth，用于和上游鉴权的一个插件，可以支持多种认证方式，比如Basic Auth、Key Auth、Digest Auth等

[2022-05-27 08:38] Jadesource commented on #5591
I also encountered this problem.  array of custom objects  is lost

[2022-05-27 09:13] tokers commented on #7132
`13` resources (route, upstream, ...)

[2022-05-27 09:16] tokers commented on #7136
This is useless for troubleshooting. Could you show some configs for us so that we can reproduce it?

[2022-05-27 09:57] andrewgkew opened #7152 "help request: No slack channel in ASF foundation slack workspace"
### Description

Hi

I have followed your docs here: https://apisix.apache.org/docs/general/join/ but when in the ASF workspace and browse for channels there is no apisix channel? Can someone help?

Thanks

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `

[2022-05-27 10:04] #4294 closed

[2022-05-27 10:19] moonming commented on #7152
![image](https://user-images.githubusercontent.com/26448043/170681099-536fc2dd-c7e6-4079-93ac-9665c7ce0b28.png)
You need to search for apisix in "Browse Channels"

[2022-05-27 10:20] moonming commented on #7152
Click on the three dots after the "Channels"

[2022-05-27 10:38] believe1499 opened #7153 "help request: APISIX如何配置支持SSL的MQTT转发"
### Description

需求：有一个启用SSL的MQTT服务想通过APISIX的mqtt-proxy进行转发，当前是通过Nginx的4层代理进行转发的，Nginx当前的配置比较简单，配置如下：
 `upstream qa-live.test.net_pool {
                server 172.28.48.58:8883;
        }
        server {
                listen 8883;
                proxy_pass qa-live.test.net_pool;
        }`
之前也提过问题https://github.com/apache/apisix/discussions/7151 ，根据回答做了相关配置还是不行，所以想再请教一下这块应该怎么去配置。下面会把之前配置之后的报错

[2022-05-27 10:48] believe1499 commented on #7153
1、通过dashboard上传了证书的cer和key文件，对应的sni是*.test.net和test.net
2、config.yaml的配置如下：
`apisix:
  admin_key:
    - name: admin
      key: edd1c9f034335f136f87ad84b625c8f1  # using fixed API token has security risk, please update it when you deploy to production environment
      role: admin
  stream_proxy:
    only: true
    tcp:
      - 9100
      - 9200
      - addr: 8883
        tls: true`
3、新增stream rout

[2022-05-27 10:52] Jadesource opened #7154 "bug: [grpc transcoding] Can not convert protobuf message's sub array message from json input"
### Current Behavior

grpc-transcode插件转码  对于自定义对象的数组类型    丢失参数

### Expected Behavior

_No response_

### Error Logs

apisix无错误日志

### Steps to Reproduce

step1:  在vm环境启动apisix，路由上配置grpc-transcode插件，如图：
![图片](https://user-images.githubusercontent.com/30541377/170684336-bd8ba575-0f1f-4a7b-9ad7-8e3b87cf6c8d.png)
step2:  在官网链接，下载grpc-example带代码，增加一个method，proto如下：
![图片](https://user-images.githubuser

[2022-05-27 10:58] Jadesource commented on #5591
@spacewander @nic-chen   能帮忙看下吗？

[2022-05-27 11:00] Jadesource commented on #7154
@spacewander  @nic-chen  能帮忙看下吗？

[2022-05-27 11:36] andrewgkew commented on #7152
Thanks @moonming - this is the right workspace right?

<img width="304" alt="image" src="https://user-images.githubusercontent.com/2614141/170691814-bfeb3d5e-8740-44c8-9266-0a46c00ed480.png">

For some reason I can only find the skywalking channel and no others?

[2022-05-27 11:47] andrewgkew commented on #7152
Could you maybe look for myself in the workspace and see if I am limited to access? I tried to DM you but cant find you in there either?

[2022-05-27 12:05] andrewgkew commented on #7152
@wu-sheng is helping me with this now, seems that I have a guest account which is why I can not find any other channels.

[2022-05-27 14:07] andrewgkew commented on #7152
I now have access to the apisix channel.

[2022-05-27 14:07] #7152 closed

[2022-05-27 15:16] zuiyangqingzhou opened #7155 "bug: upgrading openresty to 1.21.4.1 causes startup failures"
### Current Behavior

lua ./apisix/cli/apisix.lua start
apisix[20631]: lua: error loading module 'ssl.core' from file '/usr/local/apisix/
apisix[20631]: /usr/local/apisix/deps/lib/lua/5.1/ssl.so: undefined symbol:
apisix[20631]: stack traceback:
apisix[20631]: [C]: ?
apisix[20631]: [C]: in function 'require'
apisix[20631]: /usr/local/apisix/deps/share/lua/5.1/ssl.lua:8: in main chunk
apisix[20631]

[2022-05-27 19:29] rjiang-ptm commented on #7147
The scenario is very typical - basically one user/consumer can access multiple apps (appIds), each app may have its own url/endpoint/auth defined in wolf.

[2022-05-28 05:04] tzssangglass commented on #7141
That's the truth.

But I don't think it's a problem. In actual use, it only happens for a very short period of time when APISIX starts up. It's just that this phenomenon is amplified in testing.

As the requests increase, each worker processes the request and returns healthcheck data.

[2022-05-28 06:15] Jadesource commented on #7154
/apisix/plugins/grpc-transcode/util.lua  map_message函数有bug，递归替换defualt value时，使用 table[name]无法获取数组对象导致。
![图片](https://user-images.githubusercontent.com/30541377/170812917-6265fda6-b447-4ef1-8b25-20a7d619f020.png)

[2022-05-28 06:15] #7154 closed

[2022-05-28 06:17] Jadesource commented on #5591
@xiaokunliu    code  bug
lua table[name]  can't  convert array object
![图片](https://user-images.githubusercontent.com/30541377/170812946-9e3878c0-7def-4cb8-862b-95b9a4b271dd.png)

[2022-05-28 14:39] amrellafy opened #7159 "bug: hook_conf must be present in debug.yaml, otherwise it will throw an exception"
### Current Behavior

if hook_config is not present, the following exception will be thrown

`apisix attempt to index local 'hook_conf' (a nil value)`

https://github.com/apache/apisix/blob/aefffe914f9f3ec187d3db6688c02d22785cf400/apisix/debug.lua#L171 should include a check.

### Expected Behavior

not throwing an error if hook_conf is not present.

### Error Logs

_No response_

### Steps to Rep

[2022-05-29 02:36] juzhiyuan commented on #7149
![image](https://user-images.githubusercontent.com/2106987/170849580-aa296d3d-b43a-404a-8c88-720afb2b7c08.png)

Hi, @kwanhur, this is because jsDelivr is effected by GFW, I just uploaded this image to GitHub's Image Server, could you please file a PR to update it?

[2022-05-29 02:38] juzhiyuan commented on #7149
One day if we have a sponsored CDN server, we could even scan all static files and `https://user-images.githubusercontent.com` files and then upload them to CDN.

[2022-05-29 02:49] juzhiyuan commented on #7126
Hi @jamesislebron @SkyeYoung, this issue has been fixed in the latest docs, refer to https://apisix.apache.org/docs/apisix/stream-proxy/

[2022-05-29 02:49] #7126 closed

[2022-05-29 11:31] spacewander commented on #7155
Fixed in https://github.com/apache/apisix/pull/7067.

[2022-05-29 11:31] #7155 closed

[2022-05-29 12:01] #6743 closed

[2022-05-29 12:06] spacewander commented on #7159
The hook_conf is present by default:
https://github.com/apache/apisix/blob/1c33ab28f6d0aa5b0b7265185a1725bd3794dbc7/conf/debug.yaml#L22

Are there some user cases people need to remove the default  hook_conf?

[2022-05-29 12:12] spacewander commented on #7144
We can add a filter like what we have done with xRPC loggers:
https://github.com/apache/apisix/blob/master/docs/en/latest/xrpc.md#log-reporting

[2022-05-29 12:15] spacewander commented on #7140
To me, `upstream-auth` looks similar to `jwt-auth`. What about `proxy-credential`?

[2022-05-29 14:20] amrellafy commented on #7159
per the documentation, hook_conf is only required in advanced debugging.

[2022-05-30 01:09] tokers commented on #7153
@believe1499 The wildcard match of the SNI is limited to just one level.

[2022-05-30 01:11] tzssangglass commented on #7159
`hook_conf` is part of the `debug.yaml` structure. Just because it is needed for advanced debugging does not mean that it can be removed if advanced debugging is not enabled.

But we could be clearer on this point in the documentation?

[2022-05-30 01:39] tzssangglass commented on #7153
`qa-live.test.net` can't match `*.test.net`? It looks like it should match.

Obviously this is an SNI match failure and I need to know what this certificate you uploaded is stored as in etcd. (Since you uploaded it in dashboard, I'd actually like to know the format you uploaded it in curl, so I can reproduce it quickly)

[2022-05-30 02:13] spacewander commented on #7159
Or we can add validation to https://github.com/apache/apisix/blob/master/apisix/debug.lua,  with jsonschema like https://github.com/apache/apisix/blob/master/apisix/cli/schema.lua.

[2022-05-30 02:36] isDerek opened #7162 "help request: etcd connection refused. Retryin.."
### Description

when i start the apisix service, wait a moment, the etcd will report the errors.
1. "[lua] v3.lua:647: request_chunk(): http://[ip]:32002: connection refused. Retrying, context: ngx.timer"
2. " [lua] health_check.lua:90: report_failure(): update endpoint: http://xxxx:32002 to unhealthy, context: ngx.timer"
3. [lua] v3.lua:647: request_chunk(): has no healthy etcd endpoint availabl

[2022-05-30 02:59] isDerek commented on #7162
the apisix so many worker process, is normal?  number is 36.

[2022-05-30 03:15] Horus-K opened #7163 "bug: route matching host error"
### Current Behavior

![image](https://user-images.githubusercontent.com/48319268/170910682-2d5e8b8a-94cb-43cb-bde6-60c2132dba23.png)
![image](https://user-images.githubusercontent.com/48319268/170910630-77dddcd5-c84a-4aa1-95ad-62e1031bd304.png)

I use the exact domain name to access xxxx.xxxx.xxxx.com and the route matched is id:1047。 If I adjust the id: 1314 priority to 10, the route id: 1314 wi

[2022-05-30 04:17] isDerek commented on #7162
i check the etcd connect in apisix node. it's so many. the etcd connection won't be released?

[2022-05-30 05:12] spacewander commented on #7163
Any routes which match more than path are considered equal and should be distinguished by priority. Otherwise the order to match depends on the actual implementation.

[2022-05-30 05:35] Horus-K commented on #7163
I understand

[2022-05-30 05:35] #7163 closed

[2022-05-30 06:24] isDerek commented on #7162
we use nodeport type for etcd it's error, the etcd in the other k8s(vm). but when we use clusterIp for etcd. the etcd in the current k8s, it's ok.

[2022-05-30 06:24] isDerek commented on #7162
why the nodeport type for etcd can't run normal?

[2022-05-30 07:30] kwanhur commented on #7149
I'll post a PR to update it, but will we still post it with an image file? How about plaintext table?

[2022-05-30 07:40] believe1499 commented on #7153
I uploaded the wrong certificate, It works correctly now. Thank you!

[2022-05-30 07:40] #7153 closed

[2022-05-30 07:46] bingoku commented on #7136
如何提供更多信息？有其它沟通方式吗？微信什么，我这边是 100% 可与复现。

[2022-05-30 08:28] tao12345666333 opened #7164 "help request: Alternatives to Semantic Pull Requests"
### Description

Currently we are using [Semantic Pull Requests](https://github.com/zeke/semantic-pull-requests ) to check in PR but the project is no longer maintained. we need some alternatives.

e.g.

* https://github.com/amannn/action-semantic-pull-request

If anyone is interested in this, please submit a PR to complete this replacement

[2022-05-30 09:17] amrellafy commented on #7159
For sure, maybe make it clearer. Thanks!

[2022-05-30 09:22] tokers commented on #7162
@isDerek Have you ever tried to connect ETCD by `etcdctl`?

[2022-05-30 12:06] isDerek commented on #7162
i enter the apisix node, and put the etcd data ,it' will be ok.  but the apisix logs notify many reconnected errors.

[2022-05-30 12:11] isDerek commented on #7162
the apisix k8s has many apisix pod. it will be error in svc load?

[2022-05-30 13:08] worldwonderer opened #7167 "bug: proxy-cache plugin generate_complex_value may fail due to concat nil values"
### Current Behavior

if proxy-cache plugins configures cache_key with ["$arg_a", "$arg_b"] and $arg_a and $arg_b are both nil, apisix will abort with error.

I think it is quite normal that api has not required args, can this line `tmp[i] = ctx.var[string.sub(value, 2)]` change to `tmp[i] = ctx.var[string.sub(value, 2)] or ""`? if it is acceptable, i would like to submit a PR.

### Expected Behav

[2022-05-30 14:04] soulbird commented on #7167
Welcome to contribute PR！

[2022-05-31 01:06] LancCJ opened #7169 "help request: How to configure the front-end interface proxy to request special symbols for linking at the same time?"
### Description

hi,guys.i have a problem.the situation is i want to proxy the front-end interface(page),and my page url is `https://dispatch.testdolphin.com/dispatch-ms/#/conference/single_url?ipc_live=1&gbids=32050700001320000174`,so i configure it like this below:
<img width="657" alt="image" src="https://user-images.githubusercontent.com/2968042/171073251-ccf8d81f-b1ef-4053-aa10-7ad28e0e1cd2.p

[2022-05-31 01:16] tokers commented on #7169
It looks like your upstream server sent `404`? The response body you gave doesn't like a result from Apache APISIX.

[2022-05-31 01:18] LancCJ commented on #7169
@tokers yes ,you are right,because the symbol orignal is '# 'but now is '%23',so 404,i want to know how to keep symbol '#'

[2022-05-31 01:19] tokers commented on #7162
It's tough to judge. So you configure the ETCD service cluster IP to APISIX?

[2022-05-31 01:21] tokers commented on #7169
`#` is just an anchor and will be ignored by Apache APISIX? Not sure if escaping it can solve your problem.

[2022-05-31 01:37] tzssangglass commented on #7169
Similar to this issue: https://github.com/apache/apisix/issues/5654

Reason: https://github.com/apache/apisix/issues/5654#issuecomment-986250154

Solution 1: https://github.com/apache/apisix/issues/5654#issuecomment-1082523526

Solution 2: https://github.com/apache/apisix/issues/5654#issuecomment-1123198180

Perhaps we should add this point to the documentation.

[2022-05-31 01:38] LancCJ commented on #7169
ok, tks

[2022-05-31 01:49] LancCJ commented on #7169
i change the route config json like this below
<img width="691" alt="image" src="https://user-images.githubusercontent.com/2968042/171076881-b768d6fb-e362-442b-9b80-9b618ba2229b.png">
it is ok now
<img width="1267" alt="image" src="https://user-images.githubusercontent.com/2968042/171076911-1b6aac04-266f-4157-a4ac-57bb045427dc.png">

[2022-05-31 01:52] LancCJ commented on #7169
change route config json like above setting can fix my peoblem

[2022-05-31 01:52] #7169 closed

[2022-05-31 02:18] kwanhur commented on #7132
Thanks very much for @tokers .

From etcd, I found resources should be include

1. `/apisix/consumers/`
2. `/apisix/gen_id`
3. `/apisix/global_rules/`
4. `/apisix/plugin_configs/`
5. `/apisix/plugin_metadata/`
6. `/apisix/plugins/`
7. `/apisix/proto/`
8. `/apisix/routes/`
9. `/apisix/services/`
10. `/apisix/ssl/`
11. `/apisix/stream_routes/`
12. `/apisix/upstreams/`

[2022-05-31 02:24] tzssangglass commented on #7132
and `server-info` plugin would use `/apisix/data_plane/` by default

[2022-05-31 03:34] VineFiner opened #7172 "request help: use https"
### Issue description

If I set `--set gateway.tls.enabled=true.`
And turn on redirect to https in the dashboard. will redirect to port `9443`.
If it is not set, the https URL cannot be opened.

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):2.13
- your Kubernetes cluster version (output of kubectl version):v1.23.6+k3s1
- if you run a

[2022-05-31 07:08] amrellafy commented on #7159
Sure, if you get access to push.

[2022-05-31 08:16] kevinw66 opened #7173 "help request: high vsz usage when downloading file(500M)"
### Description

When downloading file through rest api, I see the worker process vsz use about 35G, normal it only needs 200M, see picture as below
![image](https://user-images.githubusercontent.com/31196226/171125384-66025b13-9718-4bf3-b3cc-ec95f8e08701.png)

Then the system kill this nginx worker, and the download was terminated.
`java.io.IOException: org.apache.http.ConnectionClosedException:

[2022-06-01 01:30] isDerek commented on #7162
yes.

[2022-06-01 02:24] kevinw66 commented on #7173
Hi, this is RSS and VSZ value of this worker, it's no much different
![image](https://user-images.githubusercontent.com/31196226/171314886-e88b9a4e-633a-40f8-8793-a625a38aa36a.png)

here is my route configuration
[code]

[2022-06-01 02:49] kevinw66 commented on #7173
Hi, this is the problem of my custom plugin.
Can I ask what tools can I use to find out which exactly code cause this memory leak?

[2022-06-01 03:11] tzssangglass commented on #7173
We can use the flamgraph to find memory leaks.

see: https://github.com/openresty/stapxx#sample-bt-leaks

[2022-06-01 03:14] isDerek commented on #7162
one question: different apisix service can connect the same etcd ?

[2022-06-01 03:22] kevinw66 commented on #7173
Thanks

[2022-06-01 03:22] #7173 closed

[2022-06-01 06:23] tutuV opened #7176 "help request: how to proxy grpc without using plugins?"
### Description

route:
{
  "uri": "/persion.Greeter/SayHello",
  "name": "test-grpc",
  "methods": [
    "POST"
  ],
  "upstream_id": "410253309387997998",
  "status": 1
}

upstream:
{
  "nodes": [
    {
      "host": "192.168.1.21",
      "port": 8080,
      "weight": 1
    }
  ],
  "timeout": {
    "connect": 6,
    "send": 6,
    "read": 6
  },
  "type": "roundrobin",
  "scheme": "grpc",
  "pa

[2022-06-01 06:31] spacewander commented on #7159
PR is welcome!

[2022-06-01 07:11] kongjun01 opened #7178 "help request: about eureka when apisix reload"
### Description

when apisix the reload, the eureka data is not ready (fetch_full_registry is not over), and there are many 502. Is there any solution.

### Environment

- APISIX version (run `apisix version`):2.10.5
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- A

[2022-06-01 08:50] wulinghui opened #7180 "help request: The port of the Management API cannot be started after streaming is enabled"
### Description

![image](https://user-images.githubusercontent.com/36905201/171364823-55a5e99d-1a33-4b35-b058-927f319fe386.png)
`port 9080: Connection refused`
![image](https://user-images.githubusercontent.com/36905201/171365035-489bda28-90bf-48c1-b93f-137b661a5948.png)

- config.yaml
![image](https://user-images.githubusercontent.com/36905201/171365441-860706de-204c-4a79-b850-0bb218c39a7e.png)

[2022-06-01 08:52] wulinghui commented on #7180
![image](https://user-images.githubusercontent.com/36905201/171366087-6aa1d2b1-57f2-4694-a8cd-352c1d1fd0a3.png)
![image](https://user-images.githubusercontent.com/36905201/171366222-d255c037-e345-4161-b2ac-cf43b2fccc33.png)

Note for the newly added configuration, port 9080 is up

[2022-06-01 09:02] tzssangglass commented on #7178
I think discovery mode has this problem if it's a large amount of data.

We should allow users to specify that they have to wait for the fetch data to finish before providing the service, then APISIX will be interrupted during reload.

[2022-06-01 09:36] soulbird commented on #7178
Looks like that's what it's doing now.

[2022-06-01 09:39] tzssangglass commented on #7178
For eureka, it's not.

[2022-06-01 09:46] kongjun01 commented on #7178
I considered that before.Our most front-end is Ali Cloud SLB, with a heartbeat mechanism.When the release is released, [-s quit], wait for SLB to think that APISIX has been offline, but there is a waiting time for heartbeat detection, during which SLB will still have traffic forward

[2022-06-01 09:53] kongjun01 commented on #7178
The etcd is also asynchronous with the ngx_timer_at function, so how does it guarantee that the apisix provides the service after the data is fully loaded with the etcd?

[2022-06-01 10:03] spacewander commented on #7180
Fixed in https://github.com/apache/apisix/pull/5867.
Consider solved. Feel free to reopen it if needed.

[2022-06-01 10:03] #7180 closed

[2022-06-01 10:06] #4343 closed

[2022-06-01 11:29] #7167 closed

[2022-06-01 19:57] mayoatte opened #7181 "help request: Does apisix support pkcs11?"
### Description

Hello,

Does apisix support or can it be made to support pkcs11? We have a hard requirement to terminate ssl with an hsm stored key via this protocol.

If this support is possible, can you please point me to any docs?

Thanks

### Environment

-

[2022-06-02 00:32] soulbird commented on #7181
This seems to be an issue with openssl. APISIX is built with openresty-openssl, which doesn't seem to include the pkcs#11 standard. Therefore, you may need to build APISIX from source, adjust the configuration file when compiling openssl, add support for pkcs#11; then use the `use_engine` directive in APISIX to set your preferred openssl engine. This is just a suggestion, not necessarily works. In

[2022-06-02 01:17] mygrsun opened #7182 "help request: is there any document to display the module "core"?"
### Description

when i develop a plugin ,i find there are many functions are in the "core" module.for example :
core.log
core.schema
core.json
core.response

so,is there any document to display which function we can use  in the plugin develop?
and i want to know  the usage of the function in the core.

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):

[2022-06-02 01:26] mygrsun commented on #7182
thank you

[2022-06-02 01:44] tzssangglass commented on #7182
Some of the functions in core have documented, but they are not yet complete.

[2022-06-02 02:04] VineFiner commented on #7172
Any progress?

[2022-06-02 02:13] tao12345666333 commented on #7176
[code]

yes. This is a very basic question. You just need to check the error message more carefully

[2022-06-02 02:35] tao12345666333 commented on #7172
You can view the progress of those two issues or comment on them

[2022-06-02 02:46] kwanhur commented on #7149
How about plaintext table instead of image for `ngx.exit`?

What's your opinion? @hf400159 @navendu-pottekkat

[2022-06-02 03:23] wulinghui commented on #7180
`only: false`    is  ok

[2022-06-02 03:50] membphis commented on #5246
hi @wbaweto

The weight calculation of rr is done in a single worker process.

If you want to compute between multiple workers, performance will decrease.

If you still have problems, you can reopen this issue.

[2022-06-02 03:50] #5246 closed

[2022-06-02 03:55] mayoatte commented on #7181
Thanks @soulbird , that gives me something to look into.

[2022-06-02 07:02] tutuV commented on #7176
@tao12345666333 i used grpc example and made a simple modification. In addition, apisix configuration also refers to the official website. Note that there is no GRPC plugin.

[2022-06-02 08:31] kwanhur commented on #7172
Maybe plugin [redirect](https://apisix.apache.org/docs/apisix/plugins/redirect) with `http_to_https` can help you.

[2022-06-02 08:50] liangyawang opened #7185 "bug: Independent external APIs cannot be automatically discovered by linking APIs servers"

[2022-06-02 08:58] tokers commented on #7178
See https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L159. That's the default behavior.

[2022-06-02 09:01] tokers commented on #7164
May use git submodule to do this.

[2022-06-02 09:24] tao12345666333 commented on #7164
Right!

[2022-06-02 09:45] spacewander commented on #7185
Could you add a log
[code]
in https://github.com/apache/apisix/blob/4562875348fdaab3cb05e6df8aecf0604fa6e157/apisix/discovery/kubernetes/informer_factory.lua#L48?

[2022-06-02 10:29] younglifestyle opened #7186 "help request: grpc-transcode not work"
### Description

apisix dashboard: , apisix：2.14.1

Start with [apisix-docker](https://github.com/apache/apisix-docker), add [grpc_server_example](https://github.com/api7/grpc_server_example), follow the documentation [grpc-transcode.md](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/grpc-transcode.md), the interface cannot be accessed

[code]

### Environment

- APISIX versio

[2022-06-02 10:36] sasakiyori opened #7187 "bug: enable_websocket be set to true in upstream_id config does not work"
### Current Behavior

I register a route by script like below:
[code]

When I call the request, I found in upstream nodes,  `Connection` and `Upgrade` was not in the request headers, `enable_websocket` did not work.

### Expected Behavior

I expects `enable_websocket` will work, and the request headers should contain `Connection` and `Upgrade`.

Actually when I use `upstream` directly instead of u

[2022-06-02 10:48] navendu-pottekkat commented on #7149
Both table and image on a different CDN sound like good ideas. I think @juzhiyuan is suggesting to use the image hosted on GitHub CDN. So, it should just be swapping the link.

[2022-06-02 14:39] spacewander commented on #7187
enable_websocket should be configured in the route. As you can find out that it's missing in the upstream's doc. We keep the old code just for the compatible but it doesn't mean it can work with upstream_id.

I am curious why you will set it in the upstream as this field should already be removed from the doc?

[2022-06-02 16:33] sasakiyori commented on #7187
I have already forgotten where I read the usage of setting it in the upstream.😂
When I found `upstream` can work but `upstream_id` can't, I read the source code and thought this might be a bug.
Since `enable_websocket` no longer work for `upstream_id`, I will configure it in the route :)

[2022-06-02 16:33] #7187 closed

[2022-06-03 04:13] colmbrady opened #7190 "Keycloak Authz should support Claim Information Point"
### Description

I am evaluating the Keycloak Authz plugin so that I can enforce Authorisation using Keycloaks Authorisation Engine.

I am using ABAC policies in Keycloak to enforce authorisation using Javascript (https://www.keycloak.org/docs/latest/authorization_services/#_policy_js).

I need to enforce (in my javascript) that the HTTP Request URI received by ApiSix matches some information I ha

[2022-06-03 11:06] liangyawang commented on #7185
您好 请问您会讲中文吗 如果会的话 我向您提问一下 这行代码加在lua文件的什么位置？
还有个问题，当我把配置中的token_file改位token时它不再出现报错 但是我也不能确定它是否获取到了对应的endpoints

[2022-06-03 15:24] jwrookie commented on #7186
According to your description, I tested it and the result is ok.
[code]

You need to provide more detailed information for find the problem.

BTW In a test environment, you can delete the local `docker volume of etcd` and try again,

[2022-06-04 00:41] LancCJ opened #7192 "help request: admin API access exception"
### Description

hi guys,Today, I installed the latest version of apifix branch release/2.14 on a new centos7 x64 machine.After everything is deployed according to the document, try to access the URL  `http://my_ip:9080/apisix/admin/services/` according to the document.However, the following error occurred
<img width="832" alt="iShot_2022-06-04_08 35 08" src="https://user-images.githubusercontent.

[2022-06-04 04:05] tzssangglass commented on #7192
I couldn't reproduce it, here are the steps I tried to reproduce it.

1. The version I use: https://github.com/apache/apisix/commits/release/2.14

2. Start APISIX and access

[code]

[2022-06-04 04:21] tzssangglass commented on #7176
The following is related to APISIX processing of the gRPC protocol

1. gRPC Web Client -> APISIX -> gRPC server
use `grpc-web` plugin.

2. HTTP(s) -> APISIX -> gRPC server
use `grpc-transcode` plugin

3. gRPC server -> APISIX -> gRPC server
use

[code]

Depending on your needs, select the plugin or specify the upstream schema.

[2022-06-04 04:33] tzssangglass commented on #7162
It looks like this is due to APISIX not being able to access etcd properly according to the etcd endpoint you configured.

You can enter the APISIX pod and access etcd according to the etcd endpoint you configured to check the network.

[2022-06-04 04:34] tzssangglass commented on #7190
cc @starsz

[2022-06-04 04:39] LancCJ commented on #7192
Let me describe my error mode installation process.First, I clone the address code directly https://github.com/apache/apisix.Then switch to release/2.14.I follow the document https://apisix.apache.org/zh/docs/apisix/2.13/how-to-build#%E9%80%9A%E8%BF%87%E6%BA%90%E7%A0%81%E5%8C%85%E5%AE%89%E8%A3%85  Then an error occurred.

Later, according to @juzhiyuan  `s  opinion,so  i change APISIX_VERSION='2.1

[2022-06-04 04:40] LancCJ commented on #7192
change APISIX_VERSION='2.14.1' reinstall,now it is ok.

[2022-06-04 04:40] #7192 closed

[2022-06-04 04:42] tzssangglass commented on #7185
In the line above this line of code: https://github.com/apache/apisix/blob/4562875348fdaab3cb05e6df8aecf0604fa6e157/apisix/discovery/kubernetes/informer_factory.lua#L48

The new code was added to print what `apiserver ` is.

[2022-06-04 06:55] liangyawang commented on #7185
请回复一下这个问题

[2022-06-04 07:56] tzssangglass commented on #7185
This log indicates that APISIX was unable to query valid IP from kubernates based on `service_name`. From the information you provided it is hard to tell where the problem is.

I didn't find an article describing this in detail either.

You can choose to read the source code to understand it.

Or you can try the suggestion above to add log output and let's locate the problem together.

[2022-06-04 08:11] juzhiyuan commented on #7149
Yes.

[2022-06-04 10:04] #4372 closed

[2022-06-05 02:05] spacewander commented on #7190
@colmbrady
PR is welcome!

[2022-06-05 02:10] spacewander commented on #7187
@sasakiyori
Would you like to remove the `enable_websocket` in the upstream completely? As it is considered deprecated in 2020.

[2022-06-05 06:25] tokers commented on #7162
@isDerek You can use the ephemeral pod if APISIX pods cannot start normally.

[2022-06-05 14:04] starsz commented on #7190
Hi @colmbrady.
Can you introduce the situation that supports `Claim Information Point`?
I am a little confused.

[2022-06-06 00:50] sasakiyori commented on #7187
@spacewander  Do you mean completely remove the logic about `enable_websocket` in the upstream from the code? If so, I want to work on this.

[2022-06-06 01:15] jinghuaz commented on #7129
Hi,remember to notify or update the status of any updates.

[2022-06-06 02:05] liangyawang commented on #7185
请问一下是否能够提供一个通过api创建自动发现类型为kubernetes的路由的例子

[2022-06-06 02:11] #7141 closed

[2022-06-06 05:34] tzssangglass commented on #7185
hi @zhixiongdu027 , can you provide some examples?

[2022-06-06 06:13] spacewander commented on #7187
Yes, PR is welcome!

[2022-06-06 06:56] #7176 closed

[2022-06-06 07:50] zhendongcmss commented on #6744
where do those docs will place ?

[2022-06-06 07:53] gotosre opened #7198 "bug: apisix kafka-logger output json array, not json object"
### Current Behavior

[
{第一条日志},
{第二条日志},
...
{第N条日志}
]

### Expected Behavior

{第一条日志}
{第二条日志}

### Error Logs

_No response_

### Steps to Reproduce

not clear

### Environment

apisix 2.9

kafka-logger  metadata:
`{"count":"1","action":"get","node":{"key":"\/apisix\/plugin_metadata\/kafka-logger","value":{"log_format":{"response_time":"$upstream_response_time","x-screen-width":"$http_x_screen_w

[2022-06-06 08:19] juzhiyuan commented on #7185
Updated: https://the-asf.slack.com/archives/CUC5MN17A/p1654503566448579?thread_ts=1654480287.905789&cid=CUC5MN17A

[2022-06-06 08:39] soulbird commented on #7198
We use the method of uploading logs in batches instead of sending them individually, which will affect performance.

[2022-06-06 08:42] soulbird commented on #6694
We moved it here: https://github.com/apache/apisix/blob/master/ci/common.sh#L84

[2022-06-06 09:06] gotosre commented on #7198
kafka producer support batch producing in native

[2022-06-06 09:15] spacewander commented on #7172
Solved in https://github.com/apache/apisix/pull/7065

[2022-06-06 09:15] #7172 closed

[2022-06-06 09:15] Fatpa commented on #6694
According to your test cases, `127.0.0.2` can't visit, right?

[2022-06-06 09:50] Fatpa commented on #6694
I try to reproduce it and it happens again.
My test router and upstream configs are below:
[code]

[2022-06-06 10:04] Fatpa commented on #6694
When I use Consul DNS Service and dig the `pushgateway.service.xxx.consul` with SRV, the `;; ANSWER SECTION:` output is random but not sorted list.

[2022-06-06 10:24] spacewander commented on #6694
Could you paste some of the random output?

[2022-06-06 10:44] Fatpa commented on #6694
[code]

[code]

[2022-06-06 10:55] liangyawang opened #7199 "docs: about apisix discovery for kubernetes"
### Current State

In my token file at that time, only the token string was pasted without any other fields

When I help with troubleshooting through team members, the troubleshooting process is as follows:

### Desired State

- Display service information
[code]

- Show the route creation method of the corresponding service
Since the dashboard does not support routes of kubernetes type, it is cre

[2022-06-06 13:04] tzssangglass commented on #6694
No, in my test case, `127.0.0.2` can be visited. `127.0.0.1` ~ `127.0.0.8` all point to the local loopback.

[2022-06-06 13:07] tzssangglass commented on #6694
Have you tried this: https://github.com/apache/apisix/blob/master/docs/en/latest/discovery/consul_kv.md

[2022-06-06 22:41] colmbrady commented on #7190
Hi @starsz

The aim is to use ApiSix as a Policy Enforcement Point (PEP) so that we can enforce authorisation. https://www.keycloak.org/docs/latest/authorization_services/#_enforcer_overview

Our use-case for CIP is to confirm that information in the Request URI matches claims in the Keycloak JWT. We can not do this currently because Api Six is unable to pass Request URI to Keycloak as a claim.

H

[2022-06-06 22:49] colmbrady commented on #7190
I would also be curious if ApiSix is suitable to enforce UMA authorisation also.

https://www.keycloak.org/docs/latest/authorization_services/#_service_uma_authorization_process

Would ApiSix be able to request a Ticket from Keycloak if a Resource Server returned a 403? Our Resource Server does not know how to get a ticket from Keycloak... but ApiSix could do it.

Use-case here is to make a legacy

[2022-06-07 01:06] tokers commented on #7199
In my token file at that time, only the token string was pasted without any other fields

Maybe this is a bug and should be fixed. cc @tzssangglass @spacewander

[2022-06-07 01:29] juzhiyuan commented on #7199
related thread https://the-asf.slack.com/archives/CUC5MN17A/p1654480287905789

[2022-06-07 01:31] juzhiyuan commented on #6744
👋 @PGDream, please provide details information.

You can use Chinese to describe this question in detail and use https://fanyi.baidu.com/ to translate.

[2022-06-07 02:12] spacewander commented on #7199
There is an issue to track it: https://github.com/apache/apisix/issues/7185
But we still don't know how to reproduce it.

[2022-06-07 02:23] liangyawang commented on #7199
As you can see, this file is my token file, but it contains only token and no other fields

When I annotate the token field, open the token file field, and then restart apisik, an error will be reported in the last screenshot. You can compare the contents of my token field with those in the token file

[2022-06-07 02:34] tzssangglass commented on #6694
I know your problem. You misunderstood, the key in my test case is `device_id`, not `request_uri`.

[2022-06-07 02:35] tzssangglass commented on #6694
And I would like to know how to build the Consul DNS Service you mentioned to reproduce it.

[2022-06-07 02:44] Fatpa commented on #6694
In my environment, set up Consul Server cluster with ports.DNS = 53 parament. Using Consul Agent with service config to register Pushgateway into Consul, the config detail is below:
[code]
The other port configs are the same as it, but different port setting.

[2022-06-07 02:49] Fatpa commented on #6694
Emmmmmm, I know the key is `arg_device_id`. My confusion is about there is no comparison with the different endpoints.

[2022-06-07 03:23] soulbird commented on #7198
Apache APISIX uses a custom batch-processor: https://github.com/apache/apisix/blob/master/docs/en/latest/batch-processor.md. You can set `batch_max_size` to 1

[2022-06-07 03:34] soulbird commented on #7198
Maybe we can let users choose to use kafka's [batch method](https://github.com/doujiang24/lua-resty-kafka#send) or APISIX custom's batch-processor.cc @bzp2010 @spacewander

[2022-06-07 03:44] foxchenlei opened #7202 "feat: apisix discovery for kubernetes support multi service_name"
### Description

Description
apisix：2.13.1

apisix discovery for kubernetes support multi service_names

[code]

Environment
APISIX version (run apisix version): 2.13.1
Operating system (run uname -a): docker
OpenResty / Nginx version (run openresty -V or nginx -V): 19.0.1
etcd version, if relevant (run curl http://127.0.0.1:9090/v1/server_info): 3.4.15
APISIX Dashboard version, if relevant: 2.13

[2022-06-07 03:45] juzhiyuan commented on #7199
@liangyawang it's `apisix`, not `apisik`.

@liangyawang Maybe you could use Chinese to write very details steps, and then Zexuan could reproduce.

[2022-06-07 03:53] liangyawang commented on #7199
如您所见，此文件是我的令牌文件，但它只包含令牌，不包含其他字段

当我注释token字段 打开token_file字段，然后重新启动apisix，就会发生邮件中最后一个截图的报错，你可以看一下我图1和图2中的token是一模一样的只不过 一个是存放在文件中 一个是字符串的形式

这是报错

[2022-06-07 06:45] gotosre commented on #7198
ty，栓Q，it works

[2022-06-07 06:45] gotosre commented on #7198
love u.

[2022-06-07 06:47] gotosre commented on #7198
but not all log collector support this style.

[2022-06-07 07:33] tao12345666333 commented on #7199
cc @zhixiongdu027

[2022-06-07 08:03] zhixiongdu027 commented on #7199
不好意思，我现在才来看到信息，
我将在今晚尝试复现和修复这个问题。

[2022-06-07 08:47] younglifestyle commented on #7186
proto file :
![image](https://user-images.githubusercontent.com/19261307/172337448-3bf644d3-120e-44c2-8c16-91508ff5cedc.png)

create route:
[code]
above is my configuration

[2022-06-07 09:22] soulbird opened #7205 "feat: As a user, I want to get more accurate performance test data for APISIX by benchmark script"
### Description

 As a user, I want to get more accurate performance test data for APISIX, but the [benchmark script](https://github.com/apache/apisix/blob/master/benchmark/run.sh) has some problems：
1、The directive to modify `worker_processes` is incorrect.
2、The server sometimes fails to start successfully.
3、During performance testing, APISIX cannot be started by docker
4、When using a pure reve

[2022-06-07 10:02] zhixiongdu027 commented on #7185
抱歉抱歉，我现在才看到此信息。
我将在今晚尝试复现和修复此问题，

根据报错信息显示，我初步怀疑跟
apiserver 的初始化有关。

[2022-06-07 12:28] Gajuanlaw9 opened #7206 "API"
https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2F18F%2FAPI-All-the-X%2Fedit%2F18f-pages%2Fpages%2Fbenefits_of_apis.md

[2022-06-07 12:51] zhixiongdu027 commented on #7185
I'm sorry, I've done several scene simulations locally and can't reproduce the situation in the picture.

Maybe the problem is related to the cluster configuration,

Is it convenient for me to communicate quickly through Im (wechat ,qq, mail) to solve this problem?
You can send your qq,wechart to my mail (root@libssl.com)
@liangyawang

[2022-06-07 15:18] starsz commented on #7190
Oh, thank you for explaining this patiently. Now I think it's an excellent idea to support Claim Information Point.

Another question, why should APISIX request a Ticket if a Resource Server returned a 403 ?
IMO, I think client should send another request to get a ticket from APISIX.

[2022-06-07 21:57] colmbrady commented on #7190
Ive thought about ApiSix and UMA a little more and Im not 100% sure its a good idea to let ApiSix manage UMA tickets. But, I'll outline my thinking here, and lets see what you think.

With UMA protocol, the "policy enforcers" job (ApiSix in my example) expects an RPT (Requesting Party Token) Bearer JWT to be sent by the client when accessing the Resource Server.

ApiSix could introspect the client

[2022-06-07 23:53] colmbrady commented on #7190
Here is the information about creating a UMA ticket, https://www.keycloak.org/docs/latest/authorization_services/#creating-permission-ticket

How would ApiSix know what resource the client is trying to access? This is why I think it is hard for ApiSix to create the ticket.

[2022-06-08 01:07] tokers commented on #7206
@Gajuanlaw9 Could you show the specific problem that you met?

[2022-06-08 01:12] tokers commented on #7202
@foxchenlei Could you share with us some scenarios that you might meet?

[2022-06-08 01:25] jwrookie commented on #7186
Hi, access to container of APISIX and `telnet 10.2.43.4 50051`, The reason for 502 may be that the backend service is not started or the network is abnormal.

[2022-06-08 02:07] younglifestyle commented on #7186
APISIX can create etcd keys, it should be normal.
GRPC service I can access with BloomRPC，which is also normal

[2022-06-08 02:24] soulbird commented on #7178
We used luasocket instead of cosocket to [load etcd configuration when apisix starts](https://github.com/apache/apisix/pull/3799) in `init_worker` phase

[2022-06-08 03:29] zhendongcmss opened #7207 "Bug: Etcd has heigh cpu usage"
### Description

From my thinking, apisix watch the etcd key which doesn't lead to etcd heigh cpu usage.

![image](https://user-images.githubusercontent.com/88528414/172525235-f0b70014-e5d2-4d33-916f-51321a8fdaba.png)

### Environment

- APISIX version (run `apisix version`): 2.7
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if

[2022-06-08 03:29] #6823 closed

[2022-06-08 03:33] zhendongcmss commented on #7207
![image](https://user-images.githubusercontent.com/88528414/172526052-df1b25f9-4b61-43c4-bccc-b75890a6b701.png)

[2022-06-08 03:34] zhendongcmss commented on #7207
![image](https://user-images.githubusercontent.com/88528414/172526176-8ac81d70-1cf2-4a11-9dcb-bff29802b433.png)

[2022-06-08 06:12] #7185 closed

[2022-06-08 06:21] spacewander commented on #7207
Maybe you can do a profile: https://etcd.io/docs/v3.4/op-guide/monitoring/

[2022-06-08 06:54] zhixiongdu027 commented on #7199
Hi all:

 The cause of the failure mentioned in the #7185 is that:
 the content of token_file has an extra '\n' character at the end, which causes the ListWatch http request to fail

 I will submit a PR to fix this

@liangyawang @tokers @tao12345666333 @spacewander @juzhiyuan

[2022-06-08 07:17] mangoGoForward opened #7209 "docs: the style of attributes table has an display error in `zh` markdown of `proxy-rewrite` plugin"
### Current State

The page is https://github.com/apache/apisix/blob/master/docs/zh/latest/plugins/proxy-rewrite.md

<img width="1216" alt="image" src="https://user-images.githubusercontent.com/35127166/172554275-b5bac031-9a43-45d8-bddb-2757849c6216.png">

Found that there are some blank, and caused the style to be disordered.
<img width="993" alt="image" src="https://user-images.githubusercontent

[2022-06-08 08:53] younglifestyle commented on #7186
I tested the other API helloworld.Greeter SayHello，[grpc_server_example](https://github.com/api7/grpc_server_example)， test ok
[code]

[2022-06-08 10:32] crazyMonkey1995 opened #7211 "bug: prometheus metrics cause high cpu usage"
### Current Behavior

At present, we have enabled the prometheus plugin. Since we have more routes (4000+), the size of the lua share dict of prometheus is 512M (larger). When the amount of data becomes larger, prometheus.export_metrics() will cause the cpu-usage of one worker process very hight, and requests on this worker process will be greatly affected.
![wecom-temp-41f7f95c2d8774f9450a4dbbe92

[2022-06-09 01:09] tokers commented on #7211
Do you mean the method `prometheus:metric_data`? https://github.com/api7/lua-resty-prometheus/blob/master/prometheus.lua#L775

[2022-06-09 01:28] crazyMonkey1995 commented on #7211
![image](https://user-images.githubusercontent.com/21658981/172744589-a4081cbd-affc-4f1d-b663-e94ec55f184e.png)
Enable prometheus plugin and access this location⬆️

[2022-06-09 02:17] #7209 closed

[2022-06-09 02:20] crazyMonkey1995 commented on #7211
notice that codes changed about prometheus, my apisix version: 2.14.1

[2022-06-09 02:44] tokers opened #7214 "feat: As a user, I want to see a more straightforward response when the client certificate is missing"
### Description

The current response that Apache APISIX returns when the client doesn't provide its certificate (but APISIX requires it) is:

[code]

The response body doesn't show the fundamental reason. Maybe we can change it to: "missing client certificate".

[2022-06-09 03:27] nic-chen opened #7215 "bug: `X-Forwarded-Proto` header should not be set for upstream as a table"
### Current Behavior

`X-Forwarded-Proto` header for upstream has been set as a table

### Expected Behavior

`X-Forwarded-Proto` header for upstream should be set as a string

### Error Logs

_No response_

### Steps to Reproduce

1. create a simple route:
[code]

2. visit the route:
[code]

3. the upstream will receive:
[code]

see:
https://github.com/apache/apisix/blob/master/apisix/init.lua#L2

[2022-06-09 03:32] sunhao-java opened #7216 "When APISIX_PROFILE is used, no empty judgment is performed, resulting in an unsightly display format of the configuration file name"
### Description

1. When I am using APISIX_PROFILE, if a value is assigned, it will be displayed as follows
[code]

2. However, when I don't do the assignment, I expect to be `config.yaml`, but I actually get `config-.yaml`.
3. It works fine, but the file names look ugly. As someone with code cleanliness, it's hard to accept it.

[2022-06-09 03:34] sunhao-java commented on #7216
Assigned to me, I can do it. @gxthrj

[2022-06-09 03:52] moonming opened #7218 "docs: add `API Gateway` keywords in English and Chinese docs"
### Current State

only Apache APISIX, no API Gateway keyword.

### Desired State

see https://github.com/apache/apisix/pull/7217

[2022-06-09 03:53] moonming commented on #7218
@navendu-pottekkat what do you think? Is this good for SEO?

[2022-06-09 04:09] navendu-pottekkat commented on #7218
@moonming It might be a good idea. I have been adding keywords on the pages I have been re-writing. Currently, I follow this structure (for Plugins):

[code]

Adding this front matter should give better SEO than what we have before. We did not have any metadata of the pages before—no description or keywords.

In SEO terms I'm not sure if adding a general keyword like "API Gateway" will help us or

[2022-06-09 04:15] navendu-pottekkat commented on #7218
Quote from [itseeze.com](https://itseeze.com/blog/seo-101-everything-you-need-to-know-about-metadata/#:~:text=Include%20your%20keywords&text=Each%20page%20on%20your%20website,you%20want%20to%20rank%20for.)

So, I guess we have to minimize the number of keywords. So, from a user viewpoint, we would ideally want them to easily find the documentation page with the web search.

So, based on our curren

[2022-06-09 04:24] juzhiyuan commented on #7218
Agree. We may add this general keyword in the end, but we should first figure out who our visitors are and how to help them find content more easily. SEO is not `Keyword` only, and Google will consider many cases, including keyword matches, traffic on specific pages, and backlinks.

I agree to add this general keyword for this issue, as it's expected in some tools indeed. 😂

[2022-06-09 04:25] juzhiyuan commented on #7218
NOTE: For any pages, we should limit the keyword count is less than 6 (would be better than 5).

We can add: `APISIX, API Gateway, xxxx`

[2022-06-09 04:25] juzhiyuan commented on #7218
Keywords should have relations with the current doc/page.

[2022-06-09 06:12] spacewander commented on #7214
The latest version of APISIX will reject this client during handshake, so there won't be any HTML response but a `certificate verify failed` error in the error log.
https://github.com/apache/apisix/blob/1b0c182ea007acccaabda3c13d7f4102da3944d9/t/node/client-mtls.t#L306

[2022-06-09 06:12] #7214 closed

[2022-06-09 06:15] spacewander commented on #7211
We have already done it in the Enterprise version and received good feedback.
@membphis
Is it possible to open source the change?

[2022-06-09 06:30] tzssangglass commented on #7206
Close it, invalid issue.

[2022-06-09 06:30] #7206 closed

[2022-06-09 06:39] soulbird commented on #7215
Thanks for reporting this issue. I will fix it.

[2022-06-09 07:13] BFergerson opened #7223 "bug: invalid number of arguments in "env" directive in /usr/local/apisix/conf/nginx.conf:29"
### Current Behavior

I'm trying to dynamically set `upstreams.tls.client_cert/client_key` in stand-alone mode. I can't find a way to set the value via file lookup so I'm trying to set it via environment value. Whenever I set the value to the certificate value I get:
[code]

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

1. Use config.yaml:
[code]
2. U

[2022-06-09 07:16] amrellafy commented on #6094
Which listen port need to be changed?

We have the following settings and unfortunately it's not working:

[code]

[2022-06-09 07:28] tzssangglass commented on #7186
So we can close this? This should be a problem in the way gRPC is used. @younglifestyle

[2022-06-09 07:31] tzssangglass commented on #7207
maybe fixed by: #6202

[2022-06-09 07:32] younglifestyle commented on #7186
The interface of multiple proto files cannot be accessed. Can this verify the content of the document? In the document description, the interface of multiple proto files is not verified.

[2022-06-09 07:32] tzssangglass commented on #7207
or you can verify: #6804

[2022-06-09 07:41] tzssangglass commented on #7186
we should use different `proto` objects?

[2022-06-09 08:31] jagerzhang commented on #7211
Can this plan also solve the previous problem：https://github.com/apache/apisix/issues/5755

[2022-06-09 09:03] juzhiyuan commented on #6094
Hi @amrellafy, does this doc work for you? https://apisix.apache.org/docs/apisix/customize-nginx-configuration/

[2022-06-09 09:36] younglifestyle commented on #7186
I have used it. When I use the helloworld.TestImport.Run interface, it is the bound proto.pb. When I use the helloworld.Greeter SayHello interface, the bound proto is helloworld.proto

[2022-06-09 10:04] #4383 closed

[2022-06-09 11:13] tzssangglass commented on #7186
what you need is: https://github.com/apache/apisix/blob/975038ea70dc47e0613c42b3eabb8dcc730216a4/t/plugin/grpc-transcode2.t#L236-L295?

[2022-06-09 12:31] tzssangglass commented on #7223
I reproduced it, and the problem was with this paragraph in nginx.conf:

[code]

I will check it.

[2022-06-09 12:52] tzssangglass commented on #7223
APISIX startup phase gets the environment variables(`CCERT `, `CCERT `) in `apisix.yaml` here: https://github.com/apache/apisix/blob/975038ea70dc47e0613c42b3eabb8dcc730216a4/apisix/cli/ops.lua#L646

and the environment variable is used here when generating nginx.conf: https://github.com/apache/apisix/blob/975038ea70dc47e0613c42b3eabb8dcc730216a4/apisix/cli/ngx_tpl.lua#L54-L58

[2022-06-09 15:37] amrellafy commented on #6094
@juzhiyuan  yes, and we still get the following error

 nginx: [emerg] bind() to 127.0.0.1:9090 failed (98: Address already in use)

[2022-06-09 23:08] #7181 closed

[2022-06-10 01:36] tokers commented on #7223
Looks like the `name` is empty so the `env` directive is incomplete.

[2022-06-10 03:42] mygrsun opened #7227 "help request: is there rpm which can be installed on arm ?"
### Description

is there rpm which can be installed on arm

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard version, if relevant:
- Plugin runner version, for issues related to plugin runner

[2022-06-10 03:59] crazyMonkey1995 opened #7228 "help request: Something wrong with repos.apiseven.com?"
### Description

install step :
[code]
return 403 forbidden, no matter what network environment.
![image](https://user-images.githubusercontent.com/21658981/172987544-882237d4-8127-49a8-b160-33ee36c95a27.png)

<img width="528" alt="image" src="https://user-images.githubusercontent.com/21658981/172987633-87343c5f-f80b-4948-b570-402c0828a630.png">

### Environment

- APISIX version (run `apisix vers

[2022-06-10 04:27] #7228 closed

[2022-06-10 05:40] tzssangglass commented on #7223
First I did some verification that passing a normal string variable with env works.

`apisix.yaml`

[code]

`config.yaml`

[code]

test 1
set env like

[code]

UP_SCHEME in `nginx.conf` like

[code]

[code]

test 2
set env like

[code]

UP_SCHEME in `nginx.conf` like

[code]

[code]

Passing the certificate through the environment variable failed, it should be because you passed the certificate wi

[2022-06-10 05:50] BFergerson commented on #7223
@tzssangglass, thanks for looking into this but are you sure it's the `\n`? My original code does not contain the `\n`. I only added them after I found the certificates embedded in APISIX using them.

---

Here are certificates without `\n` that cause the same issue:
[code]

[2022-06-10 05:56] BFergerson commented on #7223
Looks like it's actually the `-----BEGIN CERTIFICATE-----` part.

[2022-06-10 05:58] tzssangglass commented on #7223
To verify it, I did the following tests:

set env var like

[code]

this cert and key from: https://github.com/apache/apisix/blob/master/t/cli/test_upstream_mtls.sh#L57-L74

it is the right configuration, and it is important to note that
1. `CCERT` has line break
2. `CKEY` has no line break

`config.yaml`

[code]

test 1

`apisix.yaml` only use `CKEY`

[code]

Can be started normally, no errors ar

[2022-06-10 05:59] tzssangglass commented on #7223
I will try to find the available configuration forms.

[2022-06-10 06:02] BFergerson commented on #7223
@tzssangglass, the following gets pass the error I reported:
[code]

I just removed `-----BEGIN CERTIFICATE-----`, `-----END CERTIFICATE-----`, `-----BEGIN RSA PRIVATE KEY-----`, `-----END RSA PRIVATE KEY-----`.

Now it complains:
[code]

[2022-06-10 06:05] tzssangglass commented on #7223
Yes, I know, it's expected exception (because of formatting issues) and I'm looking for available ways to configure it, let me think about it.

[2022-06-10 06:05] younglifestyle commented on #7186
yes i did that and it didn't work

[2022-06-10 06:27] kongjun01 commented on #7178
perfect.

[2022-06-10 06:27] #7178 closed

[2022-06-10 06:51] tzssangglass commented on #7223
hi @BFergerson , verified and currently unable to do so. The reasons are as follows

1. if `CCERT` has  `-----BEGIN CERTIFICATE-----` then it would be `env CCERT=-----BEGIN CERTIFICATE-----` in `nginx.conf`, this format is considered incorrect by nginx.
2. if `CCERT` doesn't have  `-----BEGIN CERTIFICATE-----`, this format is considered incorrect by https://github.com/openresty/lua-resty-core/blob

[2022-06-10 07:08] juzhiyuan commented on #6094
Hi, as the error shows: the 9090 port in use, could you please check which process is using it? also cc @bzp2010

[2022-06-10 08:40] BFergerson commented on #7223
@tzssangglass, what do you think the level of effort would be to support being able to set these values via files? It's been brought up before https://github.com/apache/apisix/discussions/5562.

I think it would be a useful feature and I'm willing to give it a shot. Right now it looks like you have to either hardcode certificates or use an external scripting solution.

Any direction you could offe

[2022-06-10 10:04] #4356 closed

[2022-06-10 10:04] #4384 closed

[2022-06-10 10:05] #4404 closed

[2022-06-10 10:31] tzssangglass commented on #7223
I tried to implement it with some hacking, but didn't find a usable way. Do you have any ideas? cc @spacewander @tokers @membphis

Maybe we can add functionality to support reading cert and key in standalone mode.

[2022-06-10 10:36] tzssangglass commented on #7186
Then I can't reproduce it, because I will also follow the test cases to verify it.

You can verify the difference between the process the test case runs and the process you run.

[2022-06-10 12:34] tomisargiottob opened #7233 "help request: get Grpc transcode from url path"
### Description

I am trying to make a request with the format /resource1/:id/resource2 and i have a backend with grpc that expects this id as parameter. I have been trying different combinations between grpc transcode and rewrite-proxy but haven't found a way to make it possible. Is there anything i can do to achieve this?

When i made a direct grpc transcode, like the example, worked fine, apisi

[2022-06-11 07:38] he953481025-debug opened #7234 "bug: plugin api-breaker set response headers occur 500 Internal Error"
### Current Behavior

Use api-breaker to set circuit breaker

### Expected Behavior

When the upstream service is not available, return my desired json

### Error Logs

![image](https://user-images.githubusercontent.com/67448461/173178076-a383d6d7-ed8f-48d2-9b68-5da34eaf6453.png)
![image](https://user-images.githubusercontent.com/67448461/173178213-a002b5ee-a697-4b63-8612-7f806f26a4a6.png)

### St

[2022-06-11 10:04] #4408 closed

[2022-06-12 04:30] hahayyum opened #7237 "bug:Problems that may be caused by session cache and keepalive_reques"
### Current Behavior

The route is accessed using https. When there are more than 100 requests in a long

connection, an exception occurs after the connection is reset.

keepalive_request default value is 100

When the number of requests is within 100, it is correct, the log information is as

follows:

10.23.34.11 - - [11/Jun/2022:18:29:23 +0000] 192.168.249.2:6443 "GET /test HTTP/1.1" 200

315 0

[2022-06-12 06:33] tokers commented on #7223
We are adding a way to fetch TLS bundles in Upstream objects through the SSL objects. I think adjusting SSL object will be more appropriate.

[2022-06-12 06:33] tokers commented on #7223
By the way, have you ever tried to escape the linebreak?

[2022-06-12 06:43] tokers commented on #7237
@hahayyum Have you tried a newer APISIX version? `2.7` is too old.

[2022-06-12 07:23] BFergerson commented on #7223
Where can I follow the progress of this work?

The new lines aren't the issue. It looks like it's just having spacing in environment variables. The following also fails:
[code]

[2022-06-12 08:00] hahayyum commented on #7237
@tokers There are still problems with version 2.12, and there is no relevant modification records in the changelog. I think the problem may still exist. I prefer to clarify the reasons and then make changes. Because it has been applied to the online environment, it is not very convenient to upgrade.

[2022-06-12 11:45] spacewander commented on #7227
Do you mean arm32 or arm64?

[2022-06-12 15:31] shuqingzai opened #7239 "help request: 插件 request-id 与 opentelemetry 结合"
### Description

### 问题
[request-id](https://apisix.apache.org/zh/docs/apisix/plugins/request-id) 支持三种方式生成: ["uuid", "snowflake", "nanoid"]
1. 我想使用 request-id  作为 [opentelemetry](https://apisix.apache.org/zh/docs/apisix/plugins/opentelemetry) 的 trace_id 但是 trace_id 需要符合 `[0-9a-f]{32}` 规范，request-id 并没有这样的生成器，是否可以新增一个 request-id 的生成方式？
2. 我想在 opentelemetry 的 additional_attributes 追加 request-id 属性，但

[2022-06-13 01:06] tokers commented on #7237
@hahayyum OK, could you give the reproduce steps (including the route, upstream, and other core objects), so that we can reproduce it on our local?

[2022-06-13 01:13] tokers commented on #7223
@tzssangglass Then let's try to use double quotes to wrap the env values?

[2022-06-13 02:51] foxchenlei commented on #7202
1、My kubernetes network plugin is not stable, So i have to use  host network of pods. There are many service names , they provide same application with different ports.
2、To avoid http status like  504,502 ..., I can add/delete svc on apisix when pods are  rolling update.

[2022-06-13 04:13] tzssangglass commented on #7202
If I understand correctly, you deploy many of the same services to deal with network instability (bless at least one of them is a stable service).

IMO, Then this is equivalent to ensuring high availability of the service at the design level instead of relying on k8s, which is not good design and seems redundant.

It may be possible to support multiple service_names, but it's a bit awkward in this

[2022-06-13 04:21] tzssangglass commented on #7216
I have a question, why we need to set `APISIX_PROFILE` to empty string, we can `unset APISIX_PROFILE` to unset the environment variable.

[2022-06-13 04:44] tzssangglass commented on #7239
`opentelemetry` and `request-id` both work on `rewrite` phase in APISIX, but `opentelemetry` has a higher priority and is executed before the `request-id`, so it can't get the id generated by `request-id`.

maybe we can raise the priority of `request-id`? what is your option? cc @spacewander @membphis

[2022-06-13 04:44] tzssangglass commented on #7239
SGTM

[2022-06-13 05:03] shuqingzai commented on #7239
我觉得 request-id 应该是级别最高的吧？无论请求是否成功响应，都应该记录一个 request-id 方便排查问题？

[2022-06-13 06:16] spacewander commented on #7239
LGTM.
@shuqingzai
Would you like to work on it?

[2022-06-13 06:22] VineFiner commented on #7172
HTTP/1.1 301 Moved Permanently
...
Location: https://127.0.0.1:9443/hello
...

I want to use port 443

[2022-06-13 06:32] VineFiner commented on #7172
this doesn't work

[2022-06-13 07:10] fairyqb opened #7242 "performance : upgrading the luajit the CPU increased by 20% ，QPS performance drop"
### Current Behavior

client:
ab -n10000000 -c100 -k http://www.abc.com/

server:
aspsix apisix-2.10.0-0
luajit2-2.1-20220411
Linux  3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

upgrading the luajit version to luajit2-2.1-20220411 , the CPU increased by 20%, QPS and response time did not change（compared to the old luajit version）

@spacewander @membphis

[2022-06-13 07:15] soulbird commented on #7242
Did you upgrade the version of luajit separately? I suggest you better use the official openresty version that matches luajit

[2022-06-13 07:50] fairyqb commented on #7242
After the upgrade of luajie, it is running normally, but the performance is degraded. I am worried that there will be more problems after upgrading openresty

[2022-06-13 08:02] zhendongcmss commented on #7100
update: https://github.com/lunarmodules/luasocket/issues/381

[2022-06-13 08:06] zhendongcmss commented on #7100
I use the latest luasocket SDK, apisix can connect to etcd , but it print the error when it started. I am investigating.

![image](https://user-images.githubusercontent.com/88528414/173308020-79342578-8994-4daa-9b2a-7c8ceed5a907.png)

[2022-06-13 08:07] zhendongcmss commented on #7100
Although it print error logs, getting and setting routes work.

[2022-06-13 08:52] #7215 closed

[2022-06-13 09:32] sunhao-java commented on #7216
We customized the dockerfile of apisix.
[code]

The advantage of this is that when using the docker image, docker will remind the user which environment variables need to be set.

As mentioned above, when you do not need to distinguish between dp cp, you do not need to set this environment variable, that is, the default value of the environment variable is used, that is, an empty string.

That's w

[2022-06-13 09:37] lzxuan opened #7244 "help request: subpar performance of apisix in kubernetes"
### Description

Following [this Slack thread](https://the-asf.slack.com/archives/CUC5MN17A/p1653900217440819), where I benchmarked APISIX running on a single-node K3s of version `v1.22.10+k3s1` atop `Ubuntu 20.04` VM with `8-core Intel Xeon Processor (Skylake, IBRS)` CPU and `8192MB` memory, the QPS obtained was way below than what was stated in [the official benchmark page](https://apisix.apache

[2022-06-13 09:47] tzssangglass commented on #7216
useful

[2022-06-13 09:49] sunhao-java commented on #7216
Thanks for your recognition. 😄

[2022-06-13 09:50] sunhao-java commented on #7216
Thanks for your recognition. 😄

[2022-06-13 11:25] shuqingzai commented on #7239
十分抱歉，我对 `lua` 不是很熟悉。。。

[2022-06-13 13:34] spacewander commented on #7242
Which version do you mean `the old luajit`?

[2022-06-13 14:55] starsz commented on #7190
Maybe we can fetch the resource in keycloak via HTTP API.

[2022-06-13 22:37] fairyqb commented on #7244
@spacewander @membphis @moonming @tzssangglass @Firstsawyou

[2022-06-13 22:39] fairyqb commented on #7242
luajit in apisix-2.10.0-0

[2022-06-14 00:13] moonming commented on #7244
First of all, every major version of Apache APISIX is released, and there will be regressions in performance tests, and there will be no such performance degradation. Therefore, this data is caused by the inappropriate method of your performance test.
Then, during the stress test, check whether the CPU is fully loaded, whether there is an error log, whether there is a problem with the network sett

[2022-06-14 01:23] lzxuan commented on #7244
@moonming Thanks for your reply! First off, I belief the performance of APISIX is not degraded for every release and the result at the official benchmark page holds true. I would be very grateful if you could detail a little more on the inappropriate method of my performance test and perhaps what can be amended.
To add more details, the involved CPU cores were fully loaded during the test, no erro

[2022-06-14 01:27] #7234 closed

[2022-06-14 02:11] tzssangglass commented on #7244
First of all, the official test benchmark is based on cloud servers, while your test is based on virtualization (k8s or k3s).

As a rule of thumb, performance testing in virtualized containers requires tuning of virtualization platform or container parameters (which I am not very familiar with).

BTW, we will be discussing performance testing related topics in our community meetings, ref: https://

[2022-06-14 02:55] fairyqb commented on #7242
@spacewander @membphis @moonming @tzssangglass @Firstsawyou

Is there a better idea?

[2022-06-14 03:39] foxchenlei commented on #7202
ok,I hope it can be realized. thanks

[2022-06-14 06:10] lzxuan commented on #7244
@tzssangglass I see, thanks a bunch!

[2022-06-14 07:36] hahayyum commented on #7237
@tokers

curl   http://apisix-admin.1-default-ns.svc.cluster.local:9180/apisix/admin/ssl/11111  -X  PUT -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -d '
{
    "key": "key",
    "cert": "cert",
    "snis": ["test.com"]
}'

curl http://apisix-admin.1-default-ns.svc.cluster.local:9180/apisix/admin/routes/testapisix -X PUT -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -d '
{
    "priority": 0,

[2022-06-14 07:53] stubbornTanzhe opened #7248 "help request: proxy-rewrite plugin impact on authz-keycloak plugin"
### Description

in my scene，the route enable proxy-rewrite and authz-keycloak plugins both
[code]
i notice that the proxy-rewrite plugin priority is smaller than authz-keycloak, which means do the proxy-rewrite plugin process first.
the request is ```/elastic-compute1/v1/clusters```
so the ctx.var.upstream_uri match proxy-rewrite regex_uri ,became to ```/elastic-compute/v1/clusters```
BUT the aut

[2022-06-14 09:33] hahayyum commented on #7237
@tokers
2.14.1 client mTLS was ignored sometimes in TLS session reuse: #6906
          https://github.com/apache/apisix/pull/6906

The latest version of this repair seems to solve the problem, but I'm not sure. Is there a specific description or problem scenario for this repair?

[2022-06-14 09:41] tokers commented on #7237
@hahayyum I'm not sure if this problem is related to the issue you given. @tzssangglass Could you take a look? Thanks!

[2022-06-14 11:28] dickens7 opened #7251 "request help: skywalking-logger and error-log-logger plugin service_instance_name set $hostname invalid"
### Current Behavior

skywalking-logger and error-log-logger plugins set service_instance_name to `$hostname` and report to skywalking

instance is represented as `"$hostname"`string

![image](https://user-images.githubusercontent.com/41516298/173565702-ae0dd183-0482-41a1-af13-6c7bd2242188.png)

### Expected Behavior

Expect service instances to be a string of $hostname instead of "$hostname" afte

[2022-06-14 13:38] tzssangglass commented on #7237
hi @hahayyum, it looks like the fix for your problem is not due to #6906.

The difference between these two logs is: `192.168.244.3:443` and `192.168.244.5:8080`, which means `$upstream_addr`, see: https://github.com/apache/apisix/blob/45816272a80d6d2045259d32acdabbec4039ed1e/conf/config-default.yaml#L223

It looks like some reason led to the selection of another node.

[2022-06-14 15:25] BFergerson commented on #7223
Tried to be clever with:
[code]

But `/` is read as `\/`.

So the following:
[code]

Is loaded as:
[code]

[2022-06-14 15:28] tzssangglass commented on #7223
Tried and failed

[2022-06-14 15:37] tzssangglass commented on #7251
It was originally designed that way, but I think it's a good idea.

@dickens7 PR is welcome!

[2022-06-14 15:47] tzssangglass commented on #7233
it looks unavailable, see: https://github.com/apache/apisix/blob/45816272a80d6d2045259d32acdabbec4039ed1e/apisix/plugins/grpc-transcode/request.lua#L60

[2022-06-14 15:52] dickens7 commented on #7251
assign me

[2022-06-15 01:22] tokers commented on #7237
@tzssangglass Maybe cross upstream connection pool?

[2022-06-15 01:47] zhixiongdu027 commented on #7202
I think this problem should be solved by routing forwarding instead of "support multiple service_names"

[2022-06-15 02:03] stubbornTanzhe commented on #7248
@tzssangglass ask for attention ;)

[2022-06-15 02:16] soulbird commented on #7248
Authentication plugins should be pre-positioned, and `proxy-rewrite` should be run before back-to-upstream. So I don't think it's appropriate to change the priority of these two plugins.

[2022-06-15 02:30] hahayyum commented on #7237
@tokers @tzssangglass
I re-describe:
routeA: /test upstream: 192.168.244.3:443 Proto: https Host:t test.com
routeB: /* upstream: 192.168.244.5:8080 Proto: http Host: nil
If routeB does not exist, after more than 100 requests, return "404 Route Not Found"

I modified it according to the fix of #6906, and found that the problem was solved after a simple test, but further testing is needed.

guess:
A

[2022-06-15 02:53] zhixiongdu027 commented on #7202
I don't think this is a "multi service name" problem, but a "multi upstream" problem.

[2022-06-15 04:20] moonming commented on #7248
No, plugins with higher priority will run first

[2022-06-15 04:47] #7205 closed

[2022-06-15 05:00] #7159 closed

[2022-06-15 08:06] aiyiyi121 opened #7255 "help request: Questions about code of CORS plugin"
### Description

[code]

I'm confused，why set the response header `Access-Control-Allow-Headers` as `Access-Control-Request-Headers` when ’allow_headers‘  is ‘**’. If the value of `Access-Control-Request-Headers` is null, the value of `Access-Control-Allow-Headers` will be null too, and then leads to problems

### Environment

- APISIX version (run `apisix version`): 2.10
- Operating system (run `

[2022-06-15 09:05] tokers commented on #7202
The use case is not so general IMHO. It's just like a hack way to support multiple service names.

[2022-06-15 09:08] tokers commented on #7248
I think so.

[2022-06-15 09:57] stevenlee87 opened #7257 "bug: ssl upgrade display ："Invalid date""
### Current Behavior

when i perform python script:

[code]

./test-ssl.py t.crt t.key imepisode.top
output:
201
{"node":{"key":"\/apisix\/ssl\/10","value":{"cert":"-----BEGIN CERTIFICATE----- 。。。。

### Expected Behavior

_No response_

### Error Logs

![bug1](https://user-images.githubusercontent.com/4190121/173799920-163d2c39-c67b-49ae-ae7f-106f78f3f7a4.png)

### Steps to Reproduce

when i perfo

[2022-06-15 13:17] zuiyangqingzhou opened #7258 "bug: read header may cause an abnormally high CPU"
### Current Behavior

currently, apisix gets the "X-Forwarded-Proto" header when calling the set_upstream_headers function,

https://github.com/apache/apisix/blob/master/apisix/init.lua#L228-L239

but it reads all the headers first, which may cause the CPU to rise abnormally if the number of headers is very large and the size is large

https://github.com/apache/apisix/blob/master/apisix/core/reque

[2022-06-15 16:23] tzssangglass commented on #7255
Please give examples

[2022-06-16 01:18] stubbornTanzhe commented on #7248
oops, i mixed up the order of plugins execution
so much thanks for the solution @spacewander

[2022-06-16 01:41] tokers commented on #7257
@stevenlee87 What's the problem? Your script do print the response but why you expect no response?

[2022-06-16 01:42] tokers commented on #7258
It will just get the whole headers one time as we don't change the headers. Then the headers table will be cached in memory.

[2022-06-16 02:31] zuiyangqingzhou commented on #7258
I konw what you mean,  I mean whether it is necessary to get all the headers on some critical path, especially if the number of heads is large.

[2022-06-16 03:04] soulbird commented on #7258
It seems that there isn't necessary to call it here, what about changing it to this?

`local hdr = api_ctx.var.http_x_forwarded_proto`

[2022-06-16 03:15] stevenlee87 commented on #7257
sorry！I didn't write it clearly

Expected Behavior：
The certificate displays the normal expiration time.(I have modified the above problem)

[2022-06-16 03:53] jwrookie commented on #7257
I think we should move this issue to `apisix-dashboard`

[2022-06-16 05:29] aiyiyi121 commented on #7255
When the upstream server has added the cors response header, but there is no `Access-Control-Request-Headers`，apisix wiil set `Access-Control-Allow-Headers` to null

[2022-06-16 05:45] jwrookie commented on #7255
Why do you need to set cors headers by upstream services when the cors plugin is already in use ?

[2022-06-16 05:59] hexiaofeng opened #7260 "feat: As a user, I want to add header rewriting to traffict_split plugin, so that it simplifies the setting of multiple lanes"
### Description

As a user, I want to add header rewriting to traffict_split plugin, so that it simplifies the setting of multiple lanes。

{
    "uri": "/index.html",
    "plugins": {
        "traffic-split": {
            "rules": [
                {
                    "weighted_upstreams": [
                        {
                            "upstream": {
                                "nam

[2022-06-16 06:30] aiyiyi121 commented on #7255
The upstream server has added the cors headers, we can't modify the upstream easily because it's very old.
I meet up  a problem, apisix will lost the cors header when I use `http` to request the `https` upstream server, so I attempt to add cors by apisix. but I find `Access-Control-Allow-Headers` will be set to null.

[2022-06-16 06:42] spacewander commented on #7237
The https://github.com/apache/apisix/pull/6906 fixes a bug about the TLS session reuse. Maybe it is relative to your problem.

[2022-06-16 06:54] jwrookie commented on #7255
I don't understand what you mean, can setting `allow_headers` solve your problem?

[2022-06-16 07:36] mojerro opened #7261 "bug: http method rewrite not works in proxy-rewrite plugin"
### Current Behavior

![image](https://user-images.githubusercontent.com/15071824/174016296-40024eeb-53b1-404a-ace2-18beac38f54d.png)

As the settings above, the route still uses `POST` method instead of `GET` method to the upstream

![image](https://user-images.githubusercontent.com/15071824/174017019-8565af4e-6f6b-4ef7-bcb1-fa5e6905770c.png)

### Expected Behavior

any routes matches the rule wi

[2022-06-16 07:43] tzssangglass commented on #7255
In this case I suggest you modify the plugin yourself to meet your needs.

[2022-06-16 08:06] aiyiyi121 commented on #7255
ok, thanks. I have soloved the problem by http to https plugin. I am still confused about the code of cors plugin as described above， but that doesn't matter.

[2022-06-16 08:24] #6744 closed

[2022-06-16 09:07] jagerzhang commented on #7239
看了下2.11版本的插件优先级：
[code]
requests-id的执行阶段是比较靠前的，不过看最新的代码，opentelemetry 的优先级由-1200改为12009，排到了第二位：
https://github.com/apache/apisix/blob/70ba952ef7123b463af219a036548aa8721255b4/apisix/plugins/opentelemetry.lua#L179
https://github.com/apache/apisix/blob/70ba952ef7123b463af219a036548aa8721255b4/apisix/plugins/request-id.lua#L67

所以@[shuqingzai](https://github.com/shuqingzai) 你只需要改下插件代码里面的 priority 就能改

[2022-06-16 09:12] tokers commented on #7239
Maybe after `request-validation`?

[2022-06-16 09:14] jagerzhang commented on #7239
@tokers request-id现在的优先级不低，感觉这里的问题可能还是 opentelemetry 的优先级调得太高了，超过了request-id。

[2022-06-16 09:16] tokers commented on #7260
@hexiaofeng What's the use case about the change?

[2022-06-16 09:18] jagerzhang opened #7263 "bug: document page 404 not found"
### Current Behavior

这个页面404了：
https://apisix.apache.org/zh/docs/terminology/plugin#%E7%83%AD%E5%8A%A0%E8%BD%BD

看代码是有这个文件的：
https://github.com/apache/apisix/blob/master/docs/en/latest/terminology/plugin.md
https://github.com/apache/apisix/blob/master/docs/zh/latest/terminology/plugin.md

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

null

### Enviro

[2022-06-16 09:22] jagerzhang commented on #7202
你这个场景，还不如应用将主机IP和端口注册到eureka这种注册中心，然后对接APISIX即可，和微服务服务发现差不多的套路。

[2022-06-16 09:50] zhoudingyu123 commented on #7121
这些我都尝试了都不行，对于我来讲，如果让我解决这个问题，我只能去看源码的流程，看是否哪里写死了60s；不过我对lua语言不熟，所以没有这么做。
另外，对于上游服务来讲，apisix是客户端的角色；这个问题是apisix到上游的问题不是前台到apisix的问题
您提供的两种方式都是前台到apisxi之间的问题

[2022-06-16 10:38] kongjun01 opened #7264 "help request: prometheus error, `no memory while logging request`"
### Description

The nginx configuration is set to the `lua_shared_dict prometheus-metrics 200m`, and after running for about 1 month, the prometheus plugin reports an error: `Unexpected error adding a key: no memory while logging request`. When the prometheus data is consumed, will the corresponding memory data be cleared?

### Environment

- APISIX version (run `apisix version`):2.10.5
- Operati

[2022-06-16 10:44] jagerzhang commented on #7121
是不是这样：
访问路径：客户端 --> APISIX --> 上游应用
现在的问题是上游应用日志里打印了499返回码，说明是APISIX访问上游应用的时候主动超时了，对吧？

那APISIX的日志显示的返回码是多少呢？

[2022-06-16 12:48] mikawudi opened #7267 "feat: some question about kafka-logger"
### Description

about kafka-logger plugin
1) in kafka, “key” will decide message route to what partition
but in kafka-logger plugin, key params only is a const str......
i think if key param can support exp for get value from variable, it will be more useful!

2) the second question is about message format of kafka-logger
when i use batch_max_size = 1, the message send to kafka is a json object
b

[2022-06-16 21:52] colmbrady commented on #7190
Actually, thats what the Keycloak Java Adapter implementation does, so likely a possible approach.

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/adapters/oidc/adapter-core/src/main/java/org/keycloak/adapters/authorization/KeycloakAdapterPolicyEnforcer.java#L184

When a 403 happens, and if the adapter is configured to respect user-management-access, then it req

[2022-06-17 01:18] tokers commented on #7264
The shared memory used to store Prometheus metrics is pre-allocated and the size is fixed, so when you have more and more routes, the number of metrics will be tremendous. You may need to calculate a proper size to store the metrics.

[2022-06-17 02:02] #7255 closed

[2022-06-17 03:07] #5591 closed

[2022-06-17 04:47] JunpengLi2017 opened #7272 "limit-count 全局限流功能"
### Description

如图，我配置了在route上配置redis全局限流，apisix节点为三个
![image](https://user-images.githubusercontent.com/34274920/174226218-12a5869a-a7a3-4a7c-baa7-410ed8325ff0.png)
但是最后全局限流没有生效，仍然是apisix单节点限流。且查看redis上的key数量和apisix节点数量相同，所以想问下是什么情况，是我这边还漏了什么配置步骤吗？
![image](https://user-images.githubusercontent.com/34274920/174226545-d60035cf-0615-4a52-9e87-1b54e2268d00.png)

### Environment

- APISIX version (2

[2022-06-17 06:12] kongjun01 commented on #7264
ok

[2022-06-17 06:12] #7264 closed

[2022-06-17 06:57] spacewander commented on #7239
opentelemetry is moved to the top so we can report requests which are rejected.
If opentelemetry needs to depend on request-id, the priority of request-id should be higher.

[2022-06-17 07:03] spacewander commented on #7267
but in kafka-logger plugin, key params only is a const str......
i think if key param can support exp for get value from variable, it will be more useful!

PR is welcome!

It is a historical legacy.

They are buffers in different places.

[2022-06-17 07:45] jagerzhang commented on #7239
嗯嗯，那这个调整是在apisix这边改还是用户自己改

[2022-06-17 08:04] sunhao-java opened #7274 "help request: Is there any documentation that can assist in building a development environment?"
### Description

Recently I am going to make a PR for APISIX, so today I try to initialize an APISIX development environment in my CentOS.

During the process, various errors occurred. For example: missing NGINX dependencies, or incorrect versions of dependencies, etc.

So, I would like to ask if your organization provides some documents for initializing the development environment (not the runtim

[2022-06-17 08:58] tokers commented on #7274
@sunhao-java Maybe this is what you want? https://github.com/apache/apisix/pull/7219

[2022-06-17 09:06] tokers commented on #7272
Looks like the limit key is not the same, are you sure the three apisix nodes connect to the cluster?

[2022-06-17 09:29] spacewander commented on #7198
Consider solved. Feel free to reopen it if needed.

[2022-06-17 09:29] #7198 closed

[2022-06-17 09:44] SylviaBABY commented on #7263
@jagerzhang Thanks for your reminder^^
We are locating the issue and will handle it later

[2022-06-17 10:01] SylviaBABY commented on #7263
@jagerzhang is this link appears in the FAQ document?

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/39793568/174275962-c3aae833-5713-489d-ae19-56191664ab83.png">

[2022-06-17 14:43] mariofdezzz commented on #6094
Hello @juzhiyuan

I'm working with @amrellafy. We have just discovered that apisix takes [port 9090](https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L158) by default for the [Control API](https://apisix.apache.org/docs/apisix/control-api/). In our case, we are deploying Apisix into **IBM Code Engine**, which doesn't allow ssh or a similar approach. We guess this ([Port 9090 C

[2022-06-17 15:00] badx commented on #7136
I'm also get the similar error after upgrade to 2.14.1, and get normal if I downgrade the version to 2.13.1.
I checked the config by etcd and it looks like the config is correct.
I deleted all the configuration and added a new route, the problem still exists
I suspect the problem is caused by the upgrade.

[2022-06-17 23:47] mygrsun commented on #7227
i want the arm64

[2022-06-17 23:47] mygrsun commented on #7227
i want the arm64

[2022-06-18 04:38] hexiaofeng commented on #7260
用于多泳道和全链路灰度场景，流量带上泳道标签，调用对应泳道的后端服务，后端微服务采用全链路跟踪技术透传泳道标签，持续调用泳道内的分组实例。

[2022-06-18 09:20] hongbinhsu opened #7276 "bug: runtime error: /usr/local/openresty/lualib/resty/core/request.lua:116: bad argument #1 to 'lower' (string expected, got nil)"
### Current Behavior

When use docker apache/apisix:2.13.1-alpine or  apache/apisix:2.14.1-alpine

"GET /test/api/data/page/layout?name=home_v1&platform=app"

请求时报

 [error] 46#46: *8041 lua entry thread aborted: runtime error: /usr/local/openresty/lualib/resty/core/request.lua:116: bad argument #1 to 'lower' (string expected, got nil)

 use docker apache/apisix:2.12.1-alpine 版本正常

### Expected Be

[2022-06-18 14:14] mojerro commented on #7261
@soulbird dashboard version is 2.10.1

@tokers I think I know what I did, and I test the route by using the postman which works well. And 404 is from my backend docker  container, so it's true that the request reach the endpoint.

[2022-06-18 14:15] mojerro commented on #7261
I also check the json store in apisix using admin API, everything looks well just like the document shows

[2022-06-18 16:26] mikawudi commented on #7267
ok, will try to impl first item~

[2022-06-18 16:26] #7267 closed

[2022-06-19 01:34] JunpengLi2017 commented on #7272
yes, three apisix nodes connet the same redis ,but not redis cluster。

[2022-06-19 02:17] tokers commented on #7261
Ignore it.

[2022-06-19 02:27] tokers commented on #7272
Sorry, I mean does these three nodes connect to the ETCD cluster normally?

[2022-06-19 02:31] tokers commented on #7260
Fair enough, @spacewander What's your opinion?

[2022-06-19 02:47] tokers commented on #7276
@hongbinhsu Hi, what are the route and upstream configurations to match your request?

[2022-06-19 02:49] tokers commented on #7136
@spacewander @tzssangglass Do you have any idea about this?

[2022-06-19 03:37] JunpengLi2017 commented on #7272
how to check  ? if I add  apisix node,the redis add the same count.

[2022-06-19 06:24] hongbinhsu commented on #7276
upstream configurations：IP:8080/page/layout?name=home_v1&platform=app

route configurations：
Path rewriting：Regular rewriting
Regular expression：^ /test/api/data/(.*)$
Forwarding path：/$1

[2022-06-19 06:24] tokers commented on #7272
Could you just check the error log file for each APISIX nodes? You can filter the log entries on the `error` level.

[2022-06-19 06:25] tokers commented on #7276
Could you just show the specific APISIX Route and Upstream objects?

[2022-06-19 06:42] hongbinhsu commented on #7276
Same configuration，use version 2.12.1 is success，when  upgraded to 2.13.0 2.13.1 2.14.0

Wait a minute, I'm trying to use more versions

[2022-06-19 06:43] hongbinhsu commented on #7276
Same configuration，use version 2.12.1 is success，when  upgraded to 2.13.0 2.13.1 2.14.0

Wait a minute, I'm trying to use more versions

[2022-06-19 08:55] tzssangglass commented on #7136
I've gathered similar information from other channels, but there is no reproducible demo, and I've noticed one detail: one of the steps is to migrate etcd data.

[2022-06-19 11:57] spacewander commented on #7239
You can change it yourselves, and submit it to APISIX.

[2022-06-19 12:01] spacewander commented on #7227
CC @soulbird

[2022-06-19 12:03] spacewander commented on #7260
LGTM. Although I would like to add upstream-level plugins (proxy-rewrite per upstream).

[2022-06-19 12:13] spacewander commented on #7260
Or put the headers field to the upstream object, so we can use it in a more general way, not just traffic-split.

[2022-06-19 14:49] mojerro commented on #7261
Can you reproduce this problem or some extra information I need to provide

[2022-06-20 01:10] #7148 closed

[2022-06-20 01:30] tokers commented on #7261
@mojerro I just checked the changelog, this problem was fixed since `2.13.0`, see https://github.com/apache/apisix/blob/master/CHANGELOG.md#2130.

[2022-06-20 01:32] tokers commented on #7260
Sounds good.

[2022-06-20 01:35] soulbird commented on #7261
Fixed in https://github.com/apache/apisix/pull/6300. Please upgrade apisix and dashboard.

[2022-06-20 01:55] soulbird commented on #7227
This is already in my plan.

[2022-06-20 02:42] tzssangglass commented on #7261
considered as solved, feel free to reopen if you need.

[2022-06-20 02:43] #7261 closed

[2022-06-20 02:57] tzssangglass commented on #7260
LGTM

[2022-06-20 03:25] tzssangglass commented on #7258
It's a question of balance.

case 1: If the request gets only one header here in APISIX, then it is fastest to get it directly.

case 2: If the request gets other headers in other plugins or features of APISIX then caching the headers is better.
Because `ctx.var.http_x_forwarded_proto` reads variables directly from C land to Lua land, which is slower than fetching from the cache.

[2022-06-20 03:38] soulbird commented on #7258
We can cache headers on non-critical code paths, such as calling `core.request.get_header` in the plugin. Here, I think it is enough to get only one of the request headers we need.

[2022-06-20 04:06] tzssangglass commented on #7274
#7219 is for building from source code, not for development environments. But you can still refer to the Build APISIX dependencies section of it, they are the same.

[2022-06-20 04:16] tzssangglass commented on #7272
any error logs about it?

[2022-06-20 04:19] tzssangglass commented on #7276
can you show the full function stacks?

[2022-06-20 04:29] tzssangglass commented on #7276
The test cases I tried to reproduce

[code]

it works well.

[2022-06-20 04:45] tzssangglass commented on #7258
fair enough

[2022-06-20 05:03] navendu-pottekkat commented on #7274
The doc added with https://github.com/apache/apisix/pull/7219 is pretty comprehensive and should contain information about how to build and run APISIX locally. And this is mainly done for development.

[2022-06-20 07:29] juzhiyuan commented on #7263
Hi, I just had a check: the correct link should be `/zh/docs/apisix/terminology/plugin` instead of `/zh/docs/terminology/apisix`, it misses the `/apisix` part. May I know which play you found this URL?

[2022-06-20 08:04] saltwang opened #7279 "help request: Why can't I find authz-casdoor plugin?"
### Description

<img width="1652" alt="image" src="https://user-images.githubusercontent.com/21987254/174550569-fb9eb6bb-9a1a-4efa-8257-12772e363097.png">

In the apisix container, I can find authz-casdoor.lua:
<img width="1319" alt="image" src="https://user-images.githubusercontent.com/21987254/174551041-93502d4b-720b-4c2d-85be-bb84b91717df.png">

In config-default.yaml:
![image](https://user-im

[2022-06-20 08:58] jagerzhang commented on #7263
嗯，没记错的话应该是这里点过去的。

抱歉，忘记给Referer页面了。

[2022-06-20 08:59] ffch opened #7280 "help request: etcd "client-cert-auth" cannot be used with gRPC-gateway"
### Description

I have a problem with starting apisix：

the conf.yaml:
[code]
then use docker to start, error is :
[code]

**the same configuration is ok on dashboard and apisix-seed。**

help me, thanks!

_the etcd is 3.4, use password and username is ok, but I need the way to use the certificate_

### Environment

FROM apache/apisix:latest

WORKDIR /usr/local/apisix
COPY apisix .
COPY conf .
COP

[2022-06-20 09:35] tokers commented on #7279
The APISIX Dashboard `2.13.0` doesn't contain this plugin. cc @bzp2010

[2022-06-20 09:39] tokers commented on #7280
See https://github.com/apache/apisix/issues/5608.

[2022-06-20 09:47] saltwang commented on #7279
OK，thank you！

BTW, which version will contain the plugin?

[2022-06-20 10:10] wodingyang opened #7282 "bug: exec java plugin error"
### Current Behavior

apisix version:2.14.1
apisix-java-plugin-runner version:0.2.0
config.yaml:
![image](https://user-images.githubusercontent.com/75060224/174578640-52a4a2dd-b1ff-42cf-9928-8d0067e5d439.png)
![image](https://user-images.githubusercontent.com/75060224/174578882-91b175b4-fe71-47c2-b8b4-67fca7b61cf7.png)

配置好apisix加载java插件参数启动后，发现apisix需要带有进程号的rock文件与runner通信，没有查找到相关配置与解决方法

### Exp

[2022-06-20 10:22] hexiaofeng commented on #7260
我期望也能在traffic-split增加。当跨k8s集群流量分发的时候，apisix会部署一份在k8s集群外，另外每个k8s集群的ingress复用是同一份，upstream这个时候无法区分泳道。

[2022-06-20 10:42] mojerro commented on #7261
thanks a lot~

[2022-06-20 12:33] tzssangglass commented on #7274
Usually APISIX contributors clone the apisix project as a codebase instead of the tar.gz archive of src.

[2022-06-20 12:38] tzssangglass commented on #7279
2.14.1

[2022-06-20 12:38] #7279 closed

[2022-06-20 12:41] tzssangglass commented on #7260
So let's just add it directly to `traffic-split` first?

[2022-06-20 12:47] michaelh1355 opened #7283 "help request: deploy Dapr with APISIX"
### Description

I need to study deploy Dapr (host mode) + APISIX on my local. there any relevant document reference？

thanks!

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard version, if rel

[2022-06-21 01:01] soulbird commented on #7283
See #7274 , These two are the same issue.

[2022-06-21 01:03] object777 opened #7286 "help request: 开发apisix java plugin插件的时候 HttpRequest 怎么获取post请求里的body参数"
### Description

开发apisix java plugin0.1版本插件的时候 HttpRequest 怎么获取post请求里的body参数
request.getArgs 只能获取到url 拼接参数
 在获取header的同时请求的key全都转成小写了

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard versio

[2022-06-21 01:14] tokers commented on #7260
Even we do it on this plugin, we still need to consider the code reusability, so that we can migrate to the new way easily.

[2022-06-21 01:42] mygaochunming opened #7288 "bug: when using skywaking plugin, the proxy-rewrite plugin will become invalid"
### Current Behavior

when using skywaking plugin, the proxy-rewrite plugin will become invalid

### Expected Behavior

The two plugins can be used together

### Error Logs

_No response_

### Steps to Reproduce

When using default configurations, the proxy-rewrite plugin can be  responded correctly

Default configurations：
[code]

The route

[code]

When enabled the skywalking plugin , the proxy-

[2022-06-21 01:54] #7149 closed

[2022-06-21 02:40] moonming commented on #7283
https://apisix.apache.org/blog/2021/11/17/dapr-with-apisix/ please take a look

[2022-06-21 02:40] moonming commented on #7283
and here is the Chinese version https://apisix.apache.org/zh/blog/2021/11/17/dapr-with-apisix/

[2022-06-21 03:35] SylviaBABY commented on #7263
没事的，我们测试的时候也是找的这个入口。但是只有我这边在前几次点开该处时会出现你提到的「404」现象，其他同学点开这里都是正常的；之后我把浏览器关闭再重新打开 QA 页面然后点击该处链接后，发现页面呈现是正常的（尝试更换浏览器也是显示正常）

不知道你现在打开这里的超链接还是显示 404 吗？

[2022-06-21 03:47] jagerzhang commented on #7263
刷新浏览器缓存之后已经好了，我看到超链接已经换成 https://apisix.apache.org/zh/docs/apisix/terminology/plugin#%E7%83%AD%E5%8A%A0%E8%BD%BD，这个是正确的~

[2022-06-21 05:24] spacewander commented on #7260
@hexiaofeng
Will you give it a try?

[2022-06-21 05:29] hexiaofeng opened #7291 "feat: 增加单元化多活流量调度的支持"
### Description

单元化多活流量调度的需求，根据规则获取某个变量。
1）判断变量是否在单元的白名单里面，是则路由到指定单元
2）判断变量是否在单元的前缀白名单里面，是则路由到指定单元
3）采用BKDRHash算法获取变量hash值，并按照指定参数取模，判断结果区间在哪个单元，并路由到指定单元。
路由纠错，如果发现流量不是本单元的，则可以代理或重定向到正确的单元
单元的域名可能加了前缀，例如主域名是x.y.z，北京单元的域名是bj-x.y.z

能否完善traffic_split，支持单元化多活流量调度

[2022-06-21 06:05] juzhiyuan commented on #7263
Great! Then I will close this issue :)

[2022-06-21 06:05] #7263 closed

[2022-06-21 06:07] #7251 closed

[2022-06-21 06:10] spacewander commented on #7288
[code]
You need to add all the plugins you need, instead of skywalking only. The `plugins` field should include all the plugins you need.

See: https://apisix.apache.org/docs/apisix/plugins/skywalking#how-to-enable

[2022-06-21 08:06] hexiaofeng commented on #7260
We have used this architecture

[2022-06-21 09:22] mygaochunming commented on #7288
Thanks very much. I have solved this problem.

I have seen the "merge_conf" function, and I think the users' configurations will overwrite the default configurations under certain rules. But I don't quite understand what this code means

https://github.com/apache/apisix/blob/fdd1cac7328879cb848f93bba4d3bb37c50dcdc7/apisix/cli/file.lua#L144

Can you help to explain?

[2022-06-21 09:25] #7288 closed

[2022-06-21 09:36] mygaochunming commented on #7288
![image](https://user-images.githubusercontent.com/21029140/174767301-597a5cf4-bef9-4316-ac21-4fd088bb66e9.png)

I think this will be treated as array, and will be overwrite as a whole

![image](https://user-images.githubusercontent.com/21029140/174767617-e49469b0-e828-47e1-9ecd-391d4e6443a6.png)

and this will be overwrite not as a whole but specific item，such as just overwrite a single item

[co

[2022-06-21 09:45] GhangZh opened #7295 "help request: The promethus plugin gets the request_url"
### Description

Now the prometheus plugin can only get the matched_uri, how can it get the request_url directly

### Environment

- APISIX version (run `apisix version`):2.13
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard version, if relevant:2.11

[2022-06-21 09:54] tokers commented on #7295
Currently, we cannot. Fetch the `request_uri` might cause the number of metrics tramendous.

[2022-06-21 13:19] gracekk opened #7296 "how to logging response body into access.log?"
### Description

I try to use $resp_body in config.yml but failed.
Any ideas?
Or Can I use http-logger plugin write resp_body into file?

nginx_config:
  http:
    error_log_level: "info"
    enable_access_log: true
    access_log: logs/access.log
    access_log_format: '{"@timestamp":"$time_iso8601","host":"$hostname","server_ip":"$server_addr","client_ip":"$remote_addr","xff":"$http_x_forwarded_

[2022-06-21 13:28] caozhi6655 opened #7298 "help request: grpc request proxy http code must be 599 when request not success"
### Description

I use apisix for grpc proxy。I use a custom lua plugin to process the request，when some request param not right，i return code like：
[code]

and I use a grpc tool "bloom-rpc" to debug the request，then the "bloom-rpc" return like
[code]
and I tried golang client to debug，it returns err `server closed the stream without sending trailers`。

I don't know why，and i debuged a whole day。。。

[2022-06-22 01:03] tokers commented on #7298
@caozhi6655 Could you give a reproducible case? The custom plugin is vital and could you paste more codes about it?

You can remove all the private, business-related logic but the basic logic should be reserved, such as in which phase this plugin will be called.

And the route and upstream objects are expected.

[2022-06-22 02:31] tzssangglass commented on #7296
same as #7297

[2022-06-22 02:31] #7296 closed

[2022-06-22 02:33] object777 opened #7299 "help request: apisix java pligin run response.setStatusCode(401) invalid ,No actual interception"
### Description

@Component
public class FooFilter implements PluginFilter {

    private final Logger logger = LoggerFactory.getLogger(FooFilter.class);

    @Override
    public String name() {
        return "FooFilter";
    }

    @Override
    public void filter(HttpRequest request, HttpResponse response, PluginFilterChain chain) {
        response.setStatusCode(401);
        chain.filter(req

[2022-06-22 02:34] object777 commented on #7299
HTTP/1.1 200 OK
Content-Length: 12
Connection: keep-alive
Content-Type: text/plain; charset=utf-8
Date: Wed, 22 Jun 2022 02:25:25 GMT
Keep-Alive: timeout=4
Proxy-Connection: keep-alive
Server: APISIX/2.12.1

[2022-06-22 02:36] tzssangglass commented on #7288
As already discussed, this will not disable specific plugins.

[2022-06-22 02:44] #7299 closed

[2022-06-22 02:58] zhendongcmss opened #7300 "help request: Does stream proxy support access log in 2.10.x ?"
### Description

It seem doesn't support access.log
[code]

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard version, if relevant:
- Plugin runner version, for issues related to plugin runners

[2022-06-22 03:05] nanamikon opened #7301 "help request: Load rebalance about websocket"
### Description

Hi all

We know that websocket will pass data through tcp after upgrade through http，    so load balance by **active tcp connection** should be most effective。

Refer to nginx doc about least_conn
`
Specifies that a group should use a load balancing method where a request is passed to the server with the least number of active connections, taking into account weights of servers. I

[2022-06-22 03:27] caozhi6655 commented on #7298
@tokers upstream like this `{
  "nodes": [
    {
      "host": "xxx",
      "port": xxx,
      "weight": 1
    }
  ],
  "timeout": {
    "connect": 6,
    "send": 6,
    "read": 6
  },
  "type": "roundrobin",
  "scheme": "grpc",
  "pass_host": "pass",
  "name": "proto.user.UserService-upstream",
  "keepalive_pool": {
    "idle_timeout": 60,
    "requests": 1000,
    "size": 320
  }
}`

route like

[2022-06-22 03:31] tao12345666333 commented on #1868
https://www.modsecurity.org/

Maybe this is not the best option?

[2022-06-22 03:45] #7258 closed

[2022-06-22 03:58] 2294648043 opened #7302 "help request: 代理web静态资源访问的问题"
### Description

apisix集成对ckman服务进行代理会出现通过地址直接访问静态文件，文件路径将访问不到，通过代理/js/*，/css/*可以访问到登录，但登录后还是会有问题，有没有好的解决方法，在中间加一层nginx配置这样的？
![111](https://user-images.githubusercontent.com/42125589/174939921-56b1818e-cb47-4a1b-9985-7000617334cb.png)

### Environment

- APISIX version (2.13):
- Operating system (linux):
- OpenResty / Nginx version ( no openresty /nginx 1.17.1):
- etcd version, if relevant (run `

[2022-06-22 05:06] shuqingzai opened #7303 "help request: customize error msg when using `request-validation` plugin for validation"
### Description

[request-validation](https://apisix.apache.org/zh/docs/apisix/plugins/request-validation/) 插件作为验证，是否可以为 `字段` 自定义错误信息
如: `title` 我想显示 标题不正确
我似乎没有找到相关的文档
apache/apisix-dashboard#2479

### Environment

官方docker镜像: apache/apisix:2.14.1-centos
[code]
- APISIX version (run `apisix version`):
[code]
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `

[2022-06-22 05:18] BFergerson commented on #7223
Is there a way I can follow the progress of this work?

[2022-06-22 06:02] spacewander commented on #7300
The feature is first added in 2.12: https://github.com/apache/apisix/commit/71c256be81d95d56ea38f9874699801cbbad6a2e

[2022-06-22 06:02] #7300 closed

[2022-06-22 06:07] tzssangglass commented on #7302
recommend using nginx to proxy static resources

[2022-06-22 06:11] tzssangglass commented on #7303
try: https://github.com/apache/apisix/blob/master/docs/en/latest/terminology/plugin.md#plugin-common-configuration

[2022-06-22 06:45] spacewander commented on #7301
Maybe I am missing something. The new node will get more connections because the old nodes already have some connections.

[2022-06-22 06:46] spacewander commented on #7301
Maybe I am missing something. The new node will get more connections because the old nodes already have some connections.

[2022-06-22 07:00] 2294648043 commented on #7302
ckman通过docker部署，无法通过linux的nginx直接代理其中的静态资源

[2022-06-22 07:38] xuminwlt commented on #6741
Same question to me.

[2022-06-22 09:10] 2294648043 commented on #7302
按官方的方法代理dashboard就会出现静态资源访问的问题，可以通过监听.jsand.css来访问到，但也会对别的路由造成一定影响，静态文件都在docker容器中，如何进行代理？
![微信图片_20220622170810](https://user-images.githubusercontent.com/42125589/174990838-99fe2771-85ba-4fd7-b1dc-e1dfa7844800.png)

[2022-06-22 10:02] shuqingzai commented on #7303
这个作用域好像是建立在插件上，但是如何给出验证不过的字段然后定义错误信息呢？
如下
1. `title` 不正确，我想给出的提示语: **标题不正确**
2. `description` 不正确，我想给出的提示语: **描述信息错误**

[2022-06-22 10:04] #7239 closed

[2022-06-22 10:56] tzssangglass commented on #6741
Try the suggestions I gave above

[2022-06-22 10:57] tzssangglass commented on #7302
see: https://github.com/apache/apisix/issues/4672

[2022-06-22 11:00] tzssangglass commented on #7303
I remember that jsonschema validation failure can give details, so maybe we can throw out the details.

[2022-06-22 11:01] tzssangglass commented on #7303
Maybe we can take care of this detailed information.

[2022-06-22 12:18] jagerzhang commented on #7302
这里的问题说的是APISIX和这个ckman是部署在一个容器里面，然后有部分本地的静态资源无法通过APISIX访问对吧？如果是这个场景，确实可以用nginx+ckman一个容器，然后APISIX在外面代理一层，APISIX应该没考虑代理本地静态资源的场景。

[2022-06-22 14:55] nanamikon commented on #7301
Refer to least_conn.lua
[code]

[code]

I found that the counter will add after picking,   and  reduce in the log phase，  so this will work only for the
 http request of upgrade。  After ws upgrade，  apisix will not kown how many active tcp connections now

In the product env，  we find least_conn fall back to rr through our monitor dashboard。

[2022-06-22 15:51] Chever-John commented on #6797
@Alasiac Got it~
Thanks a lot for these files!!!

[2022-06-22 15:54] tzssangglass commented on #7301
if http upgrade to ws, the counter won't be reduced in log phase?

[2022-06-23 01:14] tokers commented on #7303
IMHO The JSON schema validation failure error message is not so straightforward and it's lenghty.

[2022-06-23 01:19] tokers commented on #7301
I don't think so, log phase can still be run when the WebSocket connection is closed.

[2022-06-23 03:24] fesily opened #7310 "help request: How to check plugin meta schema without admin api"
### Description

Is this possible?  I only find  `core.schema.TYPE_METADATA` reference  in `admin/plugin_metadata.lua'

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX Dashboard version, if relevant:
-

[2022-06-23 05:32] fesily commented on #7310
Use yaml config, I find `plugin_metadata`  field don't  check meta_schema.
Are there plans to support this?

[2022-06-23 06:32] nanamikon commented on #7301
1、client    ---- http upgrade request ---->    apisix
2、apisix   -----http upgrade request ---->    upstream
3、upstream   -----support upgrade, return 101 ---->  apisix
4、apisix  -----support upgrade, return 101 ----> client
5、client  -----  pass data through tcp channel  ----> apisix
6、client  -----  forward data through tcp channel  ----> upstream

The counter will be added in the phase 1，    an

[2022-06-23 06:52] Louis2014 opened #7313 "help request: Mac M1 make run error"
### Description

2022/06/23 14:39:24 [error] 6267#135075: init_worker_by_lua error: ...Cellar/openresty/1.21.4.1_1/lualib/resty/core/shdict.lua:320: NYI: cannot call this C function (yet)
stack traceback:
	[C]: in function 'ngx_lua_ffi_shdict_get'
	...Cellar/openresty/1.21.4.1_1/lualib/resty/core/shdict.lua:320: in function 'get'
	...space/apisix//deps/share/lua/5.1/resty/worker/events.lua:119: in

[2022-06-23 07:14] #6580 closed

[2022-06-23 07:18] nthsky opened #7314 "bug: plugin:cors: config expose_headers using "**" has no handle when allow_credential set true"
### Current Behavior

Background: plugin `cors` enabled, `allow_credential` setting true
Goal: expose all headers to frontend
detail:
According to the documention, the config `expose_headers ` of plugin **cors**  set to '\*\*', but it does not work.
Then I read the code of cors plugin finding no handle with '\*\*' of `expose_headers`

### Expected Behavior

expose all headers

### Error Logs

_No

[2022-06-23 09:04] nanamikon commented on #7301
Sorry for misleading you,  the counter will be reduced in log phase
The key question is
···
 the new node can not get more connection than other nodes
···

When add a new node,  it will call the function  least_conn.new(),   so binaryHeap will be rebuilded,    all the counter will be lost.
So  the new node can not get more connection than other nodes

[2022-06-23 11:38] jackk01 commented on #7003
@tzssangglass @tao12345666333 Upgrade to APISIX v2.14.1, The problem still exists!!!

[2022-06-23 12:16] tzssangglass commented on #7003
pls determine if your question is the same as #4942.

[2022-06-23 13:07] tokers commented on #7314
We may check if the `conf.expose_headers` exists then set this header.

[2022-06-24 02:27] tzssangglass commented on #4942
If proxy-rewrite can modify `x-forward-port`, then the following scenario occurs (to be confirmed)

1. client access http://a.com:80/

2. upstream response 302 to the http://a.com:80/login

3. it redirected to the http://a.com:80/login

My questions:

1. What port is 80? The port exposed by APISIX in the container, like `-p 80:9080`?
2. Does the 80 port have anything to do with Jenkins?

[2022-06-24 02:43] nanamikon commented on #7301
[code]
It is important in the following issues
1.  auto scale base on  cpu uasge
2.  small size pod， 2 cpu ，   only support  20 ~ 30  connections，

Refer to least_conn.lua
[code]

Improment
1、We can build a new map to store  node ->  connection count,  and init  servers_heap with the info of this map
2、We should call servers_heap:insert in the random order just as rr，   maybe we can start at the r

[2022-06-24 05:10] tzssangglass commented on #7314
if we set `Access-Control-Allow-Credentials` to `true`, we cannot use '*' to allow all for the other attributes, like `Access-Control-Expose-Headers`?

so response headers like:

[code]

is not available.

ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers#directives

[2022-06-24 05:55] spacewander commented on #7313
See https://github.com/openresty/lua-nginx-module/pull/2037

You can wait for the next release of OpenResty or build it yourselves.

[2022-06-24 05:55] #7313 closed

[2022-06-24 06:01] spacewander commented on #7301
Sorry, now I can get your point.

However, when a new node is added, the upstream conf_version will increase, and require to create a new balancer due to lrucache miss:

https://github.com/apache/apisix/blob/8e1a1fd10ab55891f63f15f0ded3df88ad6f44bd/apisix/upstream.lua#L290-L294

https://github.com/apache/apisix/blob/8e1a1fd10ab55891f63f15f0ded3df88ad6f44bd/apisix/balancer.lua#L240

Currently, ther