[2022-02-17 09:12] tokers commented on #6353
It's terminated by the Kill signal.

[2022-02-17 09:18] WeiWANG0118 commented on #6353
Yes, but why did it happen? And how to resolve it?

[2022-02-17 09:24] tokers commented on #6353
Cannot get the result without any other information. Is it reproduced every time you running it?

[2022-02-17 09:27] WeiWANG0118 commented on #6353
Yes. Everytime, so I can't build the image all-in-one/dashboard. I don't know if it just happens to me or what. It's depressing.

[2022-02-17 09:31] liangliang4ward opened #6354 "Request help: dubbo proxy occur some error about dubbo version"
### Issue description

I try demo be based on  [https://apisix.apache.org/zh/docs/apisix/plugins/dubbo-proxy](url);

but dubbo return error like

[code]

my config like this:
[code]

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd: `uname -a`): Linux DESKTOP-QE043PO 5.4.72-microsoft-standard-WSL2  MP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- OpenRest

[2022-02-17 09:34] leslie-tsang commented on #6353
Actually, you don't have to do so.

`build-dashboard` deprecated via [apisix-docker PR 259](https://github.com/apache/apisix-docker/pull/259)

`make build-dashboard-centos` or `make build-dashboard-alpine` can be used instead.

[2022-02-17 09:37] leslie-tsang commented on #6332
Ohh, I see, `build-dashboard` deprecated via [apisix-docker PR 259](https://github.com/apache/apisix-docker/pull/259)

`make build-dashboard-centos` or `make build-dashboard-alpine` can be used instead.

Would you like to submit a PR to fix it ?

[2022-02-17 09:40] RexHuang opened #6355 "bug: proxy is not working to some website"
### Issue description

use dashboard to create a proxy to kubernetes.io is not working, while the same setting can proxy to github.com.
see the setings as below:
{
  "uri": "*",
  "name": "kubernetes.io",
  "vars": [
    [
      "http_msisdn",
      "==",
      "13900000002"
    ]
  ],
  "plugins": {
    "ext-plugin-pre-req": {
      "disable": true,
      "name": "FooFilter",
      "value": "bar"

[2022-02-17 09:43] TkClark opened #6356 "feat: Could modify the max array length of labels to the entry value in the configuration yaml"
### Issue description

Now. The maximum array length of labels in schema_def.lua is 16.
![image](https://user-images.githubusercontent.com/10162966/154447787-7de7385b-c50c-41d8-9ec4-10171ee45649.png)

Could the max array length be modified to the entry value in the configuration yaml

[2022-02-17 09:46] WeiWANG0118 commented on #6353
It's really hard for new comers to deploy their own apisix service.

[2022-02-17 09:53] leslie-tsang commented on #6353
It's not recommended for newbie to build their own apisix images.

Make your life easier by using docker-compose. more detail in [quickstart-via-docker-compose](https://github.com/apache/apisix-docker#quickstart-via-docker-compose)

[2022-02-17 10:06] tokers commented on #4933
@Ayushsunny Any updates?

[2022-02-17 10:16] starsz commented on #6345
Hi @MirtoBusico . Thanks for your patient test.
After reading your reply, I think you are confused by the logout URL?

You can refer to the config of the APISIX OpenID-Connect Plugin. There is a logout_path in the config.
Refer: https://apisix.apache.org/docs/apisix/plugins/openid-connect#attributes

[2022-02-17 10:36] xianshun163 commented on #6352
In other words, in the balancer phase, can I still modify  the URI?

[2022-02-17 11:33] mongudu opened #6360 "docs: Add authentication flow diagram to openid-connect.md"
### Improved or typo fixed.

Add authentication flow diagram to openid-connect.md

### Solution

Add authentication flow diagram to openid-connect.md

[2022-02-17 14:05] MirtoBusico commented on #6345
Seems I don't understand the documentation
Setting logout_path to "https://www.m01.net/headers" I receive a 404 error and the user session is still active

Setting teh logout_path to "/logout" (that should be the default) I'm redirect to
[code]
and the user is logged out

[2022-02-17 14:11] #6154 closed

[2022-02-17 15:50] mongudu opened #6362 "feat: (openid-connect plugin) As a User, I want to return back to redirect_uri after logout completed so that I can continue browsing the application (a ui app for instance)"
### Issue description

As far as I see, the plugin  (openid-connect) has capability to logout user. But I am not sure about that the plugin is capable to return back to a url after the logout? (for instance https://127.0.0.1/shopping/car)

cc @starsz

[2022-02-18 01:28] spacewander commented on #6360
I don't think it is necessary to add an image which is hard to update.

[2022-02-18 01:28] #6360 closed

[2022-02-18 01:32] #6354 closed

[2022-02-18 01:35] liangliang4ward commented on #6354
It's my mistake.
`org.apache.dubbo.sample.tengine.DemoService` need to `org.apache.dubbo.samples.tengine.DemoService`

[2022-02-18 01:39] spacewander commented on #4933
I think we should discuss where to put the stream plugin first, in a separate directory or in the plugin's doc itself.

[2022-02-18 01:41] starsz commented on #6362
Good feature! I think we can support it.

[2022-02-18 01:44] spacewander commented on #5861
@tokers @kwanhur
Ignore the particular tests **only** doesn't solve the problem. When should we run the ignore tests?

[2022-02-18 01:46] spacewander commented on #5861
@tzssangglass
Would you please handle this issue?

[2022-02-18 02:08] spacewander commented on #6344
I think we can add an option to it?
PR is welcome!

[2022-02-18 02:12] jinghuaz commented on #6344
nice, only sent header may be not enough，sometimes we need sent body information to auth server with POST method. wait for your message.

[2022-02-18 02:15] tzssangglass commented on #6352
1. you need rto use `balancer.recreate_request` after you changed the uri;
2. you can hook `before_proxy` in plugins to do this, see: https://github.com/apache/apisix/blob/b52f95b53c689cfd2fd0f4cbf0fefedd4cce9b5e/apisix/balancer.lua#L342-L346, then you don't need to call  `balancer.recreate_request`

[2022-02-18 02:30] tzssangglass commented on #6355
Proxy to kubernetes.io What is the response you get?

AFAIK, some websites refuse to be accessed by proxy servers.

[2022-02-18 02:35] spacewander commented on #6350
We can use `priority` in the `nodes`:

https://apisix.apache.org/docs/apisix/admin-api#request-body-parameters-3

[2022-02-18 02:40] spacewander commented on #6348
Let's move the discussion to https://github.com/apache/apisix/issues/3963.

[2022-02-18 02:40] #6348 closed

[2022-02-18 02:40] spacewander commented on #3963
@liangliang4ward
Would you like to submit a PR for it?

[2022-02-18 02:45] 2298814528 commented on #6296
对，我这边试了一下也不行

[2022-02-18 03:09] spacewander opened #6366 "feat: As a User, I want to have the port in the Host header when `pass_host = node` and the port is not standard"
### Issue description

feat: As a User, I want to have the port in the Host header when `pass_host = node` and the port is not standard, so that we can solve the problem in https://github.com/apache/apisix/issues/6296 in a better way when:

1. the port in the Host header is checked
2. multiple nodes which have different host name

[2022-02-18 03:09] #6266 closed

[2022-02-18 03:10] #6329 closed

[2022-02-18 03:32] jwrookie commented on #6355
I tried it according to your configuration, and it works fine

apisix version: `2.12.0`

please give more detailed response info, and i think it is caused by network problems

[2022-02-18 03:41] xianshun163 commented on #6352
@tzssangglass ,

Thank you for your reply. I don't fully understand your content.
I   let the balancer.recreate_ Request () at balancer.Lua code 345 line , is called or not, and the URI is still  the same as proxy_ rewrite. Lua has been modified,   without restoring the original URI. Is my  test wrong?

In addition, my purpose is to work in balancer.Lua, when  all the upstream unavailable, the req

[2022-02-18 04:15] liangliang4ward commented on #3963
ok, let me try do this

[2022-02-18 05:11] tzssangglass commented on #6352
I just remind you that you need `balancer.recreate_request()` after you modify the uri in the balancer phase.

Can you give more specific examples?

[2022-02-18 05:13] Ayushsunny commented on #4933
What exactly we've to do here?

[2022-02-18 05:45] xianshun163 commented on #6352
I  modify it like this:
1、in balancer.lua     local function pick_server(route, ctx)
           -- when all node is fail
            ctx.balancer_server = my_backup_gateway_server
            ctx.var.upstream_uri =  ctx.var._cache.real_request_uri
            ctx.donot_change_uri = true
2、in balancer.lua     function _M.run(route, ctx, plugin_funcs)
         if (run or header_changed  or ctx.donot

[2022-02-18 05:45] jagerzhang opened #6368 "request help: can Admin API supports route probe?"
### Issue description

Hi，我想请教下APISIX有没有可能提供一个探测路由配置是否命中的接口？比如想 admin-api POST 一个新的路由配置Body，探测这个配置是否命中存量路由并返回。

[code]
比如命中可以返回命中的路由ID等信息：
[code]

### 可能这个需求有点偏，不过还是想请教下。下面是我的场景描述：
=============================================
### 背景
我们想基于APISIX包装一个HTTP 7层业务网关服务，每个业务在门户中设置租户隔离，业务只能看到和自己相关的服务、上游、路由以及消费者等，业务之间可以通过服务自带的消费者去申请调用权限，其他则不在有数据上的交叉。

### 问题
在这个背景下，希望业务方在添加路由的时候，能够主动探测路由冲突情况，判断是否会覆盖掉现有路由，导致

[2022-02-18 05:54] hellobiek commented on #6309
fixed

[2022-02-18 06:12] shenzhuangzhi1 opened #6369 "docs: need to update https://apisix.apache.org/zh/docs/apisix/plugin-develop/"
### Improved or typo fixed.

https://apisix.apache.org/zh/docs/apisix/plugin-develop/ should be update.

### Solution

I'll update it. Update Chinese documents to be consistent with English documents.

[2022-02-18 06:12] RexHuang commented on #6355
after upgrade to 2.12.0, it works fine. Thanks~

[2022-02-18 06:12] #6355 closed

[2022-02-18 06:17] zaunist commented on #6369
Thanks for your contribution.

[2022-02-18 06:50] navendu-pottekkat opened #6371 "docs: Fix typos, add hyperlinks and add info on setting up the project in the "Contributor Guide""
### Improved or typo fixed.

The "[Contributor Guide](https://apisix.apache.org/docs/general/contributor-guide)" page has typos and missing hyperlinks.

Example:

Please ~fee~ free to report bugs
Please feel free to report bugs

It is also missing information about how to setup the project and test changes locally. This is also missing in the [CONTRIBUTING.md](https://github.com/apache/apisix/blob

[2022-02-18 06:57] navendu-pottekkat commented on #6371
I realised that the docs are on a separate repo. Opened an issue on the repo: https://github.com/apache/apisix-website/issues/887

Closing the issue here.

[2022-02-18 06:57] #6371 closed

[2022-02-18 07:15] marchlhw opened #6372 "request help:"
### Issue description

1. 路由配置，开启跨域插件，支持GET、POST、OPTIONS等方法
![image](https://user-images.githubusercontent.com/7006014/154635020-d9fdfe13-b8ae-47ca-83c8-d896831905f0.png)

2. 执行OPTIONS请求，响应中没有Access-Control-Allow-Origin头，其他跨域的头到是有
![image](https://user-images.githubusercontent.com/7006014/154634858-5ebfab95-e01d-441e-b155-a1e4bc63d030.png)

3. firefox浏览器，报相同的错误，响应中没有Access-Control-Allow-Origin头
![

[2022-02-18 07:56] mangoGoForward commented on #3931
I tested it like this:

1. Create a route

[code]

2. Test.

[code]

How about add the second step to the [redirect document](http://apisix.apache.org/docs/apisix/plugins/redirect)? @tzssangglass @leslie-tsang

[2022-02-18 08:01] long3610420 opened #6374 "request help: dubbo proxy occur some error about dubbo version"
### Issue description

dubbo-proxy  setting
{
  "disable": false,
  "method": "invoke",
  "service_name": "com.bitvito.umc.dubbo.api.dubbo.service.HTTP2DubboService",
  "service_version": "1.0.0"
}

curl 'http://172.30.96.39:9080/dubbo-test' -i

2022-02-18 15:56:42.453 [DubboServerHandler-172.30.96.29:30013-thread-197] INFO  CallbackServiceCodec -  [DUBBO] Not found exported service: com.bitvito.u

[2022-02-18 08:19] leslie-tsang commented on #3931
LGTM, don't forget to reduce the unnecessary info in the output.

eg:
[code]

[2022-02-18 08:26] mangoGoForward commented on #3931
@soltysh are you working on this issue already? If not I'd like to tackle this issue :)

[2022-02-18 08:28] jwrookie commented on #6372
your outermost http server is `tengine` , please visit `apisix` directly and look at the `response headers`

looking forward to your reply！

[2022-02-18 08:38] marchlhw commented on #6372
直接访问apisix正常了，感谢

[2022-02-18 09:58] kongjun01 commented on #6285
It's caused by that problem.

https://github.com/apache/apisix/issues/5755

[2022-02-18 09:58] #6285 closed

[2022-02-18 10:15] starsz commented on #6345
Oh.If this, I think it's a bug.

[2022-02-18 16:49] navendu-pottekkat opened #6380 "docs: Discrepancies in "Getting Started" and "How to build Apache APISIX" pages"
### Improved or typo fixed.

The "[Getting Started](https://apisix.apache.org/docs/apisix/getting-started)" page walks the user through an installation of APISIX using Docker. It is however mentioned [here](https://github.com/apache/apisix-docker#readme) that these Docker images are not official ASF images and users should always build from source.

There isn't a link to other installation methods

[2022-02-18 16:50] navendu-pottekkat commented on #6380
I can open up a PR after we discuss these proposed changes.

[2022-02-18 19:58] MirtoBusico opened #6381 "equest help: how to setup proxy-rewrite in dashboard?"
### Issue description

### Issue description

Im trying to use the dashboard to transform the url path before reaching the upstream service.

I have a httpbin service that works correctly if I use these urls
[code]
Now I want that
[code]
If I uderstand correctly I have to use the proxy-rewrite plugin
Using dashboard I set these parameters:
<img width="1184" alt="apisix-proxy-rewrite" src="https://

[2022-02-19 02:15] tokers commented on #4933
It seems that we don't distinguish plugins from the subsystem, maybe we can just put it into plugin's doc.

[2022-02-19 03:50] jwrookie commented on #6380
LGTM, but change `Getting Started` and  `How to build Apache APISIX`  titile maybe not significant.

welcome to discuss.

[2022-02-19 04:14] navendu-pottekkat commented on #6380
My intention with this change was to direct users to other installation methods as well in the "Getting Started" guide. Now that I think about it, the title could remain unchanged and we can interlink each of the two pages.

Do you think there is a specific reason why "How to build Apache APISIX" should not be changed to installation?

[2022-02-19 04:39] jwrookie commented on #6380
According to the guide, it describes different ways to install and also how to build a custom `apisix`, so I think the existing title might be better, don't you?

[2022-02-19 08:37] MirtoBusico commented on #6381
Hi @tokers I think that the problem is exactly  the wrong rewrited uri

Seems that "https://www.m01.net/pres/headers" is rewrited in "https://www.m01.net/*"
Instead I'm trying to translate "https://www.m01.net/pres/headers" into "https://www.m01.net/headers"

I just want to remove the "/pres" prefix so that when arrive an url containing "/pres/x/y/z" the upstream will receive "/x/y/z/"

What is th

[2022-02-19 11:09] tokers commented on #6381
Indeed we have a regex way to rewrite the target uri, see https://apisix.apache.org/docs/apisix/plugins/proxy-rewrite to learn the details. But I'm not sure if apisix-dashboard support this field. Maybe you can navigate to the plugin hub and edit the proxy-rewrite config by yourself.

[2022-02-19 14:12] kwanhur commented on #5861
at the beginning, I think we can split workflow `CI` into different parts, then each part uses different env variable to run different test cases.

[2022-02-19 15:25] kwanhur commented on #6380
Definitely point out potential users with the two pages, then discuss how to express precisely could be better.

`getting-started` for the viewers how to have a try.

 `how-to-build` seems for those users who want to build and install with different ways, it supports building guides and installation guides.

[2022-02-19 15:35] navendu-pottekkat commented on #6380
I will draft a PR and we can discuss further changes there. It would be best to have something tangible to work with.

[2022-02-19 15:36] kwanhur commented on #6307
Remove it after untar seems be better from https://github.com/apache/apisix/pull/6306#discussion_r806425026

Check target archive file checksum and then decide download or not, this maybe more complicated.

[2022-02-19 17:30] MirtoBusico commented on #6381
Ok @tokers solved using regex way
Using these fields in the dashboard
<img width="975" alt="apisix_proxy_rewrite" src="https://user-images.githubusercontent.com/11090934/154811980-2254cfcd-346e-4cd2-9658-d48749d74143.png">
 I obtain this route definition
[code]
And it works as expected.
Thanks

[2022-02-19 18:52] MirtoBusico opened #6484 "request help: How to correct "proxy-rewrite err: invalid regex_uri(^/user/(*), /$1)""
**Sorry posted in the wrong place. Please discard**

### Issue description

Hi all,
In the apisix pod log I see this error and my route doesn't work.
The log:
[code]
The route definition is:
[code]
Strangely this other route works perfectly
[code]

Mybe it is a stupid type error; but I cannot figure out why this is correct
[code]
and this is wrong
[code]
Any hint?

**UPDATE**
After shutting down a

[2022-02-20 05:09] #6225 closed

[2022-02-20 09:52] spacewander commented on #6368
Look like we can add a match_only option to the debug.yaml?
When this option is on, we just return matched router so we can deploy a special APISIX instance to check if there is conflict.

[2022-02-20 10:03] MirtoBusico opened #6387 "request help: How to correct "proxy-rewrite err: invalid regex_uri(^/user/(*), /$1)""
### Issue description

Hi all,
In the apisix pod log I see this error and my route doesn't work.
The log:
[code]
The route definition is:
[code]
Strangely this other route works perfectly
[code]

Mybe it is a stupid type error; but I cannot figure out why this is correct
[code]
and this is wrong
[code]
Any hint?

**After stop and start**

After shutting down and startup the entire kubernetes clust

[2022-02-20 13:01] tzssangglass commented on #6352
This code will only be executed during the balancer retry phase.

I've thought about it for a while, and your needs are a bit specific and a bit tricky to implement.

I'm turning this issue into a discussion because it's not related to the project.

[2022-02-20 16:33] starsz commented on #6345
Hi, @MirtoBusico.I had tested it on my local env. It looks good.
Can you try to test it again or provide the step to reproduce it? (Now the question is the logout path does work ?)

[2022-02-20 18:03] MirtoBusico commented on #6345
Yes, I'm trying to setup a different logout route that don't use the openid connect.
I changed the bug title

[2022-02-20 19:16] MirtoBusico commented on #6345
Well, with the new framework I'm not able to complete the login redirect.
I created two routes:

- a simple route for **https://www.m01.net** without any plugin
- a route for **https://www.m01.net/user/*** with proxy-rewrite and openid-connect plugins

All routes use an httpbin service as upstream

The first route definition is
[code]
The second route definition is
[code]
The first route works (th

[2022-02-20 19:52] MirtoBusico commented on #6345
Another try and the first results: wrong redirect on logout (so seems that there is a proxy-rewrite conflict)

I created two routes:

- a simple route for **https://www.m01.net** without any plugin
- a route for **https://www.m01.net/*** with proxy-rewrite and openid-connect plugins

All routes use an httpbin service as upstream

The first route definition is
[code]
The second route definition is

[2022-02-20 20:02] MirtoBusico commented on #6387
Strangely for me this gives a syntax error
[code]
but this is acceped and seems to work
[code]

Now the route definition is
[code]

[2022-02-21 01:54] starsz commented on #6381
Closed.

[2022-02-21 01:54] #6381 closed

[2022-02-21 02:47] lijian-sw opened #6393 "request help: Mutual TLS with client san validation"
### Issue description

Hi,

I have seen and tested Apisix can successfully do client authentication based on client SSL certificates.

But what I miss in this client certificate authentication is the SAN validation.
So in other words, how to ensure Apisix validates the client ip with the value specified in the client certificate (SAN or CN).

For what I have tested this validation does not take pl

[2022-02-21 03:39] tzssangglass commented on #6368
Another way is to provide an interface in which to run route match and return the results?

[2022-02-21 04:01] tzssangglass commented on #6387
test

[code]

and got

[code]

test

[code]

and got

[code]

so both of these two cases were wrong.

[2022-02-21 04:03] tzssangglass commented on #6387
maybe you can ref: https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-strip-route-prefix-for-path-matching

[2022-02-21 04:23] tzssangglass commented on #6393
AFAIK, we don't support san verification yet. But I have implemented a similar function, code like

[code]

by this way, we can get san, but it seems that this function is blocking.

[2022-02-21 04:44] #6374 closed

[2022-02-21 06:09] jwrookie commented on #6344
can assigned  to me ?

[2022-02-21 07:03] tokers commented on #6344
@jwrookie Assigned to you.

[2022-02-21 07:24] tzssangglass commented on #5500
@sandy420 since :https://github.com/apache/apisix/pull/6315 has been merged, could you pls check this PR has solved your probelm?

[2022-02-21 07:33] mangoGoForward commented on #6332
I'd like to tackle this issue :)

[2022-02-21 08:45] zhukexingkong opened #6397 "request help: How can I get the "modifiedIndex" of a route?"
### Issue description

My API bindings limit-count, I want get the count of redis key, the redis key  consists of "plugin-limit-countroute" and "modifiedIndex" and $server_addr.

[code]

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd: `uname -a`): Centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127

[2022-02-21 09:12] MirtoBusico commented on #6387
Thanks @tzssangglass as reported in your link the correct syntax is
[code]
and the wrong syntax is
[code]
**Ok. The first syntax is the solution.**

But I'm curious why the other syntax is wrong.
If I understand correctly, if these regex:

- (...) indicates something that will be passed as parameter (eg $1)
- \* indicates 0 or more characters
- . indicates 1 and only one character

So, in my mind,

[2022-02-21 09:37] Belyenochi opened #6398 "[Run Test Error]nginx: [emerg] getgrnam("root") failed in"
### Issue description
Run Test Cases Ready
perl version: 5.30.0
cpanm version: 1.9018
sudo cpanm --notest Test::Nginx IPC::Run > build.log 2>&1 || (cat build.log && exit 1) [Done]
test-nginx path: /Users/jasonzhu/third-dep/test-nginx/

My test step
1. cd apisix
2. sudo PERL5LIB=.:$PERL5LIB TEST_NGINX_BINARY=/usr/local/bin/openresty prove -I/Users/jasonzhu/third-dep/test-nginx/lib -r t
[code]
[code

[2022-02-21 10:09] #3545 closed

[2022-02-21 10:15] spacewander commented on #6398
We don't need to run test-nginx with `sudo`?

[2022-02-21 10:18] spacewander commented on #6398
The CI does'nt run test-nginx with `sudo`:
https://github.com/apache/apisix/blob/9bdee14dc77e0076960f2b943822fe7507c5f1d2/ci/linux_openresty_common_runner.sh#L95

[2022-02-21 10:56] tokers commented on #6393
The fetching result can be cached with the LRU.

[2022-02-21 11:08] Belyenochi commented on #6398
If remove sudo, error log follow
[code]

[2022-02-21 11:11] #6398 closed

[2022-02-21 11:40] Lewisyixin opened #6401 "bug: systemd will cause process stop when apisix is started by command"
### Issue description

When apisix was started by the command 'apisix start', then using systemd to start apisix will cause the process to shut down.
This may not be a bug exactily. But if in a production environment, one engineer starts process whth the former method, and another engineer uses systemd to execute the startup again, it may cause bad effects.

![image](https://user-images.githubuser

[2022-02-21 12:52] jagerzhang commented on #6368
如果能做到，这个方案应该更简洁一些，如果不好实现的话，罗总提到的特殊实例+debug这个方案应该也可以满足。

我们这边讨论了下，考虑先在管理层自己做一下限制，有需要的同学可以参考：
![image](https://user-images.githubusercontent.com/9711651/154958695-c477c21a-f408-4965-994a-9deb6eb68ec4.png)

[2022-02-21 13:41] lizj3624 opened #6403 "feat: apisix support QUIC+HTTP3"
### Issue description

[cloudflare/quiche](https://github.com/cloudflare/quiche) patch nginx-1.16 support quic+http3, I hope
apisix support QUIC+HTTP3

[2022-02-21 14:30] ShaoZeMing commented on #3341
目前我自定义插件使用2.12.1版本进行构建，发现也会报错。

[2022-02-21 14:46] ShaoZeMing opened #6404 "plugin.lua:109: load_plugin(): failed to load plugin [auth-hook] err: /usr/local/apisix/apisix/init.lua:21: changing jit stack size is not allowed when some regexs have already been compiled and cached, context: init_worker_by_lua*"
### Issue description

2022/02/21 13:51:56 [error] 47#47: *1 [lua] plugin.lua:109: load_plugin(): failed to load plugin [auth-hook] err: /usr/local/apisix/apisix/init.lua:21: changing jit stack size is not allowed when some regexs have already been compiled and cached, context: init_worker_by_lua*
2022/02/21 13:51:56 [error] 49#49: *5 [lua] plugin.lua:109: load_plugin(): failed to load plugin [aut

[2022-02-21 14:51] ShaoZeMing commented on #6404
Currently using a custom plugin, which works normally in version 2.6. After the current version was updated to 2.12.1, this plugin also added config.yml, but this error was reported. Here is my profile info:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding

[2022-02-21 15:49] tzssangglass commented on #6368
Tying the domain name to the business system and dividing the detection area works, I have done a similar design.

[2022-02-21 15:50] kwanhur commented on #6401
It results in the cross operations between manually and systemd.

If operates only by manually or systemd, the result will not come out.

[2022-02-21 16:03] tzssangglass commented on #6387
The regular expressions here are used to match from the request uri, excluding the host.

`^/pres/(*)` is impossible to configure successfully, and I am not quite sure of the details inside, as far as I can remember, it has to do with the greedy mode of regular matching.

[2022-02-21 16:10] tzssangglass opened #6405 "request help: The plugins that act on the specified consumer do not take effect"
### Issue description

origin mail: https://lists.apache.org/thread/o0zh8pddh50ytcf99g8jr5wnxbf9p9t3

User Description:
[code]

and

[code]

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info

[2022-02-21 16:24] ShaoZeMing commented on #6404
my lua file  auth-hook.lua:

[code]

[2022-02-21 16:28] tzssangglass commented on #6405
Reproduction steps:

1. add consumer

[code]

2. add routes

[code]

3. trigger route

[code]

the `X-CONSUMER-ID` is indeed not added

[2022-02-21 19:28] MirtoBusico commented on #6387
Ok. Thanks

[2022-02-21 19:28] #6387 closed

[2022-02-21 23:47] moonming commented on #6403
great idea! I'm not familiar with quiche, how much would it cost to use it instead of openresty? In addition, nginx is officially merging the functions of QUIC+HTTP3?
cc @membphis

[2022-02-22 01:27] tokers opened #6406 "docs: add datadog plugin document in Chinese"
### Improved or typo fixed.

We don't have a Chinese version of datadog plugin doc. The English one is here: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/datadog.md.

### Solution

Add the Chinese version.

[2022-02-22 01:33] tokers commented on #6404
@ShaoZeMing The cause of the problem is that you import the "apisix.init" to your plugin, try to avoid it.

[2022-02-22 01:48] liangliang4ward opened #6408 "request help: how to run test case at my machine"
### Issue description

I execut cmd like this:
[code]
error log like this:
[code]

how to run apisix instance at test and url like /hello

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd: `uname -a`): centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from

[2022-02-22 01:57] Chever-John commented on #6406
Leave the job to me.

[2022-02-22 02:07] ShaoZeMing commented on #6404
若需要使用到，应该怎么办。

[2022-02-22 02:08] Chever-John commented on #6408
Can you provide us with more info?
And executing `uname -a` will not return `linux`.

[2022-02-22 02:22] liangliang4ward commented on #6408
I use windows os and wsl run Centos7

[2022-02-22 02:28] Chever-John commented on #6408
Can you provide more information so that we can reproduce the problem?
For example, you can provide your test files and the procedures for executing commands

[2022-02-22 02:29] Lewisyixin commented on #6401
Right , but we just made mistakes in our QA env.  One engineer started by commond, the other used 'systemctl status' and thought the process was not started then  used 'systemd start' and finally found process was stoped.
So if  'RemainAfterExit=yes' can be adding in apisix.service if it doesn't cause ohter errors?

[2022-02-22 02:38] liangliang4ward commented on #6408
test case :
https://github.com/liangliang4ward/apisix/blob/feature/resp-all-upstream-status/t/node/upstream-status-all.t

exe cmd :
[code]

[2022-02-22 03:05] shenzhuangzhi1 opened #6409 "feat: As a User, I want to use SM3 so that a plugin of sm3-auth is necessary"
### Issue description

`SM3` is a cryptographic hash function standard adopted by the government of the people's Republic of China and issued by the state cryptographic administration. Relevant standard is `GM/T 0004-2012`

[2022-02-22 03:07] whioue opened #6410 "request help: mTLS Between APISIX and Upstream"
### Issue description

1. I would like to ask mTLS Between APISIX and Upstream. If so, why is it that only the client certificate and key are configured when configuring the upstream, and the mTLS Between APISIX and Upstream can be completed without configuring the CA certificate？
2. 我通过抓包进行分析，发现客户端与apisix之间进行了一个完整且正常的双向认证，apisix与服务端之间也是进行一个完整的双向认证，但是apisix作为客户端与服务端进行双向认证是未校验服务端的证书，请问一下这样做的原因是什么？

[2022-02-22 03:09] shenzhuangzhi1 commented on #6408
Maybe a dosc is needed about how to run test. 👍

[2022-02-22 03:29] spacewander commented on #6409
Could you explain why we need to use a cryptographic hash function with authentication? There is no md5-auth plugin.

[2022-02-22 03:42] spacewander commented on #6401
Is RemainAfterExit suitable for a proxy? I don't think so after reading https://stackoverflow.com/questions/38072849/when-should-the-option-remainafterexit-needs-to-be-set-true-when-creating-new-sy.

The same behavior happens if the engineer starts Nginx with `nginx -p . start` and stops it with systemctl.

[2022-02-22 03:46] spacewander commented on #6408
You can refer to https://github.com/apache/apisix/blob/master/docs/en/latest/internal/testing-framework.md

[2022-02-22 03:47] lizj3624 commented on #6403
I patch [quiche](https://github.com/cloudflare/quiche) to OpenResty-1.15.8，I found error (epoll_ctl(1, 53) failed (17: File exists)) when access_by_lua of ngx_lua module enabled，I gruess ngx_lua not support quic.  [ngx_lua issue](https://github.com/openresty/lua-nginx-module/issues/1887)

1. build env
[code]

2.  some code
ngx的conf配置
[code]
WAF模块的相关代码逻辑
my_waf.lua
[code]

3. error msg
[code]

[2022-02-22 03:56] spacewander commented on #6403
We have discussed it before. It seems that Nginx has developed its HTTP3 support instead of quiche. Since we need to catch up with the latest Nginx, it would be better to use Nginx's own HTTP3 implementation.

https://github.com/cloudflare/quiche/tree/master/nginx#building
We can't go back to Nginx 1.16 to use quiche

[2022-02-22 03:57] jwrookie commented on #6397
Currently it's only via `/apisix/admin/routes`, but I think we can add `modifiedIndex createdIndex` to the response of `/apisix/admin/route/{id}`

[2022-02-22 04:03] lizj3624 commented on #6403
@spacewander when apisix support QUIC+HTTP3？

[2022-02-22 04:05] spacewander commented on #6368
How does this interface distinguish `path` from the HTTP request? As we need to use a special path to reach the interface.

[2022-02-22 04:25] lizj3624 opened #6412 "bug: lj_str_new high CPU usague when performance testing with about 10k http request body"
### Issue description

 lj_str_new high CPU usague when performance testing with about 10k http request body，I  think it's ngx_lua promble, [ngx_lua issue](https://github.com/openresty/lua-nginx-module/issues/2015)，apisix tested similar case and encountered similar problems?

lj_str_new high cpu usague when access_by_lua of ngx_lua
![ME1645502052074](https://user-images.githubusercontent.com/12177

[2022-02-22 04:28] navendu-pottekkat opened #6413 "Consolidate issue/PR labels across all APISIX repos"
### Proposal

Apache APISIX has different repos housing different sub-projects and the project website. Each of these repos use labels that are not centralised to the project and does not have parity.

Moreover, the labels used are not comprehensive and semantic and does very little to convey information to contributors and project maintainers alike.

This is a proposal to create issue/PR labels t

[2022-02-22 04:50] gxthrj commented on #6413
Cool~
Looks good and detailed.

[2022-02-22 04:53] tzssangglass commented on #6368
can we add a control API and call

[code]

in control API function.

[2022-02-22 05:04] tzssangglass commented on #6413
great idea, and I left a comment on that docs.

[2022-02-22 05:08] tzssangglass commented on #6412
ok, are you comfortable generating a flamegraph of your test case?

you can ref: https://github.com/apache/apisix/blob/master/.github/workflows/performance.yml

[2022-02-22 05:41] membphis opened #6414 "docs: change to English version"
### Improved or typo fixed.

https://github.com/apache/apisix/pull/6215/files#r803272780

it is Chinese.

### Solution

We need to translate Chinese to English

[2022-02-22 05:47] membphis commented on #6405
This seems like a bug, right?

[2022-02-22 05:50] juzhiyuan commented on #6413
Actually no, we use mailing list or GitHub issue to track and discuss.

[2022-02-22 05:54] juzhiyuan commented on #6413
I'm not sure if we really need those many labels 😅 because those labels are enough for me, let's wait for other maintainers ideas.

[2022-02-22 05:57] lizj3624 commented on #6412
I guress it's ngx_lua bug，i closed the issue in apisix， [ngx_lua issue](https://github.com/openresty/lua-nginx-module/issues/2015)

[2022-02-22 05:57] #6412 closed

[2022-02-22 06:16] spacewander commented on #6414
There is already an English one?
https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/clickhouse-logger.md
Do you mean fixing the table in it?

[2022-02-22 06:17] spacewander commented on #6403
Once this feature is merged in Nginx and we catch up the latest version.

[2022-02-22 06:25] liangliang4ward commented on #6408
I know that..

but when test case like `add route` occur error; I don't know how to do ..

[code]

[2022-02-22 06:27] mangoGoForward commented on #6414
[As the discussion said](https://github.com/apache/apisix/pull/6215#discussion_r808727629). the content of table header is Chinese in En doc, and I'd like to tackle this issue.

[2022-02-22 06:35] shenzhuangzhi1 commented on #6409
`hmac-auth` has three kind of algorithms: `hmac-sha1`, `hmac-sha256`, `hmac-sha512`. I think that `sm3` is saftier than others

[2022-02-22 06:55] whioue commented on #6410
我通过抓包进行分析，发现客户端与apisix之间进行了一个完整且正常的双向认证，apisix与服务端之间也是进行一个完整的双向认证，但是apisix作为客户端与服务端进行双向认证是未校验服务端的证书，请问一下这样做的原因是什么？

[2022-02-22 07:36] shuaijinchao commented on #6413
cool, using `labels` can indeed describe `issues/pr` more clearly. unfortunately, currently projects under Apache cannot use `bot` to manage these tags, which will result in a lot of labor costs to maintain these `labels`.

[2022-02-22 07:49] whioue opened #6418 "bug: apisix failed to verify the validity of the server certificate"
### Issue description

配置 ssl 资源，同时配置了 client.ca 和 client.depth 参数、在上游中配置了客户端证书和密钥、在运行开启了双向认证的服务端。我通过抓包进行分析，发现客户端与apisix之间是进行一个完整且正常的双向认证，但是apisix作为客户端与服务端进行双向认证时，apisix未校验服务端证书的合法性，当服务端配置不合法的证书和密钥时，apisix未终止请求而是直接返回了服务端的响应结果。

### Environment

- apisix version (cmd: `apisix version`):v2.8
- OS (cmd: `uname -a`):linux centos
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd v

[2022-02-22 08:21] navendu-pottekkat commented on #6413
Also, most of these labels would be directly applied from the issue forms. So there is less manual work.

[2022-02-22 09:20] elricli opened #6419 "bug: One of the three PODs of etcd, has been reporting an error and restarting."
### Issue description

Screenshot:
![image](https://user-images.githubusercontent.com/11224565/155100421-ddc1a8e5-21f4-498f-b9a0-99208e1142f4.png)

### Environment

- apisix version (cmd: `apisix version`): 2.12.0-alpine
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.9.1
- etcd version: 3.4.16-debian-10-r14

### Steps to repro

[2022-02-22 09:40] purekeeper opened #6420 "request help: I need two backend"
### Issue description

I want have two  upstream , if  one return error, it colud fallback  to the other upstream,

For example :

client request http://aa.bb.com/test   default backend is proxy_pass to   **http://10.100.22.11**,  if it return error  or healthcheck error , the request should fallback to **https://cc.dd.com**,   note that the first is http ,the second is https,
so what should i do

[2022-02-22 09:42] AlexAi27 opened #6421 "docs: For L7 proxy -> For L4 proxy"
### Improved or typo fixed.

https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md?plain=1#L557

### Solution

For L7 proxy -> For L4 proxy

[2022-02-22 09:53] tzssangglass commented on #6410
we can set [proxy_ssl_trusted_certificate](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_ssl_trusted_certificate) by using [customize-nginx-configuration](https://github.com/apache/apisix/blob/master/docs/en/latest/customize-nginx-configuration.md), and would you like to submitting a PR improvement documen?

we need improve here: https://github.com/apache/apisix/blob/master/docs/e

[2022-02-22 10:00] tzssangglass commented on #6410
and we can do some optimization, if set `ssl_trusted_certificate` in `config.yaml`, let the template set automatically `proxy_ssl_trusted_certificate` same as `ssl_trusted_certificate` in `nginx.conf`.

[2022-02-22 10:00] starsz commented on #6421
Good capture! Can you submit a PR to fix it?

[2022-02-22 10:05] starsz commented on #6420
Hi @purekeeper.
You can set `https://cc.dd.com/` with negative priority.

Refer to the doc: https://apisix.apache.org/docs/apisix/admin-api

[2022-02-22 10:09] #3569 closed

[2022-02-22 10:09] #3593 closed

[2022-02-22 10:30] membphis commented on #3775
@nic-chen Do you have any news about this issue?

[2022-02-22 10:50] starsz commented on #6345
https://k6k.m01.net/auth/realms/apisix_test_realm/protocol/openid-connect/logout?id_token_hint=eyJhbGciOiJSUzI1N

But the user is logout. If you access https://www.m01.net/headers, it will show the keycloak login page.

 So do you mean we can config a logout_redirect_url? Then we can redirect the logout_redirect_url.
You can refer to this PR: https://github.com/apache/apisix/issues/6362

[2022-02-22 10:59] sandy420 opened #6422 "request help: After writing data to different KFK clusters in the custom plugin, kafka-logger does not work properly"
### Issue description

When a custom plugin is added to apisix, resty.kafka.producer is referenced in the plugin to record a specific log, which causes kafka-logger to fail to work properly. From the log information, it is found that the same topic used by both plugins, but The custom plugin and kafka-logger are configured with different topic names, whether only one producer can exist in the plug

[2022-02-22 11:53] membphis commented on #6422
pls make a try with the latest version `2.12.1`

[2022-02-22 11:59] whioue commented on #6418
启动后置服务时加载ca证书和服务端证书、服务端密钥，但是服务端证书和私钥并不是此ca证书所签发的，正常来说apisix作为客户端来访问此服务时，双向认证时服务端会将此证书和密钥发送给apisix，而apisix并未校验出此证书和密钥不合法而是直接获取到了响应。当使用curl进行访问此服务时提示证书验证失败，不能正常访问获取请求。

[2022-02-22 12:08] MirtoBusico commented on #6345
Yes @starsz I mean exactly the PR: https://github.com/apache/apisix/issues/6362

So I think that I have to wait that this PR will be implemented

[2022-02-22 12:14] liangliang4ward commented on #6408
need to do this.
https://github.com/api7/test-toolkit

[2022-02-22 12:14] #6408 closed

[2022-02-22 12:53] lizj3624 commented on #6403
@membphis thx，from the test results，[quiche's](https://github.com/cloudflare/quiche) stability is better than nginx-quic, cloudflare‘s quiche has been running online for a long time，nginx-quic has not been merged into the master branch。

[2022-02-22 15:13] moonming commented on #6362
@starsz do you have a plan to do this? thx

[2022-02-23 00:51] Chever-John commented on #6408
Morning!
It's nice to see that you can work things out on your own.

[2022-02-23 01:04] Chever-John commented on #6420
If I understand you correctly, I think [this](https://apisix.apache.org/docs/apisix/admin-api/#:~:text=https%20is%20valid.-,Note%3A,-Each%20node%20can) is what you mean.
Just to validate my idea.
Thinks!

[2022-02-23 01:05] spacewander commented on #6403
Yes, but we are not Cloudflare. The Cloudflare-Nginx is a fork from an old Nginx version. We don't want to make APISIX hard to catch up with the latest Nginx.

[2022-02-23 01:07] liangliang4ward commented on #6421
let me fix it?

[2022-02-23 01:08] #6414 closed

[2022-02-23 01:12] purekeeper commented on #6420
@Chever-John @starsz    Thanks for reply, please note the default backend is http  protocal   , falback to https protocal,  as my understand the node priority have to keep  same protocal ,right ?   Thants means we can't write like

 "nodes": [
            {"host": "**http**://127.0.0.1", "port": 1980, "weight": 2000},
            {"host": "**https**://10.100.22.33", "port": 1981, "weight": 1, "pri

[2022-02-23 01:17] tokers commented on #6420
Yeah, currently the `scheme` is on the upstream level.

[2022-02-23 01:23] tokers commented on #6418
@whioue APISIX doesn't enable the `proxy_ssl_verify` directive, one of the solutions is enabling the `proxy_ssl_verify` by yourself, through the https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L193.

[2022-02-23 01:38] tzssangglass commented on #6422
If you need to regenerate the kafka producer, change the `cluster_name`.

ref: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/kafka-logger.md

[2022-02-23 01:42] nic-chen commented on #3775
We're using keepalive instead of always updating, but it's still writing, not read-only: https://github.com/apache/apisix/pull/6202

[2022-02-23 01:42] starsz commented on #6362
Yes. I will submit a PR to do it this week.

[2022-02-23 01:47] #6421 closed

[2022-02-23 01:51] tzssangglass commented on #6405
yes, my understanding is that when the request hits the consumer, APISIX should execute over the plugins configured in the consumer.

Now it is clear that it does not.

However, this test case has a flaw.

Did the request hit the consumer? Maybe it just hit the route.

[2022-02-23 01:52] shuaijinchao commented on #6413
Great.

[2022-02-23 02:04] jwrookie commented on #6419
Try removing it from an existing cluster and then rejoining

[2022-02-23 02:08] tzssangglass commented on #6419
Is this an ETCD related issue and not an APISIX issue?

[2022-02-23 02:18] lizj3624 commented on #6403
1.  OK，I understand apisix
2. I complain about nginx，official nginx plans merge quic to master before 2022，[nginx h3 roadmap](https://www.nginx.com/blog/our-roadmap-quic-http-3-support-nginx/)，but now is 2022.2，nginx new feat is too slow，alibaba，tencent，kuaishou  LB supports quic，We are also testing cloudflare-quic nginx
3. Igor Sysoev，nginx's father，resigned from nginx.Inc and F5 on 2022.1.18

[2022-02-23 02:24] spacewander commented on #6409
OK, so it will be the hmac-sm3. I will keep this issue open to see if it's worth doing.

[2022-02-23 02:26] whioue commented on #6410
如您上述所属，只能在.yaml文件中固定死需要设置的ca证书，我的理解有误吗？如果是的话，是不是不太灵活呢？为什么没有在upstream中设置client_ca字段用来验证服务端的证书？后续有这方面的优化吗？

[2022-02-23 02:26] spacewander commented on #6368
When the request hits `/control/v1/probe`, how can it pass its real path (and host)?

[2022-02-23 02:32] shenzhuangzhi1 commented on #6409
ohh, its excited, thanks

[2022-02-23 02:40] drrrMikado commented on #6419
Maybe. [etcd-io/etcd/issues/13196.](https://github.com/etcd-io/etcd/issues/13724)

[2022-02-23 02:43] mangoGoForward commented on #6356
I'd like to tackle this issue, seems we can remove this line to remove restriction for the max array length.

https://github.com/apache/apisix/blob/f7b50f28bae7ca6ed373fe7c1ea07e658a6bee3f/apisix/schema_def.lua#L97

[2022-02-23 02:50] whioue commented on #6418
在upstream中只配置了client_cert和client_key，却没有client_ca字段，我理解这样的话apisix到业务主机端并不是一个完整的双向认证，与https://github.com/apache/apisix/blob/master/docs/zh/latest/mtls.md文档中所述不完全相符。后续在upstream中有考虑引进设置client_ca用于验证服务端证书吗？
![image](https://user-images.githubusercontent.com/47098518/155254044-60c67b30-ed34-41ba-8ec1-78e452df2280.png)

[2022-02-23 03:00] shoulda opened #6424 "request help: Prometheus count metrics error"
### Issue description

when i use apisix as a reverse proxy to upload a 1.4M file,   the size of  vars.request_length in access.log is correct (1.4M)，but Using prometheus plugins to count, the ingress is 2.8M.

below pictures  the first is access.log  the second is prometheus plugins count

<img width="1252" alt="wecom-temp-d3657b0e4bf9e6e16c09e05bfae0ba36" src="https://user-images.githubuserconte

[2022-02-23 03:16] jinghuaz commented on #6344
@jwrookie have any process please remeber update here, thanks...

[2022-02-23 03:53] ccwall3 opened #6425 "bug: No spaces are allowed in the configuration file"
### Issue description

<img width="644" alt="057f5c3c4a39e3d3dc5eccd5a72cfae" src="https://user-images.githubusercontent.com/7711718/155259003-f751781d-3fed-4076-a5a5-8fea1ea2e317.png">
启动报错
failed to read local yaml config of apisix: failed to merge, path[plugin_attr->log-rotate->enable_compression] expect: boolean, but got: string

### Environment

- apisix version (cmd: `apisix version`):
- OS

[2022-02-23 04:18] jwrookie commented on #6344
ok

[2022-02-23 05:45] spacewander commented on #5902
Already done.

[2022-02-23 05:45] #5902 closed

[2022-02-23 06:19] TkClark commented on #6356
yep，we just want this modified by official team. Than we can use the docker image. hahaha~

[2022-02-23 06:40] zaunist commented on #6425
Hi, @ccwall3. Could you check if there are any spaces after `false`, and if there are, you need to remove them.

[2022-02-23 07:24] mangoGoForward commented on #6356
Maybe you can commit a PR to help official team to solve, and you can get an image what you wanted also.

[2022-02-23 08:12] #6424 closed

[2022-02-23 08:13] shoulda commented on #6424
it is my fault

[2022-02-23 09:09] tokers commented on #6425
@ccwall3 Could you explain the meaning of the red rectangles in your screenshoot?

[2022-02-23 09:43] dmsolr commented on #4273
I am interested in this. May I pick it up?

[2022-02-23 09:59] sandy420 commented on #6422
ok,tks

[2022-02-23 09:59] #6422 closed

[2022-02-23 10:07] sandy420 opened #6427 "request help: log-rotate -- "send USER1 signal to master process [88584] for reopening log file""
### Issue description

![image](https://user-images.githubusercontent.com/10955441/155297794-5e5ebd40-ffd7-4481-967c-4e8ba0946aeb.png)

What is the reason for the above picture

### Environment

- apisix version (cmd: `apisix version`):2.10.1
- OS (cmd: `uname -a`):centos 7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):1.19
- etcd version, if have (cmd: run `curl http://127.0.0.1

[2022-02-23 10:21] starsz commented on #6420
Yes.As @tokers said.

[2022-02-23 10:43] zhukexingkong opened #6429 "request help: A TLS API is routed, but the Client Key is different from the original one"
### Issue description

1. My backend service has TLS authentication enabled. I used admin API to add routes and enable TLS configuration, and found that the Client Key of APISIX Dashboard has changed:
admin API parameters:
curl http://localhost:9080/apisix/admin/routes/395051487660606160?api_key=admin -X PUT -i -d '
{
  "uri": "/test/getUser",
  "name": "getUser",
  "methods": [
    "GET",
    "PO

[2022-02-23 12:35] tzssangglass commented on #5780
I'm not sure, but I think it's important to make sure that the modification rules take effect dynamically. Dynamic is a capability that we have to maintain.

[2022-02-23 12:38] tzssangglass commented on #6368
Put in the request body? Seems like a bit of a hassle too. It seems like a good option to add a parameter inside debug mode to control this functionality.

[2022-02-23 12:41] tzssangglass commented on #6410
yes

Given the reality that different upstream certificates may be issued by different CAs, making `ssl_trusted_certificate` dynamic is an optimization worth thinking about.

[2022-02-23 12:41] tzssangglass commented on #6410
Do you have any suggestions?

[2022-02-23 14:07] #3479 closed

[2022-02-23 15:31] tiyorn opened #6430 "request help: Why in the case of upstream multiple nodes, set pass_host = node, nodes can only use domain name, not ip directly, otherwise host will be set to 127.0.0.1:9080"
### Issue description

 Why in the case of upstream multiple nodes, set `pass_host = node`, nodes can only use domain name, not ip directly, otherwise host will be set to 127.0.0.1:9080，which is the address of apisix itself.

route config:
[code]

When forwarding the request, the host header will be set to `http://127.0.0.1:9080`，why？
`pass_host = node` only support domain name scene？why can't jus

[2022-02-24 00:44] hellobiek commented on #6309
你好，我参考下面这篇博客，使用authz-keycloak来进行RBAC的权限管理：
https://github.com/apache/apisix/blob/master/docs/zh/latest/plugins/authz-keycloak.md
现在每次访问，都需要输入token，但是我想使用，弹窗让用户输入用户名和密码的方式完成认证。
请问，这样的化，需要怎么做呢？我本地的配置如下：
`{
  "audience": "Client ID",
  "disable": false,
  "permissions": [
    "Png Resource#image:view"
  ],
  "token_endpoint": "http://10.20.0.213:31477/auth/realms/apisix_test_realm/protocol/openid-con

[2022-02-24 01:12] spacewander commented on #5780
I have taken a simple check to this module. It doesn't support dynamically reloading the rules.

[2022-02-24 01:17] #6380 closed

[2022-02-24 01:20] hellobiek opened #6431 "request help: authz-keycloak"
### Issue description

本人的配置如下：
`    "authz-keycloak": {
      "client_id": "apisix",
      "client_secret": "XXXXXXXXXXXXXXXXXXXXXX",
      "disable": false,
      "discovery": "http://10.20.0.213:31477/auth/realms/apisix_test_realm/.well-known/openid-configuration",
      "permissions": [
        "Png Resource#image:view"
      ]
    }`

但是在使用时报错，错误日志如下：

2022/02/24 01:17:16 [error] 44#44: *2738

[2022-02-24 01:23] tokers commented on #6429
@zhukexingkong Please provide some error logs about apisix-dashboard (the manager-api program).

[2022-02-24 01:27] tzssangglass commented on #6309
The pop-up window needs to be similar to this code below:
https://github.com/apache/apisix/blob/749094bb55421f5b715af18e376c373603bf5d62/apisix/plugins/basic-auth.lua#L147-L150

authz-keycloak plugin not support yet.

[2022-02-24 01:27] liangliang4ward commented on #6430
I thount when pass_host=="node" upstream node only support one.

https://github.com/apache/apisix/blob/749094bb55421f5b715af18e376c373603bf5d62/apisix/upstream.lua#L424

[2022-02-24 01:35] tokers commented on #6430
When the value of `pass_host` is `node`, the HTTP Host header will set according to the domain/ip of this node.

[2022-02-24 01:41] tzssangglass commented on #6427
Do not worry, it is normal, you can read `Rotating Log-files` on http://nginx.org/en/docs/control.html

[2022-02-24 01:49] tzssangglass commented on #6425
On the left side of the image, the `plugin_attr` on `log-rotate` is misconfigured.

You can try delete this line and rewrite it

[2022-02-24 01:51] tiyorn commented on #6430
I know, but when multiple upstream addresses are set to ip instead of domain names, it will not take effect.

[2022-02-24 01:57] zhukexingkong commented on #6429
When I query the route list after creating a route in Dashboard, the error. Log of Dashboard shows the following information:
2022-02-24T09:55:32.577+0800	WARN	store/store.go:154	data not found by key: 396174040680628944

[2022-02-24 01:58] tzssangglass commented on #6431
ref: https://github.com/apache/apisix/issues/4616

You need to provide the complete reproduction steps.

[2022-02-24 02:03] tzssangglass commented on #6430
Not really understood.

Are you saying that when there are multiple nodes in the upstream, the Host header sent to the upstream is not the `host` configured in each node?

[2022-02-24 02:15] tiyorn commented on #6430
Yes, set `pass_host == node`, when nodes.host is directly ip, it does not take effect. It only takes effect when nodes.host is domain name.

[2022-02-24 02:38] zhukexingkong commented on #6429
1. Prepare a Springboot service
2. Enable TLS, prepare server.p12 and client.p12, and use client.p12 to generate the client.cer,  server.p12 trusts the client.cer
3. Sprintboot enable TLS configuration:
server:
  port: 8090
  ssl:
    # 服务端配置
    key-store-type: PKCS12
    key-store: classpath:key/server.p12
    key-store-password: 123456
    key-alias: server
    protocol: TLS
    enabled-protoco

[2022-02-24 03:06] zhukexingkong commented on #6397
Yes, I later used /apisix/admin/routes to fix the problem, but this will get the full routes each time, still hope to improve /apisix/admin/route/{id} to get modifiedIndex and createdIndex

[2022-02-24 07:30] inickel commented on #6406
i18n support suggest

[2022-02-24 09:09] Chever-John commented on #4945
I just solved the problem.
The first thing you need to know is that `brew`'s location in M1 Macos has been changed and is currently in `/opt/homebrew/cellar/`.
So you should configure your files like this:
[code]

Then it works!

[2022-02-24 09:12] Gary-Airwallex opened #6439 "request help: allow_origins and allow_origins_by_regex in cors plugin"
### Issue description

The `allow_origins_by_regex` option is used when no origin in `allow_origins` matches with request origin. What if I'd like to use allow_origins_by_regex only? Do I have to specify the string `null` for `allow_origins`? Would it be possible to make allow_origins optional (removing `default = "*"`)?

### Environment

- apisix version (cmd: `apisix version`): master
- OS (cmd:

[2022-02-24 09:49] tokers commented on #6429
@bzp2010 Please take a look when you have time, I'm not sure whether this error will cause the `500 Internal Error`.

[2022-02-24 09:50] dmsolr commented on #4232
APISIX has supported reporting access-log with trace context and error-log to SkyWalking by #5478 and #4633.
So, I think this issue could be closed.

[2022-02-24 10:09] #3664 closed

[2022-02-24 10:28] doudouliyougangbeng opened #6441 "How use "google.protobuf.Any"?"
### Issue description

curl http://127.0.0.1:8081/apisix/admin/proto/1 -H 'X-API-KEY: XXX' -X PUT -d '
{
     "content" : "syntax = \"proto3\";
     import "google/protobuf/any.proto";
...
}
{"error_msg":"invalid content: \/usr\/local\/tapisix\/\/deps\/share\/lua\/5.1\/protoc.lua:335: attempt to index field 'node' (a nil value)"}
{"error_msg":"invalid content: \/usr\/local\/tapisix\/\/deps\/share\

[2022-02-24 10:59] wu-sheng commented on #4232
I think (1) is not supported? Do we skip it?

[2022-02-24 11:35] hellobiek commented on #6309
can support this？

[2022-02-24 13:15] tzssangglass commented on #6309
1. I am not sure if this works well with key-clock.
2. why should support it? Can you show a detailed scenario, or a similar case?

[2022-02-24 13:25] tzssangglass commented on #6430
I don't quite understand what you mean by not taking effect. What do you expect set `pass_host == node` to be, and what is the Host header that APISIX proxies to upstream? In fact, what is the Host header that you get from the APISIX proxy to the upstream?

[2022-02-24 13:27] tzssangglass commented on #6429
Are you sure the route you found on the dashboard is the one you set up via admin-api? It looks like it's two.

[2022-02-25 01:17] purekeeper commented on #6293
@nic-6443 @tokers     apisix deploy as a docker service, I enable the prometheus plugin and set params

  prometheus:
    export_uri: /apisix/prometheus/metrics
    enable_export_server: true
    export_addr:
      ip: 0.0.0.0
      port: 9091

and  then call   /apisix/prometheus/metrics  get the result  which miss http_status/http_latency/bandwidth... metrics,
by the way,  we have launched many r

[2022-02-25 01:20] tokers commented on #6293
Actually, you should create a global rule to enable the prometheus plugin.

[2022-02-25 01:22] tokers commented on #6441
@doudouliyougangbeng See https://github.com/apache/apisix/blob/03324ee6f9940020a129f18c11c337e6bd40660f/docs/en/latest/plugins/grpc-transcode.md#add-a-proto.

[2022-02-25 01:25] shuaijinchao commented on #6427
thx~ @tzssangglass  , @sandy420  my opinion is the same as @tzssangglass.

[2022-02-25 01:50] dmsolr commented on #4232
We can get `tracing_context` in other plugins by `ngx.ctx.tracing_context`. So I think (1) is supported as well.
I will submit a PR to add some explanations to the related document.

[2022-02-25 02:07] tzssangglass commented on #6397
In fact, all routes configurations exist as a whole. Any modification to a route will cause the entire radixtree to be rebuilt.

[2022-02-25 02:09] wu-sheng commented on #4232
Thanks, look forward to that.

[2022-02-25 02:14] tzssangglass commented on #6439
if you just want to use `allow_origins_by_regex`, no `allow_origins `, you can follow this case:
https://github.com/apache/apisix/blob/d5d1c8a49074c0238001286f0059a6a5b5a014ed/t/plugin/cors.t#L763-L844

[2022-02-25 02:42] Gary-Airwallex commented on #6439
Hi @tzssangglass in that example, the request origin is first matched with "http://sub.domain.com,http://sub2.domain.com"? It'll fail of course and then being matched against allow_origins_by_regex, but is it possible to omit the first step?

[2022-02-25 02:46] zuiyangqingzhou opened #6443 "request help: upstream how to do failover"
### Issue description

I have this requirement, currently there are three upstream nodes, A, B, C, where node A and node B provide services normally, node C only do backup, only node A and node B have problems, node C will receive requests

How should I achieve this based on the current situation？

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Ngi

[2022-02-25 02:54] #3963 closed

[2022-02-25 03:00] spacewander commented on #4945
Consider solved. Feel free to reopen it if need.

[2022-02-25 03:00] #4945 closed

[2022-02-25 03:13] tiyorn commented on #6430
set `pass_host == node`
while set nodes:
[code]
the actual Host header is unexpected: `http://127.0.0.1:9080`,  expected: `https://192.168.0.1` or `https://192.168.0.2`

while set nodes:
    "nodes": [
      {
        "host": "ly.sylc1.com",
        "port": 80,
        "weight": 1
      },
      {
        "host": "ly.sylc2.com",
        "port": 80,
        "weight": 1
      }
    ],
the actual Hos

[2022-02-25 05:55] #6176 closed

[2022-02-25 06:30] xuchmao commented on #6441
1. Rewrite plugin grpc-transcode
2. Store google protobuf files locally
3. Use protoc.loadfile to compile proto

![本地存储](https://user-images.githubusercontent.com/14901669/155665935-a1269fc9-1780-4109-a3b4-880e8e7d02bb.png)

![文件编译](https://user-images.githubusercontent.com/14901669/155666014-bb32f941-726d-45d5-8d63-f4b6c707480a.png)

[2022-02-25 06:48] tzssangglass commented on #6439
You can try it.

[2022-02-25 08:05] nic-6443 commented on #6293
@purekeeper Enable Prometheus plugin in global rules like this:
[code]

[2022-02-25 08:07] purekeeper commented on #6293
Thanks everyone, resolved.

[2022-02-25 08:07] #6293 closed

[2022-02-25 09:35] leslie-tsang commented on #5723
@juzhiyuan solved via #6202

[2022-02-25 09:44] tokers commented on #6397
Not related to the radix tree, but exposing the modified index and create index for the route in ETCD.

[2022-02-25 09:46] tokers commented on #6443
See https://apisix.apache.org/docs/apisix/next/architecture-design/upstream/, you can refer to the node priority.

[2022-02-25 10:24] zuiyangqingzhou commented on #6443
This should not meet my requirement, my requirement is that under normal circumstances the request will only hit node A and node B. Only if both node A and node B are down, the request will go to node C.

[2022-02-25 10:45] starsz commented on #6345
Yeah. We will support it as soon as possible.

[2022-02-25 12:30] MirtoBusico commented on #6345
Thank

[2022-02-25 13:04] #5723 closed

[2022-02-25 13:49] nic-6443 commented on #6443
Please read the upstream documentation carefully, this function can be achieved by node priority and active healthy check, there is a very clear demonstration case in the documentation, similar to the following：
[code]

[2022-02-25 21:30] lukasmrtvy commented on #1868
Proly doable with go-runner and https://github.com/corazawaf/coraza

[2022-02-26 05:32] navendu-pottekkat opened #6456 "docs: Restructure the "Architecture Design" Section"
### Improved or typo fixed.

The current "[Architecture Design](https://apisix.apache.org/docs/apisix/architecture-design/route)" pages misses internal hyperlinks and could require some rewriting to enhance readability.

### Solution

Make changes to the docs similar to this PR: https://github.com/apache/apisix-website/pull/893

Please assign this issue to me. I will open a PR to discuss the chang

[2022-02-26 11:01] jacobslei opened #6457 "feat: As a User, I want to using one etcd cluster sharing by all the apisix clusters"
### Issue description

 On the basis of current  apisix achitecture, one etcd cluster just can  be used for one apisix cluster for storing gateway configurations.  It seems like to have a little waste for etcd cluster resources. Is there any plans for supporting one etcd cluster using by many  apisix clusters ?

[2022-02-26 11:19] jacobslei opened #6458 "feat: How to discovering different upstream nodes from different registry center in one apisix cluster"
### Issue description

In our bussiness scene, we need to using api gateway to switch different environment for the first layer to enter the backend microservices cluster. So we need to implement that feature:
1.  discovering backend services using different eureka service in one apisix cluster
2. The backend services  instances which are discoveried from eureka service can be filter by key-value

[2022-02-26 13:47] hellobiek commented on #6309
my scenario: In Chome, If someone visist a url which needs to be protected.

[2022-02-26 17:52] MirtoBusico opened #6460 "request help: in authz-keycloak plugin is it possible to customize the "access denied" message?"
### Issue description

Using the **authz-keycloak** plugin when access is not permitted you correctly receive an access denied message
[code]
in the body of the requested url

Question: is it possible to specify a redirect url to be used when the access is denied so the user see predefined page instead of a message?

### Environment

- apisix version (cmd: `apisix version`):
[code]
- OS (cmd: `una

[2022-02-26 18:15] avinal opened #6461 "Proposal: new architecture/structure for Apache APISIX Documentation"
# What needs Improvements?

## Getting Started (needs improvements)
### Missing Introduction page - must have a proper introduction (partial)
  -  What is an API Gateway?
  - What is Apache APISIX?
  - Features in brief
  - Architectural Design (link to architectural design)
  - Katacoda links and other tutorials
  - Videos to get started with
  - Link to contribute to the project (link to CONTRIB

[2022-02-27 03:16] tokers commented on #6461
Could the description of 'external plugins' more deliberated? I think there could have several documents to introduce the way to write plugins in different languages.

[2022-02-27 03:19] tokers commented on #6458
It seems that both the needs are not feasible with using the current apisix.

[2022-02-27 07:38] lizj3624 opened #6462 "request help: How to install apisix in centos8?"
### Issue description

I use  this cmd to install apisix in centos8，but it failed.
[code]

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the p

[2022-02-27 07:38] jwrookie commented on #6457
As far as I know, there are no plans for this, but it seems to be uncomplicated to implement. We give each `apisix` node a unique ID and use this ID for resource isolation. This needs to be discussed and fully validated by the community

[2022-02-27 09:56] jacobslei commented on #6458
Thank you for your reply.  Do you know any plannings for supporting this feature?  And  if there is no planning for it, is there any  else solutions ?

[2022-02-27 10:02] bzp2010 commented on #6429
This does not cause an error, in fact, it is an error reported by APISIX and you should check the log in APISIX's error.log to determine the cause.

[2022-02-27 10:10] spacewander commented on #6458
We can do it in https://github.com/api7/apisix-seed/?

[2022-02-27 10:16] spacewander commented on #6441
There is no need to rewrite grpc-transcode. We support loading a compiled `.pb` file.
See "First of all, let's create a .pb file from .proto files:" and the content below in https://github.com/apache/apisix/blob/03324ee6f9940020a129f18c11c337e6bd40660f/docs/en/latest/plugins/grpc-transcode.md#add-a-proto

[2022-02-27 10:37] nfrankel commented on #6461
It depends what you mean by "little introduction". I really dislike coming to a project I don't know, and being presented with the update of the latest versions, but not understanding what it is about.

Good examples:

* https://heron.apache.org/
* https://kafka.apache.org/
* https://apisix.apache.org/

[2022-02-27 11:21] #6457 closed

[2022-02-27 11:23] spacewander commented on #6441
Note that this feature is just added this month. It is not in any release yet. We will release 2.13 in March with this feature included.

[2022-02-27 11:26] spacewander commented on #6460
You can add a conf to redirect the client instead of
https://github.com/apache/apisix/blob/77e90d2f3d2e7023b5b19b4709805f548b979264/apisix/plugins/authz-keycloak.lua#L597-L599

We can use the redirect code there:
https://github.com/apache/apisix/blob/77e90d2f3d2e7023b5b19b4709805f548b979264/apisix/plugins/redirect.lua#L215-L216

PR is welcome!

[2022-02-27 11:43] zuiyangqingzhou commented on #6443
Thanks for your patience

[2022-02-27 11:43] #6443 closed

[2022-02-27 12:05] #6356 closed

[2022-02-27 13:49] #6350 closed

[2022-02-27 17:17] Chever-John commented on #6225
@kwanhur Hi, I would like to ask, what kind of solution did you finally choose for this problem. In addition, can you confirm the problem is SIP. I look forward to hearing from you soon.

[2022-02-27 18:21] MirtoBusico commented on #6460
Hi @spacewander you mean that I have to post a "feature request"?

[2022-02-28 01:16] liangliang4ward commented on #6430
how did you check

[2022-02-28 01:19] #6369 closed

[2022-02-28 01:22] shenzhuangzhi1 commented on #6462
Why dont try docker?

[2022-02-28 01:28] #5861 closed

[2022-02-28 01:28] leslie-tsang commented on #6462
Hello there, Some variables, such as $releasever, have different values in `CentOS 7` and `CentOS 8`, which resulting in this issue.

| var | CentOS 7 | CentOS 8 |
|:--: | :----: | :----: |
|$releasever| 7 | 8 |

## Simple fix solution
A simple fix, replace `$releasever` with `7` in `/etc/yum.repos.d/apache-apisix.repo` as shown below
[code]

## Solution
Add a `CentOS 8` repo support

[2022-02-28 01:55] juzhiyuan commented on #6461
Hi, Avinal,

Thanks for your new structure 🤗

1. Getting Started → Contribution Guide/Community Guide: How about linking to [`https://apisix.apache.org/docs/general/contributor-guide`](https://apisix.apache.org/docs/general/contributor-guide)?
2. Usecases/How-to Guides: Are they the same contents?
3. API → AdminAPI: Will we split different entities into different sections?
4. Plugins → External Pl

[2022-02-28 02:08] moonming commented on #6461
@avinal great work 👍
Documentation is a part of Apache APISIX and is the most important part, looking forward to the new documentation structure

[2022-02-28 02:15] shuaijinchao commented on #6461
Great, in the new documentation structure, I see the logic of the documentation context and the process of helping users understand APISIX. Rather than feature points scattered across different documents like they are currently.

[2022-02-28 02:18] tao12345666333 commented on #6461
:+1:  I think it's important to add "What is an API Gateway?"

[2022-02-28 02:19] moonming commented on #6461
We can add security, observability, Kubernetes deployment, multiple development language development plugins, WASM, etc. In the protocol part, MQTT and GraphQL are also worth mentioning.
Others LGTM

[2022-02-28 02:20] zhukexingkong commented on #6397
Hope to improve /apisix/admin/route/{id} to get modifiedIndex and createdIndex

[2022-02-28 02:27] leslie-tsang commented on #6461
Would it be better to add a `Concepts` section to introduce `route` `service` `consumer` `upstream` ?

[2022-02-28 02:27] zhukexingkong commented on #6429
@tokers
The APISIX's error.log:
2022-02-28T10:26:57.004+0800	WARN	store/store.go:154	data not found by key: 395051487660606160

This is the admin API command:
curl http://localhost:9080/apisix/admin/routes/395051487660606160?api_key=admin -X PUT -i -d '
{
  "uri": "/test/getUser",
  "name": "getUser",
  "methods": [
    "GET",
    "POST",
    "PUT",
    "DELETE",
    "PATCH",
    "HEAD",
    "OPTI

[2022-02-28 03:36] kwanhur commented on #6225
Finally, I installed on local VM.

Kwanhur Huang
TL;DR

[2022-02-28 03:41] Chever-John commented on #6225
What a shocking new. I took the solution idea( SIP ) that you submitted earlier and found that it did not solve the problem.
I'll try again, hoping there will be good news.

[2022-02-28 03:44] juzhiyuan commented on #6461
Agree 🤗 @avinal we could pick some parts from current resources? like README, blogs to describe Apache APISIX?

[2022-02-28 03:54] zlhgo commented on #6184
经过20天的线上验证，该问题目前没有再出现过。下面说下解决方法、思路和自查是否同样的问题。

1、解决方法。修改 `/usr/local/openresty/lualib/tablepool.lua` 文件，去掉内存复用相关的功能，每次申请新的内存。
[code]

2、解决思路
其实也是蒙的。因为看了apisix的代码感觉也没什么问题，从`access.log`日志里看就是串站了，所以怀疑可能是api_ctx的内存串了，但是我也不敢确定是这个问题。

3、问题自查
[code]
如果上面命令没有输出就是对的。思路就是执行 `pick_server` 的时候正常情况下 `api_ctx` 变量里是没有 `picked_server` 这个属性存在。

[2022-02-28 03:54] #6184 closed

[2022-02-28 04:09] spacewander commented on #6462
If I am correct, we don't release any CentOS 8 package? So changing the download URL won't bring a difference.

[2022-02-28 07:39] bzp2010 commented on #6429
Hi, @zhukexingkong
I repeat, these are the APISIX dashboard logs and not APISIX, and this error does not cause an error to be reported, you need to provide the APISIX's log.
[code]

[2022-02-28 08:24] lizj3624 commented on #6462
manual install apisix's source code in CentOS8
[code]

[2022-02-28 08:58] fbartels commented on #6461
A very nice initiative. When getting started with Apisix I found myself constantly switching between documentation and blog posts around specific topics. Looks like your proposed "use cases" chapter would combine this quite nicely.

[2022-02-28 09:14] shuaijinchao commented on #6460
I think it would be a good idea to support this feature in `response-rewrite` as well. Currently, `response-rewrite` supports modifying the header when matching the response status code (for example, modifying the header to `Location: https://apisix.apache.org/` when matching `403`), but does not support modifying the response status at the same time.

[2022-02-28 09:30] tzssangglass commented on #6397
I see, you want to splice the redis key by expose modifiedIndex and then the other services look up the value in redis based on the key?

Perhaps we could add a configuration to `config-default.yaml` to indicate whether to expose modifiedIndex and createdIndex, which is disabledby default.

[2022-02-28 09:39] tzssangglass commented on #6461
Perhaps a `Plugin Development` directory is needed to collect documentation related to plugin development.

under `Plugin Development` maybe:

1. Build development environment
2. Development Process
3. Development and debugging skills
4. Writing test cases

Now we have some documentation covering these.

This is a great proposal.

[2022-02-28 09:48] tokers commented on #6429
Did you enable the ssl key encryption feature? You can check your config.yaml file.

[2022-02-28 10:06] oil-oil commented on #6460
I want to try to implement this function, please assign this task to me.😃

[2022-02-28 10:37] tokers commented on #6461
Besides these aspects, I hope that the below things can be added:

1. Guide about openresty/ngx_lua development (give some materials are also good);
2. Not only how to write case but also how to run them;
3. The Plugin Development Kit docs

[2022-02-28 12:36] avinal commented on #6461
Hi all, thank you all for your responses. Some of them are great suggestions and must be added. I am actively seeing all the responses and will add them in bulk 😃 . Thanks again 🙇🏼

[2022-02-28 14:08] danielkocot commented on #6461
I really like the idea of putting the documentation rewrite in to a community process. As @fbartels pointed out in the existing documentation you are mostly switching between the documentation and blog posts. It also might be good not to having a brief quick start which is normally relevant according to the use-cases interested users normally.

[2022-02-28 14:22] nfrankel commented on #6461
@danielkocot

1. The first principle is that documentation is in sync with the code. On the other hand, blog posts naturally drift with time, and that's OK
2. The second principle is to use the [following documentation framework](https://documentation.divio.com/):

![](https://documentation.divio.com/_images/overview.png)

[2022-02-28 19:28] leslie-tsang commented on #6462
Yes, there is no separate RPM package for CentOS 8 available.

Fortunately, the RPM package is universal, it work fine in both `CentOS 7` and `CentOS 8`

[2022-03-01 01:19] tokers commented on #6462
That's not generic enough, although now the version on CentOS 7 can also run on CentOS 8, this ability might be broken in the future, I think we can consider to release a specific package on CentOS 8 if it's really a pain point.

[2022-03-01 01:23] Baoyuantop commented on #6461
Strongly agree. This content is very necessary for new developers.

[2022-03-01 01:31] spacewander commented on #6460
Note that 403 may not return from authz-keycloak

[2022-03-01 01:44] spacewander opened #6473 "APISIX's V3 (2022) Roadmap"
### Issue description

We are going to release a new major version (V3) in 2022.
As a major version, we will remove deprecated fields, bring break
changes, and most importantly, add great features.

We are going to make APISIX easier to adopt:
1. redesign documentation
2. refactor the backend of Dashboard. Now, this backend will talk with
Admin API instead of etcd.
3. refactor the API definition i

[2022-03-01 02:08] guoqqqi commented on #6461
Hi, I have a little advice here:
- I think it would be a good idea to put the learning APISIX and user cases into a single place like a learning library.

[2022-03-01 02:25] leslie-tsang commented on #6462
I would like to fix it. :)

[2022-03-01 03:00] cocozhaocs opened #6474 "request help: Some questions about proxy cache plugin, disk cache, cache_ttl and logs"
### Issue description

1. when I used disk cache strategy,  I changed the cache_ttl value  in config.yaml and in plugin parameters by using curl,but the cache seems still keep valid for 10s。so I tried to find how cache cache_ttl works in your code（apisix/plugins/proxy-cache）, but I did not figuere out where the cache_ttl works in diskhandler.lua and util.lua 。

2. In diskhandler.lua and util.lua ,

[2022-03-01 03:24] moonming commented on #6473
looking forward to service mesh of Apache APISIX

[2022-03-01 03:35] zhukexingkong commented on #6397
I think "Add a configuration to config-default.yaml to indicate whether to expose modifiedIndex and createdIndex" is good.

[2022-03-01 03:38] zhukexingkong commented on #6429
@bzp2010
After I configure TLS configuration for the route, the following error occurs when I access the route through APISIX, it is APISIX's error.log:
2022/03/01 11:20:39 [error] 25702#25702: *9204101 [lua] init.lua:520: http_access_phase(): failed to set upstream: need to build APISIX-OpenResty to support upstream mTLS, client: ::1, server: _, request: "GET /test/getUser?id=1 HTTP/1.1", host: "

[2022-03-01 03:48] zhukexingkong commented on #6429
I was installed by source code, in ubuntu.

[2022-03-01 03:53] zhukexingkong commented on #6429
@tokers
It is mTLS Between APISIX and Upstream, how do I config config.yaml? And I refer to the official document to use patch_upstream_mtls.py, and the error is as follows :
Refer: https://apisix.apache.org/docs/apisix/mtls/#mtls-between-apisix-and-upstream

404
{"message":"Key not found"}

[2022-03-01 04:31] tzssangglass commented on #6429
see: https://github.com/apache/apisix/discussions/4919#discussioncomment-1871921

[2022-03-01 04:38] tzssangglass commented on #6429
This is not done through configuration, which requires you to build APISIX-OpenResty (now called APISIX-Base). The build method has been mentioned above.

Did you follow the documentation exactly? cc #3545 PLAT

[2022-03-01 04:49] tzssangglass commented on #6474
This is where cache_ttl works: https://github.com/apache/apisix/blob/bba6a0012b317bff656bdb614ae5e33150fc1920/apisix/plugins/proxy-cache/memory_handler.lua#L289

`conf.cache_ttl` will only be used if `conf.cache_control` is false or `parse_resource_ttl(ctx, cc)` is false.

If you verify out that this is not the case, please provide the full reproduction steps.

[2022-03-01 04:56] tzssangglass commented on #6474
Now there is no such feature. And I'm staying cautious about this feature. Cache files generated during the APISIX run should be deleted by APISIX. This is the life cycle of the cache file. I'm worried that keeping the cache file will cause the file to keep accumulating.

[2022-03-01 04:57] tzssangglass commented on #6474
Can you determine if the code is running where you are printing the logs?

[2022-03-01 05:11] juzhiyuan commented on #6461
Many developers complain that it's hard to run **all** tests successful in local 😅

[2022-03-01 05:15] moonming commented on #6461
Running a complete collection of test cases for a modern open source project is an almost impossible task. The CI of Apache APISIX relies on Github actions, which contains a lot of docker and environment variable settings

[2022-03-01 05:22] membphis commented on #6461
Indeed, trying to run all test cases locally is not feasible. APISIX's test cases are already complex, so it is best for developers to run all test cases in Github Action CI.

[2022-03-01 05:31] tao12345666333 commented on #6461
For the development environment, we can also give an example using GitPod [1] directly, or provide a development environment based on Docker images. The developer experience will be better.

[1] https://www.gitpod.io/

[2022-03-01 05:47] leslie-tsang commented on #6461
Yep, the test case for APISIX is more complex than ever before. It will cause a hard time for newbie to walk though it.

IMO, It's worth setting up a simple test case ENV in the tutorial.

Yep, Especially after the introduction of the K8s discover module.

[2022-03-01 05:52] zhukexingkong commented on #6429
@tzssangglass
1. This is the client key, I accessed the local service directly in the browser, which can do TLS authentication, but failed in APISIX.
2. I created upstream and then used upstream's ID for TLS creation,
command: python ./patch_upstream_mtls.py 396921614249231056 ./client.pem ./client.key
return:
{"error_msg":"failed to decrypt previous encrypted key"}

3.Why is the key and certifica

[2022-03-01 05:59] lizj3624 commented on #6473
4. support different backend，support consul，mysql？

[2022-03-01 06:00] zhukexingkong commented on #6429
I use the following command to build APISIX-OpenResty and succeed:
sudo yum install -y https://repos.apiseven.com/packages/centos/apache-apisix-repo-1.0-1.noarch.rpm

[2022-03-01 06:04] moonming commented on #6473
yes

[2022-03-01 06:05] oil-oil commented on #6460
So I just need to add a new parameter to indicate the url address to redirect when there is no permission, Is it right?

[2022-03-01 06:14] liangliang4ward opened #6477 "docs: zh/*.md some file first dir is "名字""
### Improved or typo fixed.

like https://apisix.apache.org/zh/docs/apisix/plugins/key-auth
![image](https://user-images.githubusercontent.com/3895272/156115171-497ac496-d3bc-43f4-bb7a-f81c13c529f2.png)

Would it be better to  "简介"？or "描述"

### Solution

名称->简介

[2022-03-01 06:35] cocozhaocs commented on #6474
call memory_handler.lua to make cache_tll valid or directly  use cache_ttl in conf. If I am wrong,where does 'disk cache strategy‘ use cache_ttl?

[2022-03-01 06:44] cocozhaocs commented on #6474
I use 'disk cache strategy' ranther than 'momory cache strategy' and it seems that memory_handler.lua never be called.

[2022-03-01 07:04] spacewander commented on #6477
The same section could be "Description" in https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/forward-auth.md or "Introduction" in https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/limit-req.md.

We need a consistent type for the doc.

[2022-03-01 07:54] juzhiyuan commented on #6461
@moonming This is the current status, for developers, how do they know this clearly and easily? Our docs don't have a clear reminder (WARNING/INFO tip) for them, they have to know this fact when they faced problems and search through issues.

[2022-03-01 08:52] tzssangglass commented on #6429
Can you upload successfully with the py scripts and certs of the official test cases?

[2022-03-01 08:58] tzssangglass commented on #6429
I think it is the format of this paragraph is wrong, you can refer to the format of cert he key under `t/certs` and use the official reference py sctipt to read them.

[2022-03-01 10:07] aiyiyi121 opened #6479 "request help: Can I send HTTPS requests to apisix via IP"
### Issue description

Because our firewall can only use IP to check HTTPS security. How can I send HTTPS requests to apisix via IP?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
-

[2022-03-01 10:19] #3704 closed

[2022-03-01 10:26] tokers commented on #6429
You can check out this: https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L147.

[2022-03-01 10:28] tokers commented on #6479
@aiyiyi121 FYI:

[code]

If the requests failed since the TLS issues, check out curl manual and find some options.

[2022-03-01 10:32] lijing-21 commented on #6369
Hi @shenzhuangzhi1 , thank you for your contribution!

Here is the Contributor T-shirt form[1], if you're interested, kindly take a look :)

[1] https://github.com/apache/apisix/blob/master/CONTRIBUTING.md#contributor-t-shirt

[2022-03-01 10:48] aiyiyi121 commented on #6479
It will fail using the `config-default.yaml`, and report errors "failed to fetch ssl config: failed to find SNI: please check if the client requests via IP or uses an outdated protocol".
But I have found the solution by reading the source code，and change the config.yaml-apisix-ssl-fallback_sni, it can set the default SNI when the client doesn't send SNI during handshake.

[2022-03-01 10:52] wilson-1024 commented on #5244
I want to try to implement this function, can it be assigned to me?

[2022-03-01 11:38] tzssangglass commented on #6474
it's base on `cache_strategy`

[2022-03-01 12:28] #6479 closed

[2022-03-01 13:40] #6410 closed

[2022-03-01 16:04] kwanhur commented on #6477
`Description` maybe the better.

When we fetch GNU tool's usage with `man`, `Description` is in common use.

If ok, I can fix them.

[2022-03-01 16:10] kwanhur commented on #6473
2. backend will talk with Admin API, `apisix-adminctl` or `apisixctl` will come into the plan together?

[2022-03-02 00:53] liangliang4ward commented on #6477
1. Maybe we can remove  inner dir
2. Unified directory name，include zh/*.md & en/*.md

[2022-03-02 01:04] spacewander commented on #6477
I prefer to have a full discussion before rushing to a fix.

[2022-03-02 01:07] spacewander commented on #6477
CC @juzhiyuan

[2022-03-02 01:13] spacewander commented on #6460
Yes

[2022-03-02 01:32] stray-dog opened #6481 "request help: {"error_msg":"unknown plugin [ext-plugin-pre-req]"}"
### Issue description

https://apisix.apache.org/zh/docs/apisix/plugins/ext-plugin-pre-req

curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "uri":"/get",
    "plugins":{
        "ext-plugin-pre-req":{
            "conf":[
                {
                    "name":"myPluginName",
                    "value":"{\"key1\":\"feature\

[2022-03-02 01:39] #6345 closed

[2022-03-02 03:32] tzssangglass commented on #6481
have you enable `ext-plugin-pre-req` in your `config.yaml`?

[2022-03-02 03:32] wang-yeliang commented on #6473
Look forward to Service Mesh.

罗泽轩 ***@***.***> 于2022年3月1日周二 09:44写道：

[2022-03-02 04:02] stray-dog commented on #6481
Oh！I see it. Think you.

[2022-03-02 06:03] kwanhur commented on #6473
[apisix-dashboard#1884](https://github.com/apache/apisix-dashboard/issues/1884) discussion mentioned that uniformed data model for Dashboard's backend and command line's backend. So take some care of the both backends.

[2022-03-02 06:16] zhukexingkong commented on #6429
@tzssangglass
1.The certificate and key are ok. The verification is as follows:
[root@2d8f65f7ad67 tlsDir]# openssl x509 -in client.pem   -pubkey -noout -outform pem   | sha256sum
2ec0f9b02e96d824bc1c63179deacaea98320d9f94747070a5e0307a9c96ba1c  -
[root@2d8f65f7ad67 tlsDir]# openssl pkey -in client.key -pubout -outform pem   | sha256sum
2ec0f9b02e96d824bc1c63179deacaea98320d9f94747070a5e0307a9c96b

[2022-03-02 06:17] zhukexingkong commented on #6429
The problem was solved. Now it is:
{"error_msg":"failed to decrypt previous encrypted key"}

[2022-03-02 06:51] #6481 closed

[2022-03-02 07:13] Horus-K opened #6486 "feat: route matching variables support case insensitivity"
### Issue description

![image](https://user-images.githubusercontent.com/48319268/156312536-ed59b5c3-9a3f-4f01-be54-ac158dc79656.png)
if ($arg_appid = "1"){
        set XXXX;
}
nginx中对于判断arg变量本身不区分大小写   但apisix区分大小写，是否可以支持变量本身大小写

[2022-03-02 07:54] starsz commented on #6362
@mongudu Supported.

[2022-03-02 07:54] #6362 closed

[2022-03-02 07:59] spacewander commented on #5767
Solved by https://github.com/apache/apisix/pull/6282

[2022-03-02 07:59] #5767 closed

[2022-03-02 08:34] tzssangglass opened #6488 "request help: what does `ctx.upstream_healthcheck_parent` do?"
### Issue description

here: https://github.com/apache/apisix/blob/eb0bf87b3865b4192991f963594bc24b54d9aff9/apisix/upstream.lua#L78

It looks like storing this in the ctx isn't used now.

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1

[2022-03-02 08:54] shuaijinchao commented on #6486
confirm, I think it's a good proposition. @Horus-K

[2022-03-02 09:33] Belyenochi commented on #6486
@shuaijinchao Does the question want apisix to support case insensitivity,if so can it be assigned to me.

[2022-03-02 10:05] tokers commented on #6484
See https://github.com/ziishaned/learn-regex#2-meta-characters.

[2022-03-02 11:39] shuaijinchao commented on #6486
thx~ @Belyenochi, yes, I think it should be done. I would like to know first if @Horus-K , as the person who found this issue, is willing to fix it?

[2022-03-02 11:47] Horus-K commented on #6486
@shuaijinchao Sorry, didn't have time to fix it

[2022-03-02 11:59] spacewander commented on #6473
There will be many break changes so we can't do it.

[2022-03-02 12:22] juzhiyuan commented on #6477
Hi,

After checking most plugins' docs (Chinese), I prefer using `Description` in English, and `描述` in Chinese 🤗 Let's think `Plugin Description` and `插件描述`.

[2022-03-02 12:24] juzhiyuan commented on #6477
I don't choose `简介` (short description) is because this section contains what's the plugin is? what're features it have? Sometimes, it's hard to describe it in one sentence.

[2022-03-02 12:47] shuaijinchao commented on #6486
OK @Belyenochi  do you want to do this PR? once confirmed, I can assign it to you.

[2022-03-02 12:53] spacewander commented on #6473
This purpose is marked as stale.

[2022-03-02 13:04] shuaijinchao commented on #6397
It might be better if it could be added directly to the data of a single route response, which is already exposed when fetching the full data. the switch if has lost its meaning?

[2022-03-02 13:05] Belyenochi commented on #6486
h1 @shuaijinchao, pls assign it to me!

[2022-03-02 14:37] soulbird commented on #6429
I reproduced. You should delete the first paragraph of the client.key. like this：
[code]
And then, upload the file.

[2022-03-02 22:19] #6456 closed

[2022-03-03 01:04] spacewander commented on #6488
It was used in 748e3375 before.
We can safely remove it now.

[2022-03-03 01:08] liangliang4ward opened #6492 "Hi @liangliang4ward, I would prefer to keep this PR as current status and submit a new PR to remove all Outlines from markdown files, @liangliang4ward could you help to do that?"
Hi @liangliang4ward, I would prefer to keep this PR as current status and submit a new PR to remove all Outlines from markdown files, @liangliang4ward could you help to do that?

_Originally posted by @juzhiyuan in https://github.com/apache/apisix/pull/6476#discussion_r817467759_

[2022-03-03 01:10] liangliang4ward commented on #6492
@juzhiyuan Please assign it to me

[2022-03-03 01:24] #6488 closed

[2022-03-03 01:26] tokers commented on #6397
Agree.

[2022-03-03 01:27] tokers commented on #6397
I'm afraid that it's not a common question, I prefer to add more descriptions for the Admin API response, and of course, we'll expose this field first.

[2022-03-03 02:56] zhukexingkong commented on #6429
Openrestry cannot be successfully installed on ubuntu using yum command. I used centos7 directly.

[2022-03-03 03:09] zhukexingkong commented on #6429
Error reporting is back to square one.
When I modified the client.key, the following error occurred. If config.yaml needs to be modified if upstream enables TLS, I will do so, but the official document does not seem to indicate that needs to modify config.yaml for upstream TLS.

[root@2d8f65f7ad67 tlsDir]# python ./patch_upstream_mtls.py 396921614249231056 ./client.pem ./client.key
404
{"message":

[2022-03-03 03:19] zhukexingkong commented on #6429
After I modifed the client.key, this is the result, the question is back to square one, the returned client key is inconsistent with the client.key:

[root@2d8f65f7ad67 tlsDir]# python ./patch_upstream_mtls.py 396932008539849406 ./client.crt ./client.key
201
{"node":{"key":"\/apisix\/upstreams\/396932008539849406","value":{"service_name":"resource-service","hash_on":"vars","type":"roundrobin","upd

[2022-03-03 03:59] soulbird commented on #6429
Yes, but this does not affect the establishment of connections with upstream. In fact, if file format of the client key is `pem`, we will encrypt when we save the config to ETCD for safety consideration. We also use the origin client key when establishing  connection with upstream. As you see,  the `client_key` in the response is nconsistent with the origin client.key.

[2022-03-03 06:45] spacewander commented on #6397
Maybe we can have a discussion in the maillist? Those two fields are removed before because there is an idea that we needed to make the response from Admin API less like etcd, see https://github.com/apache/apisix/issues/2759.

Not sure people's opinion has been changed.

[2022-03-03 07:21] spacewander commented on #6397
An alternative solution is to fetch the route via control API, which is expected to expose the raw data. Or even communicate with the etcd directly.

Not sure about exposing the created/modification version of the configuration is a leaky abstraction or necessary.

[2022-03-03 07:40] zhukexingkong commented on #6429
I noticed that client. key was also displayed as an encrypted string in the APISIX Dashboard, but if I pasted in the original contents of client.key, can also succeed.

[2022-03-03 07:45] soulbird commented on #6429
Yes, we can identify and parse out the original certificate.

[2022-03-03 07:46] zhukexingkong commented on #6429
I have verified the TLS function, this problem can be closed, and summarize the problems:
1.Openrestry installation for Ubuntu is problematic.  Still use centos7.
2.The client.key added in APISIX Dashboar and added using the Admin API return different results.  This was not anticipated.

[2022-03-03 07:47] #6429 closed

[2022-03-03 08:59] kwanhur commented on #6477
Another viewpoint, will these plugins' docs can be converted into mandoc in the future?
If can, we can retrieve plugin's help by `man apisix-plugin-xxx` after installed apisix.

[2022-03-03 10:06] kwanhur opened #6501 "request help: github ci jobs run failed frequently"
### Issue description

From [Actions](https://github.com/apache/apisix/actions) logs, partial jobs run failed too often.

PR's checking easily not pass.

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from

[2022-03-03 10:28] spacewander commented on #6486
@Belyenochi @shuaijinchao
I am afraid arg_xxx should be case-sensitive.

See https://stackoverflow.com/a/24700171.

It is a limitation of Nginx that it handles all the variables in case-insensitive way. In fact, OpenResty's `get_uri_args` handles it correctly:

[code]

with `curl '127.0.0.1:9981?a=2&A=1'`, it gets `{"A":"1","a":"2"}`.

It would be good if we can follow the standard and get rid of

[2022-03-03 10:49] Horus-K commented on #6486
Is it possible to make case sensitivity an option？

[2022-03-03 11:19] spacewander commented on #6486
No. We don't have place to put the option in the expression. And such option disobeys the HTTP standard. Also it makes the user can't distinguish the correct argument from the wrong one. For example, we may match `useRid` as user id while the upstream treats `userID` as the real user ID, which may bring additional security risk.

[2022-03-03 11:27] #6486 closed

[2022-03-03 13:47] juzhiyuan commented on #6477
Why not create a new issue to discuss this? 🤗

[2022-03-03 13:48] juzhiyuan commented on #6477
If there has no feedback for this issue, then let's use Description/描述 in our docs.

[2022-03-03 14:22] nfrankel opened #6504 "feat: As a User, I want to be able to configure the priority of each plugin so I don't need to change the source code"
### Issue description

### Use-case

To test a new version of my endpoint, I want to use the [proxy-mirror plugin](https://apisix.apache.org/docs/apisix/plugins/proxy-mirror).

The incoming request is `/v1/hello`. I'm using the [proxy-rewrite plugin](https://apisix.apache.org/docs/apisix/plugins/proxy-rewrite) to rewrite the path to `/hello` before sending it to the upstream. However, the priority

[2022-03-03 16:40] nfrankel commented on #6504
### Another use-case

I want to use the [kafka-logger plugin](https://apisix.apache.org/docs/apisix/plugins/kafka-logger) to send data to Kafka and use them to bill users.

The plugin's priority is [403](https://github.com/apache/apisix/blob/master/apisix/plugins/kafka-logger.lua#L99), thus it runs before the upstream. If the upstream is down, data is written anyway and user will be billed wrongly

[2022-03-03 23:24] fatihbm commented on #5648
By the way, our Redis cluster is setup on a virtual machine. I don't use the container. Also, Redis client can connect to any Redis nodes from any apisix node.
[code]

[2022-03-04 01:02] liangliang4ward commented on #6477
agree

[2022-03-04 01:12] tokers commented on #6504
Some other solutions like Gateway APIs, they just run the plugins / filters according to the order the users defined, so that users won't be overwhelmed by the priority.

[2022-03-04 01:28] shuaijinchao commented on #6501
What specific problem are you having? This description is too broad, and if the new code does not affect other historical functions, it generally does not fail.

[2022-03-04 01:34] tzssangglass commented on #5648
can you submit an new issue to trace this problem?

[2022-03-04 02:10] zhukexingkong commented on #6397
I think created/modification version  is neccessry.

[2022-03-04 02:11] zhukexingkong commented on #6397
I think created/modification version is neccessry.

[2022-03-04 03:06] anjia0532 commented on #6461
Maybe add `Best Practices` ? e.g. Different cluster size and best practices , Upgrade best practices , ide best practices(idea emmylua plugin, vscode+emmylua plugin , zbstudio ...),

[2022-03-04 03:27] kwanhur commented on #6501
New pr gets trouble in check failure, even just modify `docs` `code lint config`, not modify any code. Like https://github.com/apache/apisix/pull/6428 's workflow, `code lint` jobs work fine, but others work failed. Rerun job needs trigger by admin or new commit.

PR owner and reviewer both worry about check result.

[2022-03-04 03:39] tzssangglass commented on #6397
@zhukexingkong If this is what you need, unfortunately, APISIX does not promise consistency between the key you generate by stitching the modifiedIndex from the admin api and the key stored in redis.

[2022-03-04 04:02] membphis commented on #6461
@nic-6443 can we run the Github Action CI in gitpod?

[2022-03-04 04:44] nic-6443 commented on #6461
Gitpod is an ubuntu environment, so we can build a development environment in Gitpod to run APISIX test cases. Gitpod is not a suitable runtime environment for Github Action, which is a CI-oriented product, but Gitpod is a developer-oriented product.

[2022-03-04 05:31] spacewander commented on #6501
GitHub Action is unstable yesterday.

[2022-03-04 05:58] shuaijinchao opened #6507 "docs: APISIX & multi-language performance test comparison"
### Improved or typo fixed.

Currently APISIX supports runner and WASM of different languages to develop plugins, but the external operating mechanism will bring performance loss, and there is currently no relevant data in the community documentation to visually observe their differences.

### Solution

I think a document should be added to provide this data.

[2022-03-04 06:12] shuaijinchao commented on #6397
If you really need it in actual work, you can remove https://github.com/apache/apisix/blob/master/apisix/admin/init.lua#L108-L111 code to get this information, but APISIX does not guarantee the field compatibility.

[2022-03-04 07:06] fatihbm commented on #5648
I'm having a similar problem. I don't understand the purpose of why I should open a new issue. If this is still necessary, I will of course open it.

[2022-03-04 07:23] lihuawei321 opened #6511 "request help: Using apisix proxy grpc service performance is low"
### Issue description

使用apisix代理grpc服务，发现性能较低。发现一个现象：压测POD,对应的端口只有几个TCP链接；但是通过apisix压测试，POD里的有上千条TCP连接。是不是apisix没有复用tcp链接。以下是测试结果：
![image](https://user-images.githubusercontent.com/31987918/156717935-be36476c-62a3-455c-9484-3e1305636d00.png)
有没有可能和k8s的dns请求有关系？
是否有可以优化的地方。

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kube

[2022-03-04 07:34] kwanhur opened #6510 "doc: convert plugin's docs into mandoc"
Another viewpoint, will these plugins' docs can be converted into mandoc in the future?
If can, we can retrieve plugin's help by `man apisix-plugin-xxx` after installed apisix.

_Originally posted by @kwanhur in https://github.com/apache/apisix/issues/6477#issuecomment-1057821326_

[2022-03-04 07:35] #6501 closed

[2022-03-04 07:50] tao12345666333 commented on #6511
Can you provide more information? Such as the CNI you use.

[2022-03-04 07:54] spacewander commented on #6510
Maintaining online doc is enough.

[2022-03-04 07:54] #6510 closed

[2022-03-04 07:55] spacewander commented on #6441
Consider solved. Feel free to reopen it if need.

[2022-03-04 07:55] #6441 closed

[2022-03-04 07:57] spacewander commented on #6473
Let's freeze this issue.

[2022-03-04 08:17] Horus-K opened #6513 "bug: Can't match both upper and lower case arguments"
### Issue description

I can't match case sensitive parameters in two routes, it seems that apisix will think the two routes are the same

### Environment

- apisix version (cmd: `apisix version`): 1.11.0
- OS (cmd: `uname -a`):  centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info fro

[2022-03-04 08:19] Horus-K commented on #6486
#6513 A new problem has appeared, please help @spacewander

[2022-03-04 08:28] shuaijinchao commented on #6511
apisix will enable keepalive by default, https://github.com/apache/apisix/blob/master/apisix/cli/ngx_tpl.lua#L366-L368

[2022-03-04 08:31] shuaijinchao commented on #6511
Is the proxy method through APISIX gRPC to gRPC? Or HTTP(s) to gRPC?

[2022-03-04 09:31] spacewander commented on #6513
@soulbird
Could you take a look?

[2022-03-04 10:21] tzssangglass commented on #5648
1. you did not provide steps to reproduce the problem, even if it was similar.
2. you provide an error log in another project.
3. opening a new issue helps us to focus on solving your issue, which we do when it is necessary to merge issues.

[2022-03-04 13:21] WeiWANG0118 opened #6516 "request help: errors on load_plugin"
### Issue description

Hello team, I have a problem with **load_plugin**.  It will crash the service and give me a cross-origin problem. PS: I already enable cors plugin. So I’m guessing there is a problem. And here is the error.logs.

[code]

config.yaml - apisix
[code]

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `ng

[2022-03-04 14:22] soulbird commented on #6516
I can't reproduce it with your configuration. And how did you install Apache APISIX？

[2022-03-05 02:52] moonming commented on #6511
@nic-chen do you have any ideas?

[2022-03-05 03:30] nic-chen commented on #6511
Hi, @lihuawei321

Please provide your APISIX version, your route/upstream configuration, and your test method, thanks!

[2022-03-05 03:41] moonming commented on #6513
@Horus-K Can the configuration be formatted? for better reading, thanks

[2022-03-05 07:36] snowdusk opened #6517 "bug: log-rotate can not rotate logs strictly hourly(or minutely)"
### Issue description
e.g.
Apisix start time is 15:29:23, log-rotate interval is 3600(1 hour)
Next rotate time is 16:29:23, next next rotate time is 17:29:23

I want next rotate time is 16:00:00, next next rotate time is 17:00:00

The current implement:
[code]

This is my change.
[code]

[2022-03-05 10:13] WeiWANG0118 commented on #6516
Hello, someone pointed out that the config is not good, so I put the right config, and no more errors. Thank u, I'm gonna close this issue.

[2022-03-05 10:13] #6516 closed

[2022-03-05 11:30] Horus-K commented on #6513
{
    "uris":[
        "/micro/app/read",
        "/micro/app/read/"
    ],
    "name":"read2",
    "vars":[
        [
            "arg_corpid",
            "IN",
            [
                "wwef5a06cd2931632c"
            ]
        ],
        [
            "arg_appid",
            "==",
            "1411"
        ]
    ],
    "plugins":{
        "redirect":{
            "ret_code":307,

[2022-03-05 11:31] Horus-K commented on #6513
`{
    "uris":[
        "/micro/app/read",
        "/micro/app/read/"
    ],
    "name":"read1",
    "vars":[
        [
            "arg_corpid",
            "IN",
            [
                "wwef5a06cd2931632c"
            ]
        ],
        [
            "arg_appId",
            "==",
            "1411"
        ]
    ],
    "plugins":{
        "redirect":{
            "ret_code":302,

[2022-03-05 11:32] Horus-K commented on #6513
[code]

[2022-03-05 13:25] shuaijinchao commented on #6517
What problem does this solve? Also I don't think this is a bug

[2022-03-05 14:13] zhixiongdu027 opened #6518 "request help: Please give some advice about tars discovery"
### Issue description

Hi, All:

I'm planning to implement a tars proxy and it's almost done.

Now, I might need some advice from community members:

tars proxy requires a tars service discovery module but probably only the tars proxy plugin will use it. so we have two options:

 1: put the code into apisix/discovery/tars.lua
 2: put the code into apisix/plugins/tars-transcode/discovery.lua

I thi

[2022-03-05 14:38] shuaijinchao commented on #6518
I think the second way would be better. My knowledge of TARS is limited, but as far as I can tell
Its main application scenario is not service registration and discovery, so it can be placed in the plugin directory as part of the plugin.

It's just a personal opinion, we can listen to more people's suggestions.

[2022-03-06 01:56] zhixiongdu027 commented on #6518
Sorry, after consideration, I decide to use option 1 ,

Because there may be some services in the tars that need to use the http protocol.
If these service also require proxies, we have to use option 1.

[2022-03-06 02:01] #6518 closed

[2022-03-06 03:14] membphis commented on #6517
@snowdusk I think you are right. It seems https://github.com/apache/apisix/commit/139c3972898f1e45c6d5b1f40143c504116b3486 break this feature

[2022-03-06 03:15] membphis commented on #6517
need @shuaijinchao's help

[2022-03-06 03:18] soulbird commented on #6517
Strictly hourly rotation of logs is better

[2022-03-06 03:34] tokers commented on #6513
The `var` uses Nginx variable system and the latter is case insensitive.

[2022-03-06 04:01] shuaijinchao commented on #6517
I don't understand what problem can be solved this way? @membphis

[2022-03-06 07:20] kwanhur commented on #6477
Please assign to me, I’ll work on it.

Kwanhur Huang
TL;DR

[2022-03-06 10:59] #5305 closed

[2022-03-06 11:17] spacewander commented on #6513
The vars will use `ctx.var`, which is case sensitive in https://github.com/apache/apisix/blob/492f782d9fae719b3a20e0d65c275962bcdcaab9/apisix/core/ctx.lua#L244

[2022-03-06 13:43] Horus-K commented on #6513
@spacewander If the variable is case-sensitive, why does only one of the two routes take effect?

[2022-03-06 15:34] mygrsun opened #6520 "bug: the destroy function of plugin cant be called"
### Issue description

I check the code ,destroy fuction is called by unload_plugin,the unload_plugin call in the load .But the recursive var local_plugins_hash is set in the line 201,so here local_plugins_hash is empty ,so unload_plugin cant be called.
<img width="755" alt="image" src="https://user-images.githubusercontent.com/4070282/156929776-0c3c7a68-731b-4b21-aee7-8a22f8bd6641.png">

### Envi

[2022-03-06 23:49] soulbird commented on #6513
Can you provide more detailed steps to reproduce？The following is the method I tried, and the situation you said did not occur, the routing is indeed case-sensitive。
1、create route with `arg_appId` and thren request the uri
[code]

[code]
[code]

2、create route with `arg_appid`, and then request the uri
[code]
[code]
[code]

[2022-03-07 01:32] tzssangglass commented on #6520
add log output

[code]

on https://github.com/apache/apisix/blob/492f782d9fae719b3a20e0d65c275962bcdcaab9/apisix/plugins/example-plugin.lua#L71-L72

and use below test cases

[code]

you will found

[code]

appeared twice.

The first call is before adding the plugin, and the second call is before hot reload.

[2022-03-07 02:25] snowdusk commented on #6517
@shuaijinchao OK. I will create a PR

[2022-03-07 02:27] spacewander commented on #6332
Already done.

[2022-03-07 02:29] spacewander commented on #5165
Already done with public-api plugin.

[2022-03-07 02:29] #5165 closed

[2022-03-07 02:30] spacewander commented on #6425
Closed as lack of response. Feel free to reopen it if need.

[2022-03-07 02:30] #6425 closed

[2022-03-07 03:13] kwanhur commented on #6477
After have a look, first title `Name` `Introduction` or empty will be changed to `Description`, `名字` `简介` `插件简介` `定义` will be changed to `描述` in docs of `docs/en/latest/plugins/` and `docs/zh/latest/plugins`.

Any other opinions? cc @spacewander @juzhiyuan

[2022-03-07 03:37] Fengxq2014 opened #6522 "bug: nacos discovery config valid error when using $ in password symbol in config.yaml"
### Issue description

When using $ in nacos password in config.yaml following the document from [https://apisix.apache.org/docs/apisix/discovery/nacos](https://github.com/apache/apisix/issues/url).
At starting time the nacos report error

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd: `uname -a`): linux

### Steps to reproduce

1. Config following yaml fragment in co

[2022-03-07 04:56] spacewander commented on #6522
Fixed in https://github.com/apache/apisix/pull/6261? Will be in the 2.13.0 release.

[2022-03-07 05:37] hhxx2015 opened #6523 "bug: config nacos error : [Error loading shared library libpcre.so.1: No such file or directory]"
### Issue description

apisix config file

[code]

### Environment

1. docker image: apache/apisix: 2.12.0-alpine
2. docker 18.6
3. kubernetes  Master 1.18.4

### Error log

[code]

[2022-03-07 05:49] juzhiyuan opened #6524 "docs: change VIIO to VIVO in README"
### Improved or typo fixed.

![image](https://user-images.githubusercontent.com/2106987/156975520-5ee18471-a8de-47a4-a80f-82240cebf2ed.png)

### Solution

Change it to VIVO.

[2022-03-07 05:50] tzssangglass opened #6525 "docs: update powered-by.md"
### Improved or typo fixed.

After the https://github.com/apache/apisix/pull/6027/files merged, the https://github.com/apache/apisix/issues/487 has added some new user cases by community users.

For example:

https://github.com/apache/apisix/issues/487#issuecomment-1038794485

https://github.com/apache/apisix/issues/487#issuecomment-993453584

### Solution

We need to update these user cases to po

[2022-03-07 06:16] leslie-tsang commented on #6522
Please assign it to me. :)

[2022-03-07 06:18] spacewander commented on #6524
CC @bin-ya

[2022-03-07 06:18] spacewander commented on #6523
Fixed by https://github.com/apache/apisix-docker/pull/287?
You can try 2.12.1: https://github.com/apache/apisix-docker/tree/release/apisix-2.12.1

[2022-03-07 06:24] leslie-tsang commented on #6522
The schema check rules do not match character `$`, I will fix it.

[2022-03-07 06:34] leslie-tsang commented on #6524
There is another typo [here](https://github.com/apache/apisix/blob/cd97d827abf6791611ce355b12555531dbd7b53d/docs/zh/latest/plugins/server-info.md?plain=1#L44), let's do it in one PR :)

[2022-03-07 06:49] Horus-K commented on #6513
这个问题我已经验证, 是路由优先级问题

**不生效场景**

| 路由名称       | id                 | 优先级 |
| -------------- | ------------------ | ------ |
| 路由灰度1      | 1014               | 0      |
| 路由默认主路由 | 1134               | 0      |
| 路由灰度2      | 397370888246264402 | 0      |

路由灰度2 不生效

**解决方法**

将灰度路由优先级提高后灰度规则全部生效，appid 与 appId都能匹配

**想法**

可能是 路由默认主路由 后还有100多个路由，匹配不到吧(生产环境路由较多，可能吧)
灰度路由只有在线上才有，没有想到优先级问题
@soulbird @

[2022-03-07 06:54] #6513 closed

[2022-03-07 06:57] liangliang4ward commented on #487
let me do this.

[2022-03-07 06:57] liangliang4ward commented on #6525
let me do this.

[2022-03-07 08:12] #4469 closed

[2022-03-07 08:12] #4388 closed

[2022-03-07 08:21] liangliang4ward opened #6527 "feat: As a User, I want to one consumer has multi ak&sk"
### Issue description

In some scenarios, I want a consumer to have multiple AK&SKs, mainly for a consumer to have multiple sub-consumers that are collectively assigned to the primary consumer when logging.
Or in another scenario, when the AK&SK needs to be replaced, create a username with the same name and assign it to a different AK&SK, while the old AK&SK can still be used. When the new AK&SK s

[2022-03-07 08:30] #6524 closed

[2022-03-07 08:59] kwanhur opened #6528 "docs: improve Chinese copywriting"
### Improved or typo fixed.

Copywriting in `docs/zh/latest` have different formats:
  - some writings have one space before/after English words but some have no.
  - some punctuations used in halfwidth form but some in fullwidth. [what's differences between fullwidth and halfwidth](https://en.wikipedia.org/wiki/Halfwidth_and_fullwidth_forms)

### Solution

* Add copywriting guidelines, include ru

[2022-03-07 09:16] fatihbm opened #6530 "request help: limit-count plugin does not work when using redis cluster"
### Issue description

Hi,
I wanna use the Redis cluster for the high available limit-count k/v db but something is wrong and I couldn't find the reason.
When I open the error.log, I noticed the strange situation that you can see below.
Has anyone encountered this before? What is your suggestion for a solution?

Redis cluster is setup on a virtual machine. I don't use the container. Also, Redis cl

[2022-03-07 09:18] juzhiyuan commented on #6477
LGTM

[2022-03-07 09:56] tokers commented on #6530
@fatihbm Could your reformat the error log? It's tough to read it and find useful entries.

[2022-03-07 11:33] hhxx2015 commented on #6523
thanks

[2022-03-07 11:33] #6523 closed

[2022-03-07 12:01] WeiWANG0118 opened #6533 "request help: Apisix deployed on rancher, but not stable"
### Issue description

Hello,

I deployed Apisix server on rancher, but it's not very stable.
1. Sometimes apisix server will crash because of a cross-domain problem. I already enabled the global cors plugin.
2. Sometimes, it will crash because the proxy-rewrite is not working. For information, my upstream will only take uri api/*, my route is v3/api/*, so I used proxy-rewrite plugin to rewrite th

[2022-03-07 13:02] navendu-pottekkat opened #6534 "docs: Restructure the "API" section"
### Improved or typo fixed.

The current "[API (Admin and Control API)](https://apisix.apache.org/docs/apisix/next/admin-api)" pages misses internal hyperlinks and could use some rewriting to enhance readability.

### Solution

Make changes to the docs similar to this PR: https://github.com/apache/apisix-website/pull/893

Please assign this issue to me. I will open a PR to discuss the changes.

[2022-03-07 13:53] lizj3624 opened #6535 "request help: How add customized http header via apisix?"
### Issue description

I want to add customized http request header from apisix to upstream in some routes，how i can do?

for example:  i want to add `X-My-Header: MyName`，i known nginx's cmd，add `proxy_set_header X-My-Header MyName`
in  server block

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):

[2022-03-08 00:05] soulbird commented on #6535
You can use proxy-rewrite plugin, like:
[code]
You can check the documentation for more details. https://github.com/apache/apisix/blob/master/docs/zh/latest/plugins/proxy-rewrite.md

[2022-03-08 00:38] lizj3624 commented on #6535
Thank you very much! I try

[2022-03-08 00:57] #6525 closed

[2022-03-08 01:42] tokers commented on #6530
Have you tested the network between APISIX and Redis cluster? It seems APISIX cannot connect to Redis.

[2022-03-08 01:43] tokers commented on #6533
@WeiWANG0118 What's the meaning of crash?

[2022-03-08 01:43] tokers commented on #6533
Could you provide the steps for us to reproduce the problem?

[2022-03-08 02:35] juzhiyuan commented on #6535
I'm going to close this issue 🤗 If you have other questions, please let us know.

[2022-03-08 02:35] #6535 closed

[2022-03-08 02:42] whioue commented on #5953
我也遇到了这种情况，有时不同的终端查询，有的终端能查到数据，有的终端查不到数据。我猜测的是会不会多个worker运行时这种情况会明显一些？只是猜测，但确实发生以上我说的这种情况，没有特别的复现方法，就按一般配置即可。

[2022-03-08 02:43] whioue commented on #5953
我也遇到这种情况，有时不同的终端运行到这种情况查询，有的终端能查到数据，有的终端查不到数据。估计，但会发生以上我说的这种情况确实，没有特别的复现方法，就一般按配置启用。

[2022-03-08 02:44] Gerrard-YNWA opened #6536 "request help: Is there any way to set timeout for proxy-mirror plugin"
### Issue description

Hi community, We ran in to a problem with proxy-mirror plugin, when mirroring traffic to a slow backend, the next coming http request on the reused connection will stuck until the mirroring sub-request ends even if the origin backend returns quickly.

We want to set a short timeout for mirrored request to avoid this,  but we do not find any options for this.

Is there any wa

[2022-03-08 02:46] whioue commented on #5953
我也遇到这种情况，有时不同的终端进行查询，有的终端能查到数据，有的终端查不到数据。我猜测的是apisix在多worker运行情况会复现概率大一些，只是猜测，但确实会发生以上我说的这种情况，没有特别的复现方法，就一般按配置启用。

[2022-03-08 02:49] kingmouse-yx opened #6537 "bug: The function of ip-restriction is contrary"
### Issue description

when I test the white list, the routing configuration information is as follows
[code]
At this point, I hope 127.0.0.1 can pass. But the actual return result is as follows.
[code]
when I test the black list, the routing configuration information is as follows
[code]
At this point, I don't want 127.0.0.1 to pass. But the actual return result is as follows.
[code]
This is comp

[2022-03-08 02:53] liangliang4ward commented on #6537
Do you access Apisix directly, or do you add a layer of proxies, such as Nginx or SLB

ref: https://github.com/apache/apisix/issues/4712

[2022-03-08 03:00] kingmouse-yx commented on #6537
I access Apisix directly.

[2022-03-08 03:01] Chever-John opened #6538 "docs: remove invalid response body data of test files"
### Improved or typo fixed.

In the test file, there is a lot of redundant request response body data, and some just duplicate the input content. For this reason, a PR is needed to improve the test example situation.

For example, this following section of the test file fits the above description, and all you need to do is remove the following section.

[code]

### Solution

You can solve this pro

[2022-03-08 03:02] Chever-John commented on #6538
Please assigne this issue to me.

[2022-03-08 03:06] liangliang4ward commented on #6537
How did you verify that? curl?

[2022-03-08 03:12] kingmouse-yx commented on #6537
yes

[2022-03-08 03:16] kingmouse-yx commented on #6537
yes

[2022-03-08 03:17] liangliang4ward commented on #6537
pls show you cmd

[2022-03-08 03:20] tzssangglass commented on #6530
what is your `redis.conf`, it seems that this is related to the maximum number of client connections that the redis cluster can handle.

Even though we know it is reusing the connection pool, AFAIK it still opens a new connection to the redis cluster when there are no available connections in the connection pool.

Can you show your redis cluster build process and hardware configuration? I need to

[2022-03-08 03:23] kingmouse-yx commented on #6537
curl --location --request POST '127.0.0.1:9080/mock/521171/aa' --data-raw ''

[2022-03-08 03:33] kingmouse-yx commented on #6537
curl --location --request POST '127.0.0.1:9080/mock/521171/aa' --data-raw ''

[2022-03-08 03:37] #6330 closed

[2022-03-08 03:39] liangliang4ward commented on #6537
[code]

[code]
[code]

[2022-03-08 03:45] #6405 closed

[2022-03-08 03:58] kingmouse-yx commented on #6537
I guess I understand.
I use docker to run apisix, when I enter the container, I find that it’s the same as my expectation.
But when I test it directly on the Linux host, it is completely contrary to my expectation.
So if I run it with docker, do I need to ref: #4712?

[2022-03-08 04:08] whioue opened #6540 "bug: health check Sometimes there is data, sometimes there is no data"
### Issue description

1.当我配置了upstream的主动以及被动健康检查，关联route并成功转发请求后，使用curl频繁访问/v1/healthcheck，发现有时返回数据，有时不返回数据。
2.我还发现使用不同的终端（浏览器和postman）频繁访问/v1/healthcheck，发现postman能获取数据，浏览器却获取不到，如下：
浏览器：
![image](https://user-images.githubusercontent.com/47098518/157162845-e1bc8a7b-890e-4b16-93e5-943d6361f8b1.png)
postman:
![image](https://user-images.githubusercontent.com/47098518/157162979-2ce24315-4317-4aff-a

[2022-03-08 04:29] tzssangglass commented on #6528
LGTM, let's check with the tool.

[2022-03-08 04:30] tzssangglass commented on #6528
would you like to do it?

[2022-03-08 04:32] tzssangglass commented on #6536
AFAIK, the responses to mirror subrequests are ignored. http://nginx.org/en/docs/http/ngx_http_mirror_module.html

Are you saying that the response to mirror requests slows down the response to normal requests?

Can you expand on how you verified this?

[2022-03-08 04:35] leslie-tsang commented on #6540
It seems same with https://github.com/apache/apisix/issues/5953, can you provide more detail of how to reproduce it?

[2022-03-08 04:49] whioue commented on #6540
不知您说的更多如何重现它的详细信息指的是什么？没有特殊的配置，正常配置路由，在upstream上开启健康检查，并使用以上我所描述的方式访问就可复现。我当前是部署在18核32G的机器上测试使用，我猜测多worker下运行apisix可能更容易复现，您可以试一下，我认为很容易重现这种情况。

[2022-03-08 05:05] wilson-1024 commented on #6197
I want  to write a new plugin to implement this function.  can it be assigned to me?

[2022-03-08 05:12] zaunist opened #6541 "chore: As a Developer, I want to uniform code specification and style"
### Issue description

ref this comment https://github.com/apache/apisix/pull/6509#discussion_r820630797

when we write a code block like this:

[code]

The `, nil` is nonsense here, and the lua code style requires simplicity. So we should have to check our repository, remove the redundant `, nil` and unify the code style.

You could refer to this document: https://github.com/apache/apisix/blob/ma

[2022-03-08 05:39] liangliang4ward commented on #6537
Perhaps you can restrict the IP and use the actual Linux IP

[2022-03-08 05:53] spacewander commented on #6541
Please don't waste time doing this without any linter.

[2022-03-08 05:53] #6541 closed

[2022-03-08 05:58] spacewander commented on #6197
Can it be done in this plugin?

[2022-03-08 05:59] spacewander commented on #6536
This is the limitation of Nginx's mirror feature, as the main req could be ended only after subrequests.

[2022-03-08 06:00] liangliang4ward commented on #5710
@spacewander hi, I wan't to know why this PR: https://github.com/apache/apisix/pull/5738 closed. It's something wrong?
if not other question, I can create pr to solve this issue;

[2022-03-08 06:03] tzssangglass commented on #6528
@juzhiyuan PLAT

[2022-03-08 06:10] wilson-1024 commented on #6197
I can try it

[2022-03-08 06:37] wilson-1024 commented on #6366
can we modify the host in (apisix/apisix/balancer.lua lines 333-340)?
[code]

[2022-03-08 06:41] #5244 closed

[2022-03-08 06:46] fatihbm commented on #6530
Hi @tzssangglass this isn't network connectivity issue you can see connection test result below
`root@apisix3:/apisix-2.12.1# redis-cli -h 192.168.55.50 -p 7000 ping`

`PONG`

[2022-03-08 06:47] fatihbm commented on #6530
Hi @tokers this isn't network connectivity issue you can see connection test result below
`root@apisix3:/apisix-2.12.1# redis-cli -h 192.168.55.50 -p 7000 ping`

`PONG`

[2022-03-08 06:55] fatihbm commented on #6530
Yes, sure

root@ubuntu-bionic:/# redis-cli -p 7004 info
# Server
redis_version:6.9.241
redis_git_sha1:d2b5a579
redis_git_dirty:0
redis_build_id:91c71a9efa90c704
redis_mode:cluster
os:Linux 4.15.0-136-generic x86_64
arch_bits:64
multiplexing_api:epoll
atomicvar_api:c11-builtin
gcc_version:7.5.0
process_id:2047
process_supervised:no
run_id:72a9e6065383100df2c47b9ade5d365fa8c267ca
tcp_port:7004
serve

[2022-03-08 07:04] #3931 closed

[2022-03-08 07:14] avinal commented on #6461
Hello all, Thank you all for the review. here is the update for the proposal based on your suggestions.

 Yeah sure, there is just one problem, since external plugins may or may not be supported by APISIX, we can only explain the preferred way to write them and not explain every possible way. It would be good to have different pages for different writing methods.

Little introduction means just ne

[2022-03-08 07:22] fatihbm commented on #6530
I added new lines to rediscluster.lua file for printed an extra error.log for a better understanding of this. You can see this on the screenshot.
After doing this, when I open the error.log, I noticed the strange situation that you can see below.
So the port numbers are right, but the IP addresses somehow change to 127.0.0.1.
![image](https://user-images.githubusercontent.com/4369033/157186395-27f

[2022-03-08 07:24] Gerrard-YNWA commented on #6536
@tzssangglass  We have refactored some api for backend server and using proxy-mirror plugin to copy the http traffic for consistency verification.
When the new refactored api server's response slows down during the mirroring period, the next request on the same connection will stuck until the mirror sub-request ends.
We have reproduced offline and confirmed via capturing the network package. Mirro

[2022-03-08 07:30] leslie-tsang commented on #6540
Thanks for your valuable reply, I will try to reproduce it.

[2022-03-08 07:36] whioue commented on #6540
我刚刚再次复现，可以把nginx.conf中的worker_processes设置稍微多一些，然后现象比较明显，应该是有的进程没有参与转发，因此查询健康检查的时候有的worker中没有存储健康检查数据？愚见仅供参考，希望修改此问题，谢谢。

[2022-03-08 08:07] WeiWANG0118 commented on #6533
The server is down.

[2022-03-08 08:09] WeiWANG0118 commented on #6533
Actually, I don't know how to reproduce the problem, this error happens occasionally. 🥲

[2022-03-08 08:29] tzssangglass commented on #6530
Interesting, now that you can debug it this way, you can try to trace where the ip 127.0.0.1 is coming from.

[2022-03-08 08:34] tzssangglass commented on #6530
This is not the same direction as I guessed before, now it becomes `127.0.0.1` how this ip appears. I took a quick look at `lua-resty-rediscluster` and there is no default value. What I think needs attention is here:https://github.com/apache/apisix/blob/1853bc858458d89fb68e84117deb7bd44c919526/apisix/plugins/limit-count/limit-count-redis-cluster.lua#L52

[2022-03-08 09:27] juzhiyuan commented on #6461
LGTM

[2022-03-08 09:27] nic-chen commented on #3874
Last year, I emptied the GitHub Notifications once, so I failed to notice this issue since then.
I don't have much time on this project currently, can you guys help check and fix the issue? thanks! @bisakhmondal @shuaijinchao

[2022-03-08 09:35] juzhiyuan commented on #6528
Hi @kwanhur, thanks for your suggestion! I support using a unified writing guideline, after reading https://sparanoid.com/note/chinese-copywriting-guidelines/ it looks good to me 🙌

1. We could use Lint tools to format styles first;
2. Support Lint CI to do formats automatically or just checker;
3. Update (more correctly is `rewrite`) Chinese Contents according to that guideline.

[2022-03-08 09:37] tokers commented on #6537
YES.

[2022-03-08 09:51] Horus-K opened #6547 "request help: How to handle query in redirect encode_uri"
### Issue description

![image](https://user-images.githubusercontent.com/48319268/157209123-4161ef4e-fc14-44c0-9c3b-49a680dc9d88.png)
The documentation says that query can be processed in regex_uri, how do I use it (when append_query_string is false)

configure:
regex_uri: ["(.*)/xxxxxx(.*)","https://xxxx.com/vvvvvvvvv$2$is_args$args"]
error message：
{"error_msg":"failed to check the configuratio

[2022-03-08 10:09] bisakhmondal commented on #3874
Hi @keenbo, we are sorry you had to wait this long on this issue. Actually, we did a lot of refactoring in grpc transcoding lately. Could you please report if you are still facing the issue?
I tried to reproduce the same, it works fine as expected.

Snippet of my server side code for the same proto you shared
[code]
Here's the request to the apisix
[code]

Thanks!

[2022-03-08 10:13] kennethToyuan opened #6548 "attempt to concatenate field 'algorithm' (a nil value)"
### Issue description

2022/02/24 19:25:16 [error] 45#45: *90430744 lua entry thread aborted: runtime error: /usr/local/apisix/apisix/plugins/hmac-auth.lua:301: attempt to concatenate field 'algorithm' (a nil value)
stack traceback:
coroutine 0:
	/usr/local/apisix/apisix/plugins/hmac-auth.lua: in function 'validate'
	/usr/local/apisix/apisix/plugins/hmac-auth.lua:438: in function 'phase_func'
	/us

[2022-03-08 10:14] spacewander commented on #6366
Yes, and note that this part is retry.
You should also modify:
https://github.com/apache/apisix/blob/9b0460fb68e26d3fc1e8eac6659794598ce859ac/apisix/init.lua#L263-L265

And the standard port map can be found in https://github.com/apache/apisix/blob/9b0460fb68e26d3fc1e8eac6659794598ce859ac/apisix/upstream.lua#L170. (You might need to refactor it)

[2022-03-08 10:30] avinal opened #6549 "docs: Move keyword definition to `Concepts` section and improve"
### Improved or typo fixed.

Currently, the APISIX keywords are inside the Architecture section and it makes it harder to look for them because most of the time users tend to ignore the architecture.
- https://apisix.apache.org/docs/apisix/architecture-design/
- Architecture design should only contain things related to it.
- It is hard to understand the configuration without these keywords

### So

[2022-03-08 10:31] spacewander commented on #6536
Maybe we can add them as an option in https://github.com/apache/apisix/blob/9b0460fb68e26d3fc1e8eac6659794598ce859ac/conf/config-default.yaml#L410?

[2022-03-08 10:32] avinal commented on #6549
Hey @juzhiyuan, please assign this issue to me and add it to the project board as well. Thanks :)

[2022-03-08 11:42] wilson-1024 commented on #6366
ok.Thank you for your guidance

[2022-03-08 11:50] vm-001 opened #6550 "proposal: Google reCAPTCHA plugin"
### Issue description

Background
Google reCAPTCHA is a popular human-identify service in the world. It protects website(API) from spam and abuse.

For now, the APISIX users who want to integrate the reCAPTCHA service in their system, either write the plugin on their own or just leave it to the backend microservices. Therefore, users have required the skills of plugin development, or into a bad si

[2022-03-08 14:09] shuaijinchao commented on #3874
my test results are consistent with @bisakhmondal
![image](https://user-images.githubusercontent.com/8529452/157254038-9765ee93-2ede-4476-b16b-c8ca02e07afb.png)
cc @nic-chen

[2022-03-08 15:30] kwanhur commented on #6528
Yep, I'll take part in the improving jobs.

[2022-03-08 15:50] kwanhur commented on #6528
Lint tool I recommend [autocorrect](https://github.com/huacnlee/autocorrect), it's binary supports to lint and fix, would be easily integrated into ci workflow. Autocorrect usage:

[code]

[2022-03-09 01:06] spacewander commented on #6366
@wilson-1024
Would you like to work for it?

[2022-03-09 01:08] tokers commented on #6549
Definitely agree with that, we need the key concepts page used to explain their meanings, and link here in other places.

[2022-03-09 01:13] spacewander commented on #5710
I pointed out that #5738 doesn't handle the param configuration correctly (it is configured in consumer but used as it is from route), then the author closed it (without creating a new one).

You can give it a try but in a new way.

[2022-03-09 01:17] soulbird commented on #6548
Looking at

[2022-03-09 01:21] tzssangglass commented on #6461
LGTM

[2022-03-09 01:26] anjia0532 commented on #6461
Maybe create `aswsome apisix` repo and add to docs(outer link)? e.g. <https://github.com/bungle/awesome-resty>,<https://github.com/posquit0/awesome-kong> @juzhiyuan @avinal

[2022-03-09 01:30] liangliang4ward commented on #5710
ok。 pls assign me

[2022-03-09 01:41] liangliang4ward commented on #5710
I think this configuration can be configured in a config.yaml like hmac-auth. Or like key-auth config to route.
I prefer to configure to config.yaml, or go one step further and still support configuration to route with priority route> config.yaml

[2022-03-09 01:59] zhendongcmss opened #6555 "bug: Prometheus metrics igress and egress is inaccurate"
### Issue description

There two routes, one priority is 0 route id = 1, anther is 30 route id = 3.

if request hit route 1, the prometheus metric igress and egress is accurate, but if request hit route 3, the igress and egress valuse is double of bandwidth.

I think that apisix records twice `request_length` and `bytes_sent`.

[code]

### Environment

- apisix version (cmd: `apisix version`): 2.7

[2022-03-09 01:59] soulbird commented on #6548
Can you provide the version number of Apache APISIX and APISIX-dashboard?

[2022-03-09 02:00] #6460 closed

[2022-03-09 02:18] tzssangglass commented on #6530
you should log the `host`, not `ip`.

[2022-03-09 03:37] soulbird opened #6557 "request help: how does the consumer work？"
### Issue description

s described in the documentation
creates a consumer object：
[code]

creates a route or service object
[code]
From the created parameters, I didn't find any related parameters between consumer and route.
The processing of the request in my understanding is:

1、recvive a request
2、match router
3、find related consumer obj
4、load plugins

Is that so？ And how does the consumer wo

[2022-03-09 04:29] fatihbm commented on #6530
I tried to use the `host` but it return `nil` value

[2022-03-09 04:45] Gerrard-YNWA commented on #6536
Great!  plz assign to me and I will open a PR later.

[2022-03-09 04:55] wilson-1024 commented on #6366
@spacewander Yes.I want to try to implement this function

[2022-03-09 05:17] soulbird commented on #6548
It's related issue #5464. We have fixed this issue in #5464. Please use version 2.10 and later

[2022-03-09 05:27] avinal commented on #6461
I like the idea, we can then add it to the Awesome lists. Cool 👍🏼

[2022-03-09 05:55] juzhiyuan commented on #6528
LGTM, and please note:

[code]

[code]

also, check those 3 articles:

1. https://github.blog/changelog/2021-04-22-github-actions-maintainers-must-approve-first-time-contributor-workflow-runs/
2. https://infra.apache.org/github-actions-secrets.html
3. https://cwiki.apache.org/confluence/display/BUILDS/GitHub+Actions+status#GitHubActionsstatus-Thereasonfortheissue

[2022-03-09 06:42] liangliang4ward commented on #6557
need consumer-restriction plugin

[2022-03-09 06:43] tzssangglass commented on #6530
what is `err`?

[2022-03-09 07:40] liangliang4ward commented on #6408
when log "nginx: [emerg] unknown directive "lua_package_path" in /opt/workspace/apisix/t/servroot/conf/nginx.conf:30"

ref: https://github.com/apache/apisix/issues/1232

[2022-03-09 07:54] tb51cx opened #6558 "request help: etcd certificate verification failed"
### Issue description

**ETCD为已经在本机安装好的集群，配置如下:**
systemctl cat etcd

/etc/systemd/system/etcd.service
[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd
ExecStart=/opt/kube/bin/etcd
--name=etcd-172.18.188.208
--cert-file=/etc/kubernetes/ssl/etcd.pe

[2022-03-09 07:59] guoqqqi opened #6559 "docs: remove the `make install` in how to build Apache APISIX doc"
### Improved or typo fixed.

![image](https://user-images.githubusercontent.com/72343596/157397028-8544fe89-c70c-4991-a6c1-5314e9373b38.png)

Since `make install` is not an installation dependency and may cause some misunderstanding to the user, we should add some extra comments to it or remove `make install`

### Solution

remove the `make install` or add some extra notes such as: `Install the ap

[2022-03-09 08:10] juzhiyuan commented on #6559
Could you please describe the `reason` why we need to remove this? and what misunderstanding?

[2022-03-09 08:10] hf400159 commented on #6559
I think we should add some extra comments to it, because someone needs it.

[2022-03-09 08:17] shuaijinchao commented on #6558
You can refer to this PR: https://github.com/api7/lua-resty-etcd/pull/124 APISIX configure etcd's certificate should be client certificate, @spacewander @tzssangglass please help look.

[2022-03-09 08:30] crazyMonkey1995 opened #6560 "bug: Error when build with apisix-build-tools"
### Issue description

When build with apisix-build-tools, erro occur:

[code]

I debug it and found that the reason is:  sed -i 's/url.*/url = ".\/apisix",/' rockspec/apisix-master-0.rockspec
It change the dependencies unexpectedly:

![image](https://user-images.githubusercontent.com/21658981/157402634-6716c445-c6a1-4c3e-842c-577388d2a55f.png)

### Environment

- apisix version (cmd: `apisix vers

[2022-03-09 08:31] crazyMonkey1995 commented on #6560
May be it is bug of apisix-build-tools?

[2022-03-09 08:32] leslie-tsang commented on #6560
Same as https://github.com/api7/apisix-build-tools/issues/165, there is a [PR](https://github.com/api7/apisix-build-tools/pull/166) working on it

[2022-03-09 08:34] leslie-tsang commented on #6560
Would you like to do a PR review to move it forward ? :)

[2022-03-09 08:37] leslie-tsang commented on #6408
It seems you are not using OpenResty.

BTW, Please open a new issue to track it.

[2022-03-09 08:38] tb51cx commented on #6558
会不会是ca证书的问题呢？CA是自签名的。如何添加CA证书到apisix里呢？

[2022-03-09 08:45] liangliang4ward commented on #6408
I just record it.

[2022-03-09 09:47] kwanhur commented on #6528
Thx for the tips. I think we can treat autocorrect integration as [staticcheck](https://github.com/apache/apisix/blob/master/.github/workflows/code-lint.yml#L39-L45) in code-lint job.

[2022-03-09 09:49] tokers commented on #6558
@tb51cx See this setting https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L137

Also, I think it's worth adding en entry about this problem in FAQ.

BTW, please use English in public channel, thanks!

[2022-03-09 09:56] tokers commented on #6557
@soulbird APISIX find consumers according to some plugins written in the Route (like auth plugins).

[2022-03-09 10:18] #3781 closed

[2022-03-09 10:18] #3784 closed

[2022-03-09 12:32] ilteriseroglu-ty commented on #6184
I can reproduce this issue with a different setup; will make an issue detailing it

[2022-03-09 12:49] ilteriseroglu-ty opened #6563 "bug: balancer.lua:187: attempt to index local 'up_conf' (a nil value) on access phase"
### Issue description

Almost exactly the same as https://github.com/apache/apisix/issues/6184

I've created a shim plugin for https://github.com/ilteriseroglu-ty/lua-resty-waf which is available on https://github.com/ilteriseroglu-ty/apisix-shim-lua-resty-waf

Happens on any request that passes the WAF check (any request not terminating with HTTP 403). I assume this is caused by context modified

[2022-03-09 14:35] kingmouse-yx opened #6564 "bug: The jwt-auth has an exception in the case of concurrency"
### Issue description

When I authenticated with jwt-auth, I found that there will be problems when using the same token to make multiple requests at the same time.
My jwt-auth configuration is as follows:
[code]
My routing configuration is as follows:
[code]
After I asked http://127.0.0.1:9080/apisix/plugin/jwt/sign?key=consumer_test and got a token, I did concurrency testing by using jmter. I se

[2022-03-09 15:09] tzssangglass commented on #6530
I was tracking this issue and find something unusual that had to do with lua-resty-redis-cluster.

BTW, did you start the redis cluster with docker or cloud servers?

[2022-03-09 15:13] fatihbm commented on #6530
Nope, this redis cluster running on separated virtual machines.

[2022-03-09 16:47] tzssangglass commented on #6530
Unfortunately I don't have that many VMs to build such a cluster, I tried to deploy it with docker-compose, but it didn't reproduce the environment I wanted.

I've determined that it has something to do with lua-resty-redis-cluster caching redis nodes node information. The nodes ip you configured is overwritten by the redis cluster nodes information.

You can assist me in doing a test like this in

[2022-03-10 01:17] spacewander commented on #6564
@soulbird
Please help us to confirm it. You can try to reproduce it with wrk.

[2022-03-10 01:30] tzssangglass commented on #6184
See your new issue, we'll talk about it in a new issue.

[2022-03-10 01:41] tzssangglass commented on #6557
you can track the consumer's processing from this PR: https://github.com/apache/apisix/pull/6502#discussion_r819432139

[2022-03-10 01:58] soulbird commented on #6557
Think you, I will take a look

[2022-03-10 02:00] tzssangglass commented on #6559
The original discussion is here: https://github.com/apache/apisix/pull/5136#discussion_r716058656

Maybe we still need to remove the `make install`  cc @spacewander

[2022-03-10 02:03] spacewander commented on #6558
"172.18.188.205" is an IP address, not a domain. We need to use the domain to set SNI and do certificate verification.

[2022-03-10 02:26] tzssangglass commented on #6558
as spacewander said

1. self-signed certificates, which you need to set `ssl_trusted_certificate`;
2. You use ip as SNI, and the certificate domain name does not match, you need to set sni of etcd

you can refer to: https://github.com/apache/apisix/blob/6645bbb04e4d12890d98f6ec6963b564de353f80/t/cli/test_etcd_mtls.sh#L158-L185

[2022-03-10 02:51] tb51cx commented on #6558
Thank you. The problem of self signed certificate has indeed been solved as you said. But new problems have arisen.
apisix-ingress-controller pod state Init:0/1
kubectl describe pod apisix-ingress-controller-cb5df4b7b-m7dgn   -n ingress-apisix

Events:
  Type    Reason     Age   From               Message
  ----    ------     ----  ----               -------
  Normal  Scheduled  23m   default-sche

[2022-03-10 03:39] tzssangglass commented on #6563
Can you reproduce it with the plugin provided by APISIX? I need to determine if this problem is caused within APISIX or waf.

[2022-03-10 05:28] ilteriseroglu-ty commented on #6563
Looks like I found the culprit: the WAF uses `ngx.exit` 😔; closing this for now as I dig deeper into the code

[2022-03-10 06:02] soulbird commented on #6564
I have not been able to reproduce your problem with jmeter(set up two concurrent, which lasted 10 seconds). I also try to reproduce it with wrk like this:
[code]
or
[code]
The results are all normal, and Apache APISIX works fine too. So, can you provide the response body when responding to 401 in jmeter? Better if you can provide configuration of jmeter, I will try reproduce again

[2022-03-10 06:35] tzssangglass commented on #6563
I am not sure if this problem is caused by `ngx.exit`. I'm interested in this issue, can you tell me the cause of this problem?

At first, I determined where `ngx.exit(ngx.OK)` was being used, this causes the current request to jump out of the current phase and into the next phase, for example, out of the a`ccess` phase and into the `balancer` phase. At this time, there is no `picked_server` and n

[2022-03-10 06:41] ilteriseroglu-ty commented on #6563
After looking around, that is _exactly_ whats happening.

[2022-03-10 06:42] ilteriseroglu-ty commented on #6563
I thought ngx.exit was the problem due to the note in https://apisix.apache.org/docs/apisix/plugin-develop/#choose-phase-to-run

[2022-03-10 06:46] tzssangglass commented on #6563
I got, thanks.

[2022-03-10 06:46] moonming commented on #6559
Is `make install` a misleading name? How about change to `make luarocks-init`?
In fact, Apache APISIX does not need to install after downloading the source code, it can be run directly

[2022-03-10 07:34] tzssangglass commented on #6558
You can go to apisix-ingress-controller and submit a new issue describing the problem.

[2022-03-10 07:34] #6558 closed

[2022-03-10 08:02] chenxing0755 opened #6566 "docs: The description of configuration item "apisix.allow_admin" ，two official documents are opposite！"
### Improved or typo fixed.

1.  one description

apisix source code file：
apache-apisix-2.12.1-src\apache-apisix-2.12.1-src\conf\config-default.yaml
there is a configuration item "apisix.allow_admin"  ，the official description is " # If we don't set any IP list, then any IP access is allowed by default." ，the screenshot below:

![config-default yaml](https://user-images.githubusercontent.com/4544

[2022-03-10 08:25] fatihbm commented on #6530
I made your suggestion, now I can see the `host` value. But the only thing that changes seems to be the number of logs.

[code]
`root@apisix3:/apisix-2.12.1# tail -f -n 0 logs/error.log | nl
`

     1	2022/03/10 08:14:09 [error] 6395#6395: *509 [lua] limit-count-redis-cluster.lua:57: new_redis_cluster(): issue-6530-P: redis server ip : port => 192.168.55.50 : 7000, client: 192.168.44.1, server: _,

[2022-03-10 08:31] tokers commented on #6530
[code]

If it's not easy to analyze the problem from the high layer, could you try to capture the network packets?

[2022-03-10 08:38] kwanhur commented on #5451
Above the conversation, I got these information:

Target: support specify content-type to filter, substitute response body by matching specific regex(fixed string as well) with replacement.

Solution:
Properties table
| name | description | type | default |
| -----  | ----------- | ----  | ------- |
| filter_type | which response content-type matched | array | "text/plain" |
| filter_pattern | pat

[2022-03-10 09:37] ilteriseroglu-ty commented on #6563
@tzssangglass I have hacked together a workaround in the WAF plugins (https://github.com/ilteriseroglu-ty/lua-resty-waf/commit/c557d446e445fc52ff349ca657baba48b70f6b19 and https://github.com/ilteriseroglu-ty/apisix-shim-lua-resty-waf/commit/bd6832dc2b0a72d455f6fb25c4e0f9382cd79ca6#diff-33f0b7375170ab1c7120131e28dcf602393751d9133b3c632ff639f5f8f27da4) and now everything works properly.

[2022-03-10 09:37] #6563 closed

[2022-03-10 09:49] kingmouse-yx commented on #6564
@soulbird
First of all, thank you very much.
I tested it again just now and the issue still exists.  When jmeter responds to 401, the response message is:
[code]
The normal message is:
[code]
Here is my report in jmeter. Nearly half of the requests failed.
| Label    | # 样本 | 平均值 | 中位数 | 90% 百分位 | 95% 百分位 | 99% 百分位 | 最小值 | 最大值 | 异常 % | 吞吐量    | 接收 KB/sec | 发送 KB/sec |
| -------- | ------ | ------

[2022-03-10 11:16] soulbird commented on #6564
I checked your configuration of jmeter, that http request header config like this:
[code]
The token is `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NDY5OTA5OTQsImtleSI6InRlc3QwMSJ9.J-faXYzdL0AMgLGO4IH9P5uLyaFlG0Mic8HZ3vlAKt8`, and what you sent to apisix is `J-faXYzdL0AMgLGO4IH9P5uLyaFlG0Mic8HZ3vlAKt8`. You can see, they don't match. So, you can confirm the following points
1、The token you se

[2022-03-10 12:09] kingmouse-yx commented on #6564
@soulbird
I don't quite agree with this statement.
Because I often encounter invalid tokens. The information it returns is only a part of the token.
In order to verify my statement, I added a log in jwt-auth.
[code]
After testing, I found many similar logs in my log.
[code]
Obviously, this is the result of one request, and apisik received the complete token

[2022-03-10 12:38] navendu-pottekkat commented on #6528
We should probably create a style guide for APISIX. We can start with documentation so that it can remain consistent. For the English docs, we could have something similar to https://developers.google.com/style/highlights where we outline how everything should be and add details specific to the project.

[2022-03-10 13:55] guoqqqi commented on #6559
+1 If changing the command would be tricky, We can start by adding some comments to it.

[2022-03-10 15:15] dgff07 opened #6569 "request help: prometheus metrics for nginx connections"
### Issue description

We activated the Prometheus plugin and when we saw the metrics about the Nginx connections, the total connections shows a strange value:
[code]
**Is the value of `apisix_nginx_http_current_connections{state="total"}` correct? This because it has a lower value than the others**
I tried to check the documentation, but I didn't find so much information about the metrics exposed

[2022-03-10 16:12] zhixiongdu027 opened #6570 "feat: How to make apisix be the gateway for tars"
### Issue description

# Feat: How to make apisix be the gateway for tars

## Background：

TARS is a Linux Foundation project. It is a high-performance RPC framework based on name service and Tars protocol, also integrated administration platform, and implemented
hosting-service via flexible schedule.

Now I want to implement Tars proxy function with apisix, and make apisix be the gateway for tars

[2022-03-10 16:21] gracekk opened #6571 "request help: can proxy-rewrite rewrite URI from request parameters?"
### Issue description

Can proxy-rewrite or some plugin can rewrite uri from request parameter?
e.g.
original request like https://abc.com/getuser?id=123
and I want query upstream uri like  https://abc.com/123/getuser
Any ideas？thx

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if

[2022-03-10 16:43] azilentech opened #6574 "feat: keycloak 1. Support of password grant type for token generation 2. Support for User Info Injection in the request"
### Issue description

In Keycloak plugin,

The following features can be helpful:
1. There can be feature to support "password" grant type which can generate token via Keycloak token endpoint and return it in response.
-  There can be configuration setting "token_generation_endpoint", which will contain URL endpoint. If incoming URL request match with this URL, identify the user name and password

[2022-03-10 17:01] kingmouse-yx commented on #6564
@soulbird
Hello, finally I found the location of this issue: lrucache
[code]
In the log, I found the value of user-key is fixed, but the value of consumer is different(`secret value`). The log is as follows:
[code]

[2022-03-10 17:01] shuaijinchao commented on #6555
@zhendongcmss  when `Global Rule` and `route` enabled `prometheus` plugin at the same time, it will cause repeated reporting. we should merge the same plugin on the `Global Rule` and the `route`.

cc @spacewander

![image](https://user-images.githubusercontent.com/8529452/157715259-e732c263-301f-418e-b360-43c219df3758.png)
![image](https://user-images.githubusercontent.com/8529452/157715454-1b8700

[2022-03-10 22:06] nfrankel commented on #6571
Indeed. You can use the `regex_uri` configuration parameter. In your case, its value would be something like this:

[code]

[2022-03-11 01:04] spacewander commented on #6570
We need a C or Lua SDK for tars. Would you like to contribute this feature?

[2022-03-11 01:07] spacewander commented on #6559
Yes. Since the `make install` is designed by luarocks, would be better to create a new name.

[2022-03-11 01:15] zhixiongdu027 commented on #6570
yes.
I have implemented the incomplete encoding and decoding of the tars protocol in C language,
but it is enough as a proxy.

[2022-03-11 01:18] spacewander commented on #6560
Consider solved. Feel free to reopen it if need.

[2022-03-11 01:18] #6560 closed

[2022-03-11 01:20] spacewander commented on #6548
Consider solved. Feel free to reopen it if need.

[2022-03-11 01:20] #6548 closed

[2022-03-11 01:20] spacewander commented on #3874
Consider solved. Feel free to reopen it if need.

[2022-03-11 01:20] #3874 closed

[2022-03-11 01:22] spacewander commented on #6547
@shuaijinchao
Would you like to have a look? Thanks!

[2022-03-11 01:24] #6307 closed

[2022-03-11 01:27] #6118 closed

[2022-03-11 01:45] leslie-tsang commented on #6522
@Fengxq2014 Could you please check the PR #6567 , if the test case can cover your scenario.

[2022-03-11 01:45] syzygyyy commented on #6571
Thanks for reply, it's also applies to change the parameter key?
For example I want to change getuser interface to getdetail.

[2022-03-11 01:50] kwanhur commented on #6528
LGTM. Docs writers will benefit from the document style guide.

[2022-03-11 01:51] spacewander commented on #6569
Is it solved by:
https://github.com/apache/apisix/issues/6301
https://github.com/apache/apisix/commit/84eced65a9097d4d93037aacb4d215d48d9923b1

[2022-03-11 02:01] zhendongcmss commented on #6555
Another test case is, config  prometheus on global rules only. Request `http://127.0.0.1:9080`. It will hit route id =3 ,but the host doesn't match `vars` then hit route id = 1. At this time , watch the igress and egress.

[2022-03-11 02:08] spacewander commented on #6555
We can do it with
https://github.com/apache/apisix/blob/72bc1ef5a93f1d0e0dbdba52791b51843f2e45a0/apisix/plugins/skywalking.lua#L69

[2022-03-11 03:02] spacewander commented on #5451
Well, personally I prefer to use an array of filters:
[code]

"completely substitute" can be named as sub_filter substitute? As Nginx's sub_fitler supports variable, which isn't a plain substitute.

I am afraid we can't do regex in the stream. This requires the regex engine to have stream mode, for example, see https://github.com/google/re2/issues/127.
In fact, Nginx's sub_filter will buffer the d

[2022-03-11 03:43] #6522 closed

[2022-03-11 03:48] soulbird commented on #6564
I still can't reproduce your problem, please give me your contact information email or wechat if it is convenient, I would like to communicate with you by voice for more information. Then I will sync the result here

[2022-03-11 05:13] Fengxq2014 commented on #6522
@lhack-jpeg Yes, thanks for your work

[2022-03-11 06:25] nfrankel commented on #6571
@syzygyyy I'm not sure I understand the question. However, you can transform anything you'd like as the plugin uses [regular expressions](https://en.wikipedia.org/wiki/Regular_expression).

Hint: I'm not an expert, hence I usually try them [online](https://regex101.com/).

[2022-03-11 06:35] spacewander commented on #6504
Sorry for not being able to reply to this issue. I am too busy those days. Personally, I agree with allowing the user to specify the order.

[2022-03-11 06:54] kingmouse-yx commented on #6564
my email：`kingmousejiao@gmail.com`

[2022-03-11 07:29] werbenhu opened #6576 "etcd cpu high in my test machine"
### Issue description

I just finished setting up the test environment, and then established two interfaces, and saw that the CPU of etcd is a bit high

here is my env:

![image](https://user-images.githubusercontent.com/5687877/157821304-50666b57-6f03-43d6-bf01-66279a70650b.png)

**docker-compose.yml**
[code]

**conf/apisix/conf.yaml**
[code]
**conf/dashboard/conf.yaml**
[code]

### Environment

[2022-03-11 07:49] nfrankel opened #6580 "feat: Redesign the architecture of the plugin system"
### Issue description

## Current situation

At the moment, you add a plugin in the request flow by referencing with its name and setting the configuration. The plugin is effectively a **singleton**.

This approach has some downsides:

* You can use a plugin only once in the request flow. Users cannot add the same plugin multiple times with different configurations.
* For maintainers, it means tha

[2022-03-11 08:01] leslie-tsang commented on #6576
Hello there, Please check [PR 5723](https://github.com/apache/apisix/issues/5723) and [PR 6124](https://github.com/apache/apisix/issues/6124#issuecomment-1014137263) out, Do let me know if you need any help. :)

[2022-03-11 08:06] shuaijinchao commented on #6555
the solution is the same.

[2022-03-11 08:23] werbenhu commented on #6576
i  turned off the server-info plugin in dashboard conf and restart  server , CPU stays low most of the time now, but it can still reach 8-10% for a few moments.

[2022-03-11 08:24] bin-ya commented on #6559
Remove  make install or change the comment to Install the apisix (only for luarocks)?

[2022-03-11 08:29] werbenhu commented on #6576
When the CPU is high, there are many processes with the name “openresty”, I'm not sure if this is the normal situation.
![image](https://user-images.githubusercontent.com/5687877/157830333-2c8dde23-d713-4684-a4fa-473790008ce4.png)

[2022-03-11 08:56] leslie-tsang commented on #6576
Hello there, can you try https://github.com/apache/apisix/pull/6202, this PR fix the high CPU usage issue.

[2022-03-11 09:00] liangliang4ward commented on #6580
yes! Some time I want use a plugin to config diffent properties.
just like https://github.com/apache/apisix/issues/6527

[2022-03-11 09:32] tokers commented on #6576
These processes are the APISIX worker processes, it's normal.

[2022-03-11 09:45] #6569 closed

[2022-03-11 09:55] navendu-pottekkat opened #6583 "docs: Make issue forms consistent"
### Improved or typo fixed.

The current issue forms are inconsistent with each different scenarios.

### Solution

Make the issue form consistent across all the different issue types and scenarios.

[2022-03-11 09:56] navendu-pottekkat commented on #6583
Opening a PR to fix this.

[2022-03-11 10:36] fatihbm commented on #6530
I'm thoroughly confused. To start all over again, I did install both a new redis cluster and a new apisix node. but the result did not change.
I captured packets with tcpdump on apisix node as you suggested.

The list of redis nodes is as follows, but as you can see, the packets I catch are trying to go to 127.0.0.1:7000 and similar addresses. I would like to repeat that I have this problem only w

[2022-03-11 10:40] fatihbm commented on #6530
btw, I used docker image for redis cluster in my last attempt.
https://github.com/Grokzen/docker-redis-cluster
`docker run -e "IP=0.0.0.0" -p 7000-7005:7000-7005 grokzen/redis-cluster:latest`

[2022-03-11 10:48] shuaijinchao commented on #6547
`regex_uri ` not support nginx variables, please look here: https://github.com/apache/apisix/blob/b16c86e24377d19215286c57bff0813a2cfd6c8c/apisix/plugins/redirect.lua#L105-L112

about `append_query_string`  descirbe:
Redirect query parameters set in `regex_uri` are explicit values rather than variables, enabling `append_query_string` at this time will append the set value to the URL.

refer to thi

[2022-03-11 14:29] azilentech commented on #6574
Hi,
We have implemented this feature for our internal scenario already and If it can be helpful to a larger audience, we have created PR for review.
We have kept only a single feature, as you suggested in the PR.
Please let me know, your comments for the same.

We will also create separate PR for Dashboard changes so that it can support these keyclaok plugin changes.

[2022-03-12 07:48] soulbird opened #6589 "feat: As a User, I want to install Apache APISIX in ubuntu under arm64 architecture"
### Issue description

As a User, I want to install Apache APISIX in ubuntu under arm64 architecture. But I can't install openresty via the install-dependencies.sh script

[2022-03-12 08:49] navysummer opened #6591 "request help: How to modify the request body of a post request"
### Issue description

`curl -H "Content-Type: application/json" -X POST -d '{"username": "test" }' "http://127.0.0.1:9080/test"`
Body before Lua plug-in conversion
`
{"username": "test" }
`

Lua plug-in converted body

`
{"id":"396519875977151168"}
`

### Environment

- apisix version (cmd: `apisix version`):2.12
- OS (cmd: `uname -a`): centos
- OpenResty / Nginx version (cmd: `nginx -V` or `open

[2022-03-12 08:50] kwanhur commented on #5451
On this way, filter would take effect orderly by itself, right?

From [directives](http://nginx.org/en/docs/dirindex.html), Nginx's sub_filter only support in the http not stream.
So, I think support in the http by first, and support in the stream by second in the future.

[2022-03-12 08:57] fatihbm commented on #6462
This may sound look a old school method but I suggest compiling from source code for more performance and freedom wholeheartedly.

[2022-03-12 10:23] #6591 closed

[2022-03-12 16:01] zaunist commented on #6093
This problem should be caused by my environment, so close it.

[2022-03-12 16:01] #6093 closed

[2022-03-12 16:21] VineFiner opened #6593 "request help: upstreams use localhost"
### Issue description

I deploy using docs, but it always fails. return 503
` https://apisix.apache.org/docs/apisix/getting-started/`
I just changed

[code]

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info

[2022-03-12 16:27] navendu-pottekkat opened #6594 "docs: Restructure the FAQ section"
### Improved or typo fixed.

The current "[FAQ](https://apisix.apache.org/docs/apisix/next/FAQ)" page misses internal hyperlinks and could use some rewriting to enhance readability.

### Solution

Make changes to the doc similar to this PR: https://github.com/apache/apisix-website/pull/893

Please assign this issue to me. I will open a PR to discuss the changes.

[2022-03-12 18:20] azilentech commented on #6574
In the code, instead of taking "token_generation_endpoint" as configuration setting name, I have used "password_grant_token_generation_incoming_uri" as setting name.
As the previous name was making confusion with "token_endpoint" which was referring to keycloak url.

[2022-03-12 22:53] fatihbm opened #6595 "feat: Changing the limit-count plugin allow_degradation parameter default value to true."
### Issue description

The main goal here should be to minimize the risk of downtime in the production environment due to a third-party (redis) service.
This is a configurable setting but if the default value is set to true it could be a more safe way.

[2022-03-13 02:21] navysummer opened #6597 "request help: How get response info by lua plugin?"
### Issue description

 How get response info by lua plugin?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the

[2022-03-13 04:34] tzssangglass commented on #6559
I think it would be better to remove `make install` (in that context).

[2022-03-13 04:55] tzssangglass commented on #6530
I think this log reflects the problem of where `127.0.0.1` is coming from (redis solts nodes cache)

In fact, I used docker to build a redis cluster and found that there was a problem with the cluster fleet (I couldn't connect using redis gui). Let's first rule out whether the problem is with the redis cluster itself.

[2022-03-13 05:47] tokers commented on #6593
@VineFiner In which step that you got the `503` code? Is the process for creating the Upstream object or sending the real traffic?

[2022-03-13 05:53] tokers commented on #6580
@nfrankel Could you give a configuration snippet about how to configuring plugins when using the new arch?

Also, we need to evaluate the cost for the re-design, such as how to refactor plugins so that plugin codes are reentrant.

[2022-03-13 06:57] rockjing opened #6598 "request help: How to config https with APISIX dashboard"
### Issue description

How to config the ssl in APISIX dashboard?
What I did ... ?
Installed apisix with port 9080 and apisix-dashboard with port 9000
Step 1,
I add one *.example.com certification in dashboard.
Step2,
I had setup the router which point to host - a.example.com and an upstream as its backend service.

Now  I could access one site like http://a.example.com:9080, but while I switch to

[2022-03-13 06:57] VineFiner commented on #6593
I know the problem, it's a docker network problem.
There is no problem installing using RPM.

[2022-03-13 08:03] rockjing commented on #6598
I joined the ASF space of slack and search something in it. I found the way to solve it.
So enable the ssl in apisix with config.yaml.
`apisix:
    node_listen: 9080              # APISIX listening port
    ssl:
       listen_port: 9443
`
now try https://a.example.com:9443 it's OK！

Good luck for you!

[2022-03-13 08:03] #6598 closed

[2022-03-13 08:03] rockjing commented on #6598
This is clear.
<img width="587" alt="image" src="https://user-images.githubusercontent.com/7794800/158050832-d5f20fa0-f470-47b1-8a84-83d68b94ecde.png">

[2022-03-13 11:34] #6141 closed

[2022-03-13 11:39] spacewander commented on #6595
Normally we can't accept a break change, even turning false to true by default.

[2022-03-13 11:46] spacewander commented on #5451
Yes.

Actually, I mean the streaming processing (not the L4 proxy).

[2022-03-13 11:49] #6477 closed

[2022-03-13 13:10] soulbird commented on #6597
You can get response header in `header_filter` phase via `ngx.header`. and get response body in `header_filter` phase.
Inside the Apache APISIX project, you can refer to https://github.com/apache/apisix/blob/master/apisix/core/response.lua

[2022-03-13 13:17] rockjing commented on #4400
I have the same issue. So what's update ?

[2022-03-13 14:01] membphis commented on #4400
I reopened this issue, welcome PR from anyone

[2022-03-14 00:53] tokers commented on #6593
@VineFiner So consider this issue is solved?

[2022-03-14 00:55] tokers commented on #4400
Would you like to try it?

[2022-03-14 01:06] spacewander opened #6601 "feat: As a User, I want to add delayed_body_filter so that run tracing code both in the first and in the last"
### Issue description

As the discussion in https://github.com/apache/apisix/pull/6500, we need to run the tracing plugins both in the front of request processing and at the end of response body processing.

One of the solutions is to add a delayed_body_filter phase, so the plugins can be run in the first of the delayed_body_filter and also the last of the body_filter.

[2022-03-14 01:40] crazyMonkey1995 opened #6602 "request help: real_ip_recursive for real-ip plugin"
### Issue description

I found that there was once a PR about real_ip_recursive: https://github.com/apache/apisix/pull/4332
But it seems that the real-ip plugin does not have recursive related configuration items. In fact, I looked at the real-ip code and it seems that there is no related implementation. Is there any other way to achieve it? The current scenario is to configure it in the global pl

[2022-03-14 02:20] tzssangglass commented on #6601
SGTM

[2022-03-14 02:25] VineFiner commented on #6593
Yes, I'm running fine with docker0 ip 172.17.0.1 .
For the docker-compose example there is web1 service, can you add a case where web1 runs locally.

[2022-03-14 02:25] #6593 closed

[2022-03-14 03:13] #6589 closed

[2022-03-14 03:30] shuaijinchao opened #6604 "request help: add semicolon check in `make lint`"
### Issue description

Check for `;` at the end of lua code and add the check to make lint.

### Solution:
[code]
This method cannot identify and filter nginx templates and FFI C code, so it cannot be directly applied to CI.

[2022-03-14 03:43] #5710 closed

[2022-03-14 03:44] #6536 closed

[2022-03-14 03:53] #6547 closed

[2022-03-14 03:54] #6534 closed

[2022-03-14 08:26] zhendongcmss opened #6608 "request help: ipv6 client preferentially proxy to ipv6 upstreams and ipv4 preferentially proxy to ipv4 upstream"
### Issue description

 ipv6 client preferentially proxy to ipv6 upstreams and ipv4 preferentially  proxy to ipv4 upstream

### Environment

- apisix version (cmd: `apisix version`): 2.10.1
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- ap

[2022-03-14 08:53] lihuawei321 commented on #6511
apsix version:  2.10

[2022-03-14 08:53] lihuawei321 commented on #6511
apiversion : 2.10

[2022-03-14 08:59] lihuawei321 commented on #6511
apiversion : 2.10  ingress: 1.3. cni :calico  http to grpc。使用的是grpc压测工具ghz测试。route
`{
  "uris": [
    "/helloworld"
  ],
  "name": "ingress_demo.helloworld.com_/helloworld",
  "desc": "Created by apisix-ingress-controller, DO NOT modify it manually",
  "host": "demo.helloworld.com",
  "upstream_id": "6f746999",
  "labels": {
    "managed-by": "apisix-ingress-controller"
  },
  "status": 1
}`
upstr

[2022-03-14 09:29] tokers commented on #6604
@shuaijinchao I think more details can be supplemented so that it can be a good first issue.

[2022-03-14 09:33] tokers commented on #6602
@crazyMonkey1995 I think it can be implemented in the real-ip plugin.

[2022-03-14 09:36] tokers commented on #6530
@fatihbm Have you checked if there are any iptables rules on the machine? I wonder whether there are some rules like REDIRECT or TPROXY there.

[2022-03-14 09:50] fatihbm commented on #6530
We don't use iptables. Also, as far as I know, using iptables would not be an obstacle for tcpdump.
I have done all the tests I have done so far on docker images or VMs. I'm thinking of retrying everything from scratch with VMs set up specifically for each role here.
I'll let you know if I find anything new.

[2022-03-14 10:30] tao12345666333 commented on #6511
Please provide more details, including your test application, calico specific network mode, overlay or underlay, etc.  It would be very helpful if a network topology could be provided.

[2022-03-14 11:15] #6583 closed

[2022-03-14 11:35] crazyMonkey1995 commented on #6602
Am I missing something? But the logic here is just to return the last IP of XFF
![image](https://user-images.githubusercontent.com/21658981/158164111-a2d0b0d2-6bf6-484b-a4e6-c251ae71be61.png)

[2022-03-14 17:07] avinal opened #6611 "docs: move all configuration docs to a separate chapter and add missing pages"
### Current State

  There must be a clear explanation of all the configuration that Apache APISIX have, preferably under a separate category, currently, the configuration is mixed with other categories and missing a clear explanation.

### Desired State

There must be a category that focuses on the following questions/topics:
  • What are the different types of configuration Apache APISIX needs?

[2022-03-15 00:40] tokers commented on #6602
No, the current implementation of `real-ip` plugin is not totally same to the Nginx real-ip module. We may support the `real_ip_header` and `real_ip_recursive` settings.

[2022-03-15 00:53] crazyMonkey1995 commented on #6602
Ok, I misunderstood.

[2022-03-15 01:17] membphis commented on #6604
I think @shuaijinchao can write your solution first, although he may not be perfect. But it is also useful for others.

[2022-03-15 01:33] #6555 closed

[2022-03-15 02:06] leslie-tsang commented on #6566
Hello there, APISIX allows CIDR `127.0.0.0/24` access the Admin API, defined by default in [`config-default.yaml`](https://github.com/apache/apisix/blob/530fb4d62c990ec23026f43f70b878e157d441bc/conf/config-default.yaml#L75).

the configuration in [`config.yaml`](https://github.com/apache/apisix/blob/530fb4d62c/conf/config.yaml) will take effect rather than [`config-default.yaml`](https://github.co

[2022-03-15 02:22] #6601 closed

[2022-03-15 02:50] besich opened #6612 "[PROPOSAL] Refactor the plugin code organization"
### Description

# PROPOSAL
Refactor the plugin code organization, make the plugin independent from APISIX, and maintain the plugin independently.

# BACKGROUND
The current APISIX compilation method is a full installation, which is very unfriendly to developers and users who install through source code.
Because many plugins depend on third-party libraries, the complicated environment is complex, b

[2022-03-15 03:10] spacewander commented on #6612
This way is overcomplex. I will vote -1 for it.

[2022-03-15 03:10] #6612 closed

[2022-03-15 03:13] spacewander commented on #6612
The dependencies of the plugin are very hard to handle. Also, there are a lot of trouble to handle the dependencies between APISIX and plugins.

[2022-03-15 03:14] spacewander commented on #6612
Only people who are not familiar with APISIX will think this way is easier to maintain. As the opinion from the maintainer of APISIX, such way will make APISIX harder to maintain.

[2022-03-15 03:35] spacewander commented on #6612
Two simple questions:
1. what if a plugin depends on the apisix-base? How can we manage the dependencies with different plugins which require different apisix-base?
2. how to deal with the ecosystem of APISIX, like dashboard, ingress controller, and more?

Only people who are not familiar with APISIX will think this way is easier to maintain. In fact, it makes the situation more complex.

[2022-03-15 03:45] nfrankel commented on #6580
@tokers Would something like that be possible?

[code]

[2022-03-15 03:56] tokers commented on #6580
Got it.

But since we use the array to orchestrate plugins, I think we can remove the priority field.

[2022-03-15 03:59] nfrankel commented on #6580
I don't think so. AFAIK, plugins can be set on different levels (`Route` or `Service`). Hence, you need a way to merge their orders: you need to be explicit about it.

[2022-03-15 04:15] #6597 closed

[2022-03-15 05:56] #6238 closed

[2022-03-15 07:50] xianshun163 commented on #5604
@jagerzhang Have you solved this problem? I found that the official code has been merged, about the prometheus  plugin deps

[2022-03-15 09:20] tokers commented on #6602
@crazyMonkey1995 Would you like to try it?

[2022-03-15 09:24] tokers commented on #6566
official website ：https://apisix.apache.org/zh/docs/apisix/FAQ
the configuration item "apisix.allow_admin" ，the description is "By default, Apache APISIX only allows 127.0.0.0/24 IP address range to access the Admin API"

By default not means empty but also contains some default settings from APISIX's config-default.yaml.

[2022-03-15 09:26] tokers commented on #6580
IMHO that's confusing, the intuitive order is Route > Service, if we let users decide the order, it's error-prone.

[2022-03-15 09:31] nfrankel commented on #6580
Imagine the user has defined a Service with plugin A and priority 5. Now, they define a route with plugin B and C.

How would you compute the order based on the array?

[2022-03-15 09:36] crazyMonkey1995 commented on #6602
Okay, but maybe not so soon.

[2022-03-15 11:27] #6538 closed

[2022-03-15 12:01] spacewander opened #6618 "help request: there are two grammar errors in PULL_REQUEST_TEMPLATE.md"
### Description

It's easy to find them. Let's fix it.
PS. if you have contributed to APISIX before, please leave this chance to first time contributor.

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://127.0.0.1:9090/v1/server_info`):
- APISIX

[2022-03-15 12:51] rpei2022 opened #6620 "bug: return internal server error for http request"
### Current Behavior

when I have a try to send a http request to apisix via postman, I get the following response from apisix.
<!DOCTYPE html>
<html>

<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<title>500 Internal Server Error</title>
	<style>
		body {
			width: 35em;
			margin: 0 auto;
			font-family: Tahoma, Verdana,

[2022-03-15 14:15] shuaijinchao commented on #6604
Updated to topic

[2022-03-16 01:01] tokers commented on #6602
Thanks!

[2022-03-16 01:08] tokers commented on #6620
return {
{
methods = {"GET"},
uris = {"/v1/plugin/example-plugin/hello"},
handler = hello,
}
}
end

Please read the document carefully, it's not `uris` but `uri`.

[2022-03-16 01:16] tokers commented on #6580
That's tricky. We may think about another way to allow a plugin can be run multiple times but still use the object to store their config. I'm wondering if there are some circumstances that people want to run the same plugin in a single route but not continuously (e.g. run plugin A, plugin B, plugin A).

[2022-03-16 01:17] rpei2022 commented on #6620
I just copy the code in  the example-plugin.lua, because example-plugin.lua has the following code, could you explain the difference?
function _M.control_api()
    return {
        {
            methods = {"GET"},
            uris = {"/v1/plugin/example-plugin/hello"},
            handler = hello,
        }
    }
end

[2022-03-16 01:18] tokers commented on #6580
If not, what about the following way:

[code]

[2022-03-16 01:20] tokers commented on #6620
I think it's a bug in the example-plugin, welcome to fix it.

[2022-03-16 01:21] liangliang4ward commented on #6580
It's that support something a little more flexible? For example, when hamc-auth supports `or` mode, multiple configurations?

[2022-03-16 01:32] #6618 closed

[2022-03-16 01:41] hf400159 commented on #6461
I think Apache APISIX should provide a learning roadmap in the community. There are two RoadMaps for different users, one is for those who have not been exposed to API Gateway, and the other is for those who have already used API Gateway. This allows users to quickly learn Apache APISIX.

[2022-03-16 01:57] rpei2022 commented on #6620
Thanks, I will make a update later

[2022-03-16 02:18] leslie-tsang commented on #6461
LGTM

[2022-03-16 02:33] xianshun163 commented on #6029
@zhendongcmss @tzssangglass

Because the `apisix_latency` include read contents from client, not ONLY apisix process time.
do you  mean read contents from client cost a  lot of time?   Why does it take so much time in  read data.

[2022-03-16 03:16] tzssangglass commented on #6029
For example, in file upload scenario, it takes a long time to read the data from the client

[2022-03-16 03:59] spacewander opened #6624 "help request: kubernetes configuration is no longer maintained"
### Description

https://github.com/apache/apisix/tree/master/kubernetes is no longer maintained. Currently, we already use helm charts to support installing APISIX in k8s. These files are only used by chaos test and should be moved to t/chaos.

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -

[2022-03-16 04:00] xianshun163 commented on #6029
Yes, I found that although QPS is not high, but  there is file transfer

[2022-03-16 07:21] yongxianggeng opened #6626 "help request: How I can get parameters from client request header in myself java plugin?"
### Description

I build a new class TokenValidator implements PluginFilter in my apisix-java-plugin-runner-main, but i can not get the Token parameter from client request in the override method filter.

### Environment

- APISIX version (run `apisix version`):2.12.1
- Operating system (run `uname -a`):Linux UVM47 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Li

[2022-03-16 08:36] tutuV opened #6628 "how do I get the ip and port of the service in upstream"
### Description

I use Apisix's service discovery mechanism with Consul's DNS discovery.
I want to use the proxy mode in microservices, so I get the service by accessing Apisix, which is expected to have some scheduling policy.
There are some internal GRPC and TCP services that cannot be accessed by route. I'd like to know if there's any way to get information about these services.

### Environmen

[2022-03-16 08:45] pingod opened #6629 "help request: wildcard certificate"
### Description

  问题/现象：
无法正常访问https（已经配置对应域名的泛域名证书),游览器显示ERR_SSL_PROTOCOL_ERROR
![image](https://user-images.githubusercontent.com/358093/158551011-46c8e5c5-5a08-400e-9cfe-6ec68462e957.png)

  apisix pod日志信息：
![c306573ff582554a74e73b63b4f5284](https://user-images.githubusercontent.com/358093/158550578-73db451b-6299-4b2a-a23c-688f98cfc043.png)

  apisixroute 配置
![cb1a68987801c42a7f1c3157c1db113](

[2022-03-16 08:46] tutuV commented on #6628
I don't find the right API at https://apisix.apache.org/zh/docs/apisix/admin-api
This API /apisix/admin/upstreams/{id} doesn't work either. Maybe it's because I used the DNS service for discovery .
![image](https://user-images.githubusercontent.com/49155687/158550773-6d7d26d5-6b71-452c-9927-4d21ee92b096.png)

I would like to have an API that returns a node of the service, according to some load ba

[2022-03-16 09:17] tokers commented on #6629
@pingod The wildcard domain only support one-level, so domain like "a.positecgroup.com" can be matched but "a.a.positecgroup.com" cannot.

[2022-03-16 09:24] tokers commented on #6628
So you want to get the service discovery result from APISIX (in memory)?

[2022-03-16 09:26] kwanhur commented on #5451
Solution updated.

Properties table adds one `filters`

| name    | description                              | type  | default    |
| ------- | ---------------------------------------- | ----- | ---------- |
| filters | filter expressions, include key attributes how to filter | array | `[]` empty |

filter key attributes

| name    | description                              | type   | default   |

[2022-03-16 09:37] #6517 closed

[2022-03-16 10:38] tutuV commented on #6628
@tokers That's ok. As long as the node information of the service can be obtained (according to the scheduling algorithm). Not finding the right API, or how can I modify Apisix

[2022-03-16 10:57] #3818 closed

[2022-03-16 11:10] zhendongcmss commented on #6608
I know that.

If set the upstreams with ipv4 and ipv6, apisix proxy request to ipv4 or ipv6.
we hope that the failure of IPv6 switch will not affect the switch of IPv4.

[2022-03-16 12:29] neverlaughtingboy opened #6631 "help request: how can I build a http request to forward to mydubbo service"
### Description

My service only supports dubbo protocol，and it use nacos  as a registry center，my nacos client version is 2.0.4。

I have tried  config my upstream like this：
![image](https://user-images.githubusercontent.com/19867847/158586370-e09c102c-9729-4699-a461-5cd63b6e7fc7.png)
upstream config
![image](https://user-images.githubusercontent.com/19867847/158586684-4bfa3aab-e6b8-4848-bd06-67f

[2022-03-16 13:19] fatihbm commented on #6530
I repeated my tests by setting up a different environment than usual.

First of all, I couldn't use this plugin in the scenarios below,
more than one instance on a single VM or,
Redis cluster docker image.

I don't want to spend any more time getting down to the root cause as the production environment won't look like this.

Instead, I used a new Redis cluster with six virtual servers. Three maste

[2022-03-16 14:03] 123liubao commented on #6624
Hello, @spacewander  , I want to work on this, please assign it to me.

[2022-03-16 14:07] pingod commented on #6629
Thanks for the reply, is there any consideration to support multi-level domain matching later? Or is there a compromise solution for this situation?

[2022-03-16 21:58] mehmetcuneyit commented on #2366
Hi, check this out https://github.com/apache/apisix/discussions/6351 . It's been solved, for further instructions https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/grpc-transcode.md

[2022-03-17 00:48] tokers commented on #6631
@neverlaughtingboy You should enable the nacos discovery in `config.yaml`.

[2022-03-17 00:56] tokers commented on #6629
@pingod

It's not a standard behavior to support the multiple level wildcard certificate, also some browsers support it.

FYI:

[code]

See https://serverfault.com/questions/104160/wildcard-ssl-certificate-for-second-level-subdomain for details.

[2022-03-17 01:04] tokers commented on #6628
The discovery module exports control APIs, for the Consule, you can access endpoint `/show_dump_file` to see the details.

See https://apisix.apache.org/docs/apisix/next/control-api learn Control API.

See https://github.com/apache/apisix/blob/master/docs/en/latest/discovery/consul_kv.md#debugging-api learn the endpoint, but it's designed for debugging. Not sure if it can satisfy your needs.

[2022-03-17 01:08] neverlaughtingboy commented on #6631
I was configured it and reload my apisix before I submit this issue
![image](https://user-images.githubusercontent.com/19867847/158716553-313bdd3e-716a-4110-bdd8-11c20cd008d6.png)

[2022-03-17 01:09] soulbird commented on #6564
https://github.com/apache/apisix-dashboard/issues/2176#issuecomment-944127485

[2022-03-17 01:16] spacewander commented on #6564
Move the discussion to https://github.com/apache/apisix-dashboard/issues/2383

[2022-03-17 01:16] #6564 closed

[2022-03-17 01:29] spacewander commented on #6608
If the IPv6 upstreams are unreliable, you can use IPv4 upstreams by retry / backup.
The IPv4 upstream can be used to serve the IPv6 clients.

[2022-03-17 01:49] tzssangglass commented on #6530
This is what I suspect is wrong with deploying a redis cluster with docker.

[2022-03-17 03:19] wiew521 opened #6635 "help request:"
### Description

There is a problem installing on Tencent cloud server，Is the yum source of apifix inaccessible on Tencent cloud?

![image](https://user-images.githubusercontent.com/65159312/158729619-a5bb2d9a-0f96-47aa-835a-3b14ced703eb.png)

![image](https://user-images.githubusercontent.com/65159312/158729680-f18a830c-7dd1-4c5d-b7ab-9833a3c75b9c.png)

### Environment

- APISIX version (run `api

[2022-03-17 03:28] Hwting opened #6636 "feat: kubernetes deployment file configuration files mounted through subPath cannot be dynamically updated"
### Description

apisix-helm-chart deployment is currently mounted via subPath。Expect dynamic updates by modifying configuration files without restarting pods。e.g. via the Kubernetes API
[A container using a ConfigMap as a subPath volume will not receive ConfigMap updates.](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-updated-automaticall

[2022-03-17 04:16] qwzhou89 opened #6638 "help request: Why has apisix added some strange routes?"
### Description

Today I found some strange routes when I looked at the full routing on the apisix dashboard, as shown below.
[code]
There are 6 or 7 entries, the URIs (/2BYhX6, /i1MIfe , /atfRv3, /0FBGZj, /WORJ3Q, /OxlDL9, /NFoRCE) are all random, the content is similar and it is a script.

How did this come in? I haven't added such a route myself, and my dashboard goes on the https protocol. I h

[2022-03-17 04:26] leslie-tsang commented on #6638
hello there, It seem you meet the CVE-2021-45232, you can follow the [issue](https://github.com/apache/apisix-dashboard/issues/2275) to deal with it.

[2022-03-17 05:12] tutuV commented on #6628
@tokers I'll check these documents. thanks. there are other ways to do it. let me evaluate.

[2022-03-17 05:30] miahwk opened #6640 "help request: use k8s nginx ingress to map gateway port 9080"
### Description

- I used k8s nginx ingress to map the apisix gateway host,just like apisix-gateway.abc.com.curl the router,it displays 404 not found.But used the F5 device, it is working.
- I dont known whether setup something of ingress or nginx ingress controller.
- By the way,I used nodePort.It is fine.
- So who can give me some suggestion?

### Environment

- APISIX version (2.21):
- Operatin

[2022-03-17 06:10] qwzhou89 commented on #6638
But my version of APISIX Dashboard is already 2.10.1-alpine

[2022-03-17 06:22] jagerzhang commented on #5604
yes, solved, need to wait the next release：https://github.com/apache/apisix/pull/6315

[2022-03-17 06:29] saiyoofan opened #6643 "help request: when content-type is application/x-www-form-urlencoded;charset=utf-8 can't match route"
### Description

modify ctx.lua  to support content-type application/x-www-form-urlencoded;charset=utf-8 to match route
like this:
[code]

get some errors:
[code]
so ,how can I repair it.
thx.

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if relevant (run `curl http://1

[2022-03-17 06:34] soulbird commented on #6643
As the error log， `con_t ` is nil.

[2022-03-17 06:40] saiyoofan commented on #6643
![企业微信截图_16474850244965](https://user-images.githubusercontent.com/37398738/158751591-04b37724-63f3-4d59-938a-3478ddeec83f.png)

[2022-03-17 06:44] saiyoofan commented on #6643
also get some errors!
[code]

[2022-03-17 06:54] leslie-tsang commented on #6638
Hello there, there are some checkpoints to check out:
1. have you changed the password of the apisix-dashboard user administrator ?
2. is apisix-dashboard exposed to the public network ?

[2022-03-17 07:34] spacewander commented on #6635
Centos 8 is not supported yet. Let's move the discussion to https://github.com/apache/apisix/issues/6462

[2022-03-17 07:34] #6635 closed

[2022-03-17 07:46] qwzhou89 commented on #6638
yes,I have changed the password of the apisix-dashboard user admin.

yes ,i use a rotue to exposed apisix-dashboard to the public network.

[2022-03-17 08:02] wiew521 commented on #6635
tku，i just found out why.

[2022-03-17 09:07] tokers commented on #6628
Welcome to submit your proposal about this need.

[2022-03-17 09:38] membphis commented on #6604
We need a better way, `grep --include="*.lua" -R -Ev '^$|^[--]*.*[^;]$' apisix` is not suitable for us.

<img width="1607" alt="image" src="https://user-images.githubusercontent.com/6814606/158780783-67d58ce9-bf87-4f4b-962f-7af7d7bd0ccd.png">

[2022-03-17 11:24] #6549 closed

[2022-03-17 11:42] kekoke opened #6648 "help request: Use Nginx as proxy service, return 404 not found"
### Description

As subject, please refer to below information

Route config:
[code]
![image](https://user-images.githubusercontent.com/17831817/158799338-62ff84c8-b0bc-4600-bf3b-a353415fafa5.png)

Nginx config:
![image](https://user-images.githubusercontent.com/17831817/158801157-43bfdccb-8220-44b5-aaac-444f1ce42bf7.png)

Postman testing:
![image](https://user-images.githubusercontent.com/1783181

[2022-03-17 15:31] guitu168 opened #6651 "docs: Develop writing specification and template for APISIX Chinese Documentation."
### Current State

Because the articles of Apache APISIX are contributed by different people, the current format of document is not uniform, the style of writing is not uniform, the terms are not unified, and the structure is not unified.
中文描述：由于 Apache APISIX 的文章是由不同的人贡献的，因此当前文档存格式不统一、写作风格不统一、用词不统一、架构不统一等问题。

### Desired State

I want to develop a Apache APISIX Chinese document writing standard f

[2022-03-18 01:14] shuaijinchao commented on #6604
Yes, this way is not suitable to put into CI.

[2022-03-18 01:32] tokers commented on #6648
Could you describe your API topology clearly? Is nginx the backend of apisix?

[2022-03-18 01:44] tzssangglass commented on #6648
1. as tokers said, you need to describe some clear;

2. show nginx.conf in text, not images;

3. use curl to trigger test,  show the curl command in text;

These allow us to quickly reproduce the problem.

[2022-03-18 02:21] tzssangglass commented on #6643
Instead of changing the source code, you can use `vars` to do the matching.

ref: https://github.com/apache/apisix/blob/9d450d7fe3169a77727df28696d083809b93977a/t/core/ctx2.t#L246-L291

[2022-03-18 02:26] tzssangglass commented on #6640
cc @tao12345666333 @tokers PTAL

and @miahwk you need to provide reproducible steps and configuration information.

[2022-03-18 02:42] tokers commented on #6640
How did you send the requests? How did you map the APISIX gateway on Ingress Nginx?

[2022-03-18 02:43] tzssangglass commented on #6580
I think it's not that hmac-auth itself supports `or`, but that the plugin orchestration system supports `or` for the same plugin.

[2022-03-18 02:49] #6620 closed

[2022-03-18 02:52] liangliang4ward commented on #6580
yes. but may be not the same plugin. perhaps the same type.

[2022-03-18 03:20] tao12345666333 commented on #6640
Can you show me your Ingress configuration?

[2022-03-18 04:03] juzhiyuan commented on #6651
Hi @hf400159, glad to see this issue! I would suggest you could work with @navendu-pottekkat together to propose a Style Guide, and then you could present one for Chinese. @navendu-pottekkat is on the ASF Slack channel.

[2022-03-18 05:02] navendu-pottekkat commented on #6651
@juzhiyuan @hf400159 Here is my suggestion. I will open up an issue and draft a style guide next week and we can collaborate.

https://github.com/apache/apisix/issues/6528#issuecomment-1064011458

[2022-03-18 05:16] juzhiyuan commented on #6651
Thanks, also cc @kwanhur

[2022-03-18 05:21] kekoke commented on #6648
Hi @tokers @tzssangglass thanks!
I am using Docker Compose for APISIX deployment, and using Nginx to proxy APISIX, the nginx configuration as below:
![image](https://user-images.githubusercontent.com/17831817/158935433-47dda36b-e365-4326-a9b8-e260c5468046.png)
![image](https://user-images.githubusercontent.com/17831817/158935964-e910ebd3-9126-4fc0-b6e8-f9eebcaaa333.png)

[code]
Create route:
[code

[2022-03-18 05:34] hf400159 commented on #6651
@navendu-pottekkat Thank you for your suggestion, I hoped we can cooperate happily, It's a pleasure doing business with you If possible, I will create a style guide for APISIX Chinese documentation.

[2022-03-18 05:39] navendu-pottekkat commented on #6651
@hf400159 Awesome! There would be some overlaps in the style guide like how to include code snippets, and how to comment on code snippets etc.

[2022-03-18 06:05] pingod commented on #6629
Thx  :)

[2022-03-18 06:05] #6629 closed

[2022-03-18 07:08] #6624 closed

[2022-03-18 08:08] #6366 closed

[2022-03-18 08:17] liangliang4ward opened #6656 "feat: clickhouse-logger-plugin may not support default log format"
### Description

at clickhouse-logger-plugin.md describe custom log format to use clickhouse.
but when use default log format the docs may not given table demo.

use custom log may lose some information.

if this plugin support default log format , docs need create table demo.

[2022-03-18 08:18] tzssangglass commented on #6648
my reproduction steps

1. nginx.conf

[code]

2. route config

[code]

3. test

[code]

Since you set the host match in the APISIX route  via `"host": "uat-sanctions-api.com"`, but your nginx does not pass the `Host` in the client request header, you need to add `proxy_set_header Host $host;`

[2022-03-18 08:29] liangliang4ward opened #6657 "docs: clickhouse-logger-plugin&file-logger-plugin metadata set description error"
### Current State

https://github.com/apache/apisix/blob/c7755543ae2e097942da4bbc5a9c6136de90fd78/docs/zh/latest/plugins/file-logger.md?plain=1#L73

https://github.com/apache/apisix/blob/c7755543ae2e097942da4bbc5a9c6136de90fd78/docs/zh/latest/plugins/clickhouse-logger.md?plain=1#L84

also kafka-logger-plugin zh/doc

at en docs,lack of this part of  description

### Desired State

for file-logger :

[2022-03-18 08:31] liangliang4ward commented on #6657
at en docs,lack of this part of  description

[2022-03-18 08:33] liangliang4ward commented on #6657
also kafka-logger-plugin zh/doc.

[2022-03-18 08:35] liangliang4ward commented on #6657
I can fix. or give some first contributor

[2022-03-18 08:37] lizj3624 opened #6658 "help request: I want to add plublic IP of resolved domain to match rule of route，how i can do?"
### Description

I only allow traffic of matching domain and resolved IP to enter，when apisix is deployed as a north-south traffic gateway to a cluster with many public IP。I think that  add plublic IP of resolved domain to match rule of route，how i can do?

for example:
cluster pulibic ip: 1.1.1.1，2.2.2.2，3.3.3.3
domain: test.my.com，resolved public ip(vip): 1.1.1.1
I only allow traffic of matching

[2022-03-18 09:02] liangliang4ward commented on #6657
let me fix it.

[2022-03-18 09:28] saiyoofan commented on #6643
[code]

The above code seems to work fine.

But I'm not sure if there will be other problems.
If you have better suggestions, I hope to help correct me, thank you

[2022-03-18 09:29] tokers commented on #6658
@lizj3624 Always check out the docs firstly :) https://apisix.apache.org/docs/apisix/next/admin-api/#route

[2022-03-18 09:49] tzssangglass commented on #6643
I don't have a suggestion.
1. a better way to test the stability of your code is to feed back upstream;
1. but APISIX already supports the feature, so  I think we will reject this change;

[2022-03-18 10:04] saiyoofan commented on #6643
Thanks for your enthusiastic help

[2022-03-18 10:04] #6643 closed

[2022-03-18 10:09] #1593 closed

[2022-03-18 10:09] #3849 closed

[2022-03-18 10:40] xiaokunliu opened #6660 "help request: apisix deployed on k8s issue"
### Description

now then i have a question as follow:
i use opneresty and apisix deployed on k8s, on request uri
apisix/hello : client -> nlb -> apisix -> nginx
nginx/hello: client -> nlb ->  openresty -> nginx

pod config is the same: 4c8g for apisix and openresty

apisix and openresty use config is the same as follow:
use epoll;
worker_processes 4;
worker_connections  32768;

upstream config is

[2022-03-18 10:41] xiaokunliu commented on #6660
how to keep apisix have the expected throghtout as the officical benmarch result

[2022-03-18 11:41] spacewander commented on #6656
@zhendongcmss
What's your opinion?

[2022-03-18 11:45] spacewander opened #6661 "docs: there is no doc about k8s discovery"
### Current State

No doc about k8s discovery.

### Desired State

We should add the doc under https://github.com/apache/apisix/tree/master/docs/en/latest/discovery.

@zhixiongdu027
Would you handle this task? Thanks!

[2022-03-19 01:51] navysummer opened #6662 "help request: How get response header by lua plugin?"
### Description

`function _M.header_filter(conf, ctx)
    core.log.warn(core.json.encode(ngx.header))
end`

![image](https://user-images.githubusercontent.com/17807236/159102253-a002a314-5ec3-47eb-b2f7-9f2a23e07dd7.png)

### Environment

- APISIX version (run `apisix version`):
- Operating system (run `uname -a`):
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):
- etcd version, if

[2022-03-19 03:04] lizj3624 commented on #6658
please give an example，thank you very much

[2022-03-19 03:09] kekoke commented on #6648
@tzssangglass  It is ok for me too. Thank you so much!  have a nice weekend -^-^

[2022-03-19 03:09] #6648 closed

[2022-03-19 04:26] kekoke commented on #6648
Hi @tzssangglass, sorry for I have one more qunestion. I note that When I exclude --resolve parmeter in command, I will got the 404.
As I know Nginx will forward to http request of ```apigw-dev.com``` to ```127.0.0.1:9080(0.0.0.0:9080)``` in the Server, Why are we adding ```--resolve 'apigw-dev.com:80:127.0.0.1'``` into CURL request?

[2022-03-19 04:38] zhixiongdu027 commented on #6661
ok，I will done it

[2022-03-19 05:18] #6662 closed

[2022-03-19 07:19] nic-6443 commented on #6658
You can use `vars` matcher with `server_addr` variable from nginx to archive your demand. Like below:
[code]

[2022-03-19 08:10] hf400159 commented on #6651
@navendu-pottekkat ok, I'll be discussing with you next week via Slack.