[2021-03-19 06:52] juzhiyuan commented on #3865
@Firstsawyou

https://github.com/apache/apisix/issues/3865#issuecomment-802452402 is exported as `OpenAPI v3`.

[2021-03-19 07:07] juzhiyuan commented on #3851
We Apache community build software shared by the global world, and welcome anyone to use and give feedback.

[2021-03-19 08:04] Firstsawyou commented on #3865
okay.

[2021-03-19 10:38] ShaoZeMing commented on #3865
okay
![image](https://user-images.githubusercontent.com/19376576/111767907-3a7a1d80-88e2-11eb-81b3-36318e56dd7d.png)

[code]

[2021-03-19 10:44] ShaoZeMing commented on #3865
Hi, Here are the routing rules a, b, c, d
router  a：
[code]
- router b ：
[code]
- router c ：
[code]
- router d :
[code]

[2021-03-19 11:14] Firstsawyou commented on #3865
@ShaoZeMing  Thank you for the information, I will reproduce it later.

[2021-03-19 12:50] juzhiyuan commented on #3865
@ShaoZeMing Thanks for your report, that's the data we need. @Firstsawyou will follow and reply to this issue once he finds out what happened.

[2021-03-19 14:56] Firstsawyou commented on #3865
Hi, @ShaoZeMing
Thank you for your report. After testing, I found that there are problems with the use of `hsot + header` and `host` when different routes have the same uri.
Assuming that the route response data of `host` is `a`, and the route response data of `hsot + header` is `b`, then there are two situations:
1. When the route id of `host` is greater than the route id of `hsot + header`, the

[2021-03-19 23:14] moonming commented on #3865
@membphis @spacewander  please take a look

[2021-03-20 01:55] anyforever commented on #3859
我也出现这个问题，Centos 8下编译。
开始装的lua 5.4，提示不行，退回了5.3，然后
$ cd apisix
$ make deps
时，出现此报错
`
Error: Could not satisfy dependency lua-resty-hmac-ffi 0.05: No results matching query were found for Lua 5.3.
make: *** [Makefile:67: deps] Error 1
`

我直接安装这个依赖，也是如此
[root@Centos apisix-2.4]# luarocks install lua-resty-hmac-ffi

Error: No results matching query were found for Lua 5.3.
To check if it is available fo

[2021-03-20 01:56] membphis commented on #3865
this is not a bug. I confirmed.

@ShaoZeMing the router `a`, `b`, `c` have same uri `/*` and `priority`, you'd better to specify a different `priority`.

`/test/*` always matches before `/*`. The route `radixtree_uri` matching of apisix is depth-first.

[2021-03-20 02:11] membphis opened #3873 "docs: add more example about how to use the router `radixtree-uri`"
for examples:

1. different routes with the same values.
2. different routes with the same URI, eg: `/*`.
3. different routes with different URI, eg: `/test/*`, `/*`.

help the user to know how to use APISIX

[2021-03-20 02:12] membphis commented on #3873
related issue https://github.com/apache/apisix/issues/3865

[2021-03-20 02:44] Firstsawyou commented on #3859
The installation of lua-resty-hmac-ffi depends on lua 5.1, try to install lua 5.1 .

[2021-03-20 02:52] spacewander commented on #3865
The default router (radixtree_uri) is a path first, host second matcher.
If you prefer a host first, path second, you can switch to `radixtree_host_uri`:
https://github.com/apache/apisix/blob/1064e2d4b7edcc6f590ca69dc34a100ae6bbc12c/conf/config-default.yaml#L96

[2021-03-20 13:50] keenbo opened #3874 "bug: [grpc transcoding] Can not convert protobuf message's sub message from json input."
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.4
* OS (cmd: `uname -a`):centos 8
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
[code]

* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.4.9
* apisix-dashboard version, if have: no

### Minimal test code / Steps to reproduce the

[2021-03-21 05:12] spacewander commented on #3874
CC @nic-chen

[2021-03-21 05:46] ShaoZeMing commented on #3865
如果path 都相同为/*，使用相同的域名 ，  header 参数匹配规则不一样，但缺走向了 a ,像那个

[2021-03-21 05:47] ShaoZeMing commented on #3865
If the path is the same as /* and the same domain name is used, the header parameter matching rules are different, but the missing direction is a, such as this:
-host(test-dev-1.apisix.xthktech.cn) ==> a
-host(test-dev-1.apisix.xthktech.cn)+header(app-name:test-header) ==> a

[2021-03-21 06:32] spacewander commented on #3865
Excuse me. I can't understand what you mean.

[2021-03-21 06:40] ShaoZeMing commented on #3865
As shown, I use a unified domain name. I want to match different routing rules based on the requested header parameter value, but the result is like this. Is this reasonable? Is it a `or` relationship?
 - host(test-dev-1.apisix.xthktech.cn) ==> a
 - host(test-dev-1.apisix.xthktech.cn)+header(app-name:test-header) ==> a

![image](https://user-images.githubusercontent.com/19376576/111896275-5bae4b80

[2021-03-21 11:07] tokers commented on #3865
@ShaoZeMing In such a case, the priority of the second route rule should be larger than the first one.

[2021-03-21 11:12] tokers commented on #3874
@keenbo Does APISIX dumps any related error logs?

[2021-03-21 11:16] tokers commented on #3857
@iamayushdas The related files are

* https://github.com/apache/apisix/blob/master/apisix/plugins/serverless-pre-function.lua
* https://github.com/apache/apisix/blob/master/apisix/plugins/serverless-post-function.lua

See http://apisix.apache.org/docs/apisix/plugins/serverless for more details.

[2021-03-21 13:06] moonming commented on #3251
we can use `error_page` to fix it.
like
[code]

[2021-03-21 13:19] spacewander commented on #3865
The order of matching is like this:

1. match path?
2. check each matched rule, order by priority
3. check host
4. check other conditions

[2021-03-21 13:49] ShaoZeMing commented on #3865
Yes, I think so too, but the actual test is not the case. He always chose the `a` route, which surprised me a bit.

![image](https://user-images.githubusercontent.com/19376576/111907124-ee201080-8a8e-11eb-8be5-02e75fef0d4f.png)

![image](https://user-images.githubusercontent.com/19376576/111907101-d052ab80-8a8e-11eb-8d16-3f58fc55f2d4.png)

[2021-03-21 14:01] starsz commented on #3251
That sounds so cool. Please assign to me.

[2021-03-21 14:07] juzhiyuan commented on #3251
before doing this issue, could you please share your plan here?

[2021-03-21 14:32] membphis commented on #3865
@ShaoZeMing I listed an example to explain the reason.

Here are three routes(A, B and C), what is their priority?
I think you can talk to me A < B, and A < C, it seems fine.

Between B and C, who has the highest priority? I think it is not easy to reply to this question.
The machine cannot accurately determine who has the higher priority at this time.

[code]

In APISIX, when the URI is the same,

[2021-03-21 23:49] nic-chen commented on #3874
Thanks for reminding, find out the reason later

[2021-03-21 23:51] nic-chen commented on #3846
Yes, it is not supported by default.
I think we could add a custom header (the hash value of the body) to judge, instead of reading the body directly for comparison.

[2021-03-22 01:00] tokers commented on #3846
You may refer to the [Content-MD5 header](https://tools.ietf.org/html/rfc1864), it's analogous.

[2021-03-22 01:59] sailershen commented on #3843
Thx.
Now I try to use "remote_addr".
[code]

[code]

Show the stream_routes:
[code]

Output:
`
{"count":"3","node":{"key":"\/apisix\/stream_routes","nodes":[{"createdIndex":8533,"value":{"remote_addr":"127.0.0.1","upstream":{"pass_host":"pass","nodes":{"172.16.10.241:6500":1},"scheme":"http","hash_on":"vars","type":"roundrobin"},"id":"1"},"modifiedIndex":8533,"key":"\/apisix\/stream_routes\/1"},{"

[2021-03-22 03:08] Firstsawyou commented on #3843
Hi, @sailershen  You try to configure two stream_routes together, like this:

[2021-03-22 03:15] sailershen commented on #3843
Thx for help.

[code]

or

[code]

it's still failed.
[code]

[2021-03-22 05:01] StretchV opened #3875 "自定义插件在_M.access中获取为nil"
我在自定义的插件中分别打印ctx：
`function _M.rewrite(conf, ctx)
    core.log.error("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    core.log.error(core.json.encode(ctx, true))
    core.log.error("````````````````````````````")
end`

`function _M.access(conf, ctx)
    core.log.error(core.json.encode(ctx))
end`

结果在日志中rewrite的可以成功打印出来，但是access中的打印为‘phase_func():nilCannot serialise, excessive nesting (1001)’，此路由只加了这一个插件，请问这可能

[2021-03-22 05:02] keenbo commented on #3874
No error dump in file */usr/local/apisix/logs/error.log* in the docker container.

[2021-03-22 05:07] starsz commented on #3251
Directly point to apisix.apach.org is not very good.

I think we can do it as follow:

1. Provide a static HTML that contains the apisix.apache.org
2. Update the ngx_tpl to generate the apisix_error_handler like this:

[code]

By the way, @juzhiyuan can you design a simple static html like this:
https://github.com/openresty/openresty/blob/master/html/50x.html

[2021-03-22 05:14] spacewander commented on #3875
It is fine. There may be some unserializable fields added after the rewrite phase.

You can dump the exact key instead, like `core.json.encode(ctx.blah)`, or using `core.json.encode(ctx, true)`

[2021-03-22 05:17] Firstsawyou commented on #3875
In the `access` phase, you should print the `ctx` parameters like this: `function _M.access(conf, ctx) core.log.error(core.json.encode(ctx, true)) end`

By the way, it would be better if you use English.

[2021-03-22 05:29] szqm123 commented on #3752
我也遇到类似问题，解决方法如下（不要单独安装pcre和Openssl_1_1_1-statble）：
首先下载到github上下载pcre和openssl_1_1_1-stable的源码包并解压到/usr/local，然后执行如下命令进行安装：
./configure --with-pcre=/usr/local/pcre-master --with-openssl=/usr/local/openssl-OpenSSL_1_1_1-stable --with-http_stub_status_module --with-http_ssl_module --with-http_realip_module --with-http_v2_module -with-pcre-jit
gmake
gmake install

[2021-03-22 05:30] StretchV commented on #3875
Thank you for the reminder

[2021-03-22 05:30] #3875 closed

[2021-03-22 06:23] tokers commented on #3251
And don't forget to add test cases.

[2021-03-22 06:39] Firstsawyou commented on #3843
@spacewander  If you have time, please help look at this problem. In the proxy stream, can't we configure multiple upstream nodes? When I test that upsteam has multiple nodes, the following error message will appear:

1、 add stream route

[code]

2、 test request

[code]

3、error.log  info

[code]

[2021-03-22 07:53] aiyiyi121 opened #3878 "request help: If the etcd cluster is down, is there any way for APISIX to start normally and get the configured data"
### Issue description
If the etcd cluster is down, is there any way for APISIX to start normally and get the configured data.

[2021-03-22 07:55] spacewander commented on #3878
No. If people use etcd as the data source and it is down, there is no other way to get the configured data.

[2021-03-22 07:55] #3878 closed

[2021-03-22 07:55] #3763 closed

[2021-03-22 08:07] juzhiyuan opened #3879 "is it optional to enable TLS when installing APISIX on MacOS?"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, I noticed that when installing Apache APISIX in MacOS, it seems that it's required to enable TLS[1] 🤔 not as Debian does.

![image](https://user-images.githubusercontent.com/2106987/111958755-92a26100-8b28-11eb-8c34-5c90d923da23.png)

Just to make sure, is it optional or required?

[1] https://github.com/ap

[2021-03-22 08:08] aiyiyi121 commented on #3878
I see proxy_cache.disk_path: "/tmp/disk_cache_one" in the config.yaml, this is the path to store the cache data, but why I can't find anything in the /tmp/disk_cache_one path？

[2021-03-22 08:10] aiyiyi121 commented on #3878
I see proxy_cache.disk_path: "/tmp/disk_cache_one" in the config.yaml, this is the path to store the cache data, but why I can't find anything in the /tmp/disk_cache_one path？

[2021-03-22 08:11] aiyiyi121 commented on #3878
I see proxy_cache.disk_path: "/tmp/disk_cache_one" in the config.yaml, this is the path to store the cache data, but why I can't find anything in the /tmp/disk_cache_one path？

[2021-03-22 08:14] juzhiyuan commented on #3251
![image](https://user-images.githubusercontent.com/2106987/111959497-7f43c580-8b29-11eb-93f5-11dbb0e1eea9.png)

 🤔 Why not take the first step? just to introduce our first HTML.

[2021-03-22 08:21] spacewander commented on #3879
IMHO, we can remove it. Enabling TLS will require extra configuration, and such a change in the dev environment is not so helpful.

[2021-03-22 08:22] aiyiyi121 opened #3880 "request help: I see proxy_cache.disk_path: "/tmp/disk_cache_one" in the config.yaml, this is the path to store the cache data, but why I can't find anything in the /tmp/disk_cache_one path？"
### Issue description
I see proxy_cache.disk_path: "/tmp/disk_cache_one" in the config.yaml, this is the path to store the cache data, but why I can't find anything in the /tmp/disk_cache_one path？

[2021-03-22 08:30] juzhiyuan commented on #3879
agree +1

[2021-03-22 08:34] spacewander commented on #3865
Close as it is not a bug.

[2021-03-22 08:34] #3865 closed

[2021-03-22 08:36] spacewander commented on #3859
Only Lua 5.1 or LuaJIT is supported. See https://github.com/apache/apisix/blob/master/docs/en/latest/install-dependencies.md

[2021-03-22 08:36] #3859 closed

[2021-03-22 08:48] Firstsawyou commented on #3880
This is the path used by the proxy-cache plugin to store cached data. Only after you enable the proxy-cache plug-in can you see the existence of data. You can refer to it here: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/proxy-cache.md

[2021-03-22 09:20] aiyiyi121 commented on #3880
Thx, I mistook this for the config of caching etcd data，so，where can I find sonmething abouting caching etcd data？

[2021-03-23 00:03] juzhiyuan opened #3882 "add a proper link to README item"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

I noticed that there has one item without a proper link[1], anyone would like to fix it?

![image](https://user-images.githubusercontent.com/2106987/112072983-063a8180-8bae-11eb-84dc-da7664a65e10.png)

[1] https://github.com/apache/apisix/blob/master/README.md

[2021-03-23 01:08] #3867 closed

[2021-03-23 01:14] tokers commented on #3879
@juzhiyuan This issue could be a "good first issue".

[2021-03-23 01:15] Firstsawyou commented on #3873
Assigned to me.

[2021-03-23 01:17] tokers commented on #3880
ETCD data caching is in memory, not in filesystem.

[2021-03-23 01:49] aiyiyi121 commented on #3880
What is the etcd data cache interval, or it's real-time watching?

[2021-03-23 02:38] comedown opened #3885 "request help: Modify the ctx.var.upstream_uri does not work in access phase when i use proxy-rewrite plugin"
### Issue description
After proxy-rewrite plugin is executed, i add the following line of code to modify the request parameters, but it does not work.
api_ctx.var.upstream_uri = "/test/urlencoded"

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS (cmd: `uname -a`): MacOS
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http

[2021-03-23 02:41] spacewander commented on #3885
We don't answer questions caused by modifying APISIX.
You need to debug your change by yourself.

[2021-03-23 02:41] #3885 closed

[2021-03-23 02:49] stu01509 commented on #3882
Let me fix it 🙂

[2021-03-23 03:08] Caelebs opened #3886 "bug: Execute "make deps" prompt "Could not find header file for OPENSSL""
### Issue description

When I compiled and installed apisix2.4, I executed `make deps` and prompted "Could not find header file for OPENSSL"
The complete error message is as follows
[code]
I checked that openssl is installed, Including openresty-openssl111
[code]
[code]
According to the error, I executed `luarocks install luasec OPENSSL_DIR=/usr/local`, and modified OPENSSL_DIR to `/usr/local/open

[2021-03-23 03:24] spacewander commented on #3886
Could you show us the output of `luarocks config variables`?

[2021-03-23 03:26] spacewander commented on #3803
Closed as lack of response.

[2021-03-23 03:26] #3803 closed

[2021-03-23 03:27] spacewander commented on #3861
@jp-gouin
Would you submit a PR? Thanks!

[2021-03-23 03:42] Firstsawyou commented on #3880
It is monitored in real time, you can refer to here:
https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-does-apisix-use-etcd-to-achieve-millisecond-level-configuration-synchronization

[2021-03-23 03:44] Caelebs commented on #3886
Sorry, I don't know the usage of this command. According to the -h prompt, I executed the following commands, I don't know if it's right
[code]
@spacewander

[2021-03-23 03:45] Caelebs commented on #3886
Before that, according to the commands in the install-dependencies.md document, I installed `openresty-openssl111-devel`, But I just found out that the document says "If you are using OpenResty which is older than `1.17.8`, please installing `openresty-openss-devel` instead of `openresty-openssl111-devel`", but in the following example , The command given is to install `openresty-openssl111-devel`

[2021-03-23 03:50] spacewander commented on #1666
Consider solved

[2021-03-23 03:50] #1666 closed

[2021-03-23 03:50] spacewander commented on #3886
Run it like this:
[code]

[2021-03-23 04:03] Firstsawyou commented on #3886
This seems to be caused by the lack of the openssl development kit of openresty. https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#why-does-the-make-deps-command-fail-in-source-installation

[2021-03-23 04:07] diaosj opened #3888 "request help: Can I set timeout for each route?"
### Issue description
Nginx has a series of timeout settings, such as `proxy_connect_timeout`、`proxy_read_timeout`. These settings are valid for all the connections. Can I set these params to a large value (say 3600s), and then control timeout (say 60s) for each route?

### Environment

* apisix version (cmd: `apisix version`): 2.3

[2021-03-23 04:20] Caelebs commented on #3886
I run the command `luarocks config variables` directly, it will prompt error and did not get your output
[code]

I have compiled and installed apisix2.2 version before on this machine, These errors did not appear at the time. The document requires `openresty-openssl-devel` to be installed instead of ` openresty-openssl111-devel`, so I have uninstalled `openresty-openssl111-devel`, but the error st

[2021-03-23 04:30] spacewander commented on #3886
I guess you are using luarocks 2.x?
If it is, please upgrade it to 3.x. You can take advantage of this script: https://github.com/apache/apisix/blob/master/utils/linux-install-luarocks.sh

[2021-03-23 05:26] Firstsawyou commented on #3888
You can refer to the setting of the `timeout` field in upstream:  https://github.com/apache/apisix/blob/2.4/docs/en/latest/admin-api.md#upstream

[2021-03-23 06:15] aiyiyi121 commented on #3880
Thanks a lot.

[2021-03-23 06:15] #3880 closed

[2021-03-23 06:33] diaosj commented on #3888
Thanks. I'll try it.

[2021-03-23 06:35] Caelebs commented on #3886
The current situation is that I reinstalled the openresty-openssl111-devel that I uninstalled before, executed the script you gave, and I checked that the variables set in it are normal
[code]
But when I execute make deps, I don't quite understand what is wrong with the prompt message given.
[code]

[2021-03-23 06:35] #3888 closed

[2021-03-23 07:10] Firstsawyou commented on #3886
According to the information you provided, the `make deps` command has been executed successfully.
The following messages are configuring your environment information and installing dependent packages.

[2021-03-23 07:24] phperEric opened #3890 "9180 port 403 Forbidden"
config.yaml
[code]

[code]

HTTP/1.1 403 Forbidden
Server: openresty
Date: Tue, 23 Mar 2021 06:59:35 GMT
Content-Type: text/html; charset=utf-8
Content-Length: 150
Connection: keep-alive

<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
<hr><center>openresty</center>
</body>
</html>

[2021-03-23 07:39] Firstsawyou commented on #3890
In `allow_admin` you need to configure the IP list that allows you to access the admin api.
Example:

[code]

[2021-03-23 07:56] Caelebs commented on #3886
Thanks for the reply, apisix is now able to start
@Firstsawyou @spacewander

[2021-03-23 07:56] #3886 closed

[2021-03-23 08:06] lilien1010 opened #3891 "request help: opentelemetry luajit SDK and intergration with APISIX"
[opentelemetry](https://opentelemetry.io/) as an observability framework for cloud-native software is ♨️.

API Gateway as a network centre handler, it's observability is critical, It will be helpful for APISIX's simplicity connect with open-telemetry.

[Golang SDK](https://github.com/open-telemetry/opentelemetry-go)

[2021-03-23 08:24] #3882 closed

[2021-03-23 08:25] spacewander commented on #3891
Where is the opentelemetry luajit SDK?

[2021-03-23 11:03] Firstsawyou opened #3892 "docs: the FAQ document adds how to upgrade APISIX"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

At present, there is no relevant document to introduce "How to upgrade APISIX", but how to upgrade APISIX is a very common problem, we need to record it in the FAQ document.

[2021-03-23 11:08] evanlike opened #3893 "request help: openid-connect plugin 401 Unauthorized"
### Issue description
fill the configure wso2 is info into openid-connect plugin, when i get jwt access_token from wso2, then put the token info in my routing address, it can`t work correctly, return 401 Unauthorized always

### Environment

* apisix version `2.4`
* etcd version `3.4.9`
* apisix-dashboard version `2.4`
* wso2 version `5.11.0-alpine`   docker iamge  `wso2/wso2is:5.11.0`

### Steps

[2021-03-23 12:03] jp-gouin commented on #3861
Hi,
I’m finishing with the test cases but yes i will create a PR so you can start reviewing

[2021-03-23 12:10] #3671 closed

[2021-03-23 12:19] #3827 closed

[2021-03-23 13:27] tokers commented on #3892
What about adding a new document like `ops.md` or `admin.md` to describe it elaborately.

[2021-03-23 13:57] #1117 closed

[2021-03-23 14:26] Firstsawyou commented on #3892
This is a good idea, I agree.

[2021-03-23 14:59] membphis opened #3895 "ci: master branch ci failed"
https://github.com/apache/apisix/runs/2175788179#step:15:823
https://github.com/apache/apisix/runs/2175041905#step:15:996

[code]

[2021-03-23 15:33] membphis commented on #3673
any news? @Yiyiyimu

[2021-03-23 15:49] membphis commented on #3856
For discussion of new features, I recommend moving to the mailing list for discussion.

@imjoey

[2021-03-23 15:50] membphis commented on #3864
How to fix it? Are there any guides?

[2021-03-23 15:57] membphis commented on #3843
it seems that you found one bug. ^_^

[2021-03-23 15:59] membphis commented on #3830
can we close this issue now? @anjia0532

[2021-03-24 00:04] membphis commented on #3895
cc @spacewander

[2021-03-24 01:04] tokers commented on #3864
We should set the `proxy_ssl_name` directive with the `upstream_host` variable.

[code]

Currently, the value of `proxy_ssl_name` is `$host`, which won't be changed even if the host to upstream was rewritten.

[2021-03-24 01:17] Firstsawyou commented on #3843
Got it, we need to fix it and add more test cases.

[2021-03-24 01:25] anjia0532 commented on #3830
maybe not. I think this is a bug. local system  file  is ok ,but k8s configMap mapping as file not work.

[2021-03-24 01:27] spacewander commented on #3843
I am already working on it.

[2021-03-24 01:59] #3895 closed

[2021-03-24 02:25] phperEric opened #3898 "Failed installing dependency"
make deps
[code]

[code]

[2021-03-24 02:30] spacewander commented on #3898
Duplicate of #3886

[2021-03-24 02:30] #3898 closed

[2021-03-24 02:43] spacewander commented on #3893
@Firstsawyou
Would you take a look at this issue?

[2021-03-24 02:58] Firstsawyou commented on #3843
Hi, @sailershen
Thank you for your report, this problem has been fixed, you can follow this PR: https://github.com/apache/apisix/pull/3897

[2021-03-24 03:07] Firstsawyou commented on #3893
Yes, I am looking at this question.

[2021-03-24 03:53] Firstsawyou commented on #3893
Hi, @evanlike
Can you provide the details of your `curl` request? Guess the `token` in your request is invalid.

[2021-03-24 04:13] evanlike commented on #3893
@Firstsawyou
**curl request**
curl -i -X GET http://192.168.3.34:19080/gateway/camera/index -H "Authorization: Bearer eyJ4NXQiOiJNell4TW1Ga09HWXdNV0kwWldObU5EY3hOR1l3WW1NNFpUQTNNV0kyTkRBelpHUXpOR00wWkdSbE5qSmtPREZrWkRSaU9URmtNV0ZoTXpVMlpHVmxOZyIsImtpZCI6Ik16WXhNbUZrT0dZd01XSTBaV05tTkRjeE5HWXdZbU00WlRBM01XSTJOREF6WkdRek5HTTBaR1JsTmpKa09ERmtaRFJpT1RGa01XRmhNelUyWkdWbE5nX1JTMjU2IiwiYWxnIjoiUlMyNTYifQ

[2021-03-24 04:22] zcgewu opened #3901 "bug: vars cookie route match failure 高级路由匹配条件，apisix运行时间久了路由匹配条件失效"
### Issue description
我们系统通过在cookie中存放一个标识，来实现蓝绿部署流量的控制。我在apisix中为每一个location设置了三条路由规则，用来匹配无cookie标记、Env-flag=lan、Env-flag=lv三种访问情况，路由设置大概一周时间后，apisix不能匹配带cookie标记的请求，全部走无cookie标记的路由。我尝试把apisix的路由规则先删除再新增，cookie匹配又生效了。

[code]

还有一种cookie匹配失效的情况是，给没有设置高级路由匹配条件（无cookie标记）的路由设置优先级，有cookie匹配的路由不设置优先级。设置优先级主要是想解决无cookie的请求，apisix打两条warn日志的问题，我不太理解这个地方的逻辑。

[code]

### Environment
* apisix : 2.1
* OS :

[2021-03-24 05:12] spacewander commented on #3901
APISIX 2.1 doesn't support OpenResty 1.19.
See https://github.com/apache/apisix/blob/master/CHANGELOG.md#220

[2021-03-24 05:12] #3901 closed

[2021-03-24 05:44] Firstsawyou commented on #3893
You try to set `bearer_only` to true in the plugin configuration. `"bearer_only": true`

[2021-03-24 06:09] imjoey commented on #3856
@membphis ok, thanks for the directions. I would turn to mailing list for further discussions.

[2021-03-24 06:11] imjoey commented on #3856
Close this for now, will reopen this if we are planning to add this feature. Thanks.

[2021-03-24 06:11] #3856 closed

[2021-03-24 06:12] zcgewu commented on #3901
麻烦在仔细看下问题，绝对不是openresty版本兼容的问题，我详细补充下版本信息：
[code]

[2021-03-24 06:16] tokers commented on #3830
@anjia0532 It seems APISIX needs the write permission when opening `config-default.yaml`, What's the `volumes` and `volumeMounts` items in the APISIX Deployment?

[2021-03-24 06:17] evanlike commented on #3893
I had set bearer_only : true，still get 401 code and i cannot redirect wso2 login page ，i can get authorization code successfully when set ```"bearer_only": false```,  the question is whether this plugin can check wso2 jwt token，how it works in use introspection_endpoint? i can not find the code block check this token from lua source code，maybe tell me how can i debugger api six in local

[2021-03-24 06:18] tokers commented on #3830
This is absolutely an uncalled for, we may investigate and fix it.

[2021-03-24 06:20] zcgewu commented on #3901
我是按照这个文档安装依赖组件的：
https://github.com/apache/apisix/blob/2.1/doc/install-dependencies.md

[2021-03-24 06:31] aiyiyi121 opened #3902 "Do you have any development plans to get config data even when etcd is down, such as saving configuration files"
No. If people use etcd as the data source and it is down, there is no other way to get the configured data.

_Originally posted by @spacewander in https://github.com/apache/apisix/issues/3878#issuecomment-803847848_

I think etcd is an additional dependency, so when it is down，I feel very dangerous.
Do you have any development plans to get config data even when etcd is down, such as saving configu

[2021-03-24 07:02] spacewander commented on #3901
Feel free to reopen this issue if you can reproduce it in the latest APISIX.

[2021-03-24 07:04] #3843 closed

[2021-03-24 07:15] spacewander commented on #3902
At least not in the near future.
It is hard to get it right.

[2021-03-24 07:49] Gary-Airwallex opened #3903 "request help: Accessing ctx.var.upstream_uri in global rule causes failure of proxy-rewrite"
### Issue description
Minimum steps to reproduce:
1. Add a plugin that contains this line in rewrite phase:
[code]
2. Add the plugin to global rule.
3. Add a route like this:
[code]
4. Hit `/hello`, observe that it won't be rewritten to `/world`

Essentially after ctx.var.upstream_uri is set in proxy-rewrite, it fails to be updated in ngx.var, given that we read the value ctx.var.upstream_uri in g

[2021-03-24 07:54] zcgewu commented on #3901
我们在测试和线上环境都重现了，你看下是否跟多次执行【PUT】/apisix/admin/routes/{id} 接口有关系

[2021-03-24 07:58] Firstsawyou commented on #3893
You can try to debug in the following code file:
https://github.com/apache/apisix/blob/master/apisix/plugins/openid-connect.lua

`apisix/deps/share/lua/5.1/resty/openidc.lua`

[2021-03-24 08:58] Firstsawyou commented on #3903
Not sure if this problem is fixed, maybe you can try the latest version.
Let me check if I have this problem in the latest version.

[2021-03-24 09:46] anjia0532 commented on #3830
thanks and waiting for this. @tokers

[2021-03-24 10:14] ZanderMo opened #3904 "bug:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): v2.2
config_center: yaml

apisix.yaml 配置 :
routes:
  - uri: /systemconf/admin/*
    upstream_id: 8014
    plugins:
      jwt-auth: {}
     consumer-restriction: {
            whitelist: [
                admin
            ]
        }
consumers:
  - username: admin
    plugins:
      jwt-auth:
        key: admin

[2021-03-24 10:26] spacewander commented on #3904
Fixed by https://github.com/apache/apisix/pull/3394

[2021-03-24 11:17] tokers commented on #3830
Could you please provide the file permission of apisix config.yaml in the container.

[2021-03-24 11:22] Firstsawyou commented on #3903
Hi, @Gary-Airwallex
I did not reproduce this problem locally. I will provide a recurring use case later.

[2021-03-24 12:12] tokers commented on #3902
In a production environment, multiple nodes (typically `3` or `5` nodes) ETCD cluster is desired, due to Raft consensus algorithm, it's not common if whole nodes in the cluster are down together, unless the networking is partitioned. Even in such a case, it doesn't influence APISIX's behavior since APISIX caches all config data in its per-worker process memory.

[2021-03-25 01:17] #3902 closed

[2021-03-25 04:01] hackeryutu opened #3906 "Why do I limit the server_name value, but still go to the snippet server block"
### Issue description
I enter m.qa.com in the browser and it will go to the server block of qa.com www.qa.com
### Environment
![image](https://user-images.githubusercontent.com/16240260/112417020-bc929800-8d61-11eb-9616-4f882052db1f.png)

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd:

[2021-03-25 07:43] #3801 closed

[2021-03-25 11:02] StretchV opened #3908 "request help: When I execute a test case, I report an error:you may need to install the Test::Base module"
### Issue description
n the apisix directory，I did “sudo cpanm --notest Test::Nginx IPC::Run > build.log 2>&1 || (cat build.log && exit 1)”，then did “git clone https://github.com/iresty/test-nginx.git” ，then did "export PERL5LIB=.:$PERL5LIB"   then did “prove -Itest-nginx/lib -r t/plugin/openid-connect.t”, finally An error occurred：“you may need to install the Test::Base module”

### Environment

[2021-03-25 11:04] StretchV opened #3909 "request help: When I execute a test case, I report an error:you may need to install the Test::Base module"
### Issue description
n the apisix directory，I did “sudo cpanm --notest Test::Nginx IPC::Run > build.log 2>&1 || (cat build.log && exit 1)”，then did “git clone https://github.com/iresty/test-nginx.git” ，then did "export PERL5LIB=.:$PERL5LIB"   then did “prove -Itest-nginx/lib -r t/plugin/openid-connect.t”, finally An error occurred：“you may need to install the Test::Base module”

### Environment

[2021-03-25 11:34] StretchV commented on #3909
I refer to the “https://github.com/apache/apisix/blob/master/docs/zh/latest/how-to-build.md”  ，but，I don't know how to operate this sentence：
 “通过 perl 的 prove 命令来加载 test-nginx 的库，并运行 /t 目录下的测试案例集：
追加当前目录到perl模块目录： export PERL5LIB=.:$PERL5LIB”

[2021-03-25 11:37] spacewander commented on #3908
Test::Base will be installed as the dependency of Test::Nginx:
[code]

Can you reinstall Test::Nginx and see what happen?

[2021-03-25 11:38] spacewander commented on #3909
Duplicate of #3908

[2021-03-25 11:38] #3909 closed

[2021-03-25 12:15] StretchV commented on #3908
![2021-03-25 20-12-48屏幕截图](https://user-images.githubusercontent.com/31284380/112471163-83304b80-8da6-11eb-929b-f75f335be13f.png)
我执行了一下 ，然后提示“you may need to install the t::APISIX module”  ，但是./t/目录下是有APISIX.pm文件的额，这是怎么回事呢

[2021-03-25 12:50] #3908 closed

[2021-03-25 15:49] #3906 closed

[2021-03-25 16:19] Firstsawyou commented on #3903
Hi, @Gary-Airwallex  Sorry, my previous test method was incorrect. I checked the latest version again, and there seems to be such a problem.   @spacewander  Please take a look at this question when you are free.

Here are the steps to reproduce:

1. Add the log of `ctx.var.upstream_uri` in the rewrite phase of the `cors` plugin, and print the rewritten uri in the `proxy-rewrite` plugin.

[code]

2

[2021-03-25 16:26] membphis commented on #3864
I think this issue can be a `good first issue`, right?

[2021-03-25 18:33] whl739 opened #3911 "bug: error-log-logger call ngx.worker.id() in privileged agent"
In plugin `error-log-logger`:
[code]
this timer will run on privileged agent, but in function `process`, it will call `ngx.worker.id()`, whitch will return `nil`.

[code]

it seems a bug, did i miss something?

[2021-03-26 02:08] tokers commented on #3864
Yep.

[2021-03-26 03:33] Caelebs opened #3913 "request help: How to transfer parameters to the next plugin?"
### Issue description

I have a custom plug-in to determine whether the requested URI exists in the whitelist api list. In addition, there is another plugin to request the internal authentication service to verify whether there is permission. Now my approach is to enter in the request When it comes to the first plugin, I use `core.request.set_header("Ignore", var)` to set a header, and then determ

[2021-03-26 04:25] spacewander commented on #3903
It is because `ctx.var` caches the result:
https://github.com/apache/apisix/blob/83931ba0a5c95e04ec867a4ffd0821d426ca0d27/apisix/core/ctx.lua#L186

[2021-03-26 04:28] spacewander commented on #3903
One solution is to use ngx.var instead:
https://github.com/apache/apisix/pull/3914

[2021-03-26 04:31] spacewander commented on #3903
Another solution is to use a new way to cache `ctx.var`:
https://github.com/apache/apisix/pull/3915

This way has performance slow down, CC @membphis

[2021-03-26 05:08] Yangzcy423911 opened #3916 "request help: upstream healthy check with http upstream server no access log"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

upstream  info

{
    "node": {
        "value": {
            "update_

[2021-03-26 05:37] Firstsawyou commented on #3913
I think you can try to use the `ctx` variable in the plugin to cache the value that needs to be transferred.  such as: `ctx.ignore`
Then we can get it in the next plugin.

[2021-03-26 05:39] Firstsawyou commented on #3903
Got it, thank you.

[2021-03-26 06:02] Firstsawyou commented on #3916
According to your configuration, in the active detection, you set `"port": 80`, it will overwrite the `8080` port in your upstream node, is the port of the service you want to detect at the back-end is `80`?

[2021-03-26 06:02] Caelebs commented on #3913
I tried this way, why didn't I think of it before, it works well, thanks for reply
@Firstsawyou

[2021-03-26 06:02] #3913 closed

[2021-03-26 06:06] Yangzcy423911 commented on #3916
The port of upstream service is not 8080, but 8080. How to understand the host here

[2021-03-26 06:14] Yangzcy423911 commented on #3916
What is the significance of health detection here? If it is detected periodically, upstream services should have corresponding logs

[2021-03-26 06:43] diaosj opened #3917 "request help: question about Prometheus memory consumption"
### Issue description

I noticed this message in `logs/error.log`:
[code]

I guess the memory for Prometheus metrics has an upbound limit. What is that value? I may need to config more memory for APISIX.

### Environment

* apisix version (cmd: `apisix version`): 2.1
* OS (cmd: `uname -a`): Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1

[2021-03-26 07:07] Firstsawyou commented on #3916
You can refer to the health check example here. If you can see the related health check log in the log, the upstream service will also have the related log.  https://github.com/apache/apisix/issues/3616#issuecomment-783179886

[2021-03-26 07:14] Firstsawyou commented on #3916
The `host` in the active health check is the host that periodically initiates http requests to detect whether the upstream is healthy. For specific information, you can refer to here:  https://github.com/apache/apisix/blob/master/docs/en/latest/health-check.md

[2021-03-26 07:18] Yangzcy423911 commented on #3916
If the host here uses the domain name method and then specifies the port, can it replace the address of the upstream node and the corresponding port for health status detection

[2021-03-26 08:44] spacewander commented on #3917
https://github.com/apache/apisix/blob/83931ba0a5c95e04ec867a4ffd0821d426ca0d27/apisix/cli/ngx_tpl.lua#L131

I would appreciate it if you can make it configurable.

[2021-03-26 10:22] anjia0532 commented on #3830
yeah, default permission  is `400` , `6xx`(rw,xx,xx) is ok. thanks

[2021-03-26 10:22] #3830 closed

[2021-03-27 03:39] #3911 closed

[2021-03-28 03:25] zyue27 opened #3920 "request help: nginx: [emerg] invalid port in "table:" of the "listen" directive in ..."
### Issue description

I add `node_listen` to the `config.yaml `
[code]
wnen I restart apisix ,it goes wrong with:
`nginx: [emerg] invalid port in "table:" of the "listen" directive in /usr/local/apisix/conf/nginx.conf:163`

![Snipaste_2021-03-28_11-24-35](https://user-images.githubusercontent.com/42901890/112741410-32903c80-8fb8-11eb-8e60-ad1235f55fe6.png)

### Environment

* apisix version (cmd:

[2021-03-28 04:40] karthikshetty03 commented on #3688
@moonming, Can I work on this issue?

[2021-03-28 05:07] moonming commented on #3688
Sur, welcome

[2021-03-28 13:47] spacewander commented on #3920
The `enable_http2` feature is first added in 2.4.
See: https://github.com/apache/apisix/pull/3547

[2021-03-28 13:47] #3920 closed

[2021-03-28 15:00] whl739 opened #3923 "request help: timer enhancement"
Currently, apisix provides a background timer for logger related plugins, whitch is not universal.

See this demand: a plugin may register a timer in `init` function, the timer will be recurring to pull data, and unregister it in `destroy` function, the phase functions may use these pulled data. But the current timer implemention is not possible to do that.

How can i do this, any suggestions?

[2021-03-28 15:15] spacewander commented on #3923
The timer is not logger only, we can use it in other plugins too. See:
https://github.com/apache/apisix/blob/c9df9fca652d14d32c8331820640ed9344c4529a/apisix/plugins/server-info.lua#L241

[2021-03-28 19:45] diaosj commented on #3917
Thanks!
Looks like I can config it in `config-default.yaml`. I will try this.

[2021-03-29 02:15] zhangguanzhang commented on #487
组织：金山办公
地址：中国:武汉，珠海
联系方式：zhangguanzhang@qq.com
使用场景：产品线较多，入口需要一个网关来管理所有url

[2021-03-29 03:17] whl739 commented on #3923
The background timer can not set a interval time, and the callback function have to check the time by itself, it's not easy to use.
It's implemention is that spawn registed timer threads, and wait them to finish, if one timer cost too much time, other timers will be affected.

[2021-03-29 04:04] spacewander commented on #3923
Yes, as OpenResty doesn't provide a cancel_timer API, we have to do the "cancel" job in the callback.

Not exactly. The `core.timer` use `timer.every` API, so each group of timers' fire time is not affected by the last timer group. And each timer in the same group is run in a separate thread.

[2021-03-29 04:29] whl739 commented on #3923
But also `core.timer` provides `self.running` to prevent callback function to run repeatly, timers are still affected.

[2021-03-29 04:44] KMFtcy opened #3928 "request help: why my gateway ask for jwt when I do not set any authentication method."
### Issue description
Hi there!
I'm running apisix in a docker container. The docker image built from project https://github.com/apache/apisix-docker with command below
[code]
But when I access one route, it says:
[code]
But I set no plugin at all.

Here is my apisix config
[code]
And here's what returns when execute ”curl "http://localhost:28888/apisix/admin/routes/" -H 'X-API-KEY: edd1c9f034335f

[2021-03-29 05:29] tokers commented on #3928
@KMFtcy Is there any consumer data in your APISIX?

[2021-03-29 06:06] KMFtcy commented on #3928
@tokers No. Is it necessary to bind a consumer to a route?

[2021-03-29 06:13] aiyiyi121 opened #3930 "request help: What’s the function of export OpenAPI on the dashboard"
### Issue description
 What’s the function of export OpenAPI on the dashboard,  why can't I export the configuration of routes and upstreams correctly through it.
And how can I export API configuration to yaml configuration?

### Environment

apisix version (cmd: apisix version): 2.4
OS (cmd: uname -a): Ubuntu 16.04.2 LTS
OpenResty / Nginx version (cmd: nginx -V or openresty -V): openresty/1.19.3.

[2021-03-29 06:24] Firstsawyou commented on #3928
@KMFtcy
You need to check the following two points:
1. Is the jwt-auth plugin configured in your consumer object? If so, you need to check whether the jwt-auth plugin is enabled in the route?
2. Is the jwt-auth plugin enabled in `global_rules`?

[2021-03-29 06:49] KMFtcy commented on #3928
@Firstsawyou
Thanks for your reply.

1. I have check and I'm sure jwt-auth is not enabled in my routes.
2. Where can I config `global_rules` ? I cannot find it in `config-default.yaml`

[2021-03-29 06:50] KMFtcy commented on #3928
And By the way, I have tried to create a consumer but it always says `invalid json data` like this:
![image](https://user-images.githubusercontent.com/41932086/112797525-1797f800-909e-11eb-9095-7111cd1dd60c.png)

[2021-03-29 07:00] KMFtcy commented on #3928
Gentlemen, I have located the problems. I found I accidentally I enable a plugins in this page.
![image](https://user-images.githubusercontent.com/41932086/112798006-d7854500-909e-11eb-80ed-ed1ffc942f54.png)
When I delete it , the error is gone. Sorry for my faults.
And the `invalid json data` problem was fixed when I paste this, coyied from `https://github.com/apache/apisix/blob/master/docs/zh/la

[2021-03-29 07:00] #3928 closed

[2021-03-29 07:14] #3145 closed

[2021-03-29 07:59] tokers opened #3931 "redirect plugins add curl test for `http_to_https`"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

The [document](http://apisix.apache.org/docs/apisix/plugins/redirect) about redirect plugin contains the configuration about using `http_to_https` in redirect plugin, but it doesn't add a curl test case to show the result.

![image](https://user-images.githubusercontent.com/10428333/112805052-afe6aa80-90a7-11eb

[2021-03-29 08:41] tokers opened #3932 "ret_code type in plugin redirect document is dubious"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

The type of `ret_type` in attribution descriptions is `string`.

![image](https://user-images.githubusercontent.com/10428333/112810253-6a2ce080-90ad-11eb-9f72-18a6a607d32b.png)

But when test cases are shown, the type is `integer`.

![image](https://user-images.githubusercontent.com/10428333/112810326-7b75ed00-

[2021-03-29 09:36] hackeryutu opened #3935 "request help: Specify an upstream and remove it from all routes"
### Issue description
request help: Specify an upstream and remove it from all routes
### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

[2021-03-29 09:39] tokers commented on #3935
@hackeryutu You don't show your problems.

[2021-03-29 14:32] Firstsawyou opened #3937 "[discuss]: when a node in the etcd cluster fails, no error log is output"
### Issue description

In an etcd cluster (3 nodes), when one of the nodes fails. The following error message will be printed in the error.log:

![image](https://user-images.githubusercontent.com/52862365/112852403-77ae8e80-90de-11eb-99f3-9cb9a9a12a08.png)

But this does not affect the normal operation of APISIX. Such error log information can make people misunderstand that etcd is unavailable. Ca

[2021-03-29 15:12] Firstsawyou opened #3939 "docs: update limit-count.md document"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

In fact, the `redis-cluster` strategy in the limit-count plug-in already supports the configuration of passwords (redis_password), but there is no related description in the plug-in documentation, only instructions related to the `redis` strategy. We need to add corresponding instructions to the `redis-cluster`

[2021-03-30 01:24] spacewander commented on #3937
The error log is right. If it reports the connection is refused, that means it fails to get any data from etcd at that moment.

[2021-03-30 01:27] Firstsawyou commented on #3935
Hi, @hackeryutu
According to the current description, we do not know what your problem is, you need to describe your problem clearly.

[2021-03-30 01:31] spacewander commented on #3923
Yes, you are right.
We can add an option to override this behavior and use it in the background timer.
PR is welcome!

[2021-03-30 01:51] kongjun01 commented on #3783
问题解决了，强制跳转https用的是重定向，不是重写

[2021-03-30 01:51] #3783 closed

[2021-03-30 01:54] #2895 closed

[2021-03-30 01:56] kongjun01 opened #3942 "request help: How to proxy to a third-party website by developing a plug-in?"
### Issue description
If inscribe.
for example:  when access `http://ip:port`，proxy to `https://github.com`：
  location / {
      proxy_pass  https://github.com;
      proxy_redirect     off;
      proxy_set_header   Host             $host;
      proxy_set_header   X-Real-IP        $remote_addr;
      proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
  }

### Environment

* apisix ve

[2021-03-30 02:02] moonming commented on #3937
@Yiyiyimu @spacewander if we can get data from other etcd node, do we need print `ERR` level logs?

[2021-03-30 02:03] moonming commented on #3942
@kongjun01
Please use English in the public channel, thx

[2021-03-30 02:05] spacewander commented on #3937
If it reports an error log in 18:26, it doesn't get data from another etcd node.
@Firstsawyou
Does the error log happen forever or just for a moment?

[2021-03-30 02:11] spacewander commented on #3942
See https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#upstream. You need to use the domain name as the `nodes`.

[2021-03-30 02:11] #3942 closed

[2021-03-30 02:16] #3935 closed

[2021-03-30 03:51] zwjzxh520 opened #3944 "request help:"
### 支持分布式部署吗？分布式部署的时候，限流插件，可以保证正确的工作吗？

查阅了一下源码，发现是用 resty.lrucache 做的缓存，这应该是本机缓存，那假如部署在三台机器，限流配置为每秒 1000 QPS， 会不会导致实际允许 3000 QPS 的流量了

[2021-03-30 04:21] aiyiyi121 commented on #3937
The error log happen forever when a node in the etcd cluster(3 nodes) fails, at that time ,apisix can get data from other etcd node and work corretcly.

[2021-03-30 04:29] moonming commented on #3689
any update? @Firstsawyou

[2021-03-30 05:16] spacewander commented on #3937
Interesting.

@Firstsawyou
Could you investigate this issue?

[2021-03-30 05:24] Firstsawyou commented on #3944
Support cluster deployment. Please refer here: https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-set-up-high-available-apache-apisix-clusters
Using the `limit-count` plugin, it can support the current limit of the Redis strategy. https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/limit-count.md#attributes

[2021-03-30 05:31] Firstsawyou commented on #3937
Ok, let me investigate.

[2021-03-30 06:06] zwjzxh520 commented on #3944
非常感谢！  limit-conn 和 limit-req 这两个插件还是不支持使用 redis 是吗？后续会有计划支持吗？

[2021-03-30 06:09] Firstsawyou commented on #3689
There is an update here： https://github.com/apache/apisix/pull/3494

[2021-03-30 06:21] Firstsawyou commented on #3944
Yes, limit-conn and limit-req plugins do not yet support the use of redis strategies. There is currently no plan to support it. You can create an issue to discuss it.

[2021-03-30 07:38] whl739 commented on #3923
What about [lua-resty-timer](https://github.com/Kong/lua-resty-timer) from Kong?

[2021-03-30 07:38] a0925260369 opened #3946 "request help: How can I use geoip in route"
### Issue description
I want visit different upstreams based on region.
Here is my cmd,  but it doesn't work.
What should I do
[code]
### Environment

* apisix version (cmd: `apisix version`):2.3 (helm install)
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx version: openresty/1.19.3.1 (helm install)
* etcd version, if have (cmd: run `curl http://127.0

[2021-03-30 08:12] spacewander commented on #3923
I don't think it does much better than ours.

[2021-03-30 08:16] spacewander commented on #3923
That library only uses `timer.at`, which may fail to run a timer when the memory or the number of connections is not enough. When it failed to start, there is not a second chance.

[2021-03-30 08:17] Firstsawyou commented on #3946
The `vars` field here configures nginx variables, which does not support `geoip`.

[2021-03-30 08:27] a0925260369 commented on #3946
@Firstsawyou
From this issue #2180 , apisix can use ```$geoip``` and the ```var``` in route.
So , I try to set ```geoip``` in ```vars```. This seems to be wrong
Can you tell me how to use ```geoip```?

[2021-03-30 08:46] Firstsawyou commented on #3946
You try to set `$geoip` in vars. I'm not sure if it can.

[2021-03-30 11:44] aiyiyi121 commented on #3937
@spacewander @Firstsawyou
When I use ./apisix start to start the apisix, I found it will init etcd. I read the "etcd init" code and found it will check the status of all etcd nodes. So when when a node in the etcd cluster(3 nodes) fails, the etcd_init will fail too , and the apisix can't start.
I think when a node in the etcd cluster(3 nodes) fails, the etcd_init should success because it do no af

[2021-03-30 11:58] spacewander commented on #3937
It does. Why do you want to configure a bad node inside APISIX? Start APISIX in an unhealthy situation is not a good idea. Consider one of your fail nodes has a wrong auth configuration which can't be detected if we just skip it.

[2021-03-30 13:21] moonming commented on #3946
maybe we need to install ngx_http_geoip_module first?

[2021-03-30 13:29] spacewander commented on #3946
The `ngx_http_geoip_module` is not a builtin module.
You need to build it by yourself, see http://nginx.org/en/docs/http/ngx_http_geoip_module.html

[2021-03-30 13:52] aiyiyi121 commented on #3937
Because we want to be able to normally start and use apisix in a production environment in case of the
extreme cases such as a node in the etcd cluster(3 nodes) fails.

[2021-03-31 01:05] moonming opened #3951 "request help: You can start and close apisix in any directory, not only in the `apisix` directory"
### Issue description
For the apisix from the source code install, now it can only use it under the `apisix` directory
[code]
To start, but not:
[code]

Can we make this command better?

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/

[2021-03-31 01:16] tokers commented on #3951
The description is somewhat obscure, can you re-edit it to make it more easy to read?

[2021-03-31 01:19] a0925260369 commented on #3946
Thanks, I will try to install it.
After install, can I use $geoip and the var in route?
Like this cmd.
[code]

[2021-03-31 01:36] moonming commented on #3951
fixed, please take a look

[2021-03-31 01:38] tokers commented on #3946
@a0925260369 You may provide some geo files, or Nginx doesn't know any geo information anymore. After that, you can use any variables provided by geo_ip module in APISIX's route `vars`.

[2021-03-31 01:50] tokers commented on #3937
Maybe the `etcd init` operations can be changed to: as long as majority instances in the etcd cluster is healthy, then we can start APISIX. Or, just check one instance, since if the cluster is unavailable, "no leader" error will be thrown.

[2021-03-31 02:04] tokers commented on #3923
This could be a better way, @whl739 Would you please submit a PR to help APISIX to optimize this? Thanks!

[2021-03-31 02:06] tokers commented on #3944
@zwjzxh520 By the way, please use English on public channel, thanks for your cooperation.

[2021-03-31 02:14] spacewander commented on #3937
The `etcd init` doesn't just do the node check.

As its name indicates, it **does the init job**. We need this operation to ensure the data in etcd is initialized correctly to avoid unexpected responses.

If we skip this for some nodes, there is no way to ensure they are correctly initialized.

As for "normally start and use apisix in a production environment in case of the
extreme cases such as a

[2021-03-31 02:19] tokers commented on #3937
Why? ETCD is self-replicated.

[2021-03-31 02:23] spacewander commented on #3937
People might configure wrong node. Don't be surprise, it happened before.

[2021-03-31 02:33] tokers commented on #3937
Got, got it ...

[2021-03-31 02:34] #3932 closed

[2021-03-31 02:42] #3477 closed

[2021-03-31 02:42] #3689 closed

[2021-03-31 02:49] aiyiyi121 commented on #3937
Thx, got it. We should pay more attention to the HA of etcd

[2021-03-31 03:17] spacewander opened #3953 "The retry of etcd is missing after replacing curl with luasocket"
Previously, there is retry mechanism when the bin/apisix tried to connect etcd cluster:
https://github.com/apache/apisix/blob/e8dcf3793ca40b30047406ac51a79a500356f67b/apisix/cli/etcd.lua#L203

After the curl code was rewritten with luasocket, this mechanism is missing.

In some situation, like a flaky netowork problem, or the health checker has not removed an unhealthy node from the DNS record yet

[2021-03-31 03:20] totemofwolf opened #3954 "bug: error occured when upstream application exists websocket"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): `apisix:2.*-alpine`
* OS (cmd: `uname -a`):  `bash-5.0# uname -a
Linux server 4.14.105-19-0019 #1 SMP Fri Jan 15 11:39:34 CST 2021 x86_64 Linux`
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):

[code]

[code]

* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the in

[2021-03-31 04:07] spacewander commented on #3954
You need to set `enable_websocket` in the route:
https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#route

[2021-03-31 05:14] spacewander commented on #2126
Consider solved

[2021-03-31 05:14] #2126 closed

[2021-03-31 09:08] cz-theng opened #3956 "Translate HTTP request to gRPC"
the [grpc-transcode](https://github.com/apache/apisix/tree/master/apisix/plugins/grpc-transcode) plugin translate HTTP
request to grpc request with HTTP param like "?xxx=yyy". But this soluation make client to constract the URL params.

how about share .pb file with client. and client marshal pb request struct to a bin data , and send request with that data in HTTP's body. then APISix plugin like

[2021-03-31 10:29] spacewander commented on #3239
Consider solved

[2021-03-31 10:29] #3239 closed

[2021-04-01 00:45] starsz commented on #3953
We do need it.

[2021-04-01 01:19] spacewander commented on #3956
This is what a client does when it starts a gRPC call over HTTP2.

[2021-04-01 01:19] #3956 closed

[2021-04-01 01:32] tokers commented on #3954
Does the `Collaborative editing page` stuff can be decoupled into a single route?

[2021-04-01 03:04] gy09535 opened #3959 "proposal: Should apisix support host+path as route?"
### Issue description
Now apisix support hosts and  paths as route, such as this config:

[code]

But sometimes we have some business scenario should support host+path as route, such as:

[code]

I have see the apisix route match radix-tree code, If we implementation this, we should split the route, I think this change is  very big. I have a proposal, should we write a plugin to support it, and in

[2021-04-01 03:44] Firstsawyou opened #3962 "[discuss]: how to make the annotations in the config-default.yaml file clearer"
# Description:

Currently, the annotations style in the config-default.yaml file is very misleading, for example:

[code]
This annotations style is easy to understand that `stream_proxy` is at the same level as `ssl`, but `stream_proxy` is at the same level as `router`.
I think we need a better way of annotation to make it easier for users to understand the hierarchical relationship before them.
w

[2021-04-01 04:02] Firstsawyou commented on #3959
This is already supported, you can refer to the description of `radixtree_host_uri` here: https://github.com/apache/apisix/blob/master/docs/en/latest/architecture-design/router.md

[2021-04-01 04:41] starsz commented on #3251
Hi, while I am working on it.
I think there is something needs to be discussed.

Reference the openresty Error page.
[code]

Which link should we add?

[code]
Can this help people to check the error log.

[2021-04-01 05:06] #3864 closed

[2021-04-01 05:35] fukiki opened #3963 "request help: Distinguish the source (upstream or apisix) of the status code, whether it can be extended to all the status code"
### Issue description
There was a discussion earlier about `How to distinguish the source of these response status codes `:
[Issue 2501](https://github.com/apache/apisix/issues/2501) and [PR 2817](https://github.com/apache/apisix/pull/2817).

The conclusion is that: In the response header of the request, through the response header of `X-APISIX-Upstream-Status`, we can effectively identify the sou

[2021-04-01 05:42] juzhiyuan commented on #3251
`http://nginx.org/r/error_log` looks good to me, waiting for others :)

[2021-04-01 06:17] moonming commented on #3251
we should link to Apache APISIX for help, not nginx

[2021-04-01 06:31] souzens opened #3964 "Request help: stream_proxy(mqtt_proxy) do not support dns resolv。"
### Issue description

Background:
This is the requirement for developer in our company.  It is necessary to deploy the mqtt service inside the k8s cluster with container, the conventional practice in the past is to create loadbalancer service to expose nodeport, but it is troublesome for operation and maintenance. The current api entry is unified by apisix, and apisix also has mqtt_proxy plugin,

[2021-04-01 06:40] spacewander commented on #3962
The `# ` style of comment is used because the yamllint requires it.
Maybe we can use `#app` style for commented out configuration, like this:
https://github.com/elastic/beats/blob/1f1fae56057dce0604f72f2cf0099f9a6f2b75aa/filebeat/filebeat.reference.yml#L29

We can also remove the yamllint as there is almost nothing left that can be linted.

[2021-04-01 07:16] Firstsawyou commented on #3963
There are many factors that cause 5xx status codes. We need to distinguish their sources and narrow the scope of the problem. The 4xx status codes are caused by client requests that do not conform to semantic specifications and have obvious prompt information.

[2021-04-01 08:27] fukiki commented on #3963
The 4xx status codes are not only caused by client requests, such as the following example：
![apisix2](https://user-images.githubusercontent.com/59835099/113265426-b45cce80-9306-11eb-9846-e041b4ab10f4.png)

[2021-04-01 09:19] Firstsawyou commented on #3964
Regarding the first question, currently apisix-dashboard does not support the `mqtt_proxy` plug-in configuration of stream.
The second question, maybe we need to support the configuration of the domain name.

[2021-04-01 09:30] Firstsawyou commented on #3963
This is more intuitive to know the cause of the problem. Maybe we need to support distinguishing the source of 4xx status codes.

[2021-04-01 09:43] #1315 closed

[2021-04-01 09:44] spacewander commented on #1456
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-04-01 09:44] spacewander commented on #1399
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-04-01 09:45] spacewander commented on #1482
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-04-01 10:02] fukiki commented on #3963
In some special cases, other status codes may have similar problems.
Support distinguishing the source of all status codes, will be more generic.

[2021-04-01 10:07] tokers commented on #3963
Actually, there are a bunch of headers can be added for the debugging purpose:

* X-Upstream-Status, the status code returned by upstream;
* X-Upstream-Addr, the upstream endpoint address;
* ....

Of course, some information is sensitive, and maybe a switch should be introduced to show these data.

[2021-04-01 10:14] spacewander commented on #3725
Done.

[2021-04-01 10:14] #3725 closed

[2021-04-01 10:17] spacewander commented on #2938
Probably relative: https://github.com/ledgetech/lua-resty-http/pull/230

[2021-04-01 10:43] gy09535 commented on #3959
I have see the
  'radixtree_host_uri:https://github.com/apache/apisix/blob/master/apisix/http/router/radixtree_host_uri.lua#L79' , I think this can not support the  'host+path' case, because the hosts and paths in route is  two properties, for example :
[code]
their should be four combinations
[code]
all this situation can hit the route, but I want the route config is
[code]
this just two situatio

[2021-04-01 10:50] gewei2000 opened #3968 "request help: how to add proxy_ignore_client_abort in apisix"
### Issue description
how to add proxy_ignore_client_abort in apisix

### Environment

* apisix version (cmd: `apisix version`):2.4
* OS (cmd: `uname -a`):centos

[2021-04-01 11:53] tokers commented on #3968
@gewei2000 Try `http_server_configuration_snippet ` https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L157.

[2021-04-01 11:56] tokers commented on #3959
What you want can be achieved by splitting this into two routes. The first route contains host `a.com` and uri `/a`, and
similarly, the second route has host `b.com` and uri `/b`.

[2021-04-01 12:03] tokers commented on #3964
@souzens Yep, the current apisix-dashboard isn't capable to configure plugins for stream routes, you may have to configure them by invoking APIs by yourselves.

And I think the second one can be supported. cc @spacewander @membphis

[2021-04-01 12:13] Firstsawyou commented on #3962
Agree, the style of `#app` looks better.

[2021-04-01 12:26] juzhiyuan commented on #3251
got it

[2021-04-01 12:30] #3968 closed

[2021-04-01 14:02] gy09535 commented on #3959
Yes, it can work,  but if you have too many paths, you should create more routes.

[2021-04-02 01:21] fukiki commented on #3963
@tokers  That's a good suggestion.

[2021-04-02 01:45] juzhiyuan opened #3970 "doc: update the Getting Started guide in Chinese"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi! We have just updated the Getting Started docs in English[1], now anyone would like to translate it to Chinese?

## Describe the solution you'd like

1. Visi the Getting Started docs[1] first, and read it to make sure you understand what it says;
2. Here is the original Markdown file in English[2];
3. Here i

[2021-04-02 01:55] imjoey commented on #3963
@fukiki  @Firstsawyou @tokers  so I was wondering that is that possible for us to reach a conclusion that adding `X-Upstream-Status` back to the response header for all cases, under the control of a switch. Thanks.

[2021-04-02 02:08] gxlct008 commented on #3970
I want to give it a try, hoping to give apisix some help.

[2021-04-02 02:11] juzhiyuan commented on #3970
Thanks! Let me if you need help!

DeepL.com is our friend

[2021-04-02 05:12] Firstsawyou commented on #3963
This looks good, I think it is ok.

[2021-04-02 05:25] Firstsawyou opened #3973 "docs: update the image of the old version of Dashboard in the prometheus plugin doc"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

The Dashboard picture in the section [How to open the plugin](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/prometheus.md#how-to-enable-it) in the prometheus.md document is the old version, we need to update the picture to the new version.

<img width="1202" alt="截屏2021-04-06 上午9 33 41" sr

[2021-04-02 06:29] zwjzxh520 commented on #3903
臣附议

[2021-04-02 06:30] tokers opened #3974 "Enhance the documentation of echo plugin"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

![image](https://user-images.githubusercontent.com/10428333/113387894-c2baf100-93bf-11eb-8a94-933b2e482f80.png)

The descriptions for `auth_value` are obscure, it doesn't really explain what is `auth_value`, also, related usage about `auth_value` is missing.

A clear and concise description of what you want and

[2021-04-02 06:57] silveric10 opened #3975 "request help: Is there a plugin that can limit the tcp connection?"
### Issue description
I learned that Limit-req, Limit-count and Limit-concurrency are all used to limit the http request count, but is there a plugin that can limit the tcp connection? Thank you.

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.

[2021-04-02 07:04] spacewander commented on #3974
I dig into the history, looks like we can remove this field.
It is used to demonstrate how to take advantage of the access phase.

[2021-04-02 07:11] zwjzxh520 commented on #3903
@Firstsawyou 你好，请问这个问题怎么修复呢？

[2021-04-02 07:14] spacewander commented on #3975
No

[2021-04-02 07:14] #3975 closed

[2021-04-02 07:21] Firstsawyou commented on #3903
Hi, @zwjzxh520
@spacewander  provides two solutions, you can refer to the following:

Method one: use `ngx.var`  instead `ctx.var`, for example: `ngx.var.upstream_uri` .  For detailed examples, you can refer to #3914

Method two:  use a new way to cache ctx.var: #3915

[2021-04-02 07:29] zwjzxh520 commented on #3903
懂了，难道我一直在 #3914 里找不到修复的源码，只看到增加的测试用例。谢谢

[2021-04-02 08:11] totemofwolf commented on #3954
They have the same host, but differ in `uri`

[2021-04-02 08:31] totemofwolf commented on #3954
Problem solved by adding an individual `host` like this >

[code]

why does APISIX 2.*  not `transparent proxy requests` like 1.* (as it worked before)

[2021-04-02 09:09] YeZiZhen opened #3978 "bug:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.3
* OS (cmd: `uname -a`):Linux ubuntu 5.4.0-70-generic #78-Ubuntu SMP Fri Mar 19 13:29:52 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx version: openresty/1.19.3.1
built by gcc 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
built with OpenSSL 1.1.1g  21 Apr 2020

[2021-04-02 09:10] spacewander commented on #3954
@membphis
Wait for your answer...

[2021-04-02 09:18] spacewander commented on #3978
You need to declare your plugin in `config.yaml` first.

[2021-04-02 09:30] Firstsawyou commented on #3978
Is your new plugin name configured in the plug-in list of the `config.yaml` configuration file?
By the way, it is better to use English in the community.

[2021-04-02 09:52] xiewenhui opened #3979 "In Stand-alone mode, Is the apisix.yaml configuration Descriptive Capability as strong as using admin-api(etcd)?"
Stand-alone.md is so concise.

In Stand-alone mode,  Is the apisix.yaml  configuration Descriptive Capability as strong as using  admin-api(etcd)?
https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md

for example ，How to cfg   the parameters of the health check for Upstream in Stand-alone mode？

[2021-04-02 10:29] Firstsawyou commented on #3979
The yaml mode is as powerful as the etcd mode. For how to configure the health check, you can refer to here:
https://github.com/apache/apisix/blob/master/t/config-center-yaml/route-upstream.t

[2021-04-03 03:17] tokers commented on #3963
We can send a proposal to the mail list, who wants to do this?

[2021-04-03 05:27] membphis commented on #3954
I just chatted with @totemofwolf through IM, we need to add some configuration items to `APISIX 1.* `to support it.

He will post more information later.

[2021-04-03 05:42] totemofwolf commented on #3954
@spacewander
for APISIX 1.* nginx.conf should be this (to transparent proxy requests, include ws , wss..)

[code]

[2021-04-03 05:47] totemofwolf commented on #3690
Is this compatible with OpenLDAP?

[2021-04-03 08:15] spacewander commented on #3690
OpenLDAP is different as it runs LDAP protocol?

[2021-04-04 00:34] imjoey commented on #3963
Hi @fukiki , is that possible for you to send a proposal email to the dev mail list for further discussion? We actually need more opinions. Thanks.

[2021-04-04 05:17] szqm123 commented on #3859
1、重新编译luarocks，安装luarocks时选择luajit作为lua编译器，不要使用lua5.3或者5.4。
进入luarocks目录：
./configure  --with-lua=/usr/local/openresty/luajit  --lua-suffix=jit  --with-lua-include=/usr/local/openresty/luajit/include/luajit-2.1
make&make install
2、进入apisix目录
make deps

[2021-04-05 01:48] juzhiyuan opened #3984 "doc: added fields for Health Check"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, when I visit the Apache APISIX's docs here[1], I noticed that some fields are missing, like `active.healthy.http_statuses`, as for other fields, need more search and compare with other API Gateways.

So anyone would like to add the `active.healthy.http_statuses` field back here[2]?

## Describe the solution

[2021-04-05 01:54] juzhiyuan commented on #3973
Hi, your images are broken actually 😂

[2021-04-05 02:15] gxlct008 commented on #3984
I want to give some help.

[2021-04-05 06:38] highkay opened #3985 "request help: How to configure multi listen ports(http or https)"
### Issue description

I could only find these configurations for port listening,  one for http and one for https. I need multi ports for http and https protocol.

### Environment

* apisix version (cmd: `apisix version`): 2.4
* OS (cmd: `uname -a`): all platform
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): all
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/se

[2021-04-05 06:45] tokers commented on #3985
@highkay See http://apisix.apache.org/docs/apisix/FAQ/#how-to-make-apisix-listen-on-multiple-ports-when-handling-http-or-https-requests.

[2021-04-05 15:40] membphis commented on #3964
welcome PR @souzens

[2021-04-06 01:35] Firstsawyou commented on #3973
😂 Yes, it has been updated.

[2021-04-06 02:50] fukiki commented on #3963
@tokers @imjoey I will send a proposal email to the dev mail list for further discussion.

[2021-04-06 06:55] spacewander commented on #3732
Closed as lack of response.

[2021-04-06 06:55] #3732 closed

[2021-04-06 06:56] #3726 closed

[2021-04-06 06:57] #3683 closed

[2021-04-06 07:38] Yiyiyimu commented on #3726
Hi @spacewander any reason to close it ( besides I forgot to update 🤦

[2021-04-06 07:39] ychdesign opened #3988 "bug: limit-count may prevent more requests by mistake that should access normally in High concurrency scenarios"
### Issue description
{
  "count": 4000,
  "key": "server_addr",
  "policy": "redis-cluster",
  "redis_cluster_nodes": [],
  "rejected_code": 500,
  "time_window": 1
}

When the threshold not reached,a few requests are prevented by the limit-count plugin.
The founction incoming, ttl and incrby opreations are not atomic.
Maybe can use eval() to ensure it.

### Environment

* apisix version : 2.0
*

[2021-04-06 08:08] spacewander commented on #3726
We already did it.

[2021-04-06 08:31] spacewander commented on #3988
Look like the bug is real. Why did you close your PR?

[2021-04-06 08:32] ychdesign commented on #3988
pr check failed，在改pr的信息

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年4月6日(星期二) 下午4:31
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/apisix] bug: limit-count may prevent more requests by mistake that should access normally in High concurrency scenarios (#3988)

Look like the bug is real. Why did you close your PR?

—
You are re

[2021-04-06 08:33] Yiyiyimu commented on #3726
I didn't get it, the release guide on website seems not changed

[2021-04-06 08:39] spacewander commented on #3726
What about opening an issue to apisix-website? At least the APISIX itself doesn't have this problem.

[2021-04-06 08:40] Yiyiyimu commented on #3726
Got it.

[2021-04-06 08:43] spacewander commented on #3988
You can open a draft PR.
<img width="706" alt="微信截图_20210406164246" src="https://user-images.githubusercontent.com/4161644/113683770-27938580-96f7-11eb-994e-9fb0b2eae727.png">

[2021-04-06 09:29] ychdesign commented on #3988
thanks. It resloved.

[2021-04-07 02:08] anyforever commented on #3859
没想到apisix这么难装。。一堆依赖，各种报错。。上面的问题解决了，又出现新的。解决了一个又一个，解决了好几个了，懒得搞了，放弃了。
`
Error: Failed installing dependency: https://luarocks.org/luasec-0.9-1.src.rock - Could not find header file for OPENSSL
  No file openssl/ssl.h in /usr/local/openresty/openssl111/include
You may have to install OPENSSL in your system and/or pass OPENSSL_DIR or OPENSSL_INCDIR to the luarocks command.
Example: luarocks install lu

[2021-04-07 05:10] Firstsawyou commented on #3859
Refer to the document here, it should solve your problem: https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#why-does-the-make-deps-command-fail-in-source-installation

[2021-04-07 06:17] jp-gouin commented on #1548
Hi,
Is this feature still in development or planned in a futur release ?

[2021-04-07 06:35] a0925260369 commented on #3946
After I build openrestry with geo_ip2 module,  finally I cane use variables provided by geo_ip2 module in APISIX's route vars.
Thanks a lot.

[2021-04-07 06:35] #3946 closed

[2021-04-07 07:12] anyforever opened #3998 "Error: It is forbidden to run APISIX in the /root directory."
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.4.1
* OS (cmd: `uname -a`):CentOS 8
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

用root用户编绎安装的，在原下载目录启动，提示这个，然后把bin文件移动到/usr/local/apisix/bin目录

[2021-04-07 07:19] Firstsawyou commented on #3998
Did you install apisix from source?
You can install apisix using the `rpm` package, so that it is installed in the `/usr/local/` directory by default

[2021-04-07 07:31] sshniro commented on #1548
I could not work on this feature. Please feel free to contribute.

[2021-04-07 07:38] anyforever commented on #3998
Yes, install apisix from source. RPM package（only for CentOS 7）
but my OS is 8

[2021-04-07 07:54] WinSuperStar opened #3999 "request help: gRPC gateway is not enabled in etcd cluster "which is required by Apache APISIX“"
### Issue description
when I start apisix，get the message
gRPC gateway is not enabled in etcd cluster "which is required by Apache APISIX"
### Environment

* apisix version (cmd: `apisix version`): 2.5 && 2.4
* OS (cmd: `uname -a`):Linux apisix 5.2.14-1.el7.elrepo.x86_64 #1 SMP Tue Sep 10 10:50:19 EDT 2019 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V

[2021-04-07 08:39] Firstsawyou commented on #3999
The etcd cluster needs to enable `gRPC gateway`, you can refer to here to enable it.  https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#why-there-are-a-lot-of-failed-to-fetch-data-from-etcd-failed-to-read-etcd-dir-etcd-key-xxxxxx-errors-in-errorlog

[2021-04-07 08:43] Firstsawyou commented on #3998
Ok, the source installation method cannot be enabled in the `/root` directory, you need to try other directories to start apisix. You can also use docker to install apisix.

[2021-04-07 09:36] #3787 closed

[2021-04-07 10:23] riskgod opened #4001 "request help: {"error_msg":"failed to check the configuration of plugin key-auth err: additional properties forbidden, found key"}"
### Issue description
Hey, I have enable one consumer named jack_auth.
#### This is the consumer
[code]
[code]

#### Enable in one router
[code]
[code]

#### But it failed

[code]
### Environment

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): k8s

[2021-04-07 10:27] Firstsawyou commented on #4001
Enabling the key-auth plugin in the route does not require configuration data, you just need to do as follows:

[code]

[2021-04-07 10:42] riskgod commented on #4001
### Hey, the setting is success, but when I call it use the key "auth-jack", it failed, please help me check again, Thank you

[code]

[code]

[2021-04-07 10:58] Firstsawyou commented on #4001
This is probably caused by the fact that the `key-auth` plugin is not configured on the `consumer`. You need to confirm again whether the `consume`r is configured with the `key-auth` plugin.

[2021-04-07 11:04] riskgod commented on #4001
But, I can get the consumer in my desc

[2021-04-07 11:33] spacewander commented on #3944
Consider solved

[2021-04-07 11:33] #3944 closed

[2021-04-07 11:33] #3985 closed

[2021-04-07 11:52] tokers commented on #4001
@riskgod Hi, what's your consumer configuration?

[2021-04-07 12:13] riskgod commented on #4001
[code]

[2021-04-07 12:57] riskgod opened #4002 "bug: limit-req not works in version 2.5"
### Issue description
hey, I test this in version 2.3, but in 2.5, the plugin not works. follow the official docs

[2021-04-07 13:41] Firstsawyou commented on #4002
It is best to provide the next minimum reproduction steps, so that it is convenient to troubleshoot the problem.

[2021-04-08 00:17] moonming commented on #3998
but you should tell why can not run in root dir.
and it is nothing with docker.

[2021-04-08 01:02] #3873 closed

[2021-04-08 02:00] riskgod commented on #4002
#### I have set a auth-key named jack and the key is auth-one
[code]

 #### So I init a new router now, enable the limit-req.
[code]
#### I call this in several times hopes it return 503 or 403,  but it always return 200
[code]
<img width="794" alt="Screen Shot 2021-04-08 at 09 58 48" src="https://user-images.githubusercontent.com/3436287/113956990-0646ac80-9851-11eb-93e1-f9adfdcb7a6f.png">

[2021-04-08 02:10] #4001 closed

[2021-04-08 02:18] #3979 closed

[2021-04-08 02:59] Firstsawyou commented on #4002
Maybe the request rate per second does not reach the threshold, you can try to request multiple times per second.

[2021-04-08 03:21] riskgod commented on #4002
####  Thank you for nice recommendation, but it still return 200 20 times.
[code]
<img width="995" alt="Screen Shot 2021-04-08 at 11 20 32" src="https://user-images.githubusercontent.com/3436287/113963622-7c044580-985c-11eb-82e6-0bb28037d0fe.png">

[2021-04-08 06:17] Firstsawyou commented on #4002
You try to set the `burst` field of the limit-req plugin configured on the route to 0, and then test it again, like this:

[code]

[2021-04-08 06:38] riskgod commented on #4002
S
<img width="655" alt="Screen Shot 2021-04-08 at 14 37 32" src="https://user-images.githubusercontent.com/3436287/113979665-2047b580-9878-11eb-8f3f-53ca0e20a3e9.png">
till return 200

[2021-04-08 07:08] Firstsawyou commented on #4002
The key-auth plugin is enabled in your current routing, you need to set the `burst` field of the limit-req plugin enabled in `consumer` to `0`. Because burst is not `0`, requests per second with a request rate greater than `rate` and less than `rate + burst` will be delayed. In this way, according to your loop request command, the limit-req plugin threshold is not actually reached.

[2021-04-08 07:21] WinSuperStar commented on #3999
ok

[2021-04-08 07:21] #3999 closed

[2021-04-08 09:07] moonming opened #4006 "request help: health check for gRPC upstream"
### Issue description
The current health check of Apache APISIX is for http/https upstream. Can we add the check for gRPC upstream?
@nic-chen

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-inf

[2021-04-08 12:01] Marco-Zheng opened #4007 "bug: When i start apisix，here come's a problem "Bad http library. Should use api7-lua-resty-http instead""
### Issue description
when  i start apisix，here come's a problem as below which said 'Bad http library. Should use api7-lua-resty-http instead'
![image](https://user-images.githubusercontent.com/52538259/114021668-8433a380-98a3-11eb-9c2f-7aeaad41f00d.png)

so i try to vim deps/share/lua/5.1/resty/etcd/utils.lua, then find the code
[code]
it show that may has any problem with the package resty.http

[2021-04-08 12:50] spacewander commented on #4007
How do you install the dependencies? Have you reinstalled the dependencies after upgrading to 2.5 (if you come from an older version)?

[2021-04-08 12:54] spacewander commented on #4007
Tha latest lua-resty-etcd should use api7-lua-resty-http:
https://github.com/api7/lua-resty-etcd/blob/b52830dca207c9e3653847b1b2ea072f8316e531/rockspec/lua-resty-etcd-1.5.0-0.rockspec#L16

[2021-04-08 12:54] Firstsawyou commented on #4007
Are you deploying from source code?
It would be better if you provide the following installation steps.

[2021-04-08 13:12] gxthrj opened #4009 "bug: cookie in vars do not work"
### Issue description

Define a route in APISIX, like this:

[code]

use curl to request:

[code]

The request always hit upstream `d678a7ac`, which is the first route.

### Environment

* apisix version (cmd: `apisix version`): 2.5

[2021-04-08 13:21] Marco-Zheng commented on #4007
no, i just download the new version by following the README doc, firstly it was failed then i guess that accidentally deleted any dependencies lua, so i try again, download a new one, but it also didn't work.

[2021-04-08 13:29] Marco-Zheng commented on #4007
I try the installation steps as below
![image](https://user-images.githubusercontent.com/52538259/114035258-83a20980-98b1-11eb-898e-34d5f897cb87.png)

[2021-04-08 13:32] Marco-Zheng commented on #4007
Thanks for your quickly reply, i'll try it and leave a message

[2021-04-08 13:41] Marco-Zheng commented on #4007
Sorry, i checked lua-resty-etcd under `/usr/local/apisix-2.5/deps/lib64/luarocks/rocks/lua-resty-etcd/1.5.0-0` as below, it's correct one , could you please give me an advise which part need i modify?
![image](https://user-images.githubusercontent.com/52538259/114036803-f52e8780-98b2-11eb-83ac-27b7442d20ad.png)

[2021-04-08 15:11] Firstsawyou commented on #4007
I tried apisix 2.5 version without this problem. Maybe your `deps` is an old version, you should execute `make deps` command to reinstall related dependent files.

[2021-04-08 19:47] diaosj opened #4010 "request help: question about dns_resolver_valid and resolver_timeout"
### Issue description

Two questions about `dns_resolver_valid` and `resolver_timeout`.

1. What's the default unit?
In my memory, the default unit is second rather than millisecond. And I found this comment in config.yaml: https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L111
I guess the description "The unit is second." is valid for both `dns_resolver_valid` and `resolver_ti

[2021-04-09 01:02] spacewander commented on #4007
@Marco-Zheng
What is your version of Luarocks (`luarocks --version`)?

[2021-04-09 01:06] #1399 closed

[2021-04-09 01:06] #1482 closed

[2021-04-09 01:06] #1456 closed

[2021-04-09 01:29] tokers commented on #4010
`ngx_conf_set_msec_slot` calls `ngx_parse_time`, in such a case, when the time doesn't contain the unit, nginx treats it a duration in seconds.

Now by default we use the ttl field in the DNS response as the cache ttl.

[2021-04-09 02:05] spacewander commented on #4009
Need to use "cookie_X-Foo"

[2021-04-09 02:18] diaosj commented on #4010
Many thanks.

[2021-04-09 02:27] Marco-Zheng commented on #4007
It's luarocks 2.3.0

[2021-04-09 02:40] Marco-Zheng commented on #4007
I deleted the apisix 2.5 which i download yesterday and try again, `make deps` then run the application, but the result is same.

[2021-04-09 02:45] spacewander commented on #4007
Emm... Luarocks 2.3.0 was released in 2015. It lacks many features. To fix it we need a time machine.

Would you try Luarocks 3.4.0? We already provide a script to do that: https://github.com/apache/apisix/blob/master/utils/linux-install-luarocks.sh

[2021-04-09 02:47] Marco-Zheng commented on #4007
Many thanks! I'll try it with you comment

[2021-04-09 02:56] riskgod opened #4012 "Discussion: The best way to use request-ID"
### Questions

- How many types of log
- How to store the request-id
- The request-id belongs to log?
- Can we trace them in upstream  services?

### My understand
- syslog，request log
- Use sys-log plugin to store the request log
- It belongs to request log and it in header, also in GRPC header
- In my understand, we can trace them in upstream

### What's the different between the log and openTra

[2021-04-09 02:57] diaosj commented on #4010
Sorry, I reopen this issue.
Just to make sure.
I see `ngx_parse_time` is called in `ngx_conf_set_msec_slot` (https://github.com/nginx/nginx/blob/eb52de83114e8d98722cd17ec8435c47956b6315/src/core/ngx_conf_file.c#L1276):
[code]

I jumped to the definition of `ngx_parse_time` (https://github.com/nginx/nginx/blob/eb52de83114e8d98722cd17ec8435c47956b6315/src/core/ngx_parse.c#L112):
[code]

The input pa

[2021-04-09 03:01] riskgod commented on #4006
Now we check the health open a now http/https path /8080 in my gRPC services,  if we have gRPC check, it will be very helpful.

[2021-04-09 03:02] #4002 closed

[2021-04-09 03:03] #3954 closed

[2021-04-09 03:31] Marco-Zheng commented on #4007
Sorry, i just download the luarocks 3.4.0 as `linux-install-luarocks.sh` and link the luarock to `usr/local/bin/luarock`,it show that the luarock version is 3.4.0 now, but it also doesn't work as below...
![image](https://user-images.githubusercontent.com/52538259/114124486-29dc2680-9927-11eb-9b35-b4c1f90fa6f2.png)

[2021-04-09 03:39] spacewander commented on #4007
Have you reinstalled the dependencies? You may need to remove ./deps and install via `LUAROCKS_SERVER=https://luarocks.cn make deps`.

Here is my deps:
[code]

You can see the vanilla lua-resty-http is installed as `lua_resty_http_0_15_0-resty`.

[2021-04-09 04:12] spacewander commented on #3516
Closed as lack of response from the author.

[2021-04-09 04:12] #3516 closed

[2021-04-09 04:12] spacewander commented on #2041
Closed as lack of response.

[2021-04-09 04:12] #2041 closed

[2021-04-09 04:14] spacewander commented on #2428
Closed as lack of response.

[2021-04-09 04:14] #2428 closed

[2021-04-09 04:51] Marco-Zheng commented on #4007
The problem has been solved, many thanks for your kindly help!

[2021-04-09 04:51] #4007 closed

[2021-04-09 05:15] tokers commented on #4010
Variable `step` doesn't have a chance to be used since all chars in `line` is digital.

[2021-04-09 05:48] diaosj commented on #4010
OK. Thanks!

[2021-04-09 05:48] #4010 closed

[2021-04-09 06:05] gxthrj opened #4015 "Improve: Plugin Traffic-split do not use '"server_port", ">", 0' for vars by default"
### Issue description
If I use traffic-split without any vars, `server_port > 0 ` will be set. https://github.com/apache/apisix/blob/master/apisix/plugins/traffic-split.lua#L49
Although it does not affect the logic, it will affect the reading. and make the configuration look inconsistent.

### Environment

* apisix version (cmd: `apisix version`): 2.5

[2021-04-09 06:24] Firstsawyou commented on #4015
Yes, we can remove it,

[2021-04-09 09:25] jbampton opened #4017 "feat: add Prettier"
From what I can see Prettier which is mainly written in JavaScript and can run on pre-commit is now best in class for code formatting. Prettier is an opinionated code formatter and has about 39,000+ Stars.

With Prettier there are five different ways to implement the pre-commit check. Seems Prettier is the way to go at least for some pre-commit checks and it seems that one of the best features of

[2021-04-09 10:15] spacewander commented on #4017
Reformat the code will ruin the git history. Don't do it.

[2021-04-09 10:15] #4017 closed

[2021-04-09 10:20] jbampton commented on #4017
We are already reformatting code with Markdownlint and yamllint and have been doing this for a long time.

Prettier does the same thing it lints Markdown and YAML and other files, just like the checkes that run on the GitHub Super Linter or the checkes that run with pre-commit they all format or reformat files to best practice

[2021-04-09 10:44] jbampton commented on #4017
Prettier is used by a lot of the worlds top companies and has 530 contributors and over 2+ million users.

https://github.com/prettier/prettier

<img width="462" alt="Screen Shot 2021-04-09 at 8 41 16 pm" src="https://user-images.githubusercontent.com/418747/114168867-2fac2900-9974-11eb-8da2-6423dd1c12d8.png">

[2021-04-09 11:55] jbampton commented on #4017
Another way to explain this is -> @spacewander is a top Lua programmer and works with many other Lua programmers and sometimes some people write a different style or perhaps syntax of Lua and @spacewander decides that all this different style is getting hard to maintain so @spacewander sets the Lua code standard and style for the project and all existing and new code needs to match the new standar

[2021-04-09 12:08] spacewander commented on #4017
Actually, I drop a similar request before: https://github.com/apache/apisix/issues/3303.
One real-world ruined example is https://github.com/openssl/openssl/commit/0f113f3ee4d629ef9a4a30911b22b224772085e5. It makes searching history before 2015 quite hard.

We care more about history than code's format.

[2021-04-09 12:28] jbampton commented on #4017
Hey @spacewander you just approved this PR -> https://github.com/apache/apisix/pull/4018  which is code formatting of Markdown files or linting whitespace

[2021-04-09 13:18] nic-chen commented on #4006
OK, I will try for it.

[2021-04-09 13:43] #4009 closed

[2021-04-10 01:21] anyforever commented on #3998
@moonming 1.在root目录编译的时候没有任何提示，等到启动的时候才提示不能这样。。有点迟了吧
2.把root目录编译完的copy到/usr/local/apisix目录下启动，也是一样的提示。所以提问是不是编译的时候必须在非root目录操作，建议软件做成跟别的软件那种常规安装模式，例如：make install之后，给安装到/usr/local/apisix目录。或者在configure时可以手动指定安装目录较好

[2021-04-10 01:36] jbampton commented on #4017
Hey @spacewander so was I more thinking about say one good test to use like Python `isort` which orders Python imports and most likely is about 10 lines of code.

We have other proposed tests too but for sure your example in `openssl` is what's called an `extreme value` since it has close to 293,000 lines added.  Extreme value theory or extreme value analysis (EVA) is a branch of statistics dealin

[2021-04-10 14:52] zyue27 opened #4021 "bug: delete entries directly from etcd,somthing wrong happened"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):  2.4
* OS (cmd: `uname -a`): linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.4.0
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce the i

[2021-04-10 15:02] Marco-Zheng opened #4022 "request help: jw-auth is ineffective"
### Issue description
when i installed jwt-auth with authCode by using curl -H , it didn't work
![image](https://user-images.githubusercontent.com/52538259/114274176-ce598800-9a4f-11eb-8854-afc58debb191.png)

but used curl --cookie, it worked well!
![image](https://user-images.githubusercontent.com/52538259/114274244-0e206f80-9a50-11eb-81d4-b4ee0e5a31cb.png)

may i know if any wrong with my settin

[2021-04-10 15:45] spacewander commented on #4021
First of all, don't operate on etcd directly. As APISIX has some references between different directories. Such an operation may corrupt the data.

Secondly, APISIX uses some placeholders to build the structure of data. If you remove the directory directly, they will be removed too.

This placeholder will be reinitialized during APISIX starts, so everything works well gain after you restart it.

S

[2021-04-10 15:47] #4021 closed

[2021-04-11 01:37] Firstsawyou commented on #4022
This is very strange, I tested putting the token in the request header (Authorization) and it worked very well.
Did you check that the signature used is correct?

[2021-04-11 03:41] Marco-Zheng commented on #4022
I checked my auth-code is correct , per cookie solution worked well, but while i use below method
[code]
the error log shown as below... Obviously it was rejected.
![image](https://user-images.githubusercontent.com/52538259/114291486-596f6800-9aba-11eb-815e-b80f02d268b8.png)

[2021-04-11 04:03] Marco-Zheng commented on #4022
Maybe any problem with getting conf.auth_value,but i didn't find where trigger the method of echo.access(conf, ctx)
![image](https://user-images.githubusercontent.com/52538259/114291958-d3edb700-9abd-11eb-9e7f-f4b9a00b7c10.png)

[2021-04-11 04:42] Firstsawyou commented on #4022
It seems that you have added your own logic code to the jwt-auth plugin. According to the code logic you modified, it is reasonable to use the request header `Authorization` to get the result. Because, there is no `conf.auth_value` field in the `conf` parameter of the jwt-auth plugin.

[2021-04-11 04:42] Firstsawyou commented on #4022
It seems that you have added your own logic code to the jwt-auth plugin. According to the code logic you modified, it is reasonable to use the request header `Authorization` to get the result. Because, there is no `conf.auth_value` field in the `conf` parameter of the jwt-auth plugin.

[2021-04-11 07:23] tokers commented on #4022
@Marco-Zheng The body "unauthorized body" in your first screenshot is not generated by APISIX. I cannot search it in APISIX code base, have you ever tried to access the upstream directly?

[2021-04-12 01:12] #4015 closed

[2021-04-12 03:30] Firstsawyou commented on #3998
Because the `worker` process of APISIX is the authority of ordinary users of `nobody`. When APISIX is in the `/root` directory, ordinary users do not have the authority to access the /root directory.
Therefore, this error message will be output. You need to copy the entire project of `APISIX` to another directory, so that the `worker` process of APISIX has the permission to read related files, ins

[2021-04-12 08:04] Firstsawyou opened #4031 "docs: the stream-proxy doc adds more detailed information"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Since the introduction of the stream-proxy document is not detailed enough, many users do not know how to use the stream-proxy function. We need to add more detailed introduction and usage examples.

## Describe the solution you'd like

We need to add more detailed introduction and usage examples.
For example:

[2021-04-12 08:44] cverdela opened #4032 "request help:I need a demo for authz-keycloak"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

[2021-04-12 09:06] Firstsawyou commented on #4032
You can refer to the documentation here: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/authz-keycloak.md
The test cases of the authz-keycloak plugin may be helpful to you: https://github.com/apache/apisix/blob/master/t/plugin/authz-keycloak.t

[2021-04-12 09:14] highkay commented on #3985
well ,I can config multi ports now. But I can't find any way to config the ports in route.

[2021-04-12 09:25] highkay commented on #3985
Alright, I find out somehow why I faced so much issues in using apisix, which is a product centerilize the usage in a ops team of an orgnization (maybe more cloud-native ). I just make apisix fitting a complete retail software, which require it could be run in a nothing is certain (for example, config a private domain ) enviroment. These cases are out-of-scope for apisix, am I right?

[2021-04-12 10:01] spacewander commented on #3985
Yes

[2021-04-12 11:15] #3973 closed

[2021-04-12 12:11] tq02ksu commented on #3260
I have the same scenario in the company, I think it is a common requirement.

[2021-04-13 02:41] riskgod opened #4036 "request help: hmac sha256 "Invalid signature""
### Issue description
hey, I am using node to create the X-HMAC-SIGNATURE, but it always return "Invalid signature"
#### create one consumer

[code]
#### enable the plugin global
[code]
#### set upstream
[code]
#### set router
[code]

#### Use node.js to create the signature
[code]

#### Test the plugin
[code]

#### Result

[code]

[2021-04-13 03:07] jbampton commented on #3587
Hello everyone.

A very sad day has come and our dear friend Jorge @summerhill5 has died of COVID-19 in Venezuela.

Jorge died in hospital and was sick for over 3 weeks.  The Crisis in Venezuela during the Bolivarian Revolution is an ongoing socioeconomic and political crisis that began in Venezuela on 2 June 2010 during the presidency of Hugo Chávez and has continued since.   I believe the hospit

[2021-04-13 03:15] Firstsawyou commented on #4036
In the plug-in test, the format of your GMT time request header seems to be incorrect, it needs to be like this:

[code]

[2021-04-13 03:27] riskgod commented on #4036
Thank you

[2021-04-13 03:27] #4036 closed

[2021-04-13 04:01] bfcx opened #4037 "[discuss]: keep backward compatibility of apisix admin api or manager api"
When upgrading APISIX form v1.5 to v2.4, I find that the response body of admin api in APISIX2.4 are not keep compatibility with that in v1.5.

In APISIX 1.5, config restored by etcd v2,  response body returned by admin api both contains the field:
"modifiedIndex("mod_revision" in etcd v3)" and "prevNode("prev_kv" in etcd v3)".

BUT, in APISIX 2.4, response body of admin api and manager api are no

[2021-04-13 05:14] spacewander commented on #3260
The CAS seems to use standard protocols like JWT and OpenID-Connect

Maybe we can integrate with it via plugins:
https://github.com/apache/apisix/blob/master/doc/plugins/jwt-auth.md
https://github.com/apache/apisix/blob/master/doc/plugins/openid-connect.md

[2021-04-13 08:02] gxthrj commented on #4037
cc @nic-chen @spacewander

[2021-04-13 08:17] cverdela commented on #4032
401 with error：{"error":"invalid_grant","error_description":"Invalid bearer token"}
get auth/realms/apisix/.well-known/uma2-configuration
"grant_types_supported": [
        "authorization_code",
        "implicit",
        "refresh_token",
        "password",
        "client_credentials"
    ],
how to add grant_type ：urn:ietf:params:oauth:grant-type:uma-ticket

[2021-04-13 08:18] spacewander commented on #4037
Those fields are removed intentionally because we have plan to support non-etcd storage.

@bfcx
Will you contribute the batch operation support to us so we can maintain the backward compatibility?

[2021-04-13 08:22] dickens7 opened #4040 "skywalking plugin attribute service_instance_name hard-coded"
### Issue description

Whether its attribute “service_instance_name” can be obtained automatically instead of hard-coded in the configuration

[2021-04-13 09:02] cverdela commented on #4032
@Firstsawyou

[2021-04-13 09:03] vincenthcui opened #4041 "request help: grpc-transcode 是否支持 proto 文件组织"
### Issue description

grpc-transcode 插件支持 import proto 吗。工程实践中很难用一个 proto 定义所有服务，通常需要 improt 多个 Proto 完成定义，protobuf 官方也是这样推荐的

[2021-04-13 09:34] nic-chen commented on #4041
It is not currently supported. Because our proto is stored in ETCD instead of in a directory, the import relationship is not easy to handle.
btw, please use English in public channel.

[2021-04-13 09:35] moonming commented on #3587
@jbampton I am very sorry to hear that.
R.I.P. @summerhill5

[2021-04-13 10:04] spacewander commented on #4040
@gxthrj
Could you help us to confirm it?

[2021-04-13 20:41] Majalian opened #4042 "Add Arabic Translation"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Did you know that the Arab world considered one of the rising stars that will shape the 4th industrial revolution?
![Arab Startups](https://user-images.githubusercontent.com/81928799/114578559-a8b5c400-9c85-11eb-8d9f-25dff730a617.JPG)
and with 300 million people speaking Arabic, it's definitely a market that yo

[2021-04-14 04:28] nic-chen commented on #4037
Yes, so we only return generic values, not the data unique to etcd.

[2021-04-14 06:31] comedown opened #4046 "request help: the radixtree.lua does not support dot character when using parameter in path"
### Issue description
I added a routing rule which path is "/test/:project/:version/*action", it does not match the url "/test/1/7.5.11/multi/path".
Instead, the url "/test/1/2/multi/path" can.

Please take a look!

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS (cmd: `uname -a`): OSX
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.17.8.2
* etcd ve

[2021-04-14 07:20] Firstsawyou opened #4047 "bug: when a domain name exists in the upstream node configuration, roundrobin is abnormal"
### Issue description

When configuring upstream, "upstream.type" is "roundrobin". When there is a domain name in the upstream `node` (ip and domain name are mixed use/all are configuration domain names), then only the node with the largest `weight` value will be hit. When there are multiple maximum `weight` nodes, multiple nodes will be accessed in `roundrobin` mode.

### Environment

* apisix ve

[2021-04-14 08:14] Firstsawyou commented on #4047
@spacewander  @membphis   Please take a look.

[2021-04-14 08:25] Firstsawyou commented on #4046
Can you provide a reproducible use case?

[2021-04-14 08:27] membphis commented on #4047
nice job @Firstsawyou

we need to fix this bug ^_^

[2021-04-14 08:39] Firstsawyou commented on #4047
Got it.

[2021-04-14 09:40] Gerrard-YNWA commented on #4046
https://github.com/api7/lua-resty-radixtree/blob/master/lib/resty/radixtree.lua#L463
The pattern `[=[([\w\-_\%]+)]=]` for matching parameters in path failed.

[2021-04-14 09:48] comedown commented on #4046
Thanks fro you answer,

[2021-04-14 10:06] comedown commented on #4046
Thanks! It is helpful to me.

[2021-04-14 10:14] comedown commented on #4046
Thanks for you help! How about supporting the dot character in regular expression in lua-resty-radixtree libaray?

[2021-04-14 12:48] rdouman opened #4048 "request help: Intermittent failure when starting apisix container on kubernetes."
## Issue description
I have a 10 node kubernetes cluster running APISIX as a gateway, We're using etcd 3.4.14 deployed as a cluster via the bitnami helm chart.  We're intermittently receiving the errors below on container startup.

2021/04/14 14:09:03 [error] 42#42: *1 [lua] config_etcd.lua:230: load_full_data(): failed to check item data of [/apisix/routes] err:failed to validate the 'vars' expre

[2021-04-14 13:09] kongjun01 opened #4049 "request help:Questions about route matching"
### Issue description

i have two routes：
1.
{
...
uri: ["/*.html"]
}
2.
{
...
uri:["/**"]
}

I want  to match the first route by `path = "/main.html" `，match the second route by `path="/test/1"`.

What should I do？

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `

[2021-04-14 13:41] Firstsawyou commented on #4049
For the first routing rule, you can try this:

[code]

For the second routing rule, you can try this:

[code]

[2021-04-14 15:30] membphis commented on #3587
Thank Jorge Araica @summerhill5 very much.
Because of the open-source code, we have the opportunity to work together.

Thanks to everyone who loves technology and loves sharing for making this world a harmonious family.

[2021-04-14 23:57] hozaifaaoud opened #4054 "503 Service Temporarily Unavailable"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):  APISIX/2.3
* OS (cmd: `uname -a`): #60-Ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

Hi all,
I am new to APISIX.
I just trying to create

[2021-04-15 00:28] tokers commented on #4048
What's your apisix version?

[2021-04-15 01:11] Firstsawyou commented on #4054
You need to configure the domain name or IP in the upstream nodes. Your route should be created like this:

[code]

[2021-04-15 01:14] spacewander commented on #4046
@Gerrard-YNWA
Will you contribute the fix you find?

[2021-04-15 01:21] Firstsawyou commented on #4048
According to the prompt information here, there seems to be a problem with the `vars` configured in the route. Is the vars expression set in your route `"vars":{}`? Maybe you should provide detailed configuration information for routing.

[2021-04-15 01:27] spacewander commented on #4048
This message is added in APISIX 2.5, and apisix-dashboard 2.3 is too old to work with APISIX 2.5

[2021-04-15 02:49] souzens commented on #4048
the same wrong ..

NOW etcd data is created by apisix-dashboard 2.4 . and After upgrading to apisix 2.5, the current problem is that the existing etcd data can no longer be used, and all of the created routes has been invalid.

according to [https://github.com/apache/apisix/blob/master/docs/zh/latest/admin-api.md](https://github.com/apache/apisix/blob/master/docs/zh/latest/admin-api.md)

![image](

[2021-04-15 04:02] kongjun01 commented on #4049
thanks

[2021-04-15 04:21] spacewander commented on #4048
My bad. I underestimate the effect of the additional check.

No, the `vars` is still list type. The problem is that we add validation to reject empty table. We also update the dashboard but of course, the existing routes are broken now.

[2021-04-15 04:22] spacewander commented on #4048
Just submit a PR to fix it: https://github.com/apache/apisix/pull/4056

[2021-04-15 05:49] Gary-Airwallex opened #4057 "bug: setting an empty global rule stops route plugins from running?"
### Issue description
See steps to reproduce.

### Environment

* apisix version (cmd: `apisix version`): 2.5
* OS (cmd: `uname -a`): Ubuntu 18.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.4.0
* apisix-dashboard version, if have:

### Minimal test c

[2021-04-15 06:09] tx991020 opened #4058 "bug: grpc-transcode 只支持短链接，不支持grpc-stream, 希望增加grpc-stream支持"
### Issue description

### Minimal test code / Steps to reproduce the issue

  1.   service Say {
    // function which can be called
    rpc Send (SayRequest) returns (SayResponse);
    // we specify that we return a stream
    rpc SendStream(SayRequest) returns (stream SayResponse);
    // taking a stream as request
    rpc ReceiveStream(stream SayRequest) returns (SayResponse);
    // takes a s

[2021-04-15 06:24] moonming opened #4059 "request help: add APISIX plugin component id for skywalking"
### Issue description

related PR: https://github.com/apache/skywalking/pull/6757

We need to make changes on the Apache APISIX side. We can refer to https://github.com/apache/skywalking-nginx-lua/pull/74

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http:/

[2021-04-15 06:30] kongjun01 commented on #4049
the second routing rule must `/*`，because it is back server. the front server(the first routing rule) is
[code]

[2021-04-15 06:31] moonming commented on #4059
we need to update https://github.com/apache/apisix/blob/master/apisix/plugins/skywalking.lua

[2021-04-15 06:35] dmsolr commented on #4059
Hi, could assign it to me. I would like to do it. :)

[2021-04-15 06:50] spacewander commented on #1509
Solved.

[2021-04-15 06:50] #1509 closed

[2021-04-15 06:51] spacewander commented on #3903
Solved by #3915

[2021-04-15 06:51] #3903 closed

[2021-04-15 08:24] spacewander commented on #4048
Can be solved by applied #4056 or wait for 2.6 release.

[2021-04-15 08:24] #4048 closed

[2021-04-15 08:26] spacewander commented on #4048
BTW, none of the apisix-dashboard releases support APISIX 2.5 now. If you need to use the dashboard, please use APISIX 2.4

[2021-04-15 08:27] #4046 closed

[2021-04-15 08:29] kongjun01 commented on #4049
my front server route rule:
[code]

my back server route rule:
[code]

when i access `/test` , the match front route.  I don't think it works when there is an or regular expression.

[2021-04-15 08:30] benx203 commented on #3594
You can consider use this:
https://github.com/benx203/apisix/blob/jwt-auth-support-content/apisix/plugins/jwt-auth.lua

test:
payload is result of encodeURIComponent,eg:
payload:{"aaa":"11","bb":"222"},after encode is %7B%22aaa%22%3A%2211%22%2C%22bb%22%3A%22222%22%7D.

sign:
curl "http://127.0.0.1:9080/apisix/plugin/jwt/sign?key=user-key&payload=%7B%22aaa%22%3A%2211%22%2C%22bb%22%3A%22222%22%7D"

[2021-04-15 08:45] Firstsawyou commented on #4057
I tested it and reproduced it.

@spacewander  Should we need to fix it?

[2021-04-15 11:03] Marco-Zheng opened #4062 "bug: domian name/ip was disappeared after update"
### Issue description

Question 1: I update the domian name -> medcloud-dev.dental-practice-patient
and click the submit button, then i click update button again, the domian name/ip was disappeared after update

Question 2: What the  domian name/IP i should write in when i use k8cluster？if `medcloud-dev.dental-practice-patient` is supported? `medcloud-dev` is the namespace of service and `dental-p

[2021-04-15 11:43] tokers commented on #4049
@kongjun01 The Regex Pattern `/|/.+\\.html` absolutely can match the `/test`.

[2021-04-15 11:47] rdouman commented on #4048
Hi all

Thanks you for the quick response.  I just want to point out that I'm not using APISIX 2.5.  I'm using the docker image for APISIX /apache/apisix:2.2-alpine with the apache/apisix-dashboard:2.3 dashboard.

One thing that I've noticed is that the apache/apisix:2.2-alpine has been updated 10 days ago, so my question is has this image perhaps been erroneous updated ?

I've tracked down the in

[2021-04-15 12:46] kongjun01 commented on #4049
So the `var` match doesn't fulfill my requirement. whether `uris` can be support matched regular expression , or the end match?

[2021-04-15 13:45] tokers commented on #4049
This is another problem about how to write correct regex pattern. What about `"^/$|/.+\\.html"`

[2021-04-15 13:48] #4041 closed

[2021-04-15 14:11] gxthrj commented on #4040
@dickens7 Do you mean set `service_instance_name ` with the real APISIX instance name?

For example, In k8s set `service_instance_name` with APISIX pod name.

[2021-04-15 14:28] Firstsawyou commented on #4032
Did you check if the `access token` is valid?
Or provide your configuration information?

[2021-04-15 14:34] dickens7 commented on #4040
yes, it's necessary when there are many nodes.

[2021-04-15 14:42] Marco-Zheng opened #4063 "bug: the route which was create by dashboard is invalid"
### Issue description
Here has a problem, i configure the route /patient/patient/* as below , but it also said that 404 Route Not Found
curl -i -X GET http://ip:host/patient/patient/id -H "Host: httpbin.org" -H 'apikey: superSecretAPIKey'

It was amazing that there had no route of /get which i was update to/patient/patient/* can get the reseult..
curl -i -X GET http://ip:host/get -H "Host: httpbin

[2021-04-15 15:43] Firstsawyou commented on #4063
You should check whether there is route data created by Dashboard in etcd?

[2021-04-15 16:05] Firstsawyou opened #4064 "docs(jwt-auth): Improve the picture in the jwt-auth plugin"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

As shown in the picture below, the configuration in the picture where the jwt-auth plug-in is added to the consumer page is not standardized.

<img width="857" alt="截屏2021-04-16 上午12 02 05" src="https://user-images.githubusercontent.com/52862365/114901098-0ba28900-9e47-11eb-8ee4-62c5930e7ed3.png">

## Describe

[2021-04-15 18:42] hozaifaaoud commented on #4054
Thank you for your response,
I tried your solution and currently, I am facing this issue
![image](https://user-images.githubusercontent.com/79872781/114921608-0a636300-9e2b-11eb-8fc0-bf1bb522a3b2.png)
could you please help me?

[2021-04-15 20:05] hozaifaaoud opened #4065 "404 Not Found"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): APISIX/2.3
* OS (cmd: `uname -a`): #60-Ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
Hi all,
I am new to APISIX.
I just trying to create a

[2021-04-16 01:08] Firstsawyou commented on #4054
You should provide detailed configuration information to facilitate troubleshooting.

[2021-04-16 01:17] Firstsawyou commented on #4065
It looks like your upstream does not have the `/testrouting` API. You should try to request `curl http://127.0.0.1:9090/testrouting` to see if the access is successful?

[2021-04-16 01:20] hozaifaaoud commented on #4054
here is the configuration file :

apisix:
  node_listen: 9080              # APISIX listening port
  enable_ipv6: false

  allow_admin:                  # http://nginx.org/en/docs/http/ngx_http_access_module.html#allow
    - 0.0.0.0/0              # We need to restrict ip access rules for security. 0.0.0.0/0 is for test.

  admin_key:
    - name: "admin"
      key: edd1c9f034335f136f87ad84b625c8f1

[2021-04-16 01:22] tokers commented on #4063
Could you see this route on dashboard ?

[2021-04-16 01:24] hozaifaaoud commented on #4065
I tried this curl http://127.0.0.1:9090/testrouting
and here is the response
[image: image.png]

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
04/16/21,
03:24:24 AM

On Fri, Apr 16, 2021 at 3:17 AM Yuelin Zheng

[2021-04-16 01:27] tokers commented on #4054
Have you ever tried to access the upstream endpoint directly? It seems like this 404 response is not generated by apisix.

[2021-04-16 01:58] dickens7 opened #4066 "bug: Advanced route matching condition is invalid"
### Issue description

When the uri of the two routes are the same, the upstream is inconsistent. One is to set the advanced routing "header route", and one is ordinary route. When the weights of the two routes are the same or the weight of the ordinary route is greater than that of the advanced route, the advanced route cannot be hit.

### Environment

* apisix version (cmd: `apisix version`):
 2

[2021-04-16 02:00] hozaifaaoud commented on #4054
yes I tried accessing the service directly
my test API is up and running in this port  9090
here is the request
curl  http://127.0.0.1:9090/
and here is the response
![image](https://user-images.githubusercontent.com/79872781/114960899-42d56200-9e68-11eb-9907-43ebba2bff3c.png)

[2021-04-16 02:17] Marco-Zheng commented on #4063
Yes, i can see the route.

[2021-04-16 02:41] Marco-Zheng commented on #4063
In order to make it clear , i delete all route and will try to reenact the bug
- Firstlly, i add a route by apisix admin api (not on dashboard) as below and it show on dashboard successfully.
![image](https://user-images.githubusercontent.com/52538259/114963392-3ae4e480-9e9f-11eb-83aa-c5354f546216.png)
![image](https://user-images.githubusercontent.com/52538259/114963234-d9bd1100-9e9e-11eb-9d3f-98

[2021-04-16 02:44] Marco-Zheng commented on #4063
I have written down the detailed reproduction process on below comment

[2021-04-16 02:50] Firstsawyou commented on #4066
Different routes have the same uri, if you want to set advanced routing rules to match, then you need to set advanced routing rules for them at the same time. Here are some examples of routing rules, you can refer to: https://github.com/apache/apisix/blob/master/docs/en/latest/router-radixtree.md#4-different-routes-have-the-same-uri

[2021-04-16 02:56] zwjzxh520 commented on #3988
不知道为什么会将这几行代码去掉？
` local ok, err = red:set_keepalive(10000, 100)
    if not ok then
        return nil, err
    end`

[2021-04-16 02:58] Marco-Zheng commented on #4063
I also check the etcd, two route are all exsist
![image](https://user-images.githubusercontent.com/52538259/114965161-a1b7cd00-9ea2-11eb-8472-bfd5e7e09dae.png)

[2021-04-16 02:59] Marco-Zheng commented on #4063
Like this:
{"update_time":1618539226,"create_time":1618539226,"host":"httpbin.org","upstream_id":"51","uri":"\/patient\/patient\/*","status":1,"priority":0,"id":"10"}
/apisix/routes/350662478968914814
{"id":"350662478968914814","create_time":1618540724,"update_time":1618540724,"uris":["/member/member/*"],"name":"test","methods":["GET","HEAD","POST","PUT","DELETE","OPTIONS","PATCH"],"hosts":["httpb

[2021-04-16 03:16] dickens7 commented on #4066
i see, thanks.

[2021-04-16 03:16] #4066 closed

[2021-04-16 03:56] ychdesign commented on #3988
sorry. I ignored it by mistake. would you make a pr to solve that？

[2021-04-16 03:58] spacewander commented on #4063
It is a known issue. The dashboard in the helm chart is too old:
https://github.com/apache/apisix-helm-chart/blob/e26517c5302d3d839c2f483a211c60dd55d43c0d/charts/apisix-dashboard/values.yaml#L27

We will fix it once a new dashboard version is released (none of the releases of dashboard support APISIX 2.5 yet).

[2021-04-16 04:01] spacewander commented on #4040
@dickens7
PR is welcome!

[2021-04-16 04:02] Marco-Zheng commented on #4063
Ok, it main caused per `var:[]`
![image](https://user-images.githubusercontent.com/52538259/114969606-4ccc8480-9eab-11eb-91a9-c46dbc4c972f.png)

So, which version is ok at this time, or we need deploy apisix & apisix dashboard & apisix ingress controller & etcd in k8s without using apisix-helm-chart?

[2021-04-16 04:04] spacewander commented on #4063
You can use APISIX 2.4 + APISIX dashboard 2.5

@tokers
What is the version requirement for the ingress controller?

[2021-04-16 04:10] Firstsawyou commented on #4065
What is the route configuration in your etcd?
What is the log information of access.log?

[2021-04-16 05:48] dickens7 commented on #4040
ok, assign it to me.

[2021-04-16 05:52] tokers commented on #4063
Just use apisix-ingress-controller `0.5.0` is OK.

[2021-04-16 05:55] Marco-Zheng commented on #4063
@tokers @spacewander Thanks a lot, i'll try to deploy your mentioned apisix version.

[2021-04-16 06:03] Firstsawyou commented on #4054
You try to access like this, is there any response data?

[code]

[2021-04-16 07:37] oldthreefeng opened #4067 "bug: Updating the ssl certificate does not take effect"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS (cmd: `uname -a`): centos 7.9，
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
[code]
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
[code]
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce t

[2021-04-16 08:19] Marco-Zheng commented on #4063
@tokers @spacewander @Firstsawyou The problem has bean solved, many thanks! i'll close the issue.

[2021-04-16 08:19] #4063 closed

[2021-04-16 08:28] Firstsawyou commented on #4067
The apisix version is too old, it is recommended to use the latest version to try. Not sure if it has been repaired, you can check the CHANGELOG.md file to make sure.

[2021-04-16 09:27] #4059 closed

[2021-04-16 09:38] Marco-Zheng opened #4071 "request help: Decode secret is not a valid cert, public key: bad base64 decode"
### Issue description
I configure consumer with jwt-auth plugin
![image](https://user-images.githubusercontent.com/52538259/115005330-57ead900-9eda-11eb-9422-ae067b01ddf8.png)
and got token successfully
![image](https://user-images.githubusercontent.com/52538259/115005403-676a2200-9eda-11eb-849d-535b1fb1f832.png)
but it throw below exception, may i know what's the problem in that case
![image](htt

[2021-04-16 11:01] hozaifaaoud commented on #4065
here is my access log
[access log.txt](https://github.com/apache/apisix/files/6324337/access.log.txt)
and here is the error log
[error log.txt](https://github.com/apache/apisix/files/6324425/error.log.txt)
for the route configuration in  etcd... where can I find it?

[2021-04-16 11:09] #4047 closed

[2021-04-16 13:12] hozaifaaoud commented on #4054
calling this url
 curl http://127.0.0.1:9090/testrouting
returns  my service response
![image](https://user-images.githubusercontent.com/79872781/115029337-2cf68a00-9ec6-11eb-9a3f-190395f72071.png)

[2021-04-16 16:18] Firstsawyou commented on #4065
You can try to get the route data in etcd like this:

[code]

Judging from the access log information, society is the upstream service 404.
Maybe you can provide detailed request information to access upstream, like this:

[code]

[2021-04-16 16:20] Firstsawyou commented on #4054
This issue is the same as https://github.com/apache/apisix/issues/4065 , and we will discuss it on https://github.com/apache/apisix/issues/4065.

[2021-04-16 17:58] hozaifaaoud commented on #4065
Here are the routes:
[routes.txt](https://github.com/apache/apisix/files/6327085/routes.txt)
after running this curl
curl http://127.0.0.1:9080/testrouting -i
here is the response
![image](https://user-images.githubusercontent.com/79872781/115065139-0fd5b180-9eee-11eb-8bf9-6f1c47837c3a.png)

[2021-04-17 11:57] tokers commented on #4065
It seems the route which uri is/testrouting is invalid, because the embedded upstream using chash as the load balancer, and hash_on is vars, but the key is missing, which is required when hash_on is vars.

So this route might not loaded by apisix.

[2021-04-17 13:41] Firstsawyou commented on #4071
This seems to be a problem with the configured `public_key`, you need to check it.

[2021-04-17 14:52] hozaifaaoud commented on #4065
So what do you recommend to solve this problem?

On Sat, Apr 17, 2021 at 1:57 PM Alex Zhang ***@***.***> wrote:

[2021-04-17 17:25] Firstsawyou commented on #4065
This seems to be an upstream problem, here is my example. When the upstream 404 is as follows:

route config:
[code]

[code]

When accessing a route that does not exist, this is the 404 message output by apisix:

[code]

Therefore, you should double check whether the upstream service is normal or check whether the upstream log has 404 information. This 404 message should be returned from upstream.

[2021-04-18 02:25] tokers commented on #4065
If you can see these routes on your apisix-dashboard, upgrading your apisix-dashboard to the matched version (for your case, apisix is `2.3`, so you should use apisix-dashboard `2.4`), deleting these routes and rebuilding them.

[2021-04-18 07:28] sniper-xx opened #4074 "request help: How to rewrite the data of backend server response?"
### Issue description
I want to developing a plugin of apisix to fulfill unified format encapsulation. for example:
[code]
I writed a plugin , override the  _M.body_filter method, but the funcation is not work correct. the code:
[code]

the error is:
1、sometimes the client browser is not receive integrated json ;
2、the cjson_decode is error, printed error is : Expected end but to_obejct_begin.

My

[2021-04-18 07:31] sniper-xx commented on #4074
Or how get the upstream server addr and rewrited request uri, I send subrequest to get data from backend server in phase of rewrite or access. the resovlution is ok?

[2021-04-18 08:42] Firstsawyou commented on #4074
How to rewrite the backend server response data, you can try to use the `response-rewrite` plugin,
https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/response-rewrite.md

[2021-04-18 10:35] sniper-xx commented on #4074
@Firstsawyou I refer to this plugin to write a new plugin.  there are tow defferences:
1、 The ‘body' which is not static, is from the backend service;
2、The body content is very large.  function of body_filter executed many times;
I  try to concatenate the chunck of every body_filter function received  from backend,but can't not correct serialize to integrated json document.

[2021-04-19 00:51] spacewander commented on #4071
@Marco-Zheng
Can you provide a pasteable version of the configuration so we can check it by ourselves?

[2021-04-19 01:22] tokers commented on #4074
I took a glance of your custom `_M.body_filter`, where is your `backend_content` variable? Also, when the response body is large, the string concatenation is inefficient.

[2021-04-19 01:37] sniper-xx commented on #4074
@Firstsawyou The problem has resovled.  the reason is:
for the large json response, the _M.body_filter will execute many times.  I store every  ngx.arg[1] to  variable backend_content, but the ngx.arg[1] not clear, so ,the final result is repeated.
solution:
[code]

[2021-04-19 01:40] Firstsawyou commented on #4074
Got it.

[2021-04-19 02:11] Marco-Zheng commented on #4071
the public key as below(remark: xxxxxxx@xxxx.cn is email, please ignore)
[code]

[2021-04-19 02:13] Marco-Zheng commented on #4071
I try to change another one , but also failed.

[2021-04-19 02:33] #3959 closed

[2021-04-19 02:36] Firstsawyou commented on #4071
Did you try to regenerate the token value, try again? Or provide a reproducible configuration, let's check it.

[2021-04-19 02:36] Marco-Zheng commented on #4071
private key
[code]
public key
[code]

[2021-04-19 02:40] Marco-Zheng commented on #4071
Yeap, i paste the public key and private as above, and generate rsa key by using `ssh-keygen -t rsa -C`

[2021-04-19 02:46] Yiyiyimu opened #4076 "docs: remove leading `$` of each bash command"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Currently in [`getting-started`](https://github.com/apache/apisix/blob/master/docs/en/latest/getting-started.md), there would always be a `$` at the front of each command, which makes users hard to do three-click to directly copy the whole command and run without modification. They have to manually delete `$`.

[2021-04-19 02:48] Marco-Zheng commented on #4071
please remind to delete the blank space for private key, here is the correct copy one
[code]

[2021-04-19 03:15] Firstsawyou commented on #4071
The format of the key you generated is wrong, you should use the key in `PEM` format. like this:

public key:

[code]

private key:

[code]

[2021-04-19 03:24] Firstsawyou commented on #4071
It is not possible to use such a public key format, we need to use the `PEM` format. You can convert to a public key in PEM format with the following command:

[code]

[2021-04-19 03:24] Ben0625 opened #4077 "passive healthcheck not working after configuration changing"
### Issue description
When both active and passive configuration are updated from only active configuration, the http statuses of passive become an empty table which causes passive healthcheck not working.

### Environment
* apisix version: 2.0
* OS: 3.10.0-693.el7.x86_64
* OpenResty version: openresty/1.17.8.2
* etcd version: 3.4.13
* apisix-dashboard version: 2.0

### Minimal test code / Steps t

[2021-04-19 03:37] izayoi-akira opened #4078 "request help:"
### Issue description
关于jwt-auth，`/apisix/plugin/jwt/sign`可以获取token，并且访问成功
但是有个需求，是如何让apisix或者上游知道是哪个消费者访问的？

[2021-04-19 03:43] izayoi-akira commented on #4078
How can I get the consumer message which requeset the upstream by upstream or apisix

[2021-04-19 03:46] Marco-Zheng commented on #4071
It works, thanks a lot, i'll close the issue

[2021-04-19 03:46] #4071 closed

[2021-04-19 04:16] Firstsawyou commented on #4078
According to the existing configuration in the `consumer`, when you access authentication, it will be authenticated with the information configured in the consumer according to the token you use.

You can refer to the consumer-restriction plugin, through which you can do corresponding access restrictions.

[2021-04-19 04:21] Firstsawyou commented on #4077
You should provide the corresponding health check configuration information so that we can check it.

[2021-04-19 05:39] izayoi-akira commented on #4078
Access Restrictions is not what I want, I want upstream to know witch consumer is accessing it.

for example:
There are two consumers: consumers1 and consumers2,they got token1 and token2 with `/apisix/plugin/jwt/sign`.
Then they both access the upstream api: `xxx.com/articel/add`,now xxx.com wants to know if it was consumers1 or consumers2 that access it

[2021-04-19 05:40] izayoi-akira commented on #4078
Access Restrictions is not what I want, I want upstream to know witch consumer is accessing it.

for example:
There are two consumers: consumers1 and consumers2,they got token1 and token2 with /apisix/plugin/jwt/sign.
Then they both access the upstream api: xxx.com/articel/add,now xxx.com wants to know if it was consumers1 or consumers2 that access it

[2021-04-19 06:25] Ben0625 commented on #4077
For Step 1:
"checks": {
			"active": {
				"healthy": {
					"interval": 100,
					"successes": 4
				},
				"host": "aaa.com",
				"http_path": "/check.do",
				"timeout": 3,
				"unhealthy": {
					"http_failures": 5,
					"interval": 3
				}
			}
		}

For Step 3:
"checks": {
		"active": {
			"healthy": {
				"interval": 100,
				"successes": 4
			},
			"host": "aaa.com",
			"http_path": "/check

[2021-04-19 06:26] imjoey opened #4079 "docs(get-started): the link should be to dashboard instead of APISIX"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

On page http://apisix.apache.org/docs/apisix/getting-started#apisix-dashboard, the current link of the word `Dashboard` is `https://github.com/apache/apisix`. IMHO, this should be changed to `https://github.com/apache/apisix-dashboard` instead.

## Describe the solution you'd like

We could refer to https://git

[2021-04-19 07:09] kongjun01 commented on #4049
it is ok , thanks~

[2021-04-19 07:09] #4049 closed

[2021-04-19 07:13] Firstsawyou commented on #4078
You can try to use the proxy-rewrite plugin to add the consumer nam field to the request header and carry it upstream. like this:

[code]

[2021-04-19 07:23] zwjzxh520 opened #4080 "bug: limit-count 中 count 值未生效"
### Issue description
limit-count 中的 count 值未生效，压测时，常常能跑到设置值的3倍左右，比如，count 设置为 2000，发现能跑到 6000，local 与 redis 均有测试

插件中 redis 操作代码已经根据 #3988 调整

apisix 是跑在 k8s 中，一个 pod

插件配置
[code]

### Environment

* apisix version (cmd: `apisix version`):  2.4
* OS (cmd: `uname -a`): image: *apache/apisix:2.4-alpine*  uname -a : *Linux apisix-7bffcdb47d-hxz4l 3.10.0-1127.13.1.el7.x86_64 #1 SMP Tue Jun 23 15:46:3

[2021-04-19 07:24] izayoi-akira commented on #4078
Thanks a lot !!!

[2021-04-19 08:02] Firstsawyou commented on #4080
The value of the `time_window` field in the plug-in configuration is set to 1 second, you should try to set the `time_window` value larger. Because `time_window` represents the size of the time window (in seconds), the `count` will be reset after this time.

[2021-04-19 08:21] #4078 closed

[2021-04-19 08:30] zwjzxh520 commented on #4080
我的需求是每秒限制 2000 请求，难道这样配置不符合吗？
设置成
time_window: 2
count: 4000
这样吗？

[2021-04-19 08:42] Firstsawyou commented on #4080
This is reasonable. But time_window is set to 1 second, which is too short. It is not guaranteed that all requests will be completed within 1 second. When the request exceeds 1 second, the `count` value will be reset. The effect of the limit-count plug-in will be sent as it is now.
You can first set the value of `time_window` to a larger value, which makes it easier to test out the function of the

[2021-04-19 08:46] zwjzxh520 commented on #4080
好的，明白您说的意思了

[2021-04-19 09:01] spacewander commented on #3367
You can write a component to convert error message in the error log to k8s events API or somewhere else. The APISIX may run in many different ways and there is not always k8s or stdout available.

[2021-04-19 09:25] juzhiyuan commented on #3792
done

[2021-04-19 09:26] juzhiyuan commented on #3792
sorry to close this issue by mistake, dashboard has been updating & set as optional.

[2021-04-19 09:39] orange0cat commented on #3702
I also had this problem and solved it by configuring etcd srv name like "xxx.ingress-apisix.svc.cluster.local:2379".

[2021-04-19 09:57] zwjzxh520 commented on #4080
[code]

![image](https://user-images.githubusercontent.com/2184202/115217989-aa293580-a138-11eb-8577-31daa6d3e433.png)

我们将 time_window 设置为了 60 s， 从压测结果中可以看出，控频是有波动的

上游接收到的请求数：

[code]
从 apisix 穿透到上游每分钟的请求数，远远大于我们设置的阈值 60000

[2021-04-19 10:10] spacewander commented on #4080
This problem is very relative to the actual environment, including how your load tester works, the network between your services, etc. As it is not easy to reproduce at our side correctly, you may need to add more logs to the limit-count plugin to see which side has missing count.

[2021-04-19 10:19] zwjzxh520 commented on #4080
是的，这个也能理解你们的难处。

麻烦提供一些可以排查的方向，也是感激不尽

[2021-04-19 11:23] spacewander commented on #4080
Maybe you can log down the remaining there and compare it with the access log?
https://github.com/apache/apisix/blob/43b6e0d1504cab9fe41dd517a7d3770d57e21613/apisix/plugins/limit-count/limit-count-redis-cluster.lua#L97

[2021-04-19 11:29] Firstsawyou commented on #4077
I tested it, by looking at the log output, and it worked.

[2021-04-19 12:50] tokers commented on #4077
@Ben0625 Could you try the `2.5` version? And test it whether it can be reproduced in `2.5`?

[2021-04-19 12:59] riskgod opened #4083 "request help: hmac {"message":"Invalid signature"} in POST test"
### Issue description
hey, I am using node to create the X-HMAC-SIGNATURE, but it always return "Invalid signature"
#### create one consumer

[code]
#### enable the plugin global
[code]
#### set upstream
[code]
#### set router
[code]

#### Use node.js to create the signature
[code]

#### Test the plugin
[code]

#### Result

[code]

[2021-04-19 14:03] Firstsawyou commented on #4083
According to the signature formula `signing_string = HTTP Method + \n + HTTP URI + \n + canonical_query_string + \n + access_key + \n + Date + \n + signed_headers_string`, you can try the following signature string:

[code]

[2021-04-19 14:14] #3988 closed

[2021-04-19 18:52] hozaifaaoud commented on #4065
I tried but in vain.
do you have time to join me in a zoom call to test it with me?@tokers

[2021-04-19 21:44] #4065 closed

[2021-04-20 01:47] #4083 closed

[2021-04-20 03:12] Ben0625 opened #4084 "Failed installing dependencies"
make deps
### Environment
* apisix version: 2.5
* OS: 3.10.0-693.el7.x86_64
* OpenResty version: openresty/1.17.8.2

Error: Failed installing dependency: https://luarocks.org/luasec-0.9-1.src.rock - Could not find header file for OPENSSL
  No file openssl/ssl.h in /usr/local/openresty/openssl111/include
You may have to install OPENSSL in your system and/or pass OPENSSL_DIR or OPENSSL_INCDIR to the

[2021-04-20 03:41] Firstsawyou commented on #4084
Is the dependency of APISIX installed according to the documentation here? https://github.com/apache/apisix/blob/master/docs/en/latest/install-dependencies.md

[2021-04-20 04:07] spacewander commented on #4084
Do you install openresty-openssl111-devel? What's the output of `ls -R /usr/local/openresty/openssl111/include`?

[2021-04-20 06:32] Ben0625 commented on #4084
This is exactly the problem.
For those that may have the same probelm: I failed to install by yum, then I fixed it through https://www.programmersought.com/article/44521860037/

Then I install openresty-openssl111-devel by yum. Then "make deps" success.
Big thanks.

[2021-04-20 06:32] #4084 closed

[2021-04-20 07:00] oldthreefeng commented on #4067
fixed ~~

[2021-04-20 07:00] #4067 closed

[2021-04-20 07:02] zwjzxh520 commented on #4080
感谢，找到原因了，是我们的统计有误

[2021-04-20 07:02] #4080 closed

[2021-04-20 07:34] Ben0625 commented on #4077
I tried the 2.5 version and it can be reproduced. Let me provide more details.
Step 1. Set a route with two upstreams(/test.do) and healthcheck active configuration(/check.do) through dashboard.
Step 2. Send a request to trigger creating new checker. By looking at the log output before and after to_set() function:

{
1 = 429,
2 = 500,
3 = 503,
}
defaults.checks.passive.unhealthy.http_statuses afte

[2021-04-20 09:15] Firstsawyou opened #4086 "feat: response-rewrite plugin response header rewriting supports NGINX variables"
### Issue description

Background:

Current user feedback that the response-rewrite plug-in response header rewrite does not support NGINX variable mode. If you want to carry some parameters in the request (for example: cookie in the request header) into the response header, then the response-rewrite plug-in is implemented It's impossible.

Purpose:

If the response header of the response-rewrite

[2021-04-20 12:59] Ben0625 opened #4090 "Request help: Correspondence between matched rules and upstreams within one route"
Request:

For now, if I have 10 correspondence, I have to create 10 routes with the same path "/test". Then set one correspondence for each route.
I check `traffic-split` plugin, it works well for 2 upstreams, but it doesn't seem to match more than 2 correspondence.

Is it possible to set just one route and have multiple correspondence as `Request` describes?

[2021-04-20 15:01] membphis opened #4091 "feature: support to fetch balancer `ip`/`port` from `ctx.vars`"
we have stored the upstream ip/port in `ctx` object, here is the link: https://github.com/apache/apisix/blob/master/apisix/balancer.lua#L204-L205

we should support to fetch from `ctx.vars`, here is the example:

[code]

Then we can use this value in plugins(eg: SkyWalking).

I think we can use the same way as "consumer_name", which is the code link:

https://github.com/apache/apisix/blob/master/a

[2021-04-20 15:03] membphis commented on #4091
@moonming welcome to take a look at this issue

and I think @Firstsawyou should familiar with this feature, welcome to make a try.

[2021-04-21 00:56] #4079 closed

[2021-04-21 01:03] spacewander commented on #4090
You can write your own plugin like traffic-split.

[2021-04-21 01:30] Firstsawyou commented on #4090
You can try the traffic-split plug-in. Here is an example of configuration:

[code]

However, it may not take effect in APISIX 2.5. You can try it in versions before 2.5.

[2021-04-21 02:37] Firstsawyou commented on #4091
Assigned to me.

[2021-04-21 03:33] hzbd opened #4093 "bug: The manager-api and apache apisix are mismatched?"
### Issue description
Request Error Code: 2000001
The manager-api and apache apisix are mismatched.

![image](https://user-images.githubusercontent.com/3000843/115492830-29cc1700-a295-11eb-9613-5d4e4ba12d07.png)

### Environment

**CentOS 7.9**
[root@xxx dashboard]# ./manager-api -v
**Version : 2.5
GitHash : 5c95d97**
[root@xxx dashboard]# apisix version
**/usr/local/openresty/luajit/bin/luajit /u

[2021-04-21 03:38] hzbd commented on #4093
Maybe I should submit it to the apisix-dashboard side.

[2021-04-21 03:38] #4093 closed

[2021-04-21 04:41] StretchV opened #4094 "request help: How to configure apisix and dashboad if etcd turns on certificate authentication"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.3

[2021-04-21 06:14] Firstsawyou commented on #4094
In the APISIX configuration file, there is a default `etcd. tls.verify` as true. Is this okay?

https://github.com/apache/apisix/blob/964a92ee773264999eb67d0cd5539baf8961001b/conf/config-default.yaml#L200-L202

[2021-04-21 06:47] totemofwolf opened #4095 "bug: cors() does not work after modifying"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): APISIX/2.5
* OS (cmd: `uname -a`): 2.5-alpine
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.4
* apisix-dashboard version, if have: 2.5

### Minimal test code / Steps to reproduce t

[2021-04-21 06:48] Firstsawyou commented on #4094
The configuration of etcd client certificate is not supported in APISIX 2.3. It is only supported in APISIX 2.5 This is the configuration information of etcd in 2.5

https://github.com/apache/apisix/blob/b17bb8fe728583dbb1f41bccc9c22fc8081ce5e0/conf/config-default.yaml#L204-L210

Dashboard's etcd client certificate configuration try to configure it here?
https://github.com/apache/apisix-dashboard/

[2021-04-21 07:09] cverdela opened #4096 "request help: plugin proxy-rewrite in service not work"
### Issue description
service:
{
    "update_time": 1618987372,
    "id": "348075546078347976",
    "upstream_id": "351386306183430857",
    "plugins": {
        "proxy-rewrite": {
            "headers": {
                "Authorization": "Basic Y2p0ZXN0OjEyMw=="
            }
        },
        "serverless-pre-function": {
            "disable": false,
            "phase": "rewrite",

[2021-04-21 07:16] Ben0625 commented on #4090
I modify some input args at Line 281 of traffic-spllit.lua and try it in version 2.0 and there exist a bug. When I first send a request with "id = 1", it correctly chooses upstream_A. But after that, no matter what I send with "id = 1" or "id = 2", it always chooses upstream_A and never chooses upstream_B.

Then I reload APISIX, this time I first send a request with "id = 2", it correctly chooses

[2021-04-21 07:23] Firstsawyou commented on #4095
`*` is used in other options, so the `allow_credential` field should not be set to `true`.
<img width="1022" alt="截屏2021-04-21 下午3 16 44" src="https://user-images.githubusercontent.com/52862365/115513163-598b1700-a2b5-11eb-9fa6-122df672cb95.png">

[2021-04-21 07:38] Firstsawyou commented on #4090
Yes, this is a known bug. If you want to implement this function in APISIX 2.5, you can refer to the following PR to modify the traffic-split.lua code.
https://github.com/apache/apisix/pull/4092/files#diff-95a2018f002f15f5fb0714075b5ef27a1db113c186bfe20ae705f6023080b38fL280-L283

[2021-04-21 07:39] StretchV commented on #4094
ok thx you

[2021-04-21 07:39] #4094 closed

[2021-04-21 07:42] Ben0625 commented on #4090
I try your change and it works!
`local rr_up, err = lrucache(weighted_upstreams, nil, new_rr_obj, weighted_upstreams)`
Good job! @Firstsawyou

[2021-04-21 07:54] Firstsawyou commented on #4096
According to the information provided, it cannot be seen that the proxy-rewrite plugin does not take effect. Can your upstream receive the request header of `"Authorization": "Basic Y2p0ZXN0OjEyMw=="`?

[2021-04-21 07:57] Firstsawyou commented on #4095
I tried it and it worked. You should check if there is a cors plugin configuration elsewhere?

[2021-04-21 08:15] cverdela commented on #4096
can't

[2021-04-21 08:25] cverdela commented on #4096
the upstream is another route with  plugin that

[code]

and logs were

[code]

and access log were

[code]

[2021-04-21 08:26] cverdela commented on #4096
@Firstsawyou

[2021-04-21 08:33] a360200314 commented on #487
组织：奥格科技股份有限公司
地址：中国.广东.广州
联系方式：360200314@qq.com
使用场景：奥格云平台所有产品服务网关

[2021-04-21 08:53] Firstsawyou commented on #4096
These two routes are not related and cannot be used as upstream to receive request data. You can configure a real upstream service to receive proxy-rewrite plugin request data and print it out.

[2021-04-21 08:57] zouyongsheng opened #4098 "request help: The http-logger plug-in encountered an unacceptable log information"
**Issue description**
The http-logger plug-in is opened in route, and the demo program is configured to receive log information, save relevant information, and test. The demo program cannot receive the corresponding log information

 **Environment**
* apisix version (cmd: `apisix version`):2.5
* OS (cmd: `uname -a`): Linux 3.10.0-862.el7.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `open

[2021-04-21 09:12] Firstsawyou commented on #4098
Is there any output in your error.log?

[2021-04-21 09:16] zouyongsheng commented on #4098
There is no error log information

[2021-04-21 09:35] cverdela commented on #4096
If there is any problem, you should trust me and repeat it

[2021-04-21 09:42] totemofwolf commented on #4095
I only set this in route, but it does not work any more.

[code]

[2021-04-21 09:50] #3736 closed

[2021-04-21 09:51] #1802 closed

[2021-04-21 10:26] zuoshaoyi opened #4100 "bug: 设置upstream healthcheck后会把原来的router 关联的upstream 覆盖"
没设置健康检查时router配置:
[root@docker2 ~]# ETCDCTL_API=2 etcdctl get  /apisix/routes/00000000000000000028
{"upstream_id":"00000000000000000014","uris":["\/index.html"],"plugins":{},"priority":0}

使用 https://github.com/apache/apisix/blob/master/docs/en/latest/health-check.md 设置健康检查，调用参数如下:
curl http://127.0.0.1:9080/apisix/admin/routes/00000000000000000028  -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1'

[2021-04-21 10:26] spacewander commented on #4095
How do you hit the route with curl? AFAIK, curl doesn't send Origin header by default.

[2021-04-21 10:48] #4032 closed

[2021-04-21 10:50] tokers commented on #4100
@zuoshaoyi
It's an expected behavior as you use `PUT` method.

[2021-04-21 10:54] zuoshaoyi commented on #4100
还有其它方式能更新router upstream 健康检查配置不？

[2021-04-21 10:54] zuoshaoyi commented on #4100
而且，在dashboard上操作router 配置，健康检查的配置会被刷掉

[2021-04-21 10:55] tokers commented on #4100
@zuoshaoyi Please http://apisix.apache.org/docs/apisix/admin-api for details, also, please use English in public channel.

I'm not sure the HTTP method use by apisix-dashboard. @juzhiyuan Need your help.

[2021-04-21 11:02] zuoshaoyi commented on #4100
ok,thanks

[2021-04-21 12:06] hwlzs opened #4101 "request help: How can I add passive health check to discovery register"
### Issue description

I am trying to write a new consul discovery register ,  i found if the ip lists are not updated from consul center ,  the apisix balance (type is roundrobin) can not automatically remove unhealthy ip by passive healthy check.
How can i conveniently realize this feature？

### Environment

* apisix version (cmd: `apisix version`): 2.4
* OS (cmd: `uname -a`): Linux centosT-ImgB

[2021-04-21 13:34] juzhiyuan commented on #4100
Hi @zuoshaoyi, may I know what's your dashboard's version? You could see them on the server info page (On the left sidebar).

BTW, days ago, we just fixed some issues on the Upstream module, which includes the Health Checker configuration, you could have a try on the latest codes, it's compatible with Apache APISIX 2.5.

[2021-04-21 13:41] Ben0625 opened #4102 "Passive healthcheck not working when a route has only one upstream"
### Environment
* apisix version: 2.0
* OS: 3.10.0-693.el7.x86_64
* OpenResty version: openresty/1.17.8.2
* etcd version: 3.4.13
* apisix-dashboard version: 2.0

### Minimal test code / Steps to reproduce the issue
1. Set a route with only one upstream. Add active and passive healthcheck.
2. Send requests.

### What's the actual result?
Even if this upstream always return 500, the passive healthch

[2021-04-21 13:46] zuoshaoyi commented on #4100
thanks~ my apisix version is 1.3,later i will try with apisix 2.5 .

[2021-04-21 14:04] Ben0625 opened #4103 "bug: Multiple unhealthy HTTP increment if the size of passive.unhealthy.http_statuses is more than 1"
### Issue description
One request with unhealthy code returned will cause multiple unhealthy HTTP increment if the size of passive.unhealthy.http_statuses is more than 1.

### Environment
* apisix version: 2.0
* OS: 3.10.0-693.el7.x86_64
* OpenResty version: openresty/1.17.8.2
* etcd version: 3.4.13
* apisix-dashboard version: 2.0

### Minimal test code / Steps to reproduce the issue
The route con

[2021-04-21 14:12] spacewander commented on #4102
It is by design. If you only have one upstream, you don't need to care about which one is healthy. You only have one choice.

[2021-04-21 14:13] juzhiyuan commented on #4100
🤣🤣 wow, maybe you could have a try on Apache APISIX 2.5 & Apache APISIX Dashboard 2.6 (will release tomorrow maybe)

[2021-04-21 14:13] spacewander commented on #4101
Could you provide more details about how you configure the upstream and consul?

[2021-04-21 14:19] zuoshaoyi commented on #4100
Sorry, I refer to this article to install Apisix. It seems that article is a bit old(https://www.jianshu.com/p/19607e0c7005)

[2021-04-22 01:06] spacewander commented on #4103
CC @membphis
Is there special meaning for the double loop?

[2021-04-22 01:35] cverdela opened #4104 "bug: if route has a proxy-rewrite plugin ， proxy-rewrite plugin in service does not take effect"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.3  (docker image  apache/apisix:2.3-alpine )
* OS (cmd: `uname -a`):Linux 570c5064c3f9 4.9.93-linuxkit-aufs #1 SMP Wed Jun 6 16:55:56 UTC 2018 x86_64 Linux    ( docker )
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v

[2021-04-22 01:37] cverdela commented on #4096
https://github.com/apache/apisix/issues/4104 bug

[2021-04-22 02:00] Ben0625 commented on #4102
OK I got it, Thanks. I think it will be clearer for users if this is mentioned in the healthcheck document.

[2021-04-22 02:12] spacewander commented on #4104
Can't reproduce at my side. I got:
[code]

Here is my route configuration:
[code]

[2021-04-22 02:12] spacewander commented on #4096
surpassed by #4104

[2021-04-22 02:12] #4096 closed

[2021-04-22 02:16] #4074 closed

[2021-04-22 02:30] gxthrj commented on #3963
I think recording all non-2xx requests and provide a similar header of x-upstream-status is better.

[2021-04-22 03:05] spacewander commented on #4102
Done: https://github.com/apache/apisix/pull/4105

[2021-04-22 03:26] cverdela commented on #4104
Issue description
Environment
apisix version (cmd: apisix version):2.3 (docker image apache/apisix:2.3-alpine )
OS (cmd: uname -a):Linux 570c5064c3f9 4.9.93-linuxkit-aufs #1 SMP Wed Jun 6 16:55:56 UTC 2018 x86_64 Linux ( docker )
OpenResty / Nginx version (cmd: nginx -V or openresty -V): openresty/1.19.3.1
etcd version, if have (cmd: run curl http://127.0.0.1:9090/v1/server_info to get the info fr

[2021-04-22 03:27] cverdela commented on #4104
update

[2021-04-22 03:28] cverdela commented on #4104
@spacewander

[2021-04-22 03:36] cverdela commented on #4104
When both Route and Service enable the same plugin, the Route parameter has a higher priority than Service.

However，I want to add plug-ins to both route and service

[2021-04-22 03:59] spacewander commented on #4104
APISIX doesn't support running the same plugin twice. This breaks many assumptions and requires rewriting much of the code.

[2021-04-22 04:23] spacewander commented on #4086
Duplicate of #3727

[2021-04-22 04:23] #4086 closed

[2021-04-22 06:35] zouyongsheng commented on #4098
Ask for help, thank you!

[2021-04-22 06:36] Firstsawyou commented on #4098
My local test did not reproduce it. Maybe your log server receives logs abnormally.
You can receive the request body data of the http-logger plugin in the log server.

[2021-04-22 06:53] zouyongsheng commented on #4098
The problem has been solved, my port is disabled, thank you!

[2021-04-22 07:03] gaobo0202 opened #4107 "[discuss]：Hope apisix supports dynamic modification of nginx configuration"
We want to migrate the service from nginx to apisix, but the nginx configuration of the service is different. For example, many services have different configuration requirements for `client_max_body_size`, `client_body_buffer_size`, and `keepalive`. If apisix can support dynamic modification of nginx configuration, it will increase the flexibility of configuration and be more friendly to nginx us

[2021-04-22 07:19] totemofwolf commented on #4095
curl -I https://x

[2021-04-22 07:23] spacewander commented on #4107
This requires modifying Nginx itself.

We already have a project for it: https://github.com/api7/apisix-nginx-module.

As Nginx itself doesn't support dynamic configuration, it will be a very big project and cost months (or years) for us to do it.

I will close this issue as it is too general to answer. If you want to support some specific features, like setting `client_max_body_size` dynamically,

[2021-04-22 07:48] spacewander commented on #4095
This command doesn't send Origin header.
The client should run the CORS mechanism: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2021-04-22 07:52] totemofwolf commented on #4095
Not yet.

![WX20210422-155121](https://user-images.githubusercontent.com/1818214/115676983-a8eb4900-a382-11eb-8c4c-f08beb0f9969.png)

[2021-04-22 08:21] spacewander commented on #3503
Consider solved

[2021-04-22 08:21] #3503 closed

[2021-04-22 08:21] souzens opened #4108 "request help: How does apisix support two ways certificate of upstream service such as auth?"
### Issue description

We have a problem, there is a certification auth service needs to be a two-way client certificate verification, the traditional approach is to provide a certificate issued by the application itself and provide HTTPS service, but as the upstream, the certificate validation https request is currently unity process by apisix , and then pass the request transparently to the upst

[2021-04-22 09:33] Firstsawyou commented on #4108
If APISIX supports upstream mTLS, it should solve your problem, right?  For example this PR: https://github.com/apache/apisix/pull/4005

[2021-04-22 10:06] Hxhong opened #4110 "request help: I develop a plugin to rewrite URI, but it doesn't work. How to rewrite URI"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version, if the issue is about installation (cmd: `luarocks --ve

[2021-04-22 10:13] #4104 closed

[2021-04-22 10:19] spacewander commented on #3778
Closed as lack of response.

[2021-04-22 10:19] #3778 closed

[2021-04-22 10:51] tokers opened #4111 "bug: upstream_id in stream_route is ineffective."
### Issue description

Although we can set `upstream_id` to `stream_route`, it's not really used during the process.

### Environment

* apisix version (cmd: `apisix version`): master branch: 86e49837d20147471eeb852d60d4c5e2f15a2bd4
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info`

[2021-04-22 10:55] tokers commented on #4098
Consider it to be solved.

[2021-04-22 10:55] #4098 closed

[2021-04-22 11:05] Firstsawyou commented on #4110
You can refer to the proxy-rewrite plugin. https://github.com/apache/apisix/blob/master/apisix/plugins/proxy-rewrite.lua#L146-L179

[2021-04-22 11:05] #4102 closed

[2021-04-22 11:59] Hxhong commented on #4110
yes, I did refer to proxy-rewite plugin

[2021-04-22 12:00] Hxhong commented on #4110
-- this is a demo, you can refer to it
local core        = require("apisix.core")
local http        = require("resty.http")
local plugin_name = "request-rewrite"
local pairs       = pairs
local ipairs      = ipairs
local ngx         = ngx
local type        = type
local re_sub      = ngx.re.sub
local sub_str     = string.sub
local str_find    = core.string.find

local schema = {
    type = "object"

[2021-04-22 12:24] xxm404 commented on #4110
@Hxhong you demo `priority = 1000` it seems to be duplicate of the existing plugin
and in plugin develop doc i find this

[2021-04-22 13:52] #4091 closed

[2021-04-22 14:41] membphis commented on #4103
It is wrong, only one loop is needed here.

[2021-04-23 00:43] membphis opened #4112 "chore: update architecture diagram"
here is the new one:

![image](https://user-images.githubusercontent.com/6814606/115801835-49d41580-a410-11eb-8be3-30858fb52745.png)

[2021-04-23 00:46] membphis commented on #4112
![image](https://user-images.githubusercontent.com/6814606/115801882-61ab9980-a410-11eb-964d-9bf70ea4bc01.png)

[2021-04-23 00:51] winnetcn opened #4113 "request help: Is there a plan to Support SAP RFC protocol conversion？"
### Issue description
 Is there a plan to Support SAP RFC protocol conversion？

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:
* luarocks version

[2021-04-23 00:58] tokers commented on #4113
@winnetcn Hi,

Could you provide some literature to help us learn what is SAP RFC protocol.

[2021-04-23 01:13] #3594 closed

[2021-04-23 01:19] spacewander commented on #4103
@Ben0625
Would you submit a fix for it? Thanks!

[2021-04-23 01:37] Firstsawyou commented on #4095
In the `curl` command, did you try to bring the `Origin` header?   Example: `curl -I https://xxxyyy.com  -H 'Origin: https://x'`

[2021-04-23 02:12] Ben0625 commented on #4103
I'm sorry I'm not familiar with Github operations. I don't know how to submit a fix...

[2021-04-23 03:12] spacewander commented on #4103
You can follow the guide: https://github.com/firstcontributions/first-contributions
Feel free to ask me if you need any helps.

[2021-04-23 03:12] #3923 closed

[2021-04-23 03:47] totemofwolf commented on #4095
If I set property `` in plugin: cors(), the response header will clear cors.....

[code]

curl output:
[code]

curl with -H 'Origin: ' returns ok:

[code]

[2021-04-23 04:03] Ben0625 commented on #4103
Thanks for pointing out the guide which help me create a pull request for the first time!

[2021-04-23 05:37] riskgod opened #4117 "{ message: 'Invalid signature' } in hmac after add Date clock_skew"
hey I add Date into the SIGNATURE, but it failed, please help a check. thank you.
[code]

[code]

[2021-04-23 06:24] Firstsawyou commented on #4117
The signature string here seems to be incorrect, we don't need a key in the signature header. You try it like this:

[code]

[2021-04-23 06:28] riskgod commented on #4117
still failed

[2021-04-23 06:34] Firstsawyou commented on #4095
This is reasonable. The `CORS` function is implemented through the response headers related to `access-control-xxx`. If your request does not carry the `Origin` header, then the `allow_origins` authentication in the cors plugin fails, and there will be no `access-control-xxx` related response headers.

[2021-04-23 06:41] Firstsawyou commented on #4117
Try to set the value of `clock_skew` to a higher value?

[2021-04-23 07:06] Firstsawyou commented on #4110
Try to rewrite your URI in this way?

[2021-04-23 07:09] #4095 closed

[2021-04-23 07:38] riskgod commented on #4117
still failed， after test 2 kind of valid, one is success without clock_skew, here is the test code

[code]

[2021-04-23 07:58] Hxhong commented on #4110
it's the same...

[2021-04-23 07:59] Hxhong commented on #4110
it's not the reason

[2021-04-23 08:29] Firstsawyou commented on #4110
After using this method, can you provide access.log log information?

[2021-04-23 08:50] riskgod commented on #4117
hey after check with debug log, find the problem, thank you man,
##### This signing string is from apisix itself.
[code]

[2021-04-23 08:50] #4117 closed

[2021-04-23 09:04] Hxhong commented on #4110
![image](https://user-images.githubusercontent.com/42258295/115847191-47e07580-a455-11eb-8f06-81fa459aec66.png)
the first image I print the param 'upstream_uri' before I add other params into uri
![image](https://user-images.githubusercontent.com/42258295/115847423-88d88a00-a455-11eb-9bf6-67fb68123898.png)
the second image i print the param 'ctx.var.upstream_uri' after I add two params, 'token' an

[2021-04-23 10:46] cranehovers opened #4120 "request help: 希望在openid-connect插件增加token有效期缓存机制"
### Issue description
希望在openid-connect插件增加token缓存机制，每次和令牌服务器交互的时候，获取token的有效期，在token的有效期内，不再重复向令牌服务器请求，减少令牌服务器的压力，缩短每次请求的整体RTT

[2021-04-23 11:11] Firstsawyou commented on #4110
You should provide sample code for this part.

[2021-04-23 11:20] Firstsawyou commented on #4120
The openid-connect plugin does not seem to support it yet. This is a very useful feature.  @spacewander  What do you think?

[2021-04-23 12:06] spacewander commented on #4120
The library we used already supported it:
https://github.com/zmartzone/lua-resty-openidc/blob/4ff64540ece124a64f66c5f5c5ed6b2dd8a58483/lib/resty/openidc.lua#L1582
https://github.com/zmartzone/lua-resty-openidc/blob/4ff64540ece124a64f66c5f5c5ed6b2dd8a58483/lib/resty/openidc.lua#L1637

[2021-04-23 12:06] #4120 closed

[2021-04-24 01:34] winnetcn commented on #4113
Refer to this website：http://www.restcloud.cn/restcloud/mycms/sap.html and https://github.com/SAP/gorfc/blob/master/gorfc/gorfc.go

[2021-04-24 01:42] winnetcn commented on #487
Organization: purcotton.com
Location: Shenzhen, China
Contact: zengjia@winnermedical.com
Scenario: Build a hybrid integrated platform（iPaaS）, including Enterprise Gateway, API Market and OpenAPI.

组织：深圳全棉时代科技有限公司
地点：中国深圳
联系方式： zengjia@winnermedical.com
使用场景：构建混合集成中台(iPaaS)，包含企业级网关，API市场和开放平台。

[2021-04-24 05:19] himanshu007-creator commented on #4112
Hi , i would like to work on this issue. Please assign me this.

[2021-04-24 05:48] tokers commented on #4112
@himanshu007-creator Assigned to you :).

[2021-04-24 08:27] Hey-Jobs commented on #4120
这个过时机制是在插件里设置的？是否会存在和令牌服务器的token过期时间不一致的问题？

[2021-04-25 01:54] Hxhong commented on #4110
![image](https://user-images.githubusercontent.com/42258295/115977535-cc450c80-a5ab-11eb-9875-893241381eb4.png)
I've already provided it. Please refer to this demo.

[2021-04-25 06:28] hzbd opened #4124 "request help: how to get current limit count from redis cache?"
### Issue description

**1. If I use redis to store limit count cache, how to get the current value of count by admin? Is there an admin api interface to get this or do I need to get it from redis by myself?**

**2. How is the key value naming rule of limit count defined?**
![image](https://user-images.githubusercontent.com/3000843/115983395-62d8f400-a5d3-11eb-9595-15a25bcc366d.png)

### Environme

[2021-04-25 06:58] #4112 closed

[2021-04-25 07:09] Firstsawyou commented on #4110
From these two pictures, `upstream_uri` is different from `ctx.var.upstream_uri`, it seems that `uri` has been rewritten.

[2021-04-25 07:18] Firstsawyou commented on #4110
<img width="545" alt="截屏2021-04-25 下午3 14 35" src="https://user-images.githubusercontent.com/52862365/115984317-185a7600-a5d9-11eb-80a2-d9253c09102d.png">

You can try to add more log output here to get a detailed comparison of uri rewriting. For example, print `upstream_uri` and compare with `ctx.var.upstream_uri`.

[2021-04-25 08:02] Firstsawyou commented on #4124
The limit count cache value cannot be obtained through admin api, can you refer to the method here to obtain it.

https://github.com/apache/apisix/blob/681b0bda1625c2d9030489e0c5ef42f688c65156/apisix/plugins/limit-count/limit-count-redis-cluster.lua#L85-L101

https://github.com/apache/apisix/blob/681b0bda1625c2d9030489e0c5ef42f688c65156/apisix/plugins/limit-count.lua#L169

This cannot be customize

[2021-04-25 08:51] #4057 closed

[2021-04-25 09:06] xujiesh0510 opened #4126 "cors 不起作用"
### Issue description

### Environment
docker镜像版本
* apisix version  : 2.4
* apisix-dashboard version, if have: 2.5

路由配了个跨域：

[code]

本地用localhost 跨这个路由对应的 host:

报

Access to XMLHttpRequest at 'http://im-dev.platform.flexem.net/hubs/communication/negotiate?negotiateVersion=1' from origin 'http://localhost' has been blocked by CORS policy: Response to preflight request doesn't pass access control

[2021-04-25 09:13] Hxhong commented on #4110
yes, 'uri' has been rewritten, but the actual request doesn't take the param 'token' with it. You can try it with my demo.

[2021-04-25 09:19] xujiesh0510 commented on #4126
可能是我的问题，抓包 返回了 301 重定向

![image](https://user-images.githubusercontent.com/10271679/115988029-557b3400-a5ea-11eb-867f-ff8d8dd1531b.png)

[2021-04-25 09:26] xujiesh0510 commented on #4126
抓包后发现 服务器返回  301 ，业务的问题。改成 跨 https 后就没问题了

[2021-04-25 09:26] #4126 closed

[2021-04-25 09:34] Firstsawyou opened #4127 "docs: update the prometheus plugin doc"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

In the Chinese document of the Prometheus plugin, the prefer_type field name is wrong, but it is actually prefer_name.

<img width="1119" alt="截屏2021-04-25 下午5 30 03" src="https://user-images.githubusercontent.com/52862365/115988447-5dd46e80-a5ec-11eb-9dd4-b8b07c137328.png">

https://github.com/apache/apisix/bl

[2021-04-25 09:34] water-gulugulu opened #4128 "request help: how to set up https？"
### Issue description

### Environment

* apisix version (2.5):
* apisix-dashboard version (2.5)
设置https无法访问。
![image](https://user-images.githubusercontent.com/49268861/115988468-7775b600-a5ec-11eb-9eaa-0577527a56bd.png)
![image](https://user-images.githubusercontent.com/49268861/115988473-7e042d80-a5ec-11eb-92e4-d36bb0ac0697.png)

这两个不设置的话就没有问题是可以访问到的，但是设置了之后无法访问。证书也是正确的已上传

[2021-04-25 09:41] Marco-Zheng opened #4129 "request help: oidc problem"
### Issue description
I configure oidc as below
![image](https://user-images.githubusercontent.com/52538259/115988603-14d0ea00-a5ed-11eb-8459-af06c593390e.png)
here is my introspection_endpoint method
![image](https://user-images.githubusercontent.com/52538259/115988633-37630300-a5ed-11eb-8d84-bf51c67bd5b2.png)
then i send request as below
![image](https://user-images.githubusercontent.com/5253825

[2021-04-25 10:06] tokers commented on #4128
@water-gulugulu After you set up these two items, which behavior does APISIX show for you?

[2021-04-25 10:21] tokers commented on #4124
@hzbd Could you describe the scenario that you're facing to get this count?

[2021-04-25 10:32] Firstsawyou commented on #4128
You should try to disable redirection.

[2021-04-25 12:25] hzbd commented on #4124
hi @tokers

We want to periodically obtain the current `limit count` remaining amount, which is displayed in dashboard. And plan to use limit count as billing credentials, such as 100,000 calls / month.

![image](https://user-images.githubusercontent.com/3000843/115993204-5d47d200-a604-11eb-96ff-fe1aa812f6d8.png)

[2021-04-25 13:27] tokers commented on #4124
We may add these information by server-info plugin.

[2021-04-25 14:41] hzbd commented on #4124
This is a great project, thanks @tokers @Firstsawyou

[2021-04-26 00:35] nic-chen commented on #4100
had been released, welcome to have a try on Apache APISIX 2.5 & Apache APISIX Dashboard 2.6

[2021-04-26 01:31] #3970 closed

[2021-04-26 01:32] spacewander commented on #3209
Closed as lack of response.

[2021-04-26 01:32] #3209 closed

[2021-04-26 01:58] xujiesh0510 opened #4130 "openid-connect.md TOKEN缓存的功能"
https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/openid-connect.md
这个页面能补下  token 缓存功能如何配置的文档么？ 这样就不必要每次都要请求令牌服务器了。
另外这个功能是 production-ready 么？

![image](https://user-images.githubusercontent.com/10271679/116018996-cfa4ca80-a675-11eb-93d5-367013f8f259.png)

[2021-04-26 02:15] spacewander commented on #4120
The token cache feature is provided by lua-resty-openidc and is enabled by default.
If you are interested in it, please read lua-resty-openidc's doc and its source code.

[2021-04-26 02:16] spacewander commented on #4130
I added it to the original issue: https://github.com/apache/apisix/issues/4120#issuecomment-826455874

[2021-04-26 02:16] #4130 closed

[2021-04-26 03:02] Firstsawyou commented on #4129
This is caused by an invalid authorization header value. You should check this authorization header.
Looking at the test case, Authorization should be `"Bearer"+ "access_token"`.

https://github.com/apache/apisix/blob/8b4a36b0c233e9ceb750f3120bd5f4798ac199b8/t/plugin/openid-connect.t#L1408

[2021-04-26 03:41] Marco-Zheng opened #4133 "bug: ./apisix/cli/etcd.lua:18: module 'base64' not found:"
### Issue description

When i start local apisix, here comes a problem  module 'base64' not found, the version for apisix is 2.4

![image](https://user-images.githubusercontent.com/52538259/116025893-1c8f9d80-a684-11eb-82dc-d9f89c3c6a22.png)

### Environment

* apisix version (cmd: `apisix version`):2.4

[2021-04-26 03:48] xujiesh0510 commented on #4120
我来补充下：

令牌服务器的 鉴权接口 返回结果：

[code]
其中 exp  值是当前 unix时间戳的秒数 + 期望缓存的秒数

另外在网关配置下：
![image](https://user-images.githubusercontent.com/10271679/116026426-544b1500-a685-11eb-8245-a09b1dbf1962.png)

[2021-04-26 03:49] xujiesh0510 commented on #4130
结果 见 https://github.com/apache/apisix/issues/4120

[2021-04-26 03:56] souzens commented on #4108
Now we temporarily use the route of openshift to solve this problem, mainly using the passthough feature of route, which is directly transmitted to the backend service.

and apisix and support passthough feature like openshift route?

OpenShift passthrough route：这种 route 的 SSL 连接不会在 router 上被 TLS 终止（termination），而是router 会将 TLS 链接透传到后端。下文有解释。
passthrough：加密网络包直接被发给 pod，router 上不做TLS 终结，因为不需要在 rout

[2021-04-26 04:03] spacewander commented on #4133
The base64 library is already declared in the rockspec: https://github.com/apache/apisix/blob/master/rockspec/apisix-2.4-0.rockspec

Please reference https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md#2-install-apache-apisix and check if there is something wrong when installing APISIX.

[2021-04-26 05:13] #4103 closed

[2021-04-26 05:14] #4040 closed

[2021-04-26 05:24] juzhiyuan commented on #4100
consider closed, if it still happens in our latest release, let us know.

[2021-04-26 05:24] #4100 closed

[2021-04-26 06:47] Marco-Zheng commented on #4133
I install again and it works, thx a lot

[2021-04-26 06:47] #4133 closed

[2021-04-26 07:03] Marco-Zheng commented on #4129
I use this one , but also doesn't work.
![image](https://user-images.githubusercontent.com/52538259/116042075-959cee00-a6a0-11eb-940b-b1541b5e3009.png)

[2021-04-26 07:19] Marco-Zheng commented on #4129
my service config like this
[code]

[2021-04-26 07:40] Marco-Zheng commented on #4129
I found the problem! `localhost:8888` is not allowed..
I would like to suggest that can accept  localhost mode.

[2021-04-26 08:35] Serendipity96 commented on #4076
hi @Yiyiyimu , Can I work on this issue?

[2021-04-26 08:49] Marco-Zheng commented on #4129
Here comes another problem, i set the redirect_uri, but i didn't receive it while i send a request to gateway
![image](https://user-images.githubusercontent.com/52538259/116055333-2d093d80-a6af-11eb-84ef-b438e6e562a1.png)
the error mesaage is
![image](https://user-images.githubusercontent.com/52538259/116055476-51fdb080-a6af-11eb-937a-73a882d59eda.png)

[2021-04-26 13:59] hzbd opened #4135 "request help: to disable(not ban) a consumer without changing router config?"
### Issue description
Without changing the router configuration, I just want to disable(not ban) a consumer. How to do it?

[code]

PS：The [fault-injection](https://github.com/apache/apisix/blob/master/docs/zh/latest/plugins/fault-injection.md) plugin must act on the router to take effect.

### Environment

* apisix version: 2.4

[2021-04-26 15:00] tokers commented on #4076
Sure, assigned it to you.

[2021-04-26 15:04] tokers commented on #4135
Currently it doesn't support switch for consumer.

Could you please describe your scenario?

[2021-04-26 15:06] tokers commented on #4108
You can try the stream proxy http://apisix.apache.org/docs/apisix/stream-proxy.

[2021-04-26 16:51] hzbd commented on #4135
![image](https://user-images.githubusercontent.com/3000843/116120942-ae35f400-a6f2-11eb-94fa-7f5fc2d103c1.png)

![image](https://user-images.githubusercontent.com/3000843/116120977-b7bf5c00-a6f2-11eb-9a35-b341f0b4ecd5.png)

In some cases, `user b(consumer 2)` 's access needs to be suspended, but it will be enabled again after a period of time. At the same time, when the `user b(consumer 2)` is sus

[2021-04-27 01:10] to2false opened #4137 "bug: apisix metrics sometimes slow requests get encountered"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.4
* OS (cmd: `uname -a`): `Linux gateway 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API

[2021-04-27 01:29] tokers commented on #4135
@hzbd If you want to suspend the access of consumer `2` by some rate-limiting plugins, why not just go ahead as for now you can implement it already, we don't need to introduce another `enable/disable` status for consumers.

http://apisix.apache.org/docs/apisix/plugins/limit-count

[2021-04-27 05:57] Firstsawyou commented on #4137
The metrics data is real-time, which may be related to the time interval when you call the `/apisix/prometheus/metrics` interface.

This is the log of my test calling the `/apisix/prometheus/metrics` interface:

[code]

[2021-04-27 06:14] to2false commented on #4137
The above metrics requests come from prometheus, the interval is 30s.
Not sure if it caused by machine resources.

An additional question, are the sources of the metrics all in memory? Or come from other places? Which places should I check?

[2021-04-27 07:47] riskgod opened #4138 "request help: bad argument #2 to 'warn' (expected table to have __tostring metamethod)"
Hey, I want to debug hmac-auth plugin, so I add one warn in line 310 in `hmac-auth.lua`

The reason why I want to debug it is
[code]
I have two header is Invalid signed, so I want to debug it

[code]

But the apisix shows err

[code]

[2021-04-27 08:06] Firstsawyou commented on #4138
Because the headers_map type is a table, not a string. Therefore, it cannot be printed out directly, it needs to be encoded first. You should debug like this:

[code]

[2021-04-27 08:18] riskgod commented on #4138
hey, after debug, the json is the same, but why shows the `{ message: 'Invalid signed header sys_name,sys_event' }`
here is the debug json
[code]

[2021-04-27 08:29] Firstsawyou commented on #4138
This is another issue. You should create a new issue to describe this issue and provide more configuration information and steps to reproduce it.

[2021-04-27 08:32] riskgod commented on #4138
ok

[2021-04-27 08:39] riskgod opened #4139 "request help: { message: 'Invalid signed header sys_name,sys_event' }"
Hey, here is the init apisix steps:

####  设置key-auth
[code]
####  设置全部运行的插件 新加入熔断api-breaker
[code]

####  设置upstream
[code]

#### 设置service1
[code]

#### 设置service2
[code]

####  设置checkAddress 的 router
[code]

####  设置checkHealth 的 router
[code]

####  设置userWithdrawal 的 router
[code]

### Test the hmac plugin

[code]
### The result is
[code]

[2021-04-27 08:54] to2false commented on #4137
I found the problem caused by sysctl net. nf_conntrack_max is too small, I increase the value of it, seems work well now.

[2021-04-27 08:54] #4137 closed

[2021-04-27 09:02] Firstsawyou commented on #4139
According to the following information of  https://github.com/apache/apisix/issues/4138：

This is one header, not two headers. But they are two headers in headers_map.

[2021-04-27 09:19] riskgod commented on #4139
Is the `signed_headers` which I set is consumers?

[2021-04-27 09:38] riskgod commented on #4139
After check the `signed_headers`, the err is `"X-HMAC-SIGNED-HEADERS": "Date;app_id;sys_name,sys_event;sign;timestamp;version",`  after update it , the err is gone, thx

[2021-04-27 09:38] #4139 closed

[2021-04-27 09:38] #4138 closed

[2021-04-27 09:56] JanLi-air opened #4140 "request help: how to use regex in redirect plugin?"
### Issue description
I need to configure route which implement similar logic as this nginx config:
[code]
But in redirect plugin I can only use $uri, which will contains /foo which I want to remove in the redirct locaton.

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS (cmd: `uname -a`): Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19.3.1
* etcd ve

[2021-04-27 10:45] tzssangglass commented on #4140
you can use `proxy-rewrite` plugin to do this,  config as

[code]

This will change the url of the request from `/foo/a/b/c` to `/a/b/c`

[2021-04-27 10:47] Molio-tan opened #4141 "bug: apisix-dashboard v2.5 make build 报错在华为鲲鹏系统上"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): v2.4
* OS (cmd: `uname -a`): Linux localhost.localdomain 4.19.90-17.ky10.aarch64 #1 SMP Sun Jun 28 14:27:40 CST 2020 aarch64 aarch64 aarch64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to ge

[2021-04-27 11:11] nic-chen commented on #4141
@juzhiyuan @LiteSun
Please take a look.

[2021-04-27 16:08] nanamikon commented on #3722
I have the same issue，  we need the redirect plugin to support regex，  maybe I can submit a pull request ， add a new param called regex_uri  for this issue

[2021-04-28 01:32] Firstsawyou commented on #3722
Nice, looking forward to your PR.

[2021-04-28 02:13] JanLi-air commented on #4140
I need 302 redirect, since FE needs the redirected url

[2021-04-28 02:19] tokers commented on #4140
@JanLi-air Currently the redirect plugin cannot fetch regex capture group from the original URI, would you like to optimize it?

[2021-04-28 02:51] #3367 closed

[2021-04-28 03:11] riskgod opened #4142 "Q: Does hmac-auth valid the body?"

[2021-04-28 03:17] varcher-me opened #4143 "bug: prometheus plugin ask for root premission of etcd"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.4
* OS (cmd: `uname -a`):Linux 3.10.0-1160.15.2.el7.x86_64 (Redhat 7.9)
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.4.15
* apisix-dashboard version, if have:2.5

[2021-04-28 03:32] xiongmaopanshi opened #4144 "Do we need the Contributor Over Time chart?"
## Contributor Over Time
![contributor-graph](https://contributor-graph.com/contributors-svg?repo=apache/geode)

[2021-04-28 03:33] xiongmaopanshi opened #4145 "Do we need the Contributor Over Time chart?"
## Contributor Over Time
![contributor-graph](https://contributor-graph.com/contributors-svg?repo=apache/gobblin)

[2021-04-28 03:34] xiongmaopanshi opened #4146 "Do we need the Contributor Over Time chart?"
## Contributor Over Time
![contributor-graph](https://contributor-graph.com/contributors-svg?repo=apache/activemq)

[2021-04-28 03:35] xiongmaopanshi opened #4147 "Do we need the Contributor Over Time chart?"
## Contributor Over Time
![contributor-graph](https://contributor-graph.com/contributors-svg?repo=apache/servicecomb-pack)

[2021-04-28 03:35] xiongmaopanshi opened #4148 "Do we need the Contributor Over Time chart?"
## Contributor Over Time
![contributor-graph](https://contributor-graph.com/contributors-svg?repo=apache/avro)

[2021-04-28 04:04] #4144 closed

[2021-04-28 04:04] #4145 closed

[2021-04-28 04:04] #4146 closed

[2021-04-28 04:04] #4147 closed

[2021-04-28 04:04] #4148 closed

[2021-04-28 04:05] moonming commented on #4144
@xiongmaopanshi please do not create issues that has nothing to do with Apache APISIX

[2021-04-28 06:12] tzssangglass commented on #4143
I verified

step 1:  use etcdctl add user apisix and grant all privilege on /apisix/*

command like
[code]

step 2: edit apisix/conf/config.yaml, add the user to apisix

the config.yaml like

[code]

step 3: curl metrics

command like

[code]

step 4: error.log

I get the error.log like

[code]

by the way, when I switched to apisix 2.5, I got a similar error starting apisix, which seems to be a p

[2021-04-28 06:15] tzssangglass commented on #4143
@spacewander @tokers pls take a look

[2021-04-28 06:33] Firstsawyou commented on #4142
The hmac-auth plugin does not verify the body data. Because the body data will involve encoding or carry a large amount of data, this will affect the performance of the plugin.

[2021-04-28 06:33] tzssangglass commented on #4143
I know why.

In step 1, the directory permissions for the apisix user are   `/apisix/`, but the prefix set in config.yaml in step2 is `/apisix`, if I also change it to `/apisix/`, it will work.

[2021-04-28 06:54] varcher-me commented on #4143
In this case(change etcd path to /apisix/), the key in etcd will changed like this(checked by etcdctl), double slash. I think it still incorrect...

/apisix//consumers/

/apisix//data_plane/server_info/04ccd55b-6017-4471-bd5b-4804860fe2d5

/apisix//global_rules/

/apisix//node_status/

/apisix//plugin_configs/

/apisix//plugin_metadata/

/apisix//plugins

/apisix//plugins/

/apisix//proto/

/apisi

[2021-04-28 07:10] tzssangglass commented on #4143
at step 1, when granting directory permissions, the command should be something like this

[code]

use `/apisix` not `/apisix/`

[2021-04-28 07:35] varcher-me commented on #4143
Yes, I've already tried grant /apisix prefix to the user "apisix", problem still.

the etcdctl command and return is here.

`etcdctl role get role-apisix --user=root`
(And enter password)

Role role-apisix
KV Read:
        /apisix
        [/apisix, /apisiy) (prefix /apisix)
        [/apisix/, /apisix0) (prefix /apisix/)
        /apisix/*
KV Write:
        /apisix
        [/apisix, /apisiy) (prefix

[2021-04-28 08:25] imjoey opened #4150 "bug: Inconsistent behavior of schema check for response-rewrite plugin between AdminAPI and ManagerAPI"
### Issue description

Regarding the `response-rewrite` plugin, the Admin API does additional checks for schema definition, such as checking whether the `body` is a valid base64 string if `body_base64` is set to `true`. While the Manager API only use `schema.json` for checking the type of properties. This would lead to incorrect data could be successfully submitted via the Dashboard, but errors oc

[2021-04-28 08:34] tzssangglass commented on #4143
I verified that it work.

my command
[code]

my config.yaml
[code]

the etcdctl command and return is

[code]

how does this help you?

[2021-04-28 08:38] imjoey commented on #4150
IMO, there are 2 ways to resolve this:
1. introduce the plugin-specified checking logics for each plugin into Manager API;
2. make Manager API to call Admin API for resource manipulations, as discussed in mailing thread http://mail-archives.apache.org/mod_mbox/apisix-dev/202103.mbox/%3cCAOqn2MFxPA-ZEbnsH8VQ2Hyc9hNP9McbzBFSMrcgbxwuHkD9oA@mail.gmail.com%3e;

Looking forward to what you think guys. T

[2021-04-28 08:58] nanamikon commented on #3722
I have done it

[2021-04-28 10:07] tokers commented on #4143
Yes, we should capture this exception and output some more friendly hints.

[2021-04-28 13:48] juzhiyuan opened #4156 "Could GitHub Action support running CI on ARM?"
### Issue description

GitHub Actions makes it easier to automate builds test, and deploy developer workflow for projects on any OS, language, and cloud. But does it support running CI on ARM-based hardware?

### Environment

None

[2021-04-28 13:49] tao12345666333 commented on #4156
/assign

[2021-04-29 01:17] varcher-me commented on #4143
I tried this before, but seems not work. I will try it again with 2.5 later.
Thanks for help! I grant root privilege to apisix temporary in my production env.

[2021-04-29 01:27] #4143 closed

[2021-04-29 04:03] Molio-tan opened #4157 "bug: After installing the Apisix on ARM-based System,but it can't works properly."
### Issue description
I'm sorry to ask,have you deploy the Apisix successfully on ARM-based hardware,and it works properly?No, I found the Apisix installed successfully but it cannot works properly.

### Environment

* apisix version (cmd: `apisix version`): v2.4 or v2.5
* OS (cmd: `uname -a`): Linux test123 4.19.90-17.5.ky10.aarch64 #1 SMP Fri Aug 7 13:35:33 CST 2020 aarch64 aarch64 aarch64 GNU/L

[2021-04-29 08:40] Marco-Zheng opened #4158 "bug: public key decode failed"
### Issue description
![image](https://user-images.githubusercontent.com/52538259/116523878-4c030c00-a909-11eb-93c6-2c34308761a4.png)
i use the public key, but also show `OIDC introspection failed: jwt signature verification failed: Decode secret is not a valid cert/public key: ASN1 lib: nested asn1 error: wrong tag`
i try to decode it locally, and it was successed,the public key as below
![image]

[2021-04-29 08:52] Firstsawyou commented on #4158
What is the version of APISIX?

[2021-04-29 08:58] Marco-Zheng commented on #4158
It's 2.4

[2021-04-29 09:01] Firstsawyou commented on #4158
OK, I'll check later.

[2021-04-29 09:02] imjoey commented on #4157
Hi @Molio-tan, the error logs indicate that perhaps you've installed the OpenResty and APISIX to the incorrect path. Could you please see if the path `/usr/local/apisix/` and `/usr/local/openresty` both exist? Thanks.

[2021-04-29 09:09] Marco-Zheng commented on #4158
I found the problem, per tag was wrong, it must be `-----BEGIN PUBLIC KEY-----` not `-----BEGIN CERTIFICATE----`
you can have a try, if  it's a problem cause, i just give a little advice that the doc can be update to prevent such situation~
![image](https://user-images.githubusercontent.com/52538259/116527553-5fb07180-a90d-11eb-9e2c-f219b286c2b0.png)

[2021-04-29 09:34] dmsolr opened #4159 "request help: install error on ubuntu 20.04"
### Issue description

failed to execute `./bin/apisix version` after walking through [install-dependencies.md](https://github.com/apache/apisix/blob/master/docs/zh/latest/install-dependencies.md) and `make deps` success.

[code]

### Environment

* apisix version (cmd: `apisix version`):
master

* OS (cmd: `uname -a`):
Linux daming.sgp 5.4.0-58-generic #64-Ubuntu SMP Wed Dec 9 08:16:25 UTC 2020 x

[2021-04-29 10:29] sandy420 opened #4160 "bug: Seek help !Problems of Prometheus, This should be a bug, please fix it!!!"
### Issue description

### Environment

* apisix 2.4
* centos 7.6
* nginx version: openresty/1.19.3.1
* etcdctl version: 3.4.13
* apisix-dashboard 2.5

My APISIX 2.4 Prometheus plug-in reported "500 Internal Server Error" after running for a period of time. After restarting apisix, it returned to normal, and a 500 error was reported after a while

1.error.log
`2021/04/29 18:11:58 [warn] 17627#1762

[2021-04-29 10:31] sandy420 commented on #4160
![image](https://user-images.githubusercontent.com/10955441/116537624-0d754d80-a919-11eb-8507-3d09b67c104f.png)

[2021-04-29 10:34] sandy420 commented on #4160
![image](https://user-images.githubusercontent.com/10955441/116537936-778df280-a919-11eb-884a-933e4d702fc5.png)

[2021-04-29 12:00] zwjzxh520 opened #4161 "bug: sls-logger 没有日志了"
### Issue description
原来使用的是apisix 2.4，阿里云能正常接收到日志，升级到2.5之后，sls-logger 一直没有日志了
打开debug模式，发现没有了sls-logger的发送行为，在2.4的时候，打开debug后，能看到很多sls-logger的发送日志的。但是现在没有找到了

### Environment

* apisix version (cmd: `apisix version`):   2.5
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):  openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/s

[2021-04-29 12:24] tzssangglass commented on #4160
I can't reproduce your exception, please describe clearly the configuration of config.yaml and the detailed steps you took to cause the exception, it's important for me to reproduce this.

[2021-04-29 12:33] tzssangglass commented on #4159
I compared the code related to sls-logger in version 2.4 and 2.5, both are unchanged, please check if the sls-logger configuration is in effect first.

[2021-04-29 12:34] tzssangglass commented on #4161
I compared the code related to sls-logger in version 2.4 and 2.5, both are unchanged, please check if the sls-logger configuration is in effect first.

[2021-04-29 12:57] tzssangglass commented on #4159
Please pay attention to whether the `luasec` dependency is installed successfully when you execute `make deps`, after that there should be `/apisix/deps/lib/lua/5.1/ssl.so` exist.

[2021-04-29 13:08] tzssangglass commented on #4077
@Ben0625 any news? Sure this problem still exists in apisix 2.5?

[2021-04-29 13:35] dmsolr commented on #4159
hi @tzssangglass it is existed.

[2021-04-29 13:51] eavesmy opened #4162 "request help: upstream sent too big header while reading response header from upstream"
### upstream 返回超大的 HTTP 头信息时报错
```upstream-sent-too-big-header-while-reading-response-header-from-upstream```
请问我需要更改什么设置？

[2021-04-29 13:59] dmsolr commented on #4159
Thanks, @tzssangglass
I tried to move apisix out of /root and then it works well.

[2021-04-29 14:31] Firstsawyou commented on #4162
You can try to set the configuration information of `proxy_busy_buffers_size`, `proxy_buffers` and · `proxy_busy_buffers_size` through [customize-nginx-configuration](https://github.com/apache/apisix/blob/master/docs/en/latest/customize-nginx-configuration.md)  method.
https://www.cyberciti.biz/faq/nginx-upstream-sent-too-big-header-while-reading-response-header-from-upstream/

[2021-04-29 14:36] Firstsawyou commented on #4161
You should provide the relevant configuration information, and check the APISIX error.log to see if there is any available log information.

[2021-04-29 14:53] Firstsawyou commented on #4160
You should provide relevant configuration information for this route to help diagnose the problem.

[2021-04-30 00:45] sandy420 commented on #4160
This is my config.yaml
![image](https://user-images.githubusercontent.com/10955441/116635049-5b796800-a990-11eb-84d4-36f164f7f1e4.png)

[2021-04-30 01:34] tokers commented on #4157
@Molio-tan How did you start APISIX? As your APISIX was installed under /root`, actually when you launch APISIX in such a path, APISIX will reject to start.

See https://github.com/apache/apisix/issues/3207 for more details.

[2021-04-30 01:49] tokers commented on #4162
The upstream response header will be saved to the first buffer, which size is controlled by `proxy_buffer_size` directive.

[2021-04-30 01:52] Firstsawyou commented on #4157
Judging from the log information, there are many lua files that were not found. It is likely that the installation is abnormal. You should provide specific installation steps.
[code]

[2021-04-30 02:05] spacewander commented on #1535
Closed as lack of response.

[2021-04-30 02:05] #1535 closed

[2021-04-30 02:06] spacewander commented on #1538
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-04-30 02:08] spacewander commented on #1573
There is no interest to add more features to the service object.

This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-04-30 02:09] spacewander commented on #1555
Closed as lack of response.

[2021-04-30 02:09] #1555 closed

[2021-04-30 02:27] spacewander commented on #4159
luaL_setfuncs isn't Lua 5.1's symbol.
You need to install luarocks without LuaJIT: https://github.com/apache/apisix/blob/724a9100a9a43ac50f4c89dffd6d4a6e5edcff2b/utils/linux-install-luarocks.sh#L33

[2021-04-30 02:31] Molio-tan commented on #4157
Thanks for your reply. I use `luarocks install apisix` to install Apisix v2.4,  so it can be found on path `/usr/local/apisix`. And the OpenResty was built with source code on path `/usr/local/openresty` by manually.
So, maybe I am wrong to deal with it. But, before to use `luarocks install apisix` to install Apisix v2.4 , I tried to install Apisix with source code on path `/opt/...` and the same

[2021-04-30 02:45] Molio-tan commented on #4157
Thank you for your suggestion.  I installed the Apisix on path `/opt/...` . After reading the issue you remind, I find the error is the same. So is it not properly to install Apisix on path `/...`?

[2021-04-30 02:50] Molio-tan commented on #4157
Yes certainly, I followed the [blog](https://zhuanlan.zhihu.com/p/84467919) to install the Apisix.

[2021-04-30 02:51] dmsolr commented on #4159
Hi @spacewander
Here are my operation logs.

[code]

[2021-04-30 03:07] membphis commented on #4159
root user?

[2021-04-30 03:07] dmsolr commented on #4159
Yeah

[2021-04-30 03:32] dmsolr commented on #4159
Thank all. This is because I do `make deps` before executing `linux-install-luarocks.sh`.  And the key point, I don't remove `/deps`.

[2021-04-30 03:32] #4159 closed

[2021-04-30 05:42] Firstsawyou commented on #4160
The indentation of the server_info plugin configuration is wrong, it should be like this:

[code]

[2021-04-30 06:04] eavesmy commented on #4162
I edit apisix config file like this:
[code]
But dose not work.

[2021-04-30 06:33] Firstsawyou commented on #4158
Yes, welcome to fix it.

https://github.com/apache/apisix/blob/master/t/plugin/openid-connect.t#L892

[2021-04-30 07:59] springrain opened #4169 "New feature suggestion: support back pressure request (新功能建议:支持背压感知请求)"
apisix接受到请求,背压感知上游的请求处理能力,根据上游的处理能力转发请求,如果上游消费能力跟不上,超过设置的时间,apisix就返回超时,断开请求连接.这样apisix主动背压处理了响应超时熔断等问题
-------
When apisix receives the request, the back pressure senses the upstream request processing capability, and forwards the request according to the upstream processing capability. If the upstream consumption capacity cannot keep up, and the set time is exceeded, apisix will return a timeout

[2021-04-30 09:10] spacewander commented on #4162
You need to configure http_server_configuration_snippet, see https://github.com/apache/apisix/blob/master/docs/en/latest/customize-nginx-configuration.md

[2021-04-30 09:45] #4142 closed

[2021-04-30 14:39] zwjzxh520 commented on #4161
找到问题所在了。
以为 conf/config.yaml 的配置是与 conf/config-default.yaml 合并的，没想到是conf/config.yaml的配置覆盖config-default.yaml，修改了 config.yaml 的plugins属性，添加了些自定义的插件，结果只加载了这几个自定义插件，默认的插件全部未加载了。将config-default.yaml的plugins全部复制到config.yaml后就可以了。

另外，想请教 一下，怎么清除其他的 apisix 节点？
![image](https://user-images.githubusercontent.com/2184202/116710848-c9f80d80-aa04-11eb-9792-ec1f79dfc5c1.png)
这是我本地的环境，其实中有一个apisix节点是有效的，其他的都是无

[2021-04-30 14:53] zwjzxh520 commented on #4169
+1

[2021-04-30 15:58] tangtangsara opened #4171 "bug: log-util print response header connection always close, is apisix use short connection to upstream ?"
### Issue description
log-util 打印出来的日志, 记录响应头中的 connection 一直是close
### Environment

* apisix version 2.5
* OS  mac os 11
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* luarocks version 5.1

### Minimal test code / Steps to reproduce the issue

1.
默认配置下 set $upstream_connection         '';
不传给upstream(tomcat 8.5.50)节点connection,
tomcat返回的头也不包含connection
记录的日志connection为close

请

[2021-04-30 16:05] tzssangglass commented on #4161
@juzhiyuan pls take a look

[2021-04-30 16:35] tzssangglass commented on #4169
mark

[2021-05-01 06:31] tokers commented on #4161
It will be removed automatically after the key is expired.

[2021-05-01 08:31] tzssangglass commented on #4171
Hi, I reproduced your example and apisix does not actively modify the header connection.

my route
[code]

`127.0.0.1:1980` is a nginx server, the nginx.conf is https://github.com/apache/apisix/blob/master/benchmark/server/conf/nginx.conf

here is my request and response

[code]

[2021-05-01 08:32] tzssangglass commented on #4171
You can check to see if tomcat is actively disabling keep-alive.

[2021-05-01 08:40] Firstsawyou commented on #4171
Your problem is that the response header of the APISIX proxy request has `connection:keep-alive`, but the log printed by `log-util` is `connection: close`, right?

By the way, the communication between `apisix` and `upstream` nodes is keepalive. Please see here: https://github.com/apache/apisix/blob/master/apisix/cli/ngx_tpl.lua#L247

[2021-05-01 14:57] tangtangsara commented on #4171
@tzssangglass
您这个请求和响应是 postman (客户端 或浏览器) -> apisix之间的, 他们之间的响应我这里也是没问题的
我提交的问题是apisix -> upstream之间的,

tomcat不会有什么问题, 因为之前通过nginx代理响应都是正常的.
而且我通过抓包,确认了 apisix 发送请求给tomcat时
 设置nginx配置 set $upstream_connection         '';   代表  无connection头, tomcat响应没有connection 头
 设置nginx配置 set $upstream_connection         'keep-alive';   代表强制启用 keep-alive, tomcat响应有connection:keepalive
这都是正确的

@Firstsawyou 日志里面记

[2021-05-01 15:02] tangtangsara commented on #4171
检查过 已启用了
![image](https://user-images.githubusercontent.com/11268163/116786440-2d4f7180-aad1-11eb-8505-6d483dba49bc.png)

[2021-05-02 01:23] tokers commented on #4171
@tangtangsara Could you paste some logs which connection header is close in the content.

[2021-05-02 03:10] tzssangglass commented on #4171
@tangtangsara
my request and response is client(postman) -> apisix-> upstream(nginx).

[code]
please post a screenshot of the packet capture

[2021-05-02 03:37] tzssangglass commented on #4171
@tangtangsara let me check it
···
设置nginx配置 set $upstream_connection ''; 代表 无connection头, tomcat响应没有connection 头
设置nginx配置 set $upstream_connection 'keep-alive'; 代表强制启用 keep-alive, tomcat响应有connection:keepalive
···

[2021-05-02 04:52] tangtangsara commented on #4171
@tzssangglass 此issue的最上面, 那两张截屏就是tshark抓包的内容截屏.
分别为   set $upstream_connection ''    和 set $upstream_connection 'keep-alive'

[2021-05-02 07:08] tzssangglass commented on #4171
@tangtangsara
How did you modify the variable `$upstream_connection`