[2020-11-04 04:31] gxthrj opened #2620 "request help: we need to support multi-nodes in upstream when pass_host == node"
### Issue description
In our current version, upstream can choose not to transparently transmit the host of the original request,
but we also impose a restriction. When `pass_host == node`, upstream can only have one node.

We hope to get rid of this restriction. When upstream chooses not to transparently transmit the host (`pass_host == node`), each node transmits downwards according to its own h

[2020-11-04 04:33] gxthrj commented on #2620
the latest version of openresty (OpenResty 1.19.3.1 RC1) has support this feature: add the balancer.recreate_request function, which allows user to recreate request buffer in balancer phase.
We can refer to this.

[2020-11-04 05:22] idbeta commented on #2613
Could you give more detail of the configuration about your doubt?

[2020-11-04 05:57] OnlyPiglet commented on #2613
@idbeta @spacewander
this is some part of the function pick_server in the balancer.lua

[code]

I mean if I set_more_tries as zero forecelly at the line 19, the the request won't enter the branch **if checker and ctx.balancer_try_count > 1 then** so the bad request won't be report at noce. right?

[2020-11-04 06:40] BlinglingGirl opened #2621 "request help: how to create new routing rule matching designated port by vars 【"server_port"】"
### Issue description

curl http://192.168.1.149:9080/apisix/admin/routes/5 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -i -d '
{
    "methods": ["GET"],
    "uri": "/",
    "vars": [["server_port", "==", "9081"]],
    "upstream": {
        "type": "roundrobin",
        "nodes": {
            "192.168.1.149:8182": 1
        }
    }
}'

response 400 Bad Request

### Environment

* apisi

[2020-11-04 06:42] spacewander commented on #2613
The bad request will be reported in elsewhere:
https://github.com/apache/apisix/blob/61cd91440bb8826d616e7a056428fe42ea64ebd0/apisix/init.lua#L649

[2020-11-04 06:49] spacewander commented on #2621
Can't reproduce in my side.
Could you provide the error log?

[2020-11-04 06:51] BlinglingGirl commented on #2621
this is my error , this body don't match json style.

[2020-11-04 06:52] spacewander commented on #2621
OK, I will close this issue.

[2020-11-04 06:52] #2621 closed

[2020-11-04 07:02] spacewander commented on #2620
So we only need to enable this feature for users who use OpenResty 1.19.3?

[2020-11-04 07:02] idbeta commented on #2614
Check your APISIX configuration, whether the user and password of etcd is enabled.

[2020-11-04 07:05] liuxiran commented on #2082
After the schema draft updated in APISIX, **request-validation** also needs to transform the schema at plugin componet, so that it can work properly in dashboard, just like proxy-rewrite do. @juzhiyuan

- the schema turned by APISIX:
[code]
- dashboard needs to transform the schema to:
[code]

- the config page in dashboard looks like:

![2020-11-04 15-04-20屏幕截图](https://user-images.githubusercont

[2020-11-04 07:08] tzssangglass opened #2623 "bug: the latest version of the skywalking plugin always outputs error log"
### Issue description
I pulled the latest code and found a persistent error level output in the logs/error.log

[code]

I found this to be the code for the skywalking module, even though I did not configure the `skywalking` plugin

The function call stack is as follows:
`skywalking.lua#init()` --> `client.lua#startBackendTimer()` --> `client.lua#reportServiceInstance()`

It may be necessary to ver

[2020-11-04 07:17] juzhiyuan commented on #2082
https://github.com/apache/apisix/issues/2082#issuecomment-721552396

Please take a look and have a try when you are free :)

cc @LiteSun

[2020-11-04 07:32] Yiyiyimu opened #2624 "request help: do we still need `show-output` in bin/apisix"
### Issue description
https://github.com/apache/apisix/blob/61cd91440bb8826d616e7a056428fe42ea64ebd0/bin/apisix#L573-L577

`show-output` seems used to debug init_etcd. And when implementing argparse for start apisix, it would be annoyed to deal with arguments from different sources like in #2101
https://github.com/apache/apisix/blob/2abb90efa7cc9a0bae98e688edf8fec13a7e57fd/bin/apisix

Could we rem

[2020-11-04 07:43] spacewander commented on #2624
I vote for removing and adding a new `--verbose` option after https://github.com/apache/apisix/pull/2101 is merged.

[2020-11-04 07:51] gxthrj commented on #2620
can we patch the old versions?
Or make sure that the version of OpenResty that apisix depends on is adjusted to 1.19.3 in the future?

@membphis what do you think?

[2020-11-04 08:16] OnlyPiglet commented on #2613
@spacewander  thanks a lot I see,I use active checker,so it didn't work.

[2020-11-04 08:19] spacewander commented on #2613
If thing doesn't work for you, please provide a minimal reproduce example, including the configuration, how you test it and the possible error log.

[2020-11-04 09:12] idbeta commented on #2623
“just start apisix, then watch the error.log” ——Can you tell me how long need to wait? This is very helpful for design test cases.

[2020-11-04 09:14] spacewander commented on #2623
Current solution:
You can copy the plugin you need from `config-default.yaml` to `config.yaml` without  skywalking, like this:
[code]

So the skywalking background timer will not be triggered anymore.

[2020-11-04 09:28] spacewander commented on #2623
@membphis
Maybe we can make skywalking disable by default so the background timer won't be a problem.

[2020-11-04 09:44] tzssangglass commented on #2623
3 seconds.

https://github.com/apache/skywalking-nginx-lua/blob/cda47ae0a507ab86a378a298325c3c94d9a773c2/lib/skywalking/client.lua#L28-L48

[2020-11-04 09:47] tokers commented on #2623
I also suffer from this problem in my dev environment, which may distrubs the result of unit test (`no_error_log` or the analogues ).

[2020-11-04 10:00] idbeta commented on #2623
thanks

[2020-11-04 13:16] spacewander commented on #1825
Consider solved.

[2020-11-04 13:16] #1825 closed

[2020-11-04 13:37] membphis commented on #2623
agree ^_^

[2020-11-04 13:39] membphis commented on #2614
the user is using Mac OS, so I think we can close this PR at first.

[2020-11-04 13:39] #2614 closed

[2020-11-04 13:39] gxthrj commented on #2274
Other objects include upstream, service and consumer

[2020-11-04 13:42] membphis commented on #2274
that is a good suggestion, let us do it

[2020-11-04 14:23] Yiyiyimu commented on #2624
Sure I could take care this

[2020-11-05 00:36] moonming commented on #2249
@gy09535 Got it.
The current dockerfile does not consider the situation of building from local source code. Welcome to PR to add, I transferred this issue to the apisix-docker project

[2020-11-05 00:56] #2617 closed

[2020-11-05 05:14] Miss-you opened #2633 "[discuss] `checker:report_xx` is more appropriate in the log phase"
### Issue description

https://github.com/apache/apisix/blob/master/apisix/balancer.lua#L210

The circuit-breaker is a basic function of api gateways. Generally speaking, a fuse is divided into two parts, one is to fetch the available endpoint (or upstream), and the other is to report the node access results (whether the timeout? or connecttion status?)

In the nginx framework, the report node sta

[2020-11-05 05:39] idbeta commented on #2633
I think the title should be "Discuss", ;-)

[2020-11-05 06:35] griffenliu opened #2634 "I don't want to set up different config-default.yaml for different environments"
### Issue description
config template is a very good idea.
But I don't want set up config-default-dev.yaml for dev env when APISIX_PROFILE=dev.
I want to use the same config-default.yaml for both development and production environments.
But I can still use the config.yaml on production env, and the config-dev.yaml on development env.
### Environment

* apisix version (cmd: `apisix version`): 2.0
*

[2020-11-05 06:47] spacewander commented on #2634
@membphis
Should we use the same `config-default.yaml` for different profiles?

[2020-11-05 06:48] #2618 closed

[2020-11-05 07:11] idbeta commented on #2487
ping @nature100 Do you still have this problem with the latest version?

[2020-11-05 07:49] zlchanger opened #2635 "apisix stand-alone mode"
### Issue description
我突然看到config_center可以配置为yaml,请问哪有apisix.config的详细编写文档，我目前使用到的插件是jwt-auth

### Environment

* apisix version (cmd: `apisix version`): 1.2
* OS:

[2020-11-05 07:51] tokers commented on #2635
@zlchanger You can read the [config-default.yaml](https://github.com/apache/apisix/blob/master/conf/config-default.yaml), there are massive comments.

[2020-11-05 07:53] griffenliu commented on #2634
I has the second problem: when i custom config in the config.yaml. it can't merge. and has some errors.
I found the problem code in the apisix script:
[code]
can we add custom config support in the config.yaml?

[2020-11-05 08:00] spacewander commented on #2634
@griffenliu
Do you mean https://github.com/apache/apisix/pull/2476?

[2020-11-05 08:06] zlchanger commented on #2635
我想知道在apisix.yaml，jwt-auth这个插件怎么配置，比如，secret,key等值写在哪

[2020-11-05 08:18] Firstsawyou opened #2636 "chore: sort the request headers output by the _M.uri and _M.old_uri function in 't/lib/server.lua'"
### Issue description

In writing test cases, when the `_M.uri()` method in `t/lib/server.lua` is used, the order of output request headers is unstable, resulting in test cases sometimes failing. We need to sort the headers obtained by `local headers = ngx.req.get_headers()` to make it stable.

Need to modify the code: https://github.com/apache/apisix/blob/master/t/lib/server.lua#L103-L106
Modific

[2020-11-05 08:38] idbeta commented on #2635
@zlchanger You can read https://github.com/apache/apisix/blob/master/doc/zh-cn/plugins/jwt-auth.md

[2020-11-05 08:49] zlchanger commented on #2635
OK

[2020-11-05 08:56] griffenliu commented on #2634
@spacewander yes,  #2476  seems to solve my problem, thanks.

[2020-11-05 09:02] idbeta commented on #2634
Its title should be "DISCUSS".
I think the second question should be raised as another issue, but since it has been fixed, just ignore it :-D

[2020-11-05 09:10] idbeta commented on #2419
If there is no more information to provide, I think this issue can be closed. Do you agree? @HuangDayu @membphis

[2020-11-05 09:18] idbeta commented on #2296
ping @membphis Do these two issues need a new feat to solve?

[2020-11-05 09:22] idbeta commented on #2240
ping @membphis @spacewander This issue has been fixed in version 2.0, pls close it.

[2020-11-05 09:26] idbeta commented on #2198
I think this issue can be closed, @spacewander

[2020-11-05 09:28] idbeta commented on #2124
ping @spacewander

[2020-11-05 09:31] idbeta commented on #2118
@liubinqi2007 Did you try version 2.0?

[2020-11-05 09:42] #2419 closed

[2020-11-05 11:00] gy09535 commented on #2533
We can  discuss in this issue : https://github.com/apache/apisix/issues/2532
My idea is  do it in our lua function and expand resolve code, If we can not find Ip we can do other resolve logical below "/etc/resolv.conf" , I think I can do this.

[2020-11-05 11:10] #2240 closed

[2020-11-05 11:13] spacewander commented on #2124
It depends on what configuration you want to change. There is some limit in Nginx.

[2020-11-05 11:14] #2198 closed

[2020-11-05 12:06] ShiningRush opened #2637 "feat(CLI): support to specify proxy timeout in config.yaml"
### Issue description
Default proxy timeout (read, send, connect etc.) is 60s, it is too long for some users.We should add this option for `config.yaml`, so they can config it in config file instead of modify `nginx_tpl.lua`.

[2020-11-05 13:10] gy09535 commented on #2124
I will close this issue

[2020-11-05 13:11] #2124 closed

[2020-11-05 13:13] membphis commented on #2532
do you know how it works? I am not familiar with this.

[2020-11-05 13:15] membphis commented on #2533
I think we can close this issue. let us try to fix this bug by issue: #2532

[2020-11-05 13:15] membphis commented on #2533
@gy09535 please feel free to reopen this issue if you think we still need this issue.

[2020-11-05 13:15] #2533 closed

[2020-11-05 13:34] membphis commented on #2296
you can take a look at this doc: https://github.com/apache/apisix/blob/master/doc/plugin-interceptors.md#plugin-interceptors

welcome to add this link to Prometheus plugin doc.

not support now. you need to update the source code of the plugin Prometheus.

another way, add a new field and allow the users to specify the export URI path.

[2020-11-05 13:36] membphis commented on #2296
support to specify the export path, how abou this way?

[code]

[2020-11-05 13:41] membphis commented on #2634
for `config-default.yaml`, only one version. we use the same `config-default.yaml` for different profiles.

[2020-11-05 13:41] gy09535 commented on #2532
I know some from k8s core dns resolver, Now I read this page:https://linux.die.net/man/5/resolv.conf , full support is difficult, But support search and options can work in k8s cluster.

[2020-11-05 13:42] membphis commented on #2634
@griffenliu please feel free to reopen this issue if you still have a question for this issue.

[2020-11-05 13:43] membphis commented on #2532
welcome PR for this feature.

if you need any help, please let us know.

[2020-11-05 14:27] nanamikon commented on #487
Organization: huya
Location: GuangZhou, China
Contact: zhoujian1@huya.com
Scenario: api gateway

组织：虎牙
地址：广东省广州
联系方式：zhoujian1@huya.com
使用场景：公司api 网关

[2020-11-05 16:43] Miss-you opened #2638 "request help: disable ssl_session_tickets by default"
### Issue description

In a word, 'ssl_session_tickets' would make Perfect Forward Secrecy useless.

reference：
ingress-nginx：https://github.com/kubernetes/ingress-nginx/pull/6196
mozilla：https://github.com/mozilla/server-side-tls/issues/135

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-06 00:51] membphis commented on #2614
missing `make init` or `apisix init` step

[2020-11-06 01:11] spacewander commented on #2638
https://github.com/mozilla/server-side-tls/issues/135

Look like it would be better if we implement session ticket rotation? We need a modified version of [lua-ssl-nginx-module](https://github.com/openresty/lua-ssl-nginx-module) to get new ticket from etcd.

[2020-11-06 01:14] DirtyIndustry commented on #2602
Ok, i'll give it a try, thanks a lot everyone.

[2020-11-06 01:14] #2602 closed

[2020-11-06 01:40] spacewander commented on #2296
Look like we need to distinguish `plugin attr` (which need to reload to take effect) and `plugin metadata` (which don't need to reload). And we need to consider the `plugin attr` when we check if the plugin version is changed during loading plugins.

[2020-11-06 01:47] spacewander commented on #2565
@nanamikon
I think we can write them in a literal block, see `literal_block` in https://learnxinyminutes.com/docs/yaml/. We should take care about the indentation of Nginx configuration. But once the configuration is indented, it is suitable in the yaml file.

[2020-11-06 02:16] #2355 closed

[2020-11-06 02:16] #2523 closed

[2020-11-06 02:35] gy09535 commented on #2532
Sure, thanks.

[2020-11-06 02:50] dickens7 commented on #2532
To solve this problem, you can refer to or use this library directly

https://github.com/Kong/lua-resty-dns-client

@gy09535

[2020-11-06 02:54] gy09535 commented on #2532
See it, It it great.

[2020-11-06 02:57] idbeta commented on #2635
@zlchanger Has the JWT issue you mentioned in this issue been resolved? Use the 2.0 version

[2020-11-06 03:05] gy09535 commented on #2474
Should we add it in metric and store it in prom?

[2020-11-06 03:23] spacewander commented on #2474
I vote adding a new option to add the feature in Prometheus's metric.
Even we provides a separate plugin to count the API calls, we still need a layer to aggregate them and analyze them. There is no need to reinvent part of Prometheus.

[2020-11-06 03:33] Miss-you commented on #2638
Implementing session ticket rotation is a good idea, but not a high priority. I think we should first disable the 'ssl_session_tickets'.

On the other hand, it might be better to use redis instead of etcd.

[2020-11-06 04:28] LiteSun commented on #2082
I try to transform `request-validation` schema as you provided, but it seems there is an error. @liuxiran

![image](https://user-images.githubusercontent.com/31329157/98326057-46e49480-202b-11eb-996e-f235ee3e25bf.png)

[2020-11-06 04:34] LiteSun commented on #2082
Should I transform  `request-validation` request?

[2020-11-06 04:37] juzhiyuan commented on #2082
What's the correct data format for this plugin? cc @liuxiran

[2020-11-06 06:17] liuxiran commented on #2082
yep, request and response transform are also needed, we should transform the data got from schema form  to:

[code]

and transform the data got from API to
[code]

The reason is that fe need schema UI form to help user deine what the parameter verify schema  looks like.  pass a schema definition to api.

@juzhiyuan @LiteSun

[2020-11-06 06:29] tokers opened #2640 "[DISCUSS] Only keep one Server header in HTTP response"
### Issue description

I found sometimes there are two `Server` headers in HTTP response:

![image](https://user-images.githubusercontent.com/10428333/98333741-620bd000-203c-11eb-9bda-fad906385153.png)

I think it's redundant, we only need `Server: APISIX/2.0`.

[2020-11-06 06:47] Firstsawyou commented on #2640
Agree, for me, it is better to keep only `Server: APISIX/2.0`.

[2020-11-06 07:07] griffenliu commented on #2634
But when i use the apisix version 2.0  and profile is dev. when apisix start, it required config-default-dev.yaml.
[code]

[2020-11-06 07:20] spacewander commented on #2640
The adding header is only in the test scaffold.
https://github.com/apache/apisix/blob/3ab580fa7150736735c7dec67f6a3f4d2987b597/t/APISIX.pm#L392

@membphis
Do you remember why you added it deliberately?

[2020-11-06 07:59] idbeta opened #2672 "bug: click Settings` example-plugin` button, displays a 500 error."
Please answer these questions before submitting your issue.

- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other
___
### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
APISIX Dashboard 2.0
- What happened?
If possible, provide a way to reproduce the error.

When creating a route or consumer

[2020-11-06 08:18] LiteSun commented on #2082
@liuxiran Tks! I still have a question that How to handle multiple body_schema header_schema cases? As showing below:
![image](https://user-images.githubusercontent.com/31329157/98342475-6b506900-204b-11eb-9a88-c771c7415e76.png)

[2020-11-06 09:26] liuxiran commented on #2082
each body_schema in form data will be a sub attr of requestdata. body_schema. properties, the same to header_schema😊

[2020-11-06 10:42] Miss-you opened #2643 "request help: Use ngx.var.request_id as unique id for requests and response tracing, not jit-uuid."
### Issue description

Use `ngx.var.request_id` as unique id for req and resp tracing, not `jit-uuid`.

The distributed unique id generation algorithm is a classic problem. The current seed of jit-uuid is set by the lua code, while lua always use the same seed by default.

On the other hand, nginx/openresty has a default distributed id -- `ngx.var.request_id`. And after a year of experience, `ngx.

[2020-11-06 15:25] membphis commented on #2634
let us fix it, I think that is a bug.

[2020-11-06 15:30] membphis commented on #2640
sorry I do not remember this :( if you think it is useless or wong, welcome to remove it.

I think the first one is generated by APISIX, and the second one is from the upstream server.

agree, +1

[2020-11-06 15:32] NicolasBachs opened #2644 "request help: APISIX Benchmark fails"
### Issue description
I was performing stress test in order to check apisix performance but I got an unexpected status code response (Non-2xx or 3xx responses).

**Direct to upstream (Golang API, limited to use only one core):**
[code]

**Using apisix:**
[code]

### Environment

* apisix version (cmd: `apisix version`): 2.0 (cloned from last commit in repo)
* OS: Manjaro Linux

**Upstream configur

[2020-11-06 15:36] membphis commented on #2296
I think we can remove `plugin_attr` finally.

I love `plugin metadata` way.

for this issue, we can add new field `export_uri: /apisix/prometheus/metrics ` via `plugin metadata`.

[2020-11-06 15:47] membphis commented on #2644
you can check the access log, it will show you the upstream status code.

I think it is useful for you to confirm:
`3xx` or `4xx` are returned by APISIX or Glang software.

[2020-11-06 15:50] membphis commented on #2643
we mainly use `jit-uuid` when we need to generate Gateway ID in APISIX, it works in `init_lua` phase.

I do not think we can use `ngx.var.request_id` in this phase.

[2020-11-06 16:03] membphis commented on #2638
disable ssl_session_tickets by default
+1 ^_^

[2020-11-06 16:05] NicolasBachs commented on #2644
I saw 499 and 502 status code responses in access log.

When we ran the benchmark straight to golang API we haven't received any status code different to 200.

[code]

[2020-11-06 16:10] membphis opened #2645 "CI: fail, because openresty released a new version 1.19.3.1"
https://github.com/apache/apisix/runs/1364462832#step:11:15

[code]

[2020-11-06 23:16] idbeta opened #2647 "bug: The download page link in the release page is invalid"
### Issue description
`download page` link to http://apisix.apache.org/downloads/  which is 404 now.

[2020-11-07 00:19] #2645 closed

[2020-11-07 00:22] membphis opened #2648 "CI: support openresty 1.19.3"
temporary patch, that is not good way: https://github.com/apache/apisix/pull/2646

[2020-11-07 03:37] LiteSun commented on #2082
Got it! Tks👍

[2020-11-07 04:08] membphis commented on #2644
can you show me your golang API code? we'll make a try for this benchmark.

[2020-11-07 04:14] membphis commented on #2647
where did you get this link?

[2020-11-07 04:17] idbeta commented on #2647
https://github.com/apache/apisix/releases/tag/2.0

[2020-11-07 06:55] moonming opened #2649 "bug: The jwt plugin does not handle the case where `exp` is empty"
https://github.com/apache/apisix/commit/27875e57901ff1bbb1161bbd55364ecef2990e27#r43958477

[2020-11-07 06:56] moonming commented on #2649
@tzssangglass please take a look

[2020-11-07 06:59] moonming commented on #2647
will fix in https://github.com/apache/apisix-website/issues/81

[2020-11-07 10:13] spacewander commented on #2296
`plugin attr` is for configuration which need to take effect via the `init` function, like skywalking background timer and this one. It need to have the same lifecyle as the plugin lists (updated via reload). Therefore we can't remove it.

[2020-11-07 10:14] #2624 closed

[2020-11-07 10:18] spacewander commented on #1966
Solved by #2594

[2020-11-07 10:18] #1966 closed

[2020-11-07 12:11] tzssangglass commented on #2649
ok

[2020-11-08 00:12] membphis opened #2651 "doc: use username always, drop the `id` description"
![image](https://user-images.githubusercontent.com/6814606/98453978-1ff8a080-219a-11eb-8342-43a7dae5fdb1.png)

[2020-11-08 00:16] juzhiyuan commented on #2651
Not only this example, please check other examples in the Consumer part.

[2020-11-08 00:32] membphis commented on #2651
![image](https://user-images.githubusercontent.com/6814606/98454216-fd1bbb80-219c-11eb-85bd-53a213a97151.png)

[2020-11-08 00:40] membphis opened #2653 "chore: change `consumer_id` to `consumer_name`"
the `consumer_name` is clearer to undersatand.

to avoid ambiguity, use `consumer_name` instead and remove `consumer_id` in doc and source code.

https://github.com/apache/apisix/search?q=consumer_id

[2020-11-08 00:42] idbeta opened #2654 "feat: there is no "createtime" when creating a consumer by adminAPI, which causes dashboard to display wrong "Update Time""
### Issue description
There is no "createtime" when creating a consumer by adminAPI, which causes dashboard to display wrong "Update Time"

### Environment
* apisix version (cmd: `apisix version`):
* OS: apisix2.0 + dashboard 2.0

relate https://github.com/apache/apisix-dashboard/issues/718

[2020-11-08 00:49] juzhiyuan commented on #2651
![image](https://user-images.githubusercontent.com/2106987/98454434-571d8080-219f-11eb-888c-d21fb34df07b.png)

And this one.

[2020-11-08 02:16] tzssangglass commented on #2649
if `exp` is nil, it will cause a runtime error, like `attempt to perform arithmetic on field 'exp' (a nil value)`,  because use nil values in the `+` operator.
but I have no idea to write this test case, because it's is a local function.

due to the code in `check_schema` function, as follows:
https://github.com/apache/apisix/blob/4b349dc5b3a72a7819273d35e387e561a4c536c7/apisix/plugins/jwt-auth.lu

[2020-11-08 02:57] dabue opened #2655 "bug: the plug-in can't be reload if it's function changed only."
### Issue description
the plug-in can't be reload with the ' apisix/admin/plugins/reload' if it's function changed only.
because the code  https://github.com/apache/apisix/blob/master/apisix/plugin.lua#L111

### Environment

* apisix version (cmd: `apisix version`): the current master branch
* OS: centos 7

[2020-11-08 03:18] membphis commented on #2649
we can add a default value in JSON Schema here.

https://github.com/apache/apisix/blob/4b349dc5b3a72a7819273d35e387e561a4c536c7/apisix/plugins/jwt-auth.lua#L56

then we can remove https://github.com/apache/apisix/blob/4b349dc5b3a72a7819273d35e387e561a4c536c7/apisix/plugins/jwt-auth.lua#L126-L128

[2020-11-08 03:48] membphis commented on #2655
can you provide a mini step for this bug? then we can use it to reproduce this bug

[2020-11-08 03:53] membphis commented on #2296
`plugin attr` is mainly for providing the default value, we can use the default value of `plugin metadata` to support this too.

here is an example: https://github.com/apache/apisix/blob/master/apisix/plugins/http-logger.lua#L61

if the admin user did not set any new value, then the plugin will use the default value(same as `plugin attr`).

if the admin user set a new value by `plugin metadata` AP

[2020-11-08 03:56] membphis commented on #2654
there is the new field we need to support, please confirm they are Unix timestamp:

* create_time
* update_time

@nic-chen @ShiningRush

[2020-11-08 03:59] membphis commented on #2651
I make a try right now, it works fine(it should throw an error, that is a bug)
I'll create a new issue about this bug.

[2020-11-08 04:01] membphis opened #2656 "bug: the id and `consumer_name` must be same when create/edit the `consumer` object"
for this case, it should throw an error message, eg: `the id and username must be same for consumer object`.

[code]

[2020-11-08 04:53] tzssangglass commented on #2649
In this way, still needto handle the case where `exp` is empty? I think that's unnecessary.

[2020-11-08 05:32] membphis commented on #2649
after we set a default value in jsonschema, eg: `3600` sec, the `exp` can not be empty.

[2020-11-08 05:55] nic-chen commented on #2654
yes, it is. and is in secode.

[2020-11-08 05:57] tzssangglass commented on #2649
get it

[2020-11-08 06:46] #2647 closed

[2020-11-08 09:25] moonming commented on #2656
We should remove id of consumer, only name of consumer

[2020-11-08 09:29] moonming commented on #2651
I think we should remove id of consumer, only name is ok

[2020-11-08 12:58] idbeta opened #2665 "chore: The maximum length of the name when creating a route is 100, but an error will still be prompted at the end"
- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
APISIX 2.0 + APISIX-dashboard 2.0

The maximum length of the name when creating a route is 100, but input a name of 100 length an error will still be prompted at the end.
![image](https:/

[2020-11-08 13:47] idbeta opened #3035 "bug: del upstream but not del route, request the route, return 500"
- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

### Bug
- Which version of Apache APISIX Dashboard, OS, and Browser?
APISIX 2.0 + APISIX-dashbaord 2.0

step1: create upstream
step2: create route, and chose upstream created by step1
step3: del the step1's upstream from dashboard's upstream page
step4: re

[2020-11-08 13:55] tiger333777 opened #2658 "bug: 用plugin-interceptors方法对/apisix/prometheus/metrics目录进行限制无效"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):apisix 2.o
* OS:centos 7

用下面方法，对/apisix/prometheus/metrics 进行限制无效，烦请验证是否bug
https://github.com/apache/apisix/blob/master/doc/zh-cn/plugin-interceptors.md

[2020-11-08 14:16] spacewander commented on #2658
@tiger333777
Please check the master branch. The interceptors didn't work for 2.0 (This version is not new enough).

[2020-11-08 14:20] spacewander opened #2659 "Disable example-plugin by default"
No one need this in production. We can enable it only in the test.

[2020-11-08 17:52] Miss-you opened #2660 "bug: There is some doubt about `xxx || true` in `apisix_cli_test.sh`"
### Issue description

Is there a problem with the test case logic `xxx || true` here?

![image](https://user-images.githubusercontent.com/3816205/98472405-ea04fc00-222d-11eb-9818-6a89113ad009.png)

I printed a local printout of the count variable and the run result is not a number but a string, not as expected

The logic of this code is to expect the `grep` and `wc` commands to check if there is

[2020-11-08 18:01] Miss-you commented on #2643
Why Apache APISIX need to generate a uuid in `init` stage? What problem needs to be solved?

If it is used for tracing, I think the lifecycle of a request will be in rewrite/access , etc. And `init` or `init_worker` phase don't need uuid.

[2020-11-08 18:03] Miss-you commented on #2633
I think we need to refer to how the `sential` reports upstream status.

[2020-11-08 23:43] nic-chen commented on #2659
+1

[2020-11-08 23:57] nic-chen commented on #2643
It's an ID for each APISIX instance, not for each request.

[2020-11-09 00:12] #2623 closed

[2020-11-09 00:50] spacewander commented on #2633
It is to make the report happened in time. If we only count the failure in the log phase, the operation of circuit-breaker will be delayed.

No. Nginx does the same thing. Nginx counts the failure just before the retrying:
https://github.com/nginx/nginx/blob/ad2b9944b012699c225d75e63aeadf61d9ce3367/src/http/ngx_http_upstream.c#L4189

If you still think the behavior is not appropriate, please conta

[2020-11-09 00:50] #2633 closed

[2020-11-09 01:56] Jaycean opened #2661 "request help: plugin(hamc-auth) compatible with aliyun hmac-auth"
### Issue description
I think the hmac-auth plugin of apisix can be compatible with the hamc-auth of aliyun, Tencent cloud and other cloud manufacturers. In this way, some users who want to switch from the cloud manufacturer to apisix can directly replace it. My idea here is to modify the current hmac-auth or add a new plugin to support this function. I don't know whether the community has any pla

[2020-11-09 01:58] jinpy666 opened #2662 "bug: Can't turn on Skywalking"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS:CentOS 7.8

### Minimal test code / Steps to reproduce the issue
I opened Skyworking in config.yaml and restarted the service, which did not take effect

### What's the expected result?
![image](https://user-images.githubusercontent.com/5868671/98491860-1c841880-2271-11eb-9321-8c39a21f12d9.png)
![image](http

[2020-11-09 01:59] spacewander commented on #2661
Can you show us the difference between ours and the hamc-auth of aliyun, Tencent cloud and other cloud manufacturers?

[2020-11-09 02:07] spacewander commented on #2662
The `plugins` should be the same indent level as the `apisix`.

[2020-11-09 02:13] jinpy666 commented on #2662
![image](https://user-images.githubusercontent.com/5868671/98492901-2b1fff00-2274-11eb-86f9-406c79c176c1.png)
It still doesn't open

[2020-11-09 02:14] spacewander commented on #2660
The first one you quote has `-c` after `grep`.
The second one misses the `-c` option.

[2020-11-09 02:15] spacewander commented on #2662
You should show the error message instead of saying it doesn't work.

[2020-11-09 02:18] jinpy666 commented on #2662
![image](https://user-images.githubusercontent.com/5868671/98493186-c87b3300-2274-11eb-9810-69128d984993.png)

[2020-11-09 02:25] spacewander commented on #2662
Can't reproduce in my side.

[code]

My configuration:
[code]

Have you restarted APISIX after changing the configuration?

[2020-11-09 02:38] jinpy666 commented on #2662
![image](https://user-images.githubusercontent.com/5868671/98494278-8dc6ca00-2277-11eb-95bd-663a3043361e.png)
It's been restarted.I'm using the latest release:v2.0.

[2020-11-09 02:51] Miss-you commented on #2660
I got it. Thank u.

[2020-11-09 02:51] #2660 closed

[2020-11-09 02:54] Miss-you commented on #2643
These are two different scenarios.
I think Apache APISIX itself should use jit-uuid to generate unique ID, but in the case of tracing requests and responses, it should use `ngx.var.request_id`.

[2020-11-09 03:00] spacewander commented on #2662
Still can't reproduce with `apisix restart`.

[2020-11-09 03:00] spacewander commented on #2662
Any error message in your `logs/error.log`?

[2020-11-09 03:01] #2649 closed

[2020-11-09 03:03] jinpy666 commented on #2662
![image](https://user-images.githubusercontent.com/5868671/98495898-30347c80-227b-11eb-8895-45c92f8c6641.png)

[2020-11-09 03:06] lilihongjava opened #2664 "request help: Suggestions for storing dynamic rules in apifix"
### Issue description
Requirement: a request has an application ID and a developer ID. it is necessary to find out the private key(there is a management console that can be configured)  corresponding to the application and developer in a place to encrypt the request content. This data(private key) is dynamic and will change frequently. Now i need to select a key value library. At present, we plan

[2020-11-09 03:11] spacewander commented on #2664
For how we get the latest data in etcd, you can take a look at https://github.com/apache/apisix/blob/master/apisix/core/config_etcd.lua.

[2020-11-09 03:25] lilihongjava commented on #2664
Thank you for your prompt reply
Is there any reference example？

[2020-11-09 03:33] spacewander commented on #2664
How we use the `config_etcd` is the best example, which is workable and battle-tested.

[2020-11-09 04:07] #2578 closed

[2020-11-09 04:08] #2417 closed

[2020-11-09 06:22] gxthrj commented on #2665
@spacewander @Firstsawyou do you have time to resolve，the max length of route name is 50 in APISIX by now, it seems to short. and we had better to  keep it the same as dashboard.

[2020-11-09 06:36] membphis commented on #2665
we should change the max length to  `100`, same as the dashboard.

[2020-11-09 06:39] juzhiyuan commented on #2665
Just wait, we should make a decision on this issue, what's the proper mac limit? If 100 is good to go, then we should update the backend. If 50 is enough, then let the frontend to update.

[2020-11-09 07:18] membphis commented on #2665
I vote for this. `50` is small.

[2020-11-09 07:22] xuhuigithub opened #2666 "bug: apisix 在应对没有Host头部的http1.0时会返回400状态码"
### Issue description
  使用HTTP1.0协议不携带`Host`头部时apisix会返回[400状态码](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers/Host)，因为HTTP1.1中Host头部是必须的。而在HTTP1.0的标准定义中Host头部是可以缺失的[（定义中没有提到Host头部）](https://tools.ietf.org/html/rfc1945#section-10)，apisix 因为配置文件后端代理默认使用的http1.1协议的问题，在装配负载均衡请求时，[也使用了http的Host头部，链接是apisix的nginx配置模板](https://github.com/apache/apisix/blob/53a8f5a2ed85e4bd00e5889e7d1ab7f7e32

[2020-11-09 07:39] spacewander commented on #2666
If the user doesn't configure the name of backend (like most of the examples in the doc), how can we know the suitable backend name?

[2020-11-09 07:39] membphis commented on #2666
It seems a bug of `openresty` or `nginx`. I made a try with `openresty` server, I can get 400 response too.

[2020-11-09 07:43] xuhuigithub commented on #2666
apisix可以做个逻辑判断修复这个问题吗？

[2020-11-09 09:00] Firstsawyou opened #2668 "bug(proxy_mirror): The request header is not original in the request after mirror"
### Issue description

When using the `proxy_mirror` plugin, I first use the proxy_mirror plugin to mirror the source request, and then add the request header information to the source request. The expected mirroring request should be consistent with the source request, but the request header information in the mirrored request is changed.

### Environment

* apisix version (cmd: `apisix version`)

[2020-11-09 09:10] spacewander commented on #2651
I think we can remove the '{username}' from URL, as the `username` is already given as body.

[2020-11-09 09:17] juzhiyuan commented on #2651
Agree!

[2020-11-09 09:17] juzhiyuan commented on #2651
Let it be more like a RESTful request

[2020-11-09 09:17] spacewander commented on #2668
Give a concrete example?

[2020-11-09 10:14] liuxiran commented on #2082
After communicating with @LiteSun, there are three problems with the **request validation schema** design of the first edition:

1. dirty data: when change from body_schema to header_schema, useless `body_schema` will be generated, and it can not be tranform to UI.
**try to update the transform schema to** the follow one
[code]
2. how to handle parameters with the same name in the same section? as

[2020-11-09 10:19] spacewander commented on #1273
Consider solved?

[2020-11-09 10:23] spacewander commented on #2254
The discussion doesn't get new reply anymore.

[2020-11-09 10:23] #2254 closed

[2020-11-09 10:24] jxhecong opened #2670 "request help: while etcd auth enable，apisix cannot get etcd settings after restart"
### Issue description
enable etcd auth, add right user and password in config.yaml, add a right routes, curl the service is OK
apisix restart, curl the service result 404
when remove user and password in config.yaml and disable etcd auth, the service is fine again

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS: centos7.6

[2020-11-09 10:25] Firstsawyou commented on #2668
I will add later.

[2020-11-09 10:27] spacewander commented on #2670
Have you seen any error message after apisix restart?

[2020-11-09 10:27] #1955 closed

[2020-11-09 10:38] jxhecong commented on #2670
just "signal process started" in error.log

[2020-11-09 10:42] membphis opened #2671 "doc: for the `uri`, `host`, and `remote_add` fields of the route, plural field is used first"
We need to add this tip in doc: https://github.com/apache/apisix/blob/master/doc/admin-api.md#route

Here is the code:

https://github.com/apache/apisix/blob/master/apisix/http/router/radixtree_uri.lua#L56

![image](https://user-images.githubusercontent.com/6814606/98531404-4104e280-22bb-11eb-879c-c67b7347c42f.png)

[2020-11-09 10:52] jxhecong commented on #2670
someting strange:
etcd --user=***:*** get / --prefix
the command's just output /apisix/routes/1 which is configured
such as
"
/apisix/consumers/
init_dir
/apisix/global_rules/
init_dir
/apisix/node_status/
init_dir
/apisix/plugin_metadata/
init_dir
/apisix/plugins/
init_dir
/apisix/proto/
init_dir
..."
is not found

[2020-11-09 11:11] #2664 closed

[2020-11-09 11:29] juzhiyuan commented on #2082
[example plugin](https://github.com/apache/apisix/issues/2672)

[2020-11-09 11:33] xyz2b opened #2674 "request help: apisix can support verify client of ssl?"
### Issue description
apisix can support verify client of ssl?
openresty is support verify client of ssl. The interface is as follows:
`ok, err = ssl.verify_client(ca_certs?, depth?)`

### Environment

* apisix version (cmd: `apisix version`): apisix 2.0
* OS:centos7.5

[2020-11-09 11:34] liuxiran commented on #2082
example plugin will be disabled with #2673

[2020-11-09 11:35] spacewander commented on #2672
Can we close it after https://github.com/apache/apisix/pull/2673?

[2020-11-09 11:49] juzhiyuan commented on #2672
Yep

[2020-11-09 11:49] juzhiyuan commented on #2672
We don't have a need to adjust this sample's schema.

[2020-11-09 12:00] spacewander commented on #1623
This issue is not longer valid since skywalking client is rewritten. And now the client works as suggested.

[2020-11-09 12:00] #1623 closed

[2020-11-09 12:21] membphis opened #2675 "feat: support ENV variable in `conf/config.yaml`"
Here is an example, we can take a look:

[code]

[2020-11-09 12:27] jxhecong commented on #2670
1. reproduce the failure.
1.1 etcd --user=: delete / --prefix
      etcd --user=: get / --prefix, to make sure nothing left
1.2 enable etcd auth, add right user and password in config.yaml, apisix start, add a right routes, curl the service is OK
      etcd --user=: get / --prefix, just output the /apisix/routes/ which is configured
1.3 apisix restart, curl the service result 404
      etcd --user

[2020-11-09 14:44] #2638 closed

[2020-11-09 14:58] membphis commented on #2674
that is a new API in `1.19.3`, welcome PR to add this feature ^_^

[2020-11-09 15:09] #1273 closed

[2020-11-09 15:13] membphis commented on #2662
@jinpy666 you can provide your `conf/config.yaml` file, we can make a try

[2020-11-09 15:18] membphis commented on #2666
APISIX can not support this case, it depends on the Nginx.

[2020-11-09 15:18] #2666 closed

[2020-11-09 15:32] jinpy666 commented on #2662
[code]

[2020-11-09 15:44] membphis commented on #2662
it works fine at my side. :(

![image](https://user-images.githubusercontent.com/6814606/98562334-e84a3f80-22e4-11eb-8eec-86e3a194d029.png)

[2020-11-09 15:55] jinpy666 commented on #2662
Why is this not available in Dashboard? Don't support UI operations?

![image](https://user-images.githubusercontent.com/5868671/98563715-770b8c00-22e6-11eb-80e7-5443691b3fc6.png)
![image](https://user-images.githubusercontent.com/5868671/98564037-d8335f80-22e6-11eb-9bb5-4bc0d2bf22f4.png)

[2020-11-09 16:23] LiteSun commented on #2082
1. I just test the latest transform schema you provided.it works well and dirty data has been successfully removed. For more info, please refer to https://github.com/api7/dashboard-components/pull/176
2&3.It is ok for me. What do you think? @juzhiyuan @membphis

[2020-11-09 17:22] NicolasBachs commented on #2644
This is the Dummy API that I am using:

[code]

[2020-11-09 22:52] membphis commented on #2662
@nic-chen do you have any idea about this? how to get the plugin list from manager-api?

[2020-11-09 23:00] nic-chen commented on #2670
Thanks for feedback，that is why.
'init_etcd' doesn't support auth yet.

[2020-11-09 23:16] nic-chen commented on #2662
List by jsonschema. I will try in my local, and figure it out

[2020-11-09 23:31] juzhiyuan commented on #2082
Not sure, just waiting for others opinions.

[2020-11-10 00:46] #2659 closed

[2020-11-10 00:46] #2672 closed

[2020-11-10 00:52] spacewander commented on #2674
@xyz2b
Before submitting any code, please show your design either in GitHub issue or mail list. We could not accept a nontrivial feature without discussion.

[2020-11-10 01:08] membphis commented on #2662
@jinpy666 https://github.com/apache/apisix-dashboard/pull/754

we update the JSONSchema file: https://github.com/apache/apisix-dashboard/pull/754/files#diff-5fadf7c6b5b550d0a97075c3ddeaf29028204cd60da2660c6a1e1c72b4bbd0ed

you can use it to replace the file `api/conf/schema.json` or `output/conf/schema.json` in your work folder.

if you have any question, please let us know

[2020-11-10 01:09] moonming opened #2677 "request help: add `info` page for Apache APISIX"
### Issue description
Return the version number, configuration information, and listening port number etc, for user feedback and debugging

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-10 01:11] moonming commented on #2677
I think we should do this in control plane

[2020-11-10 01:49] imjoey commented on #306
Hi @membphis @moonming , this issue seems stable. While, in the next few weeks, we will work on building and delivering APISIX, as well as OpenResty, on openEuler, which is yet another open source operating system originated in China. So I guess the compiling docs may be useful in some circumstances. Of course after getting our work done, we will try to contribute ours compiling docs back to APISI

[2020-11-10 02:07] backnero opened #2678 "bug: After upgrading to version 1.5, the attempt to call global'type' (a string value) error of ETCD appears"
### Issue description
After upgrading to version 1.5, the attempt to call global'type' (a string value) error of ETCD appears
[code]
### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS:centos7 【K8S】 【docker】
ETCD:3.4.9
### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)
adminAPI http 5

[2020-11-10 02:37] linxinshuo opened #2680 "bug:config_etcd did not handle the watcher be canceled"
### Issue description
Current version, the config_etcd watch different prefixes and maintain revisions separately, when some prefix be modified, the others can not perceive revision change. If etcd enable auto compacted,  the watcher with old revision will be canceled because revision be compacted.
hope the watcher can handle the canceled result,  re-pull the latest revision and re-watch

In curre

[2020-11-10 02:49] spacewander commented on #2668
It is because the headers of Nginx's subrequest is just a swallow copy of its parent request:
https://github.com/nginx/nginx/blob/a3b5ccd0566e618635303309dd8592aa4cfd7eaf/src/http/ngx_http_core_module.c#L2366

[2020-11-10 02:52] spacewander commented on #2668
We can adjust the header like this: https://github.com/openresty/lua-nginx-module/blob/7105adaa523adedec80f0aaa13388b88d08988f8/src/ngx_http_lua_subrequest.c#L1635

[2020-11-10 02:57] idbeta commented on #2649
new merged code still have problem in my env
[code]

[2020-11-10 03:02] tokers commented on #2678
@backnero Have you executed `make deps` and `./bin/apisix init_etcd` after you upgrading APISIX?

[2020-11-10 03:05] juzhiyuan opened #2681 "bug: many links are broken in docs"
### Issue description

When I use [docusaurus](https://docusaurus.io/docs/en/doc-markdown) to build apisix's [doc site](https://apisix.apache.org/apisix/README), this tool scans all files and tells us there have so many broken links, I will fix them in one PR.

![image](https://user-images.githubusercontent.com/2106987/98622424-730e5700-2344-11eb-8585-073c98972589.png)

[2020-11-10 03:08] juzhiyuan commented on #2681
Some of them are working, let me just fixed the actual broken links.

[2020-11-10 03:14] tzssangglass commented on #2649
check the value in etcd, if you are adding the `consumer` and `jwt-auth` plugin through the `apisix admin api`, `exp` will at least have default value, so you need to pay attention to whether the values in etcd are being submitted through the `apisix admin api`, or if you are operating directly on etcd

[2020-11-10 03:18] backnero commented on #2678
[code]
I use yum to install apisix 1.5

[2020-11-10 03:30] idbeta commented on #2649
oh, I added consumer from manager-api, the etcd data was like this
[code]

[2020-11-10 03:32] ShadowCharle opened #2683 "compared with springcloud gateway ,the qps is lower"
### Issue description
I built two services, a target service and a SpringCloud Gateway service.

I used WRK for stress tests on the same machine:

1. Invoke the target service directly using WRK
![test1](https://user-images.githubusercontent.com/58029929/98623569-0052ab00-2347-11eb-8b6e-7257ae21956f.png)
2. Configure the route of the target service in the SpringCloud Gateway service, and then use

[2020-11-10 03:34] juzhiyuan commented on #1597
Just waiting for this

[2020-11-10 03:35] tzssangglass commented on #2649
this is the wrong data, no` exp`, maybe the problem is that the `manager-api` commits the data directly to etcd without going through the `apisix admin api`

[2020-11-10 03:48] tokers commented on #2683
@ShadowCharle You have some non-2xx or 3xx requests in the benchmark test for SpringCloud gateway, have you ever investigated it?

[2020-11-10 04:32] jxhecong commented on #2670
need to add a config option "token" in config.yaml for apisix.etcd, used by init_etcd to add "-H 'Authorization: ***'" in curl command

[2020-11-10 04:41] xuhuigithub commented on #2666
兄弟，这个确实不是人家nginx的问题，你没设置server_name $host的值就是空的，而在http1.1中host不能为空，返回400是正常现象。这个nginx的官方配置文档中讲到了，你看下。[#](http://nginx.org/en/docs/http/ngx_http_core_module.html#server_name)

[2020-11-10 04:50] idbeta opened #2686 "bug: dashboard2.0 create route with key-auth plugin, there is a useless setting"
- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

![image](https://user-images.githubusercontent.com/7396835/98629039-f767d680-2352-11eb-98e3-307a2eb30936.png)

[2020-11-10 06:32] ShadowCharle commented on #2683
yes,But that's rarely the case，I don't think that's the core issue

[2020-11-10 06:35] idbeta commented on #2683
I think you should Increase the stress so the CPU utilization rate of servers of the two APIgateways are full and then compare their QPS.
Have you modified the system settings? Like `ulimit -n`

[2020-11-10 06:53] liuxiran commented on #2082
- [ ] key-auth

[2020-11-10 07:12] tokers commented on #2683
@ShadowCharle What about the number of Nginx workers for APISIX and Java threads for SpringCloud?

[2020-11-10 07:15] juzhiyuan opened #2688 "bug: CI is not stable"
### Issue description

![image](https://user-images.githubusercontent.com/2106987/98641874-6bac7500-2367-11eb-93dd-27164e95aeb7.png)

In this [PR](https://github.com/apache/apisix/pull/2684),  I only update the markdown files, but the CI failed.

### Environment

* apisix version (cmd: `apisix version`): master branch

[2020-11-10 07:22] ShadowCharle commented on #2683
i modified the system settings. ulimit -n=65535 and fs.file-max=3248559

[2020-11-10 07:25] Jaycean commented on #2686
Please assigne to me. I will fix it. Tks.

[2020-11-10 07:26] ShadowCharle commented on #2683
cpu core:6
SpringCloud is a Java service, and I haven't changed any configuration;

[2020-11-10 07:27] spacewander commented on #2686
I already did it.

[2020-11-10 07:29] jinpy666 commented on #2662
I rebuilt based on the latest branch and can see the plugin and set it up, but 500 errors will appear.

[code]
[etcd.zip](https://github.com/apache/apisix/files/5515519/etcd.zip)  This is my ETCD DB

[2020-11-10 07:31] spacewander commented on #2688
https://samples.auth0.com/.well-known/openid-configuration
Can't be accessed sometimes.

[2020-11-10 07:40] juzhiyuan commented on #2688
Alright, let's keep this issue open and I will add a proper label for it.

[2020-11-10 08:02] spacewander commented on #2662
@jinpy666
Have you enabled request-id plugin?

[2020-11-10 08:03] jinpy666 commented on #2662
Yes

[2020-11-10 08:08] #2686 closed

[2020-11-10 08:10] #2681 closed

[2020-11-10 08:19] spacewander commented on #2662
How you get the 500 error?

[2020-11-10 08:21] jinpy666 commented on #2662
Yes, You can import my ETCD data and get my specific settings.

[2020-11-10 08:27] spacewander commented on #2662
@jinpy666
Please don't make me guess.

[2020-11-10 08:35] jinpy666 commented on #2662
![image](https://user-images.githubusercontent.com/5868671/98649329-702a5b00-2372-11eb-90b2-82d0891e312f.png)
This is how I use the plugin, is there no added condition, resulting in the generated script error?If so, the form validation needs to be strengthened.

[2020-11-10 08:56] #1791 closed

[2020-11-10 09:29] yankunsam opened #2692 "request help: got malformed version message: "" from etcd"
### Issue description
I install apisix in gateway namespace,not default. Should I add etcd or dns_resolver in config.yaml?

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-10 09:48] gy09535 opened #2693 "[DISCUSS] Should we add metric for log sender and zipkin ?"
### Issue description
Now  the log sender batch store the data in memory , we can not know how many logs or spans is send, so I think we can add some metric to monitor it.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-10 09:49] gy09535 commented on #2693
I do it in my private repository should apisix need it?

[2020-11-10 10:07] spacewander commented on #2693
Could you provide a design about it?

[2020-11-10 10:37] idbeta opened #2694 "bug: dashboard2.0 ip-restriction plugin set blacklist, can not set ipv4 or ipv4/CIDR"
- Why do you submit this issue?
- [ ] Question or discussion
- [x] Bug
- [ ] Requirements
- [ ] Feature or performance improvement
- [ ] Other

dashboard2.0  ip-restriction plugin set `blacklist`, can not set ipv4 or ipv4/CIDR,  `whitelist` doesn't have this problem.
![image](https://user-images.githubusercontent.com/7396835/98628362-617f7c00-2351-11eb-9bc3-071c1cac418f.png)

[2020-11-10 10:40] idbeta commented on #2644
Could you try to deploy APISIX, upstream, wrk on different servers? The results should be very different, I tested it, when everything is on the same machine, the test result is relatively low, I guess it is related to resource competition.
I used your code as upstream, set the route like this:
[code]
And my result was:
Upstream:
[code]
When everything is on the same machine, the APISIX's QPS:
[co

[2020-11-10 11:05] tokers commented on #2692
@yankunsam What's the etcd configuration in your config.yaml?

[2020-11-10 11:07] #2634 closed

[2020-11-10 11:21] spacewander commented on #2281
The plugin attribute just shows how we can configure it.

[2020-11-10 11:21] #2281 closed

[2020-11-10 11:23] spacewander commented on #2693
I think we need to allow plugin to register their metrics. Like a `_M.collect` method and prometheus will call them when in need.

[2020-11-10 11:25] gy09535 commented on #2693
When  prometheus exporter init , I add a gauge to metric with label : node，route_id, type。And I export two module function inc and set to change the gauge value. In "syslog plugin" log method  I  use this module method  inc it value, and  in batch process I reduce it value. And zipkin is also do that.

[2020-11-10 11:28] #2125 closed

[2020-11-10 11:29] gy09535 commented on #2693
We can add plugin init method  to register their own metric

[2020-11-10 11:35] jxhecong commented on #2670
etcd auth token change easy, it's not a good idea to set it in config.yaml.
this PR get token by request etcd server when apisix start

[2020-11-10 11:42] spacewander commented on #1804
The issue is replaced by #1858 and #1859.

[2020-11-10 11:42] #1804 closed

[2020-11-10 12:23] yankunsam commented on #2692
like this:
etcd:
  host:
    - "http://etcd-cluster-client.gateway.svc.cluster.local:2379"

[2020-11-10 12:32] Firstsawyou commented on #2692
1. First check whether the etcd configuration in your `config.yaml` file is correct.
2. Check whether your etcd service can be used normally.
3. You can try to restart etcd service.

[2020-11-10 12:38] Applenice opened #2695 "request help: config_etcd.lua has been consistently and frequently reporting errors"
### Issue description
After installing APISIX 2.0, the `apisix/logs/error.log` file shows that `config_etcd.lua` has been consistently and frequently reporting errors. The phenomenon still exists after reinstalling `apisix` and `etcd` without modifying any configuration during the period. Nearly 2,200 lines of error logs typed in nearly 20 minutes, similar to the following:
[code]
Installation met

[2020-11-10 14:15] nic-chen commented on #2695
hi，I want to know，does your etcd enable auth？

[2020-11-10 14:17] nic-chen commented on #2692
yes，need to add dns_resolver in config.yaml

[2020-11-10 15:59] NicolasBachs commented on #2644
Great, thanks!. I'll try on different machines. However, your results are different to mine in requests/sec so maybe because of that, you don't have non-2xx or 3xx responses. I also don't understand why my results are lower than apisix official benchmarks considering that the computer where I performed the test was even better than the one where the official benchmark was done.
I used an Intel cor

[2020-11-10 16:31] Firstsawyou opened #2697 "chore: code format optimization of `t/lib/server.lua` file"
### Issue description

In the `t/lib/server.lua` file, there is only one blank line between most `functions`, and we need two blank lines.

<img width="559" alt="截屏2020-11-11 上午12 28 10" src="https://user-images.githubusercontent.com/52862365/98702016-df28a380-23b4-11eb-9622-8d1c519cda3d.png">

Example：

[code]

[2020-11-11 00:18] cyxinda commented on #1623
OK，thx

发自我的iPhone

[2020-11-11 02:18] tokers commented on #2697
That's good to treat the test codes equally without discrimination. I think it can be checked by the lint tool too.

[2020-11-11 02:22] yankunsam opened #2699 "request help:"
### Issue description

Dashboard Project

After run the api.sh:

panic: etcd get failed: etcdserver: user name is empty

### Environment

* apisix version (cmd: `apisix version`):
* OS: MacOS

[2020-11-11 02:26] idbeta commented on #2644
I know there are several system settings that will affect performance testing, such as fs.file-max, ulimit -n.
Performance testing is indeed a science, I think there may be other influence points.

[2020-11-11 02:28] spacewander commented on #2699
There is no `api.sh` in this repo. Do you submit the issue to the wrong place?

[2020-11-11 02:35] #2699 closed

[2020-11-11 02:36] #2665 closed

[2020-11-11 02:49] membphis opened #2700 "feat: use etcd to store the JSON schema of APISIX, then the manager API can read it from etcd"
here is the discuss mail:

https://lists.apache.org/thread.html/rb1c19fe9b6e51ede3b5aead122e2bcd4de6249f42b971eabfb8a79ac%40%3Cdev.apisix.apache.org%3E

[2020-11-11 02:50] membphis commented on #2700
@nic-chen do you want to handle this job?

[2020-11-11 02:50] idbeta commented on #2695
can you try to check etcd data like this?
[code]

[2020-11-11 03:15] Hmemories commented on #1838
I have an idea to solve this problem，do you think it's feasible？
![image](https://user-images.githubusercontent.com/30172398/98760736-db296f80-240e-11eb-91b8-cc36322a3f75.png)

[2020-11-11 03:38] #2688 closed

[2020-11-11 04:53] idbeta commented on #2678
Have you installed etcd? could you try to check etcd data like this?
[code]

[2020-11-11 05:46] Applenice commented on #2695
No configuration, a freshly installed state of etcd

[2020-11-11 05:50] Applenice commented on #2695
No information was returned after execution😐😐

[2020-11-11 05:58] liuxiran opened #2703 "response-rewrite rewrite the response from apisix"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): latest master branch
* OS: Fedora32

### Minimal test code / Steps to reproduce the issue
1. Create a route, enable key-auth and response-rewrite plugins
[code]
2. Create a consumer, enable key-auth plugin with key:auth-one
[code]
3. Access the route `/get` with the right key
[code]

4. Access the route `/get` withou

[2020-11-11 06:16] idbeta commented on #2703
I think it’s because of the priority of the plugin, `response-rewrite` is executed last.

[2020-11-11 06:22] idbeta commented on #2695
Can you try to run `make init` in the APISIX directory?

[2020-11-11 06:52] nic-chen commented on #2700
OK, let me try.

[2020-11-11 06:56] juzhiyuan commented on #2694
This issue is related to https://github.com/apache/apisix/pull/2091 this PR, we need to check its scheme again.

[2020-11-11 06:56] imjoey commented on #2703
@liuxiran @idbeta In this situation, we could interrupt the execution of the current request. Maybe calling `ngx.exit(ngx.HTTP_UNAUTHORIZED)` with a customize error message is a good choice.

[2020-11-11 07:25] spacewander commented on #2654
We only have those fields:
https://github.com/apache/apisix/blob/a2fa3ff89d886020a317f7e7f024756296e9861d/t/admin/consumers.t#L328

What we need to do is adding them to the doc.

[2020-11-11 07:55] Miss-you commented on #2643
we can simply use `api_ctx.var.request_id`

demo code:
[code]

log:
[code]

![image](https://user-images.githubusercontent.com/3816205/98784615-59e5d300-2436-11eb-884e-5279c41b680a.png)

[2020-11-11 08:18] imjoey commented on #2703
I have the same issue. Here is the error log:

[code]

[2020-11-11 08:47] idbeta opened #2707 "bug: Enable http-logger plugin in the route will cause an error log"
### Issue description
Enable http-logger plugin in the route will cause an error log.

### Environment

* apisix version (cmd: `apisix version`): master
* OS:

### Minimal test code / Steps to reproduce the issue
1. set the route
[code]
2. request the route
[code]
3.
`
$ cat error.log
2020/11/11 16:45:09 [error] 41367#2352668: *2007998 lua entry thread aborted: runtime error: /Users/idbeta/1106/ap

[2020-11-11 08:50] spacewander commented on #2707
You should use `http://127.0.0.1:9797/postendpoint?param=1`. BTW, we need to verify the input.

[2020-11-11 08:55] idbeta commented on #2707
@spacewander https://github.com/apache/apisix/blob/master/doc/plugins/http-logger.md the documentation is `127.0.0.1:9797/postendpoint?param=1`, and the problem still exists even I used `http://127.0.0.1:9797/postendpoint?param=1`

[2020-11-11 08:57] Applenice commented on #2695
No make command can be used.
[code]
No change after trying to execute `apisix init` and `apisix init_etcd`😔
[code]

[2020-11-11 09:03] spacewander commented on #2707
@idbeta
I tried `http://127.0.0.1:9797/postendpoint?param=1` but it work well for me:
[code]

[2020-11-11 09:54] souzens commented on #2695
the same wrong
use k8s & apache/apisix:latest dcoker image

`./etcdctl --endpoints=10.111.9.154:2379 get --prefix "/apisix"
/apisix/routes/328088132001988967
{"id":"328088132001988967","create_time":1605085365,"update_time":1605086330,"uris":["/*"],"name":"test-pre","methods":["GET","HEAD","POST","PUT","DELETE","OPTIONS","PATCH"],"hosts":["venice.test-pre.com"],"vars":[],"upstream":{"nodes":[{"hos

[2020-11-11 10:00] idbeta commented on #2695
cc @gxthrj Do you have any idea?

[2020-11-11 10:08] JanLi-air opened #2709 "bug: limit-count throws error casually in apisix 2.0"
### Issue description
When configured limit-count plugin in global rule, it sometimes throws error and respond with 500.

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS: Linux

### Minimal test code / Steps to reproduce the issue
1. Configure limit-count in global rule like this:
[code]
2. Repeatly request apisix
3. The error happens after some requests, might need thousands o

[2020-11-11 10:10] JanLi-air commented on #2709
The problem might be limit-count returns incorrect limit object from lru cache.

[2020-11-11 10:10] Firstsawyou opened #2710 "bug(hmac-auth): when the request contains escape characters, the signature verification fails"
### Issue description

In different programming language environments, the escape characters of parameters in `uri` have the difference between uppercase and lowercase letters, and they all represent the same characters. In the `hmac-auth` plugin, the parameters in `uri` are uniformly escaped with `escape_uri`, which will convert lowercase letters in escaped characters to uppercase letters. Eventu

[2020-11-11 10:11] Firstsawyou commented on #2710
Assigned to me.

[2020-11-11 10:53] Gary-Airwallex opened #2711 "request help: plugins in global rules are prioritized over those in routes, regardless of priority"
### Issue description
Plugins in global rules are prioritized over those in routes, regardless of priority.

Our use case: prometheus configured in global rules & a custom plugin that is configured per route. The custom plugin sets a variable in context during log phase: `ctx.custom_variable = value`, and we'd like to get that variable in metrics, by modifying exporter.lua. However since global ru

[2020-11-11 10:58] Miss-you commented on #2703
`ngx.exit` will interrupt the execution of the current request and return status code to Nginx.

![image](https://user-images.githubusercontent.com/3816205/98802824-d389bb00-244e-11eb-8fa7-107a31b16164.png)

However, if you execute `ngx.exit` during the access phase, it only interrupts the request processing phase, and the response phase will still process it, i.e. if you configure the response-re

[2020-11-11 11:09] souzens commented on #2695
by test just now, apisix2.0 will report error above when run wtih etcd-3.4.13
instead of etcd3.4.9 run ok

[2020-11-11 11:36] spacewander commented on #2709
@JanLi-air
Could you add this code to see what happened when limit object is incorrect?
[code]

[2020-11-11 12:57] spacewander commented on #2709
And have you tried the master branch? The lru cache is changed after 2.0 and some issues are addressed. Not sure if your problem is solved.

[2020-11-11 12:59] spacewander commented on #1768
The plugin_ctx got refactor.

[2020-11-11 12:59] #1768 closed

[2020-11-11 14:22] spacewander commented on #1614
Now `ctx.var.uri` is used instead.

[2020-11-11 14:22] #1614 closed

[2020-11-11 14:27] spacewander commented on #1873
Surpassed by #2656

[2020-11-11 14:27] #1873 closed

[2020-11-11 14:34] moonming commented on #2695
@nic-chen please take a look

[2020-11-11 18:29] NicolasBachs commented on #2644
Thank's for all the help that you gave me. I have another question to ask you, how is the best way to scale horizontally APISIX in Kubernetes sharing the same etcd database? Should I replicate etcd too?

[2020-11-11 23:57] nic-chen commented on #2700
I think the main logic should be:

When APISIX starts, read the key `/apisix/jsonschema` of ETCD.

If the key does not exist or is empty, then read the JSON schema from APISIX and save to the ETCD key `/apisix/jsonschema`.

If the key already exists and is not empty, nothing will be done.

APISIX provides a command line tool that can be used to manually update the JSON schema, like: `apisix sync-s

[2020-11-11 23:59] nic-chen commented on #2695
working on it.

[2020-11-12 00:52] nic-chen commented on #2695
@souzens

Thanks for feedback.

but it works fine on my env using `etcd-3.4.13`. could you please provide more details ? thanks.

@idbeta please help check. thanks

[2020-11-12 01:16] imjoey commented on #2703
@Miss-you your explanation is lifesaving. Much appreciated.

[2020-11-12 01:45] spacewander commented on #2694
I have checked the schema of APISIX, can't reproduce this issue.

[2020-11-12 02:07] idbeta commented on #2644
cc @membphis @gxthrj Can you reply to this question?

[2020-11-12 02:15] liuxiran commented on #2703
Thanks for your instructions @Miss-you , we will try to feedback to the issue you mentioned after further digestion.

So the  above problem I think is not a bug, it may considered as an enhancement that response rewrite only rewrite the response comes from upstream.

[2020-11-12 02:16] tokers commented on #2700
So all schemas are put inside a single JSON string here?

BTW, have you consider the grayscale of APISIX itself? If the new version of APISIX has some incompatible changes for some schemas, once the schema is synced, all instances which shares the same ETCD cluster will be effected. So maybe versioning or other way like naming isolation is required.

[2020-11-12 02:25] JanLi-air commented on #2709
[code]

[2020-11-12 02:27] liuxiran commented on #2700
Is it necessary to automatically trigger schema synchronization when adding a new schema(e.g: add a new plugin) or modifying a schema, so that the consumer of the schema (e.g manager-api) can use the feature in a perceptible way?

[2020-11-12 02:27] JanLi-air commented on #2709
this is what I got, what is this value `lim:ver 2935`?

[2020-11-12 02:32] JanLi-air commented on #2709
What are those issues? Can you share the links?

[2020-11-12 02:37] spacewander commented on #2709
https://github.com/apache/apisix/pull/2575/files

[2020-11-12 02:51] ziyou434 commented on #2695
I also have this problem, and both versions of etcd3.4.13 and etcd 3.4.9 report errors

[2020-11-12 02:51] nic-chen commented on #2700
Thanks for suggestion, that's really helpful.

So we could use key like `/apisix/jsonschema/$schemaversion` for isolation.

And I think we need to manually maintain the schema version in both APISIX and `manager api`.

what do you think ?

[2020-11-12 02:52] spacewander commented on #2709
I think your issue is fixed. See https://github.com/apache/apisix/pull/2575/files#r521784444 about why it is fixed.
Feel free to reopen it if you still reproduce the issue with the master branch.

[2020-11-12 02:52] #2709 closed

[2020-11-12 03:00] nic-chen commented on #2695
Thanks for feedback.

Could you provide the steps and config details ? thanks.

[2020-11-12 03:00] tokers commented on #2700
What about using a separate key for each schema? just use `/apisix/jsonschema/` as the prefix, like other resources?

[code]

I am not sure whether the versioning is a good way to solve this, because APISIX should remember each schema's version that it needs.

[2020-11-12 03:12] nic-chen commented on #2700
Thanks for suggestion. I have considered this before, but this will cause version problems, so I think it needs to be automatically generated if it does not exist, and the update should be triggered manually by the user. After solved the version issue, it could be automatically updated.

[2020-11-12 03:14] ziyou434 commented on #2695
apisix2.0-alpine
helm install etcd bitnami/etcd -n api-gateway --set auth.rbac.enabled=false --set image.tag=3.4.9

`I have no name!@etcd-0:/opt/bitnami/etcd$ etcdctl get --prefix "/apisix"
/apisix/consumers/
init_dir
/apisix/global_rules/
init_dir
/apisix/node_status/
init_dir
/apisix/plugin_metadata/
init_dir
/apisix/plugins/
init_dir
/apisix/proto/
init_dir
/apisix/routes/
init_dir
/apisix/serv

[2020-11-12 03:16] tokers commented on #2695
@ziyou434 Could you provides the options that used for etcd start.

[2020-11-12 03:22] ziyou434 commented on #2695
I use bitnami/etcd chart ,and --set auth.rbac.enabled=false.
The chart use setup.sh start etcd

 setup.sh
#!/bin/bash

set -o errexit
set -o pipefail
set -o nounset

# Debug section
exec 3>&1
exec 4>&2

if [[ "${BITNAMI_DEBUG:-false}" = true ]]; then
    echo "==> Bash debug is on"
else
    echo "==> Bash debug is off"
    exec 1>/dev/null
    exec 2>/dev/null
fi

# Constants
HOSTNAME="$(hostname

[2020-11-12 03:24] nic-chen commented on #2700
I think separating them will increase the complexity, especially the version issue.

[2020-11-12 03:56] tokers commented on #2695
The start up script seems normal, could you paste some etcd logs?

[2020-11-12 04:03] fregie opened #2713 "request help: How to turn off access log?"
### Issue description
My apisix run in docker and It's may be dangerous if access.log keep logging.
I want to turn off the access log.

[2020-11-12 04:31] ziyou434 commented on #2695
sure.

2020-11-12 03:02:10.270824 I | pkg/flags: recognized and used environment variable ETCD_ADVERTISE_CLIENT_URLS=http://etcd-0.etcd-headless.api-gateway.svc.cluster.local:2379
2020-11-12 03:02:10.270943 I | pkg/flags: recognized and used environment variable ETCD_DATA_DIR=/bitnami/etcd/data
2020-11-12 03:02:10.271003 I | pkg/flags: recognized and used environment variable ETCD_INITIAL_ADVERTIS

[2020-11-12 04:37] idbeta opened #2714 "bug: When accessing APISIX route, there are two servers in the response header."
### Issue description
When accessing APISIX route, there are two `Server` in the response header, one of which is upstream, can they used different key names?

[code]

### Environment

* apisix version (cmd: `apisix version`): master
* OS:

[2020-11-12 04:44] souzens commented on #2695
you deployed etcd in single mode or cluster mode?

i tested that apisix2.0 works ok in etcd single mode..
but  in cluster mode will report errors

etcd.conf
[code]

[2020-11-12 05:09] spacewander commented on #2714
We can remove the upstream one.

[2020-11-12 05:13] spacewander commented on #2711
We can allow user to postpone the global rule, so that we can achieve this without breaking current behavior. For example:

[code]

[2020-11-12 05:30] yankunsam opened #2715 "request help: openid-connect plugin"
### Issue description

what is the detail for discovery_url for openid-connect?
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-12 05:36] nic-chen commented on #2695
I tried ETCD cluster, It works fine too.

please confirm your ETCD cluster all ready, and all nodes work well.

[2020-11-12 05:58] yankunsam opened #2716 "bug: apisix error logs"
### Issue description

![image](https://user-images.githubusercontent.com/16130147/98901652-20bd6980-24ef-11eb-9e1f-0668e6728a36.png)

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

[2020-11-12 06:06] GBXing opened #2717 "request help: how do I get etcd data in a custom plugin"
### Issue description
I save some configuration data to the ETCD, hoping to load the configuration data into local memory when I start Apisix, and then get the configuration data when I develop my custom plugin by requiring ("apisix.xxx").get(). Is there an easy way to do this?
The way I've been able to do this so far is to add code to the http_init_worker() method of init.lua to load my configura

[2020-11-12 06:11] ziyou434 commented on #2716
It seems that this problem has bothered many people，maybe you can see #2695 ，let‘s discuss together.

[2020-11-12 06:14] tokers opened #2718 "[DISCUSS] The error message "got malformed version message from etcd" is ambiguous"
When the etcd initialization fails, the output error message:

[code]

Which is ambiguous, i think the error details should be exposed. What do you think?

[2020-11-12 06:18] Firstsawyou opened #2719 "doc(kafka-logger): modify the Chinese documentation of the kafka-logger plugin"
### Issue description

In the `apisix/doc/zh-cn/plugins/kafka-logger.md` file, the descriptions of the `key` and `timeout` fields in the attribute directory are inconsistent. We need to adjust: https://github.com/apache/apisix/blame/master/doc/zh-cn/plugins/kafka-logger.md#L46-L47

[2020-11-12 06:21] membphis commented on #2700
JSON Schema version is a useful field, we need to store and compare it.

Needs to show a warning message if the JSON schema version is different from APISIX version.

[2020-11-12 06:30] Firstsawyou commented on #2718
I agree with you. I have also encountered such a situation, this prompt message is not clear.

[2020-11-12 06:32] yankunsam commented on #2695
docker.io/bitnami/etcd:3.4.9-debian-10-r34?  The same errors.

[2020-11-12 06:37] #2636 closed

[2020-11-12 06:42] krufyliu commented on #2716
@yankunsam what's your etcd address? i meet the same problem.

if your etcd address has special character such as '-',  the problem occurs.

[2020-11-12 06:43] spacewander commented on #2717
You can take a look at plugin-metadata API: https://github.com/apache/apisix/blob/master/doc/admin-api.md#plugin-metadata and its relative code.

[2020-11-12 06:44] spacewander commented on #2716
Should be solved by https://github.com/api7/lua-resty-etcd/pull/92/files

[2020-11-12 06:44] #2716 closed

[2020-11-12 06:45] tokers commented on #2695
That's strange, Could you use `tcpdump` in your environment, let's capture some HTTP packets between APISIX and the etcd to see whether the body is abnormal.

[2020-11-12 06:46] yankunsam commented on #2695
how to tell apisix the password of etcd?

[2020-11-12 06:47] spacewander commented on #2715
You can take a look as this article: https://swagger.io/docs/specification/authentication/openid-connect-discovery/

[2020-11-12 06:48] ziyou434 commented on #2692
I want to instruct dns_reslover what kind of role does it play in the interaction between apisix and etcd, and why it is set up, please tell me

[2020-11-12 06:49] yankunsam commented on #2695
etcdserver: failed to apply request "header:<ID:14393352380727342208 > put:<key:\"/apisix/proto/\" value_size:8 >" with response "" took (1.669µs) to execute, err is auth: user name is empty
2020-11-12 06:44:28.061760 W | etcdserver: failed to apply request "header:<ID:14393352380727342209 > put:<key:\"/apisix/plugin_metadata/\" value_size:8 >" with response "" took (1.479µs) to execute, err is au

[2020-11-12 06:50] Miss-you opened #2720 "request help: Apache APISIX support gzip"
### Issue description
Gzip is a file format used for file compression and decompression. It is based on the Deflate algorithm that allows files to be made smaller in size which allows for faster network transfers. Gzip is commonly supported by web servers and modern browsers, meaning that servers can automatically compress files with Gzip before sending them, and browsers can uncompress files upon

[2020-11-12 07:04] tokers commented on #2695
See https://github.com/apache/apisix/blob/master/conf/config-default.yaml for the details.

[2020-11-12 07:14] csh995426531 commented on #2695
me too. etcd version 3.4.13

[2020-11-12 07:14] backnero commented on #2678
I upgraded from 1.4.1 to version 1.5, so it is etcd api V2. When I use
[code]
![image](https://user-images.githubusercontent.com/21979871/98907209-70a12e00-24f9-11eb-808d-40537dbce433.png)

I get the key information normally
![image](https://user-images.githubusercontent.com/21979871/98907255-81ea3a80-24f9-11eb-8671-5bb91adfdf77.png)
But there are always errors in error.log

[code]

[2020-11-12 07:19] ziyou434 commented on #2695
I find etcdctl get /apisix/services will return null，exist but null。/apisix/routes... is the same.
I guess maybe  errors occured in admin_init, but i haven't found.

[2020-11-12 07:20] tokers commented on #2695
@ziyou434 Could you also provide the config.yaml of APISIX.

[2020-11-12 07:21] yankunsam commented on #2695
As the guide document, I set the password/user of etcd, but the same error.

[2020-11-12 07:22] ziyou434 commented on #2695
[code]

[2020-11-12 07:28] Gary-Airwallex commented on #2711
TBH that still sounds counter intuitive to me. How about merging plugins from global rules with plugins from routes/services? We could mark global-rule plugins (e.g. with a prefix), so that a plugin is still ran twice if it's applied in both global_rule and route.

Also it'd be great if there are more documentations for the behavior of global rules: https://github.com/apache/apisix/blob/master/doc

[2020-11-12 07:32] souzens commented on #2695
[code]

[2020-11-12 07:33] ziyou434 commented on #2695
I find apisix use method “set” in core.etcd.lua ，but etcd only has method “etcdctl put” ,Is this a problem?

[2020-11-12 07:39] tokers commented on #2695
Well, that's just a naming, both of them will be translated into HTTP PUT request.

[2020-11-12 07:40] tokers commented on #2695
@ziyou434 @souzens @yankunsam So all of you deploy APISIX and etcd in Kubernetes?

[2020-11-12 07:41] ziyou434 commented on #2695
yes，required by my company.

[2020-11-12 07:42] tokers commented on #2695
OK, i will try to reproduce it in my minikube.

[2020-11-12 07:44] idbeta commented on #2695
My environment cannot reproduce this problem temporarily.

[2020-11-12 08:06] souzens commented on #2695
yes.. apisix in Openshift
at the beginning , etcd is deployed in Openshift ,but it takes many errors
so i tried to deploy etcd in VM .

No matter in k8s or vm ,etcd is running ok , because apisix-dashboard can write and read data nomallly ,and use etcdctl command also ok

[2020-11-12 08:10] ziyou434 commented on #2695
I use apisix at rancher

[2020-11-12 08:12] Miss-you opened #2721 "request help: response-rewrite plug-in document optimization"
### Issue description
ngx.exit will interrupt the execution of the current request and return status code to Nginx.

image
![image](https://user-images.githubusercontent.com/3816205/98912992-c8dc2e00-2501-11eb-90aa-0e965398dc00.png)

However, if you execute ngx.exit during the access phase, it only interrupts the request processing phase, and the response phase will still process it, i.e. if you c

[2020-11-12 08:19] Miss-you commented on #2714
I think it's better to just leave `Server: APISIX/2.0` and override the other `server` header field!

demo：
[code]

[2020-11-12 08:19] ziyou434 commented on #2695
In fact, there is no problem with etcd, but the problem with apisix log

[2020-11-12 08:28] GBXing commented on #2717
Sorry, I mean that I want to load configuration data from ETCD to local memory when Apisix is started, and then go to local memory to get data in custom plugin. Is there any way to do this without changing the source code

[2020-11-12 08:46] tokers commented on #2695
Could you login into the etcd container and execute `ps aux | grep etcd` to see it's options?

[2020-11-12 08:48] ziyou434 commented on #2695
1001         1  0.5  0.1 10612200 25476 ?      Ssl  03:02   1:46 etcd
1001      6218  0.0  0.0   3088   900 pts/15   S+   08:47   0:00 grep etcd

[2020-11-12 08:49] GBXing commented on #2717
@spacewander
Now I refer to the code of the Consumer module and add a custom init_worker() method in the http_init_worker() of init.lua to load etCD data into local memory. Is there an easier way

[2020-11-12 08:49] spacewander commented on #2693
@gy09535
Pull request is welcome!

[2020-11-12 08:50] gy09535 commented on #2693
haha , I will do it.

[2020-11-12 08:51] gy09535 commented on #2693
haha, I wil do it.

[2020-11-12 08:52] spacewander commented on #2711
@Gary-Airwallex
Pull request is welcome!

[2020-11-12 08:55] spacewander commented on #2717
My original suggestion is that you can write your version of plugin_metadata. But your current way is fine too.

[2020-11-12 08:55] #2717 closed

[2020-11-12 09:16] tokers commented on #2695
That's really strange.

@ziyou434 Could you help to login into the etcd container to APISIX container to capture some packets?

[code]

We need to observe the data on the wire (HTTP request/response).

PS you may need to install tcpdump.

[2020-11-12 09:34] ziyou434 commented on #2695
I find apisix’s etcd key is /apisix/routes，but /apisix/routes/ in etcd ，there is a extra “/”，the key in etcd is different from apisix, maybe this is error.

[2020-11-12 09:53] Firstsawyou opened #2723 "bug(http-logger): the log report of the custom log format is incorrect"
### Issue description

In the reported log, the value corresponding to the NGINX variable is not obtained, but the NGINX variable name is obtained.

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS:

Example：

Execute the `http-logger-log-format.t` test case to view the output:

<img width="928" alt="截屏2020-11-12 下午5 49 42" src="https://user-images.githubusercontent.com/52862365

[2020-11-12 09:53] Firstsawyou commented on #2723
assigned to me.

[2020-11-12 09:57] ziyou434 commented on #2695
There is no yum in the command line of the container，I can not install tcpdump

[2020-11-12 10:43] idbeta opened #2725 "bug: after enable jwt-auth plugin, route' uri cannot be set to "/*""
### Issue description
enabled the jwt-auth plugin, if create a route which uri is `/*`, when get the jwt's token will return 401, but the other uri don't have this problem.
[code]

get token
[code]
### Environment

* apisix version (cmd: `apisix version`): mater
* OS:

[2020-11-12 11:12] gy09535 opened #2726 "feat: Improve zipkin plugin performance"
### Issue description

When I do zipkin plugin performance test , I find the cpu always in 75%, but remove the zipkin plugin the cpu is become normal .
I find this issue is of zipkin spans report issue, ref:https://github.com/apache/apisix/blob/master/apisix/plugins/zipkin.lua
#L221 , I replace it report with batch processor, after that the cpu become normal, sometime become 30% but it can down to

[2020-11-12 11:24] Miss-you commented on #2714
here is the bug.

![image](https://user-images.githubusercontent.com/3816205/98934142-9986ea80-251c-11eb-994a-7f48654c66b2.png)

ref:
https://github.com/apache/apisix/blob/master/apisix/init.lua#L341

[2020-11-12 12:17] ziyou434 commented on #2695
I could not find the source of the problem, but found other methods, when I changed etcd host “http://my-etcd-headless.{namespace}.svc.cluster.local:2379” to "http://{ip address}.{namespace}.svc.cluster.local:2379", no error was reported.
There seems to be a problem with address resolution.

[2020-11-12 12:25] nic-chen commented on #2695
I think this is the reason.

[2020-11-12 13:29] nic-chen commented on #2695
@souzens @yankunsam do you use domain name as etcd host too ?

[2020-11-12 14:41] gy09535 commented on #2693
Please assign to me.

[2020-11-12 14:56] csh995426531 commented on #2695
maybe because of this problem  https://stackoverflow.com/questions/54788528/etcd-v3-api-unavailable/56800553#56800553

[2020-11-12 15:19] juzhiyuan commented on #1838
ping @membphis

[2020-11-12 15:27] juzhiyuan opened #2730 "request help: How to scale horizontally APISIX in Kubernetes sharing the same etcd database?"
original comment: https://github.com/apache/apisix/issues/2644#issuecomment-725587524

[2020-11-12 15:28] juzhiyuan commented on #2644
It's worth opening one issue for one question, so we could have a clear context.

I just opened an issue for this question, please refer to here https://github.com/apache/apisix/issues/2730

[2020-11-12 16:23] #2655 closed

[2020-11-12 16:28] membphis commented on #2644
I think you can make a try to enable more CPU cores, Golang support this case

[2020-11-12 17:29] liuxiran commented on #2082
- [ ] echo

[2020-11-12 17:34] membphis commented on #2725
nice report, thx for your report

[2020-11-12 17:37] membphis commented on #2725
https://github.com/apache/apisix/blob/master/apisix/init.lua#L377-L380

[code]

change to this, it might work ^_^

[code]

[2020-11-13 01:21] #2616 closed

[2020-11-13 01:57] gewei2000 commented on #487
Organization: ezone.work
Location: BeiJing, China
Contact: gewei@ezone.work
Scenario: gery release and API

组织：北京简单一点科技有限公司
地址：中国 北京
联系方式：gewei@ezone.work
使用场景：灰度发布、网关使用

[2020-11-13 02:17] #2715 closed

[2020-11-13 02:43] souzens commented on #2695
case 1 :  etcd cluster mode deployed in k8s , use domain name as "http://apisix-etcd-0.apisix-etcd.apisix.svc.cluster.local:2379"

REPORT ERROR
[code]

case 2 :  etcd which deployed with cluster mode in k8s , use pod IP as "http://10.111.9.155:2379"
RUN OK

case 3 : etcd which deployed with cluster mode in VM , use server ip as  - "http://10.111.9.155:2379"

REPORT ERROR
[code]

case 4 : etcd whic

[2020-11-13 02:47] idbeta commented on #2695
@souzens I really want to give you a `like`, but I don’t have permission.

[2020-11-13 03:01] tokers commented on #2695
Indeed. I have reproduced this problem after closing the grpc gateway.

@souzens @ziyou434 you may add `enable-grpc-gateway` explicitly to solve this problem.

@membphis @spacewander I think some notes should be added into document to remind users the deployment of etcd.

[2020-11-13 03:20] souzens commented on #2695
Indeed caused by this ，apisix run well when i enable enable-grpc-gateway ，thank u all

[2020-11-13 03:39] idbeta opened #2735 "request help: how to use batch-requests plugin"
### Issue description
I want to try batch-requests, but when I testing it according to the method in the [document](https://github.com/apache/apisix/blob/master/doc/plugins/batch-requests.md#test-plugin), always returned an error, it is different from the result in the document. Is there a mistake in my operation? @ShiningRush

### Environment
* apisix version (cmd: `apisix version`): master
* OS:

[2020-11-13 03:52] liuxiran opened #2737 "Proposal: Support enable/disable route"
### Issue description

We could add enable/disable status to route so that it would support online / offline feature.

refer to:  https://github.com/apache/apisix-dashboard/issues/611#issuecomment-722256486

[2020-11-13 04:11] backnero opened #2738 "bug: ? Is replaced with %3"
### Issue description
The routing is configured as follows
[code]
? Is replaced with %3

[code]
### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS:centos7 @Docker

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

[2020-11-13 05:36] yankunsam commented on #2695
It works now. Thanks

[2020-11-13 05:45] #2719 closed

[2020-11-13 05:50] Applenice commented on #2695
Indeed, it works fine after adding, thanks!

[2020-11-13 05:58] idbeta commented on #2738
@backnero I did not reproduce in my env, my upstream is built by python.
[code]
[code]

[2020-11-13 06:06] idbeta commented on #2713
I think turn the access log off is not a good idea.

[2020-11-13 06:21] nic-chen commented on #2718
agree +1

[2020-11-13 06:22] nic-chen commented on #2720
nice

[2020-11-13 08:09] idbeta commented on #2662
@jinpy666 any update?
BTW, if you modify `config.yaml` to enable `skywalking`, you should add other original plugins too, you can get them from `config-default.yaml`, otherwise, other plugins will be disabled.

[2020-11-13 08:12] gewei2000 opened #2739 "request help: health check not working"
### Issue description
I configured a upstream(small_center_upstream), port 7001 of 9.23.27.226 is not opened, but the traffic is still sent to this server, why health check  not remove it(9.23.27.226) ,full config:

<img width="1439" alt="Screen Shot 2020-11-13 at 18 34 23" src="https://user-images.githubusercontent.com/10362371/99063293-4164ec80-25df-11eb-9aa0-62826bf3ad02.png">

[code]

### Envi

[2020-11-13 08:14] backnero commented on #2678
[code]
This error occurred when I used the api reload plugin. Never before

[2020-11-13 08:16] fregie commented on #2713
I have written a plugin to upload access log to my log service,so I don't need nginx save a access.log in container.
I think it's ncecssary providing a switch of access log.

[2020-11-13 08:16] idbeta commented on #2678
you can try `make deps` first.

[2020-11-13 08:27] Applenice commented on #2695
After adding `enable-grpc-gateway: true`, after working for a while, it starts reporting errors at a high frequency，The `error.log` file has reached 24M in 40 minutes.😳
[code]

[2020-11-13 08:42] gewei2000 commented on #2739
@membphis @moonming

[2020-11-13 08:43] idbeta opened #2741 "request help: the description of `Plugin` in `architecture-design.md` should be more detailed."
### Issue description
The description of `Plugin` in `architecture-design.md` is not detailed enough.
Because the content of `plugins` node of `conf/config.yaml` will overwrite the content of `plugins` node of `config-default.yaml`, so need to remind users that if you want to add new plugins based on existing plugins, you need to copy the `plugins` node content of `config-default.yaml` to the `plu

[2020-11-13 08:53] nic-chen commented on #2695
you could try to run 'apisix init'

[2020-11-13 08:56] idbeta commented on #2707
The cause of the problem has been found, it is my environment problem, not the plug-in problem.
`127.0.0.1:9797/postendpoint?param=1` also can work for me now.

[2020-11-13 08:56] #2707 closed

[2020-11-13 10:14] Applenice commented on #2695
No improvement

[2020-11-13 10:17] spacewander commented on #2695
@Applenice
Can it be solved by: https://github.com/apache/apisix/pull/2687?

[2020-11-13 10:17] idbeta commented on #2739
I'm not quite sure what your question means. @membphis @spacewander please help answer if you two are free.

[2020-11-13 10:26] Applenice commented on #2695
This needs to be tested and I am currently using : `apisix-2.0-0.el7.noarch.rpm`

[2020-11-13 11:20] ShiningRush commented on #2700
Here is no need create version for schema, because the schema is build from APISIX, so schema version should same as APISIX.
I think we can do like that:
- APISIX will automatically write schema and APISIX-VERSION to `/apisix/jsonschema` at start
- Dashboard maintain a white/black version list in config and watch the schema changes, if the APISIX version is incompatible we can show message to user

[2020-11-13 14:27] #2697 closed

[2020-11-13 15:25] Applenice commented on #2695
I've deployed with `*master 3ff46e2` on Ubuntu and it's working fine, thanks!

[2020-11-14 02:28] HelloBug0 commented on #2739
I used you configuration to see wheather it's as same as yours.  I tried to close each port configured in the upstream and everything works well in the program.
You can see if there is a warn log in the log file which means this host has been checked and it won't be choosen again.
[code]
And if I close both ports, I can see the log just like you.
[code]
Here I use you ip and port to replace mine.

[2020-11-14 03:10] HelloBug0 commented on #2738
I run you test and get `/agent/api/v1/config/raw?appName=C&clusterName=dev&namespaceName=router` which works normal.
Actually, it is %3F. If we urlencoded '?', we will get %3F. With this clue, you can check it again. Or there is something I missed?

[2020-11-14 03:24] idbeta commented on #2739
my env( apisix 2.0 + dashboard 2.0) can not reproduce your issue, my route like this:
[code]
after I close `127.0.0.1:9797`, APISIX's `error.log` show it only sent tow times traffic to the `127.0.0.1:9797`
[code]
Then no more traffic to the `127.0.0.1:9797`.
But the log has another issue: there are redundant logs, I will report that.

[2020-11-14 03:52] idbeta opened #2745 "bug: enabled active health checks, error.log has extra content."
### Issue description
 I had `foo.com` when I set health check first time, and then I set it again and remove `foo.com`, but the log will still record `foo.com`.

first time：
[code]

second time
[code]

the error.log
[code]
### Environment
* apisix version (cmd: `apisix version`): master
* OS:

[2020-11-14 03:59] idbeta opened #2746 "request help: how could I only enable passive health check"
### Issue description
`active` health check is working good, but how could I only enable `passive` health check? The document does not clearly state this situation, is there a problem with my use?

### Environment

* apisix version (cmd: `apisix version`): master
* OS:

I did like this, but not working
[code]
return
[code]

[2020-11-14 04:18] gewei2000 commented on #2739
let me try

[2020-11-14 06:35] HelloBug0 commented on #2653
In the document `https://github.com/apache/apisix/blob/master/doc/admin-api.md#consumer`, I also find that it's a little confusing when I try to delete consumer like this
[code]
It turns out that I have to delete consumer using username `jack` instead of `1`. I think the document should be more clear about this description. What do you think of this? Also I am wandering why use username instead of

[2020-11-14 07:01] gewei2000 commented on #2739
my env( apache/apisix:2.0-centos + dashboard 2.0 ), it also can not work, you can try use this json data
my json data
[code]

[2020-11-14 07:27] tokers commented on #2700
The first step can be done in the `apisix init` step.

[2020-11-14 08:11] tokers commented on #2683
Then i think maybe the benchmark is unfair, we don't know the real OS threads there involves the computation.

[2020-11-14 08:40] moonming commented on #2745
Where is 'foo.com' come from?

[2020-11-14 09:16] idbeta commented on #2745
I updated my description, it should be clearer now

[2020-11-14 09:32] gxthrj commented on #2746
It is unreasonable to only enable passive checking.
If the upstream node is recognized as `unhealthy`, it will not automatically recover, because no traffic will be distributed to the node which is marked as `unhealthy`.

[2020-11-14 09:36] idbeta commented on #2746
Good to know, I think your answer can be added to the document for beginners.

[2020-11-14 09:37] #2746 closed

[2020-11-14 09:40] spacewander commented on #2653
@HelloBug0
The doc won't be so confusing after #2679 is merged.

[2020-11-14 09:56] idbeta commented on #2745
Even I set different nodes in the second time, the health check will still check the old node set last time.

[2020-11-14 10:01] idbeta commented on #2739
@gewei2000 I used your config data and do not reproduce your issue. I want to know if you set the route many time or one time?
[code]

[2020-11-14 10:22] gewei2000 commented on #2739
what mean "set the route many time or one time", I only create a route(not any plugin) and a upstream, then the route ref the upstream.

[2020-11-14 10:28] Firstsawyou commented on #2710
In the described solution, in order to maintain backward compatibility, `escape_uri` is enabled by default (enable_encode is true). I think it would be better to turn off `escape_uri` (enable_encode is false) by default, so that there will be no problems like the title. But this will be unfriendly to users who already use this plugin. We need to discuss.
 @gxthrj  @membphis @moonming @nic-chen

[2020-11-14 10:28] cleverpig commented on #1773
what's the team plan to support skywalking8?

[2020-11-14 11:24] spacewander commented on #2710
I can't accept such a break change. This change will break all clients who work well now and it is not easy to upgrade every client immediately. **This is not unfriendly, this is a disaster.**

[2020-11-14 11:39] #2675 closed

[2020-11-14 12:15] gewei2000 commented on #2739
@membphis @spacewander

[2020-11-14 13:03] spacewander commented on #2713
@fregie
Pull request is welcome!

[2020-11-14 14:55] gxthrj commented on #2710
I think it is ok, new filed `enable_encode ` in `schema` is optional. And the default value is true, which consistent with the current behavior of `hmac-auth`.

[2020-11-14 14:55] membphis commented on #2739
@gewei2000 for confirming this issue, please provide more error log(set the APISIX log level to `WARN`).

waiting for your response.

[2020-11-14 15:10] tokers commented on #2695
I think it's time to close this thread.

[2020-11-14 15:20] membphis commented on #2745
Here is my steps:

[code]

[2020-11-14 15:25] gewei2000 commented on #2739
I have already set log level to `WARN`, but has no more log

[2020-11-14 16:06] membphis commented on #2745
Needs to call the `checker:clear()` before we call the `stop` method.

Here is the bugfix patch, welcome PR:

[code]

[2020-11-14 16:08] membphis commented on #2745
it is not easy to write the test cases. I think we can check this case in E2E(shell script).

[2020-11-14 23:48] idbeta commented on #2745
Thanks for the hint, I will try to fix it.

[2020-11-15 01:24] membphis opened #2748 "doc(FAQ): "It is unreasonable to only enable passive checking""
original comment: https://github.com/apache/apisix/issues/2746#issuecomment-727175022

both need Chinese and English.

[2020-11-15 09:20] #2654 closed

[2020-11-15 09:28] #2725 closed

[2020-11-15 09:31] moonming commented on #2573
@idbeta any update?

[2020-11-15 09:33] moonming commented on #2501
any update?

[2020-11-15 11:38] #2680 closed

[2020-11-15 11:46] #2723 closed

[2020-11-15 12:47] xyz2b opened #2750 "request help: The relationship between multiple configurations of vars in route can be or?"
### Issue description
The relationship between multiple configurations of vars in route can be or?
![image](https://user-images.githubusercontent.com/48942966/99185277-afe2af80-2783-11eb-999c-3b331d5575f7.png)

### Environment

* apisix version (cmd: `apisix version`):apisix 2.0
* OS:centos7.5

[2020-11-15 14:47] tzssangglass commented on #2748
assigned it to me

[2020-11-16 01:22] backnero commented on #2678
First of all, I am rewriting the dockerfile in the official library, using the yum installation method of the centos system, and installing the compiled apisix. Secondly, I have used this method since 1.3. I don't know how you said` make deps` how to operate in this process, is it added to the dockerfile? Or does the generated docker image run at startup?

[2020-11-16 01:44] moonming commented on #2110
@nic-chen please take a look, this PR bolcked 2.1 release.

[2020-11-16 01:45] moonming commented on #2573
@idbeta this issue blocked 2.1 release

[2020-11-16 01:46] jinpy666 commented on #2662
Em.. Why not merge the two configurations, with the highest priority of config.yaml

[2020-11-16 02:50] tiger333777 opened #2755 "There are HTTP jump to HTTPS in API IX 2.0 back-end server code. How to configure it?"
### Issue description
There are HTTP jump to HTTPS in API IX 2.0 back-end server code. How to configure it? When dasboard version 1.5, you can configure the back-end HTTPS back to the source. Now use 443 to return to the source back end, and it will always jump 301
### Environment

* apisix version (cmd: `apisix version`):  apisix 2.0 + dashboard 2.0 rc3
* OS: centos 7.6

[2020-11-16 04:11] idbeta commented on #2573
I will start this thing as soon as possible.

[2020-11-16 04:29] idbeta opened #2756 "request help: testcase about #2747"
### Issue description
PR https://github.com/apache/apisix/pull/2747 is  used for fixed https://github.com/apache/apisix/issues/2745
and it lacks test cases.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-16 04:57] Yiyiyimu opened #2757 "feat: deploy ChaosMesh on APISIX, to simulate more faults"
# Proposal

### Background
Nowadays, we have unit tests, integration tests, and e2e tests, to ensure the fault tolerance of APISIX. But there are still some problems, like network delay and CPU stress, that have not covered by the above tests. Thus, it would be a better idea to introduce chaos engineering, to simulate different types of faults, and test the performance of APISIX in these circumsta

[2020-11-16 05:08] #2745 closed

[2020-11-16 05:29] wenbinye opened #2758 "bug:"
### Issue description

Cannot add stream_proxy config

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS: CentOS 8

### Minimal test code / Steps to reproduce the issue
1. add in conf/config.yaml
[code]
2. run `apisix init`，errors displayed：
[code]

### What's the actual result? (including assertion message & call stack if applicable)

nginx.conf was not generate.
if change conf/

[2020-11-16 06:04] idbeta commented on #2758
@wenbinye your issue title should be "bug: cannot add stream_proxy config".

[2020-11-16 06:21] moonming opened #2759 "request help: Delete useless data in the response of admin API, mainly related to etcd"
### Issue description
Now the admin API directly returns etcd data, which contains a lot of meaningful data in etcd, which is meaningless to the client. We need to delete it and return cleaner data.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-16 06:26] idbeta commented on #2758
I can not reproduce your problem in my env, could you provide more information? Like how do you install APISIX, `apache-apisix-2.0-src.tgz` or `docker`?

[2020-11-16 06:29] nic-chen commented on #2110
@Yiyiyimu

We could  throw an error when `https_admin` is `true`, but  `cert` and `key` are not configured.

[2020-11-16 06:48] spacewander commented on #2758
Should be solved by https://github.com/apache/apisix/pull/2476
Feel free to reopen it if it could be reproduced in the master branch.

[2020-11-16 06:48] #2758 closed

[2020-11-16 06:50] spacewander commented on #2750
Please move the discussion to https://github.com/api7/lua-resty-radixtree/issues

[2020-11-16 06:50] #2750 closed

[2020-11-16 08:14] moonming commented on #1887
@odidev any update?

[2020-11-16 08:14] #2212 closed

[2020-11-16 08:15] moonming commented on #2212
Not maintain Tengine now

[2020-11-16 08:15] moonming commented on #786
we using GtiHub Actions for MacOS CI

[2020-11-16 08:15] #786 closed

[2020-11-16 08:19] moonming opened #2762 "request help: remove Travis CI"
### Issue description
Travis CI is often in a queued state, and now its result is no longer a prerequisite for merging PR, so it can be completely removed. https://github.com/apache/apisix/blob/master/.travis.yml

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-16 11:17] zhuchengxing opened #2763 "how to use vars in routes?"
### Issue description

**1. I add a new route:**
{
   "methods": [
        "POST"
    ],
    "uris": [
        "/test"
    ],
    "vars": [["arg_age","==","20"] ],
    "upstream": {

        "nodes": {
            "10.3.155.39:8080": 1
        },
        "type": "roundrobin"
    }
}

2. curl -i http://127.0.0.1:9080/api/index -X POST -d '{age:"20", arg_age:"20"}'

3. {"error_msg":"404 Route Not Fo

[2020-11-16 11:24] spacewander commented on #2763
The `arg_age` variable is for the query parameter in the URI (`?age=xxx`).
http://nginx.org/en/docs/http/ngx_http_core_module.html#variables

To route according to the sent JSON body you should write your filter function:
https://github.com/api7/lua-resty-radixtree/#new

[2020-11-16 11:24] #2763 closed

[2020-11-16 11:33] spacewander commented on #2050
It can't happen now since we have removed the lock.

[2020-11-16 11:33] #2050 closed

[2020-11-16 11:35] jenskeiner opened #2764 "bug: OIDC plugin may not be setting request headers correctly."
### Issue description
When using the OIDC plugin, it looks like request headers with the user name/access token/id_token may not be set correctly in the code path where an incoming request is successfully authenticated against an OIDC server.

According to this line https://github.com/apache/apisix/blob/4d316bc0681c80435ab1a3fc113c3c6ea3c82831/apisix/plugins/openid-connect.lua#L161 in the code, th

[2020-11-16 11:57] #2739 closed

[2020-11-16 15:06] Firstsawyou opened #2767 "DISCUSS(proxy-cache): The cache_zone field in the schema should be optional"
### Issue description

The configuration field `cache_zone` of the cache zone in the plug-in is a required item. I think this is unfriendly to some users who are not familiar with this field. They don't know what needs to be done here. In my opinion, `cache_zone` should be optional and have a default value. In this way, for novice users, they do not need to care about what needs to be configured i

[2020-11-16 15:40] membphis commented on #2739
@gewei2000 do you have fixed this issue? find out the reason?

what is is?

[2020-11-16 15:40] #2695 closed

[2020-11-17 00:58] membphis commented on #2573
@idbeta please confirm you finish this job in this week. if not, we change this `Milestone` to `2.2`

[2020-11-17 01:32] spacewander commented on #1268
Solved.

[2020-11-17 01:32] #1268 closed

[2020-11-17 01:34] spacewander commented on #788
Solved?

[2020-11-17 01:40] spacewander commented on #158
Solved by #2584 . Server side TLS verification is enough to use by now.

[2020-11-17 01:40] #158 closed

[2020-11-17 02:37] zfs123 opened #2770 "request help: when upstream_type is chash, set_more_tries() make no sense."
### Issue description
when upstream_type is chash, if last picked server does not work, apisix won't pick next server because of the unchanged chash_key, which make the function set_more_tries() to be meaningless.
is there any problem with this? how about using picker:next(last_id) to choose next server?

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS: CentOS 7.4

[2020-11-17 03:11] Gary-Airwallex opened #2771 "bug: admin api matches config ID by prefix"
### Issue description
Admin api appears to match config Id by prefix instead of an exact string match.

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS: osx + linux

### Minimal test code / Steps to reproduce the issue
1. PUT a new upstream with id: abc
2. GET upstream by id: ab

### What's the actual result? (including assertion message & call stack if applicable)
The upstream

[2020-11-17 03:21] Yiyiyimu commented on #2110
Sure thx

@nic-chen Does that mean the default configuration would set SSL off?

[2020-11-17 03:24] spacewander commented on #2770
PR: #2676

[2020-11-17 03:40] JanLi-air commented on #2771
It's very critical, should take priority to fix this.

Suppose this case:

1. Put a upstream with id foobar.
2. Put a route which refers to upstream foo.
3. Instead of reporting an error that the second step refers to a non-exist upstream, the route is put successfully with upstream foobar.

[2020-11-17 04:06] idbeta commented on #2771
It is indeed a problem, thanks for the feedback.

[2020-11-17 05:07] Firstsawyou commented on #2501
I will submit a PR later to solve this problem.

[2020-11-17 05:08] Firstsawyou commented on #2501
assigned to me.

[2020-11-17 06:52] nic-chen commented on #2110
Oh, `https_admin` is disable by default:
https://github.com/apache/apisix/blob/1aefe915f1a01ff7d068cfe7013676bfece2d43e/conf/config-default.yaml#L61

but, `ssl` is enable by default:
https://github.com/apache/apisix/blob/1aefe915f1a01ff7d068cfe7013676bfece2d43e/conf/config-default.yaml#L101

I think we should set it off by default, because the cert and key is useless for users.

 we need to discus

[2020-11-17 07:01] idbeta commented on #2573
Sorry, I think I can not finish it this week. @moonming @membphis

[2020-11-17 07:24] membphis commented on #2573
Okay, I got it. I have changed the milestone to the 2.2.

[2020-11-17 07:49] spacewander commented on #2764
@jenskeiner
Thanks for your detailed report. Would you submit a bugfix for it?

[2020-11-17 07:50] moonming commented on #2110
Is there a relationship between these two configurations?

[2020-11-17 08:00] Yiyiyimu commented on #2110
Currently `ssl` would use certs in `conf/cert` by default, so we could not remove the certs but leave `ssl` on

[2020-11-17 08:05] moonming commented on #2110
Where is the code? I will take a look

[2020-11-17 08:08] moonming commented on #2110
Got it. I think we can turn off `SSL` by default. @membphis what do you think?

[2020-11-17 08:16] #2762 closed

[2020-11-17 08:48] aijunziaixifu opened #2774 "request help: Advanced routing settings"
### Issue description

### Environment

* apisix-version:2.0
* OS:centos 7

请问一下，高级路由配置的请求参数选项，其参数值是从body获取还是，路径获取，是否有解析body的插件呢
![image](https://user-images.githubusercontent.com/26455949/99367223-a62c8980-28f4-11eb-9565-dae00e504d08.png)

[2020-11-17 08:58] idbeta commented on #2774
@aijunziaixifu You can read about `var` in [here](https://github.com/apache/apisix/blob/master/doc/zh-cn/admin-api.md )

[2020-11-17 09:40] membphis commented on #2110
agree to turn off `SSL` by default

[2020-11-17 09:49] idbeta commented on #2678
@nic-chen Can you answer it when you are free?

[2020-11-17 10:28] jenskeiner commented on #2764
@spacewander I'm open to submitting a PR, but would need to set up a proper development environment on my end first. I was hoping original developers would be quicker to fix for that reason, but I'll see what I can do. Can't guess an ETA at the moment.

Also, the reason I noticed the issue was when I tried to combine this plugin with the `authz-keycloak` one. Once a request is authenticated, subse

[2020-11-17 11:53] spacewander commented on #2764
I suggest you to divide it into separate issues so that we can track them correctly.

[2020-11-17 12:14] gewei2000 commented on #2739
I always think that the upstream and health check are created, then health check will be worked. In fact, after created the route and refer the upstream, the log will be output when you visit to the route.

Explain: for the configuration of nodes in the upstream, IP must exist, otherwise the request will always hang there

[2020-11-17 13:04] gewei2000 opened #2775 "request help: alwayls failed to fetch data from etcd"
### Issue description

Etcd is installed on the physical machine. apisix is started in the docker. apisix start successfully and invoke apisix api to add data also successfully. However, after a while, there will be unlimited errors. Why is this?

![image](https://user-images.githubusercontent.com/10362371/99392895-6f1b9f80-2917-11eb-9cf6-08bd7a9457a0.png)

### Environment

* apisix version (cmd:

[2020-11-17 13:28] #2771 closed

[2020-11-17 14:54] spacewander commented on #2775
Should be solved by https://github.com/apache/apisix/pull/2687

[2020-11-17 15:44] nic-chen commented on #2678
@backnero  please use official image to confirm first. thanks.

[2020-11-17 16:19] membphis commented on #2678
@backnero your way seems fine to me.

I guess it is because of your old data.

If you use a new etcd instance, can you still get this bug? And you can make a try with @nic-chen 's way.

[2020-11-17 16:22] membphis commented on #2774
@aijunziaixifu please use English in public channel

[2020-11-17 16:35] #788 closed

[2020-11-17 16:36] membphis commented on #788
thx your remind

[2020-11-17 16:40] membphis commented on #2755
@tiger333777 please use English in public channel

[2020-11-17 17:12] gxthrj commented on #2070
@csh995426531  Any update? The reason should be that your port is incorrectly written as 9082.
Let’s close this issue first and reopen it if you have any problems.

[2020-11-17 17:12] #2070 closed

[2020-11-18 00:32] Applenice opened #2777 "request help: How to close X-Forwarded* and X-Real-IP in requests"
### Issue description
I don't want X-Forwarded* and X-Real-IP to appear in APISIX proxy rewrite requests, how do I configure it? I found no relevant information.

Is there a way to add, but not a way to close? I tried to configure proxy protocol in config.yaml, but it didn't work.
https://github.com/apache/apisix/pull/1113

### Environment

* apisix version (cmd: `apisix version`):
[code]

[2020-11-18 01:02] #2710 closed

[2020-11-18 01:13] tzssangglass commented on #2748
need to explain how healthcheck works to complete this FAQ?

[2020-11-18 01:18] liuxiran commented on #2439
The solution is the same with https://github.com/apache/apisix/issues/2441, it has already worked well with the apisix master branch and dashboard v2.0 branch.

close is now :)

[2020-11-18 01:18] #2439 closed

[2020-11-18 02:30] tokers commented on #2777
@Applenice See https://github.com/apache/apisix/blob/master/doc/plugins/proxy-rewrite.md for details. Just some snippet reference:

[2020-11-18 02:43] starsz commented on #2774
Hi, @aijunziaixifu, As the @spacewander answered in https://github.com/apache/apisix/issues/2763, you can write your filter function.

Here, I give you an example, you can have a try.
[code]

By the way, I had seen many people have questions about this. May I add this to the document?

[2020-11-18 02:57] Firstsawyou opened #2778 "DISCUSS(kafka-logger): the key field should be optional"
### Issue description

In the schema of the kafka-logger plugin, the key field is mandatory, as shown below:

[code]

I think the key field should be optional, because when a message is sent to the Kafka service, the key can be specified or empty. So when the key is empty, it can be used normally.

The key should be optional in the schema：

[code]

[2020-11-18 03:08] tokers commented on #2774
That can be classified as one section of "Apache APISIX Best Practices".

[2020-11-18 03:17] tokers commented on #2777
Sorry, these headers are set explicitly in the nginx.conf template, which always passed to upstream.

[2020-11-18 03:17] tokers commented on #2777
@Applenice Could you introduce your demands why these headers shouldn't be passed?

[2020-11-18 03:20] tokers commented on #2777
We may need to add some notes in document of plugin proxy-rewrite to state that several headers can not be overridden/deleted by proxy-rewrite plugin.

[2020-11-18 03:20] Yiyiyimu commented on #2110
And there is another problem. I'm not sure the usage and difference between `apisix_admin_ssl.crt` and `apisix.crt`, but currently  `apisix_admin_ssl.crt` could be customized in
https://github.com/apache/apisix/blob/0ff2ab824264c1e55fafa489143e4cd68d7cc7bf/apisix/cli/ngx_tpl.lua#L236-L247
but `apisix.crt` is hard-set to
https://github.com/apache/apisix/blob/0ff2ab824264c1e55fafa489143e4cd68d7cc7bf

[2020-11-18 03:44] starsz commented on #2777
Hi, I think there is a temporary solution.

If your apisix version is earlier than or equal to 2.0, you can change your `/bin/apisix`, comment the line like this
[code]
and reload the apisix.

If your apisix is on the master branch, you should do the same things as above on `apisix/cli/ngx_tpl.lua`

[2020-11-18 04:01] #2775 closed

[2020-11-18 04:51] #2721 closed

[2020-11-18 05:15] #2714 closed

[2020-11-18 05:27] #2703 closed

[2020-11-18 05:27] Miss-you commented on #2703
done
https://github.com/apache/apisix/issues/2721

[2020-11-18 05:57] Applenice commented on #2777
I think it should be configurable, and not all upstream need or care about this information.

[2020-11-18 06:11] odidev commented on #1887
@moonming
I am currently not looking into this activity as this project is moved to Github-actions.

[2020-11-18 06:31] spacewander commented on #2640
Solved.

[2020-11-18 06:31] #2640 closed

[2020-11-18 06:31] spacewander commented on #2379
Solved.

[2020-11-18 06:31] #2379 closed

[2020-11-18 06:32] spacewander commented on #2171
Should be solved now.

[2020-11-18 06:32] #2171 closed

[2020-11-18 06:33] spacewander commented on #2613
Consider solved.

[2020-11-18 06:33] #2613 closed

[2020-11-18 06:37] nic-chen commented on #2110
yes, we should.

[2020-11-18 06:57] starsz opened #2779 "doc: enable_websocket's location is not correct"
Hi. I found that `enable_websocket` had moved to the `upstream`  location.

So the doc https://github.com/apache/apisix/blob/master/doc/admin-api.md needs to update. Chinese document as well.

[2020-11-18 06:59] spacewander commented on #2779
See https://github.com/apache/apisix/pull/2691/files

[2020-11-18 07:16] lilihongjava opened #2781 "https plugins：curl: (60) Peer's certificate issuer has been marked as not trusted by the user."
### Issue description

Operation steps：
1. openssl genrsa -out private.pem 2048
2. openssl req -new -x509 -key private.pem -out cacert.pem -days 1095
3. cat /home/cert/cacert.pem >> /etc/pki/tls/certs/ca-bundle.crt
4. curl http://127.0.0.1:9080/apisix/admin/ssl/1 -H 'X-API-KEY: XXX' -X PUT -d '{XXX}‘

error image：

![image](https://user-images.githubusercontent.com/5799352/99497129-6f1bae00-29b0-1

[2020-11-18 07:50] membphis opened #2782 "plugin(prometheus): incorrect http status name"
![image](https://user-images.githubusercontent.com/6814606/99500783-ca03d400-29b5-11eb-8545-f541a9b9b7f8.png)

[2020-11-18 07:51] membphis commented on #2782
@idbeta do you have time to confirm if this is a bug, many thx

[2020-11-18 08:07] #2767 closed

[2020-11-18 08:32] idbeta commented on #2781
@lilihongjava My environment is correct, but mine is the master branch, cc @spacewander
[code]

[2020-11-18 08:39] membphis commented on #306
yes, we are interests in openEuler. I think it is time to write a doc about how to install APISIX and OpenResty by source code.

[2020-11-18 08:40] membphis commented on #2668
it seems we can not handle this case in APISIX(it depends on Nginx core)

[2020-11-18 08:40] #2668 closed

[2020-11-18 08:42] membphis commented on #2643
Which part of APISIX do you want to update?

[2020-11-18 08:58] imjoey commented on #306
@membphis,  wow, that's great and would be very helpful. Thank you very
much. I think our team can take part in this job.

On Wed, Nov 18, 2020 at 4:39 PM YuanSheng Wang <notifications@github.com>
wrote:

[2020-11-18 09:00] membphis commented on #2692
what is the apisix version?

[2020-11-18 09:00] moonming commented on #306
Compiling these two software from source code has official documentation. What do we need to do?

[2020-11-18 09:03] moonming opened #2783 "request help: Add docker image that contains apisix all dependencies"
### Issue description

Users do not need to install any dependencies, such as OpenResty and etcd, and can directly experience Apache APISIX. Of course, it is not recommended to use in the production environment.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-18 09:03] membphis commented on #1838
it seems fine, welcome PR

[2020-11-18 09:12] membphis commented on #306
Compile and install the source code. If there is an official document, we can refer to the official document link.

Our goal is to write a list of steps to tell developers how to compile and install from source code step by step.

[2020-11-18 09:13] starsz commented on #2779
OK. I got it.

[2020-11-18 09:13] #2779 closed

[2020-11-18 09:14] membphis commented on #2737
do we need to add a new field to `route` for this feature? @liuxiran

[2020-11-18 09:15] membphis commented on #2718
agree +1

BTW, how can we get this error message? is it a bug?

[2020-11-18 09:16] moonming commented on #306
I don't think it's our job to tell user how to compile and install
openresty from source code.
And the doc of Apache APISIX is already has.

Thanks,
Ming Wen
Twitter: _WenMing

YuanSheng Wang <notifications@github.com> 于2020年11月18日周三 下午5:12写道：

[2020-11-18 09:17] membphis commented on #2720
`gzip` should be off by default.

[2020-11-18 09:21] membphis commented on #2738
please make a try with the lastest version or 2.0 . I remember we have fixed this bug

[2020-11-18 09:21] Yiyiyimu commented on #2110
@nic-chen thanks! Another problem: in `ngx_tpl.lua`, three files could be customized, but if they are empty only two would get default values. Do we still need `ssl_client_certificate `? If yes, which one should we use for test?

[2020-11-18 09:26] idbeta commented on #2782
ok, I will check it when I am free.

[2020-11-18 09:35] nic-chen commented on #2110
@Yiyiyimu  `ssl_client_certificate` is only used for mTLS.

[2020-11-18 09:36] tokers commented on #2718
It's note a bug but a not so friendly hint when we cannot get the etcd version when the etcd cluster is abnormal, like cluster without leader and we are timed out, or even the cluster is totally offline.

[2020-11-18 09:37] tokers commented on #2718
@starsz Would you like to optimize this? Thanks!

[2020-11-18 09:42] membphis commented on #2700
that is not a good idea, it is unsafe

[2020-11-18 09:44] membphis commented on #1773
please make a try with the APISIX `2.0` , it has supported skywalking 8 now.

[2020-11-18 09:44] #2651 closed

[2020-11-18 09:44] #2653 closed

[2020-11-18 09:44] #2656 closed

[2020-11-18 09:46] starsz commented on #2718
No problem. My pleasure!

[2020-11-18 09:46] membphis commented on #2748
you can take a look at here:

original comment: #2746 (comment)

we do not need this job.

[2020-11-18 09:49] tokers commented on #2303
So we have further discussions in the [community mail list](https://lists.apache.org/thread.html/rf02dc53a4af5d98d2513d89256b47466934d129af06d0bdcdb49cc8e%40%3Cdev.apisix.apache.org%3E). I think we can implement the traffic split plugin now, with the feature of traffic splitting between multiple upstreams, the label based endpoint selector inside a single upstream need some support from the core l

[2020-11-18 09:56] spacewander commented on #2781
@lilihongjava
How you sign the `test.com`'s certificate?

[2020-11-18 09:56] tokers commented on #2700
If we want to make sure the data plane doesn't modify etcd, another control plane should be introduced to take over the uploading of jsonschema from APISIX, status collection or even the configuration delivery.

[2020-11-18 10:00] to2false opened #2784 "request help: prometheus metrics missing bandwith"
### Issue description
How to get bandwith metrics?
### Environment

* apisix version (cmd: `apisix version`): 1.5/2.0
* OS: alpine(docker container)

[2020-11-18 10:01] tzssangglass commented on #2748
get it

[2020-11-18 10:18] lilihongjava commented on #2781
![ZW{9NEQ(2UGWMTG(ADC`WZP](https://user-images.githubusercontent.com/5799352/99517544-73ed5b80-29ca-11eb-8bb8-801d61b94a47.png)

[2020-11-18 11:10] ziyou434 opened #2786 "bug: config.yaml problem"
### Issue description
I used configmap as config-default.yaml and it ran well.
But I find the document forbid change config-default, so I change to mountPath: /usr/local/apisix/conf/config.yaml.
There are some problems.

[code]

config.yaml（Hide sensitive information）
[code]

### Environment

* apisix version (cmd: `apisix version`):2.0
* OS: k8s

[2020-11-18 11:16] ziyou434 commented on #2786
- mountPath: /usr/local/apisix/conf/config.yaml
      name: apisix-config-yaml-configmap
      subPath: config.yaml
....
  volumes:
  - configMap:
      defaultMode: 420
      name: apisix-gw-config.yaml
    name: apisix-config-yaml-configmap

[2020-11-18 11:16] spacewander commented on #2786
Should be solved by #2476?

[2020-11-18 11:19] ziyou434 commented on #2786
So I continue to use config-default.yaml ，waiting for update？

[2020-11-18 11:19] spacewander commented on #2784
There is `apisix_bandwidth` in https://github.com/apache/apisix/blob/master/doc/plugins/prometheus.md

[2020-11-18 11:35] spacewander commented on #2781
I think you confuse CA certificate and normal certificate. Please take a look at https://support.itrsgroup.com/hc/en-us/articles/360020251493-Create-a-self-signed-CA-client-certificate-with-OpenSSL about how to sign a normal certificate.

[2020-11-18 11:59] zhuchengxing opened #2787 "request help: in stream_proxy，Udp agent, forwarding to upstream, packet loss is serious"
### Issue description
1. my config:
{
    "server_addr": "10.3.174.125",
    "server_port": 9200,
    "upstream": {
        "nodes": {
            "10.3.174.127:29090": 1,
            "10.3.174.126:29090": 1
        },
        "type": "roundrobin"
    }
}
2.I sent 6, lost 2, and forwarded 4 normally

3.error log:
![1221](https://user-images.githubusercontent.com/29362652/99527785-558e5c80-29d8-11e

[2020-11-18 12:49] liuxiran commented on #2737
We need a field to mark the status of the route:

- add a new field, that would be the most straightforward way

- add a specific property to the `labels`, that would be  a kind of extensibility way

We think both ways are okay, which one would you prefer @membphis ?

[2020-11-18 13:45] Applenice commented on #2777
Thank you for your response, I have tested this method as a temporary solution.

[2020-11-18 15:23] Miss-you opened #2788 "perf: In function is_empty_yaml_line, 'string.find' plain mode is not recommended, and re.find is better."
### Issue description

[code]

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

[2020-11-18 16:01] #2741 closed

[2020-11-18 16:07] membphis opened #2790 "doc: add plugin `sls-logger` doc index"
https://github.com/apache/apisix/README.md
https://github.com/apache/apisix/doc/README.md

and we need to update the Chinese doc too

[2020-11-18 16:07] membphis commented on #2790
@gy09535 would like to handle this issue?

[2020-11-18 16:28] membphis commented on #2700
yes, that is the right way. How about this? `apisix-admin sync-schema`

[2020-11-18 16:44] gxthrj commented on #2783
ok,   Related to https://github.com/apache/apisix-dashboard/issues/824

[2020-11-18 17:15] gxthrj commented on #2303
Related to the issue #2603
@Firstsawyou

[2020-11-18 17:33] gxthrj commented on #2730
In the production environment, it is recommended to deploy etcd in clusters.

We can scale horizontally apisix according to the traffic level of the data plane. Etcd does not need to be expanded. Etcd belongs to the control plane and is not affected by the traffic on the data plane.

[2020-11-18 17:35] gxthrj commented on #2644
In the production environment, it is recommended to deploy etcd in clusters.

We can scale horizontally apisix according to the traffic level of the data plane. Etcd does not need to be expanded. Etcd belongs to the control plane and is not affected by the traffic on the data plane.

We can discuss [here](#2730 )

[2020-11-19 01:12] to2false commented on #2784
So it only works under ingress?

[2020-11-19 01:12] juzhiyuan commented on #2730
cc @NicolasBachs

[2020-11-19 01:30] lilihongjava commented on #2781
Can you provide the whole operation steps and execution commands， I refer to it, thank you very much

[2020-11-19 02:19] tokers commented on #2700
That's good. But the jsonschema source still in APIS
IX, we have to solve another problem that how apisix-admin gets the jsonschema, maybe apisix-admin could be written based on ngx_lua and share the code base of APISIX.

[2020-11-19 02:33] spacewander commented on #2781
Please refer to:

[2020-11-19 02:33] spacewander commented on #2784
Both ingress and egress are supported.

[2020-11-19 02:36] to2false commented on #2784
Okay

[2020-11-19 02:36] #2784 closed

[2020-11-19 02:39] nic-chen commented on #2700
then we go back to the old issue again..

[2020-11-19 03:08] ShiningRush commented on #2700
@membphis Why it is unsafe, I can think of the worst result that is not compatible with manager-api, but this does not affect the normal works of the data plane, does it?
Because the synchronization schema is only a system bypass

[2020-11-19 03:27] backnero commented on #2678
I am trying to make a new deployment with version 2.0, including etcd database. However, with 130+ routing records, the workload of manual increase is still very large.
During the inspection, I found that the routing data in etcd is not uniform because I have operated adminapi in different versions. Secondly, because I use ETCD in the k8S environment, I cannot use the etcdctl merge operation to pe

[2020-11-19 03:31] #2726 closed

[2020-11-19 04:13] cleverpig commented on #1773
Do you mean checkouting the newest APISIX version from github? Not the Release 2.0? @membphis

[2020-11-19 04:16] tokers commented on #2700
We have to if we wanna the data plane reads etcd only. 😂

[2020-11-19 05:20] moonming commented on #1773
Yes.
2.0 supports skywalking 7.0, and the master supports skywalking 8.0

cleverpig <notifications@github.com>于2020年11月19日 周四下午12:13写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-11-19 05:39] backnero commented on #2006
I had the same problem in version 2.0,

[2020-11-19 06:09] Hmemories opened #2791 "request help: After put my SSL certificate to apisix ,I curl https and then meet some problem"
### Issue description
![image](https://user-images.githubusercontent.com/30172398/99628159-91750080-2a70-11eb-85de-0223e11fe275.png)
![image](https://user-images.githubusercontent.com/30172398/99628195-a2be0d00-2a70-11eb-81a2-87a9c43aa85a.png)
![image](https://user-images.githubusercontent.com/30172398/99628210-ace00b80-2a70-11eb-8997-74254b4bd87d.png)

### Environment

* apisix version (cmd: `api

[2020-11-19 06:10] Hmemories commented on #2791
I configured SSL locally and access failed

[2020-11-19 06:21] 1746631764 opened #2792 "request help: Send a correct request but return “502 bad gateway”"
### Issue description
When testing the limit count plug-in or other plug-ins
![image](https://user-images.githubusercontent.com/53963192/99628758-c0d83d00-2a71-11eb-9ba6-99f08a5d24ac.png)

### Environment

* apisix version (cmd: `apisix version`):1.5
* OS:centos 7

[2020-11-19 07:04] nic-chen commented on #2792
could you please provide detailed steps to reproduce and related error log and access log? thanks.

[2020-11-19 07:11] tokers commented on #2791
Is this certificate signed self?

[2020-11-19 07:21] Hmemories commented on #2791
Yes

[2020-11-19 07:23] tokers commented on #2791
Then that's an expected behavior, you may add the -k option to ignore the certificate verification.

[2020-11-19 07:43] starsz commented on #2791
Hi, @Hmemories, have you checked your error log?

[2020-11-19 07:43] 1746631764 commented on #2792
Operate according to the document
error.log:
2020/11/19 15:28:07 [error] 3693#3693: *203078 connect() failed (111: Connection refused) while connecting to upstream, client: 127.0.0.1, server: , request: "GET /index.html HTTP/1.1", upstream: "http://39.97.63.215:80/index.html", host: "127.0.0.1:9080"

[2020-11-19 07:48] Hmemories commented on #2791
@starsz  I saw anything unusual error.log
![image](https://user-images.githubusercontent.com/30172398/99636652-ab1d4480-2a7e-11eb-9575-1550ee91c1b4.png)

[2020-11-19 07:54] nic-chen commented on #2792
It tell that upstream: "http://39.97.63.215:80/index.html"  connect failed

[2020-11-19 07:59] #2781 closed

[2020-11-19 08:18] gy09535 opened #2794 "request help: use self ca to connect etcd fail"
### Issue description
I use cfssl to generated the  etcd ca, I can connect it with etcdctl with flowing command
[code]
And I can use the curl command to connect it
[code]
But how can I do in apisix, I config etcd with  https and with no verify, after that I got this error
[code]
I try to set this config "lua_ssl_trusted_certificate" (https://github.com/openresty/lua-nginx-module#lua_ssl_trusted_ce

[2020-11-19 08:27] Hmemories commented on #631
I also encountered this problem when used SSL. How can I solve it
![image](https://user-images.githubusercontent.com/30172398/99640601-14ec1d00-2a84-11eb-8f5c-541aaa090999.png)

[2020-11-19 08:28] Hmemories commented on #631
![image](https://user-images.githubusercontent.com/30172398/99640669-2f25fb00-2a84-11eb-89ac-4c56fe179133.png)

[2020-11-19 08:30] #2399 closed

[2020-11-19 08:33] starsz commented on #2791
Hi, @Hmemories, have you put your SSL certificate to apisix before? Or maybe you can check this by doing
[code]

See: https://github.com/apache/apisix/blob/master/doc/admin-api.md#ssl

In addition, I think it shouldn't cause Lua's thread to abort.

[2020-11-19 08:51] Hmemories commented on #2791
I found that key changed to nil through Base64
![image](https://user-images.githubusercontent.com/30172398/99642532-947aeb80-2a86-11eb-955a-df9dcf02526b.png)
SSL certificate was put in etcd
![image](https://user-images.githubusercontent.com/30172398/99642851-f176a180-2a86-11eb-98a5-20277c605fa9.png)
![image](https://user-images.githubusercontent.com/30172398/99643247-6a75f900-2a87-11eb-90e6-51ad07

[2020-11-19 09:01] tokers commented on #631
Could you please provide the essential steps to reproduce this issue?
Thanks!

--
Zhang Chao

On 2020年11月19日 at 16:28:07, 张钧淋 (notifications@github.com) wrote:

[2020-11-19 09:04] tokers commented on #2794
APISIX doesn't support mutual TLS with etcd.

[2020-11-19 09:04] starsz commented on #2791
Hi, @Hmemories, I think you should put the  SSL certificate with
[code]

[2020-11-19 09:07] Hmemories commented on #2791
Here is my SSL certificate
-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAshFIfimTMxtgifJsLZuIRW+OFipzscVzoK3H73JvQx4V4POd
NQz4SV2ok59fgFywIAzDHRCm5Uhs51LIAJUuQmoDZbJffBk8SNtwpIyTpjJYrsx0
cxtq4wm8MPssc4lu/i2Isx5iKI0iorw8UNhGnRFT0gHDOjSijW5LH8RvM5P21UmP
Nw8NtLaAfe+B4kGFqEZX5js+BPdo9ahnzLWok5PAn6HICFR+ojIGjvoOY7+0a7vX
oDignWfsDVAg3/bzaIkKrrBc5A6h3SChxM4AOFXYLmp7ndfeliFWJCvc0WySTXAg
9StZUfawkTt/z43c

[2020-11-19 09:28] starsz commented on #2791
Hi, @Hmemories. You may have failed to get my point.
What I mean is that, when you put your SSL certificate through `/apisix/admin/ssl/{id}`,
the `cert` and `key` field in the request body should contain
[code]

Like this, Just put all the content in the SSL certificate to apisix.
[code]

[2020-11-19 09:38] idbeta commented on #2791
It’s difficult to use curl to send the certificate content here. I suggest you use python, like the following
[code]

[2020-11-19 09:39] gy09535 commented on #2794
See it , maybe it is a "openresty" issue, I check "openresty" can not support mutual TLS.

[2020-11-19 10:05] idbeta commented on #2788
Is there test data to prove it is better?

[2020-11-19 10:08] Hmemories commented on #2791
@starsz  ok
curl http://127.0.0.1:9080/apisix/admin/ssl/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "cert": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAshFIfimTMxtgifJsLZuI
RW+OFipzscVzoK3H73JvQx4V4POdNQz4SV2ok59fgFywIAzDHRCm5Uhs51LIAJUu
QmoDZbJffBk8SNtwpIyTpjJYrsx0cxtq4wm8MPssc4lu/i2Isx5iKI0iorw8UNhG
nRFT0gHDOjSijW5LH8RvM5P21UmPNw8NtLaAfe+B4kGFqEZX5js+BPdo9ahnzLWo
k5PAn6

[2020-11-19 10:10] moonming opened #2796 "request help: helm charts for 2.1"
### Issue description

update https://github.com/apache/apisix-helm-chart after 2.1 released.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-19 10:13] Hmemories commented on #2791
@idbeta ok ，I'll try

[2020-11-19 10:35] gxthrj commented on #2796
Ok,let me do it.

[2020-11-19 12:39] starsz commented on #2794
Hi, @gy09535. Because the socket in lua-nginx-module can't connect with mutual TLS, So APISIX doesn't support mutual TLS with etcd.
More Details: https://github.com/openresty/lua-nginx-module#tcpsockconnect
https://github.com/api7/lua-resty-etcd/blob/cd300fbad847f9a4297307dcb85b57c821d161d8/lib/resty/etcd/v3.lua#L493.

I think you may try etcd-proxy. ：）

[2020-11-19 12:48] starsz commented on #2791
@Hmemories No.Like this.

[code]

[2020-11-19 13:19] moonming commented on #2737
add a new field is good for me

[2020-11-20 01:57] gy09535 commented on #2794
yeah，I am trying another way

[2020-11-20 02:14] tokers commented on #2788
Currently `bin/apisix` is interpreted by the Lua.

[2020-11-20 02:34] gzhsnail opened #2797 "request help: Unable to view upstream health check results"
### Issue description
 After the health check is completed through the interface settings, the upstream health check results cannot be viewed .

通过接口设置完成健康检查后，无法查看 upstream 健康检查结果，需要根据健康检查的结果触发告警机制等其他场景。

### Environment

* apisix version (cmd: `apisix version`): v2.0
* OS: centos 7

[2020-11-20 02:36] Hmemories commented on #2791
@starsz ok, I got it

[2020-11-20 02:55] spacewander commented on #2190
Consider solved.

[2020-11-20 02:55] #2190 closed

[2020-11-20 02:58] spacewander opened #2798 "[DISCUSS] provide a control interface to expose APISIX internal state"
We can let APISIX listen a specific port and provide some APIs just like the current admin server.

Those APIs include:
* /healthcheck: show the status of healthcheck. See #2797.

[2020-11-20 02:58] zhuchengxing opened #2799 "bug: In proxy UDP, roundrobin is unbalanced"
### Issue description
When I used UDP proxy, I find roundrobin unbalanced.  Once the connection is established, it will always send a message to only one of the nodes!
### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS:centos7

### Minimal test code / Steps to reproduce the issue
1.  config stream_routes:
{
    "server_addr": "10.3.174.125",
    "server_port": 9200,
    "upstream"

[2020-11-20 02:59] tokers commented on #2798
Yep, i'm devoting to the /status api, i think the health check result is also required.

[2020-11-20 03:00] spacewander commented on #2797
Let's move the discussion to #2798.

[2020-11-20 03:00] #2797 closed

[2020-11-20 03:00] Hmemories commented on #2791
@starsz I did it with you ,but it can‘t work
![image](https://user-images.githubusercontent.com/30172398/99752637-a2c91600-2b1f-11eb-9a08-0739b132ab48.png)

[2020-11-20 03:02] spacewander commented on #2798
@gzhsnail What kind of health check information you need?

[2020-11-20 03:10] #2110 closed

[2020-11-20 03:25] starsz commented on #2791
@Hmemories.Emmmm. You had only generated a private key yet.
And the next step, you should generate `.csr` and `.crt` by this key.
Finally, put the content in ".crt" and ".key" to apisix.

Maybe you should take some time on how to generate an SSL certificate.

[2020-11-20 03:28] Hmemories commented on #2791
ok,thanks

[2020-11-20 03:33] membphis opened #2800 "test(CLI): only need to confirm part of result, returned list may change in the future."
original comment: https://github.com/apache/apisix/pull/2690/files#r527367999

[2020-11-20 03:34] membphis commented on #2800
@ jxhecong would like to this this issue?

[2020-11-20 03:35] #2670 closed

[2020-11-20 05:30] freebsdly commented on #2692
when apisix starting , it use curl to check etcd version, maybe etcd server should enable api v2.

[2020-11-20 05:43] membphis commented on #2796
@moonming If we can do this after the 2.1 release, then the milestone should be `2.2`, right?

[2020-11-20 05:49] freebsdly commented on #2692
when apisix starting, it use curl to check etcd version, curl -s -m [timeout] http://ip:port/version , make sure the domain name can be resolved

[2020-11-20 06:48] tokers commented on #2798
This topic could be more semantic, not only health check result of upstream endpoints, but also dumping configurations and others.

[2020-11-20 06:48] tokers commented on #2798
This topic could be more semantic, not only health check result of upstream endpoints, but also dumping configurations and others.

[2020-11-20 07:43] gzhsnail commented on #2798
For the time being, only upstream is required to be active 。
暂时只需要 upstream 主动检查是否健康和被动检查是否健康。

[2020-11-20 08:30] idbeta commented on #2782
@membphis I reproduced this problem in the local environment.
Grafana v7.3.3 (2489dc4d3a)
prometheus-2.22.2.darwin

[2020-11-20 10:15] csh995426531 commented on #2786
I use docker image version apache/apisix:latest will get this error，when can update image

[2020-11-20 10:25] spacewander commented on #2786
We are going to release 2.1 in the next week.

[2020-11-20 10:46] gxthrj commented on #2796
I think it should be in milestone 2.2.

[2020-11-20 12:20] tokers commented on #2796
@membphis @gxthrj @moonming What about adding the chart to https://github.com/bitnami/charts?

[2020-11-20 14:11] moonming commented on #2796
I'm not sure whether the Apache project can be added to it, can you help to
see if there are other Apache projects in it?

Alex Zhang <notifications@github.com>于2020年11月20日 周五下午8:21写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-11-20 15:54] idbeta opened #2808 "bug: example about how to enable Stream proxy is wrong"
### Issue description
example from [here](https://github.com/apache/apisix/blob/master/doc/stream-proxy.md) is wrong
[code]
should be
[code]
otherwise
[code]
### Environment

* apisix version (cmd: `apisix version`): master
* OS:

[2020-11-20 16:40] Firstsawyou opened #2809 "[DISCUSS]: add vars matching rules to public methods"
### Issue description

We all know that apisix supports vars matching rules, similar to this: {var, operator, val}. But these rules are in the `apisix/deps/share/lua/5.1/resty/radixtree.lua` file, not in the public method. Therefore, we cannot reuse these rules. The `match` rule is a very useful feature. If we add the `match` rule to the `apisix/apisix/core` module, we can reuse these `match` rule

[2020-11-21 01:47] starsz commented on #2809
Where can these matching rules be used？Can you give some examples?

[2020-11-21 02:20] spacewander commented on #2809
Maybe we can move the matching rules to a separate repo, so that we can also use this to satisfy https://github.com/api7/lua-resty-radixtree/issues/74

[2020-11-21 02:29] starsz commented on #2808
Hi, I think the doc had made a mistake on the YAML grammar.

`127.0.0.1:9101`'s type is a string, so quotes should be used on this.

Like this:

[code]

[2020-11-21 03:06] spacewander opened #2810 "[DISCUSS]: allow user to specify APISIX id in config.yaml"
Currently, the id of APISIX is generated UUID, which can't be controlled by the user. I think it would be good to allow user to specify a meaningful id to bind APISIX instance with their internal system.

[2020-11-21 03:34] tokers commented on #2810
It would be better to support vars.

[2020-11-21 04:23] juzhiyuan commented on #2737
I would prefer using standalone field, for labels are used to add description for target.

[2020-11-21 04:27] moonming commented on #2809
agreed, router already support match rules.

[2020-11-21 04:28] moonming commented on #2809
@Firstsawyou I am not get your point.

[2020-11-21 05:06] spacewander commented on #2810
I am confusing. `vars` is already supported: https://github.com/apache/apisix/pull/2743

[2020-11-21 05:15] cleverpig commented on #1773
I checked out the master which works with skywalking8.0.After make deps and config, it ran up!

And here is a problem -- skywalking plugin doen't work.
I configed apache httpd as a simple http backend service in apisix dashboard.
![image](https://user-images.githubusercontent.com/580435/99868188-3f141b00-2bfb-11eb-996f-b44d87e8130a.png)

![image](https://user-images.githubusercontent.com/580435/99

[2020-11-21 06:42] 1731lin opened #2812 "bug: about wolf-rbac get token problem"
### Issue description
[root@localhost example]# curl http://127.0.0.1:9080/apisix/plugin/wolf-rbac/login -i -H "Content-Type: application/json" -d '{"appid": "restful-demo", "username":"root", "password":"wolf-123456"}'
HTTP/1.1 500 Internal Server Error
Date: Sat, 21 Nov 2020 03:43:33 GMT
Content-Type: text/plain
Transfer-Encoding: chunked
Connection: keep-alive
Server: APISIX web server

{"messa

[2020-11-21 07:39] tokers commented on #2796
Yeah, Apache Kafka is also in there.

[2020-11-21 07:44] Firstsawyou commented on #2809
What I mean is that we can't reuse the matching rules in radixtree.lua, because his definition is local.
The matching rule definition in radixtree.lua:

[code]

[2020-11-21 07:51] Firstsawyou commented on #2809
This is a related issue that needs to use these rules：
https://github.com/apache/apisix/issues/2511
https://github.com/apache/apisix/issues/2303

[2020-11-21 10:25] moonming commented on #2778
please send discuss thread to mailinglist

[2020-11-21 10:28] moonming commented on #2796
Cool

[2020-11-21 11:51] spacewander commented on #2812
The error message is already clear. The wolf-server you configured via `server` field can be connected. (`request to wolf-server failed! connection refused`).
Please check your environment and your configuration.

[2020-11-21 11:51] #2812 closed

[2020-11-21 11:57] tokers commented on #2796
@gxthrj @membphis What do you think?

[2020-11-21 12:22] tokers commented on #2810
Sorry i forgot it.

[2020-11-21 12:51] moonming commented on #2796
@tokers https://github.com/apache/apisix-helm-chart  Apache APISIX already has a repo.
I think we can add to bitnami after helm-chart released.

[2020-11-21 12:54] tokers commented on #2796
That's cool :).

[2020-11-21 13:09] tokers commented on #2739
The active health check target is added lazily when the upstream was first referenced, at that point, no health check information, so unhealthy endpoints might be used, especially when their weight are high or because the directional selection like consistent hash.

Or after the health checker resume these offline endpoints from unhealthy to healthy,  they are offline again,  before the health che

[2020-11-21 14:19] sebbASF commented on #2059
Please tidy up the release area.

It's not fair on the volunteer mirrors to have to carry old releases.

[2020-11-21 16:14] gxthrj commented on #2796
Great ! The `Bitnami Library` is so interesting.

[2020-11-21 17:04] #2169 closed

[2020-11-22 01:58] Thinker-Mars commented on #487
组织：个人
地址：中国 厦门
联系方式：773768893@qq.com
使用场景：作为Node微服务下的网关使用

[2020-11-22 04:50] gxthrj opened #2814 "DISCUSS: Should APISIX support `https` when connecting to etcd ?"
### Issue description
Related to #2182

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-22 04:51] gxthrj commented on #2182
@maxluo1992 We close this issue now .
And discussing [here](https://github.com/apache/apisix/issues/2814) about supporting `https` when connecting to etcd.

[2020-11-22 04:51] #2182 closed

[2020-11-22 08:04] starsz opened #2816 "[DISCUSS]: APISIX should check the ssl certificate in "apisix/admin/ssl" API"
### Issue description
Hi, I think APISIX should check the SSL certificate in "apisix/admin/ssl" API.
If the SSL certificate is illegal, APISIX should give some prompt.

related： https://github.com/apache/apisix/issues/2791

[2020-11-22 08:06] tokers commented on #2816
@starsz PR's are welcome.

[2020-11-22 08:16] starsz commented on #2814
Hi, As far as I know, APISIX had support HTTPS already.

See more details:
https://github.com/apache/apisix/blob/3c12b61207d3b3862b2d25060b85e606227b5a65/doc/install-dependencies.md#note

https://github.com/apache/apisix/blob/4d290172146ba6fea372a2e224f6a8947a8fce6c/conf/config-default.yaml#L153-L156

[2020-11-22 09:48] moonming commented on #2814
already support

[2020-11-22 09:50] moonming commented on #2816
CP do this job now

[2020-11-22 09:51] moonming commented on #2816
I'm not sure if dp needs this check

[2020-11-22 11:19] spacewander commented on #2816
Since there are users using the admin API, I think it is needed.

[2020-11-22 14:01] starsz opened #2818 "[DISCUSS]: Use luasocket lib instead of `curl` in "bin/apisix""
Hi, I advise using luasocket lib instead of `curl` in "bin/apisix".

Although, it's very convenient to get HTTP responses by using "io.open" and "curl".
But, I think it's not an elegant way and has some limitations. Such as can't distinguish error info between `Connection refused` and empty response.

So I think we can use luasocket lib and create a common function in "cli/util.lua", so that we ca

[2020-11-22 15:12] starsz commented on #2799
Hi, @zhuchengxing, have you check the error log?

And you can try to send UDP package to node 127 directly. Like this
[code]

Is that ok?

[2020-11-23 01:04] spacewander commented on #2818
Do you mean writing a new HTTP client based on luasocket? Since lua-resty-http can't be used without `ngx`.

[2020-11-23 01:11] spacewander commented on #2175
Consider solved as the author didn't reply.

[2020-11-23 01:11] #2175 closed

[2020-11-23 01:29] wfgydbu opened #2820 "request help: how to apply bandwidth control in apisix?"
### Issue description
Does APISIX support bandwidth control right now?

Consider this scenario, Using APISIX as a gateway to handle all traffics, and expecting the gateway to limit the bandwidth (all traffics) to, say no more than 5G. because we have to keep some bandwidth for inner user, i.e. for managerment.

Is this possible? Do we have this feature or any solutions now?

Thanks.

### Environme

[2020-11-23 02:01] spacewander commented on #2820
There is not such a feature. But you can write your plugin works on body_filter and do the limitation. There is not way to archive an ingress bandwidth control yet.
Personally speaking, I will suggest you to do this at the level of router instead of the API gateway.

[2020-11-23 02:07] spacewander commented on #2814
solved.

[2020-11-23 02:07] #2814 closed

[2020-11-23 02:17] tokers commented on #2820
@wfgydbu If the granularity of bandwidth limitation is the whole gateway instance, i think it's better to do it in a low level, just as @spacewander said.

If you want to do it per request level, now you can modify the `apisix/cli/ngx_tpl.lua` (the nginx.conf configuration template), add `limit_rate` directive to use the rate limiting feature of Nginx itself.

[2020-11-23 02:18] tokers commented on #2818
What about just use luasocket?

[2020-11-23 02:19] tokers commented on #2818
The luasocket lib already has a HTTP client implementation.

[2020-11-23 02:27] tokers opened #2821 "Implement status API"
We have already some disscussion about this topic: https://lists.apache.org/thread.html/re3097f7e88d636e8137231c36462c32773b2b4817d91f7997e91358f%40%3Cdev.apisix.apache.org%3E.

This thread is used to track the development progress about APISIX part.

The related issues:

* https://github.com/apache/apisix-dashboard/issues/849
* https://github.com/apache/apisix-dashboard/issues/850

[2020-11-23 02:30] omigafu opened #2822 "request help: whether the admin port should not be mixed with the user request port?"
### Issue description
It is not recommended to comment this line by default, for higher security.

https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L63

[2020-11-23 02:42] tokers commented on #2822
See https://github.com/apache/apisix/pull/2802, it's in progress, it works in progress.

[2020-11-23 02:56] starsz commented on #2818
Hi, @spacewander @tokers, Yeah, luasocket had an HTTP client implementation already.
See: http://w3.impa.br/~diego/software/luasocket/http.html
So, I want to use luasocket lib instead of curl in "bin/apisix".

[2020-11-23 02:57] tokers commented on #2818
But i'm not sure whether it's built in? Or users have to install it before they can use `bin/apisix`.

[2020-11-23 03:13] starsz commented on #2818
Users need to do `make deps` before they use `bin/apisix`. So I think it can be solved.

[2020-11-23 03:14] tokers commented on #2818
OK, that's good.

[2020-11-23 03:18] #2808 closed

[2020-11-23 03:18] #2822 closed

[2020-11-23 03:21] spacewander commented on #2794
We  will close this issue since the mTLS needs to be supported in OpenResty.

[2020-11-23 03:21] #2794 closed

[2020-11-23 04:57] liuxiran commented on #2737
Ok, then we'll do this by adding a new field :)

Since we are not much familiar with the logic of the route, we will try to sort out the existing logic and list the solution

[2020-11-23 05:48] idbeta commented on #2799
@zhuchengxing any update? my environment ( master branch ) cannot reproduce the problem according to your steps,

[2020-11-23 06:01] Firstsawyou opened #2823 "feat(hmac-auth): the request parameter participating in the signature can be the parameter name"
### Issue description

When the request parameters of the hmac-auth plug-in participate in the signature. If the parameter is in the form of `key` instead of `key=value` or `key=`, the Lua thread will be aborted and the signature will fail. Therefore, we need to be compatible with this `key` situation.

Example：

Add a test case in `hmac-auth.t`, contains request parameters in the form of `key`(na

[2020-11-23 06:16] cleverpig commented on #1773
Maybe this is the problem of apisix. @membphis
I've tried openresty1.17 & skywalking-nginx-lua 0.3.0 with skywalking 2.0 today.
They work together! This is skywalking trace snapshot:
![image](https://user-images.githubusercontent.com/580435/99933499-3277fa00-2d96-11eb-8ea6-0c9f71a02ebf.png)

[2020-11-23 06:25] spacewander commented on #1773
@cleverpig
The skywalking plugin is disable by default on the master branch. You can enable it according to the doc: https://github.com/apache/apisix/blob/master/doc/plugins/skywalking.md#how-to-enable

[2020-11-23 06:26] zhuchengxing commented on #2799
yes !   nc -p 6336 -u 10.3.174.127 29090

[2020-11-23 06:29] zhuchengxing commented on #2799
!!!!!   I just tried it again, but it still doesn't load balance, is that because the master branch has changed? i used 2.0

[2020-11-23 06:35] idbeta commented on #2799
@zhuchengxing I reproduce your problem now, i am not familiar with this feature, cc @membphis

[2020-11-23 06:39] tokers commented on #2823
Agreed. We may keep consistent with `ngx.req.get_uri_args`?, i.e. args without `=<value>` should be treated boolean, and value of args like `key=` should be treated as empty string, for instance, `GET /t?foo=&bar` will get args:

[code]

[2020-11-23 06:46] zhuchengxing commented on #2799
@idbeta  ok, thanks .

[2020-11-23 07:59] Firstsawyou commented on #2823
I think that when args without `=<value>`, it should be treated as nil. Because in most programming languages, when args without `=<value`, it is treated as null. In this way, the `hmac-auth` plugin can be compatible with args without `=<value>`.

for instance, `GET /t?foo=&bar` will get args:
[code]

[2020-11-23 08:40] cleverpig commented on #1773
Cool! It works now! Please make the document more obvious for users! :)

[2020-11-23 08:50] tokers commented on #2821
Information should be exposed:

[code]

@juzhiyuan @membphis @moonming @starsz What do you think? May be the node_listen could be more semantic like:

[code]

[2020-11-23 09:07] spacewander commented on #1773
OK, we will mention the current state of skywalking plugin in the changelog.

[2020-11-23 09:13] moonming commented on #2821
can we return `config.yaml`? and we can do this later.

[2020-11-23 09:15] tokers commented on #2821
You mean the whole config.yaml data after the vars resolving?

[2020-11-23 09:16] moonming commented on #2059
@sebbASF we updated download page by https://github.com/apache/apisix-website/pull/93, and removed old releases from svn.

[2020-11-23 09:16] #2059 closed

[2020-11-23 09:20] starsz commented on #2821
Hi, @tokers. Only `port` in node_listen maybe not enouth if `host` was set to listen.

[2020-11-23 09:27] tokers commented on #2821
@justinmclean Does the frontend page should be adjusted if we do so?

[2020-11-23 09:32] tokers commented on #2821
That's true.

[2020-11-23 09:37] juzhiyuan commented on #2821
hmmm justinmclean may not know about this, we don't need to update the sketch for the frontend according to this proposal[1].

[1] https://github.com/apache/apisix-dashboard/issues/850#issuecomment-732010534

[2020-11-23 09:37] tokers commented on #2821
There are some secret data like `key_encrypt_salt` which are not suitable to be shown.

[2020-11-23 09:39] juzhiyuan commented on #2821
How about adding those secret data to an allowlist?

[2020-11-23 09:42] tokers commented on #2821
I think it will make the data plane complex, since we have to filter these secret data. I suggest just add some basic items firstly, and listen the feedback from Community.

[2020-11-23 10:12] membphis commented on #2787
you should check the network of upstream first, it shows `connection refused`.

[2020-11-23 10:19] membphis commented on #2678
Thank you very much for your suggestions, we will refer to it a lot.

[2020-11-23 11:11] wfgydbu commented on #2820
Thanks for comments.

Seems we need to re-discuss out plan here, thanks!

[2020-11-23 11:25] nic-chen commented on #2678
thanks for suggestions. @backnero

[2020-11-23 12:05] wfnuser commented on #2800
I would like to have a try.😄

[2020-11-23 14:28] membphis commented on #2800
many thx, good luck. if you need any help, pls let us know

[2020-11-23 14:30] membphis commented on #2821
We can implement a mini version first and add more fields later. ^_^

[2020-11-23 14:36] membphis commented on #2006
@ShiningRush do you have time to fix this bug?

[2020-11-23 14:36] #2274 closed

[2020-11-23 14:39] #2788 closed

[2020-11-23 14:42] membphis commented on #2782
@idbeta many thx for your confirmation. We need to update the JSON file of grafana: https://github.com/apache/apisix/blob/master/doc/json/apisix-grafana-dashboard.json

[2020-11-23 14:44] membphis commented on #2786
@ziyou434 you can make a try with the 2.1 or latest version.

[2020-11-23 14:44] tokers commented on #2821
OK, let's just add the most basic fields now:

[code]

[2020-11-23 14:47] membphis commented on #2810
I think that is a good feature

[2020-11-23 14:55] membphis commented on #2818
We can make a try.

Need to pay attention to the use of different systems(ubuntu, centos and mac os), whether there are compatibility issues.

[2020-11-23 14:56] membphis commented on #2737
+1

[2020-11-23 14:59] membphis commented on #2799
welcome to submit PR to fix this issue

[2020-11-23 15:01] moonming commented on #2818
Can we specify the path of openresty to solve this problem?  So we can use lua-resty-http.

[2020-11-23 15:01] membphis commented on #2823
agree +1

[2020-11-23 15:01] wfnuser commented on #2800
I'm going through the whole project background. I'm not so sure what 'init_kv=(' and 'apisix_cli_test.sh ' for, yet. Where can I figure it out quickly. Would you give me some clues, that will be a big help.

[2020-11-23 15:42] membphis commented on #2818
Do you mean to run the CLI in fake `openresty` ENV? Is it the same as the "resty" command?

[2020-11-23 15:55] moonming commented on #2818
yes

Thanks,
Ming Wen
Twitter: _WenMing

YuanSheng Wang <notifications@github.com> 于2020年11月23日周一 下午11:42写道：

[2020-11-23 17:03] Firstsawyou commented on #2823
assigned to me.

[2020-11-23 18:50] liuxiran commented on #2737
I have a question: how does apisix watch the changes of etcd and update the nginx config?

my current implementation idea is that

1. add a field `status` in route`s schema, like  https://github.com/apache/apisix/blob/d7593a0ac3f960ab23d5a71d98cf1666e21b207c/apisix/schema_def.lua#L621

1. write the route to etcd after it is created, and remove it from the nginx configuration when it is discovered

[2020-11-24 00:56] spacewander commented on #2818
There are some limitation in `resty`, for instance, access environment variables.

[2020-11-24 01:13] GiftLee opened #2827 "request help: fault-injection abort.body Using variables"
### Issue description
abort.body
{"status":"success","time":"$time_local"}

$time_local is nginx variables
or  Custom variable

ok     english is poor

 i want this

location ~ ^/get_json {
    default_type application/json;
    return 200 '{"status":"success","SERVER_TIME":"$current time"}';
}

### Environment

* apisix version 2.0:
* OS: Centos 7

[2020-11-24 01:47] ShiningRush commented on #2006
I will try to produce the bug in master, We have not been able to produce this bug stably before : (

[2020-11-24 01:54] backnero opened #2828 "bug: Request the route of the same service for a short time, the path is lost"
### Issue description
When two routes of the same upstream-service are requested, the first route responds successfully, and the second route shows path loss, or the response value is the same as the first route. After a period of time, about 1-2 minutes, the access to the second one will respond normally, but the same problem occurs when accessing the first one. The current phenomenon has found t

[2020-11-24 01:57] backnero commented on #2828
In addition, in version 2.0, when the global plug-in settings return to the head, two servers will appear. One of the apisix, one is my custom. Is it to show that apisix provides services? Because in my previous versions, the client used the server in the returned header as the judgment condition.
I don’t know if this phenomenon is a bug or intentional

[2020-11-24 02:29] #2738 closed

[2020-11-24 02:30] wfgydbu commented on #2820
Could you please explain a bit why we cannot limit egress traffic but not ingress traffic with apisix? Thanks a lot! @spacewander

[2020-11-24 03:12] spacewander commented on #2820
Because Nginx doesn't provide a mechanism to limit ingress traffic.

[2020-11-24 03:12] membphis commented on #2737
I write an example, follow @liuxiran design: add new field `status`. I think this way is good.

[code]

[2020-11-24 03:22] backnero commented on #2828
when i enable config 'enable_debug'

[code]

[2020-11-24 03:24] membphis commented on #2800
@jxhecong need your help ^_^

[2020-11-24 03:26] starsz commented on #2818
Hi, @moonming, I think there is no need to use `lua-resty-http`.
In CLI, we don't care about non-blocking, and luasocket is also easy to use now.

What's your opinion about using `lua-resty-http`.

[2020-11-24 05:56] juzhiyuan commented on #2737
If this is ok, kindly remove the `discuss` label and add `enhancement`.

[2020-11-24 05:58] juzhiyuan commented on #2737
Just to make sure, @membphis please take a look at here.

[2020-11-24 06:44] liuxiran commented on #2737
Yes, indeed, I haven't found the clue yet, how to let the route with `status=0` not take effect, I have not found reference codes

[2020-11-24 07:57] JanLi-air opened #2833 "bug: config.yaml can only use those defined in config-default.yaml"
### Issue description
config.yaml is used to override those configurations in config-default.yaml.

The problem is that some configurations are too niche to be included in config-default.yaml. Such as proxy_protocol.

But if you override something not in config-default.yaml, you will get an error when you init apisix.

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS: Mac

### M

[2020-11-24 08:01] spacewander commented on #2833
Fixed by https://github.com/apache/apisix/pull/2476

[2020-11-24 08:05] #2778 closed

[2020-11-24 08:09] membphis commented on #2247
we can close this issue now

[2020-11-24 08:09] #2247 closed

[2020-11-24 08:28] wfgydbu commented on #2820
Cool 😭，Thanks!

[2020-11-24 08:28] #2820 closed

[2020-11-24 08:43] #2791 closed

[2020-11-24 08:52] juzhiyuan commented on #2828
cc @idbeta

[2020-11-24 08:54] spacewander commented on #2237
Can't see it anymore.

[2020-11-24 08:54] #2237 closed

[2020-11-24 08:55] spacewander commented on #2043
This part of code is changed.

[2020-11-24 08:55] #2043 closed

[2020-11-24 08:56] membphis opened #2834 "bug: missing JSONSchema validation for plugin attributes"
### Issue description

Currently, only Route/Service self is checked. The bound Plugins were not be checked now.
That is wrong.

https://github.com/apache/apisix/blob/master/apisix/http/router/radixtree_uri.lua#L118

In this way, when the data plane is running the plug-in, it exits abnormally due to illegal plug-in parameters.

1. use JSON schema to check the plugin, confirm the input parameters a

[2020-11-24 08:58] spacewander commented on #1415
Already solved by later commits.

[2020-11-24 08:58] #1415 closed

[2020-11-24 09:38] gxthrj commented on #2828
@backnero Does your `yaml` file end with `#END` ? This is a keyword.

ref to :https://github.com/apache/apisix/blob/master/doc/stand-alone.md

[2020-11-24 09:59] spacewander commented on #2828
Actually the upstream's `Server` was leaked by accident. And we have changed this behavior.

There is a pending PR to solve the problem: https://github.com/apache/apisix/pull/2029 @membphis

[2020-11-24 10:18] membphis commented on #2006
please provide your steps about how to produce this issue, we need it. many thx

[2020-11-24 10:29] membphis commented on #2737
welcome PR for this new feature. the APISIX does not support this feature now.

Does anyone want to handle this problem?

[2020-11-24 10:30] membphis commented on #2833
@JanLi-air feel free to reopen this issue if you still have this problem

[2020-11-24 10:30] #2833 closed

[2020-11-24 10:34] idbeta commented on #2828
@backnero Sorry, I don’t understand your question very well, can you describe it in simple words?

[2020-11-24 12:49] spacewander commented on #2828
I can't reproduce it at my side.

I used the given configuration with hosts changed and `limit-count` removed (so that we can hit it millions of times).
Here is my backend:
[code]

The wrk script:
[code]

Then run:
[code]

Still can't reproduce it in 10 millions requests.

@backnero
Can you provide the packet capture file contains the bad response?

[2020-11-25 01:14] backnero commented on #2828
@membphis

There is #END, there is no error about apisix.yaml configuration in the error log

[2020-11-25 01:20] backnero commented on #2828
I configured the upstream, service, and routing information through yaml. When I access Route A and Route B of the same service at the same time, if Route A visits earlier, Route B returns the response of Route A.

When I visit the routes of other services at this time, I will get the correct response when visiting route B, but visiting route A will get the response information of route B
In other

[2020-11-25 01:26] backnero commented on #2828
If you use odd and even numbers for paths in the wrk script, polling has been reached.
(I am not familiar with wrk, just a guess.)
You can output the response message, if it appears
rsa
rsa
rsa
rsa
···
or it could be
captcha
captcha
captcha
captcha
captcha
···
Is to reproduce my problem

[2020-11-25 01:28] backnero commented on #2828
This problem has never occurred before, I use apache/apisix:2.0-centos on dockerhub

Use yaml to configure upstream and other information

I tried to deploy in multiple environments online and offline, and it still exists.

Don't know the cause of the problem.

[2020-11-25 01:39] spacewander commented on #2828
OK, now I can reproduce the issue, by applying the change in https://github.com/apache/apisix/pull/2838.
I see something interesting in the access log:
[code]

[2020-11-25 02:36] ziyou434 opened #2839 "request help: helm chart comfigmap.yaml"
### Issue description
Recently because of work needs, I am writing a “APISIX" helm chart for company. (Company has helm repo. )
I ran into a problem when I wrote configmap.yaml. I am not sure which parameters to write in values.yaml. Because I only modified a small part of the parameters in my previous use, but obviously many parameters are meaningful.
This may require a department review, but oth

[2020-11-25 02:56] wfnuser commented on #2800
I think what @membphis means in the original comment: https://github.com/apache/apisix/pull/2690/files#r527367999 is, that there might be more routes in $cmd_res, we should only check part of the key-value pairs are correct.
So I would like to use a hash map in shell supported by shell 4. Is that ok?

[2020-11-25 03:22] moonming commented on #2839
@gxthrj please take a look.
we already has repo of helm chart: https://github.com/apache/apisix-helm-chart

[2020-11-25 03:28] ziyou434 commented on #2839
I used this in the dev environment before, and now I change it based on it.
But because of the version upgrade, config-default.yaml has changed a bit.
I remember this was written by a contributor, and I think the developers may have more insights.

[2020-11-25 03:40] yangxikun opened #2841 "request help: Route vars regex match support case-insensitive"
### Issue description

We want Route vars regex match support case-insensitive, such as match http_user_agent header value.

Is it possible add an `~*` operator to support case-insensitive? I can make a PR for this.

https://github.com/api7/lua-resty-radixtree/blob/99f4049ff3520e0f60bb64bb6f2f382947458890/lib/resty/radixtree.lua#L542

### Environment

* apisix version (cmd: `apisix version`): 2.0

[2020-11-25 03:50] yangxikun commented on #2841
Also, we want `!~` operator to support not regex match. We are migrating from nginx.

[2020-11-25 03:54] membphis commented on #2800
I think a regular matching is enough and simpler.

[2020-11-25 03:54] OnlyPiglet opened #2842 "request help: resty/lock.lua sleep API disabled in the context of balancer_by_lua*"
### Issue description

2020/11/25 10:14:54 [error] 91#91: *851285 connect() failed (111: Connection refused) while connecting to upstream, client: 172.3
0.42.212, server: , request: "GET /xxx?method=testxxxx HTTP/1.1", upstream: "http://****/test?method=testxxx
x", host: "gateway-lxrel.internetofcity.cn"
2020/11/25 11:07:57 [error] 88#88: *3602906 failed to run balancer_by_lua*: /usr/local/apisix/

[2020-11-25 04:15] gxthrj commented on #2839
Hi @ziyou434
The `config-default.yaml` in Apache APISIX is the default config file, It contains the most complete configuration items, and no modification is required by default.

The most need to care about is `config.yaml` when deploying Apache APISIX .  The `config.yaml` is a subset of `config-default.yaml`, before running Apache APISIX, the two files will be merged, replacing `config-default.y

[2020-11-25 05:05] #2823 closed

[2020-11-25 05:10] #2713 closed

[2020-11-25 05:12] Firstsawyou commented on #2827
This is a related issue: [https://github.com/apache/apisix/issues/2511 ](https://github.com/apache/apisix/issues/2511), I think supporting variables are very useful.

If the function of this related issue is realized, I think we can implement it.
[https://github.com/apache/apisix/issues/2809 ](https://github.com/apache/apisix/issues/2809)

[2020-11-25 05:12] spacewander commented on #2841
@yangxikun
Let's add it to https://github.com/api7/lua-resty-expr.
BTW, we will have `not` operator support with https://github.com/api7/lua-resty-expr/pull/3

[2020-11-25 05:12] #2841 closed

[2020-11-25 05:35] membphis opened #2843 "doc: wrong link"
### Issue description

the correct link should be: `#consumer-1`

https://github.com/apache/apisix/blob/master/doc/architecture-design.md#table-of-contents

![image](https://user-images.githubusercontent.com/6814606/100187405-fd4ce280-2f22-11eb-814f-666008f76e56.png)

[2020-11-25 06:01] ziyou434 commented on #2839
I hope you can share any good ideas or discoveries in the task, I appreciate it.
My task deadline is next Wednesday. I don’t want it to be no different from the [old helm chart](https://github.com/apache/apisix-helm-chart), and then my work will lose its meaning.

[2020-11-25 06:25] ziyou434 commented on #2839
I Communicate with leader again to clarify the requirements, and my purpose of developing it is to load custom plugins.
My job is to update the version, and then add the plugin.lua to the container by configmap.
Do you have other ways to load custom plugins？

[2020-11-25 06:31] gxthrj commented on #2839
In the new version of Apache APISIX 2.0 you can continue to use your previous configuration,APISIX can continue to work, because `config.yaml` will be merged with `config-default.yaml`.
Make sure that the plugin list in [values.yaml](https://github.com/apache/apisix-helm-chart/blob/master/chart/apisix/values.yaml) contains all the plugins you need.

[2020-11-25 06:32] #2828 closed

[2020-11-25 06:36] gxthrj commented on #2839
Please pay attention to the [change logs](https://github.com/apache/apisix/blob/master/CHANGELOG.md#200) when you are ready to upgrade Apache APISIX.

[2020-11-25 07:03] membphis commented on #2842
what is the apisix version?

[2020-11-25 07:13] ShenAoScript opened #2845 "request help: Ask for a complete openid-connect example"
### Issue description
After the environment is ready, I can simply call the plug-in to get the address from my discovery endpoint, and then take the configuration as parameters to request the authentication server, and then pop up to the login window to open the redirection address after authentication...

### Environment

* apisix version 2.0
* OS: centos7 & win10

Ask for a complete or detailed

[2020-11-25 07:31] membphis commented on #2845
@moonming any suggestion?

[2020-11-25 08:10] wfnuser commented on #2800
Not so sure how to use regular matching here. 😂

[2020-11-25 09:07] idbeta opened #2850 "bug: manager-api should not allow create consumers with two more auth plugin"
# Bug report

## Describe the bug

Same as adminAPI, manager-api should not allow create consumers with more than one auth plugins, but now it is allowed.

## How to Reproduce

[code]

[2020-11-25 09:20] souzens opened #2848 "request help: High cpu & network traffic triggered when batch processing router rules with large number of rules"
### Issue description

We use apisix-gw as the traffic entrance of the development environment in k8s. APISIX-gw runs in containers.
At present, apisix has more than 7000 router rules. In the past two days, it was discovered that the CPU and network traffic of apisix-gw will become high when the rules are batched.
We suspect that apisix reads etcd data and generates a lot of network traffic when r

[2020-11-25 09:42] membphis commented on #2848
https://github.com/apache/apisix/blob/master/apisix/http/router/radixtree_uri.lua#L83

we can cache the `radixtree` object by lrucache, for example 5 seconds.

[2020-11-25 09:43] membphis commented on #2848
@souzens would like to submit a PR to fix this issue? if you need any help, please let us know

[2020-11-25 10:43] membphis commented on #2848
@souzens

![image](https://user-images.githubusercontent.com/6814606/100217107-0a32fb80-2f4e-11eb-9842-bf1688a0d4e0.png)

[2020-11-25 10:52] moonming commented on #2848
800m -> 800 millicpu

[2020-11-25 11:16] membphis commented on #2848
@souzens need you to provide more information, eg: The number of routes inserted in batches and examples of routes.

many thx

[2020-11-25 11:23] #1620 closed

[2020-11-25 11:23] #2565 closed

[2020-11-25 12:05] OnlyPiglet commented on #2842
apisix 1.1 but make some customized changes but the main logic is the same with apisix 1.1

[2020-11-25 12:23] tokers commented on #2848
@membphis The `readdir` (in terms of etcd v3, Range Request) is expensive and maybe we can limit the number of records in one call and roundtrip several times to reduce the bandwidth peak, just like pagination.

See https://github.com/etcd-io/etcd/issues/11001 and https://github.com/etcd-io/etcd/blob/master/api/etcdserverpb/rpc.proto#L426 for more details.

[2020-11-25 12:25] tokers commented on #2848
I will try to observe these overheads in my own development environment.

[2020-11-25 14:51] membphis commented on #2848
ignore this message, not this problem

[2020-11-25 14:55] membphis commented on #2848
we need it, this is useful for us

[2020-11-25 14:58] membphis commented on #2842
pls make a  try with the latest version

your version is too old

[2020-11-26 02:04] HelloBug0 commented on #2843
Yeah, it will jump to other wrong title Consumer now. And I have test it that it will work right and won't influence other headline if the link changes to #consumer-1.
How do you know it will work well by changing to #consumer-1? I tried #consumer-2,  it doesn't work. And I stilll don't know the reason why it works well in this way even throug I search it.
Feels AMAZING!

[2020-11-26 02:12] liuxiran commented on #2737
OK，thanks a lot, then my teammate will try to handle it later.

[2020-11-26 03:09] tokers opened #2853 "[DISCUSS] Pagination for fully synchronization from etcd"
### Issue description

We use `etcdcli:readdir` when we need to load all config instances (like `Route`, `Upstream`) in one round trip, which generates a lot of network traffic, also, the loop to parse each config instances is long, which causes CPU times peak.

So pagination for the fully synchronization is required to reduce both peak of bandwidth and CPU times.

* https://github.com/etcd-io/etc

[2020-11-26 03:10] tokers commented on #2848
I have submitted it in https://github.com/apache/apisix/issues/2853. It was registered into my TODO list, or if someone is interested in it, feel free to pick it!

[2020-11-26 04:11] spacewander commented on #2853
I think we should let user choose whether to enable pagination and the step size. If pagination is enable, the sync time will be longer, which may be bad for some cases.

[2020-11-26 04:31] spacewander opened #2854 "Missing the API documentation of global rule"
Global rule is only mentioned in `doc/architecture-design.md`. We should add a new section in `doc/admin-api.md`.

[2020-11-26 05:40] backnero opened #2855 "request help: adminapi supports yaml as the configuration center"
### Issue description

When the configuration center is yaml, can adminapi support the GET method to get the list and detailed information of routing, upstream, service, ssl, etc.

Only need to support get request
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-26 05:44] spacewander commented on #2855
Admin API server only connects the etcd cluster, it could not know the dispatched yaml files.

[2020-11-26 05:45] membphis commented on #2843
here is my way to get the right link:

![image](https://user-images.githubusercontent.com/6814606/100312468-600ab080-2fed-11eb-99ce-3a514f4990b7.png)

or we can fix this issue via this way:
![image](https://user-images.githubusercontent.com/6814606/100312565-a5c77900-2fed-11eb-8d6a-094f40ecaf6a.png)

[2020-11-26 05:57] backnero commented on #2855
I now use yaml as the configuration center, and there is a requirement that I need to obtain routing, service, upstream lists, and routing id information through interfaces.
Can it be expanded through plugin?

[2020-11-26 06:08] spacewander commented on #2855
I doubt if it can be expanded through plugin. As far as I know, people who use yaml store the original configuration in their internal system, and dispatch the generated yaml file via agents. Maybe you can write the API in your internal system.

[2020-11-26 06:44] membphis commented on #2853
Do we need to update the `lua-resty-etcd`?

[2020-11-26 07:26] wfnuser commented on #2854
I would like to have a try.😄

[2020-11-26 07:27] imjoey commented on #487
Organization: htzhiyun.cn
Location: Beijing, China
Contact: majunjiev@gmail.com
Scenario: API Gateway for Hybrid Cloud

组织：航天网信
地址：中国 北京
联系方式：majunjiev@gmail.com
使用场景：混合云 API 网关

[2020-11-26 07:31] wfnuser commented on #2853
If we need, may I have a try on this issue. It seems not that hard.

[2020-11-26 09:26] tokers commented on #2853
Yep, we shall.

[2020-11-26 09:27] tokers commented on #2853
We can reserve some advanced option settings in config.yaml, and put all these optimization-scope options there.

[2020-11-26 09:27] tokers commented on #2853
PR's Welcome!

[2020-11-26 11:05] jenskeiner opened #2857 "bug: authz-keycloak plugin should run in access phase."
### Issue description
The `authz-keycloak` plugin currently runs in the Openresty *rewrite* lifecycle phase. This is in line with the plugin development guidelines: "In APISIX, the authentication logic is implemented in the rewrite phase." However, this means it will run before most, if not all, other authentication plugins, e.g. `openid-connect`.

I also think that authentication and authorizatio

[2020-11-26 15:10] starsz commented on #2855
Hi, @backnero. I think your request help like get a YAML file content through adminapi?
If this, I think you can write a plugin to support.

[2020-11-26 15:47] Firstsawyou opened #2860 "chore(kafka-logger): remove semicolon ";" and add blank line"
### Issue description

1.Delete the semicolon after this line of code:
[https://github.com/apache/apisix/blob/master/apisix/plugins/kafka-logger.lua#L26](https://github.com/apache/apisix/blob/master/apisix/plugins/kafka-logger.lua#L26)

2.Two blank lines are required before the line of `return _M`：
https://github.com/apache/apisix/blob/master/apisix/plugins/kafka-logger.lua#L185

[2020-11-26 17:17] Firstsawyou opened #2861 "doc(kafka-logger): optimize the description of the attribute"
### Issue description

In the kafka-logger plugin documentation, the description information of the `batch_max_size` and `include_req_body` attributes is not clear, and `include_req_body` lacks default values, we need to optimize.

[2020-11-26 21:17] jenskeiner commented on #2764
I'll close this one as I've since confirmed that the headers are actually set correctly.

I'll probably open a few more tickets and PRs to address other issues in the area.

Thanks for help.

[2020-11-26 21:17] #2764 closed

[2020-11-27 00:38] membphis commented on #2861
welcome PR

[2020-11-27 00:39] membphis commented on #2860
welcome PR ^_^

[2020-11-27 00:44] HelloBug0 commented on #2843
I see. 👍 👍 👍

[2020-11-27 01:01] spacewander commented on #2855
If this, I think you can write a plugin to support.

No. We can't do it because plugin can't add API to the admin API.

[2020-11-27 01:33] tzssangglass opened #2862 "request help: the key of the json in response_body is unordered"
### Issue description
In a response body, if the body is in json format, the order of keys in json is unordered.
As a result, when executing test cases, many test cases that define the full response_body content or one that contains multiple keys fail to execute.
As follows
![QQ图片20201127092252](https://user-images.githubusercontent.com/30819887/100400645-348dd180-3092-11eb-86a1-a3a1c4ce8789.png)

[2020-11-27 01:40] tzssangglass commented on #2862
It may be that the LuaJIT update in OpenResty:1.19.3.1 has caused the `jsonencode` results to change.
This problem is fixed in apisix with the
PR (no merge to master yet): https://github.com/apache/apisix/pull/2768

Temporary Fix: Reduce the version of OpenResty.

[2020-11-27 01:55] spacewander commented on #2862
#2768 can't be merged because there is a problem about the GitHub Action.

[2020-11-27 01:55] #2862 closed

[2020-11-27 01:55] 1746631764 opened #2863 "request help: Is there a plug-in that acts on the response phase？"
### Issue description
I want to make a response message encryption plug-in，but I don't know if the plug-in can act on the response phase alone. Besides, is there such a response phase?Are there any relevant documents that can be used for reference？

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-27 01:59] spacewander commented on #2863
You can take a look at https://github.com/apache/apisix/blob/master/apisix/plugins/response-rewrite.lua

[2020-11-27 02:10] liuxiran opened #2864 "request help: highly available deployment scheme for APISIX"
### Issue description

Do we have recommended highly available deployment shema for APISIX in a production environment?

[2020-11-27 02:21] starsz commented on #2855
Yeah. Can't add API, but we can add a route to return that info.

[2020-11-27 02:21] OnlyPiglet opened #2865 "request help: a doubt about the clean_handler"
### Issue description

just want to ask when the clean_handlers function will be execute which are in the line 106 of balancer.lua , I just see the cleaner_handler will be execute in the  line 170 of config_etcd.lua but this happens when sync_data from etcd so i am confused about this.thanks for helping me.
balancer.lua
[code]

config_etcd.lua
[code]

### Environment

* apisix version (cmd: `apisi

[2020-11-27 02:23] Firstsawyou commented on #2861
assigned to me.

[2020-11-27 02:41] OnlyPiglet commented on #2842
ok i see

[2020-11-27 02:42] spacewander commented on #2855
The route is added in the data panel, not the admin API. So there is impossible to expose the info in admin API if you are not using etcd.

[2020-11-27 02:51] backnero commented on #2855
As long as routing, service, upstream and other information can be obtained, because yaml is used as the configuration center, configuration addition, deletion and modification will all be performed in yaml.

[code]
Maybe it can be similar to this, I don't know what method should be used to obtain routing information.

[code]
I try to use the method in core/conf_yaml.lua to get yaml information,

[2020-11-27 02:52] kaka11chen opened #2866 "bug: Prometheus exporter sometimes throws 500 error."
### Issue description
Prometheus exporter sometimes throws the following 500 error.
![image](https://user-images.githubusercontent.com/1736049/100405190-1037f200-309e-11eb-8e29-92cf83d13bf8.png)

### Environment

* apisix version (cmd: `apisix version`): 1.5
* OS: CentOS 7

### Minimal test code / Steps to reproduce the issue
Sometimes throws error.

[2020-11-27 02:54] backnero commented on #2855
It may be the problem I stated. For me, it doesn’t have to be adminapi. The interface released by the plug-in is also ok, just get the information

[2020-11-27 02:54] wfnuser commented on #2860
This one seems easy too. I would like to have a try!

[2020-11-27 02:57] spacewander commented on #2866
Duplicate of https://github.com/apache/apisix/issues/2394

[2020-11-27 02:57] #2866 closed

[2020-11-27 03:01] #2863 closed

[2020-11-27 03:27] spacewander commented on #2855
@backnero
You can take a look at how we do in
https://github.com/apache/apisix/blob/f4161d39a495879edffbc75e2099f6e487bae81d/apisix/http/router/radixtree_uri.lua#L84

Don't forget to protect your route via https://github.com/apache/apisix/blob/master/doc/plugin-interceptors.md

I will close this issue as it is off topic now. Feel free to open a new one if needed.

[2020-11-27 03:27] #2855 closed

[2020-11-27 03:43] Firstsawyou commented on #2792
@1746631764
I think the upstream service you configured may be unavailable. When operating according to the document, you need to configure the available upstream service addresses.

[2020-11-27 03:48] 1746631764 commented on #2792
Yes, I've discovered the problem，thanks

[2020-11-27 03:48] #2792 closed

[2020-11-27 06:52] backnero commented on #2855
[code]

What is the reason user_routes.value does not exist

[2020-11-27 07:31] nic-chen opened #2870 "bug: update plugin config for route does not take effect"
### Issue description

Update the plugin config for route, and then access to the route, the plugin config is not updated.

### Environment

* apisix version (cmd: `apisix version`):  master source
* OS: macOS

### Minimal test code / Steps to reproduce the issue
1.  create route
[code]

2. access the route
[code]

3. update the route
[code]

4. access the route again
[code]

### What's the actual

[2020-11-27 08:21] membphis commented on #2865
we mainly use this feature to close the upstream health checker when the route is updated

[2020-11-27 08:31] backnero commented on #2855
[code]

response
[code]

[2020-11-27 08:34] backnero opened #2872 "I want to return routing data through the interface"
I want to return routing data through the interface. This is the source code of my plug-in, but now the return value is empty. How can I implement it?
[code]

response
[code]

_Originally posted by @backnero in https://github.com/apache/apisix/issues/2855#issuecomment-734712258_

[2020-11-27 08:45] #2861 closed

[2020-11-27 09:09] membphis commented on #2860
That's nice👍👍

[2020-11-27 09:16] membphis commented on #2872
You can submitted in PR the we can discuss it.

By the way, if you can write some use case in PR, that would be great.

[2020-11-27 09:34] gy09535 opened #2873 "feat: Load config with different environment"
### Issue description
We load config.yaml with static name ,but for different environment we can add different configuration, such as etcd  ip address, plugins . I think we can use "env" environment  to load different configuration. For example when the env is beta, we can add "beta-config.yaml" first and then load "config.yaml".

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-27 09:38] spacewander commented on #2873
This should be done.
See https://github.com/apache/apisix/blob/master/doc/profile.md

[2020-11-27 09:40] ziyou434 commented on #2695
I don't know where to change "enable-grpc-gateway", and I use etcd grpc-proxy start in etcd, but apisix still hava the mistake.

[2020-11-27 10:06] gy09535 commented on #2873
Got it.

[2020-11-27 10:11] #2873 closed

[2020-11-27 10:11] idbeta opened #2878 "request help: should strengthen the verification of operators"
### Issue description
create with vars which operator was wrong, but APISIX still returns 200 and insert to etcd.

### Environment

* apisix version (cmd: `apisix version`): master
* OS:

### Minimal test code / Steps to reproduce the issue
[code]
### What's the actual result? (including assertion message & call stack if applicable)
return 200, and insert the route to etcd, but it is useless.

###

[2020-11-27 10:12] wfnuser commented on #2853
So do we need to add a new API to read etcd by range?

[2020-11-27 10:12] wfnuser commented on #2853
Do you have slack channels. I might have a lot of questions.

[2020-11-27 10:33] #2501 closed

[2020-11-27 10:51] tokers commented on #2853
I glanced the description of https://github.com/api7/lua-resty-etcd/blob/master/api_v3.md#readdir and found there is no such a `start_key` to support our demand to get bulk keys in batched manner. I prefer to extend the `etcd:readdir` instead of adding new one, the new API would be so similar with `etcd:readdir`, it doesn't make so much sense.

[2020-11-27 11:26] tokers commented on #2853
Yeah, also use this name `tokers`.

[2020-11-27 11:27] tokers commented on #2695
That's really awkward since etcd misses this option in the command line help message, just use this option: `--enable-grpc-gateway`.

[2020-11-27 11:35] tokers commented on #2855
The existing admin api will be removed in the future, so may be is not suitable to add new configuration center again.

cc @moonming

[2020-11-27 11:46] tokers commented on #2870
The old log_buffer object was still in use after the route was updated.

[2020-11-27 11:46] tokers commented on #2870
Assigned to me.

[2020-11-27 15:44] Firstsawyou opened #2879 "doc(http-logger): Improve the attribute description of the document"
### Issue description

In the `http-logger` plugin documentation, the description information of the `batch_max_size` and `include_req_body` attributes is not clear. And the `include_req_body` of the Chinese document lacks the default value. We need to improve these parts.
[https://github.com/apache/apisix/blame/master/doc/zh-cn/plugins/http-logger.md#L50](https://github.com/apache/apisix/blame/ma

[2020-11-27 15:50] #2860 closed

[2020-11-27 19:56] jenskeiner opened #2880 "feat: Make HTTP headers set by openid-connect plugin more configurable."
## Background
The `openid-connect` plugin, when configured accordingly, may obtain an _ID token_, a _user info_ JSON object, and an _access token_, respectively, on behalf of the requestor by automatically redirecting to the ID provider. These tokens are then stored in a session cookie.

Additionally, the plugin sets the HTTP header `X-ID-Token` to the value of the ID token, the header `X-Access-T

[2020-11-27 21:29] juzhiyuan commented on #2308
any update? Does this support now?

[2020-11-28 01:10] spacewander commented on #2880
PR is welcome.

[2020-11-28 01:19] Yiyiyimu opened #2881 "request help: problem to access etcd when deploy on kubernetes"
### Issue description
[code]
which means no version message returned from etcdctl so no etcd cluster could be accessed (BTW we need to change this error to make it readable).

### Reproduce steps
Deploy on clean minikube, follow [etcd operator guidance](https://github.com/coreos/etcd-operator) to build example etcd operator and cluster, and test it works.
Follow [apisix/kubernetes](https://github.

[2020-11-28 01:26] membphis commented on #2308
We can support this feature in 2.2

[2020-11-28 01:26] spacewander commented on #2881
CC @nic-chen

[2020-11-28 01:31] juzhiyuan opened #2882 "request help: use the disable property to disable plugin"
### Issue description

Should we update plugins' docs to use the `disable` property instead of omitting the plugin's data to disable that plugin? This could prevent lost plugin's data when disabling it.

e.g https://github.com/apache/apisix/blob/master/doc/plugins/api-breaker.md#disable-plugin

### Environment

* apisix version (cmd: `apisix version`): No
* OS: No

[2020-11-28 01:34] membphis commented on #2882
We can add a new section about this way, add a reference to the doc of `plugin`.

[2020-11-28 01:56] spacewander commented on #2882
Isn't this behavior broken now? Add a disable field doesn't trigger the `destory` method of the plugin. And re-enable a plugin doesn't the `init` method.

[2020-11-28 01:57] spacewander commented on #2882
Better not mention this experimental feature in the doc.

[2020-11-28 02:03] spacewander commented on #2882
OK, I was misled right now. It is **disable a plugin for a route/service**, not **disable a plugin**. We should clarify it in the doc. The current doc mess `enable / disable a plugin for a route/service` with `enable / disable a plugin`, and many people are mislead.

[2020-11-28 02:08] spacewander commented on #2882
I think the plugins' doc need to be rewritten to show the difference. There is no need to show the `disable a plugin for a route/service` in every doc since they are similar.

[2020-11-28 03:13] moonming commented on #2881
cc @gxthrj

[2020-11-28 03:19] juzhiyuan commented on #2882
This PR[1] would depend on this feature, related issue [2]

[1] https://github.com/apache/apisix-dashboard/pull/898
[2] https://github.com/apache/apisix-dashboard/issues/495

[2020-11-28 04:20] tzssangglass commented on #2308
i can do this

[2020-11-28 05:29] #2834 closed

[2020-11-28 05:39] #2314 closed

[2020-11-28 05:40] spacewander commented on #1044
Duplicate of #812

[2020-11-28 05:40] #1044 closed

[2020-11-28 05:41] #790 closed

[2020-11-28 05:43] spacewander commented on #612
Already done in many plugins.

[2020-11-28 05:43] #612 closed

[2020-11-28 05:45] #1335 closed

[2020-11-28 07:15] wenlincheng opened #2883 "request help: 配置 jwt-auth 插件 获取 token的时候报错"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.0
* OS:MacOS

`
2020/11/28 06:48:51 [error] 42#42: *16841 lua entry thread aborted: runtime error: unknown reason
stack traceback:
coroutine 0:
	[C]: in function 'error'
	/usr/local/apisix//deps/share/lua/5.1/resty/jwt.lua:465: in function 'get_secret_str'
	/usr/local/apisix//deps/share/lua/5.1/resty/jwt.lua:493: in

[2020-11-28 09:09] nic-chen commented on #2881
@Yiyiyimu
I think in `init_etcd` it doesn't use `dns_resolver` yet.

[2020-11-28 11:22] 96RadhikaJadhav commented on #2843
@membphis  This issue has already been worked on or is it still open? If open, can I work on it?

[2020-11-28 13:18] tzssangglass commented on #2883
Please describe the steps in detail, including configuring the consumer, configuring the jwt plugin, and attaching configuration parameters for easy reproduction.
In addition, please use English.

[2020-11-28 14:44] Firstsawyou commented on #2879
assigned to me.

[2020-11-28 15:12] tzssangglass commented on #2737
to let the route with status=0 not take effect, can only remove this route from the radetree？

[2020-11-28 15:13] membphis opened #2888 "ci: Failed to connect to 127.0.0.1 port 9180: Connection refused"
![image](https://user-images.githubusercontent.com/6814606/100518861-504ac200-31cf-11eb-92a9-ca3bddd05fb6.png)

https://github.com/apache/apisix/runs/1467077084#step:11:833

[code]

[2020-11-28 15:14] membphis commented on #2888
we need to fix this bug ASAP

[2020-11-28 15:24] tzssangglass commented on #2809
agree +1

[2020-11-28 15:28] #2888 closed

[2020-11-28 15:30] membphis commented on #2843
@96RadhikaJadhav that is a todo job. welcome to fix this issue

[2020-11-28 15:33] tzssangglass commented on #2810
Let me try.

[2020-11-28 15:40] membphis commented on #2810
I have assigned this job to you @tzssangglass
good luck ^_^

[2020-11-28 15:41] tzssangglass commented on #2810
ok

[2020-11-28 15:48] tzssangglass opened #2889 "[DISCUSS]: requires a doc to display secondary endpoints in apisix"
I found that some admin API provided by apisix are not found in any documentation, such as
`/apisix/admin/plugins/list`,  so do we need a doc to keep track of the admin API that is nowhere to put?

[2020-11-28 16:32] idbeta commented on #2695
Could it be added to the APISIX documentation?

[2020-11-28 16:48] 96RadhikaJadhav commented on #2843
@membphis  Could you please guide me the path to the file where this link can be changed?

[2020-11-28 23:57] moonming commented on #2889
sure，welcome pr

[2020-11-29 00:46] membphis commented on #2843
https://github.com/apache/apisix/blob/master/doc/architecture-design.md#table-of-contents

[2020-11-29 02:45] tokers commented on #2695
Already added, see https://github.com/apache/apisix/blob/master/doc/install-dependencies.md for the details.

[2020-11-29 05:03] gxthrj commented on #2881
@Yiyiyimu Please show the `svc` of etcd in default namespace.
The config.yaml as below, make sure the svc name is `etcd-cluster-client`
[code]

[2020-11-29 12:13] Yiyiyimu commented on #2881
Thank you @nic-chen @gxthrj! Yes I use the wrong name for service, the default one is not what we want. Thanks again!!

[2020-11-29 12:13] #2881 closed

[2020-11-29 12:17] Yiyiyimu opened #2892 "chore: give meaningful reply when etcd is not started"
https://github.com/apache/apisix/blob/296f535d395bdd388f9f2cd2f8a299fc4b946cc6/apisix/cli/etcd.lua#L119-L124

Currently when etcd is not running, starting apisix would return error `got malformed version message: "" from etcd` at `init`, which is meaningless to users. We need to return a human-readable one.

[2020-11-29 12:18] ShaoZeMing commented on #2532
+1

[2020-11-29 12:20] 96RadhikaJadhav commented on #2843
@membphis  I have created a PR. But I forgot to add '-' between consumer and 1. I just changed it to '#consumer1'. But I guess still the link is working fine. Could you please review my PR and let me know if any changes needs to be done.

[2020-11-29 13:36] spacewander commented on #2892
Duplicate of https://github.com/apache/apisix/issues/2718

[2020-11-29 13:36] #2892 closed

[2020-11-29 13:58] tzssangglass commented on #2889
ok, i will.
#2308

[2020-11-30 02:38] wfnuser commented on #2853
Hi, can some one assign this issue to me. Or It is often difficult to find this issue.😂