[2021-02-03 11:01] membphis commented on #3498
Can you provide more information about how to reproduce this issue? @xyz101121

The only configuration is not enough.

[2021-02-03 11:07] membphis commented on #3498
@xyz101121 if possible, please make a try with the master branch or 2.3 branch. I can not sure if this bug is fixed already.

[2021-02-03 12:21] tokers commented on #3498
Do you have the tcpdump utility in the environment? If any, try to capture some packets.

[2021-02-03 12:33] tokers commented on #3486
Are you sure these requests were processed by APISIX? If so, the Server header should be `APISIX`.

[2021-02-03 12:46] #3242 closed

[2021-02-03 15:21] membphis commented on #3485
I I saw people discussing this need on the mailing list, and it seems that someone is really interested in this issue.

[2021-02-03 15:30] membphis commented on #3502
@hnlq715 I think you can make a try to fetch the flame graph of Lua land

![image](https://user-images.githubusercontent.com/6814606/106769044-839a4900-6677-11eb-86fa-5edb37539562.png)

[2021-02-03 15:43] spacewander commented on #3506
Have you tried the master branch?

[2021-02-03 15:44] spacewander commented on #3485
Move to #3496

[2021-02-03 15:44] #3485 closed

[2021-02-03 16:16] membphis commented on #3496
confirm this ^_^

[2021-02-04 01:44] tokers commented on #3496
That's true, we cannot use same port for both http/1.1 and http2 if we don't use TLS/SSL.

[2021-02-04 01:46] tokers commented on #3502
Yes, we may need some visual data to help us analysis the bottleneck.

[2021-02-04 01:56] spacewander commented on #3496
Maybe we can extend the array format of `node_listen`, allow providing http2 flag?
https://github.com/apache/apisix/blob/1e35cc00eb1df21ee2e826f010c7e1ea35de8ef0/conf/config-default.yaml#L23

[2021-02-04 02:33] xyz101121 commented on #3486
Sure ,I customized the header server

[2021-02-04 02:33] xyz101121 commented on #3486
![image](https://user-images.githubusercontent.com/16227137/106836605-72335a00-66d4-11eb-99bf-11fad628bec5.png)

[2021-02-04 02:51] azura27 commented on #3193
After test with lower cocurrent connections, this problem disappear with 499(timeout status). It seems this is result from timeout.
Not a bug.

[2021-02-04 02:51] #3193 closed

[2021-02-04 03:00] Yiyiyimu opened #3514 "Proposal: reuse test in CI for the release check"
### Background:

Currently, before we publish a release, there would be a call for the manual check for the release tarball in the email list, while we better should not rely on the manual check to find problems. CI could better serve this purpose.

### Github Actions Steps

1. The action would be triggered when the PR is (1) not in master branch (2) with tag `release-test`
2. Upload the package t

[2021-02-04 03:33] Yiyiyimu opened #3515 "test unstable: t/chaos/kill_etcd_test.go"
### Issue description

Sometimes route set would succeed ( return 200 ) but would not take effect. So when try to access the route, it would return 404 not found. The 404 would be kept returned in trials in the following 3 seconds, so that seems to have no relation with possible network delay

See action: https://github.com/apache/apisix/runs/1827571615
[code]

[2021-02-04 03:40] Yiyiyimu commented on #3515
Will try to add debug log to get `/apisix/admin/routes` when 404 occurs

[2021-02-04 04:06] spacewander commented on #3514
Currently we create tag only after release as an archive. Maybe we should use `release/xxx` branch to trigger the test?

We can create the tarball with Makefile. Currently the tarball is created from `VERSION=xxx make release-src`.

[2021-02-04 05:12] #3507 closed

[2021-02-04 06:08] cwy57885142 commented on #3495
thanks

[2021-02-04 06:14] cwy57885142 opened #3516 "request help:"
关于插件authz-keycloak中的Bearer {JWT Token}如何生成问题

Create a route and enable the authz-keycloak plugin on the route:

[code]

Test Plugin：
curl http://127.0.0.1:9080/get -H 'Authorization: Bearer {JWT Token}'

JWT Token如何生成？

[2021-02-04 06:16] tokers commented on #3495
Consider as solved.

[2021-02-04 06:16] #3495 closed

[2021-02-04 06:19] tokers commented on #3496
That's good.

[2021-02-04 06:21] tokers commented on #3486
Would you like to close this issue and open another one to describe the problem (provide your configuration, error logs), one thread for one issue, or others will be confused when they check this thread.

[2021-02-04 07:15] Yiyiyimu commented on #3514
Hi @spacewander If I take it right, we create tag after release, but we create branch before the release. So we could use that branch say `v2.3`.

Since we could not have bot to add PR, so the tarball created by Github Actions could not be reused by us. And if I take it right, testing the tarball is to avoid problems that happens in manual tarball creation, so we need to test that **exact** tarbal

[2021-02-04 07:18] spacewander opened #3517 "[DISCUSS] add per node DNS selector"
When resolving domain, currently we take one of the DNS record randomly. When we want to do service discovery via DNS, sometimes we hope the domain resolving will return all the records. For example, with:

[code]

We may want to get all IPs instead of a random one.

So my purpose is to provide a per-node dns selector to control the behavior.

For example,

[code]

is equal to previous configurati

[2021-02-04 07:25] zhangxiaohui123456 opened #3518 "request help: vars_combinations can not work"
### Issue description
Upstream combination vars_combinations are selected for the upstream configuration this is my configuration :
 {
    "id" : "161190602766647283",
    "desc" : "prod-tour",
    "nodes" : {
      "172.18.234.22:8888" : 1,
      "172.18.234.22:7777" : 1
    },
    "type" : "chash",
    "hash_on" : "vars_combinations",
    "key" : "request_uri",
    "checks" : {
      "active" :

[2021-02-04 07:25] Firstsawyou commented on #3516
The `jwt-auth` plugin has an example of generating `jwt token`, you can refer to it .

[2021-02-04 07:32] JanLi-air commented on #3488
graphql bff gateway based on apisix?
so apisix needs to implement graphql transcode and aggregate, that's quite different from apisix's current scenarios.
i think for graphql gateway there are already some implementations, such as apollo federation. https://www.apollographql.com/docs/federation/gateway/

[2021-02-04 07:49] Firstsawyou commented on #3518
These error logs look very strange, the file that reported the error does not belong to apisix. Can you provide the response header data of the wrong request, like this:

[code]

This helps us troubleshoot the issue.

[2021-02-04 07:52] weijer commented on #487
Organization: teamones.cn
Location: Changsha, China
Contact: chengwei@teamones.cn
Scenario:  as a API gateway to deal with east-west traffic between microservices.

组织：万思
地点：中国长沙
联系方式： chengwei@teamones.cn
使用场景：作为网关来处理东西向微服务之间的流量

[2021-02-04 07:54] zhangxiaohui123456 commented on #3518
curl http://172.18.234.22:23111/tour/test.html -i
log is :
HTTP/1.1 500 Internal Server Error
Date: Thu, 04 Feb 2021 07:51:51 GMT
Content-Type: text/html; charset=utf-8
Content-Length: 1502
Connection: close
X-XSS-Protection: 1; mode=block
X-Content-Type-Options: nosniff
Referrer-Policy: no-referrer-when-downgrade
Strict-Transport-Security: max-age=31536000; includeSubdomains
Content-Security-Poli

[2021-02-04 08:00] hnlq715 commented on #3496
It’s good if we do not need to consider compatibility

[2021-02-04 08:22] tongorz commented on #3503
Thank you. :)
It looks like that the traffic-slipt plugin won't work in my case...

[2021-02-04 08:23] Firstsawyou commented on #3518
Why is there no response header information for `Server: APISIX/2.2`  ?

[2021-02-04 08:26] spacewander commented on #3496
We should support current way too.

[2021-02-04 08:26] zhangxiaohui123456 commented on #3518
I delete that part ,this is a success response log info:
HTTP/1.1 200 OK
Content-Type: text/html; charset=utf-8
Content-Length: 231
Connection: keep-alive
Date: Thu, 04 Feb 2021 08:25:22 GMT
X-Frame-Options: sameorigin
X-XSS-Protection: 1; mode=block
X-Content-Type-Options: nosniff
Referrer-Policy: no-referrer-when-downgrade
Strict-Transport-Security: max-age=31536000; includeSubdomains
Content-Se

[2021-02-04 08:47] zhangxiaohui123456 commented on #3518
I set up  apisix-2.1  In my machine and I use configuration
{"hash_on":"vars","enable_websocket":false,"timeout":{"connect":15,"send":15,"read":15},"type":"chash","hash_on" : "vars_combinations","key" : "$request_uri$remote_addr","retries":3,"desc":"photo-api","id":"photo-api-upstream","name":"photo-api","nodes":{"192.168.17.14:23095":8,"192.168.17.14:23096":8}} , error info is change :

[2021-02-04 08:56] spacewander commented on #3514
Why not use branch? Since we already need to create a branch.

I am not quite understand. There are plenty ways to create the tar in the GitHub Actions and transfer it outside. You can upload the tar to any server.

[2021-02-04 08:57] Firstsawyou commented on #3518
You need to provide the installation method and version information of apisix. It is best to have a minimum reproduction step.

What is your apisix version? Is it 2.1?

[2021-02-04 08:59] zhangxiaohui123456 commented on #3518
yes ，what version can support the configuration ?

[2021-02-04 09:04] Firstsawyou commented on #3518
Yes, you need to update to version 2.2, version 2.1 does not support it.

[2021-02-04 09:07] zhangxiaohui123456 commented on #3518
ok， I have a try。 Thank you

[2021-02-04 09:15] cwy57885142 commented on #3516
authz-keycloak插件需要与jwt-auth插件结合使用？

[2021-02-04 09:24] Firstsawyou commented on #3516
No, that is just an example of generating `JWT Token`. For the detailed usage of the `authz-keycloak` plugin, you can refer to its test case. [https://github.com/apache/apisix/blob/master/t/plugin/authz-keycloak.t ](https://github.com/apache/apisix/blob/master/t/plugin/authz-keycloak.t)

[2021-02-04 09:45] Yiyiyimu commented on #3514
Yes we use both branch and also label. Since there would be PR on the new branch other than the test one.

I'm glad we could upload it somewhere. So could you tell me where should we upload to
Besides, manually trigger a workflow is only allowed for [master branch](https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow#running-a-workflow-on-github). So do you know ho

[2021-02-04 10:12] spacewander commented on #3514
Why should we release a new version based on a PR to non-master branch?

[2021-02-04 10:19] Yiyiyimu commented on #3514
Like for now there are 9 commits in branch v2.3 ahead of master

[2021-02-04 10:21] spacewander commented on #3514
If push to the branch v2.3 can trigger the CI, why should we use label?
Should we label a branch 9 times?

[2021-02-04 10:25] cwy57885142 commented on #3516
参考测试用例执行，缺少 issuedFor，该值指的是什么？
{"error":"invalid_request","error_description":"You must provide the issuedFor"}

[2021-02-04 10:57] Yiyiyimu commented on #3514
Ah I get it, you mean we trigger the CI to create the tarball, test it and send it to maintainers each time we push to a release branch. And yeah that could make the release publish much easier, compared to test it in a separate PR.
Also since we would change all the changelog and stuffs in the new branch, so there would be at least one push in the release branch. Cool that's perfect.

[2021-02-04 10:58] zhangxiaohui123456 opened #3520 "request help:"
### Issue description
When upstream selects type chash hash_on as cookie  . This is what happened :
When a request to an upstream node returns a 404, it keeps sending requests to that upstream node without making a request to another node
### Environment

* apisix version (cmd: `apisix version`):2.1
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd ver

[2021-02-04 11:06] spacewander commented on #3520
Fixed by https://github.com/apache/apisix/pull/2676

[2021-02-04 11:21] Firstsawyou commented on #3520
Please note that your request is 404 and did not reach the upstream node. If the upstream node is unavailable, it should return a status code of `5xx`. You need to make the request hit the unavailable upstream node of a valid route before you can select other available nodes.

[2021-02-04 11:28] zhangxiaohui123456 commented on #3520
but if  I choose roundrobin as upstream type , When a request to an upstream node returns a 404,  the request is turn another node .The access.log will be printed   multiple upstream information like this :172.18.193.68:23095, 172.18.193.68:23096,

[2021-02-04 11:52] spacewander commented on #3520
This was a bug in chash and already has been fixed. See my previous reply.

[2021-02-04 11:55] zhangxiaohui123456 commented on #3520
thanks

[2021-02-04 12:07] tokers commented on #3503
@tongorz Have you tried the proxy-rewrite plugin?

[2021-02-04 12:08] tokers commented on #3503
@tongorz It looks like you wanna proxy to the IP which specified in the parameter?

[2021-02-04 12:10] tokers commented on #3517
What about adding an new service discovery mechanism "DNS" and applying these strategy there?

[2021-02-04 12:11] tokers commented on #3517
Maybe add a new DNS based service discovery mechanism is better?

[2021-02-04 12:17] zhangxiaohui123456 commented on #3520
I see  the  Fixed by #2676 ,but My apisix version is 1.x ,Is there a way to fix it?

[2021-02-04 12:46] spacewander commented on #3520
You can wait for the 2.3 release, or patch APISIX by yourself.

[2021-02-04 15:34] membphis commented on #3486
close this issue first.

@xyz101121 you can create a new issue with your question. feel free to reopen it if you think they are one bug.

[2021-02-04 15:34] #3486 closed

[2021-02-05 00:01] hnlq715 commented on #3502
Seems like systemtap tools not compatible with luajit2.1, I'll try the openresty with luajit2.0
[code]

[2021-02-05 01:00] #2495 closed

[2021-02-05 01:01] tokers commented on #3502
you may try stapxx

[2021-02-05 02:44] Yiyiyimu opened #3523 "Todo: print more logs for apisix cli in verbose mode"
Currently `apisix start --verbose` only prints etcd logs for initializing directories, which seems useless to us.
It would be better to remove it and also add more useful logs to apisix cli.

[2021-02-05 02:51] cocoonYh opened #3524 "bug: apisix cant find upstream and return 500"
### Issue description

i run apisix with docker for mac, and running server on mac directly.
apisix:2.2-centos
apisix-dashboard:2.3
etcd:3.4.9

### Environment

* apisix version (cmd: `apisix version`): 2.2
* OS (cmd: `uname -a`): Linux a664481da340 4.19.121-linuxkit
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run

[2021-02-05 02:53] idbeta commented on #3340
Because there are no more opinions, I think [boofuzz](https://github.com/jtpereyda/boofuzz) is more suitable. It can test both dp and cp. The case writing is also very simple. I will propose a pr according to my own ideas.

[2021-02-05 03:14] diaosj opened #3526 "request help: Can I drop requests from Prometheus in access.log?"
### Issue description
I enable the Prometheus plugin and the `access.log` file is filled with requests from Prometheus.
[code]
Should I remove these request logs? If so, how to remove them? What is the best practice?

### Environment

* apisix version (cmd: `apisix version`):2.1
* OS (cmd: `uname -a`): Linux 4.14.105-19-0017 #1 SMP Wed Oct 28 12:13:16 CST 2020 x86_64 x86_64 x86_64 GNU/Linux
* Open

[2021-02-05 03:24] Firstsawyou commented on #3524
It is very similar to the problem here and may have been fixed:
https://github.com/apache/apisix/issues/3342
https://github.com/apache/apisix/issues/3339

Try to configure another host, will this problem still occur?

[code]

[2021-02-05 03:29] hnlq715 commented on #3502
@tokers  still

[code]

[2021-02-05 03:39] spacewander commented on #3526
Since Nginx doesn't support disabling access log on the fly, AFAIK there is no way to do that.
Previously I solved this problem at the collector side, like skipping special UA/path in the filebeat/fluentd.

[2021-02-05 03:44] cocoonYh commented on #3524
i

[2021-02-05 03:56] #3520 closed

[2021-02-05 05:59] juzhiyuan opened #3527 "Add "APISIX Helm Charts" to "Good first issue" section"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Anyone could help to add `APISIX Helm Charts Good first issue[1]` to README?

## Describe the solution you'd like

1. Visit https://github.com/apache/apisix/edit/master/README.md
2. Find the Good first issue part
![image](https://user-images.githubusercontent.com/2106987/106995546-1a6f1e80-67ba-11eb-9032-963009

[2021-02-05 06:14] tongorz commented on #3503
Yes. I want all traffic to IPMI WEB of Servers go through proxy server first.

[2021-02-05 06:18] nanamikon commented on #3518
Refer to https://github.com/apache/apisix/issues/3261 and https://github.com/apache/apisix/releases/tag/2.2
I think 2.2 does not support vars_combinations ,   master branch may be you choice

[2021-02-05 06:36] nanamikon opened #3528 "request help: Why ip-restriction return json instead of default 403 error page"
### Issue description
ip-restriction will return json when the remote ip matches blacklist
[code]

I think default 403 error page will be better,  or supporting an option to change this behavior is ok

### Environment

* apisix version (cmd: `apisix version`): 2.2
* OS (cmd: `uname -a`): ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19
* etcd version, if have (cmd: run

[2021-02-05 06:52] hnlq715 commented on #3502
@membphis @tokers After recompile the nginx binary with `--without-luajit-gc64`, I generate the lua land flamegraph.

[apisix-lua-land.svg.gz](https://github.com/apache/apisix/files/5930655/apisix-lua-land.svg.gz)

[2021-02-05 06:59] spacewander commented on #3528
As an API gateway, we prefer to communicate via HTTP+JSON instead of plain HTML.

[2021-02-05 07:04] Firstsawyou commented on #3528
I think it is reasonable to return json. As a gateway, apisix does not need to care about these web pages, this is not what it should focus on. You can display related pages based on the response code returned.

[2021-02-05 07:14] diaosj commented on #3526
Got it. Thanks!
Currently, I deal with it in the same way. Drop these in the filebeat.

[2021-02-05 07:14] #3526 closed

[2021-02-05 07:16] hnlq715 commented on #3502
https://github.com/apache/apisix/blob/master/apisix/plugins/grpc-transcode/util.lua#L94

[2021-02-05 07:33] Firstsawyou commented on #3516
It looks like your request is abnormal and you need to provide your configuration example.

[2021-02-05 08:11] idbeta opened #3529 "bug: make deps prompt error"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): master
* OS (cmd: `uname -a`): ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

after excute
[code]
`make deps` prompt error:
[code]

[2021-02-05 08:40] nanamikon commented on #3528
Thanks for reply,   I get your point.    Mixing api with the backstage management  is common usage of gateway in my comany, so I have to provide an option of using 403 error page or  json (as user format)

I can't achieve it without changing code, refer to ip-restriction.lua.
[code]

[2021-02-05 09:17] spacewander commented on #3529
Why you need `sudo` to create directory under `/home/xxxx` if you are `xxxx`?

[2021-02-05 09:20] spacewander commented on #3528
You can submit a PR to customize the returned body part.

[2021-02-05 09:36] tokers opened #3531 "request help: what's the plan of plugin reference"
I remember we have discussions about the plugin reference (by adding plugin_id in Route), what's the plan to do this?

[2021-02-05 09:36] tokers opened #3532 "request help: what's the plan of plugin reference"
I remember we have discussions about the plugin reference (by adding plugin_id in Route), what's the plan to do this?

[2021-02-05 09:36] #3531 closed

[2021-02-05 09:56] nanamikon opened #3533 "request help: How to implement custom balancer?"
### Issue description
Rerfer to apisix/init.lua,   there is no phase named "balancer" , so what's the plan to support balancer in the feature?

By the way,  I also try to use Script, but it does not support balancer phase either.

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):ubuntu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):1.19
* etcd v

[2021-02-05 10:12] idbeta commented on #3529
because `/home/xxxx/.luarocks/config-5.1.lua` was created after execute linux-install-luarocks.sh
and make deps will again
[code]

[2021-02-05 10:13] Firstsawyou commented on #3533
Is it this one? https://github.com/apache/apisix/blob/master/apisix/init.lua#L711

[2021-02-05 10:21] spacewander commented on #3506
Should have been done.

[2021-02-05 10:21] #3506 closed

[2021-02-05 10:22] #3480 closed

[2021-02-05 10:23] #2076 closed

[2021-02-05 10:25] #2235 closed

[2021-02-05 10:26] membphis commented on #3502
@nic-chen would like to make a try?

[2021-02-05 11:08] spacewander commented on #2188
Closed as lack of response.

[2021-02-05 11:08] #2188 closed

[2021-02-05 11:24] nic-chen commented on #3502
sure

[2021-02-05 12:15] diaosj opened #3535 "request help: Can APISIX use certificates to access etcd？"
### Issue description
Etcd has an issue before 3.4.14: https://github.com/etcd-io/etcd/pull/12264.
We are asked to sign and use certificates to access etcd.
Does APISIX support this?

### Environment

Not related to the environment.

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `

[2021-02-05 12:53] spacewander commented on #3535
Client side certificate is not supported yet. Maybe you can use etcd-proxy?

[2021-02-05 16:01] #3529 closed

[2021-02-05 16:13] membphis commented on #3524
@cocoonYh you can make a try with the master branch

[2021-02-05 16:15] membphis commented on #3532
@spacewander

[2021-02-06 02:47] kuberxy opened #3537 "bug: failed to run balancer_by_lua*: /usr/local/share/lua/5.1/resty/healthcheck.lua:247: attempt to index field 'targets' (a nil value)"
### Issue description
2021/02/05 14:24:48 [error] 17384#17384: *114551120 failed to run balancer_by_lua*: /usr/local/share/lua/5.1/resty/healthcheck.lua:247: attempt to index field 'targets' (a nil value)
stack traceback:
	/usr/local/share/lua/5.1/resty/healthcheck.lua:247: in function 'get_target'
	/usr/local/share/lua/5.1/resty/healthcheck.lua:424: in function 'get_target_status'
	/usr/local/sha

[2021-02-06 02:50] kuberxy commented on #3537
the same issues:
[The targets is nil when call the function get_target after add target](https://github.com/Kong/lua-resty-healthcheck/issues/43#issue-607171476)

[2021-02-06 03:29] membphis commented on #3537
Have you tried the latest version?  you are using `2.1` version

[2021-02-06 04:24] spacewander commented on #3532
Will do it after the Spring festival holiday.

[2021-02-06 05:37] tokers commented on #3533
Yes, now we cannot implement custom balancer yet. Do you have some good idea to support it?

[2021-02-06 05:40] tokers commented on #3503
@spacewander

Seems we don't have  a way to achieve this.

[2021-02-06 08:47] #3474 closed

[2021-02-06 09:03] kuberxy commented on #3537
I did not use it.

[2021-02-06 09:17] spacewander commented on #3537
Should be fixed by https://github.com/apache/apisix/pull/3240

[2021-02-06 10:16] #3527 closed

[2021-02-06 11:17] diaosj commented on #3535
Thanks. I will try it.

[2021-02-06 12:05] #3535 closed

[2021-02-06 14:58] membphis commented on #3503
You can refer to the traffic-split plugin and extend a new custom plugin.

If you need more specific help, you can contact us.

[2021-02-07 01:37] ShaoZeMing opened #3541 "Add global plugins, such as cors, zipkin, and find that the response header appears twice. I want to know if the global plugin is called repeatedly internally, will this affect performance? ?"
### Issue description
Add global plugins, such as cors, zipkin, and find that the response header appears twice. I want to know if the global plugin is called repeatedly internally, will this affect performance? ?

I added cors and zipkin plugins globally, but I found that the response header appeared twice, so I want to ask.

Thank you

#### Example

![image](https://user-images.githubusercontent

[2021-02-07 02:05] spacewander commented on #3541
It is fine to call global plugin multiple times, as there is a phase filter:
https://github.com/apache/apisix/blob/e5cd46e38e09d1025817381a3bf0b85a4f02a528/apisix/init.lua#L573-L574

If the global plugin doesn't define a method for a specific phase, it won't be run.

cors / zipkin are needed to be run in multiple phases with different code. The same code won't be run twice.

[2021-02-07 02:41] ShaoZeMing commented on #3541
Thank you

[2021-02-07 02:47] #3541 closed

[2021-02-07 02:53] cwy57885142 commented on #3516
请求:
curl http://admin.test.com/apisix/admin/routes/5 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "uri": "/echo",
    "plugins": {
        "authz-keycloak": {
            "token_endpoint": "http://172.20.11.181:8090/auth/realms/University/protocol/openid-connect/token",
			"policy_enforcement_mode": "PERMISSIVE",
            "audience": "test_client"
        }
    },
    "ups

[2021-02-07 03:04] cwy57885142 commented on #3516
例1:请求:
curl http://admin.test.com/apisix/admin/routes/5 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "uri": "/*",
    "plugins": {
        "authz-keycloak": {
            "token_endpoint": "http://172.20.11.181:8090/auth/realms/University/protocol/openid-connect/token",
			"policy_enforcement_mode": "PERMISSIVE",
            "audience": "test_client"
        }
    },
    "ups

[2021-02-07 03:06] cwy57885142 commented on #3516
同样请求情况下也遇到过如下报错:
{"error":"invalid_request","error_description":"Client does not support permissions"}[

[2021-02-07 03:12] cwy57885142 commented on #3516
![Uploading 9[Q90}Z_H}SA4REW@9}TW23.png…]()

[2021-02-07 06:39] xuyancheng24 opened #3545 "request help: Configuration of the routing and upstream through apisix proxy access, the original project access address 127.0.0.1 / token, apisix proxy to access the address http://192.168.153.136:9000/token (IP and port corresponding to the output directory conf. Yaml configuration of IP + port)"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):Linux 192.168.153.135 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to g

[2021-02-07 06:44] diaosj opened #3546 "request help: when weight set to zero, the node still causes a 5xx error"
### Issue description
Set two nodes to an upstream. Suppose they are `NodeA` and `NodeB`.
Upstream JSON is like this:
[code]
Notice that the weight of `NodeA` is set to 100 and the weight of `NodeB` is set to 0.

When `NodeB` is destroyed, I found that the API call fails. Error message in `error.log` says:
[code]

Then I weed out the offline `NodeB`, the API call succeeds.

I'm confused. The weigh

[2021-02-07 06:56] Firstsawyou commented on #3545
[code]
Is the 9000 port a dashboard port?

[2021-02-07 06:59] Firstsawyou commented on #3545
By the way, your problem description should be placed in the following `Issue description`.

[2021-02-07 07:08] Firstsawyou commented on #3546
You can try the latest version, not sure if this problem has been fixed.

[2021-02-07 07:12] xuyancheng24 commented on #3545
dashboard is9000

[2021-02-07 07:15] diaosj commented on #3546
ok. thx!

[2021-02-07 07:17] diaosj commented on #3546
But I still wonder why. Does APISIX loop all the nodes before routing?

[2021-02-07 07:22] Firstsawyou commented on #3545
You should use the port monitored by apisix to access. If it is still not available, please provide your etcd configuration data.

[2021-02-07 07:28] xuyancheng24 commented on #3545
![route](https://user-images.githubusercontent.com/37585344/107139796-da926d80-6958-11eb-8f3d-6700e46536d9.jpg)
![upstream](https://user-images.githubusercontent.com/37585344/107139797-dc5c3100-6958-11eb-916f-dd2a6ff249aa.jpg)

Apisix 9080 is not available，this is my  etcd configuration data（upstream and route）.

[2021-02-07 07:29] Firstsawyou commented on #3546
APISIX has a retry mechanism for all upstream nodes. You can learn more about it here： https://github.com/apache/apisix/blob/master/doc/admin-api.md#upstream

[2021-02-07 07:43] Firstsawyou commented on #3545
You need to determine if the upstream node `127.0.0.1:900` is available.
It is better to provide route and upstream configuration in etcd, rather than the configuration displayed by the dashboard.

[2021-02-07 07:44] eavesmy opened #3548 "request help: Docker service not support ipv6."
### Issue description
My docker service not support ipv6 but nginx.conf has ```[::]: 8090```.
When i start apisix-dockr then log output
```nginx: [emerg] socket() [::]:9080 failed (97: Address family not supported by protocol)```.

Does apisix has argument to turn ipv6 down?

[2021-02-07 07:50] tokers opened #3549 "request help: only enables upstream passive health checker"
It seems Apache APISIX cannot only enable the passive health checker for now.

![image](https://user-images.githubusercontent.com/10428333/107140304-21ce2d80-695c-11eb-9ad0-5e7ccb6f229f.png)

While it might be useful to only enable passive health check in Kubernetes, and leverage the Kubelet's liveness and readiness probe as the active health checker.

[2021-02-07 07:51] eavesmy commented on #3548
Just edit config.yaml and
[code]
Thx.

[2021-02-07 07:51] #3548 closed

[2021-02-07 07:51] Firstsawyou commented on #3548
You can set the parameter `enable_ipv6: true` to false in the configuration file.

[2021-02-07 07:58] xuyancheng24 commented on #3545
how to get route and upstream configuration in etcd

[2021-02-07 08:00] spacewander commented on #3549
Why do you think the health checker is different from https://github.com/apache/apisix/issues/2748?

[2021-02-07 08:02] Firstsawyou commented on #3545
get all routes:  `etcdctl get --prefix /apisix/routes`
get all upstreams: `etcdctl get --prefix /apisix/upstreams`

[2021-02-07 08:04] xuyancheng24 commented on #3545
/apisix/routes/340306895233352835
{"id":"340306895233352835","create_time":1612368316,"update_time":1612684479,"uris":["/token"],"name":"test","vars":[],"upstream_id":"340306661996496003","status":1}
/apisix/upstreams/340306661996496003
{"id":"340306661996496003","create_time":1612368177,"update_time":1612661041,"nodes":[{"host":"127.0.0.1","port":8099,"weight":1}],"timeout":{"connect":6000,"read"

[2021-02-07 08:05] xuyancheng24 commented on #3545
/apisix/routes/340306895233352835
{"id":"340306895233352835","create_time":1612368316,"update_time":1612684479,"uris":["/token"],"name":"test","vars":[],"upstream_id":"340306661996496003","status":1}
/apisix/upstreams/340306661996496003
{"id":"340306661996496003","create_time":1612368177,"update_time":1612661041,"nodes":[{"host":"127.0.0.1","port":8099,"weight":1}],"timeout":{"connect":6000,"read"

[2021-02-07 08:14] Firstsawyou commented on #3545
The upstream address in your title is `127.0.0.1/token`, but in your configuration it is `127.0.0.1:8099/token`. It is possible that your upstream node address is incorrect.

[2021-02-07 08:31] xuyancheng24 commented on #3545
How to modify the upstream

[2021-02-07 08:46] Firstsawyou commented on #3545
You can directly modify your upstream node configuration through the dashboard.
Try to modify it to your available upstream address:
<img width="617" alt="截屏2021-02-07 下午4 45 19" src="https://user-images.githubusercontent.com/52862365/107141454-c142ee80-6963-11eb-8a52-53b92fb29acd.png">

[2021-02-07 09:19] membphis opened #3550 "change to a different port for controling API"
`9090` has been used by `prometheus` by default.

https://github.com/apache/apisix/blob/95c01707bf888ac7971b9469208bf767ac9b994a/doc/control-api.md

[2021-02-07 09:59] spacewander commented on #3550
The port can be configured.

[2021-02-07 10:21] #3518 closed

[2021-02-07 10:25] #3546 closed

[2021-02-07 10:25] #3549 closed

[2021-02-07 10:27] #3537 closed

[2021-02-07 10:45] membphis commented on #3550
We should use another port as default value

[2021-02-07 11:11] spacewander commented on #3550
As prometheus is resource intensive, people won't deploy it near the gateway. Usually people will deploy it in a separate cluster.

And such a change will be a break change and make people to distrust our API backward compatibility promise.

[2021-02-07 12:16] diaosj opened #3552 "request help: Does APISIX cut off request body when it is too large?"
### Issue description
I wrote a plugin to deal with the incoming request, then forwarded it to upstream servers. The simplified logic is like this:
[code]

When the request (HTTP, POST JSON) is about 20k，the upstream server can't decode received data. I checked the APISIX log and found these two lines:
[code]

I know that the default `client_body_buffer_size` value is 16k. The request's size excee

[2021-02-07 13:05] NUPT-Pig opened #3553 "bug: apisix-2.0 JWT 获取token，认证失败"
### Issue description
apisix-2.0 开启JWT认证，获取token的接口不定期失败
![image](https://user-images.githubusercontent.com/13393439/107147269-04af5400-6988-11eb-9b2c-9ad92ab87949.png)

在token的有效范围内认证存在不定期不通过的情况
![image](https://user-images.githubusercontent.com/13393439/107147128-4f7c9c00-6987-11eb-98c8-21d4701ab0e8.png)
![image](https://user-images.githubusercontent.com/13393439/107147130-54415000-6987-11eb-897

[2021-02-07 13:52] spacewander commented on #3553
For OpenResty 1.19, you should use APISIX 2.2 and higher.
See https://github.com/apache/apisix/blob/master/CHANGELOG_CN.md#bugfix

[2021-02-07 13:52] #3553 closed

[2021-02-08 01:21] spacewander commented on #3552
I write a plugin to check it:
[code]

And request it with this:
[code]

Then I get the result successfully:
[code]

The wrong is in somewhere else.

[2021-02-08 02:34] diaosj commented on #3552
Thanks. I'm struggling with it. Confusing.

[2021-02-08 07:43] nanamikon commented on #3528
Refer to apisix/core/response.lua,   resp_exit will be called when error occours,  I think it is a global handle for response exit, we can't use plugin extension here。  What about redirecting to a new uri to do the actual work ？

Add method
[code]

Modify apisix/core/response.lua
Add exec to redirect to error handle
[code]

Add new config to change this behavior
[code]

New uri for error handle，ad

[2021-02-08 08:18] nanamikon commented on #3528
Btw，  some issus about how to customize error response format as follow

1 Kong error response
https://github.com/Kong/kong/issues/3192

2 Upstream error response
https://github.com/Kong/kong/issues/972

I can't find an official solution in kong so far，and I think it is important to customize apisix error response without modifying code in prd env ，as apsix growing so fast

[2021-02-08 10:15] spacewander commented on #3528
I think we should open another issue to discuss "exit_handle_uri", as it is not a trivial feature and not only relative with ip-restriction.

[2021-02-08 12:51] Yiyiyimu opened #3560 "bug: test case not stable: t/plugin/tcp-logger.t"
### Issue description

Test failed in CI and rerun succeeds, but the error seems could not be reproduced on my side.
[code]

[2021-02-08 14:29] Yiyiyimu opened #3561 "test unstable: t/plugin/prometheus.t"
### Issue description

Test failed in CI.

[code]

### Environment

* apisix version (cmd: `apisix version`): master
* OS (cmd: `uname -a`): ubunt-18.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.15
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

[2021-02-09 01:18] spacewander commented on #3560
See https://github.com/apache/apisix/issues/3450

[2021-02-09 01:18] #3560 closed

[2021-02-09 01:36] spacewander commented on #3533
Why do you think we can't implement custom balancer? Just add your one under `apisix/balancer`.

[2021-02-09 01:37] #3533 closed

[2021-02-09 01:38] spacewander commented on #3552
Feel free to reopen it if it is our problem.

[2021-02-09 01:38] #3552 closed

[2021-02-09 01:40] #3473 closed

[2021-02-09 01:41] spacewander commented on #2464
Closed as lack of response.

[2021-02-09 01:41] #2464 closed

[2021-02-09 01:42] spacewander commented on #3307
Closed as lack of response.

[2021-02-09 01:42] #3307 closed

[2021-02-09 02:00] Yiyiyimu commented on #3560
Thanks @spacewander good to know that!

BTW, which aspect of chaos test do you think would be helpful to this issue

[2021-02-09 02:34] spacewander commented on #3560
It is obvious. And people have complained about it since last year. The problem is that we don't have enough resource to solve it early.

[2021-02-09 02:50] Yiyiyimu opened #3564 "test unstable: t/grpc-proxy-test.sh"
### Issue description

Test failed in CI.

[code]

### Environment

* apisix version (cmd: `apisix version`): master
* OS (cmd: `uname -a`): ubunt-18.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): source

[2021-02-09 02:54] Yiyiyimu commented on #3560
I mean you talked about using chaos test to better cover the critical change, is there any specific test do you think would be of help?

[2021-02-09 03:38] nanamikon commented on #3528
ok

[2021-02-09 03:38] #3528 closed

[2021-02-09 03:57] nanamikon opened #3565 "request help: Support customizing the body when response exits"
### Issue description
Relate to #3528

I think we can add a feature to customize the body when response exits.   For example,  different format of json,  even html
 or xml ,   can be use to display the exit message

Refer to apisix/core/response.lua,   resp_exit will be called when response exits,  I think it is a global handle for response exiting, we can't use plugin extension here。  What about

[2021-02-09 04:01] spacewander commented on #3565
I think we can do it.
@membphis
What's your opinion?

[2021-02-09 06:46] nanamikon commented on #3565
Refer to custom-error-pages feature provided by Ingress
https://kubernetes.github.io/ingress-nginx/user-guide/custom-errors/

Using a docker image as backend to deal with specific error code,  and pass params through header
[code]

I think we can use header too，  and list all support headers in doc for extension

[2021-02-09 07:28] spacewander commented on #3565
Maybe we can implement a minimal version, just like your original reply. If we try to add too much things in a PR, there will be too much arguments.

[2021-02-09 08:16] cgc1983 opened #3568 "request help: enable websocket"
### Issue description
create websocket route  but client cant not connect server

1.create a route
curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -i -d '
{
    "uri": "/index.html",
    "hosts": ["foo.com", "*.bar.com"],
    "remote_addrs": ["127.0.0.0/8"],
    "methods": ["PUT", "GET"],
    "enable_websocket": true,
    "upstream": {

[2021-02-09 08:39] Firstsawyou commented on #3568
I tested it and there is an eanbel_websocket field. You can check it again.

[code]

[code]

[2021-02-09 08:52] Firstsawyou commented on #3568
For an example of using eanbel_websocket, you can refer to the test case： https://github.com/apache/apisix/blob/master/t/node/upstream-websocket.t

[2021-02-09 09:04] xuyancheng24 opened #3569 "request help: Apisix agent access error 502, Dashboard configuration upstream IP information and the background log error IP information is inconsistent"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.3
* OS (cmd: `uname -a`):Linux 192.168.153.135 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to g

[2021-02-09 09:05] xuyancheng24 commented on #3569
/apisix/consumers/
init_dir
/apisix/data_plane/server_info/f9fd7a15-4547-4c5f-8582-e95e96a0d4ce
{"id":"f9fd7a15-4547-4c5f-8582-e95e96a0d4ce","hostname":"localhost.localdomain","version":"2.2","boot_time":1612418713,"etcd_version":"3.4.0","up_time":439272,"last_report_time":1612857985}
/apisix/global_rules/
init_dir
/apisix/node_status/
init_dir
/apisix/plugin_metadata/
init_dir
/apisix/plugins
[{"

[2021-02-09 09:26] cgc1983 commented on #3568
i got it
if i edit the route in dashboard and save the route config, the enable_socket flag had lost

[2021-02-09 09:26] #3568 closed

[2021-02-09 09:33] Firstsawyou commented on #3569
Hi, @xuyancheng24
Please provide the error log information of dashboard and apisix. . Thank you.

[2021-02-09 09:42] xuyancheng24 commented on #3569
2021/02/09 14:24:51 [error] 41268#41268: *33377211 connect() failed (111: Connection refused) while connecting to upstream, client: 192.168.153.1, server: , request: "GET /token HTTP/1.1", upstream: "http://172.22.70.54:8099/token", host: "192.168.153.140:9080"
2021/02/09 14:40:31 [error] 41266#41266: *33494752 connect() failed (111: Connection refused) while connecting to upstream, client: 192.16

[2021-02-09 09:45] xuyancheng24 commented on #3569
2021-02-09T16:13:38.528+0800	WARN	store/store.go:142	data not found by key: 340306895233352835
2021-02-09T16:34:52.664+0800	WARN	store/store.go:142	data not found by key: 340306895233352835
2021-02-09T16:34:52.664+0800	WARN	store/store.go:142	data not found by key: 341121850077611147
2021-02-09T16:34:56.325+0800	WARN	store/store.go:142	data not found by key: 340306895233352835
2021-02-09T17:12:19.

[2021-02-09 10:45] nic-chen commented on #3569
@Firstsawyou

It looks OK from these data. Can problems be reproduced with these configurations?

[2021-02-09 11:23] Firstsawyou commented on #3569
@nic-chen  @xuyancheng24   I tried and didn't find this problem (dashboard 2.3, apisix 2.2), I think it is probably because the version of dashboard and apisix are inconsistent. Because when I use `dashboard 2.3, apisix 2.1`, the configured route 404 problem occurs.

@xuyancheng24 Please confirm the version of your dashboard and apisix?

[2021-02-09 11:25] Firstsawyou commented on #3569
The 2.3 version of apisix has just been released. Are you using the 2.3 branch?

[2021-02-09 16:50] #3564 closed

[2021-02-10 02:35] spacewander commented on #3565
@nanamikon
PR is welcome!

[2021-02-10 06:37] #3561 closed

[2021-02-10 07:35] lilien1010 opened #3575 "bug: fail to run make deps on MacOS with luarocks 3.5"
### Issue description

when run `make deps` on Mac with luarocks, it keep showing error  `No results matching query were found for Lua 5.4.` during install lua-resty-dns-client.

As we can see from https://github.com/Kong/lua-resty-dns-client/blob/master/lua-resty-dns-client-5.2.1-1.rockspec

`lua-resty-dns-client` requires `lua >= 5.1, < 5.4`, but by default luarocks 3.5 is using `/usr/local/opt/

[2021-02-10 07:37] lilien1010 commented on #3575
My way to make sure `make deps` run smoothly is open `/usr/local/bin/luarocks` and chang `/usr/local/opt/lua/bin/lua5.4` to `/usr/local/bin/lua` at the first line.

[2021-02-10 07:38] lilien1010 commented on #3575
for long term solution, migth need to  `lua-resty-dns-client` allowed to install with lua 5.4.

[2021-02-10 07:52] spacewander commented on #3575
We recommend to install luarocks via source and bind it with luajit, see:
https://github.com/apache/apisix/blob/master/doc/install-dependencies.md#note

A script has been provided to install luarocks automatically: https://github.com/apache/apisix/blob/master/utils/linux-install-luarocks.sh
And we have updated the installation instruction for Linux distributions.

Unfortunately, I don't have Mac.

[2021-02-10 19:11] jbampton opened #3585 "feat(CI): transfer some testing to CircleCI to reduce the load on GitHub Actions"
GitHub Actions has usage limits for each repo and when running many builds from lots of concurrent pull requests it can be slow and even time out tests for some of the largest GitHub projects with lots of tests.

CircleCI is free for Open Source and we do already have some `Travis CI` files in the APISIX repo.
Adding another testing service can also expand the `testing matrix` or can add more test

[2021-02-11 00:23] jbampton opened #3586 "docs: fix MD045 - Images should have alternate text (alt text)"
# Improve Docs

This issue should be labeled as "good first issue".

## Please describe which part of docs should be improved or typo fixed

Rationale: Alternate text is important for accessibility and describes the content of an image for people who may not be able to see it.

https://www.w3.org/WAI/alt/
https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md#md045---images-should-have-

[2021-02-11 06:09] membphis commented on #3565
nice issue, we can support this feature

[2021-02-11 06:20] membphis commented on #3550
For developers or trial users, it is common to deploy apisix + prometheus locally.

Port conflicts will occur at this time.

[2021-02-11 16:52] spacewander commented on #3550
It can be solved by changing the configuration. There is no need to break the backward compatibility for development decision.

[2021-02-11 21:00] jbampton opened #3587 "docs: add Spanish translations"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

From a Google search `Spanish` is now the world's **4th most spoken language** in the world.

<img width="620" alt="Screen Shot 2021-02-12 at 6 23 19 am" src="https://user-images.githubusercontent.com/418747/107695225-05374a00-6cfc-11eb-81e0-ce577b8f55ae.png">

## Describe the solution you'd like

A translation

[2021-02-12 07:39] juzhiyuan opened #3588 "typo: update filer to filter"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

typo: `filer` should be `filter`.

![image](https://user-images.githubusercontent.com/2106987/107741532-52d9a400-6d48-11eb-9849-41e2e0657efd.png)

## Describe the solution you'd like

1. Edit https://github.com/apache/apisix/blob/master/README.md.

[2021-02-14 03:30] #3588 closed

[2021-02-14 06:53] membphis commented on #3550
@starsz please know this

[2021-02-14 06:53] #3550 closed

[2021-02-14 11:48] jbampton opened #3592 "bug(CI): markdown link check not failing when broken links found"
### Issue description

The GitHub Action for checking for broken links is not working or failing when broken links are found.

### Environment

npm -> https://www.npmjs.com/package/markdown-link-check

### Minimal test code / Steps to reproduce the issue

1. Install `markdown-link-check` with npm -> https://github.com/tcort/markdown-link-check
2. Run `markdown-link-check README.md`

### What's the

[2021-02-14 15:38] jp-gouin opened #3593 "request help: OIDC missing Authorization header in CORS"
### Issue description
Hi,

I'm trying to implement a use case for Apisix and Apisix ingress controller.
It uses Keycloak as OIDC provider and the following Apisix plugins :

- OIDC (relay and introspection)
- authz-keycloak (fine-grain, `lazy_path` and `http_methods_as_scope`)
- Cors (with `allow_credentials`)

I have a webapplication , a backend for this webapp and an external api.
- This webapp

[2021-02-14 15:53] henryfoster opened #3594 "how to set the JWT content as header values?"
### Issue description
Hi,
I need apisix to validate a JWT token in the request header that was issued by my own auth-service and set the content of the JWT token (like user_id) as header arguments. I've read through the JWT doc section, but I can't find how to set the JWT content as header values.
### Environment

* apisix version (cmd: `apisix version`): latest
* OS (cmd: `uname -a`): ubuntu
* Op

[2021-02-14 16:08] starsz commented on #3550
OK.I got it.

[2021-02-14 18:27] jbampton commented on #3587
Jorge -> @summerhill5 started on the Spanish translation.  This is really one of his first times trying to use GitHub by himself but I have helped a small amount.  Looks like he has done about half the `README.md` in Spanish.

He was editing directly on the GitHub website as he is not sure about Git commands.  I did get him to download and install GitHub Desktop as well and tried to provide some i

[2021-02-15 04:33] diaosj opened #3596 "request help: What are the advantages of replacing curl with luasocket when connecting to etcd?"
### Issue description
I noticed that in v2.3, when connecting to etcd (such as auth and put requests), APISIX switches from curl to luasocket in the  `apisix/cli/etcd.lua` file. What are the advantages? Is this more efficient?

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have

[2021-02-17 05:30] apchee opened #3598 "Failed to Install APISIX-2.3 from RPM Package"
### Issue description

Failed to install APISIX from rpm package. The exception reported as following when I try to start APISIX:

[code]

### Environment

* apisix version: apisix-2.3-0.x86_64
* OS: Linux centos7.dechen.com 3.10.0-1160.15.2.el7.x86_64 #1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version: nginx version: openresty/1.19.3.1
* etcd version: et

[2021-02-17 06:08] Firstsawyou commented on #3598
It seems that the openresty you installed still lacks dependencies, you can refer to the openresty installation steps here. It should solve your problem.  https://github.com/apache/apisix/blob/master/doc/install-dependencies.md#centos-7

[2021-02-17 06:38] Firstsawyou commented on #3594
The JWT token is set as the request header, you can refer to here: https://github.com/apache/apisix/blob/master/doc/plugins/jwt-auth.md#try-request-with-token . Hope to help you.

[2021-02-17 06:40] moonming commented on #3598
Which dependency is missing?

[2021-02-17 07:16] Firstsawyou commented on #3598
Judging from the error message and the openresty installation information provided, this should be the lack of `openssl`. Secondly, I did not reproduce this problem.

[2021-02-17 07:29] moonming commented on #3598
Did you follow the steps of this issue?

[2021-02-17 08:46] Firstsawyou commented on #3598
Sorry, I did not follow this step. I only tried the installation steps of apisix.

[2021-02-17 09:05] henryfoster commented on #3594
I think you misunderstood me. I mean how can I set the **content** of the token after it was verified by apisix?
A JWT usually contains information about the user like the **userID** and **permissions** the user has.
After apisix verified that the token is valid I need to set this information as header values on the request **instead** of the JWT and forward it to the destination service.

So the

[2021-02-17 14:42] apchee commented on #3598
Thank you all for following this issue.

I've tried many times in CentOS 7 with both hypervisor VirtualBox hosted on Ubuntu 20.04 and VMware Workstation hosted on Windows 10. I've never been successful. My OS environment is much clear with minimal installation. It's even no wget. I don't know which dependencies are missing.

[2021-02-17 15:12] apchee commented on #3598
By the way, I just installed the previous version apisix-2.2-0.x86_64.rpm. I work for me. At least, no error was reported to me as following:

[code]

[2021-02-18 00:29] belongwqz commented on #3598
I met the same problem, after `rpm -ivh openresty-openssl-xxx.rpm`, It's OK, can download from [openresty-openssl](https://openresty.org/package/rhel/7/x86_64/).

[2021-02-18 01:20] tokers commented on #3594
@henryfoster Try the [serverless plugin](https://github.com/apache/apisix/blob/master/doc/plugins/serverless.md), you can fetch the Authorization header in it (like `ngx.req.get_headers`, `ngx.var.http_authorization`) but one thing should be noticed that you cannot get any JWT parsing artifacts generated by Apache APISIX so you may need to do the duplicate works, or you may try to get insight into

[2021-02-18 01:57] idbeta commented on #3598
@apchee Since from version 2.3, Apache APISIX needs to be installed OpenSSL develop library first to start.
[code]

[2021-02-18 02:01] to2false commented on #3598
docker image `apisix:2.3-centos` got same error

[2021-02-18 02:43] StretchV commented on #3598
要先安装 sudo apt-get install libssl-dev

[2021-02-18 02:47] apchee commented on #3598
@idbeta and @belongwqz, thank you for your pointing this out.

But I don't think it's a good solution that the OpenSSL development library must be installed in PROD.

If it's an known issue, can we mark it at a conspicuous position?

[2021-02-18 02:55] apchee commented on #3598
Fixed!

[2021-02-18 03:06] idbeta commented on #3598
Agree, there should be a better way to solve this.

[2021-02-18 03:11] idbeta commented on #3598
ping @gxthrj

[2021-02-18 03:27] moonming commented on #3598
@membphis we need to fix it in high priority

[2021-02-18 04:10] membphis commented on #3598
build a new RPM package, add new dependencies `openresty-openssl`

@idbeta would you like to handle this issue? many thx

[2021-02-18 04:42] idbeta commented on #3598
sure, I will submit the new rpm package and deb package later.

[2021-02-18 09:07] zackzhangkai opened #3599 "request help: How to config etcd with https"
### Issue description

[code]

How to config etcd private key and cert, if my etcd use https?

[2021-02-18 10:33] Firstsawyou commented on #3599
You can look here:https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L193-L204
It should help you.

[2021-02-18 10:42] zackzhangkai commented on #3599
This is used password , not use cerfile. How can I config my cafile path , such as `/etc/ssl/etcd/ssl` ?

[2021-02-18 10:44] zackzhangkai commented on #3599
My confguration is as follows, but it doesn't work:

[code]

[2021-02-18 11:09] tokers commented on #3599
@zackzhangkai Currently the mTLS is not support yet.

[2021-02-18 11:10] tokers commented on #3599
@zackzhangkai You may try to use etcd proxy.

[2021-02-18 11:35] membphis commented on #3598
@apchee https://github.com/apache/apisix/releases/tag/2.3

We have uploaded the new packages (rpm and deb packages) and added the dependency library `openresty-openssl`.

@idbeta you can make a try when you have time

[2021-02-18 11:39] membphis commented on #3598
and we need to update the doc.

![image](https://user-images.githubusercontent.com/6814606/108351865-0519db80-7221-11eb-8bae-4e78f80af8d0.png)

[2021-02-18 11:55] zackzhangkai commented on #3599
Not the mTLS, just https, you can understand as single tls.

[2021-02-18 13:32] idbeta commented on #3598
The new package will auto install `openresty-openssl` now.

[2021-02-18 13:33] idbeta opened #3600 "request help: need to update the readme document"
![image](https://user-images.githubusercontent.com/6814606/108351865-0519db80-7221-11eb-8bae-4e78f80af8d0.png)

_Originally posted by @membphis in https://github.com/apache/apisix/issues/3598#issuecomment-781283658_

[2021-02-18 13:49] moonming commented on #3598
Why should it be installed automatically?

[2021-02-18 14:16] nic-chen opened #3601 "test: add test cases for streaming gRPC proxy"
### Issue description

At present we only have the unit test of request-respond gRPC proxy, there is no related test of streaming gRPC, we need to add test cases for streaming gRPC as soon as possible

[2021-02-19 00:53] tokers commented on #3599
Sorry, I misunderstood your mean since I saw the CA configuration.

What's the behavior of "not work"? Could you paste some error logs?

[2021-02-19 01:05] spacewander commented on #3496
Solved.

[2021-02-19 01:05] #3496 closed

[2021-02-19 01:08] spacewander commented on #3596
See https://github.com/apache/apisix/issues/2818

[2021-02-19 01:08] #3596 closed

[2021-02-19 01:09] #3514 closed

[2021-02-19 01:44] spacewander commented on #3587
@jbampton
Thanks for your and your teammates' contributions!

@moonming
As the discussion in https://lists.apache.org/thread.html/r0d5d3f55b709f4d019a1492b68dd631daa854ae5b31802557eb1e3e7%40%3Cdev.apisix.apache.org%3E and https://lists.apache.org/thread.html/r2c8e5372fbaa301433691c3e97b245e0ba8970c91c9486ec22cfc050%40%3Cdev.apisix.apache.org%3E,
should we provide a separate repo to hold the i18n f

[2021-02-19 01:47] nanamikon commented on #3565
ok, I will submit a PR

[2021-02-19 01:47] xuyancheng24 commented on #3569
I used 2.2 Apisix

[2021-02-19 01:56] juzhiyuan commented on #3592
https://github.com/apache/apisix/pull/3197

Hi @jbampton, I see you modified the previous CI 🤔 Could we use the previous CI? and apply for the allow list from infra?

[2021-02-19 02:07] spacewander commented on #3445
Consider solved

[2021-02-19 02:07] #3445 closed

[2021-02-19 02:12] spacewander commented on #1515
There are tests to cover it now.

[2021-02-19 02:12] #1515 closed

[2021-02-19 02:12] #1418 closed

[2021-02-19 02:27] spacewander commented on #3598
For temporary fix, need to install `openresty-openssl` with APISIX-2.3 rpm package.
In the future, we need to switch to `openresty-openssl111` as the latest version of OpenResty already switch to `openresty-openssl111`:
https://github.com/openresty/openresty-packaging/blob/8c9959f2f48cf855a5390efed7554408f77367b6/rpm/SPECS/openresty.spec#L30

We can remove it in rpm SPEC: https://github.com/api7/b

[2021-02-19 03:05] ShenAoScript opened #3602 "request help: About current limiting algorithm"
### Issue description
About current limiting algorithm
### Environment
* apisix version (cmd: `apisix version`): 2.0+
* OS (cmd: `uname -a`):centos7

Now the plugin "limit-req" algorithm is
` if delay >= 0.001 then
        sleep(delay)
    end`

If I turn it into：
`    if delay >= 0.001 then
       do nothing
    end`

so, the leaky bucket becomes the token bucket ?

[2021-02-19 03:23] spacewander commented on #3587
Also CC @juzhiyuan @membphis

[2021-02-19 03:44] spacewander commented on #3602
No

[2021-02-19 03:47] spacewander commented on #3602
Please read the definition of these two algorithms:
https://en.wikipedia.org/wiki/Token_bucket
https://en.wikipedia.org/wiki/Leaky_bucket

[2021-02-19 03:52] #3602 closed

[2021-02-19 03:55] spacewander commented on #3585
We have some Travis CI files because we used Travis CI before. Migrate Travis CI files to GitHub Action took us many efforts.

Maintain CI across multiple vendors is too complex. And CircleCI might become the next Travis CI.

[2021-02-19 03:56] #3585 closed

[2021-02-19 04:02] membphis opened #3604 "chore: remove 2.3 version of rpm and deb packages"
Because the current rpm/deb package depends on `openresty-openssl` library, but `openresty 1.19.*` uses `openresty-openssl111` by default and the currently added dependencies may be wrong.

So I decided to delete the 2.3 version of the rpm and deb packages. After the problem is determined, repackage and upload.

Released link:
https://github.com/apache/apisix/releases/tag/2.3

related issue: https

[2021-02-19 04:03] membphis commented on #3604
ping @spacewander @moonming @tokers @nic-chen

[2021-02-19 04:04] tokers commented on #3604
Agree +1

[2021-02-19 04:12] nic-chen commented on #3604
+1

[2021-02-19 05:18] Firstsawyou opened #3605 "[discuss]: how to use apisix for proxy access to dashboard"
### Issue description

Apisix and dashboard are separately deployed projects. If we want to proxy access to dashboard through apisix, what should we do?
When I try to use the apisix proxy to access the dashboard, the dashboard log shows the following 401 status code:

[code]

[2021-02-19 05:34] juzhiyuan commented on #3587
Ya, this main repo only maintains documentation in English, contributors would create repos like `apache-apisix-in-spanish` or something else.

[2021-02-19 05:36] ShenAoScript commented on #3602
ok,I've seen people say that on the Internet.and it's puzzles me.
thanks for your ans.

[2021-02-19 06:21] spacewander commented on #3593
Does the external API return the Authorization header and the web application send it back in the CORS request?

[2021-02-19 06:23] spacewander commented on #3587
@juzhiyuan
What's the roadmap for it?

[2021-02-19 08:07] zackzhangkai commented on #3599
I have consult the codes, and  cannot find where to placeholder the certificates. The configuration `ssl_trusted_certificate` maybe not correct. I just test it, and it takes no effect.  I just want to know how to configure with https with certificate.

Apisix version is latest.

[2021-02-19 09:20] jp-gouin commented on #3593
Hi,
No in the second scenario the request do not go to the external API , it's blocked by Apisix because of the missing Authorization Header.

In the working scenario this Header is set directly by Apisix (my guess) , but not by the front-end nor the backend.
I can see this because when i receive the call from the front-end to the back-end of the webapp , i list all the header of the call and i se

[2021-02-19 09:51] 54corbin opened #3608 "Unable to find the attribute and function documentation of ctx in the plugin callback function 'rewrite(conf,ctx)'"
It is recommended to add documentation for all attributes and functions that need to be exposed externally in ctx

[2021-02-19 09:59] spacewander commented on #3593
The openid-connect plugin will set the Authorization header according to the client info. I think it may be cause the difference.

[2021-02-19 10:06] jp-gouin commented on #3593
Ok , so in case of CORS request does it set the Authorization header as well ?
Btw i also use the CORS plugin for the external api and allow setting credential for Cors request.

[2021-02-19 11:00] tokers commented on #3599
@zackzhangkai You don't need to configure certificates on APISIX side. Just use "https" scheme in `etcd.host` is enough.

[2021-02-19 11:52] nic-chen opened #3610 "discuss: `batch-processor` should not depend on plugin `prometheus`"
### Issue description

[`batch-processor`](https://github.com/apache/apisix/blob/master/apisix/utils/batch-processor.lua#L155) as the underlying lib should not depend on the upper plugin.

[code]
in [batch-processor.lua line 155](https://github.com/apache/apisix/blob/master/apisix/utils/batch-processor.lua#L155)

The code is hierarchical, basic core -> logic package -> plug-in code, must follow th

[2021-02-19 12:14] spacewander commented on #3593
The `Access-Control-Allow-Credentials` is not allowed setting credentials, but allow passing credentials.

[2021-02-19 13:16] Firstsawyou commented on #3608
Agree, assign it to me.

[2021-02-19 13:23] jp-gouin commented on #3593
I assume that might blocked the frontend to put any credential in the request but since it's apisix that set the authorization header...
Also i see that in case of Cors request the session cookie is not set in the request, that why Apisix cannot add the authorization header...

[2021-02-19 13:32] spacewander commented on #3593
Maybe you can also use openid-connect plugin for it.

[2021-02-19 13:44] jp-gouin commented on #3593
Sorry, I'm not sure to understand , i already use the openid-connect plugin.
[code]

[2021-02-19 13:59] gxthrj opened #3611 "bug: Error will be reported when apisix starts , if which is not installed"
### Issue description
If which is not installed, the logic will be wrong and it does not match expectations.

### Environment

* apisix version (cmd: `apisix version`): master
* OS (cmd: `uname -a`): centos
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info

[2021-02-19 14:34] spacewander commented on #3593
What about refactor authz-keycloak and use this `fetch_jwt_token` instead?
https://github.com/apache/apisix/blob/017298de8687970fb53ef34579e4a947abda4d0b/apisix/plugins/jwt-auth.lua#L154

We can put it in https://github.com/apache/apisix/blob/master/apisix/core/utils.lua

[2021-02-19 14:42] jp-gouin commented on #3593
How will it transform the session cookies into an Authorization header ?

[2021-02-19 15:03] zackzhangkai commented on #3599
configmap as follows:
[code]
errors as follows:

[code]

[2021-02-19 15:39] Applenice opened #3612 "request help: logging upstream response data"
### Issue description
I have enabled the proxy rewrite plugin and it is currently working fine, but I want to log the responses returned by the upstream service for things like data validation, auditing and so on. I've done some research, but I'm still confused. For example:

https://serverfault.com/questions/361556/is-it-possible-to-log-the-response-data-in-nginx-access-log/598045

How to impleme

[2021-02-20 01:12] spacewander commented on #3612
It is not supported yet. You can write your own plugin or extend current xxx-logger plugins.

[2021-02-20 01:21] Applenice commented on #3612
Thanks for the reply, the first attempt to write the plugin failed.🙃 I'll go learn the code of xxx-logger.

[2021-02-20 01:27] Applenice commented on #3612
Also, is it considered to implement this plugin in APISIX in the future?

[2021-02-20 01:37] tokers commented on #3612
@Applenice Welcome to submit a proposal about this new feature :)

[2021-02-20 01:43] tokers commented on #3599
@zackzhangkai How did you deploy APISIX and etcd cluster? Do they in the same pod? If not, you cannot access etcd from APISIX by `127.0,0.1`. You should, however, filling the correct IP address or domain like "{etcd-service-name}.{namespace}.svc.cluster.local".

[2021-02-20 01:43] tokers commented on #3610
@nic-chen Would you like to paste some code snippets?

[2021-02-20 01:46] tokers commented on #3611
So we should detect whether the utility `which` exists in the system.

[code]

[2021-02-20 02:05] hnlq715 commented on #3517
Nice to see this enhancement, it's really useful when we do discovery through DNS way.

And host `1.1.1.1` should recount based on the number and weight of resovled IPs base on `test.consul.service`.

By the way, is there any plan to support SRV record?

[2021-02-20 02:09] Applenice commented on #3612
Thanks for the reply. I would like to save the upstream response data in the specified log file and then parse the log file. But there are several factors to consider, such as
- Upstream response data size, some of which may be very large
- High frequency of requests

[2021-02-20 03:31] yocaning opened #3616 "request help: how nodes will be recovered from unhealthy"
### Issue description
healthy check
### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):centos7
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.4
* apisix-dashboard version, if have:

想问下健康检查标记为 unhealthy的node，在什么条件下才会重新恢复healthy状态，

[2021-02-20 03:37] Firstsawyou commented on #3616
You can try to configure this property `active.unhealthy.interval`.
You can refer to the attribute description here: https://github.com/apache/apisix/blob/master/doc/health-check.md

[2021-02-20 03:46] yocaning commented on #3616
active.unhealthy.interval 这个是主动监测，passive也适用么，文档中passive没有这个字段

[2021-02-20 03:51] yocaning commented on #3616
active.unhealthy.interval 这个是主动监测，passive也适用么，文档中passive没有这个字段

[2021-02-20 04:23] Firstsawyou commented on #3616
`passive` check does not support `interval`.

[2021-02-20 05:48] tokers commented on #3616
@yocaning `active.unhealthy.interval` is the interval of the active health checker to probe all "unhealthy" nodes, once unhealthy nodes are online again (probes successful for several consecutive times), they will be marked as healthy.

[2021-02-20 05:49] zackzhangkai commented on #3599
[code]

[2021-02-20 05:50] tokers commented on #3616
@Firstsawyou Would you create a document to supplement some details of healthy check. You can create another issue to track it.

[2021-02-20 05:50] zackzhangkai commented on #3599
It's about the etcd pem and key, not the address.

[2021-02-20 05:51] tokers commented on #3599
Since you mentioned that your etcd cluster doesn't enable the mTLS, why your curl call still carries the client cert, key and cacert?

[2021-02-20 06:25] Yiyiyimu opened #3618 "test unstable: t/discovery/eureka.t"
### Issue description
[code]

### Environment

* apisix version (cmd: `apisix version`): master
* OS (cmd: `uname -a`): ubuntu 18.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): source

[2021-02-20 06:41] spacewander commented on #3618
Known issue. The sync of eureka info is triggered by a timer run after init_worker_by_lua phase.

[2021-02-20 06:41] #3618 closed

[2021-02-20 06:42] Firstsawyou commented on #3616
The health check is documented: https://github.com/apache/apisix/blob/master/doc/health-check.md.
I think we can add some details to the existing documents.

[2021-02-20 06:47] yocaning commented on #3616
it does not work ,because no active path to check

[2021-02-20 06:48] spacewander commented on #3604
Done

[2021-02-20 06:48] #3604 closed

[2021-02-20 06:51] spacewander commented on #1973
Closed as lack of response.

[2021-02-20 06:51] #1973 closed

[2021-02-20 06:58] zackzhangkai commented on #3599
configmap:

[code]

deployment mount this volume:

[code]

Errors:

[code]

the certs have no problem.

[code]

[2021-02-20 07:15] zackzhangkai commented on #3599
really, I got confused with the mTLS. It's my fault.  By the way, does it has a proposal to support mTLS?

[2021-02-20 07:21] Firstsawyou commented on #3616
You should use `active.unhealthy.interval` in active health check.
If it does not work, you should provide the configuration information.

[2021-02-20 07:25] yocaning commented on #3616
背景再描述一下，我选用的是被动检查也就是passive，在某个node被检查成为unhealthy之后，我该如何使其复原

[2021-02-20 07:26] yocaning commented on #3616
贴一下我的配置：{
"id": "1",
"update_time": 1613734165,
"upstream": {
"checks": {
"active": {
"unhealthy": {
"interval": 30
},
"concurrency": 10,
"timeout": 1,
"https_verify_certificate": true,
"http_path": "/",
"type": "http"
},
"passive": {
"timeout": 5,
"healthy": {
"http_statuses": [
200,
201
],
"successes": 3
},
"type": "http",
"unhealthy": {
"http_statuses": [
500,
504
],
"timeouts": 3,
"timeout": 5

[2021-02-20 07:37] zackzhangkai commented on #3599
Though I curl with certificate , it does not indicate the communication is mTLS. It's just because of my etcd has enabled tls. I think we get misunderstanding with mTLS.

[2021-02-20 07:51] nic-chen commented on #3610
updated. thanks!

[2021-02-20 08:01] Firstsawyou commented on #3616
<img width="356" alt="截屏2021-02-20 下午3 55 37" src="https://user-images.githubusercontent.com/52862365/108588572-e50b2900-7394-11eb-9af7-98928da0f871.png">

There is no `timeout` in the `passive` check. Try to remove the `timeout` attribute.

[2021-02-20 08:07] zackzhangkai commented on #3599
Got it, Thank you. It is really mtls.

[2021-02-20 08:08] Firstsawyou commented on #3616
The `passive.healthy.successes` in the `passive` check can restore the unhealthy node.

Because `passive.healthy.successes` means: the upstream node has been successfully detected (defined by passive.healthy.http_statuses) for more than successes times, then the node is set to healthy state.

[2021-02-20 09:21] yocaning commented on #3616
我按照你这个方式进行配置，interval:10 每10s确实有探测，但是当我重新启动节点时，就算探测成功，也没有将这个节点标记为healthy状态，也就是依旧不可用

[2021-02-20 09:22] yocaning commented on #3616
你这个有一个逻辑问题：the upstream node has been successfully detected (defined by passive.healthy.http_statuses) for more than successes times, then the node is set to healthy state.

[2021-02-20 09:23] yocaning commented on #3616
被动检查被标记为unhealthy的node，不会再去探测了，也就是说the upstream node has been successfully detected (defined by passive.healthy.http_statuses) for more than successes times, then the node is set to healthy state.无从说起

[2021-02-20 09:25] yocaning commented on #3616
文档中关于unhealthy节点的探测有两个配置项："unhealthy": {
"interval": 10,
"http_failures": 2
}, the interval 代表间隔，http_failures代表什么呢，本来就是监测unhealthy状态的节点，是说监测多少次成功就会变成healthy么，但是实际上并不工作，没有生效

[2021-02-20 10:59] Firstsawyou commented on #3616
`http_failures` is the number of failed requests to set the target node. If the number of failed checks of the target node is greater than the number set by `http_failures` within the time of `interval`, then the target node will be marked as unhealthy.

[2021-02-20 11:02] Firstsawyou commented on #3616
please provide a minimum reproduction step.

[2021-02-20 11:56] tokers commented on #3616
Actually you cannot only enable passive healthy check, the active one also woks even if you don't configure it.
The below is some snippets of the schema (https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L98).

[code]
![image](https://user-images.githubusercontent.com/10428333/108594555-a20d7d80-73b5-11eb-9891-d2ad386d107f.png)

[2021-02-20 12:05] tokers commented on #3599
@zackzhangkai Unfortunately, APISIX is not capable to use mTLS now, it's in our TODO list.

[2021-02-20 12:06] tokers commented on #3610
Got it, should refactor it.

[2021-02-20 12:28] #3600 closed

[2021-02-20 12:31] membphis commented on #3587
ping @juzhiyuan

[2021-02-20 12:33] juzhiyuan commented on #3587
Today I just send a mail to our mailing list, I would prefer that we need to make sure the English docs are correct, reliable, up-to-date, and easy to learn first. For other languages, our community's contributors could help to maintain them.

[2021-02-20 12:34] juzhiyuan commented on #3587
So we could review and accept this PR.

[2021-02-20 12:35] membphis commented on #3587
I think you can post the mail link here ^_^

[2021-02-20 12:37] juzhiyuan commented on #3587
sure, here it is.

https://lists.apache.org/thread.html/r0d5d3f55b709f4d019a1492b68dd631daa854ae5b31802557eb1e3e7%40%3Cdev.apisix.apache.org%3E

[2021-02-20 12:42] #3532 closed

[2021-02-20 13:40] yocaning commented on #3616
Don't you read the above？i showed my configuration

[2021-02-20 13:42] yocaning commented on #3616
yes，i set it both passive and active ，but still not work，i will show my all config right now

[2021-02-20 13:45] yocaning commented on #3616
`{"id":"1","update_time":1613734165,"upstream":{"checks":{"active":{"healthy":{"interval":3,"successes":2},"unhealthy": { "interval": 10,"http_failures": 2},"concurrency":10,"timeout":1,"https_verify_certificate":true,"http_path":"/status?cmd=6003","type":"http","req_headers": ["Content-Seq:3"]},"passive":{"timeout":5,"healthy":{"http_statuses":[200,201],"successes":3},"type":"http","unhealthy":{"

[2021-02-20 15:30] jp-gouin commented on #3593
Ok i see what you mean, i copied the function from jwt-auth to authz-keycloak but no luck so far.
I cannot see how to fetch the jwt token from the session cookie...
Do you have an idea of how openid-connect plugin is doing this ?

[2021-02-21 02:03] membphis commented on #3516
ping @Firstsawyou

[2021-02-21 02:04] membphis commented on #3545
can we close this issue now? @xuyancheng24

[2021-02-21 02:06] membphis commented on #3575
@lilien1010 do you still have this issue? if yes, please let us know

[2021-02-21 07:41] Firstsawyou commented on #3516
I'm very sorry, I did not reply to your message in time.
This error message is returned by `keycloack`, you can refer to the solution here: https://stackoverflow.com/questions/63566261/postman-keycloack-issuedfor

[2021-02-21 13:25] lilien1010 commented on #3575
@membphis
As I mentioned above, I mannuly change code of luarocks，which works fine for me, but it's not strongly recommend edit executable file.

I think still someone gona encounter with this if they install luarocks with homebrew which might install lua 5.4 automatically, that will caused an incompatible issue from lua-resty-dns-client.

[2021-02-21 13:37] jbampton commented on #3592
Hey @juzhiyuan we can't use the orignal check since it was using a third-party GitHub Action which the ASF banned.

[2021-02-21 14:05] juzhiyuan commented on #3592
Ya, we have 2 solutions now:

1. Ask ASF Infra for help to allow that action;
2. Try to update the current action to throw warnings when broken links are found.

What do you think?

[2021-02-21 15:16] #3198 closed

[2021-02-21 15:18] jbampton commented on #3587
@summerhill5 and I are going to work on translating `FAQ.md` next.

Will be doing this over the next week or so 👍

[2021-02-21 18:27] Yiyiyimu opened #3625 "ci: chaos test need to build image from source"
Currently chaos test use lastest apisix image, which could not show the change of current PR. So there's needs to build from source each time it got triggerd

[2021-02-21 20:19] jbampton commented on #3592
Hey @juzhiyuan I am unsure of what is happening now since `Apache SkyWalking` uses a dead link checker with the same npm library as we do -> https://github.com/apache/skywalking/blob/master/.github/workflows/dead-link-checker.yaml

But their's seems to be running against all files instead of just modified files.

I think we should try to update the existing action or at least debug it since using

[2021-02-21 23:35] juzhiyuan commented on #3592
Ya, maybe Skywalking has fixed all dead links first? then enable that checker for all files 🤔

I still prefer just checking the modified files IMO.

[2021-02-22 00:47] tokers commented on #3625
That's really, however you have to get the Dockerfile from the apisix-dockerr project.

[2021-02-22 01:23] #1125 closed

[2021-02-22 01:59] spacewander commented on #3593
AFAIK, `openid-connect` plugin fetches a new token with the given client info.

[2021-02-22 03:54] Yiyiyimu commented on #3625
Thanks for reminding! I'll clone the apisix-docker repo in CI

[2021-02-22 07:41] zackzhangkai commented on #3599
Thanks a lot.

[2021-02-22 07:41] #3599 closed

[2021-02-22 08:10] Firstsawyou commented on #3616
Hi, @yocaning
You need to pay attention to your configuration. The `http_path` of the active health check should be consistent with the uri that provides the service. Secondly, the value of `"timeout":1` is recommended to be set larger.

This is an example, you can refer to it

1、Add a route and enable health check

The 1981 and 1982 ports are healthy, but the 1985 port is unhealthy.

[code]

2、Ac

[2021-02-22 09:45] Firstsawyou opened #3631 "docs: the health check document adds more detailed usage details."
# Improve Docs

The examples in the current `health-check.md` document do not have more usage details, we can add more usage examples.

#3616

[2021-02-22 10:52] Firstsawyou opened #3632 "docs: the FAQ document adds the issue of failure to execute the make deps command"
# Improve Docs

When deploying APISIX in source code mode, if the `openresty-openssl111-devel` dependency is missing, the following error message will occur when executing `make deps`:

[code]

For such common problems, we should record such problems in the FAQ.

[2021-02-22 12:34] Bhanuji95 opened #3633 "request help: Getting route not found issue"
### We are facing route not found issue with apisix ingress controller

### Development

* apisix version: 2.2
* OS: APISIX docker image (ubuntu)
* OpenResty / Nginx version: openresty/1.19.3.1
* etcd version: 3.4.8

[2021-02-22 13:26] spacewander commented on #3633
Please add more details so that we can reproduce it.

[2021-02-22 14:36] Firstsawyou commented on #3569
Hi, @xuyancheng24
You need to pay attention to whether the version used matches. If there are still errors, you can try to use the `curl` tool to initiate a request to narrow down the location of the problem.

[2021-02-22 15:50] jp-gouin opened #3635 "feat: Add method filter on consummer-restriction plugin"
Hi,
I think it could be interesting to add a filter on the method in the consummer-restriction plugin;

With something like :
[code]
This feature could be optional and fallback on the current processing.

[2021-02-22 15:53] membphis commented on #3575
@nic-chen would like to handle this issue?

[2021-02-23 00:39] nic-chen commented on #3575
OK

[2021-02-23 01:03] spacewander commented on #3635
PR is welcome!

[2021-02-23 06:32] spawnris commented on #487
组织：腾讯游戏
地址：中国深圳
联系方式：spawnrisgao@tencent.com
使用场景：腾讯游戏社区APP的后台服务网关

[2021-02-23 07:35] frf12 opened #3642 "bug: /apisix/admin 不能被正确的转发"
### Issue description
/apisix/admin的路径会因为匹配/apisix/admin而被转发给apisix admin模块
### Environment

* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): centos7
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):3.4.0
* apisix-dashboard version, if hav

[2021-02-23 07:40] Firstsawyou commented on #3642
To use APISIX proxy Dashboard, you need to set enable admin to false (because the path of the Admin API and the path of the Manager API are the same, not setting it to false will request to apis of Admin API), and then follow the normal route configuration.

[2021-02-23 07:54] frf12 commented on #3642
这能解决使用apisix代理apisix dashboard的问题。但如果我的服务中正好有个api是/apisix/admin呢，那也只能通过设置apisix.enable_admin为false来解决吗？这似乎不合理？

[2021-02-23 08:07] Yangzcy423911 opened #3643 "request help: How to modify HMAC_ The format of verification time"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

in auth authentication plug-in, such as the time format of CST

[2021-02-23 08:44] Firstsawyou commented on #3642
When apisix.enable_admin is true, `/apisix/admin` is the unique API interface of apisix, and the custom api cannot be the same.

[2021-02-23 09:09] Firstsawyou commented on #3643
Judging from the hmac-auth code structure, it should be supported. You can try it with CST time format.

[2021-02-23 09:27] Firstsawyou commented on #3643
@nic-chen From the hmac-auth code structure, it should be possible to use the CST time format, right?

[2021-02-23 09:49] Firstsawyou commented on #3643
@nic-chen Please take a look, do you have any ideas?

[2021-02-23 10:15] azura27 opened #3646 "request help: potocol support plan"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS (cmd: `uname -a`): 3.10.0-693.21.1.el7.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.17.8.2
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.4.13
* apisix-dashboard version, if have:

Hello, I wanna know If QUIC

[2021-02-23 10:22] Yangzcy423911 commented on #3643
example: Tue Feb 23 18:22:17 CST 2021

[2021-02-23 10:31] nic-chen commented on #3643
@Yangzcy423911
it doesn't support the format you mentioned. you could customize your time format in:
https://github.com/apache/apisix/blob/master/apisix/plugins/hmac-auth.lua#L295

[2021-02-23 10:47] StretchV opened #3647 "request help: 请问apisix代码中有发送http请求封装好的方法吗"
### Issue description
我的需求是：每一个请求A过来后要先发送另一个请求B，从而获取B的结果然后根据这个结果自定义一个插件（插件的作用是：判断请求B的结果，向A请求加不同的头信息），想质询确认一下现有的代码中有发送http请求的函数吗，或者这种场景有推荐其他类的做法吗，redirect+proxy_rewrite插件的组合可以实现吗，因为我查看网上信息lua发送http请求貌似需要引入socket包，不太确定会不会对apisix造成影响
### Environment

* apisix version (cmd: `apisix version`):   v2.3
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version

[2021-02-23 10:50] tokers commented on #3647
@StretchV If you are writing your own plugins or tweaking APISIX, just use lua-resty-http. It's easy to use and won't add any dependencies.

[2021-02-23 10:54] StretchV commented on #3608
yes, documentation of code  is needed

[2021-02-23 10:55] jp-gouin commented on #3635
Ok sure , i'll work on that

[2021-02-23 11:26] StretchV commented on #3647
ok  thank you very much

[2021-02-23 11:26] #3647 closed

[2021-02-23 11:43] tokers commented on #3642
The prefix `/apisix/admin` are occupied by APISIX when the admin api enabled. Try to avoid using it when you design your APIs.

@Firstsawyou I think we can add some documents as hint.

[2021-02-23 11:49] Firstsawyou commented on #3642
agree.

[2021-02-24 02:58] StretchV opened #3652 "建议：是不是后续版本可以考虑把插件的优先级集成到统一的配置里去"
因为插件一多，当需要新增一个自定义插件的时候需要挨个查看其他的插件文件中的priority以避免重复，体验不是很好

[2021-02-24 06:10] mr3chen opened #3655 "bug: example-plugin 把 control_api 改成api ，访问还是报路由找不到"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce the issue

1. example-plugin 把

[2021-02-24 06:41] spacewander commented on #3655
example-plugin is disabled by default:
https://github.com/apache/apisix/blob/728df41e1682da8d4cd615a613a938e275a4d085/conf/config-default.yaml#L232

And you use the wrong port for control-api.
https://github.com/apache/apisix/blob/728df41e1682da8d4cd615a613a938e275a4d085/conf/config-default.yaml#L129-L131

It should be 9090.

[2021-02-24 06:41] #3655 closed

[2021-02-24 07:03] spacewander commented on #3642
It's better to use a separate port for apisix admin:
https://github.com/apache/apisix/blob/728df41e1682da8d4cd615a613a938e275a4d085/conf/config-default.yaml#L68

We want to make it the default months ago:
https://lists.apache.org/thread.html/rfb780891c940f4930240570d0170fad154a14d7b582ca60b4eae7524%40%3Cdev.apisix.apache.org%3E

But people can't accept such a break change in a minor version.

[2021-02-24 07:07] spacewander commented on #3646
We need to wait the official OpenResty to support QUIC first.

[2021-02-24 07:07] #3646 closed

[2021-02-24 07:10] spacewander commented on #3598
A new rpm package has been created.

[2021-02-24 07:10] #3598 closed

[2021-02-24 07:11] #3007 closed

[2021-02-24 07:41] #3642 closed

[2021-02-24 08:46] yocaning commented on #3616
thank you ，i‘ll take a try

[2021-02-24 08:54] StretchV commented on #3652
https://github.com/apache/apisix-dashboard/blob/v2.4/docs/FAQ.md#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard

[2021-02-24 08:54] #3652 closed

[2021-02-24 11:15] Yiyiyimu opened #3657 "bug: luarocks not pack `conf/debug.yaml` in"
Currently, `luarocks` would not pack `conf/debug.yaml` in, so if users install apisix with luarocks (and rpm/docker which rely on luarocks), they could not run debug in apisix.

Considering right now tarball would pack all `conf` directory in, we could do the same to luarocks.

[2021-02-24 14:50] Firstsawyou opened #3658 "docs: the FAQ document records access to the dashboard through the APISIX proxy"
# Improve Docs

`APISIX proxy access APISIX Dashboard` is a relatively common application, I think it should be recorded in the FAQ.

[2021-02-24 16:21] sebbASF opened #3659 "bug: Please remove obsolete versions from mirror server"
To reduce the load on the ASF mirrors, projects are required to archive old releases [1]

It's unfair to expect the 3rd party mirrors to carry old releases.

Please can you archive all non-current releases?
[Remember to update the download page before dropping the files from dist.apache.org!]

The following releases [2] appear to be non-current:
2.0
2.1
2.2
dashboard/2.3/
apisix-dashboard-2.1.1/
a

[2021-02-24 17:01] Firstsawyou opened #3662 "[discuss]: remove the `location /apisix/dashboard` API interface in the ngx_tpl.lua file"
### Issue description

Since APISIX and APISIX Dashboard are currently deployed independently of each other, the old `/apisix/dashboard` API interface is still retained in the ngx_tpl.lua file. I think it should be removed.
The reasons are as follows:

1. The `/apisix/dashboard` API interface is useless;
2. When users use the `rpm` package to install APISIX and APISIX Dashboard, there is a directo

[2021-02-24 17:52] tzssangglass opened #3663 "bug: script does not work"
### Issue description
I used the script, but the script did not execute, see the following test case
[code]

based on the documentation for the script, I think the script should be executed because it is bound to the route and neither the route nor the service has plugins configured

bugs may appear in https://github.com/apache/apisix/blob/16f017dfedebf8bf85ff8be9d48c05d088d21d0e/apisix/plugin.lua

[2021-02-25 00:20] moonming commented on #3652
Maybe we can automatically generate a priority list of plugins
@Firstsawyou

[2021-02-25 01:00] spacewander commented on #3663
PR is welcome!

[2021-02-25 01:03] spacewander commented on #3659
Thanks for your report!
We will remove the obsolete release soon.

As for dashboard and ingress-controller, CC @juzhiyuan @tokers

[2021-02-25 01:04] tokers commented on #3659
OK, will do it.

[2021-02-25 01:05] tzssangglass commented on #3663
assign to me

[2021-02-25 01:06] spacewander commented on #3662
@juzhiyuan
What about your opinion?

[2021-02-25 01:22] belongwqz opened #3664 "discuss: Should add a custom_plugins section to make config easy"
### Issue description
If I want to enable my plugin, I have two choices:
1.modify the `config-default.yaml` and append my plugin name to the `plugins`, it's easy, but not recommended .
2.copy all the `plugins` from `config-default.yaml` to `config.yaml`, then append my plugin name, it makes the `config.yaml` quite messy.

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname

[2021-02-25 01:42] #3517 closed

[2021-02-25 01:49] spacewander commented on #3515
Consider solved

[2021-02-25 01:49] #3515 closed

[2021-02-25 01:52] spacewander commented on #2973
Now we cache the record according to the TTL. Feel free to reopen it if the problem is still exist.

[2021-02-25 01:52] #2973 closed

[2021-02-25 01:53] spacewander commented on #2947
Done as luarocks.cn.

[2021-02-25 01:53] #2947 closed

[2021-02-25 01:56] Firstsawyou commented on #3652
Yes, I will try it.

[2021-02-25 01:59] juzhiyuan commented on #3662
It seems that this location is a historical issue, we could remove it IMO.

[2021-02-25 02:17] juzhiyuan commented on #3659
ok

[2021-02-25 02:42] #3608 closed

[2021-02-25 06:17] tzssangglass commented on #3663
According to the script documentation, on the route, script and plugin are mutually exclusive, so if there is script on the route and plugins on the service, and the route is bound to the service, do you need to execute both script and plugins?

[2021-02-25 06:43] starsz opened #3669 "feat: support environment variable to override the config"
# Feature request

## Please describe your feature

We can support the environment variable to override the config.
In some situations use the environment variable would be more convenient than config.yaml.

## Describe the solution you'd like

1. read all environment variable
2. if the variable is started with `APISIX_` then add it to the table
3. merge the conf from YAML and environment, the env

[2021-02-25 07:19] starsz commented on #3669
Now the conf.yaml support the environment variable.

https://github.com/apache/apisix/blob/de9ea132845202bd79624ddb780096882d50288c/conf/config.yaml#L24

So I think I can close this issue.

[2021-02-25 07:19] #3669 closed

[2021-02-25 07:29] cverdela opened #3670 "request help: The performance of wolf RBAC plug-in is too weak. Is there a better plug-in for rbac"
### Issue description
wolf-rbac is an authentication and authorization (rbac) plugin
I used it for rbac，but QPS down to 300/s
how to do for rbac without  losing performance
### Environment
* apisix version (cmd: `apisix version`): docker 2.0
* OS (cmd: `uname -a`): centos docker
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):openresty/1.17.8.2

[2021-02-25 08:16] moonming opened #3671 "doc: add `--server` of luarocks for China mainland users"
# Improve Docs
https://github.com/apache/apisix/blob/master/FAQ.md#why-is-it-that-installing-apisix-dependencies-with-luarocks-causes-timeout-slow-or-unsuccessful-installation

[code]
## Please describe which part of docs should be improved or typo fixed

A clear and concise description of what you want and what your use case is.

## Describe the solution you'd like

A clear and concise descriptio

[2021-02-25 08:50] yocaning commented on #3616
What are the requirements for this health check method?  when my node is unhealthy , the auto healthy check method work。and response http header status =200 。but still not marked as healthy

[2021-02-25 09:49] Firstsawyou commented on #3670
You should provide relevant configuration information and related steps for testing QPS, so that others know what is causing it.

[2021-02-25 10:12] cverdela commented on #3670
wolf-server runs on server A.
apisix runs on server B with etcd.
all runs in docker.
apisix limit 1 cpu .
i use jmeter with 100 threads
QPS was 3000/s
when i use plugins wolf-rbac， QPS down to 300/s
only add plugins wolf-rbac in /apisix/admin/routes
All of other configurations are default

[2021-02-25 10:13] spacewander commented on #3659
Done.

[2021-02-25 10:17] spacewander commented on #3663
The route one is preferred.

[2021-02-25 10:18] #3662 closed

[2021-02-25 10:27] tokers commented on #3616
The active health checker needs more times try to judge whether a node is healthy or unhealthy, not just one time.
See https://github.com/apache/apisix/blob/master/apisix/schema_def.lua#L134. You may tweak these args to see the change.

[2021-02-25 11:23] GBXing opened #3673 "request help: A node in the K8S environment ETCD cluster died, causing Apisix to fail"
### Issue description
Deploy Apisix and ETCD using K8S, configure 3 ETCD nodes by domain name in the Apisix configuration file, one of the ETCD nodes died, resulting in an Apisix error, the log indicates that the ETCD node domain name cannot be resolved.Is resty.etcd unable to determine if the configured nodes are normal?What's the solution

### Environment
* apisix version (cmd: `apisix version`)

[2021-02-25 11:47] nic-chen opened #3674 "When multiple plugins are configured in plugin_config, only one takes effect"
When I use Admin API to configure `plugin_config`, it works fine with multiple plugins.

Here is the data in ETCD that configured by Admin API:
[code]

However, this problem occurs when configure `plugin_config` by Manager API.

Here is the data in ETCD that configured by Manager API:
[code]

At first I thought it was because the Manager API did not automatically fill in the default value(`"reject

[2021-02-25 12:28] moonming commented on #3673
@Yiyiyimu will chaos mesh cover this？

[2021-02-25 12:34] Yiyiyimu commented on #3673
I'll make a test tomorrow

[2021-02-25 12:34] moonming commented on #3662
@Firstsawyou are you fix the rpm package issue？

[2021-02-25 12:59] #3094 closed

[2021-02-25 13:03] spacewander commented on #3673
Maybe we can enable this for APISIX: https://github.com/api7/lua-resty-etcd/pull/109

[2021-02-25 13:13] Yiyiyimu commented on #3673
@GBXing
You could give it a try on master branch (`apisix:dev` for docker tag) after #3676 got merged if it's urgent.
Or if it's more urgent you could try to [build docker image from local code](https://github.com/apache/apisix-docker#build-an-image-from-source) to have a test.

[2021-02-25 13:15] tzssangglass commented on #3663
There is such a case: route has a script, service has a plugin, route is bound to service, then the service's plugin needs to be executed?
@membphis

[2021-02-25 13:27] membphis commented on #3663
for your case, only `script` can be executed.

[2021-02-25 13:27] JanLi-air opened #3677 "bug: proxy-cache plugin has side-effect even if it's not configured in any route"
### Issue description
If proxy-cache is configured in plugin list, it will override Cache-Control and Expires headers from the upstream.
Problem is that even if proxy-cache is not configured in any route, those headers will still be overridden.
So we have a side effect for proxy-cache.

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS (cmd: `uname -a`): linux
* OpenResty / Nginx

[2021-02-25 13:29] membphis commented on #3677
it is not easy to fix this bug, I think it needs to change the Nginx core.

[2021-02-25 13:30] membphis commented on #3677
disable `proxy-cache` plugin is a simple way for most users

[2021-02-25 13:31] JanLi-air commented on #3677
Agree, but proxy-cache might be used in some scenarios. The fix might not be available to all users.

[2021-02-25 13:39] tzssangglass commented on #3663
got

[2021-02-25 14:26] Firstsawyou commented on #3662
No, rpm packages are normal.

[2021-02-25 14:43] moonming commented on #3662
Doesn't your issue say that there is a problem with the rpm package?

[2021-02-25 15:07] tuhaihe opened #3679 "bug: website homepage "Add your company" link 404 error"
### Issue description

when you click the link "Add your company" at the [APISIX homepage](http://apisix.apache.org/), it shows a 404 error.

### What's the expected result?

It should be linked to a correct file, I think it should be https://github.com/apache/apisix/blob/master/docs/en/latest/powered-by.md.

If it is, you can assign this issue to me. I would like to contribute one PR for this iss

[2021-02-25 15:11] Firstsawyou commented on #3662
That is the problem of recording user feedback. I tested it later and found that there was no problem. The user's access method is wrong, and I haven't updated it in time.

[2021-02-25 15:21] #3679 closed

[2021-02-26 01:07] spacewander commented on #3677
Similar like https://github.com/apache/apisix/issues/3373?

[2021-02-26 02:05] #3657 closed

[2021-02-26 02:11] spacewander commented on #3674
I try it at my side and can't reproduce it. My etcd data:

[code]

[2021-02-26 02:14] spacewander commented on #3674
Here is how I check it:
[code]

[2021-02-26 04:14] GBXing commented on #3673
@Yiyiyimu
I incorporated resty.etcd 1.4.4 into the  code test. The native works with IP configuration, but the domain name configuration in the K8S environment still gets an error：etcd-1.etcd.apisix.svc.cluster.local could not be resolved (3: Host not found)

[2021-02-26 04:20] thekingofworld opened #3683 "request help: error_log has garbled"
### Issue description
1. error_log has garbled
2. using uninitialized "uuid" variable error
### Environment

* apisix version (cmd: `apisix version`): 2.1
* OS (cmd: `uname -a`): linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.17.8.1

![image](https://user-images.githubusercontent.com/8169665/109254340-ca213480-782c-11eb-89ee-9cc0d92c6642.png)

![image](https://u

[2021-02-26 05:18] JanLi-air commented on #3677
Yes, seems the same

[2021-02-26 05:21] nic-chen commented on #3674
Thanks, I will check it again.

[2021-02-26 05:37] Firstsawyou commented on #3683
It is not affected by the warning log, and `using uninitialized` has been fixed, please see here: https://github.com/apache/apisix/pull/3641/files

[2021-02-26 05:44] thekingofworld commented on #3683
there's another error, why error_log has garbled?

[2021-02-26 06:18] Firstsawyou commented on #3683
This is related to your request data.

[2021-02-26 06:35] #3663 closed

[2021-02-26 07:26] yntor opened #3684 "request help: v2.3 dns端口如何修改"
版本2.3
由于consul dns默认端口为8600.apisix默认端口53。需要修改apisix配置。查看官方配置
[code]
 可以通过上面配置，但是dns端口配置没有说明。请帮忙看下怎么配置这个dns端口。

[2021-02-26 07:47] spacewander commented on #3677
Will you submit a fix? I have already provided a solution in that issue.

[2021-02-26 08:03] spacewander commented on #3684
Like this:
[code]

[2021-02-26 08:03] #3684 closed

[2021-02-26 09:58] tokers commented on #3673
@GBXing `etcd-1.etcd.apisix.svc.cluster.local` the FQDN seems not valid, what are the service name and the namespace.

[2021-02-26 10:00] tokers commented on #3683
@thekingofworld Seems like some binary protocol frames were sent to the HTTP port.

[2021-02-26 12:40] moonming opened #3688 "code style: avoid `from moudle_name import *` in fuzzing test of APISIX"
https://www.python.org/dev/peps/pep-0008/#imports

_Originally posted by @moonming in https://github.com/apache/apisix/pull/3667#discussion_r583597056_

[2021-02-26 13:18] Firstsawyou opened #3689 "docs: the prometheus.md grammar improve"
# Improve Docs

the `prometheus.md` doc is hard to read. We need to improve the grammar of some of its sentence.

E.g:  https://github.com/apache/apisix/pull/3494#discussion_r583421215

[2021-02-26 14:07] Bhanuji95 opened #3690 "Support for AzureAD/OIDC integration with APISIX"
Hello team,

We are trying to integrate our APIs authentication with AzureAD/OIDC using apisix, can you please let us know how we can achieve this?

[2021-02-26 17:31] tzssangglass opened #3692 "[discuss]: enable etcd health check"
### Issue description
I saw this issue #3673 and this pr  #3676.
I think it's time to enable the etcd health check feature.
by the way, **etcd's `host` configuration, if it is in the form of `ip:port`, the health check takes effect,** if it is in the form of domain, the health check fails because etcd's node is hidden behind the domain and cannot be distinguished, so use the FQDN of etcd in k8s do

[2021-02-27 01:31] tokers commented on #3690
@Bhanuji95 Currently we don't implement it. Would you please to submit a PR to achieve this? Thanks!

[2021-02-27 01:34] tokers commented on #3692
Yes, it just uses the FQDN since the underlying cosocket suite supports to resolve it according to the `resolver` directive in nginx.conf.

We may, resolving the FQDN (and cache it) by ourselves in the level of lua-resty-etcd.

[2021-02-27 02:48] nic-chen commented on #3239
@spacewander  @membphis @juzhiyuan @LiteSun

I tried to classify them, what do you think?

**auth**
basic-auth
hmac-auth
jwt-auth
key-auth

-- They are not related to consumers, but they also belong to the authentication category. How should we classify them?
authz-keycloak
openid-connect

**log**
error-log-logger
http-logger
kafka-logger
log-rotate
sls-logger
syslog
tcp-logger
udp-logger
wolf-rba

[2021-02-27 03:13] spacewander commented on #3690
What is the difference between the AzureAD/OIDC and the OIDC we currently support? Is there official documentation for AzureAD/OIDC?

[2021-02-27 03:13] spacewander commented on #3692
I think we need to resolve it in the APISIX side as lua-resty-etcd knows nothing about the resolver.

[2021-02-27 03:16] spacewander commented on #3239
I think we should define the category first.
What is the difference between `rewrite` and `traffic`?

[2021-02-27 03:26] Bhanuji95 commented on #3690
Hello @spacewander,

There is no difference between AzureAD and OIDC, also azuread uses oidc authentication mechanism. Let me try the oidc provided by apisix

[2021-02-27 04:10] tzssangglass commented on #3692
agree, etcd `host` is meant to be each node of etcd, not a cluster, and using a k8s domain is equivalent to configuring a unique etcd cluster address, which does not match the meaning of `host`, so perhaps we can add an attribute to support etcd cluster address configuration

[2021-02-27 05:18] spacewander commented on #3239
We already have defined the plugin category: https://github.com/apache/apisix/blob/master/docs/en/latest/README.md#plugins

[2021-02-27 07:03] nic-chen commented on #3239
oh, yes, thanks!
I will submit a PR to close this issue.

[2021-02-27 11:40] yangxikun opened #3695 "bug: upstream timeout not work"
### Issue description

error log: upstream timeout config is 6s

[code]

access log: request_time is 10.201

[code]

### Environment

* apisix version (cmd: `apisix version`): 2.2

[2021-02-27 12:35] membphis commented on #3670
please update your title, make a more meaningful

[2021-02-27 13:05] membphis opened #3696 "ci failed: should use the `skywalking` with the specified version"
"Unable to find image 'apache/skywalking-oap-server:latest' locally
docker: Error response from daemon: manifest for apache/skywalking-oap-server:latest not found: manifest unknown: manifest unknown"

https://github.com/apache/apisix/runs/1993910896#step:8:306

related issue: https://github.com/apache/skywalking/issues/6466

[2021-02-27 13:06] membphis commented on #3696
Skywalking image list:

https://hub.docker.com/r/apache/skywalking-oap-server/tags?page=1&ordering=last_updated

[2021-02-27 13:13] membphis commented on #3696
the latest doc of skywalking:

https://github.com/apache/skywalking-docker/blob/master/oap-server/README.md#start-a-standlone-container-with-h2-storage

we can follow this doc

[2021-02-27 13:28] membphis opened #3697 "docs(skywalking): Use the specified version of `skywalking` docker image"
here is the latest doc of skywalking:

https://hub.docker.com/r/apache/skywalking-oap-server

[2021-02-27 13:55] spacewander commented on #3692
For this case maybe we can resolve the domain each time before retry?

[2021-02-27 14:13] #3696 closed

[2021-02-27 14:14] spacewander commented on #3697
Consider solved

[2021-02-27 14:14] #3697 closed

[2021-02-27 15:59] Yiyiyimu commented on #3673
Hi @GBXing, I tried to reproduce the problem, and the result seems a bit different from what you get. My reproduce step is:

1. Configure etcd host with domain name:

[code]

2. Setup APISIX and everything works as expect
3. Kill leader/follower pod of etcd ( gives me the same result ), and the error log would produce:

[code]

    With etcd-operator, etcd got unreachable for seconds and returned

[2021-02-27 17:51] GBXing commented on #3673
@tokers service name is etcd,namespace is apisix, other nodes can be accessed normally

[2021-02-27 17:53] GBXing commented on #3673
@Yiyiyimu I may be using it in a wrong way, do I need to add any additional configuration in config.yaml for the health check of  etcd?

[2021-02-27 23:50] moonming commented on #3673
v3.lua:593: attempt to index field 'result' (a nil value)

is this a bug of apisix？

GBXing <notifications@github.com>于2021年2月28日 周日上午1:53写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2021-02-28 02:35] nic-chen commented on #3674
@spacewander
I rechecked it today and found that it was an incremental synchronization problem, not a problem of multiple plugins.

Sorry for misleading.

Please take a look at that pr when you have time, thanks.

[2021-02-28 07:09] tzssangglass commented on #3692
Maybe we can do it, but I think we can also do without. My point is: if you configure the `domain`, then the component responsible for domain resolution should also provide the ability to health check, and it should always return the `ip` of a healthy instance under that domain.

I'm not sure if this is a correct point, just a perception.

[2021-02-28 09:52] w7team opened #3702 "bug: k8s下建立的etcd服务地址，apisix无法解析"
`bash-5.0# curl http://127.0.0.1:9090/v1/server_info`
{"id":"4ea26d5c-1df7-42aa-a7a1-731b15dd9e39","hostname":"apisix-server-7c5fddf5fc-cvjvr","boot_time":1614505444,"etcd_version":"unknown","up_time":154,"last_report_time":-1,"version":"2.3"}

`bash-5.0# curl "http://127.0.0.1:9080/apisix/admin/services/" -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1'`
{"error_msg":"etcd.etcd could not be resol

[2021-02-28 10:59] GBXing commented on #3673
@moonming Yes, the etcd cluster outputs the exception log after the nodes are paused
`2021/02/28 10:21:59 [error] 54#54: *13 [lua] config_etcd.lua:566: failed to fetch data from etcd: /usr/local/apisix//deps/share/lua/5.1/resty/etcd/v3.lua:649: attempt to index field 'result' (a nil value)
stack traceback:
	/usr/local/apisix//deps/share/lua/5.1/resty/etcd/v3.lua:649: in function 'res_func'
	/usr/l

[2021-02-28 11:13] GBXing commented on #3673
I used docker locally to start the etcd cluster and Apisix and pause one of the etcd nodes, just like the k8s environment

its my exception log:

	2021/02/28 10:21:59 [error] 54#54: *13 [lua] config_etcd.lua:566: failed to fetch data from etcd: /usr/local/apisix//deps/share/lua/5.1/resty/etcd/v3.lua:649: attempt to index field 'result' (a nil value)
	stack traceback:
		/usr/local/apisix//deps/shar

[2021-03-01 00:31] tokers commented on #3702
@w7team What's your APISIX version?

[2021-03-01 00:39] tokers commented on #3673
Then you just need `etcd.apisix.svc.cluster.local` to access the etcd cluster, the `etcd-1.etcd.apisix.svc.cluster.local` is invalid, neither it's a POD domain name nor a SRV record.

[2021-03-01 00:47] spacewander commented on #3702
It seems you add this domain via /etc/hosts? A regular k8s service address is like `xxxx.svc.cluster.local:2379`.

[2021-03-01 00:50] spacewander commented on #1304
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-03-01 00:51] spacewander commented on #1315
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-03-01 00:51] spacewander commented on #1326
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-03-01 00:51] spacewander commented on #1379
This issue is marked as stale because it has not had activity for a long time. It will be closed in the next 7 days unless the label "stale" is removed. Thank you for your contributions.

[2021-03-01 00:57] tokers commented on #1304
@agile6v Try to set the `proxy_temp_path` to /dev/shm or other tmpfs file systems can be an alternative way to implement the memory-based proxy cache.

[2021-03-01 01:00] tokers commented on #3695
@yangxikun I'm afraid that you have a cognitive misunderstanding about the timeouts. The timeouts (read, send connect) are used to limit the time between two networking packages can be sent or read, not the whole duration for an operation.

[2021-03-01 01:05] spacewander commented on #3692
I doubt if it is a good idea to combine the health check with domain resolution, as the health check methods are various and can't detect the healthy one immediately.

[2021-03-01 01:10] #3611 closed

[2021-03-01 01:12] #3695 closed

[2021-03-01 01:18] spacewander commented on #986
Can be solved with plugin orchestration.

[2021-03-01 01:18] #986 closed

[2021-03-01 01:24] tzssangglass commented on #3692
yes, you are right
only when operating etcd do we know if the node is healthy or not

[2021-03-01 01:25] tokers commented on #3673
As per https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-hostname-and-subdomain-fields, the FQDN has `A/AAAA` record only if the pod has `hostname` and `subdomain` fields and the `subdomain` has the same value to the headless service, I'm not sure whether you set these in etcd's Statefulset templates fields.

[2021-03-01 03:47] gxthrj opened #3704 "[DISCUSS] Use label instead of ID"
Currently APISIX contains many objects, route/service/upstream/plugin, and they are related by ID.
Although using ID to manager relations between objects is easy to understand and can accomplish most things, but I think the way of ID is not a final solution, we should use the form of label-selector to associate objects.

There are two reasons:

1. Using ID means adding a relationship, or an object

[2021-03-01 03:57] spacewander commented on #3704
Also it is very slow at the runtime, as the label match is a slow operation and almost impossible to cache.

I think we can resolve it in the CP side and just use the resolved id in the DP side.

[2021-03-01 04:13] gxthrj commented on #3704
Yes, CP should support this feature.

[2021-03-01 04:20] nic-chen commented on #3594
Currently, plugin `jwt-auth` does not pass consumer info to the back-end service.
But it should be simple to implement such a feature, we could refer to: https://github.com/apache/apisix/blob/master/apisix/plugins/openid-connect.lua#L317-L318

[2021-03-01 04:22] gxthrj commented on #1315
Sorry about that I forgot this issue. I will re-create a PR .

[2021-03-01 06:40] juzhiyuan opened #3708 "update User Wall picture in README"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, we have more than 40 users who are using Apache APISIX since the last update, it's time to update the User Wall picture in README, anyone would like to have a try on this good first issue?

[1] https://github.com/apache/apisix/blob/master/docs/en/latest/powered-by.md

## Describe the solution you'd like

1.

[2021-03-01 06:43] #3674 closed

[2021-03-01 06:54] iamayushdas commented on #3708
working on  it!

[2021-03-01 06:59] juzhiyuan commented on #3708
OK!

[2021-03-01 07:00] juzhiyuan commented on #3708
You could find their logos here https://apisix.apache.org/

![image](https://user-images.githubusercontent.com/2106987/109462667-d280a600-7a9e-11eb-8b10-f5f4c496c2c9.png)

[2021-03-01 07:03] juzhiyuan commented on #3708
Not sure if GitHub has some tools like Pictures Wall Auto generator 🤔

[2021-03-01 07:11] juzhiyuan opened #3709 "update Slack invitaion link"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, the Slack invitation link in the README.md[1] file is incorrect, it needs a special email address ends with apache.org.

[1] https://github.com/apache/apisix/edit/master/README.md

## Describe the solution you'd like

Use this invitation instead, it's my personal invitation link and will not expire.

Link:

[2021-03-01 07:12] Yiyiyimu commented on #3673
is this a bug of apisix？

Yes I do think so, we missed some test coverage, so no related error messages are prepared for this

[2021-03-01 07:13] Yiyiyimu commented on #3673
@GBXing Got it, the error log is the same. Could you also show your `config.yaml`?

[2021-03-01 07:14] Yiyiyimu commented on #3673
Hi @tokers it seems @GBXing deploy etcd with docker but not k8s, so that might not be the solution

[2021-03-01 07:22] tokers commented on #3673
I see, but that the case I'm confusing on 😂

[2021-03-01 07:59] idbeta commented on #1806
I think this issue can be closed now. @spacewander

[2021-03-01 07:59] #1806 closed

[2021-03-01 08:08] spacewander commented on #2470
Consider solved

[2021-03-01 08:08] #2470 closed

[2021-03-01 08:16] iamayushdas commented on #3708
done!

[2021-03-01 08:17] iamayushdas commented on #3708
i am also not aware of any

[2021-03-01 08:44] idbeta commented on #1479
In the [latest docker version](https://github.com/apache/apisix-docker/tree/master/example), this problem can no longer be reproduced, so I think it can be closed now. @xuliangyong @spacewander

[2021-03-01 08:45] juzhiyuan opened #3711 "improve screenshots in docs"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, I noticed that there have some screenshots from the v1 dashboard, does anyone would like to take some screenshots from the v2.x dashboard[2]?

[1] https://apisix.apache.org/docs/apisix/plugins/jwt-auth
[2] https://github.com/apache/apisix-dashboard

[2021-03-01 08:49] idbeta commented on #2258
@lifehacking any update?

[2021-03-01 08:52] #1479 closed

[2021-03-01 11:13] idbeta commented on #2199
In the latest dashboard version, the plugin can be set up through codemirror, and there is also a link for the plugin setting document, and there are also prompt messages for the setting errors of the consumer and plugin, so I think this issue has been fixed. If there are better suggestions, I should it be a new issue. @juzhiyuan @spacewander

[2021-03-01 11:19] idbeta commented on #3340
We have used `boofuzz` to perform fuzzy tests on APISIX. For specific usage, please refer to [official documents ](https://boofuzz.readthedocs.io/en/stable/)and existing examples (t/fuzzing). The community is also welcome to continue to propose better fuzzing methods and tools, I closed this issue.

[2021-03-01 11:19] #3340 closed

[2021-03-01 12:51] GBXing commented on #3673
@Yiyiyimu I use version 2.2 of default-config.yaml, this is my config.yaml:

	apisix:
	  node_listen: 9080                # APISIX listening port
	  enable_admin: true
	  enable_admin_cors: true          # Admin API support CORS response headers.
	  enable_debug: false
	  enable_dev_mode: true           # Sets nginx worker_processes to 1 if set to true
	  enable_reuseport: true           # Enable

[2021-03-01 13:19] Yangzcy423911 commented on #3643
Turn on the time check, the request has been failed, the status code is 401

[2021-03-01 13:22] Yangzcy423911 commented on #3643
clock_skew set to 300 ，How to understand the meaning of this field。
After the field is set, the gateway returns 401 all the time, and after closing time verification, the request succeeds. In this case, how to troubleshoot the problem

[2021-03-01 13:52] juzhiyuan commented on #2199
Hi, in Dashboard we will use Plug-in Editor to operate plug-in data for now. We may support form when it's ready.

[2021-03-01 13:52] #2199 closed

[2021-03-01 13:52] Firstsawyou commented on #3643
`clock_skew` is the time offset, which means that according to your current request `Date` (GMT), your request is normal within the time of `Date` + 300 seconds, when it exceeds the time of `Date` + 300, your request will fail.

[2021-03-01 14:19] juzhiyuan opened #3717 "upgrade SkyWalking plugin"
Hi, the SkyWalking has released Lua Nginx 0.4.0, we should upgrade plugin's version.

[1] https://skywalking.apache.org/events/release-apache-skywalking-lua-nginx-0.4.0/

[2021-03-01 14:21] stu01509 commented on #3717
Hi @juzhiyuan

I'm interested in this issue, Could you guide me how to approach this issue?

[2021-03-01 14:21] juzhiyuan commented on #3717
Just to make sure, please have a check that if we should update this file: https://github.com/apache/apisix/blob/master/apisix/plugins/skywalking.lua

cc @spacewander

[2021-03-01 14:26] juzhiyuan commented on #3717
Ya, and please be patient to wait for more confirm, about how to implement this issue :)

[2021-03-01 14:42] moonming commented on #3717
Just upgrade version number of skywalking lua lib in "rockspec/apisix-master-0.rockspec"

[2021-03-01 15:53] membphis commented on #1315
The priority of this issue is low.

[2021-03-02 00:31] Yangzcy423911 commented on #3643
When the on time offset, the request will always fail, the gateway test time, because the signature string contains time, the request time and the gateway time is not consistent, the resulting signature will be different, the request failure occurs

[2021-03-02 01:07] ShaoZeMing opened #3719 "I switched the resolver to lua-resty-dns-client， I found a problem. At present, after using this dns client, upstream services can implement dns search, but in plugins, when resty.http is used to generate requests, dns search cannot be implemented. Is there a way to deal with this?"
I switched the resolver to lua-resty-dns-client， I found a problem. At present, after using this dns client, upstream services can implement dns search, but in plugins, when resty.http is used to generate requests, dns search cannot be implemented. Is there a way to deal with this?

_Originally posted by @ShaoZeMing in https://github.com/apache/apisix/issues/3442#issuecomment-787993963_

[2021-03-02 01:08] ShaoZeMing opened #3720 "I switched the resolver to lua-resty-dns-client， I found a problem. At present, after using this dns client, upstream services can implement dns search, but in plugins, when resty.http is used to generate requests, dns search cannot be implemented. Is there a way to deal with this?"
I switched the resolver to lua-resty-dns-client， I found a problem. At present, after using this dns client, upstream services can implement dns search, but in plugins, when resty.http is used to generate requests, dns search cannot be implemented. Is there a way to deal with this?

_Originally posted by @ShaoZeMing in https://github.com/apache/apisix/issues/3442#issuecomment-787993963_

[2021-03-02 01:35] juzhiyuan commented on #3717
@stu01509 Hi, I just updated the first comment, we only need to upgrade this version[1] to `0.4.0`

[1] https://github.com/apache/apisix/blob/master/rockspec/apisix-master-0.rockspec#L57

[2021-03-02 02:01] pengtaochang opened #3722 "allow using regex in the redirect plugin"
### Issue description
I can't find how to config apisix to support regular matching in uri. The nginx configuration is as follows:
[code]

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):ubantu
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from serve

[2021-03-02 02:27] iamayushdas commented on #3711
i am not sure what to do in this actually? where to put the screenshots?
@juzhiyuan

[2021-03-02 02:31] stu01509 commented on #3671
Hi @moonming

I want to solve this issue, just only add the command below?
[code]

[2021-03-02 02:46] stu01509 commented on #3397
Hi @juzhiyuan

Please assign this issue to me.

[2021-03-02 02:56] starsz commented on #3397
Sure. Much appreciated.

[2021-03-02 03:00] Firstsawyou commented on #3722
You can use the combination of `uri` and `vars` of APISIX route to achieve regular matching of `uri`.

[2021-03-02 03:04] spacewander commented on #3720
Duplicate of #3719

[2021-03-02 03:04] #3720 closed

[2021-03-02 03:08] moonming commented on #3671
yes, you are right.

[2021-03-02 03:14] spacewander commented on #3719
Maybe we can patch the cosocket: https://github.com/Kong/kong/blob/23ffc3cfe98bb3c13d44653f3c3adcfc392779ae/kong/globalpatches.lua#L339

[2021-03-02 03:25] juzhiyuan commented on #3711
like this: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/key-auth.md

![image](https://user-images.githubusercontent.com/2106987/109592240-e46b5300-7b49-11eb-9777-a4894e84ce5a.png)

This screenshot is out of date, we need to take some new screenshots from http://139.217.190.60/

[2021-03-02 03:26] juzhiyuan commented on #3397
duplicate with https://github.com/apache/apisix/issues/3711#issuecomment-788550616

[2021-03-02 03:26] #3397 closed

[2021-03-02 03:26] juzhiyuan commented on #3397
@stu01509 Hi, you could take a look at #3711

[2021-03-02 03:31] stu01509 commented on #3711
Hi @iamayushdas

Are you working on this issue? If not I would like to solve it.

[2021-03-02 03:31] pengtaochang commented on #3722
I don’t understand what you mean, you can post a link to the document or some demo, thank you very much！

[2021-03-02 03:33] iamayushdas commented on #3711
Yes i am

[2021-03-02 04:29] #3709 closed

[2021-03-02 05:24] Firstsawyou commented on #3722
This is an example, you can refer to it:

[code]
You can refer to here for the detailed usage of vars: https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#route

[2021-03-02 07:08] rockXiaofeng opened #3725 "request help: about dubbo proxy"
### Issue description
client: curl
gateway: Apisix/2.3
provider server: helloworld/dubbo/go-server/app (http://github.com/dubbogo/dubbo-samples)
Refer to this document: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/dubbo-proxy.md to configure upstream and router, the provider configuration is as follows(test/server.yml):

application:
  organization : "ikurento.com"
  name :

[2021-03-02 07:34] spacewander commented on #3725
What's the **full** output of `openresty -V`?

[2021-03-02 07:44] rockXiaofeng commented on #3725
nginx version: openresty/1.19.3.1
built by clang 12.0.0 (clang-1200.0.32.29)
built with OpenSSL 1.1.1d  10 Sep 2019
TLS SNI support enabled
configure arguments: --prefix=/usr/local/openresty/nginx --with-cc-opt=-O2 --add-module=../ngx_devel_kit-0.3.1 --add-module=../echo-nginx-module-0.62 --add-module=../xss-nginx-module-0.06 --add-module=../ngx_coolkit-0.2 --add-module=../set-misc-nginx-module-0.

[2021-03-02 07:50] rockXiaofeng commented on #3725
Why does dubbo proxy do not need to configure the registry to obtain provider metadata information? I am puzzled about the processing of parameter mapping. Can you answer the principle?

[2021-03-02 08:03] spacewander commented on #3725
Well, the dubbo proxy code is taken and optimized from Tengine. As Tengine doesn't support dubbo registry, we don't support dubbo registry. The dubbo registry has its own protocol, which is complex. As we can configure the upstream info dynamically so this feature is not so urgent.

[2021-03-02 08:05] spacewander commented on #3725
I can't reproduce it with your configuration. Have you enabled the dubbo-proxy plugin? What is your generated nginx.conf?

[2021-03-02 08:21] Yiyiyimu opened #3726 "[Discuss] standardize release guide & branch/tag relations"
Currently in apisix/apisix-dashboard/apisix-ingress-controller, we have three different types of branch/tag naming format. Let's say for version 1.0:

| repo               | branch | tag   | notes                               |
| ------------------ | ------ | ----- | ----------------------------------- |
| apisix             | v1.0   | 1.0   | tags before 1.0 are in format `1.0` |
| dashboard

[2021-03-02 09:09] belongwqz opened #3727 "request help: How do I know which node the response came from"
### Issue description
How do I know which node the response came from, for example:
The upstream have tow nodes(node1 and node2), how can I judge if the response comes from node1 or node2(such as the response has a cookie `server:node1`)?
Which plugin can I use?

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `open

[2021-03-02 09:23] juzhiyuan opened #3728 "docs: invalid link to CHANGELOG"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, I just noticed there has a broken link to CHANGELOG.

## Describe the solution you'd like

1. visit https://github.com/apache/apisix/blob/master/docs/en/latest/config.json#L158
2. use the correct link `https://github.com/apache/apisix/blob/master/CHANGELOG.md`

[2021-03-02 09:24] juzhiyuan opened #3729 "docs: invalid link to CODE_STYLE #3728"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, I just noticed there has a broken link to CODE_STYLE.

## Describe the solution you'd like

1. visit https://github.com/apache/apisix/blob/master/docs/en/latest/config.json#L145
2. use the correct link https://github.com/apache/apisix/blob/master/CODE_STYLE.md

[2021-03-02 09:34] pengtaochang commented on #3722
I understand the method to match route through vars regular. I still need to know the regualr value so that I redirect to another uri.Could you gave some tips? thank you very much！

[2021-03-02 09:36] juzhiyuan opened #3730 "docs: use markdown way to import images"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, when visiting https://apisix.apache.org/docs/apisix/architecture-design , I noticed that there have some broken images 🤔 After @qier222 's search, he found that that's due to in the original markdown file, it's using `<img src="xxx" />` to import images.

## Describe the solution you'd like

1.  visit https

[2021-03-02 09:57] #3188 closed

[2021-03-02 09:58] spacewander commented on #3189
Consider solved

[2021-03-02 09:58] #3189 closed

[2021-03-02 10:00] spacewander commented on #3063
Closed as lack of response.

[2021-03-02 10:00] #3063 closed

[2021-03-02 10:03] Firstsawyou commented on #3722
Try to use it with the `regex_uri` of the `proxy-rewrite` plugin?

[2021-03-02 10:03] spacewander commented on #2184
Closed as lack of response.

[2021-03-02 10:03] #2184 closed

[2021-03-02 10:06] spacewander commented on #2167
Solved by `extra_lua_path`.
See: https://github.com/apache/apisix/blob/master/docs/en/latest/plugin-develop.md#where-to-put-your-plugins

[2021-03-02 10:06] #2167 closed

[2021-03-02 10:17] stu01509 commented on #3730
Please assign this issue to me.

[2021-03-02 10:18] stu01509 commented on #3729
Please assign this issue to me.

[2021-03-02 10:18] stu01509 commented on #3728
Please assign this issue to me.

[2021-03-02 10:18] juzhiyuan commented on #3730
ok!

[2021-03-02 10:23] juzhiyuan commented on #3728
Hi, please resolve other issues first 😂

[2021-03-02 10:23] juzhiyuan commented on #3729
Hi, please resolve other issues first 😂

[2021-03-02 10:24] rockXiaofeng commented on #3725
nginx.conf:
# Configuration File - Nginx Server Configs
# This is a read-only file, do not try to modify it.

master_process on;

worker_processes auto;

# main configuration snippet starts

# main configuration snippet ends

error_log logs/error.log warn;
pid logs/nginx.pid;

worker_rlimit_nofile 20480;

events {
    accept_mutex off;
    worker_connections 10620;
}

worker_rlimit_core  16G;

wor

[2021-03-02 10:42] sukhpreet-singh1 commented on #3729
can you please assign me this?

[2021-03-02 10:43] sukhpreet-singh1 commented on #3728
can you please assign me this issue.

[2021-03-02 10:47] Firstsawyou commented on #3727
I think you can try to use the `kafka-logger` plugin, which will record upstream node information in its `default` format log. Or use the `http-logger` plugin to define `$upstream_addr` in the custom log format to record upstream node information.

[2021-03-02 10:59] chenyicai opened #3732 "bug: plugin ip-restriction cannot work on HTTPS"
### Issue description
When i enabled plugin ip-restriction ,config blacklist
Visit http domain(eg:http://www.xxx.com) name response
{"message":"Your IP address is not allowed"}

But when i visit https://www.xxx.com it works well , my ip is allowed

### Environment

* apisix version (cmd: `apisix version`): 2.1
* OS (cmd: `uname -a`): Linux ali_prod_apisix_srv01 4.4.0-201-generic #233-Ubuntu SMP Th

[2021-03-02 11:19] Firstsawyou commented on #3732
Do both `http://www.xxx.com` and `https://www.xxx.com` resolve to the same IP address?

[2021-03-02 11:42] chenyicai commented on #3732
yes !They resolve to the same IP address.

[2021-03-02 11:45] chenyicai commented on #3732
I only have one A record , the ssl certificate used in alibaba cloud slb

[2021-03-02 12:16] stu01509 commented on #3730
Hi @juzhiyuan

I found these pictures have the width and height property, If we change to the markdown syntax their height and width will be change, so should I convert it?

[2021-03-02 13:08] juzhiyuan commented on #3730
It's ok to have no dimension IMO, I would recommend users visit them in doc site :)

What's your opinion @spacewander @imjoey

[2021-03-02 13:09] juzhiyuan commented on #3728
Hi @sukhpreet-singh1, this one is resolved by @stu01509 :) you could find more good first issue here 😊

[2021-03-02 13:10] juzhiyuan commented on #3729
Hi, this one is taken by others. You could resolve other issues :)

[2021-03-02 13:51] sukhpreet-singh1 commented on #3729
Who had taken this?

[2021-03-02 14:06] tokers commented on #3732
Could you give more details about your configuration and request/response context.

[2021-03-02 14:53] ShaoZeMing commented on #3719
I think this can also be used as a reference：

[code]
https://www.kancloud.cn/kancloud/openresty-best-practices/50474

[2021-03-02 15:41] #3729 closed

[2021-03-02 15:41] #3728 closed

[2021-03-03 00:23] belongwqz commented on #3727
I mean the upstream info added in the response, not in other log, maybe we need a new plugin, modify the response like `response-rewrite`.

[2021-03-03 01:03] imjoey commented on #3730
@juzhiyuan +1 for no dimension. Probably we care more about the content than the style in markdown. 😄

[2021-03-03 01:53] Yiyiyimu opened #3734 "test unstable: t/plugin/request-id.t"
[code]

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`): ubuntu 18.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.17
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.4.0

[2021-03-03 02:08] Yiyiyimu commented on #3447
Thanks to @nic-chen, the reason is that I use a dummy but existed URL `foo.com` as upstream. Built a local server fixed this problem

[2021-03-03 02:08] #3447 closed

[2021-03-03 02:28] Firstsawyou commented on #3727
Got it. I think there is no need to add a new plugin, it should be implemented in the response-rewrite plugin.
@spacewander  What do you think?

[2021-03-03 02:39] pengtaochang commented on #3722
I have used the proxy-rewrite plugin. It can redirect to right page in apisix and return right html file. But, the client Browser need to redirect to another path so that display correctly.  I have read the doc of response-rewrite, but I still can't find how to get regular value in uri.

[2021-03-03 02:50] #3708 closed

[2021-03-03 03:12] xvjialing opened #3735 "request help: discovery setting in dashboard"
### Issue description
You can add service discovery settings in the dashboard interface, such as eureka, consul, nacos
### Environment

* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): ubuntu 16.0.4
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version: 3.4.9
* apisix-dashboard version, 2.3

[2021-03-03 03:29] spacewander commented on #1533
Is it still on the roadmap? As summer 2020 has been passed.

[2021-03-03 03:30] spacewander opened #3736 "Support Nacos in a native way"
See https://issues.apache.org/jira/browse/APISIX-11

[2021-03-03 03:39] moonming commented on #1533
@juzhiyuan is dashoard debug feature support this?

[2021-03-03 03:39] juzhiyuan commented on #3726
Hi @imjoey @membphis @pahud @tokers, we are reviewing the release process, please take a look at this issue when you have time :)

[2021-03-03 04:09] juzhiyuan commented on #1533
Hi @membphis, we have supported the first three steps, as for `show the running step detail info about this API`, I need to consider this one with @liuxiran. We could close this issue now, let me create a new one at Dashboard to track.

[2021-03-03 04:10] #1533 closed

[2021-03-03 04:22] spacewander commented on #3725
Strange. There is definitely a `set $dubbo_service_name          '';` in the nginx.conf...
The generated configuration is almost mine but I can't reproduce it.

[2021-03-03 05:40] #3625 closed

[2021-03-03 06:27] tokers commented on #3727
These headers can be controlled in the core. It's not related with response-rewrite.

[2021-03-03 06:28] tokers commented on #3722
That's not rewrite, that's redirect.

[2021-03-03 06:38] tokers commented on #3726
Personally, I prefer the `release/` branch, it has significant difference with tag, while `va.b.c` is more confused.

[2021-03-03 06:38] tokers commented on #3726
I think it's a clear way, agree it + 1.

[2021-03-03 06:43] rockXiaofeng commented on #3725
Maybe you can try to use dubbo-go's example to start the provider ?
(helloworld/dubbo/go-server/app (http://github.com/dubbogo/dubbo-samples)

[2021-03-03 07:06] DHB-liuhong opened #3739 "bug: Ssl certificate domain access issue"
### Issue description
Why restrict "." in sni/snis?

### Environment

* apisix version (cmd: `apisix version`): 2.1 or master
* OS (cmd: `uname -a`):  centos7
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Minimal test code

[2021-03-03 07:16] rockXiaofeng commented on #3725
We tried again not long ago, and the configuration was the same as yesterday. This time we got 504 Gateway Time-out. The error.log information is as follows:
[code]

The provider server error log:
[code]

[2021-03-03 07:37] Firstsawyou opened #3740 "bug: the traffic-split plugin is invalid to bind upstream via upstream_id"
### Issue description

When both the routing and traffic-split plugins use upstream_id to bind upstream, the request distribution is not accurate.

1、add route and bind plugin

The upstream_id is 1, the response data is 1980, and the upstream_id is 2 the response data is 1981.

[code]

2、Test plugin

The vars rule passes:
[code]

The vars rule failed：

[code]

The vars rule passes:
[code]

The var

[2021-03-03 07:37] pengtaochang commented on #3722
Yes, that's redirect with uri matching  parameters. I also read the doc of redirect. It doesn't look like it's supported

[2021-03-03 07:38] pengtaochang commented on #3722
This is a common feature and hopefully can be supported later

[2021-03-03 07:39] pengtaochang commented on #3722
Now, I have to change the code of ngx_tpl.lua.

[2021-03-03 07:57] iamayushdas commented on #3711
http://139.217.190.60/ - link is not loading @juzhiyuan

[2021-03-03 08:36] soulsoul commented on #3730
maybe we should change the regex expression of replacement .  just repalce the url is OK.

[2021-03-03 08:45] qier222 commented on #3730
Agree

[2021-03-03 08:50] #3739 closed

[2021-03-03 09:04] nic-chen commented on #3643
Two solutions:
1. turn it off
2. Keep time consistent

[2021-03-03 09:06] Yangzcy423911 commented on #3643
OK, I Know

[2021-03-03 09:06] #3643 closed

[2021-03-03 10:01] starsz commented on #3726
[code]
Is it necessary？ Kong, Envoy, Kubernetes keep the branch and Skywalking delete it.

[2021-03-03 10:22] Yiyiyimu commented on #3726
The reason they keep the branches is they still maintain the branches, cherry-pick/backport the bugfix to the release branches. While we do not, like what skywalking does.  And I think the reason we choose this is kind of since the Apache release process is more strict 😬

[2021-03-03 10:31] starsz commented on #3726
Got it.Thank you for your explanation 😄.
Agree +1.

[2021-03-03 11:08] imjoey commented on #3726
@Yiyiyimu thank you very much for this awesome proposal.

Personally, I would prefer:

- `release/1.0` is better than current `1.0` as the release branch name
- agreed with @Yiyiyimu that tag the release on the release PR

Any feedback is welcome.

I also got confused before, thanks for the explanations. Thanks.

[2021-03-03 14:50] tzssangglass commented on #3740
[code]
should be
[code]

the type of `upstream_id` is number but not string.

by the way, it is an interesting bug
I added a debug log
[code]
between the line 71 and the line 72 https://github.com/apache/apisix/blob/a97ba0ddf7ce8c0aca2374b774f1da8f98913a09/apisix/http/route.lua#L70-L73

I found that when the bug appeared, the `upstream_id` changed from `1` to `2`.

I don't know what caused the cha

[2021-03-03 15:01] tzssangglass commented on #3740
I was wrong, according to the documentation, the type of `upstream_id` can be string or integer

[2021-03-03 15:02] #3734 closed

[2021-03-03 16:34] tzssangglass commented on #3740
here are the reasons for the bugs I found:
1. the first time execute `curl http://127.0.0.1:9080/hello`, the match rule is verified, and will go to this line https://github.com/apache/apisix/blob/0d40f81259dfc5f18b45579cbc456dbb28b20311/apisix/plugins/traffic-split.lua#L323
2. then `upstream_id` changed from `1` to `2`
3. this change modifies the `ctx.matched_route` table, which is not held by `ap

[2021-03-03 21:01] adithyaakrishna commented on #487
Can I Work on this @juzhiyuan ? 😶

[2021-03-04 00:17] stu01509 commented on #3671
Thanks, I would like to fix this issue.

[2021-03-04 00:33] stu01509 commented on #487
Hi @adithyaakrishna

I think it isn't an issue, it may like a comment board provider for the APISIX user to write they are using the APISIX now.

[2021-03-04 01:11] tokers commented on #3740
@tzssangglass Would you like to submit a PR to solve this issue? Thanks!

[2021-03-04 01:39] tzssangglass commented on #3740
assigned to me

[2021-03-04 02:02] simeon49 opened #3744 "bug: "could not be resolved (3: Host not found)" error in docker-compose env"
### Issue description
最近在使用APISIX 的服务比较频繁的报 "{'http_status_code': 500, 'content': {'error_msg': 'etcd could not be resolved (3: Host not found)'}}" 错误, 我们的环境是通过docker-compose 启动, 注意: 这个在服务运行过程中不是一直包错, 而是比较频繁报这个错误

### Environment

* apisix version (cmd: `apisix version`): apisix   2.0  (docker image)
* OS (cmd: `uname -a`): Ubuntu 18.04
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V

[2021-03-04 02:15] spacewander commented on #3725
I submitted a bug report to dubbo-go previously: https://github.com/apache/dubbo-go/issues/993

[2021-03-04 02:36] spacewander commented on #3744
There is not `http_status_code` in APISIX. Make sure the error message is *really* come from APISIX.

[2021-03-04 02:51] simeon49 commented on #3744
this error come from an other service witch use apisix, the response of apisix is {'error_msg': 'etcd could not be resolved (3: Host not found)'} with 500 http error code

[2021-03-04 03:06] spacewander commented on #3744
Got it. APISIX doesn't support resolving etcd's domain from /etc/hosts yet.
Maybe you can use `docker network` and configure an IP for the etcd?

[2021-03-04 03:27] simeon49 commented on #3744
"etcd" not in /etc/hosts, I use docker network with name "dev-network"

[2021-03-04 04:09] starsz commented on #3740
Thank you very much.

[2021-03-04 04:16] spacewander commented on #3744
So where you put the `etcd-node2`? It is not a domain name.
And I can even understand which host is not found. Sometimes you say it is `etcd-node2` but sometimes you say it is `etcd`.

[2021-03-04 04:32] Firstsawyou opened #3749 "docs: update the limit-conn.md doc"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

The description of the default_conn_delay field of the limit-conn plugin ["the default processing latency of a typical connection (or request)."] is ambiguous, and we need a clearer explanation.

## Describe the solution you'd like

The description of default_conn_delay is changed to the following to make it cl

[2021-03-04 04:59] Firstsawyou commented on #3749
There is already a `PR` in repair： https://github.com/apache/apisix/pull/3750

[2021-03-04 05:06] spacewander commented on #3744
AFAIK, docker compose will inject those names into containers' /etc/hosts.
And you can assign a static IP in docker compose.

[2021-03-04 06:08] apchee opened #3751 "bug: /usr/local/apisix/apisix/cli/apisix.lua:31: module 'apisix.cli.env' not found"
### Issue description
[code]

### Environment

* apisix version (cmd: `apisix version`):
* OS: CentOS 7, 3.10.0-1160.15.2.el7.x86_64 #1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version: openresty/1.19.3.1
* etcd version: 3.4.13
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce the issue

1. Install APISIX from source code
2.

[2021-03-04 06:10] apchee commented on #3751
[code]

[2021-03-04 06:12] libeio opened #3752 "request help: error occured at start-up time of apisix(installed mode: compiling)"
### Issue description
error occured at start-up time of apisix(the apisix and its dependency, like openresty, openssl, zlib, installed by compiling)

### Environment

* apisix version (v2.3):
* OS (kernel: 4.18.0-240.el8.x86_64   release: CentOS Linux release 8.3.2011):
* OpenResty / Nginx version (v19.3.1):
* etcd version, if have (etcd-v3.4.13-linux-amd64):
* lua(5.1.5)
* openssl(1.1.0l)
* zlib(

[2021-03-04 06:18] chenyuezhou opened #3753 "request help: about proxy-mirror plugin"
### Issue description

Dose proxy-mirror support set mirror rate?

### Environment

* apisix version: `2.3`
* OS: `Linux-5.4.80`
* OpenResty / Nginx version:
[code]
* etcd version:
[code]
* apisix-dashboard: nope

[2021-03-04 06:46] spacewander commented on #3751
If you install APISIX from source, run `./bin/apisix start` instead. All our docs mention that `./bin/apisix start` instead of `apisix start`.

[2021-03-04 06:46] #3751 closed

[2021-03-04 06:51] spacewander commented on #3751
Please read the https://github.com/apache/apisix#configure-and-installation, "Source code compilation"

[2021-03-04 07:03] spacewander commented on #3752
The error message shows that it failed to mmap enough space for jit stack.

Does it happen each time? Does it happen in other machines?

[2021-03-04 07:21] libeio commented on #3752
### Procdure

Apisix run in the machine CentOS 8.1 and this error occured every time。

[2021-03-04 07:54] spacewander commented on #3752
I just try it in the CentOS 8, with the official OpenResty rpm and https://github.com/apache/apisix/releases/download/2.3/apisix-2.3-0.x86_64.rpm, everything works as expected.

Maybe you can use gdb to set up a breakpoint at pcre_jit_stack_alloc to see what happened.

[2021-03-04 07:58] libeio commented on #3752
I try same way in ubuntu 16.04 macheine, report the same error in the CentOS 8.1 I tested.

[2021-03-04 08:02] libeio commented on #3752
I be poor at gdbing lua because rarely used this language.╮(╯▽╰)╭

[2021-03-04 08:07] miaoyb opened #3756 "bug: 通过API创建的upstream和route，在dashboard的route详情页面中显示不完整"
### Issue description
通过API创建的upstream和route，在dashboard中详情显示不完整，缺少超时等字段
### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Minimal test code / S

[2021-03-04 08:15] libeio commented on #3752
the following content below is all the record about how I compiled and installed. You can try it in yr machine in the same way.

### downlinks
[lua5.1.5](http://www.lua.org/ftp/lua-5.1.5.tar.gz)
[luarocks](http://luarocks.github.io/luarocks/releases/luarocks-3.5.0.tar.gz)
[pcre](ftp://ftp.pcre.org/pub/pcre/pcre-8.44.tar.gz)
[zlib](http://zlib.net/zlib-1.2.11.tar.gz)
[openssl](https://github.com/op

[2021-03-04 08:16] miaoyb opened #3757 "bug: cors插件和redirect插件组合跨域访问有问题"
### Issue description
cors插件和redirect插件组合跨域访问有问题
### Environment
环境说明：前后端分离项目
前端环境中配置访问后端的方式为http://xxx.abc.com，是http协议，不是https协议
* apisix version (cmd: `apisix version`):v2.3 dashboard v2.4
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* a

[2021-03-04 08:22] Firstsawyou commented on #3753
It is not supported.

[2021-03-04 08:25] chenyuezhou commented on #3753
Dose it in roadmap？

[2021-03-04 09:03] starsz commented on #3753
Good idea. PRs are welcomed. 😄

[2021-03-04 10:21] miaoyb opened #3759 "request help: cors plugins support domain limit"
### Issue description
cors plugins support  domain limit
### Environment

* apisix version (cmd: `apisix version`): v2.3
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Support Action

[code]

[2021-03-04 10:24] miaoyb commented on #3759
默认跨域请求是所有域名均可跨域，存在安全问题，建议加上域名正则匹配进行限制

[2021-03-04 10:53] Firstsawyou opened #3760 "feat: support the configuration of keepalive related parameters in config.yaml"
### Issue description

Currently we do not support the `upstream` custom configuration of `keepalive` related parameters in nginx.conf, because these parameters are fixed.

 E.g:.

[code]

I think the `keepalive` parameter should be a customizable configuration.

[2021-03-04 13:37] tokers commented on #3760
It may not support per upstream, but supports to customize in config.y'all.

[2021-03-04 13:39] tokers commented on #3759
Would you like to submit a pr? Thanks!

[2021-03-05 01:31] spacewander commented on #3752
My bad! I didn't notice the compile option. You need to add `--with-pcre-jit` for the `./configure`.

[2021-03-05 01:40] spacewander commented on #3759
We already support this feature. Please read the doc: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/cors.md

[2021-03-05 01:40] #3759 closed

[2021-03-05 01:58] spacewander commented on #3757
I doubt whether it is allowed to use CORS and redirect together. I find a documentation https://developer.mozilla.org/zh-CN/docs/Web/HTTP/CORS/Errors/CORSExternalRedirectNotAllowed which says that "CORS request external redirect not allowed"

[2021-03-05 01:58] libeio commented on #3752
add option `--with-pcre-jit` when `./configure` the OpenResty?

[2021-03-05 01:59] spacewander commented on #3752
Yes.

[2021-03-05 02:00] #3752 closed

[2021-03-05 02:30] miaoyb commented on #3759
if i want allowed *.xxx.cn,What should I write,like"*.xxx.cn" or "xxx.cn"?

[2021-03-05 03:07] spacewander commented on #3759
Currently wildcard is not supported. So if you want to match "a.xxx.cn" and "b.xxx.cn", you need to write "a.xxx.cn,b.xxx.cn".

[2021-03-05 03:21] miaoyb commented on #3759
so,Is there a plan to support wildcard matching？

[2021-03-05 03:26] spacewander commented on #1304
Yes. We can implement it via existent plugin.

[2021-03-05 03:27] miaoyb commented on #3757
OK，thanks~

[2021-03-05 03:27] #3757 closed

[2021-03-05 06:16] cgc1983 opened #3762 "request help:"
### Issue description

apisix version:2.1
OS：Linux 2d6df599090f 4.4.0-198-generic #230-Ubuntu SMP Sat Nov 28 01:30:29 UTC 2020 x86_64 Linux
Nginx Version:openresty/1.19.3.1

[code]
{"error_msg":"unknown plugin [cors]"}
[code]
### Environment

why the curl request return error message?

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or

[2021-03-05 06:34] dingwood commented on #3599
hope the mtls function  coming soon .....

[2021-03-05 06:45] spacewander opened #3763 "feat: add "allow_origins_by_regex" to cors plugin"
We can use regex to match if the request' Origin header is in the allow list.
People who want to implement it can take a look at: https://github.com/apache/apisix/blob/master/apisix/plugins/uri-blocker.lua

[2021-03-05 06:46] spacewander commented on #3759
I prefer to add regex match. Create an issue as https://github.com/apache/apisix/issues/3763, pull is welcome!

[2021-03-05 06:55] Firstsawyou commented on #3762
In the config.yaml configuration file, you have not added the `cors` plugin name to the plugins.

[2021-03-05 07:05] #3229 closed

[2021-03-05 07:07] #1974 closed

[2021-03-05 10:05] wudj opened #3764 "bug:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.3
* OS (cmd: `uname -a`):Ubuntu 16 LTS
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19.31
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):v3.4.13
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce

[2021-03-05 10:42] Firstsawyou commented on #3764
You should provide the installation steps of APISIX dependent environment, such as the installation of `openresty, openresty-openssl-xxx`.

[2021-03-05 13:09] #3730 closed

[2021-03-05 14:31] juzhiyuan opened #3767 "docs: fix powered-by link"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, I noticed that this `powered-by.md` is missing 🤔 for this file is under the root directory.

![image](https://user-images.githubusercontent.com/2106987/110125384-35a36d00-7dfe-11eb-9c1a-26d7e45426b8.png)

## Describe the solution you'd like

1. Visit https://github.com/apache/apisix/edit/master/README.md

!

[2021-03-05 15:07] stu01509 commented on #3767
I will fix it

[2021-03-05 15:14] juzhiyuan commented on #3726
Hi, any conclusion here?

[2021-03-05 20:00] Yiyiyimu commented on #3726
Hi I think I could follow the proposal and try to update the release guide this weekend~

[2021-03-06 00:18] juzhiyuan commented on #3726
got it~

[2021-03-06 08:45] KafilatAdeleke commented on #3302
I"ll fix this.

[2021-03-07 00:47] juzhiyuan opened #3771 "support one-line installs"
# Feature Request

## Please describe which part of docs should be improved or typo fixed

Hi, I noticed that the [GetEnvoy](https://www.getenvoy.io/) supports one-line installs by using the following commands:

[code]

It not only supports many platforms but also reduces users' time to dig out how to build this software.

From Apache APISIX's Get Started part[1], it doesn't support this way yet A

[2021-03-07 03:14] spacewander commented on #3771
Already supported.

[2021-03-07 03:14] #3771 closed

[2021-03-07 06:02] robingong opened #3772 "request help: how to config "location /m { alias /mnt/www/saas-h5/; index index.html; }""
### Issue description
我们想在apisix的配置文件里实现（参照原生ngin):
'''
http{
...
  server{
...
		location /m {
			alias /mnt/www/saas-h5/;
			index index.html;
		}
...
'''

那么，在config-default.yaml里，该怎么配置呢？

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):ubuntu18
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19.3.1
* etcd version, if have (cmd: run `curl

[2021-03-07 11:44] spacewander commented on #3302
Already fix in the master branch.

[2021-03-07 11:44] #3302 closed

[2021-03-07 14:33] membphis opened #3774 "docs: modify the document table of contents to make it easier to read."
current docs:

https://apisix.apache.org/docs/apisix/architecture-design

![image](https://user-images.githubusercontent.com/6814606/110243325-c8761000-7f94-11eb-9594-d9998f060fe3.png)

[2021-03-07 14:33] membphis commented on #3774
this is very important, I think @spacewander you can handle this issue by yourself

[2021-03-07 16:07] juzhiyuan opened #3775 "plugin server-info will write data to etcd"
# Question

## Please describe which part of docs should be improved or typo fixed

Hi, the Apache APISIX implements the `server-info` plugin in #2926 #2821, and this plugin will set data to `etcd` here[1] 🤔 this will lead to conflicts with the original design: **DP will only READ data from etcd.**

![](https://github.com/apache/apisix/raw/master/docs/assets/images/apisix.png)

I'm not sure if we

[2021-03-08 01:09] spacewander commented on #3772
See https://github.com/apache/apisix/blob/master/docs/en/latest/customize-nginx-configuration.md
You can add it into
[code]

[2021-03-08 01:16] rockXiaofeng commented on #3725
okay, got it ...

[2021-03-08 01:28] membphis commented on #3775
DP is read-only to etcd data, making it easier to control security.
I suggest keeping it read-only for DP.

[2021-03-08 02:49] juzhiyuan commented on #3726
any update here?

cc @spacewander @imjoey @membphis @liuxiran to check this solution, thanks!

[2021-03-08 03:29] rockXiaofeng commented on #3725
Hi, we found AlexanderStocks of the dubbo-go project,  maybe we can work together to solve this problem?
 (My wechat: xfaitmt)

[2021-03-08 04:03] spacewander commented on #3725
If there is any new update with https://github.com/apache/dubbo-go/issues/993, please discuss in that issue directly. We are working with open source project, not something need to be private.

[2021-03-08 05:12] tokers commented on #3775
It's difficult to do ti without introducing any other components.

[2021-03-08 05:22] stu01509 commented on #3767
Hi @juzhiyuan

Seems like this issue has been solved, we can close it.

[2021-03-08 05:36] rockXiaofeng commented on #3725
👌

[2021-03-08 06:26] juzhiyuan commented on #3767
Ya

[2021-03-08 06:26] #3767 closed

[2021-03-08 06:28] #3774 closed

[2021-03-08 06:52] No-sleeping opened #3777 "request help: plz ，i wanne konw why this result linear .can u offer more detail configuration parameter？"
### Issue description

想问下，这里是怎么能够达到线性得。
能提供下这里执行得wrk命令么，
请问下这这里压测得时用得是长连接还是短链接？

### Environment
![image](https://user-images.githubusercontent.com/29038574/110284905-6ca39980-801d-11eb-86a3-2e2915ee7578.png)

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9

[2021-03-08 08:20] miaoyb opened #3778 "bug: CROS"
### Issue description
跨域插件bug，开启全局跨域之后再关闭全局跨域插件，跨域依然生效
### Environment

* apisix version (cmd: `apisix version`): v2.3
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Minimal test code / Steps to repr

[2021-03-08 08:38] redynasc opened #3779 "bug: 404 or 500 when apisix reload"
### Issue description
the request reponse 404 or 500 when apisix reload
### Environment

* apisix version (cmd: `apisix version`):v1.5
* OS (cmd: `uname -a`):Linux d5-dui-10042016030hb 3.10.0-957.21.3.el7.x86_64 #1 SMP Tue Jun 18 16:35:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.17.8.2
* etcd version, if hav

[2021-03-08 08:44] Firstsawyou commented on #3778
You should provide reproducible use cases or related etcd configuration information.

[2021-03-08 08:49] Firstsawyou commented on #3779
Your apisix version is relatively old, not sure whether it has been fixed, it is recommended to update to the latest version to try.

[2021-03-08 08:56] spacewander commented on #3777
Please read the English doc: https://github.com/apache/apisix/blob/master/docs/en/latest/benchmark.md. The Chinese doc is not up-to-date.

And it is not linear, see the x-axis.

[2021-03-08 08:59] miaoyb commented on #3778
The etcd configuration has been added.

[2021-03-08 09:02] No-sleeping commented on #3777
这中文文档和这英文文档 不是一样的么？

[2021-03-08 09:09] spacewander commented on #3777
https://github.com/apache/apisix/blob/master/docs/en/latest/benchmark.md

You can start reading from this.

[2021-03-08 09:10] spacewander commented on #3764
Duplicate of #3752

[2021-03-08 09:10] #3764 closed

[2021-03-08 09:11] #1326 closed

[2021-03-08 09:12] spacewander commented on #3779
Known issue: https://github.com/apache/apisix/issues/3370.

[2021-03-08 09:12] #3779 closed

[2021-03-08 10:24] Firstsawyou opened #3781 "docs: record the minimum version of k8s that supports the deployment of apisix"
# Improve Docs

The k8s document does not state the minimum version of k8s that supports the deployment of apisix. We should record the minimum version in the [kubernetes/README.md](https://github.com/apache/apisix/blob/master/kubernetes/README.md) file.

[2021-03-08 11:17] #3632 closed

[2021-03-08 11:35] #3749 closed

[2021-03-08 13:03] #3635 closed

[2021-03-08 13:27] kongjun01 opened #3783 "request help: SSL: error:1408F10B:SSL routines:ssl3_get_record:wrong version number"
### Issue description

我有个upsream的scheme设置为http，然后这个路由也配置了SSL证书，用https直接访问能够正常返回，但是upsream的scheme设置为https（强制跳转https），访问一直报502 Bad Gateway

路由配置：
{
    "uri": "/test/*",
	"hosts": ["nutsta.cn"],
    "plugins": {
    },
    "upstream": {
        "service_name": "TEST-SERVICE",
        "type": "roundrobin",
        "discovery_type": "eureka",
	"scheme": "https"
    }
}

错误日志：
2021/03/08 21:16:09 [err

[2021-03-09 00:24] Yangzcy423911 opened #3784 "request help: api-breaker"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): Tengine.2.3
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

What the gateway will do when the service resumes available

[2021-03-09 00:59] tokers commented on #3784
Currently the service has to wait until the `max_breaker_sec` time elapsed. See https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/api-breaker.md for more details.

[2021-03-09 01:02] spacewander commented on #3783
What's your upstream's TLS protocol version?

[2021-03-09 01:24] Yangzcy423911 commented on #3784
I've read this document. When the service is available, the maximum time of fusing is exceeded. How should the gateway recover the request and call to the upstream service

[2021-03-09 01:57] kongjun01 commented on #3783
ssl_protocols TLSv1.2 TLSv1.3;

[2021-03-09 02:04] kongjun01 commented on #3783
上游服务是tomcat，没有任何的ssl配置。可能不是上游的问题，因为upsream的scheme设置为http，用https访问正常。

[2021-03-09 04:14] tzssangglass opened #3787 "[discuss]: does the traffic-split plugin has a way to implement the original capabilities without corrupting the data?"
### Issue description
prerequisite: the traffic-split plugin now controls the request proxy to a specific upstream by corrupting the upstream configuration in the route.

topic: is there a way to do the same thing without corrupting the upstream configuration in the route?

if there are problems with the prerequisite, please correct me

reference #3758

[2021-03-09 06:57] #2258 closed

[2021-03-09 06:57] #1379 closed

[2021-03-09 07:06] membphis commented on #3726
the new way is better than before.
We can follow @Yiyiyimu 's suggestion +1

[2021-03-09 07:47] membphis commented on #3760
We should support specifying more directive values:

http://nginx.org/en/docs/http/ngx_http_upstream_module.html

![image](https://user-images.githubusercontent.com/6814606/110435951-9973b180-80ee-11eb-9923-908e2c2a8a18.png)

[2021-03-09 09:20] kongjun01 commented on #3783
TLSv1 TLSv1.1 TLSv1.2  ?

[2021-03-09 09:47] membphis commented on #3775
I think we should disable this feature by default, keep `read-only for DP`

[2021-03-09 14:38] juzhiyuan opened #3791 "invalid URLs in translation docs"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

Hi, we have contributors who noticed that there have some broken links in translated docs:

e.g.: https://apisix.apache.org/zh/docs/apisix/discovery/
and this doc is targeted to https://github.com/apache/apisix/edit/master/docs/zh/latest/discovery.md

![image](https://user-images.githubusercontent.com/2106987/1

[2021-03-09 14:43] Firstsawyou opened #3792 "discuss: the "active.host" in the active health check should be optional"
### Issue description

Related issues:  https://github.com/apache/apisix-dashboard/issues/1563

In the active health check, Host is the host name of the HTTP request used to discover the health of the upstream node. It is required only when the upstream node has restrictions on Host, otherwise it is optional. I think it would be better if `active.host` should be an optional.

In the current active

[2021-03-10 00:29] iamayushdas opened #3795 "docs: update powered-by.md users wall image"
# Improve Docs

## powered-by.md needed to get the new users wall image. existing one is very old and outdated

## Describe the solution you'd like

we could replace the url with new users wall image residing in README.md

[2021-03-10 00:58] #3795 closed, assigned to nobody

[2021-03-10 01:02] #3373 closed

[2021-03-10 01:02] #3677 closed

[2021-03-10 01:09] spacewander commented on #3792
Yes. The `host` should be similar to the `port`.

[2021-03-10 01:12] spacewander commented on #3783
Will you provide a network capture file including the handshake with the upstream?

[2021-03-10 02:11] juzhiyuan commented on #3792
Hi, this is due to `docs mistake` or should we modify `logics`?

[2021-03-10 02:35] spacewander commented on #3792
Just docs mistake

[2021-03-10 05:39] libeio opened #3798 "request help: the response is '{"error_msg":"404 Route Not Found"}' while requesting the service proxyed by apisix"
hello dev.

The ip and the port of http server is 192.168.2.113 and 1984. One of the url is `/api/v2/red`. I executed the cmd  `curl http://192.168.2.113:1984/api/v2/red`  to get the service resource directly and the response would return something what I excepted.

Now I request this resource of http server through apisix. There is something should be done before it can operate and the follow is

[2021-03-10 06:56] #1809 closed

[2021-03-10 07:40] libeio commented on #3798
I Got!

In the `Route UI`'s item `request basic definition`, filled the `client addr` blank with `192.168.2.0/24` required ip field.

[2021-03-10 07:40] #3798 closed

[2021-03-10 07:51] spacewander commented on #3200
Closed as lack of response.

[2021-03-10 07:51] #3200 closed

[2021-03-10 08:25] xuyancheng24 opened #3800 "request help: 用openssl生成证书和秘钥后，不能直接用，还要把私有CA证书cacert.pem文件内容，追加到/etc/pkis/certs/ca-bundle.crt，才能用https访问"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):2.2
* OS (cmd: `uname -a`):Linux localhost.localdomain 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):nginx version: openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info

[2021-03-10 08:34] #3575 closed

[2021-03-10 08:57] Junnplus opened #3801 "request help: support kubernetes as service discovery"
### Issue description
RT.

[2021-03-10 09:07] xuyancheng24 commented on #3800
ssl证书，apisix ssl的这个属性能用吗？这个看注释应该是指定受信任的证书路径吧？怎么用？我这边希望不通过证书信息追加到/etc/pkis/certs/ca-bundle.crt方式才能访问https，用那个受信任的证书路径参数可以解决吗？

[2021-03-10 09:07] xuyancheng24 commented on #3800
ssl证书，apisix ssl的这个属性能用吗？这个看注释应该是指定受信任的证书路径吧？怎么用？我这边希望不通过证书信息追加到/etc/pkis/certs/ca-bundle.crt方式才能访问https，用那个受信任的证书路径参数可以解决吗？
![Uploading 1.png…]()

[2021-03-10 10:01] spacewander commented on #3801
Use https://github.com/apache/apisix-ingress-controller instead?

[2021-03-10 10:58] cgc1983 commented on #3762
thx

thx

[2021-03-10 10:58] #3762 closed

[2021-03-10 14:51] moonming commented on #3778
@Firstsawyou

[2021-03-10 15:23] Firstsawyou opened #3802 "docs: update the admin-api.md document"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

The `pass_host` part of the upstream object in the admin-api.md document needs more detailed explanation. The current description is difficult to understand.

<img width="971" alt="截屏2021-03-10 下午11 18 57" src="https://user-images.githubusercontent.com/52862365/110651917-d88d2a00-81f6-11eb-825d-5d75b4c228ee.png

[2021-03-11 01:22] tokers commented on #3801
@Junnplus Use Ingress Controller is a better way, or we have to communicate with API Server in APISIX core, which is complex and the ecosystem is lack.

[2021-03-11 01:26] Firstsawyou commented on #3778
I will reproduce it locally later.

[2021-03-11 01:28] tokers commented on #3800
@xuyancheng24 `ssl_trusted_certificate` is used to fill the Nginx directive `lua_ssl_trusted_certificate`, which is used by APISIX itself when it talks to external components (to verify these components).

You didn't say how you use the self-signed certificate, maybe as a server-side certificate? In such a case, this depends on your clients' to ignore the verification of the certificate. It has no

[2021-03-11 01:36] moonming commented on #3787
@Firstsawyou

[2021-03-11 01:48] xuyancheng24 commented on #3800
you mean if I don't access APISIX in the local host, and it as a server-side certificate,or Client access does not affect，I don't need the CA cert (/etc/pkis/certs/ca-bundle.crt)?

[2021-03-11 03:24] MrLibra opened #3803 "request help:"
### Issue description
[root@geek_apisix_dev_bjh01 apisix]# make deps
luarocks install rockspec/apisix-master-0.rockspec --tree=deps --only-deps --local
Using rockspec/apisix-master-0.rockspec... switching to 'build' mode
Stopping after installing dependencies for apisix master-0

[root@geek_apisix_dev_bjh01 apisix]# ./bin/apisix version
2.2
[root@geek_apisix_dev_bjh01 apisix]# ./bin/apisix start
l

[2021-03-11 03:39] Junnplus commented on #3801
I know Ingress Controller of APISIX, but it depends on the realization of crds, I want to synchronize services in the specified namespaces, but need to create an ApisixUpstream for each service in ingress controller.

[2021-03-11 03:47] yangxikun opened #3804 "request help: How to log upstream.name in access log?"
### Issue description

How to log https://github.com/apache/apisix/blob/master/docs/zh/latest/admin-api.md#upstream name in access log?

[2021-03-11 03:51] spacewander commented on #3801
Maybe you can export them via DNS:
https://github.com/apache/apisix/blob/master/docs/en/latest/discovery/dns.md
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2021-03-11 03:55] spacewander commented on #3804
You can add an Nginx variable and write a plugin to assign the value to it in the log phase.

[2021-03-11 06:15] MrLibra commented on #3803
Installing https://luarocks.org/luaxxhash-1.0.0-1.rockspec

Error: Failed installing dependency: https://luarocks.org/lua-resty-dns-client-5.2.0-1.src.rock - Failed installing dependency: https://luarocks.org/luaxxhash-1.0.0-1.rockspec - Unknown protocol git
make: *** [deps] 错误 1

[2021-03-11 06:40] spacewander commented on #2093
Closed as lack of response.

[2021-03-11 06:40] #2093 closed

[2021-03-11 06:53] manzusaka opened #3806 "need to a new feature"
When Apisix is run as a cluster, control plane need to defines some Apisix metadata besed on business requirements,Can Apisix support this feature?

[2021-03-11 08:14] spacewander opened #3807 "Use persistent connection when connecting to etcd"

[2021-03-11 08:45] Firstsawyou commented on #3778
I tried to enable the cors plugin globally, and the test seems to be normal.

You should provide detailed steps to reproduce the problem.

1. Enable the global cors plugin

[code]

2、Add  route

[code]

3、Test the plugin (with a header related to `CORS` in the response headers)

[code]
4、Remove the global cors plugin

[code]

5、 Request the API again (there is no `CORS` related response headers)

[2021-03-11 08:52] moonming commented on #3806
I don’t think Apache APISIX supports this feature

[2021-03-11 08:53] #3806 closed

[2021-03-11 09:16] Firstsawyou commented on #3803
Is there an error message when I run the `make deps` command?

[2021-03-11 10:42] riskgod commented on #1637
so what's the real upstream ip is ?

[2021-03-11 11:57] tokers commented on #3800
I did'nt totally understand your mean. But if you want to use this self-signed certificate as a server side certificate, you should:

1. configure a SSL object with the cert and priv key, written to ETCD through APISIX admin API or manager API;
2. add the CA cert to the /etc/pki/certs/ca-bundle.crt or other similar files in your client machine/VM/container, or just ignore the certification verific

[2021-03-11 14:36] debu99 opened #3811 "request help: is there dbless version for apisix"
### Issue description
Kong has the dbless version, which is easy to keep the routing information in git, is there any plan to have a dbless apisix?

[2021-03-12 01:07] spacewander commented on #3811
Does standalone mode satisfy your requirement?
https://github.com/apache/apisix/blob/master/docs/en/latest/stand-alone.md

[2021-03-12 01:07] #3802 closed

[2021-03-12 01:09] #3370 closed

[2021-03-12 03:18] yangxikun commented on #3804
ok, thanks.

[2021-03-12 03:18] #3804 closed

[2021-03-12 06:08] Yiyiyimu commented on #3692
Hi @tzssangglass are you still working on this 😀

[2021-03-12 07:34] tzssangglass commented on #3692
okay, I haven't had enough time lately, so leave it to you.

[2021-03-12 09:10] riskgod opened #3818 "request help: type mismatch at offset 33, bytes expected for type string, got varint"
### Issue description
I add the plugin grpc-transcode to my APISIX，but get the err type mismatch at offset 33, bytes expected for type string, got varint

### Environment
Use docker to build my local APISIX https://github.com/apache/apisix-docker/tree/master/example
Here is the my local grpc source code https://github.com/ShisiJu/grpc-node
Here is the steps I use https://github.com/apache/apisix/b

[2021-03-12 09:27] nic-chen commented on #3818
@riskgod  how to run you grpc server ?

[2021-03-12 09:29] riskgod commented on #3818
[code]

[2021-03-12 10:37] nic-chen commented on #3818
@riskgod
I think it is caused by inconsistent proto:
https://github.com/ShisiJu/grpc-node/blob/master/protos/helloworld.proto#L31-L40

You could try to use the same proto as APISIX on the grpc server.

[2021-03-12 10:42] riskgod commented on #3818
after update the proto file the problem is not fixed

[code]

[2021-03-14 15:49] membphis commented on #3673
ping @Yiyiyimu

[2021-03-14 15:50] membphis commented on #3732
ping @chenyicai

[2021-03-14 15:56] membphis commented on #3787
ping @Firstsawyou

[2021-03-15 00:55] #3740 closed

[2021-03-15 05:48] Firstsawyou commented on #3787
@tzssangglass  uses the method of `"when the route is configured with an upstream_id, the upstream_id is passed into the server_list"` to solve it.
Thank you very much @tzssangglass .

[2021-03-15 05:50] batman-ezio commented on #3763
@spacewander  can you assign this to me

[2021-03-15 06:42] #3811 closed

[2021-03-15 06:46] #3777 closed

[2021-03-15 07:29] #3772 closed

[2021-03-15 07:43] Firstsawyou opened #3826 "chore: the route_name and service_name in ctx should remain different"
### Issue description

Prerequisite: `route_name`(my-route) is configured in `route`, `service_name`(my-service) is configured in `service`, route_name is different from service_name, and `service` is bound to `route` .

Bug: In the plug-in, output `ctx` through core.log.warn(core.json.encode(ctx, true)), and found that ctx.route_name is the same as ctx.service_name, and the value is `my-service`.

[2021-03-15 08:12] zfs123 opened #3827 "bug: the duration recorded by the zipkin plugin does not match the phase"
### Issue description
The duration recorded by the zipkin plugin does not match the phase. May The plugin should be executed last, not first.

### Minimal test code / Steps to reproduce the issue
add ngx.sleep() at some other plugin's rewrite phase, the duration of access phase will be longer, instead of rewrite phase.

[2021-03-15 08:54] spacewander commented on #3827
This is a problem. However, if we put the zipkin plugin to the last, requests rejected by previous plugins won't be traced.

@moonming @membphis
Maybe we can reassign the span into proxy/response/log? Those are doubtless.

[2021-03-15 10:00] anjia0532 opened #3830 "bug: [error] 43#43: init_worker_by_lua error: /usr/local/apisix/apisix/plugin.lua:264: attempt to index upvalue 'local_conf' (a nil value)"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):  2.4 (apache/apisix:2.4-alpine)
* OS (cmd: `uname -a`): Linux apisix-8548b7764-m2gnf 5.5.8-1.el7.elrepo.x86_64 #1 SMP Tue Mar 3 18:13:28 EST 2020 x86_64 Linux
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): openresty/1.19.3.1
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_inf

[2021-03-15 10:13] anjia0532 commented on #3830
access any url return 503 with curl/browser

[2021-03-15 10:20] anjia0532 commented on #3830
apache/apisix:2.4.0-centos
[code]

[2021-03-15 10:31] anjia0532 commented on #3830
怀疑是因为k8s的configMap导致的 plugin.lua `core.config.local_conf(true)` 和 config-etcd.lua 中的`config_local.local_conf()` 最终调用 `file.read_yaml_conf()` 时得到的nil

[2021-03-15 10:42] nic-chen commented on #3818
@riskgod  sorry, I'm busy these days, may try to reproduce on my side later.

[2021-03-15 12:05] bzp2010 opened #3833 "bug: link error after splite architecture design documents"
### Issue description

After separating the architecture design document, other documents are not modified, resulting in link errors.

### Minimal test code / Steps to reproduce the issue

1. Open `https://apisix.apache.org/docs/apisix/admin-api`
2. Find `Router` Link

or

1. Open `https://github.com/apache/apisix/blob/master/docs/zh/latest/admin-api.md`
2. Find `Router` Link

### What's the actua

[2021-03-15 12:07] bzp2010 commented on #3833
If it's not a special design, I will fix it. XD

[2021-03-15 12:22] tokers commented on #3833
@bzp2010 I think it's a bug, PR's welcome.

[2021-03-15 13:01] bzp2010 commented on #3833
Yes, I have submitted a PR to fix it. #3834

[2021-03-15 14:03] whioue opened #3835 "bug:"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce the issue

1.In version 2.0, I

[2021-03-16 01:03] #3833 closed

[2021-03-16 01:05] tokers commented on #3835
@whioue Could you please provide more detailed steps to reproduce this problem? Also, please summary your problem in simple words to title this issue.

[2021-03-16 01:42] membphis commented on #3827
I think we can move some code to `rewrite` phase, is it enough?

[2021-03-16 02:09] #3835 closed

[2021-03-16 02:22] whioue opened #3837 "bug: Using admin/plugins/reload function, the plugin modification is not effective"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce the issue

1.In version 2.0, Af

[2021-03-16 02:27] zfs123 commented on #3827
Does this problem exist no matter whether we put this plugin on the first or the last?

[2021-03-16 02:29] spacewander commented on #3827
Why does this problem exist if we run the plugin first?

[2021-03-16 02:35] zfs123 commented on #3827
If we run the plugin first, we record the duration of the last phase at the beginning of the current phase. if the request was rejected in last phase, we can not record the duration.

[2021-03-16 02:41] spacewander commented on #3827
I see. I thought "this problem" is "rejected by previous plugins won't be traced" so I mislead your reply.

Actually, we can't measure the time of phases correctly. Therefore I advise reassigning the span into proxy/response which is doubtless.

[2021-03-16 03:22] BLasan commented on #3792
@spacewander Hi! I'm new to the community. Can I work on this?

[2021-03-16 05:01] linxiaohui opened #3840 "request help: Is it possible to close prometheus metrics request log"
### Issue description

I have enabled the prometheus plugin， and prometheus quest `/apisix/prometheus/metrics` every 15s. the request will show at apisix‘s access.log，is it possible to configure apisix  **not logging this request to access.log**

### Environment

* apisix version (cmd: `apisix version`):
 2.3
* OS (cmd: `uname -a`):
 Linux Ubuntu 20.04
* OpenResty / Nginx version (cmd: `nginx -V`

[2021-03-16 05:07] tokers commented on #3840
@linxiaohui See the `http.enable_access_log` in config-default.yaml, just set it to `false`.

[2021-03-16 05:35] Firstsawyou commented on #3837
This mean: Modify the code of the plugin, or modify the configuration of the plugin?

[2021-03-16 05:44] whioue commented on #3837
What is modifying plugin configuration？

[2021-03-16 05:47] whioue commented on #3837
I want Modify the code of the plugin, what is modify the configuration of the plugin?

[2021-03-16 06:30] #3658 closed

[2021-03-16 07:08] #3837 closed

[2021-03-16 07:26] #3826 closed

[2021-03-16 09:13] Firstsawyou commented on #3837
Modify the configuration of the plugin to look like this:

Change the field value of the limit-count plugin.

[code]

[2021-03-16 09:48] whioue commented on #3837
This kind of configuration change can take effect without hot reload,right？I don't know how to change the plugin must be use /admin/plugins/reload

[2021-03-16 10:26] zcgewu commented on #2695
能不能语言自信点，母语不说飙英文，就能国际化成功吗

[2021-03-16 17:15] JoeyGaojingxing opened #3841 "request help: How to auto upgrade SSL certificate, such as using let's encrypt"
### Issue description

Just as the title, feel difficult with lua

[2021-03-16 17:57] Firstsawyou commented on #3787
I think we can create a temporary variable to cache the upstream_id configured in the plug-in, and delete it after the end of use, so as to avoid the modification of `ctx.matched_route.value.upstream_id`. For example, create a temporary variable upstream_id_tmp: `ctx.matched_route.value.upstream_id_tmp`

[2021-03-16 19:55] linxiaohui commented on #3840
@tokers Thanks for your reply. I checked this, it seems that this config will disable the who access. log, whis I want is just the /apisix/prometheus/metrics won't show

[2021-03-17 00:30] sailershen opened #3843 "Request help: Using upstream_route, all requests go to node 1. How to evenly distribute the requests to all nodes?"
# 环境
centos 7.9 x64，通过rpm安装的apisix-2.4-0.x86_64。
etcd版本为3.4.13，rpm安装，装好后没有修改任何配置，直接启动运行。

# 需求：
用apisix做负载均衡，把请求分配到后端172.16.10.241:6500 （1号节点）和 172.16.10.242:6500（2号节点）上，6500端口是业务系统定义的非web端口。

# apisix的配置文件
/usr/local/apisix/conf/config.yaml的内容：
[code]

# 操作命令
[code]
[code]

# 查看stream_route：
`
curl http://127.0.0.1:9080/apisix/admin/stream_routes/ -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f2'

[2021-03-17 00:59] spacewander commented on #3840
See https://github.com/apache/apisix/issues/3526

[2021-03-17 00:59] #3840 closed

[2021-03-17 01:07] spacewander commented on #3841
You can write a cron job that checks the certificates and upgrade them via admin/manager API. There is no need to do it in Lua.

[2021-03-17 02:20] spacewander commented on #3744
Closed as lack of response.

[2021-03-17 02:20] #3744 closed

[2021-03-17 02:25] spacewander commented on #3702
Closed as lack of response.

[2021-03-17 02:25] #3702 closed

[2021-03-17 02:27] spacewander commented on #3524
Closed as lack of response.

[2021-03-17 02:27] #3524 closed

[2021-03-17 03:11] Firstsawyou commented on #3843
let me check.

[2021-03-17 03:26] sailershen commented on #3843
Thanks

[2021-03-17 06:39] nanamikon opened #3844 "request help: How to know when apsix loading all config from etcd, and ready for request?"
### Issue description
How to know when apsix loading all config from etcd, and ready for request?

For example ,  we need to auto scale apisix server，so we shoud know when apsix  ready，

 user request can be sent to it

### Environment

* apisix version (2.3):
* OS (ubuntu 16):
* OpenResty / Nginx version (1.19.3):
* etcd version, if have (3.4):

[2021-03-17 06:50] spacewander commented on #3844
I think we don't need it after https://github.com/apache/apisix/pull/3799 is merged?

[2021-03-17 07:33] rdouman opened #3846 "request help: Include message body when performing HMAC authentication"
### Issue description
We have an upstream provider that is using HMAC authentication when calling our APISIX instance.  They are including only request body data when generating their HMAC and not using any headers or url paramteres.  Is is possible, using the HMAC plugin to validate the HMAC using the request body ? Also, is there a mechanism to exclude the request headers ?

### Environment

* a

[2021-03-17 08:12] Firstsawyou commented on #3843
You can try to match the request through remote_addr, but the remote_addr option only supports a single IP configuration. Example:

[code]

[2021-03-17 08:30] Firstsawyou commented on #3846
The hmac-auth plugin does not sign the body of the request. You can try to sign without using request headers or url parameters.

[2021-03-17 09:34] nanamikon commented on #3844
Nice PR,  it is fine to me.

[2021-03-17 09:54] zfs123 commented on #3827
Reassigning the span into proxy/response is a nice way.

I have a idea that if we want to measure the time of phases, how about splitting the zipkin plugin into two plugins?

zipkin-proxy: from the request start to the request is tranfered to upstream(rewrite, access, balancer)
zipkin-response: from the header of the response is read to the start of log phase.(header_filter, body_filter)

In order

[2021-03-17 10:10] godsoul opened #3849 "bug: roundrobin load balancing k8s short domain name and ip configuration at the same time will only choose one kind of polling"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.4
* OS (cmd: `uname -a`):Linux gateway-apisix-f46d89c6b-4gjst 3.10.0-1127.19.1.el7.x86_64
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
* apisix-dashboard version, if have: 2.3

### Minimal test code / Steps to reproduce the issue

1.roundrobin 负载均衡k8s 短域名服务 ( xx

[2021-03-17 10:18] #3844 closed

[2021-03-17 10:25] spacewander commented on #3827
Yes, split zipkin into two plugins can measure the time correctly.
However, it will break the convention that we should handle all the things in one plugin. It will introduce more complexity to the dashboard and other relative projects.

As the time measure might be not so critical, I think we can sacrifice some part of it to prevent architecture change.

[2021-03-17 10:51] zfs123 commented on #3827
Thanks a lot!

[2021-03-17 11:16] sailershen commented on #3843
Thanks for help.

[2021-03-17 12:03] tokers commented on #3843
Why not put these two endpoints into one route?

[code]

[2021-03-17 12:08] tokers commented on #3849
@godsoul A minimalist case is desired to let us reproduce your problem :).

[2021-03-17 13:20] JoeyGaojingxing commented on #3841
That's a good idea, thanks a lot~

[2021-03-17 14:16] aiyiyi121 opened #3851 "The upstrem configuration rewrite and upstrem_host in the traffic-split plug-in did not take effect correctly"
### Issue description
目的：想要根据分流规则，比如-H "user-name:test"，改变Host让流量跑到k8s集群中不同的ingress。

实现方法：使用nginx做为ingress controller，流量根据规则转向同一个k8s里的不同ingress。apisix的route中，nodes里面填的是同一个k8s集群ingress controller的地址，根据规则把upstream_host改为ingress服务的host。详细配置见下面

遇到问题：traffic-split里面的upstream通过upstream_host字段不能正确改变Host值，访问时报错404，不把upstream配在traffic-split里时没问题

### Environment

* apisix version (cmd: `apisix version`):

[2021-03-17 15:20] Firstsawyou commented on #3851
The current plugin only supports the pass_host operation when the upstream node is a domain name. If the upstream node is IP, the pass_host operation is not performed. Please refer here: https://github.com/apache/apisix/blob/master/apisix/plugins/traffic-split.lua#L151-L152

Example:

[code]

[code]

It seems that the plugin needs to support the situation where the upstream node is IP.

[2021-03-17 17:35] JoeyGaojingxing opened #3852 "bug: cannot use https when creating route through web UI"
### Issue description

![image](https://user-images.githubusercontent.com/15071824/111511196-764d9f80-8789-11eb-8eb5-fb22866f37e9.png)
![image](https://user-images.githubusercontent.com/15071824/111511286-8bc2c980-8789-11eb-8e64-22999e5648ab.png)

### Environment

* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): Linux ecs-s2-large-2-linux-20190719115737 4.15.0-91-generic #92-U

[2021-03-17 22:53] rviper opened #3853 "bug:"
### Issue description
Tried to install via https://apisix.apache.org/docs/ingress-controller/deployments/minikube on Openshift 4.6

on the apisix container i'm getting a

"failed to update nginx.conf: failed to open file: /usr/local/apisix/conf/nginx.conf, error info:/usr/local/apisix/conf/nginx.conf: Permission denied"

### Environment

* Openshift 4.6
* helm charts described in https://apisix.ap

[2021-03-18 00:52] tokers commented on #3852
@JoeyGaojingxing Could you provide the error details?

[2021-03-18 01:08] tokers commented on #3851
So what should @aiyiyi121 do so he/she can resolve this problem?

[2021-03-18 01:44] Chinaxiang commented on #3851
Why only supports a single upstream of the domain name? IP should be universal.  Have any other problems?

[2021-03-18 01:55] aiyiyi121 commented on #3851
I solve this problem by referencing upstream_id in the traffic-split plug-in, because I have no other way.

[2021-03-18 02:00] spacewander commented on #3852
Moved to https://github.com/apache/apisix-dashboard/issues/1611

[2021-03-18 02:03] godsoul commented on #3849
![image](https://user-images.githubusercontent.com/3104500/111562445-31e5f200-87d1-11eb-9d78-12468840705b.png)

[2021-03-18 03:28] Firstsawyou commented on #3851
We can use the upstream_id of the traffic-split plugin to refer to the upstream to solve the problem.

[2021-03-18 03:52] Firstsawyou commented on #3851
We should also support the ip situation.  PR is welcome.

[2021-03-18 04:11] #3852 closed

[2021-03-18 05:52] tokers opened #3855 "The available key types in limit-count plugin are not recorded in docs"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

The key type in limit-count plugin can be:

* `remote_addr`
* `server_addr`
* `http_x_real_ip`
* `http_x_forwarded_for`
* `consumer_name`
* `service_id`

But none of them were recorded.

## Describe the solution you'd like

Add a section to describe the available key types in the document of limit-count plugin.

[2021-03-18 06:43] imjoey commented on #3849
@godsoul this seems very weird. Are you using an APISIX instance as a normal Service, or as an ingress gateway? Could you please elaborate on the deployment architecture? We do need more details. Thanks.

[2021-03-18 07:11] imjoey opened #3856 "[discuss] Support exposing databases as web services"
### Issue description

When constructing data middle platform, uses may need expose their databases, e.g. relational/bigdata/nosql, as web services for API consumers.

For now, we firstly develop an application for databases access, and then set it as the upstream of APISIX routes. For example, we make use of [PostgREST/postgrest](https://github.com/PostgREST/postgrest) to serve RESTful APIs for P

[2021-03-18 07:13] tokers opened #3857 "Optimize the Serverless plugin"
### Issue description

Currently the serverless plugin functions don't have args, when we want to access some per-request data in `api_ctx`, we have to use `ngx.ctx.api_ctx`, which is obscure for new users. So I think we can push the `api_ctx` table to all serverless functions. For instance, we can write a function like:

[code]

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd

[2021-03-18 07:59] nanamikon opened #3858 "bug: When using traffic-split , the key of chash is missing in the upstream of traffic-split"
### Issue description

### Environment

* apisix version (2.3):
* OS (ubuntu 16):
* OpenResty / Nginx version (1.19.3):
* etcd version, if have (3.14):
* apisix-dashboard version, if have:

### Minimal test code / Steps to reproduce the issue

1.use traffic-split , and set the upstream as follow
[code]

2.
curl http://127.0.0.1:9080/index.html -H "release:new_release" -i
[code]

### What's the act

[2021-03-18 08:18] Firstsawyou commented on #3858
The upstream configuration of the traffic-split plugin currently only supports the `roundrobin` method, and the chash method is not yet supported.
You can first use the upstream_id in the plugin to support the chash method.

<img width="1067" alt="截屏2021-03-18 下午4 14 57" src="https://user-images.githubusercontent.com/52862365/111593953-755a5380-8805-11eb-87b0-5bc80a5b5a15.png">

[2021-03-18 09:11] JackLiMEM opened #3859 "request help: Error: Could not satisfy dependency lua-resty-hmac-ffi 0.05: No results matching query were found for Lua 5.3. make: *** [Makefile:67: deps] Error 1"
### Issue description
Error: Could not satisfy dependency lua-resty-hmac-ffi 0.05: No results matching query were found for Lua 5.3.
make: *** [Makefile:67: deps] Error 1
### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to

[2021-03-18 09:12] nanamikon commented on #3858
Thinks for reply,  I think my version 2.3 is not support upstream_id yet.   Maybe I should wait the next apisix version，  will merge this bug fix #3824

[2021-03-18 09:27] Firstsawyou commented on #3859
You should provide your environmental information and installation steps.

[2021-03-18 09:32] Firstsawyou commented on #3858
Yes, 2.3 does not support upstream_id yet. It is best to wait for the next apisix version. At the same time, we will support the chash method as soon as possible.

[2021-03-18 10:23] #1450 closed

[2021-03-18 10:25] spacewander commented on #3807
Duplicate of #1546

[2021-03-18 10:25] #3807 closed

[2021-03-18 10:55] jp-gouin opened #3861 "Proposition ldap-auth plugin"
Hi ,
I've developped a `ldap-auth` plugin that allow to use a ldap server to authenticate the user.
This plugin is based on `lualdap` to try the authentication against the ldap server.

What i did is that i create a temporary `consumer` so that it allow the use of authorisation plugin such as `consumer-restriction`

Here is the `ldap-auth.lua` file
[code]

The plugin is then configured with :
[cod

[2021-03-18 11:59] godsoul commented on #3849
1. network flow path： Nginx ingress -> APISIX gateway -> api-gateway-srv
2. Nginx is ingress, APISIX is gateway, The api-gateway-srv  is normal  micro service .

[2021-03-18 13:59] tokers opened #3864 "bug: Upstream SNI should also be rewritten when the upstream host is rewritten"
### Issue description

Currently, when the upstream host is changed (by `proxy-rewrite plugin, or the Host rewrite policy in Upstream), the SNI passed to Upstream is not changed when the scheme is HTTPS. That might introduce some SSL handshaking problem, we may fix it.

### Environment

* apisix version (cmd: `apisix version`):
* OS (cmd: `uname -a`):
* OpenResty / Nginx version (cmd: `nginx -V` o

[2021-03-18 14:07] ShaoZeMing opened #3865 "bug: Routing priority matching bug"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 2.3
* OS (cmd: `uname -a`): centos 7.6
* OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.9*
* etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3.4.*
* apisix-dashboard version, if have: 2.4

### Minimal test code / Steps to reproduce t

[2021-03-18 14:19] rdouman commented on #3846
Hi @Firstsawyou thanks for your response.  The message body is signed by our vendor in order to not only authenticate the message but also show that the message has not been altered.  I'm a still little unclear from the answer above about how to achieve my desired result.  Are you suggesting that omitting the **request headers** and **url parameters** would produce the required result (i.e. includ

[2021-03-19 01:13] Firstsawyou commented on #3846
The hmac-auth plugin does not sign the request body. If you want to include the signature of the request body, I think the plugin needs to be modified.
@nic-chen  What do you think?

[2021-03-19 01:21] Firstsawyou commented on #3865
You should provide more detailed route configuration information.

[2021-03-19 01:22] spacewander commented on #3861
LGTM.

Only a small thing: we can map the dn to an existed consumer instead of creating a temporary one.

For example,
https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/key-auth.md#how-to-enable

[code]

[2021-03-19 01:45] ShaoZeMing commented on #3865
[code]

[2021-03-19 01:57] iamayushdas commented on #3857
can i have more help in this from you. i want to understand and solve this issue from myself. @tokers

[2021-03-19 02:01] moonming commented on #3849
@godsoul
Please use English in the public channel, thx

[2021-03-19 02:02] moonming commented on #3851
@aiyiyi121
Please use English in the public channel, thx

[2021-03-19 02:03] moonming commented on #3778
@miaoyb
Please use English in the public channel, thx

[2021-03-19 02:03] moonming commented on #3843
@sailershen
Please use English in the public channel, thx

[2021-03-19 02:04] moonming commented on #3800
@xuyancheng24
Please use English in the public channel, thx

[2021-03-19 02:04] #3800 closed

[2021-03-19 02:32] damonchen commented on #1593
great!

is it the feature completed?

[2021-03-19 02:54] spacewander commented on #3855
@tokers
The key types are recorded in docs.
See http://apisix.apache.org/docs/apisix/plugins/limit-count

[code]

[2021-03-19 03:09] iamayushdas commented on #3855
i think markdown file of limit-count plugin will be more helpful for user after this: #3866 i guess

[2021-03-19 03:21] Firstsawyou opened #3867 "docs: add route uri regular matching in the FAQ doc"
# Improve Docs

## Please describe which part of docs should be improved or typo fixed

How to perform regular matching on the uri of the route is a relatively common problem, we should record it in the FAQ document (by combining the vars field of the route, we can achieve it).

[2021-03-19 03:30] juzhiyuan commented on #1593
I just rechecked this issue, the concept `PluginHub` looks good to me. Do we have the necessary to support Plugin Manager first in the dashboard?

[2021-03-19 03:35] spacewander commented on #3855
I don't like to repeat the same words multiple times.

[2021-03-19 03:36] iamayushdas commented on #3855
okay my bad

[2021-03-19 03:37] spacewander commented on #3855
Note that the website is generated from the markdown.
This is the markdown source: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/limit-count.md#attributes

[2021-03-19 03:38] Firstsawyou commented on #3865
Your configuration data looks strange. It seems that the field names of apisix have been modified?

[2021-03-19 03:39] iamayushdas commented on #3855
yeah got your point.

[2021-03-19 03:41] spacewander commented on #1593
How many resources can be put into this project?
Is there any market investigation?

Run a `PluginHub` needs 💰 , develop tools for the ecosystem needs 💰 💰

[2021-03-19 03:43] spacewander commented on #3855
Close this issue as we don't need it actually.

[2021-03-19 03:43] #3855 closed

[2021-03-19 04:22] aiyiyi121 commented on #3851
OK，thx. I think this issue can be closed.

[2021-03-19 04:23] #3851 closed

[2021-03-19 04:59] tokers commented on #3857
@iamayushdas Sure, assigned to you.

[2021-03-19 05:01] iamayushdas commented on #3857
Could you elaborate me like in which file i have to make changes or something like that. Please

[2021-03-19 05:29] Chinaxiang commented on #3851
@moonming 没必要崇洋，中国人的产品，自信起来。

[2021-03-19 05:38] ShaoZeMing commented on #3865
Sorry i didn't understand you too much

[2021-03-19 06:07] Firstsawyou commented on #3865
There are many "x-apisix-xxx" field names in your configuration, which are not "x-apisix" in APISIX, for example: "x-apisix-vars", it should be "vars" in APISIX .

[2021-03-19 06:07] Firstsawyou commented on #3865
There are many "x-apisix-xxx" field names in your configuration, which are not "x-apisix" in APISIX, for example: "x-apisix-vars", it should be "vars" in APISIX .

[2021-03-19 06:21] #3858 closed

[2021-03-19 06:24] ShaoZeMing commented on #3865
I haven't configured this extra, what I used is the simplest configuration, which should come with the program, and my configuration is exported through the console.

[2021-03-19 06:51] juzhiyuan commented on #3865
@ShaoZeMing Hi, thanks for your report, let's try to resolve your issue. And please try the following steps:

In dashboard 2.4, we don't support showing route configuration (JSON format) directly, now please open the `Network` panel in `Chrome`, and click the `Edit` button.

![image](https://user-images.githubusercontent.com/2106987/111742029-68e80080-88c2-11eb-9568-7358938518cb.png)

You will not