[2022-01-04 04:11] fish2018 opened #6003 "request help: the cors plugin does not force the use of expose_headers"
### Issue description

cors插件会开启expose_headers参数，
`expose_headers: "*" `  会触发ios12的bug。
或者就要列出所有的headers，有很多自定义的headers时就会变得很麻烦

### Environment

---

[2022-01-04 04:52] spacewander commented on #5998
Solved by https://github.com/apache/apisix/pull/5941

[2022-01-04 04:52] #5998 closed

[2022-01-04 05:48] artemus717 commented on #5990
Thanks a lot . I konw I can use nginx variables . But I want to konw is there any  other APISIX Variables . For example  i want to put route path to log file , i can only find requset uri . In my opinion , route path should be an APISIX Variable .

[2022-01-04 06:07] ting-xu commented on #5654
I think it's a bug.

I also had this issue when using apisix to route request to backend gerrit code-review server.
The JS in browser will send request like http://gerrit.server/changes/repo-group%2Freop-name~100/detail?O=....
when apisix forward to gerrit, it becomes http://gerrit.server/changes/repo-group/reop-name~100/detail?O=....
cause gerrit cannot handle correctly and return 404

Instead, w

[2022-01-04 07:23] membphis commented on #5966
@xianshun163 `./wrk -t200 -c5000 -d30s http://172.16.11.13:9080/hello`

if you want to run the benchmark with 5000 connections, you need to update the https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L238 .

Connections exceeding this number will become short connections.

more doc: http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive

[2022-01-04 09:33] shuaijinchao commented on #5982
After initialization in this way, you need to assign the currently requested `upstream.name` to it in APISIX.

[2022-01-04 10:14] shuaijinchao commented on #5981
Please reproduce the problem 100% locally and submit all test configurations.

---

![image](https://user-images.githubusercontent.com/8529452/148043810-7bedaff8-ba97-421c-b430-b5f7bf265f96.png)

[2022-01-04 10:15] ameryhan opened #6005 "bug: error happened when using core.etcd:getkey"
### Issue description

getkey获取etcd里的某个目录失败

尝试过的方法1
  local res, err = core.etcd:getkey('/config_path')
 报错信息如下
![image](https://user-images.githubusercontent.com/2375525/148041696-0583dee7-b927-4851-99eb-0cc4c75c08cb.png)

尝试过的方法2
  local res, err = core.config:getkey('/config_path')
返回的数据为空。

### Environment

- apisix version (cmd: `apisix version`): 2.10.2
- OS (cmd: `uname -a`):
- OpenResty /

[2022-01-04 10:20] yinyuncan opened #6006 "docs: stream_routes 中基于 SNI 的路由规则有问题 配置如果配置了这个则不可正常代理"
### Improved or typo fixed.

事情由来：想配置一个tidb的tcp代理 然后发现死活连不上 ，一直报
` Lost connection to MySQL server at 'reading initial communication packet'`

这个是我之前的配置：
[code]
这个是请求admin api的配置数据
[code]
按道理连接命令应该是可以连接上的
`mysql --host=tidb.xxxx.cn --port=1998-u root -p`

结果就是一直报` Lost connection to MySQL server at 'reading initial communication packet'` 这个问题困扰了我一下午

下班回到家 又经过各种尝试 最终发现只需要把 sni 参数去除就可以正常连接了

我也不太好确

[2022-01-04 10:42] tokers commented on #6006
What does the SSL object looks like in Apache APISIX? BTW, please use English, thanks!

[2022-01-04 10:43] bzp2010 opened #6007 "Proposal: support Forward Auth authenticate plugin"
## Background

Forward Auth cleverly moves the authentication and authorization logic to a dedicated external service, where the gateway forwards the user's request to the authentication service and blocks the original request and replaces the result when the authentication service responds with a non-20x state. In this way, we can achieve a custom error return or user redirection to the authentic

[2022-01-04 10:48] tokers commented on #6007
1. Does the `X-Forwarded-Uri` header contains the query string?
2. I think a field like allowed_status_code should return, so that we can distinguish the situation that it's indeed forbidden or just caused by other reasons (so that we may apply the degradation).

[2022-01-04 10:57] yinyuncan commented on #6006
英语不太好 抱歉
我这个没配置ssl噢！

[2022-01-04 11:59] tokers commented on #6006
You have to configure an SSL object (the TLS certificate bundle) or APISIX cannot setup a TLS connection with the client and the SNI can be fetched correctly.

[2022-01-04 12:35] The-White-Lion commented on #6005
It's not a bug.
In the first method you tried, a non-existent function `core.etcd:getkey`  was used. You can read the [source code ](https://github.com/apache/apisix/blob/master/apisix/core/etcd.lua) to see the supported functinos. In this case, You can use function `core.etcd.get(key, true)` ( use dot instaed of colons) to get data.
In the second method you tried, before you call `core.confing:ge

[2022-01-04 12:38] yinyuncan commented on #6006
噢噢 这样呀 原来sni必须配置ssl才会生效 我想文档上应该要写清楚这一点

[2022-01-04 15:27] leslie-tsang commented on #5683
@juzhiyuan After communicating with @duzunwu512, the issue could not be reproduced on the master branch, Consider solved. Feel free to reopen it if need.

[2022-01-04 15:38] tzssangglass commented on #5654
cc @tokers @spacewander PLAT

[2022-01-04 15:41] tzssangglass commented on #5998
#5941 just privode `register_var` function, not implemented in the logger plugin code?

[2022-01-04 17:00] bzp2010 commented on #6007
Hi, @tokers.

1. It should instead contain the query string, should I add an extra key for that?
`X-Forwarded-Uri: /headers?test=test`

2. As an authentication service, it needs to return a default rejection response and write to the log in case of its failure. I don't have a good solution for this part yet to distinguish between normal rejection and service degradation, so I hope you will give me

[2022-01-05 01:22] tokers commented on #6006
Welcome to submit a PR :)

[2022-01-05 01:28] tokers commented on #6007
1. I think it's good enough, we don't have to add another field;
2. We may don't have to do this in the first MVP version but we should consider such a demand, what about adding the filed `reject_codes`, and when this field is missing, by default all non-2xx status codes will be treated as rejection. Let's also see other guys' idea :)

[2022-01-05 01:28] leslie-tsang commented on #5938
Update: [mail list thread](https://lists.apache.org/thread/41zc5186lhg56okm8z5qxdo9rkt7f9t4), @alex8224

[2022-01-05 01:32] #5855 closed

[2022-01-05 01:35] ccwall3 opened #6009 "request help: add real-ip plugin failed， logs get error"
### Issue description

![image](https://user-images.githubusercontent.com/7711718/148146596-96100265-7dbd-4cbf-ba8e-12a91d946499.png)

2022/01/04 18:05:17 [error] 24003#24003: *79260034 [lua] real-ip.lua:103: phase_func(): need to build APISIX-OpenResty to support setting real ip, client: 10.8.171.254, server: _, request: "POST /backend-auth/dept/query HTTP/1.1", host: "devapi.meomeopet.com", refe

[2022-01-05 01:41] zaunist commented on #6009
Hi, @ccwall3. Could you please provide your apisix version、dashboard version and operation system version?

[2022-01-05 01:45] leslie-tsang commented on #6009
Hello there, Plz take a look of [#4919 (reply in thread)](https://github.com/apache/apisix/discussions/4919#discussioncomment-1871921).

[2022-01-05 02:17] #5868 closed

[2022-01-05 02:28] #5683 closed

[2022-01-05 02:30] zhendongcmss opened #6011 "bug: prometheus labels is inconsistent when using the same batch-processor in mutil logger plugins"
### Issue description

config: http-logger and error-log-logger at the same time will get a prometheus error.
[code]

### Environment

- apisix version (cmd: `apisix version`):  2.10.1
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-

[2022-01-05 03:08] gxthrj opened #6017 "request help: Provide a configuration to disable ipv6"
### Issue description

When APISIX parses the upstream host, it may be parsed as `ipv6` or `ipv4`.
Hope to provide a configuration in `config.yaml` to have the ability to disable `ipv6`.

### Environment

- apisix version (cmd: `apisix version`): master
- OS (cmd: `uname -a`): centos 7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): 1.19.*
- etcd version, if have (cmd: run `curl h

[2022-01-05 03:29] zuiyangqingzhou opened #6019 "request help: routing matching rule of radixtree"
### Issue description

I have the following list of paths：
1. /api/a/math/a
2. /api/math/a
3. /api/math-aaa

the path rule I configured is `/*/math*`,  but not work

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get t

[2022-01-05 03:42] leslie-tsang commented on #6017
Like [enable_ipv6](https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L35) ?

[2022-01-05 04:46] ccwall3 commented on #6009
apisix  version	2.9
dashboard_version  2.8
centos 7.9

</div></div></div><div class="ant-card" style="box-sizing: border-box; margin: 0px; padding: 0px; color: rgba(0, 0, 0, 0.85); font-size: 14px; font-variant: tabular-nums; line-height: 1.5715; list-style: none; font-feature-settings: &quot;tnum&quot;, &quot;tnum&quot;; position: relative; background: rgb(255, 255, 255); border-radius: 2px; font

[2022-01-05 04:47] spacewander commented on #6006
https://github.com/apache/apisix/blob/master/docs/en/latest/stream-proxy.md

The doc already makes it clear.

[2022-01-05 04:47] #6006 closed

[2022-01-05 04:55] spacewander commented on #6019
As the radixtree uses prefix match, it can't handle the case that both head and tail are wildcards.
You can match it with regex: https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-use-route-uri-for-regular-matching

[2022-01-05 04:55] #6019 closed

[2022-01-05 05:07] tylitianrui commented on #5953
it occur to me.  i  sorry  i  do  not  catch this design.
The api  `/v1/healthcheck` is provided to get the health status  . After  sending  some requests , No data   is return   ,and only
 sometimes  data  does .  how to handle when no data happens ?
<img width="1352" alt="截屏2022-01-05 下午1 06 46" src="https://user-images.githubusercontent.com/31768692/148163452-97012927-caba-4c3c-b397-7cc28e420f6

[2022-01-05 05:55] leslie-tsang commented on #6017
[code]
Might this solve the problem ?

[2022-01-05 07:13] spacewander commented on #6003
Could you provide more details so we can assess the severity?
Normally we prefer to follow the standard, even some clients don't.

Maybe a few months later, the majority of iOS 12 users will accept a patch and upgrade their software.

If this is critical to you, you can fork and modify cors plugin, and add a workaround by yourself.

[2022-01-05 07:15] spacewander commented on #5969
Consider solved. Feel free to reopen it if need.

[2022-01-05 07:15] #5969 closed

[2022-01-05 07:35] mrzxy opened #6021 "bug: in Orchestration, OpenID-Connect Plug-in Properties Timeout does not set, there will be an error"
### Issue description

[code]

View source code according to error prompts:
![image](https://user-images.githubusercontent.com/11501927/148174809-aef6b0d9-0ec2-403e-87bc-1d770939660a.png)

timeout is required?

### Environment

- apisix version: v2.11.0
- OS: Linux apisix-5547d6477b-tqmg8 5.10.0-9-amd64 #1 SMP Debian 5.10.70-1 (2021-09-30) x86_64 Linux
- OpenResty / Nginx version ): openresty/1.19

[2022-01-05 08:42] spacewander commented on #6007
After reading https://doc.traefik.io/traefik/middlewares/http/forwardauth/, it seems the authResponseHeaders in that plugin is different from the one in the proposal.

Those headers are used to set on forwarded request.

To make thing clear, maybe we can use `upstream_headers` and `client_headers`, like this one in Envoy:
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/e

[2022-01-05 08:58] suninuni commented on #5092
@tokers @membphis FYI

[2022-01-05 09:39] yin6516008 commented on #487
Organization: NIIMBOT
Location: WuHan，China
Contact: yinming@niimbot.com
Purpose: The local environment unified gateway entrance

组织：武汉精臣智慧标识科技有限公司
地点：中国·武汉
方式：yinming@niimbot.com
使用场景：本地环境统一网关入口

[2022-01-05 09:43] zhangxingdeppon commented on #5930
@leslie-tsang excellent, according to your advice, we decide to use external plugin to extend token expiry,  thanks very much,

[2022-01-05 10:23] membphis commented on #487
@yin6516008 @w568590301 @abbluiz-userh

welcome to submit a PR, you can take a look at this: https://github.com/apache/apisix/pull/4576

many thx

[2022-01-05 10:25] membphis commented on #5092
do you update your apisix to `2.11`?

[2022-01-05 11:27] xianshun163 commented on #5966
ok, I get it, thanks

[2022-01-05 11:28] xianshun163 commented on #5966
I close the issue now， thanks  every one。

[2022-01-05 13:29] gaobo0202 opened #6028 "bug: build openresty fail"
### Issue description

I build the openresty used the sh file like this https://github.com/api7/apisix-build-tools/blob/master/build-apisix-base-debug-centos7.sh and https://github.com/api7/apisix-build-tools/blob/master/build-apisix-base.sh.
I saw that other issues mentioned such problems, so I upgraded the OpenSSL version and tried 1.1.1, 1.1.1m and 1.1.1i. The problem remained the same.
![image

[2022-01-05 14:14] tzssangglass commented on #6028
same as #4912

[2022-01-05 14:16] tzssangglass commented on #6028
just from the phenomena, it seems that you have updated it in the wrong way.

[2022-01-05 14:17] tzssangglass commented on #6028
and take a look at:https://github.com/apache/apisix/issues/5166#issuecomment-966902008

[2022-01-05 15:52] tzssangglass commented on #6007
I think the ideal way to do this is to have the plugin act on a specific route that only matches requests that require Forward Auth.

However this design goes against the existing plugin design ......

[2022-01-05 16:07] tzssangglass commented on #6021
`conf.timeout` has default value, see: https://github.com/apache/apisix/blob/3f66fab63ecffa7bf4d5bdb02ce8a688a4285709/apisix/plugins/openid-connect.lua#L41-L46

can you add a log like this:

[code]

And you need to provide more complete reproduction of the steps

[2022-01-05 21:49] juzhiyuan commented on #5966
Hi @xianshun163, may I know if you like to add @membphis's comment to the Benchmark page? then others could also see it :)

[2022-01-05 21:51] juzhiyuan commented on #5930
Hi @zhangxingdeppon, glad to see you have other solutions 🥰 If needed, you could submit a PR to update the JWT plugin's doc, maybe others will also have the same question.

[2022-01-05 22:21] juzhiyuan commented on #5868
Hi @jagerzhang, here has one PR that describes all Apache APISIX supporting variables, see https://github.com/apache/apisix/pull/5997/files

As for the default `log_format` configuration, we could find them here https://github.com/apache/apisix/blob/master/apisix/plugins/kafka-logger.lua#L90-L95 and https://github.com/apache/apisix/blob/master/apisix/utils/log-util.lua#L33-L40

Could you help to i

[2022-01-05 22:38] juzhiyuan commented on #5973
I think so 🤔 cc @tzssangglass

[2022-01-06 01:18] suninuni commented on #5092
yes

[2022-01-06 01:21] tzssangglass commented on #5973
apisix supports
1. [mTLS between client and apisix](https://github.com/apache/apisix/blob/master/docs/en/latest/certificate.md
);
2. [mTLS between apisix and upstream](https://github.com/apache/apisix/blob/master/docs/en/latest/mtls.md#mtls-between-apisix-and-upstream)
3. mTLS for admin api;
4. mTLS between apisix and etcd;

[2022-01-06 02:49] mrzxy commented on #6021
I can't debug, because I am not familiar with Lua, but I perfect the process of recovery.

[2022-01-06 02:57] gaobo0202 commented on #6028
I have tried to use apifix build tools to produce the compilation environment, but the following error is reported. The execution command is 'make package type=rpm app=apisix-base version=1.0.0 image_base=centos image_tag=7'

![111](https://user-images.githubusercontent.com/14210651/148321140-b6c4e3dc-c6d1-4e51-82a3-0713351c018f.png)

[2022-01-06 03:15] zhendongcmss opened #6029 "discuss: It is not inappropriate using “apisix” type for prometheus metrics（count first bytes from client）"
### Issue description

Because the `apisix_latency` include read contents from client, not ONLY apisix process time. It is very confused on the  dashbord and got resault that apisix lead  to high latency.
https://github.com/apache/apisix/blob/aff5d825aaea12eab312e65e82d060ab9be9b06f/apisix/utils/log-util.lua#L189
https://github.com/apache/apisix/blob/aff5d825aaea12eab312e65e82d060ab9be9b06f/apisix

[2022-01-06 03:57] jagerzhang commented on #5868
谢谢回复，已经看到你们的PR了，辛苦。

其实在不设置log_format元数据的时候，默认的日志格式应该是这样的：https://github.com/apache/apisix/blob/aff5d825aaea12eab312e65e82d060ab9be9b06f/apisix/utils/log-util.lua#L99-L124

所以，我觉得文档中的log_format的例子可以将上述默认日志格式作为展示，比如：
[code]
注：可能有些是一个函数，不知道该怎么改成变量，我大概意思就是log_format在不设置的时候的默认日志格式，可以做成一个例子，用户在定义log_format的时候只需要参考这个趋向于完整的例子去改，这样上手门槛就降低了非常多了，而且日志也是更全面的。

[2022-01-06 04:32] bzp2010 commented on #6007
https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/http/ext_authz/v3/ext_authz.proto#extensions-filters-http-ext-authz-v3-authorizationresponse

I think this is a clear way to do it, but it can be confusing to users when configuring and I need to highlight these configurations in the documentation.

According to the scheme used in traefik, which is designed with the `trustForwar

[2022-01-06 06:06] spacewander commented on #6007
To me, the Envoy way is more clear. Could you explain the "confusing"?

We can skip it in the first version.

[2022-01-06 06:17] jagerzhang commented on #5910
激活下，已知可以将这2个变量添加到默认日志：https://github.com/apache/apisix/discussions/6010

[2022-01-06 08:01] catwangjunfeng commented on #6006
@yinyuncan 解决了吗？我好像也遇到一样的问题

[2022-01-06 08:20] xianshun163 commented on #5966
@juzhiyuan ok,  I can do it.

[2022-01-06 08:21] juzhiyuan commented on #5966
Assign to you :)

[2022-01-06 09:23] spacewander commented on #6029
Yes, people often found that the APISIX latency is high caused by slow clients. But changing the type will be a break change.

What about adding a note in the doc: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/prometheus.md?

[2022-01-06 10:06] guxingke opened #6033 "bug: kafka-logger, always log `not found broker` after kafka-logger kafka broker up. until reload apisix."
### Issue description

always log `not found broker`  after kafka-logger kafka broker up.  until reload apisix.

### Environment

- apisix version (cmd: `apisix version`): 2.10.1
- OS (cmd: `uname -a`):Linux test 3.10.0-957.el7.x86_64  SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
nginx version: openresty/1.19.3.2
bu

[2022-01-06 10:25] juzhiyuan commented on #3998
1. Build Apache APISIX from source codes under the `/root` directory;
2. Run `apisix start`
3. Error occurred.

[code]

Just label this issue as `doc`.

[2022-01-06 11:23] ccwall3 commented on #6009
error.log:2022/01/06 19:18:24 [warn] 8872#8872: *45690 [lua] real-ip.lua:121: phase_func(): missing real address, client: 10.8.171.254, server: _, request: "GET /backend-auth/login HTTP/1.1", host: "devapi.meomeopet.com"

[2022-01-06 12:14] zhendongcmss commented on #6029
@spacewander Add notes on doc is easy. But it doesn't dispel confused. See the Grafana dashboard persion is different with seening the document.

[2022-01-06 13:08] tzssangglass commented on #6029
I prefer break change to make the metrics clearer, but of course, we need the mailing list to discuss that.

[2022-01-06 13:09] tzssangglass commented on #6033
provide reproduction steps and environment & version information.

[2022-01-06 13:24] tzssangglass commented on #6009
This means that there is no `X-Forwarded-For` in your request headers.

[2022-01-06 14:36] IT-coach-666 opened #6034 "bug: problems caused by stream_proxy (tcp proxy)"
I use apisix to encapsulate the openstack’s API to achieve high availability and rate limiting.

# Problem description
My apisix configuration file (``config.yaml``) shows below (only shows the problem related part):
![0-apisix_config](https://user-images.githubusercontent.com/19731222/148711666-68f74f3b-86e6-40a8-9f9c-7f0b0a63478f.jpg)

I use the ``stream_proxy`` (tcp proxy) to listen ``vip`` (pr

[2022-01-06 17:49] pengtaochang commented on #5211
the redirect plugin is great.! I get some problem when migrate from nginx to apisix.  The request_uri=/hello/user, first,nginx will find the uri, if not found, nginx auto redirect /hello/user/. I has not foud this feature in apisix. This feature is very much needed when migrating.

[2022-01-07 01:27] spacewander commented on #4316
I rethink this issue.

Is this timeout applied to the `watch` operation? The `watch` operation is implemented via HTTP long polling or gRPC streaming, which can't have such a short timeout.

[2022-01-07 02:37] guxingke commented on #6033
description edited

[2022-01-07 05:01] spacewander commented on #6028
Closed as duplicated

[2022-01-07 05:01] #6028 closed

[2022-01-07 05:04] spacewander commented on #953
Found a new player BabaSSL for this area.

[2022-01-07 05:05] spacewander commented on #2196
@membphis
Is this feature still required?

[2022-01-07 05:26] membphis commented on #2196
yes, we need this feature.

[2022-01-07 06:14] spacewander commented on #2196
I don't think it is a good idea. As the disk operation is expensive and it only happens when the body is too large. Reading truncated body is not so helpful in the log.

[2022-01-07 07:14] leslie-tsang commented on #5953
Hello there, can you provide the steps to reproduce the issue ?

[2022-01-07 07:35] Dule-mart commented on #2178
Hello

I read your last message about not testing Apache APISIX on windows yet, is this still the case to date for windows?

[2022-01-07 07:54] tzssangglass commented on #6033
I need a step by step replication of how you build kafka, how you configure route, the Kafka-logger plugin, etc.

[2022-01-07 07:57] kartikeysaran commented on #3931
Hey ! Is this issue still unresolved ?

[2022-01-07 07:59] tzssangglass commented on #6033
how to do this?

Is kafka broken definitely available at this point?

In my experience, the kafka producer has a lrucache, so you can update the kafka-logger configuration with the `cluster_name` parameter to generate a new kafka producer?

[2022-01-07 08:04] tzssangglass commented on #3931
PR is welcome!

[2022-01-07 08:04] leslie-tsang commented on #3931
AFAIK, @kartikeysaran , not yet, would you have a try ?

[2022-01-07 08:07] tzssangglass commented on #2178
yes, we do not yet offer support for windows perfect build APISIX.

[2022-01-07 08:09] tzssangglass commented on #2196
Would it be better to adjust the parameters to avoid the request being logged in the file?

[2022-01-07 08:14] tokers commented on #2196
There has a trade-off between the memory usage and the disk operations, but it should be decided by the user.

[2022-01-07 08:17] juzhiyuan commented on #2178
How about using WSL? @Dule-mart you could try WSL

[2022-01-07 08:18] kartikeysaran commented on #3931
Yeah sure

[2022-01-07 08:32] guxingke commented on #6033
the kafka brown in other case .

---
when i restart kafka borkers , and waiting the apisix send message auto recover. but not ,  about  5 minute later , relaod the apisix, it works well.

---

Maybe in the next time, I will try this solution.

[2022-01-07 09:31] zjzwjcbj opened #6042 "request help: when use skywalking,found error"
### Issue description
The skywalking version is 6.6.0
when i add skywalking endpoint  xxx:12800  ,found error : client.lua:114: reportServiceInstance(): Instance report fails, response code 405, context: ngx.timer

when add endpoint   xxx:11800,found :client.lua:109: reportServiceInstance(): Instance report fails, closed, context: ngx.timer.

### Environment

- apisix version (cmd: apisix version)

[2022-01-07 09:43] XW512 opened #6043 "request help: APISIX-2.11 RPM installation error"
### Issue description

When I installed APISIX-2.11 with RPM, the following error occurred
error: Failed dependencies:
        apisix-base >= 1.19.3.2.2 is needed by apisix-2.11.0-0.el7.x86_64

but,It can be installed normally with APISIX-2.10
Do I lack any bags？

### Environment

- apisix version (cmd: `apisix version`):  2.11
- OS (cmd: `uname -a`):  centOS7
- OpenResty / Nginx version (cmd: `ng

[2022-01-07 10:32] bnyte opened #6046 "How to get path variable"
### Issue description

I want to configure my parameters in path, how should I configure him? I have configured it now but `apisix` gives me `404 responses`

below is the recurrence

- routing config

![](https://user-images.githubusercontent.com/75556346/148527130-56eb34d6-2eed-4630-8c8f-fc204acd8fdc.png)

- apisix 404 response

![image](https://user-images.githubusercontent.com/75556346/14852702

[2022-01-07 10:34] bnyte commented on #6046
# supplement

I have been successful once, but the value obtained by my back-end service is `:token`

[2022-01-07 11:15] membphis commented on #2196
Hope to hear more users' voices.

[2022-01-07 15:21] leyuuu opened #6048 "request help: How to get Route ID in ext-plugin-pre-req"
### Issue description

![image](https://user-images.githubusercontent.com/50611440/148559922-45a1c0ca-148d-4e4e-8aa7-ba9a88f20876.png)

Does this mean that the `route id` can only be accessed by the built-in plugin with `ctx`?<sup>[Example](https://github.com/apache/apisix/blob/ef04e067c8044b98b261fd51149d9e8503b84d8a/apisix/utils/log-util.lua#L83)</sup>

Thanks in advance

### Environment

- apis

[2022-01-07 18:15] tzssangglass commented on #6046
refer to: https://github.com/apache/apisix/blob/master/docs/en/latest/router-radixtree.md#5-parameter-match

[2022-01-07 18:17] tzssangglass commented on #6043
1. additional installation steps.
2. have you installed apisix-base?

[2022-01-07 18:20] tzssangglass commented on #6042
According to this: https://github.com/apache/skywalking-nginx-lua#download, maybe 6.x is too old.

cc @dmsolr

[2022-01-07 18:26] tzssangglass commented on #6033
refer to: https://github.com/doujiang24/lua-resty-kafka/issues/70

maybe we need to add `refresh_interval` to skip this bug.

@guxingke If I start kafka with docker, shut down the container after starting it and start it again, can I simulate the broker down scenario you mentioned?

[2022-01-07 18:30] tzssangglass commented on #6048
No support yet. What is the purpose of getting the route id in the plugin runner?

[2022-01-08 00:41] XW512 commented on #6043
It is install_dependencies under util sh?but,If I don't have a network, is there a problem,Why doesn't the 2.10 version need this

[2022-01-08 02:21] guxingke commented on #6033
yes, this can.

maybe we need to add refresh_interval to skip this bug.

[2022-01-08 03:12] tzssangglass commented on #6043
here: https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md#installation-via-rpm-repositorycentos-7

we can install apisix and apisix-base easily by this repo.

2.10 version is also need this.

You need a full description of

1. how to install apisix-base
2. how to install apisix v2.10.0

[2022-01-08 03:13] tzssangglass commented on #3931
hi @kartikeysaran, assigned you

[2022-01-08 03:16] leyuuu commented on #6048
Thanks for your answer.
In my secondary development project, I want to use java-plugin-runner to do some authorization based on `route id`.

[2022-01-08 03:57] membphis commented on #6048
@leyuuu I think this is a meaningful feature, if you need it, we can discuss how to implement it.

pls feel free to reopen this issue if you need.

[2022-01-08 04:01] bnyte commented on #6046
In my opinion, my configuration may be consistent with the link you provided. My question may be how to rewrite the uri through regularization. Maybe apisix supports adding uri prefix uniformly?

[2022-01-08 05:42] bnyte commented on #6046
![image](https://user-images.githubusercontent.com/75556346/148633054-293708fd-7551-4611-9545-8b963843fe4d.png)

if value = `:token` my service can get this request... apisix does not have dynamic routing... I want to get the way how to configure routing correctly

[2022-01-08 07:29] XW512 commented on #6043
OK，I'll take a look at it again

[2022-01-08 07:30] XW512 commented on #6043
OK，I'll take a look at it again

[2022-01-08 08:11] XW512 opened #6050 "request help: Source code installation APISIX error"
### Issue description

I installed openresty using the source code installation, and the command to execute the coding is

./configure --with-http_ssl_module --with-openssl=/usr/local/openssl

the openssl I have upgraded to 1.1.1 m

lua version 5.1.5

luarocks version 3.8.0

When I compile APISIX，It has the following error

apisix master-0 depends on argparse 0.7.1-1 (0.7.1-1 installed)
apisix mas

[2022-01-08 08:54] leslie-tsang commented on #6043
Hello there, please try [this](https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md#installation-via-rpm-offline-packagecentos-7).
Do let me know if you need any help with it.

[2022-01-08 08:56] leslie-tsang commented on #6050
Hello there, have you extracted the OpenSSL header files to `/usr/local/openresty/openssl/include` ?

[2022-01-08 09:00] XW512 commented on #6050
What can I do extracted the OpenSSL header files to `/usr/local/openresty/openssl/include` ?

[2022-01-08 09:10] leslie-tsang commented on #6050
try this
[code]

[2022-01-08 09:13] XW512 commented on #6050
thank you，I'll try it

[2022-01-08 09:26] XW512 commented on #6050
This problem occurred when I initialized APISIX

[root@VM-20-7-centos apisix-2.11.0]# apisix init
which: no openresty in (/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/usr/local/java/jdk1.8.0_221/bin:/root/bin:/usr/local/openresty/nginx/sbin:/root/bin)
lua ./apisix/cli/apisix.lua init
can not find openresty

Do we need to set openresty self startup？

[2022-01-08 09:38] leslie-tsang commented on #6050
plz add OpenResty to `$PATH`

[2022-01-08 09:46] XW512 commented on #6050
thank you

[2022-01-08 14:01] tzssangglass commented on #6048
+1

[2022-01-09 04:49] leyuuu commented on #6048
I found the solution in this document <https://github.com/apache/apisix/blob/master/docs/en/latest/apisix-variable.md>

All I need to do is add a [`requiredVars`](https://github.com/apache/apisix-java-plugin-runner/blob/main/docs/en/latest/development.md#the-functions-must-be-implemented-of-filter-execution).

Sorry for the confusion.

[2022-01-09 04:52] #6048 closed

[2022-01-09 06:19] tokers commented on #6046
@bnyte What's your need? Could you describe it more concisely and exactly?

[2022-01-09 07:22] bnyte commented on #6046
@tokers The browser requests `/v1/user/login/:username` but the request obtained by the backend service is `/sso/v1/user/login/bnytezz` now request `/v1/user/login/bnytezz` my service cant get this request but i can get `/v1/user/login/:username`

[2022-01-09 08:51] xianshun163 commented on #5767
@tzssangglass , @juzhiyuan   hi, I have found that, some one have commit some code about nacos, into the master branch:
init.lua feat(nacos): support grpc java (#5894)12 days ago
schema.lua   feat(discovery): check schema before starting (#5629)

in the branch release/2.11.0  ,only have one code file :  nacos.lua

I want to confirm ,  if I  base  the master branch  to  submmit the code?

[2022-01-09 09:52] juzhiyuan commented on #5767
AFAIK, you need to check if this issue still occurred in the master branch, if yes, you need to push codes to the master branch, and cherry-pick code to the LTS branch. cc @tzssangglass

[2022-01-09 10:03] leslie-tsang commented on #6043
Hello there, @XW512, Any updates on the progress?

[2022-01-09 10:06] leslie-tsang commented on #6050
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-09 11:03] XW512 commented on #6043
I restore the system and try to install rpm

[2022-01-09 11:26] XW512 commented on #6043
I installed OpenSSL, Lua, lualocks and openresty，openresty version is 1.19.9.1，but，Installation with RPM is still not possible
The error message is still the same

[root@VM-20-7-centos app]# rpm -ivh apisix-2.11.0-0.el7.x86_64.rpm
error: Failed dependencies:
	apisix-base >= 1.19.3.2.2 is needed by apisix-2.11.0-0.el7.x86_64
[root@VM-20-7-centos app]#
Looking at this error message, I wonder if the

[2022-01-09 11:44] XW512 commented on #6043
After I reinstalled the system, I had no problem installing 2.10.2 using rpm, but I reported a lack of dependency using 2.11.0

[root@VM-20-7-centos app]# rpm -ivh openresty-pcre-8.44-1.el7.x86_64.rpm
warning: openresty-pcre-8.44-1.el7.x86_64.rpm: Header V4 RSA/SHA1 Signature, key ID d5edeb74: NOKEY
Preparing...                          ################################# [100%]
Updating / installin

[2022-01-09 11:54] leslie-tsang commented on #6043
Try `yum` instead of `rpm`, install `*.rpm` to resolve the dependencies. please try [this](https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md#installation-via-rpm-offline-packagecentos-7).

[2022-01-09 12:52] XW512 commented on #6043
According to the link you sent, I have successfully started apifix, but I have a problem. For example, if there is no network to install apifix, can I directly install those RPMs

[root@VM-20-7-centos app]# cd apisix/
[root@VM-20-7-centos apisix]#
[root@VM-20-7-centos apisix]#
[root@VM-20-7-centos apisix]#
[root@VM-20-7-centos apisix]#
[root@VM-20-7-centos apisix]#
[root@VM-20-7-centos apisix]# ll

[2022-01-09 13:02] leslie-tsang commented on #6043
Sure, the link intended to solve the offline installation scenarios.

[2022-01-09 13:07] XW512 commented on #6043
Thank you very much for your answer

[2022-01-09 15:06] tzssangglass commented on #5767
yes. let's start by committing the code to the master branch.

[2022-01-09 15:09] tzssangglass commented on #6048
If you are successful in practice, you can submit a document PR to improve it.

[2022-01-09 15:10] tzssangglass commented on #6046
did you set

[code]

[2022-01-09 15:59] #5898 closed

[2022-01-09 16:06] spacewander commented on #3443
Already done.

[2022-01-09 16:06] #3443 closed

[2022-01-09 16:14] leslie-tsang commented on #6043
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-09 16:17] leslie-tsang commented on #5799
Hello there, @laughingyear , please try [this](https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md#installation-via-rpm-offline-packagecentos-7).
Do let me know if you need any help with it.

[2022-01-09 23:03] #6043 closed

[2022-01-09 23:03] #6050 closed

[2022-01-10 01:32] tzssangglass commented on #6050
If you solve the problem, can you raise a discussion or PR to the FAQ document how it was solved?

[2022-01-10 02:00] JiaYueHuang commented on #6034
I use apisix to encapsulate the openstack’s API to achieve high availability and rate limiting.

1.Problem description
My apisix configuration file (config.yaml) shows below (only shows the problem related part):
![apisix_config](https://user-images.githubusercontent.com/19731222/148710546-d957badd-f561-4b6a-8179-4c78df4dcd6e.png)
I use the stream_proxy (tcp proxy) to listen ``vip`` (provided by k

[2022-01-10 05:05] tranbaokhanh opened #6057 "request help: etcd stuck in Crashloopbackoff"
### Issue description

when i install APISIX via Helm with:
_helm install apisix apisix/apisix --set gateway.type=NodePort --set ingress-controller.enabled=true --set etcd.persistence.size=15G --set etcd.persistence.enabled=true --set etcd.volumePermissions.enabled=true --set admin.allow.ipList="" --namespace apisix_

1/3 node etcd running and 2/3 stuck in Crashloopbackoff with des "Containers wit

[2022-01-10 05:41] tzssangglass commented on #6033
@guxingke I was unable to reproduce the scenario with this on the master branch.

Here is my configuration of route:

[code]

Here is my exception log:

[code]

When I restarted the kafka container, it continued to push messages to kafka normally again.

Note: I did not make the kafka volume, and the restarted kafka is a new cluster.

[2022-01-10 06:11] tzssangglass commented on #6034
AFAIK, not short connection by default. pls show the stream proxy configuration in `nginx.conf`.

This error, from your description, APISIX disconnected connection? cc @spacewander the stream proxy has timeout configuration in the upstream, I think it has something to do with the timeout?

[2022-01-10 06:44] haoxins commented on #6017
I'm not sure `enable_ipv6` is a good naming for this case, `enable_ipv6` is a bit general.
Maybe `dns_resolver_disable_ipv6` is better?

---

If we can get an agreement, I think I can help to implement and test the change.

[2022-01-10 07:03] sunnycjd opened #6059 "request help: etcd version change from 3.4.13 to 3.4.18 find some error"
### Issue description

Here‘s some error from docker logs command when I change the etcd version from bitnami/etcd:3.4.13 to quay.io/coreos/etcd:v3.4.18. I find the dashboard has latency when I click the page. It's confuse me that the functions are all good, and I could deploy the configuration.

goroutine 1 [running]:
github.com/apisix/manager-api/internal/app/managerapi/conf.initAuthentication({

[2022-01-10 07:09] #6042 closed

[2022-01-10 07:12] #6059 closed

[2022-01-10 09:15] leslie-tsang commented on #6009
This require APISIX-OpenResty to support this feature. More detail refer to [how-to-build](https://apisix.apache.org/docs/apisix/how-to-build/#step-6-build-openresty-for-apache-apisix)

This mean that `real-ip` plugin can't find the HTTP header `X-Forwarded-For` in the request.

Can you show a curl-formatted request to reproduce the issue ?

[2022-01-10 10:20] spacewander commented on #6034
Look like you have set the upstream's timeout to 30s, which is relatively short for TCP connection. Does it cause the problem?

[2022-01-10 11:02] shelltea opened #6066 "bug: request-id plugin overwrite X-Request-Id already present in the request"
### Issue description

If `X-Request-Id` is already present in the request,the response didn't return the same value。

![image](https://user-images.githubusercontent.com/864375/148755044-6d641557-9a5d-4c6b-ad17-ae569978d487.png)

### Environment

- apisix version (cmd: `apisix version`): 2.10.2
- OS (cmd: `uname -a`): Linux apisix-85d66cc8b8-s7lb5 4.15.0-136-generic #140-Ubuntu SMP Thu Jan 28 05:2

[2022-01-10 11:16] shelltea commented on #6066
I read the code:

https://github.com/apache/apisix/blob/master/apisix/plugins/request-id.lua#L212-L222

I think it should change to this:

[code]

[2022-01-10 12:14] tzssangglass commented on #6066
Give the complete reproduction of the use case.

[2022-01-10 12:17] encanto-oss opened #6067 "request help: How to debug plugin lua files"
### Issue description

I am using Jetbrains IDEA with EmmyLua, where is the reference for debugging?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if ha

[2022-01-10 12:35] siaron opened #6068 "request help: building failed on Mac(2.11 ldap.h)"
### Issue description

Installing https://luarocks.org/lualdap-1.2.6-1.src.rock

Error: Failed installing dependency: https://luarocks.org/lualdap-1.2.6-1.src.rock - Could not find header file for LDAP
  No file ldap.h in /usr/include
  No file ldap.h in /include
You may have to install LDAP in your system and/or pass LDAP_DIR or LDAP_INCDIR to the luarocks command.
Example: luarocks install luald

[2022-01-10 12:55] juzhiyuan commented on #6068
Hi @siaron, please provide the information:

1. Which documentation you're following to build? (Please paste the link here);
2. What are your steps to install it? so we could try to reproduce.

[2022-01-10 12:55] juzhiyuan commented on #6068
I noticed the same error like https://github.com/apache/apisix/pull/3894#issuecomment-937479073 please have a check

[2022-01-10 13:14] leslie-tsang commented on #6067
Hello there, Try [this](https://juejin.cn/post/6951650129044570125) out.

[2022-01-10 13:37] siaron commented on #6068
1. macbook 编译apisix 执行 `LUAROCKS_SERVER=https://luarocks.cn make deps`
[code]
2. 已经安装`brew install openldap`

[2022-01-10 13:37] siaron commented on #6068
有没有mac的解决方式

[2022-01-11 01:14] shuaijinchao commented on #6067
you can refer to:
https://github.com/apache/apisix/blob/master/docs/en/latest/architecture-design/debug-mode.md

I usually use the log for debuggin.

[2022-01-11 01:17] tokers commented on #6068
@siaron The `LDAP_DIR` can be specified to the LuaRocks config file, see https://github-wiki-see.page/m/luarocks/luarocks/wiki/Config-file-format#Variables for details.

[2022-01-11 01:24] tzssangglass commented on #6068
my `~/.luarocks/config-5.1.lua` is like

[code]

[2022-01-11 01:27] tzssangglass commented on #6068
In fact, if you don't understand the build process, it is not recommended to develop on mac, there will be many incompatibilities and you will need to maintain it yourself.

[2022-01-11 01:51] stutipatelorigo opened #6069 "APISIX DASHBOARD: how to use regex to match uri with path params and regex template"
### Issue description

Currently, I want to achieve the single  request matching both uri path params and query params:

For example, to match this request:
URL: /api/users/{param1}/statements?name={param2}&dept={param3}
WHERE:
{param1} is uri path param AND {param2} {param3} are query params

I am trying this on apisix dashboard. Can anyone guide me as i am new here and no proper documentation is

[2022-01-11 01:57] spacewander commented on #6066
You can change the default header of request-id.
https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/request-id.md#attributes

It is strange to have two different sources for one header.

I think the overwrite behavior is expected.

[2022-01-11 02:14] spacewander commented on #6017
@haoxins
Thanks for your attention! However,
@leslie-tsang
Could you link your PR to this issue so that people know you are working on it?

[2022-01-11 02:24] leslie-tsang commented on #6068
Hello there, it's not recommended to develop on unfamiliar operating systems.
Introducing multiple unknowns at the same time, it's going to be a long day to figure out if something is wrong or not.

Sure, `LDAP_DIR` defined by LuaRocks config file, more detail in [luarocks wiki](https://github.com/luarocks/luarocks/wiki/Config-file-format)

[2022-01-11 02:29] #5247 closed

[2022-01-11 02:35] shelltea commented on #6066
Yes, Our request-id is generated by the client(iOS/Android), And already used the header name `X-Request-Id`. If i change the default header name, There's two request-id in header with no correlation. Our traceing system use `X-Request-Id` as TraceID,  I can't relate the two values when i trouble-shooting, And also i want response the request-id send by the client.

[2022-01-11 02:38] #6007 closed

[2022-01-11 02:38] #5475 closed

[2022-01-11 02:44] tzssangglass commented on #6066
Maybe we can add options to control whether or not to override.

[2022-01-11 02:54] spacewander commented on #4169
Already done: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/api-breaker.md

[2022-01-11 02:54] #4169 closed

[2022-01-11 03:00] shelltea commented on #6066
I think add an option might not solve my problem. Overwrite or not is dependent on the request-id exists in the header.

[2022-01-11 05:26] tzssangglass commented on #6066
I have a question, why do you need the request-id plugin when your request has a request-id?

[2022-01-11 06:06] shelltea commented on #6066
Not all client's request has a request-id,Old version iOS or Android client don't have one.But i want all request proxy by APISIX has a request-id.

[2022-01-11 06:15] spacewander commented on #6066
We can add an option to disable the overwrite? If the option is true and the client sends the header, request-id will skip it.

[2022-01-11 06:18] kerneltravel opened #6072 "docs: add demonstration of log config of "nginx_config" ?"
### Improved or typo fixed.

accroding to doc  https://github.com/apache/apisix/blob/master/docs/zh/latest/customize-nginx-configuration.md , I firstly put
“nginx_config” inside scope “apisix” of file config/config.yaml ,which many people will do-also but found not work probably in the resulting config/nginx.conf .

the second (hard) work is the json format log as log-format “main”
the third (hard

[2022-01-11 06:23] Gary-Airwallex opened #6073 "bug: build failed because dependencies relying on deprecated git protocol"
### Issue description

Fail to install dependencies because one of them is using protocol (git://) deprecated by github. See https://github.blog/2021-09-01-improving-git-protocol-security-github and https://luarocks.org/luaxxhash-1.0.0-1.rockspec

### Environment

- apisix version (cmd: `apisix version`): 2.6
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):

[2022-01-11 06:30] shelltea commented on #6066
[code]
From the source code above, request-id plugin generated a request-id whether or not the request contains one.I think if a request has a request-id means request-id plugin don't have to generate one and response the same request-id sent by the client.If request don't have a request-id means request-id plugin need to generate and response the request-id generated by itself.So it not dependent

[2022-01-11 06:47] leslie-tsang commented on #6073
Hello there, it's recommended to use the LTS version instead of the `2.6` version.
The fixes have been merged into the master branch and LTS branch via PR #5825

[2022-01-11 06:54] leslie-tsang commented on #6072
Hello there, Thanks for your sharing !
Would you like to submit a PR to improve the documentation ?

[2022-01-11 07:17] Gary-Airwallex commented on #6073
Thanks @leslie-tsang ! As I'm using luarocks bundled into a base image this is what I used to fix the issue: https://github.com/apache/apisix-docker/pull/268/files

[2022-01-11 07:17] #6073 closed

[2022-01-11 07:26] tzssangglass commented on #6066
We can make this behavior as an option.

[2022-01-11 07:28] guxingke commented on #6033
my kafka logger configuration

[code]
and it as a global plugin.

and it use user-define log_format.

-------

Maybe we didn't repeating it because our configuration was different.

[2022-01-11 07:36] tylitianrui opened #6074 "bug: The unauthenticated git protocol on port 9418 is no longer supported"
### Issue description

` The unauthenticated git protocol on port 9418 is no longer supported  `   when installing  `lua-resty-dns-client`.  package `lua-resty-dns-client` depends on  ` luaxxhash >= 1.0 (not installed)`

detail:
[code]

 I am unable to change git:// to https://  in  [uaxxhash-1.0.0-1.rockspec](https://luarocks.org/luaxxhash-1.0.0-1.rockspec)

### Environment

- apisix version (cmd

[2022-01-11 07:38] leslie-tsang commented on #6074
Hello there, plz check #6073 out.

[2022-01-11 07:47] shelltea commented on #6066
OK,If the whole behavior as an option,I think this is a feasible solution. Thanks! @tzssangglass @spacewander

[2022-01-11 09:19] tzssangglass commented on #6033
I need to be able to simulate the kafka broker down de scenario you mentioned.

[2022-01-11 10:09] #3174 closed

[2022-01-11 10:09] #3244 closed

[2022-01-11 10:09] #3257 closed

[2022-01-11 10:52] guxingke commented on #6033
maybe your kafka recover too quickly?  I could not provider more information about this .😂

[2022-01-11 13:19] zhixiongdu027 opened #6076 "request help: ci faied due to lack of memory"
### Issue description

#4880

In this Pr,
I added some code to set up a k8s cluster.  [common.sh](https://github.com/apache/apisix/pull/4880/files#diff-67362488684645b13d1314d9d45bdfd21fed3599970720bccd584a079971dff9)

but it looks like it fails with no clear error message.

someone can  help!
  TKS ~_~

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty

[2022-01-11 13:23] tzssangglass commented on #6076
@tao12345666333 @leslie-tsang PLAT

[2022-01-11 13:24] tzssangglass commented on #6033
I got `connection refused`, I need to be able to reproduce this exception accurately in order to fix it.

[2022-01-11 17:09] tao12345666333 commented on #6076
FYI

https://github.com/apache/apisix-ingress-controller/blob/de522437bd3db3dc3e8d8f33c92f322de67531b8/.github/workflows/e2e-test-ci.yml#L74-L90

[2022-01-11 17:35] abbluiz commented on #4761
@spacewander
How would I write a custom plugin for this? Would you recommend using the `ext-plugin-post-req` with Python, for example? Could I make additional request inside this external plugin?

[2022-01-12 01:25] zhixiongdu027 commented on #6076
@tao12345666333 @tzssangglass
Hi:
Sorry, I set a wrong issues title.

I don't actually want to know how the script or job to build a k8s cluster is defined.

What I want to know is why this CI fails, and there is no prompt message.
[ubuntu-18.04, linux_openresty](https://github.com/apache/apisix/runs/4770829694?check_suite_focus=true)
[(ubuntu-18.04, linux_openresty_1_17)](https://github.com/apach

[2022-01-12 01:52] leslie-tsang commented on #6074
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-12 02:03] leslie-tsang commented on #6076
Hello there, [chaos test](https://github.com/apache/apisix/runs/4770830967?check_suite_focus=true) failed due to dependencies relying on deprecated git protocol, plz check #6073 out.

I suspect there is not enough memory to launch both basic CI env and k8s service. more detail in [#5200](https://github.com/apache/apisix/pull/5200#discussion_r727852007)

[2022-01-12 02:29] #6074 closed

[2022-01-12 02:32] zhixiongdu027 commented on #6076
if so, What can I do .
Creating a new cluster is a necessary condition for test k8s discovery module .

[2022-01-12 02:44] spacewander commented on #4761
Yes, you can make additional request inside the external plugin.
There is a real-world example (not in Python): https://github.com/swisscom/apisix-opa-plugin/blob/master/auth.go

Or you can do it in the Lua, like https://github.com/apache/apisix/blob/master/apisix/plugins/forward-auth.lua

[2022-01-12 02:46] guxingke commented on #6033
Retrieved the logs and found both errors. the logs like below.

[code]

and the first time for `connection refused` at '16:04:44', the other at '16:05:13' .

[2022-01-12 03:07] sandy420 opened #6078 "request help: Use plugin redirect for http_to_https,the browser access unlimited 301."
### Issue description

Use plugin redirect for http_to_https,the browser access unlimited 301.

my apisix's config,e.g.:
`{
    "create_time": 1641884664,
    "desc": "",
    "upstream_id": "00000000000001329854",
    "enable_websocket": false,
    "plugin_config_id": "1688",
    "plugins": {
        "redirect": {
            "ret_code": 301,
            "http_to_https": true,
            "encode_

[2022-01-12 03:46] tzssangglass commented on #6033
I don't know how to reproduce `not found broker` 😂

[2022-01-12 06:28] xiangyu123 commented on #4672
and how to set the nginx root directive, to offer the static files from local directory ?

[2022-01-12 06:31] zaunist commented on #5305
If we need custom path, why not use `proxy-rewrite` plugin ? So I think there is no need to introduce this feature in the plugin.

[2022-01-12 06:33] zaunist commented on #5917
/assign

[2022-01-12 06:34] zaunist commented on #5917
I would like to complete this feature, please assign to me. @juzhiyuan

[2022-01-12 06:36] juzhiyuan commented on #5917
Assigned

[2022-01-12 06:38] kennethToyuan opened #6080 "hmac-auth plugins，java hmac-sha256 signature check fail"
### Issue description

 public static String HMACSHA256(String data, String key) throws Exception {
        Mac sha256_HMAC = Mac.getInstance("HmacSHA256");
        SecretKeySpec secret_key = new SecretKeySpec(key.getBytes("UTF-8"), "HmacSHA256");
        sha256_HMAC.init(secret_key);
        byte[] array = sha256_HMAC.doFinal(data.getBytes("UTF-8"));
        StringBuilder sb = new StringBuilder()

[2022-01-12 07:47] eminoda commented on #1983
CORS Plugins:
[code]
Http Methods Options preflight request received "access-control-allow-headers: *", allow_headers is not working.

[2022-01-12 07:57] ShiningRush commented on #1983
the plugin codes look fine, can you sure your plugin setting is as same as you posted?(you can call admin api to check it)

[2022-01-12 08:02] cuiWT opened #6083 "request help: define my plugin fail"
### Issue description

define my plugin, I do this
[code]

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`): linux
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner versio

[2022-01-12 09:17] #6017 closed

[2022-01-12 10:09] #3252 closed

[2022-01-12 10:41] suslovsergey opened #6085 "request help: Update route with full filled object"
### Issue description

Hello, team!

At the moment I am developing a provider for terraform, and it confuses me that there is no method that would update the entire route object. IMHO it is very inconvenient to calculate changes on the provider side. And here's the question: if I will use the `PUT /apisix/admin/routes/{id}` method to update the route - what could be the side effect of this approac

[2022-01-12 10:50] qq54903099 commented on #6083
try to restart apisix

[2022-01-12 10:54] qq54903099 commented on #6080
you can use this code:
`

import javafx.util.Pair;
import lombok.extern.slf4j.Slf4j;

import javax.crypto.Mac;
import javax.crypto.spec.SecretKeySpec;
import javax.xml.bind.DatatypeConverter;
import java.io.UnsupportedEncodingException;
import java.net.URI;
import java.net.URL;
import java.net.URLEncoder;
import java.text.DateFormat;
import java.text.SimpleDateFormat;
import java.util.*;
import ja

[2022-01-12 11:04] ntyrrell commented on #2366
Would be keen to see this handled eventually - it doesn't seem sustainable to have to copy proto definitions instead of imports, especially if you have several imports, or the types being imported are complex or liable to change frequently.

[2022-01-12 13:09] #3435 closed

[2022-01-12 13:26] tzssangglass commented on #6085
Are you saying that you need the data in the PUT to be exactly the same as the data in etcd? (no need to set default values)

I think it would be more user-friendly to use default values for some of the configurations.

[2022-01-12 13:27] tzssangglass commented on #6083
refer to: https://github.com/apache/apisix/blob/1bfbf245831979378c9dfb9b4c599e3e4eab9639/docs/zh/latest/architecture-design/plugin.md#%E7%83%AD%E5%8A%A0%E8%BD%BD

[2022-01-12 13:38] JiaYueHuang commented on #6034
configuration sample:
[code]

[2022-01-12 13:41] JiaYueHuang commented on #6034
My upstream's parameters are shown below:
[code]

[2022-01-12 15:18] suslovsergey commented on #6085
I using admin api to create/update/delete resources and in  terraform provider i set default values (like in the documentation).  And  when i need ti update route for example or may be service, i send http request via PATCH method, but patch method currently ( in documentation says) - updates only part of data. In my case it's very uncomfortable to detect where i must send null or empty object. So

[2022-01-12 15:23] suslovsergey commented on #6085
Example

Before update i have next structure:
[code]

Now i want to drop plugin "b", so i will send next structure:

[code]

Of course you i can  compare the  terraform states (current and plan) and make diff for PATCH method, but it's painful approach.

[2022-01-12 17:40] abbluiz commented on #4761
@spacewander Interesting. I will be trying that out in the future.

[2022-01-13 00:55] tokers commented on #6085
@suslovsergey So the current situation is:

1. It's not easy to execute the "delete part of data" in the PATCH method;
2. We have to maintain (or fetch in advance) the object that we want to change, and apply the changes then sending to the Admin API.

Is my understanding exact?

[2022-01-13 01:00] tokers commented on #6076
Try to run your test suites in a separated github action workflow, so that you don't have to launch a couple of components which are not related to your cases.

[2022-01-13 01:04] tokers commented on #6078
@sandy420

What did you mean by saying "the browser access unlimited 301", could you provide more details about the scenario and consequence.

[2022-01-13 01:08] #6011 closed

[2022-01-13 01:15] zhixiongdu027 commented on #6076
All the test cases in kubernets.t pass, but the final result still fails

The limited hints suggest this is the cause of the runtime environment running out of memory, and there's nothing I can do about it

You can see it here #4880

[2022-01-13 01:25] zhixiongdu027 commented on #6076
I got your point.
Maybe it can work ，but wiil be always failed in  other ci

[2022-01-13 01:59] cuiWT commented on #6083
I tried, but it didn't work

[2022-01-13 02:00] cuiWT commented on #6083
is step 3

[2022-01-13 02:10] leslie-tsang commented on #6076
* [build (ubuntu-18.04, linux_openresty)](https://github.com/apache/apisix/runs/4790512640?check_suite_focus=true) Failure may be due to lack of memory
* [run ci on centos7](https://github.com/apache/apisix/runs/4790512541?check_suite_focus=true) Ditto
* [ci-eclint](https://github.com/apache/apisix/runs/4790512078?check_suite_focus=true)
[code]
* [Markdown](https://github.com/apache/apisix/runs/47

[2022-01-13 02:34] zhixiongdu027 commented on #6076
@leslie-tsang
I mean even if I can create a new ci just for testing kubernetes.t
But kubernetes.t will still run in centos-ci , build-ci and will eventually fail

[2022-01-13 03:01] tx991020 opened #6086 "request help: macos arm docker-compose.yaml add apisix-dashboard"
### Issue description

macos arm docker-compose.yaml add apisix-dashboard

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner ver

[2022-01-13 03:07] leslie-tsang commented on #6086
Can you desc your issue more clear ? I can't get the point. Thanks.
Need to add `apisix-dashboard` support for [docker-compose-arm64.yml](https://github.com/apache/apisix-docker/blob/master/example/docker-compose-arm64.yml) ?

[2022-01-13 03:21] bnyte commented on #6046
This configuration does the trick, thanks for your help, I'll close it now

[2022-01-13 03:21] #6046 closed

[2022-01-13 03:31] tx991020 commented on #6086
yes

[2022-01-13 03:56] tzssangglass commented on #6083
What are the `plugins` configuration items in your `config.yaml`?

[2022-01-13 04:00] kaktos commented on #6078
Maybe I encountered the  same problem. The reason I found is that our APISIX behind a proxy that responsed for decrypted the TLS and proxied always HTTP scheme to APISIX. let's see the redirect plugin code:
[code]
It will makes the redirect loop apparently.

the resolution is patching this plugin just like:
[code]

[2022-01-13 04:12] leslie-tsang commented on #6078
Hello there, Would you like to submit a PR to fix it ? Thanks.

[2022-01-13 05:13] tzssangglass commented on #6034
the `timeout` in upstream is the timeout for connecting, sending and receiving messages.

the `keepalive_pool ` the upstream to have its separate connection pool. Its children fields, like requests, can be used to configure the upstream keepalive options.

They are different configurations.
I suggest you debug the timeout configuration first to verify that the problem is timeout related.

[2022-01-13 06:00] chenyoufu opened #6087 "request help: apisix latency sometime very high"
### Issue description

![image](https://user-images.githubusercontent.com/7324573/149273499-9ebfbccc-0c2b-4f5d-8492-f6a99b940b39.png)

From grafana apisix dashboard，I found apisix latency is very high at midnight，this time almost has no traffic. There is no log at error.log file. I don't know what happened.

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`):

[2022-01-13 06:33] kennethToyuan commented on #6080
The result I want to return:
{
    "data": null,
    "code": -1,
    "msg": "Invalid digest"
}

actual return result:
{"message":"Invalid digest"}

Is there a way to handle it?

[2022-01-13 06:38] suslovsergey commented on #6085
@tokers exactly!
in my case terraform provider  control data in resource. when i apply changes for terraform plan it's make next:
1. Build full object for resource from terraform plan state  (with default values like in documentation)
2. Send object (json) to api
3. Read object from api and create new state for terraform resource
4. and finally compare plan and new state, if we have diff here - ra

[2022-01-13 06:52] cuiWT commented on #6083
plugins:                          # plugin list (sorted by priority)
  - real-ip                        # priority: 23000
  - client-control                 # priority: 22000
  - ext-plugin-pre-req             # priority: 12000
  - zipkin                         # priority: 11011
  - request-id                     # priority: 11010
  - fault-injection                # priority: 11000
  - serverles

[2022-01-13 06:52] cuiWT commented on #6083
`plugins:                          # plugin list (sorted by priority)
  - real-ip                        # priority: 23000
  - client-control                 # priority: 22000
  - ext-plugin-pre-req             # priority: 12000
  - zipkin                         # priority: 11011
  - request-id                     # priority: 11010
  - fault-injection                # priority: 11000
  - serverle

[2022-01-13 06:54] cuiWT commented on #6083
plugins:                          # plugin list (sorted by priority)
  - real-ip                        # priority: 23000
  - client-control                 # priority: 22000
  - ext-plugin-pre-req             # priority: 12000
  - zipkin                         # priority: 11011
  - request-id                     # priority: 11010
  - fault-injection                # priority: 11000
  - serverles

[2022-01-13 07:15] zhixiongdu027 commented on #6076
maybe  we can split  test cases into two or more ci  ?

[2022-01-13 12:00] qq54903099 commented on #6080
I thought you can use response-rewrite  plugin to rewrite response body.

but response-rewrite,only return one message...

"response-rewrite": {
      "body": "{code:-1,message:\"invalid\"}",
      "disable": false,
      "vars": [
        [
          "status",
          "==",
          401
        ]
      ]
    }

[2022-01-13 15:10] zaunist opened #6093 "docs: CONTRIBUTING.md need install luajit guide"
### Improved or typo fixed.

I have run `install_dependencies.sh` and `make deps`, but it seems not install luajit? When I follow the `CONTRIBUTING.md` to install `luacheck` and execute the `make lint`, I got a error:
[code]
And then, I execute `sudo apt install luajit`, it work success. So can we add install luajit guide to `CONTRIBUTING.md`?

There are no instructions for installing luajit in th

[2022-01-13 15:35] zaunist commented on #6093
Seems like yes, I do have openresty installed, but cannot execute luajit command.

[2022-01-13 15:46] tzssangglass commented on #6083
if restart APISIX cannot load `feature-env-plugin` plugin?

[2022-01-13 15:52] tzssangglass commented on #6093
We can add some hints by adding the following configuration to `~/.bash_profile` or `~/.zshrc` and so on

[code]

[2022-01-13 15:54] tzssangglass commented on #6087
see: https://github.com/apache/apisix/issues/6029

and https://github.com/apache/apisix/pull/6063#discussion_r782052157

[2022-01-13 15:56] tzssangglass commented on #6087
But you do have a very unusual case, which reminds me of some timed tasks that run at midnight.

[2022-01-14 01:27] zaunist commented on #6093
Agree, so if need to update the docs, let me to do this work.

[2022-01-14 02:09] cuiWT commented on #6083
I tried, but it didn't help

[2022-01-14 02:15] tiyorn commented on #5983
End the problem, this is caused by the interception of the upstream business layer, and has nothing to do with apisix. Thank you everyone.

[2022-01-14 02:17] tiyorn opened #6094 "request help: how to modify the default port of nginx,"
### Issue description

The following error is reported when starting apisix:
nginx: [emerg] bind() to 0.0.0.0:80 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:80 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:80 failed (98: Address already in use)
nginx: [emerg] bind() to 0.0.0.0:80 failed (98: Address already in use)

while the apisix configuration fil

[2022-01-14 02:19] tzssangglass commented on #6093
I'm not sure where it would be appropriate to add it, in fact, it would fall under something related to plugin development environment setup.

[2022-01-14 02:23] tzssangglass commented on #6083
Check the permissions of the file, it should be the same as the other plugin files permissions.

[2022-01-14 02:27] juzhiyuan commented on #5983
ok, considered resolved :)

[2022-01-14 02:27] #5983 closed

[2022-01-14 02:36] cuiWT commented on #6083
They‘re same. is there a log file can help finding the problem?

[2022-01-14 03:08] tzssangglass opened #6095 "bug: unknown proxy_mirror exception"
### Issue description

When I tested APISIX, I found that under special conditions apisix would give me mirror-related errors even if I did not use the proxy mirror plugin.

### Environment

- apisix version (cmd: `apisix version`):master
- OS (cmd: `uname -a`):macos /centos7.9
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):

[code]

- etcd version, if have (cmd: run `curl http://

[2022-01-14 03:19] zjzwjcbj opened #6096 "request help: The performance of java-plugin is so bad"
### Issue description

I writed an auth plugin for both lua plugin and java plugin.Then I stress test.
I found that the throughput of the lua plugin is about 6-8 times that of the java plugin.
The performance of java plugin is so bad. Is that right?

 apisix-java-plugin-runner:0.1.0

### Environment

- apisix version (cmd: apisix version):2.10.0
- OS (cmd: uname -a):Linux apisix-7679f65569-j2gp9 3

[2022-01-14 03:30] leslie-tsang commented on #6096
Hello there, [apisix-java-plugin-runner](https://github.com/apache/apisix-java-plugin-runner) is voting for version `0.2.0`
Can you try `0.2.0` ?

also cc @tzssangglass

[2022-01-14 03:41] tzssangglass commented on #6083
You can adjust the log level to info to get more logs.

What is the plugin name you have defined in the plugin?

[2022-01-14 03:41] zjzwjcbj commented on #6096
0.2.0 will help improve performance ?

[2022-01-14 03:42] zjzwjcbj commented on #6096
0.2.0 will help improve performance ?

[2022-01-14 03:45] tzssangglass commented on #6096
0.2.0 changes the communication framework from reactor-netty to netty, but no performance improvement is guaranteed. In fact, java runner is not provided for high performance scenarios.

According to my previous tests, the performance of the java runner is about 1/3 that of APISIX, but if you have complex operations in the java runner, the performance will be even lower.

[2022-01-14 04:55] #5900 closed

[2022-01-14 05:09] 1247691206 opened #6099 "request help: apple M1 make install not permission to /usr/share"
### Issue description

make install

install -d /usr/share/lua/5.1/apisix
install: mkdir /usr/share/lua: Read-only file system
make: *** [install] Error 71

csrutil disable  also tried ,still failed ....

### Environment

- apisix version (cmd: `apisix version`):/opt/homebrew/Cellar/openresty/1.19.9.1_2/luajit/bin/luajit ./apisix/cli/apisix.lua version
2.11.0
- OS (cmd: `uname -a`):Darwin XXX-MB1

[2022-01-14 05:29] tzssangglass commented on #6099
No promises that APISIX will work perfectly on M1.

[2022-01-14 05:31] tzssangglass commented on #6099
BTW, you no need to `make install` on M1? If you are a developer, you can download the source code.

[2022-01-14 05:46] zjzwjcbj commented on #6096
Ok,thanks

[2022-01-14 05:46] #6096 closed

[2022-01-14 06:10] leslie-tsang opened #6104 "request help: add mawk support for Makefile"
### Issue description

The [Makefile](https://github.com/apache/apisix/blob/master/Makefile) for the current master branch does not support mawk yet, ref to [Makefile tips](https://github.com/apache/apisix/blob/master/Makefile#L133-L137)

## Solution
Add a patch for Makefile

[code]

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd

[2022-01-14 06:12] 1247691206 commented on #6099
yes , I download source code  make deps  success but make install failed. I want to develop plugin

[2022-01-14 06:22] anjia0532 opened #6105 "Some Admin APIs' data structure are not unified"
### Issue description

apisix admin api 的略微混乱的数据结构
1. 部分接口（e.g. `/apisix/admin/plugin_metadata`/和 `/apisix/admin/global_rules`）中的 `"count"` 字段是`string`，其余admin接口是`int`
2. 同key数据结构不一致，常见的比如 `node.nodes` 无值`{}`,有值`[]`,更奇葩的是`upstream`的`node.nodes[].nodes`,通过接口更新的是`{}`,通过dashboard更新的是`[{},{}]`,就很难受
3. [/apisix/admin/plugins](https://apisix.apache.org/zh/docs/apisix/admin-api#plugin) `/apisix/admin/plu

[2022-01-14 06:26] anjia0532 commented on #6105
不是大问题，不影响使用。只是看着别扭而已

[2022-01-14 06:36] spacewander commented on #6104
It is possible to support mawk. But is it valuable to maintain mawk support?

[2022-01-14 06:38] spacewander commented on #6104
mawk doesn't have good UTF8 support and has a slightly different syntax.

I don't want to maintain such a burden and will vote -1 for supporting it.

[2022-01-14 06:51] #5756 closed

[2022-01-14 07:18] cuiWT commented on #6083
[code]

[2022-01-14 07:23] spacewander commented on #6105
Yes, these APIs don't fetch data from etcd, so they are different.

BTW, `/apisix/admin/plugins/list` should be marked as deprecated.
PR is welcome!

stand-alone mode doesn't have Admin API.

You can get stream plugin list via `/apisix/admin/plugins?all=true&subsystem=stream`. The API doesn't provide room for stream plugins, so we have to use an extra subsystem argument.

[2022-01-14 07:40] spacewander commented on #6105
These resources forget to call `utils.fix_count` in the get method like route: https://github.com/apache/apisix/blob/92ac6d901d2ca23641037c3979a2e988cc024cd1/apisix/admin/routes.lua#L205

Let's fix it in a separate PR!

You may ask why we don't call `fix_count` on all resources. Because not all the resources come from etcd.

[2022-01-14 07:45] spacewander commented on #6105
Could you provide detailed steps to reproduce it?

It's a bit weird in this case, because both `{}` and `[]` are valid `nodes` values. The array format is preferable, because:
1. it can be PATCHed
2. it is extendable

[2022-01-14 07:51] anjia0532 commented on #6105
In my test `docker apache/apisix:2.9-alpine`  `subsystem=stream` not work.

[2022-01-14 08:03] cuiWT commented on #6083
The problem has been solved. My plug-in has a syntax error. Thank you!
[code]

[2022-01-14 08:03] #6083 closed

[2022-01-14 08:03] anjia0532 commented on #6105
My env `apache/apisix:2.9-alpine`  and `apache/apisix-dashboard:2.8`

ref doc [docs/apisix/admin-api/#request-body-parameters-3](https://apisix.apache.org/docs/apisix/admin-api/#request-body-parameters-3)
`nodes`'s Description:  `Hash table or array. If it is a hash table, the key of the internal element is the upstream machine address list, the format is Address + (optional) Port, where the addre

[2022-01-14 08:28] biubiue opened #6109 "request help: add test case"
### Issue description

In this pr
[#6107](https://github.com/apache/apisix/pull/6107)

I find  one bug  and commit PR.
But I can't write unit tests, I'm developing in a window environment.
someone can help!
TKS _

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `cur

[2022-01-14 08:31] tokers commented on #6099
This type of "permission" problem is caused by the settings of your system, try to google it with some candidate answers with the key words :"macos m1 readonly file system".

[2022-01-14 08:51] tzssangglass commented on #6099
then you don't need to `make install`? I didn't run `make install` when I developed on M1.

[2022-01-14 08:53] 1247691206 commented on #6099
ok  thanks , I tried run on docker

[2022-01-14 08:55] #6099 closed

[2022-01-14 09:16] leslie-tsang commented on #6104
Make sense, thanks for suggestion.

I add it for run test in container, I had change my mind. no necessary to increase maintenance costs

[2022-01-14 09:16] #6104 closed

[2022-01-14 10:12] biubiue commented on #6109
Just found out when reading the source code

[2022-01-14 13:53] bisakhmondal opened #6112 "Proposal: Develop Loggly logging plugin"
### Issue description

## Initial phase:
reference : [here](https://www.loggly.com/)
A logging plugin that works and does its job : )
Supported Protocol: SYSLOG-UDP

### schema:
[code]

### Metadata schema
[code]

## Phase-2
- Supported Protocol: HTTP[S]
- Support Changing Log Severity level based on HTTP response code.

This issue is for the tracking purpose of the plugin development. If you have

[2022-01-14 14:41] spacewander commented on #6112
I think we can remove `include_req_body` & `tags`?
Instead, we can use `log_util.get_full_log` & `log_util.get_custom_format_log`. The `tags` field can be implemented via `get_custom_format_log`.

[2022-01-14 19:52] bisakhmondal commented on #6112
Hey, thanks for the nice suggestions. I looked into the http_logger implementation of custom_log_format definition in the plugin metadata. The default log format looks very minimal, I don't think it's suitable for logging. I think we can do one thing:

- Make this a field inside the plugin schema because tags must be configured route-specific instead of making it apisix specific.
- If log_format =

[2022-01-15 09:36] Origin-zhao opened #6117 "bug: failed to handle RPC_EXTRA_INFO: unsupported info type: 2"
### Issue description

In Java Plugin Runner when   requiredBody return true Not Work

 .......
    @Override
    public List<String> requiredVars() {
        return null;
    }

    @Override
    public Boolean requiredBody() {
        return Boolean.TRUE;
    }
........

### Environment

- apisix version (cmd: `apisix version`): 2.11
- OS (cmd: `uname -a`): docker
- OpenResty / Nginx version (cm

[2022-01-15 13:14] moonming opened #6118 "docs: No docs for Vault"
### Improved or typo fixed.

https://github.com/apache/apisix/blob/0d4f65a9ae06430388af609ca0dcad386225d616/apisix/core/vault.lua

### Solution

not doc for how to use vault with Apache APISIX

[2022-01-16 09:08] juzhiyuan commented on #6118
@bisakhmondal added How to integrate jwt-auth with Vault by https://github.com/apache/apisix/pull/5745

see https://apisix.apache.org/docs/apisix/next/plugins/jwt-auth#enable-jwt-auth-with-vault-compatibility

[2022-01-16 09:20] juzhiyuan commented on #6099
Here has one article about how to develop Apache APISIX on M1 by @guoqqqi, see https://github.com/apache/apisix-website/pull/837

[2022-01-16 11:58] spacewander commented on #6109
I see. You have a keen eye like an eagle :)
I will close it as there is no way to go into this branch yet.

[2022-01-16 11:58] #6109 closed

[2022-01-16 12:00] spacewander commented on #6105
Yes, it is added in 2.10

[2022-01-16 12:22] kerneltravel commented on #6118
docs/en/latest/plugins/jwt-auth.md has been updated , so later the docs/zh/latest/plugins/jwt-auth.md docs need to be updated too.

[2022-01-16 12:43] spacewander commented on #6112
The custom log format is very powerful. Note that you can use a custom variable to generate a custom log format. So we can register a variable which just returns different tags in different routes.

Do we already do it?

So the tag is not part of the log body? Could you explain it in more detail?

[2022-01-16 13:28] leslie-tsang commented on #5799
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-16 14:13] moonming commented on #6118
we can add to the README.md

[2022-01-17 01:22] #5799 closed

[2022-01-17 01:43] juzhiyuan commented on #6118
Get it, cc @guoqqqi to translate the Chinese part, and cc @bisakhmondal help to put it in README so more developers could notice this :)

[2022-01-17 01:52] anjia0532 commented on #6105
Maybe add since version to doc is a better experience?

[2022-01-17 01:56] #6095 closed

[2022-01-17 02:50] lihuawei321 opened #6123 "request help: There have many error logs"
### Issue description

apisix的错误日志暴增：
![image](https://user-images.githubusercontent.com/31987918/149700637-9770149d-4c1d-4551-9d90-1f1a1c3b9674.png)

![image](https://user-images.githubusercontent.com/31987918/149700698-57f109db-c96d-436e-9af5-b1d3717c77f5.png)

全部是最样的报错

### Environment

- apisix version (cmd: `apisix version`): 2.8
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `ngin

[2022-01-17 03:05] anjia0532 opened #6124 "request help: Etcd node high cpu and memory leak"
### Issue description

docker-compose.yaml

[code]
apisix-config.yaml

[code]

![e126a17f9acfa7a861e1e9e31274e7e](https://user-images.githubusercontent.com/15098916/149700256-e6db957d-1026-4851-8b10-2fba03dfc6fd.png)

[discovery-syncer](https://github.com/anjia0532/discovery-syncer) is a golang toolkit , sync nacos/eureka instances  to apisix upstream (by apisix admin api)

In my case , apisix is

[2022-01-17 03:06] anjia0532 commented on #6124
https://github.com/apache/apisix/issues/5723

[2022-01-17 03:20] hiqrf opened #6125 "enhancement: the ip-restriction can not work if we use mutil-level angent"
### Issue description

the ip-restriction can not work if we use mutil-level angent,because it useses ctx.var.remote_addr,this can olny fetch the ip adress of     upper level like lsb

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/se

[2022-01-17 03:23] anjia0532 commented on #6124
blog https://www.cnblogs.com/pier2/p/etcd_production.html

[2022-01-17 03:25] anjia0532 commented on #6124
![image](https://user-images.githubusercontent.com/15098916/149703350-8b93814e-2dd6-4f07-abc4-e796b775608e.png)

![0621ae27da54d48f84dc1921a3d941c](https://user-images.githubusercontent.com/15098916/149703360-5c7a95b6-05ae-47b0-86f4-c24c7f65fb9c.jpg)

ref blog https://www.cnblogs.com/pier2/p/etcd_production.html

[code]

cpu is down

[2022-01-17 03:32] anjia0532 commented on #6124
Thanks wechat group `孙冉-小电`

![image](https://user-images.githubusercontent.com/15098916/149703350-8b93814e-2dd6-4f07-abc4-e796b775608e.png)

Thanks wechat group  `For GG`

ref blog https://www.cnblogs.com/pier2/p/etcd_production.html

[code]

cpu is down

[2022-01-17 03:46] #6124 closed

[2022-01-17 04:37] kerneltravel commented on #588
@Miss-you you can manually set ulimit value before start apisix process, by add
[code]
before
[code]
to systemd service file  `/usr/lib/systemd/system/apisix.service` ,
and run `systemctl daemon-reload` and `systemctl restart apisix ` to take effect.

referer info : https://unix.stackexchange.com/questions/345595/how-to-set-ulimits-on-service-with-systemd

[2022-01-17 04:43] anjia0532 commented on #6124
根据实际情况谨慎使用 自动压缩功能，以及选择合适时间的窗口，

比如 按照时间压缩 (3.3.0 之前只能通过时间压缩，3.3.0以上默认使用时间压缩)
`etcd --auto-compaction-mode=periodic --auto-compaction-retention=12h`

按照版本压缩（3.3.0以上版本）
`etcd --auto-compaction-mode=revision --auto-compaction-retention=1000`

注意仔细阅读官方文档 [History compaction: v3 API Key-Value Database](https://etcd.io/docs/v3.4/op-guide/maintenance/#history-compaction) 结合实际的etcd版本和实际情况进行配置。

[2022-01-17 06:25] #5766 closed

[2022-01-17 07:06] #6067 closed

[2022-01-17 07:07] xianshun163 commented on #5755
dear all, Is there a good solution  for this issue?

[2022-01-17 07:40] leslie-tsang commented on #6094
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-17 07:42] #6094 closed

[2022-01-17 08:02] spacewander commented on #6105
We currently provide multi-version doc on the doc site: https://apisix.apache.org/docs/apisix/2.9/admin-api

We have tried it before, for example in the control-API's doc.
But it's hard to maintain it as new features are added into APISIX very frequently.

[2022-01-17 08:18] anjia0532 commented on #6105
Yes,This is a feasible solution.

[2022-01-17 09:46] zlhgo opened #6131 "request help: custom mismatching route response"
### Issue description

now:

apisix/init.lua:388
[code]

expect configable mismatching route response. incudes status code, header, body.

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-

[2022-01-17 10:06] tokers commented on #6125
I updated the title from `bug` to `enhancement`, it's not a bug.

[2022-01-17 10:29] tokers commented on #6123
@lihuawei321 Did you enable the `skywalking` plugin?

[2022-01-17 10:31] spacewander commented on #6131
Could you provide more details for your use case?

[2022-01-17 11:03] shelltea opened #6132 "bug: batch-requests get "504 upstream timeout" but upstream is correct."
### Issue description

When i use batch-request plugin,And send a request like this:
[code]

I got this:
[code]
The first path `/v2/comments/detail` return 200,The second path `/v2/comments/list` return 504.
But when i send a request only included the second path,it return 200 like this:
[code]

Response:
[code]

### Environment

- apisix version (cmd: `apisix version`):2.10.2
- OS (cmd: `uname -a

[2022-01-17 13:39] tzssangglass commented on #5755
I' m working on it.

[2022-01-17 13:59] tzssangglass commented on #5633
@dongyudan consider it solved, feel free to reopen this.

[2022-01-17 13:59] #5633 closed

[2022-01-17 14:06] tzssangglass commented on #6123
see: https://github.com/apache/apisix/issues/2931

 and it is better to show text rather than images.

[2022-01-17 14:11] tzssangglass commented on #6132
can you add a log here: https://github.com/apache/apisix/blob/d9be046028db5850a752f3b872fe21a6bc376e66/apisix/plugins/batch-requests.lua#L262-L263

just like:

[code]

and show the `responses` in `logs/error.log`

[2022-01-17 17:47] bzp2010 opened #6137 "Proposal: support more access control for plugin's public API"
## Background
Current APISIX users can register public APIs when developing plugins, such as the `sign` API in the `jwt-auth` plugin and the `login` and other API in the `wolf-rbac` plugin. In the current design, users can control their access through [API interceptor](https://apisix.apache.org/docs/apisix/plugin-interceptors), which currently only support IP restrictions via the `ip-restriction`

[2022-01-18 01:53] valleyFrost opened #6139 "request help: dashboards are not refreshed after the update is successful"
### Issue description

The dashboard version is apisix-dashboard-2.10.1-0.el7.x86_64. RPM.
To upgrade from 2.9 to 2.10, perform the following steps
[code]
Some dashboards are not refreshed after the update is successful and take effect after being restarted. However, the refresh failure occurs again after a period of time, and the dashboard takes effect after being restarted.

### Environment

- a

[2022-01-18 02:05] lijing-21 commented on #5879
Hi @aa57255621 , thank you for your contribution to the Apache APISIX!

We'd like to send you the special Contributor T-shirt[1], you could fill this form[2]~

[1] https://github.com/apache/apisix/blob/master/CONTRIBUTING.md#contributor-t-shirt
[2] https://forms.gle/ycKcJNsjnqajMYzu7

[2022-01-18 02:14] lijing-21 commented on #6067
Hi @encanto-oss, thank you for your contribution!

Here is the Contributor T-shirt form[1], if you're interested, kindly take a look :)

[1] https://github.com/apache/apisix/blob/master/CONTRIBUTING.md#contributor-t-shirt

[2022-01-18 02:19] leslie-tsang commented on #6009
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-18 02:19] leslie-tsang commented on #6068
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-18 02:29] #6068 closed

[2022-01-18 02:29] #6009 closed

[2022-01-18 02:46] shelltea commented on #6132
Hi @tzssangglass ,I add a log just like you code,But i didn't see any logs when i sent a request.Do i need to restart APISIX?
![image](https://user-images.githubusercontent.com/864375/149862012-766ef26f-9808-4ebb-ab3f-9fd9ff807c1c.png)

[2022-01-18 03:04] leslie-tsang commented on #6123
Hello there, `skywalking` plugin is disabled by default in [APISIX v2.8](https://github.com/apache/apisix/tree/release/2.8), It seems you had enable it by mistake.
Please refer to the [skywalking docs](https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/skywalking.md#disable-plugin) to disable it.

[2022-01-18 05:13] leslie-tsang commented on #6132
Hello there, you need to restart APISIX to apply the change.

[2022-01-18 05:38] Baoyuantop opened #6141 "improve: use the expiration timestamp in csrf plugin"
Just a proposal here, in the token object instead of total expiration seconds, can we use the expiration timestamp? So during the checking phase inside the `check_csrf_token` method, we could potentially check/prevent/[minimize the window] of replay attacks as an added benefit by figuring out if the generated cookie is long been expired or not. WDYT
Thank you. cc @spacewander

_Originally posted b

[2022-01-18 05:51] kongjun01 opened #6142 "request help: property "hosts" validation failed: failed to validate item"
### Issue description

my route host is engine*.cacazhu.com ,Can support begin xxx*.xxxx.com?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`): 2.10.3
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if ha

[2022-01-18 05:59] leslie-tsang commented on #6142
AFAIK, **not support yet**, you can design a custom plugin to achieve this.

[2022-01-18 06:04] kongjun01 commented on #6142
oh , no, but, thank you anyway.

[2022-01-18 06:39] mangoGoForward commented on #6105
Is there any works I can do it to improve this issue?

[2022-01-18 06:41] mangoGoForward commented on #6105
Is there any works I can do it to improve this issue?

[2022-01-18 06:45] leslie-tsang commented on #6105
AFAIK, not yet, Would you like to submit a PR to fix it ? Thanks.

[2022-01-18 06:49] mangoGoForward commented on #6105
I'd like to work on this, let's submit a PR.

[2022-01-18 06:52] shelltea commented on #6132
@tzssangglass @leslie-tsang    I restart APISIX and here is the logs:
[code]

Thanks for help.

[2022-01-18 06:55] #5917 closed

[2022-01-18 08:21] leslie-tsang commented on #6072
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-18 08:30] encanto-oss commented on #6137
This is a good improvement proposal and I want to give it a try.

[2022-01-18 09:17] shelltea commented on #6132
Does anyone have time to look at this problem? @tzssangglass @leslie-tsang

[2022-01-18 09:21] shelltea commented on #6132
I add more logs,And the second path's response status is nil.
![image](https://user-images.githubusercontent.com/864375/149907913-01dc5d14-6c07-40e3-8e56-b9b545d33440.png)

[code]

[2022-01-18 09:27] tzssangglass commented on #6132
yes, so this is why the return 504.

This looks like the connection was closed upstream.

[2022-01-18 09:29] tzssangglass commented on #6132
You can use another public upstream to verify if it is your upstream that is the problem.

[2022-01-18 09:57] shelltea commented on #6132
@tzssangglass I verify upstream's status,It's ok, When I sent request only included one path(`/v2/comments/list` or `/v2/comments/detail`),the response status is 200,Even I sent request with two identical paths,the second path return 504 upstream timeout.

[2022-01-18 10:16] shelltea commented on #6132
I changed to another upstream and path,same problem.

![image](https://user-images.githubusercontent.com/864375/149917357-d3629973-445b-48f7-996c-9e70b034ffe8.png)

If i use same path ,same problem.

![image](https://user-images.githubusercontent.com/864375/149917663-e3d35f97-05c4-4c9e-9656-dec81ee30811.png)

[2022-01-18 10:20] tzssangglass commented on #6132
can you change this to `"timeout": 30000` and try again?

[2022-01-18 10:36] anjia0532 opened #6143 "discuss: Support config merge/overwrite by profile(like spring boot profile style)"
### Issue description

目前官方已经支持了基于环境的配置文件的区分，文档: [基于环境变量进行配置文件切换](https://apisix.apache.org/zh/docs/apisix/profile)

看文档描述初衷是为了应对变化，但是个人感觉实际使用中，更多的是80%-90%的文件不变，少量是地址，密码，用户这种的变更。简单翻看了下源码 [apisix/core/profile.lua](https://github.com/apache/apisix/blob/master/apisix/core/profile.lua) ，应该只是基于 `APISIX_PROFILE ` 来读取不同的文件（类似加后缀）,意味着要维护两份绝大多数一样，少部分不一样的配置文件。好处是隔离风险，坏处是，久了容易导致配置割裂越来越严重。

出于最小化改动，不引入破坏性更新，及

[2022-01-18 10:37] #6072 closed

[2022-01-18 13:07] xianshun163 commented on #5966
@membphis  ,  do you  know  how to  get the  "Flame diagram",?
I  use  openresty-systemtap-toolkit  to  do it , but  I can not get the  right  lua parameter, the err  like  this:

[root@k8s_test1 xs]# ./openresty-systemtap-toolkit/ngx-sample-lua-bt -p 44121 --luajit51 -t 20 > tmp.bt
Unknown option: luajit51
Usage:
    ngx-sample-lua-bt [optoins]

Options:
    -a <args>           Pass extra argumen

[2022-01-18 14:12] tzssangglass commented on #6132
Does your upstream support [HTTP pipelining](https://en.wikipedia.org/wiki/HTTP_pipelining)

[2022-01-18 14:17] tzssangglass commented on #5966
You can refer to this PR: https://github.com/apache/apisix/pull/6136

[2022-01-19 01:06] juzhiyuan commented on #6137
Mailing List: https://lists.apache.org/thread/g25fz8ov3kjd2bf3fgrvtdcwxr2rk9kl

[2022-01-19 01:35] anjia0532 commented on #6143
如果可以，可以考虑把apisix.yml进行拆分，易于阅读，审计，备份，同时对于大文件的变更检查肯定不如小文件来的高效

比如原来配置

[code]

[code]

是读取文件，二者只能有一个，同时存在报错。其他项类似(`upstreams,upstreams_from_file`)

这样像是`plugins`，`ssl`，`services`等不常变更部分，检查ctime也行，检查文件md5也行，没变化跳过，有变化只读这一块就行了

[2022-01-19 02:08] shelltea commented on #6132
Our upstream are Spring Boot Application,Using Tomcat as Web Server fully implement HTTP/1.1.

[2022-01-19 02:21] spacewander commented on #6137
We can consider no longer exposing the public API by default. People need to expose it with the public-api plugin.

Yes, I know it's a break change. But after this change, we can be safe by default.

[2022-01-19 02:51] bzp2010 commented on #6137
In fact when we adjust the `router.api.match` order from `init.lua` (prioritize HTTP route matching over api, which in some sense is not exposing the API by default), it is already not exposed by default. So maybe it can be done in this PR.

[2022-01-19 03:34] spacewander commented on #6137
No, you still need to match with the public API when the first match returns 404, if we don't remove the router.

[2022-01-19 03:38] shelltea commented on #6132
@tzssangglass Hi,I think I found the cause of the problem.My HTTP client does not support `Keep-Alive` connections.
![image](https://user-images.githubusercontent.com/864375/150059478-173406c9-09d0-4172-a659-d3d4e6041b28.png)

When i change to another client,the request was correct.Thanks for you help.

[2022-01-19 04:33] hiqrf commented on #6125
we can solve this problem with the real ip plugin

[2022-01-19 04:33] #6125 closed

[2022-01-19 05:55] tzssangglass commented on #6132
ok, let close this.

[2022-01-19 05:55] #6132 closed

[2022-01-19 07:01] bisakhmondal commented on #6112
So in Loggly tags can be a crucial part of filtering. In syslog packet structure they are added to the syslog header part. In the next PR when we add support for emitting logs to loggly HTTP endpoints, these tags will be a part of HTTP headers. In both cases, the body contains the typical apisix payload.
see this:
![loggly-dashboard](https://user-images.githubusercontent.com/41498427/150080357-cd2

[2022-01-19 07:04] whioue opened #6148 "request help: How to modify the time zone in the error message"
### Issue description

当我创建了一个jwt认证，设置了token的超时时间，通过api获取到token后，超过超时时间后使用此token会得到报错信息如下：
![image](https://user-images.githubusercontent.com/47098518/150080588-0bfb3367-c645-47bb-aac2-336ae953630d.png)
应该如何修改时区，将GMT修改成CST？

### Environment

- apisix version (cmd: `apisix version`):V2.8
- OS (cmd: `uname -a`):Centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version,

[2022-01-19 07:07] spacewander commented on #6112
I see. So we need to use a separate configuration.

[2022-01-19 07:11] kongjun01 commented on #6142
I modified the radixtree_ host_ uri.lua source code,  when insert host_ In routes, the original logic is to reverse the host. I add a property in route. when it is turned on, the last host is in reverse order, for example, host is test*.baidu.com, it will become moc.udiab.test*.

[2022-01-19 10:09] #3266 closed

[2022-01-19 10:31] tokers commented on #6148
How did you sign the JWT token? The `exp` is numeric UNIX timestamp.

[2022-01-19 11:10] kevinw66 opened #6149 "request help: How to get request header in http_access_phase"
### Issue description

I have tried to print
[code]
and
[code]

The document says I can get header by this way.
But all I can see in log file is null.

https://github.com/openresty/lua-nginx-module#ngxvarvariable

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `cur

[2022-01-19 11:13] #6149 closed

[2022-01-19 15:04] kevinw66 opened #6154 "request help: How to match both path param and prefix?"
### Issue description

I try to match the two urls like below
`/users/${userId}/orders`
`/users/${userId}/orders/${orderId}`

And I'm using radixtree_uri_with_parameter to match url
but when I set path to `/users/:user/orders*`, the `/users/${userId}/orders/${orderId}` didn't match
when I set path to `/users/:user/orders/*`, the `/users/${userId}/orders` didn't match

What should I do so I can use

[2022-01-19 16:26] romainmeunier commented on #3690
Any update regarding this ?

[2022-01-20 01:49] bzp2010 commented on #6137
## Update
These have already been completed
- Adjusting the order of route matching (The api match is still not completely removed from the worker access flow)
- Implementation of `public-api` plugin

[2022-01-20 02:06] leslie-tsang commented on #6148
Hello there, I afraid it can't be done in APISIX, the error message generated in [resty.jwt](
https://github.com/SkyLothar/lua-resty-jwt/blob/master/lib/resty/jwt-validators.lua#L355)
The date in GMT format generated in [ngx.http_time](https://github.com/openresty/lua-nginx-module#ngxhttp_time)

[2022-01-20 02:08] qq54903099 commented on #3565
hi, I wan't to know , this feat is support?

[2022-01-20 02:26] leslie-tsang commented on #3565
@qq54903099 AFAIK, the feature is still **not supported yet**, Would you like to have it a try ?
Here is a PR #4696 may help.

[2022-01-20 02:27] #6148 closed

[2022-01-20 03:15] leslie-tsang commented on #3565
Ooh, thanks for pointing that out !

Agree.

[2022-01-20 05:57] jagerzhang commented on #5998
确实没有在日志插件中实现，我参考这个写法自己试了下，发现`ctx.matched_route.value`里面并没有labels相关内容，代码如下：
[code]

[2022-01-20 06:00] #5910 closed

[2022-01-20 06:01] #5551 closed

[2022-01-20 07:34] crazyMonkey1995 opened #6157 "bug: Makefile error in master branch"
### Issue description

I found that apisix did make code adjustments to the discovery module:
![image](https://user-images.githubusercontent.com/21658981/150293464-86cf030a-8619-4445-ad71-97e22f01568c.png)
But the make file:
![image](https://user-images.githubusercontent.com/21658981/150293646-a7c98029-9044-46c1-a32c-2b1f0e1e2fde.png)
So the folders under discovery will not be copied in.

### Envi

[2022-01-20 07:38] crazyMonkey1995 commented on #6157
By the way the branch I used is master

[2022-01-20 07:39] spacewander commented on #6131
Look like it is already solved by a match-anything route `/*` plus fault-injection plugin?

[2022-01-20 07:41] leslie-tsang commented on #6157
Thanks for reporting. I will check it.

[2022-01-20 08:27] #6157 closed

[2022-01-20 09:17] zzywq opened #6162 "集成注册中心后（nacos），能否支持灰度发布"
### Issue description

集成注册中心后（nacos），能否支持灰度发布
例如 客户端能够通过一个版本号或者参数，能够精准的路由到满足条件和后端服务节点上去。

### Environment

集成注册中心后（nacos），能否支持灰度发布

### Steps to reproduce

集成注册中心后（nacos），能否支持灰度发布

### Actual result

集成注册中心后（nacos），能否支持灰度发布

### Error log

集成注册中心后（nacos），能否支持灰度发布

### Expected result

集成注册中心后（nacos），能否支持灰度发布

[2022-01-20 09:23] zzywq commented on #6162
其实提这个需求，注意的应用场景在于本地开发环境，能够更加header  信息精准的绑定到指定的后端节点上面去，
想到的方案是能够自定义负载均衡策略，或者nacos 服务中的路由元数据就行过滤

[2022-01-20 10:06] spacewander commented on #6066
@shelltea
Sorry, now I confirm it is a bug after discussed with teammate.

[2022-01-20 10:09] #3362 closed

[2022-01-20 10:09] #3374 closed

[2022-01-20 10:09] #3375 closed

[2022-01-20 10:11] fgreinacher commented on #1062
New link: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/consumer-restriction.md

[2022-01-20 10:14] spacewander commented on #5998
I demonstrate how to use it in https://github.com/apache/apisix/pull/6163

[2022-01-20 10:55] shuaijinchao opened #6167 "bug: request exception when GraphQL route does not send body"
### Issue description

as shown in the title

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runner version, if the issue is about a

[2022-01-20 10:59] jagerzhang opened #6169 "bug: The custom labels will be lost when the route is associated with the service"
### Issue description

当路由采用和service组合方式来配置时，路由属性里面的自定义标签会丢失，日志插件无法记录到自定义的标签。

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`): docker-centos

### Steps to reproduce

1.新增upstream如下:
[code]
2.新增service如下:
[code]
3.新增route如下:
[code]
4.在requests-id插件里面新增日志阶段函数，内容如下:
[code]

5.重载APISIX，请求该路由，查看日志，会发现`ctx.matched_route.value`打印的内容里面没有label相关内容.

6. 如果是使用 route直

[2022-01-20 11:36] shuaijinchao commented on #6169
I reproduced the issue in my local dev environment, @jagerzhang thanks for your feedback.

[2022-01-20 11:51] jagerzhang commented on #5998
嗯，当我改造kafka-logger的时候，发现了一个bug，已提issue: https://github.com/apache/apisix/issues/6169

[2022-01-20 12:11] projectindex opened #6170 "request help: can apisix suport downstream connection manage and Bidirectional streaming gRPC feature?"
### Issue description

1. downstream connection management
client -->apisix -->service
in sometime, client application heartbeat message lost, or need discard connection, or other reason,
can apisix actively force close TCP connection?

2.  Bidirectional streaming gRPC support
my service have Bidirectional streaming gRPC, which to push some message to client.

client only one http2 connection to a

[2022-01-20 12:11] zlhgo commented on #6131
不好意思，英语不好。
就是如果APP请求了一个不存在的路由，返回的数据可能解析不了会导致APP崩溃，但是APP已经发布了。

[2022-01-20 13:04] fjs-icu opened #6171 "bug: why request is forwarded to wildcard API?"
### Issue description

一个固定的域名 如 a.test1.com 下的路由 转发到 泛域名 上了  *.test1.com

### Environment

- apisix version (cmd: `apisix version`):  最新版 2.11.0 docker 部署
- OS (cmd: `uname -a`): centos7
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if

[2022-01-20 13:10] juzhiyuan commented on #6171
cc @zaunist to have a check 😉

[2022-01-20 13:11] zaunist commented on #6171
You can set `priority` to distinguish both route. ref [apisix route](https://apisix.apache.org/zh/docs/apisix/admin-api#body-%E8%AF%B7%E6%B1%82%E5%8F%82%E6%95%B0)

[2022-01-20 13:32] fjs-icu commented on #6171
@zaunist
curl http://127.0.0.1:80/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "upstream": {
       "nodes": {
           "192.168.0.3:8081": 1
       },
       "type": "roundrobin"
    },
    "hosts": ["*.test1.com"],
    "uris": [ "/v1/*"],
	"priority": 1
}'

curl http://127.0.0.1:80/apisix/admin/routes/2 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1

[2022-01-20 13:34] leslie-tsang commented on #6171
Hello there, try
[code]

[2022-01-20 13:38] fjs-icu commented on #6171
@zaunist Thank you very much

[2022-01-20 13:44] zaunist commented on #6171
So is the performance is normal ?

[2022-01-20 13:51] fjs-icu commented on #6171
@zaunist  Thank you very much ：

ret:
[20/Jan/2022:13:35:42 +0000] a.test1.com "HEAD /v1/a HTTP/1.1" 502 0 0.001 "-" "curl/7.29.0" 192.168.0.3:8082 502 0.001 "http://a.test1.com"

The result is correct   ; ok  ok .

but
 priority :
If different routes contain the same uri, determine which route is matched first based on the attribute priority. Larger value means higher priority. The default value

[2022-01-20 13:53] zaunist commented on #6171
So what' problem? Please describe more detail.

[2022-01-20 14:13] tzssangglass commented on #6162
This is not an issue, I will move to discussion.

[2022-01-20 14:21] tzssangglass commented on #6154
Path prefix matching and path parameter matching cannot be enabled at the same time.

[2022-01-20 14:27] tzssangglass commented on #6170
Closing the connection should be something done by the client or upstream, and the gateway actively closing the connection is usually in a timeout situation.

[2022-01-20 14:42] fjs-icu commented on #6171
[code]
oper2
[code]

[2022-01-20 15:00] zaunist commented on #6171
cc @tzssangglass. Please take a look, I don't know why the low priority matches first here.

[2022-01-20 16:25] vasvi-sood opened #6173 "request help: ./ manager-api command not working"
### Issue description

After following the steps in [basic deploy](https://apisix.apache.org/docs/dashboard/install), the launch command is not working.
This is the error showing up on the terminal:
`{"level":"warn","ts":"2022-01-20T21:49:30.699+0530","caller":"clientv3/retry_interceptor.go:62","msg":"retrying of unary invoker failed","target":"endpoint://client-1b55df6e-e087-4dd6-9aac-84dabf5a823

[2022-01-20 18:33] leslie-tsang commented on #6173
It seems that your etcd service is not started.

[2022-01-21 00:57] grainrain opened #6174 "request help:"
### Issue description

apisix  installation  by docker-compose  https://github.com/apache/apisix-docker/tree/master/example
when enable openid-connect plugin , happer error
error image url : https://github.com/grainrain/issues/blob/main/Snipaste_2022-01-21_08-41-49.png
`Invalid plugin data
should have required property 'client_id'`
above operation by  apisix dashboard,  I can not find any place ca

[2022-01-21 01:15] leslie-tsang commented on #6174
Hello there, Please refer to [openid-connect test case](https://github.com/apache/apisix/blob/master/t/plugin/openid-connect.t#L103-L120).

[2022-01-21 01:19] tzssangglass commented on #6131
waht @spacewander means that you can set up a `/*` route to underwrite and match all requests that cannot be matched, and configure the `fault-injection` plugin on this route to  define your response.

just try.

[2022-01-21 01:35] grainrain commented on #6174
thanks for reply ,but how can I config in apisix dashbord portal ,  because  the error happen when I config in dashboard

[2022-01-21 01:38] tzssangglass commented on #6171
for oper1, the path of request is `/v1/a`, It will be captured by `/v1/*` first, following the depth prefix matching, see: https://github.com/apache/apisix/blob/master/docs/en/latest/router-radixtree.md#3-match-priority

for oper2, the path of request is `/v1/a`, it won't be captured by `/v1/`.

Perhaps this is an inaccurate description and priority will work if all other matching conditions are e

[2022-01-21 01:39] leslie-tsang commented on #6174
Try this
[code]

[2022-01-21 01:43] grainrain commented on #6174
https://github.com/grainrain/issues/blob/main/2022-01-21_09-41-42.png
please  view the image url ,  I can not edit , Raw Data Editor  disable

[2022-01-21 02:15] davidwhf opened #6175 "request help: api-breaker plugin donot work"
### Issue description

[code]
I execute command curl three times, it still return 503,not 502.
[code]

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -a`): Linux 5d9c3c92e8b1 3.10.0-1127.el7.x86_64 #1 SMP Tue Mar 31 23:36:51 UTC 2020 x86_64 Linux
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
nginx version: openresty/1.19.3.2
built by gcc 9.3.

[2022-01-21 02:19] zaunist commented on #6175
HI, @davidwhf . Is your upstream healthy? Please provide more detail and reproduce steps.

[2022-01-21 02:55] zaunist opened #6176 "Proposal: refactor server-info plugin"
## Background
The current server-info plug-in adds a revision every time the status is updated, and some users set a relatively short reporting time, which may result in millions or even tens of millions of data in etcd after a long run, resulting in a slow connection and high cpu usage.

## Purpose
Modify the current server-info plugin so that it does not write a piece of data to etcd every time

[2022-01-21 02:57] leslie-tsang commented on #6174
@bzp2010 PTAL, thanks.

[2022-01-21 03:08] fjs-icu commented on #6171
@tzssangglass   for oper1 and oper3 and oper4 ： router priority  hight >  host ,

but  I want to http://a.test1.com/v1/a  match routes/2 ("hosts": ["a.test1.com"] "192.168.0.3:8082")  ；That is  a.test1.com > *.test1.com ; a.test1.com  > *.test1.com ， host > priority，  Do you know what I mean?

oper3:
[code]
curl -I http://a.test1.com/v1/a
apisix log：
[20/Jan/2022:12:51:55 +0000] a.test1.com "HEAD

[2022-01-21 03:53] tzssangglass commented on #6171
you can use `radixtree_host_uri` as route match. see: https://github.com/apache/apisix/blob/5513f1f66bdd047120936a6b1cc7340741c94366/docs/en/latest/architecture-design/router.md

the `config.yaml` as

[code]

route1
[code]

route2
[code]

and test
[code]

the log
[code]

- the `uris` is same
- route2's priority less then route1's
- route2's hosts is is well defined, not regex

Is this what you wan

[2022-01-21 04:24] fjs-icu commented on #6171
@tzssangglass Thank you very much,You are excellent.

[2022-01-21 04:24] #6171 closed

[2022-01-21 09:21] #6169 closed

[2022-01-21 09:45] heshuai-8888 opened #6182 "request help: failed to receive RPC_HTTP_REQ_CALL: closed"
### Issue description

There will be exceptions from time to time :  failed to receive RPC_HTTP_REQ_CALL: closed .

![image](https://user-images.githubusercontent.com/57247180/150504737-faff84f5-6439-4efd-917d-7473f2967e4f.png)

What is the reason for this? How to solve?

### Environment

1. Docker deployment;  An apisix-doker image built by myself based on centos7 + apisix ；
2. Upstream uses naco

[2022-01-21 09:47] heshuai-8888 commented on #6182
apisix version : 2.11.0

[2022-01-21 09:50] heshuai-8888 commented on #6182
apisix-docker-image  run  procress:
![image](https://user-images.githubusercontent.com/57247180/150505497-674c8a95-318b-4944-8f98-98002a57f655.png)

[2022-01-21 10:02] drrrMikado opened #6183 "request help: Can a reverse proxy like proxy_pass be implemented in the Go Runner plugin?"
### Issue description

我想使用 Go Runner 来实现灰度策略的插件，所以需要反向代理的功能，所以在 Go Runner 插件中可以实现吗？

### Environment

- apisix version: 2.11.0
- OS: Linux ccc8f2dba1bc 5.10.81.1-microsoft-standard-WSL2 #1 SMP Mon Nov 22 18:52:15 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx version: openresty/1.19.9.1
- etcd version: 3.4.0
- apisix-dashboard version: 2.10.1

[2022-01-21 11:29] shuaijinchao commented on #6183
Since the current `Plugin Runner` does not support the operation of `Upstream` information, it is not yet supported to develop this function on the `Plugin Runner`.
Currently, `Plugin Runner` supports operations on request data such as request headers, request parameters, request body, and request URI.

[2022-01-21 11:31] zlhgo commented on #6131
谢谢，应该是没问题的。不过还是希望能考虑下是否支持自定义配置，因为这样会更简单一些。 :-)

[2022-01-21 11:31] #6131 closed

[2022-01-21 12:02] zlhgo opened #6184 "bug: balancer.lua:187: attempt to index local 'up_conf' (a nil value)"
### Issue description

Occasionally appear

### Environment

- apisix version (cmd: `apisix version`):  2.11.0
- OS (cmd: `uname -a`): Linux stable-apisix-gateway-5956d8b7-gns25 4.19.91-24.1.al7.x86_64 x86_64 x86_64 x86_64 GNU/Linux

- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
nginx version: openresty/1.19.9.1
built by gcc 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
built with OpenSS

[2022-01-22 03:50] tiyorn opened #6185 "request help: Why proxy-rewrite.host must be configured when starting the proxy-rewrite plugin, otherwise it will be forwarded directly to 127.0.0.1 by default, even if upstream.nodes is configured?"
### Issue description

The configuration is as follows：
[code]

And the access.log show:
`127.0.0.1:9080 "GET /blog/index.php HTTP/1.1" 301 0 0.172 "-" "PostmanRuntime/7.26.3" 10.132.16.70:80 301 0.168 "http://127.0.0.1:9080/index.php"`

When proxy-rewrite.host is configured as 10.132.16.70, it is normal. At this time, the log is：
`127.0.0.1:9080 "GET /blog/index.php HTTP/1.1" 301 0 0.179 "-" "Pos

[2022-01-22 07:20] leslie-tsang commented on #6184
Hello there, please provide the reproduction steps.
then set your log level to `info`, put the **relevant error log** in desc.
It's hard for people who trying to figure out what happened in you case.

[2022-01-23 03:44] zlhgo commented on #6184
It's very hard to reproduce.This is my production environment and cannot open info level logs.

[2022-01-23 12:55] starsz commented on #6185
Hi, @tiyorn

No, It's not necessary. It defines the Host head that sends to the upstream.
You can refer to the doc: https://apisix.apache.org/docs/apisix/plugins/proxy-rewrite

I think the request is sent to the upstream `10.132.16.70`, and uses the `Host` head of `127.0.0.1:9098`, so the log will be that.

[2022-01-23 12:59] starsz commented on #6184
Hi @zlhgo.
Do you have any DIY plugins in your APISIX?

[2022-01-23 13:05] starsz commented on #6175
Hi, @davidwhf.
I think you should config the upstream (even if a bad upstream) so that it can work well.

You can try this:

[code]

[2022-01-23 13:59] leslie-tsang commented on #6105
@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-23 14:03] anjia0532 commented on #6143
有任何进展吗？

[2022-01-24 01:18] tokers commented on #6176
After the implementation, we may also make a benchmark to assess the optimization level.

[2022-01-24 02:09] spacewander commented on #6143
Kong is migrating its dbless backend to LMDB. For effectiveness, multiple files can't win an embedded database.

But multiple files may be a good solution for middle-scale configuration.

What about using a directory to configure, and merging all files into one?
For example,

[code]

[code]

We can keep the list in memory and update the data if one of the files changes.

It is only my idea. Since

[2022-01-24 02:25] zaunist commented on #6176
Sure, I will do this work.

[2022-01-24 02:35] spacewander commented on #6143
@anjia0532

We are developing [etcd-adaptor](https://github.com/api7/etcd-adapter) as the alternative to standalone mode.

Currently, etcd-adapter already supports MySQL as the backend.

We can introduce SQLite or BoltDB as the backend of etcd-adapter.

It would be great if you can join the development with us and use the adapter in your company 😄

[2022-01-24 02:46] #6105 closed

[2022-01-24 02:58] anjia0532 commented on #6143
ping @spacewander

我试图遵循社区礼仪，使用英文交流，但是机翻的效果并不是很好，为了不引起歧义，仍用中文，请谅解。

通过在社群(比如微信群组和qq群组)etcd的运维问题仍然会时常被提及，说明etcd作为k8s的常见组件，关于其运维能力仍然没有被绝大多数人所掌握，甚至群内仍有时不时反馈，是否会在将来使用mysql作为存储数据库的建议。

鉴于此，可能 [LMDB](https://lmdb.readthedocs.io/en/release/) 是个很棒的提议，但是请考虑是否易于维护，易于理解，开箱即用。反之，mysql,redis,pgsql一类的方案，或许不够酷，不够高效，但是对于一些中小型团队，效率可能不那么重要，稳定且易于维护，是否更重要？(PS: 正在编辑这个回复时，看到您另外一条回复提及的 [etcd-adaptor](https://github.com/

[2022-01-24 03:05] anjia0532 commented on #6143
Yes, It's so Cool! I want to give it a try. 😄

[2022-01-24 03:45] laokan opened #6187 "bug: The dashborad config the upstream timeout not effective"
### Issue description

the apixsix give the 504 error  change the timeout config in dashborad but not effective !

### Environment

- apisix version (cmd: `apisix version`): 2.5
- OS (cmd: `uname -a`): centos
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`): nginx version: openresty/1.19.3.1
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the inf

[2022-01-24 05:25] #6187 closed

[2022-01-24 06:32] leslie-tsang commented on #6123
@juzhiyuan Consider resolved due to lack of feedback. Feel free to reopen it if needed.

[2022-01-24 07:11] #6137 closed

[2022-01-24 07:20] davidwhf commented on #6175
In fact, I refer to the example of official documents.
see as https://apisix.apache.org/zh/docs/apisix/plugins/api-breaker/
503 is an http error code that the resource cannot be found. Therefore, although upstream is not configured, the http request return 503.

[2022-01-24 07:47] #6123 closed

[2022-01-24 08:21] jagerzhang opened #6188 "request help: keepalive can not disable in upsteram"
### Issue description

APISIX配置中默认开启了keepalive提高性能：
[code]

开启后，想在特定的 upstream 中关闭keepalive, 比如尝试在upstream里面添加如下配置：
[code]
添加后，idle_timeout 会被过滤掉，最终还是用的配置里面的keepalive_timeout。

**请问下，APISIX本身就是这样设计的么？有没有办法在全局开启keepalive的情况下关闭指定upstream的keepalive？**

目前看只能反过来实现，全局关闭keepalive:
[code]

然后在需要开启的upstream中打开keepalive。

### Environment

- apisix version (cmd: `apisix version`): 2.11.0
- OS (cmd: `uname -

[2022-01-24 08:31] myoss opened #6189 "bug: Error collecting logs with jaeger-collector-agent 9411"
### Issue description

enable zipkin plugin, collecting logs with jaeger-collector-agent, request route failed

### Environment

- apisix version (cmd: `apisix version`): 2.11.0-alpine
- OS (cmd: `uname -a`): k8s pod
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API): 3

[2022-01-24 09:39] kongjun01 opened #6190 "request help: How to proxy to a third-party website by custom a global plug-in？"
### Issue description

my route :

[code]

I expect when i visit test.test.com agent to www.baidu.com, but it is return 404.

### Environment

- apisix version (cmd: `apisix version`): 2.10.3
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
-

[2022-01-24 11:56] kongjun01 commented on #6190
I expect to customize the route through the global plug-in, because the route information cannot be created through the apisix api. However, when the route does not match, it directly returns '404 route not found'.

[2022-01-24 12:13] kongjun01 commented on #6190
Whether or not execute the plug-in before match runs?

[2022-01-24 12:50] tzssangglass commented on #6190
`404 route not found`

This means that your request is not caught by any route, which I think might have something to do with your `host` settings.

global route run before route match.

[2022-01-24 12:53] tzssangglass commented on #6189
ref to: https://github.com/apache/apisix/issues/2151#issuecomment-706060672

This will help you?

[2022-01-24 13:19] kongjun01 commented on #6190
My etcd doesn't have this route information.

![image](https://user-images.githubusercontent.com/5688653/150789678-67e035e9-5648-4fb4-80a7-17982818598c.png)

in apisix 2.10.3 version, global route run after route match.

[2022-01-24 13:49] tzssangglass commented on #6188
after a quick glance at the code, I think the `idle_timeout` should overriding the default `keepalive_timeout` in the upstream, here https://github.com/apache/apisix/blob/f81788bdb06518ce1411e3ac624311c23cd56a4f/apisix/balancer.lua#L288

I'm not sure if setting `idle_timeou`t to 0 will have the same effect as close keepalive.

cc @spacewander

[2022-01-24 20:45] bisakhmondal commented on #6175
see as https://apisix.apache.org/zh/docs/apisix/plugins/api-breaker/
503 is an http error code that the resource cannot be found. Therefore, although upstream is not configured, the http request return 503.

Hi as @starsz pointed out, the error is due to missing upstream configuration. If you open the logs/error.log you will see an entry there,

Due to security reasons, we don't throw elaborate er

[2022-01-25 01:06] tokers commented on #6189
@myoss What does the route object look like? Could you paste some elaborated details?

[2022-01-25 01:28] tzssangglass commented on #6190
If this is business logic you wrote yourself, won't discuss it.

Thank you for pointing that out, indeed.

ref to: https://github.com/apache/apisix/blob/d9be046028db5850a752f3b872fe21a6bc376e66/apisix/init.lua#L388-L396

[2022-01-25 01:29] tzssangglass commented on #6190
So I'm afraid you can't inject route when running the global plugin.

[2022-01-25 01:34] jagerzhang commented on #6188
明白了，是因为 dashboard 这里会将idle_timeout=0的值过滤掉，通过admin-api更新idle_timeout=0则可以生效。

[2022-01-25 01:35] tzssangglass commented on #6175
@davidwhf would you like to submit a PR to improve the documentation?

[2022-01-25 02:08] kongjun01 commented on #6190
OK, I see what you mean.

[2022-01-25 02:34] kennethToyuan commented on #6080
@qq54903099   nice !  good！

[2022-01-25 02:35] #6080 closed

[2022-01-25 02:38] spacewander commented on #6188
Yes, idle_timeout to 0 is equal to `keepalive_timeout 0`.

[2022-01-25 02:41] #6167 closed

[2022-01-25 02:45] myoss commented on #6189
[code]

[2022-01-25 02:54] #6188 closed

[2022-01-25 05:46] tzssangglass commented on #6190
If you need to do this, you can fork it and modify it later.

[2022-01-25 05:47] tzssangglass commented on #6190
It seems that this issue is not related to the project, I will close it, feel free to reopen it if you need.

[2022-01-25 05:47] #6190 closed

[2022-01-25 06:26] kennethToyuan opened #6194 "bug: socket hang up"
### Issue description

add  response-rewrite   plugin, postman  submitapi error>>>>> socket hang up

### Environment

- apisix version (cmd: `apisix version`): 2.10.2
- OS (cmd: `uname -a`): Linux 9beceabc408a 3.10.0-1160.45.1.el7.x86_64 #1 SMP Wed Oct 13 17:20:51 UTC 2021 x86_64 Linux
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://1

[2022-01-25 07:35] 123libohan opened #6197 "request help: How to current limit both in minutes and day by using plugin limit-count"
### Issue description

How to current limit both in minutes and day  by using plugin limit-count?
current,the plugin limit-count only Set a traffic limiting mode, Second or minute,If I want to set seconds and minutes at the same time,plugin not support,Because what you set later overwrites what you set earlier,Is there a better solution to this problem?thank you

### Environment

- apisix version

[2022-01-25 07:38] XW512 commented on #6197
+1，I also want to know if there is a solution

[2022-01-25 08:54] tzssangglass opened #6198 "bug: core.json cannot serialise sparse array if enabled healthcheck"
### Issue description

When healthcheck is enabled, the checker part of the route or upstream is a sparse array that cannot be serialized by core.json.

### Environment

- apisix version (cmd: `apisix version`): lasted
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the inf

[2022-01-25 09:05] tzssangglass commented on #6194
give the full reproducible steps using curl.

BTW,

[code]

is incorrect format.

[2022-01-25 11:01] tokers commented on #6198
Is it caused by this part?

[code]

Since here both the `200` and `302` are numeric.

[2022-01-25 11:14] 123libohan commented on #6197
Thank you but this plugin also can not limit both in minutes and day on one cunsumer at the same time.

Thank you but this plugin also can not limit both in minutes and day on one cunsumer at the same time.

[2022-01-25 11:14] tokers commented on #6197
Currently, the only way that you can run a plugin twice is through the global rule and per-requests' route level plugins.

[2022-01-25 11:54] zlhgo commented on #6184
@starsz Yes, but my plugin has not modified the `ctx.upstream_conf`

[2022-01-25 12:35] starsz commented on #6198
Agree +1.
I check it, we don't support encoding if the key is numeric.

[2022-01-25 15:30] tzssangglass commented on #6198
maybe, if health checks are enabled, the route or upstream must contain a checker, and the checker must contain these.

I think a way to avoid such mistakes is needed.

[2022-01-26 00:16] tzssangglass commented on #6184
reproducible steps are needed to be able to track issues.

[2022-01-26 01:09] tokers commented on #6198
Or just use the `encode_sparse_array` method?

[2022-01-26 01:18] starsz commented on #6184
Maybe you can disable your plugins, and have a try.

[2022-01-26 01:19] spacewander commented on #5119
One of our enthusiastic users writes a tool to do it, see https://github.com/apache/apisix/issues/5957

[2022-01-26 01:21] spacewander commented on #6197
In the future, we can implement it via https://github.com/openresty/lua-resty-limit-traffic/blob/master/lib/resty/limit/traffic.md#combine?

[2022-01-26 02:57] kennethToyuan commented on #6194
@tzssangglass   Please tell me what is wrong?

[2022-01-26 03:03] leslie-tsang commented on #6194
Hello there, @kennethToyuan , Invalid JSON formatting.

[2022-01-26 03:09] #3891 closed

[2022-01-26 03:12] jthann opened #6206 "bug: nacos discovery config valid error when using special character password symbol in config.yaml"
### Issue description

When using special characters in nacos password  in config.yaml following the document from [https://apisix.apache.org/docs/apisix/discovery/nacos](url).
At starting time the json schema validator report error and apisix start failure

### Environment

- apisix version (cmd: `apisix version`):  2.11.0
- OS (cmd: `uname -a`):  macOS Big Sur 11.3.1

### Steps to reproduce

1、C

[2022-01-26 03:13] zlhgo commented on #6184
不好意思各位，我还是用中文吧。
这个是我的生产环境，25号大概5000多万次请求， `/usr/local/apisix/apisix/balancer.lua:187: attempt to index local 'up_conf' (a nil value)` 也只出现了7次，有时候会多些，估计也就1、20次的样子。不太好复现。@tzssangglass

@starsz 因为是生产环境我的插件可能不方便禁用。
谢谢两位。

[2022-01-26 03:21] leslie-tsang commented on #6184
Hello there, I'm afraid we can't do anything due to the lack of necessary information at the moment.

[2022-01-26 06:03] purekeeper opened #6209 "request help: why proxy_rewrite dones't work well"
### Issue description

I do the demo follow https://apisix.apache.org/docs/apisix/plugins/proxy-rewrite
 step1 : curl add route and plugin
step2:     curl -X GET http://127.0.0.1:9080/test/index.html,
but i get 502  and the request log is not same with you said ,I think it does not rewite the host to "http://iresty.com/test/home.html   .Anybody tell me why ?
![image](https://user-images.githubuser

[2022-01-26 06:16] tzssangglass commented on #6198
Sounds good, I will try it.

[2022-01-26 06:28] leslie-tsang commented on #6209
Hello there, It just a demo, which mean that you need to change the `upstream` and `host` to make it work.

[2022-01-26 06:34] purekeeper commented on #6209
@leslie-tsang    Please look the demo again, I think it not relate with the upstream, I think any request with uri /test/index.html will be forward to http://iresty.com/test/home/html,  because the proxy-rewrite plugin rewrite the request right ?

[2022-01-26 07:32] leslie-tsang commented on #6209
I afraid the answer is no.
The request will be send to `http://127.0.0.1:80/test/index.html` with the request header `host: iresty.com`

You can try the following `CMD` to test if it achieves your goal
[code]

[2022-01-26 10:12] drrrMikado commented on #5233
I get same error in custom plugin when rewrite upstream.
Upstream data:
[code]
Route:
[code]
Custom plugin code:
[code]
error log:
[code]

[2022-01-26 11:05] kennethToyuan commented on #6194
yes i found

[2022-01-26 11:05] #6194 closed

[2022-01-26 11:20] zlhgo commented on #6184
今天下午遇到一个更奇怪的问题。16:25到16:45出现了 423 此 `/usr/local/apisix/apisix/balancer.lua:187: attempt to index local 'up_conf' (a nil value)`。同时伴随着一部分路由的请求转发了到一个错误的后端地址上。造成了业务报错才发现是请求了错误的后端地址。16:45后这个问题就自动恢复了。这段时候我也没有做什么操作，查了apisix-admin的日志 ingress-controller 也没有更新过upstream。

[2022-01-26 12:16] tzssangglass commented on #5233
hi @drrrMikado, the cause and the solution of this problem are provided above. Since it is your own plugin, there is nothing I can do about it.

[2022-01-26 13:54] tzssangglass commented on #6206
can you change `NOK1&(&*!#3@127.0.0.1:8848` to normal String to verify if this error is special characters caused by.

[2022-01-26 18:38] leslie-tsang commented on #6206
Hello there, The `host` match pattern for the APISIX `v2.11` `nacos` plugin is `^http(s)?:\/\/[a-zA-Z0-9-_.:\@%]+$`
Refer to [nacos.lua](https://github.com/apache/apisix/blob/release%2F2.11/apisix/discovery/nacos.lua#L47), the error may caused by [jsonschema](https://github.com/api7/jsonschema/blob/d6a0155586eead4db99f82f399ac56c4e614b130/lib/jsonschema.lua#L944-L948).

[code]
I don't know if I'm

[2022-01-26 19:09] leslie-tsang commented on #6198
Cool, refer to [encode_sparse_array](https://www.kyne.com.au/~mark/software/lua-cjson-manual.html#encode_sparse_array), looks like the `DEFAULT_SPARSE_SAFE` set to `10` is not enough for this scenario.

[2022-01-27 01:10] leslie-tsang commented on #6142
Hello there, seems we have a [solution](https://github.com/api7/lua-resty-radixtree/issues/112) here.

[2022-01-27 03:03] #5119 closed

[2022-01-27 03:06] spacewander commented on #6189
@myoss
Could you provide the way that you configure & run the jaeger-collector-agent so we can reproduce it?

[2022-01-27 03:10] spacewander commented on #6206
Yes. We should fix host match pattern.

[2022-01-27 03:18] tzssangglass commented on #6198
It's a bit tricky, the content of the checker is too big……

[2022-01-27 04:18] zlhgo commented on #6184
昨天已经把大部分流量切回了 `kubernetes/ingress-nginx`, 今天早上还是出现了几次 `/usr/local/apisix/apisix/balancer.lua:187: attempt to index local 'up_conf' (a nil value)` 同时也有路由请求到了错误的后端地址。

告警日志
[code]

阿里云sls查的最近1小时ingress access log日志。
[code]

查询结果
| proxy\_upstream\_name                | min\_time            | max\_time            | count  |
| ------------------------------------ | -------------------- | -------------

[2022-01-27 05:44] tokers commented on #6198
Right, I think estimating the sparse degree is not available.

[2022-01-27 05:47] purekeeper commented on #6209
okay，thanks all.

[2022-01-27 05:47] #6209 closed

[2022-01-27 06:42] drrrMikado commented on #5233
Ok, Thanks.

[2022-01-27 07:08] zlhgo commented on #6184
请求到错误后端的日志
[code]

`proxy request to 172.16.91.123:8080` 这里的IP端口并没有在上面的upstream里面。

[2022-01-27 07:30] tzssangglass commented on #6184
From your logs, you have a plugin `ky-traffic-control`, maybe imitating `traffic-control`, you need to know that `traffic-control` plugin is rewriting `upstream_conf`.

here: https://github.com/apache/apisix/blob/427e9269efe32836051bf280ea2af4a566730ae4/apisix/plugins/traffic-split.lua#L196

Let's ignore the ip issue for a moment.

Just from the information you have provided so far

1. this error

[2022-01-27 07:35] zlhgo commented on #6184
@tzssangglass 你好。
ky-traffic-control 这个插件我已经在中午12点以前已经禁用了，所以应该和我的插件没有关系吧？
这段日志是12点以后的。我通过日志分析发现可能请求了错误的后端和`attempt to index local 'up_conf' (a nil value)`应该没有直接的关系。 因为我发现日志里记录的请求了错误的后端早于`attempt to index local 'up_conf' (a nil value)`之前发生。谢谢。

[2022-01-27 07:43] moonming commented on #5755
@tzssangglass https://github.com/knyar/nginx-lua-prometheus/pull/131 merged, so any update for this issue? thx

[2022-01-27 07:55] spacewander commented on #6184
Hi, can it be reproduced with a fresh APISIX? (without any additional code)

Maybe we can add more log when `up_conf` is accessed, like logging the `tostring(up_conf)` with the route id and upstream id.

[2022-01-27 07:58] zlhgo commented on #6184
attempt to index local 'up_conf' (a nil value) 相关错误日志。

[code]

[2022-01-27 08:00] zlhgo commented on #6184
可以的，我可以from官方镜像重新打一个包。 但是保留下面这个插件可以吗。我需要在access_log里记录upstream_name
[code]

[2022-01-27 08:48] sapphire0929 opened #6217 "request help: does apisix authentication plugin support multiple authentication methods at the same time"
### Issue description

https://docs.konghq.com/gateway/2.7.x/configure/auth/allowing-multiple-authentication-methods/
https://docs.konghq.com/gateway/2.7.x/configure/auth/
测试apisix开启多个认证插件，需要同时满足条件才能通过验证，是and的关系，能否像kong一样，可以设置成or的关系，满足任何一个验证就能通过呢?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- e

[2022-01-27 09:38] zlhgo commented on #6184
@spacewander @starsz @tzssangglass @leslie-tsang 各位大佬好。
我已经基于 apache/apisix:2.12.0-centos 重新打包了。并只保留了上面的 `ky-ngx-vars` 插件。以下是我打包运行相关代码。

Dockerfile
[code]

run.sh
[code]

我先观察几天看看。

[2022-01-27 09:52] tzssangglass commented on #5755
I have asked the maintainer if there are plans to release a new version, form my previous observations, usually the maintainers wait for stability before releasing a new version, so let's wait a little longer.

[2022-01-27 10:05] tzssangglass commented on #6184
BTW, we support register custom variable by another way, see: https://github.com/apache/apisix/blob/master/docs/en/latest/plugin-develop.md#register-custom-variable

[2022-01-27 10:12] #3426 closed

[2022-01-27 10:22] tzssangglass commented on #6217
Not supported yet, can you describe the scenario?

[2022-01-27 10:28] sapphire0929 commented on #6217
比如想使一个服务或者路由既支持jwt-auth 又能支持key-auth 或者也支持hamc-auth

[2022-01-27 13:10] tzssangglass commented on #6217
This is possible, but the OR relationship is something I haven't thought of how to support.

[2022-01-27 14:22] zlhgo commented on #6184
@tzssangglass 谢谢，自定义变量我后面换成官方推荐的方式。

@spacewander @starsz @leslie-tsang
apisix 升级到了 2.12.0后， 同样有串站的问题(就是请求到了别的服务的后端地址上)和`attempt to index local 'up_conf' (a nil value)`的问题。日志就和上面提到的一样。同时发现这两个问题是同一时间发生的，并且error_log里两个是穿插打印在一起的。
我们截取了串站是的前后5万行日志，有57M，如果需要这份日志的话，可以提供一个上传地址我传上来。再次感谢。

[2022-01-28 01:22] tokers commented on #6217
This can be implemented by created another plugin like "auth-combiner", which invokes some specific auth plugins and customize their logical relationships like OR or AND.

[2022-01-28 01:22] tzssangglass commented on #6184
Can you upload it to some cloud drive, email me the link and password?

[2022-01-28 01:54] #6066 closed

[2022-01-28 01:55] zlhgo commented on #6184
发你邮件了。

[2022-01-28 02:50] tzssangglass commented on #6217
In fact, I have doubts about this OR approach, which I now feel adds complexity.
We now have the public-API plugin and maybe we can achieve similar functionality with the help of this plugin approach.

Why do you need to support so many authentication methods on only one route? Is the upstream service a compatible SSO service?

[2022-01-28 02:54] tzssangglass commented on #5755
new version has be released: https://github.com/knyar/nginx-lua-prometheus/releases/tag/0.20220127

In the following days I will submit a PR to fix APISIX.

[2022-01-28 03:04] #6175 closed

[2022-01-28 03:34] leslie-tsang commented on #6185
Hello there, `proxy-rewrite.host` is an optional configuration, which mean the request will be send to the `upstream` with the request header `Host: <proxy-rewrite.host>`, `proxy-rewrite` plugin work as expected.

The config work as you expected due to `upstream.nodes.host` has been set to `10.132.16.70:80`, It is not due to the `proxy-rewrite.host` configuration taking effect.

@juzhiyuan Conside

[2022-01-28 03:45] 1657486787 opened #6220 "bug: Setting head-name in "request-id" plugin has no effect"
### Issue description

Setting head-name in "request-id" plugin has no effect

### Environment

- apisix version (cmd: `apisix version`):2.12
- OS (cmd: `uname -a`):Linux wx-2 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

### Steps to reproduce

1.set the header_name in "request-id" plugin, pg:
{
  "disable": false,
  "request-id": {
    "header_name":

[2022-01-28 03:50] 1657486787 opened #6221 "bug: Setting rejected_msg in "limit-req" plugin does not save"
### Issue description

Setting rejected_msg in "limit-req" plugin does not save

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisix-dashboard version, if have:
- the plugin runn

[2022-01-28 03:56] leslie-tsang commented on #6221
Hello there, Please provide you environment info in the description.

[2022-01-28 05:08] 1657486787 commented on #6221
ok ,my environment info ：

- apisix version (cmd: `apisix version`):2.12
- OS (cmd: `uname -a`):Linux wx-2 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2022-01-28 05:58] kwanhur commented on #6068
I got this trouble too, `brew info openldap` show installed dir `/usr/local/opt/openldap`, setted `LDAP_DIR` then `make deps` successfully.

So, suggest to post this prerequisite.

[2022-01-28 06:22] kwanhur opened #6225 "request help: install failed via source on Mac(2.12.0)"
### Issue description

after `make deps` successfully, but `make install` or `sudo make install` failed.

it seems no authority to mkdir dir `/usr/share/lua` .
Installed lua with brew, so this related dir should locate at `/usr/local/Cellar/lua/5.1/share` .

[code]

### Environment

- apisix version (cmd: `apisix version`): 2.12.0
- OS (cmd: `uname -a`): Darwin Kwanhur-MacBook-Pro.local 20.6.0 Dar

[2022-01-28 06:25] #4760 closed

[2022-01-28 06:31] kwanhur opened #6226 "request help: make uninstall failed on Mac"
### Issue description

After `make install`  partial successful steps, no easy way to uninstall, include main dir `/usr/local/apisix` and all the lua libs through `make deps`.

Hopefully support `make uninstall` and `make undeps`

[code]

### Environment

- OS (cmd: `uname -a`): Darwin Kwanhur-MacBook-Pro.local 20.6.0 Darwin Kernel Version 20.6.0: Tue Oct 12 18:33:42 PDT 2021; root:xnu-7195.141.8~

[2022-01-28 07:12] spacewander commented on #6226
Duplicate of https://github.com/apache/apisix/issues/5225

[2022-01-28 07:12] #6226 closed

[2022-01-28 07:15] spacewander commented on #5225
@kwanhur
Would you like to solve this problem?

[2022-01-28 07:36] juzhiyuan commented on #6068
Hi @kwanhur, Would you like to improve the docs?

[2022-01-28 07:38] #6185 closed

[2022-01-28 07:38] Chever-John commented on #6225
Could it be that you don't have operation permissions for the file?
Try "ls -" :)

[2022-01-28 07:44] bisakhmondal commented on #6220
Hi @1657486787, could you please share your apisix route configuration? I was not able to reproduce the bug that you are stating. I have checked it with the header_name you passed, it works as expected.

config
[code]

[code]

Thank you.

[2022-01-28 07:55] Belyenochi commented on #3479
I want to fix this if no one else claims it.

[2022-01-28 08:16] tokers commented on #6221
How did you create the plugin? Using Admin API or Manager API?

[2022-01-28 08:21] tokers commented on #6217
Exactly, we may need some real scenarios to help us to understand this use.

[2022-01-28 09:02] 1657486787 commented on #6221
using manager api

[2022-01-28 09:10] 1657486787 commented on #6220
My configuration information is as follows：

[2022-01-28 12:06] kwanhur commented on #6225
1. this dir `/usr/share/lua` not exist
2. it hasn't enough authority, even command with `sudo`
3. on my opinion, it should install at lua share dir which from `brew info lua`, not the fixed dir

[2022-01-28 13:54] Chever-John commented on #6225
Maybe I have a little difference of understanding with you on `sudo` and I suggest you try `mkdir /usr/share/lua` first.

In addition, I would like to confirm whether the processor of your MBP is M1 arch?
If so, you can refer to this issues #6099 and this [blog](https://github.com/apache/apisix-website/pull/837).

[2022-01-28 16:00] kwanhur commented on #5225
yep, I'll work on it.

[2022-01-28 18:53] bisakhmondal commented on #6220
Hey @1657486787,  I just looked into the configuration, you are having multilevel nesting in `request-id` plugin. and you are putting all the configuration inside the second level request-id. It doesn't make any sense.

"disable": false, // delete it
"request-id": {  // request-id inside request-id won't be decoded
"header_name": "mk-id",
"include_in_response": true
}
},

Replace it with:
[code]

[2022-01-28 21:01] jenskeiner commented on #3479
@Belyenochi I'd say go for it. I actually have a modified and improved version of this plugin that I have tested in a prod-like environment, but haven't gotten around to add these changes here so far. But will do my best to get that done as well soon. In the meantime, don't hesitate to fix/improve.

[2022-01-29 00:39] 1657486787 commented on #6220
thank you so much！

[2022-01-29 00:39] #6220 closed

[2022-01-29 01:56] 1657486787 opened #6230 "request help: java runner is only support epoll or kqueue"
### Issue description

Running the apisix-java-plugin-runner project, the error message is as follows：

Caused by: java.lang.RuntimeException: java runner is only support epoll or kqueue
	at org.apache.apisix.plugin.runner.server.ApplicationRunner.start(ApplicationRunner.java:103) ~[classes/:?]
	at org.apache.apisix.plugin.runner.server.ApplicationRunner.run(ApplicationRunner.java:141) ~[classes/:

[2022-01-29 02:15] 1657486787 opened #6231 "request help: failed to connect to the unix socket unix:/tmp/runner.sock: connection refused"
### Issue description

the running result is "503 Service Temporarily Unavailable".  view  apisix_log/error.log  exceptions:

2022/01/29 02:10:19 [error] 45#45: *14847 [lua] init.lua:689: phase_func(): failed to connect to the unix socket unix:/tmp/runner.sock: connection refused, client: 192.168.20.230, server: _, request: "GET /       dw2/test HTTP/1.1", host: "192.168.1.101:9080"
2022/01/29 02:

[2022-01-29 04:08] Chever-John commented on #6225
That's so terrible, but we've at least ruled out that it's not Apache APISIX's fault.
I suggest that you could close this issue.
Best wish & happy Chinese New Year!

[2022-01-29 04:45] kwanhur commented on #6068
yep, #6227

[2022-01-29 04:50] tzssangglass commented on #6231
You need to give the reproduction steps.

BTW, `connection refused`  means that no plugin runner is listening at this address.

[2022-01-29 04:56] tzssangglass commented on #6221
Can you post the full configuration of this route in etcd? That way I can verify it directly.

[2022-01-29 05:02] tzssangglass commented on #6225
In my experience, if you are trying to do source development, after you successfully execute `make deps`, you can execute `. /bin/apisix start|stop|version` under source dir, don't need to `make install`.

[2022-01-30 00:43] membphis opened #6237 "docs: remove `This is experimental discovery module for Nacos.`"
### Improved or typo fixed.

doc link: https://github.com/apache/apisix/blob/master/docs/en/latest/discovery/nacos.md#service-discovery-via-nacos

### Solution

we can remove this line.

we have added the test cases.

![image](https://user-images.githubusercontent.com/6814606/151682457-6afe3be4-e354-4e87-bd1c-6e119c5f87bb.png)

[2022-01-30 03:04] spacewander opened #6238 "docs: provide a threat model for APISIX"
### Improved or typo fixed.

A threat model documentation is helpful for two purposes:
1. the maintainers can use it to distinguish a security report
2. the users can use it to judge if a plugin is mature enough to be enabled

Also, we should recommend users to enable a minimal plugin list, so that to:
1. reduce runtime cost
2. reduce attack vector

### Solution

We can take a look at Envoy's doc

[2022-01-30 07:05] kwanhur commented on #6225
this scenario just install via source, then provide services for another tool.

[2022-01-30 08:57] #6237 closed

[2022-01-30 13:38] #5225 closed

[2022-02-02 08:15] suslovsergey commented on #6085
@tokers
Ok, i just patch core.table.patch via hook -

[code]

Please close issue.

[2022-02-02 08:15] #6085 closed

[2022-02-03 08:19] ntyrrell commented on #6217
We have a scenario where we are transitioning from an older provider to a newer one, and there will be a transitionary period where we need to support users from both.

[2022-02-03 08:27] ntyrrell commented on #6217
Would you be able to provide a basic example of how one would go about creating a plugin that performs this functionality?

[2022-02-03 08:44] EE041B3-UnionInvestment commented on #5780
or maybe this? https://github.com/SpiderLabs/ModSecurity-nginx

[2022-02-03 10:05] #6076 closed

[2022-02-03 10:06] #3458 closed

[2022-02-03 10:11] zhixiongdu027 commented on #3801
#4880
Maybe You Can Try This PR

[2022-02-03 14:59] kwanhur commented on #5861
solution example:
[code]

enable plugin test case or not with environment variable `ENV_PROVE_PLUGIN`, default `on`.
disable it with `export ENV_PROVE_PLUGIN=off`.

[2022-02-04 02:22] moonming commented on #5780
I'm not sure if this project will work with Apache APISIX. @gxthrj what do you think?

[2022-02-04 02:48] tzssangglass commented on #6217
@tokers are talking about just one porposal

[2022-02-04 06:10] xianshun163 commented on #5767
@tzssangglass @juzhiyuan  ,Dear friends, I have submit a pr, as the above link.But  it  seems have some problem, do you know  what have I to do next?

[2022-02-04 10:05] #3488 closed

[2022-02-04 14:28] kwanhur commented on #5861
ignore the specified dir name could be better:

1. env variable `ENV_PROVE_IGNORE_DIR`
2. `find t/**/*.t ! -wholename '*/$ENV_PROVE_IGNORE_DIR/*' -type f | tee /tmp/test.t > /dev/null`

[2022-02-05 06:53] tokers commented on #5861
@kwanhur Does read test cases from the stdin cause the troubleshooting harder? Such as the case location.

[2022-02-05 06:54] tokers commented on #6231
Also, please provide the running environment of Apache APISIX.

[2022-02-05 10:51] kwanhur commented on #5861
I don't think so.

On this way, It's equal to read a list of tests in a file, like [test.t](https://gist.github.com/kwanhur/6c67a9d1ffb5fd4e9f3184127367a69a), instead of default test directory `t/*.t`.

[2022-02-05 16:00] juzhiyuan commented on #5767
Hi @xianshun163, that's because it's your first PR for this repo. Once you have at least 1 PR gets merged, the further PR will no longer need approve :)

[2022-02-06 11:25] leslie-tsang commented on #6142
@juzhiyuan Considered solved. Feel free to reopen it if needed.

[2022-02-06 11:32] tokers commented on #5861
Yes, you're right, just ignore it.

[2022-02-06 12:05] spacewander commented on #3612
Already done.

[2022-02-06 12:05] #3612 closed

[2022-02-06 12:14] #6142 closed

[2022-02-06 23:52] leslie-tsang opened #6249 "docs: the experimental description should be removed from `nacos` zh docs"
### Improved or typo fixed.

The experimental description in [nacos zh docs](https://github.com/apache/apisix/blob/c0a19871f1456f7520302da9a3ace97ba45c91c8/docs/zh/latest/discovery/nacos.md?plain=1#L26) should be removed,
the english documents have been processed refer to #6240, now let's sync the change to the zh one.

### Solution

We can just remove the experimental description line.

[2022-02-07 00:11] leslie-tsang opened #6250 "request help: remove `sudo` in utils script as it has been started with `sudo`"
### Issue description

It is **rarely** a good idea to have `sudo` inside scripts.
Instead, remove the `sudo` from the script and run it with sudo, as APISIX GitHub Action does.
That way, all commands within the script will be run with root privileges and you only need to give the password once when launching the script.

## Solution
I think we should remove all `sudo` in the script, I would like

[2022-02-07 01:15] zaunist commented on #6250
This can lead to a problem where a command in a script that should not use sudo permissions is also run with sudo permissions.

[2022-02-07 01:21] leslie-tsang commented on #6250
I don't think so, as [.github/workflows/build.yml](https://github.com/apache/apisix/blob/master/.github/workflows/build.yml#L107) already uses `sudo` to launch the script by default.

[2022-02-07 01:31] zaunist commented on #6250
Got it.

[2022-02-07 01:33] zaunist commented on #6249
Hi, community, I'm glad to do this.

[2022-02-07 02:12] zlhgo commented on #6184
@tzssangglass 你好，请问下有没有发现什么问题呢。

[2022-02-07 06:36] spacewander commented on #6250
This thing has happened before.

Take `utils/linux-install-luarocks.sh` as example:
1. the first version used `sudo` to install
2. I removed the sudo in https://github.com/apache/apisix/commit/32d6b6e03ae593b74c6c2952f23b01197b5058df#diff-4fc86c1a9aa8e4ff0b1e5767d2d2bfa32579829c477d034bea4e8f96fe7ab69d
3. several months later, we got in trouble and added the sudo back in https://github.com/apache/

[2022-02-07 06:50] leslie-tsang commented on #6250
Makes sense, thanks for the reply.

[2022-02-07 06:50] #6250 closed

[2022-02-07 06:55] #6249 closed

[2022-02-07 07:41] 1657486787 commented on #6221
the configuration is:
{
  "uri": "/dw2/*",
  "name": "route_limit_req",
  "methods": [
    "GET"
  ],
  "plugins": {
    "ext-plugin-pre-req": {
      "conf": [
        {
          "name": "TokenValidator",
          "value": "{\"validate_header\":\"token\",\"validate_url\":\"434\",\"rejected_code\":\"406\"}"
        }
      ],
      "disable": true
    },
    "limit-req": {
      "burst": 1,

[2022-02-07 08:01] tzssangglass commented on #6221
@guoqqqi @bzp2010 I tried to add the plugin with curl without any problem, is it because dashboard doesn't support it?

[2022-02-07 08:01] 1657486787 commented on #6231
Actually, I have the plugin running. After testing, it is found that there is a problem with /tmp/runner.sock under /tmp, but it is normal to put it under other paths. do not know why

[2022-02-07 08:39] leslie-tsang commented on #6221
I just tried it with the dashboard and couldn't reproduce the problem either.

[2022-02-07 09:20] tzssangglass commented on #6184
I didn't find anything of value, but I found something strange.

the route `"\/apisix\/prod-1\/routes\/dc0b6538"` match uris is

[code]

and the request `POST /api/14/store/?sentry_key=c95cef49d5e44f5c989f45f2b862f7fa&sentry_version=7 HTTP/2.0` would match `\/api\/1*`?

I don't know the details inside, just that it seems incorrect based on the naming.

[2022-02-07 09:40] zlhgo commented on #6184
@tzssangglass 你好。因为 /api/0 是转发到 sentry-web 这个服务的，  其它所有 /api/\d+ 都是转发到 sentry-relay 这个服务，因为我自己做了一个简单的配置页面，只支持了前缀匹配，所以就有了这个奇怪的配置。我在群里给你私聊了，方便上QQ沟通下吗，谢谢。

[2022-02-07 10:57] tokers commented on #6221
What's the dashboard version?

[2022-02-07 16:11] WeiWANG0118 commented on #881
Actually, I really need this feature. I was facing the same problem that I can't save my cookie then session in the request while I'm using a node server. If my project is highly relying on the cookie/session stored in the request,  I can't APISIX as the api gateway which means I can't use this excellent tool. That's sad.

[2022-02-07 18:24] gamer22026 opened #6258 "bug: Slow response time on first connect"
### Issue description

First request to json endpoint using apisix is slow to return. Subsequent requests are fast. After a waiting a few minutes, another request is also slow (maybe some timeout value reached), and again subsequent requests are fast. Hitting the json endpoint directly (bypassing apisix) there is no slowdown.

Also see closed issue: https://github.com/apache/apisix/issues/5559

Ru

[2022-02-07 18:54] #6258 closed

[2022-02-08 01:27] tzssangglass commented on #881
hi, maybe you can take a look at:https://github.com/apache/apisix/issues/1975, use chash on cookie could work.

[2022-02-08 01:32] tzssangglass commented on #6184
Can you provide more reproduction of the configuration and private code here? I'd like to reproduce this locally. Otherwise we won't get anywhere productive with our communication.

[2022-02-08 02:04] zlhgo commented on #6184
@tzssangglass 你好，因为这个问题不是必现的，只有当量大的时候偶尔会出现这个问题。所以我也没有办法让它复现。下面是我的配置文件，再加上前面 ky-ngx-vars.py 插件就是我的全部改动了。

config.yaml
[code]

[code]

[2022-02-08 03:16] 1657486787 commented on #6221
I think so

[2022-02-08 03:16] 1657486787 commented on #6221
2.10.1

[2022-02-08 03:17] 1657486787 commented on #6221
2.10.1

[2022-02-08 03:19] 1657486787 commented on #6221
I use dashboard version is  2.10.1, do you try?

[2022-02-08 03:26] seanleblanc opened #6260 "request help: JWT Auth"
### Issue description

I'm trying to get JWT authentication/authorization to work for requests coming into a route. It seems the correct plugin for this is openid-auth?

A few questions - it seems client_id/client_secret are required for this. If we only intend to look at the bearer token on the authorization header, how are these used?

Are there good ways to troubleshoot this? The route works, b

[2022-02-08 04:12] tzssangglass commented on #6184
I tried it locally and still couldn't reproduce it.

All I know now is that the error occurred when the balancer retry lost the `route` and `ctx`, and I still don't know how this happened.

I see you have `extra_lua_path`, did your private code modify the balancer phase?

[2022-02-08 04:25] leslie-tsang commented on #6221
@1657486787 The test environment was launched with [`apisix-docker`](https://github.com/apache/apisix-docker/blob/master/example/docker-compose.yml), and the `apisix-dashboard` [version](https://github.com/apache/apisix-docker/blob/3dc527ccfffee9be48aa3bd4508bae59ce218f06/example/docker-compose.yml?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCod

[2022-02-08 04:54] zlhgo commented on #6184
@tzssangglass 我只有这一个插件，只是设置了两个自定义变量。

ky-ngx-vars.py
[code]

[2022-02-08 07:02] leslie-tsang opened #6265 "request help: the test case in `t/core/utils.t` need to be corrected"
### Issue description

The test case in [t/core/utils.t](https://github.com/apache/apisix/blob/ec0fc2ceaf04a20b0bd0ebdaad67296a1d3f621c/t/core/utils.t) currently has some code errors, such as

https://github.com/apache/apisix/blob/ec0fc2ceaf04a20b0bd0ebdaad67296a1d3f621c/t/core/utils.t#L80-L89

The variable `host` is a `nil` when the code is executed here (which may never happened)

## Solution
Le

[2022-02-08 07:48] leslie-tsang commented on #6221
@1657486787 There seems to be something to do with https://github.com/apache/apisix-dashboard/issues/2285

[2022-02-08 08:06] pcyan opened #6266 "bug: ctx.lua#59 parse_graphql(ctx)"
### Issue description

use whole request body to parse graphql will get parse error.
graphql request body is json , example :`{"query":"query{getUser{name age}}","variables":null}`, not `query{getUser{name age}}`

### Environment

- apisix version (cmd: `apisix version`):  `
apache/apisix:2.12.0-alpine`
- OS (cmd: `uname -a`): `docker `
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V

[2022-02-08 08:15] 1657486787 commented on #6221
I just tested restarting `apisix-dashborad` , but it didn't work

[2022-02-08 08:45] tzssangglass commented on #6266
maybe bad graphql, see: https://github.com/apache/apisix/blob/ec0fc2ceaf04a20b0bd0ebdaad67296a1d3f621c/t/router/graphql.t#L165-L171

[2022-02-08 08:48] tzssangglass commented on #6260
we have JWT plugin, see https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/jwt-auth.md

Please describe the scenario in detail, I can't get to your needs.

[2022-02-08 08:52] pcyan commented on #6266
@tzssangglass it's not a bad graphql
[code]
this request will route to backend, but backend will parse error
see https://graphql.org/learn/serving-over-http/#post-request

[2022-02-08 09:20] WeiWANG0118 opened #6268 "request help: Could it be interesting to implement cookie/session management in APISIX?"
### Issue description

Hello apisix team,

Lately, I'm trying to integrate APISIX in my project(Angular + Node) as an API gateway. And I noticed I'm losing my cookie/session. I'm new to apisix, so I was thinking I had a bad configuration. But after doing some research and asking for help on your slack channel, I was told that apisix doesn’t support the management of cookie/sessions currently.

So

[2022-02-08 12:27] HelloBug0 commented on #6197
Sorry, I am not quite clear [minutes and day] in limit-count plugin. Do you mean the time_window parameter in minutes or in day?

[2022-02-08 13:14] HelloBug0 commented on #6078
If parameter http_to_https is true, the response status is 301 or 308. When we configure uri or regex_uri, I think the parameter ret_code may be not meaning.  And because of the difference of method, get or post, we can get two different response status, 301 or 308 as for one uri. Also, If we configure parameter ret_code 200, the brower won't redirect it anyway.

[2022-02-08 13:16] tzssangglass commented on #6266
[code]

[2022-02-08 13:49] starsz commented on #6260
It seems APISIX requested to the `introspection_endpoint` but got 401 from the `introspection_endpoint`.

Can you check the log of the introspection_endpoint?

[2022-02-08 21:03] seanleblanc commented on #6260
I'm trying to get apisix to do do authz on a route. I want it to look at the Authentication header to inspect JWT token and that it has proper scope(s) on it and then either pass on the request - or reject it. Much like what Istio does with AuthenticationPolicy and AuthorizationPolicy objects.

In the first case, I'm trying to get it to do this with KeyCloak, if that helps at all. Though we will l

[2022-02-08 21:08] seanleblanc commented on #6260
Thanks. I had not even defined one. After I added one, it is giving me a 405 now - no resource method found for POST. We are using Keycloak, I've tried setting https://{keycloakhost}/auth/realms/{realm}/.well-known/openid-configuration as well as the /certs path, and neither work.

Is there an example config with Keycloak that would work for this? Is it trying to authenticate to Keycloak at some p

[2022-02-09 01:08] pcyan commented on #6266
@tzssangglass
1. 一个正常的graphql请求
[code]
会返回
[code]
2. 参照[apisix官方文档](https://apisix.apache.org/zh/docs/apisix/router-radixtree#%E5%A6%82%E4%BD%95%E9%80%9A%E8%BF%87-graphql-%E5%B1%9E%E6%80%A7%E8%BF%87%E6%BB%A4%E8%B7%AF%E7%94%B1),通过apisix配置
[code]

会返回
[code]

错误日志是` ctx.lua:80: get_parsed_graphql(): failed to parse graphql: Syntax error near line 1 body:`
麻烦你也试一下，或者告诉我是哪里配置错了

[2022-02-09 02:26] Chever-John commented on #6266
In my experience, try removing the '-i' from the request configuration command first.

If that doesn't work, try looking at the log, and I'll cover the entire troubleshooting process later.

[2022-02-09 02:35] leslie-tsang commented on #6266
@pcyan The route method has been set to `POST`, you should add `-X POST` in your curl CMD.

[2022-02-09 02:49] scott-wong opened #6273 "bug: failed to install via RPM Repository(CentOS 7)"
### Issue description

follow the official doc, failed to install via RPM Repository(CentOS 7).
https://apisix.apache.org/docs/apisix/how-to-build/

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd: `uname -a`): Linux eu-server 3.10.0-1160.45.1.el7.x86_64 #1 SMP Wed Oct 13 17:20:51 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx version (cmd: `nginx -V` or `o

[2022-02-09 03:04] Chever-John commented on #6266
As stated above, this should be a must

[2022-02-09 03:04] Chever-John commented on #6266
As stated above, this should be a must

[2022-02-09 03:19] Chever-John commented on #6266
In fact, I tested both commands locally and they worked

config
[code]

curl command
[code]
It could be that you missed '-POST'?

[2022-02-09 03:20] tzssangglass commented on #6260
Can you show your configuration？

PLAT https://github.com/apache/apisix/blob/ec0fc2ceaf04a20b0bd0ebdaad67296a1d3f621c/t/plugin/authz-keycloak2.t#L168-L305

[2022-02-09 03:27] tzssangglass commented on #6268
releated to

https://github.com/apache/apisix/issues/881

I'm not sure if this is what you need: https://github.com/apache/apisix/blob/master/t/node/chash-hashon.t#L401-L487

[2022-02-09 03:44] leslie-tsang commented on #6273
Seems you are using a `Red Hat Enterprise Linux 7`.
Some variables, such as `$releasever`, have different values in `Red Hat Enterprise Linux 7` and `CentOS7`, which resulting in this issue.
| var | CentOS7 | Red Hat Enterprise Linux 7 |
|:--: | :----: | :----: |
|$releasever| 7 | 7Server |

## Solution
To fix it, replace `$releasever` with `7` in `/etc/yum.repos.d/apache-apisix.repo` as shown bel

[2022-02-09 03:46] scott-wong commented on #6273
Got it,thx.

[2022-02-09 03:46] #6273 closed

[2022-02-09 05:15] pcyan commented on #6266
A standard GraphQL POST request should use the application/json content type, and include a JSON-encoded body of the following form:
[code]
see official graphql document

[2022-02-09 06:28] tzssangglass commented on #6266
Where is it? I'm wondering where the error is caused by missing `-X POST`.

[2022-02-09 06:37] Chever-John commented on #6266
I could not find the relevant description in the curl document. Could you please provide.

Suggest like this:
[code]

[2022-02-09 07:18] pcyan commented on #6266
[code]
use `-v` to print verbose log
[code]

it will print something like this `> POST /v2/c4d7a195/graphql HTTP/2`, thought i'm not use `-X POST`

sorry, i'm try to discuss about how APISIX deal with graphql request. it seems that the mock GraphQL data of APISIX is not a standard GraphQL request.

[2022-02-09 07:34] leslie-tsang commented on #6266
Oh, I see, the error caused by [graphql/parse.lua](https://github.com/bjornbytes/graphql-lua/blob/master/graphql/parse.lua#L317), it seems the [graphql](https://github.com/bjornbytes/graphql-lua) can't process a standard GraphQL request.

[2022-02-09 09:28] tokers commented on #6268
@WeiWANG0118 By saying "cookie/session management", could you describe it in more detail?

[2022-02-09 11:52] #5425 closed

[2022-02-09 11:55] #6206 closed

[2022-02-09 12:04] HelloBug0 commented on #6197
@123libohan

[2022-02-09 12:15] HelloBug0 commented on #5966
Does this PR mean apisix can generate flame diagrm audomatically? How can I trigger it? @tzssangglass

[2022-02-09 12:28] tzssangglass commented on #5966
this PR is in progress

[2022-02-09 20:53] seanleblanc commented on #6260
Sure, this is our most recent config, which kind of works. I see that adding the public key works, but without that, it seems to try to do something like POSTing to introspection_endpoint? It seems the scope value is not used to inspect the scope(s) in the token, but instead is used somehow with these endpoints? So basically any valid token gets through.

 {
  "access_token_in_authorization_header

[2022-02-09 23:54] tao12345666333 opened #6276 "bug: prometheus plugin `enable_export_server=false` not working as expected"
### Issue description

In the recent Apache APISIX Ingress controller CI, we found that the Prometheus plugin does not take effect when set via global_rules. (we using apache/apisix:dev docker image)

**If we fallback this image to `apache/apisix:2.11.0-alpine` then it works fine.**

Below is our configuration:

[code]

xref: https://github.com/apache/apisix-ingress-controller/issues/857

### Envi

[2022-02-09 23:58] tao12345666333 commented on #6276
I see some test cases here
https://github.com/apache/apisix/blob/defafb1e426c4ffe4aa740c9bb9ad26992fa2c2e/t/cli/test_prometheus.sh#L67-L105

[2022-02-10 01:42] spacewander commented on #6276
This is caused by the break change: https://github.com/apache/apisix/pull/6196
The change is introduced to reduce attack vector.

Let's add a new route with public-api plugin to work around it: https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/public-api.md

[2022-02-10 02:01] tao12345666333 commented on #6276
@spacewander thanks for your reply.
Does that mean these descriptions in the documentation are wrong?

[code]

https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/prometheus.md#api

[2022-02-10 02:04] tao12345666333 commented on #6276
let me try to use `public_api` plugin.

[2022-02-10 02:26] tao12345666333 commented on #6276
They are a logical AND relationship.

Need to configure both `enable_export_server: false` and `public_api` plugin.

[2022-02-10 02:35] tao12345666333 commented on #6276
I have tried three ways of configuration and they all work fine

[code]

[2022-02-10 03:04] Chever-John commented on #6266
After discussion and review, it was found that the cause of this issue was that we did not use the application/json content type. I will mainly solve this issue in the next 3 days.
sry @pcyan

[2022-02-10 04:10] Gary-Airwallex commented on #6266
@Chever-John May I also suggest that the `parse_graphql` function should handle the case of GET requests? https://graphql.org/learn/serving-over-http/#get-request
Currently an error message is returned regardless of HTTP method used.
[code]

[2022-02-10 04:20] Chever-John commented on #6266
In fact, these are the two new features (support 'json' & 'GET') that we're going to introduce next.
As for the launch time, I personally expect it to be completed within a week.

[2022-02-10 05:01] spacewander commented on #6276
Yes

Look like we should fix the description of `You may need to use`.

[2022-02-10 05:47] tao12345666333 commented on #6276
Submitted a PR to fix this description #6280

[2022-02-10 07:17] devops-utils-tools opened #6283 "bug: plugin kafka-logger configuration error"
### Issue description

2022-02-10T15:14:39+08:00	error	apisix/route.go:161	failed to create route: unexpected status code 400; error message: {"error_msg":"failed to check the configuration of plugin kafka-logger err: property \"broker_list\" validation failed: wrong type: expected object, got string"}

2022-02-10T15:14:39+08:00	warn	ingress/apisix_route.go:292	sync ApisixRoute failed, will retry

[2022-02-10 07:18] devops-utils-tools commented on #6283
`

apiVersion: apisix.apache.org/v2beta2
kind: ApisixRoute
metadata:
  name: method-route
spec:
  http:
  - name: method
    backends:
    - serviceName: kubernetes
      servicePort: 443
    match:
      methods:
      - GET
      paths:
      - /111
    plugins:
      - name: request-id
        enable: true
        config:
          include_in_response: true
          header_name: "X-Request-Id"

[2022-02-10 07:19] devops-utils-tools commented on #6283
`
apiVersion: apisix.apache.org/v2beta2
kind: ApisixRoute
metadata:
  name: method-route
spec:
  http:
  - name: method
    backends:
    - serviceName: kubernetes
      servicePort: 443
    match:
      methods:
      - GET
      paths:
      - /111
    plugins:
      - name: request-id
        enable: true
        config:
          include_in_response: true
          header_name: "X-Request-Id"

[2022-02-10 07:19] devops-utils-tools commented on #6283
[code]

[2022-02-10 07:29] leslie-tsang commented on #6283
Hello there, Please try the changes below to pass the schema check.
[code]

[2022-02-10 08:13] kongjun01 opened #6285 "request help: client frequent SocketException: read time out"
### Issue description

Through packet capturing, it is found that apisix dose not send the `server hello`.

Using wireshark, shows as below:

![image](https://user-images.githubusercontent.com/5688653/153364335-7f37f20f-ae6d-4ef6-ac44-db3ee0daa651.png)

About than 10 times a minute.

Do you know under what circumstances this problem can happen?

### Environment

- apisix version (cmd: `apisix vers

[2022-02-10 08:26] purekeeper opened #6286 "request help: apisix add port 9443 when receive 302 redirect"
### Issue description

Browser send https://a/b/c  to nlb(443) and nlb forward to apisix(9443) ,then apisix forward to backed service  testSerivce, testservice return 302 to a new url.   but the browser show the new url with port 9443 ,which result in failure, anybody know the reason ?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (

[2022-02-10 09:07] devops-utils-tools commented on #6283
Tried both ways, same error

[2022-02-10 09:13] leslie-tsang commented on #6283
Both of them? I'm not sure what you mean; please upload the new error log here so we can see if there are any new clues.

[2022-02-10 09:17] nimohunter commented on #5199
Is it worth developing a new plugin here? If needed, we can write a new plugin for it.  error handle plugin ?  just redirect to error page according from the response status?

[2022-02-10 09:34] tokers commented on #6285
@kongjun01 From the screenshot we can know the TCP connection was reset after the Client Hello. You may send some requests to APISIX (mimicking the clients' behaviors), and look through the error.log or the response details to see the actual problem.

[2022-02-10 10:39] 123libohan commented on #6197
Yes ,I mean the time_window, for an example , I want to limit access on one cunsumer 30 times per minute and 1000 times per day together

[2022-02-10 11:27] HelloBug0 commented on #6197
I see. Thanks for your reply.

[2022-02-10 12:04] crazyMonkey1995 opened #6288 "bug: traffic-split plugin do not match if the first matcher failed"
### Issue description

According to the plugin's documentation: https://apisix.apache.org/docs/apisix/plugins/traffic-split/
I configured two rules:
[code]
When the first rule does not match, the second rule also fails, I looked at the relevant code, the problem should be here:
![image](https://user-images.githubusercontent.com/21658981/153405333-2743522f-c86c-47a2-8613-e0d7fab27824.png)

### Envi

[2022-02-10 12:06] crazyMonkey1995 commented on #6288
Add "match_passed=true" before line 241 should fix this?

[2022-02-10 13:41] HelloBug0 commented on #6197
Is it a good idea if we organize some parameters of schema properties, like count, time_window, key, rejected_code, etd to a array? Than we cann deal with all these limiters as a array using lua-resty-limit-traffic. And it seems that other plugins like limit-req could do the same change. @spacewander

[2022-02-11 01:18] HelloBug0 commented on #5966
I see. I will follow it.

[2022-02-11 01:41] starsz commented on #6260
Hi, @seanleblanc Can you have a try at the master version. Since we have supported use jwks in this PR: https://github.com/apache/apisix/commit/fec47142eb1e98f387686a2f172920a9fd5cbb90

[2022-02-11 02:05] purekeeper opened #6293 "request help: Miss metrics when call /apisix/prometheus/metrics"
### Issue description

Hi there, I enable  prometheus plugin ,and call the api  /apisix/prometheus/metrics  just get data like pic show, miss data http_status/http_latency/bandwidth... ,anybody known the reason ?
<img width="754" alt="image" src="https://user-images.githubusercontent.com/15372524/153527024-e661cbaa-7d58-40cb-a243-b48fa7ca1f65.png">

### Environment

- apisix version (cmd: `apisix

[2022-02-11 02:18] purekeeper opened #6294 "request help: Does route support regular expression ？"
### Issue description

I have a nginx location config like :

location ~ "^/newservice/dos/api2/v2/documents/([^/]{16,})/" {
  todo something
}

So how do i rewrite it by apisix's router ?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/

[2022-02-11 03:48] spacewander commented on #6197
We should also deal with redis backend too?

[2022-02-11 03:59] #6086 closed

[2022-02-11 04:58] syokensyo commented on #4942
这个问题存在很久了，https://github.com/apache/apisix/issues/2777 ，测试在apisix上一层的nginx 添加proxy_set_header X-Forwarded-Port 443; 可用，感觉是目前最简单的workaround

[2022-02-11 07:19] 2298814528 opened #6296 "request help: apisix enforces the translation of routed domain names to IP addresses"
### Issue description

I want to use apisix gateway to forward requests to backend **HTTPS service**, but apisix will convert my configured domain name to IP and then forward it. Since the back-end service can only be accessed using domain names and does not support IP access, the forwarding fails. Is there a way to make apisix not automatically convert domain names to IPs?

### Environment

- api

[2022-02-11 09:12] c591762009 opened #6297 "bug: global_rules的返回内容与其他接口不一致"
### Issue description

用get方法调用/apisix/admin/global_rules时，nodes节点内容为空，但count返回为1.其余接口正常。
![image](https://user-images.githubusercontent.com/32794876/153564213-faa2f871-bd21-4b9d-9956-134a42bb47e8.png)
[root@i-JrNh3EuzwM-7 ~]# curl http://127.0.0.1:9080/apisix/admin/global_rules -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1'
{"action":"get","count":"1","node":{"key":"\/apisix\/global_rules","dir

[2022-02-11 09:15] Phoebus888 opened #6298 "Plugin doesn't work"
### Issue description

apiVersion: apisix.apache.org/v2beta1
kind: ApisixRoute
metadata:
  name: httpserver-route
  namespace: test
spec:
  http:
  - name: rule1
    match:
      hosts:
      - local.httpbin.org
      paths:
      - /*
    plugins:
    - name: proxy-rewrite
      enable: true
      config:
        regex_uri: ["^/test(/|$)(.*)", "/$2"]
    - name: jwt
      enable: true
    - name:

[2022-02-11 09:25] spacewander commented on #6297
Fixed in https://github.com/apache/apisix/pull/6155

[2022-02-11 09:25] #6297 closed

[2022-02-11 09:29] spacewander commented on #6294
See https://github.com/apache/apisix/blob/master/docs/en/latest/FAQ.md#how-to-use-route-uri-for-regular-matching

[2022-02-11 09:39] liangliang4ward commented on #6296
![image](https://user-images.githubusercontent.com/3895272/153568799-8f3746ca-1e83-451d-8685-23e93a9bf440.png)

can use domain rewrite

[2022-02-11 09:42] tokers commented on #6293
@purekeeper By saying enable prometheus plugin, how did you do it? Could you provide your steps?

[2022-02-11 09:50] #6294 closed

[2022-02-11 09:53] 2298814528 commented on #6296
Excuse me, is this a plugin? If yes, please also tell me the name of the plugin, thanks!

[2022-02-11 10:00] liangliang4ward commented on #6296
use proxy-rewirte , add host value to your real host
"proxy-rewrite": {
            "uri": "/test/home.html",
            "scheme": "http",
            "host": "iresty.com"

        }
https://apisix.apache.org/docs/apisix/plugins/proxy-rewrite/

[2022-02-11 10:01] 2298814528 commented on #6296
ok thanks, i'll try it now

[2022-02-11 10:10] 2298814528 commented on #6296
OK, but if there are multiple backend services in my upstream, how should my host be written?
![image](https://user-images.githubusercontent.com/63707437/153573423-eb42aad5-b65b-458d-b74f-e4b8c8d6e7e1.png)

[2022-02-11 10:39] nic-6443 opened #6301 "bug: some mistakes in prometheus plugin"
### Issue description

The APISIX prometheus plugin uses the `/nginx_status` endpoint provided by nginx to get some internal metrics, which return the data like
[code]
According to the [nginx documentation](https://nginx.org/libxslt/en/docs/http/ngx_http_stub_status_module.html):

The third number in the third line is `The total number of client requests`, but APISIX now puts this metric in `nginx

[2022-02-11 15:26] Chever-John commented on #6068
Is this a MAC specific problem?
I'm curious, how did you install the openLDAP? @tzssangglass
Guess that:
[code]

[2022-02-11 23:48] Chever-John commented on #6298
Can you tell me how you turned on the plugin?

something like error_log:)

[2022-02-12 05:56] purekeeper opened #6303 "MTLS error"
### Issue description

We have a very large  pem file which greater than 65535   ,then apisix occur error

validation failed: property \\\"ca\\\" validation failed: string too long, expected at most 65536, got 126932\"}

what should do for this ?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- et

[2022-02-12 13:22] starsz commented on #6303
Hi @purekeeper
You can try to increase the max length limit in the schema.
Which is defined in the certificate_scheme
Refer: https://github.com/apache/apisix/blob/50d6465fd7b6288f517fd5c408a3171ace7882dd/apisix/schema_def.lua#L380-L382

[2022-02-13 06:09] tokers commented on #6303
It seems that `64k` is too short for certificates and CA certificates?

[2022-02-13 06:23] tokers commented on #6296
@2298814528 Does the problem occur during SSL handshaking since APISIX doesn't send the correct SNI? Or it's caused since APISIX doesn't carry the correct HTTP Host header?

[2022-02-13 07:33] sia-fl opened #6304 "request help: use redis or other database storage data"
### Issue description

casbin-lua support csv as a database in apisix, but i hope use redis or other databse store data
the permission data of casbin need more flexible manage method
we can't manage permission directly through casbin-lua plugins, we need use services manage permission data and use casbin-lua plugin for authentication

[2022-02-13 13:12] kwanhur opened #6307 "request help: repeatedly download luarocks archive tar file"
### Issue description

execute `utils/linux-install-luarocks.sh` twice, got two tar files `v3.8.0.tar.gz` `v3.8.0.tar.gz.1`

reexecute it cause no `unzip` on my vm, build log:

[code]

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/se

[2022-02-13 13:42] tzssangglass commented on #6068
yes.

Yes, this is only required on MAC.

[2022-02-13 13:54] leslie-tsang commented on #3931
@kartikeysaran Hi there, Are there any issues that are preventing you from moving forward?

Do let me know if any help in needed.

[2022-02-13 14:12] #6276 closed

[2022-02-13 14:16] Chever-John commented on #6068
Thinks, this news is of great use to me.

[2022-02-13 15:13] kwanhur commented on #4502
Unlikely, I got this trouble :-(

1. I had installed (via RPM repository)[https://github.com/apache/apisix/blob/master/docs/en/latest/how-to-build.md#installation-via-rpm-repositorycentos-7], this got `openresty` and `apache apisix`, like:

[code]

2. I cloned apisix source and `make deps`, logs lay [here](https://gist.github.com/kwanhur/68fc612700294e3b48a43d57a3beb1d1) got failure:

[code]
3. I

[2022-02-14 01:08] liangliang4ward commented on #6296
{
  "methods":["GET"],
  "uri": "/test/index.html",
  "plugins":{
      "proxy-rewrite": {
            "host": "iresty.com"
        }
  }
}

[2022-02-14 01:24] tzssangglass commented on #6296
You have to use the same domain name for all these upstream nodes.

[2022-02-14 01:44] HelloBug0 commented on #6197
I think we could do that just as we do now.

[2022-02-14 01:49] nic-6443 commented on #6301
I think it's OK to use `apisix` as a prefix, but the previous metric used `nginx` as a prefix, do you think it needs to be changed together?
https://github.com/apache/apisix/blob/0920d1d21fba36947b4ce13438040874c5d37610/apisix/plugins/prometheus/exporter.lua#L86-L88

[2022-02-14 02:07] tzssangglass commented on #6307
You don't have the `unzip` command on your system?

[2022-02-14 02:22] nic-6443 commented on #6301
I think `nginx_http_requests_total` or `http_requests_total` is fine, because we will add an `apisix` prefix by default (the user can customize this prefix configuration in the plugin configuration), so there is no need to repeat it.
https://github.com/apache/apisix/blob/0920d1d21fba36947b4ce13438040874c5d37610/apisix/plugins/prometheus/exporter.lua#L79-L85
@spacewander What do you think?

[2022-02-14 02:25] kwanhur commented on #6307
yes, I installed it manually and redo `./utils/linux-install-luarocks.sh`

advise to check archive file `v3.8.0.tar.gz` exist or not and validate it, if unvalidated, remove it and download again.

[2022-02-14 03:03] mangoGoForward commented on #6265
I'd like to work on this issue.

[2022-02-14 03:28] hellobiek opened #6309 "request help: in apisix, how to use rbac with keycloak?"
### Issue description

I had watch the url：https://apisix.apache.org/zh/blog/2021/12/10/integrate-keycloak-auth-in-apisix/

Now, I know how to authoity using apisix，now I also want to use apisix authorization for me.

Could you help me to how to using role config in keycloak for apisix.

### Environment

- apisix version (cmd: `apisix version`): 2.7.12
- OS (cmd: `uname -a`): 18.04.1-Ubuntu
- Open

[2022-02-14 03:38] tzssangglass commented on #6307
SGTM

[2022-02-14 03:44] nic-6443 commented on #6293
@purekeeper  One thing to note, there must be at least one http request sent to
APISIX, in order to generate `http_status/http_latency/bandwidth` metrics, I wonder if you have launched a request to the corresponding route after enabling the prometheus plugin? Of course, if it's a global rule, any request to any route can trigger the generation of metrics.

[2022-02-14 03:46] tzssangglass commented on #6309
Please describe the specific problem, or you can see : https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/authz-keycloak.md first

[2022-02-14 05:15] leslie-tsang commented on #6283
@devops-utils-tools Can you try it ?

[2022-02-14 06:11] spacewander commented on #6301
I will vote for `http_requests_total`.

[2022-02-14 06:22] nic-6443 commented on #6301
Got it. As discussed above, I will be introducing two new metrics:
1. `http_requests_total`(counter type)
2. `nginx_http_connections_total`(counter type) with a `type` label, which has two values: `accepts`, `handled`

Also, the `state` label in the old `nginx_http_current_connections` metric will only have four values: `active`/ `reading`/ `writing`/ `waiting` and the `accepted`/ `handled`/ `tota

[2022-02-14 06:31] purekeeper opened #6312 "request help: Does Api6 support nginx's slow start directive ？"
### Issue description

nginx's upstream support slow start directive ,like :

server 172.41.66.25:321 slow_start=10s;
server 172.41.66.26:321 slow_start=5s;

So what about api6 ?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_

[2022-02-14 06:32] purekeeper commented on #6303
Thanks everyone, resolved by  increase the max length limit in the schema .

[2022-02-14 06:32] #6303 closed

[2022-02-14 06:35] kevinw66 opened #6313 "bug: hmac-auth plugin will not sort array value in param"
### Issue description

When I passing url like /api/xxx?age=123&name=123&a=2&a=1
this should be sorted as a=1&a=2&age=123&name=123
but I got a=2&a=1&age=2&name=1

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the

[2022-02-14 06:47] spacewander commented on #6296
No. We can use different hosts for different nodes with the `pass_host = node`.
See https://apisix.apache.org/docs/apisix/admin-api#request-body-parameters-3

[2022-02-14 06:51] HelloBug0 commented on #5246
If you want roundrobin works in all workers, may be you can try [this](http://nginx.org/en/docs/http/ngx_http_upstream_module.html#zone) @wbaweto

[2022-02-14 06:59] HelloBug0 commented on #2848
Maybe it's also a good idea to support range request for GET too, like [kebernetes api](https://kubernetes.io/zh/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks)

[2022-02-14 07:00] #4502 closed

[2022-02-14 07:01] HelloBug0 commented on #2848
Maybe it's also a good idea to support range request for GET too, like [kebernetes api](https://kubernetes.io/zh/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks)
@tokers @moonming

[2022-02-14 07:43] #6288 closed

[2022-02-14 08:01] tzssangglass commented on #6296
I know this. His situation is as follows:

1. the back-end service can only be accessed using domain names and does not support IP access
2. config ip in upstream conf

It seems that in this case he cannot use `pass_host = node`

[2022-02-14 08:21] kevinw66 commented on #6313
How to run tests in local MacOS machine?
I try to run `prove -I. -I../test-nginx/inc -I../test-nginx/lib -r t/plugin/hmac-auth.t` but got many errors
like

`Failed test 'TEST 24: verify ok with signed headers - pattern "[error]" should not match any line in error.log but matches line "2022/02/14 16:15:18 [error] 39160\#5720660: *48 lua entry thread aborted: runtime error: content_by_lua(nginx.conf

[2022-02-14 08:29] Yuugure-Yuu commented on #487
Organization: Advanced Institute of Information Technology Peking University
Location: Hangzhou, China
Contact: [mqsun@aiit.org.cn](mailto:mqsun@aiit.org.cn)
Scenario: Use as a gateway to process traffic

组织：北京大学信息技术高等研究眼
地址：中国 杭州
联系方式：[mqsun@aiit.org.cn](mailto:mqsun@aiit.org.cn)
使用场景：流量网关

[2022-02-15 00:40] nic-6443 commented on #6312
We also wanted to use the slow start feature on our production environment before, but this feature is not provided by the open source version of nginx, but by the nginx plus version, so apisix obviously won't support it.
Later we used the EWMA load balancing algorithm in our production environment, which can also achieve similar results as the slow start feature, so you can try it out.

[2022-02-15 00:50] nic-6443 commented on #6312
We also wanted to use the slow start feature on our production environment before, but this feature is not provided by the open source version of nginx, but by the nginx plus version, so apisix obviously won't support it.

Later we used the EWMA load balancing algorithm in our production environment, which can also achieve similar results as the slow start feature, so you can try it out.

Read [th

[2022-02-15 01:04] #6078 closed

[2022-02-15 01:05] #5755 closed

[2022-02-15 01:42] #6112 closed

[2022-02-15 03:32] #6265 closed

[2022-02-15 03:42] lwtju commented on #5166
you can  down the package openssl-1.1.1m and configure --with-openssl=../openssl-1.1.1m

[2022-02-15 03:58] spacewander commented on #6296
I guess the upstream is unable to handle direct IP access because they are HTTPS and will check the certificate with the SNI.

It's expected that APISIX will set the SNI according to the host, so using `pass_host = node` should work.

Let's wait for the author's response.

[2022-02-15 06:27] liangliang4ward commented on #6296
I had the same problem today；

upstream services use web protection，can't direct access use ip.

I use `proxy rewrite plugin` to sovle:
[code]

[2022-02-15 07:56] kevinw66 commented on #6313
Can anyone help me ? The unit tests is the most difficult part when I want to submit a pr.
@spacewander @starsz @bisakhmondal

[2022-02-15 08:13] kevinw66 commented on #6313
Resolved by run `git submodule update --init --recursive`

[2022-02-15 08:55] souzens commented on #6286
Try to disable
#proxy_set_header   X-Forwarded-Port

[2022-02-15 09:10] nic-6443 commented on #6301
I found that I couldn't use the `counter` type when coding, because the metrics are directly obtain from nginx, there is no accumulation process, and the Prometheus counter type has no `set` method, it can only accumulate the count.
For this reason, I just introduced a new metric `http_requests_total`, which is of type guage.

[2022-02-15 09:55] tokers commented on #6301
Can we just record the value and next time after we get the new value, let's accumulate the counter with the increments.

[2022-02-15 10:08] nic-6443 commented on #6301
I feel that this is complicated and unnecessary, because metric type is only as a hint, and does not affect the subsequent data storage and processing, even if we use the `guage` type, can still use functions such as `rate` to handle, like the metric of the counter type.

[2022-02-15 14:23] xuminwlt opened #6329 "request help: opentelemetry-plugin report no data to otel-collecotor"
### Issue description

I see the opentelemetry-plugin is merge to branch master, and I try to test it.
use otel-collecotor 4317 port, when i make run with plugin config like this, is somewhere a bug?
BTW, the java service send trace data success, so it is not the collector question.

[code]

In error.log, I have got error in error.log.

[code]

this plugin fail send trace data to otel-collector.

[2022-02-15 14:49] nfrankel opened #6330 "bug: Wrong pattern validation in the proxy-mirror plugin"
### Issue description

The `proxy-mirror` plugin validates the `host` pattern with the following regex: `[[^http(s)?:\/\/[a-zA-Z0-9][-a-zA-Z0-9]{0,62}]] .. [[(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+(:[0-9]{1,5})?$]]`.

In specific scenarios, the pattern is too restrictive. For example, in Docker Compose, the host is a single name with no dot, _e.g._, `backend`.

### Environment

- apisix version (cmd: `

[2022-02-15 15:40] WeiWANG0118 opened #6332 "docs: need to update https://hub.docker.com/r/apache/apisix"
### Improved or typo fixed.

- https://hub.docker.com/r/apache/apisix, In this doc, the build dashboard command is still `make build-dashboard `, but this command is no longer in `Makefile`.

- So same for the README.md in `apisix-docker/example`.

### Solution

- Update the doc: https://hub.docker.com/r/apache/apisix
- Update README.md in `apisix-docker/example`

And I'd love to update the doc. P

[2022-02-15 15:51] yangxikun commented on #6329
The error log seems maybe there is a bug at: https://github.com/yangxikun/opentelemetry-lua/blob/6c4a5112de5f70bb94a87e39656121f9c7407d95/lib/opentelemetry/trace/batch_span_processor.lua#L37

Could you try replace `/usr/local/apisix/deps/share/lua/5.1/opentelemetry/trace/batch_span_processor.lua#L37` to:
[code]
then restart apisix container and test if the error log still appear.

BTW, the above b

[2022-02-16 01:31] tokers commented on #6332
@WeiWANG0118 PR is welcome!

[2022-02-16 01:55] purekeeper opened #6333 "stream_proxy report error"
### Issue description

Hi ， I enable stream_proxy and listen addr set to 5061, but api6 report error :

**nginx: [emerg] host not found in "map[addr:5061" of the "listen" directive in /usr/local/apisix/conf/nginx.conf:74**

I think it not need host for "listen" directive,but why it need host ?

when i set a host listen 0.0.0.0:5061,  and it report error

**nginx: [emerg] invalid port in "map[addr:

[2022-02-16 01:59] xuminwlt commented on #6329
Thanks @yangxikun , i'll try these just now.

[2022-02-16 02:19] starsz commented on #6313
Nice.

[2022-02-16 02:30] xuminwlt commented on #6329
Success, trace data is send to otel-collector.

But, I have a question, the default config of the otel-collector port like this:
[code]
default config
[code]

So i change the port like this:
[code]

no other question, bang bang da.

[2022-02-16 02:31] spacewander commented on #6330
This is a small difference between the "host" in the proxy-mirror & upstream:
The name "host" in proxy-mirror is incorrect, which is actually `uri`.

Maybe we can depreciate the name (as a refactor for the very old code)?

I have just reviewed the pattern, it seems that it can't handle IPv6 either. What about only validating the scheme part of the URI? (It's error-prone to match IPv6 with regex)

[2022-02-16 03:02] spacewander commented on #6296
Could you try `pass_host = node` in the upstream? It's expected to modify the host according to the node's host.

[2022-02-16 03:32] anjia0532 commented on #6124
如果是用helm安装，可以通过--set命令配置etcd command
`--set "etcd.enabled=true,etcd.command={'/opt/bitnami/etcd/bin/etcd','--auto-compaction-mode=periodic','--auto-compaction-retention=12h'}"`,就是每12小时自动压缩一次

[2022-02-16 03:40] TARI0510 opened #6335 "Is apisix 2.11.0 version affected by CVE-2022-24112?"
### Issue description

2.11.0 version `batch-requests` is enabled by default
https://github.com/apache/apisix/blob/2.11.0/conf/config-default.yaml#L310

and 2.11.0 doesn't have patch code in
https://github.com/apache/apisix/blob/2.11.0/apisix/plugins/batch-requests.lua#L168

here is CVE-2022-24112's patch code
https://github.com/apache/apisix/pull/6251/files#diff-b80ee9fead226c0432f9e78cf5cae94164

[2022-02-16 04:01] leslie-tsang commented on #5723
We have an [issue](https://github.com/apache/apisix/issues/6124#issuecomment-1014137263) that provides a way to reduce the impact.
There is also a related [PR](https://github.com/apache/apisix/pull/6202) working on fixing this issue.

[2022-02-16 05:55] nfrankel commented on #6330
For whoever stumbles upon this later, the workaround is to set up an network alias.

In `docker-compose.yml`:

[code]

[2022-02-16 06:02] nfrankel opened #6337 "feat: Display ID of all objects on the dashboard"
### Issue description

The Admin API allows to create objects (Route, Upstream, etc.). You can either set the ID or let APISIX generate one for you.

The dashboard doesn't show IDs, so in the case of auto-generated IDs, you need to first query the object and find the ID before using it as a reference. It would be more user-friendly to display the ID in the dashboard as a read-only field.

### Envi

[2022-02-16 06:04] liangliang4ward commented on #6296
我试了一下。
我们有个接口，使用pass_host=node是不行的。有可能是因为，对方防护的时候是判断了host:port的方式（源接口为：xxx.domian.xxx:85）。
但是使用mockbin.org的接口，是可以通过的

[2022-02-16 06:07] zaunist commented on #6337
I think so, we need support IDs in the dashboard, and I would like to contribute this feature.

[2022-02-16 06:32] zaunist commented on #5723
Hi, @zero-create, I'm working on this issue. This problem happened because `server-info` plugin `put` a lot of data to ETCD, I will change it use `keepalive`.

[2022-02-16 07:20] #6301 closed

[2022-02-16 09:30] leslie-tsang commented on #6335
Yes, `apisix 2.11.0` was affected.

[2022-02-16 09:41] TARI0510 commented on #6335
Is there any plan to release a patch for 2.11.0? I see 2.10.x and 2.12.x have a patch version

[2022-02-16 09:46] tzssangglass commented on #6335
`2.11.0` is not LTS version, won't backport to this version.

[2022-02-16 09:53] TARI0510 commented on #6335
Ok, thanks to reply!

[2022-02-16 09:53] #6335 closed

[2022-02-16 09:56] leslie-tsang commented on #6335
It's recommended to upgrade APISIX to the latest version `2.12.1`.

[2022-02-16 10:01] tzssangglass commented on #6296
I think you need to investigate the protection rules first and then choose the `pass_host` mode based on the protection rules.

[2022-02-16 11:23] TARI0510 commented on #6335
ok!

[2022-02-16 13:10] jinghuaz opened #6344 "request help: forward-auth plugin cann't support request body"
### Issue description

feat: As a User, I want to use forward-auth plugin but the plugin cann't support request body sent to authorization server to  authentication form request body so that can you plan to do it?

[2022-02-16 18:53] MirtoBusico opened #6345 "bug: apisix openid plugin - how the logout path does work ?"
### Issue description

I'm trying to use a keycloak server for user authentication (and authorization) in Apisix installed in a kubernetes cluster along with Istio
My keycloak server replies to
[code]
The keycloak certificate is signed by my private Certification Authority (CA)
My plugin setup followed these articles:
[code]
The definition is correct; but when I try to access a route with openid p

[2022-02-17 02:05] jinghuaz opened #6347 "bug: forward-auth configure error when use dashboard operation"
### Issue description

![image](https://user-images.githubusercontent.com/9525903/154390202-c95e8856-5489-4c0e-bf1b-ebe6ee40daff.png)
forward-auth plugin can not find in the dashboard router config. can use api created then copy it on dashboard.

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etc

[2022-02-17 02:18] leslie-tsang commented on #6347
Hello there, Please your environment in the description.

It seems that apisix-dashboard hasn't updated the `forward-auth` schema yet.

[2022-02-17 02:25] 2298814528 commented on #6296
Yes, I have also used this plug-in, which can solve the current problem, but I have a special situation: there are multiple nodes in my upstream nodes (each node is a separate domain name, and node Only supports domain name access), but the host in proxy_rewrite can only write one IP domain name. In this case, apisix can only forward to one node, that is, the value of the host of proxy_rewrite

[2022-02-17 02:28] jinghuaz commented on #6347
curl 127.0.0.1:9090/v1/schema > schema.json -->>404 page not found

[2022-02-17 02:28] 2298814528 commented on #6296
OK, thanks

[2022-02-17 02:29] jinghuaz commented on #6347
![image](https://user-images.githubusercontent.com/9525903/154393039-0295b3a9-55b4-4dd9-b99a-e79554b6dc3c.png)

[2022-02-17 02:30] liangliang4ward commented on #6296
You can try this method：
![image](https://user-images.githubusercontent.com/3895272/154393142-c8eecfb8-6cc5-470b-b7e7-d606344cf048.png)

[2022-02-17 02:32] 2298814528 commented on #6296
OK, I'll try it now, thanks!

[2022-02-17 03:11] leslie-tsang commented on #6347
AFAIK, Although currently `apisix-dashboard` version `2.10.1` doesn’t support `forward-auth` schema, you can import APISIX version `2.12.1` schema yourself. more detail in [apisix-dashborad docs](https://apisix.apache.org/docs/dashboard/FAQ#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard)

[2022-02-17 05:50] jinghuaz commented on #6347
I have read this [apisix-dashborad docs](https://apisix.apache.org/docs/dashboard/FAQ#4-after-modifying-the-plugin-schema-or-creating-a-custom-plugin-in-apache-apisix-why-cant-i-find-it-on-the-dashboard), but response 404 page  not found is returned. Confirm that it is 9090 / V1 / schema??

[2022-02-17 06:09] liangliang4ward opened #6348 "request help: X-APISIX-Upstream-Status why only 5xx"
### Issue description

Why is the return header `x-apisix-upstream-status` only 5xx? why not include all upstream status?

### Environment

- apisix version (cmd: `apisix version`): 2.12.1
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- api

[2022-02-17 06:30] leslie-tsang commented on #6347
Oh, I see. In docker deployment mode, you should use `9092` instead of `9090`.

[2022-02-17 06:55] moonming commented on #6345
thanks for your detailed report, @starsz do you have time to dig this?

[2022-02-17 06:56] starsz commented on #6348
Hi @liangliang4ward.

https://github.com/apache/apisix/blob/master/CHANGELOG.md#core-11

As the changelog says, it's used to distinguish 5xx errors from upstream or APISIX itself.

The code is here:
https://github.com/apache/apisix/blob/f37fc0eb77abbf7fdf98ea40ce706d75e5582a4b/apisix/init.lua#L591-L609

The original PR is here:
https://github.com/apache/apisix/pull/2817

[2022-02-17 07:10] starsz commented on #6345
Hi @MirtoBusico.
I think there are those ways you can have a try.

First:

Looking at the apisix log you see:

Can you have a try for another URL like `https://www.m01.net/v1/xxx` ?

[2022-02-17 07:19] starsz commented on #6345
Hi, @MirtoBusico.Thanks for your detailed report.

Looking at the apisix log you see:

Can you have a try for another URL like https://www.m01.net/v1/xxx ?

Because you had config the `redirect_uri` in the openid-connect plugins. This URL means that when you login in the keycloak. The keycloak will redirect to the URL with the `code` and `state` parameters. But you request the URL directly without

[2022-02-17 07:21] purekeeper opened #6350 "request help: Does API6 support upstream backup directive ?"
### Issue description

Does API6 support upstream backup directive

upstream {
server aa.xx.xx.com;
server bb.xx.com backup;
}

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `curl http://127.0.0.1:9090/v1/server_info` to get the info from server-info API):
- apisi

[2022-02-17 07:22] starsz commented on #6344
Hi @jinghuaz.
Just want to know what's the body should be took when request to the auth server.

[2022-02-17 07:25] liangliang4ward commented on #6348
yes I know that;

but sometimes 4xx is easily confused with apisix return;

[2022-02-17 07:48] jinghuaz commented on #6347
Nice!!!Replace schem.json is normal, I will close this issue, thanks!

[2022-02-17 07:48] #6347 closed

[2022-02-17 07:51] jinghuaz commented on #6344
Hi starsz, In some POST requests, the body will pass in the tenant ID, because our authentication service needs to get the tenant ID.

[2022-02-17 07:53] xianshun163 opened #6352 "How to forward to the original uri in the balancer.lua, when it have change in the plugin?"
### Issue description

Dear all,   I   use the proxy-rewrite  to change the uri,   then  in the balancer.lua,  if  all the  backupend server is avalable,  I want to  forwards the request to other cluster ,  so  I want to set the uri to the original,  but  I can not do it.
I try it like this : ctx.var.upstream_uri = ctx.old_upstream_uri
but it not work now,  It still forwards the modified URI, not

[2022-02-17 08:04] MirtoBusico commented on #6345
Well,
if I try
[code]
the login screen appear, I can login and then I receive a 404 error
[code]
But now the user is authenticated and if I try
[code]
it works correctly

It seems I don't understand how to use this plugin as explained here
[code]

What I'm trying to do is

- if a user go to "https://www.m01.net/*" and is not authenticated, the user have to be redirect to the keycloak login page an

[2022-02-17 08:16] MirtoBusico commented on #6345
**UPDATE**
I tried this access sequence with these resulsts:

1) "https://www.m01.net" --> 500 internal server error
2) "https://www.m01.net/login" --> 404 not found error; but login screen appears and the user is logged in
3) "https://www.m01.net/image/png" --> the image appear correctly
4) "https://www.m01.net/logout" --> I'm redirected to "https://k6k.m01.net/auth/realms/apisix_test_realm/proto

[2022-02-17 08:52] MirtoBusico commented on #6345
**UPDATE2**
I changed the redirect uri to "https://www.m01.net/*" adding a "*"
So the plugin definition now is:
[code]
Now the access sequence and results are:
-   "https://www.m01.net/" --> appears login screen; I can do the login; the httpbin home page appears
-    "https://www.m01.net/image/png" --> the image appear correctly
-    "https://www.m01.net/logout" --> I'm redirected to
[code]
 but t

[2022-02-17 08:54] WeiWANG0118 opened #6353 "request help: Can't build image - apisix-docker/all-in-one-dashboard"
### Issue description

Hello,

I can't build the image apisix-docker/all-in-one-dashboard/Dockerfile.

Here are the logs:
[code]

### Environment
I add the command to build image in Makefile.
[code]