[2019-12-03 19:16] sshniro commented on #918
Hi @moonming , I was trying to use apisix for a project and I would also love to contribute. I'm new to this eco-system, I hope I understood the context correctly?

The number of processes refers to the `worker_processes` in the nginx.conf

- Define `enable_dev` mode in the [config YAML file](https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L21)
- Modify the [apisix bin file

[2019-12-04 00:23] moonming commented on #918
@sshniro Thank you for your attention and welcome contributions.
Yes, You are completely right, Looking forward to your PR :)

[2019-12-04 05:57] #766 closed

[2019-12-04 05:58] moonming opened #925 "doc typo"
discuss here: https://github.com/apache/incubator-apisix/pull/818#discussion_r353558908

[2019-12-04 14:04] sshniro opened #927 "request help: Doc for OAuth 2 Plugin"
### Issue description
I want to integrate APISIX with Keycloak Identity Provider (OAuth 2). The ReadMe Lists OAuth2 as a feature. Is there any usage document? or should it be created?

[2019-12-04 16:01] moonming opened #929 "bug: `make deps` will clone apisix repo"
### Issue description
`make deps` will clone `apisix` repo:
[code]

### Environment

* apisix version (cmd: `apisix version`): 0.9
* OS: ubuntu 18.04

### Minimal test code / Steps to reproduce the issue
1. make deps

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?
should ONLY install deps, not including apisix repo.

[2019-12-04 16:09] #918 closed

[2019-12-04 16:10] moonming commented on #927
the document of OAuth 2 is in the todo list.
PR is welcome :)

[2019-12-04 16:12] #925 closed

[2019-12-04 18:38] sshniro commented on #927
Okay, I'll try to create a doc, is there any medium (slack/discord) the development channel is active on, for any clarifications regarding the plugin?

[2019-12-04 21:30] sshniro opened #930 "request help: Doc on Getting Started guide for APISIX"
### Issue description
Is there step by step guide on getting started guide to onboard new users to APISIX?
1. Link to set up APISIX
2. Register a service/configure route
3. Basic Auth to service
4. Configure a rate limit plugin
5. additional Plugins etc

[2019-12-05 07:21] jiezaizone opened #931 "request help: jwt体验疑惑，如何与crm关联使用？"
### Issue description
1、jwt使用参数形式访问，url如下，
http://192.168.4.122:8080/\#/message\?jwt\=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJpc3V3YW5nIiwiZXhwIjoxNTc1NDY3NzcxfQ.rGhdOPZtvcDpySebT3NxecSTd30gAzqfKu46IpkCSs0zLxv2qcZacplsRx-HT3Yu5hRtxaKGl0nIcsw5J_Y2Kw
地址可以通过授权访问，单刷新后会出现{"message":"Missing JWT token in request"} 情况，重新打开又能访问，再刷新又被拒绝
2、jwt需要手动创建Consumers，如何与自己的crm关联？是否有demo介绍
3、配置jwt，在没有授权情况下直接返

[2019-12-05 07:37] jiezaizone opened #932 "request help: Authentications 想与OAUTH2集成，有文档介绍？"
### Issue description
APISIX Authentications 自带有key-auth, JWT插件，若想与oauth2集成使用，可以怎么操作，是否有文档介绍？

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2019-12-05 08:47] moonming commented on #930
I hope [this doc](https://github.com/apache/incubator-apisix/blob/master/doc/README.md) will give you some help.
Apache APISIX does not have the full getting started guide now, so PR is welcomed too.

[2019-12-05 08:53] moonming commented on #932
the same as https://github.com/apache/incubator-apisix/issues/927.

Apache APISIX not support oauth2 directly, and you can use [openid-connect](https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/openid-connect.lua) plugin to connect oauth2 server.

Welcome PR for oauth2 doc.

[2019-12-05 09:11] moonming commented on #931
@jiezaizone can you give the reproduce steps by curl, not the browser?
And is there has error msg in Nginx's log file?

[2019-12-05 09:14] moonming commented on #931
https://github.com/apache/incubator-apisix/blob/master/doc/plugins/jwt-auth.md#how-to-enable is the document for jwt and consumer

[2019-12-05 11:09] ChelinTsien opened #933 "it returns wrong message when I use dashboard to create upstream"
[code]

response:
[code]

Why the  key value is not  "\/apisix\/upstreams\/34710"?
But the  upstream id is 34710 in dashboard

[2019-12-05 14:47] juzhiyuan commented on #933
3470 is the short name for original id

[2019-12-05 14:53] ChelinTsien commented on #933
The length of the original id is equal？

琚致远 <notifications@github.com>于2019年12月5日 周四下午10:47写道：

--
Best regards, 钱晓亮 厦门幻世网络科技有限公司 厦门市湖里区火炬园新丰二路8号（日华大厦）6F-E单元
Fax:(86-592)5050712 Mobile:+86-18259285591

[2019-12-05 14:53] ChelinTsien commented on #933
The length of the original id is equal？

[2019-12-05 16:53] sshniro commented on #930
@moonming I've started on the doc, but I'm having problems with the setup, maybe I'm doing it in the wrong way. I'm trying to expose a simple get endpoint from [httpbin](https://httpbin.org) via APISIX.

GET endpoint: [https://httpbin.org/get](https://httpbin.org/get)

The following are my configurations (Currently trying to access the base site).

[code]
Then I define a route to access the servic

[2019-12-06 01:25] membphis commented on #929
Your `luarocks` is too old. It should be a bug of old `luarocks`.

[2019-12-06 01:25] #929 closed

[2019-12-06 02:40] juzhiyuan commented on #933
Here is an example:

The original id is 00000000000000034710, and it will be shown 34710 on Dashboard.

[2019-12-06 03:11] membphis commented on #914
[code]

Putting all files under `/usr/local/apisix` is easier to manage.
If you need to map to a different directory, you can use a file soft link.

[2019-12-06 03:13] #443 closed

[2019-12-06 03:14] membphis commented on #443
Only route need TTL now.

[2019-12-06 03:17] moonming opened #935 "add English version of admin api doc"
https://github.com/apache/incubator-apisix/blob/master/doc/admin-api-cn.md

[2019-12-06 04:18] ChelinTsien commented on #933
the key show on dashboard is 34710,but rest api use key 34710 can not match data

[2019-12-06 06:53] membphis commented on #930
[code]

https://github.com/apache/incubator-apisix/blob/master/doc/architecture-design.md#upstream

The address of node is wrong.

[2019-12-06 07:33] lilien1010 opened #939 "bug: the APISIX icon is not show in the dashboard"
### Issue description
![image](https://user-images.githubusercontent.com/3814966/70304617-4f41b780-183d-11ea-97af-7cc4a2694a2f.png)

### Environment

* apisix version (cmd: `apisix version`): master
* OS: Centos

### What's the actual result? (including assertion message & call stack if applicable)
the APISIX icon is not show in the dashboard while visit the dashboard
with URL `HOST/apisix/dashboa

[2019-12-06 08:03] membphis opened #940 "remove `conf/nginx.conf`"
The file 'conf/nginx.conf' can be generated automatically before run Apache APISIX.

[2019-12-06 08:46] simplechen opened #941 "bug: key-auth使用报错"
### key-auth使用报错

### Environment
* apisix version (0.9-rc1):
* OS: CentOS Linux release 7.5.1804 (Core)

### Minimal test code / Steps to reproduce the issue
1.后端写一个web程序 app.py部署至两台内网主机　10.0.10.225:1080 10.0.10.226:1081
程序代码
[code]

2.apisix配置如下
[code]
3. 调用方法
[code]
4. 报错内容
[code]

5. 场景是key-auth绑定至路由中

6.key-auth绑定至service中然后把service和route关联也一样报上述的错

[2019-12-06 08:47] moonming opened #942 "test case: no test cases for vaild consumer and vaild key for key-auth plugin"
only invaild test cases: https://github.com/apache/incubator-apisix/blob/master/t/plugin/key-auth.t#L150

[2019-12-06 08:50] moonming commented on #940
as discussed in mailling list: https://lists.apache.org/thread.html/68bb0114c0abd5f6c2a93111345c80db9d0add83a844a1bf5a2b01d1%40%3Cdev.apisix.apache.org%3E

we can remove this file.

[2019-12-06 08:57] moonming opened #943 "bug: not throw error meg when call admin API to enable mqtt plugin and `enable stream_proxy` is disable."
as discussed here: https://github.com/apache/incubator-apisix/issues/899#issuecomment-559626538

[2019-12-06 08:58] #579 closed

[2019-12-06 09:02] membphis commented on #941
If the api-key is `123456`, the `consumer` should be:

[code]

[code]

make a test:

[code]

[2019-12-06 09:04] moonming commented on #914
In short, Apache APISIX tries not to let users know the exists of Nginx.

[2019-12-06 09:08] simplechen opened #944 "request help: 插件扩展可行性咨询"
HI：
　　我们公司现有有一个正在使用的网关标准如下，现在想看看是否可以通过写apisix plugin　实现。

- 接口标准

1. 接口调用统一地址

2. 调用方法

3. 请求参数 http request body
[code]

-  想法
　上述head.service_code为12位编码，前4位对应于一个应用服务（可部署在份)，这和apisix是的route是相悖的，我现在想法是否有可能apisix只写一个route，通过plugin解析里面的json参数拿到服务所在的upstream进而进行分发。

多谢了

[2019-12-06 09:09] moonming commented on #941
the `apikey` is wrong in doc:https://github.com/apache/incubator-apisix/blob/master/doc/plugins/key-auth-cn.md, which may mislead you.
Welcome PR to fix doc.

[2019-12-06 09:10] moonming opened #945 "bug: wrong `apikey` in doc of key-auth plugin."
as discussed here: https://github.com/apache/incubator-apisix/issues/941#issuecomment-562493124

[2019-12-06 09:31] moonming commented on #944
Sure, Apache APISIX supports custom router, which can resolve your issue.
@membphis can you give a more detail example?

[2019-12-06 09:32] simplechen commented on #941
是我上面贴的问题，现实中我配置的就是123456。刚刚我修复了主题上面的配置

[2019-12-06 09:32] moonming commented on #944
by the way, the plugin is not a good idea for your issue.

[2019-12-06 09:39] simplechen commented on #944
没错，我这个方案确实不是太好，有一些性能损失，当然我也可以对外时把接口地址变成
http://127.0.0.1:8080/<service_code_prefix> 　service_code_prefix和后面的upstream是对应的，在中间做一个plugnin 重新组合request body json数据　和我们现在的结构无缝对接。

[2019-12-06 09:52] totemofwolf commented on #912
官方 nginx-17.3 可以接收 openresty的patch

[code]

[2019-12-06 09:57] DHB-liuhong opened #946 "It could not add more than one upstreams to a route"
### Issue description
i want add more than one upstreams to a route ，but I find it doesn't work

### Environment
[root@lhdev2 routes]# curl -i -X PUT http://10.139.6.35:9080/apisix/admin/routes/00000001 -d '

HTTP/1.1 400 Bad Request
Date: Fri, 06 Dec 2019 09:52:22 GMT
Content-Type: text/plain
Transfer-Encoding: chunked
Connection: keep-alive
Server: APISIX web server
{"error_msg":"invalid configu

[2019-12-06 10:00] DHB-liuhong commented on #946
我发现用http请求不能灵活的修改upstream中的ip和权重，每次修改，发送请求，都需要将nodes中的所有ip重新写一边，其实我只想修改nodes中某一个ip的权重

[2019-12-06 12:53] moonming commented on #944
yes, that will be easier as long as the number of services is not large.

[2019-12-06 13:06] moonming commented on #946
@DHB-liuhong Apache APISIX does not support yet.
I think you can refer to https://github.com/apache/incubator-apisix/pull/371 if you want to do this.

[2019-12-06 13:07] moonming commented on #912
@totemofwolf Please use English in the public channel, you are the PPMC of Apache APISIX.

[2019-12-06 13:20] moonming commented on #933
the key on the dashboard is the short name, can not use for admin API directly.

[2019-12-06 13:23] totemofwolf commented on #912
It should not be at this page but for alibaba/tengine.
I pasted at the wrong tab. :)

[2019-12-06 14:41] ChelinTsien commented on #933
But i can not find original id on dashboard.  I had to query original id in ectd.  This is very inconvenient

[2019-12-07 00:33] juzhiyuan commented on #933
The original ID is in fixed-length I guess, you can fill `zero 0` before the short name if you need it.

For example,

The original ID is `00000000000000034710`, and its short name is `34710`, then you can fill 0 by 15 times before `34710`.

[2019-12-07 02:45] juzhiyuan commented on #941
I just went through this issue, but still cannot get your point :( Which position should be fixed?

[2019-12-07 05:34] ChelinTsien commented on #933
This way can solve the problem . For first-time users, they may not know such rules. It use short name for admin api directly

[2019-12-07 06:12] moonming commented on #933
welcome to add this to FAQ.

Thanks,
Ming Wen
Twitter: _WenMing

ChelinTsien <notifications@github.com> 于2019年12月7日周六 下午1:34写道：

[2019-12-07 06:14] moonming commented on #941
the `key` is `auth-one` in step 1, but changed to `apikey: keykey` in the
test plugin step.

Thanks,
Ming Wen
Twitter: _WenMing

琚致远 <notifications@github.com> 于2019年12月7日周六 上午10:45写道：

[2019-12-07 10:32] #939 closed

[2019-12-07 10:32] juzhiyuan commented on #939
Please sync your codes with `incubator-apisix-dashboard`'s master branch

[2019-12-07 16:30] sshniro opened #948 "How to add a prefix to a route"
### Issue description
Hi, I'm new to APISIX and having trouble configuring a route to proxy a remote endpoint

I want to proxy a request via APISIX to example.com (via the route: `test/example`). Thus when I execute this route it will return the homepage(text/HTML) as a response.

The following is my route definition.
[code]
This gives a successful response. Then I try to access this route via the

[2019-12-07 19:23] sshniro commented on #948
Found the problem, the host header should be similar to the domain.

[code]

[2019-12-07 19:35] sshniro commented on #948
How can I provide a path like `test/example` to access the example.com?

Like: `curl -i http://127.0.0.1:9080/test/example -X GET` should return the example.com

Because I have multiple domains that need different paths.
For example:
Domain1: foo.com
Domain 2: bar.com

`http://127.0.0.1:9080/service/foo` should point to foo.com
`http://127.0.0.1:9080/service/bar` should point to bar.com

Is this k

[2019-12-07 19:59] sshniro commented on #930
Thank you for the reply, according to the doc I removed the protocol (https) and only added the address and port. But still, APISIX is giving me a 502 gateway error.
![image](https://user-images.githubusercontent.com/13045528/70379919-d8d3b100-1933-11ea-82fb-3237a726c18c.png)

[code]

`curl -i http://127.0.0.1:9080/ -H "Host: httpbin.org" -X GET`

Should I specify the protocol somewhere else?

[2019-12-08 02:22] moonming commented on #945
fixed by https://github.com/apache/incubator-apisix/pull/947

[2019-12-08 02:22] #945 closed

[2019-12-08 02:25] moonming commented on #914
@chnliyong Is this FHS way is good for docker?

[2019-12-08 03:29] #944 closed

[2019-12-08 04:34] dabingya opened #949 "request help: How to replace uri?"
route configures:
urls: /abc
upstream: abc

upstream configures:
abc: 127.0.0.1:17777

want:
curl 127.0.0.1:9080/abc/hello -> 127.0.0.1:17777/hello?

[2019-12-08 12:29] membphis commented on #949
please take a look at this doc: https://github.com/apache/incubator-apisix/blob/master/doc/plugins/proxy-rewrite-cn.md#%E9%85%8D%E7%BD%AE%E5%8F%82%E6%95%B0

[2019-12-08 12:50] dabingya commented on #949
这样只能影响一个url，有设置一次 可以匹配所有的吗？
就如 nginx :
location /abc {
    proxy_pass 127.0.0.1:17777/ ;
}

[2019-12-09 00:48] membphis commented on #949
You can implement a new option in the proxy-rewrite plugin, such as: "uri": "$matched_uri".

[2019-12-09 03:49] moonming commented on #948
Do you want to use one routing rule to handle multiple domain names?
As far as I know, Apache APISIX is still not supported. Apache APISIX prefers to deal with flat structures.

[2019-12-09 08:16] shuaijinchao commented on #911
I will migrate it.

[2019-12-09 09:30] Miss-you opened #953 "request help: Any plan for supporting the SM1/SM2/SM3/SM4 cryptographic algorithm?"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2019-12-09 10:18] sshniro opened #954 "bug: Attempt to index field 'plugins' Error, when configuring route and referencing services with DNS."
### Issue description
I'm trying to create a service and reference it in a route. The following are my configurations:

[code]

[code]
[code]

### What's the actual result? (including assertion message & call stack if applicable)
When I call the endpoint it gives a 500 Internal server error.
![image](https://user-images.githubusercontent.com/13045528/70428102-3708ad00-1a76-11ea-9af9-2ee544391527.p

[2019-12-09 10:33] sshniro commented on #948
I want something like this, Here is the same URL.
- https://httpbin.org/get

Here the host is `https://httpbin.org` and the URI is `get`. So when I configure a route in APISIX it will look like this.

[code]
Therefore, I can access this route via the following URL.
`curl -i -X GET "http://127.0.0.1:9080/get" -H "Host: httpbin.org"`

What I want to do is put a prefix path before the URI, so I can c

[2019-12-09 10:58] totemofwolf commented on #953
As i know, Chinese cryptographic algorithm `SM2 SM3 SM4` are included in official openssl 1.1.1,
so you should use at least openssl 1.1.1 (when compiled with openresty):
refer:
https://www.openssl.org/blog/blog/2018/09/11/release111/

and you should compile and patch openssl 1.1.1 refered to:
https://github.com/apache/incubator-apisix-docker/blob/master/alpine/Dockerfile

----

refered to issues f

[2019-12-09 11:30] sshniro commented on #954
It seems providing a DNS name to the service provokes this error. I tried the similar with [http://example.com](http://example.com) . When I include the exact IP of the service, it works, but when I include the domain name it fails.

[2019-12-09 12:31] KowloonZh commented on #487
Organization: Qihu-cloud-group
Location: Beijing, China
Contact: kowloonzh@gmail.com
Scenario: as a API gateway to deal with north-south and east-west traffic between microservices.

组织：奇虎360云事业部
地点：中国北京
联系方式： kowloonzh@gmail.com
使用场景：做 cmdb 平台的网关转发各微服务的请求

[2019-12-09 16:49] sshniro commented on #930
Thanks for the update @membphis , I used the proxy-rewrite plugin to change the scheme as the default it http, and removed the protocol `https` from the adress node.

[2019-12-10 03:24] #935 closed

[2019-12-10 03:39] moonming commented on #953
OpenResty not support openssl 1.1.1 yet :(

[2019-12-10 03:49] membphis opened #956 "doc: how to support A/B testing via APISIX?"
We can write this doc to FAQ document.

[2019-12-10 03:54] membphis commented on #956
related issue: https://github.com/apache/incubator-apisix/issues/841

[2019-12-10 03:56] moonming commented on #927
we have test cases for openid-connect: https://github.com/apache/incubator-apisix/blob/master/t/plugin/openid-connect.t

[2019-12-10 06:51] DHB-liuhong commented on #946
@moonming if i have

[2019-12-10 06:51] #946 closed

[2019-12-10 08:23] juzhiyuan commented on #941
any update?

[2019-12-10 08:24] juzhiyuan commented on #933
Welcome to create your PR about this note, this issue is closed now.

[2019-12-10 08:24] #933 closed

[2019-12-10 08:33] sshniro commented on #804
eureka +1

[2019-12-11 05:43] #911 closed

[2019-12-11 05:45] moonming commented on #956
fixed by https://github.com/apache/incubator-apisix/pull/957

[2019-12-11 05:45] #956 closed

[2019-12-11 06:13] moonming opened #958 "bug: wrong account name of twitter"
update Twitter account in README.md to https://twitter.com/ApacheAPISIX

[2019-12-11 08:51] sshniro commented on #956
Hi, can I know what does `arg_id` refers in this context? Is it a Nginx param?

[code]

[2019-12-11 09:48] membphis opened #961 "doc(FAQ): how to use regex to match uri."
Currently, only the `path` in a route can be indexed. It supports full matching and prefix matching.
If you want to support regular matching, you need to use the `vars` of the route.

For example, to match this request: `/api/module/{code}/{param}`

[code]

----

目前路由中只有 path 字段是可以被索引的，它支持全量匹配和前缀匹配。
如果要支持正则匹配，需要通过路由的 `vars` 实现。

比如要匹配这种请求：`/api/module/{code}/{param}`

在 apisix 中需要这么写：

[code]

[2019-12-12 09:20] shuaijinchao opened #963 "bug: custom etcd host is invalid."
[lua/apisix/core/etcd.lua](https://github.com/apache/incubator-apisix/blob/master/lua/apisix/core/etcd.lua#L35) When calling `lua-resty-etcd` for initialization, the configuration file passed in is the structure defined in [conf/config.yaml](https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L71), but the etcd structure defined in config is connected to the address key Is `hos

[2019-12-12 09:38] moonming commented on #963
welcome PR

[2019-12-12 10:01] sshniro commented on #930
Closing the issue as the PR got merged.

[2019-12-12 10:01] #930 closed

[2019-12-12 13:28] sshniro opened #965 "HTTP logger to send logs to external log management tool"
Does  APISIX provide an HTTP logger to send gateway request (url, uri, time, key) logs to an external endpoint? I want to send the access logs to [Kibana/Logstash](https://www.elastic.co/what-is/elk-stack) for further analysis.

[2019-12-12 13:33] sshniro commented on #333
Hi, is this feature implemented? if not can I attempt this?

[2019-12-12 15:22] agile6v commented on #963
Hi @shuaijinchao

APISIX currently depends on `lua-resty-etcd(0.7)`, which is valid in `lua-resty-etcd(0.7)`. If APISIX upgrades `lua-resty-etcd` to the latest version, it's necessary to update this option at the same time.

[2019-12-13 02:15] dabingya opened #966 "request help: coding"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS: max os

i want to do some study and coding, after git clone , how can i run the project  ?

[2019-12-13 03:36] DHB-liuhong opened #967 "IP does not poll when using passive health-check"
### Issue description
ip does not pool when using passive health-check

### Environment
![image](https://user-images.githubusercontent.com/26212922/70767597-e1e1d980-1d9c-11ea-91a4-385781b096cc.png)
Send the requests：
![image](https://user-images.githubusercontent.com/26212922/70767778-819f6780-1d9d-11ea-9d76-92e1ef1019eb.png)

All of these requests are processed by this ip of 8080 ,The 8081 IP do

[2019-12-13 03:43] DHB-liuhong commented on #967
@moonming can you help to see.

[2019-12-13 04:13] moonming commented on #966
https://github.com/apache/incubator-apisix/blob/master/doc/getting-started.md is a good start, then you can try plugins: https://github.com/apache/incubator-apisix/tree/master/doc#plugins

[2019-12-13 04:16] moonming commented on #967
@DHB-liuhong can you give reproduce steps? and what's the version of APISIX?

[2019-12-13 04:22] moonming commented on #965
APISIX does not have such plugins now, but we definitely need them to send logs to ELK, Datadog, Kafka, etc.
And welcome PR.

[2019-12-13 04:33] dabingya commented on #966
i do git clone ,then make deps ,add conf/nginx.conf ,make run ,finally it work.

[2019-12-13 05:16] #942 closed

[2019-12-13 05:41] DHB-liuhong commented on #967
@moonming apisix version：
[root@node9 ~]# apisix version
0.9-rc1
step：
1. set routes
curl -i -X PUT http://192.168.3.39:9080/apisix/admin/routes/1 -d '
{
    "uri": "/*",
    "methods": ["PUT", "GET", "POST", "DELETE"],
    "upstream": {
        "type": "roundrobin",
        "nodes": {
            "192.168.3.39:8080": 1,
            "192.168.3.39:8081": 1
        },
        "checks": {

[2019-12-13 05:43] DHB-liuhong commented on #967
@moonming can you help to see. thanks

[2019-12-13 08:12] #958 closed

[2019-12-13 08:12] moonming commented on #966
Enjoy:)

[2019-12-13 08:12] #966 closed

[2019-12-13 08:37] membphis opened #968 "add `conf/nginx.conf` to `.gitignore`"
ignore file `conf/nginx.conf`.

[2019-12-13 08:40] moonming opened #969 "bug: wrong code snippet in serverless's doc"
https://github.com/apache/incubator-apisix/blob/master/doc/plugins/serverless.md

in the `How To Enable` section, curl's command is wrong, should be:
[code]

[2019-12-13 08:42] dabingya commented on #949
could you give more detail ?

[2019-12-13 10:53] totemofwolf opened #971 "request help: How to add password auth support for limit-count-redis"
### Issue description

We need to support auth password for redis in production env.
So i modified the file `limit-count/limit-count-redis.lua` as follows:

[code]

and

[code]

when i do this request again, it says that:

[code]

How to support this additional properties of plugin limit-count ?

### Environment

* apisix version (cmd: `apisix version`): 0.9
* OS: alpine 3.7

[2019-12-14 15:25] agile6v commented on #971
Hi @totemofwolf

I can't reproduce your problem. You may need to confirm whether APISIX has been restarted and the code has passed.

[2019-12-14 15:37] totemofwolf commented on #971
So we can use `redis_pass` property for limit-count-redis plugin without modifying the related files now?

[2019-12-15 02:44] agile6v commented on #971
@totemofwolf  Maybe I didn't make it clear.

I go through the APISIX code, found that the error you encountered was caused by the failure of the schema parsing. I also modified the local code according to your modification and then `curl 127.0.0.1:9180/apisix/admin/routes/00000000000000000075 -X PUT`, but it could not be reproduced.

Thanks.

[2019-12-15 06:06] moonming commented on #949
you can add `sub_uri` option in the schema of `proxy_rewite` plugin: https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/proxy-rewrite.lua#L25

Then you can add replace code in this plugin, and the API like this:
[code]

[2019-12-15 06:11] moonming commented on #333
Not yet. Welcome PR :) thx

[2019-12-15 12:47] chnliyong commented on #914
Actually, the docker way does not care this.

As `apisix` run within `OpenResty`, it's hard to pass variable by command line arguments, the most common way is using the nginx `prefix` as a base directory. So the `convention` of apisix is not `FHS`, it's `Nginx`

[2019-12-15 13:42] chnliyong opened #973 "Add protocol header for upstream service"
The upstream service such as web rendering may sometimes need to know the incoming request's scheme(`http` or `https`) from client.
Conventionally use the http header `X-Forwarded-Proto`[X-Forwarded-Proto](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto)

[2019-12-15 13:52] moonming commented on #973
I think you can use the proxy-rewrite plugin.

[2019-12-15 14:02] chnliyong commented on #973
I thought this is a very commonly requirement if `apisix` is used as a `reverse proxy` to offer ssl offloading, and configure the `proxy-rewrite`  for all routes is tedious.
We may add a option such as `enable_protocol_forwarded` and `protocol_forwarded_header` in `config.yaml` if we don't  want this as default.  Actually, I would like this be default.

[code]

[2019-12-15 14:10] moonming commented on #973
I got your point.
I think we can add this to `/bin/apisix` directly.

[2019-12-15 14:12] moonming commented on #973
you can send email to mailing list to discuss with more developer.

[2019-12-15 14:23] agile6v commented on #949
@moonming I agree with your suggestion. Is it better to change sub_uri to regex_uri? If possible, I will submit a PR later.

[2019-12-16 00:12] moonming commented on #949
sure, welcome PR ：） thx

[2019-12-16 00:12] #968 closed

[2019-12-16 06:29] asher86v opened #975 "request help: 开启health健康检查，不能自动剔除有问题的节点"
### Issue description
开启health健康检查，不能自动剔除有问题的节点

### Environment
* apisix version (cmd: `apisix version`): 0.9-rc1
* OS:  CentOS Linux release 7.4.1708 (Core)

curl -i -X PUT http://10.110.2.120:9080/apisix/admin/routes/1112 -d '
{
"uri": "/*",
"hosts": ["www.dd.com"],
"methods": ["PUT", "GET", "POST", "DELETE"],
"upstream": {
"type": "roundrobin",
"nodes": {
"10.110.2.95:5000": 1,
"10.110.2.95:50

[2019-12-16 10:07] jiezaizone opened #977 "request help: 关于负载均衡健康检查配置问题"
### Issue description
安装健康检查文档进行如下配置确实可以实现过滤掉宕机的节点，配置相当于直接给路由添加一个新的upstream。
**问题1**:健康检查能否与upstreams中已经配置了的upstream直接关联？通过admin 操作添加upstreams 是关联了upstream_id: "00000000000000000016"
**问题2**：当upstreams 设置 ```"type":"chash",    "key":"remote_addr",```后，健康检查就无效了。两个节点，宕机掉其中一个后就直接502，不会切换到存活的节点上。
**问题3**：现在的 负载均衡 是手动将所有的node的节点添加进去的，能否实现扩容时候自动将节点添加进负载均衡节点列表？可以怎么实现。
[code]

### Environment

* apisix ve

[2019-12-16 10:40] jiezaizone opened #978 "request help: apisix 数据是存储在哪儿？怎么直接查看与备份？"
### Issue description
apisix 数据是存储在哪儿？怎么直接查看与备份？

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2019-12-16 10:50] jiezaizone commented on #932
thanks

[2019-12-16 10:50] #932 closed

[2019-12-16 15:22] shuaijinchao commented on #963
Yes, I found this problem too. Currently APISIX refers to version 0.7 so there is no this problem.

[2019-12-17 03:48] chnliyong opened #981 "bug: healthcheck cannot use specified `Host` header"
### Issue description
The healthcheck config schema requires `host` config item placed within the `upstream.checks.active`, which should be referenced by `upstream.checks.active.host`, but when initializing the healthchecker, the code use `upstream.checks.host` show below:
[code]
[Link](https://github.com/apache/incubator-apisix/blob/af1a29a38e6c7623fa697ea524832ece76a9cbf6/lua/apisix/balancer.lua

[2019-12-17 04:33] chnliyong commented on #975
You just only use `passive` method, which it's your code's responsibility to call the `report_*` function provided by `lua-resty-healthcheck`.

More detail docs: https://kong.github.io/lua-resty-healthcheck/modules/resty.healthcheck.html

[2019-12-17 06:05] #914 closed

[2019-12-17 15:25] agile6v commented on #977
问题2：我这里并没有复现，主动健康检查的间隔是2秒，很可能会碰到一次502的情况。

[2019-12-18 03:28] moonming commented on #978
The data of APISIX all stored in etcd, and you can read [the doc of etcd](https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md) for details of snapshotting and recovery.

[2019-12-18 03:29] #978 closed

[2019-12-18 07:25] totemofwolf opened #983 "bug: SSL certs key content should be kept secret in dashboard"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 0.9
* OS: alpine 3.7

### Minimal test code / Steps to reproduce the issue

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

![11576646267_ pic](https://user-images.githubusercontent.com/1818214/71064620-7b005e00-21aa-11ea-86f7-a58ff39ba1ee.jpg)

[2019-12-18 09:55] moonming commented on #983
I think you should move this issue to dashboard repo. thx

[2019-12-18 09:59] 1996yarbrough opened #984 "bug: A document description error : incubator-apisix/doc/plugins/ip-restriction-cn.md"
### Issue description
The test case for the 'ip-restriction' plug-in is wrong.
I think you should only change client IP, request segment IP unchanged,
such as
$ curl http://127.0.0.1:9080/index.html
HTTP/1.1 200 OK
...
$ curl http://127.0.0.2:9080/index.html -i
HTTP/1.1 403 Forbidden
...
{"message":"Your IP address is not allowed"}

### What's the expected result?

1.
curl http://127.0.0.1:9080/ap

[2019-12-18 10:17] moonming commented on #984
welcome PR

[2019-12-19 05:56] moonming commented on #965
I think this job can start now. @sshniro are you interested?

[2019-12-19 06:41] sshniro commented on #965
Yes @moonming , We are evaluating APISIX as a potential microservice gateway for a [Europian Union](https://www.efactory-project.eu/) project. Also, the HTTP logger is an essential component of the project to track the service consumption.

I would love to contribute to this feature. Unfortunately, I'm not available the next week. I already started working on it (will need some guidance). I planni

[2019-12-19 07:30] moonming commented on #965
Great, I'm looking forward to it. @sshniro

[2019-12-19 08:18] imlewc opened #986 "add ip whitelist/blacklist feature in limit-count plugin or more beaty implement"
In my work, there is such a scenario, restricting access to IP request count,but ignore some our inner ips, i think we can add ip whitelist/blacklist feature in limit-count plugin!
Or can we support some logic between some funcs in our admin config, such as my scenario,we can operate logic like excel !
But this idea may be more diffcult in admin config validate.

Do others has some helpful ideas??

[2019-12-19 08:49] #963 closed

[2019-12-20 03:54] wind-clothes commented on #239
I think we need to strip out related components and then open up scalability, such as synchronization components and storage components。

[2019-12-20 06:35] moonming commented on #239
I have doubt about the need for such high flexibility, and what obvious benefits does this bring?

[2019-12-20 06:49] moonming commented on #981
welcome PR

[2019-12-20 07:31] moonming opened #990 "migrated apisix's luarocks account to Apache"
Under brand management considerations

[2019-12-21 13:24] agile6v commented on #975
@asher86v 配置`retries`可以解决你的问题。

个人觉得重试应该是一个默认操作，使用的人理解起来也会容易一些。
@moonming @membphis

[code]

[2019-12-22 06:26] totemofwolf opened #991 "bug: mismatch Redis key and routes' id when updating /apisix/admin/routes"
### Issue description

### Environment

* apisix version (cmd: `apisix version`): 0.9.0
* OS: alpine 3.7

### Minimal test code / Steps to reproduce the issue

[code]

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

[2019-12-22 15:32] codjust opened #992 "discuss: chash key support more flexible ways"
### Issue description
Now chash key only support fetch from nginx variable. We need to be more flexible approach，<br>eg: cookie, custom header and so on.
Here is an example to achieve:
upstream schema
[code]
eg:
[code]

hash_on type desc:
1. vars: fetchs nginx variable
2. header: custom headers or standard http headers
3. cookie: fetch chash key from cookie. It can be used to sticky session
4. con

[2019-12-23 02:08] membphis opened #993 "feature: use privilege agent process to complete log cutting."
1. allow user to specify the max log size and time window.
2. base on a `cron tab` which implemented with pure Lua module.
3. send `reopen` file signal.

[2019-12-23 02:52] #941 closed

[2019-12-23 02:54] #940 closed

[2019-12-23 02:55] #905 closed

[2019-12-23 02:56] #899 closed

[2019-12-23 03:07] #900 closed

[2019-12-23 03:08] #870 closed

[2019-12-23 03:08] #847 closed

[2019-12-23 06:41] moonming opened #994 "should hide SSL certificate cert key in API"
as discussed https://github.com/apache/incubator-apisix-dashboard/issues/93#issuecomment-568239987

[2019-12-23 07:12] moonming commented on #993
Please send such discussions to the mailing list too, thx

[2019-12-23 08:11] moonming commented on #992
@codjust I prefer your design  than the exist: https://github.com/apache/incubator-apisix/blob/master/lua/apisix/schema_def.lua#L261
And please send this discussion to the mailing list too, thx.

[2019-12-23 08:49] moonming commented on #991
@totemofwolf I don't think this a bug, the last number in the `key` is not route id, is the configure version: https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/limit-count.lua#L114

[2019-12-23 08:50] moonming commented on #991
Welcome to submit PR to make the `key` more readable

[2019-12-23 09:07] moonming commented on #986
I think there are 2 ways:
1. use the priority routes with `ip-restriction` plugin: https://github.com/iresty/lua-resty-radixtree/issues/31, however, priority route is not implemented yet;
2. add ip whitelist/blacklist feature in `limit-count` plugin.

The second way is faster at this time.

[2019-12-23 09:10] moonming commented on #975
welcome PR. and I think the origin issue resolved.

[2019-12-23 09:10] #975 closed

[2019-12-23 13:00] codjust commented on #992
ok,, done.

[2019-12-24 07:55] membphis commented on #954
It should be a bug, we need to fix it

[2019-12-24 08:39] moonming opened #996 "bug: need more friendly error msg when not pass `upstream` to admin API"
bug report from dashboard repo: https://github.com/apache/incubator-apisix-dashboard/issues/98#issuecomment-568688724
The admin API will throw error msg when not  pass `upstream` to admin API, for example:
[code]
But the error message is confusing:
[code]
 It should be reported `upstream` is missing directly.

[2019-12-24 09:02] membphis opened #997 "doc(FAQ): Why is the ID displayed on the dashboard not the original value of etcd?"
为什么仪表板上显示的ID不是etcd的原始值？

Why is the ID displayed on the dashboard not the original value of etcd?

[2019-12-24 11:05] juzhiyuan commented on #997
The original ID is too long to display, so we shorten the ID for the beauty of our dashboard. For example, we assume the original id is `00000000000000034831`, we will shorten it to `34831` in this way: `originalId.replace(/^(0+)/, '')`

[2019-12-25 03:20] membphis commented on #996
Matching any of the following cases is valid. The error message `missing upstream object` is not good.

[code]

[2019-12-25 03:25] membphis commented on #996
BTW, I run this case with latest APISIX, it is a valid router.

[code]

[2019-12-25 06:14] songpspan opened #999 "request help: How to get consumer id from upstream service ?"
### Issue description
How to get consumer id from upstream service when the request has passed authentication plugin (e.g., jwt-auth, key-auth) ?

### Environment

* apisix version (cmd: `apisix version`): 0.9
* OS: Ubuntu 18.04

[2019-12-25 09:58] imlewc commented on #986
ok, at first i choose implement with the second way .

[2019-12-26 02:51] membphis commented on #999
You can get it from `ctx. consumer_id`.

Here is the source code link:

https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/key-auth.lua#L85

[2019-12-27 06:34] moonming opened #1003 "add readonly tips in nginx.conf"
Add tips in the generated nginx.conf, stating that this is a read-only file, do not try to modify it:
https://github.com/apache/incubator-apisix/blob/master/bin/apisix#L80

[2019-12-27 07:47] shuaijinchao opened #1004 "change: `ngx_var` module upgraded from 0.4 to 0.5."
#### ngx_var 0.5 changes :
- vars.method to vars.request_method

[2019-12-27 08:53] #1004 closed

[2019-12-30 01:20] #999 closed

[2019-12-30 01:20] #991 closed

[2019-12-30 01:22] moonming commented on #973
@chnliyong any update?

[2019-12-30 12:12] codlin opened #1008 "request help: jwt-auth-cn.md"
### Issue description
小白求教，[请问这个文档](https://github.com/apache/incubator-apisix/blob/master/doc/plugins/jwt-auth-cn.md)中说的username指的是终端用户吗？
如果一个网站有很多用户，一个个通过手动加不现实吧
谢谢
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2019-12-31 01:59] membphis commented on #1008
For gateways, consumers here are usually partners or channel sources. For example, a.com or b.com.

对于网关，这里的 consumer 通常是合作伙伴或渠道来源。 例如，a.com 或 b.com 这种使用域名做主体区分。

[2019-12-31 04:15] codlin commented on #1008
谢谢

[2019-12-31 04:15] #1008 closed

[2020-01-01 15:23] agile6v commented on #977
Hi @jiezaizone

我简单测试了retries参数和主动&被动健康检查配置遇到502的情况：

#### 未配置retries参数
##### 1.1  仅配置主动健康检查
  结论：upstream中指定了多个node时，当其中一个node不可访问并不会将请求转发至其他node，所以有可能碰到502情况（健康检查并没有发现node状态是不健康的）

##### 1.2 仅配置被动健康检查
结论：upstream中指定了多个node时，当其中一个node不可访问并不会将请求转发至其他node，一定会碰到502情况（因为没有配置retries所以这里的被动健康检查并没有生效等同于1.4）

##### 1.3 同时配置主动健康检查和被动健康检查
结论：upstream中指定了多个node时，当其中一个node不可访问并不会将请求转发至其他node，所以有可能碰到502情况（同1.

[2020-01-02 00:55] moonming commented on #977
@agile6v nice work👍
@membphis please have a look too

[2020-01-02 03:19] jiezaizone commented on #977
👍

[2020-01-02 03:25] membphis commented on #977
This should be a bug, we cannot just enable passive health checks.

[2020-01-02 03:25] membphis opened #1009 "bug: cannot just enable passive health checks for upstream nodes."
https://github.com/apache/incubator-apisix/issues/977#issuecomment-570110477

[2020-01-02 04:09] membphis opened #1010 "schema: use better error tips when the match fails"
[code]

eg:

`validation failed: object matches none of the alternatives`

[2020-01-02 09:50] membphis opened #1014 "feature: support to set timeout for each request."
we can use this API to implement this feature:

https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/balancer.md#set_timeouts

[2020-01-02 12:50] KfighterWang commented on #487
有没有计划加入rest->dubbo的支持

[2020-01-02 13:55] moonming commented on #487
@KfighterWang This thread is not for discuss new features, please create a new issue. thx

[2020-01-02 13:56] #1010 closed

[2020-01-02 13:56] #1009 closed

[2020-01-03 15:14] agile6v commented on #977
Nginx calculates the number of retries based on the number of configured `servers` in `upstream block` by default. And if the `proxy_next_upstream_tries` directive is set, it will override the default value.  Could APISIX also follow this logic? @membphis

[2020-01-04 08:36] membphis commented on #977
@agile6v I love your way. PR welcome.

[2020-01-04 09:11] jiezaizone opened #1016 "request help: Plugin openid-connect 可有文档介绍？"
### Issue description

![image](https://user-images.githubusercontent.com/28976666/71763494-7a402980-2f17-11ea-87c6-b40d16eaa7e3.png)
这些参数属性不明白分别代表什么，该怎么填写。
想实现功能如下：
前置条件：自己有一个基于aouth2单点登录系统
登录地址http://XX/login.jsp
1、配置路由访问，没有授权跳转到登录系统登录页面进行登录操作
2、登录完成后跳转回原来页面继续访问
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-01-04 09:37] jiezaizone opened #1017 "request help: apisix如何配置灰度访问？"
### Issue description
![image](https://user-images.githubusercontent.com/28976666/71763595-af00b080-2f18-11ea-9738-c4f5f820f006.png)
比如我本身的nginx有这个lua脚本，在apisix中该怎么配置？

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-01-04 09:48] jiezaizone opened #1018 "request help: Service 是否可以支持多选？"
### Issue description
![image](https://user-images.githubusercontent.com/28976666/71763637-1d457300-2f19-11ea-9836-db7821708c54.png)
Service
Service 是否可以支持多选？
比如说：我在server 配置了Plugin，配置了多个server，每个server都有对应一个Plugin，多选后，选中的的server中的Plugin生效。可通过配置的server 自由组合需要生效的Plugin，在不同的路由中复用
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-01-04 10:36] sshniro commented on #965
Hi, @moonming  I've started to work on this, would appreciate some guidance, as all the external loggers (ELK, syslog) need to send the same log data I'm creating a common function to get all the information. The following is the function.

[code]

Questions.
1. Does it make sense to put this method in `core->log` file as it consolidates all logs or should this be a file inside the plugin director

[2020-01-04 13:49] membphis commented on #1017
You can implement a new plugin and overwrite a method balance `.

Here is an example:

https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/example-plugin.lua#L66

[2020-01-04 13:52] membphis commented on #1018
One route only can bind one service.

You can set different service which binds different plugin setting.

[2020-01-05 09:38] moonming commented on #1016
please refer the oauth doc: https://github.com/apache/incubator-apisix/blob/master/doc/plugins/oauth.md

[2020-01-05 09:38] #1016 closed

[2020-01-05 09:41] moonming commented on #1017
Recommend using Apache APISIX's own configuration instead of external Lua code, here is an example for ab test: https://github.com/apache/incubator-apisix/blob/master/FAQ.md#how-to-support-ab-testing-via-apisix

[2020-01-05 09:42] moonming commented on #1018
@jiezaizone
Please use English in the public channel, thx

[2020-01-05 09:42] #1018 closed

[2020-01-05 09:43] #977 closed

[2020-01-05 09:45] #1017 closed

[2020-01-05 09:52] moonming commented on #965
@membphis please have a look, you are more familiar with the logic of log than I am, thx

[2020-01-06 02:46] jiezaizone commented on #1018
ok

[2020-01-06 03:03] moonming commented on #965
1. I think put this method inside the plugin is ok
2. the log attributes are enough. the request body may be large, it can be omitted by default
3. better use `ngx.ctx.api_ctx.var`, which has a better performance then `ngx.var`

by the way, it's better to have the log buffer and send logs in batches.

[2020-01-06 04:01] #949 closed

[2020-01-06 04:34] membphis opened #1024 "feature: supports more upstream parameters in `upstream` object"
discuss in dev mail: https://lists.apache.org/thread.html/ec86410d90194d1f74adfecddd6f4693df5b8753d5adb8d8a3465cc6%40%3Cdev.apisix.apache.org%3E

|Name    |Optional|Description|
|-------         |-----|------|
|type            |required|`roundrobin` supports the weight of the load, `chash` consistency hash, pick one of them.|
|uri     |optional|The uri to be used in requests to the upstream server

[2020-01-06 06:26] jiezaizone commented on #1017
![image](https://user-images.githubusercontent.com/28976666/71799351-f6f61380-308f-11ea-990b-d6c710fc6787.png)
I have read this document and understand that the same domain name is configured with two routes and then filtered according to vars?
Then I need to get my grayscale list in redis, how should I configure it here? Is there a demo?

[2020-01-06 06:31] jiezaizone commented on #1016
![image](https://user-images.githubusercontent.com/28976666/71799609-c1055f00-3090-11ea-80ae-b4da8d2c2ebf.png)
![image](https://user-images.githubusercontent.com/28976666/71799806-383af300-3091-11ea-9092-94ec3fbbbdd5.png)

I don't know what's wrong with my configuration. The url of the introspection_endpoint, redirect_uri, and discovery configuration can be accessed directly. However, after I conf

[2020-01-06 06:48] jiezaizone opened #1025 "request help: How to publish grayscale"
### Issue description
https://github.com/apache/incubator-apisix/blob/master/FAQ_CN.md#%E5%A6%82%E4%BD%95%E9%80%9A%E8%BF%87apisix%E6%94%AF%E6%8C%81ab%E6%B5%8B%E8%AF%95
![image](https://user-images.githubusercontent.com/28976666/71800263-8f8d9300-3092-11ea-9a87-46585fcba188.png)

I have read this document and understand that the same domain name is configured with two routes and then filtered accor

[2020-01-06 06:51] moonming commented on #1016
Can you reproduce this problem with `curl`? Then I can reproduce this bug on my side.
Is there an error message in the `error.log`?

[2020-01-06 06:55] moonming commented on #1017
you need to get your grayscale list from Redis by yourself, then call admin API to update APISIX.

[2020-01-06 07:52] lilien1010 opened #1026 "bug: Jwt authentication plugin not comoatible that token without Bearer"
### Issue description

Jwt authentication plugin not comoatible that token without Bearer

### Environment

* apisix version (cmd: `apisix version`): master
* OS: Linux

### What's the actual result? (including assertion message & call stack if applicable)
 while JWT is in the Header，it usually have a `Bearer`  prefix

### What's the expected result?
`Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6...

[2020-01-06 09:43] Miss-you commented on #342
I will solve this.

[2020-01-06 14:45] membphis commented on #1025
The APISIX used `etcd` to store all of the route data.

Why do you have to use Redis?

[2020-01-07 01:51] jiezaizone commented on #1025
I could use an etcd instead, so get the grayscale list and do the logic that says filter_func, right?

[2020-01-07 02:10] membphis commented on #1025
Yes, that is a good way in APISIX .

[2020-01-07 02:34] #1026 closed

[2020-01-10 12:14] agile6v opened #1038 "feature: I want to introduce a fault-injection plugin"
Hi @moonming @membphis

I want to introduce a plugin fault-injection like envoy's [fault-filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/fault_filter).

The purpose of introducing:

In the first phase, I implement a very simple plugin which simply supports inject delay and abort requests with user-specified error codes.

What do you think of?
Thanks.

[2020-01-10 12:36] moonming commented on #1038
LGTM.
@agile6v welcome PR

[2020-01-11 03:22] #992 closed

[2020-01-12 02:03] membphis commented on #1038
Looking forward to PR ^_^

[2020-01-13 02:13] wtt20 commented on #1003
#1040

Done~

[2020-01-13 02:32] moonming commented on #1003
thx @wtt20

[2020-01-13 02:32] #1003 closed

[2020-01-13 03:15] membphis commented on #802
@Miss-you any news?

[2020-01-13 07:30] shoulda opened #1044 "feature:Does apisix can support the protocol of tars"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

### What's the expected result?

[2020-01-13 07:58] moonming commented on #1044
[Tars](https://github.com/TarsCloud/Tars)  is in the TODO list, welcome PR

[2020-01-13 14:22] #1038 closed

[2020-01-14 03:23] lilien1010 opened #1050 "request help: can we move websocket support into upstream?"
I think it's better and easy to enable websocket in upstream configration

[2020-01-14 04:48] membphis commented on #1050
agree +1

[2020-01-14 06:37] #1050 closed

[2020-01-14 07:09] moonming opened #1052 "add doc for fault injection plugin"
OK. I will submit the documentation later.

_Originally posted by @agile6v in https://github.com/apache/incubator-apisix/pull/1042#issuecomment-573669558_

[2020-01-14 07:10] moonming opened #1053 "no test case to cover the default `false` for websocket upstream"
no test case to cover the default `false`

_Originally posted by @moonming in https://github.com/apache/incubator-apisix/pull/1051_

[2020-01-15 01:31] membphis opened #1057 "bug: need to regenerate a new router object after one route expired."
https://github.com/apache/incubator-apisix/blob/master/doc/admin-api-cn.md#route

[2020-01-15 01:54] yangyitl opened #1058 "bug: apisixe start fail"
### Issue description
apisixe start fail

### Environment

* apisix version (cmd: `apisix version`):
* OS: Mac OS

### Minimal test code / Steps to reproduce the issue
1.sudo apisix start
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

lua: ./apisix:77: module 'tinyyaml' not found:
	no field package.preload['tinyyaml']
	no file '/usr/local/Cellar/apac

[2020-01-15 02:10] membphis opened #1059 "travis: run a test if the APISIX was installed by `luarocks` directly"

[2020-01-15 02:36] membphis commented on #1058
How did you install the APISIX? please provide more install details.

[2020-01-15 04:12] zhangjimmy opened #1062 "can apisix support acl"
Implements a basic ACL control that allows to whitelist and blacklist consumers to APIs using arbitrary group names. The ACL plugin could be more powerful once  has been implemented.
The documentation on the website has been updated, but it needs an ACL icon .
support jwt acl  first

[2020-01-15 09:41] #1052 closed

[2020-01-15 09:45] leehomewl opened #1064 "example-plugin.lua 404"
在  https://github.com/apache/incubator-apisix/blob/master/doc/architecture-design-cn.md中
  点击example-plugin的链接地址是404 ， 我检查了英文版的doc中没有问题，原因是中文版链接地址写错了，
请修改为：
https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/example-plugin.lua#L37

[2020-01-15 11:09] membphis commented on #1064
welcome PR to fix this

[2020-01-16 05:13] sshniro opened #1069 "Feature: UDP logger to send logs to external log management tools"

[2020-01-16 06:36] #1064 closed

[2020-01-16 08:02] cyxinda commented on #1058
When I run "/usr/bin/apisix start ",the error log is:
`/usr/local/apisix/deps/share/lua/5.1/tinyyaml.lua
/usr/local/openresty/luajit/bin/luajit: /usr/bin/apisix:78: module 'tinyyaml' not found:
	no field package.preload['tinyyaml']
	no file '/usr/local/openresty/nginx/conf/lua/tinyyaml.lua'
	no file '/usr/local/openresty/nginx/conf/deps/share/lua/5.1/tinyyaml.lua'
	no file '/usr/local/apisix/lua/t

[2020-01-16 10:45] membphis commented on #1058
How did you install the APISIX?

[2020-01-16 13:10] wangsoft opened #1072 "bug: dashboard can't add upstream"
### Issue description
add upstream error

### Environment

* apisix version (cmd: `apisix version`):1.0
* OS: centOS 7

### Minimal test code / Steps to reproduce the issue
1. add upstream
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)
no error

### What's the expected result?
add upstream ok
![企业微信截图_aba6c0cb-97c1-4294-8f3d-4daaed43d202](https://user

[2020-01-16 14:03] cyxinda commented on #1058
I downloaded apisix of the version1.0 to my local host.Then I runned `yum -y install apisix-1.0-0.el7.noarch.rpm ` ，finished the install.
And that is all.

[2020-01-16 23:55] membphis commented on #1058
@moonming please take a look

[2020-01-16 23:59] membphis commented on #1072
you need to use the latest version of APISIX.

[2020-01-16 23:59] #1072 closed

[2020-01-17 01:39] leehomewl opened #1073 "request help: allocation upstream and service"
### Issue description
1 api管理中只有 route的， 我没有找到 api 管理中有可以直接 添加upstream 和 service的 。
   有办法可以直接通过api 只添加upstream 和service 配置的接口吗？（目前使用是可以用管理界面进行配置）

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-01-17 02:18] membphis commented on #1073
Please take a look at this doc:

https://github.com/apache/incubator-apisix/blob/master/doc/admin-api-cn.md#route

![image](https://user-images.githubusercontent.com/6814606/72578991-b5c4f580-3912-11ea-98c8-0c8c9902a980.png)

[2020-01-17 02:18] #1073 closed

[2020-01-17 02:51] foxhk opened #1074 "bug: module apisix.balancer not found"
### Issue description
2020/01/17 10:11:04 [error] 23442#23442: init_worker_by_lua error: /root/apache-apisix-1.0-incubating/lua/apisix.lua:74:
 module 'apisix.balancer' not found:

### Environment

* apisix version (cmd: `apisix version`): apache-apisix-1.0-incubating
* OS: CentOS Linux release 7.7.1908 (Core)
* openresty version: nginx version: openresty/1.15.8.2

### Minimal test code / Steps to

[2020-01-17 03:13] membphis commented on #1074
The problem is that you put Apache APISIX in the user root directory `/ root /`. After the APISIX Worker process starts, the default user is `nobody`, which does not have permission to read the `/root/` directory. So it will cause fail to load some modules.

Welcome to submit this question to the FAQ, this question is more common.

[2020-01-17 05:56] sshniro opened #1076 "Queue implementation to process events in batches."
All the external loggers (tcp/http) need a common Queue implementation to send the aggregated logs in a batch.

[code]

[2020-01-17 06:51] foxhk commented on #1074
Thx, that's right way.

[2020-01-17 06:51] #1074 closed

[2020-01-17 07:03] foxhk commented on #1074
Solving steps:
[code]

[2020-01-17 07:11] yangyitl commented on #1058
![image](https://user-images.githubusercontent.com/14830899/72591562-6941e000-393b-11ea-8734-3d4f8acb6490.png)
I installed from source  AND make init success

[2020-01-17 08:03] membphis commented on #1058
@yangyitl That is a bug for version 1.0 . We'll release a new version later.

And I advise you to fetch branch v1.0 which has fixed this bug.

`git clone -b v1.0 https://github.com/apache/incubator-apisix.git`

[2020-01-17 08:08] membphis commented on #1058
@cyxinda if you installed by yum, you can start or stop APISIX by command like this:

![image](https://user-images.githubusercontent.com/6814606/72594904-95615f00-3943-11ea-94ab-643380cd4539.png)

[2020-01-17 08:30] membphis commented on #1074
great

[2020-01-17 12:20] cyxinda commented on #1058
@membphis OK,thank you .

[2020-01-17 15:32] #1069 closed

[2020-01-17 15:32] moonming commented on #1069
fixed by https://github.com/apache/incubator-apisix/pull/1070

[2020-01-18 07:47] valpa opened #1079 "bug: Attempt to get JWT token fail"
### Issue description
Attempt to get JWT token fail when run command
curl -i -X GET http://localhost:9080/apisix/plugin/jwt/sign?key=1212121212
if there is only one consumer

### Environment
* apisix version (cmd: `apisix version`): 1.0
* OS: docker version from https://github.com/apache/incubator-apisix-docker.git

### Minimal test code / Steps to reproduce the issue
Ensure there is no consumer c

[2020-01-18 14:00] membphis commented on #1079
which APISIX version you are using? it works fine for commit https://github.com/apache/incubator-apisix/commit/5736a0327220ca1bbbb7fadc9a18cff33dfb7cbe.

![image](https://user-images.githubusercontent.com/6814606/72664866-be661a80-3a3d-11ea-98bf-22fc93ff5036.png)

[2020-01-19 08:30] valpa commented on #1079
I was using docker version from https://github.com/apache/incubator-apisix-docker.git

Rebuild today so I believe APISIX is the last update in master branch.

Just tested again, still fail

[code]

[2020-01-20 02:35] membphis commented on #1079
please provide the related error log.

I cannot reproduce this problem. If you can provide a reproduction environment, please contact me.

[2020-01-21 08:27] juzhiyuan opened #1088 "request help: restart command reset configuration"
### Issue description

`./bin/apisix restart` command will reset custom configuration as @Simon Chi said.

![image](https://user-images.githubusercontent.com/2106987/72787410-d373c100-3c6a-11ea-8b38-e56eba8669fc.png)

### Environment

* apisix version (cmd: `apisix version`): Unknown
* OS: Unknown

[2020-01-21 10:07] moonming commented on #1088
https://github.com/apache/incubator-apisix/blob/master/bin/apisix#L79
`nginx.conf` is read only. If you want to change config of nginx, please modify the `bin/apisix`.

[2020-01-21 10:08] moonming commented on #1088
`apisix restart` will regenerates the configuration file `nginx.conf`

[2020-01-21 10:23] juzhiyuan commented on #1088
Thanks for your reply :)

[2020-01-21 10:23] #1088 closed

[2020-01-22 08:19] #1059 closed

[2020-01-24 15:13] spacewander opened #1091 "bug: the test command under Linux is incorrect with perl 5.26"
Type `make test` under Linux got `Can't locate t/APISIX.pm in @INC`.

The code in Makefile:
[code]

It seems that the difference the behavior is caused by the version of perl instead of the platform. The perl I used is `v5.26.1`.

Maybe we can always add `-I.` in the command regardless of the platform or the version of perl? Adding extra path isn't harmful.

[2020-01-28 04:12] moonming opened #1094 "add `reindex` to contribution guidelines"
you can add `reindex` to contribution guidelines

_Originally posted by @moonming in https://github.com/apache/incubator-apisix/pull/1081#issuecomment-576493018_

[2020-01-28 14:53] lilien1010 commented on #1053
already has test case in  t/node/upstream-websocket.t
TEST 6: disable websocket(id: 6)

[2020-01-28 15:06] moonming commented on #1053
@lilien1010 I means no `"enable_websocket"` instead of `enable_websocket = false`.

[2020-02-01 03:51] membphis commented on #1091
welcome PR ^_^

[2020-02-01 11:56] #1091 closed

[2020-02-01 12:57] renyineng opened #1100 "bug: 【CORS Problem】Browser auto sends OPTIONS request, cannot match header, CURL request is fine"
### Issue description
我写了一个CORS插件，但是测试发现当路定义 header时，浏览器发起的OPTIONS预检请求 无法匹配到路由，直接返回了404，没有走到插件的header阶段，因为浏览器发起的OPTIONS请求没有携带请求数据，所以路由无法匹配成功

CURL 是没问题的，因为CURL是真正的发送的OPTIONS请求，会携带请求数据

### Environment
* apisix version  v1.0
* OS: centos7

[CORS plugins PR](https://github.com/apache/incubator-apisix/pull/1096/commits/231edce8451f2274c69034002dfab113c7cea65c)

### Minimal test code / Steps to reprod

[2020-02-01 13:04] membphis commented on #1100
I made a test right now, it works fine. please take a look:

[code]

[2020-02-01 13:20] renyineng commented on #1100
The OPTIONS that the browser sends automatically across domains does not pass the header, so it does n’t work in the browser, CURL is OK

[2020-02-01 13:30] renyineng commented on #1100
The options request automatically sent by the browser does not carry parameters, so it does not match.
https://medium.com/@hjyker/%E9%A2%84%E6%A3%80%E8%AF%B7%E6%B1%82-options-dff67adfeb66

[2020-02-02 01:13] #1094 closed

[2020-02-02 05:15] spacewander opened #1101 "request help: is the worker_rlimit_core too small?"
https://github.com/apache/incubator-apisix/blob/master/bin/apisix#L98
Currently we configure the `worker_rlimit_core` to 500MiB, which may be big enough for normal situation, but might truncate the core file in some cases. The size of the core file is equal to the memory used by LuaJIT + Nginx + shared memory among workers, which could be larger than 500MiB.

IMHO, it'd be better to limit the core

[2020-02-02 15:47] jungeFight opened #1103 "Is there a dashboard of grafana with the monitoring data of Prometheus"
### Is there a dashboard of grafana with the monitoring data of Prometheus, as shown in the following figure, which I see in this link

[https://github.com/apache/incubator-apisix/blob/master/doc/plugins/prometheus-cn.md](url)

[https://github.com/apache/incubator-apisix/raw/master/doc/images/plugin/grafana_1.png](url)

[2020-02-03 02:31] membphis commented on #1101
PR welcome, good catch

[2020-02-03 02:46] SpectorQian opened #1104 "issue: 无法正常路由分发upd"
### Issue description
config.yaml的配置
![image](https://user-images.githubusercontent.com/733560/73621435-09547480-4671-11ea-809b-1262da043d0f.png)
**通过apisix对外暴露9200进行路由转发，但是路由不成功**

### route配置

9201和9202是我本地开启的upd服务
curl http://127.0.0.1:9080/apisix/admin/stream_routes/2 -X PUT -d '
{
    "remote_addr": "127.0.0.1",
    "server_port": 9200,
    "upstream": {
        "nodes": {
            "127.0.

[2020-02-03 07:28] moonming commented on #1103
@membphis can you share the script of grafana?

[2020-02-03 13:32] membphis commented on #1103
I will put it to `grafana` official website later.

[2020-02-03 13:42] membphis commented on #1104
it maybe a bug: https://github.com/apache/incubator-apisix/blob/master/lua/apisix/stream/router/ip_port.lua#L43

* route.value.server_port: number
* vars.server_port: string

you can print more log to confirm this. PR welcome

[2020-02-03 14:06] agile6v commented on #973
@chnliyong
Hi, will you continue to follow up on this issue?

[2020-02-04 03:02] #1101 closed

[2020-02-04 13:21] dabue commented on #487
Organization:  Travelsky.com
Location: Beijing, China
Contact: dabue@163.com
Scenario:
组织：中国航信
地址：中国 北京
联系方式：dabue@163.com
使用场景：Microservice Gateway

[2020-02-04 15:27] agile6v opened #1106 "request help: The configuration of the config.yaml file is a bit confusing."
Hi,

I want to add proxy_protocol flag in this file for http block and stream block seperately. But I'm not sure where to put it.

Flags look like below:
enable_http_proxy_protocol (for receive from client)
enable_tcp_proxy_protocol (for receive from client)
enable_tcp_proxy_protocol_to_upstream (for sending proxy_protocol to upstream)

Do you have any good suggestions?

Thanks.

@membphis @moonmi

[2020-02-04 16:11] agile6v commented on #1106
According to the current classification,  `real_ip_header` and `real_ip_from` should be placed in `nginx_config.http`.

I would prefer to use the following way.
[code]

[2020-02-05 07:57] membphis commented on #1106
this way is better ^_^

[2020-02-05 09:08] moonming commented on #1106
I don't think so. `nginx_config` is a hacky way, Apache APISIX should hide these Nginx configurations finally.

[2020-02-05 11:54] wtt20 opened #1107 "bug: there is a typo in the test section of the jwt-auth plugin doc."
### Issue description
https://github.com/apache/incubator-apisix/blob/master/doc/plugins/jwt-auth.md#test-plugin

“curl http://127.0.0.2...  ” should be “curl http://127.0.0.1... ”，this typo occurred on both English doc and Chinese doc.

### Environment

* apisix version (cmd: `apisix version`): latest
* OS:

### What's the actual result? (including assertion message & call stack if applicable)
Mi

[2020-02-05 13:06] membphis commented on #1107
PR welcome ^_^

[2020-02-06 07:50] moonming commented on #487
@dabue would you send a PR to add your company into the [powered-by page](https://github.com/iresty/apisix/blob/master/doc/powered-by.md)? thx

[2020-02-06 08:07] sshniro commented on #487
Project: [eFactory](https://www.efactory-project.eu/)
Org/Location: European Union
Contact: nirojan.selvanathan@salzburgresearch.at
Scenario: API Security Gateway

[2020-02-08 02:18] JanLi-air opened #1111 "request help: apisix.plugins.limit-count.limit-count-redis performance downgraded for continuous pressure"
### Issue description
Performance downgraded dramatically when pressure limit-count-redis continuously.

The qps is 6000+ and 90% latency is 30+ for 10000 requests.
![image](https://user-images.githubusercontent.com/55779084/74077431-b147b480-4a5a-11ea-99f9-e3283d5eb2d6.png)

But it downgraded to 500+ and 400+ for 100000 requests.
![image](https://user-images.githubusercontent.com/55779084/7407745

[2020-02-09 09:19] #342 closed

[2020-02-09 12:56] moonming commented on #1111
@membphis please have a look.

[2020-02-09 14:34] membphis commented on #1111
@JanLi-air please make a try with this PR: https://github.com/apache/incubator-apisix/pull/1110

[2020-02-10 14:00] membphis opened #1117 "CLI: set default value when render `nginx.conf`"
maybe we can use https://github.com/iresty/jsonschema

[2020-02-11 03:46] moonming commented on #1117
Can you show a example? not get your point.

[2020-02-11 04:57] #1103 closed

[2020-02-11 05:19] membphis commented on #1117
The `conf/config.yaml` is a user configuration file. When the APISIX version is upgraded, the users would like to reuse the old `config.yaml` file.  At this time, some new configuration items should use the default
 values.

We can use `jsonschema` to complete the valid check of parameter values and set the correct default values, without having to deal with a configuration item individually in th

[2020-02-11 06:00] moonming commented on #1103
@jungeFight added the doc for grafana, please check https://github.com/apache/incubator-apisix/commit/187d65764c9fb2c0895e30f328c2fe0e6a4f4479

[2020-02-11 11:22] leehomewl opened #1120 "set variable inoperative!!"
Hi:
    我开发一个插件， 我在 bin/apisix 中加入初始化变量，我发现一个奇怪的问题：
如果 我设置这个变量为为空的时候
   location / {
           ......
            set $skip '';
            ......
   }
 我可以在插件 /lua/apisix/plugins目录下通过下面的rewrite阶段去修改这个变量， 并且后面的服务可以用到修改后的值。 是正常的

function _M.rewrite(conf, ctx)
    ngx_var.skip = 0
end

但如果我改成下面的情况， 初始化这个值得时候设置为1 ，此时，我的插件就不其作用了，修改后的值似乎没有生效， 我测试了很多遍， 一直无法解决。  能帮忙确认下是什么原因吗？

   location / {

[2020-02-11 15:50] leehomewl commented on #1120
我打算加入  srcache-nginx-module的模块进来， 我在openresty 上 用rewrite_by_lua 就非常正常。
但是我在 apisix 上使用的 插件的plugins 的rewrite 就无法成功， 每次赋值都好像执行阶段顺序没有对， 有遇到这种类似的情况的吼一下，谢谢

 location /test_foo {
     set $key $uri$args;
     srcache_fetch GET /memc $key;
     srcache_store PUT /memc $key;
     srcache_store_statuses 200 301 302;

    set $fetch_skip '1';
    set $store_skip '1';

    rewrite_by_lua '
         ngx.var.

[2020-02-12 00:43] membphis commented on #1120
The apisix run both ".access" and ".rewrite" in the "access" phase.

https://github.com/apache/incubator-apisix/blob/master/bin/apisix#L334-L336

[2020-02-12 01:31] leehomewl commented on #1120
好的，明白了，   我的修改是 set_by_lua  和 rewrite_by_lua 2个执行阶段的，所以在access就无效了。
谢谢哈。

[2020-02-12 02:53] #1106 closed

[2020-02-12 03:29] #1120 closed

[2020-02-12 14:36] agile6v commented on #973
This issue has been fixed by #1113 .

[2020-02-13 04:23] #973 closed

[2020-02-13 07:42] JohannT9527 opened #1122 "can not open 9100 port when enable mqtt-proxy plugin"
after enable stream_proxy，the 9100 port was not open
![image](https://user-images.githubusercontent.com/61002378/74411730-f3b42b80-4e76-11ea-94cd-d4023d396d3a.png)
what should I do?

[2020-02-13 08:05] qiujiayu opened #1123 "feature: Does apisix support distinguish configuration of different environments by environment variables ?"

[2020-02-13 09:15] membphis commented on #1122
We need to restart the apisix server after modifying `conf/config.yaml` to regenerate a new nginx conf.

[2020-02-13 13:59] qiujiayu commented on #487
Organization: vbill.cn
Location: Beijing, China
Contact: qiu_jy@suixingpay.com
Scenario: API Gateway

[2020-02-13 14:18] JohannT9527 commented on #1122
我是使用docker安装的APISIX，修改了容器内的conf/config.yaml，然后尝试过直接重启容器，和容器内调用apisix的init方法和reload方法，结果仍然没能打开容器的9100端口。

[2020-02-14 01:07] JohannT9527 commented on #1122
我是使用docker安装的APISIX，修改了容器内的conf/config.yaml，然后尝试过直接重启容器，和容器内调用apisix的init方法和reload方法，结果仍然没能打开容器的9100端口。

[2020-02-14 01:24] membphis commented on #1122
@moonming please take a look at this issue

[2020-02-14 02:13] JohannT9527 commented on #1122
我试过修改9080端口，在重启容器后修改是生效的，说明conf/config.yaml是可以正常加载的，但是stream_proxy下的配置好像一直无法生效。

[2020-02-14 03:01] membphis commented on #1122
I made a try right now, it works fine with master branch.

please confirm you exported the  port when you are using docker.

[2020-02-14 03:04] membphis commented on #1122
If you still have a problem, please provide more information.

Your apisix version, `config.yaml` file and the operation steps.

[2020-02-14 04:29] JohannT9527 commented on #1122
apisix version：0.8
![image](https://user-images.githubusercontent.com/61002378/74501364-e0f83000-4f24-11ea-8eda-e44f16778b8f.png)

config.yaml如图：
![image](https://user-images.githubusercontent.com/61002378/74499781-cbccd280-4f1f-11ea-86a7-70f03d50c513.png)
![image](https://user-images.githubusercontent.com/61002378/74499817-e56e1a00-4f1f-11ea-8fed-ea52b5cb3050.png)
![image](https://user-images.git

[2020-02-14 09:39] moonming opened #1125 "feature: parse b3 single header for zipkin plugin"
implement https://github.com/openzipkin/b3-propagation/issues/21

[2020-02-15 01:05] moonming commented on #1123
Can you give an example? I am not get your point.

[2020-02-15 07:52] qiujiayu commented on #1123
Use different file names to manage the configuration of different environments. The purpose is to avoid frequent modification of the same document. like this:

[code]

[2020-02-15 07:56] moonming commented on #1123
Apache APISIX not supports this feature yet. Welcome PR

[2020-02-16 15:17] agile6v opened #1127 "Feature: introduce proxy caching plugin"
Hi，

I want to introduce a proxy caching plugin, but there are several choices.

1. Based on Nginx's built-in proxy cache in ngx_http_proxy_module, it store data on disk.
2. Based on lua_shared_dict in ngx-lua-module, it store data on memory.
3. Based on external storage such as redis and other redis-like storage system.

Each option has its own scenario, but i think option 1 supports more functio

[2020-02-17 00:11] membphis commented on #1127
The `ngx_http_proxy_module` depends on the Nginx configuration file. We need to modify the Nginx core to use it dynamically. This is not an easy task.

This is the simplest,

[2020-02-17 01:19] moonming commented on #1127
I perfer the option 1, which is more stable and easier to learn.
and one more thing, @agile6v you can send a [DISCUSS] email to mailinglist such like architecture selection topic.

[2020-02-17 01:21] moonming opened #1128 "feature: support LDAP auth plugin"

[2020-02-17 13:59] juzhiyuan opened #1132 "add apisix version when API responses"
### Issue description
We could add the apisix version when API responses, so that the API caller could have a proper action.

[2020-02-18 11:07] AbelZhou opened #1138 "bug: 获取JWT token网页500错误"
### Issue description
[code]
[code]

### Environment

* apisix version (cmd: `apisix version`): v1.0
* OS: MacOS

### Minimal test code / Steps to reproduce the issue
1.在dashboard中添加consumer ” algorithm:HS256  secret:satopvemVcXFn6e3LCC2sa3JytMHcNi7  key:zhangsan exp：888888888“
2.给service添加空白JWT插件
3.获取token

### What's the actual result? (including assertion message & call stack if applicable)

##

[2020-02-18 11:38] AbelZhou commented on #1138
当我想调试一下的时候，我关闭了lua_code_cache，然后发现很多接口都不通了，还原代码缓存然后重启后这个issue问题不复现了。诡异。。

[2020-02-18 11:43] AbelZhou commented on #1138
重新在dashboard添加一个新的consumer后，又复现了。

[2020-02-20 03:13] xzy1586 commented on #487
组织：湖南国科云通
地址：湖南长沙
联系方式：xiazhiye@sinog2c.com
使用场景：流量网关

[2020-02-20 06:31] AbelZhou commented on #1138
已解决

[2020-02-20 06:31] #1138 closed

[2020-02-20 12:06] agile6v commented on #1132
Could you provide specific cases? Thanks.

[2020-02-21 06:23] Iflengmo opened #1144 "request help: fail to proxy grpc request"
### Issue description
apisix代理grpc服务
准备了apisix给的grpc示例服务，设置好路由

[code]

自己openssl做了pem格式的cert和key，添加了证书，sni这个参数这里如何设置？
自定义设置了foo.com

grpcurl -insecure -import-path ./proto  -proto helloworld.proto  \
    -d '{"name":"apisix"}' 127.0.0.1:9443 helloworld.Greeter.SayHello

按照文档上说的来访问，结果是

ERROR:
  Code: Internal
  Message: transport: received the unexpected content-type "text/html"
将127.0.0.1改为了foo.

[2020-02-21 06:51] membphis commented on #1144
@nic-chen do you know the reason about this issue ?

[2020-02-21 07:56] sshniro opened #1146 "Feature: Open API specification for Admin API"
### Issue description
Is there an Open API (Swagger) specification to admin API? If so it can be easily used to define and maintain APIs, generate [API docs](https://github.com/slatedocs/slate) and import in API testing tools like the postman.

[2020-02-21 11:09] membphis commented on #1146
We do not have it now. Any good suggestions?

[2020-02-21 12:24] sshniro commented on #1146
Okay, shall I start creating an Open API for Admin API? After the YAML file is generated, we can use:
1. [Redoc](https://github.com/Redocly/redoc) This is interactive, we can connect the demo sandbox API SIX environment for this.
2. [Slate](https://github.com/slatedocs/slate)

Both can be used to show example invocations and autogenerate code for multiple languages.

[2020-02-21 13:01] membphis commented on #1146
I'm not very good at this, we can listen to other people's opinions.

Their licenses are friendly, it's very nice.

[2020-02-22 11:59] #912 closed

[2020-02-23 07:38] shunsheng-github opened #1152 "request help: fail to mqtt-proxy request"
### Issue description
按照示例设置路由，已设置TCP 9100端口：

[code]

mqtt测试工具访问:tcp://xx.xx.xx.xx:9100，连接不上，查看日志：
2020/02/23 14:33:05 [error] 30513#30513: *4327463 lua entry thread aborted: runtime error: /usr/local/apisix/lua/apisix/stream/router/ip_port.lua:31: attempt to index local 'route' (a boolean value)
stack traceback:
coroutine 0:
	/usr/local/apisix/lua/apisix/stream/router/ip_port.lua: in function 'm

[2020-02-23 07:49] membphis commented on #1152
Can you provide the original TCP request packet? We can get it through tcpdump.

[2020-02-23 10:50] shunsheng-github commented on #1152
[root@slnewmestodidi ~]# tcpdump -iany tcp port 9100
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on any, link-type LINUX_SLL (Linux cooked), capture size 262144 bytes
18:37:46.905664 IP 192.168.221.180.62468 > slnewmestodidi.jetdirect: Flags [S], seq 2199870113, win 64240, options [mss 1380,nop,wscale 8,nop,nop,sackOK], length 0
18:37:46.905689 IP slnewmest

[2020-02-24 00:24] membphis commented on #1152
@shunsheng-github `tcpdump  port 50051 -w b.pcap`

I need to confirm the raw TCP data.

[2020-02-24 02:54] #971 closed

[2020-02-24 03:59] moonming commented on #1146
I tried both, I prefer the Reddoc. @sshniro What do you think?

[2020-02-24 06:44] shunsheng-github commented on #1152
抓到文件了，分析一下吧。

[2020-02-24 06:48] shunsheng-github commented on #1152
抓包文件了
[b.zip](https://github.com/apache/incubator-apisix/files/4243358/b.zip)

[2020-02-24 11:32] membphis commented on #1152
I used your raw TCP data, it works fine. Here is the test case.

I think Apache APISIX can support your MQTT data, and it has forward your data to upstream. please confirm your upstream status is fine.

[code]

[2020-02-24 11:32] #1104 closed

[2020-02-25 01:39] #1058 closed

[2020-02-25 03:17] tokers opened #1159 "Proposal: multiple certificates deployment for a single domain"
## Background

As is known to all, ECC (Elliptic Curve Cryptography)  certificate has several advantages than RSA certificate, like smaller key size. The speed of SSL handshake on the server side will be better if we can use the ECC certificate.

Nevertheless, some browsers may not recognize the ECC certificate, so if someone migrated his/her certificate from RSA to ECC, compatibility broken might

[2020-02-25 06:52] moonming commented on #1159
sounds great. We need also update `ssl_ciphers` in nginx.conf too.

@tokers welcome PR:)

[2020-02-25 08:41] totemofwolf opened #1161 "request help: How to deal with `user specific key` from post body as a ratelimit or limit-count key"
### Issue description

I used to use this to deal with ratelimit case (for example: ratelimit for sms verifycode):

`mobile` is users' mobile phone no from http post body. But for other people maybe use `mobile_phone` instead or key like `cookie` from request header.

So how can we avoid hard coding this `key` in the lua code?

[code]

### Environment

* apisix version (cmd: `apisix version`): 1.0

[2020-02-25 09:15] totemofwolf commented on #1132
We alway choose hide those `sensitive headers` by hand. I think we can provide such capabilities but turn it off by default. ;-)

[2020-02-25 11:20] wanzhenhan opened #1162 "question: How it judge that the dependience is exist or not?"
### Issue description
When I install apisix offline on the step "make deps", it report
"luarocks install rockspec/apisix-master-0.rockspec --tree=deps --only-deps --local
Missing dependencies for apisix master-0:
   lua-resty-template 1.9 (not installed)
   lua-resty-etcd 0.8 (not installed)
   lua-resty-balancer 0.02rc5 (not installed)
   lua-resty-ngxvar 0.5 (not installed)
   lua-resty-jit-uuid

[2020-02-25 11:37] tyhtgh commented on #804
eureka +1

[2020-02-25 11:44] membphis commented on #1162
luarocks list --tree=deps --local

[2020-02-25 11:44] membphis commented on #1162
@wanzhenhan please use a meaningful title

[2020-02-25 13:37] totemofwolf commented on #804
maybe `Nacos`(powered by Alibaba) is better. ;-)

http://console.nacos.io/nacos/index.html#/login

[2020-02-25 14:48] shunsheng-github commented on #1152
原始mqtt服务器连接：
![image](https://user-images.githubusercontent.com/61373502/75256877-1d7a3480-581f-11ea-900e-b9092af765ef.png)
apisix服务器路由配置：
curl http://10.97.1.84:9180/apisix/admin/stream_routes/103 -X PUT -d '
{
    "remote_addr": "127.0.0.1",
    "plugins": {
        "mqtt-proxy": {
            "protocol_name": "MQTT",
            "protocol_level": 4,
            "upstream": {
                "ip

[2020-02-26 01:22] moonming commented on #1161
please refer to https://lists.apache.org/thread.html/r9175ca0aacbbf81e7296f25243d3fde0e9b0c8ece590b5c5f33d90c2%40%3Cdev.apisix.apache.org%3E

[2020-02-26 01:22] #1161 closed

[2020-02-26 05:23] membphis commented on #804
Nacos can be used as a configuration center or as service discovery.

[2020-02-26 05:27] membphis commented on #1152
@shunsheng-github

[code]

The `remote_addr` means the IP address of request client.
I found that you are sending the request from your Windows local computer.
So the `remote_addr` should be the IP address of your local machine.

[2020-02-26 05:50] qiujiayu opened #1164 "feature: auto import nameservers into APISIX from system resolv file."
when APISIX start by "./bin/apisix start", we can read system resolv file (/etc/resolv.conf) and get all  nameservers into "dns_resolver"。

[2020-02-26 06:06] membphis commented on #1164
This method sounds good.

[2020-02-26 06:06] membphis commented on #1164
PR welcome ^_^

[2020-02-26 06:50] shunsheng-github commented on #1152
curl http://10.97.1.38:9180/apisix/admin/stream_routes/105 -X PUT -d '
{
    "plugins": {
        "mqtt-proxy": {
            "protocol_name": "MQTT",
            "protocol_level": 4,
            "upstream": {
                "ip": "192.168.209.243",
                "port": 1883
            }
        }
    }
}'
配置以上，日志显示：
2020/02/26 14:33:57 [warn] 2610#2610: *24510069 stream [lua] mqtt-proxy.lua:

[2020-02-26 07:47] sshniro commented on #1146
@moonming yea I agree, as Admin API has comparatively less APIs Redoc will be good. Slate will be ideal if there are a lot of high-level documents to be written (API Orchestration examples).

[2020-02-26 07:52] membphis commented on #1152
因为 mqtt-proxy 是四层负载均衡插件，对于路由的匹配只能使用客户端、服务端的 IP 地址 和 Port 端口。这里的 remote_addr 代表的就是客户端来源 IP 。

Because `mqtt-proxy` is a Layer 4 load balancing plug-in, we can only use the client, server IP address and port for route matching.

The `remote_addr` means the client source IP.

[2020-02-26 08:01] membphis opened #1165 "feature: support `backup` feature for roundrobin load balancing."
http://nginx.org/en/docs/http/ngx_http_upstream_module.html#example

This feature is useful when all upstream nodes are unhealthy.

[2020-02-26 13:14] nic-chen commented on #1144
抱歉，我这边没能够重现这个问题。

Travis每次都会跑这个基础用例，应该不至于有问题：https://github.com/apache/incubator-apisix/blob/master/t/grpc-proxy-test.sh

你可以把Apache APISIX的log贴上来，看看gRPC服务有没有输出什么内容。

Sorry, I can't reproduce this issue.

Travis runs this test case every time, and it should not be a problem: https: //github.com/apache/incubator-apisix/blob/master/t/grpc-proxy-test.sh

You can upload the Apache APISIX log and see i

[2020-02-27 09:23] membphis opened #1168 "change: disables logging of errors about not found files into error_log for admin api."
When the user opens an independent service port for the dashboard, the dashboard may access some non-existing files (such as ICO). These not found logs are meaningless.

We can disable these error logs by default.

we can add the directive here:
https://github.com/apache/incubator-apisix/blob/master/bin/apisix#L248

[code]

here is the directive about `log_not_found`:
http://nginx.org/en/docs/http

[2020-02-27 11:08] dabue commented on #1168
It's an interesting feature, I want to do this job.

[2020-02-28 00:45] membphis opened #1170 "doc: add English doc `doc/profile-cn.md`"
there is the Chinese doc, need an English doc.

https://github.com/apache/incubator-apisix/pull/1147/files#diff-7142d50dcd279d8e6d2ea2cb50f83a41

[2020-02-28 00:46] #1123 closed

[2020-02-28 01:16] membphis opened #1171 "doc: add `limit-count` authentication document when using redis."
Here is the source code:

https://github.com/apache/incubator-apisix/blob/5b1a47a38ec6d76d62132e02448bc1e122d16b90/lua/apisix/plugins/limit-count.lua#L48

Missing the English doc and Chiese doc.

Here the is old doc link:
https://github.com/apache/incubator-apisix/blob/5b1a47a38ec6d76d62132e02448bc1e122d16b90/doc/plugins/limit-count.md#attributes

[2020-02-28 03:26] hoffer32 opened #1173 "bug: docker build failed with dashboard not found"
### Issue description

docker build -t apisix:0.8-alpine --build-arg APISIX_VERSION=0.8 -f alpine/Dockerfile alpine

[code]

[2020-02-28 06:19] membphis commented on #1173
@moonming Do you have time to look at this?

[2020-02-28 16:33] #1107 closed

[2020-02-29 14:09] jiezaizone opened #1178 "request help: Can http2 be supported?"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-03-01 02:20] membphis commented on #1178
https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L62

Apache APISIX already supports this feature.

[2020-03-01 02:20] #1178 closed

[2020-03-02 01:43] #1171 closed

[2020-03-02 08:04] #1164 closed

[2020-03-02 08:06] membphis opened #1180 "bad code style"
https://github.com/apache/incubator-apisix/pull/1167/files#diff-62edadffc237f13dc28a694080d293a8R543

we need a better style, here is an example:

[code]

[2020-03-02 11:52] Akayeshmantha commented on #1180
Hi, @membphis  I would like to work on this issue. Is it only the function that you pointed or the whole file we have to refactor?

[2020-03-02 12:33] membphis commented on #1180
Fix this function first.

If you can find more other similar points, welcome to fix them together.

I have assigned this issue to you. ^_^

[2020-03-02 14:45] sshniro opened #1181 "bug: coroutine.wrap:20: API disabled in the context of log_by_lua error in Batch Processor"
Hi,

When using the [batch processor](https://github.com/apache/incubator-apisix/blob/e1ac426443293c6140ddb257e482537edd43c36a/lua/apisix/plugins/batch-processor.lua#L110) inside the _M.log phase the system throws the following error.

This happens when I use core.schema.check(schema, config) inside the batch processor.
If I use a simple validation (if/else) then the workflow is working without an

[2020-03-02 15:37] Akayeshmantha commented on #1180
@membphis  quick question am new to lua is there a starting guide for developers to set up dev environment. I wanted to test the modified function.

[2020-03-02 18:11] sshniro commented on #1181
@membphis I guess APISIX is not allowing to access the JSON schema validator during log phase. Is this due to any performance gain? or shall I use normal validation instead of using the jsonschema?

[2020-03-03 01:01] membphis commented on #1181
In jsonschema, the compiled Lua code is generated by using yield, but the yield operation is not supported in log_phase.

I suggest modifying the https://github.com/iresty/jsonschema implementation to avoid using the yield method.

https://github.com/iresty/jsonschema/blob/ddd76d719cb102a0db2c44fe207745a9c3e53452/lib/jsonschema.lua#L141

[2020-03-03 02:40] membphis opened #1183 "doc: remove some useless tip"
Now all apisix routes are implemented by radixtree, so it is no longer necessary to notice this, it may even cause confusion.

![image](https://user-images.githubusercontent.com/6814606/75737577-0fef0e00-5d3b-11ea-9d08-e0ea75cd337d.png)

[2020-03-03 04:41] membphis opened #1184 "bug: failed to call `apisix init` after apisix was installed by luarocks"
### Issue description

https://travis-ci.org/apache/incubator-apisix/jobs/657178537#L1420

### Environment

* apisix version (cmd: `apisix version`):  https://github.com/apache/incubator-apisix/commit/e1ac426443293c6140ddb257e482537edd43c36a
* OS: ubuntu

### Minimal test code / Steps to reproduce the issue
https://github.com/apache/incubator-apisix/blob/master/.travis/linux_apisix_luarocks_runner

[2020-03-03 05:19] wwd5613 commented on #1183
I would like to do this job

[2020-03-03 08:35] sshniro opened #1186 "request help: How to test the log_utils?"
The log utils class uses the `ngx` as a parameter when a route is invoked by a request. How can I write test cases for this scenario? How to mock the ngx variable?

![image](https://user-images.githubusercontent.com/13045528/75757502-c3073980-5d32-11ea-8eb0-4eb1ceb5d916.png)

[2020-03-03 09:06] sshniro opened #1188 "feature: Support for OAuth User Managed Access Protocol(UMA) for Authorization"
### Issue description
Does APISIX support UMA protocol to allows access to resources/upstreams? I would like to use the UMA protocol for authorization with the RedHat Keycloack Identity server.

![image](https://user-images.githubusercontent.com/13045528/75759895-981ee480-5d36-11ea-88f9-50c0582c289b.png)

[2020-03-03 09:16] #1183 closed

[2020-03-03 09:16] sshniro opened #1189 "request help: How to implement thread sleep in Nginx Test"
### Issue description
I would like to extensively test the batch processor as the functionality is strongly coupled with timer functionalities. Is there an efficient way to write a sleep function inside the test cases instead of writing a while loop? I could not find any useful pointers in nginx test repo.

[2020-03-03 09:34] #1180 closed

[2020-03-03 09:35] sshniro opened #1190 "request help: How to pronounce the project name?"
Hi, this might be a very silly question but when I came across the project initially I was wondering how to pronounce the project?

Is it simple as API SIX or something like apisix, similar to how we pronounce API in [apigee](https://forvo.com/word/apigee/)

[2020-03-03 09:44] membphis commented on #1186
You can take a look at this test case:

https://github.com/apache/incubator-apisix/blob/master/t/core/log.t#L31

If you want to add some mock function, you can do like this:

https://github.com/apache/incubator-apisix/blob/0ee3c4be0e4616dcf10e8c0f6a68a74795879fea/lua/apisix/plugins/prometheus.lua#L59

[2020-03-03 09:50] membphis commented on #1190
"6" is a lucky number in China, so we would like to call it `API SIX`. ^_^

[2020-03-03 09:50] #1190 closed

[2020-03-03 10:15] membphis commented on #1189
can you prove us a mini case? I can not sure I got your point completely.

[2020-03-03 12:49] Akayeshmantha commented on #1170
@membphis  I would like to work on this task

[2020-03-03 12:53] Akayeshmantha commented on #1168
@membphis  is this task in progress ?

[2020-03-03 13:25] membphis commented on #1170
@Akayeshmantha thanks you, waiting for your PR

[2020-03-03 13:27] membphis commented on #1168
No progress at this time, if you are interested, welcome to contribute PR

[2020-03-03 13:30] membphis commented on #1168
@dabue Have you made any progress?

[2020-03-03 13:47] Akayeshmantha commented on #1170
@membphis  added the PR.

[2020-03-03 14:18] Akayeshmantha commented on #1184
isn't it obvious since luarocks not getting installed from the script?
https://github.com/apache/incubator-apisix/blob/master/.travis/linux_apisix_luarocks_runner.sh

[2020-03-03 14:18] dabue commented on #1168
&nbsp;I pushed 1 commit ,&nbsp; check it please.
  ------------------&nbsp;原始邮件&nbsp;------------------
  发件人:&nbsp;"YuanSheng Wang"<notifications@github.com&gt;;
 发送时间:&nbsp;2020年3月3日(星期二) 晚上9:30
 收件人:&nbsp;"apache/incubator-apisix"<incubator-apisix@noreply.github.com&gt;;
 抄送:&nbsp;"Guosheng Yang"<88786912@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
 主题:&nbsp;Re: [apache/incubator-apisi

[2020-03-03 14:37] Akayeshmantha commented on #1184
isn't this missing in the script @membphis ?
`create_lua_deps() {
    sudo luarocks make --lua-dir=${OPENRESTY_PREFIX}/luajit rockspec/apisix-master-0.rockspec --tree=deps --only-deps --local
    echo "Create lua deps cache"
    sudo rm -rf build-cache/deps
    sudo cp -r deps build-cache/
    sudo cp rockspec/apisix-master-0.rockspec build-cache/
}`

[2020-03-04 01:37] #1168 closed

[2020-03-04 01:42] membphis commented on #1184
This bug should be that the Lua search path does not include `apisix.core.profile`.
We need to add one.

[2020-03-04 01:42] #1170 closed

[2020-03-04 03:17] wwd5613 opened #1195 "feature: support multiple ports like stream listen in http and https listen port."

[2020-03-04 03:49] membphis commented on #1195
Very good advice

[2020-03-04 04:13] membphis opened #1196 "improvement: print a warning message when running APISIX in `/root` directory"
Improvement: Because Nginx's default worker process uses the nobody user, it does not have permission to read the / root directory.

So when a user tries to start apisix in the `/root` directory, an alert will be displayed: Running apisix under `/root` is only suitable for development environments, and it is dangerous to do so. It is recommended to run apisix in a directory other than `/root`.

[2020-03-04 06:23] wanzhenhan opened #1197 "bug: when I exec the step "make run ",the nginx is started but its log print error"
### Issue description
nginx's error.log print:
2020/03/04 12:29:07 [error] 14661#0: *72 [lua] config_local.lua:34: read_file(): faild to read config file:/root/incubator-apisix-1.0/conf/config.yaml, error info:/root/incubator-apisix-1.0/conf/config.yaml: Permission denied, context: init_worker_by_lua*
2020/03/04 12:29:07 [error] 14661#0: *72 [lua] config_local.lua:34: read_file(): faild to read co

[2020-03-04 07:03] membphis commented on #1197
same problem with https://github.com/apache/incubator-apisix/issues/1196

[2020-03-04 07:03] #1197 closed

[2020-03-04 08:03] sshniro commented on #1189
I would like to write a test case to test the inactive timeout. The following are the configurations.
- Inactive Timeout = 2 S
- Batch Max Size = 100

![image](https://user-images.githubusercontent.com/13045528/75857387-72f1ab00-5df6-11ea-9a34-93cfb62db54c.png)

I would like to push an entry to the buffer at 0s and wait till 2s and push another entry. In this manner, I can reach the line segment o

[2020-03-04 08:10] sshniro commented on #1186
Thanks, will try this out.

[2020-03-04 08:25] sshniro commented on #1196
Hi, @membphis just to clarify this check should be done inside the `/bin/apisix file` rite? To check the directory's permission and print the statement?

[2020-03-04 08:30] sshniro opened #1198 "request help: How to rewrite/modify response in APISIX"
### Issue description
I would like to remove some auth headers from the upstream response. Is this possible with APISIX?
Is the proxy rewrite plugin only limited for requests?

[2020-03-04 08:43] moonming commented on #1195
@wwd5613 welcome PR

[2020-03-04 09:22] JohannT9527 commented on #1152
你好，这个问题解决了吗？我遇到了跟你一模一样的问题。

[2020-03-04 09:24] Akayeshmantha commented on #1184
@membphis  I would like to work on this issue

[2020-03-04 10:13] membphis commented on #1184
OK, I have assigned it to you.

[2020-03-04 11:08] membphis commented on #1152
https://github.com/apache/incubator-apisix/blob/master/lua/apisix/stream/router/ip_port.lua#L43

I think the latest APISIX has resolved this bug. please use the latest version and make a try.

[2020-03-04 11:08] #1152 closed

[2020-03-04 11:16] membphis commented on #1198
You can take a look at this plugin: https://github.com/apache/incubator-apisix/blob/master/doc/plugins/response-rewrite.md#name

We can make it more powerful if we need.

[2020-03-04 11:20] membphis commented on #1196
Yes, you are absolutely right. We can check the APISIX working folder.

https://github.com/apache/incubator-apisix/blob/v1.1/bin/apisix#L45

[2020-03-04 12:36] ShiningRush opened #1200 "Missing global rules usage"
Our team need a global plugin to enable CORS of service, then i found `global_rules`, but i didnt see any docs about it.
I think i could append its  description to `doc/architecture-design.md`, and link `Global Rule` in homepage to it, do you agree?

[2020-03-04 12:53] sshniro commented on #1198
Thanks, will try this.

[2020-03-04 13:04] rhubard opened #1202 "bug: prometheus and zipkin do not support global_rule"
### Issue description
The global_rule plugin is not executed during the log phase

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1. global_rule add prometheus
2.requst "/apisix/prometheus/metrics"

### What's the actual result? (including assertion message & call stack if applicable)
only exist nginx_http_current_connections

[2020-03-04 13:08] membphis commented on #441
fixed already

[2020-03-04 13:08] #441 closed

[2020-03-04 13:11] membphis commented on #1200
You  are right, PR welcome.

[2020-03-04 13:14] membphis commented on #1202
We need to modify the Apache APISIX core to resolve this problem.

[2020-03-04 13:57] moonming commented on #1189
@sshniro you can try `ngx.sleep(2)`.

[2020-03-04 14:35] moonming commented on #1198
@sshniro You can also send these questions to the dev mailing list:)

[2020-03-04 14:35] #1198 closed

[2020-03-04 18:08] Akayeshmantha commented on #1184
Hi @membphis I was looking through this issue.

And as I found lua_path is set on below locations in bin/apisix file.
1. https://github.com/apache/incubator-apisix/blob/429f0165c202035b18b4437a84c6edc9007fc440/bin/apisix#L113

2. https://github.com/apache/incubator-apisix/blob/429f0165c202035b18b4437a84c6edc9007fc440/bin/apisix#L173

but am not quite sure as I searched found out that lua search pa

[2020-03-05 00:55] moonming commented on #1200
@ShiningRush Apache APISIX not has the CROS plugin yet, welcome PR for CORS.

[2020-03-05 07:30] chnliyong commented on #1188
Hi @sshniro ,

As I'm a little bit familiar with **Keycloak**, I've read the Keycloak [uma document](https://www.keycloak.org/docs/latest/authorization_services/index.html#_service_user_managed_access) and [uma 2.0](https://docs.kantarainitiative.org/uma/wg/oauth-uma-federated-authz-2.0-09.html#abstract-flow-fig).

Currently I'm not very clear about what **APISIX** should do in this flow? Is below

[2020-03-05 07:36] xiangxiren opened #1207 "question: why not merge parameters of the same type in route management"
in routing management,why not merge these same types of parameters into one.Isn't this more concise and clear?
![image](https://user-images.githubusercontent.com/12774053/75953311-0e187c80-5eec-11ea-8093-4963aabe1962.png)

Also, why store upstream configuration data in route data structure?
If the routing maintenance data contains upstream configuration data, why not add it to the upstream data, a

[2020-03-05 09:38] wanzhenhan opened #1208 "bug: the health check report error"
### Issue description
failed to run balancer_by_lua*: /usr/share/lua/5.1/apisix/lua/apisix/balancer.lua:259: attempt to concatenate field 'status_ver' (a nil value)
 the health check config:
curl http://127.0.0.1:9080/apisix/admin/routes/500 -X PUT -d '
{
    "uri": "/",
    "methods": ["GET","PUT","POST","PATCH"],
    "plugins": {

    },
    "upstream": {
        "type": "roundrobin",
        "n

[2020-03-05 10:42] Akayeshmantha commented on #1184
@membphis  @moonming  do we have to set the env variables in travis for this issue ?

[2020-03-05 12:21] wanzhenhan opened #1209 "request help: grpc proxy is not running"
### Issue description
APISiX can't proxy grpc
when grpc client transport first package like "PRI * HTTP/2.0", apisix print logs "client sent invalid request while reading client request line, client: 10.82.4.71, server: , request: "PRI * HTTP/2.0",and reply 400 bad request to client

### Environment
CENTOS 7
* apisix version (cmd: `apisix version`):
* OS:1.0

[2020-03-06 04:47] sshniro commented on #1188
Yes @chnliyong the workflow is correct. I would like to mediate the token calls via the API Gateway itself. And yes saving it in a cookie would be easier. Unfortunately, I did not find the token mediation support in similar products.

[2020-03-06 06:00] nic-chen commented on #1209
我们默认只支持9443端口代理 gRPC 。
使用9443端口或者其他ssl端口时，请确保客户端请求有带tsl相关参数。
这里是一个最简单的，跳过证书验证的 gRPC-go 示例：

We only support port 9443 proxy gRPC by default.
When using port 9443 or other ssl ports, please ensure that the client request has tsl parameters.
Here is the simplest gRPC-go example that skips certificate verification:

`
    var tlsConf tls.Config
    tlsConf.InsecureSkipVerify = true

    creds := cred

[2020-03-06 07:28] ryan4yin commented on #445
mark

[2020-03-06 11:44] ShiningRush commented on #1200
ok, i will do it after i append test case for it.

[2020-03-06 16:27] Akayeshmantha commented on #1128
@moonming  is there a base package to perform or have to write from scratch ?

[2020-03-07 01:53] soulsoul commented on #1128
maybe it‘s useful for the  feature，  https://github.com/lualdap/lualdap

[2020-03-07 02:19] soulsoul commented on #1195
@wwd5613  can u show some example？

[2020-03-07 06:29] #1184 closed

[2020-03-07 06:47] soulsoul commented on #1195
that means:  you want apisix can support multiple ports to start.  now apisix just can start up on one port by the  config parameter "node_listen ".  just for the configuration in nginx
server {
     listen  9080  9081  9082；
     listen  9443  ssl  https2;
}
is it right ?
@wwd5613

[2020-03-07 07:03] membphis opened #1213 "bug(CI): failed to install redis in OSX system when running test cases."
https://travis-ci.org/apache/incubator-apisix/jobs/659453727?utm_medium=notification&utm_source=github_status

![image](https://user-images.githubusercontent.com/6814606/76138586-b06b6800-6084-11ea-9a30-fa686c41406d.png)

[2020-03-07 08:25] sshniro opened #1214 "Helper message when starting APISIX"
Currently, the APISIX start does not give any helpful indication.

![image](https://user-images.githubusercontent.com/13045528/76139912-7767cf00-6055-11ea-987d-22b37def17f7.png)

It would be helpful if we can see a message like this if APISIX started successfully.

[code]

[2020-03-07 08:42] Akayeshmantha commented on #1128
@soulsoul hm what I dont get is this is also a client not an sdk which provides an interface.I actually had a look on this

Cc @moonming @membphis

[2020-03-07 10:05] wanzhenhan commented on #1209
apisix只支持 https端口，目前不支持 http端口，因为 其http的端口无法支持 HTTP2
但是：nginx早已支持HTTP2，我们只需要手动更改nginx配置，将监听的那个http端口加上 HTTP2的配置即可  (note:不要执行 make init)

[2020-03-07 10:05] #1209 closed

[2020-03-07 13:10] agile6v commented on #1214
Hi @sshniro

I agree with you. But Nginx does not provide any useful hints. So if we want to achieve this,  it may need to be encapsulated to parse Nginx configuration and then check the startup status.

Thanks.

[2020-03-07 22:25] Akayeshmantha opened #1220 "Add TCP logger plugin."
### Issue description

I found udp logger plugin already in the project as a plugin. I would like to add TCP logger which provides more secure logging capabilities.

[2020-03-08 01:26] Miss-you commented on #1024
Hi, I want to ask if this feature is currently under development or has been merged into the trunk branch,  "Extract the host from the proxy-rewrite plugin into the upstream object” .

In addition, the routes object also has a host configuration, but in some specific scenarios, there will be multiple domain names corresponding to this route or a group of routes. I think it is more appropriate for

[2020-03-08 05:57] #984 closed

[2020-03-08 07:53] moonming commented on #1209
Apache APISIX enabled `http2` default: https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L77

[2020-03-08 07:58] moonming commented on #1220
cool, welcome PR:)

[2020-03-08 09:42] paoying opened #1223 "Enhancement: jwt-auth should support base64 encoded secret"
The secret in jwt-auth plugin is now only string typed, this is not secure enough:

- The string contains only printable characters which makes the secret's possible value size much smaller than byte array with the same size.
- It's easy to generate secure random byte array, but not so easy to generate a secure random string. If we generate a secret without enough randomness, the secret is much we

[2020-03-09 13:37] agile6v opened #1225 "feature: Support echo plugin"
APISIX currently provides a simple example plugin, but it does not provide useful functionality. So we can provide a useful plugin to help users understand as fully as possible how to develop an APISIX plugin.

[2020-03-09 13:38] agile6v opened #1226 "feature: Support follow redirect"
When a client request passes through APISIX to upstream, if upstream returns 301 or 302 and then APISIX returns directly to the client by default. The client receives 301 or 302 response and then initiates the request again based on the address specified by Location. Sometimes the client wants APISIX to help it do this, so APISIX can provide this capability to support more scenarios.

[2020-03-09 13:45] membphis opened #1227 "optimization: use the correct parameters based on the version of luarocks"
It may be wrong to determine the parameters based on the operating system type.

we need to delete the old logic:

https://github.com/apache/incubator-apisix/blob/master/Makefile#L50

[2020-03-09 13:47] dabue commented on #1227
I can do it.

[2020-03-09 13:50] membphis commented on #1227
waiting your PR ^_^

[2020-03-09 13:50] dabue commented on #1227
I want to do this job.

88786912@qq.com

From: YuanSheng Wang
Date: 2020-03-09 21:45
To: apache/incubator-apisix
CC: Subscribed
Subject: [apache/incubator-apisix] optimization: use the correct parameters based on the version of luarocks (#1227)
It may be wrong to determine the parameters based on the operating system type.
we need to delete the old logic:
https://github.com/apache/incubator-apisix

[2020-03-09 14:02] Akayeshmantha commented on #1225
Hi @agile6v @moonming  will be applying for GSoC 2020 this year. Would like to give it a try with apache APISIX. I did GSoC 2019 with openMRS. Is there a chat room which talks about the project idea.

[2020-03-09 14:26] moonming commented on #1225
@Akayeshmantha Cool, you can add your ideas to https://cwiki.apache.org/confluence/display/COMDEV/GSoC+2020+Ideas+list, and we can talk about in slack: https://the-asf.slack.com/
, and serach the `apisix` channel.

[2020-03-09 15:54] agile6v commented on #1225
This plugin could implement the corresponding functionality in the common phases such as `init`, `rewrite`, `access`, `balancer`, `header filer`, `body filter` and `log` . But the specific functionality are still being considered.

[2020-03-10 03:00] bruce-sha opened #1229 "bug: heartbeat & node-status plugin error via dashboard operation"
### Issue description
when the admin user add a plugin to a router  via dashboard operation,  the heartbeat & node-status plugin will  report "not found schema"  error：

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/920678/76275430-40e0bd00-62be-11ea-86b6-e143626c821f.png">

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS: centos7

### Minimal tes

[2020-03-10 03:31] juzhiyuan commented on #1132
Related issue https://github.com/apache/incubator-apisix-dashboard/issues/139

@totemofwolf The APISIX version is not sensitive to clients in my opinion, the Dashboard should know whether it's compatible with current APISIX.

[2020-03-10 03:31] juzhiyuan commented on #1132
@moonming How about this feature?

[2020-03-10 04:04] juzhiyuan commented on #994
any update?

[2020-03-10 05:28] membphis commented on #195
### png + white font

![logo-white](https://user-images.githubusercontent.com/6814606/76282441-a2ab2200-62d2-11ea-8eb4-47afd0fa36b4.png)

### png + black font

![logo-black](https://user-images.githubusercontent.com/6814606/76282454-adfe4d80-62d2-11ea-8013-bb96f53449bc.png)

### svg + black font

[apisix.svg.zip](https://github.com/apache/incubator-apisix/files/4310445/apisix.svg.zip)

[2020-03-10 07:16] #1227 closed

[2020-03-10 08:00] membphis opened #1230 "doc: add new article <Microservice API gateway: Apache APISIX vs Kong> ."
《API 网关 Apache APISIX 和 Kong 的选型对比》
https://mp.weixin.qq.com/s/c51apneVj0O9yxiZAHF34Q

Add article references here:

https://github.com/apache/incubator-apisix/blob/master/README_CN.md#%E8%A7%86%E9%A2%91%E5%92%8C%E6%96%87%E7%AB%A0

[2020-03-10 08:25] dabue commented on #1230
I will add it.

[2020-03-10 08:25] membphis commented on #1230
@dabue many thx

[2020-03-11 03:07] membphis opened #1231 "[discuss] feature: support etcd cluster in Apache APISIX."
The etcd cluster is highly available, so Apache APISIX should allow multiple etcd addresses to be configured to connect to the etcd cluster.

How about this new style?

[code]

BTW, the driver `resty-etcd` has supported this feature.

https://github.com/iresty/lua-resty-etcd/blob/master/t/v2/cluster.t#L52

[2020-03-11 14:45] Akayeshmantha opened #1232 "Getting Error unknown directive "lua_package_path" in /API_ASPIX/incubator-apisix/t/servroot/conf/nginx.conf"
when I run test cases  in ubuntu(18.04.2), there is an error message "nginx: [emerg] unknown directive "lua_package_path" in /home/API_ASPIX/incubator-apisix/t/servroot/conf/nginx.conf:28:" ?  @membphis  @moonming

[2020-03-11 16:48] Akayeshmantha commented on #1232
Lua module is also enabled it seems am not sure why this error pops up

[code]

[2020-03-12 02:09] moonming commented on #1146
@sshniro do you want to add Redoc for Apache APISIX?

[2020-03-12 02:27] wwd5613 opened #1233 "bug: route by radixtree_host_uri stress testing cannot reach expect"
### I set 10 to 5000 route with host,like

[code]
each routes' hosts  is www.websockettest%s.com whith %s replace by 1-5000
and set config.yaml
  router:
     http: 'radixtree_host_uri'

### Environment

* apisix version (cmd: `apisix version`): 1.0
* OS: Centos7.4 8c16g

### Minimal test code / Steps to reproduce the issue
1.wrk -t16 -c200 -d300s -T300s --latency  --script=get500.lua http://www.w

[2020-03-12 04:39] membphis opened #1234 "change: upgrade `lua-resty-ipmatcher` to version v0.6"
the `lua-resty-ipmatcher` has released new version v0.6 , Apache APISIX need  to update too.

We can modify it here:

https://github.com/apache/incubator-apisix/blob/master/rockspec/apisix-master-0.rockspec#L50

[2020-03-12 04:42] membphis commented on #1234
As a learning reference, you can refer to this PR.

https://github.com/apache/incubator-apisix/pull/1019

[2020-03-12 05:07] sshniro commented on #1181
I would like to start working on this issue, as it is blocking #965  and #1070  for batch processing. Will post the question in the associated repo.

[2020-03-12 05:16] sshniro commented on #1146
Yes @moonming I would like to initially add the open API specs, but currently working with the HTTP logger. After that, I can start working on this issue.

[2020-03-12 06:46] hiproz opened #1235 "invalid doc path of"
### Issue description
the doc path " etcd Clustering Guide" of incubator-apisix/README_CN.md  is invalid
### Environment
web browser
* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)
not found 404

### What's the expected result?
should been visited

[2020-03-12 06:58] moonming commented on #1229
@bruce-sha both of heartbeat and node-status plugins are not schema. I think it's bug of dashboard.

[2020-03-12 06:59] moonming commented on #1235
@hiproz thx, welcome PR

[2020-03-12 08:05] juzhiyuan commented on #1229
Will do in the new dashboard.

[2020-03-12 11:40] moonming commented on #1233
@membphis please take a look

[2020-03-12 11:46] membphis commented on #1235
the correct address should be: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/clustering.md

[2020-03-12 11:49] membphis commented on #1233
@wwd5613 if you mainly use `host`, you should use router `radixtree_host_uri`. please confirm this first.

https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L59

[2020-03-12 11:51] moonming commented on #1233
yes, it's `radixtree_host_uri`, please read the issue carefully.

[2020-03-12 12:48] Akayeshmantha commented on #1234
Am on it 🙂

[2020-03-12 12:50] membphis commented on #1232
the `test::nginx` use nginx by default.

You can run the test cases in this way.

https://github.com/apache/incubator-apisix/blob/master/doc/how-to-build.md#4-test

`TEST_NGINX_BINARY=/usr/local/bin/openresty prove -Itest-nginx/lib -r t`

BYW, you can set openresty as default nginx, I use this way now.

![image](https://user-images.githubusercontent.com/6814606/76523119-d2a91f80-64a2-11ea-9538-056

[2020-03-12 12:50] #1232 closed

[2020-03-12 12:53] membphis commented on #1181
@sshniro https://github.com/api7/jsonschema/issues/8

I have created an issue, if you would like to do this job, please leave a message on this issue. I will assign this issue to you.

[2020-03-12 13:03] sshniro commented on #948
I've learned that prefix can be achieved via uri_regex in the plugin rewrite. I will update the getting started guide with the information.

[2020-03-12 14:42] #948 closed

[2020-03-13 00:32] #1234 closed

[2020-03-13 01:03] Akayeshmantha opened #1239 "Local test run document update."
### Issue description

The guide to run test cases locally didn't work as expected in ubuntu environment.

Would like to update the unit test setup guide

* apisix version (cmd: `apisix version`):
* OS: Ubuntu 18.04

[2020-03-13 04:16] sshniro opened #1242 "Feature: OAuth public key based introspection for APISIX"
### Issue description
Currently, I'm using the introspection endpoint to verify the token with Keycloak. I would like to use the public key of the token to verify it locally instead of making an external request. The library used for OAuth also supports this functionality, but it is not exposed via the APISIX plugin.

https://github.com/zmartzone/lua-resty-openidc/blob/7d3cbe555f53a1a1378cdd9efdd4

[2020-03-13 04:40] sshniro opened #1243 "request help: How to white-list consumers for the Keyauth plugin"
### Issue description
Is there a way to limit the users who are permitted to use a route via the key auth plugin? Currently, it allows all consumers to access a route, if the key auth is enabled.

[2020-03-13 05:06] juzhiyuan opened #1244 "bug: plugin basic-auth needs required field"
### Issue description
Plugin `basic-auth` doesn't have `required` field currently.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
None

### What's the actual result? (including assertion message & call stack if applicable)
No `required` field.

### What's the expected result?
It should have at least one required field such as

[2020-03-13 05:08] juzhiyuan opened #1245 "bug: Plugin node-status and heartbeat don't have schema."
### Issue description
Plugin `node-status` and `heartbeat` don't have proper schema.

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS:

### Minimal test code / Steps to reproduce the issue
None

### What's the actual result? (including assertion message & call stack if applicable)
Plugin `node-status` and `heartbeat` don't have proper schema, when accessing them by admin api, 4

[2020-03-13 05:09] juzhiyuan opened #1246 "bug: Plugin udp-logger returns status code 500"
### Issue description
Plugin `udp-logger` returns status code 500.

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS:

### Minimal test code / Steps to reproduce the issue
None

### What's the actual result? (including assertion message & call stack if applicable)
Plugin `udp-logger` returns status code 500 when accessing it by admin api.

### What's the expected result?
I'm not

[2020-03-13 05:11] juzhiyuan opened #1247 "bug: Plugin prometheus's type is incorrect"
### Issue description
Plugin `prometheus`'s type should be `boolean` instead of `object`.

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS:

### Minimal test code / Steps to reproduce the issue
None

### What's the actual result? (including assertion message & call stack if applicable)
See above.

### What's the expected result?
See above.

[2020-03-13 05:16] sshniro commented on #1246
Hi @juzhiyuan can I know in which scenario does this occur ?

[2020-03-13 05:54] #1247 closed

[2020-03-13 06:17] sshniro opened #1250 "APISIX occasionally returns 500 for httpbin.org"
### Issue description
For testing, I use [httpbin.org](https://httpbin.org/) as an upstream address to echo the parameters. But I'm starting to get 500 for consequent hits for the same address. And occasionally it returns 200 again, the behavior is unpredictable.

Does anyone know why is this happening? Is this something related to caching or timeouts?

I tested httpbin.org without proxying via AP

[2020-03-13 06:37] membphis commented on #1244
For all of the authorization plugin:

When it was used with `consumer`, it is necessary to provide specific authentication information.

When it was used with `route / service`, we don't need any parameters, just enable or disable this plugin.

So I think the current way is right.

How about this `schema` definition? Is it better?

[code]

[2020-03-13 07:00] juzhiyuan commented on #1246
When accessing `http://HOST/admin/schema/plugins/key-auth`

[2020-03-13 07:56] #994 closed

[2020-03-13 10:18] membphis commented on #1246
I added a test case right now, it works fine. I think we have fixed this bug in master branch.

Anyway, we need a test case to cover this case.

[2020-03-13 11:22] membphis commented on #1250
@sshniro please provide your error log when you got 500 responses code, I need to confirm it.

I guess you are using an older version of Apache APISIX. I have fixed this error for a few days.

You can make a try with the latest version of APISIX.

[2020-03-13 11:57] membphis opened #1253 "use GitHub Actions as CI for Apache APISIX"
GitHub Actions provides more concurrency and provides ease for excessive run time and queue
the length we have been experiencing with Travis CI so far.

We can make Apache APISIX able to run on GitHub Actions, but still kept the
Travis CI files around so that we could use both at the same time during
the transitional period.  Eventually, Travis CI support will be removed.

[2020-03-13 12:05] #1244 closed

[2020-03-13 12:06] #1246 closed

[2020-03-13 12:50] Akayeshmantha commented on #1231
Hi @membphis I would like to work on this issue.

[2020-03-13 13:35] membphis commented on #1231
ok, I have assigned to you

[2020-03-13 13:39] membphis opened #1255 "doc: missing Chinese version about `how-to-build`"
https://github.com/apache/incubator-apisix/pull/1254

this PR only updates the English version, we need to update the Chinese version too.

[2020-03-13 18:54] Akayeshmantha opened #1259 "Add support to kafka publisher plugin"
This plugin will work as a publisher which collects logs and publish to the external subscribers

[2020-03-13 18:54] Akayeshmantha commented on #1259
Will be working on this plugin for  APISIX

[2020-03-14 01:12] membphis commented on #1255
@Akayeshmantha has done the work himself. we can close this issue now.

[2020-03-14 01:12] #1255 closed

[2020-03-14 01:34] #1245 closed

[2020-03-14 02:27] agile6v opened #1262 "feature: support request mirror"
Hi

Is it necessary to provide a request mirror plugin?

The nginx configuration looks like:

[code]

The variable `var_mirror_disable` and `mirror_address` can be configured in the mirror plugin.

The admin api looks like this:
[code]

In addition, it would be better if the mirror directive could support variable.

Thanks.

[2020-03-14 06:34] juzhiyuan opened #1263 "bug: Invalid pattern"
### Issue description
![image](https://user-images.githubusercontent.com/2106987/76676667-d2269b00-6600-11ea-863b-eb2f66829222.png)

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS:

### Minimal test code / Steps to reproduce the issue
None

### What's the actual result? (including assertion message & call stack if applicable)
See above

### What's the expected result?
See abov

[2020-03-14 07:52] soulsoul commented on #1243
so you can use some other plugin  on your business .  not just one keyauth plugin.

[2020-03-14 07:52] sshniro commented on #1250
@membphis , I'm using the master branch, There are no helpful messages printed when I get 500, This is what I get during startup.

![image](https://user-images.githubusercontent.com/13045528/76677651-21ed6e00-65d1-11ea-9445-e680402c4ff7.png)

![image](https://user-images.githubusercontent.com/13045528/76677654-2b76d600-65d1-11ea-824f-d17764a4a3e6.png)

[2020-03-14 08:09] zd04 opened #1264 "bug: apisix start failed"
### Issue description
I install openresty and luarocks,then install apisix by luarocks.Do apisix init,apisix init_etcd,then apisix start,show me error:

[root@www001 apisix]# /usr/local/luarocks-3.3.1/bin/apisix start
nginx: [error] init_by_lua error: init_by_lua:3: module 'apisix' not found:
        no field package.preload['apisix']
        no file '/usr/local/apisix//deps/share/lua/5.1/apisix.l

[2020-03-14 09:47] sshniro commented on #1250
@membphis  This is reproducible with the latest master branch, What does RLLIMIT mean in this context?

[2020-03-14 13:41] membphis commented on #1250
If we can't find any associated error logs from the local file, then this 500 error response is from httpbin and it was not generated by APISIX.

Your Nginx worker does not have permissions, which limits the number of open files.

[2020-03-14 13:46] membphis commented on #1250
I tried your example, I got sucess

[code]

[2020-03-14 14:19] #1263 closed

[2020-03-14 23:58] membphis commented on #1262
discuss mail:

https://lists.apache.org/thread.html/ra5ea8a97f55b2b139b42b8c7b56fe26708fe3074fc34815afd52ea7d%40%3Cdev.apisix.apache.org%3E

[2020-03-15 00:05] membphis commented on #1264
We can start the service by command `apisix start`, the CLI of `apisix` will be install to `/usr/bin/apisix` default.

[code]

[2020-03-15 00:09] #1239 closed

[2020-03-15 00:38] membphis opened #1268 "CLI: prefix matching should be used when we match the path."
https://github.com/apache/incubator-apisix/pull/1236/files#r392630774

[code]

[2020-03-15 00:38] membphis commented on #1268
@sshniro please take a look when you have time

[2020-03-15 01:22] #1220 closed

[2020-03-15 01:31] membphis opened #1269 "doc: Chinese version of plugin `tcp-logger`"
https://github.com/apache/incubator-apisix/blob/master/doc/plugins/tcp-logger.md

[2020-03-15 02:37] sshniro opened #1272 "Support JWT scopes to allow or reject requests in OAuth2 plugin"
### Issue description
The JWT contains the scopes available for a user via the scope attribute. Scope represents the capabilities the token has such as `read` or `delete`. It would be good if we can define a required set of scopes and allow or reject the request based on the required scope.

[2020-03-15 02:41] membphis opened #1273 "[discuss] doc: fix style for "markdown" documents"
How about we use some tools to check the document style?

This plugin is nice: https://github.com/DavidAnson/vscode-markdownlint#configure

[code]

[2020-03-15 02:54] sshniro commented on #1273
That's a good idea @membphis , and we can also integrate the same rules in the [CI/CD pipeline](https://github.com/markdownlint/markdownlint), so the docs comply with the rules.

[2020-03-15 03:02] sshniro opened #1274 "doc: Add UDP logger documentation"
### Issue description
The doc for UDP logger needs to be added.
https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/udp-logger.lua

[2020-03-15 06:01] membphis commented on #1272
can you provide an example?

[2020-03-15 12:21] #1213 closed

[2020-03-15 12:39] moonming opened #1276 "add more test cases for oauth plugin"
we'd better add more test cases for this plugin. I will merge first.

_Originally posted by @moonming in https://github.com/apache/incubator-apisix/pull/1266#issuecomment-599205012_

[2020-03-15 12:40] #1242 closed

[2020-03-15 12:57] sshniro commented on #1276
Sure, will add a test case with a valid cert and a token with an indefinite expiry time,

[2020-03-15 14:26] #1127 closed

[2020-03-16 03:34] qiujiayu opened #1279 "feature: eureka integration"
This is an idea about integrating APISIX with eureka：

1. Added  discovery component, such as eureka;
2. Use the `upstream.service_name`  to associate the application name (`spring.application.name` in spring boot)
3. In `apisix.balancer`, according to the `upstream.service_name`, first find the application nodes in the discovery;

If you want to register APISIX with the registry, it will be more

[2020-03-16 03:38] xxm404 opened #1280 "request help: How do I enable the plug-in when using the standalone model(local yaml)?"
### Issue description
如何在不使用 `etcd` 的模式下，开启插件

### Environment

* apisix version 1.1
* OS: Ubuntu

[2020-03-16 05:02] membphis commented on #1279
related issue: https://github.com/apache/incubator-apisix/issues/804

[2020-03-16 05:03] membphis commented on #1280
you can take a look at the test cases: https://github.com/apache/incubator-apisix/tree/master/t/config-center-yaml

[2020-03-16 06:59] xxm404 commented on #1280
Modify nginx config directly?
Can i enable the limit-req plugin by modify apisix.yaml?

[2020-03-16 15:57] qiujiayu opened #1282 "hard to extend the `nodes` of upstream"
recommended that `nodes` of upstream be changed from

[code]
 to

[code]

[2020-03-16 23:47] #1235 closed

[2020-03-16 23:51] membphis commented on #1282
@Miss-you please take a look at this

[2020-03-16 23:58] membphis commented on #1280
Of course you can do it in this way, it is the right way.

[2020-03-17 01:06] moonming commented on #1282
@qiujiayu why change to the latter format?

[2020-03-17 01:25] qiujiayu commented on #1282
@moonming When using the registry, manage the metadata of nodes through the registry, Then through this metadata to achieve some of the enterprise personality requirements, such as: gray deployment.

[2020-03-17 01:31] moonming commented on #1282
please show a example. thx

Thanks,
Ming Wen
Twitter: _WenMing

qiujiayu <notifications@github.com> 于2020年3月17日周二 上午9:25写道：

[2020-03-17 02:00] xxm404 commented on #1280
i can not find plug-in config demo at apisix doc, somebody can give me a example for enable plug-in by modify apisix.yaml?

[2020-03-17 03:13] membphis commented on #1280
1. enable standalone model

[code]

2. start apisix

3. update conf/apisix.yaml , here is an example

https://github.com/apache/incubator-apisix/blob/master/t/config-center-yaml/route.t#L45

[2020-03-17 03:40] wwd5613 commented on #1233
i test radixtree_uri scene whith normal route，the result is the same, cpu is 90%+.tps 7w.firemap as follow
![微信截图_20200317113733](https://user-images.githubusercontent.com/2143396/76819752-1c4b8e80-6844-11ea-8a2a-7a2777f841b2.png)

[2020-03-17 03:46] membphis commented on #1233
please prove your route rules, we need to confirm it

[2020-03-17 04:05] qiujiayu commented on #1282
@moonming Sometimes we test online and want the test request to go to the test server, other requests are not.

[2020-03-17 04:55] moonming commented on #1282
nodes = {
	"39.97.63.215:80": 1
}
@qiujiayu I means the example for `metadata`

can you show a example how `metadata` for it, thx

[2020-03-17 06:04] qiujiayu commented on #1282
@moonming

service A has two nodes:

[code]

if request header has "test:true", then proxy to node: "192.168.1.100", else  proxy to "192.168.1.101".

[2020-03-17 06:08] wwd5613 commented on #1233
{
"upstream":{
   "nodes":{
"172.28.73.60:80":1
},
    "type":"roundrobin"},
"uri":"*"
}

[2020-03-17 06:23] moonming commented on #1282
We recommend do this job on the route in Apache APISIX, not the upstream node, for example:
[code]
and
[code]

[2020-03-17 06:30] xxm404 commented on #1280
This is my apisix.yaml，limit-req not running.
[code]

[2020-03-17 07:33] qiujiayu commented on #1282
This example is good for static configuration. but for dynamic nodes from service discovery center.

[2020-03-17 09:13] membphis commented on #1233
@wwd5613

For your scene, just use `radixtree_host_uri`.

If you still have problems, you need to provide more environmental information.

For example:

wrk:  `wrk http://127.0.0.1:9080/hello -H "host: www.websockettest500.com"`

**apisix**: enable radixtree_host_uri and 1 worker

[code]

**nginx proxy**: proxy pass, 1 worker

    location / {
            proxy_pass  http://127.0.0.1:1980/;

[2020-03-17 10:12] gxthrj commented on #1273
aha，Let me try to do it

[2020-03-17 10:36] sshniro commented on #1272
The following is the scenario I have in mind.

The getProducts endpoint should be accessible via a token which has the read scope.
[code]

And the deleteProducts endpoint should be accessible via the token with a deletescope.
[code]
This is how the core OpenID Library is suggesting to handle this scenario.

![image](https://user-images.githubusercontent.com/13045528/76847997-3e90dc80-6843-11ea-978

[2020-03-17 14:31] membphis commented on #1280
please take a look, it works fine for me.

[code]

[code]

[2020-03-17 14:33] membphis commented on #1272
@moonming you can take a look

[2020-03-17 16:37] xxm404 commented on #1280
Thank you，it works fine for me too.

[2020-03-17 16:37] #1280 closed

[2020-03-18 00:49] membphis opened #1289 "doc: Chinese version"
This is the English version, we also need to update the Chinese version.

https://github.com/apache/incubator-apisix/pull/1287

[2020-03-18 02:07] qiujiayu commented on #1279
现在是为了方便，使用了upstream_id 关联 注册中心的服务名。是不是增加一个service_name 可能会更好（route 和 service 都要加）？

Now, for convenience, `upstream_id` is used to associate the service name of the registry. Would it be better to add a `service_name` (both route and service)?

[2020-03-18 02:17] dabue commented on #1289
I will do it.

[2020-03-18 02:55] qiujiayu commented on #1269
@membphis I would like to work on this task

[2020-03-18 03:22] membphis commented on #1269
I have assigned it to you

[2020-03-18 03:28] membphis opened #1290 "doc: need a Chinese version"
English doc: https://github.com/apache/incubator-apisix/blob/master/doc/getting-started.md

[2020-03-18 03:45] membphis opened #1291 "bug: throw an error message if there was no valid upstream node in balance phase"
If the user uses the domain as an upstream node host.
We need to parse the domain by DNS first, and this step may fail.

Then the upstream node may be an empty table.

[code]

[2020-03-18 06:56] chzhuo opened #1294 "request help: Can apisix add tcp listening ports by Admin Api ?"
### Issue description
I using apisix to proxy tpc/upd traffic. Can apisix add tcp listening ports by Admin Api  ?

[2020-03-18 08:30] hiproz commented on #251
we can use the https://readthedocs.org/  free service , it can pull docs from our git repo,  so we can use our subdomain whith domain rename

[2020-03-18 09:11] #1269 closed

[2020-03-18 09:43] membphis commented on #1294
Does not support this feature now

[2020-03-18 09:45] membphis commented on #251
yes, it seems very good `readthedocs.org`

[2020-03-18 10:13] sshniro commented on #1243
I did not understand the last statement, are you suggesting to use a custom plugin instead of the keyauth plugin?

[2020-03-18 11:04] lilien1010 opened #1297 "bug: jwt plugin make the request http StatusCode= 500"
### Issue description

[code]

[2020-03-18 12:15] soulsoul commented on #1279
accrording to your description， you want to fetch the meta info from eureka ，and then get backend nodes info,  and balancer by APISIX.  so we should exchange the meta info  to the APISIX upstream nodes info . and choose the LB mechanism to route . is it right ?
so we should think about that if we need cache the meta info from eureka.  and how to update ?
the config item maybe need  server url of E

[2020-03-18 23:44] #1230 closed

[2020-03-19 00:01] #1231 closed

[2020-03-19 01:29] membphis commented on #1243
The current mechanism does not support this limitation.

[2020-03-19 02:34] tokers commented on #1159
@moonming  I will try. Since i'm not familiar the internal of APISIX, it may take a long while. Anyway, i will synchronize the progress here.

[2020-03-19 02:37] moonming commented on #1159
@tokers If you have any questions, feel free to discuss with us, looking forward for your PR

[2020-03-19 03:20] lilien1010 commented on #1297
mark first ,this is a issue in out production env, will offer more infomation later.

[2020-03-19 03:28] qiujiayu commented on #1279
You understand very well.

Use `ngx_timer_every` to fetch meta info rom eureka  regularly.

For more details, see the PR #1281

[2020-03-19 04:07] #1291 closed

[2020-03-19 06:29] #1289 closed

[2020-03-19 08:48] membphis opened #1302 "update the jsonschema to v0.8"
the jsonschema has released version 0.8 , we need to update it

https://github.com/api7/jsonschema/releases/tag/v0.8

[2020-03-19 08:53] liujianri commented on #1297
这个问题 是因为在resty.jwt.lua 中取header中的alg时，是header.alg 这样取出来的，仔细看生成的jwt token 就能发现，生成jwt token 中的header 部分 header.alg 是nil的，注意是区分大小写的哦。
正确的应该是 :
`{
  "alg": "HS256",
  "typ": "JWT"
}`
错误的：
{
  "Alg": "HS256",
  "Typ": "JWT"
}

[2020-03-19 08:56] sshniro commented on #1302
@membphis I should update it only for the current master rite?

[2020-03-19 09:05] membphis commented on #1302
update master branch is enough ^_^

[2020-03-19 10:56] chenqing24 commented on #1297
发生类似情况：
背景：基于apisix做了一个权限网关，用户登入时，会请求生成jwt token。
问题：一开始用都正常，在用测试账号反复登入时，出现异常，反馈码500
模拟请求：`curl --location --request GET 'http://gateway.itcjf.com/apisix/plugin/jwt/sign?key=cq39882`
error log：```
2020/03/18 17:37:32 [error] 2265479#2265479: *288045272 lua entry thread aborted: runtime error: /usr/share/lua/5.1/apisix/lua/apisix/consumer.lua:38: attempt to index local 'consumer' (a boolean value)

[2020-03-19 10:57] lilien1010 commented on #1297
@liujianri comment in english next time

[2020-03-19 11:13] #1302 closed

[2020-03-19 11:17] membphis commented on #1297
@chenqing24 your bug has been fixed, please use the lastest Apache APISIX (master branch)

[2020-03-19 13:21] #1262 closed

[2020-03-19 13:34] agile6v opened #1304 "feature: introduce memory-based proxy-cache plugin."
Hi

It's time to introduce memory-based proxy-cache plugin and i will work on it.

Thanks.

#1127

[2020-03-19 15:27] lilien1010 commented on #1297
@membphis  this issue will be close，since it's the Backend capital issue

[2020-03-19 15:28] #1297 closed

[2020-03-19 15:40] sshniro commented on #1243
Thanks, Is it okay to extend the plugin to restrict to specific consumers? It can enhance the security and flexibility of the key-auth plugin?

[2020-03-20 00:42] membphis commented on #1243
Can you provide an example of how to solve this problem?
If a Keyauth plugin is used by a non-whitelisted consumer, will the current request be rejected?

[2020-03-20 01:35] moonming commented on #1304
Cool, @agile6v

[2020-03-20 01:36] soulsoul commented on #1243
@sshniro  yes.  the key-auth plugin only support basic authentication,  for enhance the security , we can use some other plugin to provide auxiliary capacity  on business. we maybe not make individual plugin too fat . right ?

[2020-03-20 03:36] cctv86 opened #1306 "feature: support multiple SNI for `ssl` object"
### Issue description

 ssl每次添加SNI都要创建证书, 后期证书到期，修改麻烦， 是否能借鉴kong， SNI做成一个list?

[2020-03-20 05:06] membphis commented on #1306
please use English on the public channel.

Your suggestion is very good. Would you like to contribute PR this?

[2020-03-20 05:10] membphis opened #1307 "plugin(proxy cache): blacklist `ngx.var.request_method` (or document them) in the `ngx.var.upstream_cache_key`"
commented at:
https://github.com/apache/incubator-apisix/pull/1305#issuecomment-601536988

[2020-03-20 06:20] cctv86 commented on #1306
support multiple SNI for `ssl` object

[2020-03-20 09:43] Akayeshmantha opened #1308 "Is there a way to skip unit tests with prove."
### Issue description

Is there any way to skip unit tests when running locally with the prove package.?

[2020-03-20 12:23] spacewander commented on #1202
If we run the log plugin in global rule, should we ensure the plugin can be run only one? Previously, the user might configure the same plugin both in the global rule and in the local rule.

[2020-03-20 15:28] membphis commented on #1202
I think that global rules and normal rules run independently, and the implementation will be simpler.

For example global `limit-count` rule and normal `limit-count` rule, we need two limit objects to work at the same time.

If you have different opinions, please leave a message to discuss.

In addition, not all plugins can be put into global rules (such as authentication plugins), we should add a

[2020-03-21 01:14] membphis commented on #1202
Some plugins are not allowed to run multiple times, such as monitoring plugins.

A flag is required to indicate whether the plugin allows multiple runs.

[2020-03-21 01:42] membphis opened #1311 "bug: failed to find Lua file if Apache APISIX install with Lua 5.3"
https://github.com/apache/incubator-apisix/pull/1157#issuecomment-601973561

[2020-03-21 23:38] membphis opened #1313 "CI(OSX): only run mini test case"

[2020-03-22 07:25] membphis opened #1315 "change: enable the `backlog` parameter to control the total number of concurrent connections"
## plugin `limit-count` with `redis`

https://github.com/apache/incubator-apisix/blob/master/lua/apisix/plugins/limit-count/limit-count-redis.lua#L50

## Reference doc

backlog if specified, this module will limit the total number of opened connections for this pool. No more connections than pool_size can be opened for this pool at any time. If the connection pool is full, subsequent connect opera

[2020-03-22 07:44] Akayeshmantha commented on #1315
Hi @membphis since its tcp related would like to give it a try after kafka plugin hope its ok?

[2020-03-22 08:15] #1294 closed

[2020-03-22 08:16] moonming commented on #1282
@qiujiayu any update?

[2020-03-22 08:21] moonming commented on #1308
you want to skip all test cases in `/t`?  Or only skip one test case file?

[2020-03-22 08:28] moonming commented on #1313
why only run amdin API in OSX?

[2020-03-22 08:34] Akayeshmantha commented on #1308
All test cases except one 😶 which am working on

[2020-03-22 08:37] moonming commented on #1308
you can run like this: `prove t/admin/ssl.t`

[2020-03-22 09:20] Akayeshmantha commented on #1308
Thanks @moonming

[2020-03-22 09:20] #1308 closed

[2020-03-22 11:38] membphis commented on #1313
I want to enable OSX system testing on each PR. If we run all test cases, it is too slow in OSX system.

Therefore, I think we can run mini test cases in OSX, which is enough for developers.

[2020-03-22 11:41] membphis commented on #1313
Currently we only run OSX tests when merging masters, and failing is allowed. This makes it easy to ignore this error.

[2020-03-22 11:44] membphis commented on #1315
that is fine @Akayeshmantha

[2020-03-22 13:03] gxthrj commented on #1315
Great, let me do it

[2020-03-22 13:05] moonming commented on #1313
I think failed should be not allowed

YuanSheng Wang <notifications@github.com>于2020年3月22日 周日下午7:41写道：

--
Thanks,
Ming Wen
Twitter: _WenMing

[2020-03-22 13:30] membphis commented on #1313
agree with you, that is why I create this issue.

[2020-03-22 16:03] #1313 closed

[2020-03-22 18:00] ShiningRush commented on #1200
@moonming @membphis Why the global rules will not run header_filter and body filter? and there is no any notice or error raise when a plugin which using the one of them, it will cause user confused(such me, i have cost much time to debug why the cors plugin work well in unit tests but not in out project, because unit tests bind to plugin and the latter bind to global rule)

[2020-03-23 00:33] membphis commented on #1200
it is a bug of global rules, here is a related issue: https://github.com/apache/incubator-apisix/issues/1202

We are discussing how to fix this bug.

[2020-03-23 00:33] #1200 closed

[2020-03-23 02:06] zhengyionline opened #1326 "Is it possible to have a script to convert etcd data and apisix.yaml file to each other?"
### Issue description
1、当进行路由Routes相关问题查找时，使用etcd查询不容易发现问题。
2、当第一次将接口全部向apisix迁移，使用apisix.yaml能更快更新etcd内数据

1. When looking for problems related to Routes, it is not easy to find problems using etcd queries.
2. When migrating all interfaces to apisix for the first time, use apisix.yaml to update the data in etcd faster.

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS: CentOS7

[2020-03-23 02:34] qiujiayu commented on #1282
Because these metadata is not only for the gateway, also apply to internal RPC. So be managed by registry

[2020-03-23 02:51] ShiningRush commented on #1202
I also think global plugin and normal plugin should work together except user indicate the plugin can be execute once.

[2020-03-23 03:24] aimpsmile commented on #1326
like upstream_id、service_id that id of auto make  . use etcd backup to data.whether is solve

[2020-03-23 06:42] chenqing24 commented on #487
Organization: jr.ly.com
Location: Shanghai, China
Contact: chenqing24@163.com
Scenario: API Gateway for PaaS
组织：同程金服
地址：中国 上海
联系方式：chenqing24@163.com
使用场景：内部云服务的接口网关

[2020-03-23 07:11] spacewander commented on #1202
@membphis @ShiningRush
I will work on it in a few days.

[2020-03-23 07:49] xxm404 opened #1328 "request help: can i modify apisix nginx conf directly"
### Issue description
This is our deploy modal
[code]
At this modal, we need run two nginx(1. apisix 2, our nginx), we just want run only one nginx, can i modify apisix nginx conf to realize it ?

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS: ubuntu 14.04

[2020-03-23 08:13] moonming commented on #1326
@zhengyionline Please use English in the public channel, thx

[2020-03-23 08:20] moonming commented on #1328
You cannot modify `nginx.conf` directly, tt is an automatically generated file and should remain read-only.
However, you can modify `bin/apisix` to add your custom nginx configures.

[2020-03-23 08:27] isNextJuly opened #1329 "apisix in Stand-alone mode Health check does not take effect"
part of apisix.yaml：
  -
    uri: /hello
    upstream:
        nodes:
            "127.0.0.1:8080": 1
        type: roundrobin
        retries: 2
        checks:
            active:
                http_path: "/status"
                host: "localhost"
                healthy:
                    interval: 2
                    successes: 1
                unhealthy:
                    interval:

[2020-03-23 08:36] xxm404 commented on #1328
Great thank you

[2020-03-23 08:36] #1328 closed

[2020-03-23 10:45] chenqing24 commented on #1100
Here is my solution for your reference：
[code]

[2020-03-23 11:44] isNextJuly commented on #1329
use docker image   test-api-gateway

[2020-03-23 14:21] lilien1010 opened #1331 "request help: I think we can remove websocket in proxy-write plguin"
since there is enable controller in the upstream module, there is  no need to have websocket enable in plugin.

And we need to mention this in the release note, so the user can transfer their configuration from proxy-rewrite into upstream

[2020-03-24 03:34] #1274 closed

[2020-03-24 07:07] sshniro commented on #1243
Yes, Agree @soulsoul
I think this can be a separate Access Control Plugin.

This is the scenario I have and I assume this can be a common scenario as well.

We are proxying device data through REST and MQTT and we provide a token to the device. The problem with the current implementation is, if the device has a valid token/key then it can publish data to any routes. We need a way to control it.

@

[2020-03-24 07:19] sshniro commented on #1250
Thanks, Yes it was working but gave 500 intermittently, I will try with another service and get back to you.

BTW, a suggestion why don't we host an echo service for APISIX itself?

I see some of the docs use this ip `http://39.97.63.215/`, I assume this IP belongs to the APISIX team, in that case, we can add an endpoint to echo the calls (+domain name), thus we can use it in all our docs.

[2020-03-24 07:23] sshniro commented on #965
The coroutine bug has been resolved for the batch processor, I will send a PR during the weekend for the HTTP logger.

[2020-03-24 12:19] #1329 closed

[2020-03-24 12:21] membphis commented on #1250
https://docs.google.com/document/d/1BNMWjXB5_yFsuP8WcJFH-a2mF9PfaH8Md-wUXGFG4MY/edit#heading=h.ovyshqokq27

@Akayeshmantha is working on this, you can talk to him directly.

[2020-03-24 12:22] membphis commented on #1250
we should remove it or use another address.

[2020-03-24 13:02] membphis commented on #1329
@isNextJuly please make a try with the latest master branch, we have fixed this bug.

[2020-03-24 13:16] #1331 closed

[2020-03-24 13:54] membphis commented on #1243
It looks good to me. @moonming What do you think?

[2020-03-24 14:23] membphis commented on #1100
https://github.com/apache/incubator-apisix/pull/1327/files#diff-5caafc33851762ad95581b482d00332aR137

New PR has been submitted, we can close this issue now

[2020-03-24 14:23] #1100 closed

[2020-03-24 14:25] membphis commented on #1326
No such feature at present, welcome to contribute PR

[2020-03-24 15:42] moonming opened #1335 "This is a backwards incompatible modification and should be specifically noted in PR"
This is a backwards incompatible modification and should be specifically noted in PR
@lilien1010

_Originally posted by @moonming in https://github.com/apache/incubator-apisix/pull/1332#issuecomment-602681258_

[2020-03-24 20:59] Akayeshmantha opened #1336 "Cron Job to clear travis ci cache daily ."
With the no of builds taking place from time to time, Travis ci gets slow. Will it be a good solution to remove cache daily with a cron job in Travis ?

[2020-03-24 22:27] membphis commented on #1336
These caches are mainly used to speed up environment installation. If we remove it, it will cause Travis to create the environment more slowly.

I recommend replacing Travis with Github Action later. Travis' number of concurrency is really too small.

[2020-03-24 22:35] membphis opened #1337 "doc(kafka-logger): Chinese version with minor changes."
https://github.com/apache/incubator-apisix/pull/1312/files#diff-50701cc078da868ee61347ef72b1ab43

[2020-03-25 00:26] #1259 closed

[2020-03-25 01:48] #1202 closed

[2020-03-25 02:09] ShiningRush commented on #1202
It seems just run log phase for global rules but did not run header_filter and body_filter phase, cors plugin will work on header_filter phase.Is there any risk for run global rule's header_filter phase?

[2020-03-25 02:31] membphis opened #1338 "feature: support to run `header_filter` and `body_filter` phase for global rules"
original comments: https://github.com/apache/incubator-apisix/issues/1202#issuecomment-603600053

[2020-03-25 02:32] membphis commented on #1202
@ShiningRush I have created a new issue: https://github.com/apache/incubator-apisix/issues/1338

PR welcome

[2020-03-25 03:01] isNextJuly commented on #487
Organization: Personal
Location: ZheJiang, China
Contact: sendsecond@gmail.com
Scenario: Provide stable traffic entry as gateway

[2020-03-25 04:24] leo-sam commented on #487
Organization: Jiandanxinli
    Location: Beijing, China
    Contact: lever0066@gmail.com
    Purpose: API gateway

[2020-03-25 06:24] Scorpiofu commented on #487
Organization: www.hellowin.cn
Location:Hangzhou, ZheJiang, China
Contact: fuyz@helowin.com
Scenario:  API Gateway for SaaS

[2020-03-25 07:36] Akayeshmantha commented on #1336
Sure 🙂

[2020-03-25 07:36] #1336 closed

[2020-03-25 07:37] Akayeshmantha commented on #1290
@membphis we can close this issue it seems

[2020-03-25 08:30] microxxx commented on #487
Organization: www.willclass.com
Location: Beijing, China
Contact: 379019902@qq.com
Scenario: api gateway

[2020-03-25 10:08] #1290 closed

[2020-03-25 11:28] spacewander commented on #708
@lilien1010 @membphis
Is there any PR to take over #719? That one is closed.

[2020-03-25 11:39] membphis commented on #708
I think we can close this PR, @lilien1010 has fixed this issue already.

[2020-03-26 01:39] #903 closed

[2020-03-26 02:43] csluoqi opened #1340 "bug: 在安装文档里centos里面 没有讲解安装etcd服务的过程，直接启动了etcd服务"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

在安装文档里centos里面 没有讲解安装etcd服务的过程，直接启动了etcd服务

### What's the expected result?
正确安装etcd服务

[2020-03-26 02:55] membphis commented on #1340
@csluoqi please use English in the public channel

[2020-03-26 03:50] csluoqi opened #1341 "bug: 这里启动方式是通过源码安装apisix后，在源码目录里执行的命令。如果是通过yum命令安装的则不适合"
### Issue description

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

![image](https://user-images.githubusercontent.com/13494828/77607427-417f8180-6f55-11ea-862d-4e8880b38711.png)

### What's the expected result?
添加说明，如果是通过源码安装的可

[2020-03-26 05:06] soulsoul commented on #1341
use English please！ @csluoqi

[2020-03-26 08:08] sshniro commented on #1250
Sure, will update!

[2020-03-26 08:08] #1250 closed

[2020-03-26 08:11] sshniro commented on #1196
We can close this as it is resolved by #1236

[2020-03-26 08:11] sshniro commented on #1189
Thanks!

[2020-03-26 08:11] #1189 closed

[2020-03-26 08:12] #1341 closed

[2020-03-26 08:13] moonming commented on #1341
@csluoqi Please use English in the public channel.
you can reopen this issue when you modify to English, thx

[2020-03-26 08:13] moonming commented on #1340
@csluoqi you can reopen this issue when you modify to English, thx

[2020-03-26 08:13] #1340 closed

[2020-03-26 08:14] sshniro commented on #1076
Closing the issues as it is resolved by #1121

[2020-03-26 08:14] #1076 closed

[2020-03-26 08:21] sshniro commented on #1243
Hi @moonming , @membphis I found a similar request by another user as well! #1062
But has a bigger scope of grouping consumers, and also extending it to jwt auth plugin as well.

I will be developing this plugin independently for our project's security requirements. Do let me know if this is a useful addition to APISIX as well. If so I can contribute the codebase to APISIX as well.

[2020-03-26 08:40] #1196 closed

[2020-03-26 10:44] membphis commented on #1243
@sshniro Yes, it is a useful feature for APISIX. Welcome PR ^_^

[2020-03-26 13:51] aimpsmile opened #1344 "bug: grpc_transcode .field `proto_id` json format problem. should not setting `required`"
### Issue description
pluginname  :
     grpc_transcode
json schema :
  ` required = { "proto_id", "service", "method" },`

service include many different method , possible is an proto file. proto_id is same .
error_info
   failed to check the configuration of plugin grpc-transcode err: property \"proto_id\" validation failed: object matches none of the requireds

### Environment

* apisix version

[2020-03-26 14:01] #1344 closed

[2020-03-27 01:38] membphis opened #1345 "bug: connect() to [::1]:9092 failed (99: Cannot assign requested address)"
version: `master` branch

@Akayeshmantha Do you have time to handle this bug?

https://travis-ci.org/github/apache/incubator-apisix/jobs/667493428#L777

[code]

[2020-03-27 03:06] moonming commented on #1345
I tried in my MBP and this test cese works well

[2020-03-27 06:32] membphis commented on #1345
In my Fedora 31 system, I get the same error when IPv6 is disabled.

[2020-03-27 07:50] #1345 closed

[2020-03-27 10:00] ZanderMo opened #1350 "request help: `Provisional headers are shown` in dashboard"
### Issue description
在插件里return 200,{msg:"somthing"},前端报 Provisional headers are shown
咋整？

### Environment

* apisix version (cmd: `apisix version`):1.1
* OS:

[2020-03-27 10:58] ZanderMo commented on #1350
跨域问题造成的，但是上游的已经解决了跨域问题，过了插件后就又跨域了，怎么解决啊

[2020-03-27 11:06] membphis commented on #1350
please use English in public channel

[2020-03-27 11:06] #1350 closed

[2020-03-27 11:24] Akayeshmantha commented on #1338
Hi @membphis  do we have any plugins we are running currently on the headerfiter phase or body filter phase ?

[2020-03-27 13:52] membphis commented on #1338
of course, we have plugin are using header filter phase and body filter phase.

eg: plugin `response-rewrite` .

[2020-03-27 13:56] Miss-you opened #1352 "request help: What's the use of doc / apisix-plugin-design.graffle?"
### Issue description

I looked at the documentation in the project and searched for this keyword. There was no related introduction and no place to use it.

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-03-27 13:56] Miss-you commented on #1352
@membphis

[2020-03-27 14:04] Akayeshmantha commented on #1338
I would like to work on this issue @membphis

[2020-03-27 14:12] membphis commented on #1352
I create the image by tool `OmniGraffle`, that is the source file.

![image](https://user-images.githubusercontent.com/6814606/77764659-f611c400-7077-11ea-8c41-aef8f798b8ce.png)

[2020-03-27 14:12] #1352 closed

[2020-03-28 00:01] membphis opened #1359 "travis: update the openresty to `1.15.8.3` for Tengine ENV"
Here is the source code:

https://github.com/apache/incubator-apisix/blob/master/.travis/linux_tengine_runner.sh#L57

[2020-03-28 00:41] dabue commented on #1352
Each plug-in should have  the check_schema method to avoid  wrong input  and  impact functions in specific phase by implementing the method such as rewrite.

lua/apisix.lua describes how to load plug-ins.

88786912@qq.com

From: 88786912@qq.com
Date: 2020-03-28 07:55
To: apache/incubator-apisix; incubator-apisix
CC: Subscribed
Subject: Re: Re: [apache/incubator-apisix] request help: What's the use

[2020-03-29 01:26] nic-chen commented on #1144
duplicate issue with  #1209

close.

[2020-03-29 01:26] #1144 closed

[2020-03-29 19:40] sshniro opened #1362 "request help: How to dump variable data for debugging"
### Issue description
I'm using MQTT plugin to proxy some data to a broker. Before sending the data to upstream I want to parse and implement some custom security workflows. Thus how can I print all the request data for debugging?

[2020-03-29 20:48] Akayeshmantha commented on #1359
@membphis  will be working on this

[2020-03-30 01:12] spacewander opened #1365 "Better to avoid responsing in header_filter_by_lua and body_filter_by_lua"
https://github.com/apache/incubator-apisix/blob/master/lua/apisix.lua#L142
[code]
Since `ngx.print` is meaningless after `content_by_lua`, maybe we can treat the filter phases as another log phase?

[2020-03-30 01:42] membphis commented on #1365
yes, you are right.

we can print an error log message in this case.

[2020-03-30 01:42] #1276 closed

[2020-03-30 01:51] membphis commented on #1362
There are two ways:

1. Use `json`.encode, the easiest, but not very convenient when viewing
2. Convert the request data into a hex string and output it in a format similar to `tcpdump`

[code]

[2020-03-30 06:34] csluoqi opened #1366 "bug:"
### Issue description
basic-auth插件，如果在页面上设置password为全数字，在通过curl 和postman测试后，都会报错
{"message":"Password is error"}。但是如果密码是英文，比如bar 那么两个测试工具的测试结果都是正确的。
### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

basic-auth插件，如果在页面上设置password为全数字，

[2020-03-30 08:50] moonming commented on #446
closed by https://github.com/apache/incubator-apisix/pull/1327

[2020-03-30 08:50] #446 closed

[2020-03-30 08:52] #1359 closed

[2020-03-30 08:58] Akayeshmantha opened #1369 "Refactor the way to run global rule in log/header filter/body filter phases to use the same function?"

[2020-03-31 03:22] yeahzi opened #1374 "bug: missing a comma in health-check.md example"
### Issue description

https://github.com/apache/incubator-apisix/blob/master/doc/health-check.md

Missing a comma in this code:
"nodes": {
            "127.0.0.1:1980": 1,
            "127.0.0.1:1970": 1
        }???
        "type": "roundrobin",

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual

[2020-03-31 03:22] lilien1010 opened #1375 "bug: restart apisix docker, show error log below"
### Issue description

[code]

### Environment

* apisix version (cmd: `apisix version`): master
* OS: Linux

[2020-03-31 04:09] membphis commented on #1375
please use the latest `master` branch, I have fixed it for days.

[2020-03-31 04:09] membphis commented on #1375
https://github.com/apache/incubator-apisix/commit/94cc688fc169bafc77483d0a796bb30d224ce756#diff-b67911656ef5d18c4ae36cb6741b7965

[2020-03-31 05:56] #1374 closed

[2020-03-31 06:15] sshniro commented on #1362
Thanks, I will try the tcpdump method.
I guess this can be added to the doc as well for reference?

[2020-03-31 06:18] sshniro commented on #1272
@moonming any thoughts on this enhancement?

[2020-03-31 07:34] moonming commented on #1272
`required_scope` should be `scope`?
others look good to me.

[2020-03-31 09:56] membphis opened #1378 "change: use local DNS resolver by default"
discuss email: https://lists.apache.org/thread.html/r98384d8c6a2fe4013c1d96430d51e500c4158a7531b79e67b0daa8ab%40%3Cdev.apisix.apache.org%3E

[2020-03-31 13:29] membphis commented on #1378
https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L83-L87

This configuration information is not required by default.

[2020-03-31 13:34] dabue commented on #1378
I'll update it.

88786912@qq.com

From: YuanSheng Wang
Date: 2020-03-31 21:30
To: apache/incubator-apisix
CC: Subscribed
Subject: Re: [apache/incubator-apisix] change: Should Apache APISIX use local DNS resolver by default (#1378)
https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L83-L87
This configuration information is not required by default.
—
You are receiving this becau

[2020-03-31 13:39] qiujiayu opened #1379 "feature: add global name"
APISIX need add global name for log platform, zipkin, such as spring boot 'spring.application.name',

[2020-03-31 13:53] qiujiayu commented on #1379
https://github.com/apache/incubator-apisix/pull/1370

the service name of Zipkin cloud be like this `service_name = zipkin.service_name or core.name` will be better.

[2020-04-01 01:28] qiujiayu commented on #1379
https://github.com/apache/incubator-apisix/pull/1241

the skywalking plugin also need.

[2020-04-01 07:02] rhubard opened #1382 "bug: yaml file array format problem"
### Issue description
[code]

this configure can work normally, but yaml will give an error if you write like this

[code]

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1.
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

![image](https://user-images.githubusercontent.com/26682689

[2020-04-01 09:50] aimpsmile opened #1384 "bug: admin api setting upstream config `checks` , function`clean_handlers` is nil"
### Issue description
upstream conf eg:
[code]
first add config happen error, error info eg:
[code]

### Environment

* apisix version (cmd: `apisix version`):  master And 1.0
* OS: centos7

### Minimal test code / Steps to reproduce the issue
1. first call admin api write upstream config after request server api error occurred.
2. restart apisix server,  request server api  get right
3. guess  sh

[2020-04-02 00:46] #1338 closed

[2020-04-02 00:55] #1307 closed

[2020-04-02 01:16] #1378 closed

[2020-04-02 03:35] membphis commented on #1382
that should be a bug of `lua-tinyyaml`

[2020-04-02 03:38] membphis commented on #1384
I will check it later, thanks for your report.

[2020-04-02 03:48] membphis commented on #1362
I am not sure. Anyone else have comments?

[2020-04-02 06:02] marshalys opened #1390 "request help: document not valid"
### Issue description
I follow this document to setup apisix: https://github.com/apache/incubator-apisix/blob/master/doc/how-to-build.md#5-update-admin-api-token-to-protect-apache-apisix
I install success. But I found that  set `admin_key ` has no effect. May be  `admin_key ` is not valid in 1.1

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS: ubuntu 18.04

[2020-04-02 06:05] membphis commented on #1390
you need to use the doc v1.1:

https://github.com/apache/incubator-apisix/blob/v1.1/doc/how-to-build.md

[2020-04-02 06:05] #1390 closed

[2020-04-02 09:20] #1365 closed

[2020-04-03 02:32] moonming commented on #1366
@csluoqi Can you provide an example of a reproduction? I tested the digital password and it didn't come up.

[2020-04-03 02:36] #1375 closed

[2020-04-03 02:58] moonming commented on #1362
I think it could be added to MQTT's documentation.

[2020-04-03 04:58] membphis opened #1395 "doc(k8s): add a link to `doc/README.md`"
https://github.com/apache/incubator-apisix/blob/master/doc/README.md

And we need more comments: https://github.com/apache/incubator-apisix/pull/1218/files#r400574549

[2020-04-03 05:33] membphis commented on #1366
need a title for this issue @csluoqi

[2020-04-03 08:46] totemofwolf commented on #953
It is said that OpenResty 1.17.8.1 RC1 has feature:
`Updated the ngx_ssl.get_tls1_version_str() API to recognize TLS 1.3 connection.`

refer to :
http://openresty.org/cn/ann-1017008001rc1.html

[2020-04-04 00:23] #1369 closed

[2020-04-04 02:55] dabue commented on #1384
I want to fix it.

[2020-04-04 05:59] csluoqi commented on #1366
| |
csluoqi
|
|
csluoqi@126.com
|
签名由网易邮箱大师定制
1.
the uris is available

2.password is 1234567890

3.password is 1234567890 get this result
if password is bar   result issuccess

I tried the old password bar again. He actually can use it normally, so the problem may not be that the number cannot be used as the password, but the password cannot be changed. But after deleting the basic auth, the rout

[2020-04-04 13:28] membphis commented on #1366
I make a test right now, it works fine, please take a look at the steps.

[code]

[2020-04-06 02:46] membphis commented on #1311
it should be fixed https://github.com/apache/incubator-apisix/pull/1351

[2020-04-06 02:46] #1311 closed

[2020-04-06 02:47] membphis commented on #880
The questioner had no further information and closed it first.

[2020-04-06 02:47] #880 closed

[2020-04-06 02:48] #708 closed

[2020-04-06 02:48] membphis commented on #878
The questioner had no further information and closed it first.

[2020-04-06 02:48] #878 closed

[2020-04-06 03:04] #573 closed

[2020-04-06 03:32] membphis commented on #1057
This is not a bug. When an item in etcd expires, we will receive a notification signal.

[2020-04-06 03:32] #1057 closed

[2020-04-06 03:36] marshalys commented on #1390
Thank you!

[2020-04-06 03:38] marshalys opened #1399 "request help: do you have plan to support let's encrypt?"
### Issue description
let's encrypt can auto renew cert, does apisix have some plan to support it ?

[2020-04-06 05:01] samunbest opened #1400 "bug: failed to load plugin install by docker"
### Issue description
2020/04/06 04:54:18 [error] 23#23: *1 [lua] plugin.lua:66: load_plugin(): failed to load plugin [proxy-cache] err: module 'apisix.plugins.proxy-cache' not found:
	no field package.preload['apisix.plugins.proxy-cache']
	no file '/usr/local/apisix//deps/share/lua/5.1/apisix/plugins/proxy-cache.lua'
	no file '/usr/share/lua/5.1/apisix/lua/apisix/plugins/proxy-cache.lua'
	no file

[2020-04-06 05:18] leonardjin opened #1401 "request help:"
### Issue description
request the openresty and apisix ,I build a uri that returns 404 ,like
![image](https://user-images.githubusercontent.com/21360614/78524890-efb5e180-7807-11ea-972c-ddbc9ab01024.png)

![image](https://user-images.githubusercontent.com/21360614/78524910-fe03fd80-7807-11ea-861d-b898c29241da.png)

![image](https://user-images.githubusercontent.com/21360614/78524921-05c3a200-7808-

[2020-04-06 05:20] #1401 closed

[2020-04-06 05:20] leonardjin commented on #1401
afa

[2020-04-06 05:24] samunbest commented on #1400
the problem occurs even if  i fetch the latest version

[2020-04-06 09:56] membphis commented on #1399
yes, that is a todo item. welcome PR

[2020-04-06 09:57] membphis commented on #1400
Please provide your installation steps

[2020-04-06 11:24] moonming commented on #1400
@samunbest I think you need to update `config.yaml`. please check if `proxy-cache` plugin is in the configuration file

[2020-04-06 11:44] samunbest commented on #1400
here is one of the errors in the error log，there are many errors like this。

[2020-04-06 11:46] samunbest commented on #1400
i just followed the official guides
https://github.com/apache/incubator-apisix-docker

[2020-04-06 12:49] Miss-you opened #1403 "bug: Use Apache APISIX 1.1 version pressure test to find a performance problem"
### Issue description

I took a stress test on Apache APISIX version 1.1 during the holiday and only ran a nginx worker process. The machine type is a physical machine, the operating system is tlinux2.2 0046, and the kernel version is 3.10.107

Pressure test method:
Directly request apisix. There is no rule in apisix itself, and the hit route matches the logic.
Pressure test command:

./wrk -c 10

[2020-04-06 12:51] moonming commented on #1400
please try the latest version: https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml

[2020-04-06 12:52] membphis commented on #1400
it seems that you are using the latest `config.yaml` file with APISIX version 1.1 .

I think you should use https://github.com/apache/incubator-apisix/blob/v1.1/conf/config.yaml

[2020-04-06 12:54] membphis commented on #1403
we have fixed this bug, please make a try with the master version.

commit: https://github.com/apache/incubator-apisix/commit/2870b798339a12364e5a7a3094f7a6eb8cb9df0d

[2020-04-06 12:58] #1403 closed

[2020-04-06 13:07] samunbest commented on #1400
it works！thanks very much

[2020-04-06 13:09] samunbest commented on #1400
it works，thanks a lot

[2020-04-06 13:13] #1400 closed

[2020-04-06 13:54] de1o opened #1404 "[discuss] maybe apisix should look for an A record in dns query result instead of get random one"
### Issue description
now in apisix.core.utils.dns_parse method, the code choose a random one from dns query result.
when the dns record is a CNAME record, dns query may get result like
[code]
in this case, user expect to get the A record of domain server.xxx.com, while apisix will return random result, which may cause upstream/routes get empty nodes.

### Environment

* apisix version (cmd: `apis

[2020-04-06 14:00] de1o commented on #1404
I read the current master branch code, my issue has already been solved, dns_parse do a second dns query for the CNAME domain.
In my test case, the A record will return in the first DNS query(with the CNAME record as array), so may be do a loop find first can save a dns query?

[2020-04-06 14:43] membphis commented on #1404
The first one is not a good solution by default.

DNS returns multiple addresses, it is to let the client choose randomly, so that it can achieve "load balancing".

[2020-04-06 15:14] de1o commented on #1404
thanks, so we can still filter all A records in query result and then choose a random one(for saving another dns query?)

[2020-04-06 20:34] Akayeshmantha opened #1406 "implement sys logger for apisix"

[2020-04-07 00:16] membphis commented on #1406
please provide more detail information

[2020-04-07 00:17] membphis commented on #1404
yes. we can close this issue now.

[2020-04-07 00:17] #1404 closed

[2020-04-07 00:42] moonming commented on #1406
will implemented by https://github.com/detailyang/lua-resty-rfc5424 or https://github.com/cloudflare/lua-resty-logger-socket?

[2020-04-07 05:49] bzp2010 opened #1408 "request help: Can supported to bind consumer to service or route?"
### Issue description
At present, it seems that only by creating a consumer and adding the same plugin to route or service can route and service be authenticated.

Whether it should be allowed to bind consumers directly to a route or service to achieve exact matching of consumers instead of allowing all routes and services using the same authentication plug-in to be globally matched.
### Environme

[2020-04-07 07:13] membphis commented on #1408
why do we need this feature?

[2020-04-07 08:12] wwd5613 opened #1409 "request help: routes only ipv4 or ipv6 support"
### Issue description

when I set a route like

[code]

i can visit by ipv4 or ipv6

### Environment

* apisix version (cmd: `apisix version`):
1.1
* OS:
only alowed by ipv4 or ipv6

[2020-04-07 10:04] Akayeshmantha commented on #1406
Yeah @moonming  @membphis

resty.logger.socket. Would it be ok to move forward with it ?

[2020-04-07 10:38] Akayeshmantha commented on #1406
But this library is not in luarocks will it be an issue

[2020-04-07 10:38] membphis commented on #1409
By default, both IPv4 and IPv6 are enabled.

Are you asking how to use only IPv4 or IPv6? If so, you can consider using filter_fun.

[2020-04-07 10:59] membphis commented on #1406
I have uploaded it to luarocks right now: https://luarocks.org/modules/membphis/lua-resty-logger-socket

@Akayeshmantha I think you can continue your job

[2020-04-07 11:22] Akayeshmantha commented on #1406
thanks @membphis

[2020-04-07 11:56] Akayeshmantha opened #1410 "bug: Small Issue in Error messages in UDP and TCP loggers."
Small Issue in Error messages in UDP and TCP loggers.

[2020-04-07 14:44] leonardjin opened #1413 "request help: compared with openresty ,the qps is lower (turn off keepalive)"

[2020-04-08 00:42] moonming commented on #1413
A few questions.
- What pressure measurement tool is used and is the cpu of OpenResty and Apache APISIX fully loaded?
- Does OpenResty have keepalive on?
- In Apache APISIX, it is recommended to use the adimn API rather than the nginx configuration file for testing, which skips a lot of Apache APISIX optimization

In your test scenario, there is no routing, plug-ins, etc. for Apache APISIX that wo

[2020-04-08 00:56] moonming opened #1415 "add schema check, Chinesse doc and more test cases for JWT plugin"
I think we can merge fisrt, then add schema check, Chinesse doc and more test cases in another PR.

_Originally posted by @moonming in https://github.com/apache/incubator-apisix/pull/1224#discussion_r405197863_

[2020-04-08 01:31] #1410 closed

[2020-04-08 01:34] #1223 closed

[2020-04-08 01:39] membphis commented on #1413
@leonardjin you can run a benchmark by this: https://github.com/apache/incubator-apisix/tree/master/benchmark

if you found the performance is bad, please provide the same information, we need them for confirming.

[2020-04-08 01:41] membphis commented on #1413
That is the wrong way, please pay attention to this.

[2020-04-08 02:49] leonardjin commented on #1413
in my case, I cannot use the keepalive

[2020-04-08 02:50] leonardjin commented on #1413
wrk
or not  keepalive

[2020-04-08 02:58] bzp2010 commented on #1408
It can help solve access control and control which routes and services a consumer can access.
In the current program, it seems that several routes and services with the same authentication plug-in can be accessed by the same consumer, which may cause unauthorized access.

[2020-04-08 03:25] membphis commented on #1413
@leonardjin please provide your fully test scripts, we need a simple way to get your problem.

[2020-04-08 03:41] letwang opened #1416 "APISIX可以助力PHP实现微服务么？"
APISIX可以助力PHP 轻松实现微服务么？比如 [HookPHP](https://github.com/letwang/HookPHP/)
APISIX有解决长连接的问题么？

[2020-04-08 05:26] membphis commented on #1416
please use English in public channel

[2020-04-08 05:26] #1416 closed

[2020-04-08 08:09] membphis commented on #1408
you are right, that is a todo feature

[2020-04-08 08:16] FunnySunshine520 opened #1418 "request help: Upstream： How to add a node with domain name correctly？"
### 我是一个apisix新用户，在使用新建upstream时使用域名+port作为node时遇到问题。
当我新建一个upstream和一个route后，
使用get请求该路由时（http://127.0.0.1:9080/x/api/business/test-es-data），返回：
`Not Found
The requested URL was not found on this server.

Additionally, a 404 Not Found error was encountered while trying to use an ErrorDocument to handle the request.

Apache/2.4.41 Server at 127.0.0.1 Port 80`

**upstream配置如下**：
`{
     "type": "ro

[2020-04-08 08:24] #943 closed

[2020-04-08 09:00] membphis commented on #1418
you need to set `host`, take a look at this plugin: https://github.com/apache/incubator-apisix/blob/master/doc/plugins/proxy-rewrite.md#attributes

[2020-04-08 11:30] chensunny opened #1424 "bug: github who uses images fail to load"
### Issue description

github repo  `who uses`  images  fail to load

### Environment

* apisix version (cmd: `apisix version`):
* OS:

### Minimal test code / Steps to reproduce the issue
1. https://github.com/apache/incubator-apisix#who-uses-apisix
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

I can see the images

### What's the expected result?

[2020-04-08 14:13] leonardjin opened #1429 "request help: can I assign some wokers to do another thing?"
### Issue description

can I assign some wokers  to do another thing  ？

[2020-04-08 14:59] #1424 closed

[2020-04-08 15:03] membphis commented on #1429
can you show me a fake code?

I am not sure if this can help you.

https://github.com/apache/incubator-apisix/blob/master/apisix/plugins/heartbeat.lua#L128

[2020-04-08 16:05] leonardjin opened #1431 "bug:"
![image](https://user-images.githubusercontent.com/21360614/78806032-c312ed00-79f4-11ea-8c6e-06d301ac340f.png)

prometheus  impact the performance too much

is there space to optimize the plugins?

there is no prometheus route
![image](https://user-images.githubusercontent.com/21360614/78807234-5a2c7480-79f6-11ea-9dab-ae1d84e20dff.png)

there is a prometheus route and press the other route without

[2020-04-09 00:40] membphis commented on #1431
please prove more information, for example, your route rules. one more thing, please confirm you are using standard `prometheus` plugin of Apache APISIX.

I have tested the prometheus plugin before, and the performance drop after activation is about 15%.

If you want to get better performance, this library may be useful: https://github.com/Kong/lua-resty-counter .

[2020-04-09 00:41] membphis commented on #1431
@leonardjin please set a good title, I think you just need help.

[2020-04-09 00:57] moonming commented on #1431
The top of the flame diagram is garbled, is the full debug symbol not installed?

[2020-04-09 00:59] moonming commented on #1431
Looking at the call stack of the flame graph, it appears that the plug-in for Apache APISIX is indeed being used

[2020-04-09 01:01] moonming commented on #1431
I don't think this will solve the problem. If the flame graph had been displayed more completely, we would have been able to find the bottleneck. We can't just shoot with our eyes closed.

[2020-04-09 01:54] Miss-you commented on #1431
dependencies = {
    "lua-resty-template = 1.9",
    "lua-resty-etcd = 0.9",
    "lua-resty-balancer = 0.02rc5",
    "lua-resty-ngxvar = 0.5",
    "lua-resty-jit-uuid = 0.0.7",
    "lua-resty-healthcheck-iresty = 2.0",
    "lua-resty-jwt = 0.2.0",
    "lua-resty-cookie = 0.1.0",
    "lua-resty-session = 2.24",
    "opentracing-openresty = 0.1",
    "lua-resty-radixtree = 1.8",
    "lua-protobuf =

[2020-04-09 01:58] membphis commented on #1431
how

[2020-04-09 11:28] OnlyPiglet commented on #1415
hope soon

[2020-04-10 08:35] Miss-you commented on #1403
Thanks, already solved
Because the table t has not been cleaned up, it causes more and more memory to be used, which affects the operating efficiency of apisix.
Furthermore, the way Lua is written is very different from that of golang or java. Local variables do not end their life cycle due to the exit of the function and need to be released by themselves.

[2020-04-10 10:30] vrc289 opened #1438 "[HELP]: how to install APISIX without a network"
### Issue description
官方的指导对于有网络的情况比较好，但是对于某些无网络的情况下感觉不是很好，相比于OR， 在无网络的情况下安装好openssl pcre  zlib 等库后就可以正常源码安装不同，官方指导中的每一种方式都需要连接服务器，想请教一下大家如何才能正常的在无网络的情况下顺利安装APISIX

### Environment

* apisix version (cmd: `apisix version`):  1.1
* OS: redhat 7.2

[2020-04-11 01:17] membphis commented on #1438
you can install the APISIX by rpm package.

https://github.com/apache/incubator-apisix/blob/master/doc/how-to-build.md#installation-via-rpm-package-centos-7

[2020-04-11 08:02] xxm404 opened #1439 "request help: Occurred error when i run version command"
### Issue description
When I run `sudo apisix version`, it give me an error message:
[code]

### Environment
* OS: ubuntu 14.04
* apisix version: 1.1
* openresty 1.15.8.3

[2020-04-12 01:31] #954 closed

[2020-04-12 20:59] Akayeshmantha opened #1444 "LDAP - Auth Plugin Impmentation. (GSoC :- 2020)"
https://github.com/lualdap/lualdap

Will be using this plugin as the base.

[2020-04-13 02:36] vrc289 commented on #1438
sudo yum install -y https://github.com/apache/incubator-apisix/releases/download/1.1/apisix-1.1-0.el7.noarch.rpm

when you execute the above instruction without a network,  you will miss about 20 lua package, and you can't run the apisix server successfully

[2020-04-13 07:27] #1243 closed

[2020-04-13 09:23] eiyouwang opened #1447 "request help: How to add new consumer in stand-alone mode?"
### Issue description
Since we cannot using Admin API when using the stand alone mode, how can we add a new consumer or bind a consumer to the route?
Can we add the consumer and binding relationship in the yaml file like the route/service/upstream?

### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-04-14 09:19] cyxinda opened #1449 "bug: lua: /usr/bin/apisix:535: module 'apisix.core.profile' not found:"
### Issue description
When I install the apisix of the version 1.2 or the version master,the bug 'lua: /usr/bin/apisix:535: module 'apisix.core.profile' not found:' happens.

### Environment
* My lua version is :
`[root@v175 incubator-apisix-master]# lua -v
Lua 5.3.5  Copyright (C) 1994-2018 Lua.org, PUC-Rio
`
* apisix version (cmd: `apisix version`):
1.2 or master
* OS:centos 7.5
### Minimal test

[2020-04-14 09:46] stone4774 opened #1450 "feature: Multiple accounts can be configured for one consumer"
At present, when creating a consumer, if you use the basic auth authentication method to configure multiple basic auth accounts, only the last one will be kept, and you want to configure multiple accounts at the same time

Scenario: a consumer has multiple instances. If the account password of its basic auth is leaked, the account or password must be changed. In the process of changing, there will

[2020-04-14 09:53] spacewander commented on #1382
I just submitted a PR to fix it: https://github.com/peposso/lua-tinyyaml/pull/5

[2020-04-14 10:33] ShiningRush commented on #1438
Run a container is a good choice, [here](https://hub.docker.com/r/apache/apisix) is image.

[2020-04-14 12:56] agile6v commented on #1439
@xxm404  How is APISIX installed?

[2020-04-14 14:47] membphis opened #1451 "optimize(prometheus): sync new code from `knyar/nginx-lua-prometheus`"
https://github.com/knyar/nginx-lua-prometheus/pull/75

We can cherry-pick some code from this PR .
Or we can use the new code directly.

[2020-04-15 02:19] membphis commented on #1449
the `2` step is wrong.

The Apache APISIX can not be installed by this way. `make install` is a wrong way.

If you want to install APISIX to your local machine, you need to install it by luarocks.

[code]

[2020-04-15 02:19] #1449 closed

[2020-04-15 02:25] membphis commented on #1438
This package packages all the dependencies, you only need to install openresty and etcd. Then APISIX can work normally.

[2020-04-15 02:26] membphis commented on #1439
What are your installation steps? @xxm404

[2020-04-15 05:50] moonming commented on #1451
@Miss-you please take a look

[2020-04-15 06:33] moonming commented on #1447
@membphis please have a look

[2020-04-15 06:48] moonming commented on #1450
In the case of a password leak, old passwords shouldn't be allowed to be accessed, right?

[2020-04-15 06:52] moonming commented on #1449
@membphis I think we can change the name of `make install`

[2020-04-15 06:55] xxm404 commented on #1439
this is my step to install APISIX
1. Install openresty 1.15.8.3 from source
2. sudo luarocks install apisix 1.1

[2020-04-15 07:17] stone4774 commented on #1450
Yes, so the password needs to be changed. The problem is how to ensure that 403 will not be returned in this process;

 I create a consumer for each service to control its access to other services, so I must ensure that the request of the service is stable during password change;

If a consumer can support multiple accounts at the same time, it means that I can configure a new account password for

[2020-04-15 07:46] stone4774 opened #1452 "feature: Load balancing of weighted-upstream"
Currently, it only supports the weight configuration of different nodes in an upstream; it is usually used to adapt to the differences in the capabilities of each node; what is needed now is that different versions of a service can carry out load balancing according to different weights;

In the current architecture model, upstream can take the role of service version very well. We only need to su

[2020-04-15 07:52] moonming commented on #1452
@stone4774 can you show a example? thx

[2020-04-15 07:57] FunnySunshine520 opened #1453 "request help: How to set user rights management？"
### Issue description
If I had five interfaces：foo/a, foo/b, foo/c, foo/d, foo/e;
And there are two consumers: userA, userB.

userA can only access interface foo/a, foo/b, foo/c
userB can only access interface foo/c, foo/d, foo/e

I want userA and userB to use the same URL access foo/e，then userA does not have permission and userB may access normally。

### question
Can I build the effect I want th

[2020-04-15 07:58] cyxinda commented on #1449
There are three ways to install apisix at least in the guidance document,include 'source code','luarocks',' yum' and so on. Why the way of source code is wrong ? And the way  by yum is also wrong .
`
[root@v175 install]# wget http://www.apache.org/dist/incubator/apisix/1.2/apache-apisix-1.2-incubating-src.tar.gz
--2020-04-15 15:51:25--  http://www.apache.org/dist/incubator/apisix/1.2/apache-apisix

[2020-04-15 08:02] cyxinda commented on #1449
There are three ways to install apisix at least in the guidance document,include 'source code','luarocks',' yum' and so on. Why the way of source code is wrong ? And the way  by yum is also wrong .
`
[root@v175 install]# wget http://www.apache.org/dist/incubator/apisix/1.2/apache-apisix-1.2-incubating-src.tar.gz
--2020-04-15 15:51:25--  http://www.apache.org/dist/incubator/apisix/1.2/apache-apisix

[2020-04-15 08:33] membphis commented on #1450
You can do this through a custom authentication plugin. Not all users need this feature.
It maybe wrong for some users.

[2020-04-15 08:37] membphis commented on #1449
Determine whether it is loaded by Luarocks.

If no Luarocks environment variable is found, we can display some warning messages.

[2020-04-15 09:34] Miss-you opened #1455 "bug: APISIX Admin API security risks"
Hi, the security department of Tencent recently discovered that Kong's Admin component has security risks. For details, please refer to this link: https://mp.weixin.qq.com/s/Ttpe63H9lQe87Uk0VOyMFw
I read the preliminary article and think that our APISIX Admin API has the same risks.

1. The old version of APISIX Admin does not use authentication capabilities, it is recommended: upgrade to the new

[2020-04-15 09:36] Miss-you opened #1456 "request help: Backlog parameter value tuning"
APISIX backlog is currently the default value(Usually 128), and it is prone to packet loss in the listen queue and semi-link queue in large concurrent scenarios.

APISIX is based on nginx. The backlog value of nginx is determined by two system configurations and one configuration value in nginx.conf:
1. System parameters:
sysctl net.ipv4.tcp_max_syn_backlog
sysctl net.core.somaxconn
2. nginx.conf:

[2020-04-15 09:47] cuishuoguo opened #1457 "request help: Whether to consider blocking port 80 automatically when ssl is enabled?"
Whether to consider blocking port 80 automatically when ssl is enabled? Instead of adopting a policy of prohibiting access to port 80 on the server firewall. In this way, the gateway can focus on only listening to the ssl port

[2020-04-15 09:54] membphis commented on #1439
It should be an old bug of APISIX with version 1.1 . And we have fixed this bug in `master` branch.

I checked the master branch with version `apisix-master-0` it seems fine.

`luarocks install master-0` good luck.

[2020-04-15 09:54] #1439 closed

[2020-04-15 10:02] iGeeky commented on #1453
You can try this plugin [wolf-rbac](https://github.com/apache/incubator-apisix/blob/master/doc/plugins/wolf-rbac.md). Its main function is user authentication and interface authorization management, the corresponding function is provided by [wolf](https://github.com/iGeeky/wolf). wolf-rbac plugin for wolf client.

[2020-04-15 10:09] cyxinda commented on #1449
After I reinstalled all the  independencies of the software ,the apisix of version1.2 has been installed successfully.
呜呜呜..........

[2020-04-15 13:18] OnlyPiglet opened #1459 "bug: delete global_rules will 500 status if the id is nil"
### Issue description
when I try to delete global_rules without id ,the sysytem will occur 500

### Environment

* apisix version (cmd: `apisix version`): v1.1
* OS: centos 7.0

### Minimal test code / Steps to reproduce the issue
1.  method:delete path http://host:9080/apisix/admin/global_rules/
2.
3.

### What's the actual result? (including assertion message & call stack if applicable)

500 ope

[2020-04-15 13:35] moonming commented on #1455
welcome PR to fix `3`

[2020-04-16 00:59] moonming commented on #1457
Will there be users who need to keep both http and https?

[2020-04-16 01:01] moonming commented on #1453
how about https://github.com/apache/incubator-apisix/pull/1437?

[2020-04-16 01:02] moonming commented on #1459
@membphis please take a look

[2020-04-16 01:10] membphis commented on #1455
note: This PR has fixed the second point here.

https://github.com/apache/incubator-apisix/pull/1458

[2020-04-16 01:28] membphis commented on #1455
Is it enough to enable self-signed certificate?

[2020-04-16 01:30] moonming commented on #1455
yes, it's enough.

Thanks,
Ming Wen
Twitter: _WenMing

YuanSheng Wang <notifications@github.com> 于2020年4月16日周四 上午9:29写道：

[2020-04-16 03:59] qiujiayu commented on #1282
implement in https://github.com/apache/incubator-apisix/pull/1440

[2020-04-16 03:59] #1282 closed

[2020-04-16 04:59] membphis opened #1463 "change: show a warning message if the user tries to install APISIX by the command `make install`"
issue comment: https://github.com/apache/incubator-apisix/issues/1449#issuecomment-613901334

1. we can hide the `install` command
2. show a warning message if the user tries to install by `make install`

[code]

[2020-04-16 06:01] xiangxiren opened #1464 "feature: Admin API Support get only all healthy upstream services"
The current interface obtains all upstream services,including healthy and unhealthy.Now, I hope to provide an interface that can only get healthy upstream services.Just like the interface of consul.

[2020-04-16 06:27] membphis commented on #1456
http://nginx.org/en/docs/http/ngx_http_core_module.html#listen

“sets the backlog parameter in the listen() call that limits the maximum length for the queue of pending connections. By default, backlog is set to -1 on FreeBSD, DragonFly BSD, and macOS, and to 511 on other platforms.”

the default of `backlog` should be `511`.

[2020-04-16 07:06] xuliangyong opened #1465 "How to match the root directory？"
### Issue description
I want match，
Then jump to different routes according to the conditions
as follows：

[code]

Is it okay to write like this？
-
    uri: /
    plugins:
        xxxxx: {}

If not okay, what should I write

### Environment

* apisix version  1.1
* OS: centos7

[2020-04-16 07:08] membphis commented on #1465
the current way is right.

[2020-04-16 07:32] xuliangyong commented on #1465
thanks！

[2020-04-16 09:03] stone4774 commented on #1452
When a service publishes a new version, you can create a new upstream (similar to the cluster in envy) for the instance of the new version, configure it to the service, and specify the weight as follows:

curl http://127.0.0.1:9080/apisix/admin/services/200 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "weighted_upstreams": {
        "total_weight": 100,
        "upstream_ids"

[2020-04-16 11:23] membphis opened #1466 "doc: Chinese version"
only updated English version, we need to update the Chinese version too.

https://github.com/apache/incubator-apisix/pull/1454

[2020-04-16 11:33] xuliangyong commented on #1465
2020/04/16 19:32:40 [error] 18219#18219: *1634757 [lua] balancer.lua:299: load_balancer(): failed to pick server: missing upstream configuration while connecting to upstream, client: 172.22.142.141, server: , request: "GET / HTTP/1.1", host: "1001.sszt.yun300.cn"

[2020-04-16 11:38] membphis commented on #1465
that is a mini test case, and I confirm it can work fine.

Please check that you have set "#END" in the correct way.

[code]

[2020-04-16 11:40] membphis commented on #1465
BTW, we dont have the code of plugin `sszt-anth`. you can make a try with plugin `fault-injection`.

[2020-04-16 11:52] dabue commented on #1466
I'll update it.

[2020-04-16 11:59] 342379784 opened #1467 "request help:"
### Issue description
1.我在linux上装了redis驱动，然后自己写的lua代码测试连接redis成功。
2.我先写了一个插件，配置到apisix里，能正常启动，插件加载成功，我在web页面看到了我写的插件
[3.然后我在第二步的插件里加入redis连接的代码，启动失败，提示找不到redis model
![微信图片_20200416195521](https://user-images.githubusercontent.com/30980874/79453407-40a1b300-801c-11ea-91bb-7638d7be21c8.png)
，错误日志见图片
猜测：这个错误是plugin.lua报出来的，是不是我在我写的lua文件引入后，还需要再apisix代码的某一处也需要引入

i am chinese,english is so bad,please

[2020-04-16 12:06] xuliangyong commented on #1465
![image](https://user-images.githubusercontent.com/26759441/79454292-87dc7380-801d-11ea-837a-1942e50af253.png)

**error info**
2020/04/16 20:03:27 [error] 15684#15684: *2275265 [lua] config_yaml.lua:166: failed to check item data of [routes] err:property "upstream" validation failed: property "nodes" is required ,val: {"uri":"\/","upstream":{"hash_on":"vars","fault-injection":{"abort":{"body":"hel

[2020-04-17 08:54] fregie opened #1469 "request help: How to add proto file that import another proto file?（如何添加相互依赖的多个proto文件）"
### Issue description
我有几个相互依赖的proto文件需要添加目录结构如下
├── boost
│   ├── accelConf
│   │   ├── accelConf.pb.go
│   │   └── accelConf.proto
│   ├── boost.pb.go
│   └── boost.proto
├── code
│   ├── code.pb.go
│   └── code.proto
├── go.mod
├── go.sum
├── line_manager
│   ├── line_manager.pb.go
│   └── line_manager.proto
├── README.md
└── util
    ├── util.pb.go
    └── util.proto

我把几个proto文件都按照文档添加了，但是添加后

[2020-04-17 09:51] shuaijinchao opened #1470 "bug: apisix 0.7 0.8 0.9 installation failed due to `lua-resty-healthcheck-iresty` version invalid."
### Issue description
APISIX 0.7、0.8 and 0.9 depend `lua-resty-healthcheck-iresty` 1.0.1 version, Luarocks installation prompts that the version is invalid and causes the installation to fail.
This problem will occur in any system installed via luarocks.
Solution: Install `lua-resty-healthcheck-iresty` version 2.0 via luockock. The most perfect way is to add 1.0.1 version tags in the `lua-resty-he

[2020-04-18 10:56] xuliangyong opened #1472 "Failed to start image using k8s yaml file"
### Issue description
Below is my yaml file
[code]
Then run cmd
` kubectl apply -f apisix.yaml`
`kubectl logs apisix-v1-6858f69bdc-pjj6v -n sszt`
Below is the error message
**nginx: [emerg] no name servers defined in /usr/local/apisix/conf/nginx.conf:48**
Line 48 is
 resolver 114.114.114.114 223.5.5.5 1.1.1.1 8.8.8.8 ipv6=off;

### Environment

* apisix image tag ：apache/apisix:1.1-alpine
* apisix

[2020-04-18 11:11] #1466 closed

[2020-04-19 02:05] xuliangyong commented on #1472
Add the following code to solve
      dns_resolver:                   # default DNS resolver, with disable IPv6 and enable local DNS
        - 114.114.114.114
        - 223.5.5.5
        - 1.1.1.1
        - 8.8.8.8

[2020-04-19 02:05] #1472 closed

[2020-04-19 02:27] moonming commented on #1467
Since I can't see your code, I'm guessing it's the path require issue.
You can refer to other plug-ins that have introduced redis components

[2020-04-19 02:28] moonming commented on #1469
@nic-chen please take a look.

[2020-04-19 02:36] 342379784 commented on #1467
是的，我前天忽然发现有别的插件引用了redis，参考代码修改了下，可以正常引用redis了0.0。
但是又碰到了一个问题，我自己写好的插件，已经能显示在页面中的插件列表里了，在ruter里添加后点击保存的时候提示没有这个插件，你看截图
目前我只在conf/config.yaml配置过，我猜测是不是还要在别的文件里配置，但是不知道在哪里配，github上的文档也没找见。。。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Wen Ming"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月19日(星期天) 上午10:27
收件人:&nbsp;"apache/incubator-apisix"<incubator-apisix@noreply.github.com&

[2020-04-19 03:16] moonming commented on #1467
please refer to https://github.com/apache/incubator-apisix/blob/master/doc/plugin-develop.md

[2020-04-19 03:43] moonming commented on #1470
@membphis please take a look, I can not find the commit id of version 1.0.1

[2020-04-19 04:00] 342379784 commented on #1467
文档中plugin_name,priority属性已经修改，config.yaml文件也加上了配置。页面上的plugin下拉列表也有了我自己写的插件，但是保存的时候提示找不到，还应该在哪里配置，或者修改别的之类的吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Wen Ming"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月19日(星期天) 中午11:17
收件人:&nbsp;"apache/incubator-apisix"<incubator-apisix@noreply.github.com&gt;;
抄送:&nbsp;"想个ID真费劲"<342379784@qq.com&gt;;"Author"<author@noreply.github.com&

[2020-04-19 04:02] moonming commented on #1467
please check your own plugin from Admin API. The dashboard maybe not
support your plugin well.

Thanks,
Ming Wen
Twitter: _WenMing

朱英俊 <notifications@github.com> 于2020年4月19日周日 下午12:00写道：

[2020-04-19 04:13] 342379784 commented on #1467
这样子，我试试，谢谢。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Wen Ming"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月19日(星期天) 中午12:02
收件人:&nbsp;"apache/incubator-apisix"<incubator-apisix@noreply.github.com&gt;;
抄送:&nbsp;"想个ID真费劲"<342379784@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [apache/incubator-apisix] request help:  (#1467)

 please check your own plugi

[2020-04-19 05:33] membphis commented on #1470
the `lua-resty-healthcheck-iresty` 1.0.1 version used `devel` branch which is unstable.

so I created a tag `v1.0.1` and released a new version `1.0.1-2`. the older version APISIX(eg v0.9) can be installed normally, I test it and work fine at my local machine.

https://luarocks.org/manifests/membphis/lua-resty-healthcheck-iresty-1.0.1-2.rockspec

[2020-04-19 05:33] #1470 closed

[2020-04-19 08:46] membphis opened #1473 "bug: 'global_rule' is a boolean value"
Steps to reproduce:

1. Add global routes (such as prometheus)
2. Delete some global routes
3. User request, we can see the response 500 error.

One photo from community:

![image](https://user-images.githubusercontent.com/6814606/79683506-299dd380-825d-11ea-9ef0-ca1a34645382.png)

This patch should be fine, and we need to add test case for confirming.

[code]

[2020-04-19 09:38] OnlyPiglet opened #1474 "bug: global_rule prometheus ineffective"
### Issue description
When I try to make a global_rule of prometheus，it's ineffrctive.

### Environment

* apisix version (cmd: `apisix version`): 1.1
* OS: Centos7

### Minimal test code / Steps to reproduce the issue
1. make a global_rule of prometheus,

### What's the actual result? (including assertion message & call stack if applicable)
the /apisix/prometheus/metrics can't get the apisix_http

[2020-04-19 09:41] OnlyPiglet commented on #1474
I fixed it temporarily by inserting thie part of code
[code]

[2020-04-19 09:43] OnlyPiglet commented on #1459
fixed by https://github.com/apache/incubator-apisix/issues/1473 thanks a lot

[2020-04-19 09:43] #1459 closed

[2020-04-20 01:35] membphis commented on #1474
We have fixed this bug in `master` branch. please make a try with it.

[2020-04-20 01:35] #1474 closed

[2020-04-20 01:39] #1465 closed

[2020-04-20 01:51] membphis commented on #1431
@Miss-you @leonardjin any news? it seems that the `nginx-lua-prometheus` will release a new version soon, it has better performance.

https://github.com/knyar/nginx-lua-prometheus/commits/master

[2020-04-20 02:24] fanandactuaility opened #1476 "request help: 大概什么时候会出新的release版本，我看也快两个月过去了"
大概什么时候会出新的release版本，我看也快两个月过去了

[2020-04-20 02:35] totemofwolf commented on #1476
On the way, 1.2 rc1 has launched already.

[2020-04-20 02:39] 342379784 commented on #1467
朋友，我通过adminapi设置自己写的插件，还是提示找不到，可能不是dashboard的原因吧，还有别的可能性吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Wen Ming"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月19日(星期天) 中午12:02
收件人:&nbsp;"apache/incubator-apisix"<incubator-apisix@noreply.github.com&gt;;
抄送:&nbsp;"想个ID真费劲"<342379784@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [apache/incubator-apisix] reques

[2020-04-20 04:28] 342379784 commented on #1467
这是我的配置和报错提示
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Wen Ming"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月19日(星期天) 中午12:02
收件人:&nbsp;"apache/incubator-apisix"<incubator-apisix@noreply.github.com&gt;;
抄送:&nbsp;"想个ID真费劲"<342379784@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [apache/incubator-apisix] request help:  (#1467)

 please check your own plugin

[2020-04-20 04:55] spacewander commented on #1473
I guess the problem happens there:
https://github.com/apache/incubator-apisix/blob/7440192f8fdf679dadc3e816767762e6047d0893/apisix/core/config_etcd.lua#L284

I am not quite understand the tombstone mechanism. Is the memory footprint so high that we need to use some trick? Can we implement an iterator to hide the detail?

[2020-04-20 05:25] membphis commented on #1467
please provide more information about your patch for this plugin.

we need it for confirming where is the problem.

[2020-04-20 06:31] Joe123-ai opened #1478 "add Health Checks :{"error_msg":"failed to match any routes"}"
curl http://127.0.0.1:9080/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "uri": "/index.html",
    "plugins": {
        "limit-count": {
            "count": 2,
            "time_window": 60,
            "rejected_code": 503,
            "key": "remote_addr"
        }
    },
    "upstream": {
         "nodes": {
            "127.0.0.1:9090": 1,

[2020-04-20 06:49] 342379784 commented on #1467
1.我仿照key-auth写了个插件，名叫zyyt-auth,引用了redis和md5
2.zyyt-auth.lua文件中的plugin_name,priority属性已经修改，config.yaml文件也加上了配置。
3.dashboard中插件的下拉列表也出现了我写的插件
4.然后在dashboard的consumers里保存插件成功
5.然后再ruter里保存插件失败，尝试使用curl访问admin api同样失败
6.我复制的kay-auth.lua文件，更名为zyyt-auth.lua。然后引入了redis和md5,修改plugin_name,priority属性和截图中红色框中的部分
7.以上是我所有的操作
下面是一些截图，希望对找错有帮助

------------------&nbsp;原始邮件&nbsp;------------------

发件人:&nbsp;"Yu

[2020-04-20 07:14] moonming commented on #1476
@fanandactuaility Please use English in the public channel, thx
the 1.2 already released

[2020-04-20 07:14] #1476 closed

[2020-04-20 07:38] xuliangyong opened #1479 "docker run apisix1.1， The error.log file keeps outputting warn logs"
### Issue description
config.yaml setting
**config_center: yaml**

error.log info :
2020/04/20 03:15:29 [warn] 26#26: *10929 [lua] config_yaml.lua:118: wait for more time, context: ngx.timer
2020/04/20 03:15:29 [warn] 26#26: *10930 [lua] config_yaml.lua:118: wait for more time, context: ngx.timer
2020/04/20 03:15:29 [warn] 16#16: *10946 [lua] config_yaml.lua:118: wait for more time, context: ngx.t

[2020-04-20 07:54] Joe123-ai opened #1480 "request help: Health Checks for Upstream"
Added Health Checks for Upstream, such as two nodes in a load balancing environment failing, why wait until the request has timed out before requesting a normal node server

[2020-04-20 08:06] 342379784 commented on #1467
ruter保存插件时提示”unknown [zyyt-auth]“,错误应该在这个文件报出来的，文件位置：lua/apisix/admin/plugins.lua。
代码里的require("apisix.plugin")，它这个是加载的什么

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"YuanSheng Wang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月20日(星期一) 中午1:26
收件人:&nbsp;"apache/incubator-apisix"<incubator-apisix@noreply.github.com&gt;;
抄送:&nbsp;"想个ID真费劲"<342379784@qq.com&gt;;"Author"<author@

[2020-04-20 08:07] moonming commented on #1479
@xuliangyong How to reproduce the problem?

[2020-04-20 08:07] moonming commented on #1480
How to reproduce the problem?

[2020-04-20 08:14] membphis commented on #1479
[code]

when you enable `yaml` as `config_center`, you need to set a valid `apisix.yaml` file.

here is a valid `apisix.yaml` file example:

[code]

if you still have a problem, please provide your `conf/apisix.yaml` file.

[2020-04-20 08:14] fanandactuaility commented on #1476
Thank you for your answer.

[2020-04-20 08:26] Joe123-ai commented on #1480
curl http://127.0.0.1:9180/apisix/admin/routes/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "uri": "/index.html",
    "upstream": {
         "nodes": {
            "127.0.0.1:9090": 1,
            "127.0.0.1:8080": 1
        },
        "type": "roundrobin",
        "retries": 1,
        "checks": {
            "active": {
                "http_path": "/status",

[2020-04-20 08:36] xuliangyong commented on #1479
apisix.yaml
    routes:
      -
        uri: /
        plugins:
            xxxx: {}
      -
        uri: /cas
        upstream:
            nodes:
                "gateway-svc": 1
            type: roundrobin
      -
        uri: /html/
        upstream:
            nodes:
                "svc-proxy": 1
            type: roundrobin
    #END

[2020-04-20 08:53] 342379784 opened #1481 "bug: 添加了插件，保存时提示找不到"
### Issue description
自己写了个插件名为zyyt-auth，按照文档修改了zyyt-auth.lua文件中的plugin_name,priority属性，在config/config.yaml也加上了配置，但是设置插件的时候提示”unkown [zyyt-auth]“。查找代码后发现错误是在api/lua/apisix/admin/plugins.lua文件45.70行报出来的。他们都是通过加载require("apisix.plugin")得到的。这个指向哪里呢，我应该在哪里配置才能不报错

### Environment
使用npm安装包安装
* apisix version (cmd: `apisix version`):1.1
* OS:
centos7
### Minimal test code / Steps to reproduce the issue

[2020-04-20 08:57] xuliangyong commented on #1479
1 docker run --rm  -it apache/apisix:1.1-alpine /bin/bash
2 vi conf/config.yaml  setting
  enable_ipv6: false
  config_center: yaml

3 vi conf/apisix.yaml
routes:
  -
    uri: /hello
    upstream:
        nodes:
            "127.0.0.1:1980": 1
        type: roundrobin
#END

4 apisix init

5 /usr/local/openresty/bin/openresty -p /usr/local/apisix

6 curl http://localhost:9080/hello
response: